@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Defence.Website.Models
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model DefenceSearchModel


<!--  Main content Section-->

<section class="">
    <div class="container" style="padding-top: 100px;">
        <div class="row">
            <div class="col-md-3">
                <div class="search-con">
                    <input type="text" placeholder="Search.." name="search" id="searchbox">
                    <button type="submit" id="searchright1"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="media-r-parent">
            <div id="2023" class="row media-r">
                <div class="col-md-12 mt-3">
                    <div class="media-date">
                        <p>Results</p>
                    </div>
                </div>
                @if (Model.Fact != null && Model.Fact.Count > 0)
                {
                    foreach (var item in Model.Fact)
                    {
                        if (!string.IsNullOrEmpty(item.Fields["Title"].ToString()))
                        {
                            <div class="col-md-12">
                                <div class="media-release-box">

                                    <h3>
                                        <a href="@item.Url()">
                                            @Html.Sitecore().Field("Title", item)
                                        </a>
                                    </h3>
                                    <p><span>@Html.Sitecore().Field("Date", item, new { format = "MMM dd, yyyy" })</span></p>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <p><h1>No Record Found...</h1></p>
                }
            </div>
        </div>
    </div>
    <div class="news d-block position-relative">
        <div class="explore-btn py-5">
            <a href="javascript:void(0)" class="explore--open-btn" id="SearchLoad">Load More</a>
            <input id="hidden" type="hidden" value="10" />
        </div>
    </div>
</section>