@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Defence.Website.Models
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model DefenceSearchModel


<!--  Main content Section-->


@*@if (Model.Fact != null && Model.Fact.Count > 0)
{*@
    @foreach (var item in Model.Fact)
    {
        if (!string.IsNullOrEmpty(item.Fields["Title"].ToString()))
        {
            <div class="col-md-12">
                <div class="media-release-box">

                    <h3>
                        <a href="@item.Url()">
                            @Html.Sitecore().Field("Title", item)
                        </a>
                    </h3>
                    <p><span>@Html.Sitecore().Field("Date", item, new { format = "MMM dd, yyyy" })</span></p>
                </div>
            </div>
        }
    }
@*}*@
