<div class="airportServiceListBar d-lg-none d-block">
    <div class="container">
        <div class="inside-search d-lg-flex " data-bs-toggle="offcanvas" data-bs-target="#airportServiceListcanvas"
             aria-controls="airportServiceListcanvas">
            <i class="i-search searchIcon"></i>
            <input type="text" placeholder="Search Airport Services" />
            <div class="clearIcon d-none">
                <i class="i-cross"></i>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="airportServiceListcanvas"
     aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <div class="offcanvas-title h5">Search Airport Services</div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="globalSearch show">
            <div class="globalSearchDetail">
                <div class="searchBox_cntr">
                    <div class="searchBox">
                        <i class="i-search searchIcon"></i>
                        <input type="text" class="searchBox__field" id="airportServiceListInput" onkeyup="airportServiceListFilter(this);" placeholder="Search" value="">
                        <div class="clearIcon1 icon-button d-none" onclick="airportServiceListCross(this)">
                            <i class="i-cross close"></i>
                        </div>
                    </div>
                </div>
                <div class="searchLayer">
                    <div class="searchSuggester">

                        <div class="allSearchListCntr d-none">
                            <ul class="allSearchList">
                            </ul>
                        </div>
                        <div class="popularSearchesCntr">
                            <h5 className="d-flex align-items-center">
                                <i class="i-popularity"></i>
                                Popular Searches
                            </h5>
                            <ul class="popularSearches">
                            </ul>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
