
@font-face {
    font-family: Adani-Regular;
    src: url(../assets/AdaniSolar/Adani-Regular.woff);
}

* {
    font-family: 'Adani-Regular';
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #A0A0A0;
}

p {
    margin: 0;
    padding: 0;
}

.main-container {
    position: relative;
    width: 892px;
    height: 1262px;
}

.background-image {
    width: 892px;
    height: 1262px;
}


.invoice-no-input {
    position: absolute;
    top: 64px;
    left: 198px;
    white-space: nowrap;
}

.invoice-date-input {
    position: absolute;
    top: 103px;
    left: 200px;
    white-space: nowrap;
}