.bg {
    background: rgb(220, 245, 255);
    background: linear-gradient(0deg, rgba(220, 245, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.form-part {
    float: left;
    width: 50%;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid grey;
}

    .tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 60px;
        transition: 0.3s;
        font-size: 16px;
        color: #007ea8;
        font-weight: 600;
    }

        .tab button:active {
            border-bottom: 3px solid #007ea8;
        }

        .tab button:focus {
            border-bottom: 3px solid #007ea8;
            outline: none;
        }

.tabcontent {
    display: none;
    padding: 6px 12px;
}

.height-500 {
    height: 500px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

input[type="name"], input[type="text"], input[type="date"], select {
    padding: 10px !important;
    margin-bottom: 15px;
    border: solid rgb(175, 172, 172) 0.5px;
}

button[type="submit"] {
    background-color: #007ea8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
}

.card {
    background: #fff;
    box-shadow: 1px 1px #80808029;
    border-radius: 10px;
    padding: 10px;
}

img.war-img {
    width: 90%;
    margin-left: 100px;
}

div {
    position: relative;
}

.blocking-span {
    display: block;
}

    .blocking-span input {
        border: 1px solid #eaeaea;
        height: 70px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

.floating-label {
    display: inline-block;
    font-size: 15px;
    left: 20px;
    line-height: 20px;
    position: absolute;
    top: -webkit-calc(50% - 10px);
    top: -moz-calc(50% - 10px);
    top: calc(50% - 10px);
    transition: top 0.3s ease-in-out 0s;
    opacity: 1;
}

.foucs-content .floating-label {
    top: 10px;
}

input:focus ~ .floating-labels,
input:not(:focus):valid ~ .floating-labels {
    top: 8px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
}

.inputTexts {
    font-size: 14px;
    width: 200px;
    height: 35px;
}

.floating-labels {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
}

.pop {
    border-radius: 50px;
    width: 60%;
    height: 30px;
}

.modal-header {
    border-bottom: none !important;
    height: 0px;
}

.modal-dialog {
    max-width: 520px;
    margin: 10.75rem auto !important;
}

.btn-popup-my {
    background-color: #007ea8;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -18px;
    width: 50%;
    margin-left: 25%;
}

.userInput {
    display: flex;
}

.otp-input {
    margin: 5px;
    height: 25px;
    width: 30px;
    border: none;
    text-align: center;
    font-family: arimo;
    font-size: 1.2rem;
}

.input-bottom {
    outline: 0 !important;
    border-width: 0 0 2px !important;
    border-color: grey !important
}

.btn-primary {
    color: #fff;
    background-color: #1a727f !important;
    border-color: #1a727f !important;
    border-radius: 50px !important;
    margin-top: 20px !important;
}

.modal-footer1 {
    margin-left: 20px
}

.col-md-6.otpbtn {
    margin-top: -8%;
    margin-left: 58%;
}

.iti {
    width: 100%;
}

.pop-btn {
    padding: 20px;
}

.serial-number {
    width: 90%;
    margin-right: 10px;
}

button.remove {
    background: transparent;
    border: none;
}

@font-face {
    font-family: Adani-Regular;
    src: url(../assets/AdaniSolar/Adani-Regular.woff);
}

* {
    font-family: 'Adani-Regular';
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #A0A0A0;
}

p {
    margin: 0;
    padding: 0;
}

.main-container {
    position: relative;
    width: 892px;
    height: 1262px;
}

.background-image {
    width: 892px;
    height: 1262px;
}


.invoice-no-input {
    position: absolute;
    top: 64px;
    left: 198px;
    white-space: nowrap;
}

.invoice-date-input {
    position: absolute;
    top: 103px;
    left: 200px;
    white-space: nowrap;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #A0A0A0;
}


.main-container {
    position: relative;
    width: 892px;
    height: 1262px;
}

.background-image {
    width: 892px;
    height: 1262px;
}

.modal-content {
    overflow-y: scroll;
    height: 500px;
    top: 20px;
}

.modal.show .modal-dialog {
    margin: auto !important;
}

.error {
    background-color: #ffdddd;
}

@media only screen and (max-width:640px) and (min-width:320px) {
    .height-500 {
        height: auto !important;
    }

    img.war-img {
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }

    .tab button {
        padding: 10px 10px;
    }

    .form-part {
        width: 100%;
    }
}
.EnquiryForms_inputGroup.form-floating {
    margin-bottom: 1.5rem;
}