<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!--Add comma seperated Template item ids to exclude those items from sitemap.xml-->
			<setting name="ExcludeSitecoreItemsByTemplatesInSitemap" value="{583745C7-F586-4051-ADA3-9D7F8EFA047A},{E19F1D13-95BF-49E8-BB9F-474E1E592902},{33A9155A-2DF4-4708-9211-04EC54263D53},{B488A0A0-5ED4-4AB2-BB84-9DE497EDED93},{AF0E23DB-E403-4499-95BB-57A54612765B},{FFF5F245-FFC0-4022-A998-9B07AA5E761F}" />
			<!--Add 
            2 means consider Language Embedding = Always
            1 means consider Language Embedding = AsNeeded
            0 means consider Language Embedding = Never
            -->
			<setting name="LanguageEmbedForSitemap" value="0" />
			<setting name="ExcludeSitecoreItemsAndItsChildrenByItemInSitemap" value="{3540E2E1-4FE0-4650-AF28-CDE37A4BAC88},{610ED0E3-6B8F-405C-9D73-2FA7C947C05B},{D5AA03B4-9C38-4B3C-BDE1-BBD45A2C935C},{0B1F57F8-9232-48EE-A8FE-C10E35CC36A4},{C2171BE7-742F-4853-8E22-AF34E39DC402},{2968DD51-B06A-4565-9049-0EA22ACC0C7A},{FCE658C4-0A89-4929-8FE1-06A2EB33B4CF},{4F4AAA13-1B13-47AF-A932-77AB757BE460},{439FFD3F-CF2B-431C-A3C0-03304A3DE1E5}" />
			<setting name="ExcludeSitecoreItemsAndItsChildrenByTemplatesInSitemap" value="{FFF5F245-FFC0-4022-A998-9B07AA5E761F}" />
		</settings>
		<pipelines>
			<httpRequestBegin>
				<processor
                  patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                  type="Sitecore.Adani.Website.Pipeline.SitemapResolver, Sitecore.Adani.Website">
				</processor>
			</httpRequestBegin>
			<preprocessRequest>
				<processor patch:instead="processor[@type='Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel']"
                           type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
					<param desc="Allowed extensions (comma separated)">aspx, ashx, asmx, xml</param>
					<param desc="Blocked extensions (comma separated)">*</param>
					<param desc="Blocked extensions that stream files (comma separated)">*</param>
					<param desc="Blocked extensions that do not stream files (comma separated)"></param>
				</processor>
			</preprocessRequest>
		</pipelines>
	</sitecore>
</configuration>