<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Feature.StaticPages" description="Static Page items" dependencies="Adani.SuperApp.Airport.Foundation.Serialization">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>
						<include name="base templates" database="master" path="/sitecore/templates/Feature/Adani/Base Templates" />
						<include name="common templates" database="master" path="/sitecore/templates/Feature/Adani/AirportCommon" />
						<include name="services templates" database="master" path="/sitecore/templates/Feature/Adani/AirportServices" />
						<include name="Static Page Templates" database="master" path="/sitecore/templates/Feature/Adani/StaticPages" />
						<include name="Template Folder" database="master" path="/sitecore/templates/Feature/Adani/Template Folder"/>
						<include name="Static Page Common Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Adani/Common"/>
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Adani/Static Pages"/>					
						<include name="project templates" database="master" path="/sitecore/templates/Project/Adani/StaticPages"/>
						<include name="layouts" database="master" path="/sitecore/layout/Layouts/Feature/Adani" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>