<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="WidgetRequestURL" value="https://web-dev.adanidigitallabs.com/flight/middleware/ui/widget/"/>
			<setting name="EnvironmentVariableofWidget" value="test"/>
			<setting name="EmailAPI" value ="https://messagingapidev.adanione.cloud/email"/>
			<setting name= "PNRAPI" value ="https://www.adanione.cloud/api/commonservice/api/AirLine/InsertData?channelId=test"/>
			<setting name ="reCaptchaSecretKey" value ="6LfQd_0lAAAAAMRtNjwfFuVSxf69paujxfQDdISi" />
		</settings>
	</sitecore>
</configuration>