<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="MailServer" value="outlook.office365.com" />
      <!--  MAIL SERVER USER
            If the SMTP server requires login, enter the user name in this setting
      -->
      <setting name="MailServerUserName" value="Contact.Us@adani.com.au" />
      <!--  MAIL SERVER PASSWORD
            If the SMTP server requires login, enter the password in this setting
      -->
      <setting name="MailServerPassword" value="SGJ\d2kiBGjNUab$" />
      <!--  MAIL SERVER PORT
            If the SMTP server requires a custom port number, enter the value in this setting.
            The default value is: 25
      -->
      <setting name="MailServerPort" value="993" />

      <setting name="MailServerUseSsl" value="true" />
    </settings>
    <exm>
      <eds>
        <!-- SMTP SETTINGS OBJECT
                    Creates SMTP settings class.
                -->
        <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
          <server>outlook.office365.com</server>
          <port>993</port>
          <userName>Contact.Us@adani.com.au</userName>
          <password>SGJ\d2kiBGjNUab$</password>
          <authenticationMethod>LOGIN</authenticationMethod>
          <startTls>true</startTls>
          <proxySettings ref="exm/eds/proxySettings" />
        </smtpSettings>
      </eds>
    </exm>
  </sitecore>
</configuration>