<section class="main_content py-lg-5 py-4 bg-white">
    <div class="container">
        <h3>Project Name</h3>
        <p class="mb-4">Four lane with paved shoulder configuration of Bilaspur-Pathrapali section from 0.000 km to 53.300 km (design length. 53.300 km) of NH-111 (new NH-130) in Chhattisgarh, under Bharatmala Pariyojna, on Hybrid Annuity Mode (HAM).</p>
        <h3>Scope of Work</h3>
        <p class="mb-4">
            Rehabilitation, upgradation and widening of existing carriageway from 2 lane to 4 lane standards with construction of new pavement along with
            Construction and/or rehabilitation of major bridge, culverts, road intersections, interchanges, drains etc.
            Operations & Maintenance of the Project
        </p>
        <div class="row">
            <div class="col-lg-7 mb-4 col-md-6">
                <h3>Client</h3>
                <p>National Highways Authority of India (NHAI)</p>
            </div>
            <div class="col-lg-5 mb-4 col-md-6">
                <h3>Construction Period</h3>
                <p>2 Years</p>
            </div>
            <div class="col-lg-7 mb-4 col-md-6">
                <h3>Length in KM</h3>
                <p>53 Kms</p>
            </div>
            <div class="col-lg-5 mb-4 col-md-6">
                <h3>O&M Period</h3>
                <p>15 Years</p>
            </div>
            <div class="col-lg-7 mb-4 col-md-6">
                <h3>Concession Agreement Date </h3>
                <p>14.05.2018</p>
            </div>
            <div class="col-lg-5 mb-4 col-md-6">
                <h3>Appointed Date</h3>
                <p>08.03.2019</p>
            </div>
            <div class="col-lg-7 mb-4 col-md-6">
                <h3>Pavement Classification</h3>
                <p>Main Carriageway - Rigid Pavement</p>
                <p>Service Road - Flexible Pavement</p>
            </div>
            <div class="col-lg-5 mb-4 col-md-6">
                <div class=""><a href="/project-gallery-photos" class="btn btn-gradient">Project Progress Photos</a></div>
            </div>

        </div>
    </div>
</section>
