@media (min-width: 992px){
	.section_padding{padding:80px 0px;}
.section_padding-top{padding-top:80px;}
.section_padding-bottom{padding-bottom:80px;}
	
}
@media (max-width: 992px){
	.section_participation h3{font-size: 3rem;}
	.section_participation a{font-size: 1.5rem !important;}
	.categories_section h2{font-size: 2.5rem;}
	.categories_section h3{margin-bottom: 1.5rem;}
	.text-container h2{font-size: 2.5rem; line-height: 3rem;}
	.text-container p{font-size: 1.5rem; line-height: 2.5rem;}
	.text-container p{font-size: 1.5rem; line-height: 2.5rem;}
	.banner-content h1{font-size: 2.5rem;}
	.banner-content h2{font-size: 2.5rem;margin-bottom: 2rem;}
	.hero-banner img{height: 80vh; object-fit: cover;}
	.categories_section .col-auto{width: 50%;}
	.categories_section--child{min-height: 300px;}
	.section_padding{padding:40px 0px;}
.section_padding-top{padding-top:40px;}
.section_padding-bottom{padding-bottom:40px;}
header nav .navbar-brand img{max-width: 70px !important;}
.navbar-toggler{border: 1px solid #254a67;}
.navbar-toggler-icon{height: 2px; background: #254a67; margin: 5px 0px; position: relative;top: -2px;}
.navbar-toggler-icon:before{content:"";height: 2px; background: #254a67; position: absolute; width: 100%; left: 0px; top: -5px;}
.navbar-toggler-icon:after{content:"";height: 2px; background: #254a67; position: absolute; width: 100%; left: 0px; top: 5px;}
.navbar-collapse{background: #254a67;padding: 1rem;}
header .navbar-nav .nav-link{color: #fff;}
header .navbar-nav .nav-item{margin-bottom: 6px;}
.fixed-nav .navbar-toggler-icon{background:#fff; background: #fff;}
.fixed-nav .navbar-toggler-icon:before{background:#fff;}
.fixed-nav .navbar-toggler-icon:after{background:#fff;}
.fixed-nav .navbar-toggler{border: 1px solid #fff;}
}
@media (max-width: 767px){
	.section_participation{padding-bottom: 9rem;}
	footer p{padding: 0.5rem 0rem;}
	footer{text-align:center;padding-top: 1.5rem;}
	footer ul{text-align:center;padding: 1.5rem 0;}
	.header_topbar ul{display: block;text-align: center;}
}
@media (max-width: 568px){
	.categories_section .col-auto{width: 100%;}
	.categories_section--child{min-height: 200px;}
}