html, body{
	margin:0px;
	padding:0px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	position:relative;
	font-family: brandon-grotesque, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size:16px;
	background-color:#f1f1f1;

}
main{padding-top: 70px;overflow: hidden;}
h1, h2, h3, h4, h5, h6, ul, li, p, header, aside, footer, section, article, nav, field, label, figcaption, figure, hgroup, input, textarea {
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
}
a:link, a:visited {
	text-decoration:none;
}
.btn{font-size: 1.25rem; font-weight: 600;padding: 5px 20px;}
.btn-primary { color: #fff; background-color: #f63c15; border-color: #f63c15; border-radius: 0px;transition: ease all 0.3s; }
.btn-primary:hover{color: #254a67; background-color: #37d6e1; border-color: #37d6e1;transition: ease all 0.3s;}

.btn-secondary{color: #fff; background-color: #254a67; border-color: #254a67;border-radius: 0px;transition: ease all 0.3s;}
.btn-secondary:hover{color: #fff; background-color: #000; border-color: #000;transition: ease all 0.3s;}

.btn-white{color:#fff;}
.btn-white:hover{color:#fff;text-decoration:underline;}

.header_topbar{ text-align: right;background: #254a67; padding: 5px 0px;top: 0px; position: relative; transition: ease all 0.5s;}
.header_topbar ul{display: inline-block;}
.header_topbar ul li{display: inline-block;}
.header_topbar ul li a{min-width: 30px; display: inline-block;color: #fff;transition: ease all 0.3s;text-align: left;}
.header_topbar ul li a:hover{color: #37d6e2; transition: ease all 0.3s;}

header{background: #fff;position: fixed; width: 100%; z-index: 9;}
header nav{    max-height: 100px;}
header nav .navbar-brand img{max-width: 160px;transition: ease all 0.5s;}
header .navbar-nav .nav-item{}
header .navbar-nav .nav-item:last-child a{padding-right: 0px !important;}
header .navbar-nav .nav-link{font-size: 20px; padding: 0rem 1rem !important; color: #244862; font-weight: 700;}

.banner-content { text-align: left; position: absolute; top: 50%; transform: translateY(-50%); width: 100%; }
.banner-content h1{color: #fff;font-size: 3.5rem; font-weight: 600; max-width: 400px;}
.banner-content h2{color:#37d6e1;font-size: 3.5rem; font-weight: 600; max-width: 400px;margin-bottom: 3rem;}

.bg-white{background:#fff;}
.bg-gray{background:#f1f1f1;}

.text-container{}
.text-container h2{color: #f63c15; font-size: 3.5rem; font-weight: 600; line-height: 3.5rem; margin-bottom: 2rem;}
.text-container p{font-size: 1.25rem; margin-bottom: 1.25rem;}

.single_item{}
.single_item .owl-nav{position: absolute; top: 50%; transform: translateY(-50%); width: 100%;}
.single_item .owl-nav button{}
.single_item .owl-nav button span{background: #f63c15; color: #fff; padding: 10px 10px; border: 1px solid #d43210;}
.single_item .owl-nav button span:hover{opacity:0.7;transition:ease all 0.3s;}
.single_item .owl-nav button.owl-prev{}
.single_item .owl-nav button.owl-next{float: right;}

.categories_section{background: #254a67; color: #fff;}
.categories_section h2{font-size: 3rem; font-weight: 600; color: #37d6e2;}
.categories_section h3{font-size: 2rem;}
.categories_section p{font-size: 20px; padding: 0.3rem;}
.categories_section .col-auto{width: 20%; padding: 0.25rem;}
.categories_section--child{position: relative; height: 100%; min-height: 200px; text-align: center;transition: ease all 0.6s; transform: translateY(0px);}
.categories_section--child p{position: absolute; top: 50%; transform: translateY(-50%); font-size: 1.8rem; line-height: 2rem; text-align: center; width: 100%; font-weight: 700;color:#fff;}
.categories_section--child img{opacity:0.8;transform: scale(1); transition: ease all 0.6s}
.categories_section .row .col-auto:nth-child(odd){}
.categories_section .row .col-auto:nth-child(odd) .categories_section--child{background:#000;}
.categories_section .row .col-auto:nth-child(even){}
.categories_section .row .col-auto:nth-child(even) .categories_section--child{background:#f63c15;}
.categories_section--child:hover img{transform: scale(1.2); transition: ease all 0.6s;}
.categories_section--child:hover{transition: ease all 0.6s; transform: translateY(-5px);}


.bg-images { position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: 0; } 
.bg-images img { border-radius: 0; min-height: 100%; min-width: 100%; position: relative; height: auto; opacity: 0.2; }

#back-to-top { display: none; /* Hidden by default */ position: fixed; /* Fixed/sticky position */ bottom: 20px; /* Place the button at the bottom of the page */ right: 30px; /* Place the button 30px from the right */ z-index: 99; /* Make sure it does not overlap */ border: none; /* Remove borders */ outline: none; /* Remove outline */ background-color: rgba(0, 0, 0, 0.1607843137254902); /* Set a background color */ color: white; /* Text color */ cursor: pointer; /* Add a mouse pointer on hover */ padding: 15px; /* Some padding */ border-radius: 37px; /* Rounded corners */ font-size: 18px; /* Increase font size */ transition: ease-in all 0.2s; } 
#back-to-top:hover {    transition: ease-in all 0.2s; background-color: rgba(0, 0, 0, 0.70); /* Add a dark-grey background on hover */ }

.section_participation{position:relative;text-align: center;padding-top: 5rem; padding-bottom: 15rem;}
.section_participation h3{position:relative;color: #f63c15; font-size: 3.5rem; font-weight: 600; line-height: 2.8rem; margin-bottom: 3rem;}
.section_participation p{position:relative;}
.section_participation p a{    font-size: 2rem;}
.section_participation img{opacity:1;}

footer{background: #f63c15; padding: 10px 0px;}
footer img{max-width: 110px;}
footer p{padding: 2.5rem 0rem; color: #fff;}
footer ul{text-align: right; padding: 2.5rem 0;}
footer ul li{display: inline-block; margin-left: 15px;}
footer ul li a{color:#fff;}

.fixed-nav{}
.fixed-nav .navbar-nav .nav-link{color:#fff;}
.fixed-nav .navbar-nav .nav-link:hover{color:#dcdcdc;text-decoration:underline;}
.fixed-nav{background: rgb(19 19 19 / 65%);}
.fixed-nav .navbar-brand img{max-width: 90px; transition: ease all 0.5s;}
.fixed-nav .navbar{}
.fixed-nav .header_topbar{margin-top: -2.25rem; position: relative; transition: ease all 0.5s;}