<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="Sitecore.Foundation.Farmpik.DependencyInjection.Infrastructure.MvcControllerServicesConfigurator, Sitecore.Foundation.Farmpik.DependencyInjection"/>
        </services>
    </sitecore>
</configuration>