<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Feature.Pranaam" description="Pranaam Component Content" dependencies="Adani.SuperApp.Airport.Foundation.Serialization">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>

						<include name="Rendering.Feature.Pranaam" database="master" path="/sitecore/layout/Renderings/Feature/Adani/Pranaam" />
						<include name="Template.Feature.Pranaam" database="master" path="/sitecore/templates/Feature/Adani/Pranaam" />
						<input name="LayoutService.Feature.AddOnService" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/AddOnService" />
						<input name="LayoutService.Feature.AddOnServiceTab" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/AddOnServicesTab Content Resolver"/>
						<input name="LayoutService.Feature.CustomerFeedback" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/Customer Feedback Contents Resolver"/>
						<input name="LayoutService.Feature.AirportPackages" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/AirportPackages Content Resolver"/>
						<input name="LayoutService.Feature.PackageServiceContent" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/Package Services Content Resolver"/>
						<input name="LayoutService.Feature.PackageContent" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/Packages Content Resolver"/>
						<input name="LayoutService.Feature.PorterServiceContent" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/Porter Service Content Resolver"/>
						<input name="LayoutService.Feature.PranaamCarousel" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/PranaamCarousel"/>
						<input name="LayoutService.Feature.PranaamPackage" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/PranaamPackage"/>
						<input name="LayoutService.Feature.ServiceSteps" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/Service Steps Content Resolver"/>
						<input name="LayoutService.Feature.PackageIdServices" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/PackageIdServices Content Resolver"/>
						<input name="LayoutService.Feature.ServiceTypePackageResolver" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Pranaam/ServiceType Package Resolver"/>
					
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>