@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@using Adani.SuperApp.Airport.Feature.StaticPages.Platform
@model RenderingModel
@{
    IHelper _helper = new Helper();
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Image"]);
    string imageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(currentItem, "Image") : "";
    Sitecore.Data.Fields.LinkField linkfield = currentItem.Fields["__Help link"];
    var url = linkfield.GetFriendlyUrl();
    <div class="subSection adani_staticbanner">
        @if (!string.IsNullOrEmpty(url))
        {
            <a href="@url" class="banner-gtm-triggering" data-event="view_banner" data-subcategory="home_page" data-category="home_page" data-banner-category="Hero/Slider Banner">
                <img class="img-fluid" src="@imageUrl" loading="lazy">
            </a>
        }
        else
        {
            <a href="https://www.adanione.com/flight-booking" class="banner-gtm-triggering" data-event="view_banner" data-subcategory="home_page" data-category="home_page" data-banner-category="Hero/Slider Banner">
                <img class="img-fluid" src="@imageUrl" loading="lazy">
            </a>
        }
    </div>
}
