<div class="subSection routs-listing">
    <h2>Top Domestic Routes</h2>
    <ul>
        <li>
            <div class="flight_detail">
                <div class="journey_detail">
                    <span>Delhi to Mumbai</span> <span>
                        Fri Jan 28 | Fare starts from
                        ₹1,999
                    </span>
                </div>
                <div class="button_wrap">
                    <button type="button" class="btn btn-outline-dark">Search Flights</button>
                </div>
            </div>
        </li>
        <li>
            <div class="flight_detail">
                <div class="journey_detail">
                    <span>Thiruvananthapuram to Visakhapatnam</span> <span>
                        Fri Jan 28 | Fare
                        starts from ₹1,999
                    </span>
                </div>
                <div class="button_wrap">
                    <button type="button" class="btn btn-outline-dark">Search Flights</button>
                </div>
            </div>
        </li>
        <li>
            <div class="flight_detail">
                <div class="journey_detail">
                    <span>Mumbai to Delhi</span> <span>
                        Fri Jan 28 | Fare starts from
                        ₹1,999
                    </span>
                </div>
                <div class="button_wrap">
                    <button type="button" class="btn btn-outline-dark">Search Flights</button>
                </div>
            </div>
        </li>
        <li>
            <div class="flight_detail">
                <div class="journey_detail">
                    <span>Delhi to Bangaluru</span> <span>
                        Fri Jan 28 | Fare starts from
                        ₹1,999
                    </span>
                </div>
                <div class="button_wrap">
                    <button type="button" class="btn btn-outline-dark">Search Flights</button>
                </div>
            </div>
        </li>
        <li>
            <div class="flight_detail">
                <div class="journey_detail">
                    <span>Delhi to Goa</span> <span>
                        Fri Jan 28 | Fare starts from
                        ₹1,999
                    </span>
                </div>
                <div class="button_wrap">
                    <button type="button" class="btn btn-outline-dark">Search Flights</button>
                </div>
            </div>
        </li>
        <li>
            <div class="flight_detail">
                <div class="journey_detail">
                    <span>Pune to Delhi </span> <span>
                        Fri Jan 28 | Fare starts from
                        ₹1,999
                    </span>
                </div>
                <div class="button_wrap">
                    <button type="button" class="btn btn-outline-dark">Search Flights</button>
                </div>
            </div>
        </li>
        <li>
            <div class="flight_detail">
                <div class="journey_detail">
                    <span>Delhi to Patna</span> <span>
                        Fri Jan 28 | Fare starts from
                        ₹1,999
                    </span>
                </div>
                <div class="button_wrap">
                    <button type="button" class="btn btn-outline-dark">Search Flights</button>
                </div>
            </div>
        </li>
        <li>
            <div class="flight_detail">
                <div class="journey_detail">
                    <span>Delhi to Pune</span> <span>
                        Fri Jan 28 | Fare starts from
                        ₹1,999
                    </span>
                </div>
                <div class="button_wrap">
                    <button type="button" class="btn btn-outline-dark">Search Flights</button>
                </div>
            </div>
        </li>
    </ul>
    <div class="load_more">
        <button type="button" class="btn btn-outline-dark">Load more</button>
    </div>
</div>





