@using Sitecore
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);


    var Title = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Title").FirstOrDefault().Value;


}


@if (model != null)
{



<section class="section-bottom section-top section-services bg-white">
	<div class="container-fluid">
		<h2 data-aos="fade-up" class="section-heading1" style=" font-size: 36px; margin-bottom: 28px; line-height: 50px; font-weight: 500; ">Our Services</h2>
		<p data-aos="fade-up">Our unique insourced business model enables wider quality control powered by synergies of the Adani Group's diverse legacy of infrastructure building.</p>
		<div class="owl-carousel airport-section__carousel airport-section__carousel-4item">
				
				@foreach (var element in model.GetChildren().ToList())
                        {
					var url = Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");
                            if (element.Fields["Title"] != null)
                            {
                                var  class12 = Html.Sitecore().Field("Type", element).ToString();
								<div class="item">
									<a href="/services#@url">
                                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100")
										<div>
										  <p>@Html.Sitecore().Field("Title", element)</p>
                                        <span>@Html.Sitecore().Field("Body", element)</span>

										</div>
									</a>
								</div>
							}
						}
			</div>
	</div>
</section>

}