
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{}


<section class="bg-cream section-bottom section-top">
        <div class="container-fluid">
            <div class="row">
		<div class="col-lg-4  mb-lg-0 mb-4">
			@Html.Sitecore().Placeholder("news")
		</div>
		<div class="col-lg-8">
		@Html.Sitecore().Placeholder("ceomessage")
			
		</div>
	</div>
        </div>
</section>