@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using Sitecore.Data.Items
@{

	var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
	var Count=1;

}
<section class="container-fluid">
	<h1>Personal Details</h1>
	<h3>Please Enter Details</h3>
	<form>
	<div class="row mb-lg-4">
		<div class="col-lg-4 mb-4">
			<input type="text" class="form-control"  name="firstname" placeholder="First Name"/>
		</div>
		<div class="col-lg-4 mb-4">
			<input type="text" class="form-control"  name="lastname" placeholder="Last Name"/>
		</div>
		<div class="col-lg-4 mb-4">
			<input type="text" class="form-control"  name="phonenumber" placeholder="Phone Number"/>
		</div>
	</div>
	<div class="row mb-lg-4">
		<div class="col-lg-4 mb-4">
			<input type="text" class="form-control"  name="email" placeholder="Email"/>
		</div>
		<div class="col-lg-4 mb-4">
			<input type="text" class="form-control"  name="city" placeholder="City"/>
		</div>
		<div class="col-lg-4 mb-4">
			<input type="text" class="form-control"  name="Organization" placeholder="Company Organization (for airport employee)"/>
		</div>
	</div>
	<div class="row mb-lg-4">
		<div class="col-lg-4 mb-4">
			<textarea class="form-control" name="shippingAddress" placeholder="Eco-Goodiess Shipping Address" rows="3"></textarea>
		</div>
	</div>
	@foreach (Item item in model.GetChildren())
    {
			<div class="row">
				<div class="col-lg-12">@item.Fields["title"]</div>
			</div>
			<div class="row">
			@if(item.HasChildren)
			{	
				<div class=" row">
					@foreach (Item subitem in item.GetChildren())
					{
							var name="Question"+Count;
							<div class="col-lg-3 radioControl">
								<input type="radio" value='@Html.Sitecore().Field("AnswerChoice",subitem)' name="@name" onclick="javascript:return yourfunction(1)"> @Html.Sitecore().Field("choice",subitem)
							</div>
					}
				</div>
				Count++;
			}	
		</div>
	} 
		
                   
	</form>
</section>