<!--header-->
<!--/header-->
<main>
    <!--Banner-->
    @*<section class="mainSlider">
            <div class="bg-images">
                <img src="-/media/64D078B5A60E4CA9BDBC4618B38FF5CA.ashx">
            </div>
            <div class="container">
                <div class="owl-carousel homeslider-other">
                <div class="item">
                    <picture>
                        <source srcset="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx" media="(min-width: 960px)">
                        <source srcset="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx" media="(min-width: 767px)">
                        <source srcset="/media/FE8CA6C3077B47C6AB31E2B73DA2AC9A.ashx" media="(min-width: 0)">
                        <img srcset="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx" src="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx">
                    </picture>
                    <div class="bannercontent">
                    <div class="bannercontent_inner d-none">
                    <h1>Gateway to Goodness</h1>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <picture>
                        <source srcset="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx" media="(min-width: 960px)">
                        <source srcset="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx" media="(min-width: 767px)">
                        <source srcset="/media/FE8CA6C3077B47C6AB31E2B73DA2AC9A.ashx" media="(min-width: 0)">
                        <img srcset="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx" src="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx">
                    </picture>
                    <div class="bannercontent">
                    <div class="bannercontent_inner d-none">
                    <h1>Gateway to Goodness</h1>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <picture>
                        <source srcset="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx" media="(min-width: 960px)">
                        <source srcset="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx" media="(min-width: 767px)">
                        <source srcset="/media/FE8CA6C3077B47C6AB31E2B73DA2AC9A.ashx" media="(min-width: 0)">
                        <img srcset="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx" src="-/media/B82AB7C5C2BA4C23BC213904307B9C52.ashx">
                    </picture>
                    <div class="bannercontent">
                    <div class="bannercontent_inner">
                        <h1>Premium Airport Experience <span>Comes to</span> Mangalore</h1>
                    </div>
                    </div>
                </div>
            </div>
            <div class="scroll-down d-md-none d-block">
                <a href="#first-section"><span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span></a>
                </div>
            </div>
        </section>*@
    <section class="mainSlider">
        <div class="bg-images">
            <img alt="" src="-/media/13C4916D5B064F3FA2259D6D62324243.ashx" />
        </div>
        <div class="container">
            <div class="owl-carousel homeslider-other">
                <div class="item">
                    <picture>
                        <source srcset="-/media/BBE794E4D7484C049B0552127EC886E4.ashx" media="(min-width: 960px)"></source>
                        <source srcset="-/media/BBE794E4D7484C049B0552127EC886E4.ashx" media="(min-width: 767px)"></source>
                        <source srcset="-/media/47C045C6F6904AB8BDA2FE1D3B93524B.ashx" media="(min-width: 0)"></source>
                        <source srcset="-/media/47C045C6F6904AB8BDA2FE1D3B93524B.ashx" media="(min-width: 0)"></source>
                        <img alt="" srcset="-/media/BBE794E4D7484C049B0552127EC886E4.ashx" src="-/media/BBE794E4D7484C049B0552127EC886E4.ashx" />
                    </picture>
                    <div class="bannercontent">
                        <div class="bannercontent_inner">
                            <h1>Building Gateways to Goodness</h1>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <picture>
                        <source srcset="-/media/288AA3DABD2A43F79B66701FB34B6645.ashx" media="(min-width: 960px)"></source>
                        <source srcset="-/media/288AA3DABD2A43F79B66701FB34B6645.ashx" media="(min-width: 767px)"></source>
                        <source srcset="-/media/D9B404BE158E47618FDFC3554623B5CF.ashx" media="(min-width: 0)"></source>
                        <source srcset="-/media/D9B404BE158E47618FDFC3554623B5CF.ashx" media="(min-width: 0)"></source>
                        <img alt="" srcset="-/media/288AA3DABD2A43F79B66701FB34B6645.ashx" src="-/media/288AA3DABD2A43F79B66701FB34B6645.ashx" />
                    </picture>
                    <div class="bannercontent">
                        <div class="bannercontent_inner">
                            <h1>Building Gateways to Goodness</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-down d-md-none d-block">
                <a href="#first-section"><span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span></a>
            </div>
        </div>
    </section>
    <section class="bg-white d-md-block d-none">
        <div class="container position-relative">
            <div class="scroll-down">
                <a href="#first-section"><span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span></a>
            </div>
        </div>
    </section>
    <!--/Banner-->
    <section class="bg-white py-lg-5 pt-5 pb-4" id="first-section">
        <div class="container">
            <h2 class="heading-primary mb-3 d-none">Building Gateways to Goodness</h2>
            <p>At Adani Airports, we believe in building &lsquo;Gateways to Goodness&rsquo; and we are excited that the strategically located coastal city of Mangaluru would be the first gateway of our long-term vision for transforming India&rsquo;s airport infrastructure. Over the past 30 years, the Adani Group has catered to critical demand gaps in India and our presence in the airport sector will extend this legacy to an aspiring class of air travelers in New India.</p>
        </div>
    </section>
    <section class="bg-white section-commingsoon">
        <div class="">
            <picture>
                <source srcset="-/media/183219E2A54741D2A4B58B865EE52B7B.ashx" media="(min-width: 960px)" class="w-100 h-100">
                <source srcset="-/media/183219E2A54741D2A4B58B865EE52B7B.ashx" media="(min-width: 540px)" class="w-100 h-100">
                <source srcset="-/media/83A45347F4424716830DBAEA2999A1CA.ashx" media="(min-width: 0)" class="w-100 h-100">
                <img srcset="-/media/183219E2A54741D2A4B58B865EE52B7B.ashx" src="-/media/183219E2A54741D2A4B58B865EE52B7B.ashx" class="w-100 h-100">
            </picture>
        </div>
        <div class="py-4"><h3>Stay tune to the website for more updates!</h3></div>
    </section>
    <section class="bg-white pb-lg-4 pt-lg-5 py-4">
        <div class="container">
            <h2 class="heading-primary mb-3">Commercials & Tenders</h2>
            <div class="row">
                <div class="col-lg-8 mb-4">
                    <p class="mb-3 d-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    <img src="-/media/C057F600080E436DA72D18D22F744CDB.ashx" class="img-fluid my-3">
					<i id="contact" class="d-block"></i>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="tenders-sidebar">
                        <ul>
                            <li><a href="/tenders">E-Tendering</a></li>
                            <li><a href="/policies">Policies</a></li>
                        </ul>
                    </div>
                    <p class="mt-4"><a href="#" class="btn btn-gradient">EXPLORE</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-lg-5 py-3" id="contact">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 py-5 px-5 bg-gray address-section">
                    <h2 class="heading-primary mb-3">Contact Us</h2>
                    <h5 class="mb-2 txt-violet">Adani Corporate House</h5>
                    <p class="mb-0">Shantigram, Nr Vaishnodevi Circle,<br> Ahmedabad, 380058, <br> Gujarat</p>
                    <p class="mb-0"><b>Tel</b> : 91-79-26565555</p>
                    <p class="mb-0"><b>Mail</b> : info@adaniairport.com</p>
                </div>
                <div class="col-lg-6 py-5 px-5 bg-gray">
                    <h2 class="section-subheading pl-4 mb-4">Write to us</h2>
                    @Html.Sitecore().Placeholder("form")
                    <!--<div class="pl-4 form-section">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" id="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" id="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                <select class="form-control" id="subject">
                                  <option>Subject</option>
                                </select>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Contact Number" id="Contact-Number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="Message" placeholder="Message" rows="3"></textarea>
                                  </div>
                            </div>
                            <div class="col-md-12">
                                <p><a href="#" class="btn btn-gradient">Submit</a></p>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
</main>
