@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/


}
<div class="sidebar_cta">
    <ul>
        <li>
            <div><a href="/AirportService/New-Local-Datasource-Folder/OtherServices/Premium-Services"><img src="-/media/943A2A0BEE1F48D8AEC3D6C1BE624CB4.ashx"></a></div>
            <span><a href="/AirportService/New-Local-Datasource-Folder/OtherServices/Premium-Services">Book Airport  <b class="d-md-inline-block d-block">Assistance</b></a></span>
        </li>
        <li>
            <div><a href="/Contactus?na=Feedback"><img src="-/media/7BF4AF1961AC42669BDFE016055F9ACF.ashx"></a></div>
            <span><a href="/Contactus?na=Feedback">Feedback  <b class="d-md-inline-block d-block">Form</b></a></span>
        </li>
        <li>
            <div><a href="/AirportService"><img src="-/media/6A6886A5C23F4DD2A2D2752E95496025.ashx"></a></div>
			<span><a href="/AirportService">Check-out  <b class="d-md-inline-block d-block">services</b></a></span>
        </li>
        <li>
            <div><a href="/Contactus?na=Suspicious"><img src="-/media/0941E1DE111C4693B24329DBDA9CB9D6.ashx"></a></div>
			<span><a href="/Contactus?na=Suspicious">Report <b class="d-md-inline-block d-block">Suspicion</b></a></span>
        </li>
    </ul>
</div>

<div class="btm-floating">
	<div class="row no-gutters">
	
		<div class="col-6">
		<a href="/AirportService/New-Local-Datasource-Folder/OtherServices/Premium-Services">	<p><img src="-/media/5898DE9667C541D0889A57A3FD1F62D5.ashx"> <span>Airport Assistance</span></p></a>
		</div>
		<div class="col-4">
		<a href="/Contactus?na=Feedback"><p><img src="-/media/5A3A347CB35244E1977830A60E60557A.ashx"><span>Feedback</span></p></a>
		</div>
		<div class="col-2">
			<button class="navbar-toggler d-block" id="nav-button-mobile" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			  </button>
		</div>
	</div>
</div>