
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    
}


<section class=".airo py-5 section-services bg-gray celebration">
      <div class="container">
         <div class="d-lg-block d-none">
            <div class="owl-carousel airport-section__carousel owl-video-carousel">
				<div class="item-video">
                    <h5>#OneNationBillionCelebrations | Happy Diwali</h5>
                    <video>
                        <source src="https://adanidotcom.azureedge.net/AADF Final HR Render.mp4" type='video/mp4' />
                    </video>
                    <button class="btn btn-default" onclick="playVideo(this);">
                        <span></span>
                    </button>
                </div>
               <div class="item-video">
                  <h5>Getting into the Garba Grove</h5>
                  <video>
                     <source
                        src="https://adanidotcom.azureedge.net/garba%20dance%20reel.mp4"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
               <div class="item-video">
                  <h5>The Joy of Crafting</h5>
                  <video>
                     <source
                        src="https://stagecorpairport.adaniairports.com/-/media/81C8AAAB254540788C90ED1DABC0A7E6.mp4?la=en&hash=2FC8679E15AD7549FF8D0C4F59D13DA7"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
            </div>
         </div>
         <div class="d-lg-none d-block">
            <div class="owl-carousel airport-section__carousel owl-video-carousel">
               <div class="item-video">
                    <h5>#OneNationBillionCelebrations | Happy Diwali</h5>
                    <video>
                        <source src="https://adanidotcom.azureedge.net/AADF Final HR Render.mp4" type='video/mp4' />
                    </video>
                    <button class="btn btn-default" onclick="playVideo(this);">
                        <span></span>
                    </button>
                </div>
			   <div class="item-video">
			   <h5>Getting into the Garba Grove</h5>
                  <video>
                     <source
                        src="https://adanidotcom.azureedge.net/garba%20dance%20reel.mp4"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
               <div class="item-video">
				<h5>The Joy of Crafting</h5>
                  <video>
                     <source
                        src="https://stagecorpairport.adaniairports.com/-/media/81C8AAAB254540788C90ED1DABC0A7E6.mp4?la=en&hash=2FC8679E15AD7549FF8D0C4F59D13DA7"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </section>
   
   <script text="type/javascript">
      let playVideo = function (element) {
         let video = element.previousElementSibling;
         let playIcon = element.children[0];
         let heading = video.previousElementSibling;

         if (playIcon.classList.contains('d-none')) {
            video.pause();
            playIcon.classList.remove('d-none');
            heading.classList.remove('d-none');

         } else {
            video.play();
            playIcon.classList.add('d-none');
            heading.classList.add('d-none');
         }

      };

      $('.owl-video-carousel').owlCarousel({
         nav: true,
         dots: false,
         video: true,
         margin : 20,
         navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
         responsive: {
            0: {
               items: 1.2,
               nav : false
            },
            600: {
               items: 2,
               margin : 24
            }
         }
      })
      $('.celebration .airport-section__carousel ').owlCarousel({
         loop: true,
         responsiveClass: true,
         nav: true,
         dots: false,
         navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
         responsive: {
            0: {
               items: 1.2,
               margin: 20,
               nav : false
            },
            600: {
               items: 3,
               margin : 24,
               loop: false
            }
         }
      })
   </script>