@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}


<section class="bg-cream section content-header travel-guide__content" id="first-section">
    <div class="container-fluid">
        <h2> @Html.Sitecore().Field("Title", model)</h2>
        <ul class="mb-4 mb-lg-5">
    <li class="d-inline-block mr-lg-4 mr-2 mb-3"><a href="#covidinfo" class="btn btn-scroll btn-green">Covid-19 Information</a></li>
    <li class="d-inline-block mr-lg-4 mr-2 mb-3"><a href="#covidgallery" class="btn btn-scroll btn-light bg-white">Covid-19 Gallery</a></li>
    <li class="d-inline-block mr-lg-4 mr-2 mb-3"><a href="#helpdesk" class="btn btn-scroll btn-light bg-white">Helpline number</a></li>
    <li class="d-inline-block mr-lg-4 mr-2 mb-3"><a href="#" class="btn btn-light bg-white">Covid-19 FAQs</a></li>
</ul>
<ul class="social-share">
    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
    <li><a href="#"><em class="fab fa-linkedin "></em></a></li>
    <li><a href="#"><em class="fab fa-instagram"></em></a></li>
</ul>
<h2 id="helpdesk">Help Desk Important Contact Numbers</h2>
<p>For Pre-booking of RTPCR / RAPID test at Lucknow airport, please click on the links below</p>
<h3>For Departing Passengers:</h3>
<ul class="ul-numeric">
    <li><a rel="noopener noreferrer" rel="noopener noreferrer" href="https://shambhavidiagnostic.com/contact/" target="_blank">https://shambhavidiagnostic.com/contact/</a></li>
    <li><a rel="noopener noreferrer" href="https://sufalamlims.com/northstar.ui/#/laboratory/public/icmr-covid-form?TokenDetails=YWNwYWZkZnAnISY2" target="_blank">https://sufalamlims.com/northstar.ui/#/laboratory/public/icmr-covid-form?TokenDetails=YWNwYWZkZnAnISY2</a></li>
</ul>
<br />
<h3>For Arriving Passengers:</h3>
<ul class="ul-numeric">
    <li><a rel="noopener noreferrer" rel="noopener noreferrer" href="https://shambhavidiagnostic.com/contact/" target="_blank">https://shambhavidiagnostic.com/contact/</a></li>
</ul>
<br />
<p>For further queries and information on the Pre-booking process, please contact</p>
<ul class="ul-numeric">
    <li> Shambhavi Diagonstics, Dr. Shivendra at +91 8601376649</li>
    <li> North Start Diagnostics,  Dr. Anoop at +91 9250094525</li>
</ul>
<br />
<ul>
    <li>COVID HELPLINE <br />
    Please call  +91 8188068806</li>
    <br />
    <li>1. Mr. Vinamra Mehrotra<br />
    Incharge Terminal Operations<br />
    <!--Email:<a href="mailto:Arpit.Tiwari@adani.com" target="_top" style="text-decoration:none"> Arpit.Tiwari@adani.com</a><br />-->
    Contact Details: +91 9606117575</li>
    <br />
    <li>2. Terminal Manager<br />
    Duty Terminal Manager<br />
    Contact Details: +91 8004935404</li>
    <br />
</ul>
<div id="covidinfo">The global COVID-19 pandemic has had a significant impact on the way we live our lives, including how we travel by air. Please read these instructions carefully before you begin your journey from home so you know what to expect when you get to the airport. We have put in place several measures to keep you and our staff safe.</div>
<div>
<div>*RT-PCR facility is available for all passengers at arrival Concourse area*</div>
<h3 class="mt-4 mb-3">Before you begin your journey:</h3>
<div class="mb-3">VERY IMPORTANT</div>
<div class="mb-3">Please do NOT travel if you are displaying any symptoms of COVID-19 (high temperature, persistent cough, loss of taste or smell).</div>
<div class="mb-3">
<li>
<h3 class="mt-4 mb-3">Guidelines for International Arrivals | 29.12.22 </h3>
<ul><a href="-/media/2E16E5363B3147078932DC9B9A371C49.ashx" target="_blank">D.O. Letter to Secretary Civil Aviation - Testing - 22 Dec 2022</a></ul>
<ul><a href="-/media/D9CE6A8B1A0B49098A09E8D462E6ECE3.ashx" target="_blank">Guidelines for international arrival</a></ul>
    <ul><a href="-/media/CB5AB79A31A4492E9457F964C7D07B62.ashx" target="_blank">List of countries</a></ul>
        <ul><a href="-/media/5FA8FC59908A48038ED1857AB1BE7C61.ashx" target="_blank">Algorithm for revised guidelines</a></ul>
            </li>
            <li>
            </li>
            </div>
            <div class="mb-3">
            <a href="-/media/28C1C7406DD24B7AB41A8132AC3CF408.ashx" target="_blank">Click here </a>to know more state government guidelines
            </div>
            <img alt="" class="my-4 img-fluid" src="-/media/E5A7B669468945DA9033C8F69F4FD9ED.ashx" />
            <div class="mb-3">Check the status of your flight with your airline as some schedules are still subject to change.</div>
            <div class="mb-3">Please travel to the airport only if you have a flight booked. Only those people who are flying will be allowed inside the terminal building.</div>
            <div class="mb-4">Make sure you check the latest government advice regarding travel to your destination and any requirements for returning passengers, such as quarantine once you reach your destination.</div>
            <h3 class="mt-4 mb-3">Mandatory health declaration</h3>
            <div class="mb-4">It is mandatory to declare your health status and web check-in, 48 hours to 60 min before flight departure. Boarding pass will be emailed by the airlines only after successful declaration of health status.</div>
            <h3 class="mt-4 mb-3">Baggage allowance</h3>
            <div>Hand baggage is not allowed, you may carry only a small bag that fits under the seats. Check-in baggage allowance is 20 kg.</div>
            <h3 class="mt-4 mb-3">Generate baggage tag</h3>
            <div class="mb-3">Add your check-in baggage online and generate baggage tag, 48 hours to 60 min before flight departure.</div>
            <div class="row">
            <div class="col-md-4 my-3"><img alt="" class="img-fluid" src="-/media/3550451AF2F640C897641E3F1653FE8F.ashx" /></div>
            <div class="col-md-4 my-3"><img alt="" class="img-fluid" src="-/media/5C57102299D34870ABF098DE8DC2192D.ashx" /></div>
            </div>
            <h3 class="mt-4 mb-3">AT THE AIRPORT </h3>
            <div class="mb-3">Make sure you wear a suitable face mask as this will be required at all times inside the airport.</div>
            <div class="mb-3">We will use temperature screening technology which you will see on the entry to security.</div>
            <div class="mb-3">Please clean your hands regularly. Additional hand sanitising stations have been installed throughout the airport.</div>
            <div class="row">
            <div class="col-md-4 my-3"><img alt="" class="img-fluid" src="-/media/5A7BA2DFA9274B0B94DD78949BAEF13F.ashx" /></div>
            <div class="col-md-4 my-3"><img alt="" class="img-fluid" src="-/media/35C3946FB25F42BC91C5A6F320039376.ashx" /></div>
            </div>
            <div class="mb-3">We have an enhanced cleaning regime in place throughout the airport &ndash; you may see our teams in operation 24/7 to keep you safe.</div>
            <div class="mb-3">We have installed protective screens at various locations throughout the terminal, including check-in desks and security.</div>
            <div class="mb-4">Please observe any signage regarding queuing systems which may be in place and maintain social distancing as far as possible. This includes our seating area and in the toilets</div>
            <img alt="" class="my-4" src="-/media/317E7DDFFBBE49EE9C77CC1497A59643.ashx" />
            <div>For further instructions, please&nbsp;check Ministry of Civil Aviation website for details:<a href="https://ind01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.civilaviation.gov.in%2Fen%2Fdocuments%2Fnotifications&amp;data=02%7C01%7CRajan.MIttal%40adani.com%7Cd6d974d9749544e5319a08d81f610994%7C04c72f56184846a281678e5d36510cbc%7C0%7C0%7C637293848916715074&amp;sdata=tmaNTaVOkgdUyCzz5fnZNjviHRI%2B5mTOQmo%2FAXcc7d4%3D&amp;reserved=0">https://www.civilaviation.gov.in/en/documents/notifications</a></div>
            <br />
            <div id="covidgallery">
            <h2 style="color: #000000;">Covid-19 Gallery&nbsp;</h2>
            <div class="row">
            <div class="col-lg-3 col-md-6 my-3 mt-lg-0">
            <img alt="" class="img-fluid w-100 mx-230" src="-/media/903F4C5BA97C4BE9B514B5A0ACCDD952.ashx" />
            </div>
            <div class="col-lg-3 col-md-6 my-3 mt-lg-0">
            <img alt="" class="img-fluid w-100 mx-230" src="-/media/790CC10A13954C029AB97394EE3A51AE.ashx" />
            </div>
            <div class="col-lg-3 col-md-6 my-3 mt-lg-0">
            <img alt="" class="img-fluid w-100 mx-230" src="-/media/78416283B33643E4A45C267EDB89C1D4.ashx" />
            </div>
            <div class="col-lg-3 col-md-6 my-3 mt-lg-0">
            <img alt="" class="img-fluid w-100 mx-230" src="-/media/2916A3DBC97B4D328BAF81866482FC5B.ashx" />
            </div>
            <div class="col-lg-3 col-md-6 my-3 mt-lg-0">
            <img alt="" class="img-fluid w-100 mx-230" src="-/media/FC95ADC6D0724DACAFBAE9A3CABFA573.ashx" />
            </div>
            <div class="col-lg-3 col-md-6 my-3 mt-lg-0">
            <img alt="" class="img-fluid w-100 mx-230" src="-/media/5642842930574FF0835FA57698F6F3C2.ashx" />
            </div>
            <div class="col-lg-3 col-md-6 my-3 mt-lg-0">
            <img alt="" class="img-fluid w-100 mx-230" src="-/media/B3DD8056512D4F58AAF50C06779142E1.ashx" />
            </div>
            <div class="col-lg-3 col-md-6 my-3 mt-lg-0">
            <img alt="" class="img-fluid w-100 mx-230" src="-/media/D7DBAFE3275544D390A596D684E7822F.ashx" />
            </div>
            </div>
            </div>
            <ul class="tender-listing mt-5 pb-4 d-none" style="min-height: auto;">
                <li>
                <div>PDF 1 Download</div>
                <div><a>Find Out More <em class="fa fa-angle-right"></em></a></div>
                </li>
                <li>
                <div>PDF 1 Download</div>
                <div><a>Find Out More <em class="fa fa-angle-right"></em></a></div>
                </li>
            </ul>
            </div>
    </div>
</section>

