@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{



}


<section class="section-bottom bg-cream content-header">
    <div class="container-fluid">

            @using (Html.BeginForm("LucknowAirportBookAirportAssistance", "LucknowAirport", FormMethod.Post, new { name = "AirportAssistance_form", id = "AirportAssistance_form", @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="bookassistance_form">
                    <h2>To Know More Or Avail The Services, Please Fill In The Form</h2>
                    <p class="txt-small mb-4">* Fields are mandatory</p>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="Name">Name <span class="req_field">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-2 col-3">
                            <div class="form-group">
                                <select class="form-control" id="NameType">
                                    <option>Mr. </option>
                                    <option>Ms. </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-9">
                            <input maxlength="15" type="text" class="form-control mb-2" id="FirstName" aria-describedby="First Name" placeholder="First Name">
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <input maxlength="15" type="text" class="form-control mb-2" id="MiddleName" aria-describedby="Middle Name" placeholder="Middle Name">
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <input maxlength="15" type="text" class="form-control mb-2" id="LastName" aria-describedby="Last Name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="Preferred Contact Number">Preferred Contact Number <span class="req_field">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-1 col-3 col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="AreaCode" aria-describedby="ISD" placeholder="ISD">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-9">
                            <input type="text" class="form-control" id="MobileNumber" aria-describedby="Mobile Number" placeholder="Mobile Number">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="Alternate Contact Number">Alternate Contact Number </label>
                            </div>
                        </div>
                        <div class="col-lg-1 col-3 col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="AlternateISD" aria-describedby="ISD" placeholder="ISD">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-9">
                            <input type="text" class="form-control" id="AlternateMobileNumber" aria-describedby="Mobile Number" placeholder="Mobile Number">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="Email Address">Email Address<span class="req_field">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <input maxlength="35" type="text" class="form-control" id="EmailAddress" aria-describedby="Email Address" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="Travel Date">Travel Date<span class="req_field">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-4">
                            <div class="form-group">
                                <select class="form-control" id="TravelYear">
								<option>Select Year</option>
                                   <!-- 
                                    <option>2020</option>
                                    <option>2021</option>
                                    <option>2022</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-4">
                            <div class="form-group">
                                <select class="form-control" id="TravelMonth">
								<option>Select Month</option>
									<!--
                                    <option value="1">January </option>
                                    <option value="2">February </option>
                                    <option value="3">March </option>
                                    <option value="4">April </option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
									-->
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-4">
                            <div class="form-group">
                                <select class="form-control" id="TravelDay">
									<option>Select Day</option>
                                    <!--
                                     <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="Type of Service">Type of Service<span class="req_field">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ServiceType" id="Departure" value="Departure">
                                <label class="form-check-label" for="Departure">Departure</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ServiceType" id="Arrival" value="Arrival">
                                <label class="form-check-label" for="Arrival">Arrival</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ServiceType" id="Transit" value="Transit">
                                <label class="form-check-label" for="Transit">Transit</label>
                            </div>
                        </div>
                    </div>   
                     <div class="row mb-3">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="Travel Sector">Travel Sector <span class="req_field">*</span></label>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="TravelSector" id="International" value="International">
                        <label class="form-check-label" for="International">International</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="TravelSector" id="Domestic" value="Domestic">
                        <label class="form-check-label" for="Domestic">Domestic</label>
                    </div>
                </div>
            </div>                 
                    <div class="row mb-2">
                        <div class="col-lg-3">
                            <div class="form-group">
                               
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div id="recaptcha1"></div>
                        </div>
                    </div>

                    <div class="row mb-2">
						<div class="col-lg-3">
                            <div class="form-group">
                               
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-gradient" id="BtnAPASubmit" onchange="validateDate()">Submit</button>
                        </div>

                    </div>
                </div>
            }
            </div>
</section>


<script>
var recaptcha1;
 var onloadCallback = function () { 


    //Render the recaptcha2 on the element with ID "recaptcha2" 
    recaptcha1 = grecaptcha.render('recaptcha1', { 
       'sitekey': '6Lcql9QZAAAAAKGvvD4LZKHKys2Dwh0kFUVE5MGc', //Replace this with your Site key 
        'theme': 'light' 
    });


 };
$(document).ready(function() {
  const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];
  const Days = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31];
  let qntYears = 2;
  let selectYear = $("#TravelYear");
  let selectMonth = $("#TravelMonth");
  let selectDay = $("#TravelDay");
  let currentYear = new Date().getFullYear();

  for (var y = 0; y < qntYears; y++) {
    let date = new Date(currentYear);
    let yearElem = document.createElement("option");
    yearElem.value = currentYear
    yearElem.textContent = currentYear;
    selectYear.append(yearElem);
    currentYear++;
  }
  
  currentYear = new Date().getFullYear();
  var monthNumber = new Date().getMonth();
  	var currentDate = new Date().getDate();

  $("#TravelYear").change(function(){  
  console.log('Working new 2');
	$("#TravelMonth").empty();
	var cyear  = document.getElementById("TravelYear").value;
	for (var m = 0; m < 12; m++) {
		let month = monthNames[m];
		if(cyear==currentYear && m<monthNumber)
		{
			continue;
		}	
		let monthElem = document.createElement("option");
		monthElem.value = m;
		monthElem.textContent = month;		
		selectMonth.append(monthElem);
	}
	$("#TravelDay").empty();
		var syear  = document.getElementById("TravelYear").value;
		var smonth  = document.getElementById("TravelMonth").value;
		for (var d = 1; d < 32; d++) {
			let Day = Days[d];
			if(syear==currentYear && smonth== monthNumber && d<currentDate)
			{
				continue;
			}	
			if(d==29 && smonth==1)
			{
				break;
			}
			if(d==31 && (smonth==3||smonth==5||smonth==8||smonth==10))
			{
				continue;
			}
			let dayElem = document.createElement("option");
			dayElem.value = d;
			dayElem.textContent = Day;		
			selectDay.append(dayElem);
			
		}
  });
 
	currentYear = new Date().getFullYear();
	monthNumber = new Date().getMonth();
	currentDate = new Date().getDate();
	  $("#TravelMonth").change(function(){  
		$("#TravelDay").empty();
		var syear  = document.getElementById("TravelYear").value;
		var smonth  = document.getElementById("TravelMonth").value;
		for (var d = 1; d < 32; d++) {
			let Day = Days[d];
			if(syear==currentYear && smonth== monthNumber && d<currentDate)
			{
				continue;
			}	
			if(d==29 && smonth==1)
			{
				break;
			}
			if(d==31 && (smonth==3||smonth==5||smonth==8||smonth==10))
			{
				continue;
			}
			let dayElem = document.createElement("option");
			dayElem.value = d;
			dayElem.textContent = Day;		
			selectDay.append(dayElem);
			
		}
	  });
		
 
});

</script>