@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var url = "";

}

@if (model != null)
{

    <section class="bg-cream scroll-nav" id="first-section">
        <div class="container-fluid">
            <ul>
                @foreach (var element in model.GetChildren().ToList())
                {
                    if (Html.Sitecore().Field("Title", element) != null)
                    {
                        url = Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");

                        if (url == "")
                        {
                            <li><a href="#AppBasedCabs">App Based Cabs</a></li>
                        }
                        else
                        {
                            <li><a href="#@url">@Html.Sitecore().Field("Title", element)</a></li> }

                    }
                    else
                    {
                        url = "App Based Cabs";
                        <li><a href="#@url">App Based Cabs</a></li>
                    }
					break;
                }
            </ul>
        </div>
    </section>
    foreach (var element in model.GetChildren().ToList())
    {
        if (Html.Sitecore().Field("Title", element) != null)
        {
            url = Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");

        }
        else
        {
            url = "";
        }
        <section class="bg-cream section-top  content-header travel-guide__content" id="@url">
            <div class="container-fluid">
                <!-- <h2>@Html.Sitecore().Field("Title", element)</h2> -->
                @Html.Sitecore().Field("Summary", element)
            </div>
        </section>
		break;
    }
}