<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurator type="Adani.SuperApp.Airport.Feature.ProductSearch.Platform.ServicesConfigurator, Adani.SuperApp.Airport.Feature.ProductSearch.Platform" />
		</services>

		<pipelines>
			<initialize>
				<processor type="Adani.SuperApp.Airport.Feature.ProductSearch.Platform.Pipelines.RegisterWebApiRoutes, Adani.SuperApp.Airport.Feature.ProductSearch.Platform"
						   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
			</initialize>
		</pipelines>
	</sitecore>
</configuration>