<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="SitecoreImages" value="true"/>
			<setting name="DictionaryBrand" value="{98C93E5D-A380-40CC-8EED-4C88851CF221}"/>
			<setting name="DictionaryCategory" value="{9DA98C42-2B06-42DF-AAAA-EC01A784C20E}"/>
			<setting name="DictionarySubCategory" value="{15039E0C-D234-4EFC-8637-FB997464D670}"/>
			<setting name="DictionaryProductageofliquor" value="{CBDB18F5-73AC-4C98-B324-83CF5CDF3F3B}"/>
			<setting name="DictionaryCountryOfOrigin" value="{F5FE39A7-C8C3-4FD5-8270-05E05C5B0E29}"/>
			<setting name="DictionaryProductdescription" value="{6AAB5ABA-8659-4BC4-A69C-492BDF7A41A1}"/>
			<setting name="DictionaryProductLength" value="{AD82BBDE-291E-481E-97AC-F0F00F3D65E3}"/>
			<setting name="DictionaryProductWidth" value="{7FECE8E0-88F5-4F2C-8AA1-79AE9648C561}"/>
			<setting name="DictionaryProductHeight" value="{737B435D-4395-4770-9796-8E8208962BC5}"/>
			<setting name="DictionaryProductWeight" value="{C5E9D84F-74A2-42C2-AD72-95BAC4710418}"/>
			<setting name="DictionaryProductVolume" value="{DFDACD92-FEB8-44A2-929B-0D4FBE1B3648}"/>
			<setting name="DictionaryProductGender" value="{43405027-520C-4BC4-907B-E6BA58822B72}"/>
			<setting name="DictionaryProductBarcodeNumber" value="{F5C1133D-24B8-4A03-8885-74169AC652E7}"/>
			<setting name="DictionaryManufacturerDetails" value="{1C648A89-E079-44E9-9839-C391FE2886DB}"/>
			<setting name="DictionaryEarn" value="{C73AFC9D-9B5C-4332-9BFD-44BACE136B9B}" />
			<setting name="DictionaryProductFlavour" value="{FFDEED41-D3C3-4F09-9F10-FD0DBBF6F433}"/>
			<setting name="DictionaryProductForm" value="{EA944CBF-49EB-4F82-BAEF-3716DFB5CD95}"/>
			<setting name="DictionaryFrameColorFront" value="{C31DD3DD-CFF4-4E5B-962B-B3CAEA36468E}"/>			
			<setting name="DictionaryFrameColorTemple" value="{ECB8E698-DFCB-44A3-AE93-192140EEC4EE}"/>
			<setting name="DictionaryLensColor" value="{D725E0A7-3796-4518-A009-EF7A877FC258}"/>			
			<setting name="DictionaryMaterial" value="{FFE645AB-07BF-4622-9E44-EA922801E378}"/>
			<setting name="DictionaryMaterialFittingName" value="{DB247C30-A52E-4DCC-91EA-2DEDC161E6EF}"/>
			<setting name="DictionaryProductQuantity" value="{5DC0246A-2B52-4016-BF38-35B4530A2C11}"/>
			

			<setting name="DutyfreeStore" value="store"/>
			
			<setting name="FiltersSearchFolder" value="/sitecore/content/AirportHome/Datasource/Adani/Dutyfree/Filters"/>

		</settings>
	</sitecore>
</configuration>