@using Sitecore.Feature.News
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model IEnumerable<Sitecore.Data.Items.Item>
@{
    var Items = Model.OrderByDescending(x => x.Statistics.Created); //.Where(x => x.TemplateID == new Sitecore.Data.ID("{2DC7B601-67F0-4EEA-9408-E8306A6DEBC8}")); //.OrderByDescending(x => x.Statistics.Created).Take(3);}

}
@foreach (var item in Items)
{
    <li class="mb-2">
       <a href="" class="newsItem row" target="_blank">
            <div class="newsImg col-3 pr-0">
                @Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image, item)
            </div>
            <div class="newsDetails col-9">
                <div class="newsBrief">@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, item)</div>
                <div class="newsDate">
                    @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date, item, new
                 {
                     format = "MMM dd, yyyy"
                 })
                </div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
}