@using Sitecore.Feature.News
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!Model?.Item?.IsDerived(Templates.NewsArticle.ID) ?? true)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.NewsArticle.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}

<div class="pageContent">
    <div class="container">
        <div class=" ">
            <div class="row align-items-center form-inner-box">
                <div>
                    <h4 class="txt-orange">@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, Model.Item)</h4>
                    <h6 class="txt-gray">
                        @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date, Model.Item, new
                 {
                     format = "MMM dd, yyyy"
                 })
                    </h6>
                    <div class="py-2"></div>
                    @Html.Sitecore().Field(Templates.NewsArticle.Fields.Body, Model.Item)
                    <div class="text-left">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



