@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">
        @Html.Sitecore().Placeholder("top-logo")
        <div class="navbar-collapse collapse" id="navbarCollapse">
           @Html.Sitecore().Placeholder("top-menu")
        </div>
    </div>
</nav>
