@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var page = Sitecore.Context.Item;
}

@Html.Sitecore().Field("{AC3FD4DB-8266-476D-9635-67814D91E901}", page)

<div class="pagecontainer">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("left-panel")
            @Html.Sitecore().Placeholder("content-panel")
        </div>
    </div>
</div>

