@using Sitecore.Data.Fields
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Feature.Navigation
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}



@if (models.Children != null)
{
    foreach (var item in models.Children.ToList())
    {
        <li><a href="@item.LinkFieldUrl(Templates.Link.Fields.Link)">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item)</a></li>

    }
}


