<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore role:require="Standalone or ContentManagement">
		<sc.variable name="identityServerAuthority" value="https://adaniidentityserver.dev.local" />
		<federatedAuthentication>
			<propertyInitializer>
				<maps>
					<map name="set IsAdministrator" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
						<data hint="raw:AddData">
							<source name="http://www.sitecore.net/identity/claims/isAdmin" value="true" />
							<target name="IsAdministrator" value="true" />
						</data>
					</map>
					<map name="set Email" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
						<data hint="raw:AddData">
							<source name="email" />
							<target name="Email"  />
						</data>
					</map>
					<map name="set FullName" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
						<data hint="raw:AddData">
							<source name="name"/>
							<target name="FullName"/>
						</data>
					</map>
				</maps>
			</propertyInitializer>

		</federatedAuthentication>
		<sites>
			<site name="shell" set:loginPage="$(loginPath)shell/SitecoreIdentityServer" />
			<site name="admin" set:loginPage="$(loginPath)admin/SitecoreIdentityServer" />
		</sites>
	</sitecore>
</configuration>
