@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/
     var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
     var element = Sitecore.Context.Database.GetItem(datasource); 
    <!-- Sitecore.Data.Fields.ImageField ImageField = ((Sitecore.Data.Fields.ImageField)element.Fields["Image"]); -->
    <!-- var bckgroundImgUrl = ImageField.MediaItem == null ? "" : Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageField.MediaItem); -->
}

<section class="contact-us d-block position-relative bg-white pb-5">
<div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="bg-from">
						
                        <div class="card card-radius mt-2 mx-auto p-1 bg-white">
                            <div class="card-body bg-white">
							
                                <div class="container">
								@Html.Sitecore().Placeholder("form")
								</div>
                            </div>
                        </div>
                        <!-- /.8 -->
                    </div>
                </div>
                    <!-- /.row-->
                </div>
            </div>
        </section>
		
