@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.ImageField ImageField = ((Sitecore.Data.Fields.ImageField)element.Fields["Image"]);
    var bckgroundImgUrl = ImageField.MediaItem == null ? "" : Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageField.MediaItem);
}


<section class="up-panel-social position-relative bg-white">
        <div class="container">
            <div class="row">
                <div class="custom-grid-social">
                    <div class="image-container-social" style="background-image: url('@bckgroundImgUrl');">
                        <h5>@Html.Sitecore().Field("Summary", element)</h5>
                        <h4>@Html.Sitecore().Field("Title", element)</h4>
                    <div class="body-text">
                        @Html.Sitecore().Field("Body", element)
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



