@*using Sitecore.Data.Fields
    @using Sitecore.Feature.Media
    @using Sitecore.Feature.Media.Repositories
    @using Sitecore.Foundation.SitecoreExtensions.Extensions
    @using Sitecore.Foundation.Theming.Extensions
    @using Sitecore.Resources.Media
    @model Sitecore.Mvc.Presentation.RenderingModel
    @{
        /**/

         var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
        var element = Sitecore.Context.Database.GetItem(datasource);


        }



    <section class="bg-white position-relative z-index Action-Plans">
                <div class="container">
                    <h1 class="action-head">@Html.Sitecore().Field("Title", element)</h1>
                    <div class="row">
                    @foreach (var child in element.GetChildren().ToList())
                    {
                        <div class="col-lg-6">
                           @Html.Sitecore().Field("Body", child)
                        </div>
                    }-->

                       <!-- <div class="col-md-12 SubmitBtn">

                            <input type="submit" class="btn btn-success btn-send Goals " value="Explore more">

                        </div> -->
                    <!--</div>

                </div>
            </section>*@