@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.ImageField ImageField = ((Sitecore.Data.Fields.ImageField)element.Fields["Image"]);
    var bckgroundImgUrl = ImageField.MediaItem == null ? "" : Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageField.MediaItem);
}

<div class="bg-cli">
    <div class="breadcrumb-banner">
        <div class="bg-images"> <img src="@bckgroundImgUrl" class="image-fluid" alt="" width="1400" height="360" DisableWebEdit="False" /></div>
        <div class="container position-relative d-block">
            @Html.Sitecore().Field("Summary", element)
        </div>
    </div>
</div>

