<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<settings>
			<setting name="SapPiCredentialUserName" value="tmpi_dev" />
			<setting name="SapPiCredentialPassword" value="gtd@123" />

			<setting name="caTypeUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_CHECK_CA_TYPE_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/CHECK_CA_TYPE" />
			<setting name="paymentHistroyUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_PAYMT_HISTORY_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/PAYMT_HISTORY" />
			<setting name="consumptionHistroyUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_MTRREADDOC_GETLIST_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/MTRREADDOC_GETLIST" />

			<setting name="accountDetailsFetchServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_ISUPARTNER_GETDETAIL_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/ISUPARTNER_GETDETAIL" />
			<setting name="billDetailsFetchServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_MR_BI_GETLIST_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/MR_BI_GETLIST" />

			<setting name="securityAmountFetchServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_SD_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/SD" />
			<setting name="vdsAmountFetchServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_VDS_WEB_PYMT_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/VDS_WEB_PYMT" />
			<setting name="pvcDetailsFetchServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_PVC_DISPLAY_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/PVC_DISPLAY" />

			<setting name="fetchBillingLanguageServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_ZCSBLNG_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/ZCSBLNG" />
			<setting name="updateBillingLanguageServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_ZCSBLNG_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/ZCSBLNG" />

			<setting name="OutageInformationName" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_OUTAGE_INFO_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/OUTAGE_INFO" />
			<setting name="ComplainStatusServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_COMP_STATUS_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/COMP_STATUS" />

			<setting name="updateEmailSmsPaperlessSettingsServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_EBILL_REGISTER_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/EBILL_REGISTER" />
			<setting name="downloadViewBillServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_GET_BILL_MONTH_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/GET_BILL_MONTH" />
			<setting name="PaymentUpdateServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?&#38;senderService=Rel_Mob_Web&#38;receiverService=&#38;interface=ZBAPI_UPDATE_ZPAYMENTSREAL&#38;interfaceNamespace=http://rel.com/xi/Portal" />

			<setting name="ContactDetailServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?&#38;senderService=Rel_Mob_Web&#38;receiverService=&#38;interface=ZBAPI_DISPTELNO_01&#38;interfaceNamespace=http://aeml.com/web" />
			<setting name="VdsRegistrationServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=ZBAPI_VDS_REGISTRATION&#38;interfaceNamespace=http://aeml.com/web" />

			<setting name="CreateContactLogWeb" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_Contactlog_WebService&#38;interfaceNamespace=http://rel.com/xi/web/Contactlog"/>
			<setting name="FetchConsumerDetailsUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_Cms_Isu_Ca_Display_in&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/Cms_Isu_Ca_Display"/>

			<setting name="ValidateCAForChangeOfName_old" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=MUM_MOB&#38;receiverParty=&#38;receiverService=&#38;interface=SI_CA_Details_Send&#38;interfaceNamespace=http://rel.com/xi/KAM/CA_Details"/>
			<setting name="fetchSecurityDeposityAmountChangeOfName" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=MUM_MOB&#38;receiverParty=&#38;receiverService=&#38;interface=SI_PSD_CA_Web&#38;interfaceNamespace=http://rel.com/xi/ChangeofName"/>

			<setting name="ReadMeterNumbersServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=ZBAPI_DM_GETMETERNUMBER&#38;interfaceNamespace=urn:sap-com:document:sap:rfc:functions"/>
			<setting name="SelfMeterReadingDataUploadServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_DMUPLDMETRREAD&#38;interfaceNamespace=http://aeml.com/SelfMeterRead"/>
			<setting name="SelfMeterReadingImageUpload" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=ZBAPI_IMAGE_TRANSFER_TO_SAP&#38;interfaceNamespace=urn:sap-com:document:sap:rfc:functions"/>

			<setting name="ValidateCAForEMIOption" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_EMIOptin&#38;interfaceNamespace=http://aeml.com/Web"/>

			<setting name="FetchAmountDetailsForSolarUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_Overdue_Amount_Send&#38;interfaceNamespace=http://rel.com/xi/Solar/Overdue_Amount"/>

			<setting name="PostDataSolarUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_CSWebupdate_send&#38;interfaceNamespace=http://rel.com/xi/Web/CS_WEB_UPDATE"/>
			<setting name="OrderCreationSolarUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_CSWebmaster_send&#38;interfaceNamespace=http://rel.com/xi/Web/WEB_MASTER"/>

			<setting name="ValidateLECUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_LECval_send&#38;interfaceNamespace=http://rel.com/xi/Web/LEC_VALIDATE"/>
			<setting name="GetCAByMobileUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_MobAppReg&#38;interfaceNamespace=http://aeml.com/MobileAppReg"/>

			<setting name="FetchConsumerPANGSTDetailsUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_Find_Extract_BPInfo&#38;interfaceNamespace=http://aeml.com/Web"/>
			<setting name="UpdatePANGSTUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=ZBAPI_LEGITIMATE&#38;interfaceNamespace=http://rel.com/xi/RelMobApp"/>

			<setting name="CreateContactLogWebUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_Contactlog_Web&#38;interfaceNamespace=http://rel.com/xi/web/Contactlog"/>
			<setting name="RegisterComplaintAllWebUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=BS_CRM_DYN&#38;receiverParty=&#38;receiverService=&#38;interface=SI_RegcomplaintAll&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/MobComplaint"/>

			<setting name="ValidateCAForChangeOfName" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_CA_Details_Send&#38;interfaceNamespace=http://aeml.com/Web"/>
			<setting name="RegisterComplaintStreetLightUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_App&#38;receiverParty=&#38;receiverService=&#38;interface=SI_CreateCaseStreet&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/CRM"/>

			<setting name="FetchComplaintsUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_compstatnew&#38;interfaceNamespace=http://aeml.com/Web"/>
			<setting name="RegisterComplaintCSOrderCreateUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=ZBAPI_CS_ORDER_CREATE&#38;interfaceNamespace=http://aeml.com/CustMobApp"/>

			<setting name="SDInstallmentOptInUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_UPD_ZSDINSTLMNT&#38;interfaceNamespace=http://aeml.com/Web"/>
			<setting name="ITDeclarationPostUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_FI_WEB_ITAX&#38;interfaceNamespace=http://aeml.com/Web"/>

			<!--For New Connection-->
			<setting name="CheckBankAccountDetailsUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_CS_CHECKBANKL&#38;interfaceNamespace=http://rel.com/xi/Web/NewConnection"/>
			<setting name="UpdateTRNumberUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_Update_TR&#38;interfaceNamespace=http://aeml.com/New_con/Update_TR"/>
			<setting name="ValidateLDPUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_WebQ&#38;receiverParty=&#38;receiverService=&#38;interface=SI_LDPval_send&#38;interfaceNamespace=http://rel.com/xi/Web/LDP_DETAILS"/>

			<setting name="ExtrOrdGISServiceUrl" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_ExtrOrd_GIS&#38;interfaceNamespace=http://rel.com/xi/SAPISU/GIS01ORDEXTR"/>
			<setting name="CSNotiforderURL" value="https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=InterPO&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_CSNotiforder_send&#38;interfaceNamespace=http://rel.com/xi/Web/NOTIF_ORDER"/>

			<setting name ="OnlineBillPDFFetchURL" value= "https://issdev.adanielectricity.com/XISOAPAdapter/MessageServlet?senderParty=&#38;senderService=Rel_Mob_Web&#38;receiverParty=&#38;receiverService=&#38;interface=SI_ONLINE_BILL_PDF_web&#38;interfaceNamespace=http://rel.com/xi/RelMobApp/ONLINE_BILL_PDF"/>
		</settings>
	</sitecore>
</configuration>