@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);


}

<div class="popup-box" id="takeATourPopup">
    <div class="backdrop" id="takeATourPopupClose"></div>
	
    <div class="popup-content">
	        <span class="close-modal" onclick="closeModal()">
            <i class="i-close i-20"></i>
        </span>
        <div class="full" id="takeATour">
            <p class="h2 fm-asb tx-000 ac">Schedule A Tour</p>
            <div class="contact-inputs">
                <div class="input-wrapper floating">
                    <input class="input anim"
                           id="tourname"
                           name="tourname"
                           data-has-validation="enable"
                           data-input-required="required" />
                    <label for="tourname" class="label anim">Name*</label>
                </div>
            </div>
            <div class="grid-wrapper grid-layout-2 contact-inputs">
                <div class="grid">
                    <div class="input-wrapper floating">
                        <input id="touremail"
                               name="touremail"
                               class="input anim"
                               data-has-validation="enable"
                               data-input-required="required"
                               data-input-regex='^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' />
                        <label for="touremail" class="label anim">Email*</label>
                    </div>
                </div>
                <div class="grid">
                    <div class="input-wrapper floating">
                        <input id="tourmobile"
                               name="tourmobile"
                               class="input anim"
maxlength="10"
				inputmode="numeric"
                               data-has-validation="enable"
                               data-input-required="required"
                               data-input-regex="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$" />
                        <label for="tourmobile" class="label anim">Contact Number*</label>
                    </div>
                </div>
            </div>
			<div class="contact-inputs">
                <div class="input-wrapper floating">
                    <input class="input anim"
                           id="tourcompany"
                           name="tourcompany"
                           data-has-validation="enable"
                           data-input-required="required" />
                    <label for="tourcompany" class="label anim">Company Name*</label>
                </div>
            </div>
			@*
            <div class="contact-inputs">
                <div class="input-wrapper select-wrapper">
                    <select class="select-box full"
                            id="tourlocation"
                            name="tourlocation"
                            
                            >
                        <option value="All" selected>All Locations</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Noida">Noida</option>
                        <option value="Pune">Pune</option>
                        <option value="Vizag">Vizag</option>
                    </select>
                </div>
            </div>
			*@
			<div class="contact-inputs">
                    <div class="chckbx-wrpr">
                        <input type="checkbox" name="rememberCheckBox" id="rememberCheckBox">
                        <label for="rememberCheckBox">By checking this box, you agree to the existing <a href="/privacy-policy">privacy policy</a> of Adani Group websites.</label>
                    </div>
            </div>
			<div class="contact-inputs">
                    <div class="input-wrapper floating">
                        <p id="tat-error" class="error-message anim error"></p>
                    </div>
            </div>
            <div class="contact-inputs ac contact-submit-btn">

                <input type="hidden" id="TourFormType" name="TourFormType" value="TakeATour" />
                <input type="button" id="TakeATourSubmitBtn"class="btn small" value="Schedule a Tour" />
            </div>
        </div>
    </div>
</div>