@using Sitecore.Data.Items
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
Item model = Sitecore.Context.Database.GetItem(datasource);
}
@if(model != null)
{
 <div class="section-holder edge-connex-hoder bg-grey" id="getInTouchSection">

            <div class="content-wrapper">

                <h2 class="full h1 fm-asb tx-000" style="padding-bottom:20px">@Html.Sitecore().Field("Heading", model)</h2>

                @* <p class="full d-txt desc">@Html.Sitecore().Field("Description", model)</p> *@

                <a class="btn fm-am getInTouchActionnew" href="#getInTouchPopup">@Html.Sitecore().Field("CTAText", model)</a>

            </div>

        </div>
}

   