<div class="contact-module">
            <div class="content-wrapper grid-wrapper">
               <div class="item-col">
                  <div class="item-type-1">
                     <i class="i-hand-point i-30"></i>
                     <aside>
                        <h4><a href="#uploadCvPopup" class="uploadCvPopupAction">Ready To Join Us?</a></h4>
                        <p><a href="#uploadCvPopup" class="uploadCvPopupAction">Upload your CV here and let’s get started!</a></p>
                     </aside>
                  </div>
               </div>
               <div class="item-col">
                  <div class="item-type-1">
                     <i class="i-hand-point i-30"></i>
                     <aside>
                        <h4><a href="#ConnectWiththeHR" class="getInTouchActionnew1">Connect With HR</a></h4>
                        <p><a href="#ConnectWiththeHR" class="getInTouchActionnew1">Have a question? Want more details? Write to us and we’ll be happy to help!</a></p>
                     </aside>
                  </div>
               </div>
               <div class="item-col">
                  <div class="item-type-2">
                     <ul>
                        <li>
                           <i class="i-mail i-30"></i>
                           <p><a href="mailto:adaniconnex@adani.com"><strong>Email:</strong>
                              adaniconnex@adani.com</a>
                           </p>
                        </li>
                        <li>
                           <i class="i-call i-30"></i>
                           <p><a href="tel:+91-79-26565555"><strong>Contact No.: </strong> +91-79-26565555</a></p>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>