@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var sendEmail = "false";
    Sitecore.Data.ID pageContextID = Sitecore.Data.ID.Parse(@Sitecore.Context.Item.ID);
    Sitecore.Data.Items.Item pageContext = Sitecore.Context.Database.GetItem(pageContextID);
    Sitecore.Data.Fields.MultilistField multiselectField = pageContext?.Fields["{1326C5B4-F98B-4D72-8645-8315499FB1D3}"];
    if (multiselectField != null)
    {
        Sitecore.Data.Items.Item[] items = multiselectField.GetItems();
        if (items.Length > 0)
        {
            foreach (var item in items)
            {
                if (item.DisplayName == "ConnectWithHR")
                {

                    sendEmail = "true";
                }
            }
        }

    }
}

<div class="popup-box" id="ConnectWiththeHR">
    <div class="backdrop" id="getInTouchPopupClose"></div>
    <div class="popup-content">
  <span class="close-modal" onclick="closeModal()">
            <i class="i-close i-20"></i>
        </span>
		<form id="GetInTouchFormTag">
        <div class="full" id="getInTouch">
		
            <p class="h2 fm-asb tx-000 ac">Connect With HR</p>
            <div class="contact-inputs">
                <div class="input-wrapper floating">
                    <input class="input anim"
                           id="getname"
                           name="getname"
                           data-has-validation="enable"
                           data-input-required="required" />
                    <label for="getname" class="label anim">Name*</label>
                </div>
            </div>
            <div class="grid-wrapper grid-layout-2 contact-inputs">
                <div class="grid">
                    <div class="input-wrapper floating">
                        <input id="getemail"
                               name="getemail"
                               class="input anim"
                               data-has-validation="enable"
                               data-input-required="required"
                               data-input-regex='^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' />
                        <label for="getemail" class="label anim">Email*</label>
                    </div>
                </div>
                <div class="grid">
                    <div class="input-wrapper floating">
                        <input id="getmobile"
                               name="getmobile"
                               class="input anim"
							   inputmode="numeric"
maxlength="10"
                               data-has-validation="enable"
                               data-input-required="required"
                               data-input-regex="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$" />
                        <label for="getmobile" class="label anim">Contact Number*</label>
                    </div>
                </div>
            </div>			
            <div class="contact-inputs">
                <div class="input-wrapper floating">
                    <textarea id="getmessage"
                              name="getmessage"
maxlength="200"
                              class="input anim"
                              data-has-validation="enable"
                              data-input-required="required"></textarea>
                    <label for="getmessage" class="label anim">Message*</label>
                </div>
            </div>
			<div class="contact-inputs">
                    <div class="chckbx-wrpr">
                        <input type="checkbox" name="GetInTouchRemember" id="GetInTouchRemember">
                        <label for="GetInTouchRemember">By checking this box, you agree to the existing <a href="/privacy-policy">privacy policy</a> of Adani Group websites.</label>
                    </div>
            </div>
			<div class="contact-inputs">
                    <div id="GetInTouchrecaptcha" style=" transform: scale(0.7); transform-origin: left;" class="captcha">                        
                    </div>
                </div>
			<div class="contact-inputs">
                    <div class="input-wrapper floating">
                        <p id="git-error" class="error-message anim error"></p>
                    </div>
                </div>
            <div class="contact-inputs ac">
                <input type="hidden" id="sendEmailConnectWithHR" name="sendEmailConnectWithHR" value="@sendEmail" />
                <input type="hidden" id="getFormType" name="getFormType" value="ConnectWithHR" />
                <input type="button" id="ConnectWithHRform" class="btn small" value="Submit" />
            </div>
        </div>
    			</form>

	</div>
</div>
