
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var sendEmail = "false";
    Sitecore.Data.ID pageContextID = Sitecore.Data.ID.Parse(@Sitecore.Context.Item.ID);
    Sitecore.Data.Items.Item pageContext = Sitecore.Context.Database.GetItem(pageContextID);
    Sitecore.Data.Fields.MultilistField multiselectField = pageContext?.Fields["{1326C5B4-F98B-4D72-8645-8315499FB1D3}"];
    if (multiselectField != null)
    {
        Sitecore.Data.Items.Item[] items = multiselectField.GetItems();
        if (items.Length > 0)
        {
            foreach (var item in items)
            {
                if (item.DisplayName == "WhitePaperForm")
                {

                    sendEmail = "true";
                }
            }
        }

    }

}


<div class="popup-box" id="whitePaperPopup">
    <div class="backdrop" id="whitePaperPopupClose"></div>
    <div class="popup-content">
        <span class="close-modal" onclick="closeModal()">
            <i class="i-close i-20"></i>
        </span>
        <form id="WhitePaperFormTag">
            <div class="full" id="whitePaperForm">

                <p class="h2 fm-asb tx-000 ac" id="formTitle">White Paper</p>
                <div class="contact-inputs">
                    <div class="input-wrapper floating">
                        <input class="input anim"
                               id="namewhite"
                               name="namewhite"
                               data-has-validation="enable"
                               data-input-required="required" />
                        <label for="namewhite" class="label anim">Name*</label>
                    </div>
                </div>
                <div class="grid-wrapper grid-layout-2 contact-inputs">
                    <div class="grid">
                        <div class="input-wrapper floating">
                            <input id="emailwhite"
                                   name="emailwhite"
                                   class="input anim"
                                   data-has-validation="enable"
                                   data-input-required="required"
                                   data-input-regex='^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' />
                            <label for="emailwhite" class="label anim">Email*</label>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="input-wrapper floating">
                            <input id="mobilewhite"
                                   name="mobilewhite"
                                   class="input anim"
                                   inputmode="numeric"
                                   maxlength="10"
                                   data-has-validation="enable"
                                   data-input-required="required"
                                   data-input-regex="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$" />
                            <label for="mobilewhite" class="label anim">Contact Number*</label>
                        </div>
                    </div>
                </div>
                <div class="grid-wrapper grid-layout-2 contact-inputs">
                    <div class="grid">
                        <div class="input-wrapper floating">
                            <input id="company"
                                   name="company"
                                   class="input anim"
                                   data-has-validation="enable"
                                   data-input-required="required" />
                            <label for="company" class="label anim">Company Name*</label>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="input-wrapper floating">
                            <input id="country"
                                   name="country"
                                   class="input anim"
                                   data-has-validation="enable"
                                   data-input-required="required" />
                            <label for="country" class="label anim">Country*</label>
                        </div>
                    </div>
                </div>
                <div class="contact-inputs">
                    <div class="chckbx-wrpr">
                        <input type="checkbox" name="whitePaperRemember" id="whitePaperRemember" />
                        <label for="whitePaperRemember">By checking this box, you agree to the existing <a href="/privacy-policy">privacy policy</a> of Adani Group websites.</label>
                    </div>
                </div>
                <div class="contact-inputs">
                    <div id="WhitePaperrecaptcha" style=" transform: scale(0.7); transform-origin: left;" class="captcha">
                    </div>
                </div>
                <div class="contact-inputs">
                    <div class="input-wrapper floating">
                        <p id="dwld-message" class="error-message anim error"></p>
                    </div>
                </div>
                <div class="contact-inputs ac">
                    <input type="hidden" id="sendEmailWhitePaper" name="sendEmailWhitePaper" value="@sendEmail" />
                    <input type="hidden" id="card-name" name="card-name" />
                    <input type="hidden" id="data-url" name="data-url" docs-name="doc-name" />
                    <input type="hidden" id="FormType1" name="FormType" value="WhitePaperForm" />
                    <input type="button" id="WhitePaperFormSubmit" class="btn small" value="Submit" onclick="whitePaper()" />
                </div>

            </div>
        </form>
    </div>
</div>