@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
    string imgurl = "";
    string altText = "";
    string linkurl = "";
}
<div class="popup-box video-modal" id="takVirtaulTourPopup">
    <div class="backdrop" id="takVirtaulTourPopupClose"></div>
    <div class="popup-content">
        <span class="close-modal" onclick="closeModal()">
            <i class="i-close i-20"></i>
        </span>
        <div class="full" id="getInTouch">
            <div class="embed-container">
              <iframe src="" data-src="https://adanidotcom.azureedge.net/Virtual%20Walkthrough_Chennai%201.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%;"></iframe>
				
		  <!--  <video controls autoplay loop preload="metadata" width="250" id="mannu">
			<source src="https://adanidotcom.azureedge.net/Virtual%20Walkthrough_Chennai%201.mp4" type="video/mp4"> -->
		</video>

				
            </div>
        </div>
    </div>
</div>