@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
    
}

<div class="right-col custom-col">
    <div class="full movie-holder">

        <div class="full movie-wrapper map-view">
            <div class="map" id="map" style="height: 400px; width: 100%;"></div>
        </div>
        <ul class="data-center-place">
            @if (model != null && model.HasChildren)
            {
                foreach (Item item in model.GetChildren())
                {
					<li>
						<a href="javascript:void(0)" onclick="initMapLocations(@Html.Sitecore().Field("CTAText", item))"><i class="@Html.Sitecore().Field("Class", item)"></i>@Html.Sitecore().Field("MediaTitle", item)</a>
					</li>
                }
            }


        </ul>
    </div>
</div>