@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);


}

<body>
    <div class="full">
        <div style="margin-top:60px;" class="sitemap content-wrapper">
            <h4 class="full h1 fm-asb tx-000 custom-module-headng">Sitemap</h4>


			<div class="sitemap-content">
				<h4 class="full h4 tx-000 custom-module-headng">Home</h4>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>

				</ul>
			</div>
			<div class="sitemap-content">
				<h4 class="full h4  tx-000 custom-module-headng">Data  Centers</h4>
				<ul>


					<li>
						<a href="/data-centers">Data Centers</a>
					</li>

					<li>
						<a href="/data-center/chennai">Chennai</a>
					</li>


				</ul>
			</div>
			<div class="sitemap-content">
				<h4 class="full h4  tx-000 custom-module-headng">Services</h4>

				<ul>

					<li>
						<a href="/colocation">Colocation</a>
					</li>

					<li>
						<a href="/connectivity">Connectivity</a>
					</li>

					<li>
						<a href="/managed-services">Managed Services</a>
					</li>

				</ul>
			</div>
			<div class="sitemap-content">
				<h4 class="full h4  tx-000 custom-module-headng">Sustainability</h4>

				<ul>


					<li>
						<a href="/sustainability">Sustainability</a>
					</li>

				</ul>
			</div>
			<div class="sitemap-content">
				<h4 class="full h4  tx-000 custom-module-headng">Resources</h4>

				<ul>

					<li>
						<a href="/resources">Resources</a>
					</li>

				</ul>
			</div>
			<div class="sitemap-content">
				<h4 class="full h4  tx-000 custom-module-headng">About us</h4>

				<ul>


					<li>
						<a href="/about-us">About us</a>
					</li>

				</ul>
			</div>
			<div class="sitemap-content">
				<h4 class="full h4  tx-000 custom-module-headng">Privacy Policy</h4>

				<ul>


					<li>
						<a href="/privacy-policy">Privacy Policy</a>
					</li>

				</ul>
			</div>
			<div class="sitemap-content">
				<h4 class="full h4  tx-000 custom-module-headng">Legal Disclaimer</h4>

				<ul>


					<li>
						<a href="/legal-disclaimer">Legal Disclaimer</a>
					</li>

				</ul>
			</div>
			<div class="sitemap-content">
				<h4 class="full h4  tx-000 custom-module-headng">Terms & Conditions</h4>

				<ul>


					<li>
						<a href="/terms-and-conditions">Terms & Conditions</a>
					</li>

				</ul>
			</div>
        </div>
    </div>
</body>
