@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);


}
<div class="popup-box ac" id="getInTouchPopup1">
    <div class="backdrop" id="getInTouchPopupClose1"></div>
    <div class="popup-content">
        <div class="full" id="getInTouch1">
            <div class="thank-you-icon">
                <i class="i-done i-85"></i>

            </div>
            <p class="h2 fm-asb tx-000 ac">Thank You</p>
            <p class="full d-txt desc">We'll reach out to you very soon !</p>
            <div class="contact-inputs ac">
                <input type="button" class="btn small" value="Dismiss" onclick="closeModal()" />
            </div>
        </div>
    </div>
</div>
<div class="popup-box ac" id="download-thankyouPopup">
    <div class="backdrop" id="download-thankyouPopupClose"></div>
    <div class="popup-content">
        <div class="full" id="download-thankyou">
            <div class="thank-you-icon">
                <i class="i-done i-85"></i>
				
            </div>
            <p class="h2 fm-asb tx-000 ac">Thank You</p>
            <p class="full d-txt desc">for downloading</p>
            <div class="contact-inputs ac">
                <input type="button" class="btn small" value="Dismiss" onclick="closeModal()" />
            </div>
        </div>
    </div>
</div>