html,
body {
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    position: relative;
    font-family: 'Helvetica', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background-color: #f4efec;

}

body {
    transition: ease margin-top 0.3s;
}

main {
    overflow: hidd en;
    background: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
header,
aside,
footer,
section,
article,
nav,
field,
label,
figcaption,
figure,
hgroup,
input,
textarea {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}

p {
    font-size: 14px;
    font-weight: 500;
}

a {
    color: #179E96;
}

a:link,
a:visited {
    text-decoration: none;
}

header {
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    transition: ease all 0.6s;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 28;
}

header.fixed-header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    background: rgb(255 255 255 / 89%);
}

header.fixed-header .navbar .navbar-nav .nav-link {
    transition: ease all 0.6s;
    padding: 1.25rem 1.5rem;
}

header .navbar {
    padding: 0px;
}

header .navbar .navbar-nav {}

header .navbar .navbar-nav .nav-link {
    padding: 1.5rem 1.5rem;
    color: #054ba0;
    font-weight: 400;
    text-shadow: 0 0 black;
    font-size: 18px;
    transition: ease all 0.6s;
}

.banner-content {
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.banner-content .container>div {
    max-width: 650px;
}

.banner-content p {
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-shadow: 0px 0px 2px #000;
    font-weight: 600;
}

.banner-content h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 8px #000;
}

.stats_section {
    text-align: center;
    padding: 1.5rem;
    transition: ease all 0.6s;
    background: rgb(255 255 255 / 0%);
    transform: translateY(0px);
}

.stats_section:hover {
    transition: ease all 0.6s;
    background: rgb(255 255 255 / 100%);
    box-shadow: 0px 1px 4px -2px rgb(0 0 0 / 74%);
    transform: translateY(-5px);
}

.stats_section--thumb {
    margin-bottom: 1rem;
}

.stats_section--thumb img {
    width: 80px;
    object-fit: cover;
}

.stats_section--description {}

.stats_section--description h3 {
    color: #054ba0;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.stats_section--description p {
    color: #000;
    font-weight: 500;
}

.text_container h2 {
    color: #054ba0;
    display: inline-block;
    padding-bottom: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    position: relative;
}

.text_container h2:after {
    content: "";
    border-bottom: 5px solid #f89d2a;
    display: block;
    bottom: 0px;
    position: absolute;
    width: 100%;
    max-width: 400px;
}

.text_container>div a.btn {
    color: #f04d66;
    padding: 0px;
    font-weight: 600;
    transition: ease all 0.6s;
    text-align: left;
}

.text_container>div a.btn:hover {
    color: #054ba0;
    transition: ease all 0.6s;
}

.text_container p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0.8rem;
}

.text_container h4 {
    color: #054ba0;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

/* .video_section{position:absolute;height: 50%;cursor: pointer;margin-top:30%;} */

.video_section.about {
    position: relative;
    height: 100%;
    cursor: pointer;
}

.video_section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video_section:after {
    content: "\f144";
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 5rem;
    transition: ease all 0.6s;
    opacity: 1;
}

.video_section:hover:after {
    content: "\f144";
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 8rem;
    transition: ease all 0.6s;
    opacity: 0.5;
}

.video_section:hover {}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_modal {}

.video_modal .modal-content {
    position: relative;
}

.video_modal button {
    position: absolute;
    right: 0px;
    background: #054ba0;
    z-index: 9;
    color: #fff;
    padding: 5px 10px;
    opacity: 1;
    transition: ease all 0.6s;
}

.video_modal button:hover {
    opacity: 1;
    background: #000;
    transition: ease all 0.6s;
    color: #fff;
}

.video_modal .modal-body {
    padding: 0px;
}

.map_section {
    background: #ededed;
}

.map_section--content {
    padding: 3rem 3rem 3rem 0rem;
    max-width: 640px;
    margin-left: auto;
}

.map_section--content .specifications {}

.map_section--content .specifications p {
    font-size: 14px;
    font-weight: 600;
}

.map_section--content .specifications p span {
    display: inline-block;
    min-width: 100px;
    font-weight: 700;
}

.map_section--thumb {
    margin-right: -15px;
}

.map_section--thumb img {
    width: 100%;
}

.other_block {}

.other_block img {
    height: 250px;
    object-fit: cover;
}

.other_block p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 1.8rem;
}

.latest-news {
    position: relative;
}

.latest-news .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.latest-news .owl-dots button {}

.latest-news .owl-dots button.active {}

.latest-news .owl-dots button.active span {
    top: -5px;
    transition: ease all 0.6s;
}

.latest-news .owl-dots button span {
    width: 15px;
    height: 3px;
    background: #fff;
    display: block;
    margin-left: 10px;
    position: relative;
    top: 0px;
    transition: ease all 0.6s;
}

.downloads_block {
    min-height: 347px;
}

.downloads_block li {
    margin-bottom: 1.5rem;
}

.downloads_block li a {
    position: relative;
    padding-left: 4.5rem;
    margin-bottom: 0.8rem;
}

.downloads_block li img {
    display: block;
    position: absolute;
    left: 0px;
    width: 60px;
    object-fit: cover;
}

.downloads_block li span {
    display: block;
    padding: 17px 0px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    transition: ease all 0.6s;
}

.downloads_block li a {
    display: block;
}

.cta_section {
    background: rgb(151, 42, 231);
    background: linear-gradient(90deg, rgba(151, 42, 231, 1) 14%, rgba(98, 111, 190, 1) 72%);
    padding: 2rem;
    color: #fff;
}

.cta_section p {
    font-size: 1.5rem;
}

.cta_section a {
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    transition: ease all 0.6s;
    font-size: 14px;
    font-weight: 600;
}

.cta_section a:hover {
    background: #fff;
    color: #000;
}

.sub_heading {
    color: #054ba0;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
}

.sub_heading:after {
    content: "";
    border-bottom: 3px solid #7e7e7e;
    display: block;
    bottom: -15px;
    position: absolute;
    width: 100%;
    max-width: 200px;
}

.bg-images {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

.bg-images img {
    border-radius: 0;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.bg-white {
    background: #fff;
}

.btn-bordered {
    border: 1px solid #696969;
    border-radius: 0px;
    color: #696969;
    transition: ease all 0.6s;
    font-size: 14px;
    font-weight: 600;
}

.btn-bordered:hover {
    transition: ease all 0.6s;
    background: #696969;
    color: #fff;
}

footer {
    background: #fff;
}

footer .container {
    padding: 1.5rem 0rem;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

footer h5 {}

footer h5 a {
    color: #054ba0;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    display: inline-block;
}

footer h5 a:hover {
    color: #000;
}

.ft-policy-links {
    display: inline-block;
}

.ft-policy-links li {
    list-style: none;
    display: inline-block;
}

.ft-policy-links li:first-child a {
    border-left: none;
}

.ft-policy-links li a {
    color: #f3f3f3;
    padding: 0 .5rem 0 .5rem;
    font-size: .9rem;
    border-left: 1px solid #f3f3f3;
}

.bottom_copyright {
    background: #383838;
    color: #fff;
}

.bottom_copyright .container {
    padding: 0.5rem 1rem;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.all-visible {}

.all-visible .btn-readmore {
    display: none;
}

.text_container .btn-readless {
    display: none;
}

.all-visible.text_container .btn-readless {
    display: block;
}

.all-visible .d-none {
    display: block !important;
}

.btn-readmore:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn-readless:hover {
    cursor: pointer;
    opacity: 0.8;
}

#back-to-top {
    transform: rotate(0deg);
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 9;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(5 75 160 / 95%);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px 15px;
    /* Some padding */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    transition: ease-in all 0.2s;
}

#back-to-top:after {
    content: "";
    height: 0px;
    position: absolute;
    bottom: -6px;
    left: -8px;
    width: 70%;
    transform: rotate(20deg);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32);
}

#back-to-top:hover {
    transition: ease-in all 0.2s;
    background-color: rgb(5 75 160 / 75%);
    /* Add a dark-grey background on hover */
    transform: rotate(0deg);
}

#back-to-top:hover:after {
    display: none;
}

.other_news {
    transition: ease all 0.6s;
    transform: translateY(0px);
}

.other_news:hover {
    transition: ease all 0.6s;
    transform: translateY(-5px);
}

.other_news--thumb {
    height: 240px;
    overflow: hidden;
    position: relative;
}

.other_news--thumb img {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: cover;
}

.other_news--desc {
    background: #fff;
    padding: 1.5rem;
}

.other_news--desc h3 {
    font-size: 26px;
    line-height: 31px;
    text-shadow: 0 0 black;
    font-weight: 500;
    height: 70px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.5rem;
}

.other_news--desc p {
    font-size: 20px;
    margin-bottom: 1rem;
    text-shadow: 0 0 black;
    font-weight: 400;
    line-height: 24px;
}

.other_news--desc a {
    font-size: 16px;
    line-height: 28px;
    color: #6b68af !important;
    border: 0px;
    padding: 0px;
    border-radius: 0px;
    padding: 0.6rem 0rem;
    transform: translateY(0px);
    transition: ease all 0.6s;
    font-weight: 600;
}

.other_news--desc a span {
    font-size: 12px;
    position: relative;
    top: -2px;
    transition: ease all 0.4s;
    left: 0px;
}

.other_news--desc a:hover span {
    transition: ease all 0.4s;
    left: 10px;
}

.other_news--desc img {
    width: auto !important;
    display: inline-block !important;
}

.breadcrumb-sl-inner {
    position: relative;
    width: 100%;
    z-index: 9;
    top: 0;
    background: #f6f6f3;
    padding: 10px 0;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.breadcrumb-sl-inner ul li {
    color: #ff6161;
    display: inline-block;
    font-weight: 600;
    text-transform: capitalize;
}

.breadcrumb-sl-inner ul li a {
    color: #000;
    text-transform: capitalize;
}

.breadcrumb-sl-inner ul li:after {
    content: "\f101";
    padding: 0 10px;
    display: inline-block;
    position: relative;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #000;
}

.breadcrumb-sl-inner ul li:nth-last-child(1):after {
    content: " ";
}

.chairman-blocks a {
    color: #fff;
}

a:link,
a:visited {
    text-decoration: none;
}

.bg-blue {
    background-color: #006db7 !important;
}

.boxzoom {
    transition: ease all 0.5s;
    transform: translateY(0px) scale(1.0);
}

.h-100 {
    height: 100% !important;
}

.d-block {
    display: block !important;
}

.txt-sm {
    font-size: 1rem;
}

.signature {
    font-size: 18px;
    font-weight: 500;
}

.signature span {
    display: block;
    font-size: 14px;
}

.bg-green {
    background-color: #28a49a !important;
}

.bg-gray {
    background: #f1f1f1;
}

.p-3 {
    padding: 1rem !important;
}

.resources .txt-md {
    font-size: 1.25rem !important;
}

a:link,
a:visited {
    text-decoration: none;
}

.resources .btn-outline-primary {
    color: #28a49a;
    border-color: #28a49a;
    transition: ease all 0.3s;
    border-radius: 20px;
}

.resources .btn {
    border-radius: 20px;
    padding: 0 1.2rem;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.heading {
    border-left: 5px solid #18a790;
    font-size: 22px;
}

.heading {
    font-weight: 500;
    color: #494949;
    margin-bottom: 0.5rem;
}

.panel.box-shadow.border-radius.bg-white .form-group label {
    margin-right: 10px;
}

/* ------------- new css for home video slider ------------- */

.video_section {
    position: relative;
    height: 100%;
    cursor: pointer;
    margin-top: 30%;
}

.video-modal-slider {
    position: relative;
}

.video-modal .owl-prev {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background: #fff !important;
    width: 35px;
    border-radius: 100% !important;
    outline: 0;
    box-shadow: 0 1px 1px #b1b1b1;
    height: 35px;
}

.video-modal .owl-next {
    position: absolute;
    left: 20%;
    bottom: 10%;
    background: #fff !important;
    width: 35px;
    border-radius: 100% !important;
    outline: 0;
    box-shadow: 0 1px 1px #b1b1b1;
    height: 35px;
}

.video-modal-slider p {
    position: absolute;
    bottom: 14%;
    right: 10%;
    background-color: #fff;
    padding: 10px;
    line-height: normal;
}

.seoHeading {
    color: #054ba0;
    display: inline-block;
    padding-bottom: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    position: relative;
    font-size: 2rem;
}

.seoHeading:after {
    content: "";
    border-bottom: 5px solid #f89d2a;
    display: block;
    bottom: 0px;
    position: absolute;
    width: 100%;
    max-width: 400px;
}