* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 1.2rem 2rem;
}

/* .img-fluid { */
/* max-width: 100%; */
/* height: auto; */
/* width: 14rem; */
/* } */

a.back--button {
    color: #293378;
    font-size: 17px;
}

a.back--button:hover {
    color: #a2abe4;
    text-decoration: none;
}

h2.welcome-note {
    color: #52a7dd;
    font-weight: 700;
    font-size: 1.5rem;

}

h2.gas__day-note {
    color: #5fc095;
    font-weight: 700;
    font-size: 1.5rem;
}

p.updated-time {
    font-size: 1rem;
    color: grey;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

hr.line-1 {
    background-color: #283478;
    border: none;
    height: 0.5px;
    margin: 0;
}

hr.line-2 {
    background-color: #283478;
    border: none;
    height: 0.5px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.container-fluid {
    background-color: #f4f4f4;
}

.container.welcome--msg {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.dashboard--row {
    display: flex;
}

.col-md-6.col-bg-1 {
    height: 14rem;
    background-color: #52a7dd;
    margin-right: 4.5rem;
    flex: 0 0 48%;
}

.col-md-6.col-bg-2 {
    height: 14rem;
    background-color: #5fc095;
    flex: 0 0 48%;
}

.col-md-6.gas--info-1 {
    margin-right: 4.5rem;
    padding: 0;
    flex: 0 0 48%;
}

.col-md-6.gas--info-2 {
    padding: 0;
    flex: 0 0 48%;
}

.rlng--para {
    background-color: #fff;
    padding: 2rem 3rem 2rem 3rem;
}

.rlng--para p {
    /* font-size: 1.4rem; */
    /* color: gray; */
    /* letter-spacing: 0.2px; */
}

.container.second__gas--para {
    padding-top: 4rem;
}

.pressure--row {
    display: flex;
}

p.dashboard__top--text {
    position: absolute;
    top: 1rem;
    color: #fff;
    font-size: 1.4rem;
}

.container.dashboard--pressure {
    padding-top: 2rem;
}

.row.dashboard--row {
    justify-content: space-between;
    position: relative;
}

.row.pressure--row {
    justify-content: space-between;
    position: relative;
}

p.dashboard__top--text {
    position: absolute;
    top: 1rem;
    color: #fff;
}

h6.dash--title {
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #283478;
}

p.dashboard__sub--value {
    position: absolute;
    top: 7rem;
    right: 1.3rem;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
}

.col-md-4.col-bg-11,
.col-md-4.col-bg-22,
.col-md-4.col-bg-33 {
    background-color: #fff;
    min-height: 9rem;
    flex: 0 0 31.5%;
}

.col-md-4.col-bg-11 {
    margin-right: 3rem;
}

.col-md-4.col-bg-22 {
    margin-right: 3rem;
}

.col-md-4.col-bg-11:hover,
.col-md-4.col-bg-22:hover,
.col-md-4.col-bg-33:hover {
    transition: ease all .5s;
    transform: translateY(0) scale(1.01);
    box-shadow: 0 14px 24px rgb(62 57 107 / 20%);
}

p.pressure__top--text {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: gray;
}

h4.pressure__sub--value {
    font-size: 2.5rem;
    font-weight: 600;
    color: #52a7dd;
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.container.second__gas--day {
    padding-top: 4rem;
}

.container.dashboard--head {
    padding-top: 4rem;
}

p {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.footer {
    background-color: #4e4e4e;
    margin-top: 3rem;
}

p.copy-1 {
    font-size: 1.3rem;
}

a.footer-link {
    color: lightgray;
    font-size: 1.3rem;
}

a.footer-link:hover,
a.footer-about:hover {
    text-decoration: none;
    color: #fff;
}

a.footer-about {
    color: lightgray;
    font-size: 1.3rem;
}

.col-md-12.disclaim-box {
    display: flex;
    align-items: center;
    border: 1px solid #e8e4c6;
    background-color: #fffcd1;
    margin-top: 4rem;
}

img.warn--img {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    padding: 1rem;
}

ul.ul--list {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 1rem;
}

li.li--list:last-child {
    margin-left: 8rem;
}

p.disclaim-para {
    color: #717170;
    font-size: 12px;
}

@media(max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}

@media (max-width:600px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        width: 16rem;
    }

    .dashboard--row,
    .pressure--row {
        display: flex;
        flex-direction: column;
    }

    .col-md-4.col-bg-11,
    .col-md-4.col-bg-22,
    .col-md-6.col-bg-1 {
        margin-bottom: 2rem;
    }

    p.copy-1 {
        text-align: center;
    }

    a.back--button {
        font-size: 2rem;
    }

    ul.ul--list {
        display: flex;
        list-style: none;
        float: none;
        margin-top: 1rem;
        justify-content: center;
    }

    .container.welcome--msg {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 1rem;
        flex-direction: column;
    }

    h6.dash--title {
        padding-top: 2rem;
    }

    .col-md-6.col-bg-1,
    .col-md-6.col-bg-2 {
        flex: auto;
    }
}