* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
}

.navbar {
    box-shadow: rgb(33 35 38 / 10%) 0px 10px 10px -10px;
}

/* .img-fluid { */
/* max-width: 100%; */
/* height: auto; */
/* } */
/* .img-fluid1 { */
/* max-width: 100%; */
/* width: 9rem; */
/* } */

a.back--button {
    color: #293378;
    font-size: 17px;
}

a.back--button:hover {
    color: #a2abe4;
    text-decoration: none;
}

h2 {
    color: #fff;
    font-weight: 700;
    /* letter-spacing: 1px; */
    margin-bottom: 1rem;
}

h5 {
    margin: 0;
    font-weight: 700;
}

h6 {
    color: #fff;
    /* letter-spacing: 1px; */
    /* letter-spacing: 1.3px; */
}

.ship {
    background-image: center/cover url("bg_image.jpg") no-repeat;
    background-size: cover;
    height: 90vh;
    overflow: hidden;

}

p.about-1 {
    float: right;
}

p {
    margin-top: 1rem;
}

.footer {
    background-color: #4e4e4e;
}

.login-page {
    margin: auto;
    position: relative;
}

.form1 {
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    max-width: 30rem;
    padding: 45px;
    top: 5rem;
    right: 0;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    background-color: #828587;
    opacity: 0.80;
}

.form {
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    max-width: 30rem;
    padding: 45px;
    top: 5rem;
    right: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #5cacdf;
    opacity: 0.94;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    outline: 0;
    background: #293378;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 1.5rem;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #6b79d8;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

a.footer-link {
    color: lightgray;
    font-size: 0.8rem;
}

a.footer-link:hover,
a.footer-about:hover {
    text-decoration: none;
    color: #fff;
}

a.footer-about {
    color: lightgray;
    font-size: 0.8rem;
}

ul.ul--list {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 1rem;
}

li.li--list:last-child {
    margin-left: 8rem;
}

@media (max-width:600px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        width: 7rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {

    a.back--button {
        font-size: 12px;
    }

    .form {
        position: absolute;
        top: 1.5rem;
        right: 0;
    }

    p.copy-1 {
        text-align: center;
    }

    ul.ul--list {
        display: flex;
        list-style: none;
        float: none;
        margin-top: 1rem;
        justify-content: center;
    }

    h2 {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 425px) and (max-width: 600px) {
    a.back--button {
        font-size: 16px;
    }

    .form {
        position: absolute;
        top: 1.5rem;
        right: 0;
    }

    p.copy-1 {
        text-align: center;
    }

    ul.ul--list {
        display: flex;
        list-style: none;
        float: none;
        margin-top: 1rem;
        justify-content: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .form {
        position: absolute;
        top: 2.5rem;
        right: 0;
    }
}


.form-control-select {
    display: block;
    width: 100%;
    /* height: calc(1.5em + 0.75rem + 2px); */
    /* padding: 15px; */
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: gray;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 50px;
}