#menu-toggle,
.mainNav li {
    position: relative;
}

.mainNav {
    float: right;
    padding: 26px 5px 0 0;
    ;
    display: block;
}

.mainNav>li {
    display: inline-block;
    margin: 0;
}

.mainNav>li>a {
    color: #474c4e;
    font-size: 14px;
    line-height: 28px;
    padding: 13px 15px 5px;
    text-decoration: none;
    border-bottom: 3px solid #fff;
    display: inline-block;
}

.mainNav>li.current-menu-item>a,
.mainNav>li:hover>a {
    color: #ef7104;
    background: #fff;
    border-bottom: 3px solid #ef7104;
}

#menu-toggle {
    display: none;
    /* float: right; */
    width: 25px;
    height: 20px;
    margin-right: 10px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    margin-top: 20px;
}

#menu-toggle .lines {
    position: relative;
    height: 3px;
    background: #ef7104;
    width: 22px;
    display: block;
    margin: 6px 0 0;
    transition: all .2s ease;
}

#menu-toggle .lines:after,
#menu-toggle .lines:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ef7104;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transform-origin: .28571rem center 0;
    -webkit-transform-origin: .28571rem center 0;
    -moz-transform-origin: .28571rem center 0;
    -ms-transform-origin: .28571rem center 0;
    -o-transform-origin: .28571rem center 0;
}

#menu-toggle .lines:after {
    top: 6px;
}

.maneActive .lines {
    background: 0 0 !important;
}

.maneActive .lines:before {
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
}

.maneActive .lines:after {
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
}

.subMedia {
    margin-left: -75px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

@media screen and (max-width:1025px) {
    ul.mainNav .navBg {
        width: 715px !important;
    }
}

@media screen and (max-width:980px) {
    .mainNav {
        display: block;
    }
}

@media screen and (max-width:991px) {
    .logo img {
        margin: 10px 0 10px 0;
    }

    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width:979px) {
    #menu-toggle {
        display: block;
        margin-top: 20px;
    }

    .headerDown #menu-toggle {
        margin-top: 20px;
    }

    .mainNav {
        display: none;
        float: none;
        position: absolute;
        width: 100%;
        background: #fff;
        left: 0;
        z-index: 1000;
        padding: 7px 0 0;
    }

    .mainNav>li {
        display: block;
        margin: 0;
        transition: all .3s ease;
    }

    .mainNav>li:nth-child(odd) {
        transform: scale(.5) translateX(-100%);
        -webkit-transform: scale(.5) translateX(-100%);
        -moz-transform: scale(.5) translateX(-100%);
        -ms-transform: scale(.5) translateX(-100%);
        -o-transform: scale(.5) translateX(-100%);
    }

    .mainNav>li:nth-child(even) {
        transform: scale(.5) translateX(100%);
        -webkit-transform: scale(.5) translateX(100%);
        -moz-transform: scale(.5) translateX(100%);
        -ms-transform: scale(.5) translateX(100%);
        -o-transform: scale(.5) translateX(100%);
    }

    .navSlid {
        transform: scale(1) translateX(0) !important;
        -webkit-transform: scale(1) translateX(0) !important;
        -ms-transform: scale(1) translateX(0) !important;
        -moz-transform: scale(1) translateX(0) !important;
        -o-transform: scale(1) translateX(0) !important;
    }

    .mainNav>li>a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        line-height: 45px;
        display: block;
        padding: 0 15px;
        position: relative;
        font-size: 18px;
    }

    .mainNav>li>a:after {
        position: absolute;
        content: '';
        top: 18px;
        right: 15px;
        border: 2px solid transparent;
        border-top: 2px solid #454545;
        width: 9px;
        height: 9px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        border-radius: 3px;
    }

    ul.sub-menu {
        display: none;
        left: 0;
        top: 0;
        padding-top: 0;
        position: relative;
        width: 100%;
        border: none;
        height: 0;
    }

    ul.sub-menu>li>a {
        background-color: #f5f5f5;
        border-bottom: 1px solid rgba(0, 0, 0, .5);
        color: #333;
        display: block;
        line-height: 46px;
        padding: 0 12px;
    }

    ul.sub-menu>li:first-child {
        border-top: none;
    }

    .mainNav>li.current-menu-item>a,
    .mainNav>li:hover>a {
        border-bottom: 1px solid #E76C3A
    }

    .mainNav {
        top: 60px;
    }

    .headerDown .mainNav {
        top: 50px;
    }
}

@media screen and (max-width:640px) {
    #menu-toggle {
        margin-top: 20px;
    }

    .mainNav {
        top: 53px;
    }

    .logo img {
        width: 100px;
    }
}

@media screen and (max-width:910px) {
    .mainNav>li>a:after {
        position: absolute;
        content: '';
        top: 18px;
        right: 15px;
        border: 2px solid transparent;
        border-top: 2px solid #454545;
        border-right: 2px solid #454545 !important;
        width: 9px;
        height: 9px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        border-radius: 3px;
    }
}

ul.mainNav .navBg {
    background: #fff;
    position: absolute;
    left: 0;
    width: 760px;
    height: 164px;
    padding: 0;
    top: 48px;
    display: none;
    z-index: 1500;
    overflow: hidden;
    transform: translate3d(0, 0, 0) translateZ(0);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .3);
}

.fourMenuItem {
    height: 250px !important;
}

ul.mainNav .fourMenuItemHeight {
    height: 165px !important;
}

ul.mainNav .fiveMenuItemHeight {
    height: 206px !important;
}

ul.mainNav .fiveMenuItemHeightAboutUs {
    height: 204px !important;
}

ul.mainNav .threeMenuItemAboutUsHeight {
    height: 164px !important;
}

ul.mainNav .sixMenuItemHeight {
    height: 247px;
}

ul.mainNav .fourMenuItemHeightAboutUs {
    height: 244px;
}

/* .navBg .prodImg {
    height: 140px;
    width: 140px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
} */

.navBg .prodImg {
    height: 140px;
    width: 140px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

/* .navBg .prodImg img {
    width: 100%;
    max-width: 100%;
} */

.navBg .prodImg img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #000;
}

ul.mainNav .subNav {
    width: 225px;
    float: left;
    border-top: 1px solid rgba(0, 0, 0, .2);
    height: 247px;
}

ul.mainNav .subNav>li>a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #333;
    padding: 0 10px 0 17px;
    margin: 0;
    line-height: 40px;
    font-size: 13px;
    position: relative;
    text-decoration: none;
}

ul.subNav {
    padding-left: unset;
}

ul.mainNav .subNav>li.subLi_select>a {
    background: #ef7104;
    color: #fff;
}

ul.mainNav .subNav>li.subLi_select>a:after {
    position: absolute;
    content: '';
    top: 0;
    right: -11px;
    border-top: 20px solid transparent;
    border-left: 11px solid #ef7104;
    border-bottom: 20px solid transparent;
    z-index: 500;
}

ul.subNav .subNav_thirdBg {
    padding: 0;
    position: absolute;
    top: -1px;
    left: 225px;
    display: none;
    width: 360px;
    height: 173px;
}

.subNav_thirdBg p {
    padding: 15px 20px 20px;
    font-size: 13px;
    color: rgba(50, 50, 50, .8);
}

ul.mainNav .thirdNav>li>a,
ul.thirdNav .FourthNav>li>a {
    padding: 0 10px 0 20px;
    margin: 0;
    line-height: 40px;
    font-size: 14px;
}

ul.mainNav .thirdNav {
    width: 200px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    height: 245px;
}

ul.mainNav .thirdNav>li>a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #333;
}

ul.mainNav .thirdNav>li.thirdLi_select>a {
    background: #fe8651;
    color: #fff;
}

ul.mainNav .thirdNav>li.thirdLi_select>a:after {
    position: absolute;
    content: '';
    top: 0;
    right: -11px;
    border-top: 20px solid transparent;
    border-left: 11px solid #fe8651;
    border-bottom: 20px solid transparent;
    z-index: 500;
}

ul.thirdNav>li>.FourthNav {
    position: absolute;
    left: 200px;
    top: 0;
    width: 200px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    display: none;
    height: 247px;
}

ul.thirdNav .FourthNav>li>a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #333;
}

ul.thirdNav .FourthNav>li>a:hover {
    background: #1ca2f8;
    color: #fff;
}

.subNav_thirdBgWithoutChild {
    max-width: 530px;
    float: left;
    padding: 15px 20px 20px;
    font-size: 13px;
    color: rgba(50, 50, 50, .8);
}

@media screen and (max-width:979px) {
    ul.mainNav .navBg {
        display: none;
        opacity: 1;
        visibility: hidden;
    }
}

.navBg .navText {
    padding: 10px 20px 20px 10px;
    font-size: 13px;
    color: rgba(50, 50, 50, .8);
    margin: 0 165px 0 240px;
}

.timeline-Viewport {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}