/*Added by Ritu*/
.oneVision>article,
.oneVision>aside,
.oneVision>field,
.oneVision>figcaption,
.oneVision>figure,
.oneVision>footer,
.oneVision>h2,
.oneVision>h3,
.oneVision>h4,
.oneVision>h5,
.oneVision>h6,
.oneVision>header,
.oneVision>hgroup,
.oneVision>input,
.oneVision>label,
.oneVision>li,
.oneVision>nav,
.oneVision>section,
.oneVision>textarea,
.oneVision>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
}

.bg-gray {
    background: #ebebeb;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.ul-bullets {
    padding-left: 20px;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.oneVision>a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.oneVision>a:link,
a:visited {
    text-decoration: none;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.ul-bullets li {
    list-style-type: disc;
}

.bg-gradient {
    background: #1b9f94;
    background: linear-gradient(to right, #1b9f94 0, #316db3 100%);
}

.btn-white {
    border: 2px solid #fff;
    transition: ease all .5s;
    color: #fff;
}

.p-3 {
    padding: 1rem !important;
}

.border-left {
    border-left: 5px solid #18a790 !important;
}

.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-white {
    background: #fff;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
}

.bg-white {
    background-color: #fff !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, .125);
}

.b-o-director {
    height: 225px;
    overflow: hidden;
}

.b-o-director img {
    width: 100%;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.directors-tile .card-body {
    min-height: 110px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.directors-tile .card-body h4 {
    color: #1c9d96;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-text:last-child {
    min-height: 42px;
    margin-bottom: 0;
    color: #fff;
    font-size: .8em;
}

.heading {
    border-left: 5px solid #18a790;
    font-size: 28px;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.ClsOneVision.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.d-block {
    display: block !important;
}

.mediaHovBg.oneVisionbottom {
    bottom: -50px;
}

.mediaHovBg.oneVisionbottom h4 {
    font-size: 20px;
    color: #fff;
    margin: 0;
    margin-bottom: 0.75rem;
}

.mediaHovBg.oneVisionbottom .btnLearn p {
    margin-top: 10px;
}

.modal-body p {
    margin-top: 10px;
}

.oneVision h1,
.oneVision p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
}

.groupImgBox h4>a {
    color: #000;
}

@media (max-width: 560px) {

    .trustCont:hover .hovLayer,
    .entreCont:hover .hovLayer,
    .resultsCont:hover .hovLayer {
        top: 60%;
    }

    .about_img:hover .hovLayer {
        top: auto !important;
        height: 21%;
        bottom: 0;
    }

    .about_img:hover .hovLayer.layerTrust {
        height: 37%;
    }

    .about_img:hover .hovLayer.layerCommit {
        height: 37%;
    }

    .about_img:hover .hovLayer.layerPassion {
        height: 40%;
    }

    .about_img.resultsCont:hover .hovLayer {
        height: 30%;
    }

    .about_img.entreCont:hover .hovLayer {
        height: 30%;
    }
}

@media (max-width: 520px) {
    .about_img.integrationCont:hover .hovLayer.layerTrust {
        height: 55%;
    }

    .about_img.dedicationCont:hover .hovLayer {
        height: 44%;
    }
}

@media (max-width: 480px) {
    .about_img:hover .hovLayer.layerTrust {
        height: 42%;
    }

    .about_img:hover .hovLayer.layerCommit {
        height: 42%;
    }

    .about_img:hover .hovLayer.layerPassion {
        height: 47%;
    }

    .about_img.resultsCont:hover .hovLayer {
        height: 47%;
    }

    .about_img.integrationCont:hover .hovLayer.layerTrust {
        height: 63%;
    }

    .about_img.dedicationCont:hover .hovLayer {
        height: 49%;
    }
}

@media (max-width: 460px) {
    .about_img:hover .hovLayer.layerCommit {
        height: 55%;
    }

    .about_img.dedicationCont:hover .hovLayer {
        height: 63%;
    }
}

@media (max-width: 400px) {
    .about_img:hover .hovLayer {
        height: 30%;
    }

    .about_img:hover .hovLayer.layerTrust {
        height: 53%;
    }

    .about_img:hover .hovLayer.layerCommit {
        height: 65%;
    }

    .about_img:hover .hovLayer.layerPassion {
        height: 77%;
    }

    .about_img.resultsCont:hover .hovLayer {
        height: 60%;
    }

    .about_img.integrationCont:hover .hovLayer.layerTrust {
        height: 93%;
    }

    .about_img.dedicationCont:hover .hovLayer {
        height: 77%;
    }

    .about_img.entreCont:hover .hovLayer {
        height: 40%;
    }
}

@media (max-width: 380px) {
    .about_img:hover .hovLayer {
        height: 43%;
    }

    .about_img:hover .hovLayer.layerCommit {
        height: 77%;
    }
}

@media (max-width: 350px) {
    .about_img:hover .hovLayer.layerTrust {
        height: 77%;
    }

    .about_img:hover .hovLayer.layerCommit {
        height: 90%;
    }

    .about_img:hover .hovLayer.layerPassion {
        height: 89%;
    }

    .about_img.resultsCont:hover .hovLayer {
        height: 70%;
    }

    .about_img.integrationCont:hover .hovLayer.layerTrust {
        height: 100%;
    }

    .about_img.integrationCont h5 {
        margin-bottom: 2px;
    }

    .about_img.dedicationCont:hover .hovLayer {
        height: 100%;
    }

    .about_img.entreCont:hover .hovLayer {
        height: 70%;
    }
}

@media (max-width: 440px) {
    .about_img.integrationCont:hover .hovLayer.layerTrust {

        height: 83%;
    }
}

.cookies-layer {
    background: #fff;
    width: 23.75rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 15%) 0 10px 37px;
    border: 0.5px solid rgba(118, 118, 118, .28);
    position: fixed;
    left: 1.5625rem;
    bottom: 1.5625rem;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    z-index: 111;
}

.icon_button {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 1.125rem;
    cursor: pointer;
    display: flex;
    height: 2.25rem;
    justify-content: center;
    position: relative;
    transition: background-color .5s;
    width: 2.25rem;
    cursor: pointer;
    margin-left: -0.75rem;
    margin-bottom: 0.5rem;
    margin-top: -0.75rem;
}

.cookiesContent {
    display: flex;
    flex-direction: column;
}

.cookiesContent .primary_waves {
    background-color: #222;
    border-color: #222;
    transition: -ms-transform .1s ease 0s, -webkit-transform .1s ease 0s, transform .1s ease 0s;
    font-size: 1rem;
    margin-top: 1.5625rem;
    margin-left: auto;
    color: #fff;
    font-weight: bold;
}

.cookiesContent .btn {
    padding: 0.625rem 2rem;
}

.cookiesContent .btn {
    border-radius: 40px;
}

.cookies-layer h3 {
    margin: 0;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
    color: #000;
}

.cookiesContent p {
    margin: 0;
    color: #000;
    font-size: .9375rem;
}

.cookies-layer .icon_button svg {
    width: 1.25rem;
    fill: #555;
    vertical-align: middle;
}

.modal.show {
    opacity: 1;
}

.modal.fade.show .modal-dialog {
    transform: none;
}

.modal-dialog {
    max-width: 100%;
}

.modal-header {
    justify-content: end;
}

.modal-footer button {
    margin: 0;
}

.modal-backdrop.fade.show {
    filter: alpha(opacity=50);
    opacity: .5;
}

.d-none {
    display: none
}