@media (min-width: 992px){
	.menu-column .navbar-collapse{
	    display:block;
	    text-align: right;
	}
	.menu-column .dismiss-menu {
	    display:none;
	}
	.top-right-column .open-menu {
	    display:none;
	}


}
@media (max-width: 991px){
		.tpa-logo-listing img {
    width:100%;
}
	.menu-column .navbar-collapse {
	    width: 250px;
	    position: fixed;
	    top: 0;
	    right: 0;
	    height: 100vh;
	    overflow-y: auto;
	    z-index: 999;
	    color: #fff;
	    transition: all 0.3s;
	    margin-right: -250px !important;
	    background: #fff;
	}
	.menu-column .navbar-collapse.show{
	    margin-right: 0 !important;
	}
	.top-right-column {
    	padding-right: 0px;
	}
	.menu-column .dismiss-menu {
	    text-align: right;
	    cursor: pointer;
	    -webkit-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	    padding: 0.25rem 1rem;
	    background: rgba(0,0,0,0.3);
	    background: #eaeaea;
	    color: #000;
	    width: 100%;
	    border-radius: 0;
	    font-size: 16px;
	    line-height: 1.4;
	}
	.menu-column .dismiss-menu:hover {
    	background: rgba(0,0,0,0.4);
    	color: #fff;
	}
	ul.main-menu li {
    	display: block;
	}
	header ul.main-menu li a{
		padding: 14px 30px;
		border-bottom: 1px solid #eae9e9;
	}
	.services-contain ul li a .service-title{
    	display:none;
	}
	.service-icon img{
		width: 50px;
		right: 0;
    	margin: auto auto;
    	bottom: 0;
	}
	.servies-box{
		min-height: 155px;
		padding: 28px 15px 25px;
	}
	.services-contain ul li{
		min-height: 155px;
	}
	ul.social-menu li a {
    	padding: 0px 10px;
	}


}

@media (max-width: 767px){

.padding-lr-0 {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    height: 100%;
}
	.slider-details {
    left: 37px;
}

	section.slider-section {
    	margin-top: 83px;
	}
	header .logo img {
    	width: 190px;
	}
	header.sticky-header .logo img {
    	width: 190px;
	}
	.service-icon {
	    width: 30px;
	    height: 30px;
	}
	.service-icon img{
		width: 30px;
		right: 0;
    	margin: auto auto;
    	bottom: 0;
	}
	.servies-box{
		min-height: auto;
		padding: 18px 15px 12px;
	}
	.services-contain ul li{
		min-height: auto;
		width: 20%;
	}
	.services-contain ul li .servies-box:before {
    	height: 40px;	
    }
    section.image-grid-section .slick-dots{text-align: center;}
	section.image-grid-section .slick-dots li{
    	width: auto;
    	float: none;
	}
	.copyright-menu ul {
    	text-align: center;
    	padding-bottom: 10px;
	}
	.copyright-menu ul li {
    	display: inline-block;
	}
	.copyright-menu ul li:last-child a{
		border-right: 0px;
	}
	.copyright-menu ul li a {
	    font-size: 10px;
	    padding: 0px 4px;
	    border-right: 1px solid #fff;
	}
	.copyright {
    	padding: 11px 0px;
	   	text-align: center;
	}
	ul.social-menu {
		margin-top: 20px;
		text-align: center;
	}
	ul.social-menu li a {
	    padding: 0px 15px;
	}
	section.tab-section .tab-content{
		margin-top: 20px;
	}
	.services-content-section .left-content--img-box img{
		margin-bottom: 20px;
	}
	.services-content-section .content--img-box{
		text-align: center !important;
	}
	.slider-item{
		height: 420px;
	}
	.slider-details h2.slider-title{
		font-size: 25px;
		line-height: 36px;
	}
	.slider-details h3.slider-subtitle{
		font-size: 13px;
    	line-height: 34px;
	}
	section.tab-section.services-content-section {
    	margin-bottom: 20px;
	}
	.services-content-section {
    	padding: 20px 0px;
	}
	section.section-details {
    	padding: 20px 0px;
	}
	.breadcrumb {
    	padding: 50px 0px 0px 30px;
	}
	.mobile-sitemap {
    	display: block;
	}
	ul.big-menu li a {
    	font-size: 16px;
	}
	.footer-mobile-menu{
		display: none;
	}
	.sitemap-link {
	    width: 100%;
	    border: none;
	    outline: none;
	    cursor: pointer;
	    background: #00594d;
	    background: -moz-linear-gradient(left, #00594d 0%, #0bb187 100%);
	    background: -webkit-linear-gradient(left, #00594d 0%,#0bb187 100%);
	    background: linear-gradient(to right, #00594d 0%,#0bb187 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00594d', endColorstr='#0bb187',GradientType=1 );
	    font-size: 16px;
	    color: #fff;
	    text-align: left;
	    padding: 8px 10px;
	    position: relative;
	    margin-bottom: 20px;
	}
	.sitemap-link:before{
	    content: "\f107";
	    position:absolute;
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 900;
	    right:10px;
	}
	.sitemap-link.menu_open:before {
	    content: "\f106";
	}

		.empanelment-content-section h3 {
    margin-top: 40px;
}
.padding-left-8,
.padding-right-8 {
	padding-left: 15px;
	padding-right: 15px;
}
.content-img-vc,
.content-text-vc {
    height: auto;
    display: block;
}
.inner-slider-section .slider-details {
    padding-left: 20px;
}
}


@media (max-width: 575px){
	.contact-detail.border-r:before {
	    content: "";
	    position: absolute;
	    height: 2px;
	    width: 100%;
	    background-color: #fff;
	    right: 0;
	    bottom: 0;
	}
	.contact-effects:before{
		transform: scale(1);
	}
}

@media (max-width: 480px){
	header .logo img {
    	width: 130px;
	}
	header.sticky-header .logo img {
    	width: 130px;
	}
	ul.top-right li span {
    	display: none !important;
	}
	ul.top-right li a img{
		width: 30px;
	}
	section.slider-section {
    	margin-top: 72px;
	}
	/*.services-contain ul li{
		min-height: 155px;
		width: 50%;
	}
	.services-contain ul li .servies-box:before {
	    height: 30px;
	}*/


}


@media (min-width: 992px) and (max-width: 1115px) {
	.top-right-column {
    	padding-right: 0px;
	}
	header ul li a {
	    padding: 10px 20px;
	}

}