@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-ExtraLight.woff') format('woff'),
        url('../webfonts/Adani-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Medium.woff') format('woff'),
        url('../webfonts/Adani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular.woff') format('woff'),
        url('../webfonts/Adani-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular_1.woff') format('woff'),
        url('../webfonts/Adani-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Light.woff') format('woff'),
        url('../webfonts/Adani-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Bold.woff') format('woff'),
        url('../webfonts/Adani-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-SemiBold.woff') format('woff'),
        url('../webfonts/Adani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html, body{
	margin:0px;
	padding:0px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	position:relative;
	font-family: 'Adani-Regular';
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size:16px;
	background-color:#fff;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a:hover{
    text-decoration: none;
}
header{
    padding: 15px 25px;
    box-shadow: 4px 4px 8px rgba(0, 0 , 0, 0.21);
    margin-top: 0px;
    width: 100%;
    background-color: #fff;
}
header.sticky-header {
    padding: 5px 25px;
}
header.sticky-header .logo img{
    width: 200px;
}
header .logo img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 251px;
}
header .menu-column{
    align-items: center;
    display: inline-flex;
    justify-content: flex-end;
}
header ul li{
    display: inline-block;
    vertical-align: middle;
}
header ul li a{
    padding: 18px 30px;
    display: block;
    font-size: 17px;
    color: #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
ul.top-right li a {
    font-size: 16px;
    color: #026756;
    padding: 10px 0px;
}
ul.top-right li.emergency-number a{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
ul.top-right li.emergency-number a:hover{
    transform: scale(1.06);
}
ul.top-right li.emergency-number a img{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;   
    width: 38px;
}
header ul li a:hover {
    color: #026756;    
}
ul.top-right li a span{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    line-height: 17px;
}
ul.top-right li a img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
section.slider-section {
    margin-top: 91px;
    position: relative;
}
.slider-item {
    height: 560px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner-slider li{
    outline: none;
}

.padding-lr-0 {
    padding-left: 0;
    padding-right: 0;
}

.slider-container {
    position: absolute;
    height: 100%;
}

.slider-container .slider-details {
    top: 50%;
}

.slider-details {
    display: inline-block;
    background-color: rgba(1, 1, 1, 0.61);
    color: #fff;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
    padding: 10px 40px;
    position: relative;
    top: 56%;
    left: 10%;
    transform: translate(-10%, -56%);
}
.slider-details h2.slider-title {
    margin: 0;
    font-size: 35px;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.41);
    font-weight: 600;
    line-height: 50px;
}
.slider-details h3.slider-subtitle {
    margin: 0;
    font-size: 22px;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.41);
    line-height: 34px;
}
.services-contain {
   background: #00594d;
   background: -moz-linear-gradient(left,  #00594d 0%, #0bb187 100%);
   background: -webkit-linear-gradient(left,  #00594d 0%,#0bb187 100%);
   background: linear-gradient(to right,  #00594d 0%,#0bb187 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00594d', endColorstr='#0bb187',GradientType=1 );
   display: inline-block;
   width: 100%;
}
.services-contain ul {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.services-contain ul li {
    width: 20%;
    float: left;
    min-height: 252px;
    position: relative;
    margin-bottom: 0 !important;
}
.services-contain ul li a{
    padding: 0;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0;
}
.service-icon {
    position: relative;
    width: 96px;
    height: 90px;
    display: inline-block;
}
.service-icon img{
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    right: 0;
    margin: auto;
    bottom: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.service-icon img.green-services-icon{
    opacity: 0;
}
.service-title {
    font-size: 19px;
    color: #fff;
    position: relative;
    line-height: 20px;
}
.servies-box {
    padding: 50px 15px 45px;
    position: relative;
    min-height: 248px;
}
.services-contain ul li .servies-box:before{
    content:"";
    position:absolute;
    height: 69px;
    width: 1px;
    background-color: #ebebeb;
    right: 0;
    top: 40%;
    transform: translate(0%, -40%);
}
.services-contain ul li:last-child .servies-box:before{
    display:none;
}
.services-contain ul li a:before{
    content:"";
    position:absolute;
    background-color: #f9f8f9;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.22);
    transform: scale(1.10);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    transform-origin: center center;
}
.services-contain ul li a.active:before{
    opacity: 1;
}
.services-contain ul li a.active .service-title{
    color:#026455;
}
.services-contain ul li a.active .service-icon img.green-services-icon{
    opacity: 1;
    transform: scale(1.16);
}
.services-contain ul li a:hover:before{
    opacity:1;

}
.services-contain ul li a:hover .service-title {
    color:#026455;
}
.services-contain ul li a:hover .service-icon img{
    transform: scale(1.16);
}
.services-contain ul li a:hover .service-icon img.green-services-icon {
    opacity: 1;
}
ul.banner-slider{
    margin-bottom: 0 !important;
}
ul.banner-slider ul.slick-dots {
    bottom: 55px;
}
ul.banner-slider ul.slick-dots li{
    margin: 0 3px;
    width: 28px;
    height: 4px;
}
ul.banner-slider ul.slick-dots li button{
    width: 28px;
    height: 4px;
    padding: 0;
}
ul.banner-slider ul.slick-dots li button:before{
    content: "";
    width: 28px;
    height: 4px;
    background-color: #fff;
    opacity: 1;
}
ul.banner-slider ul.slick-dots li.slick-active{
}
ul.banner-slider ul.slick-dots li.slick-active button{

}
ul.banner-slider ul.slick-dots li.slick-active button:before{
    background-color: #005a4d;
    top: -5px;
}
section.services-section {
    margin-top: -30px;    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right;
}
.services-content h2 {
    color: #099d7a;
    font-size: 33px;
    font-weight: 600;
    margin: 15px 0px 35px;
}
.services-content p{
    font-size:17px;
    color:#000;
    line-height: 23px;
}
.services-content a{
    color: #00594d;
    font-size: 17px;
    text-shadow: 0px 0px 0px #00594d;
    margin-top: 15px;
    display: inline-block;
}
.services-content a:hover {
    text-decoration: underline;
}
.single-service-content {
    padding: 60px 0px;
}
section.image-grid-section {
    position: relative;
}
section.image-grid-section ul{
    display:inline-block;
    width:100%;
    vertical-align: middle;
}
section.image-grid-section ul li{
    width: 33.3%;
    float: left;
}
section.image-grid-section .image-grid{
    height: 345px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section.image-grid-section ul li a {
    display: block;
    overflow: hidden;
    position: relative;
}
section.image-grid-section ul li a:hover .image-grid{
    transform: scale(1.1);
}

section.image-grid-section ul li a .grid-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 25px 20px;
    left: 0;
}
section.image-grid-section ul li a .grid-title h3{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    position: relative;
    z-index: 1;
}
section.image-grid-section ul li a .grid-title a{
    font-size: 17px;
    font-weight: 600;
    color: #09a680;
    z-index: 1;
    position: relative;
}
section.image-grid-section ul li a .grid-title a:hover {
    opacity: 0.6;
}
section.image-grid-section ul li a .grid-title:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 110px 110px rgb(0, 0, 0);
    bottom: 0px;
    height: 0px;
}
section.image-grid-section ul li a .grid-title a span {
    background-color: #09a680;
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section.image-grid-section ul li a .grid-title a:hover span {
    margin-left:5px;
}
section.team-section {
    padding: 50px 0px;
}
.title{
    color: #099d7a;
    font-size: 28px;
    position: relative;
    padding-bottom: 18px;
}
.title:before{
    content:"";
    position:absolute;
    width:100px;
    height:2px;
    background-color:#005a4d;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
ul.team-slider {
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
ul.team-slider .slick-list{
    padding-top: 100px !important;
}
ul.team-slider .slick-slide img {
    display: block;
    margin: 0 auto;
}
ul.team-slider li{
    text-align:center;
    outline: none;
    padding: 0px 6px;
    position: relative;
    min-height: 200px;
}
.team-box {
    background: #ececec;
    padding: 105px 0px 0px 0px;
    position: absolute;
        -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    bottom: 0;
    width: 97%;
}
ul.team-slider li:hover .team-box{
    padding: 105px 0px 30px 0px;
}
.team-details {
    position: relative;
}
.team-box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #00594d;
    background: -moz-linear-gradient(top, #00594d 0%, #0bb187 100%);
    background: -webkit-linear-gradient(top, #00594d 0%,#0bb187 100%);
    background: linear-gradient(to top, #00594d 0%,#0bb187 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00594d', endColorstr='#0bb187',GradientType=1 );
}
.team-name {
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
.team-specialities {
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
}
.team-img {
    position: absolute;
    top: -85px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.team-img img {
    border: 2px solid #fff;
    border-radius: 100%;
}
/*ul.team-slider li:hover .team-box{
    background: #00594d;
    background: -moz-linear-gradient(top, #00594d 0%, #0bb187 100%);
    background: -webkit-linear-gradient(top, #00594d 0%,#0bb187 100%);
    background: linear-gradient(to top, #00594d 0%,#0bb187 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00594d', endColorstr='#0bb187',GradientType=1 );
}*/
ul.team-slider li:hover .team-box:before{
    opacity: 1;
}
ul.team-slider li:hover .team-name, ul.team-slider li:hover .team-specialities{
    color:#fff;
}
ul.team-slider li:hover .team-specialities{
    opacity:1;
}
ul.team-slider button.slick-arrow{
    z-index: 1;
}
ul.team-slider button.slick-prev.slick-arrow {
    left: -25px;
}
ul.team-slider button.slick-next.slick-arrow {
    right: -25px;
}
ul.team-slider button.slick-prev.slick-arrow:before{
    content: "\f053";
}
ul.team-slider button.slick-next.slick-arrow:before {
    content: "\f054";
}
ul.team-slider button.slick-arrow:before {
    content:"";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color:#000;
    opacity: 1;
}
.contact-section {
    background-color: #09a680;
    color: #fff;
}
.contact-detail{
    padding: 30px 0px;
    text-align: center;
    /*min-height: 186px;*/
}
.contact-effects {
    position: relative;
    height: 100%;
}
.contact-effects:before{
    content: "";
    position: absolute;
    background-color: #f9f8f9;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.22);
    transform: scale(1.10);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    transform-origin: center center;
}
.contact-effects:hover:before{
    opacity: 1;
}
.contact-effects .contact-detail{
    position:relative;
}
.contact-effects:hover h3, .contact-effects:hover p{
    color: #026455;
}
.contact-detail p {
    margin-bottom: 0;
    font-size:17px;
    line-height: 23px;
}
.contact-detail h3{
    font-size:22px;
}
.contact-detail.border-r {
    position:relative;
}
.contact-detail.border-r:before{
    content:"";
    position:absolute;
    height: 100px;
    width: 2px;
    background-color: #ebebeb;
    right: -15px;
}
.footer-menu h3 {
    color: #026455;
    font-size: 21.18px;
    margin-bottom: 15px;
}
.footer-menu ul li a{
    font-size: 14.66px;
    color:#000;
    font-weight: 400;
    text-shadow: 0px 0px 0px #000;
    padding: 5px 0px;
    display: block;
}
.footer-menu ul li a:hover{
    color:#026455;
}

.footer-bottom {
    background-color: #ebebeb;
    padding: 40px 0px;
}
ul.big-menu li a {
    color: #026455;
    font-size: 21.18px;
}
ul.big-menu li a:hover {
    color: #000;
}
ul.social-menu li{
    display: inline-block;
}
ul.social-menu li a{
    color:#026455;
    padding: 0px 18px;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
ul.social-menu li a:hover i{
    opacity:0.6;
}
.footer-logo {
    text-align: center;
    margin-top: 40px;
}
.footer-copyright {
    background-color: #383838;
    color: #fff;
    font-size: 14.66px;
}

.copyright-menu ul {text-align: right;}
.copyright-menu ul li{
    display: inline-block;
}
.copyright-menu ul li a{
    color: #fff;
    font-size: 14.66px;
    display: block;
    padding: 11px 15px;
}
.copyright-menu ul li a:hover {
    text-decoration: underline;
}
.copyright {
    padding: 11px 0px;
}
.top-right-column {
    padding-right: 50px;
}
.row.header-menu {
    justify-content: flex-end;
}
.inner-slider-section .slider-details{
    background-color: transparent;
    box-shadow: none;
    top: 50%;
    transform: translate(-10%, -50%);
    padding-left: 0;
}
.inner-slider-section .slider-details h2.slider-title{
    font-size: 32px;
}
.custom-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.breadcrumb {
    position: absolute;
    z-index: 1;
    padding: 50px 0px 0px 15px;
    left: 0;
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
.breadcrumb li a{
    color:#fff;
}
.breadcrumb li a:hover{
    color:#026756;
}
.breadcrumb li{
    font-size:21px;
    color:#fff;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.41);
    display: inline-block;
}
.breadcrumb li i {
    font-size: 17px;
    padding-right:5px;
}
section.section-details {
    padding: 50px 0px;
}
section.section-details p{
    font-size:16px;
    color:#433838;
}
.services-content-section{
    padding: 50px 0px;
}
section.gray-bg.services-content-section {
    background-color: #f7f7f7;
}

section.white-bg.services-content-section {
    background-color: #fff;
}
.services-content-section img{
    border: 1px solid rgba(41, 117, 106, 0.57);
    max-width: 100%;
}
.services-content-section p {
    font-size: 17px;
    color: #1b6967;
}
.services-content-section h3.content-title {
    font-size: 28px;
    color: #1b6967;
    position: relative;
    padding-bottom: 15px;
}
.services-content-section h3.content-title:before{
    content:"";
    position:absolute;
    width: 179px;
    height: 2px;
    background-color: #1b6967;
    bottom: 0;
    left: 0;
}
.services-content-section p strong {
    font-weight: 600;
}
section.tab-section h3.content-title:before{
    display:none;
}
section.tab-section .nav-link.active {
    background-color:#387e74;
    border-radius: 0;
    color:#fff;
    background: #00594d;
    background: -moz-linear-gradient(top, #286e64 0%, #387e74 100%);
    background: -webkit-linear-gradient(top, #286e64 0%,#387e74 100%);
    background: linear-gradient(to top, #286e64 0%,#387e74 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00594d', endColorstr='#0bb187',GradientType=1 );
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section.tab-section .nav-link:hover{
    background: -moz-linear-gradient(top, #286e64 0%, #387e74 100%);
    background: -webkit-linear-gradient(top, #286e64 0%,#387e74 100%);
    background: linear-gradient(to top, #286e64 0%,#387e74 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00594d', endColorstr='#0bb187',GradientType=1 );
}
section.tab-section .nav-link {
    background-color: rgba(41, 41, 41, 0.84);
    border-radius: 0;
    font-size:24px;
    color:#fff;
    margin: 5px 0px;
}
section.tab-section .nav-pills .nav-link:first-child{
    margin: 0px 0px 5px 0px;
}
section.tab-section .nav-pills .nav-link:last-child{
    margin: 5px 0px 0px 0px;
}
section.tab-section .tab-content {
    position: relative;
    height: 100%;
    background-color: rgba(0, 90, 77, 0.84);
    padding: 30px 30px;
}
.services-content-section .tab-content h3.content-title {
    color:#fff;
}
.services-content-section .tab-content p {
    color:#fff;
}
ul.social-menu {
    text-align: center;
}
.mobile-sitemap {
    display: none;
}
section.services-content-section .row{
    overflow: hidden;
}
.single-service-content .row {
    overflow: hidden;
}
.custom-row {
    display: block;
}
.custom-column-1 {
    float: right;
}
.custom-column-2 {
    float: left;
}


/*empanelment page style start*/
.empanelment-content-section {
    padding-top:92px;
}
.empanelment-content-section h3 {
    font-size:16px;
    font-weight:600;
    margin-top:-42px;
    color:#433838;
}
.empanelment-content-section p {
    color:#433838;
    font-size:16px;
    line-height:1.4
}
section.services-content-section.empanelment-content-section .row {
	overflow: visible; 
}
/*empanelment page style end*/


.content-img-vc {
    height: 340px;
    vertical-align: middle;
    display: table-cell;
} 
.content-text-vc {
    height: 230px;
    vertical-align: middle;
    display: table-cell;
}

.green-text {
    color: #1b6967;
}
.dark-text-color {
    color: #433838;
}

.padding-left-8 {
    padding-left: 7%;
}
.padding-right-8 {
    padding-right: 7%;
}

section.gray-bg {
    background-color: #f7f7f7;
}

.padding-tb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.green-heading-title {
    font-size: 28px;
    color: #1b6967;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.green-heading-title:before {
    content: "";
    position: absolute;
    width: 179px;
    height: 2px;
    background-color: #1b6967;
    bottom: 0;
    left: 0;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.third-party-administrators {
    padding: 40px 0 60px;
}
.tpa-logo-listing {
    max-width:1100px;
    padding-top:50px;
}
.tpa-logo-listing li {
    padding:0 0 25px;
}

ul.common-bullets li {
    position:relative;
    padding-left:10px;
}
ul.common-bullets li:before {
    content:'';
    position:absolute;
    height:4px;
    width:4px;
    top:10px;
    left:0;
    border-radius:10px;
    background:#1b6967;
}
ul.corporates-sliders {
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
ul.corporates-sliders li {
    text-align: center;
    outline: none;
    padding: 15px;
    position: relative;
    min-height: 200px;
    width: 19%;
    display: inline-block;
}
ul.corporates-sliders li img {
    width: 100%;
}
ul.corporates-sliders button.slick-arrow{
    z-index: 1;
}
ul.corporates-sliders button.slick-prev.slick-arrow {
    left: -25px;
}
ul.corporates-sliders button.slick-next.slick-arrow {
    right: -25px;
}
ul.corporates-sliders button.slick-prev.slick-arrow:before{
    content: "\f053";
}
ul.corporates-sliders button.slick-next.slick-arrow:before {
    content: "\f054";
}
ul.corporates-sliders button.slick-arrow:before {
    content:"";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color:#000;
    opacity: 1;
}

a.show-more-btn {
    font-weight:400;
    color: #1b6967;
    margin-top:30px;
    display:inline-block;
    cursor: pointer;
}
a.show-more-btn span {
    background-color: #ffffff;
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #000;
    top: 5px;
    position:relative;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a.show-more-btn span i {
    -webkit-transform:translate(-50%, -45%);
    -moz-transform:translate(-50%, -45%);
    transform:translate(-50%, -45%);
    position:absolute;
    top: 50%;
    left: 50%;
}
a.show-more-btn.icon-rotate span i {
    -webkit-transform:translate(-50%, -50%) rotate(180deg);
    -moz-transform:translate(-50%, -50%) rotate(180deg);
    transform:translate(-50%, -50%) rotate(180deg);
}
.more-content {
    display: none;
}
.more-content.show-content {
    display: block;
}
a.show-more-btn:hover {
    opacity: 0.9;
}
a.show-more-btn:hover span {
    color: #fff;
    background: #1b6967;
}