.adv-team-details .team-popup .modal-dialogs .close-btn {
  background: transparent;
  border: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  margin-bottom: 3rem;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt {
  align-items: center;
  background: #101119;
  flex-direction: initial;
  height: inherit;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .left-area .img-section {
  display: block;
  margin: 0 -1.25rem;
  margin-bottom: 2.5rem;
  position: relative;
  top: auto;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .left-area h3 {
  font-size: 1.25rem;
  line-height: 1.6;
  padding-bottom: 2.5rem;
  padding-top: 0.5rem;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .left-area blockquote {
  font-size: 1.25rem;
  line-height: 1.6;
  padding-top: 3.75rem;
  margin: 0;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .left-area p {
  line-height: 1.5;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .img-section {
  position: sticky;
  top: 1.875rem;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .img-section .team-social {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .img-section .team-social img {
  width: 2.5rem;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .close-btn img {
  width: 1.5rem;
  margin-left: 0.75rem;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .row .col-md-6 {
  width: 100%;
}
.adv-team-details .team-popup .modal-dialogs .modal-contnt .row .right-area {
  display: none;
}

@media (min-width: 992px) {
  .adv-team-details .team-popup .modal-dialogs .modal-contnt .row .col-md-6 {
    width: 50%;
  }
  .adv-team-details .team-popup .modal-dialogs .modal-contnt .row .right-area {
    display: block;
  }
  .adv-team-details .team-popup .modal-dialogs .modal-contnt .row .left-area h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    padding-bottom: 3.75rem;
  }
  .adv-team-details .team-popup .modal-dialogs .modal-contnt .row .left-area .img-section {
    display: none;
  }
  .adv-team-details .team-popup .modal-dialogs .modal-contnt .row .left-area blockquote {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}