.adv-team .team-testimonial-wrapper {
  overflow: hidden;
}
.adv-team .team-testimonial-wrapper .item {
  margin-bottom: 2.5rem;
}
.adv-team .team-testimonial-wrapper .desc {
  text-align: center;
  padding-top: 1.5rem;
}
.adv-team .team-testimonial-wrapper .desc h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 0.5rem;
}
.adv-team .team-testimonial-wrapper .item a {
  color: #ffffff;
}
.adv-team .adv-gradient-section .right-triangle {
  width: 1.5rem;
}
.adv-team .adv-gradient-section .row {
  align-items: end;
}
.adv-team p {
  line-height: 1.5 !important;
}

@media (min-width: 992px) {
  .adv-gradient-section .right-triangle {
    width: 2.5rem !important;
  }

  .adv-team .team-testimonial-wrapper .item {
    margin-bottom: 0;
  }
  .adv-team .team-testimonial-wrapper .item.mb {
    margin-bottom: 5rem;
  }
  .adv-team .team-testimonial-wrapper .desc h3 {
    font-size: 1.75rem;
    line-height: 1.286;
    padding-bottom: 0.813rem;
  }
}