.custom-footer {
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.custom-footer:before {
  content: "";
  background-image: linear-gradient(to bottom, #101119, rgba(0, 0, 0, 0));
  height: 31.25rem;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}
.custom-footer .footer-inner {
  position: relative;
}
.custom-footer .footer-inner .footer-bottom {
  padding: 1.25rem 0;
  border-top: 0.063rem solid #47464c;
}
.custom-footer .footer-inner .footer-bottom .row {
  display: block;
}
.custom-footer .footer-inner .footer-bottom .row .col-md-6 {
  width: 100%;
}
.custom-footer .footer-inner .footer-bottom p {
  margin: 0;
}
.custom-footer .footer-inner .footer-bottom ul {
  display: flex;
  justify-content: initial;
  font-size: 0.875rem;
  line-height: 1;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.custom-footer .footer-inner .footer-bottom ul li a {
  color: #ffffff;
}
.custom-footer .footer-inner .footer-bottom ul li {
  position: relative;
}
.custom-footer .footer-inner .footer-bottom ul li + li:before {
  content: "";
  display: inline-block;
  background: #ffffff;
  width: 0.313rem;
  height: 0.313rem;
  border-radius: 50%;
  margin: 0 0.938rem;
  position: relative;
  top: -2px;
}
.custom-footer .footer-description {
  padding: 5rem 0;
}
.custom-footer .footer-description h3 {
  font-size: 1.75rem;
  font-family: Roboto-Bold;
  line-height: normal;
}
.custom-footer .footer-description h3 + h3 {
  padding-top: 3.125rem;
}
.custom-footer .footer-top {
  padding-bottom: 2.5rem;
}
.custom-footer .footer-top h3 {
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.custom-footer .footer-top .left-section {
  width: 100%;
}
.custom-footer .footer-top .left-section ul {
  display: flex;
  padding-top: 2.5rem;
}
.custom-footer .footer-top .left-section ul li a {
  color: #fff;
}
.custom-footer .footer-top .left-section ul li + li:before {
  content: "|";
  margin: 0 0.5rem;
}
.custom-footer .right-section {
  display: flex;
  justify-content: initial;
  width: 100%;
  padding-top: 3.75rem;
}
.custom-footer .right-section .form-group {
  display: flex;
  position: relative;
  border: 1px solid #ffffff;
  overflow: hidden;
  border-radius: 0.5rem;
  max-width: 20rem;
  margin-bottom: 1.875rem;
}
.custom-footer .right-section .form-group .form-control {
  background: transparent;
  border: 0;
  color: #ffffff;
}
.custom-footer .right-section .form-group .form-control::placeholder {
  color: #ffffff;
}
.custom-footer .right-section .form-group .btn {
  background: #ffffff;
  color: #000000;
  font-family: "Roboto-Medium";
  border-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  right: -1px;
  height: 37px;  
  top: -1px;
  box-shadow: none !important;
  border-color: transparent;
}

.social-icons ul {
  display: flex;
}
.social-icons ul li img {
  width: 1.75rem;
}
.social-icons ul li + li {
  margin-left: 0.625rem;
}

@media (min-width: 768px) {
  .custom-footer .footer-inner .footer-bottom {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .custom-footer .footer-description {
    padding: 8.125rem 0;
  }
  .custom-footer .footer-description h3 {
    font-size: 3.125rem;
  }
}
@media (min-width: 992px) {
  .custom-footer .footer-top {
    padding-bottom: 7.5rem;
  }
  .custom-footer .footer-top .left-section {
    width: 50%;
  }
  .custom-footer .footer-top .left-section ul {
    padding-top: 1.25rem;
  }
  .custom-footer .footer-top .right-section {
    width: 50%;
    justify-content: end;
    padding-top: 0;
  }
  .custom-footer .footer-top h3 {
    font-size: 1.75rem;
    line-height: 1.286;
  }
  .custom-footer .footer-inner .footer-bottom .container {
    max-width: 100%;
    padding: 0;
  }
  .custom-footer .footer-inner .footer-bottom .row {
    display: flex;
  }
  .custom-footer .footer-inner .footer-bottom .row .col-md-6 {
    width: 50%;
  }
  .custom-footer .footer-inner .footer-bottom ul {
    justify-content: end;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1400px) {
  .custom-footer .container {
    max-width: 1040px;
  }
}
@media (max-width: 767px) {
  .custom-footer .container {
    max-width: 100%;
  }
}