@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var imgurls = Helper.ImageUrl("Image", element);
	var element1 = Sitecore.Context.Database.GetItem("{1F6751E2-5B6E-49A6-99C3-4DDB9764CD49}");
    var imgurl = Helper.ImageUrl("Image", element1);
}
@if (element != null)
{
    
        <a href="#" class="hamburger_icon"><img src="-/media/3D3F3F0499C1428A974561BAFB5D8225.ashx" alt="Hamburger" /></a>
        <a href="/" class="logo"><img src="@imgurl" alt="@Html.Sitecore().Field("Text", element1)"></a>

        <div class="navigation" id="mainMenu">
   <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="/residential-projects" id="dropdown01" role="button" aria-expanded="false">Residential<span class="dropMenuIcon mobile-none"><i class="fas fa-angle-down fa-xs"></i></span></a>
         <div class="dropdown-menu mobile-none navmenu py-0">
            <div class="tab tabnav">
               <button class="tablinks btn fil-cat" data-rel="all">All Property</button>
               <button class="tablinks btn fil-cat" data-rel="readytomove">Ready to Move</button>
               <button class="tablinks btn fil-cat" data-rel="underconstruction">Under Construction</button>
            </div>
            <div id="tabbedmenu" class="tabcontent tabsubmenu">
               <div class="row">
                  <div class="col-sm-4 nav-menus px-2">
                     <ul>
                        <li class="scale-anm all underconstruction underconstruction readytomove readytomove readytomove ">
                           <h4>
                              <a href="/residential-projects/shantigram-ahmedabad">
                              Shantigram , Ahmedabad
                              </a>
                           </h4>
                        </li>
                        <li class="scale-anm all underconstruction">
                           <a href="https://www.adanirealty.com/residential-projects/shantigram-ahmedabad/Amogha" target="">
                           Amogha
                           </a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/AMOGHA-Launch/Gallery-18-May/GALLERY_01.jpg?h=464&amp;la=en&amp;w=688&amp;hash=D0FDB3DDA1987BB118E56A8DE94C0A00" class="img-fluid" alt="Amogha 3 BHK at Ahmedabad " width="688" height="464" style="display:none">
                        </li>
                        <li class="scale-anm all underconstruction">
                           <a href="https://www.adanirealty.com/residential-projects/shantigram-ahmedabad/ASTER" target="">
                           Aster
                           </a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/ASTER/Elevation-for-website.jpg?h=412&amp;la=en&amp;w=502&amp;hash=176E06E77A9AA13EE7A2D9FEF7AA275E" class="img-fluid" alt="2 BHK in Ahmedabad by Adani Realty - ASTER" width="502" height="412" style="display:none">
                        </li>
                        <li class="scale-anm all readytomove">
                           <a href="/residential-projects/shantigram-ahmedabad/the-north-park" target="">
                           The North Park
                           </a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/The-North-Park/north-park-image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=26387FD5633FACCB6291699634A5B013" class="img-fluid" alt="Luxury Villas in North Park, Ahmedabad" width="356" height="357" style="display:none" title="The North Park - Shantigram, Ahmedabad">
                        </li>
                        <li class="scale-anm all readytomove">
                           <a href="/residential-projects/shantigram-ahmedabad/la-marina" target="">
                           La Marina
                           </a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/La-Marina/la-marina-image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=C395A3A66BCA06E23B77424DC2CFAC38" class="img-fluid" alt="4 Bhk Flats In La Marina Shantigram - Ahmedabad&nbsp;" width="356" height="357" style="display:none" title="Adani La Marina - Shantigram, Ahmedabad">
                        </li>
                        <li class="scale-anm all readytomove">
                           <a href="/residential-projects/shantigram-ahmedabad/water-lily" target="">
                           Water Lily
                           </a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/Water-Lily/18-June-2021/356X357-Project-Page/Water-lily.jpg?h=358&amp;la=en&amp;w=356&amp;hash=E92402279AADA9FCE4621F8CCC412773" class="img-fluid" alt="" width="356" height="358" style="display:none">
                        </li>
                     </ul>
                     <ul>
                        <li class="scale-anm all readytomove underconstruction underconstruction underconstruction ">
                           <h4>Gurugram</h4>
                        </li>
                        <li class="scale-anm all readytomove">
                           <a href="/residential-projects/Oyster-Grande2" target="">Oyster Grande</a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/Oyster-Grande-Gurugram/res-08.jpg?h=357&amp;la=en&amp;w=356&amp;hash=1CC2692DD76F6E38D5904A69F44B5F33" class="img-fluid" alt="3 BHK in Oyster Grande - Adani Realty" width="356" height="357" style="display:none" title="Adani Oyster Grande - Project in Gurugaon">
                        </li>
                        <li class="scale-anm all underconstruction">
                           <a href="/residential-projects/samsara-vilasa" target="">Samsara Vilasa</a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/Samsara-Phase-2/feature-image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=C1FB0FCEA9703B96AD517C9FD3F62AC0" class="img-fluid" alt="Adani Project in Gurgaon - Adani Realty" width="356" height="357" style="display:none">
                        </li>
                        <li class="scale-anm all underconstruction">
                           <a href="https://www.adanirealty.com/residential-projects/samsara" target="">Samsara</a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/Samsara/samarsa-image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=EEF3F58AB815D3617BA579048C823B62" class="img-fluid" alt="Residential Project In Gurugaon - Adani Realty" width="356" height="357" style="display:none" title="Adani Samsara - Property in Gurugaon">
                        </li>
                        <li class="scale-anm all underconstruction">
                           <a href="/residential-projects/aangan" target="">Aangan</a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/Aangan/Aangan-image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=E3A2CDD6077D3CDE015E97E549F58F8A" class="img-fluid" alt="Adani Aangan Gurgaon - Adani Realty" width="356" height="357" style="display:none" title="Adani Gurgaon - Property In Gurguraon">
                        </li>
                     </ul>
                  </div>
                  <div class="col-sm-4 nav-menus px-2">
                     <ul>
                        <li class="scale-anm all readytomove underconstruction ">
                           <h4>Mumbai</h4>
                        </li>
                        <li class="scale-anm all readytomove">
                           <a href="/residential-projects/western-heights" target="">Western Heights</a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/Western-Heights/western-heights-image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=06AAD7BA558C6B678ECB685D1F36067C" class="img-fluid" alt="Real Estate Developers In Westren Heights, mumbai" width="356" height="357" style="display:none" title="Adani Western Heights - Mumbai">
                        </li>
                        <li class="scale-anm all underconstruction">
                           <a href="https://montesouth.in/" target="_blank">Monte South</a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/Monte-South/monte-south-image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=7F5A55E2E8052EC02E518F12018EED77" class="img-fluid" alt="Monte South - 2,2.5 BHK in Byculla" width="356" height="357" style="display:none" title="Adani Monte South - Project in Mumbai">
                        </li>
                     </ul>
                     <ul>
                        <li class="scale-anm all underconstruction ">
                           <h4>Pune</h4>
                        </li>
                        <li class="scale-anm all underconstruction">
                           <a href="/residential-projects/atelier-greens" target="">Atelier Greens</a>
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Residential/Atelier-Greens/common_image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=562D56312BBBFC32B7D32476F7C4C24A" class="img-fluid" alt="Upcoming Project In Pune, Atelier Greens" width="356" height="357" style="display:none" title="Adani Atelier- Shantigram Ahmedabad">
                        </li>
                     </ul>
                  </div>
                  <div class="col-sm-4 px-2 pt-2">
                     <ul id="ulimg">
                        <li class="scale-anm  all">
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/common_image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=D2FA0D0D3AD774400781405EFD0F8D35" class="img-fluid" alt="" width="356" height="357">
                        </li>
                        <li class="scale-anm hide readytomove">
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/common_image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=D2FA0D0D3AD774400781405EFD0F8D35" class="img-fluid" alt="" width="356" height="357">
                        </li>
                        <li class="scale-anm hide underconstruction">
                           <img src="https://www.adanirealty.com/-/media/Project/Realty/common_image.jpg?h=357&amp;la=en&amp;w=356&amp;hash=D2FA0D0D3AD774400781405EFD0F8D35" class="img-fluid" alt="" width="356" height="357">
                        </li>
                        <li class="scale-anm submen-img" id="limenu">
                           <img src="" class="img-fluid">
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </li>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="/commercial-projects" id="dropdown02" role="button" aria-expanded="false">Commercial<span class="dropMenuIcon mobile-none"><i class="fas fa-angle-down fa-xs"></i></span></a>
         <div class="dropdown-menu mobile-none">
            <div class="row">
               <div class="col-sm-3 pb-3 pl-3 pr-3">
                  <a href="http://inspirebusinesspark.com/" target="_blank">
                     <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Commercial/Inspire-Business-Park/BUsiness-Park.jpg?la=en&amp;hash=443274E41C9C05E20F82D96B2627C780" class="img-fluid menu-tile pb-3 px-3" alt="">
                     <h5 class="py-1 px-3">
                        Inspire Business Park <br>
                        <span class="txt-black">
                        Ahmedabad                                                    </span>
                     </h5>
                  </a>
               </div>
               <div class="col-sm-3 pb-3 pl-3 pr-3">
                  <a href="/commercial-projects/inspire-bkc" target="">
                     <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Commercial/Inspire-BKC-Mumbai/inspire-bkc-banner.jpg?h=407&amp;la=en&amp;w=516&amp;hash=B1D2A3FD7D67BDC2D00BC5D9CE233621" class="img-fluid menu-tile pb-3 px-3" alt="" width="516" height="407">
                     <h5 class="py-1 px-3">
                        Inspire BKC <br>
                        <span class="txt-black">
                        Mumbai                                                    </span>
                     </h5>
                  </a>
               </div>
               <div class="col-sm-3 pb-3 pl-3 pr-3">
                  <a href="/commercial-projects/inspire-hub" target="">
                     <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Commercial/Inspire-Hub/ihub_1.jpg?h=407&amp;la=en&amp;w=516&amp;hash=28980B8074234CBBD6954272A29CC97E" class="img-fluid menu-tile pb-3 px-3" alt="" width="516" height="407">
                     <h5 class="py-1 px-3">
                        Inspire Hub <br>
                        <span class="txt-black">
                        Mumbai                                                    </span>
                     </h5>
                  </a>
               </div>
               <div class="col-sm-3 pb-3 pl-3 pr-3">
                  <a href="https://www.miraclemile.in/" target="_blank">
                     <img src="https://www.adanirealty.com/-/media/Project/Realty/Property/Commercial/MIracle-Mile/miraclemile_1.jpg?h=407&amp;la=en&amp;w=516&amp;hash=F32ECDDB186654961C1E278A1AE03ABF" class="img-fluid menu-tile pb-3 px-3" alt="" width="516" height="407">
                     <h5 class="py-1 px-3">
                        Miracle Mile <br>
                        <span class="txt-black">
                        Gurugram                                                    </span>
                     </h5>
                  </a>
               </div>
            </div>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="https://www.belvedereclub.in/" target="_blank">Club</a>
      </li>
     
   </ul>
   <ul class="call_icon">

<li>
<div class="dropdown">
<button class="call_icon--button"><span>Contact Us<i class="fas fa-angle-down fa-xs ml-2 mt-1 pl-1"></i></span></button>
<div class="call_dropdown-content">
<div class="p-3">
<div class="row border-bottom pb-2">
<div class="col-4"><span> Write to us : </span></div>
<div class="col-8">
<span class="txt-blue d-block">
<a href="mailto:info@adanirealty.com" class="p-0 txt-blue pb-1"> info@adanirealty.com</a>
<a href="mailto:commercial@adanirealty.com" class="p-0 pb-1 txt-blue"> commercial@adanirealty.com</a>
</span>
</div>
</div>
<div class="row pt-2 border-bottom pb-2">
<div class="col-4">
<span>Call us <br>(Toll free)</span>
</div>
<div class="col-8">
<span class="txt-blue d-block">
<a href="tel:18001080009" class="p-0 txt-blue pb-1 d-block">1800-108-0009</a>
<a href="tel:180030702020" class="p-0 txt-blue pb-1 d-block">1800-3070-2020</a>
</span>
</div>
</div>
<div class="row pt-2">
<div class="col-12 mb-2">
<span>Request a call back</span>
</div>
<div class="col-12">
<div class="input-group mb-3 request_callback">
  <input type="number" class="form-control" placeholder="" aria-label="" aria-describedby="" required>
  <div class="input-group-append">
    <button class="btn mb-0" type="button" id="button-addon2">Send</button>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</li>
</ul>
</div>
       
    
}
