@*
    *
    * Copyright (c) 2022 Adani Digital Labs
    * All rights reserved.
    * Adani Digital Labs Confidential Information
    *
*@

@model  Sitecore.Farmpik.Website.ViewModel.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";

}

<div class="banner">
    <div class="container">
        <div class="position-fixed pt-2" style="z-index: 11">
            <div class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body"></div>
                </div>
            </div>
        </div>
        <div class="col-12 para-1">Welcome @Model.UserName</div>
        <div class="col-12 para-2">Upload & access all documents at one place.</div>
    </div>
</div>
<div class="container">
    <main role="main" class="pb-3">
        <div class="col-12 all-file" id="IsInValidTemplate">
            All Files
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row pt-2">
                        <div class="col-2">Files</div>
                        <div class="col-2 txt-c">No. Of Uploads</div>
                        <div class="col-2">Last Updated</div>
                        <div class="col-4">Action</div>
                        <div class="col-2 txt-c">Records Uploaded</div>
                        <div class="col-error">Error Records</div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var import in Model.Imports)
                    {
                        <li class="list-group-item"> @Html.Partial("_ImportTemplate", import)</li>
                    }
                </ul>
            </div>
        </div>
    </main>
</div>


