<div class="footerPort">
    <!-- Footer Top Panel -->
    <div class="ftrTopPanel">
        <div class="row">
            <div class="rowPd">
                <div class="sitemapBox">
                    <div class="sitemapPd">
                        <div class="sitemapBlk">
                            <!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- Page Count : 1 -->
                            <div class="sitemapList">
                                <ul>
                                    <li class="">

                                        <!--<h1>truesubArrw
                                        </h1>-->

                                        <a href="/aboutus" class="wpthemeLef">
                                            <span lang="en" dir="ltr">
                                                About Us
                                            </span>
                                        </a>
                                        <!-- 	########################################  this is begining of 1 child loop --><!-- ################### Code for hiding page from navigation ####################### -->
                                        <ul>

                                            <li class="">

                                                <a href="/aboutus/chairman-message" class="wpthemeLef wpthemeFirst">
                                                    <span lang="en" dir="ltr">
                                                        Chairman&#039;s Message
                                                    </span>
                                                </a>

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->
                                            <li class="">

                                                <a href="/aboutus/ceo-message" class="wpthemeLef">
                                                    <span lang="en" dir="ltr">
                                                        CEO&#039;s Message
                                                    </span>
                                                </a>

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->
                                        </ul>
                                        <!-- ***************************************	this is ending of child loop -->
                                    </li>
                                </ul>
                            </div>
                            <!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- Page Count : 2 -->
                            <div class="sitemapList">
                                <ul>
                                    <li class="">

                                        <!--<h1>truesubArrw
                                        </h1>-->

                                        <a href="/business" class="wpthemeLef">
                                            <span lang="en" dir="ltr">
                                                Business
                                            </span>
                                        </a>
                                        <!-- 	########################################  this is begining of 1 child loop --><!-- ################### Code for hiding page from navigation ####################### -->
                                        <ul>

                                            <li class="">

                                                <a href="/business/farmpik-apples" class="wpthemeLef wpthemeFirst">
                                                    <span lang="en" dir="ltr">
                                                        Farm-Pik Apples
                                                    </span>
                                                </a>

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->
                                            <li class="">

                                                <a href="/business/packhouse-facilities" class="wpthemeLef">
                                                    <span lang="en" dir="ltr">
                                                        Packhouse Facilities
                                                    </span>
                                                </a>

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->
                                            <li class="">

                                                <a href="/business/farmpik-promise" class="wpthemeLef">
                                                    <span lang="en" dir="ltr">
                                                        Farm-Pik Promise
                                                    </span>
                                                </a>

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->
                                            <li class="">

                                                <a href="/business/our-markets" class="wpthemeLef">
                                                    <span lang="en" dir="ltr">
                                                        Our Markets
                                                    </span>
                                                </a>

                                            </li>

                                        </ul>
                                        <!-- ***************************************	this is ending of child loop -->
                                    </li>
                                </ul>
                            </div>
                            <!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- Page Count : 3 -->
                            <div class="sitemapList">
                                <ul>
                                    <li class="">

                                        <!--<h1>truesubArrw
                                        </h1>-->

                                        <a href="/pro-farmer" class="wpthemeLef">
                                            <span lang="en" dir="ltr">
                                                Pro-Farmer
                                            </span>
                                        </a>
                                        <!-- 	########################################  this is begining of 1 child loop --><!-- ################### Code for hiding page from navigation ####################### -->
                                        <ul>

                                            <li class="">

                                                <a href="/pro-farmer#services" class="wpthemeLef wpthemeFirst">
                                                    <span lang="en" dir="ltr">
                                                        Services
                                                    </span>
                                                </a>

                                            </li>

                                        </ul>
                                        <!-- ***************************************	this is ending of child loop -->
                                    </li>
                                </ul>
                            </div>

                            <div class="clear"></div>
                            <!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- Page Count : 1 -->
                            <div class="sitemapList">
                                <ul>
                                    <li class="">

                                        <!--<h1>false
                                        </h1>-->
                                       
                                        <a href="https://careers.adani.com" class="wpthemeLef">
                                            <span lang="en" dir="ltr">
                                                Careers
                                            </span>
                                        </a>
                                        <!-- 	########################################  this is begining of 1 child loop --><!-- ***************************************	this is ending of child loop -->
                                    </li>
                                </ul>
                            </div>
                            <!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### -->
                            <div class="clear"></div>
                            <!-- Page Count : 2 -->
                            <div class="sitemapList">
                                <ul>
                                    <li class="">

                                        <!--<h1>false
                                        </h1>-->

                                        <a href="/dealership-enquiry" class="wpthemeLef">
                                            <span lang="en" dir="ltr">
                                                Dealership Enquiry
                                            </span>
                                        </a>
                                        <!-- 	########################################  this is begining of 1 child loop --><!-- ***************************************	this is ending of child loop -->
                                    </li>
                                </ul>
                            </div>
                            <!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- Page Count : 3 -->
                            <div class="sitemapList">
                                <ul>
                                    <li class="">

                                        <!--<h1>false
                                        </h1>-->

                                        <a href="/contact-us" class="wpthemeLef">
                                            <span lang="en" dir="ltr">
                                                Contact Us
                                            </span>
                                        </a>
                                        <!-- 	########################################  this is begining of 1 child loop --><!-- ***************************************	this is ending of child loop -->
                                    </li>
                                </ul>
                            </div>
                            <!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for showing page to footer ####################### --><!-- Page Count : 4 -->
                            <div class="sitemapList">
                                <ul>
                                    <li class="">

                                        <!--<h1>false
                                        </h1>-->

                                        <a href="/downloads" class="wpthemeLef">
                                            <span lang="en" dir="ltr">
                                                Downloads
                                            </span>
                                        </a>
                                        <!-- 	########################################  this is begining of 1 child loop --><!-- ***************************************	this is ending of child loop -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contactBox">
                    <div class="contactPd">
                        <!--<h4 onClick="ftrContact()">Contact</h4>-->
                        <div class="contactBlk">
                            <h5>Contact Form</h5>
                            @Html.Sitecore().Placeholder("contact-form")
                            <div class="socialBox">
                                <div>Follow Us On</div>
                                <div class="ftrSocial">
                                    <a class="ftr_facebook" href="https://www.facebook.com/AdaniOnline" title="Facebook" target="_blank">

                                    </a>
                                    <a class="ftr_youtube" href="https://www.youtube.com/user/AdaniOnline" title="Youtube" target="_blank">
                                    </a>
                                    <!--<a href="javascript:void(0)" title="RSS" target="_blank">
                <img src="images/icons/icon_ftr_rss.png" alt="RSS"></a> -->
                                    <a class="ftr_twitter" href="https://twitter.com/adanionline" title="Twitter" target="_blank">
                                    </a>
                                    <a class="ftr_google_plus" href="https://plus.google.com/+AdaniGroupOnline/posts" title="Google Plus" target="_blank">
                                    </a>
                                    <!--	<a href="https://www.linkedin.com/company/adani-power-limited?trk=top_nav_home" title="Linkedin" target="_blank">
                    <img src="images/icons/linkedin_icon.png" alt="Linkedin"></a> -->
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Panel -->
    <div class="ftrBottmPnl">
        <div class="row">
            <div class="rowPd">
                <div class="ftrCopy">© 2018 Adani Group  </div>
                <div class="ftrBtmLink">
                    <a href="/privacy-policy" title="Privacy policy">Privacy policy</a>
                    | <a href="/disclaimer" title="Legal disclaimer">Legal disclaimer</a>
                    | <a href="/terms" title="Terms of use">Terms of use</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- <div class="ftrBottmPnl">
     <a rel="dynamic-content" href="dyn-cs:id:PortTheme_footer"></a>
       <div class="row">
         <div class="ftrCopy">&copy; 2018 Adani Group </div>
         <div class="ftrBtmLink"><a href="/adani_ports/footer/privacy-policy" title="Privacy policy">Privacy policy</a> | <a href="/adani_ports/footer/disclaimer" title="Legal disclaimer">Legal disclaimer</a> | <a href="/adani_ports/footer/terms-and-conditions" title="Terms of use">Terms of use</a></div>
         <div class="clear"></div>
       </div>
     </div> -->



</div>
