<header class="headerPort">
    <div class="row stic">
        <!--  <div class="hdrStockPanel">Stock ticker  - <em class="priceCurrent"><span class="circle"></span>
                Current 486.65</em> <em class="priceOpen">
        <span class="circle"></span>Open 483.25</em> <em class="priceHight"><span class="arrowUp"></span>High 488.20</em> <em class="priceLow"><span class="arrowDown"></span>Low 474.20</em></div>-->
        <div class="hdrStockPanel">
            <!-- Stock ticker  -
            <em class="priceCurrent">
            <span class="circle"></span>Current
            <span id="currentTickerValue"> N/A </span>
            <span id="currentPercentage"> (N/A)</span>
            </em>
            <em class="priceOpen">
            <span class="circle"></span>Previous Close
            <span id="openTickerValue"> N/A
            </span> </em> -->
        </div>
        <div class="hdrStockPanel_mbl">
            <!-- <div class="stockTag">Stock ticker  -</div>
            <div class="marqueeTag">
              <marquee>
                 <em class="priceCurrent"><span class="circle"></span>Current 486.65</em> <em class="priceOpen"><span 					   class="circle"></span>Open 483.25</em> <em class="priceHight"><span class="arrowUp"></span>High 488.20</em> 						<em class="priceLow"><span class="arrowDown"></span>Low 474.20</em>
              </marquee>
            </div> -->
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navPanel">
        <div class="row">
            <div class="rowPd">
                <div class="logo"><a href="/" title="Adani Agri Freash">Adani</a></div>
                <div class="logoText"><a href="/" class="logoText_a" title="Adani Agri Freash">Adani Agri Fresh</a></div>
                <div class="navBlk">
                    <!-- Search Section -->
                   <!-- <div class="hdrSearchBox">
                        <a href="javascript:void(0);" title="Search" onClick="hdrSearch();">Search</a>
                        <div class="hdrSearchPanel">
                            <div class="left">
                                <input type="text" class="srchInput" />
                            </div>
                            <div class="srchBtn">Search</div>
                        </div>
                    </div>-->
                    <!-- Navigation Start -->
                    <!--Responsive-->
                    <div class="toggleNav">
                        <a id="menu-toggle" class="" href="#"><span class="lines"></span></a>
                        <div class="nav">
                            <!-- PUMA API START--><!-- PUMA API END  --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### -->
                            <ul class="mainNav">
                                <!-- to show Edit Mode on page to ContentCreator Group Users --><!-- to show Edit Mode on page to ContentCreator Group Users -->


                                <li class="">




                                    <a href="/aboutus" class="wpthemeLef">
                                        <span lang="en" dir="ltr">About Us</span>
                                    </a>
                                    <!--  -->
                                    <!-- 	########################################  this is begining of 1 child loop --><!-- ################### Code for hiding page from navigation ####################### -->
                                    <div class='navBg twoMenuItem'>
                                        <ul class="subNav">

                                            <li class="">

                                                <a href="/aboutus/chairman-message" class="wpthemeLef wpthemeFirst">
                                                    <span lang="en" dir="ltr">Chairman&#039;s Message</span>
                                                </a>
                                                <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                                <div class="subNav_thirdBg">


                                                    <p>   As a successful and responsible entity, we invest into protection and development of nearby communities. With a ‘society first’ attitude, we unceasingly work towards the betterment of the communities wherein our operational presence exists. </p>
                                                </div>
                                                <!-- **************************************************************** End of sub child ******************8 -->

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->
                                            <li class="">

                                                <a href="/aboutus/ceo-message" class="wpthemeLef">
                                                    <span lang="en" dir="ltr">CEO&#039;s Message</span>
                                                </a>
                                                <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                                <div class="subNav_thirdBg">


                                                    <p>   Adani Agrifresh has redefined the way apples are handled in India, and has been an industry game changer. </p>
                                                </div>
                                                <!-- **************************************************************** End of sub child ******************8 -->

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->

                                        </ul>


                                        <div class="prodImg"><img src="-/media/7996DA953216482B8D30907CC415F40A.ashx"> </img></div>

                                        <div class="navText">Adani Agri Fresh Limited has instituted India’s largest integrated apple supply chain initiative with ultra-modern storage infrastructure to provide fresh farm products to the consumers and improve the livelihood of the apple farmers.</div>
                                        <div class="clear"></div>
                                    </div>
                                    <!-- ***************************************	this is ending of child loop -->
                                </li>
                                <!-- ################### Code for hiding page from navigation ####################### --><!-- to show Edit Mode on page to ContentCreator Group Users --><!-- to show Edit Mode on page to ContentCreator Group Users -->


                                <li class="">




                                    <a href="/business" class="wpthemeLef">
                                        <span lang="en" dir="ltr">Business</span>
                                    </a>
                                    <!--  -->
                                    <!-- 	########################################  this is begining of 1 child loop --><!-- ################### Code for hiding page from navigation ####################### -->
                                    <div class='navBg fourMenuItem'>
                                        <ul class="subNav">

                                            <li class="">

                                                <a href="/business/farmpik-apples" class="wpthemeLef wpthemeFirst">
                                                    <span lang="en" dir="ltr">Farm-Pik Apples</span>
                                                </a>
                                                <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                                <div class="subNav_thirdBg">


                                                    <p>   Farmpik apples- straight from the heart of Himachal Pradesh. </p>
                                                </div>
                                                <!-- **************************************************************** End of sub child ******************8 -->

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->
                                            <li class="">

                                                <a href="/business/packhouse-facilities" class="wpthemeLef">
                                                    <span lang="en" dir="ltr">Packhouse Facilities</span>
                                                </a>
                                                <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                                <div class="subNav_thirdBg">


                                                    <p>   Know more about our state-of-the-art Packhouse facilities at Sainj, Rohru and Rampur in Himachal Pradesh. </p>
                                                </div>
                                                <!-- **************************************************************** End of sub child ******************8 -->

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->
                                            <li class="">

                                                <a href="/business/farmpik-promise" class="wpthemeLef">
                                                    <span lang="en" dir="ltr">Farm-Pik Promise</span>
                                                </a>
                                                <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                                <div class="subNav_thirdBg">


                                                    <p>   The Farmpik promise is to deliver fresh, crunchy, juicy and healthy produce to our consumers across India. </p>
                                                </div>
                                                <!-- **************************************************************** End of sub child ******************8 -->

                                            </li>
                                            <!-- ################### Code for hiding page from navigation ####################### -->
                                            <li class="">

                                                <a href="/business/our-markets" class="wpthemeLef">
                                                    <span lang="en" dir="ltr">Our Markets</span>
                                                </a>
                                                <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                                <div class="subNav_thirdBg">


                                                    <p>   Farmpik apples are available across 36 cities in India. </p>
                                                </div>
                                                <!-- **************************************************************** End of sub child ******************8 -->

                                            </li>


                                        </ul>


                                        <div class="prodImg"><img src="-/media/B70DBF260EEF43B888991284E10B5082.ashx"> </img></div>

                                        <div class="navText">The Farm-Pik value chain aims at strengthening the nation from its roots, the Farmers.</div>
                                        <div class="clear"></div>
                                    </div>
                                    <!-- ***************************************	this is ending of child loop -->
                                </li>
                                <!-- ################### Code for hiding page from navigation ####################### --><!-- to show Edit Mode on page to ContentCreator Group Users --><!-- to show Edit Mode on page to ContentCreator Group Users -->


                                <li class="">




                                    <a href="/pro-farmer" class="wpthemeLef">
                                        <span lang="en" dir="ltr">Pro-Farmer</span>
                                    </a>
                                    <!--  -->
                                    <!-- 	########################################  this is begining of 1 child loop --><!-- ################### Code for hiding page from navigation ####################### -->
                                    <div class='navBg twoMenuItem'>
                                        <ul class="subNav">

                                            <li class="">

                                                <a href="/pro-farmer#service" class="wpthemeLef wpthemeFirst">
                                                    <span lang="en" dir="ltr">Services</span>
                                                </a>
                                                <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                                <div class="subNav_thirdBg">


                                                    <p>   The unique business model by AAFL ensures growth and well-being of the farming communities. </p>
                                                </div>
                                                <!-- **************************************************************** End of sub child ******************8 -->

                                            </li>


                                        </ul>


                                        <div class="prodImg"><img src="-/media/C11802D0ACA04F35B45EA859DBDB7ED8.ashx"> </img></div>

                                        <div class="navText">The unique business model by AAFL ensures growth and well-being of the farming communities.</div>
                                        <div class="clear"></div>
                                    </div>
                                    <!-- ***************************************	this is ending of child loop -->
                                </li>
                                <!-- ################### Code for hiding page from navigation ####################### --><!-- to show Edit Mode on page to ContentCreator Group Users --><!-- to show Edit Mode on page to ContentCreator Group Users -->


                                <li class="">




                                    <a href="https://careers.adani.com/" class="wpthemeLef">
                                        <span lang="en" dir="ltr">Careers</span>
                                    </a>
                                    <!--  -->
                                    <!-- 	########################################  this is begining of 1 child loop -->

                                    <div class='navBg twoMenuItem'>
                                        <div class="subNav_thirdBgWithoutChild">
                                            <p>
                                                One Vision, One Team. Come, be part of a team committed to nation building.
                                            </p>
                                        </div>

                                        <div class="prodImg"><img src="-/media/11B3E210285944E584D6219B56F49347.ashx"> </img></div>
                                        <div class="clear"></div>
                                    </div>
                                    <!-- ***************************************	this is ending of child loop -->
                                </li>
                                <!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### -->

                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- PUMA API START--><!-- PUMA API END  --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### -->
                    <ul class="mainNav">
                        <!-- to show Edit Mode on page to ContentCreator Group Users --><!-- to show Edit Mode on page to ContentCreator Group Users -->


                        <li class="">




                            <a href="/aboutus" class="wpthemeLef">
                                <span lang="en" dir="ltr">About Us</span>
                            </a>
                            <!--  -->
                            <!-- 	########################################  this is begining of 1 child loop --><!-- ################### Code for hiding page from navigation ####################### -->
                            <div class='navBg twoMenuItem'>
                                <ul class="subNav">

                                    <li class="">

                                        <a href="/aboutus/chairman-message" class="wpthemeLef wpthemeFirst">
                                            <span lang="en" dir="ltr">Chairman&#039;s Message</span>
                                        </a>
                                        <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                        <div class="subNav_thirdBg">


                                            <p>   As a successful and responsible entity, we invest into protection and development of nearby communities. With a ‘society first’ attitude, we unceasingly work towards the betterment of the communities wherein our operational presence exists. </p>
                                        </div>
                                        <!-- **************************************************************** End of sub child ******************8 -->

                                    </li>
                                    <!-- ################### Code for hiding page from navigation ####################### -->
                                    <li class="">

                                        <a href="/aboutus/ceo-message" class="wpthemeLef">
                                            <span lang="en" dir="ltr">CEO&#039;s Message</span>
                                        </a>
                                        <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                        <div class="subNav_thirdBg">


                                            <p>   Adani Agrifresh has redefined the way apples are handled in India, and has been an industry game changer. </p>
                                        </div>
                                        <!-- **************************************************************** End of sub child ******************8 -->

                                    </li>
                                    <!-- ################### Code for hiding page from navigation ####################### -->

                                </ul>


                                <div class="prodImg"><img src="-/media/7996DA953216482B8D30907CC415F40A.ashx"> </img></div>

                                <div class="navText">Adani Agri Fresh Limited has instituted India’s largest integrated apple supply chain initiative with ultra-modern storage infrastructure to provide fresh farm products to the consumers and improve the livelihood of the apple farmers.</div>
                                <div class="clear"></div>
                            </div>
                            <!-- ***************************************	this is ending of child loop -->
                        </li>
                        <!-- ################### Code for hiding page from navigation ####################### --><!-- to show Edit Mode on page to ContentCreator Group Users --><!-- to show Edit Mode on page to ContentCreator Group Users -->


                        <li class="">




                            <a href="/business" class="wpthemeLef">
                                <span lang="en" dir="ltr">Business</span>
                            </a>
                            <!--  -->
                            <!-- 	########################################  this is begining of 1 child loop --><!-- ################### Code for hiding page from navigation ####################### -->
                            <div class='navBg fourMenuItem'>
                                <ul class="subNav">

                                    <li class="">

                                        <a href="/business/farmpik-apples" class="wpthemeLef wpthemeFirst">
                                            <span lang="en" dir="ltr">Farm-Pik Apples</span>
                                        </a>
                                        <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                        <div class="subNav_thirdBg">


                                            <p>   Farmpik apples- straight from the heart of Himachal Pradesh. </p>
                                        </div>
                                        <!-- **************************************************************** End of sub child ******************8 -->

                                    </li>
                                    <!-- ################### Code for hiding page from navigation ####################### -->
                                    <li class="">

                                        <a href="/business/packhouse-facilities" class="wpthemeLef">
                                            <span lang="en" dir="ltr">Packhouse Facilities</span>
                                        </a>
                                        <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                        <div class="subNav_thirdBg">


                                            <p>   Know more about our state-of-the-art Packhouse facilities at Sainj, Rohru and Rampur in Himachal Pradesh. </p>
                                        </div>
                                        <!-- **************************************************************** End of sub child ******************8 -->

                                    </li>
                                    <!-- ################### Code for hiding page from navigation ####################### -->
                                    <li class="">

                                        <a href="/business/farmpik-promise" class="wpthemeLef">
                                            <span lang="en" dir="ltr">Farm-Pik Promise</span>
                                        </a>
                                        <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                        <div class="subNav_thirdBg">


                                            <p>   The Farmpik promise is to deliver fresh, crunchy, juicy and healthy produce to our consumers across India. </p>
                                        </div>
                                        <!-- **************************************************************** End of sub child ******************8 -->

                                    </li>
                                    <!-- ################### Code for hiding page from navigation ####################### -->
                                    <li class="">

                                        <a href="/business/our-markets" class="wpthemeLef">
                                            <span lang="en" dir="ltr">Our Markets</span>
                                        </a>
                                        <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                        <div class="subNav_thirdBg">


                                            <p>   Farmpik apples are available across 36 cities in India. </p>
                                        </div>
                                        <!-- **************************************************************** End of sub child ******************8 -->

                                    </li>


                                </ul>


                                <div class="prodImg"><img src="-/media/B70DBF260EEF43B888991284E10B5082.ashx"> </img></div>

                                <div class="navText">The Farm-Pik value chain aims at strengthening the nation from its roots, the Farmers.</div>
                                <div class="clear"></div>
                            </div>
                            <!-- ***************************************	this is ending of child loop -->
                        </li>
                        <!-- ################### Code for hiding page from navigation ####################### --><!-- to show Edit Mode on page to ContentCreator Group Users --><!-- to show Edit Mode on page to ContentCreator Group Users -->


                        <li class="">




                            <a href="/pro-farmer" class="wpthemeLef">
                                <span lang="en" dir="ltr">Pro-Farmer</span>
                            </a>
                            <!--  -->
                            <!-- 	########################################  this is begining of 1 child loop --><!-- ################### Code for hiding page from navigation ####################### -->
                            <div class='navBg twoMenuItem'>
                                <ul class="subNav">

                                    <li class="">

                                        <a href="/pro-farmer#service" class="wpthemeLef wpthemeFirst">
                                            <span lang="en" dir="ltr">Services</span>
                                        </a>
                                        <!--****************************** *********************************************Sub 2nd child start --><!-- show desc tag -->
                                        <div class="subNav_thirdBg">


                                            <p>   The unique business model by AAFL ensures growth and well-being of the farming communities. </p>
                                        </div>
                                        <!-- **************************************************************** End of sub child ******************8 -->

                                    </li>


                                </ul>


                                <div class="prodImg"><img src="-/media/C11802D0ACA04F35B45EA859DBDB7ED8.ashx"> </img></div>

                                <div class="navText">The unique business model by AAFL ensures growth and well-being of the farming communities.</div>
                                <div class="clear"></div>
                            </div>
                            <!-- ***************************************	this is ending of child loop -->
                        </li>
                        <!-- ################### Code for hiding page from navigation ####################### --><!-- to show Edit Mode on page to ContentCreator Group Users --><!-- to show Edit Mode on page to ContentCreator Group Users -->


                        <li class="">




                            <a href="https://careers.adani.com/" class="wpthemeLef">
                                <span lang="en" dir="ltr">Careers</span>
                            </a>
                            <!--  -->
                            <!-- 	########################################  this is begining of 1 child loop -->

                            <div class='navBg twoMenuItem'>
                                <div class="subNav_thirdBgWithoutChild">
                                    <p>
                                        One Vision, One Team. Come, be part of a team committed to nation building.
                                    </p>
                                </div>

                                <div class="prodImg"><img src="-/media/11B3E210285944E584D6219B56F49347.ashx"> </img></div>
                                <div class="clear"></div>
                            </div>
                            <!-- ***************************************	this is ending of child loop -->
                        </li>
                        <!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### --><!-- ################### Code for hiding page from navigation ####################### -->

                    </ul>
                    <div class="clear"></div>
                </div> <!-- navBlk-->
            </div><!-- rowPd-->
        </div><!-- row-->
    </div><!-- navPanel-->


</header>
