@media (min-width: 1200px){
}
@media (min-width: 1025px){
	.newsList {
		padding-right: 0rem;
	}
}


@media (min-width: 992px){
	#mainMenu {display: -ms-flexbox!important;display: flex!important;-ms-flex-preferred-size: auto;flex-basis: auto;}
	.navbar-toggler-inner{display:none}
    .section {
        position: relative;
        height: 51vw;
    }

    .homeslider .owl-item .item {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        height: 51vw;
        overflow: hidden;
    }
}
@media (min-width: 768px){
	.projectCard .card{height:95%;}
    .vertical-middle {
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
    }
}

@media (max-width: 1199px){
	.menu-inner .navbar-nav .nav-link{font-size: 14px;}
/*	.footerMenu{margin:0.5rem 0;}
	.footerMenu li{margin:3px 0;}*/
	.footerMenu li a{opacity:1.0;}
	.nav-tabs .nav-item{margin:0;padding:3px 3px 0 0;}
	.breadcrumbBg img{height:100%;width:auto;}
	.video-thumb a::before{top: 17%;}
}
@media (min-width: 992px) and (max-width: 1024px) {
	.navTile a{padding-right:0;font-size:0.8rem;}
	.serviceTile .serviceIcon img {
		width: 65px;
		max-height:none;
	}
	.breadcrumb-tile{height: 100%;min-height: 400px;overflow: hidden;}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
	.serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
		
}
@media (min-width: 576px) and (max-width: 767px) {
	.container {
		max-width: 600px;
	}
	.newsImg{width:50px;}
	.newsBrief{font-size:0.9rem;}
	.resourceItem{
		font-size: 0.95rem;
		line-height: 1.2;
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.linkTxt{font-size:1rem;padding-bottom:10px;}
	
}
@media (max-width: 1024px) {
    .section {
        min-height: 700px;
    }

    .section-banner {
        min-height: auto;
    }

    .enquirenow {
    }

    #back-to-top {
        display: none !important;
    }
}
@media (max-width: 991px){
    .homeslider .owl-item .item img {
    }

    .section-banner { /*height:100vw;*/
    }

    .section {
        position: relative;
        min-height: 600px;
    }
	.menu-inner .navbar-nav{display: inline-block;background: #262626;}
	.menu-inner .navbar-nav .nav-item{display: inline-block;width: 100%;text-align: left !important;padding: 0px 15px;border-bottom: 1px solid #ccc;}
	.menu-inner .navbar-nav .nav-link{color:#fff !important;}
	.membership-thumb{max-height: 200px;}
	.InnerMenu-s{display:none;}
	.navbar-toggler-inner{display:block}
	.discovermore{display: none;}
	.slider-tile{min-height: 100%;min-width: 100%;position: relative;height: 400px;}
	.breadcrumb-tile{height: 100%;min-height: 300px;overflow: hidden;}
	.news{margin-top:20px;}
	.accService{font-size:0.8rem;}
	.dropdown-menu{
		display:block;
		padding: 0;
		border-radius: 0;
		border:1px solid rgba(0,0,0,0.1);
		margin-left: 1rem;
		font-size:0.9rem;
	}
	.dropdown-item{padding:0.25rem 0.75rem;}

    #topMenu {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        z-index: 99999;
        color: #fff;
        transition: all 0.3s;
        margin-left: -250px;
        background: #004686;
    }
	 #topMenu.active {
        margin-left: 0;
    }
    .topMenu {
        width: inherit;
        text-align: left;
    }
	.topMenu li {display:block;border-bottom:1px solid #fff;}
	.topMenu li a{padding: 0.5rem 1rem;
		display: block;
		background:#004686;
		color:#fff;
		position:relative;
		border-right:none;
	}
	.topMenu li:first-child a{padding-left:1rem;}
	.topMenu li a:hover, .topMenu li a:focus{background:#2768b3;}

	.videoCol .panelBox{height:auto;}
	.videoCol .mediaList{float:left;}
	.videoThumb{float:left;margin-right:20px;}
	.footerLeftCol{border-right:none;text-align:left;margin-bottom:20px;}
	.adani-footer-logo{border-right:1px solid #ccc;padding-right:15px;float:left;margin:0;margin-right:15px;}
	.adani-footer-logo img{max-width:100%;}
	
	.navbar-expand-lg .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	/*	margin-left:15px !Important;*/
	}
	.navbar-expand-lg .navbar-collapse{
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.teamModal .mPic{width:50%;}
	.teamModal .mPic img{width:auto;}
	.mDetails{margin-left:0;padding-top:130px;}
	.mAboutTxt{margin-top:30px;}
	.breadcrumbBg img,.ctaBg img{height:100%;width:auto;}
	.ctaPanel{height:auto;padding:1rem 0;}
	.mainBanner{height:400px;}
	.video-thumb a::before{top: 15%;left: 35%;background-size: 70%;}
}
@media (max-width: 767px){
	.breadcrumb-tile{height: 100%;min-height: 300px;overflow: hidden;}
	.quick-links{display:none;}
	.topNav li.topSearch{display:none;}
	.topMenu li.topSearchMenu{display:block;}
	.topNav{padding:4px 0 6px 0;}
	.pageTitleBar{padding:1rem 0;}
	
	/*.topMenu{display:none;}*/
	.homepage .mainBanner{height:250px;}
	#bannerCarousel .owl-item{height:250px;}
	.bannerContent{display:none;}
	.homepage .bannerImg{position:absolute;height:100%;}
	.owl-carousel .owl-item .bannerImg img {
		/*top:0;
		left:0;
		transform: none;*/
		width:auto;
		height:100%;
	}
	.helpPanel{padding:30px 0 0 0;}
	.helpLinks{height:auto;margin-bottom:1rem;}
	.adaniLogoFooter{margin:1rem 0;display:inline-block;opacity:1.0;}
	.footerArrow{display:none;}
	
	.communityTile{background-blend-mode:overlay;}
	.communityTile .tileCnt{width:50%;}
	.listIcon{padding-right:0;}
	.listIcon img{max-width:50px;}
	.serviceTile{padding:1rem;}
	.serviceTile .serviceIcon{height:50px;}
	.serviceTile .serviceIcon img{width:auto;max-height:50px;}
	.serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
	.serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
	.myAccountBanner .bannerCnt{padding:1rem 0;background:rgba(255,255,255,0.85);}
	.accSerTile{padding:0.75rem 0;}
	.adaniLogoFooter{margin:0.5rem 0;}
	.tile{height:auto;margin:0.5rem 0;}
	.appLink{margin:0.5rem 0;}
	.payBillBox{width:100%;}
	.nav-tabs .nav-item{margin:0;padding:3px 3px 0 0;}
	.nav-tabs .nav-link{font-size:0.8rem;}
    #sideNav{
		width: 250px;
		position: fixed;
		top:0;
		left: 0;
		height: 100vh;
		overflow-y:auto;
		z-index: 999;
		color: #fff;
		transition: all 0.3s;
        margin-left: -250px;
		background:#f36f31;
    }
    #sideNav.active{
        margin-left: 0;
    }
    #mainContent {
        width: 100%;
    }
    #mainContent.active {
       /* width: calc(100% - 250px);*/
    }
    .contactPanel{height:220px;}
	.videoThumb{max-width:50%;}
	.btnWrapper{text-align:center;margin:10px 0;padding:0.5rem 0;}
	.resourceItem{margin:10px 0;}
	
	
	.aboutTxt{font-size:1.08rem;}
	.navbar-brand{margin-right:0.5rem;}
	.navbar-brand img{max-width:60px;}
	.navbar-expand-lg .navbar-nav .nav-link{font-size:1rem;padding:0.5rem;color:#222;}
	.prjtTile{margin:15px 0;}
	.footerPanel2 h5 a{font-size:0.95rem;}
	.mobile-none{display: none;}
	.footerCollapsed{display:block !Important;}
	.footerExpanded{display:none !Important;}
	.footerNav{margin-bottom:15px;}
	.footerSec{padding:0;}
	.memberPic{height:220px;}
	.memberPost{min-height:10px;}
	.prjtsCarouselOuter{width:100%;float:none;}
	.prjtsCarouselOuter .owl-carousel{margin:0;margin-bottom:20px;}
	.footerCollapsed .footerNav{
		float:left;
		width:50%;
		padding:0;
		
	}
	.footerCollapsed .footerNav:nth-child(odd){clear:both;}
	.ctaBg img{
		top: 0;
		bottom: 0;
		transform: none;
		left: 0;
	}
}
@media (max-width: 576px){
	.breadcrumb-tile{height: 100%;min-height: 215px;overflow: hidden;}
	.banneroverlay h1 span{font-size: 1.5rem;}
	.banneroverlay h2{font-size: 2rem;}
	.sectionHeading{font-size:1.5rem;}
	.navbar-expand-lg .navbar-nav .nav-link{font-size:0.8rem;padding:0.5rem;}
	.row.navTilesWrapper{display:block;}
	.col.navTile{width:100%;border-bottom:1px solid rgba(226,226,226,0.2)}
	.navTile a:hover{background:rgba(0,0,0,0.2);}
	.customerCare .phoneIcon{display:none;}
	
	.navPanel>.container{padding:0;}
	.navbar-light .navbar-brand{padding-left:15px;}
	.navbar-light .navbar-toggler{margin-right:15px;}
	.primaryMenu{padding:10px;}
	.navbar-expand-sm .navbar-nav .nav-link{border-bottom:1px solid #ccc;}
	.navbar-expand-sm .navbar-nav .nav-item:last-child .nav-link{border-bottom:none;}
	.homepage .mainBanner{height:200px;}
	#bannerCarousel .owl-item{height:200px;}
	
	.videoThumb{float:none;max-width:100%;}
	.videoThumb img{width:100%;}
	.footerNav {
		margin-bottom: 20px;
	}
	.footerCollapsed .footerNav{padding-right:5px;margin-bottom: 5px;}
	.footerCollapsed .footerNav h5{font-size:1rem;}
	.adani-footer-logo{float:none;}
	.footerLeftCol{text-align:center;}	
	.adani-footer-logo{border-right:none;}
	.footerPanel2 h5{text-align:left;margin-bottom:15px;}
	.footerPanel2 ul{text-align:left;}
	.prjtTile:hover{transform: none;}
	.panelBox{height:auto;}
	.footerCollapsed .adani-footer-logo{width:100%;border-right:none;max-width:100px;}
	.footerCollapsed .aboutTxt{width:100%;line-height:1.4;}
	.navPanel>.container{padding-right:10px;}
	.memberName{font-size:0.9rem;line-height:1.3;}
	.memberPost{font-size:0.75rem;line-height:1;margin-top:5px;}
	.member .memberDetails{padding:0.75rem;}
	
	.teamModal .mPic{width:50%;float:none;margin-bottom:10px;}
	.mDetails{padding-top:0;}
	.mAboutTxt{margin-top:15px;font-size:0.9rem;}
	.teamModal .mName{line-height:1.1;font-size:1.3rem;}
	.teamModal .modal-body{padding-top:0;}
	.teamModal .mPost{font-size:1.0rem;}
	.memberPic{height:150px;}
	#timeline{max-height:none;}
	.mobile-none{display: none;}
	.prjtTile{height:auto;}
	.video-thumb{text-align:center;margin-bottom: 20px;}
	.videos p{margin-bottom: 20px;}
	.video-thumb a::before{top: 27%;left: 40%;background-size: 100%;}
}
@media (max-width: 480px){
	.desktop-none{display:block;}
	.section-booking{padding: 0px;}
	.btnBordered{font-size:1.1rem;}
	.download-links{margin-left:0;}
	.download-links img {max-height: 15px;}
	.download-links li a{padding-left:2px;}
	.social-links{margin-right:3px;}
	.social-links li a{padding:0;}
	.quick-links li a{padding:0 3px;}
	.communityTile .tileCnt{width:100%;}
	.serviceTile .serviceIcon{display:table-cell;vertical-align:top;height:75px;overflow:hidden;}
	.serviceTile .serviceDetails{display:table-cell;vertical-align:middle;padding-left:1rem;padding-top:0;}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{background-size:50%;width:15px;height:33px;}
	.owl-carousel .owl-nav button.owl-prev{margin-left:-10px;}
	.owl-carousel .owl-nav button.owl-next{margin-right:-15px;}
	.nav-tabs .nav-item{width:100%;}
	.navbar-expand-lg .navbar-nav .nav-link{font-size:0.7rem;padding:0.25rem;}
	#partner-logos{}
	#partner-logos .owl-next{right: 13px;top: 6%;}
	#partner-logos .owl-prev{left: -3px;top: 6%;}
	#gallery{}
	#gallery .owl-next{right: 13px;top: 30%;}
	#gallery .owl-prev{left: -3px;top: 30%;}
	

}
@media (max-width: 380px){
	.navbar-expand-lg .navbar-nav {	
		margin-left:15px !Important;
	}
	.memberPic{height:120px;}
	.btnBordered {
		font-size: 1.0rem;
		padding:0.3rem 1.0rem;
	}
	.footerCollapsed .footerNav{padding-right:10px;}
	.footerPanel2 h5{margin-bottom:10px;}
	#partner-logos .owl-item img{width: 80%;margin-left: auto;margin-right: auto;}
	#partner-logos .owl-prev{top: 20%;}
	#partner-logos .owl-next{top: 20%;}
}
@media (max-width: 340px){
	
	.navbar-expand-lg .navbar-nav .nav-link{font-size: 0.60rem;padding: 0.25rem;}
	.quick-links{margin-right:2px;}
}