@font-face {
    font-family: AdaniBold;
    src: url(/fonts/AdaniWind/Adani-Bold.woff);
}

@font-face {
    font-family: AdaniSemiBold;
    src: url(/fonts/AdaniWind/Adani-SemiBold.woff);
}

@font-face {
    font-family: AdaniRegular;
    src: url(/fonts/AdaniWind/Adani-Regular.woff);
}

@font-face {
    font-family: AdaniMedium;
    src: url(/fonts/AdaniWind/Adani-Medium.woff);
}

a:hover {
    color: unset !important;
}

.contact-container {
    display: flex;
    padding-block: 2rem;
}

.contactDetails {
    width: 50%;
    padding: 35px;
}

h1.ContactUsHeading {
    color: #832084;
    font-weight: 700;
    padding-bottom: 20px;
    font-family: AdaniBold;
}

p.ContactDescription {
    padding-bottom: 29px;
}

.SalesTeamDiv {
    padding-bottom: 35px;
}

h5.Sales-Heading,
.CorpAddress-Heading {
    font-weight: 700;
    font-family: AdaniSemiBold;
}

.SalesTeamDiv a {
    color: unset;
    text-decoration: none;
}

p.Sales-Mail {
    color: cornflowerblue;
    text-decoration: underline;
}

p.Sales-Mobile {
    font-weight: 600;
    margin-bottom: 5px;
    font-family: AdaniMedium;
}

.ContactFormHeading {
    color: black;
    font-weight: 700;
    font-family: AdaniBold;
    padding-bottom: 20px;
}

.ContactForm {
    box-shadow: 0px 3px 6px #00000029;
    padding: 35px;
    border-radius: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.ContactSection {
    background: url(/-/media/13199C6BB5384CD5BD973AFA33188E2E);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: AdaniRegular;
    padding-top: 10%;
}

.form-contact,
needs-validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-floating label {
    color: black;
}

.form-contact input {
    border-color: #000000 !important;
}

.form-floating {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

button.SubmitBtnContact {
    border: none;
    background: #832084;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 33px;
    margin-block: 2rem;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.CorpAddress {
    padding-bottom: 35px;
}

p.Sales-Name {
    margin-bottom: 5px;
}

.SubmitBtnContact {
    background-color: #832084 !important;
    border-radius: 25px !important;
    color: white !important;
}

.form-floating > .form-control {
    height: calc(4rem + 2px) !important;
}

.form-floating > label {
    padding: 1.25rem 0.75rem !important;
}

.tacBold {
    font-weight: bold;
}

.mt-5 {
    margin-top: 3rem;
}

.mobile-trigger span {
    background-color: black !important;
}

.header-nav .menu-section > ul li a {
    color: black !important;
}

.home-page header:not(.sticky) .header-nav .menu-section > ul li a:hover {
    color: black !important;
}

a:hover {
    color: black !important;
}

.businessHeader {
    color: black !important;
    text-decoration: none;
}

@media (max-width: 767px) {
    .CorpAddress {
        padding-bottom: 35px;
    }

    p.Sales-Name {
        margin-bottom: 5px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contactDetails {
        width: 100%;
    }

    .ContactSection {
        background-position: fill;
    }
}
