* {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto Condensed', sans-serif; */
}


@font-face {
    font-family: AdaniBold;
    src: url(/assets/fonts/AdaniWind/Adani-Bold.woff);
}

@font-face {
    font-family: AdaniSemiBold;
    src: url(/assets/fonts/AdaniWind/Adani-SemiBold.woff);
}

@font-face {
    font-family: AdaniRegular;
    src: url(/assets/fonts/AdaniWind/Adani-Regular.woff);
}

@font-face {
    font-family: AdaniMedium;
    src: url(/assets/fonts/AdaniWind/Adani-Medium.woff);
}
/*<===================================== header code =====================================>*/
/* .header-body{
    background-color: sky;
} */

.header-body {
    background-color: sky;
}

.container-fluid-header {
    align-items: center !important;
}

.header-section .navbar-brand > img {
    display: initial;
}

.header-section .navbar-expand-lg {
    display: revert;
}

.header-section .navbar-collapse.collapse {
    display: grid !important;
    /* height: auto!important; */
    padding-bottom: 0;
    overflow: visible !important;
}

.header-section .overlay {
    top: 0 !important;
    position: absolute !important;
    left: 13% !important;
}

.nav-item {
    font-family: AdaniSemiBold !important;
    margin: 1rem;
    font-size: 16px;
}

.business-link {
    text-decoration: none;
    color: red;
}

.top i {
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.business {
    font-family: AdaniSemiBold !important;
    font-size: 16px;
}

/* a.business-link {

    color: white;

} */
.business-link {
    text-decoration: none;
    color: black;
}

.top {
    font: normal normal medium 30px/36px Adani;
    text-align: end;
    margin-right: 2.3rem;
    padding-top: 1rem;
}
/* Sidebar styling */

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Start offscreen */
    width: 250px;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease-in-out;
}

    /* Sidebar ul and li styling */

    .sidebar ul {
        list-style: none;
        padding-top: 50px;
    }

    .sidebar li {
        margin-bottom: 15px;
    }

    .sidebar a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        display: block;
        padding: 10px;
        transition: background-color 0.2s;
    }

/* Icon styling */
.icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
}

div#sidebar {
    overflow-y: auto !important;
    overflow-y: auto !important;
}
/*<===================================== header code end=====================================>*/
/* .full-screen-image {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.main-img {
    width: 100%;
    height: auto;
    height: 100vh;
    display: block;
} */

/* .main .overlay {
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    left: 3%;
    z-index: 999
} */
/* .main .nav-link{
    color: white !important;
}
a.business-link {
    color: white;
} */
.cm-home .content-header span {
    margin-top: 26% !important;
    font-family: AdaniSemiBold;
}

.header-section .navbar-collapse .homepage-navbar {
    display: inline !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

i.fa.fa-bars {
    color: black;
}

.nav-item {
    /* font: normal normal medium 30px/36px Adani ; */
    font-family: AdaniSemiBold !important;
    margin: 1rem;
    font-size: 16px;
}

.explore {
    margin-top: 11rem !important;
}

.adani-wind {
    font-weight: bold;
    font-family: AdaniSemiBold;
    font-size: 44px;
    margin-bottom: 0;
    color: white;
}

.adani-wind-title {
    font-weight: bold;
    font-family: AdaniSemiBold;
    font-size: 44px;
    margin-bottom: 0;
    color: #000000;
}

.banner .list-class {
    border: #832084 !important;
    background-color: #832084 !important;
}

.adani-wind-detail {
    font-size: 27px;
    font-family: AdaniMedium;
    color: white;
}

.explore-btn {
    background-color: white !important;
    border-radius: 37px !important;
    border: none !important;
    font-size: 24px;
    font-family: AdaniMedium;
    color: #832084 !important;
}

.know-btn {
    background-color: #832084 !important;
    border-radius: 37px !important;
    border: none !important;
    font-size: 24px;
    font-family: AdaniMedium;
    margin-top: 1rem;
}

/* Media query for header */
@media (max-width: 768px) {
    .main-img {
        width: auto !important;
        /* height: auto !important;
     */
        /* object-fit: cover;
     */
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.AboutUsPage {
    background-image: url('/-/media/87958B18BDFB4DDFADE2EF811962D5AA');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-header {
    margin-top: 10rem !important;
    width: 100%;
    height: 400px;
}

.second-image {
    object-fit: cover !important;
    width: 95%;
}

.about-us {
    font-weight: bold;
    color: #832084;
    margin-bottom:;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-family: AdaniMedium;
}

.about-us-img {
    margin-top: 7rem !important;
}

.business-logo {
    margin: 0.5rem;
}

.business {
    font-family: AdaniSemiBold !important;
    font-size: 16px;
}

.header-body.top {
    margin-top: 2rem;
}

.dropdown-menu {
    display: none;
}

    .dropdown-menu .show {
        display: block;
        position: absolute;
        inset: 30px 111px auto auto;
        transform: translate3d(5px, 24.8px, 0px);
        border-radius: 10px;
    }

.business-link {
    text-decoration: none;
    color: black;
}

.about-us-detail {
    font-family: AdaniRegular;
    font-size: 2rem;
}

.thirdSection {
    background-image: url('/-media/F1E04675912B4FFABF25A67BC2CCD325');
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

    .thirdSection h2 {
        font-size: 36px !important;
        margin-top: 4rem;
    }

    .thirdSection h2,
    p {
        font-family: AdaniMedium;
        /* color: #FFFFFF; */
        opacity: 1;
    }

.infrastructural-title {
    margin-top: 2rem;
    font-weight: bold;
}

.know-btn2 {
    background-color: #FFFFFF !important;
    color: black !important;
    border-radius: 37px !important;
    border: none !important;
    font-size: 24px;
    font-family: AdaniMedium;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* justify-items:center !important; */
    /* align-items: center !important */
}

.btn2 {
    display: flex !important;
    justify-content: center !important;
}

.services,
.tech {
    font-family: AdaniMedium;
    color: #832084;
    font-size: 36px;
    margin-top: 3rem;
}

.services-detail,
.tech-detail {
    font-family: AdaniRegular;
    font-size: 24px;
}

.know-btn3 {
    background-color: #832084 !important;
    color: white !important;
    border-radius: 37px !important;
    border: none;
    font-size: 24px;
    font-family: AdaniMedium;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* justify-items:center !important; */
    /* align-items: center !important */
}

.btn3 {
    display: flex !important;
    justify-content: center !important;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card-title {
    color: #2E60CB;
    font-family: AdaniMedium;
    font-size: 26px;
    text-align: left;
}

.card-text {
    font-family: AdaniRegular;
    font-size: 20px;
    text-align: left;
}

.card-body i {
    display: flex;
    margin-bottom: 20px;
}


/* WTG section CSS */
.wtg-section {
    background-image: url('/-/media/533C54072922469EA0F7866F5F945419');
    width: 100% !important;
    height: 550px !important;
    background-repeat: no-repeat;
    background-size: cover;
}



.WTG-heading {
    font-size: 3rem;
    color: white !important;
    font-family: AdaniMedium;
    margin-bottom: 3rem;
}



.WTG-details {
    font-size: 2rem;
    color: white !important;
    font-family: AdaniMedium;
}



.explore-WTG-btn {
    background-color: #832084 !important;
    border-radius: 37px !important;
    border: none !important;
    font-size: 24px;
    font-family: AdaniMedium;
    color: white !important;
    font-size: 18px !important;
    width: 45% !important;
    margin-top: 30px !important;
}
/* <========================================WTG section CSS end =================================>*/


/* Fifth section code start */

.fifth-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #2653b4 !important;
    border-radius: 0 !important;
    opacity: 1;
}

.card-title-fifth {
    color: #FFFFFF;
    font-family: AdaniMedium;
    font-size: 26px;
    text-align: left;
}

.card-text-fifth {
    font-family: AdaniRegular;
    font-size: 20px;
    text-align: left;
    color: #FFFFFF;
}

.know-btn4 {
    background-color: white !important;
    color: black !important;
    border-radius: 37px !important;
    border: none;
    font-size: 24px;
    font-family: AdaniMedium;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex !important;
    float: left !important;
    text-align: left;
}

.btn4 {
    padding-bottom: 30px;
}

.card-content {
    margin: 52px;
}



.fifthsection {
    background-image: url('images/blueimg.jpg');
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    background-size: cover;
}

/* Fifth section code end */

.tech {
    text-align: center;
    font-size: 40px;
}

.tech-detail {
    text-align: center;
    font-size: 36px;
}

.playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 39px;
    padding: 16px;
}

.video-tab {
    position: relative;
}

.volumnebutton {
    position: absolute;
    top: 85%;
    left: 90%;
    /* transform: translate(-50%, -50%); */
    padding: 11px;
    border-radius: 42px
}

/* .hidden {
    display: none !important;
  } */

.seventh-img {
    /* background-image: url('images/first-img.png'); */
    width: 100%;
    height: auto !important;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    /* background-size: cover;transform: translate(13%, 50%); */
}

.sevenTh-content {
    position: absolute;
    /* top: 40%;
        left: 40%; */
    transform: translate(2%, -91%);
}

.sevenTh-detail {
    color: white;
}

.sevenTh-img {
    object-fit: cover !important;
    width: 60%;
}

.sevenTh-header {
    /* background-image: url('images/secondimg2.svg'); */
    margin-bottom: 9rem !important;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.sevenTh-detail {
    font-family: AdaniMedium;
    font-size: 30px;
}

.sevenTh .sevenTh-btn {
    margin-top: 30px !important;
}

.getInTouch-btn {
    color: #fff !important;
    /* background-color: #0d6efd; */
    border-color: #ffffff !important;
    /* background-color: rgba(0,0,0.8) !important; */
    border-radius: none !important;
    margin-top: 20px !important;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
}

.fa-arrow-right {
    margin-left: 10px;
}

.eighTh {
    background-image: url('images/secondimg2.svg');
    /* margin-top: 10rem !important; */
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.eighTh-card {
    width: 20%;
    height: 200px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

.tech-partner {
    font-family: AdaniMedium;
    color: #832084;
    font-size: 36px;
    margin-top: 3rem;
    display: flex !important;
    margin-bottom: 63px;
    margin-top: 70px;
    justify-content: left !important;
}

div .small-img {
    width: 20%;
    float: left;
    /* display: inline-block; */
    min-width: 100px;
    /* equal to the width of the image */
    text-align: center;
}

.seveThimg {
    width: 100px;
    /* height: 50px; */
}


.reachus img {
    width: 100%;
    position: relative;
}

.reachus .overlay {
    position: absolute;
    top: 226px;
    /* right: 15px; */
    font-weight: bold;
    /* text-align: right; */
    /* font-size: 30px; */
}

.sevenTh-detail {
    font-family: AdaniMedium;
    font-size: 30px;
    text-align: left;
}

.sevenTh-detail {
    color: white;
    font-family: AdaniMedium;
    font-size: 3rem;
    text-align: left;
}

.reachus .sevenTh-btn {
    margin-top: 30px !important;
}

.getInTouch-btn {
    color: #fff !important;
    /* background-color: #0d6efd; */
    border-color: #ffffff !important;
    /* background-color: rgba(0,0,0.8) !important; */
    border-radius: none !important;
    margin-top: 20px !important;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
}

.reachus .sevenTh-header {
    margin-left: 8rem;
}
/*<============================= Reach Us At for any Inquiry and Information end. ====================>*/


/*<============================= Synergy Carousel start. ====================>*/

.images-background {
    background-image: url('/-/media/87958B18BDFB4DDFADE2EF811962D5AA');
    margin-top: 10rem !important;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev-icon {
    background-image: url('/-/media/92AD9D95463140228ED40B08A858725B') !important;
}

.carousel-control-next-icon {
    background-image: url('/-/media/D312855ACF65406A9A759E173487D46D') !important;
}

.first {
    width: 39% !important;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.last {
    width: 80% !important;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card {
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

.slick-active {
    width: 70%;
}

.carousel-inner {
    display: flex;
    justify-content: center;
}

.images-background p,
.images-background h2 {
    text-align: center;
    font-family: AdaniMedium;
}

.images-background h2 {
    color: #832084 !important;
    font-size: 3rem;
}

.heading {
    margin-bottom: 5rem;
}

.contain {
    margin-top: 5rem;
}

.images-background p {
    text-align: center;
    font-size: 2rem;
}
/*<============================= Synergy Carousel end. ====================>*/

/*<============================= Manufacturing Excellence start ====================>*/
.Manufacturing {
    background-image: url('/-/media/759599F666B04506B7717CEAF22C8486');
    margin-top: 10rem !important;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.Manufacturing-content {
    font-family: AdaniRegular;
    /* font-size: 24px; */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 39px !important;
    margin: 50px !important;
}

.Manufacturing-detail {
    margin-bottom: 1rem;
    font-size: 2rem !important;
    font-family: AdaniMedium
}

.Manufacturing-heading {
    font-family: AdaniRegular;
    margin-top: 0px;
    font-size: 3rem !important;
    margin-bottom:;
}

.Manufacturing .know-btn {
    color: black !important;
    background-color: white !important;
}
/*<============================= Manufacturing Excellence end ====================>*/
/*<============================= India's Largest Wind Turbine Generator ====================>*/

.video-section .item {
    opacity: 0.4;
    transition: .4s ease all;
    margin: 0 20px;
    transform: scale(.8);
}



@media(max-width:1000px) {

    .video-section .item {
        margin: 0;
        transform: scale(.9)
    }
}



.video-section .active .item {
    opacity: 1;
    transform: scale(1);
}



body {
    margin: 80px 0 0 0;
}



.video-section .owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}



.video-section video {
    max-width: 95%;
    height: auto;
}

.slick-active

.video-carousel {
    text-align: center;
    padding: 8px;
}

.video-section .slick-dots {
    bottom: -20px !important;
    left: 0px !important;
}

.video-carousel .video-carousel-heading1 {
    color: #832084;
    font-family: AdaniMedium;
    font-size: 3rem;
}

.video-carousel .video-carousel-details1 {
    font-family: AdaniMedium;
    font-size: 3rem;
}

.video-carousel {
    background-image: url('/-/media/13199C6BB5384CD5BD973AFA33188E2E');
    margin-top: 3rem !important;
    /* width: 100vw; */
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoSlider {
    background-image: url('/-/media/13199C6BB5384CD5BD973AFA33188E2E');
}

/*<============================= India's Largest Wind Turbine Generator end====================>*/

/*<===================================== Home banner=====================================>*/

/* h5 { */
/* display: inline-block; */
/* padding: 10px; */
/* background: #B9121B; */
/* border-top-left-radius: 10px; */
/* border-top-right-radius: 10px; */
/* } */

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .carousel-caption {
    position: absolute;
    right: 15% !important;
    bottom: 26.25rem !important;
    left: 15% !important;
    /* padding-top: 1.25rem; */
    /* padding-bottom: 1.25rem; */
    color: #fff !important;
    /* text-align: center; */
    width: 46% !important;
    text-align: left !important;
}

.banner-explore-btn {
    background-color: white !important;
    border-radius: 37px !important;
    border: none !important;
    font-size: 20px !important;
    font-family: AdaniMedium;
    color: #832084 !important;
    width: 22%;
}

.banner .carousel-indicators {
    position: absolute;
    /* right: 0; */
    bottom: 28%;
    left: 0;
    /* z-index: 2; */
    display: flex;
    justify-content: center;
    padding: 0;
    /* margin-right: 15%; */
    /* margin-bottom: 1rem; */
    margin-left: -14%;
    list-style: none;
}

/*<===================================== banner end=====================================>*/

/* <====================================Media Query home page=====================================================> */



@media (max-width: 768px) {
    .slick-dots {
        position: absolute;
        bottom: 10% !important;
        /* left: 2% !important; */
    }

    .sevenTh-content {
        position: absolute;
        transform: translate(2%, -72%);
    }

    .about-us-img {
        margin-top: 0rem !important;
    }

    .AboutUsPage .about-us-img {
        text-align: center;
    }


    .Manufacturing-content {
        margin-right: calc(var(--bs-gutter-x) * -.5);
    }

    .WTG-details {
        font-size: 13px;
        color: white !important;
        font-family: AdaniMedium;
    }

    .explore-WTG-btn {
        background-color: #832084 !important;
        border-radius: 37px !important;
        border: none !important;
        font-family: AdaniMedium;
        color: white !important;
        font-size: 11px !important;
        width: 56% !important;
        margin-top: 30px !important;
    }

    .Manufacturing .ManufacturingTurbine {
        max-width: 85%;
    }

    .Manufacturing {
        max-height: 6500px;
    }

    .sevenTh-header {
        margin-bottom: 173px !important;
        height: 69px !important;
        object-fit: cover !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .seventh-img {
        background-image: url(images/first-img.png);
        width: 100% !important;
        height: 200px !important;
        background-repeat: no-repeat !important;
    }

    .images-background {
        height: 100% !important;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }

    .about-us-header {
        margin-top: 3rem !important;
        width: 100% !important;
        height: 550px !important;
        object-fit: cover !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .AboutUsPage {
        height: 100% !important;
    }

    .video-carousel .video-carousel-heading1 {
        color: rgb(131, 32, 132);
        font-family: AdaniMedium;
        font-size: 23px;
    }

    .video-carousel .video-carousel-details1 {
        font-family: AdaniMedium;
        font-size: 20px;
    }
}

/* <====================================Media Query home page end =====================================================> */
.multiple-items .slick-dots {
    bottom: -100% !important;
    left: 5% !important;
}

.crousel-slider {
    margin-left: auto !important;
    margin-right: auto !important;
}
/* .container-fluid .slick-prev , .container-fluid .slick-next{ */
/* display:none !important; */
/* } */


/* <====================================Home video carousel=====================================================> */
.videoplayButtonHome {
    padding: 5px 5px 5px 7px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 39px;
    z-index: 99;
    background: white;
}

.slide-container div:first-child {
    position: relative;
}

/* <====================================Home image carousel=====================================================> */
.multiple-items .slick-prev {
    display: none;
}

.multiple-items.slick-next {
    display: none;
}

.carousel {
    height: 900px !important;
}

a.btn.btn-primary.know-btn {
    display: none;
}

.multiple-items .slick-arrow {
    display: none;
}
