.newsroom-card {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
}
.newsroom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-right: 25px !important; 
}
.service-row .card-date {
    text-align: left;
    color: #AAAAAA;
    font-size: 20px;
    font-family: AdaniMedium;
}

.service-row .card-text {
    font-family: AdaniSemiBold;
	font-size: 20px;
    font-weight: 600;
    color: black;
}

.dropdown-container {
   margin: 20px;
}

.lable-MY-select {
    padding: 10px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
	width: 17%;
    border-radius: 21px;
}

.lable-MY{
    font-family: AdaniSemiBold;
    font-size: 24px;
}

.newsroom-input {
    text-align: right;
}
.newscard{
	text-decoration:none !important;
}