/* Add your desired styles here */
@font-face {
    font-family: AdaniBold;
    src: url(/assets/fonts/AdaniWind/Adani-Bold.woff);
}

@font-face {
    font-family: AdaniSemiBold;
    src: url(/assets/fonts/AdaniWind/Adani-SemiBold.woff);
}

@font-face {
    font-family: AdaniRegular;
    src: url(/assets/fonts/AdaniWind/Adani-Regular.woff);
}

@font-face {
    font-family: AdaniMedium;
    src: url(/assets/fonts/AdaniWind/Adani-Medium.woff);
}

body {
    font-family: AdaniRegular;
}

h5 {
    font-family: AdaniRegular;
}

.menu-container {
    width: 200px; /* Set the desired width for the menu container */
    height: 300px; /* Set the desired height for the menu container */
    overflow-y: auto; /* Enable vertical scrollbar when content exceeds container height */
    border: 1px solid #ccc;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .menu li {
        padding: 8px 12px;
        border-bottom: 1px solid #ccc;
    }

        .menu li:last-child {
            border-bottom: none;
        }

.menu-container {
    width: 200px; /* Set the desired width for the menu container */
    height: 300px; /* Set the desired height for the menu container */
    overflow-y: auto; /* Enable vertical scrollbar when content exceeds container height */
    border: 1px solid #ccc;
}


.slick-dots {
    position: absolute;
    bottom: 10% !important;
    /* left: 2% !important; */
}

body.home-page {
    background: transparent;
}

.home-page .header-nav .menu-section > ul li a:hover {
    background-color: rgba(255, 255, 255, .1);
    color: #fff !important;
}

.sticky .header-nav .menu-section > ul li a:hover,
body:not(.home-page) .header-nav .menu-section > ul li a:hover {
    background: #f3f3f3;
    color: #000 !important;
}

.header.sticky .mobile-trigger:hover,
body:not(.home-page) .mobile-trigger:hover {
    background: #f3f3f3;
}

.header-nav .menu-section > ul li a:hover {
    background-color: rgba(255, 255, 255, .1);
    color: #fff !important;
}

.sticky .header-nav .menu-section > ul li a:hover {
    background: #f3f3f3;
    color: #000 !important;
}

.header-nav .menu-section > ul li + li {
    margin-left: 8px;
}

.home-page header {
    position: absolute;
}

body:not(.home-page) .header-wrapper {
    min-height: 76px;
}

.logo-area {
    display: flex;
    align-items: center;
}

    .logo-area p {
        margin: 0;
        line-height: 1.75;
        color: #222;
        margin-left: 15px;
        font-size: 13px;
    }

.home-page header:not(.sticky) .logo-area p {
    color: #fff;
}

body:not(.home-page) .custom-header-wraper {
    min-height: 76px;
}

.home-page .header-nav .menu-section > ul .submenu-btm > li > a:hover {
    color: #222 !important;
}

.home-page .header-nav .menu-section > ul .submenu-btm > li > a:hover {
    background: #f3f3f3;
}

.home-page .slide-container .slider-content .carousel-btn:active {
    transform: scale(.94);
}

.home-page header:not(.sticky) .white-logo {
    display: block !important;
}

.home-page header:not(.sticky) .wind-logo {
    display: none !important;
}

.header-nav {
    display: flex;
    justify-content: end;
}

    .header-nav .menu-section .submenu-btm a:after {
        content: none !important;
    }

    .header-nav .menu-section .submenu-btm li a:hover {
        background-color: #f5f5f5;
    }

    .header-nav .menu-section > ul > li:hover > ul {
        display: block;
    }

    .header-nav .menu-section .submenu-btm > li > a,
    .header-nav .menu-section .submenu-btm > li > a:hover,
    .home-page .header-nav .menu-section > ul .submenu-btm > li > a:hover {
        color: #222 !important;
    }

    .header-nav .menu-section .submenu-btm {
        position: absolute;
        margin: 0;
        border-radius: 8px;
        box-shadow: 0 10px 37px 0 rgba(0, 0, 0, 0.15);
        background-color: #fff;
        width: 243px;
        margin-top: 20px;
        list-style: none;
        padding: 10px 0;
        display: none;
    }

        .header-nav .menu-section .submenu-btm:before {
            content: '';
            display: block;
            height: 20px;
            width: 100%;
            position: absolute;
            top: -20px;
        }

        .header-nav .menu-section .submenu-btm li {
            margin: 0;
        }

            .header-nav .menu-section .submenu-btm li a {
                display: block;
                border-radius: 0;
                color: #222;
                line-height: normal;
                padding: 15px 20px;
            }

    .header-nav .menu-section > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }

        .header-nav .menu-section > ul li {
            font-size: 14px;
            line-height: normal;
        }

    .header-nav .menu-section ul li.active-link a {
        position: relative;
    }

        .header-nav .menu-section ul li.active-link a::after {
            bottom: -21px;
        }

        .header-nav .menu-section ul li.active-link a::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #016738;
            bottom: -20px;
            left: 0;
        }

.header.sticky .header-nav .menu-section ul li.active-link a::after {
    bottom: -17px;
}

.header-nav .menu-section > ul li a {
    color: #222;
    display: inline-block;
    padding: 9px 16px;
    border-radius: 18px;
}

.mobile-trigger span {
    background-color: #222;
    width: 18px;
    height: 2px;
    display: block;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}

    .mobile-trigger span + span {
        margin-top: 4px;
    }

.mobile-trigger {
    cursor: pointer;
    margin-right: 12px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding-top: 11px;
    border-radius: 18px;
    margin-left: -9px;
}

    .mobile-trigger:hover {
        background: rgba(255, 255, 255, .1);
    }

.home-page header:not(.sticky) .mobile-trigger span {
    background: black;
}

.home-page header:not(.sticky) .header-nav .menu-section > ul li a {
    color: black;
}

    .home-page header:not(.sticky) .header-nav .menu-section > ul li a:hover {
        color: #000;
        text-decoration: none;
    }

a.sub-menu-btn:hover {
    background: #f4f4f4;
}

.accordion-button:not(.collapsed)::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23222222'%3e%3cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion-button:not(.collapsed) {
    font-family: "AdaniRegular";
    box-shadow: none !important;
    border-bottom-color: transparent !important;
}

a.sub-menu-btn label {
    cursor: pointer;
}

.header-wrapper {
    /* min-height: 109px; */
    z-index: 1;
}

body:not(.home-page) .header-wrapper {
    min-height: 76px;
}

.header-wrapper .container {
    max-width: 1100px;
}

.hamburger_section.logo-sec img {
    width: 34%;
}

.hamburger_section.logo-sec {
    padding: 20px 24px;
}

header {
    padding: 20px 0;
    transition: all .3s ease;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

.header.sticky {
    background-color: #fff;
    z-index: 199;
    border-bottom: solid 1px #e2e2e2;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    animation: slide-down .4s;
    padding: 15px 0;
}

header {
    padding: 20px 0;
}

    header .header.transparent .header-nav .menu-section > ul li a {
        color: #fff;
    }

    header.transparent .header-nav .menu-section > ul li a:hover {
        color: #222;
    }

    header .container > .row {
        align-items: center;
    }

#error-container .btn {
    margin-bottom: 3.75rem;
}

    #error-container .btn a {
        color: #006738 !important;
    }

    #error-container .btn:hover a {
        color: #fff !important;
    }

.carousel .slide-container img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.carousel span.slick-arrow:hover svg {
    fill: #222;
}

.explore-banner + .container .explore-desc {
    margin-bottom: 72px;
}

.carousel .slide-container img {
    object-position: right;
}

@media (max-width: 1199px) {
    .logo-section {
        width: 30%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .carousel .slide-container img {
        object-position: right;
    }

    .carousel .slide-container .slider-content {
        max-width: 50%;
    }
}

.container {
    padding-right: var(--bs-gutter-x, 1.0rem);
    padding-left: var(--bs-gutter-x, 1.0rem);
}

.carousel .slide-container .slider-content {
    width: 100%;
    max-width: 60% !important;
}

.carousel .slide-container img {
    object-position: bottom;
}

.carousel .slide-container {
    height: auto !important;
}

.x-banner .container {
    display: none;
}

.carousel .slide-container {
    position: relative;
    object-fit: cover;
    height: 47.4rem;
    width: 100%;
}

    .carousel .slide-container .slider-content {
        position: absolute;
        z-index: 1;
        color: #ffffff;
        max-width: 35%;
        top: 40%;
        right: 0;
        bottom: inherit;
        left: 18%;
        transform: translate(-50px, -50px);
        float: left;
    }

        .carousel .slide-container .slider-content h3 {
            font-size: 32px;
            margin-bottom: 0;
            color: #ffffff;
            padding-bottom: 15px;
            letter-spacing: -.042rem;
            font-family: 'AdaniRegular';
        }

            .carousel .slide-container .slider-content h3 span {
                display: block;
                position: relative;
            }

        .carousel .slide-container .slider-content p {
            font-size: 24px;
            line-height: 36px;
        }

.carousel .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 9;
    background-color: #ffffff;
    border: none;
    opacity: 0;
    visibility: hidden;
    width: 40px;
    height: 40px;
}

.carousel:hover span.slick-arrow {
    opacity: 1;
    visibility: visible;
}

.carousel .slick-prev {
    left: 2rem;
}

.carousel .slick-next {
    right: 2rem;
}

.carousel-btn {
    border: #fff;
    background: #fff;
    color: #222 !important;
    margin-top: 2.5rem;
    font-size: 16px;
    border-radius: 40px;
    padding: 10px 32px;
    line-height: 1.5;
    font-family: 'Roboto-Medium';
    display: inline-block;
}

.carousel .slick-dots {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    left: 0;
    right: 0;
    bottom: 30px;
}

.carousel span.slick-arrow {
    display: flex;
}

    .carousel span.slick-arrow img {
        width: 6px;
    }

.green-action-bar .slick-dots {
    display: none !important;
}

.logo-section {
    display: flex;
    align-items: center;
}

.sidebar-navigation {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
    top: 0;
    left: 0;
    width: 400px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(-100%);
    height: 100vh;
    z-index: 9999;
}

.menu-open .sidebar-navigation {
    transform: none;
}

.sidebar-navigation .offcanvas-body {
    padding: 0;
    background-color: #fff;
    scroll-behavior: smooth;
}

.sidebar-navigation .hamburger_section {
    background-color: #fff;
    margin-bottom: 0.5rem;
    padding: 32px 24px;
    position: relative;
}

    .sidebar-navigation .hamburger_section:after {
        content: '';
        height: 0.5rem;
        background: #f1f1f1;
        display: block;
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        width: 100%;
    }

    .sidebar-navigation .hamburger_section:last-child:after {
        content: none;
    }

    .sidebar-navigation .hamburger_section h5 {
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
        color: #999;
    }

    .sidebar-navigation .hamburger_section ul {
        margin: 0 -24px;
        padding: 0;
        list-style: none;
    }

        .sidebar-navigation .hamburger_section ul > li {
            font-size: 16px;
            line-height: 32px;
        }

            .sidebar-navigation .hamburger_section ul > li > a {
                color: #222;
                padding: 12px 24px;
                display: block;
            }

    .sidebar-navigation .hamburger_section.single_item {
        padding: 0;
    }

        .sidebar-navigation .hamburger_section.single_item ul > li > a {
            min-height: 4.5rem;
            display: flex;
            align-items: center;
        }

        .sidebar-navigation .hamburger_section.single_item > ul {
            margin: 0;
        }

    .sidebar-navigation .hamburger_section i {
        color: #555;
        margin-right: 18px;
    }

        .sidebar-navigation .hamburger_section i:before {
            font-size: 16px;
        }

        .sidebar-navigation .hamburger_section i.icon {
            margin: 0 0 0 auto;
            transition: transform .3s;
            color: #666;
        }

            .sidebar-navigation .hamburger_section i.icon:before {
                font-size: 13px;
            }

    .sidebar-navigation .hamburger_section:last-child {
        margin: 0;
    }

    .sidebar-navigation .hamburger_section.single_item ul.submenu {
        margin: 0;
        padding-bottom: 32px;
    }

    .sidebar-navigation .hamburger_section ul > li.hide-view {
        display: none !important;
    }

    .sidebar-navigation .hamburger_section.single_item ul.submenu li a {
        min-height: initial;
        padding: 12px 22px;
    }

    .sidebar-navigation .hamburger_section.single_item ul > li > a img {
        width: 22px;
        height: 22px;
        object-fit: contain;
        margin-right: 16px;
    }

    .sidebar-navigation .hamburger_section.single_item ul > li > a.active .icon {
        transform: rotate(180deg);
    }

    .sidebar-navigation .hamburger_section.single_item .submenu > li.active > a {
        position: relative;
        background-color: #f4f4f4;
    }

        .sidebar-navigation .hamburger_section.single_item .submenu > li.active > a:after {
            content: "юб│";
            text-align: center;
            font-style: normal;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: "icons";
            font-size: 1rem;
            color: #4d9f39;
            position: absolute;
            right: 22px;
            top: 50%;
            transform: translateY(-50%);
        }

.img-hamburger {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-right: 16px;
}

.overLay,
.popup-overLay,
.filter-overLay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
}

.logo {
    width: 200px;
}

.active-popup .popup-overLay,
.active-filter .filter-overLay {
    opacity: 0.5;
    visibility: visible;
}

.popup-overLay {
    z-index: 999 !important;
}

.menu-open .overLay {
    opacity: .5;
    visibility: visible;
}

.contact-section .overLay {
    z-index: 99;
}

.contact-section .overLay {
    z-index: 999;
}

.contact-section.open .overLay {
    opacity: 60%;
    visibility: visible;
}

.active-popup .overLay {
    opacity: 60%;
    visibility: visible;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #666666;
}

    a:hover {
        text-decoration: none;
        color: #666666;
    }
/* Carousel Experiment */
.carousel {
    display: block;
    position: relative;
}

    .carousel .slide-container {
        position: relative;
        object-fit: cover;
        height: 47.4rem;
        width: 100%;
    }

        .carousel .slide-container .slider-content {
            position: absolute;
            z-index: 1;
            color: #ffffff;
            max-width: 35%;
            top: 40%;
            right: 0;
            bottom: inherit;
            left: 18%;
            transform: translate(-50px, -50px);
            float: left;
        }

            .carousel .slide-container .slider-content h3 {
                font-size: 32px;
                margin-bottom: 0;
                color: #ffffff;
                padding-bottom: 15px;
                letter-spacing: -.042rem;
                font-family: 'AdaniRegular';
            }

                .carousel .slide-container .slider-content h3 span {
                    display: block;
                    position: relative;
                }

            .carousel .slide-container .slider-content p {
                font-size: 24px;
                line-height: 36px;
            }

    .carousel .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 9;
        background-color: #ffffff;
        border: none;
        opacity: 0;
        visibility: hidden;
        width: 40px;
        height: 40px;
    }

    .carousel:hover span.slick-arrow {
        opacity: 1;
        visibility: visible;
    }

    .carousel .slick-prev {
        left: 2rem;
    }

    .carousel .slick-next {
        right: 2rem;
    }

.carousel-btn {
    border: #fff;
    background: #fff;
    color: #222 !important;
    margin-top: 2.5rem;
    font-size: 16px;
    border-radius: 40px;
    padding: 10px 32px;
    line-height: 1.5;
    font-family: 'Roboto-Medium';
    display: inline-block;
}

.carousel .slick-dots {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    left: 0;
    right: 0;
    bottom: 30px;
}

.carousel span.slick-arrow {
    display: flex;
}

    .carousel span.slick-arrow img {
        width: 6px;
    }

.carousel-btn {
    display: inline-block;
}

.carousel .slide-container img {
    height: 100%;
    object-fit: cover;
}

.carousel span.slick-arrow:hover svg {
    fill: #222;
}

.slick-dots li {
    margin: 0 3px;
    border: solid 1px #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #832084;
}

.slick-dots li {
    height: 7px !important;
    width: 7px !important;
}

.slick-dots button {
    display: none;
}

.slick-dots li.slick-active, .slick-dots li:hover {
    background-color: #fff;
}

.slick-dots {
    position: absolute;
    bottom: 2% !important;
    left: 15% !important;
}

    .slick-dots li button:before {
        font-size: 0px !important;
    }

@media (max-width:768px) {
    .carousel .desk-img {
        display: none;
    }

    .sidebar-navigation {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    .sidebar-navigation .hamburger_section .sub-menu-btn {
        background-color: #fff;
    }

    .sidebar-navigation .hamburger_section ul > li > a.sub-menu-btn:hover {
        background: #fff;
    }

    .overlay-active {
        visibility: visible;
        opacity: 0.5;
    }
}

@media (max-height: 600px) {
    .sidebar-navigation .hamburger_section:last-child {
        padding-bottom: 80px;
    }
}

@media (max-width:991px) and (min-width:601px) {
    .carousel .desk-img {
        display: none;
    }

    .desk-video {
        display: none;
    }
}

@media (max-width:991px) {
    .top_bar_nav {
        display: none;
    }
}

@media (max-width:400px) {
    .logo-section {
        width: 100%;
    }
}

@media (max-width:991px) {
    .header-nav {
        display: none;
    }

    .slick-dots {
        display: none !important;
    }

    .logo-section {
        width: 50%;
    }

    .sidebar-navigation {
        max-width: 90%;
    }

        a.sub-menu-btn label,
        .sidebar-navigation .hamburger_section.single_item ul.submenu li a {
            line-height: normal;
        }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-in-out;
    }

    .desk-img {
        display: none;
    }

    .desk-video {
        display: none;
    }

    .carousel .slide-container .slider-content {
        width: 100%;
        max-width: 60% !important;
    }

    .carousel .slide-container img {
        object-position: bottom;
    }

    .carousel .slide-container {
        height: auto !important;
    }

    .carousel .slick-arrow {
        display: none !important;
    }

    .carousel .slide-container img {
        object-position: bottom;
    }
}

@media (max-width:768px) {
    .carousel .desk-img {
        display: none;
    }

    .desk-video {
        display: none;
    }
}

@media (max-width: 1380px) {
    .header-nav .menu-section .submenu-btm {
        right: 0;
    }

    .header-nav .menu-section > ul > li {
        position: relative;
    }
}

@media (min-width: 992px) {
    .sidebar-navigation .hamburger_section ul > li > a:hover {
        background-color: #f4f4f4;
    }

    .terms-condition-wrapper.collapse-item .service-menu {
        width: 270px;
        min-width: 270px;
    }

        .terms-condition-wrapper.collapse-item .service-menu .inner {
            opacity: 1;
            visibility: visible;
        }

    .overlay {
        display: none;
    }

    .mob-img {
        display: none !important;
    }

    .mob-video {
        display: none !important;
    }

    .carousel .slide-container img {
        object-position: right;
    }

    .carousel {
        overflow: hidden;
        height: 47.4rem;
    }
}

@media (max-width: 400px) {
    .logo-section {
        width: 100%;
    }
}


/*Business Menu*/
.businessHeader {
    color: black;
}

    .businessHeader:hover {
        color: white;
    }

.top_bar_nav {
    position: relative;
}

.business_dropdown {
    z-index: 2;
    max-height: 0px;
    background-color: #fff;
    border: 0px solid #eee;
    border-radius: 12px;
    width: 260px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(0, 0, 0, .12);
    position: absolute;
    right: 0px;
    top: 150%;
    transition: ease all 0.3s;
    margin-top: 10%;
}

.business_dropdown {
    z-index: 2;
    max-height: 0px;
    background-color: #fff;
    border: 0px solid #eee;
    border-radius: 12px;
    width: 260px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(0, 0, 0, .12);
    position: absolute;
    right: 0px;
    top: 150%;
    transition: ease all 0.3s;
    margin-top: 10%;
}

    .business_dropdown a label {
        cursor: pointer;
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 500;
    }

@media only screen and (min-width: 992px) {
    .header--top_bar {
        display: flex;
        align-items: center;
        padding: 0 0px;
        background-color: transparent;
        color: #fff;
        height: 40px;
        z-index: 99;
    }

    .contact_info {
        display: flex;
        align-items: center;
    }

    .contact_info {
        padding-left: 8px;
    }

    .top_bar_nav {
        margin-left: auto;
    }

        .top_bar_nav > a {
            padding: 7px 10px;
            display: flex;
            align-items: center;
            border-radius: 50px;
            -webkit-transition: background-color .4s ease-out;
            -moz-transition: background-color .4s ease-out;
            -o-transition: background-color .4s ease-out;
            transition: background-color .4s ease-out;
        }

    .header--top_bar img {
        height: 20px;
        padding-right: 5px;
    }
}

@media (max-width:540px) {
    .carousel .slide-container .slider-content {
        width: 100%;
        min-width: 100%;
        top: 130px;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0 20px;
        bottom: auto;
    }

        .carousel .slide-container .slider-content h3 {
            font-size: 26px;
            line-height: 1.1;
            font-family: 'AdaniRegular';
            padding-bottom: 0;
        }

        .carousel .slide-container .slider-content p {
            font-size: 16px;
            line-height: normal;
            padding: 0 30px;
            margin: 0;
            padding-top: 16px;
        }

    .carousel-btn {
        margin-top: 10px;
    }

    .carousel-btn {
        line-height: normal;
        font-size: 15px;
        margin-top: 20px;
    }

    .carousel span.slick-arrow {
        display: none !important;
    }
}

.showBusinessDropdown {
    border: 1px solid #eee;
    max-height: 1500px;
    display: block;
    top: 100%;
    transition: ease all 0.3s;
    margin-top: 0%;
    z-index: 99;
}

.business_dropdown a {
    position: relative;
    display: flex;
    border-bottom: 1px solid #F1F1F1;
    align-items: center;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding: 10px 14px;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}

    .business_dropdown a:hover {
        color: black !important;
    }

    .business_dropdown a label {
        cursor: pointer;
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 500;
    }
/* <====================================Footer=====================================================> */
/* .footer {
    position: relative;
} */
.ninTh {
    position: relative;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer li {
    list-style: none;
    font-family: AdaniMedium;
}

.footer ul {
    line-height: 36px;
}

.footer li a:hover {
    color: black;
    text-decoration: none;
}

.ImageNinth {
    width: 100%; /* Assuming you want the image to span the full width */
    height: auto;
    display: block;
}

.overlay-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Place the overlay above the content */
}

.container {
    position: relative;
    z-index: 2; /* Place the content above the overlay */
}

.ninth-fist-list,
.ninth-second-list {
    color: black;
    list-style: none;
    font-family: AdaniMedium;
    font-size: 16px;
    /* margin-top: 13rem; */
}

.ninTh-img {
    display: block;
    margin: 0 auto;
}

.div-with-line {
    height: 1px;
    /* Adjust the height as needed */
    background-color: black;
    /* Adjust the color as needed */
}

.ninTh-socialMediaList {
    margin: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .ninTh-socialMediaList.ninTh-socialMediaIcon {
        list-style: none;
    }

.ninth-fist-list li, .ninth-second-list li {
    margin-bottom: 10px;
}

li.ninTh-socialMediaIcon {
    margin-right: 30px;
    color: white;
}

.ninTh .ninTh-socialMediaIcon a {
    color: black;
}

/* <====================================Footer END=====================================================> */
/* footer card css */
/*<============================= Reach Us At for any Inquiry and Information. ====================>*/
.videoBanner {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.PageBannerTitle {
    color: black !important;
    font-weight: 700;
}

.cm-page .carousel .slide-container .slider-content {
    top: 40%;
}

.cm-page .carousel .slick-dots {
    position: absolute;
    bottom: 20% !important;
    left: 14% !important;
}

a {
    font-family: 'AdaniRegular';
}

@media (max-width: 768px) {
    .videoBanner {
        object-fit: cover;
        width: 100%;
        height: 633px;
    }

    .carousel {
        height: 633px;
    }

    .ImageNinth {
        display: none;
    }

    .ninTh {
        position: absolute;
        width: 100%;
        height: 60%;
        background-image: url('images/footer (1).png');
        background-position: center;
        /* background-position: center; */
        background-size: cover;
        opacity: 0.5; /* Adjust the opacity as needed */
        z-index: -1;
    }
}

h2 {
    font-family: 'AdaniRegular';
}
