@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}

<section class="bg-gray">
    <div class="container">
        <div class="bootleggers owl-carousel" id="pop-gallery">

            @foreach (var item in elements.Children.ToList())
            {

                @Html.Sitecore().ImageField("MediaImage", item, 0, 0, "image-fluid")

            }

        </div>
    </div>
</section><!--/End Popup Gallery-->