@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.custom-header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-menu-section ul {
    display: flex;
    align-items: center;
}
.custom-menu-section ul li a {
    font-size: 14px;
    line-height: normal;
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: normal;
    color: #222222;
    cursor: pointer;
}
.custom-header {
    padding: 20px 0;
}

.banner-area img {
    width: 100%;
}
.life-fest-section {
    padding: 167px 0 0;
    background-size: contain;
    background-position: 30px 90px;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.life-fest-section .top-section {
    text-align: center;
}

.life-fest-section .top-section h2 {
    background: url(/images/Realty/GoodLifeFestImages/gradient.png) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 54px;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: normal;
    background-position: 100% 100%;
    width: 100%;
    animation: mymove 3.5s infinite;
}
p {
    margin: 0;
}

.life-fest-section .top-section p {
    max-width: 959px;
    margin: 0 auto;
    padding-bottom: 40px;
    font-weight: 300;
}
.fest-inner {
    border-radius: 45px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 92px 50px 48px 70px;
    position: relative;
}

.fest-inner .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fest-inner .img-sec {width: 40%;}

.fest-inner .desc-sec {
    width: 60%;
}

.fest-inner .card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.fest-inner .card-wrapper .item {
    width: 33.333%;
    text-align: center;
    padding: 0 10px 20px;
    padding-bottom: 80px;
}

.card-wrapper .item .content {
    border-radius: 10px;
    padding: 15px 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 65px;
    background: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
}
.card-wrapper .card {
    position: relative;
    height: 100%;
}
.card-wrapper .card .card-img {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 1px 1px 10px rgba(0,0,0,10%);
    width: 78px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
}
.life-fest-section .fest-caption {
    text-align: center;
}
.life-fest-section .fest-caption p {
    background: url(/images/Realty/GoodLifeFestImages/gradient.png) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 19px;
    padding-top: 35px;
    font-weight: 500;
    background-position: 100% 100%;
    width: 100%;
    animation: mymove 5s infinite;
}
.lifestyle-gallery-section {
    padding: 124px 0 40px;
}
.lifestyle-gallery-section .item img {
    max-width: 1061px;
    margin: 0 auto;
    width: 100%;
}
.lifestyle-gallery-section p {
    text-align: center;
    color: #404040;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    padding-top: 24px;
    visibility: hidden;
}
.lifestyle-gallery-section .btm {
    max-width: 1061px;
    margin: 0 auto;
    position: relative;
}
.lifestyle-gallery-section .slides-numbers {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #404040;
    font-size: 13px;
    line-height: 26px;
}
.lifestyle-gallery-section .slick-arrow:before {
    content: none;
}
.lifestyle-gallery-section .slick-next img, 
.lifestyle-gallery-section .slick-prev img{
    width: 8px;
}
.lifestyle-gallery-section .slick-arrow {
    position: absolute;
    top: 46%;
    left: 22px;
    z-index: 2;
    background: #fff;
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-50%);
}
.lifestyle-gallery-section .slick-arrow.slick-next {
    left: auto;
    right: 22px;
}
.lifestyle-gallery-section .top {
    text-align: center;
    padding-bottom: 40px;
}
.lifestyle-gallery-section .gallery a img {
    border-radius: 16px;
    overflow: hidden;
}
.download-brochure-section {
    padding: 20px 0;
    text-align: center;
}
.brochure-btn {
    border: 1px solid #333333;
    border-radius: 29px;
    padding: 14.5px 44.8px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    color: #333333;
    cursor: pointer;
}
.brochure-btn:hover {
    background: #333333;
    color: #fff;
    border-color: #333333;
}
.lifestyle-gallery-section .item .desc:after {
    content: 'Artistic Impression';
    background: rgba(0,0,0,.6);
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: #fff;
    font-size: 16px;
    padding: 0.375rem 0.8rem;
    border-radius: 0.8rem;
    font-weight: 300;
}

.loctaion{
    margin-bottom:100px;
    padding-top: 80px;
}
.topHeading {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: 500;
}
.about-info .desc p {
    line-height: 2;
}

.about-info .desc {
    text-align: center;
    max-width: 1117px;
    margin: 0 auto;
}
.loctaion .caption {
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
    color: #555555;
}
.custom-footer {
    background: #333333;
    color: #fff;
    padding-bottom: 64px;
    padding-top: 50px;
    text-align: center;
}

.custom-footer a {
    color: #fff;
}

.footer-btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
}

.social-icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons ul li+li {
    padding-left: 9px;
}

.footer-logo {
    margin: 0 auto;
}

.contact-info {
    font-size: 14px;
    font-weight: 300;
}

.footer-disclaimer {
    padding-top: 40px;
}

.custom-footer h4 {
    font-weight: 300;
    padding-bottom: 20px;
}

.footer-disclaimer p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
}

.project-listed .item+.item {
    padding-top: 31px;
}

.project-listed span {
    display: block;
    font-size: 14px;
    padding-bottom: 16px;
    line-height: normal;
}

.project-listed p {
    font-size: 14px;
    font-weight: 300;
}

.project-listed p a {
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
}
.about-info {
    padding-bottom: 103px;
}
.card-wrapper .item .content:before {
    content: '';
    display: block;
    background-image: url(/images/Realty/GoodLifeFestImages/top-corner.svg);
    width: 42px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-wrapper .item .content:after {
    content: '';
    display: block;
    background-image: url(/images/Realty/GoodLifeFestImages/bottom-corner.svg);
    width: 42px;
    height: 48px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.popup-form {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    border-radius: 8px;
    padding: 40px;
}

.ovarLay {
    position: fixed;
    background: rgba(0, 0, 0, 70%);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 11;
}

.brochure-form-open .ovarLay,
.enquire-form-open .ovarLay,
.thnku-form-open .ovarLay {
    opacity: 1;
    visibility: visible;
}

.brochure-form-open .download-brochure,.enquire-form-open .enquire-now {
    opacity: 1;
    visibility: visible;
}

.popup-form form .form-control {
    margin-bottom: 30px;
}

.popup-form form .form-control label {
    font-size: 14px;
}
.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.form-group label {
    position: relative;
    cursor: pointer;
}
.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #404040;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
}
.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 6px;
    height: 10px;
    border: solid #404040;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.enquiryBtn {
    padding: 12px 40px;
    background: #333;
    border: none;
    color: #fff;
    border-radius: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.popup-form form .form-control input,
.popup-form form .form-control select {
    width: 100%;
    border-color: transparent;
    border-bottom: 1px solid #666;
    outline: none;
    font-size: 16px;
    padding: 5px 0 10px 0;
}
.popup-form .contentBox p {
    color: #555;
    font-size: 14px;
    padding-bottom: 15px;
}
.popup-form .close_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.features-wrapper {
    padding: 100px 0px;
}

.top_heading {
    font-size: 32px;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.features-wrapper ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 80px;
    margin-top: 40px;
}

.features-wrapper ul li .icon-Box {
    text-align: center;
}

.features-wrapper ul li .icon-Box p {
    font-size: 14px;
    line-height: normal;
}

.floor-plan .one-time {
    padding: 0 50px;
}

.floor-plan .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    background: #3333331A;
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.floor-plan .slick-next img,
.floor-plan .slick-prev img {
    width: 8px;
}

.floor-plan .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    background: #3333331A;
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.archway-tabber-section {
    padding: 100px 0 0 0;
}

.archway-tabber-section .tab-list {
    margin-bottom: 35px;
    border-bottom: 2px solid #E9E9E9;
}

.archway-tabber-section .tab-list ul {
    display: flex;
    justify-content: space-between;
}

.archway-tabber-section .tab-list ul li {
    font-size: 24px;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 76px;
    cursor: pointer;
    margin-bottom: -2px;
    padding: 0 30px
}

.archway-tabber-section .tab-list ul li.active {
    background: #f8f8f8;
    border-radius: 15px 15px 0 0;
    border-bottom: 3px solid #2D43BA;
}

.archway-tabber-section .tab-list ul li span img {
    padding-right: 4px;
}

.archway-tabber-section .tab-list ul li span {
    font-size: 13px;
    padding-left: 8px;
    color: #333;
    font-weight: 300;
    display: inline-block;
    margin-top: 9px;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap {
    height: 640px;
    border-radius: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: inherit;
    display: block;
    content: '';
    background: linear-gradient(180deg, transparent 0, transparent 30%, #000);
    opacity: 80%;
    height: 160px;
    border-radius: 20px;

}


.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap {
    display: flex;
    padding: 24px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .left {
    width: 50%;
    display: flex;
    align-items: center;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .circle {
    width: 80px;
    background: #fff;
    height: 80px;
    border-radius: 100%;
    padding: 9px;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap h4 {
    font-size: 52px;
    color: #fff;
    padding-left: 20px;
    font-weight: 500;
    margin: 0;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right {
    display: flex;
    margin-left: auto;
    padding-right: 30px;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item h5 {
    font-size: 32px;
    margin: 0;
    line-height: 0;
    color: #fff;
    position: relative;
	height: 0;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item span {
    font-size: 20px;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item sup {
    position: absolute;
    font-size: 12px;
    top: -5px;
	right: -12px;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item p {
    margin: 14px 0 0 0;
    font-size: 20px;
    color: #fff;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item {
    margin-right: 35px;
    position: relative;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item:last-child {
    margin-right: 0;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item p {
    text-align: right;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item p:last-child {
    text-align: left;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .item::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background: #fff;
    top: -12px;
    right: -20px;
}

.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .item:last-child::after {
    display: none;
}

.archway-tabber-section .tab-desc .tab-content .description p {
    max-width: 1063px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #333;
    line-height: 33px;
    margin-top: 40px;
}
.offer-menu a:after {
    content: '';
    display: block;
    background: transparent radial-gradient(closest-side at 50% 50%, #FFC503 0%, #FF7600 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 22px;
    z-index: -1;
    transform: translateY(-50%);
    opacity: 0.8;
}
.features-wrapper ul li .icon-Box img {
    width: 40px;
    object-fit: contain;
    margin-bottom: 21px;
}
.floor-plan h2.top_heading {
    padding-bottom: 40px;
}
.floor-plan .one-time p {
    text-align: center;
    font-size: 16px;
    line-height: normal;
    padding-top: 20px;
}
.slides-numbers {
    text-align: center;
    font-size: 12px;
    line-height: normal;
    padding-top: 16px;
}
.card-wrapper .item .content p {
    position: relative;
    z-index: 1;
}
.fest-inner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

span.bg.mob-bg {
    display: none;
}
p.caption {
    position: absolute;
    bottom: 30px;
    right: 10px;
    color: #FFFFFF;
    opacity: 60%;
    font-size: 13px;
    line-height: normal;
    z-index: 1;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.tab-desc {
    position: relative;
}

p.caption span {
    font-size: 8px;
}
.otpForm {
    max-width: 604px;
    width: 100%;
    position: fixed;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 12px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.otpForm .otp_close_btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.otpForm .verification-code {
    position: relative;
    margin: 40px auto;
    text-align: center;
    width: 390px;
}

.otpForm .control-label {
    display: block;
    text-align: -webkit-auto;
    padding-left: 15px;
    font-size: 15px;
}

.otpForm .verification-code--inputs input[type=text] {
    border-bottom: 1px solid #404040 !important;
    width: 73px;
    height: 65px;
    /* padding: 10px; */
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 22px;
    margin: 0 8px;
    color: #404040;
}

.otpForm .verification-code--inputs input[type=text]:first-child {
    margin-left: 0;
}

.otpForm .enquiryBtn {
    margin-top: 80px;
    outline: none;
}
.thankyou-form {
    max-width: 604px;
    width: 100%;
    position: fixed;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 12px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.thnku-form-open .thankyou-form {
    opacity: 1;
    visibility: visible;
}

.thankyou-form .inner {
    max-width: 400px;
    margin: 0 auto;
    padding: 90px 0 40px;
}

.thankyou-form .top h3,
.popup-form h3,
.verification-code h3 {
    color: #404040;
    font-size: 24px;
    line-height: normal;
    margin: 0;
    padding-bottom: 12px;
}
.resend-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
@keyframes mymove {
    0% {
        background-position: 100% 100%;
   }
    50% {
        background-position: 0% 0%;
   }
    100% {
        background-position: 100% 100%;
   }
}

.thankyou-form .thankyou_close_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.thankyou-form .inner {
    max-width: 400px;
    margin: 0 auto;
    padding: 90px 0 40px;
}
.thankyou-form .top {
    text-align: left;
    padding-bottom: 24px;
}

.thankyou-form .top p,
.popup-form p,
.verification-code .top p {
    color: #404040;
    font-size: 16px;
    line-height: normal;
}

.thankyou-form .item {
    width: 100%;
    padding-bottom: 10px;
}

.thankyou-form .item h5 {
    margin: 0;
    color: rgba(64, 64, 64,50%);
    font-size: 14px;
    line-height: normal;
    font-weight: 300;
    padding-bottom: 8px;
}

.thankyou-form .item h4 {
    margin: 0;
    color: #404040;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
}

.thankyou-form .btm {
    padding-bottom: 56px;
}

.thankyou-form .thankyou_close_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.thankyou-form .button-section {
    text-align: center;
}

.thankyou-form .button-section .btn {
    padding: 12px 40px;
    background: #333;
    border: none;
    color: #fff;
    border-radius: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    max-width: 40px;
    min-width: 180px;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 11;
}
.archway-tabber-section .tab-list {
    position: sticky;
    top: 78.5px;
    z-index: 10;
    background: #fff;
}

/* urvashi */
.custom-menu-section ul>li:not(.cta-btn):not(.download-btn).active>a {
    position: relative;
    font-weight: 600;
}
.custom-menu-section ul>li:not(.cta-btn):not(.download-btn).active>a::before{
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background: #333;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}
.popup-form form .form-control select {
    color: rgba(64,64,64,50%);
}
/* urvashi */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    
}
@media (min-width: 992px) {
	.archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right{
	padding-top: 20px;	
	}
    .container {
        max-width: 960px;
    }
    .mobile-trigger {
        display: none;
    }
    .custom-menu-section ul li.cta-btn a {
        background: #fff;
        border: 1px solid #222222;
        border-radius: 25px;
        text-decoration: none !important;
        font-weight: 500;
    }
    .custom-menu-section ul li.cta-btn {
        margin-left: 10px;
    }  
    .custom-menu-section {
        display: inline-block !important;
        position: static !important;
        overflow: initial !important;
        height: auto !important;
        padding: 0 !important;
    }  
    .social-icons ul {
        justify-self: initial;
    }
    .footer-btm>div {
        width: 33.333%;
    }
}
@media (min-width: 992px) and (max-height: 640px) {
    .popup-form {
        height: 90vh;
        margin: 20px auto;
        overflow-y: auto;
        max-height: 608px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1199px) {
    .fest-inner .img-sec,.fest-inner .desc-sec {
        width: 100%;
    }
    
    .fest-inner .row {
        display: block;
    }
    
    .fest-inner .img-sec {
        text-align: center;
        margin-bottom: 90px;
    }
}
@media (max-width: 991px) {
    .custom-menu-section {
        display: none;
        width: 100%;
        position: absolute;
        background: #fff;
        left: 0;
        right: 0;
        top: 67px;
        padding-bottom: 60px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        z-index: 99;
    }
    .mobile-trigger {
        cursor: pointer;
    }
    .custom-menu-section ul {
        display: block;
    }
    .custom-menu-section ul {
        display: block;
    }
    
    .menu-wrapper {
        max-width: 720px;
        margin: 0 auto;
        padding: 0 15px;
        background-image: url(/images/Realty/GoodLifeFestImages/menu-bg.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right bottom;
        padding-top: 30px;
        height: 70vh;
    }
    
    .custom-menu-section ul li a {
        padding: 15px;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
    }
    li.download-btn {
        display: block !important;
    }
    
    .offer-menu a:after {
        z-index: 1;
    }
    
    .offer-menu a span {
        position: relative;
        z-index: 2;
        padding: 0 10px;
    }
    
    .offer-menu a {
        width: auto;
        display: inline-block !important;
    }
    .cls-icon {
        display: none;
    }
    .menu-open .cls-icon {
        display: block;
    }
    .menu-open .mob-icon {
        display: none;
    }
    .banner-enq-btn {
        display: block !important;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -15px;
        text-align: center;
    }
    
    .banner-enq-btn .enq-btn {
        font-size: 14px;
        line-height: normal;
        position: relative;
        padding: 10px 25px;
        color: #222222;
        cursor: pointer;
        background: #fff;
        border: 1px solid #222222;
        border-radius: 25px;
        text-decoration: none !important;
        font-weight: 500;
        display: inline-block;
    }
    
    .banner-area {
        position: relative;
    }
    
    .life-fest-section {
        padding-top: 100px;
    }
    
    .life-fest-section .top-section h2 {
        font-size: 28px;
    }
    
    .fest-inner .card-wrapper .item {
        width: 50%;
        padding-bottom: 60px;
    }
    
    .fest-inner {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
    }
    
    .archway-tabber-section .tab-list ul li {
        padding: 10px 50px;
        font-size: 17px;
        display: block;
    }
    
    .archway-tabber-section .tab-list ul li span {
        padding-left: 0;
        display: block;
        width: 100%;
        margin: 0;
    }
    
    .archway-tabber-section .tab-desc .tab-content .img-wrap {
        height: 400px;
    }
    
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .circle {
        width: 46px;
        height: 46px;
        padding: 0;
    }
    
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap h4 {
        font-size: 22px;
        padding-left: 10px;
    }
    
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item h5 {
        font-size: 18px;
    }
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right {
        padding-right: 7px;
        width: 70%;
        justify-content: end;
    }
    
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item p {
        font-size: 12px;
    }
    
    .features-wrapper ul {
        display: flex;
        flex-wrap: wrap;
        gap: initial;
    }
    
    .features-wrapper ul li {
        width: 33.333%;
        margin-bottom: 46px;
		padding: 0 6px;
    }
    
    .features-wrapper {
        padding: 80px 0;
    }
    
    .top_heading {
        font-size: 24px;
        line-height: normal;
    }
    
    .lifestyle-gallery-section {
        padding-top: 80px;
    }
    
    .lifestyle-gallery-section .top .topHeading {
        margin: 0;
    }
    
    .brochure-btn {
        font-size: 16px;
        font-weight: 500;
    }
    
    .footer-btm {
        flex-wrap: wrap;
    }
    
    .footer-btm .social-icons {
        order: 2;
        padding-top: 20px;
    }
    
    .footer-btm .footer-logo {
        order: 1;
    }
    
    .footer-btm .contact-info {
        order: 3;
        padding-top: 20px;
    }
    
    .footer-btm>div {
        width: 100%;
    }
    .project-listed p+p {
        padding-top: 20px;
    }
    .popup-form {
        transform: none;
        top: auto;
        max-width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        bottom: -200%;
        padding: 40px 15px 20px;
    }
    .brochure-form-open .download-brochure, .enquire-form-open .enquire-now {
        opacity: 1;
        visibility: visible;
        bottom: 0;
    }
    .menu-open .ovarLay {
        opacity: 1;
        visibility: visible;
        z-index: 0;
    }
    
    .menu-open .custom-header {
        position: relative;
        z-index: 1;
        background: #fff;
    }
    .archway-tabber-section .tab-list ul {
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
    }
    p.caption {
        writing-mode: initial;
        transform: none;
        left: 25px;
        bottom: 20px;
    }
    
    p.caption span {
        display: block;
    }
    
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap {
        padding-bottom: 60px;
    }
    .topHeading {
        font-size: 24px;
        line-height: normal;
    }
    .banner-enq-btn.sticky-btn {
        display: block !important;
        position: fixed;
        bottom: 20px;
        z-index: 9;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        opacity: 0;
        visibility: hidden;
    }
    .scroll-body .banner-enq-btn.sticky-btn {
        opacity: 2;
        visibility: visible;
    }
    .archway-tabber-section .tab-list {
        top: 67px;
    }
    .custom-menu-section ul>li:not(cta-btn):not(.download-btn).active>a::after{
        display: none;
    }
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap{
        padding: 24px 8px;
    }

    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item{
        margin-right: 14px;
        display: list-item;
		list-style-type: none;
    }
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item:last-child{
        margin-right: 7px; 
    }
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item p:last-child{
        text-align: right;
    }
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item p {
        margin: 7px 0 0 0;
    }
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right .item span {
        font-size: 14px;
    }
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .item::after {
        right: -8px;
        height: 100%;
        top: -6px;
    }
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap {
        padding: 24px 8px 60px 8px;
    }
    p.caption {
        bottom: 15px;
        left: 15px;
        font-size: 11px;
    }
    p.caption span {
        display: block;
        padding-top: 3px;
    }
    .custom-menu-section ul>li:not(.cta-btn):not(.download-btn).active>a::before {
        content: none;
    }
	.contentBox{
		max-height: 75vh;
		overflow: auto;
		position: relative;
	}
}

@media (max-width: 767px) {
    .menu-wrapper {
        max-width: 540px;
    }
    .loctaion .img {
        overflow-x: scroll;
    }
    .loctaion .img img {
        max-width: 240vw;
    }
    .fest-inner .card-wrapper {
        margin: 0 -10px;
    }
    .card-wrapper .item .content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        padding-top: 60px;
    }
    .card-wrapper .item .content p {
        font-size: 14px;
    }
    .card-wrapper .item .content:after,.card-wrapper .item .content:before {
        width: 32px;
        height: 38px;
    }
    .fest-inner .card-wrapper .item {
        padding-bottom: 50px;
    }
    .archway-tabber-section .tab-desc .tab-content .img-wrap::after {
        opacity: 100%;
    }
    .lifestyle-gallery-section .item .desc:after {
        font-size: 10px;
    }
}
@media (max-width: 575px) {
    .menu-wrapper {
        max-width: 100%;
    }
    .project-listed p {
        word-break: break-all;
    }
    
}
@media (max-width: 480px) {
    .mob-banner {
        display: block !important;
    }
    .desc-banner {
        display: none;
    }
    span.bg.desc-bg {
        display: none;
    }
    
    span.bg.mob-bg {
        display: block;
    }
    .archway-tabber-section .tab-list ul li {
        white-space: nowrap;
        padding: 10px 30px;
    }
    
    .archway-tabber-section .tab-list ul {
        overflow-x: auto;
    }
    .fest-inner {
        padding-left: 10px;
        padding-right: 10px;
    }
    .lifestyle-gallery-section .gallery a img {
        height: 265px;
        object-fit: cover;
    }
}
@media (max-width: 476px) {
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap {
        display: block;
    }
    
    .archway-tabber-section .tab-desc .tab-content .img-wrap .wrap .right {
        margin: 0;
        justify-content: initial;
        padding: 0;
        padding-left: 10px;
        padding-top: 20px;
		width: 100%;
    }
}

.form-open {
    overflow: hidden;
}
button.mfp-close, button.mfp-arrow{
    cursor: pointer;
}
small{
    color:red;
}
body.mfp-zoom-out-cur{
overflow: hidden;
    position: relative;
    max-height: 100vh;
}