* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "Ubuntu Regular";
    src: url("/assets/fonts/Ubuntu/Ubuntu.eot");
    src: url("/assets/fonts/Ubuntu/Ubuntu.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Ubuntu/Ubuntu.woff") format("woff"), url("/assets/fonts/Ubuntu/Ubuntu.woff2") format("woff2"), url("/assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype"), url("/assets/fonts/Ubuntu/Ubuntu.svg#Ubuntu") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Medium";
    src: url("/assets/fonts/Ubuntu/Ubuntu Medium.eot");
    src: url("/assets/fonts/Ubuntu/Ubuntu Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Ubuntu/Ubuntu Medium.woff") format("woff"), url("/assets/fonts/Ubuntu/Ubuntu Medium.woff2") format("woff2"), url("/assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype"), url("/assets/fonts/Ubuntu/Ubuntu Medium.svg#Ubuntu Medium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Bold";
    src: url("/assets/fonts/Ubuntu/Ubuntu Bold.eot");
    src: url("/assets/fonts/Ubuntu/Ubuntu Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Ubuntu/Ubuntu Bold.woff") format("woff"), url("/assets/fonts/Ubuntu/Ubuntu Bold.woff2") format("woff2"), url("/assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype"), url("/assets/fonts/Ubuntu/Ubuntu Bold.svg#Ubuntu Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    color: #222;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Ubuntu Regular", sans-serif;
}

main {
    min-height: calc(100vh - 140px);
}

.whiteTx {
    color: #ffffff;
}

.redTx {
    color: #006db6;
}

.blackTx_222 {
    color: #222;
}

.blackTx_333 {
    color: #333;
}

.blackTx_666 {
    color: #666;
}

.blackTx {
    color: #000;
}

.purpleBg {
    background-color: #6a328e;
}

.content span.subtext {
    font-size: 14px;
}

ul {
    padding-left: 0px;
    list-style: none;
}

.section-wrapper {
    margin-bottom: 60px;
}

.btn-check:focus + .btn,
.btn:focus,
.btn-close:focus {
    box-shadow: none;
}
/* Header section */
.headerCntr {
    padding: 1.125rem 0;
    border-bottom: #e9e9e9 solid 1px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
    line-height: normal;
}

.navbar-nav .nav-link.active {
    border-bottom: 4px solid #006db6;
    font-family: "Ubuntu Medium", sans-serif;
}

.hamburgerCntr {
    position: relative;
    margin-right: 12px;
}

    .hamburgerCntr .navbar-toggler:focus {
        box-shadow: none;
        border: #e9e9e9 solid 1px;
    }

    .hamburgerCntr .offcanvas-start {
        width: 80%;
        max-width: 400px;
    }

    .hamburgerCntr ul {
        width: 100%;
    }

    .hamburgerCntr li {
        display: block;
        padding: 1rem 0.5rem;
        text-decoration: none;
        /* border-bottom: #e9e9e9 solid 1px; */
    }

.socialLink ul.list-group {
    padding-bottom: 0.2rem;
}

.hamburgerCntr li a {
    color: #333;
    text-decoration: none;
}

.hamburgerCntr li:last-child {
    border: 0px;
}

.menuCntr {
    display: none;
}

    .menuCntr ul {
        font-size: 16px;
    }

    .menuCntr li {
        padding-left: 32px;
        float: left;
    }

        .menuCntr li:first-child {
            padding-left: 0px;
        }

        .menuCntr li a {
            color: #333;
        }

            .menuCntr li a:hover {
                color: #000;
            }

.infoCntr ul li {
    line-height: 1.6;
    font-size: 20px;
    padding: 24px 24px;
    margin-bottom: 20px;
    border: #e9e9e9 solid 1px;
    border-radius: 12px;
    font-family: "Ubuntu Regular", sans-serif;
    color: #222;
}

.infoCntrData {
    flex-direction: row;
    align-items: flex-start;
}

.infoCntr ul .listEvents {
    display: flex;
    margin-left: auto;
}

    .infoCntr ul .listEvents > span {
        margin-left: 10px;
        display: inline-block;
        cursor: pointer;
    }

    .infoCntr ul .listEvents img {
        width: 32px;
        height: 32px;
    }

.page-header {
    padding: 80px 120px;
    text-align: center;
}

    .page-header h1 {
        font-size: 72px;
        font-family: "Ubuntu Bold", sans-serif;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .page-header p {
        font-size: 24px;
        color: #333;
        margin: 0;
    }

.search-container {
    display: flex;
    margin-bottom: 40px;
}

.global .search-box {
    background-color: #f5f7fa;
    border-radius: 34px;
    padding: 16px 24px;
    max-width: 380px;
    width: 100%;
}

.pg .search-box {
    background-color: #f5f7fa;
    border-radius: 34px;
    padding: 16px 24px;
    min-width: 400px;
    width: 100%;
}

.headerCntr .search-box {
    max-width: 200px;
    padding: 12px 18px;
    margin-bottom: 0;
}

.search-box-dd {
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e8e8e8;
    background-color: #fff;
    width: 500px;
    position: absolute;
    right: 0;
    top: 100%;
    overflow: hidden;
    transform: none !important;
    top: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
}

.headerCntr .search-box-dd {
    left: auto !important;
    right: 0px !important;
    transform: none !important;
    /* top: 0 !important; */
    top: -10px !important;
}

.search-box-dd-field {
    position: relative;
}

.search-box-dd ul li a {
    color: #333;
    text-decoration: none;
}

.search-box-dd-field input {
    border: none;
    border-bottom: solid 1px #e9e9e9;
    width: 100%;
    height: 55px;
    padding: 18px 48px 18px 48px;
    background-image: url("/-/media/Project/Adani-Updates/images/images/search.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 18px;
    outline: none;
}

.search-box-wrapper {
    position: relative;
}

.search-box-dd ul li {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: #333;
    padding: 8px 18px 8px 48px;
    background-image: url("/-/media/Project/Adani-Updates/images/images/search.svg");
    background-repeat: no-repeat;
    background-position: 20px 14px;
}

.search-box-dd ul {
    margin: 0;
    /* padding: 12px 0; */
    /* max-height: 180px; */
    max-height: 420px;
    overflow-y: auto;
}

    .search-box-dd ul::-webkit-scrollbar {
        width: 8px;
    }

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

.search-box-dd ul li span {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    color: #999;
}

.search-box input {
    background-color: transparent;
    border: none;
    margin-left: 0.625rem;
    width: 100%;
}

    .search-box input:focus-visible {
        outline: none;
    }

.clear-input {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: block;
}

.search-container .filter-buttons {
    display: flex;
    align-items: center;
    margin-left: 16px;
    position: relative;
}

.filter-dd {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e8e8e8;
    background-color: #fff;
    margin-top: 2px;
    width: 320px;
    z-index: 1;
    display: none;
}

.filter-btn {
    width: 200px;
    height: 52px;
    padding: 12px 36px 12px 16px;
    border-radius: 8px;
    border: solid 1px #999;
    background-color: #fff;
    color: #333;
    outline: none;
}

    .pg input::placeholder,
    .filter-btn::placeholder,
    .global input::placeholder {
        color: #333;
    }

    .filter-btn.arrowUp + .filter-arrow {
        transform: translateY(-50%) rotate(180deg);
    }

    .filter-btn.date-filter {
        width: 240px;
    }

    .filter-btn p {
        margin: 0;
    }

.filter-arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.filter-btn-trigger.show img {
    transform: translateY(-50%) rotate(180deg);
}

.filter-btn-trigger {
    display: flex;
    position: relative;
}

.filter-dd h4 {
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
    padding: 16px 16px;
    line-height: normal;
    font-weight: 400;
}

.filter-dd ul {
    margin-bottom: 0;
    max-height: 180px;
    overflow-y: auto;
}

    .filter-dd ul li {
        cursor: pointer;
        font-size: 16px;
        line-height: normal;
        color: #333;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

        .filter-dd ul li input {
            position: absolute;
            inset: 0;
            cursor: pointer;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 100%;
        }

        .filter-dd ul li .checkmark {
            border-radius: 4px;
            border: solid 1px #979797;
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            background-color: #fff;
            position: relative;
        }

            .filter-dd ul li .checkmark::after {
                content: "";
                position: absolute;
                left: 8px;
                top: 4px;
                width: 6px;
                height: 12px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

        .filter-dd ul li input:checked ~ .checkmark {
            background-color: #0d67ca;
            border-color: #0d67ca;
        }

body .daterangepicker .drp-selected {
    display: none;
}

body .daterangepicker .drp-buttons {
    justify-content: space-between;
    align-items: center;
}

body .daterangepicker.show-calendar .drp-buttons {
    display: flex;
}

body .daterangepicker .drp-buttons .btn.applyBtn {
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 5.5px 26.5px;
    display: inline-block;
    vertical-align: middle;
    border-color: #000;
}

body .daterangepicker .drp-buttons .btn.cancelBtn {
    color: #666;
    font-size: 0;
    font-weight: normal;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

    body .daterangepicker .drp-buttons .btn.cancelBtn:before {
        content: "Reset";
        font-size: 16px;
    }

body .daterangepicker .calendar-table .next span:before,
body .daterangepicker .calendar-table .prev span:before {
    content: "";
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 100%;
    border: solid 1px #efefef;
    margin: 2px;
}

body .daterangepicker .calendar-table .next span,
body .daterangepicker .calendar-table .prev span {
    border-color: #333;
}

body .daterangepicker .calendar-table .next span,
body .daterangepicker .calendar-table .prev span {
    border-width: 0 1px 1px 0;
    padding: 2.5px;
}

body .daterangepicker th.available:hover {
    background-color: transparent;
}

body .daterangepicker td.in-range {
    background-color: #f1f7ff;
}

body .daterangepicker td.active,
body .daterangepicker td.active:hover {
    background-color: #f1f7ff;
}

body .daterangepicker .calendar-table th,
body .daterangepicker .calendar-table td {
    min-width: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-width: inherit;
    font-weight: 500;
}

body .daterangepicker .drp-calendar {
    max-width: none;
}

body .daterangepicker .drp-buttons {
    justify-content: space-between;
    align-items: center;
    padding: 12.5px 16px;
}

body .daterangepicker {
    font-family: "Ubuntu", sans-serif;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e8e8e8;
    background-color: #fff;
    border-radius: 8px;
}

    body .daterangepicker .calendar-table th.month {
        font-size: 16px;
        font-weight: 700;
    }

    body .daterangepicker .drp-calendar.right {
        padding-right: 16px;
    }

    body .daterangepicker .drp-calendar.left {
        padding-left: 16px;
    }

.btn-group-dd {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px #e8e8e8;
    margin-top: 10px;
}

.btn-black-dd {
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 5.5px 26.5px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none;
}

.btn-reset-dd {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.media-grid {
    margin-bottom: -1.5rem;
}

    .media-grid a {
        text-decoration: none;
        color: #333;
        text-decoration: none;
    }

    .media-grid .black-link {
        text-decoration: underline;
    }

        .media-grid .black-link:hover {
            text-decoration: none;
        }

    .media-grid .single-item {
        overflow: hidden;
        border-radius: 12px;
        border: 1px solid #e2e2e2;
        height: 100%;
        position: relative;
        padding-bottom: 20px;
    }

        .media-grid .single-item .share-icon {
            width: 48px;
            height: 48px;
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .media-grid .single-item figure {
            width: 100%;
            height: 276px;
            margin-bottom: 20px;
            overflow: hidden;
        }

        .media-grid .single-item.small-card figure {
            height: 220px;
        }

        .media-grid .single-item figure img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .media-grid .single-item .btm-text {
            font-size: 14px;
            line-height: 24px;
            margin: 0 auto 0 20px;
            cursor: pointer;
        }

        .media-grid .single-item .content {
            padding: 0 20px;
        }

            .media-grid .single-item .content h5 {
                font-size: 16px;
                line-height: 24px;
                font-family: "Ubuntu Medium", sans-serif;
                margin: 8px 0;
            }

.our-business .media-grid .single-item .content h5 {
    font-size: 24px;
    line-height: 1.33;
    margin: 12px 0px;
    font-family: "Ubuntu Medium", sans-serif;
}

.our-business .media-grid .single-item .content p {
    color: #666;
    margin-bottom: 0;
}

.media-grid .single-item a:hover {
    color: #333;
    text-decoration: none;
}

.media-grid .single-item:hover {
    border-color: #666;
}

.load-more {
    display: block;
    margin: 0 auto;
    padding: 12px 40px;
    border-radius: 26px;
    border: solid 1px #999;
    background-color: #fff;
}

/* Footer section */
.container-footer-box,
.container-header-box {
    padding: 0 50px;
}

.footerCntr {
    background-color: #232332;
    color: #fff;
    padding: 24px 0;
}

.copyrightCntr {
    font-size: 14px;
    line-height: 2;
    padding-bottom: 32px;
}

.socialCntr ul {
    list-style: none;
}

    .socialCntr ul li {
        padding-left: 14px;
    }

        .socialCntr ul li:first-child {
            padding-left: 0;
        }

    .socialCntr ul a {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        background-color: #fff;
        border-radius: 50%;
        height: 28px;
        width: 28px;
    }

        .socialCntr ul a img {
            width: 16px;
        }

.share-play {
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.filter-date-trigger.hide img {
    transform: translateY(-50%) !important;
}

.filter-date-trigger.show img {
    transform: translateY(-50%) rotate(180deg) !important;
}

.h3 {
    font-size: 32px;
    color: #000;
    margin-bottom: 32px;
    font-family: "Ubuntu Bold";
}

.custom-banner {
    color: #fff;
}

    .custom-banner .wrp {
        background-color: #6a328e;
        display: flex;
        align-items: center;
    }

    .custom-banner .left {
        width: 35%;
        padding: 50px;
    }

        .custom-banner .left h2 {
            font-size: 40px;
            line-height: 1.3;
            margin-bottom: 0;
            font-family: "Ubuntu Medium", sans-serif;
        }

    .custom-banner .right {
        min-height: 528px;
        flex: 1;
        padding: 52px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url("/-/media/Project/Adani-Updates/images/images/banner.jpg") 15% 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

        .custom-banner .right img {
            max-width: 333px;
            height: auto;
        }

        .custom-banner .right p {
            max-width: 420px;
            margin-top: 24px;
            margin-bottom: 0;
            font-size: 16px;
        }

.text-content .wrp {
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.text-content p {
    margin: 0;
    font-size: 24px;
    line-height: 1.7;
}

    .text-content p + p {
        margin-top: 24px;
    }

    .text-content p span {
        font-family: "Ubuntu Bold", sans-serif;
        font-weight: 700;
    }

.content-area h3 {
    font-size: 40px;
    color: #000;
    margin-bottom: 16px;
    font-family: "Ubuntu Bold", sans-serif;
}

.content-area a {
    color: #333;
    text-decoration: underline;
}

    .content-area a:hover {
        color: #333;
        text-decoration: none;
    }

.content-area p {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
}

    .content-area p:last-of-type {
        margin-bottom: 0;
    }

.content-box {
    background-color: #f5f7fa;
    padding-top: 60px;
    padding-bottom: 60px;
}

.our-business .content-area {
    margin-bottom: 32px;
}

.custom-tab {
    width: 100%;
    overflow: hidden;
}

ul.tab-title {
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #e9e9e9;
    margin-bottom: 52px;
    overflow-x: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

    ul.tab-title::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    ul.tab-title li {
        margin-right: 24px;
        white-space: nowrap;
        /* flex: auto; */
    }

        ul.tab-title li:last-child {
            margin-right: 0;
        }

        ul.tab-title li a {
            font-size: 16px;
            color: #666;
            text-decoration: none;
            line-height: 1.5;
            position: relative;
            padding-bottom: 27px;
            display: block;
        }

            ul.tab-title li.active a,
            ul.tab-title li a:hover {
                color: #000;
                font-family: "Ubuntu Medium", sans-serif;
            }

                ul.tab-title li.active a:after {
                    content: "";
                    height: 4px;
                    width: 100%;
                    /* background-color: #ef4c23; */
                    background-color: #006db6;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

/* ================ Start New Updates ============== */

.btn-close {
    opacity: 1 !important;
}

.offcanvas-header {
    padding: 2rem 1rem 0rem !important;
}

.dropdown-menu.filter-dd.category-filter.show {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(-116px, 54px, 0px) !important;
}

.infoCntrData {
    font-family: "Ubuntu Medium", sans-serif;
}

.emptyWrapper {
    /* min-height: calc(100vh - 200px); */
    padding-top: 80px;
}

.empty-fig {
    max-width: 800px;
    max-height: 600px;
    margin: 0 auto;
}

    .empty-fig img {
        width: 100%;
        height: 100%;
    }

.empty-btn a {
    text-decoration: none;
    border: 1px solid #006db6;
    padding: 16px 35px;
    border-radius: 26px;
    background: #006db6;
    color: #fff;
    font-family: "Ubuntu Regular";
}

.empty-btn {
    margin-top: 70px;
}

td.off.ends {
    visibility: hidden;
}

.daterangepicker .calendar-table table {
    width: 100%;
    margin: 0;
    border-spacing: 0 10px;
    border-collapse: separate;
}

.daterangepicker td.start-date {
    border-radius: 20px 0 0 20px;
    color: #000;
    font-weight: bold !important;
}

.daterangepicker td.end-date {
    border-radius: 0px 20px 20px 0px;
    color: #000;
    font-weight: bold !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #f1f7ff;
    border-color: transparent;
    color: #000;
}

button.load-more {
    color: #000;
}

@media (max-width: 768px) {
    .emptyWrapper {
        /* min-height: calc(100vh - 328px); */
        padding-top: 40%;
    }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .empty-fig {
        margin: 0 auto;
    }

    body .daterangepicker {
        width: 94%;
    }

    .modal-dialog-centered {
        display: flex;
        align-items: end !important;
        min-height: calc(100% - 1rem);
    }

    .modal-dialog {
        position: absolute;
        width: auto;
        margin: 0 1px;
        pointer-events: none;
        bottom: 0;
    }

    .custo-modal .modal-content {
        border: 0;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
    .empty-fig {
        margin: 0 auto;
    }

    .offcanvas-footer.socialLink {
        position: absolute;
        bottom: 8%;
    }

    body .daterangepicker {
        width: auto;
    }
}

/* ================ End New Updates ============== */

.infoCntrData p {
    font-family: "Ubuntu Regular", Arial;
    font-size: 16px;
    margin-bottom: 0;
    color: #222;
}

p.info-head {
    text-transform: uppercase;
    color: #666;
    font-size: 14px;
    font-family: "Ubuntu Regular", Arial;
}

.thumb-div {
    display: flex;
    column-gap: 1rem;
    padding-top: 1.5rem;
    align-items: center;
}

.custo-modal .modal-header {
    flex-direction: column;
    align-items: flex-start;
    border: 0;
    padding: 32px 32px 25px;
}

.thumb-img {
    flex: 1 0 6rem;
    height: 94px;
}

    .thumb-img img {
        width: 100%;
        border-radius: 12px;
        height: 100%;
    }

.thumb-text h2 {
    font-weight: 600;
    font-size: 18px;
    color: #222;
    font-family: "Ubuntu Bold", sans-serif;
}

/* ========= Updated css for mob-social ========== */

.socialLink ul li {
    padding-left: 10px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.socialLink ul a img {
    width: 16px;
}

.socialLink ul li:first-child {
    padding-left: 0;
}

.privacy p {
    color: #666;
    padding: 20px 0 10px;
}

    .privacy p a {
        color: #666;
        text-decoration: none;
        font-size: 14px;
    }

.mob-footer-logo img {
    padding: 20px 0;
}

.mob-footer-logo {
    background-color: #f1f1f1;
    padding: 0 20px;
}
/* .offcanvas-footer.socialLink {
  position: absolute;
  bottom: 10%;
} */

/* ================================================= */

@media (min-width: 778px) {
    .copyrightCntr {
        padding-right: 20px;
        padding-bottom: 0px;
    }
}

@media (min-width: 992px) {
    .hamburgerCntr {
        display: none;
    }

    .menuCntr {
        display: block;
    }

    .key-opinion h5 br {
        display: none;
    }
}

@media (max-width: 1024px) {
    .custom-banner .container {
        max-width: 100%;
        padding: 0;
    }

    .page-header h1 {
        font-size: 62px;
    }

    .content-box {
        padding: 60px 0;
    }
}

.custo-modal .modal-content {
    border-radius: 10px;
    border: 0;
}
/* .custo-modal .modal-header {
  flex-direction: column-reverse;
  align-items: flex-start;
  border: 0;
  padding: 32px 32px 25px;
} */
.custo-modal .modal-header {
    flex-direction: column;
    align-items: flex-start;
    border: 0;
    /* padding: 32px 32px 25px; */
}

.thumb-div {
    display: flex;
    column-gap: 1rem;
    padding-top: 1.5rem;
    align-items: center;
}

.thumb-img {
    width: 150px;
    height: 94px;
}

    .thumb-img img {
        width: 100%;
        border-radius: 12px;
        height: 100%;
    }

.thumb-text h2 {
    font-weight: 600;
    font-size: 18px;
    color: #222;
    font-family: "Ubuntu Bold", sans-serif;
}

.thumb-text p {
    font-size: 14px;
    color: #666;
}

.custo-modal .modal-title {
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px;
    color: #222;
    font-family: "Ubuntu Bold", sans-serif;
}

.custo-modal .modal-header .btn-close {
    margin: 0;
    font-size: 18px;
    opacity: 1;
    padding: 0;
}

.custo-modal .modal-footer {
    justify-content: space-between;
    border: none;
    position: relative;
    padding: 15px 32px 35px;
}

    .custo-modal .modal-footer .btn {
        width: 47%;
        height: 64px;
        display: flex;
        align-items: center;
        padding: 0 0 0 16px;
        margin: 0 0 20px 0;
        border-radius: 12px;
        border: solid 1px #f1f1f1;
        background-color: #fff;
        color: #222222;
        font-size: 16px;
        font-family: "Ubuntu Medium", sans-serif;
    }

        .custo-modal .modal-footer .btn img {
            width: 25px;
            height: 26px;
            margin-right: 20px;
        }

        .custo-modal .modal-footer .btn:hover {
            border-color: #222;
        }

    .custo-modal .modal-footer .linkCopied {
        width: fit-content;
        height: 40px;
        /* margin: 6px 0 0 90px; */
        padding: 0 10px;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 12%);
        border: solid 1px #d1d1d1;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 9%;
        margin: 0 auto;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #666666;
    }

.linkCopied p,
.linkCopied-center p {
    margin-bottom: 0;
}

.custo-modal .modal-footer .linkCopied img {
    margin-right: 10px;
}

.shareicon {
    position: absolute;
    top: 20px;
    left: 30px;
    /* width: 32px;
  height: 32px; */
    z-index: 1;
    cursor: pointer;
}

.media-grid > div {
    position: relative;
}

.key-opinion {
    margin-bottom: 0;
}

    .key-opinion li {
        display: flex;
        margin-bottom: 40px;
    }

    .key-opinion figure {
        margin: 0;
        width: 200px;
        height: 200px;
        min-width: 200px;
        border-radius: 100%;
        overflow: hidden;
        background-color: #d8d8d8;
    }

    .key-opinion aside {
        padding: 20px 0 0 60px;
        flex: 1;
    }

    .key-opinion li:last-of-type {
        margin-bottom: 0;
    }

    .key-opinion h5 {
        color: #333;
        font-size: 16px;
        margin-bottom: 16px;
        font-family: "Ubuntu Bold", sans-serif;
    }

        .key-opinion h5 span {
            font-size: 14px;
            font-weight: normal;
            margin-left: 10px;
            font-family: "Ubuntu Regular", sans-serif;
        }

    .key-opinion p {
        font-size: 20px;
        color: #333;
        margin-bottom: 32px;
    }

    .key-opinion aside > a {
        font-size: 14px;
        color: #333;
        text-decoration: underline;
        font-family: "Ubuntu Medium", sans-serif;
    }

        .key-opinion aside > a:hover {
            text-decoration: none;
        }

@media (max-width: 991px) {
    .media-grid .single-item figure,
    .media-grid .single-item.small-card figure {
        height: 220px;
    }

    .container-header-box {
        padding: 0 10px;
    }

    .container-footer-box {
        padding: 0 30px;
    }

    .dropdown-menu.filter-dd.category-filter.show {
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate3d(0px, 54px, 0px) !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
    .media-grid .single-item.small-card figure {
        max-height: 145px;
    }
}

@media (max-width: 991px) {
    .headerCntr {
        padding: 1rem 0;
    }

    .infoCntrData {
        flex-direction: column;
    }

    .infoCntr ul .listEvents {
        margin: 8px 0 0 0;
    }

    .infoCntr ul li {
        padding: 16px;
        font-size: 1rem;
    }

    .page-header {
        padding: 80px 0;
    }

        .page-header h1 {
            font-size: 48px;
        }

    .search-container {
        display: block;
        margin-bottom: 40px;
    }

    .search-box {
        margin-bottom: 24px;
    }

    .media-grid .black-link:hover {
        text-decoration: underline;
    }

    .search-container .filter-buttons {
        display: block;
        margin-left: 0;
        width: 100%;
    }

        .search-container .filter-buttons + .filter-buttons {
            margin-top: 16px;
        }

    .filter-btn,
    .filter-btn.date-filter {
        width: 100%;
        margin: 0;
    }

    .h3 {
        font-size: 28px;
    }

    .custom-banner .wrp {
        display: block;
    }

    .custom-banner .left {
        width: 100%;
        padding: 28px;
    }

        .custom-banner .left h2 {
            font-size: 32px;
        }

    .custom-banner .right {
        min-height: auto;
        padding: 30px 20px;
        width: 100%;
        display: block;
        background-image: url("/-/media/Project/Adani-Updates/images/images/banner-mob.jpg");
    }

        .custom-banner .right p {
            max-width: 180px;
            margin-bottom: 0;
        }

    .text-content p {
        font-size: 20px;
        line-height: 32px;
    }

    .content-area h3 {
        font-size: 28px;
    }

    .content-area p {
        margin-bottom: 20px;
    }

    ul.tab-title {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        margin-bottom: 32px;
    }

        /* Hide scrollbar for Chrome, Safari and Opera */
        ul.tab-title::-webkit-scrollbar {
            display: none;
        }
    /* Hide scrollbar for IE, Edge and Firefox */
    ul.tab-title {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

        ul.tab-title li {
            display: inline-block;
        }

    .our-business .media-grid .single-item .content h5 {
        font-size: 20px;
        line-height: 1.4;
    }

    .headerCntr .search-box {
        max-width: none;
        padding: 8px 12px;
        background-color: transparent;
    }

        .headerCntr .search-box input {
            display: none;
        }

    .search-box-dd {
        max-width: calc(100vw - 24px);
    }

    .filter-dd {
        width: 100%;
    }

    /*body .daterangepicker {
    width: 360px;
  }*/

    .key-opinion figure {
        width: 116px;
        height: 116px;
        min-width: 116px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .key-opinion aside {
        padding: 0;
    }

    .key-opinion li {
        display: block;
        position: relative;
    }

    .key-opinion h5 span {
        display: block;
        margin: 8px 0 0;
    }

    .key-opinion p {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .key-opinion h5 {
        padding: 0 0 0 136px;
        min-height: 116px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .media-grid .single-item figure,
    .media-grid .single-item.small-card figure {
        height: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .thumb-text {
        width: 100%;
    }

    .thumb-img {
        width: 200px;
        height: 94px;
    }

    .thumb-div {
        display: flex;
        align-items: flex-start;
    }

    .pg .search-box {
        background-color: #f5f7fa;
        border-radius: 34px;
        padding: 16px 24px;
        min-width: auto;
        width: 100%;
    }

    .custom-banner .right img {
        max-width: 180px;
    }

    .custo-modal .modal-footer .btn img {
        width: 22px;
        margin-right: 10px;
    }

    .privacy p {
        color: #666;
        padding: 14px 0px 28px 8px;
    }

    .socialLink ul li {
        padding-left: 6px;
    }

    .offcanvas-footer.socialLink {
        position: absolute;
        bottom: 10%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .container-footer-box,
    .container-header-box {
        padding: 0 16px;
    }

    .menuCntr li {
        padding-left: 18px;
        float: left;
    }

    .custom-banner .right p {
        max-width: 300px;
    }

    .custom-banner .right {
        min-height: 528px;
        flex: 1;
        padding: 52px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url("/-/media/Project/Adani-Updates/images/images/banner.jpg") 70% 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pg .search-box {
        min-width: 300px;
        width: 100%;
    }

    .pg input::placeholder,
    .filter-btn::placeholder,
    .global input::placeholder {
        color: #333;
    }

    input.filter-btn {
        -webkit-appearance: none;
    }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
    .custom-banner .right img {
        max-width: 200px;
    }
}
