body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.Rectangle {
    width: 309px;
    height: 124px;
    margin: 24px 32px 32px 24px;
    padding: 24px;
    border-radius: 12px;
    border: solid 1px #ddd;
    background-color: #fff;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

