<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!--<setting name="Preview.DefaultSite">
				<patch:attribute name="value" value="AirportCorporate" />
			</setting>-->
			<setting name="ItemNotFoundUrl">
				<patch:attribute name="value">/404</patch:attribute>
			</setting>
			<setting name="LinkItemNotFoundUrl">
				<patch:attribute name="value">/404</patch:attribute>
			</setting>
			<setting name="LayoutNotFoundUrl">
				<patch:attribute name="value">/404</patch:attribute>
			</setting>
			
			
		</settings>
	</sitecore>
</configuration>