@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    //var model = Sitecore.Context.Database.GetItem(datasource);
    var TBLogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "TBLogo").FirstOrDefault().Value;

    var menu = Sitecore.Context.Database.GetItem(datasource);
    var activeClass = "active";
}

<section class="bg-light-gray border-none builder-bg padding-seven-top" id="contact-section3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding text-center center-col clear-both">
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding contact_us_foot_container1">
                    <div class="margin_border_contain">
                        <div class="padding-30px-tb">
                            <h3 class="text-white title-extra-large alt-font xs-title-extra-large-3 xs-margin-eleven-bottom tz-text">CONTACT US</h3>
                            <div class="line_adani_white"></div>
                            <span class="text-extra-large alt-font text-white display-block padding-five-bottom tz-text">
                            </span>
                            <span class="text-extra-large alt-font text-white display-block padding-two-bottom tz-text">
                                TEL. <a href="tel:1800 108 0009" style="color: #fff">1800 108 0009</a>
                            </span>
                            <span class="text-extra-large alt-font text-white display-block padding-two-bottom tz-text">
                                EMAIL. enquiry@miraclemile.in
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding contact_us_foot_container2">
                    <div class="margin_border_contain">
                        <div class="padding-30px-tb">
                            <h3 class="text-white title-extra-large alt-font xs-title-extra-large-3 xs-margin-eleven-bottom tz-text">VISIT US</h3>
                            <div class="line_adani_white"></div>
                            <span class="text-extra-large alt-font text-white display-block padding-five-bottom tz-text">
                            </span>
                            <span class="text-extra-large alt-font text-white display-block padding-two-bottom tz-text">
                                Miracle Mile, Sector 60,<br>Golf Course Extension Road,<br>Gurugram – 122002, Haryana, India
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 no-padding contact_us_foot_container3">
                    <div class="margin_border_contain" style="height: auto">
                        <div class="padding-30px-tb">
                            <h3 class="text-white title-extra-large alt-font xs-title-extra-large-3 xs-margin-eleven-bottom tz-text">ENQUIRE NOW</h3>
                            <div class="line_adani_white"></div>
                            <span class="text-extra-large alt-font text-white display-block padding-eight-bottom tz-text">
                            </span>
                            <!-- <form class="form-horizontal" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" onsubmit="return check_valid2()"> -->
                            <div class="container-fluid no-padding form_container_contact">
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-6">
                                        <input type=hidden name="oid" value="00D28000000eQCv">
                                        <input type=hidden name="retURL" value="index.html">
                                        <input type="hidden" name="debug" value="1">
                                        <input type="hidden" name="debugEmail" value="kaushik.muhuri@pwc.com">
                                        <input type="text" class="text-extra-large" id="first_name2" maxlength="40" name="first_name" size="20" placeholder="First Name" required="">
                                        <input type="text" class="text-extra-large" id="last_name2" maxlength="80" name="last_name" size="20" placeholder="Last Name" required="">
                                        <input type="email" class="text-extra-large" id="email2" maxlength="80" name="email" size="20" placeholder="Email ID" required="">
                                        <div class="input-group">
                                            <input type="text" class="text-extra-large" id="mobile2" maxlength="40" name="mobile" size="20" placeholder="Mobile" pattern="[0-9]{10}" required="" aria-describedby="basic-addon3" style="height: 30px !important">
                                            <!--<span class="input-group-addon send_otp2" id="sent_otp2">SEND OTP</span>
                <span class="input-group-addon display_verify2 hide" id="verfy_otp2">VERIFIED</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <select id="country_code2" name="country_code" required="" class="text-extra-large">
                                            <option value="0">Choose Country...</option>
                                            <option value="AF">Afghanistan</option>
                                            <option value="AX">Aland Islands</option>
                                            <option value="AL">Albania</option>
                                            <option value="DZ">Algeria</option>
                                            <option value="AD">Andorra</option>
                                            <option value="AO">Angola</option>
                                            <option value="AI">Anguilla</option>
                                            <option value="AQ">Antarctica</option>
                                            <option value="AG">Antigua and Barbuda</option>
                                            <option value="AR">Argentina</option>
                                            <option value="AM">Armenia</option>
                                            <option value="AW">Aruba</option>
                                            <option value="AU">Australia</option>
                                            <option value="AT">Austria</option>
                                            <option value="AZ">Azerbaijan</option>
                                            <option value="BS">Bahamas</option>
                                            <option value="BH">Bahrain</option>
                                            <option value="BD">Bangladesh</option>
                                            <option value="BB">Barbados</option>
                                            <option value="BY">Belarus</option>
                                            <option value="BE">Belgium</option>
                                            <option value="BZ">Belize</option>
                                            <option value="BJ">Benin</option>
                                            <option value="BM">Bermuda</option>
                                            <option value="BT">Bhutan</option>
                                            <option value="BO">Bolivia, Plurinational State of</option>
                                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                            <option value="BA">Bosnia and Herzegovina</option>
                                            <option value="BW">Botswana</option>
                                            <option value="BV">Bouvet Island</option>
                                            <option value="BR">Brazil</option>
                                            <option value="IO">British Indian Ocean Territory</option>
                                            <option value="BN">Brunei Darussalam</option>
                                            <option value="BG">Bulgaria</option>
                                            <option value="BF">Burkina Faso</option>
                                            <option value="BI">Burundi</option>
                                            <option value="KH">Cambodia</option>
                                            <option value="CM">Cameroon</option>
                                            <option value="CA">Canada</option>
                                            <option value="CV">Cape Verde</option>
                                            <option value="KY">Cayman Islands</option>
                                            <option value="CF">Central African Republic</option>
                                            <option value="TD">Chad</option>
                                            <option value="CL">Chile</option>
                                            <option value="CN">China</option>
                                            <option value="TW">Chinese Taipei</option>
                                            <option value="CX">Christmas Island</option>
                                            <option value="CC">Cocos (Keeling) Islands</option>
                                            <option value="CO">Colombia</option>
                                            <option value="KM">Comoros</option>
                                            <option value="CG">Congo</option>
                                            <option value="CD">Congo, the Democratic Republic of the</option>
                                            <option value="CK">Cook Islands</option>
                                            <option value="CR">Costa Rica</option>
                                            <option value="CI">Cote d&#39;Ivoire</option>
                                            <option value="HR">Croatia</option>
                                            <option value="CU">Cuba</option>
                                            <option value="CW">Cura袯</option>
                                            <option value="CY">Cyprus</option>
                                            <option value="CZ">Czech Republic</option>
                                            <option value="DK">Denmark</option>
                                            <option value="DJ">Djibouti</option>
                                            <option value="DM">Dominica</option>
                                            <option value="DO">Dominican Republic</option>
                                            <option value="EC">Ecuador</option>
                                            <option value="EG">Egypt</option>
                                            <option value="SV">El Salvador</option>
                                            <option value="GQ">Equatorial Guinea</option>
                                            <option value="ER">Eritrea</option>
                                            <option value="EE">Estonia</option>
                                            <option value="ET">Ethiopia</option>
                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                            <option value="FO">Faroe Islands</option>
                                            <option value="FJ">Fiji</option>
                                            <option value="FI">Finland</option>
                                            <option value="FR">France</option>
                                            <option value="GF">French Guiana</option>
                                            <option value="PF">French Polynesia</option>
                                            <option value="TF">French Southern Territories</option>
                                            <option value="GA">Gabon</option>
                                            <option value="GM">Gambia</option>
                                            <option value="GE">Georgia</option>
                                            <option value="DE">Germany</option>
                                            <option value="GH">Ghana</option>
                                            <option value="GI">Gibraltar</option>
                                            <option value="GR">Greece</option>
                                            <option value="GL">Greenland</option>
                                            <option value="GD">Grenada</option>
                                            <option value="GP">Guadeloupe</option>
                                            <option value="GT">Guatemala</option>
                                            <option value="GG">Guernsey</option>
                                            <option value="GN">Guinea</option>
                                            <option value="GW">Guinea-Bissau</option>
                                            <option value="GY">Guyana</option>
                                            <option value="HT">Haiti</option>
                                            <option value="HM">Heard Island and McDonald Islands</option>
                                            <option value="VA">Holy See (Vatican City State)</option>
                                            <option value="HN">Honduras</option>
                                            <option value="HU">Hungary</option>
                                            <option value="IS">Iceland</option>
                                            <option value="IN">India</option>
                                            <option value="ID">Indonesia</option>
                                            <option value="IR">Iran, Islamic Republic of</option>
                                            <option value="IQ">Iraq</option>
                                            <option value="IE">Ireland</option>
                                            <option value="IM">Isle of Man</option>
                                            <option value="IL">Israel</option>
                                            <option value="IT">Italy</option>
                                            <option value="JM">Jamaica</option>
                                            <option value="JP">Japan</option>
                                            <option value="JE">Jersey</option>
                                            <option value="JO">Jordan</option>
                                            <option value="KZ">Kazakhstan</option>
                                            <option value="KE">Kenya</option>
                                            <option value="KI">Kiribati</option>
                                            <option value="KP">Korea, Democratic People&#39;s Republic of</option>
                                            <option value="KR">Korea, Republic of</option>
                                            <option value="KW">Kuwait</option>
                                            <option value="KG">Kyrgyzstan</option>
                                            <option value="LA">Lao People&#39;s Democratic Republic</option>
                                            <option value="LV">Latvia</option>
                                            <option value="LB">Lebanon</option>
                                            <option value="LS">Lesotho</option>
                                            <option value="LR">Liberia</option>
                                            <option value="LY">Libyan Arab Jamahiriya</option>
                                            <option value="LI">Liechtenstein</option>
                                            <option value="LT">Lithuania</option>
                                            <option value="LU">Luxembourg</option>
                                            <option value="MO">Macao</option>
                                            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                            <option value="MG">Madagascar</option>
                                            <option value="MW">Malawi</option>
                                            <option value="MY">Malaysia</option>
                                            <option value="MV">Maldives</option>
                                            <option value="ML">Mali</option>
                                            <option value="MT">Malta</option>
                                            <option value="MQ">Martinique</option>
                                            <option value="MR">Mauritania</option>
                                            <option value="MU">Mauritius</option>
                                            <option value="YT">Mayotte</option>
                                            <option value="MX">Mexico</option>
                                            <option value="MD">Moldova, Republic of</option>
                                            <option value="MC">Monaco</option>
                                            <option value="MN">Mongolia</option>
                                            <option value="ME">Montenegro</option>
                                            <option value="MS">Montserrat</option>
                                            <option value="MA">Morocco</option>
                                            <option value="MZ">Mozambique</option>
                                            <option value="MM">Myanmar</option>
                                            <option value="NA">Namibia</option>
                                            <option value="NR">Nauru</option>
                                            <option value="NP">Nepal</option>
                                            <option value="NL">Netherlands</option>
                                            <option value="NC">New Caledonia</option>
                                            <option value="NZ">New Zealand</option>
                                            <option value="NI">Nicaragua</option>
                                            <option value="NE">Niger</option>
                                            <option value="NG">Nigeria</option>
                                            <option value="NU">Niue</option>
                                            <option value="NF">Norfolk Island</option>
                                            <option value="NO">Norway</option>
                                            <option value="OM">Oman</option>
                                            <option value="PK">Pakistan</option>
                                            <option value="PS">Palestinian Territory, Occupied</option>
                                            <option value="PA">Panama</option>
                                            <option value="PG">Papua New Guinea</option>
                                            <option value="PY">Paraguay</option>
                                            <option value="PE">Peru</option>
                                            <option value="PH">Philippines</option>
                                            <option value="PN">Pitcairn</option>
                                            <option value="PL">Poland</option>
                                            <option value="PT">Portugal</option>
                                            <option value="QA">Qatar</option>
                                            <option value="RE">Reunion</option>
                                            <option value="RO">Romania</option>
                                            <option value="RU">Russian Federation</option>
                                            <option value="RW">Rwanda</option>
                                            <option value="BL">Saint Barthꭥmy</option>
                                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                            <option value="KN">Saint Kitts and Nevis</option>
                                            <option value="LC">Saint Lucia</option>
                                            <option value="MF">Saint Martin (French part)</option>
                                            <option value="PM">Saint Pierre and Miquelon</option>
                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                            <option value="WS">Samoa</option>
                                            <option value="SM">San Marino</option>
                                            <option value="ST">Sao Tome and Principe</option>
                                            <option value="SA">Saudi Arabia</option>
                                            <option value="SN">Senegal</option>
                                            <option value="RS">Serbia</option>
                                            <option value="SC">Seychelles</option>
                                            <option value="SL">Sierra Leone</option>
                                            <option value="SG">Singapore</option>
                                            <option value="SX">Sint Maarten (Dutch part)</option>
                                            <option value="SK">Slovakia</option>
                                            <option value="SI">Slovenia</option>
                                            <option value="SB">Solomon Islands</option>
                                            <option value="SO">Somalia</option>
                                            <option value="ZA">South Africa</option>
                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                            <option value="SS">South Sudan</option>
                                            <option value="ES">Spain</option>
                                            <option value="LK">Sri Lanka</option>
                                            <option value="SD">Sudan</option>
                                            <option value="SR">Suriname</option>
                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                            <option value="SZ">Swaziland</option>
                                            <option value="SE">Sweden</option>
                                            <option value="CH">Switzerland</option>
                                            <option value="SY">Syrian Arab Republic</option>
                                            <option value="TJ">Tajikistan</option>
                                            <option value="TZ">Tanzania, United Republic of</option>
                                            <option value="TH">Thailand</option>
                                            <option value="TL">Timor-Leste</option>
                                            <option value="TG">Togo</option>
                                            <option value="TK">Tokelau</option>
                                            <option value="TO">Tonga</option>
                                            <option value="TT">Trinidad and Tobago</option>
                                            <option value="TN">Tunisia</option>
                                            <option value="TR">Turkey</option>
                                            <option value="TM">Turkmenistan</option>
                                            <option value="TC">Turks and Caicos Islands</option>
                                            <option value="TV">Tuvalu</option>
                                            <option value="UG">Uganda</option>
                                            <option value="UA">Ukraine</option>
                                            <option value="AE">United Arab Emirates</option>
                                            <option value="GB">United Kingdom</option>
                                            <option value="US">United States</option>
                                            <option value="UY">Uruguay</option>
                                            <option value="UZ">Uzbekistan</option>
                                            <option value="VU">Vanuatu</option>
                                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                                            <option value="VN">Viet Nam</option>
                                            <option value="VG">Virgin Islands, British</option>
                                            <option value="WF">Wallis and Futuna</option>
                                            <option value="EH">Western Sahara</option>
                                            <option value="YE">Yemen</option>
                                            <option value="ZM">Zambia</option>
                                            <option value="ZW">Zimbabwe</option>
                                        </select>
                                        <input type="text" id="city2" maxlength="40" name="city" size="20" class="text-extra-large" placeholder="City">

                                        <input id="lead_source" name="lead_source" type=hidden value="5 - Web to Lead" />
                                        <select name="00N28000007ZbWt" id="00N28000007ZbWt" style="display: none">
                                            <option value="Miracle Mile">Miracle Mile</option>
                                        </select>
                                        <input id="00N2800000DM81x" name="00N2800000DM81x" type="hidden" value="1" />
                                        <input type="hidden" name="Campaign_ID" value="7010K000001dhqA" />
                                        <input type="hidden" name="member_status" value="Responded" />
                                        <input type="hidden" name="Lead_Type__c" value="B2C" />
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="text-extra-large checkbox_input" value="" name="tnc" id="tnc2" required>&nbsp;&nbsp;I have read and agree to the terms mentioned in the DISCLAIMER.
                                                <br>
                                            </label>
                                        </div>
                                        <br>
                                        <!-- <div class="g-recaptcha text-extra-large" data-sitekey="6LfYXmMUAAAAAD1e3Lh3_xNox2hka4J9HZQpkL07"></div> -->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id="recaptcha1" class="g-recaptcha" data-sitekey="6Lcus18bAAAAAO3CJ8opxsVid_FyLnWtX8tz3s1C"
                                         data-callback="correctCaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                                    <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response" value="" />
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div class="form-group">
                                        <label class="err_msg"></label>
                                    </div>
                                </div>
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-6">
                                        <button class="text-extra-large submit-form" id="submitfooter">SUBMIT</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="text-extra-large" id="submitc">CANCEL</button>
                                    </div>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 bg-white text-left padding-four-bottom padding-four-top">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h2 class="tz-text text-large sm-title-small alt-font display-block tz-text text-dark-gray">
                            Miracle Mile
                        </h2>
                        <p class="text-medium text-dark-gray">
                            Miracle Mile at Golf Course Extension Road is a design wonder, a mix of modern architecture and thoughtful planning, together with the right amenities.
                        </p>
                        <!-- <h2 class="tz-text text-large sm-title-small alt-font display-block tz-text text-dark-gray">Project Updates</h2>
                        <p class="text-medium text-dark-gray">
                            By subscribing to our mailing list, you will always be updated with the latest news:
                        </p>
                        <div class="input-group subscribe_input">
                            <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            <span class="input-group-addon" id="basic-addon3">SUBSCRIBE</span>
                        </div> -->
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h2 class="tz-text text-large sm-title-small alt-font display-block tz-text text-dark-gray">Information</h2>
                        <a href="privacy-policy.html" target="__blank">
                            <p class="text-medium text-dark-gray">
                                Privacy Policy
                            </p>
                        </a>
                        <!-- <h2 class="tz-text text-large sm-title-small alt-font display-block tz-text text-dark-gray">RERA Registration</h2>
                        <p class="text-medium text-dark-gray">
                            HRERA - 899/2017/1071  dated 15.09.2017<br>
                            HRERA - 900/2017/1075  dated 15.09.2017<br>
                            HRERA - 1149/2017/2020 dated 17.11.2017
                        </p> -->
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h2 class="tz-text text-large sm-title-small alt-font display-block tz-text text-dark-gray">
                            Office Address
                        </h2>
                        <p class="text-medium text-dark-gray">
                            Adani House, Plot 83, Sector 32, Institutional Area, Gurugram 122002, Haryana, India.<br>
                            Contact <a href="tel:1800 108 0009">1800 108 0009</a><br>
                            <a href="https://www.adanirealty.com/" target="__blank">www.adanirealty.com</a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer-section4" class="bg-white builder-bg footer-style4">
    <div class="container-fluid no-padding">
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center sm-text-center padding-bottom-15px social_media_iocns">
                <a href="https://www.facebook.com/InspireAdaniRealty/" target="__blank"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="https://www.linkedin.com/company/inspire-adanirealty/" target="__blank"><i class="fa fa-linkedin fa-2x"></i></a>
                <!-- <a href="https://twitter.com/adanirealty" target="__blank"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://www.youtube.com/channel/UCy13h-75Nb2m6FtUDV0e4lg" target="__blank"><i class="fa fa-youtube fa-2x"></i></a> -->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center sm-text-center padding-top-15px padding-bottom-15px" style="background-color: #7f7f7f">
                <ul class="font-weight-600 bottom-menu">
                    @foreach (var element in menu.GetChildren().ToList())
                    {
                        var childCount = element.GetChildren().Count();

                        <li class="@childCount propClone">
                            @Html.Sitecore().BeginField("Link", element, new { haschildren = true, @class = "text-white inner-link" })

                            @Html.Sitecore().Field("NavigationTitle", element)

                            @Html.Sitecore().EndField()
                        </li>


                        activeClass = "";
                    }
                    
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center padding-top-10px padding-bottom-10px sm-text-center display-table">
                <p class="no-margin inner-link">&copy; 2018 Adani Realty</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center padding-top-10px padding-bottom-10px sm-text-center display-table">
                <a class="no-margin inner-link" href="index.html" target="__blank">Disclaimer</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center padding-top-10px padding-bottom-10px sm-text-center display-table">
                <!--<p class="no-margin inner-link">Designed by <a href="http://spotlights.co.in">spotlights.co.in</a></p>-->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sm-margin-three-bottom padding-bottom-10px text-center xs-text-center display-table">
                <div class="">
                    <span class="tz-text">* All Images are for representation purpose only</span>
                </div>
            </div>
        </div>
    </div>
</footer>        