
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}






<section id="call-to-action" class="wow fadeInUp py-4">

    <div class="container">
        <form name="Contact" id="contactform" action="#" method="post">
            <div class="row">
                <div class="col-lg-12 text-center text-lg-left">
                    <h3 class="cta-title font-helvetica-regular text-white">GET IN TOUCH</h3>
                </div>
                <div class="col-lg-2 px-lg-2">
                    <div class="form-group">
                        <label for="input-name">First Name</label>
                        <input type="text" name="first_name" class="form-control" id="input-name" placeholder="">
                    </div>
                </div>
                <div class="col-lg-2 px-lg-2">
                    <div class="form-group">
                        <label for="input-last-name">Last Name</label>
                        <input type="text" name="last_name" class="form-control" id="input-lastname" placeholder="">
                    </div>
                </div>
                <div class="col-lg-2 px-lg-2">
                    <div class="form-group">
                        <label for="input-email">Email</label>
                        <input type="email" name="email" class="form-control" id="input-email" placeholder="">
                    </div>
                </div>
                <div class="col-lg-2 px-lg-2">
                    <div class="form-group">
                        <label for="input-city">City</label>
                        <input type="text" name="city" class="form-control" id="input-company" placeholder="">
                    </div>
                </div>
                <div class="col-lg-2 px-lg-2">
                    <div class="form-group">
                        <label for="input-mobile">Mobile</label>
                        <input type="tel" name="mobile_no" class="form-control" id="input-mobile" placeholder="">
                        <input type="hidden" name="subject" value="Message for Inspire Business Park">
                        <!-- <label class="generate_otp">Generate OTP?</label>
                        <label class="hide generate_otp resend_otp">Re-Send OTP?</label>
                        <label class="hide submit_otp">Enter Your OTP?</label> -->
                    </div>
                </div>
               <!--- <div>
                    <div class="req"><span style="color:red;">*</span> Required</div>
                    <div class="g-recaptcha" data-sitekey="6Ld_2OAaAAAAALbESFCjaf0CGnhWHxycJEQMMxYI"
                         style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                </div>-->
                <div class="col-lg-2 px-lg-2 my-auto">
                    <button class="btn btn-default hvr-back-pulse" id="submit" type="submit">SUBMIT</button>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="form-group">
                        <label class="err_msg"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @Html.Sitecore().Placeholder("contact-us")

</section>
