
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var TBLogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "TBLogo").FirstOrDefault().Value;

    var menu = Sitecore.Context.Database.GetItem(datasource);
    var activeClass = "active";


}





<nav class="navbar bg-white no-margin alt-font tz-header-bg shrink-header header-border-dark light-header">
    <div class="container navigation-menu">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-4">
                <a href="/" class="inner-link"><img alt="" src="/images/MiracleMile/brahma-logo.png" data-img-size="(W)200px" style=""></a>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 position-inherit no-padding">
                <div class="col-md-12 col-sm-12 col-xs-6 clear-both text-center">
                    <a href="/" class="inner-link"><img alt="" src="/images/MiracleMile/brahma-miracle-mile.jpg" data-img-size="(W)200px" style="width: 230px; margin: 0 0;"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 text-right active padding-five-top hide-desktop">
                    <a href="/" class="inner-link"><img alt="" src="/images/MiracleMile/logo-construction-by.png" data-img-size="(W)200px"></a>
                </div>
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                    <center>
                        <ul class="nav navbar-nav font-weight-600 padding-top-20px">
                            <li class="propClone border_right"><a class="inner-link" href="/">HOME</a></li>
                            <li class="nav-item dropdown propClone border_right">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <ul class="nav navbar-nav font-weight-600">
                                        <li class="propClone"><a class="inner-link" href="/MiracleMile#tab-section6">MIRACLE MILE</a></li>
                                        <li class="propClone"><a class="inner-link" href="https://www.adanirealty.com/about-us">ADANI REALTY</a></li>
                                        <!-- <li class="propClone"><a class="inner-link" href="#team-section3">COMERCIAL PROJECTS</a></li> -->
                                    </ul>
                                </div>
                            </li>
                            @foreach (var element in menu.GetChildren().ToList())
                            {
                                var childCount = element.GetChildren().Count();

                                <li class="@childCount propClone border_right">
                                    @Html.Sitecore().BeginField("Link", element, new { haschildren = true, @class = "inner-link" })

                                    @Html.Sitecore().Field("NavigationTitle", element)

                                    @Html.Sitecore().EndField()
                                </li>


                                activeClass = "";
                            }
                           <!-- <li class="propClone border_right"><a class="inner-link" href="/index.html#feature-section5">FEATURES</a></li>
                            <li class="propClone border_right"><a class="inner-link" href="/project-status.html">PROJECT STATUS</a></li>
                            <li class="propClone border_right"><a class="inner-link" href="/awards.html">AWARDS</a></li>

                            <li class="propClone border_right"><a class="inner-link" href="/index.html#contact-section3">CONTACT</a></li>-->
                            <li class="propClone border_right" onclick="openRightMenu()"><a class="inner-link" href="javascript:void()">ENQUIRE NOW</a></li>
                            <li class="propClone sm-no-border"><a class="inner-link" href="assets/samsara_assets/files/MM-Rera-Cert.pdf" target="__blank">CERTIFICATIONS</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </center>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 text-right hide-mobile">
                <a href="index.html" class="inner-link"><img alt="" src="/images/MiracleMile/logo-construction-by.png" data-img-size="(W)200px"></a>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <a class="inner-link text-medium" href="tel:1800 108 0009"><i class="fa fa-phone"></i> - 1800 108 0009</a>
        </div>
    </div>
</nav>




