
@using Sitecore.Mvc
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    /**/

    //var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    //var model = Sitecore.Context.Database.GetItem(datasource);
}






<div class="position-relative overflow-hidden px-3 px-md-5 text-center mobile-home-bg">
    <div class="container-fluid">
        <form name="Contact" id="contactform1" action="" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-9 p-lg-8 mx-auto my-3">
                </div>
                <div class="col-md-3 p-lg-5 mx-auto my-5 my-lg-0">
                    <div class="container bg-1e2d3b form-container">
                        <h3 class="text-white">GET IN TOUCH</h3>
                        <!--<input type=hidden id="country_code" name="country_code" value="IN">
    <input type=hidden id="city" name="city" value="Mumbai">
    <input type=hidden id="state_code" name="state_code" value="MH">
    <input type="hidden" class="form-control" id="input-mobile-verified" value="NO">
    <input type="hidden" class="form-control" id="input-mobile-status" value="">-->
                        <div class="form-group">
                            <label for="input-name">First Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="input-name" name="input-name" placeholder="First Name" />
                            <span class="err-name required"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-lastname">Last Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="input-lastname" name="input-lastname" placeholder="Last Name" />
                            <span class="err-lname required"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-email">Email address<span style="color:red;">*</span></label>
                            <input type="email" class="form-control" id="input-email" name="input-email" placeholder="Email" />
                            <span class="err-email required"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-mobile">Mobile<span style="color:red;">*</span></label>
                            <input type="number" maxlength="40" autocomplete="off" class="form-control" data-class="err-mobile" data-id="input-otp-button"  id="input-mobile" name="input-mobile"  placeholder="Mobile Number" />
                            
                            <span class="err-mobile required"></span>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-company">City<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="input-city" name="input-city" placeholder="City Name" />
                            <span class="err-company required"></span>
                        </div>
                        <div class="form-group mb-0">
                            <div id="form1" class="captcha"></div>
                            <!--<div class="g-recaptcha" data-sitekey="6Lcql9QZAAAAAKGvvD4LZKHKys2Dwh0kFUVE5MGc"
             style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>-->
                        </div>
                        <div class="form-group">
                            <p class="err_msg global-err"></p>
                            <input type="hidden" id="g_recaptcha_response"  name="g_recaptcha_response" />
                            <button class="btn btn-primary" id="submit_form">Submit Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
