
@using Sitecore.Mvc
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    /**/

    //var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    //var model = Sitecore.Context.Database.GetItem(datasource);
}






<div class="container py-5" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-3 text-center">
                <h2 class="heading-title">Contact us</h2>
                <div class="line-below"></div>
            </div>
            <div class="col-md-12" style="background: url('-/media/0603B00AFBED4643AA7AAFD139BF2377.ashx'); background-size: cover;">
                <form name="Contact" id="contactform" action="" method="post" autocomplete="off">
                    <div class="row px-md-5 px-xs-2 py-5" style="background: rgba(255, 255, 255, 0.7);">
                        <div class="col-md-7 my-auto">
                            <h4>Head Office</h4>
                            <p>
                                Inspire BKC<br />G Block, BKC Main Road,<br />Bandra Kurla Complex,<br />Bandra
                                (E)<br />Mumbai- 400 051
                                <br /><br />Landmark: Next to BKC Police Station<br />
                            </p>
                            <h3 class="font-light color-1e2d3b">Get a Quote: <a href="tel:18001202852" target="_blank"></a>1800 120 2852</h3>
                        </div>

                        <div class="col-md-5">
                            <div class="container bg-1e2d3b form-container">
                                <h3 class="text-white">GET IN TOUCH</h3>
                                <input type="hidden" class="form-control" id="footer-input-mobile-verified" value="NO" />
                                <input type="hidden" class="form-control" id="footer-input-mobile-status" value="" />
                                <div class="form-group">
                                    <label for="footer-input-name">First Name<span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" id="footer-input-name" name="input-name" placeholder="First Name" />
                                    <span class="err-footer-name required"></span>
                                </div>
                                <div class="form-group">
                                    <label for="footer-input-lastname">Last Name<span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" id="footer-input-lastname" name="input-lastname" placeholder="Last Name" />
                                    <span class="err-footer-lname required"></span>
                                </div>
                                <div class="form-group">
                                    <label for="footer-input-name">Email address<span style="color:red;">*</span></label>
                                    <input type="email" class="form-control" id="footer-input-email" name="input-email" placeholder="Email" />
                                    <span class="err-footer-email required"></span>
                                </div>
                                <div class="form-group">
                                    <label for="footer-input-mobile">Mobile<span style="color:red;">*</span></label>
                                    <input type="number" maxlength="40" class="form-control" id="footer-input-mobile" data-id="footer-input-otp-button" data-class="err-footer-mobile" name="input-mobile" placeholder="Mobile Number" autocomplete="off" />
                                    <span class="err-footer-mobile required"></span>
                                </div>
                               
                                <div class="form-group">
                                    <label for="footer-input-company">City<span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" id="footer-input-city" name="input-city" placeholder="City Name" />
                                    <span class="err-footer-company required"></span>
                                </div>
                                <div id="form2" class="captcha mb-0"></div>
                                <!--- <div class="g-recaptcha" data-sitekey="6Lcql9QZAAAAAKGvvD4LZKHKys2Dwh0kFUVE5MGc"
       style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div></div>-->
                                <div class="form-group">
                                    <p class="err_footer-msg global-err"></p>

                                    <button type="submit" class="btn btn-primary" id="footer-submit_form">
                                        Submit
                                        Details
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
