@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc.Helpers
@using Sitecore.Mvc.Configuration
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.AdaniCare.Website.Models.AdaniCareConsumerDetails

<section class="user-status">
    <div class="container text-right">
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signout", id = "frmLogout" }))
        {
            @Html.AddUniqueFormId()
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <p>
                <span>Welcome,<b>@Model.ConsumerName</b></span>
                <button class="btn" type="submit">
                    <span class="fa fa-user mr-2"></span>Logout
                </button>
            </p>
        }
    </div>
</section>