@media (min-width: 992px){
.hero-banner, .hero-banner .item, .hero-banner .item img {height: 95vh;object-fit: cover;}
.inner-banner, .inner-banner .item, .inner-banner .item img {height: 85vh;object-fit: cover;}
.w-95{max-width: 95%;}
header{background:transparent;transition:ease all 0.6s;}
header.fixed-header{background:#fff;transition:ease all 0.6s;box-shadow: 0px 0px 6px -4px #000;}
header.fixed-header .navbar{transition: ease all 0.6s; padding: 10px 0px;}
.video-banner .owl-item .item video{top:0%;-webkit-transform:translate(0,0%);transform:translate(0,0%)}
.video-banner, .video-banner .owl-item .item,.homeslider .owl-item .item img{height:95vh;}
.banner-content-centered{}
.banner-content-centered h2{max-width: 550px;}
.sub-heading{font-size: 25px !important; line-height: 35px !important; margin-bottom: 56px !important;}
.ceo_message{}
.ceo_message:after{content:"";right: -8px; transform: rotate(32deg);}
.navbar .dropdown-menu ul li {border-bottom: 0px solid #ccc;padding-bottom: 0.3rem;}
.dropdown-item { display: block; width: auto; padding: 5px 0px 0px 0px; border-bottom: none; color: #fff; }
.navbar .dropdown-menu ul li a { color: #fff; padding-top: 0px; font-size: 18px; line-height: 25px; font-weight: 400; }
.navbar .dropdown-menu ul li a { opacity: 1; border-bottom: 1px solid transparent; display: inline-block; }
.dropdown-item:focus, .dropdown-item:hover {
    background: none;
    color: #fff;
}.breadcrumb-sub-layout h1{font-size: 28px; margin-bottom: 28px; line-height: 38px; font-weight: 500;}
.hero_banner_container{min-width: 80vh;}
}
@media (max-width: 991px){
	.vision-carousel h3{margin-top: 2rem;}
	.banner-content .container > div{text-align: left;}
	.video-banner .owl-item .item>img, .video-banner-mobile .owl-item .item>img{top:0px;}
	#mainMenu .nav-item{padding: 0.6rem 0rem;}
	.breadcrumb-sl-inner.breadcrumb-sl-inner_contact{padding-bottom: 3rem !important;}
	.content-header h2{font-size: 26px; font-weight: 400; margin-bottom: 20px; text-shadow: 0 0 black; line-height: 37px;}
	.content-header h3 { font-size: 20px; }
	.inner-herobanner-carousel img{min-height: 350px;object-fit: cover;}
	.bannercontent p{    width: 100%;font-size: 14px;line-height: 20px;}
	.icon_row{    text-align: right;}
	.breadcrumb-sub-layout h1{font-size: 28px; margin-bottom: 28px; line-height: 38px; font-weight: 500;}
	.navbar .dropdown-menu ul li {border-bottom: 0px solid #ccc;padding-bottom: 0.3rem;}
.dropdown-item { display: block; width: auto; padding: 5px 0px 0px 0px; border-bottom: none; color: #fff; }
.navbar .dropdown-menu ul li a { color: #fff; padding-top: 0px; font-size: 18px; line-height: 25px; font-weight: 400; }
.navbar .dropdown-menu ul li a { opacity: 0.7; border-bottom: 1px solid transparent; display: inline-block; }
.dropdown-item:focus, .dropdown-item:hover {
    background: none;
    color: #fff;
}
.breadcrumb-sl-inner, .breadcrumb-sub-layout{    padding: 8rem 0rem 0rem 0rem !important;}
.ceo_message:after{content:"";right: -8px; transform: rotate(32deg);}
.capablities_main--content{text-align:center;}
.capablities_main--content > div{text-align:center;}
.banner-content-centered{}
.banner-content-centered h2{font-weight: 200 !important;}
.banner-content-centered h2 span{font-weight: 400 !important;}
.banner-content-centered p{width: 100% !important;}
.video-banner, .video-banner .owl-item .item,.homeslider .owl-item .item img{height:90vh;}
header.fixed-header { background: #fff; transition: ease all 0.6s;box-shadow: 0px 0px 6px -4px #000; }
header.fixed-header .navbar { transition: ease all 0.6s; padding: 5px 0px; }
footer > .container{padding: 40px 15px;}
.section-content h1{font-size: 28px; line-height: 31px; margin-bottom: 13px;font-weight: 600;}
.section-content h2{font-size: 28px; line-height: 31px; margin-bottom: 13px;}
.section-content h3{font-size: 26px; line-height: 28px; margin-bottom: 13px;}
.section-content p{font-size: 20px; line-height: 31px; margin-bottom: 22px;}
.section-content ul li {font-size: 14px; line-height: 27px; }
.banner-content{top: auto; transform: translateY(0%); bottom: 5%;}
.banner-content h2{font-weight: 500;font-size: 26px; line-height: 28px; margin-bottom: 12px;}
.banner-content p{font-size: 14px; font-weight: normal; line-height: 18px;width: 70%;}
.scroll-down span{line-height: 12px; font-size: 1.5rem; width: 1.5rem; height: 1.5rem;}
.hero-banner, .hero-banner .item, .hero-banner .item img { height: 85vh; object-fit: cover; }
.section_padding{padding:60px 0px;}
.section_padding-top{padding-top:60px;}
.section_padding-bottom{padding-bottom:60px;}
.sitemap_visible {display: none;}
.sitemap_visible.active { display: block; }
.newsroom-section ul li{line-height: 16px;}
.Capablities-section{background:#fff;}
.Capablities-section .sub-heading{font-size: 14px; line-height: 27px; margin-bottom: 22px;}
footer h5 a{font-size: 16px; line-height: 20px;margin-bottom: 10px;}
}
@media (max-width: 767px){
.video-banner, .video-banner .owl-item .item,.homeslider .owl-item .item img{height:90vh;}
.ceo_thumb{min-height: 100%;}
.ceo_thumb img{position:relative;}
.ceo_message:after{content:"";right: 30px; transform: rotate(0deg); bottom: 0px; top: auto;}
}
@media (max-width: 576px){  
.video-banner, .video-banner .owl-item .item,.homeslider .owl-item .item img{height:90vh;}
}
@media (max-width: 480px){
	#mainMenu{width: 100%;padding: 6rem 3rem 3rem 3rem;}
	.nav-close{right: 50px;}

}