@font-face {
  font-family: "Adani-Regular";
  src: url("../webfonts/Adani-ExtraLight.woff") format("woff"),
    url("../webfonts/Adani-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Adani-Regular";
  src: url("../webfonts/Adani-Medium.woff") format("woff"),
    url("../webfonts/Adani-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Adani-Regular";
  src: url("../webfonts/Adani-Regular.woff") format("woff"),
    url("../webfonts/Adani-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adani-Regular";
  src: url("../webfonts/Adani-Regular_1.woff") format("woff"),
    url("../webfonts/Adani-Regular_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adani-Regular";
  src: url("../webfonts/Adani-Light.woff") format("woff"),
    url("../webfonts/Adani-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Adani-Regular";
  src: url("../webfonts/Adani-Bold.woff") format("woff"),
    url("../webfonts/Adani-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Adani-Regular";
  src: url("../webfonts/Adani-SemiBold.woff") format("woff"),
    url("../webfonts/Adani-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position: relative;
  font-family: "Adani-Regular";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background-color: white;
}
body {
  transition: ease margin-top 0.3s;
}
main {
  overflow: hidden;
  background: #f6f6f3;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
header,
aside,
footer,
section,
article,
nav,
field,
label,
figcaption,
figure,
hgroup,
input,
textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
}
p {
  font-size: 14px;
  font-weight: 400;
}
a {
  color: #808080;
}
a:link,
a:visited {
  text-decoration: none;
}

header {
  padding: 0rem 0rem;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 9;
}
header .btn {
  text-align: left;
}
header .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
header .tollfree span,
header .email_connect span {
  color: #137ab6;
  font-size: 0.8rem;
  font-weight: 600;
}
header .points-tooltip span {
  color: #f3a100;
  font-size: 0.8rem;
  font-weight: 600;
}
header .points-tooltip .fa {
  margin-right: 0px;
}
header
  .tollfree
  span(color:#7f3a8d;)
  header
  .points-tooltip(color:#f3a100;)
  header
  .btn
  .fa-question-circle {
}
header .btn .fa-question-circle:before {
  font-size: 20px;
  position: relative;
  top: 3px;
}
header .btn .fa-phone {
  width: 22px;
  height: 22px;
  text-align: center;
  border: 2px solid #7f3a8d;
  border-radius: 100px;
  position: relative;
  top: 6px;
  margin-right: 10px;
}
header .btn .fa-phone:before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 10px;
  color: #7f3a8d;
}
header .btn .fa-envelope {
  width: 22px;
  height: 22px;
  text-align: center;
  position: relative;
  top: 0px;
  margin-right: 10px;
}
header .btn .fa-envelope:before {
}
header .btn span {
  display: inline-block;
}
header .navbar-toggle {
  background: transparent;
  border: 0px;
  color: #fff;
  padding: 0px;
  outline: 0;
  border: 0px;
}
header .navbar-toggle span {
  width: 20px;
  height: 2px;
  background: #fff;
  display: block;
  margin-bottom: 3px;
}
header .navbar-toggle span:first-child {
}
header .navbar-toggle span:last-child {
}
header .navbar {
  padding: 0px 0px 0px 0px;
  transition: ease all 0.6s;
}
header.fixed-header .navbar-toggle span {
  background: #2b79a9;
}

.banner-content {
  text-align: left;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
}
.banner-content h1 {
  font-weight: 500;
  color: #fff;
  font-size: 44px;
  line-height: 61px;
}
.banner-content h2 {
  font-weight: 400;
  color: #fff;
  font-size: 43px;
  line-height: 61px;
  margin-bottom: 12px;
}
.banner-content p {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px #000;
  line-height: 22px;
  max-width: 490px;
}
.banner-content .container > div {
  margin-top: 2rem;
  text-align: center;
}

.hero_banner_container {
  position: relative;
}
.scroll-down {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}
.scroll-down a {
  display: inline-block;
  width: 45px;
  float: right;
}
.scroll-down__sub {
  width: 100%;
  left: 0px;
  text-align: center;
}
.scroll-down__sub span {
  margin-left: auto;
  margin-right: auto;
}
.scroll-down span {
  display: block;
  line-height: 12px;
  font-size: 2.5rem;
  width: 2rem;
  height: 2rem;
  border-left: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.scroll-down span:nth-child(1) {
  position: relative;
  top: 30px;
}
.scroll-down span:nth-child(2) {
  position: relative;
  top: 12px;
}
.scroll-down span:nth-child(3) {
  position: relative;
  top: -5px;
}
.scroll-down span:nth-child(4) {
  position: relative;
  top: -22px;
}
.scroll-down span:nth-child(5) {
  position: relative;
  top: -40px;
}

.blink {
  -webkit-animation-name: blink;
  -moz-animation-name: blink;
  -o-animation-name: blink;
  animation-name: blink;
  -webktit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.blink-infinite {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.blink-1 {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
.blink-2 {
  -webkit-animation-duration: 1.9s;
  -moz-animation-duration: 1.9s;
  -o-animation-duration: 1.9s;
  animation-duration: 1.9s;
}
.blink-3 {
  -webkit-animation-duration: 1.8s;
  -moz-animation-duration: 1.8s;
  -o-animation-duration: 1.8s;
  animation-duration: 1.8s;
}
.blink-4 {
  -webkit-animation-duration: 1.7s;
  -moz-animation-duration: 1.7s;
  -o-animation-duration: 1.7s;
  animation-duration: 1.7s;
}
.blink-5 {
  -webkit-animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -o-animation-duration: 1.6s;
  animation-duration: 1.6s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.section-gradient {
  background: transparent linear-gradient(94deg, #1b9d94 0%, #2d74ac 100%) 0% 0%
    no-repeat padding-box;
  color: #fff;
}
.section-thumb {
  height: 100%;
}
.section-thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-content {
}
.section-content h1 {
  font-weight: normal;
  font-size: 44px;
  line-height: 61px;
  margin-bottom: 21px;
}
.section-content h2 {
  font-weight: normal;
  font-size: 44px;
  line-height: 61px;
  margin-bottom: 21px;
}
.section-content h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 21px;
}
.section-content p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 30px;
}
.section-content ul {
  padding-left: 25px;
}
.section-content ul li {
  list-style-type: disc;
  font-size: 16px;
  line-height: 27px;
}
.txt-blue {
  color: #55b2c1;
}

.section_padding {
  padding: 50px 0px;
}
.section_padding-top {
  padding-top: 80px;
}
.section_padding-bottom {
  padding-bottom: 80px;
}

footer {
  background: #fff;
  box-shadow: 0px -3px 6px rgb(0 0 0 / 10%);
}
footer h5 {
  font-size: 22px;
  line-height: 26px;
}
footer h5 a {
  color: #2e71b0;
  margin-bottom: 26px;
  display: inline-block;
  transition: ease all 0.6s;
  font-weight: normal;
  font-size: 21px;
  line-height: 20px;
}
footer h5 a:hover {
  color: #000;
  transition: ease all 0.6s;
}
footer > .container {
  padding: 100px 15px 0px 15px;
}
footer .bottom_copyright {
  background: #383838;
  padding: 10px 0px;
  color: #fff;
}
footer .bottom_copyright li {
  list-style: none;
  display: inline-block;
}
footer .bottom_copyright li a {
  color: #f3f3f3;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 0.9rem;
  border-left: 1px solid #f3f3f3;
}
footer .bottom_copyright li a:hover,
.footerMenu li a:focus {
  color: #2e71b0;
}
footer .bottom_copyright li:first-child a {
  border-left: none;
}
footer .bottom_copyright li:last-child a {
  padding-right: 0;
}
.wrapper-logo {
  text-align: center;
}
.wrapper-logo > div {
  margin-top: 30px;
}
.ft-social {
  display: inline;
  position: relative;
  top: 10px;
}
.ft-social li {
  display: inline-block;
  text-align: center;
  width: 10%;
}
.ft-social li:hover a {
  color: #019fd4;
  transition: ease all 0.3s;
}
.ft-social li a {
  color: #007ea8;
  padding: 5px 5px;
  font-size: 18px;
}

#back-to-top {
  transform: rotate(0deg);
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 9; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #2e71b0; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px 15px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 0.6;
  transition: ease-in all 0.2s;
}
#back-to-top:afte {
  content: "";
  height: 0px;
  position: absolute;
  bottom: -6px;
  left: -8px;
  width: 70%;
  transform: rotate(20deg);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32);
}
#back-to-top:hover {
  transition: ease-in all 0.2s;
  opacity: 0.9; /* Add a dark-grey background on hover */
  transform: rotate(0deg);
}
#back-to-top:hover:after {
  display: none;
}

.sitemap-link {
  color: #fff !important;
  background: #1e9797;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.sitemap-link a:hover {
  color: #fff;
}
.sitemap-link i,
.sitemap-link em {
  float: right;
  position: relative;
  top: 3px;
  transform: rotate(-90deg);
  transition: ease all 0.3s;
}
.sitemap-link.sitemap-link-active i,
.sitemap-link.sitemap-link-active em {
  transform: rotate(0deg);
  transition: ease all 0.3s;
}

/*Menu*/
.primaryMenu {
  display: block;
}
#mainMenu {
  width: 403px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh !important;
  overflow-y: auto;
  color: #306eb2;
  transition: ease all 0.3s;
  margin-right: -403px;
  background: transparent linear-gradient(94deg, #1b9d94 0%, #2d74ac 100%) 0% 0%
    no-repeat padding-box;
  z-index: 999999;
  left: auto;
  padding: 6rem 4rem 4rem 3rem;
}
#mainMenu.show {
  transition: ease all 0.3s;
  margin-right: 0px;
  display: block !important;
}
#mainMenu .nav-item {
  display: block;
  padding: 0.8rem 0rem;
}
#mainMenu .nav-item a.nav-link {
  color: #fff;
  font-size: 22px;
  text-align: left;
  margin-bottom: 0rem;
  display: inline-block;
  font-weight: 500;
  padding: 0rem 0rem !important;
}
#mainMenu .nav-item span {
  color: #fff;
  display: inline-block;
  margin-left: 0.5rem;
  cursor: pointer;
  width: 25px;
  text-align: center;
  line-height: 25px;
}
#mainMenu .nav-item a:hover {
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
}
#mainMenu .nav-item.active.dropdown > a {
  border-bottom: 1px solid #fff;
}
#mainMenu .nav-item.active.dropdown .dropdown-menu.megamenu {
  display: block;
  position: relative;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  padding-top: 0.5rem;
  border: 0px;
}
.navbar .dropdown.active {
  padding-bottom: 0px !important;
}

.menu-overlay {
  position: fixed;
  background: rgb(0 0 0 / 50%);
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 1;
}
.nav-close {
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  top: 40px;
  right: 60px;
  cursor: pointer;
}
.nav-close:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  top: 14px;
}
.nav-close:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  transform: rotate(-45deg);
  top: 14px;
}
.fixed-header .navbar-brand {
  display: block;
  opacity: 1;
  transition: ease all 0.6s;
}

.video-banner img,
.video-banner video {
  object-fit: cover;
  width: 100%;
}
.video-banner .owl-item .item video,
.video-banner-mobile .owl-item .item video,
.video-banner .owl-item .item img {
  height: 95vh;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.video-banner .owl-item .item > img,
.video-banner-mobile .owl-item .item > img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1;
  top: 0%;
}
.banner-content a {
  background: transparent linear-gradient(93deg, #1b9d94 0%, #2d74ac 100%) 0% 0%
    no-repeat padding-box;
  min-width: 136px;
  color: #fff;
  border-radius: 0px;
  text-align: center;
  line-height: 27px;
  transition: ease all 0.6s;
  font-size: 14px;
}
.banner-content a:hover {
  background: transparent linear-gradient(93deg, #1b9d94 100%, #2d74ac 0%) 0% 0%
    no-repeat padding-box;
  transition: ease all 0.6s;
  color: #fff;
}

.partner-ecosystem .sub-heading {
  max-width: 100%;
  font-size: 18px !important;
  line-height: 25px !important;
}
.sub-heading {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.capablities_main {
}
.capablities_main:hover .capablities_main--content > div a svg path {
  fill: #1c9b96;
  transition: ease all 0.6s;
}
.capablities_main:hover .capablities_main--thumb img {
  transition: ease all 0.6s;
  transform: scale(1.1);
}
.capablities_main--thumb {
  height: 241px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
.capablities_main--thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease all 0.6s;
  transform: scale(1);
}
.capablities_main--content {
  padding: 23px 0px;
}
.capablities_main--content h3 {
  font-size: 18px !important;
  line-height: 22px !important;
  font-weight: 600 !important;
  margin-bottom: 5px !important;
}
.capablities_main--content p {
  font-size: 16px !important;
  line-height: 22px !important;
  font-weight: normal !important;
  margin-bottom: 5px !important;
  display: -webkit-box;
  max-width: 100%;
  line-height: 21px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 70px;
}
.capablities_main--content > div {
  text-align: right;
}
.capablities_main--content > div a {
}
.capablities_main--content > div a svg {
}
.capablities_main--content > div a svg path {
  transition: ease all 0.6s;
  fill: #000;
}

.partner_main {
  height: 100%;
  position: relative;
}
.partner_main--thumb {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #000;
  border-radius: 3px;
}
.partner_main--thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease all 0.6s;
  min-height: 300px;
}
.partner_main--thumb:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  height: 3px;
  background: #000;
  width: 100%;
  box-shadow: 0px 0px 38px 11px #000, 0px 0px 63px 18px #000,
    0px 0px 140px 28px #000;
}
.partner_main--content {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 30px 40px;
}
.partner_main--content h3 {
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 34px;
}
.partner_main--content h3 a {
  color: #fff;
}
.partner_main--content h3 a img {
  margin-left: 1rem;
  transition: ease all 0.3s;
}
.partner_main:hover .partner_main--content h3 a img {
  margin-left: 1.5rem;
  transition: ease all 0.3s;
}
.partner_main:hover .partner_main--thumb img {
  transition: ease all 0.6s;
  transform: scale(1.1);
  opacity: 0.7;
}

#other-ventures a {
  color: #000;
  font-size: 14px;
}
#other-ventures a:hover {
  color: #444;
  text-decoration: underline;
}
#other-ventures {
  padding: 15px 0 0 0;
  position: relative;
}
#other-ventures h5 {
  text-align: center;
  line-height: 40px;
  font-size: 1.25rem;
}
#other-ventures .owl-dots {
  padding: 20px 0 0 0;
}
#other-ventures .owl-dot span {
  border-radius: 0;
}
#other-ventures .owl-dots .active span {
  background: #006db7;
}
#other-ventures .owl-dots span:hover {
  background: #006db7;
}
#other-ventures .owl-prev {
  position: absolute;
  left: -20px;
  color: #000;
  outline: 0;
}
#other-ventures .owl-prev span {
  font-size: 30px;
  color: #000;
  padding: 1px 14px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px -1px #000;
}
#other-ventures .owl-next {
  position: absolute;
  right: -20px;
  color: #000;
  outline: 0;
}
#other-ventures .owl-next span {
  font-size: 30px;
  color: #000;
  padding: 1px 14px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px -1px #000;
}
#other-ventures .owl-nav {
  position: absolute;
  top: 30%;
  width: 100%;
}

.newsroom-section {
  background: #fff;
  padding: 30px;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  height: 100%;
}
.newsroom-section ul {
  padding-left: 0px;
}
.newsroom-section ul li {
  position: relative;
  list-style-type: none;
  padding-left: 40px;
  line-height: 18px;
  margin-bottom: 20px;
}
.newsroom-section ul li:before {
  content: "";
  background: url("../images/news-icon.png");
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0px;
  background-repeat: no-repeat;
  top: 5px;
}
.newsroom-section ul li a {
  font-size: 14px;
  line-height: 18px;
  color: #7e7e7e;
}
.newsroom-section ul li a:hover {
  color: #000;
}
.btn-gradient {
  background: transparent linear-gradient(93deg, #1b9d94 0%, #2d74ac 100%) 0% 0%
    no-repeat padding-box;
  min-width: 136px;
  color: #fff;
  border-radius: 0px;
  text-align: center;
  line-height: 27px;
  transition: ease all 0.6s;
  font-size: 14px;
}
.btn-gradient:hover {
  background: transparent linear-gradient(93deg, #1b9d94 100%, #2d74ac 0%) 0% 0%
    no-repeat padding-box;
  transition: ease all 0.6s;
  color: #fff;
}

.ceo_message {
  background: transparent linear-gradient(90deg, #1b9e93 0%, #306eb2 100%) 0% 0%
    no-repeat padding-box;
  height: 100%;
  color: #fff;
  padding: 30px;
  position: relative;
}
.ceo_message h3 {
}
.ceo_message p {
  font-size: 18px !important;
  line-height: 25px !important;
  font-weight: 100 !important;
}
.ceo_message a {
  background: #fff;
  color: #1c9c95;
  transition: ease all 0.6s;
}
.ceo_message a:hover {
  background: #2c77aa;
  border: 1px solid #fff;
  color: #fff;
  transition: ease all 0.6s;
}
.ceo_thumb {
  background: #e9ebe8;
  overflow: hidden;
  position: relative;
  min-height: 320px;
  height: 100%;
}
.ceo_thumb img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.ceo_message:after {
  top: 5%;
  content: "";
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 22px solid #e9ebe8;
  position: absolute;
}

.bg-lgray {
  background: #f3f3f3;
}
.bg-dark-gray {
  background: #ebebeb;
}

/*News Section*/
.ul-news-section {
  padding-left: 38px;
  position: relative;
}
.ul-news-section li {
  font-size: 13px;
  margin-bottom: 10px;
}
.ul-news-section li p a {
  color: #000;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: 40px;
  overflow: hidden;
}
.ul-news-section li p span {
  display: block;
  color: #9a9a9a;
  font-size: 12px;
}
.ul-news-section li:before {
  background-image: url(/images/Ports/news-icon.png);
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 30px;
  left: 0px;
  background-repeat: no-repeat;
}

/*Media Contacts*/
.ul-media-contacts {
  /*min-height: 255px;*/
}
.ul-media-contacts li {
  margin: 30px 0px;
}
.ul-media-contacts li a {
  color: #000;
  font-size: 15px;
}
.ul-media-contacts li a:hover {
  color: #1d9b97;
}
.ul-media-contacts li i {
  font-size: 25px;
  margin-right: 20px;
  position: relative;
  top: 3px;
}

.CTA {
  position: relative;
}
.CTA .container {
  position: relative;
}
.CTA h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
}
.CTA h2 span {
  float: right;
}

.box-block {
  background: #fff;
  border: 1px solid #eaeaea;
  height: 100%;
}
.box-block p a {
  color: #1aa393;
  font-size: 14px;
  transition: ease all 0.2s;
}
.box-block p a:hover {
  color: #306eb2;
  transition: ease all 0.2s;
  text-decoration: underline;
}
.box-block p a.btn-gradient {
  color: #fff !important;
}

/*Media Section*/
.ul-media-section {
  padding-left: 30px;
}
.ul-media-section li {
  font-size: 13px;
  margin-bottom: 10px;
  list-style-type: disc;
}
.ul-media-section li p a {
  color: #000;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: 40px;
  overflow: hidden;
}
.ul-media-section li p span {
  display: block;
  color: #9a9a9a;
  font-size: 12px;
}
.ul-media-section a {
  color: #000;
}
.ul-media-section a:hover {
  color: #306eb2;
  text-decoration: underline;
}
.ul-policies-section {
  position: relative;
  padding-left: 38px;
}
.ul-policies-section a {
  color: #000;
}
.ul-policies-section a:hover {
  color: #007ea8;
}
.ul-policies-section li {
  margin-bottom: 10px;
}
.ul-policies-section li:before {
  content: "\f15c";
  display: block;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  left: 0px;
}
.ul-policies-section li span {
  display: block;
  color: #9a9a9a;
  font-size: 12px;
}
.section-heading {
  font-size: 28px;
  margin-bottom: 28px;
  line-height: 38px;
  font-weight: 500;
}

/*Inner breadcrumb*/
.breadcrumb-slider {
  position: relative;
  background: #000;
}
.breadcrumb-slider img {
  opacity: 0.8;
  width: 100%;
}
.breadcrumb-sl-inner {
  position: relative;
  width: 100%;
  z-index: 8;
  top: 0px;
  background: #f4efec;
  padding: 8rem 0rem 3rem 0rem !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.breadcrumb-sl-inner_contact {
  background: #f3f3f3;
  box-shadow: 0px 0px 0px 0px #fff;
  padding-top: 15px;
}
.breadcrumb-sl-inner ul {
}
.breadcrumb-sl-inner ul li {
  color: #000;
  display: inline-block;
}
.breadcrumb-sl-inner ul li:nth-last-child(1):after {
  content: " ";
}
.breadcrumb-sl-inner ul li:after {
  content: "\f101";
  padding: 0px 10px;
  display: inline-block;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
}
.breadcrumb-sl-inner ul li a:hover {
  color: #4e4e4e;
  text-decoration: underline;
}
.breadcrumb-sl-inner ul li a {
  color: #000;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 22px;
  text-shadow: 0 0 black;
}

.headerSec-inner {
  z-index: 99;
}
.headerSec-inner .navbar .navbar-brand img:first-child {
  opacity: 0 !important;
  display: none !important;
}
.headerSec-inner .navbar .navbar-brand img:last-child {
  opacity: 1 !important;
  display: block !important;
}
.headerSec-inner .navbar-toggle span {
  background: #2b79a9;
}
.headerSec-inner .navtopbar {
  border-bottom: 0px solid #e4e4e4;
}
.headerSec-inner.fixed-header .navtopbar {
  border-bottom: 0px solid #e4e4e4;
}
.headerSec-inner.fixed-header .navbar-brand {
  display: block;
  opacity: 1;
  transition: ease all 0.6s;
}
.address-section {
}
.address-section h2 {
  color: #000;
  line-height: 40px;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.address-section h6 {
  font-size: 24px;
  color: #000;
  line-height: 34px;
  margin-bottom: 12px;
}
.address-section h5 {
  font-size: 26px;
  color: #179e96;
  line-height: 37px;
  margin-bottom: 24px;
}
.address-section .medium {
  font-size: 18px;
  color: #000;
  line-height: 25px;
  margin-bottom: 22px;
}
.section-subheading {
  border-left: 5px solid #179e96;
  padding-left: 25px;
  color: #000;
  font-size: 1.75rem;
  font-weight: 500;
}
.form-section {
}
.form-section input[type="text"],
.form-section input[type="tel"],
.form-section input[type="number"],
.form-section input[type="email"] {
  font-size: 14px;
  padding: 10px 10px;
  border: 0px;
  background: #f4efec;
}
.form-section textarea {
  font-size: 14px;
  padding: 10px 10px;
  border: 0px;
  background: #f4efec;
}
.form-section select {
  font-size: 14px;
  padding: 8px 10px;
  border: 0px;
  height: 37px !important;
  background: #f4efec;
}

.headerSec .navbar-brand img:first-child {
}
.headerSec .navbar-brand img:last-child {
  display: none;
  opacity: 0;
  transition: ease all 0.6s;
}
.fixed-header .navbar-brand img:first-child {
  display: none;
  opacity: 0;
  transition: ease all 0.6s;
}
.fixed-header .navbar-brand img:last-child {
}

.bannercontent {
  font-weight: bolder;
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: left;
  z-index: 1;
  bottom: 0px;
}
.bannercontent__sub {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.bannercontent__sub h1 {
  text-align: center !important;
}
.bannercontent .bannercontent_inner {
  width: 100%;
  padding: 2rem 0rem;
  text-align: left;
  max-width: 800px;
}
.bannercontent h1 {
  padding-left: 0px;
  color: #fff;
  font-size: 38px;
  text-align: left !important;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: 500;
}
.bannercontent h1 span {
  color: #fff;
  font-weight: 400;
}
.bannercontent h2 {
  font-weight: 600;
}
.bannercontent h2 span {
  color: #66ef79;
}
.bannercontent p {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  width: 80%;
  line-height: 22px;
  padding: 1rem 0rem;
}
.bannercontent a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.bannercontent a:hover {
}
.bannercontent a span {
  font-size: 12px;
  position: relative;
  top: -2px;
  transition: ease all 0.4s;
  left: 0px;
}
.bannercontent a:hover span {
  transition: ease all 0.4s;
  left: 10px;
}
.inner-herobanner-carousel {
  background: #000;
}
.inner-herobanner-carousel img {
  opacity: 0.6;
  min-height: 400px;
  max-height: 90vh;
  object-fit: cover;
}

.breadcrumb-sublayout-ul a {
  color: #000;
  text-transform: capitalize;
}
.breadcrumb-sublayout-ul a:hover {
  color: #656565;
}
.breadcrumb-sub-layout {
}
.breadcrumb-sub-layout h1 {
  margin-top: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.breadcrumb-sublayout-ul {
	margin-top: 30px;
}
.breadcrumb-sublayout-ul li {
  color: #000;
  display: inline-block;
}
.breadcrumb-sublayout-ul li:nth-child(1):before {
  content: " ";
  display: none;
}
.breadcrumb-sublayout-ul li:before {
  content: "\f105";
  padding-right: 10px;
  display: inline-block;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 2px;
  margin-left: 5px;
}
.breadcrumb-sublayout-ul a {
  color: #000;
  text-transform: capitalize;
}
.breadcrumb-sublayout-ul a:hover {
  color: #656565;
}
.breadcrumb-sub-layout {
  padding: 8rem 0rem 3rem 0rem !important;
}
.breadcrumb-sub-layout h1 {
  margin-top: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.media-release {
}
.media-release p {
  text-align: left !important;
  margin: 0px 0px 5px 0px !important;
}
.media-release ul {
  padding-left: 30px;
}
.media-release li {
  list-style-type: disc;
  margin-bottom: 5px;
}
.media-release ol li {
  list-style-type: decimal;
  margin-bottom: 5px;
}
.media-release table {
  width: 100% !important;
  margin: 10px 0px 10px 0px !important;
}
.media-release table td {
  padding: 10px 10px !important;
}

.mainSlider-breadcrumb .breadcrumb-sl-inner {
  padding: 1rem 0rem 1rem 0rem !important;
}

.headerSec-inner.headerSec {
  background: transparent;
}

.media-date {
  font-size: 2rem;
  color: #316eb3;
  border-bottom: 3px solid #306db2;
  margin-bottom: 2.5rem;
}
.media-date p {
  font-size: 2rem;
  color: #316eb3;
}
.media-release-box {
  padding: 30px 20px;
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  position: relative;
  display: block;
}
.media-release-box h3 a {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #000;
}
.media-release-box h3 a:hover {
  color: #6f6f6f;
  transition: ease all 0.3s;
}
.media-release-box p span {
  color: #949494;
}
.media-release-box h3 a:after {
  content: "";
  display: block;
  position: absolute;
  background: url(/images/MangaloreAirport/docs-icon.png);
  right: 15px;
  width: 75px;
  height: 75px;
  top: 17px;
  opacity: 0.2;
}

#btn-mrelease {
}
#btn-mrelease option {
  background: #1b9d94;
}

.modal.video {
}
.modal.video .modal-body {
  padding: 0px;
}
.modal.video .heading {
  border-left: 5px solid #2c77ab;
}
.modal.video .close {
  position: absolute;
  right: 5px;
  z-index: 9;
}

.vendor-form {
}
.vendor-form h2 {
  color: #026eaf;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1.75rem !important;
}
.vendor-form label {
  font-size: 14px;
}
.vendor-form table {
}
.vendor-form table thead th {
  background: #026eaf;
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  min-width: 200px;
}
.vendor-form table tbody p {
  padding: 10px 15px;
  margin-bottom: 0px;
}
.vendor-form table tbody .form-group p {
  padding: 0px 15px;
  font-size: 12px;
}
.vendor-form table tbody tr {
}
.vendor-form table tbody tr td {
  padding: 0px;
}
.vendor-form table tbody .form-group {
  margin-bottom: 0rem;
}
.vendor-form table tbody .form-group .form-control {
  border: 0px;
  padding: 10px 15px;
}
.vendor-form input::placeholder {
  color: #ccc;
}
.vendor-form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}
.vendor-form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

.innerPgConten {
}
.innerPgConten p {
  font-size: 16px;
  font-weight: 400;
  text-align: left !important;
  margin: 0px 0px 10px 0px !important;
}
.innerPgConten ul {
  padding-left: 30px;
}
.innerPgConten li {
  list-style-type: disc;
  margin-bottom: 5px;
}
.innerPgConten ol li {
  list-style-type: decimal;
  margin-bottom: 5px;
}
.innerPgConten table {
  width: 100% !important;
  margin: 10px 0px 10px 0px !important;
}
.innerPgConten table td {
  padding: 10px 10px !important;
}

.primaryMenu .nav-item.dropdown.active .dropdown-menu {
  max-height: 1500px;
  transition: ease all 0.5s;
}
.primaryMenu .nav-item.dropdown .dropdown-menu {
  background: transparent;
  border: 0px;
  max-height: 0px;
  transition: ease all 0.3s;
  overflow: hidden;
  padding: 0px;
}

.headerSec-inner .navbar {
  padding: 20px 0px 20px 0px;
}

.c-tracking {
}
.c-tracking h3 {
  border-left: 5px solid #2c77ab;
  font-size: 1.25rem;
  padding-left: 1rem;
}
.c-tracking #recaptcha2 {
}

.vision-carousel {
}
.vision-carousel h3 {
}
.vision-carousel p {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.vision-carousel .owl-nav {
}
.vision-carousel .owl-nav button.disabled {
  opacity: 0.5;
}
.vision-carousel .owl-nav button {
  min-width: 50px;
  text-align: left;
  outline: 0;
}

.border-radius {
  border-radius: 3px;
}

.map_section {
  position: relative;
}
.map_section h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
}
.map_section p {
}
.map_section .map_section--filter {
  max-width: 350px;
}
.map_section .map_section--filter select {
  width: 200px;
  padding: 0.5rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  outline: 0;
}
.map_section,
.map_section .bg-images,
.map_section img {
  height: 95vh !important;
}
.map_section .container {
  position: relative;
}

.bg-images {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}
.bg-images img {
  border-radius: 0;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  height: 100%;
}

.map-pointer_parent .marker {
  display: inline-block;
  position: absolute;
  width: 20px;
  text-align: center;
}
.map-pointer_parent .marker .marker_sub {
  max-height: 0px;
  transition: ease all 0.5s;
  overflow: hidden;
  width: 200px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 5px -2px #000;
}
.map-pointer_parent .marker:hover .marker_sub {
  transition: ease all 0.5s;
  max-height: 1500px;
}
.map-pointer_parent .marker .marker_sub > div {
  padding: 0.5rem;
}
.map-pointer_parent .marker .marker_sub > div p {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}
.map-pointer_parent .marker .marker_sub > div p:last-child {
  margin-bottom: 0px;
}
.map-pointer_parent .marker a {
  position: relative;
  color: #fff;
}
.map-pointer_parent .marker a span {
  text-shadow: 0px 2px 3px #000;
}
.map-pointer_parent .marker a:before {
  position: absolute;
  content: "";
  height: 0.3em;
  width: 1em;
  left: -3px;
  top: 15px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #fff;
  -webkit-animation: becond_animate 2s infinite linear;
  animation: becond_animate 2s infinite linear;
}
.sustainability_cta {
  position: relative;
  padding: 9rem 0rem;
}
.sustainability_cta .container {
  position: relative;
}
.sustainability_cta h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  margin-bottom: 1.5rem;
}
.sustainability_cta p {
  max-width: 550px;
  margin-bottom: 1.5rem;
}

@-webkit-keyframes becond_animate {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes becond_animate {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

section {
  content-visibility: visible;
  contain-intrinsic-size: 200px;
}

#other-ventures img {
  width: auto !important;
  margin: 0px auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video button.close {
  font-weight: 300;
  position: absolute;
  right: 0;
  top: -40px;
  font-size: 27px;
  color: #fff;
  opacity: 1;
  border: 2px solid transparent;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  transition: ease all 0.5s;
}
.video button.close:hover {
  border: 2px solid #fff;
  transition: ease all 0.5s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: -43px;
}
.video .modal-body {
  padding: 0;
  box-shadow: 0 0 6px -1px #484848;
}

@media (min-width: 992px) {
  .hero_banner_container {
    min-height: 80vh;
    background: #000;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#recaptcha1,
#recaptcha2,
.captcha {
  transform: scale(0.7);
  transform-origin: top left;
}
#contact_form .form-group.ml-4 {
  width: 100%;
  margin-bottom: 0px !important;
}
#btn-mrelease {
  color: #fff !important;
  outline: 0;
  box-shadow: 0px 0px 0px #000 !important;
}

.section-rewards {
}
.section-rewards .media-date {
  margin-bottom: 0px;
  position: relative;
  border: 0px;
  border: 5px solid #fff;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
}
.section-rewards .media-date img {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}
.section-rewards .media-date p {
  position: absolute;
  bottom: 0px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 0.5rem;
  background: rgb(0 0 0 / 62%);
  width: 100%;
  left: 0px;
  min-height: 87px;
  font-weight: 500;
}
.awards {
  font-size: 2rem;
  color: #316eb3;
  border-bottom: 3px solid #306db2;
  margin-bottom: 2.5rem;
}
.awards p {
  font-size: 2rem;
}
img.mfp-img {
}
.mfp-title {
  background: rgb(0 0 0 / 48%);
  padding: 0.5rem;
  font-size: 14px;
  margin-top: -4px;
  font-weight: 500;
}

.home .capabilities {
  background: azure;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.defencemedia .news .news-bottom p,
.defencemedia section:last-of-type .news-bottom p {
  display: none;
}
.main-banner p:first-child {
  top: 10rem;
}

.img-mobile-banner {

  display: none;

}

 

