src/*/*/*/bin/
src/*/*/*/obj/
node_modules/*
.vs/
*.user

*.rej
*.htm

/src/Feature/Accounts/code/AEMLSolarApplication
/src/Project/Electricity/serialization
/src/Feature/Accounts/serialization/Renderings/Accounts/AEMLNewConnection
/src/Project/Electricity/code/Views/Electricity/Layouts/Default_NewCon.cshtml
*.dll
*.pdb
packages/*
*.cache
src/*/*/*/*/obj/*
src/*/*/*/*/bin/*
/srcFrontend/Projects/AlipurdarAngular/.angular/*
/srcFrontend/Projects/AlipurdarAngular/node_modules/*

src/*/*/obj/*
src/*/*/bin/*
