# Ignore thumbnails created by Windows
Thumbs.db
# Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

# may contain OAuth secrets, do not commit
.sitecore/user.json

# NuGet cache for Sitecore CLI
.sitecore/package-cache/

# Ephemeral index caches used by serialization, do not commit
.scindex

# Don't commit packages
*.itempackage
*.sicpackage

.env
src/Foundation/Serialization/platform/App_Config/Include/zzz.Foundation/Sitecore.Foundation.Serialization.SourceFolder.config
src/Foundation/Serialization/platform/App_Config/Include/zzz.Foundation/Sitecore.Foundation.Serialization.SourceFolder.config

*.dll
*.dll
!./serialization/.config/*
/packages/*
*.pdb
*.dll
src/Environment/platform/Properties/PublishProfiles/Local.pubxml
/src/Project/AdaniInternationalSchool/platform
/src/Project/AdaniWelspun/platform/Data Annotation
*.config
