.ac-adaptivecard{

    background: #fff;
}
.ac-textblock ol {
	margin-left: 14px;
}
.ac-textblock ul {
	margin-left: 16px;
}
.ac-pushButton{

    background:#fff;
            border-color: #fff;
            padding: 6px 12px;
            color: #05548b;
            z-index: 0;
}

.ac-pushButton:hover {
    background: #05548b;
    border-color: #05548b;
    color: #fff;
}
.ac-selectable{

    background: #fff;
}

.ac-action-openUrl{

    background: #fff;
}

.ac-action-submit{

    background: #fff;
}

.ac-actionset{

    background: #fff;
}

.ac-column{

    background: #fff;
}

.ac-columnset{

    background: #fff;
}

.ac-container{

    background: #fff;
}

.ac-input{

    background: #fff;
}

.ac-multichoiceInput{

    background: #fff;
}

.ac-dateInput{

    background: #fff;
}

.ac-numberInput{

    background: #fff;
}

.ac-adaptivecard{

    background: #fff;
}

.ac-textInput{

    background: #fff;
}

.ac-timeInput{

    background: #fff;
}

.ac-image{

    background: #fff;
}

.ac-imageset{

    background: #fff;
}

.ac-factsets{

    background: #fff;
 

  
}

.ac-textblock{

    font-family: "Segoe UI", sans-serif !important;
    font-size: 12px !important;
    white-space:normal !important;
}
.ac-factset-valuecell div{
    white-space: inherit !important;
}
.ac-factset-valuecell div p{
    text-overflow: inherit !important;

}

/* this is the additional code for typing animation */

.ira_typing {
    width: 170px;
    height: 40px;
    position: relative;
    top: -30px;
    left: 3px;
  }

  #circleWrapper {
   
  }

  .circle {
    position: relative;
    height: 10px;
    width: 10px;
    margin-left: 2px;
    margin-right: 2px;
    top: 15px;
    background: darkgray;
    display: inline-block;
    border-radius: 50%;
  }

  .circle {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  #circle1 {
    animation-name: circle1;
  }

  #circle2 {
    animation-name: circle2;
  }

  #circle3 {
    animation-name: circle3;
  }

  @-webkit-keyframes circle1 {
    0% {
      top: 15px;
    }
    15% {
      top: 5px;
    }
    25% {
      top: 15px;
    }
  }

  @-webkit-keyframes circle2 {
    10% {
      top: 15px;
    }
    25% {
      top: 5px;
    }
    35% {
      top: 15px;
    }
  }

  @-webkit-keyframes circle3 {
    15% {
      top: 15px;
    }
    30% {
      top: 5px;
    }
    40% {
      top: 15px;
    }
  }