@media (min-width: 576px){}
@media (min-width: 576px){
	.img-goodlife{
	position: relative;
    top:-17.8%;
}}
@media (min-width: 768px){
	.table-certificate .table-responsive{
		overflow: hidden;
	}
	#belvedere-ahmedabad .close{display: none;}
	#belvedere-gurugram .close{display: none;}
}
@media (max-width: 1199px){
	.d-breadcrumb-none{display:none;}
	.mainBanner{height:492px}
	.innerbanner {height: 490px;}
	.mobile-breadcrumb-hd-none{display:none;}
	.residential{height: 330px;}
	.residential .innerform{top: 67% !important; }
/*	.footerMenu{margin:0.5rem 0;}*/
	.footerMenu li{margin:3px 0;}
	.footerMenu li a{opacity:1.0;}

	.homepage .bannerImg{background-position:20% top;}
	/*.social-links{display:none;}*/
	.nav-tabs .nav-item{margin:0;padding:3px 3px 0 0;}
}
@media (min-width: 992px) and (max-width: 1024px) {
	.navTile a{padding-right:0;font-size:0.8rem;}
	.serviceTile .serviceIcon img {
		width: 65px;
		max-height:none;
	}
	#carousel .owl-dots{top: 65%;}
	.mainBanner{height: 333px;}
	.innerbanner {height: 330px;}
}
@media (min-width: 768px) and (max-width: 868px) {
	.mainBanner{height: 360px !important;}
	.innerbanner {height: 360px;}
	.homepage .residential{height: 240px !important;}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
	.serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
	.mainBanner{height: 360px;}
	.innerbanner {height: 360px;}
	.residential{height:;}
	#carousel .owl-dots{top: 92%;}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.linkTxt{font-size:1rem;padding-bottom:10px;}
}
@media (max-width: 1024px){
	.mainBanner{height:413px}
	.innerbanner {height: 365px;}
	.homepage  .residential{height:321px;}
	.commercialtile:before{opacity:0}
	.commercialtile-2:before{opacity:0}
	.commercialtile-2:after{opacity:0}
}
@media (max-width: 991px){
	.landing-breadcrumb{min-height: 300px;overflow: hidden;}
	.landing-breadcrumb img{min-height: 300px;}
	.{margin-top:15px;}	.bannerForm{/* top:74%; */position: inherit;margin-top: 0px !important;}
	.teams-tiles #thumbs{display: none;}
	.nav-down .navPanel{top: 0px;}
	.nav-up .navPanel{top: 32px;}
	.blogtile .overlay{    position: inherit;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, -50%);
    padding: 10px 0px;}
	.bg-blog-videos .item i img{left: 31%;top: 30%;}
	.homepage  .residential{height: 248px;}
	.order{order: 1;}
	.img-goodlife{position: initial;}
	.border-left{border-left:0px !important;}
	.footerPanel2 h6{text-align:left;font-size: 18px;}
	.video-gallery{height: 52vh;}
	.txt-block-residential{margin: 0px;}
		.li-group li{    display: block;
    margin-top: 12px;}
	.mobile-none{display:none !important;}
	.desktop-none{display:block;    margin-left: 0px;margin-left: auto;}
	.dropbtn{padding: 0px !important;    position: relative;
    top: -8px;}
	.bannerForm{background: rgba(0,0,0,0.7);}
	.bannerForm .filter-box{background: transparent;}
	.adv-search{font-size: 12px;}
	.topNav{padding:20px 0 12px 0}
	.news{margin-top:20px;}
	.statistics{display:none;}
	.about-adani{    padding: 0px 0px 25px 0px;}
	.bluebtn{margin-bottom:10px;}
	.club-tile img{margin-top:10px;}
	.form-control{margin-bottom:10px;}
	.about-adani img{width: 110px;
    margin-bottom: 10px;}
	.accService{font-size:0.8rem;}
	.dropdown-menu{
		display:block;
		padding: 0;
		border-radius: 0;
		border:1px solid rgba(0,0,0,0.1);
		margin-left: 1rem;
		font-size:0.9rem;
	}
	.dropdown-item{padding:0.25rem 0.75rem;}
	.navbar-light .navbar-nav .nav-link{color:#000;}
	#topMenu {
		width: 250px;
		position: fixed;
		top:0;
		left: 0;
		height: 100vh;
		overflow-y:auto;
		z-index: 999;
		color: #fff;
		transition: all 0.3s;
        margin-left: -250px;
		background:#00a8e1;
    }
	 #topMenu.active {
        margin-left: 0;
    }
	.topMenu li {display:block;border-bottom:1px solid #fff;}
	.topMenu li a{padding: 0.5rem 1rem;
		display: block;
		background:#00a8e1;
		color:#fff;
		position:relative;
		border-right:none;
	}
	.topMenu li:first-child a{padding-left:1rem;}
	.topMenu li a:hover, .topMenu li a:focus{background:#transparent;color: #fff;}
	.primaryMenu {
		border-top:3px solid #00a8e1;
		/*box-shadow: 0px -1px 8px rgba(0,0,0,0.3);*/
	}
	.primaryMenu li{background:#eee;border-bottom:1px solid #d3d3d3}
	.primaryMenu li a.nav-link{padding:0.3rem 1rem;}
	.dropdown-menu{background:none;border:none;margin-left:1.5rem;}
	.dropdown-item{border-bottom:1px solid #d3d3d3;}
		.dropdown-item:focus, .dropdown-item:hover {
		color: #fff;
		text-decoration: none;
		background-color: #ff6633;
	}
	.navbar-light .navbar-nav .nav-item.active .nav-link, .navbar-light .navbar-nav .nav-item.show .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
		
		color: #fff;
	}
	.navbar {
		padding: 0;
	}
}
@media (max-width: 767px){
	.overlaycontainer{
		    top: 15%;
	}
	#fullscarousel .owl-slide{
		height: 160vh !important;
	}
	.order2 {order: 2;}
	.banneroverlay{display:none;}
	.ftrBtmInner .d-md-block{text-align:left}
	.breadcrumb h3{font-size: 40px;}
	.bg-goodlife{padding: 0rem 0rem 2rem 0rem;}
	#carousel .owl-dots{top: 85%;}
	#carousel .owl-dots{margin-top: 0px;}
	.breadcrumb h4{opacity:0;display:none;}
	.breadcrumb h5{opacity:0;display:none;}
	.quick-links{display:none;}
	.topNav li.topSearch{display:none;}
	.topMenu li.topSearchMenu{display:block;}
	/*.topMenu{display:none;}*/
	.homepage  .residential{height: 240px !important;}
	.homepage .mainBanner{height:276px;}
	.homepage .innerbanner{height:276px;}
	.homepage .bannerImg{position:relative;height:100%;background-position:12% top;}
	.homepage .bannerImg img {
		min-height: 250px;
		height: 100%;
		width: 500px;
		transform: none;
		left: 0;
		top: 0;
	}
	.navbar-brand{}
	.s-icons{width: 173px;
    margin-bottom: 10px;}
	.helpPanel{padding:30px 0 0 0;}
	.helpLinks{height:auto;margin-bottom:1rem;}
	.adaniLogoFooter{margin:1rem 0;display:inline-block;opacity:1.0;}
	
	.communityTile{background-blend-mode:overlay;}
	.communityTile .tileCnt{width:50%;}
	.listIcon{padding-right:0;}
	.listIcon img{max-width:50px;}
	.serviceTile{padding:1rem;}
	.serviceTile .serviceIcon{height:50px;}
	.serviceTile .serviceIcon img{width:auto;max-height:50px;}
	.serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
	.serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
	.myAccountBanner .bannerCnt{padding:1rem 0;background:rgba(255,255,255,0.85);}
	.accSerTile{padding:0.75rem 0;}
	.adaniLogoFooter{margin:0.5rem 0;}
	.tile{height:auto;margin:0.5rem 0;}
	.appLink{margin:0.5rem 0;}
	.payBillBox{width:100%;}
	.nav-tabs .nav-item{margin:0;padding:3px 3px 0 0;}
	.nav-tabs .nav-link{font-size:1.5rem;}


    #sideNav{
		width: 250px;
		position: fixed;
		top:0;
		left: 0;
		height: 100vh;
		overflow-y:auto;
		z-index: 999;
		color: #fff;
		transition: all 0.3s;
        margin-left: -250px;
		background:#f36f31;
    }
    #sideNav.active{
        margin-left: 0;
    }
    #mainContent {
        width: 100%;
    }
    #mainContent.active {
       /* width: calc(100% - 250px);*/
    }
   .contactPanel{height:220px;}

	
	
}
@media (max-width: 576px){
	
	.bg-blog-videos .item i img{left: 37%;top: 40%;}
	.table-certificate .rera-img{opacity:0;}
.enquiryBtn{display:none;}
	.homepage .mainBanner {height: 240px;}
	.homepage .innerbanner {height: 250px;}
	.row.navTilesWrapper{display:block;}
	.col.navTile{width:100%;border-bottom:1px solid rgba(226,226,226,0.2)}
	.navTile a:hover{background:rgba(0,0,0,0.2);}
	.customerCare .phoneIcon{display:none;}
.navPanel>.container{padding:0;}
.navbar-light .navbar-brand{padding-left:15px;}
.navbar-light .navbar-toggler{margin-right:15px;}


	
	
}
@media (max-width: 480px){
	.download-links{margin-left:0;}
	.download-links img {max-height: 15px;}
	.download-links li a{padding-left:2px;}
	.social-links{margin-right:3px;}
	.social-links li a{padding:0;}
	.quick-links li a{padding:0 3px;}
	.communityTile .tileCnt{width:100%;}
	.serviceTile .serviceIcon{display:table-cell;vertical-align:top;height:75px;overflow:hidden;}
	.serviceTile .serviceDetails{display:table-cell;vertical-align:middle;padding-left:1rem;padding-top:0;}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{background-size:50%;width:15px;height:33px;}
	.owl-carousel .owl-nav button.owl-prev{margin-left:-10px;}
	.owl-carousel .owl-nav button.owl-next{margin-right:-15px;}
	.nav-tabs .nav-item{width:45%;}

}
@media (max-width: 340px){
	.quick-links{margin-right:2px;}
}