@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="section-wrap scrollableOffset pt-wrap" id="@currentItem.DisplayName">
       <p>
           @Html.Sitecore().Field("RichText", currentItem)
       </p>
    </div>
 }
