@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;

}

@if (currentItem != null)
{ 
        <div class="section-wrap  scrollableOffset pt-wrap" id="@currentItem.DisplayName">
            <h3 class="page-subtitle"> @Html.Sitecore().Field("Title", currentItem)</h3>
             @Html.Sitecore().Field("Description", currentItem) 
        </div>
}