@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    var cnt = 0;
}

@if (currentItem != null && currentItem.Children != null && currentItem.Children.Any())
{
    <nav id="navbar-tabs" class="horizontal-tab horizontal-tab_custom adl-htabs nav-tabs nav nav-pills scrollbar-x" auto_id="@Html.Sitecore().Field("AutoId", currentItem)">
        <nav class="nav container">
            <!-- <ul class="nav nav-pills"> -->
            @foreach (Sitecore.Data.Items.Item tabItem in currentItem.Children)
            {

                if (cnt == 0)
                {

                    <div class="nav-item">
                        <a class="nav-link_custom tab-nav active" href="#@tabItem.DisplayName">
                            @tabItem["Title"]
                        </a>
                    </div>
                }
                else
                {
                    <div class="nav-item">
                        <a class="nav-link_custom tab-nav" href="#@tabItem.DisplayName">
                            @tabItem["Title"]
                        </a>
                    </div>
                }
                cnt++;
            }
            <!-- </ul> -->
        </nav>
    </nav>
}

