@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();
}

@if (currentItem != null)
{
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Image"]);
    string imageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(currentItem, "Image") : "";
    <div class="govTileWrapper scrollableOffset" id="@currentItem.DisplayName">
        <div class="d-md-flex d-block align-items-top ">
            <img src="@imageUrl" loading="lazy">
            <aside>
                <p>
                    @Html.Sitecore().Field("Description", currentItem)
                </p>
            </aside>
        </div>
    </div>

}
