
<section class="py-5 bg-gray">
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-1" class="btn-success">
							<i class="fa fa-file-alt"></i>
                        </a>
                        <a href="#step-1"><p><small>Basic Details test</small></p></a>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-2"  class="step2cls" disabled="disabled">
							<i class="fa fa-user"></i>
                        </a>
                        <a href="#step-2"><p><small>Personal Details</small></p></a>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-3" class="step3cls" disabled="disabled">
							<i class="fa fa-user-friends"></i>
                        </a>
                        <a href="#step-3"><p><small>Parents Details</small></p></a>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-4" class=" step4cls" disabled="disabled">
							<i class="fas fa-baseball-ball"></i>
                        </a>
                        <a href="#step-4"><p><small>Sports background</small></p></a>
                    </div>
                </div>
            </div>


        </div>
        @Html.Sitecore().Placeholder("ApplyNow-Form")
    </div>
</section>

@*<main>
    <section class="py-5">
        <div class="container">
            @Html.Sitecore().Placeholder("Page-Content")
            @Html.Sitecore().Placeholder("ApplyNow-Form")
        </div>
    </section>
</main>*@

