@*<section id="contactus" class="contact-wrpr">
    @Html.Sitecore().Placeholder("ContactUSPage-Content")
    <div class="container">
        @Html.Sitecore().Placeholder("ContactUs-Form")
    </div>
</section>*@


<section class="py-5 bg-black position-relative d-block">
    <div class="bg-images"><img src="-/media/5EA5A65CCFE643A7B28CEFC4FAE8B412.ashx"></div>
    <div class="container">
        <h3 class="entry-title mb-4 txt-white position-relative d-block" data-aos="fade-down"><span>Get in touch</span></h3>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <div class="contact-logo">
                    <img src="-/media/4BDD5EA549E34A418D4D40E5B53FF34D.ashx" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left">
                @Html.Sitecore().Placeholder("ContactUs-Form")
            </div>
        </div>
    </div>
</section>