body {
    font-weight: 300;
    min-width: 320px;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.875;
    color: #666666;
    background-color: white;
}
#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#wrapper {
    background: #fff;
}
/********** Header **********/
#header .mt-holder {
    padding-top: 15px;
    padding-bottom: 11px;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}
#header {
    z-index: 999999;
    position: relative;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#header.sticky .mt-holder {
    background: #000;
    -webkit-box-shadow: 0 0 11px 2px rgb(0 0 0 / 10%);
    box-shadow: 0 0 11px 2px rgb(0 0 0 / 10%);
}
#header.leave-space {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}
#header .holder {
    max-width: 1518px;
}
.logo {
    float: left;
    max-width: 200px;
}
.logo img{
    vertical-align: top;
    max-width: 100%;
    height: auto;
    width: 100%;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default {
    border: 0;
    float: right;
    width: calc(100% - 200px);
    position: static;
    margin: -4px 0 0;
    padding: 0;
}
.navbar-default .navbar-toggle {
    background: #000;
    margin: 0; z-index: 1;
}
.navbar-default .navbar-collapse {
    -webkit-box-shadow: none; height: 100vh;
    box-shadow: none;
    border: 0;
    background: #6b5e45;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.navbar-default .navbar-nav {
    font: 100 16px/18px "Oswald", 'Roboto', sans-serif;
    text-transform: capitalize;
}
.navbar-default .navbar-nav > li {
    position: relative;
    letter-spacing: 0.3px;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}
.ovr_v{text-transform: uppercase;}
.navbar-default .navbar-nav>li>a{color: #fff; font-weight: 300;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color: #efefef;}
a.smst.btn-enquire {
    background: transparent;
    padding: 13px 20px !important;
    border-radius: 30px; border: 1px solid #fff;
}
a.smst.btn-enquire:hover{background: #fff !important; color: #000 !important;}
#header.sticky .logo{padding-top: 8px;}
.navbar-default .navbar-nav>li>a.smooth{position: relative; font-weight: 500;}
.navbar-default .navbar-nav>li:focus a.smooth::before, .navbar-default .navbar-nav>li:hover a.smooth::before{
	position: absolute; content: ''; background: #eceaea; width: 100%; height: 2px; bottom: -5px; left:0;
}

.active_menu span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 3px);
}

.active_menu span:nth-child(2) {
  Transform: scaleX(0);
}

.active_menu span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px);
}
@media (min-width: 768px) {
	#header .mt-holder {padding-bottom: 0; }
	.navbar-default {padding: 7px 0 0; margin: 0;position: relative; }
    .navbar-default:before {position: absolute;content: "";top: auto;bottom: 0;left: 0;right: 0; }
    .navbar-default .navbar-collapse {position: static;background: none; }
    .navbar-default .navbar-nav {text-align: right; }
    .navbar-default .navbar-nav > li {margin: 0 0 0 17px;padding: 0 0 20px;float: none;display: inline-block;vertical-align: middle; }
    .navbar-default .navbar-nav > li > a {display: inline;padding: 0; }  
}
@media (min-width: 992px) {
	#header .mt-holder {padding-top: 36px; }
	#header.sticky .mt-holder {padding-top: 10px; }
	#header.sticky .navbar-default .navbar-nav > li {padding: 0 0 10px; }
	.navbar-default .navbar-nav > li {padding: 0 0 32px; }
}
@media (min-width: 1230px) {
	.hero-area h1 {font-size: 100px;line-height: 100px; }
	.navbar-default .navbar-nav > li {margin: 0 0 0 30px; }
}
@media (max-width: 767px) {
	#header.header2 .navbar-default .navbar-nav > li > a {color: #222222; }
	.navbar-default .navbar-nav > li:hover .drop-down {display: block; }
	.navbar-default .navbar-nav > li > a {text-align: center; font-size: 28px;font-weight: 500; }
	.navbar-default .drop-down {width: 100%;display: none;overflow: hidden;opacity: 1;visibility: visible; }
	.navbar-default .navbar-nav>li>a{color: #000;}
	.navbar-nav {margin: auto; margin-top: 20%; width: 35%;}
	.navbar-nav>li>a {padding-top: 15px; padding-bottom: 15px;}
	.navbar-default .navbar-collapse li a{color: #fff;}
	a.smst.btn-enquire {
    margin-top: 15px;
}
}
#main {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/********** Slider **********/
.hero-area {
    background-size: cover;
    background-position: bottom center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 56px 0 0;
	min-height:90vh;
	white-space: nowrap; 
}

.mid-logo-img {margin: auto; width: 320px; height: 290px; display: flex; background: #fff; border-radius: 50%; left: 0; position: absolute; 
top: -33%;z-index: 2; right: 0;}
.mid-logo-img img{width: 55%;
    height: auto;
    margin: auto;}

/********** About **********/
.about-sec{padding: 70px 0; position: relative; padding-top: 180px;}
section.about-sec::before{position: fixed; content: ''; top: 90px; left: -20px; width: 300px; height: 260px; background-position: top;
 background-image: url(/images/Realty/SamsaraVillasaBrahma_Images/pattern.png);background-repeat: no-repeat; background-size: cover; transform: rotate(90deg);}
section.about-sec::after{position: fixed; content: ''; top: 90px; right: -20px; width: 300px; height: 260px; background-position: top;
background-image: url(/images/Realty/SamsaraVillasaBrahma_Images/pattern-1.png);background-repeat: no-repeat; background-size: cover; transform: rotate(180deg); }
.hrt_s{margin-bottom: 15px;}
.hrt_s{margin-bottom: 15px;}
p.text {color: #333333; font-size: 17.2px; font-family: 'Roboto', sans-serif; line-height: 22px; text-align: left; margin-bottom: 25px; font-weight: 400;}
h2.heading-tr {font-size: 42px; line-height: 44px; font-weight: 600; color: #000; margin-top: 0; margin-bottom: 5px; text-align: left;}
span.s_text {font-size: 24px; color: #000; font-weight: 600; text-align: left;}
h2.heading-tr.bs_d {
    font-size: 36px;
}

/********** Amenities **********/
.amenity-sec{padding-bottom: 70px; position: relative; z-index: 1;}
.am-img {display: flex; margin-bottom: 10px; height: 60px;}
.am-img img{margin: auto;}
.mb-50{margin-bottom: 50px;}
p.bs_r {text-align: center; font-size: 13.5px; color: #333; line-height: 18px; font-weight: 400; font-family: 'Roboto', sans-serif;}
.asm_d {margin-bottom: 40px;}

/********** Master Plan **********/
.plan-sec{padding-bottom: 100px;z-index: 1;position: relative;}
.plan-img img{width: 100%; height: auto;}
.plan-img {
    position: relative; z-index: 1;
}
.d_btn.ps-btn {
    position: absolute;
    bottom: 60px;
    right: 20px;
}
.d_btn.ps-btn a#d_broucher{background: #fff; color: #333;}
.d_btn.ps-btn a#d_broucher:hover{text-decoration: none; color: #fff; background: #000;}

.mbn_30{margin-bottom: 120px;}
/********** Floor Plan **********/
.floor-sec{padding-bottom: 100px; z-index: 1; position: reltive;z-index: 1;}
.tab-sec{background: #fff4e0; padding: 40px; position: relative; z-index: 1}
.tab-sec::after{position: absolute; content: ''; bottom: 0px; right: 0px; width: 165px; height: 165px; background-position: top;
 background-image: url(/images/Realty/SamsaraVillasaBrahma_Images/pattern.png);background-repeat: no-repeat; background-size: cover;     transform: rotate(270deg);}
.mb-30{margin-bottom: 30px;}
.prodNav {font-size: 16px; padding-left: 0; overflow: hidden; display: inline-block; vertical-align: middle; margin: 0px 0 20px;}
.prodNav .ptItem {padding: 15px 40px; line-height: 20px; border-radius: 60px; border: 1px solid #c1c1c1; font-weight: 600; cursor: pointer;
display: inline-block; vertical-align: middle; transition: all 0.3s ease-in-out; margin-right: 20px;}
.prodNav .ptItem.active, .prodNav .ptItem:hover {background: #fff; border-color: #fff; color: #333;}
.prodMain {display: none; padding: 20px 0;}
.prodMain.active {display: block;}
.psNav {font-size: 16px; padding-left: 0; overflow: hidden; display: inline-block; vertical-align: middle; margin: 0px 0 20px;
border-bottom: 2px solid #0000000d; width: 100%;}
.psNav .psItem {padding: 15px 40px; line-height: 20px; font-weight: 600; cursor: pointer; color: #6b5e45; position: relative;
display: inline-block; vertical-align: middle; transition: all 0.3s ease-in-out;}
.psNav .psItem.active, .psNav .psItem:hover {color: #000;}
.psNav .psItem.active::after, .psNav .psItem:hover::after{position: absolute; content: ''; background: #000; bottom: 0px; left: 0; width: 100%; 
height: 2px;}
.psMain {display: none; padding: 20px 0;}
.psMain.active {display: block;}
.ms_df{background: #fff; border-radius: 20px; overflow: hidden; padding: 40px; }
.mst_divz {display: flex;}
.mst_divz .plan-img {margin: auto; width: 65%;}
.d_btn {display: flex;}
.d_g {margin-left: auto;}
a#d_broucher {padding: 13px 22px; color: #000; border: 1px solid #000; border-radius: 20px; font-weight: 600; cursor: pointer; font-size: 16px;}
a#d_broucher:hover{text-decoration: none; color: #fff; background: #000;}

/********** Gallery **********/
.gallery-sec{padding-bottom: 100px;position: relative; z-index: 1;}
.swiper-container {width: 100%;}
.swiper-slide {
  width: 500px;
  height: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.cards {
  width: 100%; display: flex;
  height: 590px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.card.ong {
    margin: auto; width: 100%; position: relative;
}
.owl-item.active .cards .card img{
    width: 100%; height: 550px;
}
.card img {
  object-fit: cover;
  width: 750px;
  border-radius: 20px;
  max-width: 100%;
  height: 450px;
  min-height: 50vh;
  padding: 0;
  margin: 0;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor: pointer !important;}
.card.three img {
  height: 50vh;
}

.swiper-arrows {
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50%;
}
.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 50px;
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  bottom: 0;
  margin: 0;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.swiper-button-prev {
  left: 90px !important;
  right: auto !important;
  background-color: #fff;
}
.swiper-button-next {
  right: 90px !important;
  background-color: #fff;
}
.swiper-button-prev span,
.swiper-button-next span {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  border: solid 2px #666;
  border-left: 0;
  border-bottom: 0;
  transition: all 0.1s ease;
}
.swiper-button-prev span {
  transform: rotate(-135deg);
  left: 49%;
}
.swiper-button-next span {
  transform: rotate(45deg);
  right: 49%;
}
.swiper-button-prev:hover span,
.swiper-button-next:hover span {
  width: 5px;
  height: 5px;
}

.swiper-button-prev:after {
  right: 0;
}
.swiper-button-next:after {
  left: 0;
}
.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  width: inherit;
}
.swiper-button-disabled {
  opacity: 1 !important;
}
.swiper-button-disabled.swiper-button-prev span,
.swiper-button-disabled.swiper-button-next span {
  opacity: 0.2;
}
@media screen and (max-width: 512px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 60px;
    bottom: 0;
  }
  .swiper-arrows {
    height: 60px;
  }
  .swiper-button-prev {
    right: 60px;
  }
  .swiper-button-prev span {
    left: 45%;
  }
  .swiper-button-next span {
    right: 45%;
  }
}
.swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
  content: "attr" !important;
}
.swiper-button-prev::after, .swiper-container-rtl .swiper-button-prev::after {
 content: "attr" !important;
}
.pl-0{padding-left: 0; padding-right: 0;}
.owl-dots{display: none;}
button.owl-prev {
    position: absolute;
    top: 45%;
    left: 11%;
    background: #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    z-index: 133;
    opacity: 1; display: flex !important;
}
.owl-theme .owl-nav [class*='owl-']:hover{color: #000 !important;}
.owl-theme .owl-nav [class*='owl-']:hover{color: #000 !important;}
button.owl-next {
    position: absolute; display: flex !important;
    top: 45%;
    right: 11%;
    background: #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    z-index: 133;
    opacity: 1;
}
.closeYbox{display: none !important;}
/********** Location **********/
.location-sec{padding-bottom: 50px; position: relative; z-index: 1;}
.responsive-map {width: 100%; height: 500px;}
.responsive-map iframe{width: 100%; height: 100%;}
.address_field{    position: absolute;
    bottom: 60px;
    right: 120px;
    background: #fff;
    padding: 40px 40px;
    border-radius: 25px;
box-shadow: 0 3px 5px #00000036;}
.address_field h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
    color: #000;
    font-weight: 600;
}
.address_field address {
    font-size: 18px;
}
button.owl-prev span, button.owl-next span{font-size: 34px;margin: -10px auto;font-weight: 700;text-align: center;}
.address_field .d_g {
    margin-left: 0;
    margin-right: auto;
}
.address_field a#d_broucher{padding: 12px 25px; border-radius: 40px;}

/********** Footer **********/
footer#dtr-footer {background: #aa7d30; color: #fff; padding: 30px 0; padding-bottom: 150px;z-index: 1; position: relative;}
ul.social_icon {
    padding-left: 0;
    display: flex;
    list-style: none; margin-bottom: 0;
}
li.social-link {
    margin-right: 20px;
}
.row.f_copy {
    margin-top: 15px;
}
li.social-link a{color: #fff;}
li.social-link a i{font-size: 18px;}
.f_copy p span{text-decoration : underline;}
.f_copy p a{color: #fff;}
.f_copy p{margin-bottom: 0; font-size: 12px;}
.dm-flex{display: flex;}
.mst-auto{margin-left: auto;}
footer#dtr-footer .container-fluid{padding-left: 80px; padding-right: 80px;}

/********** Back Top **********/
#back-top {
    bottom: 0;
    opacity: 0;
    z-index: 9;
    right: 20px;
    width: 50px;
    color: #fff;
    height: 50px;
    padding: 9px 0 0;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    line-height: 27px;
    text-align: center;
    border-radius: 8px;
    background: #252525;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    transform: translateY(40px);
    -ms-transform: translateY(40px);
    -webkit-transition: all .6s ease;
    -webkit-transform: translateY(40px);
}

#back-top.active {
    opacity: 1;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

/********** Enquiry Form **********/
section.section_enquire {
    background: #6b5e45;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 1rem 0rem 0rem 0rem;
    z-index: 999999; box-shadow: 0 3px 5px #00000036; display: none;
}
section.section_enquire.active{display: block;}
section.section_enquire .container-fluid{padding-left: 60px; padding-right: 60px;}
.section_enquire h3 {
    color: #fff;
    font-size: 16px;
    line-height: 26px; margin-top:0;
}
section.section_enquire.active .container-fluid{position: relative;}
.section_enquire form {
    margin-bottom: 0px;

}
.btn-enquire{cursor: pointer;}
small.mt-2.d-block{font-size: 10px; color: #d9d9d9;}
.close-enquiry {
    position: absolute;
    right: 5px;
    top: -10px;
    font-size: 12px;
    cursor: pointer;
    background: #fff; z-index: 999999;
    padding: 5px;
    border-radius: 25px;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 14px;
    color: #666;
}
.section_enquire form .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; padding: 0 15px;
}
button#form_fot {
    background: #968d7c;
    color: #fff;
    border: 1px solid #968d7c;
    border-radius: 45px; width: 100%; height: 44px;
}
button#form_fot:hover {
    background: #fff;
    color: #6b5e45;
    border: 1px solid #fff;
}
/********** Modal **********/
h5.modal-title {
    font-size: 22px;
    color: #fff;
    font-weight: 600; 
}
.modal-content{background: #6b5e45;}
.modal-header{padding: 20px 40px;}
.form_b {
    padding: 40px 80px;
}
.modal-header .close {
    margin-top: -22px; color: #fff; opacity: 1;
}
.mb-3 {
    margin-bottom: 20px;
}
.form_b p {
    font-size: 15px; color: #fff;
    margin-bottom: 20px;
}

.footer_btn_e {
    display: none;
}
.footer_heading h2{color: #fff; text-align: center;}
.footer_text{color: #fff !important; margin-bottom: 25px !important; text-align: left !important; font-weight: 200 !important;
font-size: 14px !important;}
.tag_art {
    background: #000;
    position: absolute;
    bottom: 2%; 
    right: 1%;
    color: #fff;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 10px;
}
.ms_df .d_btn{margin-top: 15px;}


div.form-item{position: relative; display: block; margin-bottom: 20px;}
div.form-item input{transition: all .2s ease;}
div.form-item input{
	color: #ffffff; border-radius: 0;
    display: block;
    width: 85%;
    height: 44px;
    border: none;
    background-color: #6b5e45;
    font-size: 16px;
    border-bottom: 1px solid #bababa;
    box-shadow: none;
}
div.form-item input:focus {
    outline: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff; box-shadow: none;
}
div.form-item .formLabel {
	position: absolute; 
	left:5px;
	top:2px;
	transition:all .4s ease;
	color:#fff;}
.formTop{    top: -17px !important;
    left: 5px;
    padding: 0 5px;
    font-size: 14px;
    color: #ffffff !important;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s !important;
  border-bottom: 1px solid #fff;
}
.modal-body{overflow: hidden;}
.modal-body:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 110px;
    height: 110px;
    background-position: top;
    background-image: url(/images/Realty/SamsaraVillasaBrahma_Images/pattern.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(90deg);
}
.modal-body:after {
    position: absolute;
    content: '';
    bottom: 0px;
    right: 0px;
    width: 110px;
    height: 110px;
    background-position: top;
    background-image: url(/images/Realty/SamsaraVillasaBrahma_Images/pattern.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(270deg);
}
a.btn.form_cancel {
    width: 35%;
    background: #6b5e45;
    color: #fff;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
}
a.btn.btmn_form {
    width: 35%;
    background: #968d7c;
    color: #fff; 
	border: 1px solid #968d7c;
    border-radius: 20px;
}
a.btn.form_cancel:hover{background: #968d7c; color: #fff; border: 1px solid #968d7c;}
a.btn.btmn_form:hover{background: #fff; color: #6b5e45; border: 1px solid #fff;}
#exampleModal1 button.close{color: #fff; opacity: 1;}
@media (max-width: 768px){
	.footer_btn_e.active{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    background: rgba(225, 225, 225, 0.4);
    z-index: 5;
}
button:focus-visible{outline: none; border: none;}
button.footer_e {
    text-decoration: none;
    color: #fff;
    background: #000;
    border-radius: 40px;
    padding: 5px 40px;
    border: none;
}
}
@media (min-width: 768px)
{.modal-dialog {
    width: 600px;
    margin: 11.75rem auto;
}

}
@media screen and (min-width: 992px) and (max-width: 1023px){
	.tab-sec{padding: 40px 5px;}
	.tab-sec::after{width: 150px; height: 150px;}
	.ms_df .d_btn{margin-top: 20px;}
	.card img{min-height: 30vh;}
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.logo{max-width: 150px; padding-top: 5px;}
	.navbar-default .navbar-nav > li > a{font-size: 12px;}
	.navbar-default .navbar-nav > li {margin: 0 0 0 8px; padding: 0px 0 0px;}
	.hero-area{min-height: 56vh;}
	.mid-logo-img {width: 210px; height: 210px; top: -19%;}
	.asm_d{height: 110px;}
	.tab-sec{padding: 40px 5px;}
	.tab-sec::after{width: 150px; height: 150px;}
	.ms_df .d_btn{margin-top: 20px;}
	section.section_enquire .container-fluid { padding-left: 20px; padding-right: 20px;}
	
}

@media screen and (min-width: 676px) and (max-width: 767px){
	.hero-area{min-height: auto; padding: 175px 0 175px;}
	.mid-logo-img{width: 150px; height: 150px; top: -12%;}
	section.about-sec::before{width: 240px; height: 200px;}
	section.about-sec::after{width: 240px; height: 200px;}
	.about-sec{padding: 40px 0;padding-top: 150px;}
	h2.heading-tr {font-size: 28px;line-height: 30px;}
	span.s_text {font-size: 20px;}
	p.text{font-size: 16px; }
	.mb-50 {margin-bottom: 30px;}
	.amenity-sec{padding-bottom: 20px;}
	.d_btn.ps-btn{bottom: 40px;}
	.plan-sec,.floor-sec,.gallery-sec {padding-bottom: 40px;}
	.tab-sec {padding: 40px 10px;}
	.psNav .psItem {padding: 15px 35px;}
	.prodMain, .psMain{padding: 0;}
	.mst_divz .plan-img{width: 100%;}
	.ms_df .d_btn{margin-top: 30px;}
	.tab-sec::after{width: 150px; height: 150px;}
	.address_field{padding: 20px; right: 80px;}
	footer#dtr-footer .container-fluid {padding-left: 20px; padding-right: 20px;}
	.f_copy p {font-size: 14px;}
	.mst-auto {margin-left: 0;}
	.section_enquire form .col{flex: 0 0 auto; width: 100%;}
	section.section_enquire.active{padding: 20px;}
	footer#dtr-footer{padding-bottom: 120px;}
	.mst-auto{margin-left: 0;}
	
	.owl-item.active .cards .card img {width: 100%; height: 240px;}
	.card img{width: 110px; height: 160px; min-height: 15vh; object-fit: fill;}
	.cards{height: 250px;}
	
}

@media screen and (min-width: 421px) and (max-width: 675px){
	.hero-area{min-height: auto; padding: 110px 0 110px;}
	.mid-logo-img{width: 150px; height: 150px; top: -12%;}
	.about-sec{padding: 20px 0;padding-top: 110px;}
	section.about-sec::before{width: 120px; height: 120px;}
	section.about-sec::after{top: auto; bottom: 5px; width: 120px; height: 120px; transform: rotate(180deg)}
	h2.heading-tr {font-size: 29px; line-height: 32px;}
	span.s_text {font-size: 16px;}
	p.text{text-align: justify !important;}
	.mb-50 {margin-bottom: 20px;}
	.asm_d {margin-bottom: 30px; height: 110px;}
	h2.heading-tr.bs_d {font-size: 30px;}
	.amenity-sec{padding-bottom: 10px;}
	.d_btn.ps-btn {bottom: 20px; right: 10px;}
	a#d_broucher{padding: 10px 15px; font-size: 14px;}
	.plan-sec {padding-bottom: 50px;}
	.tab-sec{padding: 30px 0;}
	.prodNav .ptItem {padding: 10px 30px;}
	.psNav .psItem { padding: 10px 10px; font-size: 14px;}
	.mst_divz .plan-img{width: 100%;}
	.ms_df{padding: 15px;}
	.ms_df .d_btn{margin-top: 15px; margin-bottom: 10px;}
	.tab-sec::after{width: 100px; height: 100px;}
	.prodMain{padding: 0}
	.floor-sec {padding-bottom: 50px;}
	.owl-item.active .cards .card img {width: 100%; height: 240px;}
	.card img{width: 420px; height: 200px; min-height: 15vh; object-fit: fill;}
	.gallery-sec {padding-bottom: 40px;}
	.swiper-button-prev, .swiper-button-next{width: 40px !important; height: 40px !important; top: 45px;}
	.swiper-button-next{right: 20px !important;}
	.swiper-button-prev{left: 20px !important;}
	.address_field{padding: 20px 20px;}
	.address_field h2{font-size: 20px; margin-bottom: 15px;}
	.address_field address {font-size: 12px;}
	.address_field a#d_broucher {padding: 10px 15px; font-size: 14px;}
	.address_field {bottom: 20px; right: 15%;}
	.location-sec {padding-bottom: 30px;}
	footer#dtr-footer .container-fluid {padding-left: 15px; padding-right: 15px;}
	li.social-link a i {font-size: 18px;}
	li.social-link {margin-right: 15px;}
	.f_copy p{font-size: 12px;}
	section.section_enquire .container-fluid {padding-left: 10px; padding-right: 10px;}
	.close-enquiry {right: 3px; top: -10px;}
	.section_enquire form .col{flex: 0 0 auto; width: 100%;}
	section.section_enquire.active{padding: 20px;}
	small.mt-2.d-block {font-size: 14px;}
	footer#dtr-footer{padding-bottom: 120px;}
	.mst-auto{margin-left: 0;}
	.cards{height: 250px;}
	a.btn.form_cancel, a.btn.btmn_form{width: 50%;}
	.owl-theme .owl-nav{display: none;}
	.mb-30 {margin-bottom: 10px;}
	.mid-logo-img img {width: 65%;}
	.navbar-nav { width: 55%;}
	.form_b {
    padding: 40px 50px;
}
h5.modal-title {
font-size: 20px;}
}

@media screen and (min-width: 320px) and (max-width: 420px){
	.hero-area{min-height: auto; padding: 215px 0 135px; }
	.tag_art{right: 2%;}
	a.btn.form_cancel, a.btn.btmn_form{width: 50%;}
	.mid-logo-img{width: 120px; height: 120px; top: -12%;}
	.about-sec{padding: 20px 0;padding-top: 80px;}
	section.about-sec::before{width: 200px; height: 200px;}
	section.about-sec::after{top: auto; bottom: 5px; width: 200px; height: 200px; transform: rotate(180deg)}
	h2.heading-tr {font-size: 32px; line-height: 34px;}
	span.s_text {font-size: 16px;}
	p.text{text-align: justify !important;}
	.mb-50 {margin-bottom: 20px;}
	.asm_d {margin-bottom: 30px; height: 110px;}
	h2.heading-tr.bs_d {font-size: 30px;}
	.amenity-sec{padding-bottom: 10px;}
	.d_btn.ps-btn {bottom: 20px; right: 10px;}
	a#d_broucher{padding: 10px 15px; font-size: 14px;}
	.plan-sec {padding-bottom: 50px;}
	.tab-sec{padding: 30px 0;}
	.prodNav .ptItem {padding: 10px 30px;}
	.psNav .psItem { padding: 10px 5px; font-size: 12px;}
	.mst_divz .plan-img{width: 100%;}
	.ms_df{padding: 15px;}
	.ms_df .d_btn{margin-top: 15px; margin-bottom: 10px;}
	.tab-sec::after{width: 100px; height: 100px;}
	.prodMain{padding: 0}
	.floor-sec {padding-bottom: 50px;}
	.owl-item.active .cards .card img {width: 100%; height: 150px;}
	.cards{height: 160px;}
	.owl-theme .owl-nav{display: none;}
	.mb-30 {margin-bottom: 10px;}
	.mid-logo-img img {width: 65%;}
	.card img{width: 140px; height: 100px; min-height: 15vh; object-fit: fill;}
	.gallery-sec {padding-bottom: 40px;}
	.swiper-button-prev, .swiper-button-next{width: 40px !important; height: 40px !important; top: 45px;}
	.swiper-button-next{right: 20px !important;}
	.swiper-button-prev{left: 20px !important;}
	.address_field{padding: 20px 20px;}
	.address_field h2{font-size: 20px; margin-bottom: 15px;}
	.address_field address {font-size: 12px;}
	.address_field a#d_broucher {padding: 10px 15px; font-size: 12px;}
	.address_field {    bottom: 20px;
    min-width: 240px;
    right: 50%;
    left: 90px;
    max-width: 250px;
    width: 100%;}
	.location-sec {padding-bottom: 30px;}
	footer#dtr-footer .container-fluid {padding-left: 15px; padding-right: 15px;}
	li.social-link a i {font-size: 18px;}
	li.social-link {margin-right: 15px;}
	.f_copy p{font-size: 12px;}
	section.section_enquire .container-fluid {padding-left: 10px; padding-right: 10px;}
	.close-enquiry {right: 6px; top: -8px;}
	.section_enquire form .col{flex: 0 0 auto; width: 100%;}
	section.section_enquire.active{padding: 20px;}
	small.mt-2.d-block {font-size: 14px;}
	footer#dtr-footer{padding-bottom: 120px;}
	.mst-auto{margin-left: 0;}
	#header.leave-space{height: 60px !important;}
	.navbar-nav { width: 65%;}
	.form_b {
    padding: 40px 50px;
}
h5.modal-title {
font-size: 20px;}
.modal-body:before {
    width: 80px;
height: 80px;}
.modal-body:after{
    width: 80px;
height: 80px;}

}

#exampleModal1 .modal-content {
    border: 0;
}
#exampleModal1 img {
    max-width: 100%;
    height: auto;
}
@media (min-width: 768px){
	#exampleModal1 .modal-dialog {
    width: auto;
    margin: 2.75rem auto;
}
}
@media (max-width: 767px)
{.modal-dialog-centered {
    min-height: calc(100% - 81.5rem);
    margin: 120px 10px;
}
}
@media (min-width: 576px)
{.modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
}
{.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
}
@media (min-width: 992px){
.modal-lg, .modal-xl {
    max-width: 800px;
}}
@media (min-width: 1200px){
.modal-xl {
    max-width: 1140px;
}}
small{color:#fff;}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}