<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Thanks for your enquiry | AIDTM's Big Data Analytics Program </title>
      
      
      <meta name="description" content="Thanks for your enquiry for AIDTM 's Big Data Analytics Program, an industry vetted, high demand PGDM program in Big Data Analytics.">


<link rel="stylesheet" href="/styles/AdaniInstitute/AdmissionsCSS/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<link rel="shortcut icon" href="/images/AdaniInstitute/Admissions-Images/favicon.ico" type="image/x-icon">


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PK6SS6S');</script>
<!-- End Google Tag Manager -->

</head>
<body>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PK6SS6S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section class="main-header">
<div class="container">
<div class="logo"><img src="/images/AdaniInstitute/Admissions-Images/logo.png" alt="" title=""/></div>
<div class="top-text">Admissions 2022</div>
</div>
</section>

<section class="why-section new-section thanks-section">
<div class="container">
<h2>Thank You</h2>

<p class="mt-20">Thanks for your interest. We have shared the copy of brochure on your email.<br/> 
Alternatively, you can download the same from the following Link:</p>
<a style="color: #fff !important; text-decoration: none;" href="https://www.aidtm.ac.in/-/media/Project/AdaniInstitute/Admission/AIDTM%20Brochure_PGDM%202022-24.pdf" target="_blank">Download Brochure</a>

</div>
</section>

</body>
</html>