<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>AIDTM's Big Data Analytics Program. Know more about Application Process, Eligibility Criteria </title>
      
      
      <meta name="description" content="Graduate in any stream and thinking of pursing your career in Big Data Analytics. AIDTM presents an industry vetted, high demand PGDM program in Big Data Analytics. Check possible recruiters after you complete this program.">
      
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/styles/AdaniInstitute/AdmissionsCSS/style.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap" rel="stylesheet">
      <link rel="shortcut icon" href="/images/AdaniInstitute/Admissions-Images/favicon.ico" type="image/x-icon">
      <!-- <script src="https://eequeuestorage.blob.core.windows.net/staticfiles/aidtm/ee-form-widget/form-3/widget.js"></script> -->
      
      
      <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PK6SS6S');</script>
<!-- End Google Tag Manager -->

   </head>
   <body>
   
   
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PK6SS6S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

      <section class="main-header">
         <div class="container">
            <div class="logo"><img src="/images/AdaniInstitute/Admissions-Images/logo.png" alt="Adani | Institute of Digital Technology Management" title="Adani | Institute of Digital Technology Management"/></div>
            <div class="top-text">Admissions Open</div>
         </div>
      </section>
	  
      <section class="banner">
         <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
               <li data-target="#myCarousel" data-slide-to="3"></li>
               <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
			
            <div class="carousel-inner">
               <div class="carousel-item active item"><img class="d-block w-100" src="/images/AdaniInstitute/Admissions-Images/graduated.jpg" alt="Graduated and looking for the next big step in your career?" title="Graduated and looking for the next big step in your career?"/></div>
               <div class="carousel-item item"> <img class="d-block w-100" src="/images/AdaniInstitute/Admissions-Images/career-opportunities.jpg" alt="Do you want the best career opportunities for your children?" title="Do you want the best career opportunities for your children?"/></div>
               <div class="carousel-item item"><img class="d-block w-100" src="/images/AdaniInstitute/Admissions-Images/placement-with-adani.jpg" alt="Placement with Adani Group and best companies" title="Placement with Adani Group and best companies"/></div>
               <div class="carousel-item item"> <img class="d-block w-100" src="/images/AdaniInstitute/Admissions-Images/guest-speakers-at-aidtm.jpg" alt="Guest Speakers at AIDTM" title="Guest Speakers at AIDTM"/></div>
               <div class="carousel-item item"> <img class="d-block w-100" src="/images/AdaniInstitute/Admissions-Images/guaranteed-paid-summer-internship-placements.jpg" alt="Guaranteed Paid Summer Internship Placements" title="Guaranteed Paid Summer Internship Placements"/></div>
            </div>
			
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span> </a> 
         </div>
		 
		 
		 <div style="position:absolute;right:0px;width:400px">
		 
      <div class="npf_wgts" data-height="500px" data-w="31e369a1fcb765b46b6f7e042024ae09"></div>
	  </div>
	  
	  
	  
	  
	  </div>
         <script>
            $('.carousel').carousel({
            interval: 7000
            })
         </script>
      </section>
	  
      <section class="why-section">
         <div class="container">
            <h2>Why Big Data Analytics?</h2>
            <h3>An ocean of opportunities</h3>
            <div class="why-content-new">
               <div class="why-content">
               </div>
               <div class="why-content why-content1">
                  <div class="why-content2">
                     <div class="why-content3">
                        <img src="/images/AdaniInstitute/Admissions-Images/adani-port.jpg" alt="Adani Port" title="Adani Port">
                     </div>
                     <div class="why-content4">
                        <h2>14%</h2>
                        <p class="text-new">ADANI PORT</p>
                        <p>Expected annual growth rate of 14% for Big Data-related services</p>
                     </div>
                  </div>
                  <div class="why-content2">
                     <div class="why-content3">
                        <img src="/images/AdaniInstitute/Admissions-Images/adani-data-center.jpg" alt="Adani Data Center" title="Adani Data Center">
                     </div>
                     <div class="why-content4">
                        <h2>$210</h2>
                        <p class="text-new">ADANI DATA CENTER</p>
                        <p>Big Data Analytics market will reach more than $210 billion in revenue</p>
                     </div>
                  </div>
                  <div class="why-content2">
                     <div class="why-content3">
                        <img src="/images/AdaniInstitute/Admissions-Images/adani-solar.jpg" alt="Adani Solar" title="Adani Solar">
                     </div>
                     <div class="why-content4">
                        <h2>50%</h2>
                        <p class="text-new">ADANI SOLAR</p>
                        <p>Get paid 50% more than counterparts (on average)</p>
                     </div>
                  </div>
                  <div class="why-content2">
                     <div class="why-content3">
                        <img src="/images/AdaniInstitute/Admissions-Images/adani-total-gas.jpg" alt="Adani Total Gas" title="Adani Total Gas">
                     </div>
                     <div class="why-content4">
                        <h2>77%</h2>
                        <p class="text-new">ADANI TOTAL GAS</p>
                        <p>77% consider Big Data Analytics a top priority in their organisations</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
	  
      <section class="why-section roles-expected-section">
         <div class="container">
            <h2>Roles Expected After the Completion</h2>
            <div class="roles-expected">
               <ul>
                  <li>Big Data Analytics Business  Consultant</li>
                  <li>Market research analyst</li>
                  <li>Big Data Solution Architect</li>
                  <li>Big Data Analyst</li>
                  <li>Data Engineer</li>
                  <li>Data Manager</li>
                  <li>Analytics Manager</li>
                  <li>Risk Analyst</li>
                  <li>Business Intelligence and Analytics  Consultant</li>
                  <li>Metrics and Analytics  Specialist</li>
                  <li>Chief Technology Officer (CTO)</li>
                  <li>Chief Data Officer (CDO)</li>
               </ul>
            </div>
         </div>
      </section>
	  
      <section class="why-section new-section">
         <div class="container">
            <h2>AIDTM's PGDM in Big Data Analytics</h2>
            <div class="box-new2">
               <div class="content-new">
                  <p>AIDTM presents an industry vetted, high demand PGDM program in Big Data Analytics. This is an AICTE-approved two-year full-time specialized programme for any graduates who are passionate about shaping a career in Big Data Analytics. In the first year, students will complete core courses that provides a thorough, and integrated foundation in management & big data analytics essentials and summer internship(s), while in the second year they get exposure and hands-on experience on recent technologies related to big data analytics with some elective courses of technology and management domains.</p>
               </div>
               <div class="video-new">
                  <iframe src="https://www.youtube.com/embed/l4anmuq0NZY" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" width="560" height="315" frameborder="0" allowfullscreen=""></iframe>
               </div>
            </div>
            <p class="p-0">At the same time, students also get exposure to independent projects, seminars, and finally, end with industry project of 4-month duration. This helps to leave an impact on the recruiters on the student's work and to create confidence and empower students to face "real world" challenges.</p>
         </div>
      </section>
	  
      <section class="why-section roles-expected-section new-section1">
         <div class="container">
            <h2>Possible Leading Recruiters of Big Data Analytics Program</h2>
            <div class="box-new">
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/adani.png" alt="Adani" title="Adani"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/icici.png" alt="icici bank" title="ICICI Bank"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/deloitte.png" alt="Deloitte" title="Deloitte"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/ernst-and-young.png" alt="Ernst and Young" title="Ernst and Young"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/ibm.png" alt="IBM" title="IBM"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/infosys.png" alt="Infosys" title="Infosys"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/kpmg.png" alt="KPMG" title="KPMG"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/panasonic-life-solutions.png" alt="Panasonic" title="Panasonic"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/pwc.png" alt="PWC" title="PWC"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/reliance-industries-limited.png" alt="Reliance Industries Limited" title="Reliance Industries Limited"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/tcs.png" alt="TCS" title="TCS"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/tech-mahindra.png" alt="Tech Mahindra" title="Tech Mahindra"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/pg.png" alt="P & G" title="P & G"/></div>
               <div class="box-new1"><img src="/images/AdaniInstitute/Admissions-Images/sophos-cybersecurity-evolved.png" alt="Sophos Cybersecurity Evolved" title="Sophos Cybersecurity Evolved"/></div>
            </div>
         </div>
      </section>
	  
      <section class="why-section admission-details-section">
         <div class="container">
            <h2>Admission Details</h2>
            <h3>Application Process</h3>
            <p>Each applicant to the Post Graduate Diploma in Management (PGDM) at AIDTM is holistically evaluated in 3 steps:</p>
            <div class="admission-details">
               <div class="admission-details-new">
                  <p>STEP 1</p>
                  <img src="/images/AdaniInstitute/Admissions-Images/submit-application.png" alt="Submit Application" title="Submit Application">
                  <h4>Submit Application</h4>
                  <p>Please fill in the form and start your application process
                  </p>
               </div>
               <div class="admission-details-new">
                  <p>STEP 2</p>
                  <img src="/images/AdaniInstitute/Admissions-Images/application-review.png" alt="Application Review" title="Application Review">
                  <h4>Application Review</h4>
                  <p>An admission panel will shortlist candidates and conduct Personal Interviews based on their application
                  </p>
               </div>
               <div class="admission-details-new">
                  <p>STEP 3</p>
                  <img src="/images/AdaniInstitute/Admissions-Images/admission.png" alt="Admission" title="Admission">
                  <h4>Admission</h4>
                  <p>Selected candidates will complete the formalities and join the course starting in July 2022.
                  </p>
               </div>
            </div>
            <h3>Eligibility Criteria</h3>
            <p>For admission to this Post Graduate Diploma in Management, candidates should have:
            </p>
            <div class="admission-details eligibility-criteria">
               <div class="admission-details-new">
                  <img src="/images/AdaniInstitute/Admissions-Images/eligibility-criteria.png" alt="Eligibility Criteria" title="Eligibility Criteria">
                  <p>Candidates must hold a bachelor's degree with minimum 50% marks</p>
               </div>
               <div class="admission-details-new">
                  <img src="/images/AdaniInstitute/Admissions-Images/eligibility-criteria.png" alt="Eligibility Criteria" title="Eligibility Criteria">
                  <p>Candidates in their final year of graduation are also eligible to apply.</p>
               </div>
               <div class="admission-details-new">
                  <img src="/images/AdaniInstitute/Admissions-Images/eligibility-criteria.png" alt="Eligibility Criteria" title="Eligibility Criteria">
                  <p>Prior work experience is not mandatory</p>
               </div>
            </div>
         </div>
      </section>
      <section class="why-section footer-section">
         <div class="container">
            <div class="footer-content">
               <h2>Discover AIDTM's PGDM in Big Data Analytics <a style="color: #fff !important; text-decoration: none;" href="#">Download Brochure</a></h2>
            </div>
         </div>
      </section>
	  <script type="text/javascript"> var s=document.createElement("script"); s.type="text/javascript"; s.async=true; s.src="https://widgets.in5.nopaperforms.com/emwgts.js"; document.body.appendChild(s); </script>
   </body>
</html>