<!doctype html>
<html amp lang="en">

<head>
    <meta charset="utf-8">
    <title>Adani Institute of Digital Technology Management - AIDTM</title>
    <link rel="amphtml" href="https://stage.aidtm.ac.in/">
    <link rel="canonical" href="https://stage.aidtm.ac.in/">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @@-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @@-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @@-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @@-o-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @@keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>




    <style amp-custom>
		@@font-face {
		font-family: 'Adani-Regular';
		src: url('webfonts/Adani-ExtraLight.woff') format('woff'),
			url('webfonts/Adani-ExtraLight.ttf') format('truetype');
		font-weight: 200;
		font-style: normal;
		font-display: swap;
	}

	@@font-face {
		font-family: 'Adani-Regular';
		src: url('webfonts/Adani-Medium.woff') format('woff'),
			url('webfonts/Adani-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@@font-face {
		font-family: 'Adani-Regular';
		src: url('webfonts/Adani-Regular.woff') format('woff'),
			url('webfonts/Adani-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@@font-face {
		font-family: 'Adani-Regular';
		src: url('webfonts/Adani-Regular_1.woff') format('woff'),
			url('webfonts/Adani-Regular_1.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@@font-face {
		font-family: 'Adani-Regular';
		src: url('webfonts/Adani-Light.woff') format('woff'),
			url('webfonts/Adani-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@@font-face {
		font-family: 'Adani-Regular';
		src: url('webfonts/Adani-Bold.woff') format('woff'),
			url('webfonts/Adani-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@@font-face {
		font-family: 'Adani-Regular';
		src: url('webfonts/Adani-SemiBold.woff') format('woff'),
			url('webfonts/Adani-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}
        body {
            width: auto;
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 1.6;
			font-family: 'Adani-Regular';
        }
        header{position: fixed; top: 0px; left: 0px; width: 100%; z-index: 10;}
        .headerbar {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
			background: rgb(0 0 0 / 50%);
        }
		.search, .hamburger, .global-site{padding: 15px 15px;text-align: right;}
		.search svg, .hamburger, .global-site svg{position: relative; top: 3px;}
		.site-name{
			flex-grow: 10;
			padding: 15px 15px;
		}
		.site-name a{display: block;}
		.site-name a img{filter: brightness(500) contrast(1.5) grayscale(1);}
        .global-site,
		.search,
        .hamburger
        {
            flex: 1 1 auto;
        }
        .global-site:hover .search-container{display: block;}
        .search:hover .search-container{display: block;}
		.a{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
		.hero-banner{position:relative;background: #000;}
		.hero-banner .amp-carousel-slide img{object-fit: cover;opacity: 0.8;}
		.banner-content{text-align:left;top: 70%; width: 90%; position: absolute; transform: translateY(-50%); left: 0px;color: #fff;z-index: 1;}
		.banner-content h2{font-size: 26px; margin-bottom: 40px; font-weight: 400;margin: 0px; padding: 0px 15px;}
		.banner-content h1{font-size: 40px;line-height:40px;text-align: center;margin-bottom: 0px;}
		.banner-content p{font-size: 24px; line-height: 49px; width: 100%; font-weight: 400;margin-top: 0px;}
		.banner-content a{background: transparent linear-gradient(90deg, #1C9D95 0%, #306EB2 100%) 0% 0% no-repeat padding-box;color: #fff; padding: 15px 10px; font-size: 18px; line-height: 18px; min-width: 200px; display: inline-block;font-weight: 500;border-radius: 5px;}
		.quotes_container{padding: 40px 15px;text-align: center;}
		.quotes_container h2{font-size: 24px; font-weight: 600; line-height: 34px; margin-bottom: 20px;margin-top: 0px;}
		.quotes_container p{font-size: 18px;font-weight: 500; position: relative; line-height: 38px;}
		/* Styles for the flex layout based tabs */
        amp-selector[role=tablist].tabs-with-flex {
            display: flex;
            flex-wrap: wrap;
        }
        amp-selector[role=tablist].tabs-with-flex [role=tab] {
            flex-grow: 1;
            /* custom styling, feel free to change */
            text-align: center;
            padding: 10px 0px;
			border-bottom: 5px solid #D5D5D5;
        }
        amp-selector[role=tablist].tabs-with-flex [role=tab][selected] {
            outline: none;
            border-bottom: 5px solid #1C9D95;
			color: #1C9D95;
        }
        amp-selector[role=tablist].tabs-with-flex [role=tabpanel] {
            display: none;
            width: 100%;
            order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
            /* custom styling, feel free to change */
            padding: 25px 40px;
        }
        amp-selector[role=tablist].tabs-with-flex [role=tab][selected] + [role=tabpanel] {
            display: block;
        }

        /* Styles for the selector based tabs */
        amp-selector[role=tablist].tabs-with-selector {
            display: flex;
        }
        amp-selector[role=tablist].tabs-with-selector [role=tab][selected] {
            outline: none;
            /* custom styling, feel free to change */
            border-bottom: 2px solid var(--color-primary);
        }
        amp-selector[role=tablist].tabs-with-selector {
            display: flex;
        }
        amp-selector[role=tablist].tabs-with-selector [role=tab] {
          /* custom styling, feel free to change */
          width: 100%;
          text-align: center;
          padding: var(--space-1);
        }
        amp-selector.tabpanels [role=tabpanel] {
          display: none;
          /* custom styling, feel free to change */
          padding: var(--space-4);
        }
        amp-selector.tabpanels [role=tabpanel][selected] {
          outline: none;
          display: block;
        }
		.tab_rows{height: auto; width: 100%; display: flex; flex-direction: row;}
		.tab_rows--first{width: 100px;}
		.tab_rows--second{flex: 1 1 auto;}
		.tab_rows--second h3{font-size: 34px; margin-bottom: 0px; margin-top: 0px;font-weight: 600; color: #1C9D95;}
		.tab_rows--second h3 span{font-size: 18px; line-height: 22px; color: #777373; font-weight: 400;}
		.tab_rows--second p{font-size: 16px; line-height: 18px;margin-bottom: 36px;color: #000; text-align: left;margin-top: 0px;}
.btn-gradient { background: rgba(27,159,148,1); color: #fff; background: -moz-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,159,148,1)), color-stop(100%, rgba(49,109,179,1))); background: -webkit-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%); background: -o-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%); background: -ms-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%); background: linear-gradient(to right, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b9f94', endColorstr='#316db3', GradientType=1 ); transition: ease all 0.3s;}
.btn { border-radius: 25px; padding: .6rem 1.2rem; font-size: 16px; line-height: 1.31; font-weight: 600; min-width: 140px;text-decoration: none;}
.overlay_content{position: absolute; bottom: -30px; width: 90%; left: 50%; transform: translateX(-50%); padding: 1rem; text-align: center; opacity: 1; transition: ease all .3s;z-index: 1;}
.overlay_content div{background: #fff; padding: 10px 10px 16px 10px;}
.overlay_content p{white-space: break-spaces;display: -webkit-box; max-width: 100%; line-height: 21px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.overlay_content a{color: #179e96;text-decoration: none;}
.overlay_content .amp-scrollable-carousel-slide{position: relative;}
.section_newsroom-ceo{padding: 40px 15px;background: #ebebeb;}
.newsroom-section { background: #fff; padding: 30px; box-shadow: 0 3px 6px rgb(0 0 0 / 16%); height: 100%;margin-bottom: 62px;}
.section_newsroom-ceo h3{font-weight: 400; font-size: 31px; line-height: 37px; margin-bottom: 20px;margin-top: 0px;}
.newsroom-section ul { padding-left: 0; }
.newsroom-section ul li { position: relative; list-style-type: none; padding-left: 40px; line-height: 18px; margin-bottom: 20px; }
.newsroom-section ul li:before { content: ""; background: url(../images/news-icon.png); width: 20px; height: 20px; display: block; position: absolute; left: 0; background-repeat: no-repeat; top: 5px; }
.newsroom-section ul li a { font-size: 14px; line-height: 18px; color: #7e7e7e;text-decoration: none;}
.newsroom-section .btn{border-radius: 5px;font-size: 18px;font-weight: 500;}
.ceo_message { background: transparent linear-gradient( 90deg ,#1b9e93 0,#306eb2 100%) 0 0 no-repeat padding-box; height: 100%; color: #fff; padding: 30px; position: relative;}
.ceo_message>div { min-height: unset; margin-bottom: 2rem;}
.ceo_message p { font-size: 22px; line-height: 27px; font-weight: 100; }
.ceo_message .btn{background: #fff; color: #000; border-radius: 5px; font-weight: 500; font-size: 18px;}
.ceo_thumb{background: #f1f1f1; overflow: hidden; position: relative; min-height: 320px; height: 100%; }
.ceo_thumb img{object-fit: cover;}
.blog_main--content h3 { font-size: 22px; line-height: 26px; margin-bottom: 20px; display: -webkit-box; max-width: 100%; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; color: #2d3035; min-height: 52px; font-weight: 500; }
.blog_main--content p { font-size: 18px; line-height: 22px; margin-bottom: 17px; display: -webkit-box; max-width: 100%; -webkit-line-clamp: 3; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; color: #3b3a3a; font-weight: 400; }
.blog_main--content a { font-size: 18px; line-height: 22px; display: block; font-weight: 600; color: #179e96;text-decoration: none;}
footer {position:relative;padding: 40px 15px 10px 15px;text-align:center;}
footer:before{content: ""; box-shadow: 0 0 7px 0 #9c9c9c; width: 100%; top: 0px; height: 2px; position: absolute; background: #d0d0d0;left:0px;}
footer amp-img{margin:20px auto 0px auto;}
footer h4{margin: 0px 0px 10px 0px; font-size: 18px;font-weight: 600;}
footer .address_text{margin-top: 0px;font-size: 14px;margin-bottom:8px;}
footer a{color: #5b58a7; text-decoration: none; font-weight: 500;}
.sitemap-btn{}
.sitemap-btn a{display: block; text-align: left; padding: 15px 20px; font-size: 16px; line-height: 18px; text-decoration: none;background:#5b58a7;color: #fff;font-weight: 400;}
.sitemap-btn a span{float: right;}
.ft-submenu{text-align: left;margin-bottom: 1rem;}
.ft-submenu ul{padding-left: 0px;margin: 0px;}
.ft-submenu ul li{list-style-type: none;}
.ft-submenu h5{margin-bottom: 0px; font-weight: 500;margin-top: 0px;}
.ft-submenu h5 a{color: #000; font-size: 22px; line-height: 39px;}
.ft-submenu h5 a:hover{color: #000; font-size: 24px;}
.ft-submenu a{text-decoration:none;color: #000;font-size: 16px; line-height: 28px;font-weight: 400;}
.ft-submenu a:hover{color: #000;}
.toggle_submenu{display:none;}
footer .hide{display:none;}
header amp-sidebar{background: rgb(91 88 167 / 94%);padding: 0rem 0rem 0rem 0rem;width: 100%;}
header amp-sidebar .controls{text-align: left; background: #4c4b6e;padding: 0.5rem 2em;}
header amp-sidebar .navbar-collapse{padding: 1rem 2rem;}
header amp-sidebar span.fa{color: #fff;font-size: 1.5rem;}
#mainMenu .navbar-nav{padding-left:0px;}
#mainMenu .nav-item{list-style-type:none;}
#mainMenu .nav-item a.nav-link { color: #fff; font-size: 22px; text-align: left; margin-bottom: 0; display: inline-block; padding: 10px 0;text-decoration: none;}
#mainMenu span{color: #fff; display: inline-block; margin-left: .5rem; cursor: pointer; width: 25px; text-align: center; line-height: 25px;}
.dropdown-menu{max-height: 0px; overflow: hidden;}
.nav-item.dropdown:hover .dropdown-menu{max-height: 1500px;}
#mainMenu .nav-item.dropdown:hover > a{text-decoration: underline;}
.dropdown-menu ul{padding-left:0px;}
.dropdown-menu li{list-style-type:none;}
.dropdown-menu li a{text-decoration: none;color:#fff;}

.global-dropdown:hover > a{color:#1C9D95;}
.global-dropdown:hover > a svg{fill:#1C9D95;}
.global-dropdown:hover .search-container, .search-container.active {
    display: block;
    animation: fadeInDown-menu .8s;
    cursor: default;
}
.global-site.dropdown_inactive .search-container{display: none;animation: fadeInDown-menu .8s;}
.global-site .container-fluid{position:relative;}
.global-site .search-container__results{width: 92%; max-height: 421px; overflow: auto;position: relative;padding-top: 0px;}
.global-site .search-container__results ul:after { content: "";}
.global-site ul{margin:0px;max-width: 550px;position:relative;padding-left: 0px;}
.global-site ul li{display: block;text-align: left;padding: 20px 0px 10px 0px ; border-bottom: 1px solid #ccc;}
.global-site ul li:first-child{padding-top: 0px;}
.global-site ul li a{}
.global-site .search-container__form .wrapper button circle, .global-dropdown .search-container__form .wrapper button line, path {
    stroke: #fff;
}
.search-container .search-container__form .wrapper button circle, .search-container .search-container__form .wrapper button line, path{
    stroke: #fff;
}
.global-site .search-container__results::-webkit-scrollbar {
    width: 8px;
	background:linear-gradient(to right,#ebebeb 50%,#fff 0);
	border-radius: 18px;
}

.global-site .search-container__results::-webkit-scrollbar-track {
	background:linear-gradient(to right,#179F95 20%,#fff 60%, #179F95 20%);
}

.global-site .search-container__results::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 6px;
}
.search-container__results ul li a { font-size: 20px; color: #fff; line-height: 28px; margin-bottom: 10px; display: inline-block;text-decoration:none; }
.search-container{display:none;position: absolute; left: 0px; width: 100%;background: #179F95;margin-top: 0px;box-shadow:0px 10px 7px rgba(0, 0, 0, 0.27);top: 98%;padding: 2rem 1rem;}
#search-toggle:hover .search-container, .search-container.active{display: block;animation: fadeInDown-menu .8s;cursor: default;}
#search-toggle.dropdown_inactive .search-container{display: none;animation: fadeInDown-menu .8s;}
.global-site .search-container{height: 85vh;}
.global-site .search-container__results{max-height: 84vh;}
.search .search-container__form .wrapper{position: relative; display: block; width: 95%;}
.search .search-container__form input[type=text] { background: 0 0; border: 1px solid #000; color: #000; width:100%; color: #fff; padding: 5px 10px; min-height: 48px;}
.search .search-container__form .wrapper button { position: absolute; top: 15px; right: 0px; background: 0 0; border: 0; outline: 0; }
.search .search-container__form .wrapper button svg circle, .search .search-container__form .wrapper button svg line{stroke: #000;}
.search .search-container__results { padding: 1rem 1rem 1rem 0rem; color: #fff; text-align: left; }
.search .search-container{background: #fff;width: 93%;}
.search .search-container__results p { font-size: 16px; line-height: 22px; color: #6f6f6f; border-top: 1px solid #ccc; margin-top: 0px; padding-top: 1rem;}
.search .search-container__results ul { margin-top: 10px;padding-left: 0px; }
.search .search-container__results ul li{padding: 2px 0 2px 0px;}
.search li { padding: 10px 0 10px 0px; display: block; text-align: left; }
.search .search-container__results ul li a { font-size: 16px; line-height: 16px; margin-bottom: 0;color: #179f95;display: inline-block;font-weight: 400;}
.amp-sidebar-mask{z-index: 0;}
.header-topbar{background: #5b58a7; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;padding: 0px 15px;}
.header-topbar > div{-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.header-topbar > div a{color:#fff;text-decoration:none; font-weight: 300;font-size: 13px;}
.header-topbar > div p{margin: 0px; padding: 8px 0px;}
.text-right{text-align: right;}
.section_campus{padding: 40px 15px;}
.section_campus h2{font-size: 30px; font-weight: 500; line-height: 35px; margin-bottom: 20px;margin-top: 0px;}
.section_campus amp-img img{object-fit: cover;}
.section_overview{background: #4c4b6e;padding: 40px 15px;}
.section_overview > div{padding: 15px 0px 0px 15px;border-left: 5px solid #fff;margin-bottom: 25px;}
.section_overview > div p{font-size: 34px; font-weight: 500;margin-bottom: 12px;line-height: 22px; color: #b3b3c2;margin-top:0px;}
.section_overview > div h1{font-size: 22px; line-height: 31px;color: #fff;margin:0px;font-weight: 400;}
.section_overview a{margin-left: 1.25rem;}

.btn-secondary { font-size: 18px; line-height: 28px; color: #6b69b0; background: #fff; border: 1px solid; padding: 0px; border-radius: 0px; padding: 0.6rem 1.25rem; transform: translateY(0px); box-shadow: 0px 0px 0px 0px #b9b9b9; transition: ease all 0.6s; font-weight: 500; text-decoration: none; }
.section_programmes{padding: 40px 15px;}
.section_programmes > div{padding: 1.5rem;color:#fff;position:relative;background: rgb(0 0 0 / 50%);}
.section_programmes > div:before{content:"";background-image:url('https://www.aidtm.ac.in/-/media/Project/AdaniInstitute/Home/diploma-programmes.jpg');width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; background-repeat: no-repeat; background-size: cover; z-index: -1;}
.section_programmes h4{font-size: 18px;line-height: 21px; font-weight: 400; margin: 0px;}
.section_programmes h2{font-size: 26px; line-height: 31px; margin-bottom: 16px;font-weight: 600; margin-top: 0px;}
.section_programmes .sub_text{margin-bottom: 2rem;}
.section_programmes a{color: #fff; text-decoration: none; border: 1px solid #fff; padding: 5px 10px;display: inline-block; margin-bottom: 15px;font-size:14px;}
.section_programmes a span{margin-left:10px;}
.cta_apply{position: fixed; right: 0px; top: 20%;z-index: 1;}
.cta_apply a{display: block; background: #5b58a7;padding: 0px 5px;}
.social_icons{padding: 0px; margin: 0px;position: fixed; bottom: 20%; right: 0px;z-index: 1;}
.social_icons li{list-style-type: none;}
#sitemap-block.toggle_submenu{max-height: 0px; transition: ease all 0.3s;}
#sitemap-block.show{max-height: 1500px; transition: ease all 0.3s;}
.hamburger svg{position: relative; top: 3px;}
.bottom_copyright{background: #4c4b6e; padding: 0.8rem; margin-top: 20px;}
.bottom_copyright p{font-size: 12px; font-weight: 400; line-height: 15px;color:#fff; text-align: center;margin: 0px;}
.header-topbar .fa-rotate-90{transform: rotate(0deg);}
    </style>
</head>

<body>

    <header class="">
        @Html.Sitecore().Placeholder("header")
    </header>

    @Html.Sitecore().Placeholder("page-layout")

    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>

 @Html.Sitecore().Placeholder("page-sidebar")

<div class="bottom_copyright">
        <p>&copy; 2020 Adani Institute of Digital Technology Management</p>
</div>
</body>

</html>