@using Sitecore.Mvc.Configuration

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "registration_form", name = "registration_form", @class = "row registration_form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h2 class="registration_form_title">Registration Details</h2>
    <div class="col-sm-4">
        <h6>&nbsp;</h6>
        <ul class="form_step">
            <li class="active_fieldset li-race"><a href="javascript:void(0)" data-href="step1">Race Information</a></li>
            <li class="li-personal"><a href="javascript:void(0)" data-href="step2">Personal Information</a></li>
            <li class="li-address"><a href="javascript:void(0)" data-href="step3">Address Information</a></li>
            <li class="li-medical"><a href="javascript:void(0)" data-href="step4">Medical Information</a></li>
            <li class="li-medical"><a href="javascript:void(0)" data-href="step5">Confirm Details</a></li>
        </ul>
    </div>
    <div class="col-sm-8">
        <fieldset class="first row">
            <div class="col-sm-12">
                <h6>Step 1: Race Information</h6>
                </div>
        </fieldset>
        <fieldset class="second row">
            <div class="col-sm-12">
                <h6>Step 2: Personal Information</h6>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Reference code :</label>
                    <div class="col-sm-8">
                        <input name="ReferenceCode" id="reference_code" type="text" onblur="validate()" class="form-control reference_validated" placeholder="Optional" value="" data-error-msg="Please fill Reference code">
                        <label class="reference_code_error"></label>
                        <label class="reference_code_success"></label>
                    </div>
                </div>
                <div class="form-group row payroll_company_row extra_field_row" style="display: none;">
                    <label for="" class="col-sm-4">Payroll Company :</label>
                    <div class="col-sm-8">
                        <select name="PayrollCompany" id="payroll_company" class="form-control chzn-select extra_field" data-error-msg="Please select your Payroll Company">
                            <option value="">Select Your Payroll Company</option>
                            <option value="ADANI AGRI LOGISTICS (BATHINDA) LIMITED">ADANI AGRI LOGISTICS (BATHINDA) LIMITED</option>
                            <option value="ADANI AGRI LOGISTICS (DEWAS) LTD">ADANI AGRI LOGISTICS (DEWAS) LTD</option>
                            <option value="ADANI AGRI LOGISTICS (HARDA) LTD">ADANI AGRI LOGISTICS (HARDA) LTD</option>
                            <option value="ADANI AGRI LOGISTICS (KANNAUJ) LIMITED">ADANI AGRI LOGISTICS (KANNAUJ) LIMITED</option>
                            <option value="ADANI AGRI LOGISTICS (KATIHAR) LIMITED">ADANI AGRI LOGISTICS (KATIHAR) LIMITED</option>
                            <option value="ADANI AGRI LOGISTICS (KOTKAPURA) LIMITED">ADANI AGRI LOGISTICS (KOTKAPURA) LIMITED</option>
                            <option value="ADANI AGRI LOGISTICS (MP) LTD">ADANI AGRI LOGISTICS (MP) LTD</option>
                            <option value="ADANI AGRI LOGISTICS (PANIPAT) LIMITED">ADANI AGRI LOGISTICS (PANIPAT) LIMITED</option>
                            <option value="ADANI AGRI LOGISTICS (SATNA) LTD">ADANI AGRI LOGISTICS (SATNA) LTD</option>
                            <option value="ADANI AGRI LOGISTICS(UJJAIN) LTD">ADANI AGRI LOGISTICS(UJJAIN) LTD</option>
                            <option value="ADANI AGRIFRESH LIMITED">ADANI AGRIFRESH LIMITED</option>
                            <option value="ADANI AGRILOGISTICS (HOSHANGABAD) LTD">ADANI AGRILOGISTICS (HOSHANGABAD) LTD</option>
                            <option value="ADANI AGRILOGISTICS LTD">ADANI AGRILOGISTICS LTD</option>
                            <option value="ADANI BRAHMA SYNERGY PRIVATE LIMITED">ADANI BRAHMA SYNERGY PRIVATE LIMITED</option>
                            <option value="ADANI BUNKERING PRIVATE LIMITED">ADANI BUNKERING PRIVATE LIMITED</option>
                            <option value="ADANI CAPITAL PVT LTD">ADANI CAPITAL PVT LTD</option>
                            <option value="ADANI CEMENTATION LTD">ADANI CEMENTATION LTD</option>
                            <option value="ADANI CMA MUNDRA TERMINAL PRIVATE LIMITED">ADANI CMA MUNDRA TERMINAL PRIVATE LIMITED</option>
                            <option value="ADANI ENNORE CONTAINER TERMINAL PRIVATE LIMITED">ADANI ENNORE CONTAINER TERMINAL PRIVATE LIMITED</option>
                            <option value="ADANI ENTERPRISES LIMITED">ADANI ENTERPRISES LIMITED</option>
                            <option value="ADANI ENTERPRISES LIMITED (MINING DIVISION)">ADANI ENTERPRISES LIMITED (MINING DIVISION)</option>
                            <option value="ADANI ESTATES PRIVATE LIMITED">ADANI ESTATES PRIVATE LIMITED</option>
                            <option value="ADANI FINSERVE PVT LTD">ADANI FINSERVE PVT LTD</option>
                            <option value="ADANI FOUNDATION">ADANI FOUNDATION</option>
                            <option value="ADANI GAS LIMITED">ADANI GAS LIMITED</option>
                            <option value="ADANI GREEN ENERGY (TAMIL NADU) LTD">ADANI GREEN ENERGY (TAMIL NADU) LTD</option>
                            <option value="ADANI GREEN ENERGY (UP) LIMITED">ADANI GREEN ENERGY (UP) LIMITED</option>
                            <option value="ADANI GREEN ENERGY LIMITED">ADANI GREEN ENERGY LIMITED</option>
                            <option value="ADANI HAZIRA PORT PVT LTD">ADANI HAZIRA PORT PVT LTD</option>
                            <option value="ADANI HOSPITALS MUNDRA PRIVATE LIMITED">ADANI HOSPITALS MUNDRA PRIVATE LIMITED</option>
                            <option value="ADANI INFRA &amp;amp; DEV PVT LTD">ADANI INFRA &amp;amp; DEV PVT LTD</option>
                            <option value="ADANI INFRA (INDIA) LTD">ADANI INFRA (INDIA) LTD</option>
                            <option value="ADANI INFRASTRUCTURE MANAGEMENT SERVICES LIMITED">ADANI INFRASTRUCTURE MANAGEMENT SERVICES LIMITED</option>
                            <option value="ADANI INSTITUTE FOR EDUCATION AND RESEARCH">ADANI INSTITUTE FOR EDUCATION AND RESEARCH</option>
                            <option value="ADANI INTERNATIONAL CONTAINER TERMINAL PVT.LTD">ADANI INTERNATIONAL CONTAINER TERMINAL PVT.LTD</option>
                            <option value="ADANI KANDLA BULK TERMINAL PVT LTD">ADANI KANDLA BULK TERMINAL PVT LTD</option>
                            <option value="ADANI LOGISTICS LIMITED">ADANI LOGISTICS LIMITED</option>
                            <option value="ADANI M2K PROJECTS LLP">ADANI M2K PROJECTS LLP</option>
                            <option value="ADANI MURMUGAO PTP LTD">ADANI MURMUGAO PTP LTD</option>
                            <option value="ADANI PENCH POWER LTD">ADANI PENCH POWER LTD</option>
                            <option value="ADANI PETRONET (DAHEJ)">ADANI PETRONET (DAHEJ)</option>
                            <option value="ADANI PORTS AND SPECIAL ECONOMIC ZONE LIMITED">ADANI PORTS AND SPECIAL ECONOMIC ZONE LIMITED</option>
                            <option value="ADANI POWER (JHARKHAND) LTD">ADANI POWER (JHARKHAND) LTD</option>
                            <option value="ADANI POWER (MUNDRA) LIMITED">ADANI POWER (MUNDRA) LIMITED</option>
                            <option value="ADANI POWER DAHEJ LTD">ADANI POWER DAHEJ LTD</option>
                            <option value="ADANI POWER LIMITED">ADANI POWER LIMITED</option>
                            <option value="ADANI POWER MAH LIMITED">ADANI POWER MAH LIMITED</option>
                            <option value="ADANI POWER RAJASTHAN LTD">ADANI POWER RAJASTHAN LTD</option>
                            <option value="ADANI PROPERTIES PVT LTD">ADANI PROPERTIES PVT LTD</option>
                            <option value="ADANI RENEWABLE ENY PARK (RAJASTHAN) LTD">ADANI RENEWABLE ENY PARK (RAJASTHAN) LTD</option>
                            <option value="ADANI SHIPPING (I) PVT LTD">ADANI SHIPPING (I) PVT LTD</option>
                            <option value="ADANI SKILL DEVELOPMENT CENTRE">ADANI SKILL DEVELOPMENT CENTRE</option>
                            <option value="ADANI SYNENERGY LIMITED">ADANI SYNENERGY LIMITED</option>
                            <option value="ADANI TOWNSHIP &amp;amp; REAL ESTATE COMPANY PVT. LTD">ADANI TOWNSHIP &amp;amp; REAL ESTATE COMPANY PVT. LTD</option>
                            <option value="ADANI TRANSMISSION (INDIA) LTD">ADANI TRANSMISSION (INDIA) LTD</option>
                            <option value="ADANI TRANSMISSION (RAJASTHAN) LTD">ADANI TRANSMISSION (RAJASTHAN) LTD</option>
                            <option value="ADANI TRANSMISSION LIMITED">ADANI TRANSMISSION LIMITED</option>
                            <option value="ADANI VIZAG COAL TERMINAL PRIVATE LIMITED">ADANI VIZAG COAL TERMINAL PRIVATE LIMITED</option>
                            <option value="ADANI VIZHINJAM PORT PRIVATE LTD">ADANI VIZHINJAM PORT PRIVATE LTD</option>
                            <option value="ADANI WELSPUN EXPLORATION">ADANI WELSPUN EXPLORATION</option>
                            <option value="ADANI WILMAR LIMITED">ADANI WILMAR LIMITED</option>
                            <option value="ADANI WIND ENERGY (GUJARAT) PRIVATE LIMITED">ADANI WIND ENERGY (GUJARAT) PRIVATE LIMITED</option>
                            <option value="BELVEDERE GOLF AND COUNTRY CLUB PRIVATE LIMITED">BELVEDERE GOLF AND COUNTRY CLUB PRIVATE LIMITED</option>
                            <option value="BUDHPUR BUILDCON PVT LTD">BUDHPUR BUILDCON PVT LTD</option>
                            <option value="CHHATTISGARH - WR TRANSMISSION LIMITED">CHHATTISGARH - WR TRANSMISSION LIMITED</option>
                            <option value="GARE PELMA III COLLIERIES LTD">GARE PELMA III COLLIERIES LTD</option>
                            <option value="GOLDEN VALLEY AGROTECH">GOLDEN VALLEY AGROTECH</option>
                            <option value="GUJARAT ADANI INSTITUTE OF MEDICAL SCIENCES">GUJARAT ADANI INSTITUTE OF MEDICAL SCIENCES</option>
                            <option value="HOWE ENGINEERING PROJECTS INDIA PVT LTD">HOWE ENGINEERING PROJECTS INDIA PVT LTD</option>
                            <option value="INDIAN OIL ADANI GAS PVT LTD">INDIAN OIL ADANI GAS PVT LTD</option>
                            <option value="KARNAVATI AVIATION P LTD">KARNAVATI AVIATION P LTD</option>
                            <option value="MAHARASHTRA EASTERN GRID POWER TRANSMISSION CO.LTD">MAHARASHTRA EASTERN GRID POWER TRANSMISSION CO.LTD</option>
                            <option value="MISTRY CONSTRUCTION COMPANY PVT LTD">MISTRY CONSTRUCTION COMPANY PVT LTD</option>
                            <option value="MPSEZ UTILITIES PVT LTD">MPSEZ UTILITIES PVT LTD</option>
                            <option value="MUNDRA SOLAR PV LTD">MUNDRA SOLAR PV LTD</option>
                            <option value="MUNDRA SOLAR TECHNO PARK PVT LTD">MUNDRA SOLAR TECHNO PARK PVT LTD</option>
                            <option value="NORTH KARANPURA TRANSCO LTD">NORTH KARANPURA TRANSCO LTD</option>
                            <option value="PARAMPUJYA SOLAR ENERGY PRIVATE LIMITED">PARAMPUJYA SOLAR ENERGY PRIVATE LIMITED</option>
                            <option value="PARSA KENTE COLLIERIES LIMITED">PARSA KENTE COLLIERIES LIMITED</option>
                            <option value="PRAYATNA DEVELOPERS PRIVATE LTD">PRAYATNA DEVELOPERS PRIVATE LTD</option>
                            <option value="RAIPUR - RAJNANDGAON - WARORA TRANSMISSION LIMITED">RAIPUR - RAJNANDGAON - WARORA TRANSMISSION LIMITED</option>
                            <option value="RAJASTHAN COLLIERIES LIMITED">RAJASTHAN COLLIERIES LIMITED</option>
                            <option value="SARGUJA RAIL CORRIDOR PRIVATE LIMITED">SARGUJA RAIL CORRIDOR PRIVATE LIMITED</option>
                            <option value="SHANTI SAGAR INTERNATIONAL DREDGING PRIVATE LIMITED">SHANTI SAGAR INTERNATIONAL DREDGING PRIVATE LIMITED</option>
                            <option value="SHANTIGRAM UTILITY SERVICES PRIVATE LIMITED">SHANTIGRAM UTILITY SERVICES PRIVATE LIMITED</option>
                            <option value="SIPAT TRANSMISSION LIMITED">SIPAT TRANSMISSION LIMITED</option>
                            <option value="TALABIRA (ODISHA) MINING PRIVATE LIMITED">TALABIRA (ODISHA) MINING PRIVATE LIMITED</option>
                            <option value="THE ADANI HARBOUR SERVICES PRIVATE LIMITED">THE ADANI HARBOUR SERVICES PRIVATE LIMITED</option>
                            <option value="THE DHAMRA PORT COMPANY LIMITED">THE DHAMRA PORT COMPANY LIMITED</option>
                            <option value="UDUPI POWER CORPORATION LTD">UDUPI POWER CORPORATION LTD</option>
                            <option value="VALUABLE PROPERTIES PVT LTD">VALUABLE PROPERTIES PVT LTD</option>
                            <option value="WARDHA SOLAR (MAHARASHTRA) PRIVATE LIMITED">WARDHA SOLAR (MAHARASHTRA) PRIVATE LIMITED</option>
                            <option value="WELSPUN ENERGY ANUPPUR PRIVATE LIMITED">WELSPUN ENERGY ANUPPUR PRIVATE LIMITED</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row employee_id_row extra_field_row" style="display: none;">
                    <label for="" class="col-sm-4">Employee ID :</label>
                    <div class="col-sm-8">
                        <input name="EmployeeID" id="employee_id" type="text" onblur="validateEmployeeID()" class="form-control extra_field" value="" placeholder="Employee ID" data-error-msg="Please fill Your Employee ID">
                        <label class="employee_id_error"></label>
                    </div>
                </div>
                <div class="form-group unit_station_row row extra_field_row" style="display: none;">
                    <label for="" class="col-sm-4">Unit/Station :</label>
                    <div class="col-sm-8">
                        <input name="UnitStation" id="unit_station" type="text" class="form-control extra_field" placeholder="Unit/Station" value="" data-error-msg="Please fill Your Unit/Station">
                        <label class="unit_station_error"></label>
                    </div>
                </div>
                @*<div class="form-group id_proof_row row extra_field_row" style="display: none;">
                        <label for="" class="col-sm-4">ID Proof :</label>
                        <div class="col-sm-8">
                            <input name="ShantigramIdProof" id="id_proof" type="file" class="form-control" data-error-msg="Please upload your defence ID Proof">
                            <label class="id_proof_error"></label>
                        </div>
                    </div>*@
                <div class="form-group row">
                    <label for="" class="col-sm-4">First name :</label>
                    <div class="col-sm-8">
                        <input name="FirstName" id="first_name" type="text" class="form-control validated capital" value="" placeholder="First name" data-error-msg="Please fill your First name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Last name :</label>
                    <div class="col-sm-8">
                        <input name="LastName" id="last_name" type="text" class="form-control validated capital" value="" placeholder="Last name" data-error-msg="Please fill your Last name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">D.O.B. :</label>
                    <div class="col-sm-8">
                        <input name="DateofBirth" id="dob" type="text" class="form-control validated" value="" placeholder="Date of Birth" data-error-msg="Please fill your Date of Birth">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Email :</label>
                    <div class="col-sm-8">
                        <input name="Email" id="email_id" type="email" class="form-control validated" value="" placeholder="Email ID" data-error-msg="Please fill your valid Email ID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Contact No. :</label>
                    <div class="col-sm-8">
                        <input name="ContactNumber" id="contactno" type="number" onkeyup="check('contactno')" class="form-control validated" value="" maxlength="10" placeholder="Contact No." data-error-msg="Please fill your valid Contact No.">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Nationality :</label>
                    <div class="col-sm-8">
                        <select name="Nationality" id="nationality" class="form-control validated">
                            <option value="Afghan">Afghan</option>
                            <option value="Albanian">Albanian</option>
                            <option value="Algerian">Algerian</option>
                            <option value="American">American</option>
                            <option value="Andorran">Andorran</option>
                            <option value="Angolan">Angolan</option>
                            <option value="Antiguans">Antiguans</option>
                            <option value="Argentinean">Argentinean</option>
                            <option value="Armenian">Armenian</option>
                            <option value="Australian">Australian</option>
                            <option value="Austrian">Austrian</option>
                            <option value="Azerbaijani">Azerbaijani</option>
                            <option value="Bahamian">Bahamian</option>
                            <option value="Bahraini">Bahraini</option>
                            <option value="Bangladeshi">Bangladeshi</option>
                            <option value="Barbadian">Barbadian</option>
                            <option value="Barbudans">Barbudans</option>
                            <option value="Batswana">Batswana</option>
                            <option value="Belarusian">Belarusian</option>
                            <option value="Belgian">Belgian</option>
                            <option value="Belizean">Belizean</option>
                            <option value="Beninese">Beninese</option>
                            <option value="Bhutanese">Bhutanese</option>
                            <option value="Bolivian">Bolivian</option>
                            <option value="Bosnian">Bosnian</option>
                            <option value="Brazilian">Brazilian</option>
                            <option value="British">British</option>
                            <option value="Bruneian">Bruneian</option>
                            <option value="Bulgarian">Bulgarian</option>
                            <option value="Burkinabe">Burkinabe</option>
                            <option value="Burmese">Burmese</option>
                            <option value="Burundian">Burundian</option>
                            <option value="Cambodian">Cambodian</option>
                            <option value="Cameroonian">Cameroonian</option>
                            <option value="Canadian">Canadian</option>
                            <option value="Cape Verdean">Cape Verdean</option>
                            <option value="Central African">Central African</option>
                            <option value="Chadian">Chadian</option>
                            <option value="Chilean">Chilean</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Colombian">Colombian</option>
                            <option value="Comoran">Comoran</option>
                            <option value="Congolese">Congolese</option>
                            <option value="Costa Rican">Costa Rican</option>
                            <option value="Croatian">Croatian</option>
                            <option value="Cuban">Cuban</option>
                            <option value="Cypriot">Cypriot</option>
                            <option value="Czech">Czech</option>
                            <option value="Danish">Danish</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominican">Dominican</option>
                            <option value="Dutch">Dutch</option>
                            <option value="East Timorese">East Timorese</option>
                            <option value="Ecuadorean">Ecuadorean</option>
                            <option value="Egyptian">Egyptian</option>
                            <option value="Emirian">Emirian</option>
                            <option value="Equatorial Guinean">Equatorial Guinean</option>
                            <option value="Eritrean">Eritrean</option>
                            <option value="Estonian">Estonian</option>
                            <option value="Ethiopian">Ethiopian</option>
                            <option value="Fijian">Fijian</option>
                            <option value="Filipino">Filipino</option>
                            <option value="Finnish">Finnish</option>
                            <option value="French">French</option>
                            <option value="Gabonese">Gabonese</option>
                            <option value="Gambian">Gambian</option>
                            <option value="Georgian">Georgian</option>
                            <option value="German">German</option>
                            <option value="Ghanaian">Ghanaian</option>
                            <option value="Greek">Greek</option>
                            <option value="Grenadian">Grenadian</option>
                            <option value="Guatemalan">Guatemalan</option>
                            <option value="Guinea-Bissauan">Guinea-Bissauan</option>
                            <option value="Guinean">Guinean</option>
                            <option value="Guyanese">Guyanese</option>
                            <option value="Haitian">Haitian</option>
                            <option value="Herzegovinian">Herzegovinian</option>
                            <option value="Honduran">Honduran</option>
                            <option value="Hungarian">Hungarian</option>
                            <option value="Icelander">Icelander</option>
                            <option selected value="Indian" india="">Indian</option>
                            <option value="Indonesian">Indonesian</option>
                            <option value="Iranian">Iranian</option>
                            <option value="Iraqi">Iraqi</option>
                            <option value="Irish">Irish</option>
                            <option value="Israeli">Israeli</option>
                            <option value="Italian">Italian</option>
                            <option value="Ivorian">Ivorian</option>
                            <option value="Jamaican">Jamaican</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Jordanian">Jordanian</option>
                            <option value="Kazakhstani">Kazakhstani</option>
                            <option value="Kenyan">Kenyan</option>
                            <option value="Kittian and Nevisian">Kittian and Nevisian</option>
                            <option value="Kuwaiti">Kuwaiti</option>
                            <option value="Kyrgyz">Kyrgyz</option>
                            <option value="Laotian">Laotian</option>
                            <option value="Latvian">Latvian</option>
                            <option value="Lebanese">Lebanese</option>
                            <option value="Liberian">Liberian</option>
                            <option value="Libyan">Libyan</option>
                            <option value="Liechtensteiner">Liechtensteiner</option>
                            <option value="Lithuanian">Lithuanian</option>
                            <option value="Luxembourger">Luxembourger</option>
                            <option value="Macedonian">Macedonian</option>
                            <option value="Malagasy">Malagasy</option>
                            <option value="Malawian">Malawian</option>
                            <option value="Malaysian">Malaysian</option>
                            <option value="Maldivan">Maldivan</option>
                            <option value="Malian">Malian</option>
                            <option value="Maltese">Maltese</option>
                            <option value="Marshallese">Marshallese</option>
                            <option value="Mauritanian">Mauritanian</option>
                            <option value="Mauritian">Mauritian</option>
                            <option value="Mexican">Mexican</option>
                            <option value="Micronesian">Micronesian</option>
                            <option value="Moldovan">Moldovan</option>
                            <option value="Monacan">Monacan</option>
                            <option value="Mongolian">Mongolian</option>
                            <option value="Moroccan">Moroccan</option>
                            <option value="Mosotho">Mosotho</option>
                            <option value="Motswana">Motswana</option>
                            <option value="Mozambican">Mozambican</option>
                            <option value="Namibian">Namibian</option>
                            <option value="Nauruan">Nauruan</option>
                            <option value="Nepalese">Nepalese</option>
                            <option value="Netherlander">Netherlander</option>
                            <option value="New Zealander">New Zealander</option>
                            <option value="Ni-Vanuatu">Ni-Vanuatu</option>
                            <option value="Nicaraguan">Nicaraguan</option>
                            <option value="Nigerian">Nigerian</option>
                            <option value="Nigerien">Nigerien</option>
                            <option value="North Korean">North Korean</option>
                            <option value="Northern Irish">Northern Irish</option>
                            <option value="Norwegian">Norwegian</option>
                            <option value="Omani">Omani</option>
                            <option value="Pakistani">Pakistani</option>
                            <option value="Palauan">Palauan</option>
                            <option value="Panamanian">Panamanian</option>
                            <option value="Papua New Guinean">Papua New Guinean</option>
                            <option value="Paraguayan">Paraguayan</option>
                            <option value="Peruvian">Peruvian</option>
                            <option value="Polish">Polish</option>
                            <option value="Portuguese">Portuguese</option>
                            <option value="Qatari">Qatari</option>
                            <option value="Romanian">Romanian</option>
                            <option value="Russian">Russian</option>
                            <option value="Rwandan">Rwandan</option>
                            <option value="Saint Lucian">Saint Lucian</option>
                            <option value="Salvadoran">Salvadoran</option>
                            <option value="Samoan">Samoan</option>
                            <option value="San Marinese">San Marinese</option>
                            <option value="Sao Tomean">Sao Tomean</option>
                            <option value="Saudi">Saudi</option>
                            <option value="Scottish">Scottish</option>
                            <option value="Senegalese">Senegalese</option>
                            <option value="Serbian">Serbian</option>
                            <option value="Seychellois">Seychellois</option>
                            <option value="Sierra Leonean">Sierra Leonean</option>
                            <option value="Singaporean">Singaporean</option>
                            <option value="Slovakian">Slovakian</option>
                            <option value="Slovenian">Slovenian</option>
                            <option value="Solomon Islander">Solomon Islander</option>
                            <option value="Somali">Somali</option>
                            <option value="South African">South African</option>
                            <option value="South Korean">South Korean</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Sri Lankan">Sri Lankan</option>
                            <option value="Sudanese">Sudanese</option>
                            <option value="Surinamer">Surinamer</option>
                            <option value="Swazi">Swazi</option>
                            <option value="Swedish">Swedish</option>
                            <option value="Swiss">Swiss</option>
                            <option value="Syrian">Syrian</option>
                            <option value="Taiwanese">Taiwanese</option>
                            <option value="Tajik">Tajik</option>
                            <option value="Tanzanian">Tanzanian</option>
                            <option value="Thai">Thai</option>
                            <option value="Togolese">Togolese</option>
                            <option value="Tongan">Tongan</option>
                            <option value="Trinidadian or Tobagonian">Trinidadian or Tobagonian</option>
                            <option value="Tunisian">Tunisian</option>
                            <option value="Turkish">Turkish</option>
                            <option value="Tuvaluan">Tuvaluan</option>
                            <option value="Ugandan">Ugandan</option>
                            <option value="Ukrainian">Ukrainian</option>
                            <option value="Uruguayan">Uruguayan</option>
                            <option value="Uzbekistani">Uzbekistani</option>
                            <option value="Venezuelan">Venezuelan</option>
                            <option value="Vietnamese">Vietnamese</option>
                            <option value="Welsh">Welsh</option>
                            <option value="Yemenite">Yemenite</option>
                            <option value="Zambian">Zambian</option>
                            <option value="Zimbabwean">Zimbabwean</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Gender :</label>
                    <div class="col-sm-8">
                        <select name="Gender" id="gender_list" class="form-control validated">
                            <option value="Select One">Select One</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Transgender">Transgender</option>
                            @*<label class="male"><input type="radio" name="Gender" value="Male"><span>Male</span></label>
                                <label class="female"><input type="radio" name="Gender" value="Female"><span>Female</span></label>
                                <label class="trans"><input type="radio" name="Gender" value="Transgender"><span>Transgender</span></label>*@
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">T-shirt Size :</label>
                    <div class="col-sm-8 t-shirt-size">
                        <select name="TShirtSize" id="tshirt_sizeMale" class="form-control validated" data-error-msg="Please Select your T-shirt size">
                            <option value="" selected="">-- select one --</option>
                            <option value="32">Kids (32 Inch)</option>
                            <option value="34">Kids (34 Inch)</option>
                            <option value="36">X-Small (36 Inch)</option>
                            <option value="38">Small (38 Inch)</option>
                            <option value="40">Medium (40 Inch)</option>
                            <option value="42">Large (42 Inch)</option>
                            <option value="44">X-Large (44 Inch)</option>
                            <option value="46">XX-Large (46 Inch)</option>


                        </select>
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <img src="http://adani.reputationindia.in/wp-content/themes/custom/images/adani-bib-image.png" alt="Adani BIBimage" class="img-responsive">
                            </div>
                        </div>


                        <!-- <a href="javascript:void();" data-toggle="modal" data-target="#myModal1" class="size-chart2">Select your size correctly. Size info here</a> -->
                        <div id="myModal1" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <img src="https://www.ahmedabadmarathon.com//images/Marathon/T-Shirt_Size_Chart_Website.png" alt="Adani Tee" class="img-responsive" style="margin: 0 auto;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row" style="display:none">
                    <label for="" class="col-sm-4">Name on BIB :</label>
                    <div class="col-sm-8">
                        <a href="javascript:void();" data-toggle="modal" data-target="#myModal" class="size-chart"><img src="http://adani.reputationindia.in/wp-content/themes/custom/images/info.png" alt=""></a>
                        <input name="NamePreferredonBIB" id="bibname" type="text" class="form-control validated" value="" placeholder="Name on BIB" data-error-msg="Please fill your Name on BIB">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">ID Proof :</label>
                    <div class="col-sm-8">
                        <select name="IdentityProofType" id="idproof" class="form-control validated" data-error-msg="Please Select your ID Proof">
                            <option value="Select One">Select One</option>
                            <option value="Passport">Passport</option>
                            <option value="Aadhar Card">Aadhar Card</option>
                            <option value="Driving License">Driving License</option>
                            <option value="Pan Card">Pan Card</option>                           
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Id proof number :</label>
                    <div class="col-sm-8">
                        <input name="IdentityProofNumber" id="idnumber" type="text" class="form-control validated" value="" placeholder="0000 0000 0000" data-error-msg="Please fill your Id proof number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Upload scanned copy for Identity Proof (Max size 10 MB) :</label>
                    <div class="col-sm-8">
                        <input name="IDCardAttachment" id="file1" type="file" class="form-control file_type" placeholder="Upload Valid ID" data-error-msg="Please Upload Valid ID">

                    </div>
                </div>
                <div class="form-group row">
                        <label for="" class="col-sm-4">Are you defence personnel? :</label>
                        <div class="col-sm-8">
                            <select name="defencePersonnel" id="defencePersonnel" class="form-control validated" data-error-msg="Please Select Option">
                                <option value="Select One">Select One</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                            <p style="color:#337ab7">*A valid defence ID card to be presented at the time of BIB Collection.</p>
                        </div>
                    </div>
                <div class="form-group DetailsOfFullHalfMarathon_row row extra_field_row" style="display: none;">
                    <label for="" class="col-sm-4">Details of the last Full/Half Marathon :</label>
                    <div class="col-sm-8">
                        <input name="DetailsOfFullHalfMarathon" id="DetailsOfFullHalfMarathon" type="text" class="form-control" data-error-msg="Please enter Details Of Full Half Marathon">
                        <label class="DetailsOfFullHalfMarathon_error"></label>
                    </div>
                </div>
                <div class="form-group RaceCertificate_row row extra_field_row" style="display: none;">
                    <label for="" class="col-sm-4">Race Certificate :</label>
                    <div class="col-sm-8">
                        <input name="RaceCertificate" id="RaceCertificate" type="file" class="form-control" data-error-msg="Please upload Race Certificate">
                        <label class="RaceCertificate_error"></label>
                    </div>
                </div>

                <div class="custom_fieldset" id="prevmdetails" style="display: none;">
                    <div class="form-group row">
                        <label for="" class="col-sm-4">Details of the last Full Marathon/ Half Marathon</label>
                        <div class="col-sm-8">
                            <input name="last_marathon_details" id="last_marathon_details" type="text" class="form-control" value="" placeholder="Details of the last Full Marathon/ Half Marathon" data-error-msg="Please fill your details of last Marathon">
                            <label></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4">Race Date</label>
                        <div class="col-sm-8">
                            <input name="last_marathon_race_date" id="last_marathon_race_date" type="date" class="form-control" value="" placeholder="Race Date" data-error-msg="Race Date">
                            <label></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4">Race Name</label>
                        <div class="col-sm-8">
                            <input name="last_marathon_race_name" id="last_marathon_race_name" type="text" class="form-control" value="" placeholder="Race Name" data-error-msg="Race Name">
                            <label></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4">Upload Your Timing Certificate (10 MB)</label>
                        <div class="col-sm-8">
                            <input name="file2" id="file2" type="file" class="form-control" placeholder="Upload Your Timing Certificate (10 MB)" data-error-msg="Upload Your Timing Certificate (10 MB)">
                            <label></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <input type="button" name="next" id="first_btn" class="next_btn btn" value="Next">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="third row">
            <div class="col-sm-12">
                <h6>Step 3: Address Information</h6>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Country :</label>
                    <div class="col-sm-8">
                        <select name="Country" id="country_info" class="form-control validated" data-error-msg="Please select your Country">
                            <option value="Afghanistan" india="">Afghanistan</option>
                            <option value="Albania" india="">Albania</option>
                            <option value="Algeria" india="">Algeria</option>
                            <option value="American Samoa" india="">American Samoa</option>
                            <option value="Andorra" india="">Andorra</option>
                            <option value="Angola" india="">Angola</option>
                            <option value="Anguilla" india="">Anguilla</option>
                            <option value="Antarctica" india="">Antarctica</option>
                            <option value="Antigua and Barbuda" india="">Antigua and Barbuda</option>
                            <option value="Argentina" india="">Argentina</option>
                            <option value="Armenia" india="">Armenia</option>
                            <option value="Aruba" india="">Aruba</option>
                            <option value="Australia" india="">Australia</option>
                            <option value="Austria" india="">Austria</option>
                            <option value="Azerbaijan" india="">Azerbaijan</option>
                            <option value="Bahamas" india="">Bahamas</option>
                            <option value="Bahrain" india="">Bahrain</option>
                            <option value="Bangladesh" india="">Bangladesh</option>
                            <option value="Barbados" india="">Barbados</option>
                            <option value="Belarus" india="">Belarus</option>
                            <option value="Belgium" india="">Belgium</option>
                            <option value="Belize" india="">Belize</option>
                            <option value="Benin" india="">Benin</option>
                            <option value="Bermuda" india="">Bermuda</option>
                            <option value="Bhutan" india="">Bhutan</option>
                            <option value="Bolivia" india="">Bolivia</option>
                            <option value="Bosnia and Herzegowina" india="">Bosnia and Herzegowina</option>
                            <option value="Botswana" india="">Botswana</option>
                            <option value="Bouvet Island" india="">Bouvet Island</option>
                            <option value="Brazil" india="">Brazil</option>
                            <option value="British Indian Ocean Territory" india="">British Indian Ocean Territory</option>
                            <option value="Brunei Darussalam" india="">Brunei Darussalam</option>
                            <option value="Bulgaria" india="">Bulgaria</option>
                            <option value="Burkina Faso" india="">Burkina Faso</option>
                            <option value="Burundi" india="">Burundi</option>
                            <option value="Cambodia" india="">Cambodia</option>
                            <option value="Cameroon" india="">Cameroon</option>
                            <option value="Canada" india="">Canada</option>
                            <option value="Cape Verde" india="">Cape Verde</option>
                            <option value="Cayman Islands" india="">Cayman Islands</option>
                            <option value="Central African Republic" india="">Central African Republic</option>
                            <option value="Chad" india="">Chad</option>
                            <option value="Chile" india="">Chile</option>
                            <option value="China" india="">China</option>
                            <option value="Christmas Island" india="">Christmas Island</option>
                            <option value="Cocos (Keeling) Islands" india="">Cocos (Keeling) Islands</option>
                            <option value="Colombia" india="">Colombia</option>
                            <option value="Comoros" india="">Comoros</option>
                            <option value="Congo" india="">Congo</option>
                            <option value="Congo, the Democratic Republic of the" india="">Congo, the Democratic Republic of the</option>
                            <option value="Cook Islands" india="">Cook Islands</option>
                            <option value="Costa Rica" india="">Costa Rica</option>
                            <option value="Cote d" ivoire'="" india="">Cote d'Ivoire</option>
                            <option value="Croatia (Hrvatska)" india="">Croatia (Hrvatska)</option>
                            <option value="Cuba" india="">Cuba</option>
                            <option value="Cyprus" india="">Cyprus</option>
                            <option value="Czech Republic" india="">Czech Republic</option>
                            <option value="Denmark" india="">Denmark</option>
                            <option value="Djibouti" india="">Djibouti</option>
                            <option value="Dominica" india="">Dominica</option>
                            <option value="Dominican Republic" india="">Dominican Republic</option>
                            <option value="East Timor" india="">East Timor</option>
                            <option value="Ecuador" india="">Ecuador</option>
                            <option value="Egypt" india="">Egypt</option>
                            <option value="El Salvador" india="">El Salvador</option>
                            <option value="Equatorial Guinea" india="">Equatorial Guinea</option>
                            <option value="Eritrea" india="">Eritrea</option>
                            <option value="Estonia" india="">Estonia</option>
                            <option value="Ethiopia" india="">Ethiopia</option>
                            <option value="Falkland Islands (Malvinas)" india="">Falkland Islands (Malvinas)</option>
                            <option value="Faroe Islands" india="">Faroe Islands</option>
                            <option value="Fiji" india="">Fiji</option>
                            <option value="Finland" india="">Finland</option>
                            <option value="France" india="">France</option>
                            <option value="France Metropolitan" india="">France Metropolitan</option>
                            <option value="French Guiana" india="">French Guiana</option>
                            <option value="French Polynesia" india="">French Polynesia</option>
                            <option value="French Southern Territories" india="">French Southern Territories</option>
                            <option value="Gabon" india="">Gabon</option>
                            <option value="Gambia" india="">Gambia</option>
                            <option value="Georgia" india="">Georgia</option>
                            <option value="Germany" india="">Germany</option>
                            <option value="Ghana" india="">Ghana</option>
                            <option value="Gibraltar" india="">Gibraltar</option>
                            <option value="Greece" india="">Greece</option>
                            <option value="Greenland" india="">Greenland</option>
                            <option value="Grenada" india="">Grenada</option>
                            <option value="Guadeloupe" india="">Guadeloupe</option>
                            <option value="Guam" india="">Guam</option>
                            <option value="Guatemala" india="">Guatemala</option>
                            <option value="Guinea" india="">Guinea</option>
                            <option value="Guinea-Bissau" india="">Guinea-Bissau</option>
                            <option value="Guyana" india="">Guyana</option>
                            <option value="Haiti" india="">Haiti</option>
                            <option value="Heard and Mc Donald Islands" india="">Heard and Mc Donald Islands</option>
                            <option value="Holy See (Vatican City State)" india="">Holy See (Vatican City State)</option>
                            <option value="Honduras" india="">Honduras</option>
                            <option value="Hong Kong" india="">Hong Kong</option>
                            <option value="Hungary" india="">Hungary</option>
                            <option value="Iceland" india="">Iceland</option>
                            <option selected value="India" india="">India</option>
                            <option value="Indonesia" india="">Indonesia</option>
                            <option value="Iran (Islamic Republic of)" india="">Iran (Islamic Republic of)</option>
                            <option value="Iraq" india="">Iraq</option>
                            <option value="Ireland" india="">Ireland</option>
                            <option value="Israel" india="">Israel</option>
                            <option value="Italy" india="">Italy</option>
                            <option value="Jamaica" india="">Jamaica</option>
                            <option value="Japan" india="">Japan</option>
                            <option value="Jordan" india="">Jordan</option>
                            <option value="Kazakhstan" india="">Kazakhstan</option>
                            <option value="Kenya" india="">Kenya</option>
                            <option value="Kiribati" india="">Kiribati</option>
                            <option value="Korea, Democratic People" s="" republic="" of'="" india="">Korea, Democratic People's Republic of</option>
                            <option value="Korea, Republic of" india="">Korea, Republic of</option>
                            <option value="Kuwait" india="">Kuwait</option>
                            <option value="Kyrgyzstan" india="">Kyrgyzstan</option>
                            <option value="Lao, People" s="" democratic="" republic'="" india="">Lao, People's Democratic Republic</option>
                            <option value="Latvia" india="">Latvia</option>
                            <option value="Lebanon" india="">Lebanon</option>
                            <option value="Lesotho" india="">Lesotho</option>
                            <option value="Liberia" india="">Liberia</option>
                            <option value="Libyan Arab Jamahiriya" india="">Libyan Arab Jamahiriya</option>
                            <option value="Liechtenstein" india="">Liechtenstein</option>
                            <option value="Lithuania" india="">Lithuania</option>
                            <option value="Luxembourg" india="">Luxembourg</option>
                            <option value="Macau" india="">Macau</option>
                            <option value="Macedonia, The Former Yugoslav Republic of" india="">Macedonia, The Former Yugoslav Republic of</option>
                            <option value="Madagascar" india="">Madagascar</option>
                            <option value="Malawi" india="">Malawi</option>
                            <option value="Malaysia" india="">Malaysia</option>
                            <option value="Maldives" india="">Maldives</option>
                            <option value="Mali" india="">Mali</option>
                            <option value="Malta" india="">Malta</option>
                            <option value="Marshall Islands" india="">Marshall Islands</option>
                            <option value="Martinique" india="">Martinique</option>
                            <option value="Mauritania" india="">Mauritania</option>
                            <option value="Mauritius" india="">Mauritius</option>
                            <option value="Mayotte" india="">Mayotte</option>
                            <option value="Mexico" india="">Mexico</option>
                            <option value="Micronesia, Federated States of" india="">Micronesia, Federated States of</option>
                            <option value="Moldova, Republic of" india="">Moldova, Republic of</option>
                            <option value="Monaco" india="">Monaco</option>
                            <option value="Mongolia" india="">Mongolia</option>
                            <option value="Montserrat" india="">Montserrat</option>
                            <option value="Morocco" india="">Morocco</option>
                            <option value="Mozambique" india="">Mozambique</option>
                            <option value="Myanmar" india="">Myanmar</option>
                            <option value="Namibia" india="">Namibia</option>
                            <option value="Nauru" india="">Nauru</option>
                            <option value="Nepal" india="">Nepal</option>
                            <option value="Netherlands" india="">Netherlands</option>
                            <option value="Netherlands Antilles" india="">Netherlands Antilles</option>
                            <option value="New Caledonia" india="">New Caledonia</option>
                            <option value="New Zealand" india="">New Zealand</option>
                            <option value="Nicaragua" india="">Nicaragua</option>
                            <option value="Niger" india="">Niger</option>
                            <option value="Nigeria" india="">Nigeria</option>
                            <option value="Niue" india="">Niue</option>
                            <option value="Norfolk Island" india="">Norfolk Island</option>
                            <option value="Northern Mariana Islands" india="">Northern Mariana Islands</option>
                            <option value="Norway" india="">Norway</option>
                            <option value="Oman" india="">Oman</option>
                            <option value="Pakistan" india="">Pakistan</option>
                            <option value="Palau" india="">Palau</option>
                            <option value="Panama" india="">Panama</option>
                            <option value="Papua New Guinea" india="">Papua New Guinea</option>
                            <option value="Paraguay" india="">Paraguay</option>
                            <option value="Peru" india="">Peru</option>
                            <option value="Philippines" india="">Philippines</option>
                            <option value="Pitcairn" india="">Pitcairn</option>
                            <option value="Poland" india="">Poland</option>
                            <option value="Portugal" india="">Portugal</option>
                            <option value="Puerto Rico" india="">Puerto Rico</option>
                            <option value="Qatar" india="">Qatar</option>
                            <option value="Reunion" india="">Reunion</option>
                            <option value="Romania" india="">Romania</option>
                            <option value="Russian Federation" india="">Russian Federation</option>
                            <option value="Rwanda" india="">Rwanda</option>
                            <option value="Saint Kitts and Nevis" india="">Saint Kitts and Nevis</option>
                            <option value="Saint Lucia" india="">Saint Lucia</option>
                            <option value="Saint Vincent and the Grenadines" india="">Saint Vincent and the Grenadines</option>
                            <option value="Samoa" india="">Samoa</option>
                            <option value="San Marino" india="">San Marino</option>
                            <option value="Sao Tome and Principe" india="">Sao Tome and Principe</option>
                            <option value="Saudi Arabia" india="">Saudi Arabia</option>
                            <option value="Senegal" india="">Senegal</option>
                            <option value="Seychelles" india="">Seychelles</option>
                            <option value="Sierra Leone" india="">Sierra Leone</option>
                            <option value="Singapore" india="">Singapore</option>
                            <option value="Slovakia (Slovak Republic)" india="">Slovakia (Slovak Republic)</option>
                            <option value="Slovenia" india="">Slovenia</option>
                            <option value="Solomon Islands" india="">Solomon Islands</option>
                            <option value="Somalia" india="">Somalia</option>
                            <option value="South Africa" india="">South Africa</option>
                            <option value="South Georgia and the South Sandwich Islands" india="">South Georgia and the South Sandwich Islands</option>
                            <option value="Spain" india="">Spain</option>
                            <option value="Sri Lanka" india="">Sri Lanka</option>
                            <option value="St. Helena" india="">St. Helena</option>
                            <option value="St. Pierre and Miquelon" india="">St. Pierre and Miquelon</option>
                            <option value="Sudan" india="">Sudan</option>
                            <option value="Suriname" india="">Suriname</option>
                            <option value="Svalbard and Jan Mayen Islands" india="">Svalbard and Jan Mayen Islands</option>
                            <option value="Swaziland" india="">Swaziland</option>
                            <option value="Sweden" india="">Sweden</option>
                            <option value="Switzerland" india="">Switzerland</option>
                            <option value="Syrian Arab Republic" india="">Syrian Arab Republic</option>
                            <option value="Taiwan, Province of China" india="">Taiwan, Province of China</option>
                            <option value="Tajikistan" india="">Tajikistan</option>
                            <option value="Tanzania, United Republic of" india="">Tanzania, United Republic of</option>
                            <option value="Thailand" india="">Thailand</option>
                            <option value="Togo" india="">Togo</option>
                            <option value="Tokelau" india="">Tokelau</option>
                            <option value="Tonga" india="">Tonga</option>
                            <option value="Trinidad and Tobago" india="">Trinidad and Tobago</option>
                            <option value="Tunisia" india="">Tunisia</option>
                            <option value="Turkey" india="">Turkey</option>
                            <option value="Turkmenistan" india="">Turkmenistan</option>
                            <option value="Turks and Caicos Islands" india="">Turks and Caicos Islands</option>
                            <option value="Tuvalu" india="">Tuvalu</option>
                            <option value="Uganda" india="">Uganda</option>
                            <option value="Ukraine" india="">Ukraine</option>
                            <option value="United Arab Emirates" india="">United Arab Emirates</option>
                            <option value="United Kingdom" india="">United Kingdom</option>
                            <option value="United States" india="">United States</option>
                            <option value="United States Minor Outlying Islands" india="">United States Minor Outlying Islands</option>
                            <option value="Uruguay" india="">Uruguay</option>
                            <option value="Uzbekistan" india="">Uzbekistan</option>
                            <option value="Vanuatu" india="">Vanuatu</option>
                            <option value="Venezuela" india="">Venezuela</option>
                            <option value="Vietnam" india="">Vietnam</option>
                            <option value="Virgin Islands (British)" india="">Virgin Islands (British)</option>
                            <option value="Virgin Islands (U.S.)" india="">Virgin Islands (U.S.)</option>
                            <option value="Wallis and Futuna Islands" india="">Wallis and Futuna Islands</option>
                            <option value="Western Sahara" india="">Western Sahara</option>
                            <option value="Yemen" india="">Yemen</option>
                            <option value="Yugoslavia" india="">Yugoslavia</option>
                            <option value="Zambia" india="">Zambia</option>
                            <option value="Zimbabwe" india="">Zimbabwe</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">State :</label>
                    <div class="col-sm-8">

                        <input name="State" id="state_info" type="text" class="form-control validated" value="" placeholder="Please enter your State">

                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">City :</label>
                    <div class="col-sm-8">

                        <input name="City" id="city_info" type="text" class="form-control validated" value="" placeholder="Please enter your City">

                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Address :</label>
                    <div class="col-sm-8">
                        <textarea name="Address" id="address" class="form-control validated" placeholder="Address" data-error-msg="Please fill your Address"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Pin Code :</label>
                    <div class="col-sm-8">
                        <input name="Pincode" id="pincode" type="number" class="form-control validated" value="" placeholder="Pin Code" data-error-msg="Please select your Pincode">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <input type="button" name="prev" class="prev_btn btn" id="second-prev" value="Previous">
                        <input type="button" name="next" class="next_btn btn" id="second-next" value="Next">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="four row">
            <div class="col-sm-12">
                <h6>Step 4: Personal Information</h6>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Emergency Contact Name :</label>
                    <div class="col-sm-8">
                        <input name="EmergencyContactName" id="emergency_contact_name" type="text" class="form-control validated" value="" placeholder="Emergency Contact Name" data-error-msg="Please fill your Emergency Contact Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Emergency Contact Relationship :</label>
                    <div class="col-sm-8">
                        <input name="EmergencyContactRelationship" id="emergency_contact_relationship" type="text" class="form-control validated" value="" placeholder="Emergency Contact Relationship" data-error-msg="Please fill your Emergency Contact Relationship">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Emergency Contact Number :</label>
                    <div class="col-sm-8">
                        <input name="EmergencyContactNumber" id="emergency_contact_number" onkeyup="check('emergency_contact_number')" type="number" class="form-control validated" value="" placeholder="Emergency Contact Number" data-error-msg="Please fill your Emergency Contact Number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Blood Group :</label>
                    <div class="col-sm-8">
                        <select name="BloodGroup" id="blood_group" class="form-control" data-error-msg="Please Select your Blood Group">
                            <option value="">Select One</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="Dont Know">Don't Know</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Chronic illness :</label>
                    <div class="col-sm-8">
                        <select name="ChronicIllness" id="chronic_illness" class="form-control" data-error-msg="Please Enter your Chronic illness">
                            <option value="">Select One</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        @*<input type="text" name="ChronicIllness" id="chronic_illness" class="form-control" placeholder="Chronic Illness" data-error-msg="Please Enter your Chronic illness">*@

                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Heart Ailment :</label>
                    <div class="col-sm-8">
                        <select name="HeartAilment" id="heart_ailment" class="form-control" data-error-msg="Please mention your Heart Ailment">
                            <option value="">Select One</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        @*<input name="HeartAilment" id="heart_ailment" type="text" class="form-control" value="" placeholder="Heart Ailment" data-error-msg="Please mention your Heart Ailment">*@
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Any fainting episodes in past :</label>
                    <div class="col-sm-8">
                        <select name="AnyFaintingEpisodesinPast" id="fainting_episodes" class="form-control" data-error-msg="">
                            <option value="">Select One</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        @*<input name="AnyFaintingEpisodesinPast" id="fainting_episodes" type="text" class="form-control" value="" placeholder="Any fainting episodes in past" data-error-msg="">*@
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Any other ailment :</label>
                    <div class="col-sm-8">
                        <select name="AnyOtherAilment" id="other_ailment" class="form-control" data-error-msg="">
                            <option value="">Select One</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                            @*<input name="AnyOtherAilment" id="other_ailment" type="text" class="form-control" value="" placeholder="Any other ailment" data-error-msg="">*@
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4">Any known allergies :</label>
                    <div class="col-sm-8">
                        <input name="AnyKnownAllergies" id="allergies" type="text" class="form-control" value="" placeholder="Any known allergies" data-error-msg="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4"></label>
                    <div class="col-sm-8">
                        <input name="agree" type="checkbox" id="disclaimer" data-error-msg="You must check this checkbox"> I agree to the <a href="/Terms of Use">Terms and Conditions</a>
                        <input type="hidden" name="RaceDistance" id="raceDistance" value="">
                        <input type="hidden" name="RaceAmount" id="raceAmount" value="">
                        <input type="hidden" name="Rstat" id="rstat" value="">
                        <input type="hidden" name="EmailDomain" id="EmailDomain" value="">
                        <input type="hidden" name="EmployeeIDSource" id="EmployeeIDSource" value="">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <input type="button" name="prev" class="prev_btn btn" id="third-prev" value="Previous">
                        <input name="submit_form" type="submit" class="submit_btn btn" id="btnRegistrationSubmit" value="Submit">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
}
@Html.Partial("PartialFamilyMarathonRegistration")