
<div class="pageheading media-page-heading scroll-main">
    <div class="container flex">
        <ul class="beforescew related-links scroll-links">
                        <li><a href="#VirtualRun" class="active">Select Your Virtual Run</a></li>
               <li> <a href="#WelcomeRunner">Welcome Runner</a></li>
               <li> <a href="#donationUserImage">Encouarge to donate</a></li>
               <li> <a href="#InviteFriends">Invite Friends and Family</a></li>
                </ul>

    </div>
</div>
<div class="pageContent" style="/* text-align: center; */font-weight: 600;margin-top: 120px;max-width: 1200px;background: #fdfdfd;padding: 1.5rem;margin-left: auto;margin-right: auto;border: 1px solid #ccc;border-radius: 3px;margin-bottom: 25px;">
<section class="get-ready-page-grid platform-content">
<div class="container" id="VirtualRun">
    <h1>Select your Virtual Running Platform</h1>
<h3>App Based Running Platform </h3>
<ul>
<li><span>1. </span>App based running platform will be available for the runners who want to participate in the Live event on 29th November 2020 (Sunday) and wish to run with the Mobile Phone.</li>
<li><span>2. </span>Runners can virtually participate from any part of the world and distance of the race will be tracked only through AAM official mobile application.</li>
<li><span>3. </span>Further communication about how to use the app will be sent separately after you select the platform. </li>
</ul>
<h3>Wearable based running platform</h3>
<ul>
<li><span>4.</span>      Runners who owns Garmin, Polar, Sunnto gadgets can participate using wearable running platform</li>
<li><span>5.</span>      Wearable devices other than Garmin, Polar &amp; Sunnto will not be eligible for the race</li>
<li><span>6.</span>      Wearable platform allows you to complete your run anytime between 28th Nov, 5:00am to 29th Nov 11:59pm.</li>
<li><span>7.</span>      Runners can virtually participate from any part of the world and distance of the race will be tracked only through the AAM official mobile application.</li>
<li><span>8.</span>      Further communication about how to use the app will be sent separately after you select the platform.</li>
</ul>
    <h3>Important Note: </h3><ul>
<li><span>9.</span>      Platform once selected cannot be changed</li>
<li><span>10.</span>   Detailed guideline will be sent to all participants after submitting the platform selection</li>
<li><span>11.</span>   Write to <a href="mailTo:AhmdMarathon@gmail.com">AhmdMarathon@gmail.com</a> for any query </li>
</ul>



    <h3>Select Your Run Tracking Options</h3>
	<div>
                            <form method="post" >
                                @Html.AntiForgeryToken()
								<h4><label style="margin-top: 15px;margin-bottom: 15px;"><input type="radio" name="select_option" value="MobileApplication"> Mobile Application </label> </h4>
								<h4><label style="margin-top: 15px;margin-bottom: 15px;"><input type="radio" name="select_option" value="WearablesDevices"> Wearables Devices </label></h4>
								<input type="submit" name="btnTrainingOpnRegister" id="btnTrainingOpnRegister" class="next_btn btn" value="Submit" style="margin-left:20px;margin-top: 25px;" />

                            </form>
                         </div>
</div>
</section>
 </div>