<section class="new_user-registration">
<div class="container">
<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>Personal Information</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>Address Information</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Medical Information</p>
      </div>
    </div>
  </div>
  
  <form role="form" action="" method="post">
    <div class="setup-content" id="step-1">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group mb-3">
				<label for="" class="d-block">Run Mode</label>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
				  <label class="form-check-label" for="inlineRadio1">Physical Run<span class="fa fa-info-circle ml-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Description"></span></label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
				  <label class="form-check-label" for="inlineRadio2">Remote Run<span class="fa fa-info-circle ml-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Description"></span></label>
				</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Date of Birth</label>
					<input type="text" class="form-control" id="" aria-describedby="" placeholder="Date Of Birth(DD/MM/YYYY)">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Distance</label>
					<select class="form-control" id="">
					  <option>..</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Run Date</label>
					<select class="form-control" id="">
					  <option>..</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Time Slot</label>
					<select class="form-control" id="">
					  <option>..</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
				<label for="" class="d-block">Are you Vaccinated?</label>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
				  <label class="form-check-label" for="inlineRadio1">Yes<span class="fa fa-info-circle ml-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Description"></span></label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
				  <label class="form-check-label" for="inlineRadio2">No<span class="fa fa-info-circle ml-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Description"></span></label>
				</div>
				<input type="file" class="form-control-file mt-3" id="exampleFormControlFile1">
				</div>
			</div>
			<div class="col-md-6 min-110">
				<div class="form-group mb-3">
					<label for="">Reference Code (Optional)</label>
					<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">First Name</label>
					<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Last Name</label>
					<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Email</label>
					<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Phone</label>
					<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Nationality</label>
					<select class="form-control" id="">
					  <option>..</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Gender</label>
					<select class="form-control" id="">
					  <option>..</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">T-Shirt Size</label>
					<select class="form-control" id="">
					  <option>..</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">Are you Defence Personnel?</label>
					<select class="form-control" id="">
					  <option>..</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="">ID Proof</label>
					<select class="form-control" id="">
					  <option>..</option>
					</select>
					<input type="file" class="form-control-file mt-3" id="">
				  </div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="">ID Proof No</label>
					<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
				</div>
			</div>
			<div class="col-lg-12 text-right">
				<input name="" id="" type="button" class="btn btn-submit nextBtn btn-lg pull-right" value="Next Step">
			</div>
		</div>  
    </div>
    <div class="setup-content" id="step-2">
      <div class="row">
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Country</label>
				<select class="form-control" id="">
				  <option>..</option>
				</select>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Pincode</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">State</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">City</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group mb-3">
				<label for="">Address</label>
				<textarea class="form-control" id="" rows="3"></textarea>
			</div>
		</div>
		<div class="col-md-12 text-right">
			<button class="btn prevBtn" type="button"><span class="fa fa-angle-left mr-3"></span> Back</button>
			<input name="" id="" type="button" class="btn btn-submit nextBtn btn-lg pull-right" value="Next Step">
		</div>
      </div>
    </div>
    <div class="setup-content" id="step-3">
      <div class="row">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Emergency Contact Number</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Emergency Contact Relation</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Emergency Contact Name</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Blood Group</label>
				<select class="form-control" id="">
				  <option>..</option>
				</select>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Chronic Illness</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Heart Ailment</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Any Fainting episodes in past</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Any other ailment</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group mb-3">
				<label for="">Any known allegies</label>
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="">
			</div>
		</div>
<div class="col-md-12">
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I agree to the <a href="#">Terms & Conditions</a></label>
  </div>
</div>        
<div class="col-md-12 text-right">
          <button class="btn prevBtn" type="submit"><span class="fa fa-angle-left mr-3"></span> Back</button>
			<input name="" id="" type="submit" class="btn btn-submit" value="Next Step">
        </div>
      </div>      
</div>
    </div>
  </form>
  
</div></section>