@using Sitecore.Mvc.Configuration

@model IEnumerable<Sitecore.Marathon.Website.Models.Donate>

@{

    WebGrid grid = new WebGrid(Model);
}

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "donation_forms", name = "donation_forms", @class = "row donation_forms", style = "display:block", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class=" text-center d-none" id="donationUserImage" style=" position: relative; ">
<div class="download_section d-none"> <a id="downloadImg" class="download_img" href="" title="Download Images" download style=" color: #fff !important; "><i class="fa fa-download" style=" "></i> Download Image</a>
<img src="" class="img-responsive" style="display: block;margin-right: auto;margin-left: auto;margin-bottom: 30px;width: 70%;"></div> </div>
    <div class="row total_funds d-none">
        <div class="col-lg-8">
            <h3>Your contribution towards the welfare of the Indian Armed Forces</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus sem a laoreet bibendum. Ut feugiat at neque sed sagittis. In ut lorem non lacus egestas viverra ac id ante.</p>-->
        </div>
        <div class="col-lg-4">
            <h4>Total Funds Raised</h4>

            <p class="totalFund"><span>₹ </span>@ViewBag.Message</p>

        </div>


    </div>
    <div class="row bg-gray" style=" margin-bottom: 20px;" id="encourageothers">
        <div class="col-lg-5">
            <h5>Encouarge others to donate.</h5>
            <input type="hidden" id="affiliatecode" />
        </div>
        <div class="col-lg-7">
            <ul class="social_share">
                <li><a data-toggle="tooltip" target="_blank" data-placement="right" title="Share on twitter" class="addthis_button_twitter TW-like twitterShareTop"><em class="fab fa-twitter"></em></a></li>
                <li><a data-toggle="tooltip" target="_blank" data-placement="right" title="Share on Facebook" class="addthis_button_facebook FB-like facebookShareTop"><em class="fab fa-facebook-square"></em></a></li>
                <li><a data-toggle="tooltip" target="_blank" data-placement="right" title="Share on Linkedin" class="addthis_button_linkedin IN-like linkedinShareTop"><em class="fab fa-linkedin"></em></a></li>

            </ul>
        </div>

    </div>

    <div class="table-responsive tbldiv" id="gridtable">
        @grid.GetHtml(columns: new[]

      {

          grid.Column("Name"),
          grid.Column("AffiliateCode"),
          grid.Column("EmailId"),
         grid.Column("Amount"),




      }
      )
    </div>
}

<script type="text/javascript">
$(document).ready(function (){
    if ('@ViewBag.Message' != "")
    {
    $('donation_forms #encourageothers').hide();
    $(' donation_forms #gridtable').hide();
    }
else
{
$('donation_forms #encourageothers').show();
$(' donation_forms #gridtable').show();
}
});
</script>
