<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<federatedAuthentication>
			<identityProviders>
				<identityProvider id="AzureAD" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
					<param desc="name">$(id)</param>
					<param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
					<caption>Login with Azure Active Directory</caption>
					<domain>sitecore</domain>
					<icon>/sitecore/shell/themes/standard/Custom/24x24/msazure.png</icon>
					<transformations hint="list:AddTransformation">
						<transformation name="Idp Claim" type="Sitecore.Owin.Authentication.Services.SetIdpClaimTransform, Sitecore.Owin.Authentication" />

						<transformation type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="groups" value="15d07217-eabb-4a88-b1fd-e5339b0e07dd" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\AzureAD" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
					</transformations>
				</identityProvider>
			</identityProviders>
			<identityProvidersPerSites>
				<mapEntry name="AzureAD" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
					<sites hint="list">
						<site>shell</site>
						<site>login</site>
						<site>admin</site>
						<site>service</site>
						<site>modules_shell</site>
						<site>modules_website</site>
						<site>website</site>
						<site>scheduler</site>
						<site>system</site>
						<site>publisher</site>
					</sites>
					<identityProviders hint="list:AddIdentityProvider">
						<identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='AzureAD']" />
					</identityProviders>
					<externalUserBuilder type="SitecoreAzureADIntegrationApp.Pipelines.AzureAd.ExternalUserBuilder, SitecoreAzureADIntegrationApp" resolve="true">
						<IsPersistentUser>true</IsPersistentUser>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>
			<propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
				<maps hint="list">
					<map name="azureadmin" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
						<data hint="raw:AddData">
							<source name="idp" value="AzureAD" />
							<target name="IsAdministrator" value="false" />
						</data>
					</map>
					<map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
						<data hint="raw:AddData">
							<!--claim name-->
							<source name="preferred_username" />
							<!--property name-->
							<target name="Email" />
						</data>
					</map>
					<map name="Name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
						<data hint="raw:AddData">
							<!--claim name-->
							<source name="name" />
							<!--property name-->
							<target name="Fullname" />
						</data>
					</map>
					<map name="comment claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
						<data hint="raw:AddData">
							<!--claim name-->
							<source name="idp" />
							<!--property name-->
							<target name="Comment" />
						</data>
					</map>
				</maps>
			</propertyInitializer>
		</federatedAuthentication>
	</sitecore>
</configuration>