@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<section class="bg-white py-5">
    <div class="container">
		<div class="text_container">
            <h2>@element.Name</h2>
            <ul class="row">
                @foreach(Sitecore.Data.Items.Item item in element.GetChildren())
                {
                    Sitecore.Data.Fields.LinkField itemslinkvalues = item.Fields["LinkUrl"];
                    var itemslinks = itemslinkvalues.GetFriendlyUrl();
                    <li class="pl-3 pt-3">
                        <i class="fa fa-link" aria-hidden="true"> </i><a href="@itemslinks" target="_blank">  @item.Fields["Title"]</a>
                    </li>
                }
            </div>
        </div>
    </div>
</section>