@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{

    var contextItem = Sitecore.Context.Item;
}

<section class="position-relative bg-white">
<div class="container">

@Html.Sitecore().Placeholder("career-form")

</div>
</section>