@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<section class="position-relative bg-white section_padding">
		<div class="container">
			<div class="text_container mb-4">
                  <h2 id="subsideri">@Html.Sitecore().Field("Title", element)</h2>
                    @Html.Sitecore().Field("Body", element)
            </div>
        </div>
</section>