@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{

    var contextItem = Sitecore.Context.Item;

}
<section class="section_padding bg-gray">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 mb-lg-0 mb-4 address-section">
                <h1 class="contactUsHeading">Contact Us</h1>
                <h5 class="mb-3 mt-3"><strong>DLTPL Terminal Address :</strong></h5>
                <div class="mb-3 medium">Dhamra LNG Terminal Private Limited<br>C/o. Dhamra Port Company Limited, <br> Dosinga Village, Dhamra Post, <br>  Bhadrak Dist., Odisha - 756171, India.</div>
                <h5 class="mb-3 mt-3"><strong>Registered Address :</strong></h5>
                <div class="mb-3 medium">Dhamra LNG Terminal Private Limited <br>Adani Corporate House,<br> Shantigram, Ahmedabad,<br> Gujarat 382421, India.</div>
                <h5 class="mb-0"><strong>Mail</strong></h5>
                <div class="mb-3 medium"><a href="mailto:info@adani-total.in">info@adani-total.in</a></div>
                <h5 class="mb-0"><strong>Linkedin</strong></h5>
                <div class="mb-3 medium"><a href="https://www.linkedin.com/company/adani-total-pvt-limited/">https://www.linkedin.com/company/adani-total-pvt-limited/</a></div>
            </div>
            <div class="col-lg-6">
                <h3 class="section-subheading pl-4 mb-4">Write to us</h3>
                <div class="pl-4 form-section">
                    @Html.Sitecore().Placeholder("contact-form")
                </div>
            </div>
        </div>
    </div>
</section>