@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@{

    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/DTPL/", "");
    var path = ContentPath.Replace("/DTPL/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "cssclass").FirstOrDefault().Value;
    if (string.IsNullOrEmpty(paramid))
    {
        paramid = "breadcrumb-sub-layout bg-gray py-5";
    }
    var i = 0;
}


<section class="breadcrumb-sl-inner">
    <div class="container">
       
           
                <ul>
                    @for (i = 0; i < pathArr.Count() - 1; i++)
                    {
                        navPath = navPath + pathArr[i];


                        <li><a href="@navPath">@pathArr[i]</a></li>
                        navPath = navPath + "/";
                    }
                
                <li>@pathArr[pathArr.Count() - 1].Replace("-", " ")</li>

        </ul>
    </div>
</section><!-- /breadcrumb -->