
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Website.Helper
@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var ImageItem = Sitecore.Context.Database.Items.GetItem("{C7519968-78A9-4C5B-BDEF-F857582FE019}");
    var itemurls = Helper.LinkUrl(element.Fields["LinkUrl"]);
    var i = 1;

}

<section class="map_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="map_section--content">
                    <div class="row mb-3 no-gutters">
                        <div class="col-md-8 order-md-1 order-2">
                            <div class="text_container">
                                <h1 class="seoHeading">@Html.Sitecore().Field("Title", element)</h1>
                            </div>
                        </div>
                        <div class="col-md-4 text-lg-right text-left order-md-2 order-1 mb-md-0 mb-3"><img src="images/logo-dhamra.png" class="img-fluid"></div>
                    </div>
                    @Html.Sitecore().Field("Body", element)
                </div>
            </div>
            <div class="col-lg-5">
                <div class="video_section" data-toggle="modal" data-target="#about-video">
                    @Html.Sitecore().Field("Image", element)
                </div>
                <!-- Modal -->
                <div class="modal fade video_modal" id="about-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <!-- <div class='embed-container'><iframe src='https://www.youtube.com/embed/QILiHiTD3u' frameborder='0' allowfullscreen></iframe></div>-->
                                <div class='embed-container'><iframe src='@itemurls' data-src='@itemurls' frameborder='0' allowfullscreen='' id='v-3'></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="map_section--thumb"> -->
                <!-- @Html.Sitecore().Field("Image", element) -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</section><!--/section-->