@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<section class="bg-white chairman-blocks">
    <div class="container">
        <div class="text_container">
            <h2>Message from Shareholders</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 my-3 pr-lg-4">
                <a class="bg-blue d-block h-100 chairman-box boxzoom" href="">
                    <div class="p-4 row h-100">
                        <div class="col-md-8 mb-3">
                            <h3 class="mb-3 d-none">Chairman's Message</h3>
                            <h4 class="txt-sm mb-4">
                                The collaboration enables us to associate with TotalEnergies century-old legacy, global presence, scale and unparalleled go-to-market expertise. The global synergy between the two groups presents widespread benefits and long-term value for the economy and the people of India.
                            </h4>
                            <p class="signature">Mr. Gautam Adani<span>Chairman, Adani Group</span></p>

                        </div>
                        <div class="col-md-4"><img src="-/media/48E01DA184C7472B976E870812D384C6.ashx" class="img-fluid" alt="" disablewebedit="False"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 my-3 pr-lg-4">
                <a class="bg-green boxzoom chairman-box d-block h-100" href="">
                    <div class="p-4 row h-100">
                        <div class="col-md-8 mb-3">
                            <h3 class="mb-3 d-none">Chairman's Message</h3>
                            <h4 class="txt-sm mb-4">India's energy consumption will grow among the fastest of all major economies in the world over the next decade. The partnership between Total and the private Adani Group illustrates our joint commitment to assisting India to diversify its energy mix and to ensure a supply of reliable, affordable and clean energy to consumers.</h4>
                            <p class="signature">Mr. Patrick Pouyanne<span>Chairman, TotalEnergies</span></p>
                        </div>
                        <div class="col-md-4">
                            <img src="-/media/523A62B3AAB2455F975F012350099C07.ashx" class="img-fluid" alt="" disablewebedit="False">
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6  my-3 pr-lg-4">
                <a class="bg-green d-block h-100 chairman-box boxzoom" href="">
                    <div class="p-4 row h-100">
                        <div class="col-md-8 mb-3">
                            <h3 class="mb-3 d-none"></h3>
                            <h4 class="txt-sm mb-4">
                                India has achieved the much-desired objective of an integrated national gas grid with LNG receiving terminals on the west and east coasts to meet the demands of the growing gas market in the country. Strategically, this project is also expected to connect with and supply to Bangladesh's western sector, linking the gas markets of both countries.
                            </h4>
                            <p class="signature">Mr. Karan Adani<span>CEO and Whole-time Director</span><span>Adani Ports & SEZ Limited</span></p>
                        </div>
                        <div class="col-md-4"><img src="-/media/1FBDBF2ACB654217897EBE8ECB4D4D40.ashx" class="img-fluid" alt="" disablewebedit="False"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6  my-3 pr-lg-4">
                <a class="bg-blue boxzoom chairman-box d-block h-100" href="">
                    <div class="p-4 row h-100">
                        <div class="col-md-8 mb-3">
                            <h3 class="mb-3 d-none"></h3>
                            <h4 class="txt-sm mb-4">With the start of Dhamra LNG terminal, we are pleased to have completed the first delivery of LNG to the new Dhamra LNG terminal with a cargo from Qatargas, our long-standing strategic partner. This new LNG terminal will contribute to India's security of energy supply and is in line with TotalEnergies' ambition to support India's energy transition and its goal of increasing the share of natural gas to 15% of its energy mix by 2030.</h4>
                            <p class="signature">Thomas Maurisse<span>Senior Vice President LNG</span><span>TotalEnergies</span></p>
                        </div>
                        <div class="col-md-4">
                            <img src="-/media/4908CF971959403AA182D857333A44EC.ashx" class="img-fluid" alt="" disablewebedit="False">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>