@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-ExtraLight.woff') format('woff'),
        url('../webfonts/Adani-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Medium.woff') format('woff'),
        url('../webfonts/Adani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular.woff') format('woff'),
        url('../webfonts/Adani-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular_1.woff') format('woff'),
        url('../webfonts/Adani-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Light.woff') format('woff'),
        url('../webfonts/Adani-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Bold.woff') format('woff'),
        url('../webfonts/Adani-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-SemiBold.woff') format('woff'),
        url('../webfonts/Adani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html, body{
	margin:0px;
	padding:0px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	position:relative;
	font-family: 'Adani-Regular';
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size:16px;
	background-color:#f1f1f1;

}
main{}
h1, h2, h3, h4, h5, h6, ul, li, p, header, aside, footer, section, article, nav, field, label, figcaption, figure, hgroup, input, textarea {
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
}
p{font-size: 16px;}
a{color:#179E96;}
a:link, a:visited {
	text-decoration:none;
}
/* Customized default classes of bootstrap per Adani theme */
.alert{border-radius:0;}
.alert-danger{color:#000;border-color:#e7e7e7;}
.form-control{border-radius:0;padding:.25rem .75rem;font-size: 14px;}
.form-check-label{padding-left:3px;}
.form-check-input{width:16px;height:16px;margin-top:4px;}
select.form-control:not([size]):not([multiple]) {
    height: calc(1.80rem + 2px);
}
.col-form-label {
    padding-top: calc(0.15rem + 1px);
	padding-bottom: calc(.15rem + 1px);
}
.btn{
	border-radius: 5px;
	padding: .6rem 1.2rem;
	font-size: 1rem;
	line-height: 1.31;
}
.btn-primary {
    color: #fff !important;
    background-color: #2c6cb4;
    border-color: #2c6cb4;
}
.btn-primary:hover , .btn-primary:active{
    background-color: #079e95;
    border-color: #079e95;
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.11)!important;
    top: -3px;
    transition: ease all 0.5s;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
     background-color:#079e95;
    border-color: #079e95;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
	background: #2c6cb4;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
}
.btn-secondary {
    color: #fff !important;
    background-color: #525252;
    border-color: #525252;
}
.btn-purple{background:#913e86;color:#fff;border-color:#913e86;}
.btn-purple:hover, .btn-purple:active, .btn-purple:focus{background:#874298;color:#fff;}
.btn-bordered{padding:0.3rem 1.5rem;background:none;border:1px solid #2CA33C;color:#2CA33C;font-size:1.3rem;display:inline-block;}
.btn-bordered:hover{background:#2CA33C;color:#fff;}
.btn-bordered.focus, .btn-bordered:focus {
    box-shadow: 0 0 0 0.1rem rgba(26,114,127,.7);
}
.btn-gradient{background: rgb(45,115,174);background: linear-gradient(90deg, rgba(45,115,174,1) 0%, rgba(29,151,152,1) 89%);color:#fff;transition:ease all 0.4s;}
.btn-gradient:hover{background: rgb(45,115,174);background: linear-gradient(90deg, rgba(45,115,174,1) 0%, rgba(29,151,152,1) 0%);transition:ease all 0.4s;color:#fff}
.main-banner{position:relative;}
.main-banner .banner_content{left: 0%; top: 50%; -webkit-transform: translate(0%, -50%); transform: translate(0%, -50%); position: absolute; width: 100%; text-align: center;padding:0rem 2rem;}
.main-banner .banner_content h1{margin-bottom:1.5rem;font-size: 2rem; font-weight: 700; color: #fff; text-shadow: 0px 0px 11px #000, 0px 0px 31px #000;}

.main_content{}
.main_content h3{color: #2d73ae; font-weight: 500; font-size: 1.75rem; margin-bottom: 0.5rem;}
.main_content p{}

footer{}
footer p{font-size: 14px; color: #000; font-weight: 400;}

/*Gallery*/
.grid_gallery{}
.grid_gallery a:hover{background:#000;}
.grid_gallery a > div{position: relative;height: 100%;overflow: hidden;}
/* .grid_gallery a > div:before{content:"\f06e";font:normal normal normal 14px/1 FontAwesome; font-weight: 900;font-weight: 900; top: 0%; right: 0px; background: #fff; position: absolute; font-size: 0.8rem; color: #2d73ae; transition: ease all 0.5s; opacity: 0.6; z-index: 1; border: 1px solid #ccc; padding: 0.5rem 0.5rem;} */
/* .grid_gallery a:hover > div:before{transition: ease all 0.5s;} */
.grid_gallery a img{opacity:1;transition: ease all 0.5s;height: 100%; object-fit: cover;transform: scale(1);}
.grid_gallery a:hover img{opacity:0.8;transition: ease all 0.5s;transform: scale(1.03);}
.grid_gallery h2{color: #2d73ae; font-weight: 500; font-size: 1.75rem; margin-bottom: 0.5rem;}
.grid_gallery a{display: block; height: 100%;max-height: 180px;margin-bottom: 0.2rem;}

/*Inner breadcrumb*/
.breadcrumb-slider{position:relative;background:#000;}
.breadcrumb-slider img{opacity:0.8;width:100%;}
.breadcrumb-sl-inner{position: relative;width: 100%;z-index: 9;top: 0px;background: #F6F6F3; padding: 10px 0px;box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);}
.breadcrumb-sl-inner_contact{background: #efefef; box-shadow: 0px 0px 0px 0px #fff;}
.breadcrumb-sl-inner ul{}
.breadcrumb-sl-inner ul li{color: #000;display: inline-block;}
.breadcrumb-sl-inner ul li:nth-last-child(1):after{content:" "}
.breadcrumb-sl-inner ul li:after{content:"\f101";padding:0px 10px;display: inline-block; position:relative;font-family: 'Font Awesome 5 Free';font-weight: 900;color: #000;}
.breadcrumb-sl-inner ul li a:hover{color: #4e4e4e;text-decoration: underline;}
.breadcrumb-sl-inner ul li a{color: #000;text-transform: capitalize;}

@media (max-width: 991px){
.main_content h3{font-size: 1.25rem;}	
.main_content p{font-size: 0.9rem;}	
}
@media (max-width: 767px){
	.main-banner .banner_content h1{font-weight: 500; font-size: 1.5rem;}
	.grid_gallery a{max-height: 100%;}
}

