@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="alert_wrap">
        <div class="container">
            <div class="alert d-flex" role="alert">
                <i class="icon-alrt i-alert"></i>
                <div>
                    <div class="d-flex align-items-center">
                        <h5>@Html.Sitecore().Field("Title", currentItem)</h5>
                        <span class="black_link know-btn"><a href="#">@Sitecore.Globalization.Translate.Text("Read More")</a></span>
                    </div>
                    <p>
                        @Html.Sitecore().Field("Description", currentItem)
                    </p>
                </div>
            </div>
        </div>
    </div>
}
