@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Image"]);
    string imageUrl = imgField != null && imgField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem) : "";

}

@if (currentItem != null)
{
    <div class="ground-transportaion pt-top">
        <div class="container">
            <div class="contentBox d-flex align-items-center">
                <div class="heading-wrap">
                    <h3 class="main_heading">@Html.Sitecore().Field("Title", currentItem)</h3>
                    <p>
                        @Html.Sitecore().Field("Description", currentItem)
                    </p>
                </div>
                <img src="@imageUrl" class="akbar-logo" loading="lazy"/>
            </div>
        </div>
    </div>
}
