
@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Mvc.Presentation

@{
    string disp = "";
    disp = "display: none;";
}


<div class="contentSection">



    <!-- /Banner -->
    <section class="py-5 bg-gray carbon_calculater">
        <div class="container">
            <input type="hidden" id="cFormType" value="Cost-Calculator">
            <input type="hidden" id="PageInfo" value="/Cost-Calculator">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">

                        <select class="form-control" id="MonthName"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">

                        <select class="form-control" id="year"></select>
                    </div>
                </div>
            </div>
            <div class="table table-responsive mb-0">
                <table class="table" cellpadding=20>
                    <thead>
                        <tr style="border-top: 2px solid #f1f1f1;">
                            <td colspan="2">
                                <label><b>Total Family Members</b></label>
                            </td>
                            <td colspan="1">
                                <input type="number" class="form-control" id="FamilyMembers" placeholder="">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    <th style="min-width: 250px;">Particulars</th>
                    <th style="min-width: 100px;">Unit</th>
                    <th style="min-width: 200px;">Consumption</th>
                    <th style="min-width: 200px;">GHG Emission kg CO<sub>2</sub>e</th>
                    <th style="min-width: 200px;">Notes</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <h3>Domestic Use (Monthly Basis)</h3>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Electricity Consumed at Residency</label></td>
                            <td><label>kWh</label></td>
                            <td><input type="number" class="calculator form-control" onBlur="javascript:calculate_total(10);" name="txt_10" id="txt_10" placeholder=""></td>
                            <td><input type="number" class="calculator form-control" id="d_txt_10" name="d_txt_10" placeholder="" disabled></td>
                            <td rowspan="3" style="width: 250px;"><p>To be equally distributed among Family Members</p></td>
                        </tr>
                        <tr>
                            <td><label>CNG used at home</label></td>
                            <td><label>m<sup>3</sup></label></td>
                            <td><input type="number" class="form-control" id="txt_9" onBlur="javascript:calculate_total(9)" name="txt_9" placeholder=""></td>
                            <td><input type="number" class="form-control" id="d_txt_9" name="d_txt_9" placeholder="" disabled></td>
                        </tr>
                        <tr>
                            <td><label>LPG Cylider used at home</label></td>
                            <td><label>Nos</label></td>
                            <td><input type="number" class="form-control" name="txt_8" id="txt_8" onBlur="javascript:calculate_total(8)" placeholder=""></td>
                            <td><input type="number" class="form-control" id="d_txt_8" name="d_txt_8" placeholder="" disabled></td>
                        </tr>
                        <tr style="border-top: 2px solid #f1f1f1;">
                            <td colspan="5">
                                <h3>Transportation Use (Monthly basis)</h3>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Diesel Consumption</label></td>
                            <td><label>Litres</label></td>
                            <td><input type="number" class="form-control" id="txt_2" name="txt_2" onBlur="javascript:calculate_total(2)" placeholder=""></td>
                            <td><input type="number" name="d_txt_2" id="d_txt_2" class="form-control" placeholder="" disabled></td>
                            <td rowspan="2" style="width: 250px;"><p>Personal Vehicle fuel(Litres). <br>For Car Pooling, total fuel use is to divided by total number of people.All people need to be accounted individually</p></td>
                        </tr>
                        <tr>
                            <td><label>Petrol Consumption</label></td>
                            <td><label>Litres</label></td>
                            <td><input type="number" name="txt_1" class="form-control" id="txt_1" onBlur="javascript:calculate_total(1)" placeholder=""></td>
                            <td><input type="number" name="d_txt_1" class="form-control" id="d_txt_1" placeholder="" disabled></td>
                        </tr>
                        <tr>
                            <td><label>CNG Auto Rikshaw </label></td>
                            <td><label>Km</label></td>
                            <td><input type="number" class="form-control" name="txt_6" id="txt_6" onBlur="javascript:calculate_total(6)" placeholder=""></td>
                            <td><input type="number" name="d_txt_6" class="form-control" id="d_txt_6" placeholder="" disabled></td>
                            <td rowspan="3"><p>Public Transport</p></td>
                        </tr>
                        <tr>
                            <td><label>Bus</label></td>
                            <td><label>Km</label></td>
                            <td><input type="number" class="form-control" id="txt_5" name="txt_5" onBlur="javascript:calculate_total(5)" placeholder=""></td>
                            <td><input type="number" name="d_txt_5" class="form-control" id="d_txt_5" placeholder="" disabled></td>

                        </tr>
                        <tr>
                            <td><label>Train </label></td>
                            <td><label>Km</label></td>
                            <td><input type="number" class="form-control" name="txt_7" id="txt_7" onBlur="javascript:calculate_total(7)" placeholder=""></td>
                            <td><input type="number" class="form-control" id="d_txt_7" name="d_txt_7" placeholder="" disabled></td>

                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-lg-5 my-3">
                    <input type="Email" class="form-control" style="height:77px" id="Emails" placeholder="Enter your Email ID"><span style="font-size: 14px;">
                        Email address of employees of Adani Power Limited shall enable us to reach out to those who are demonstrating gradual reduction in Carbon Footprint. Rewards and accolades are in the offing.
                    </span>
                </div>
                <div class="col-lg-3 my-3">

                    @*<div id="recaptcha1"></div>*@

                </div>
                <div class="col-lg-3 ml-auto text-right my-3">
                    <button type="submit" class="btn btn-primary" style="height:77px" id="btnsubmit">Calculate Carbon Footprints</button>
                    <button type="Hidden" class="btn btn-primary" id="btnreset" value="Reset" onClick="window.location.reload()" style="@disp height:77px">Calculate Again !!!</button>

                </div>
            </div>

            <div class="carbon_calculater--result" id="CalculatedValue" style="@disp">
                <div class="row">
                    <div class="col-lg-6 py-3">
                        <div class="row">
                            <div class="col-8">
                                <h4>Emission from Domestic Use</h4>
                            </div>
                            <div class="col-4">

                                <p id="EmissionfromDomesticUse" name="EmissionfromDomesticUse"><span>89.54</span>KG</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py-3">
                        <div class="row">
                            <div class="col-8">
                                <h4>Average Annual Carbon Footprint per person in India</h4>
                            </div>
                            <div class="col-4">
                                <p id="yourannualcarbonfootprint" name="yourannualcarbonfootprint"><span>1.94</span>Tonnes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py-3">
                        <div class="row">
                            <div class="col-8">
                                <h4>Emission from Transportation</h4>
                            </div>
                            <div class="col-4">
                                <p id="EmissionfromTransportation" name="EmissionfromTransportation"><span>10.57</span>KG</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py-3">
                        <div class="row">
                            <div class="col-8">
                                <h4>Your Annual Carbon Footprint</h4>
                            </div>
                            <div class="col-4">
                                <p id="EmployeeAverageAnnualCarbonFootprint" name="EmployeeAverageAnnualCarbonFootprint"><span>0.62</span>Tonnes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py-3">
                        <div class="row">
                            <div class="col-8">
                                <h4>Average Emission per Month per person</h4>
                            </div>
                            <div class="col-4">
                                <p id="TotalemissionsperMonth" name="TotalemissionsperMonth"><span>100.11</span>KG</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py-3">
                        <div class="row">
                            <div class="col-8">
                                <h4>No.of Trees needed to remove Your Carbon Footprint</h4>
                            </div>
                            <div class="col-4">
                                <p id="NoOfTreesNeeded" name="NoOfTreesNeeded"><span>100.11</span>KG</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py-3">

                    </div>
                    <div class="col-lg-6 py-3">
                        <div class="row">
                            <div class="col-8">
                                <h4>Land Needed (Hectares) to plant trees for removing your carbon footprint</h4>
                            </div>
                            <div class="col-4">
                                <p id="LandNeeded" name="LandNeeded"><span>100.11</span>KG</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="col-lg-8 mb-3" style="@disp" id="offset">
                <h2 class="mb-3 border-l pl-3">How to offset</h2>
                <div class="pl-3">
                    <ul class="ul-bullets mb-3">
                        <li>Tree plantation, Do-it-yourself</li>
                        <li>Install your own rooftop solar system</li>
                        <li>Fund tree plantation Projects</li>
                        <li>Fund carbon offset energy projects</li>

                        <li>Buy Carbon Offsets</li>




                    </ul>
                </div>
            </div>
        </div>
    </section><!--/Section-->
    <!--  /Main content Section-->
</div>

<script language="javascript" type="text/javascript">
    function calculate_total(i) {
        if (i > 0) {
            if (document.getElementById('txt_' + i).value.search(/\S/) != -1) {
                if (isNaN(document.getElementById('txt_' + i).value) == false) {
                    if (document.getElementById('txt_' + i).value >= 0) {
                        document.getElementById('d_txt_' + i).value = (document.getElementById('txt_' + i).value * cal_factor[i]).toFixed(2);
                    }
                    else {
                        document.getElementById('d_txt_' + i).value = '';
                    }
                }
                else {
                    document.getElementById('d_txt_' + i).value = '';
                }
            }
            else {
                document.getElementById('d_txt_' + i).value = '';
            }
        }


    }

    var cal_factor = new Array();
    cal_factor[0] = "";
    cal_factor[1] = "2.33";
    cal_factor[2] = "2.68";
    cal_factor[3] = "3.05911236953988";
    cal_factor[4] = "0.305911236953988";
    cal_factor[5] = "0.02";
    cal_factor[6] = "0.11";
    cal_factor[7] = "0.10";
    cal_factor[8] = "42.50";
    cal_factor[9] = "1.82";
    cal_factor[10] = "0.90";
</script>
