@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Mvc.Presentation

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<div class="container">
    <div class="row bg-white p-3 border-bottom">
        <div class="col-md-9 text-left txt-md pt-1"><a>Tender Link</a></div>
        <div class="col-md-3 text-right">
        <a href="#default_modal" data-toggle="modal" data-id="" data-target="#default_modal" class="txt-orange" title="Download">
           View</a></div>
      
       
        </div>
    </div>
