@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Mvc.Presentation

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<section class="half-bg">
    <div class="container">
        <div class="row">         
                <div class="col-lg-6 my-lg-5 my-3 pr-lg-4">
                   @Html.Sitecore().Placeholder("ceo-message")
                </div>
   <div class="col-lg-6 my-lg-5 my-3 pr-lg-4">
                     @Html.Sitecore().Placeholder("chairman-message")
                </div>				
           
        </div>
    </div>
</section><!--/Management Content-->    
