@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions

@{

           var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
           var element = Sitecore.Context.Database.GetItem(datasource);


}




<section class="py-5">
	<div class="container">
		<h2 class="border-l txt-lg mb-3">Our Operational Power Plants</h2>
        <p class="mb-4">Adani Power Limited is the largest private thermal power producer in India with an installed capacity of 15,250 MW. Our eight power plants are spread out across the states of Gujarat, Maharashtra, Rajasthan, Karnataka, Chhattisgarh, and Madhya Pradesh.</p>
		<div class="row">
		 @foreach (var item in element.Children.ToList())
		 {
		<div class="col-lg-6 mb-3">
			<div class="operational-main mb-3">
				<div class="operational-img">
			   @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
				</div>
				<a href="@item.Url()">
			     @Html.Sitecore().Field("Summary", item)
				 </a>
			</div>
		</div>
		}
	</div>
		
	</div>
</section>