@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Mvc.Presentation

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<section class="pb-5 bg-gray">
    <div class="container">
        @Html.Sitecore().Placeholder("case-study")
    </div>
    @Html.Sitecore().Placeholder("Tender-section")

</section>
