@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items

<div class="row">
    <div class="col-sm-12 col-md-7 col-xl-8 order_1 ">
        @Html.Sitecore().DynamicPlaceholder("airlines-leftpanel")
    </div>
    <div class="col-sm-12 col-md-5 col-xl-4 fightRightSec">
        @Html.Sitecore().DynamicPlaceholder("airlines-rightpanel")       
    </div>
</div>
    
