@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items

<div class="section-wrap rightairport-info">
    @Html.Sitecore().DynamicPlaceholder("airlines-rightpanel-container")
</div>
@Html.Sitecore().DynamicPlaceholder("airlines-rightpanel-info")
