<div class="section-wrap mt-top flightFromDelhi">
    <h2 class="section-heading">Top IndiGo Flights</h2>
    <table class="table flight-schedul">
        <thead class="table-light">
            <tr>
                <th scope="col">SORT BY</th>
                <th scope="col">Departure</th>
                <th scope="col">Arrival</th>
                <th scope="col">Duration</th>
                <th colspan="2">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
            <tr class="fightDetails">
                <td>
                    <img src="./../../assets/images/citytocity/go-first.png" />
                    <span>Go First</span>
                </td>
                <td>
                    <p>09:30</p>
                    <label>Delhi</label>
                </td>
                <td>
                    <p>11:05</p>
                    <label>Ahmedabad</label>
                </td>
                <td>
                    <p>1h 35m</p>
                </td>
                <td>
                    <p class="price">₹5,060</p>
                </td>
                <td class="d-none d-md-block">
                    <button class="btn btn-outline-primary">Book</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>