@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.AdaniGreenTalks.Website.Helpers
@using Sitecore.AdaniGreenTalks.Website
@*@model Sitecore.AdaniGreenTalks.Website.Models.AdaniGreenTalks_Contactus_Model*@


@{
    var GoalOptions = ItemExtension.GetOptionsList(SitecoreConstant.Goals);
    var FellowOptions = ItemExtension.GetOptionsList(SitecoreConstant.Fellows);
    var siteItem = Sitecore.Context.Database.Items.GetItem("{34064204-9A4D-4F4E-90AE-1180DF78DF19}");

}
@Html.Sitecore().Field("HeaderTagScript", siteItem)

<div class="global-form attend-form divContributeForm">
    <h3>Get Involved</h3>
    <form novalidate class="noCommonValidation">
        <span class="antiforgerytoken">@Html.AntiForgeryToken()</span>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="first-name" name="FirstName" placeholder="First Name" maxlength="50">
                    <label for="first-name">First Name</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="last-name" name="LastName" placeholder="Last Name" maxlength="50">
                    <label for="last-name">Last Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email-id" name="Email" placeholder="Email ID">
                    <label for="email-id">Email ID</label>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="number" class="form-control numOnly" id="contact-number" name="ContactNumber" placeholder="Mobile Number" autocomplete="off" onpaste="return false;" ondrop="return false;" onKeyPress="if(this.value.length==10) return false;">
                    <label for="contact-number">Mobile Number</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control alphaOnly" id="city-name" name="CityName" placeholder="City Number">
                    <label for="name">City</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating">
                    <select class="select-Goal form-select" id="select-Goal">
                        <option value="-1" selected="">Select</option>
                        @if (GoalOptions.Count > 0)
                        {
                            foreach (var goal in GoalOptions)
                            {
                                <option value="@goal.Value">@goal.Text</option>
                            }
                        }
                    </select>
                    <label for="select-Goal">Your Goal</label>
                </div>
            </div>
        </div>


        <input type="hidden" id="FormUrl" name="FormUrl" value="/Contribute" />
        <input type="hidden" id="FormType" name="FormType" value="Contribute" />
        <input type="hidden" id="googleCaptchaToken" name="googleCaptchaToken" value="" />

        <button id="ContributeFormSubmit_Btn" onclick="ContributeUsForm();" data-sitekey="6Le0pu0gAAAAAD9pAHmh_CiRwBo6VZCNEvhMMnes" class="btn btn-primary">
            <span id="buttontext">
                Submit
            </span>

            <div id="submitloader" style="display:none">
                <svg viewBox="0 0 70 100">
                    <circle cx="6" cy="50" r="6">
                        <animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15" repeatCount="indefinite" begin="0.1"></animateTransform>
                    </circle>
                    <circle stroke="none" cx="30" cy="50" r="6">
                        <animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10" repeatCount="indefinite" begin="0.2"></animateTransform>
                    </circle>
                    <circle stroke="none" cx="54" cy="50" r="6">
                        <animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5" repeatCount="indefinite" begin="0.3"></animateTransform>
                    </circle>
                </svg>
            </div>
        </button>


    </form>
    <div id="contactLoader"></div>
    <div class="thankyou-popup">
        <div class="thanku-close-btn CloseThankyou">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <path id="8sm91f5xla" d="M0 0h24v24H0z" />
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <mask id="hqvyp6irxb" fill="#fff">
                        <use xlink:href="#8sm91f5xla" />
                    </mask>
                    <path d="m13.466 12 6.23-6.23a1.035 1.035 0 1 0-1.466-1.466L12 10.534l-6.23-6.23A1.036 1.036 0 1 0 4.304 5.77l6.23 6.23-6.23 6.23a1.035 1.035 0 1 0 1.466 1.466l6.23-6.23 6.23 6.23a1.034 1.034 0 0 0 1.466 0 1.035 1.035 0 0 0 0-1.465L13.466 12z"
                          fill="#000" fill-rule="nonzero" mask="url(#hqvyp6irxb)" />
                </g>
            </svg>
        </div>
        <img src="~/-/media/Project/AdaniGreenTalks/Themes/images/Thank-you-Animation" alt="Thannkyou">
        <div class="desc">
            <h4>Thank you for reaching out to us! </h4>
            <p>Our representative will call you shortly. </p>
            <a class="btn" href="/">Back to Home Page</a>
        </div>
    </div>
    <div class="popup-overLay"></div>
</div>