@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.AdaniGreenTalks.Website.Models
@using Sitecore.AdaniGreenTalks.Website.Helpers
@using Sitecore.AdaniGreenTalks.Website
@using Sitecore.Mvc.Configuration



@{
    var GoalOptions = ItemExtension.GetOptionsList(SitecoreConstant.Goals);
    var siteItem = Sitecore.Context.Database.Items.GetItem("{34064204-9A4D-4F4E-90AE-1180DF78DF19}");

}
@Html.Sitecore().Field("HeaderTagScript", siteItem)

<div class="body-container-wrapper green-homepage">
    <div class="form-section divFormSpeak">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-7 col-xl-6 col-xxl-5">

                    <div class="w-100 text-center">
                        <h1>
                            The people or team doing extraordinary work for the country

                        </h1>
                        <p>
                            Green Talks invites new voices with ideas that positively impact society, economy and planet.
                            Please nominate the most suitable speaker.

                        </p>
                    </div>

                    <form class="noCommonValidation">
                        <span class="antiforgerytoken">@Html.AntiForgeryToken()</span>
                        <div class="formrow">
                            <div class="form-floating">
                                <input type="text" class="form-control alphaOnly" id="first-name" name="FirstName" placeholder="First Name" maxlength="50">
                                <label for="first-name">First Name*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <input type="text" class="form-control alphaOnly" id="last-name" name="LastName" placeholder="Last Name" maxlength="50">
                                <label for="last-name">Last Name*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email-id" name="Email" placeholder="Email ID">
                                <label for="email-id">Email Address*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <input type="number" class="form-control numOnly" id="mobile-number" name="mobileNumber" autocomplete="off" onpaste="return false;" ondrop="return false;" placeholder="Mobile Number" onKeyPress="if(this.value.length==10) return false;">
                                <label for="mobile-number">Mobile Number*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checknominatingmyself">
                                <label class="form-check-label" for="checknominatingmyself">I am nominating myself</label>
                            </div>
                        </div>
                        <div class="formrow nominee">
                            <div class="form-floating ">
                                <input type="text" class="form-control alphaOnly" id="nominee-first-name" placeholder="First name of nominee" maxlength="50">
                                <label for="nominee-first-name">First Name of Nominee*</label>
                            </div>
                        </div>
                        <div class="formrow nominee">
                            <div class="form-floating">
                                <input type="text" class="form-control alphaOnly" id="nominee-last-name" placeholder="Last name of nominee" maxlength="50">
                                <label for="nominee-last-name">Last Name of Nominee*</label>
                            </div>
                        </div>
                        <div class="formrow nominee">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="nominee-email-address"
                                       placeholder="Nominee Email Address">
                                <label for="nominee-email-address">Email Address*</label>
                            </div>
                        </div>
                        <div class="formrow nominee">
                            <div class="form-floating">
                                <input type="number" class="form-control numOnly" id="contact-number" name="ContactNumber" autocomplete="off" onpaste="return false;" ondrop="return false;" placeholder="Nominee Mobile Number" onKeyPress="if(this.value.length==10) return false;">
                                <label for="nominee-mobile-number">Mobile Number*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <input type="text" class="form-control alphaOnly" id="city-name" name="CityName" placeholder="City Number">
                                <label for="name">City*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <input type="text" class="form-control alphaOnly" id="country" name="Country" placeholder="Country">
                                <label for="country">Country*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <select class="form-select" id="Gender" name="Gender">
                                    <option value="-1" selected="">Select</option>
                                    <option value="Education">Male</option>
                                    <option value="Education">Female</option>
                                </select>
                                <label for="gender">Gender*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="inputfilebox">
                                <i class="uploadicon"></i>
                                <label for="upl-photo">Upload Photo*</label>
                                <input type="file" class="form-control" id="upl-photo" placeholder="upload photo" accept="image/*">
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="inputfilebox">
                                <i class="uploadicon"></i>
                                <label for="upl-bio">Upload Biography*</label>
                                <input type="file" class="form-control" id="upl-bio" placeholder="upload bio" accept="application/pdf">
                            </div>
                            <div class="hint-txt">
                                Upload your project to represent your cause (Only PDF). <div class="tips">
                                    <a title="">
                                        Tips <div class="hover-text">
                                            <div class="close-bar">
                                                <img src="images/AdaniGreenTalks/close.svg" alt="" class="close-goals-modal">
                                            </div>
                                            <h3 class="tips-title">Tips</h3>
                                            Please include a brief biography for this potential future Green Talks speaker. *
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="formrow">
                            <div class="inputfilebox">
                                <i class="uploadicon"></i>
                                <label for="upl-concept">Upload Original Concept*</label>

                                <input type="file" class="form-control" id="upl-concept" placeholder="upload concept" accept="application/pdf">

                            </div>
                            <div class="hint-txt">
                                Upload your project to represent your cause (Only PDF).
                                <div class="tips">
                                    <a title="">
                                        Tips <div class="hover-text">
                                            <div class="close-bar">
                                                <img src="images/AdaniGreenTalks/close.svg" alt="" class="close-goals-modal">
                                            </div>
                                            <h3 class="tips-title">Tips</h3>
                                            What is the original concept they wish to present
                                            that has been making a positive impact in the society? Please briefly summarize the main points
                                            of the discussion and what makes it unique and if partnerships are formed, how will it have a
                                            lasting impact in the society. *
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="key-takeaway" placeholder="Key takeaway">
                                <label for="key-takeaway">Key Takeaway*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="link-for-aud-vid" placeholder="Link for video or audio">
                                <label for="link-for-aud-vid">Upload Link for Video or Audio*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="link-for-article" placeholder="Link for article">
                                <label for="link-for-article">Upload Link for any Article/Web*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="form-floating">
                                <select class="form-select" id="goals" name="goals">
                                    <option value="-1" selected="">Select</option>
                                    @if (GoalOptions.Count > 0)
                                    {
                                        foreach (var goal in GoalOptions)
                                        {
                                            <option value="@goal.Value">@goal.Text</option>
                                        }
                                    }
                                </select>
                                <label for="goals">Goals*</label>
                            </div>
                        </div>
                        <div class="formrow">
                            <div class="content pt-0">
                                Before submitting your nomination, please review how Green Talks processes the personal information
                                you provide to us:
                            </div>
                            <ul class="discription">
                                <li>
                                    We will evaluate your nomination and will share this information with staff members and third
                                    parties selected to review speaker nominations.
                                </li>
                                <li>
                                    There is no deadline for nominating a speaker. If you’ve submitted a nomination, it will stay in
                                    our database to be considered for future conferences.
                                </li>
                                <li>
                                    Due to volume, we will not be able to respond personally to each suggestion, but someone from
                                    Green Talks will be in touch, if needed.
                                </li>
                                <li>
                                    Your information will be processed in accordance with Green Talks’ Privacy Policy.
                                </li>
                                <li>
                                    Please reach out to <a href="mailto:info.greentalks@adani.com">info.greentalks@adani.com</a> if you have any concerns with Green Talks managing your
                                    data.
                                </li>
                            </ul>
                        </div>
                        <div class="formrow">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="check-consent" checked>
                                <label class="form-check-label" id="lbl-check-consent" for="check-consent">
                                    By checking this box, I consent and agree to Green Talks
                                    processing my information as defined above.*
                                </label>
                            </div>
                        </div>
                        <div class="formrow text-center">
                            <input type="hidden" id="FormUrl" name="FormUrl" value="Speak" />
                            <input type="hidden" id="FormType" name="FormType" value="Speak" />
                            <input type="hidden" id="googleCaptchaToken" name="googleCaptchaToken" value="" />
                            <button id="speakFormSubmit_Btn" onclick="SpeakUsForm();" data-sitekey="6Le0pu0gAAAAAD9pAHmh_CiRwBo6VZCNEvhMMnes" class="btn btn-primary">
                                <span id="buttontext">Apply Here</span>
                                <div id="submitloader" style="display:none">
                                    <svg viewBox="0 0 70 100">
                                        <circle cx="6" cy="50" r="6">
                                            <animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15" repeatCount="indefinite" begin="0.1"></animateTransform>
                                        </circle>
                                        <circle stroke="none" cx="30" cy="50" r="6">
                                            <animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10" repeatCount="indefinite" begin="0.2"></animateTransform>
                                        </circle>
                                        <circle stroke="none" cx="54" cy="50" r="6">
                                            <animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5" repeatCount="indefinite" begin="0.3"></animateTransform>
                                        </circle>
                                    </svg>
                                </div>


                            </button>

                        </div>
                        <div id="contactLoader"></div>
                        <div class="thankyou-popup">
                            <div class="thanku-close-btn CloseThankyou">
                                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                        <path id="8sm91f5xla" d="M0 0h24v24H0z" />
                                    </defs>
                                    <g fill="none" fill-rule="evenodd">
                                        <mask id="hqvyp6irxb" fill="#fff">
                                            <use xlink:href="#8sm91f5xla" />
                                        </mask>
                                        <path d="m13.466 12 6.23-6.23a1.035 1.035 0 1 0-1.466-1.466L12 10.534l-6.23-6.23A1.036 1.036 0 1 0 4.304 5.77l6.23 6.23-6.23 6.23a1.035 1.035 0 1 0 1.466 1.466l6.23-6.23 6.23 6.23a1.034 1.034 0 0 0 1.466 0 1.035 1.035 0 0 0 0-1.465L13.466 12z"
                                              fill="#000" fill-rule="nonzero" mask="url(#hqvyp6irxb)" />
                                    </g>
                                </svg>
                            </div>
                            <img src="~/-/media/Project/AdaniGreenTalks/Themes/images/Thank-you-Animation" alt="Thannkyou">
                            <div class="desc">
                                <h4>Thank you for Speak out to us!</h4>
                                <p>Our representative will call you shortly.</p>
                                <a class="btn" href="/">Back to home page</a>
                            </div>
                        </div>
                        <div class="popup-overLay"></div>
                    </form>
                    <div class="speak-overlay"></div>
                </div>
            </div>
        </div>


    </div>
</div>