@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions




<div class="content-form">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="form-wrapper">
                    @Html.Sitecore().Placeholder("body-content")
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="add-details">
                    <div class="form-section mt-0">
                        <div class="">

                            @Html.Sitecore().Placeholder("form")

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


