@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();
}

@if (currentItem != null)
{
    <div class="subSection section-works">
        <h2>@currentItem.Name</h2>
        <div class="row">
            @if (currentItem.GetChildren() != null && currentItem.Children.Count > 0)
            {
                foreach (Item item in currentItem.GetChildren())
                {
                    <div class="col-md-4 slide-one">
                        <div class="d-flex">
                            <figure>
                                <div class="left-img step-1">
                                </div>
                            </figure>
                            <aside>
                                <h3>@item.Fields["Title"].Value</h3>
                                <p>@item.Fields["Description"].Value</p>
                            </aside>
                        </div>
                    </div>
                }
            }

                </div>

        </div>
        }
