@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation


@*<div class="offcanvas offcanvas-end cityCanvas" tabindex="-1" id="Carparking"
     aria-labelledby="citycanvasRightLabel">
    <div class="offcanvas-header p-0">
        <button type="button" class="btn-close text-reset px-0" data-bs-dismiss="offcanvas"
                aria-label="Close">
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="bannerContent offCanvas-carparking">
            <div class="discripContent serviceDetail">                
                <div class="content">
                    @Html.Sitecore().DynamicPlaceholder("cargo-wrapper")
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="offcanvas offcanvas-end cityCanvas offcanvas_carparking" tabindex="-1" id="Carparking"
     aria-labelledby="citycanvasRightLabel">
    <div class="offcanvas-header p-0">
        <button type="button" class="btn-close text-reset px-0" data-bs-dismiss="offcanvas"
                aria-label="Close">
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="bannerContent">
            <div class="item-discription">
                @Html.Sitecore().DynamicPlaceholder("cargo-wrapper")
            </div>
        </div>
    </div>
</div>