@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@{
   var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
	
	<!-- var MediaUrl="";  -->
    <!-- var MediaAlt=""; -->
	
	<!-- Sitecore.Data.Fields.ImageField MediaImage = ((Sitecore.Data.Fields.ImageField)model.Fields["ImageSource"]); -->
	<!-- if (MediaImage != null && MediaImage.MediaItem != null) -->
	<!-- { -->
		<!-- MediaUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(MediaImage.MediaItem); -->
		<!-- MediaAlt = MediaImage.Alt; -->
	<!-- }		 -->
}

	<section class="WindTech-Section">
      <div class="container">
        <div class="LeftTittle">
          <h1 class="WindTech-SectionHeading">@Html.Sitecore().Field("Title",model)</h1>
        </div>
        <div class="RightTittle">
         @Html.Sitecore().Field("Body",model) 
        </div>
      </div>
    </section>
	@Html.Sitecore().Placeholder("About-Vision")
	@Html.Sitecore().Placeholder("About-CEO")
