.envir_chartImg img, .terrestImg img {
    max-width: none !important
}

.downSelBox .downSelTitle, .investorBox h1 {
    color: #fff;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.downSelBox .downSelTitle {
    background: #ED6E36;
    font-family: "Adani Light";
    font-size: 20px;
    height: 40px;
    margin-bottom: 0;
    padding: 0 25px
}

.accSubTitle {
    font-size: 20px
}

.terrestImg img {
    max-height: 448px
}

.invstrList .checkbox:empty {
    margin-left: -999px
}

.invstrList input.checkbox:empty ~ label {
    cursor: pointer;
    float: left;
    position: relative;
    padding-left: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .invstrList input.checkbox:empty ~ label::before {
        background: #fff;
        border: 2px solid #ED6E36;
        bottom: 0;
        content: "";
        display: block;
        height: 13px;
        left: 0;
        position: absolute;
        top: 0;
        width: 13px;
        margin-top: 2px
    }

.invstrList > li {
    font-size: 18px;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0
}

.invstrList input.checkbox:checked ~ label:before {
    background: url(/Images/Farmpik/input-right-icon.png) center center no-repeat #ED6E36
}

.investorBox {
    margin: 25px 0
}

    .investorBox h1 {
        font-size: 20px;
        font-family: 'Adani Light';
        background: #ED6E36;
        height: 40px;
        padding: 0 25px;
        display: block;
        border: 0;
        margin: 0;
        text-align: left
    }

.policyPower .greyBg {
    background: #ededed;
    padding: 15px
}

    .policyPower .greyBg h5 {
        font-size: 22px;
        color: #454545;
        margin-bottom: 25px
    }

    .policyPower .greyBg .investList li {
        width: 32.1%;
        margin-right: 10px
    }

        .policyPower .greyBg .investList li a {
            min-height: 34px;
            width: 100%;
            padding: 5px 0;
            line-height: 32px
        }

#myiframe {
    float: right;
    width: 100%;
    height: 660px;
    border: 0 !important
}

#menu {
    background: rgba(0,0,0,.6);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 999
}

    #menu li.active a {
        height: 30px;
        background: #fff
    }

    #menu li a {
        border: 2px solid #fff;
        border-radius: 50px;
        display: block;
        height: 15px;
        margin: 10px;
        overflow: hidden;
        text-indent: -999px;
        width: 15px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: -webkit-transform 2s ease-in-out;
        transition: transform 2s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

@media only screen and (max-width:1155px) {
    #menu {
        display: none
    }
}

.ourBoxBlk h5 a {
    color: #fff !important
}

.navBg .prodImg {
    margin-right: 10px;
    margin-top: 10px
}

.fourMenuItem {
    height: 165px !important
}

.myDetailPage #frame {
    min-height: 421px;
    max-width: 890px;
    margin-left: 0
}

.select-style select {
    font-size: 16px !important;
    font-family: Adani_Regular !important
}

.contactBlk .inputDes {
    font-family: Adani_Regular
}

.investorFactBox {
    width: 32% !important
}

.stockChartBox {
    width: 63% !important
}

    .stockChartBox .stockChart, .stockChartBox .stockChart img {
        max-width: none !important
    }

.pgInvestorReal p.link {
    line-height: 1
}

.investList li.btnBlank {
    width: 97px;
    margin: 0 5px 10px;
    background: #F1F1F1;
    border: 1px solid #f1f1f1;
    height: 45px
}

.layerRural {
    background: rgba(128,195,66,.85) !important
}

.layerLivehood {
    background: rgba(0,130,198,.85) !important
}

.layerYoung {
    background: rgba(243,112,50,.85) !important
}

.pgAbout iframe {
    min-height: 439px;
    max-width: 790px;
    border: 1px solid
}

.aboutFrame {
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    display: block
}

.myDetailPage .swiper-container-horizontal > .swiper-pagination {
    display: none
}

.myDetailPage .swiper-slide {
    width: 267px !important;
    border: none !important;
    margin: 0 10px
}

.myDetailPage .swiper-container .swiper-wrapper {
    height: 100% !important
}

.bus_acc {
    padding: 5px
}

.myDetailPage .swiper-button-next, .myDetailPage .swiper-button-prev {
    right: 0 !important;
    position: absolute !important;
    top: 40px !important;
    background-color: rgba(255,255,255,.5) !important;
    width: 50px;
    bottom: 18px;
    height: 100%
}

    .myDetailPage .swiper-button-next.swiper-button-black, .myDetailPage .swiper-container-rtl .swiper-button-prev.swiper-button-black {
        background: url(/Images/Farmpik/arrowNext_slider.png) 50% 50% no-repeat rgba(255,255,255,.6) !important
    }

.myDetailPage .swiper-button-prev, .myDetailPage .swiper-container-rtl .swiper-button-next {
    left: 0 !important;
    background: url(/Images/Farmpik/arrowPrev_slider.png) 50% 50% no-repeat rgba(255,255,255,.6) !important
}

    .myDetailPage .swiper-button-next.swiper-button-disabled, .myDetailPage .swiper-button-prev.swiper-button-black, .myDetailPage .swiper-button-prev.swiper-button-disabled, .myDetailPage .swiper-container-rtl .swiper-button-next.swiper-button-black {
        opacity: 1;
        pointer-events: all
    }

#environAccord li .accordion-panel {
    background: #f1f1f1 !important
}

.teamPic {
    height: 130px
}

.peopleSpeakPort .peopleSpeakBox {
    position: relative;
    float: left;
    max-width: 251px;
    width: 100%;
    overflow: hidden;
    margin: 6px 6px 9px 10px
}

.peopleSpeakPort .videBox_big {
    height: 320px;
    width: 389px
}

.marginLeftZero {
    margin-left: 0 !important;
    padding-left: 10px
}

#cboxBottomCenter {
    background: url(/Images/Farmpik/border.png) 0 -29px repeat-x
}

#cboxMiddleLeft {
    background: url(/Images/Farmpik/controls.png) left top repeat-y
}

#cboxBottomRight {
    background: url(/Images/Farmpik/controls.png) -130px -29px no-repeat
}

#cboxBottomLeft {
    background: url(/Images/Farmpik/controls.png) -101px -29px no-repeat
}

#cboxTopRight {
    background: url(/Images/Farmpik/controls.png) -130px 0 no-repeat
}

#cboxTopLeft {
    background: url(/Images/Farmpik/controls.png) -101px 0 no-repeat
}

#cboxOverlay {
    background: url(/Images/Farmpik/overlay.png) !important
}

#cboxTopCenter {
    height: 21px;
    background: url(/Images/Farmpik/border.png) repeat-x !important
}

.pgSocMedia h2 {
    float: left
}

.socIcon {
    margin: 9px 0 0;
    float: right
}

    .socIcon a {
        display: inline-block
    }

.videoBox {
    margin: 0 5% 0 0 !important;
    border-bottom: 0 solid #c7c7c7 !important;
    padding-bottom: 0 !important;
    width: 60%;
    float: left
}

.videoThumb {
    float: left;
    margin-bottom: 5px
}

    .videoThumb img {
        width: 100%;
        height: 100%;
        border: 1px solid #939393;
        max-height: 137px
    }

    .videoThumb p {
        color: #474c4e;
        text-align: left !important;
        font-size: 13px
    }

.videoWrapper {
    overflow: auto;
    margin-bottom: 15px
}

.socBox {
    width: 100%;
    float: left;
    margin: 0 24px 20px
}

    .socBox:nth-child(3n+1) {
        margin-left: 0
    }

    .socBox:nth-child(3n+0) {
        margin-right: 0
    }

    .pgSocMedia .socBox.twitterBox, .socBox.fbBox {
        max-width: 288px
    }

.googleBox, .linkedBox {
    max-width: 49%;
    width: 100%
}

.socBox .title {
    height: 37px;
    display: block;
    padding: 9px 0 0 16px
}

.socBox .contBlk {
    padding: 5px
}

.fbBox .contBlk {
    background: #edeff4
}

.fbBox .title {
    background: #375794
}

.googleBox {
    margin-bottom: 10px;
    float: left
}

    .googleBox .title {
        background: #d95333
    }

    .googleBox .contBlk {
        border: 2px solid #ededed
    }

    .googleBox .center {
        width: 100%;
        text-align: center
    }

    .googleBox .centerText {
        color: #3b5998
    }

.linkedBox {
    float: right
}

    .linkedBox .title {
        background: #fff;
        padding-top: 5px;
        height: 42px;
        box-shadow: 0 0 18px rgba(207,207,207,.55) inset
    }

    .linkedBox .contBlk {
        background: #ededed;
        margin-top: 2px;
        padding: 5px 10px 4px;
        text-align: center
    }

.pgSocMedia .twitterBox .title {
    background: #36caff;
    padding-top: 7px;
    height: 40px
}

.pgSocMedia .twitterBox .contBlk {
    background: #ededed;
    padding: 10px
}

@media screen and (max-width:999px) {
    .socBox {
        max-width: 760px
    }
}

@media screen and (max-width:979px) {
    .socBox:nth-child(3n+0) {
        margin-left: 0
    }
}

@media screen and (max-width:676px) {
    .videoBox, .videoBoxRight {
        width: 100%;
        float: left
    }

    .socBox {
        max-width: 313px;
        width: 100%;
        float: none;
        margin: 0 auto 10px !important
    }

        .socBox:nth-child(3n+1) {
            margin-left: auto
        }

        .socBox:nth-child(3n+0) {
            margin-right: auto;
            margin-left: auto
        }

    .videoBox {
        margin-right: 5%;
        margin-bottom: 10px !important
    }

    .videoThumb:nth-child(odd) {
        width: 45%;
        float: left;
        margin-right: 5%
    }

    .videoThumb:nth-child(even) {
        width: 45%;
        float: right;
        margin-left: 5%
    }

    .googleBox, .linkedBox {
        width: 100%;
        max-width: 100%
    }

    .googleBox {
        float: none
    }

    .linkedBox {
        float: right
    }
}

.pgSocMedia .videoBox {
    margin-right: 0;
    margin-top: 0
}

.videoBoxRight {
    float: right;
    overflow: hidden;
    margin-right: 0;
    width: 40%
}

.videoThumb {
    margin-left: 2%;
    margin-right: 0;
    min-height: 181px;
    width: 47%
}

@media screen and (max-width:676px) {
    .videoThumb {
        margin-left: 0
    }

    .videoBoxRight {
        width: 105%;
        float: left
    }
}

.pgCareer .bxslider .item .bnrText h2 {
    margin-bottom: 40px
}

.btnArchive_inv a:after {
    position: absolute;
    content: '';
    top: 30%;
    right: 15px;
    border: 1px solid rgba(255,255,255,.8);
    border-top: none;
    border-left: none;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease
}

.btnArchive_inv a {
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    font-family: 'Adani Light';
    font-size: 18px;
    line-height: 38px;
    padding: 0 60px 0 10px;
    position: relative
}

.btnArchive_invAct a:after {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    top: 45%
}

.pgDownload .investList {
    padding-bottom: 10px;
    padding-top: 10px
}

.fullHeight {
    height: 100%
}

.teamdesc {
    height: 10em
}

.myiframe {
    pointer-events: none
}

#cboxClose {
    background: url(/Images/Farmpik/controls.png) -25px 0 no-repeat !important
}

.directorDetailRow .btnView a {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.learnDevPort .btnRead a {
    float: right
}

#cboxCurrent {
    display: none !important
}

@media screen and (max-width:640px) {
    .socIcon {
        margin-top: 33px
    }

    .rowSpace {
        padding: 0 10px;
        width: auto !important
    }

    .integrationBlk:hover .hovLayer {
        top: 30%
    }
}

.pgLearnAndDev li p {
    width: 960px;
    margin: auto;
    line-height: 24px
}

.innerPgConten_whiteBg_landD .focusArea {
    padding-top: 0 !important
}

.teamMainBox .teamBox .imgBlk img {
    height: 162px
}

.teamHead {
    min-height: 66px
}

@media screen and (min-width:979px) {
    .padding10 {
        padding: 0 10px;
        max-width: 940px !important
    }
}

.positionBox.posHovClass.posPower:last-child .posConten {
    color: #fff
}

.busPlant_listBox .plantImg img {
    height: 200px
}

#adanidefaultdetail .btnKnow a {
    color: #fff;
    background: 0 0;
    padding: 0;
    cursor: default
}

#adanidefaultdetail .btnKnow {
    margin-top: 20px !important
}

.sustPortRht .btnDownload_inv a {
    width: 68px
}

@media all and (-ms-high-contrast:none) {
    .fourMenuItem {
        height: 163px !important
    }
}
