.com_ibm_workplace_wcm_ecm_picker_dialog .docTree {border: solid #eaeaea 2px; background-color: #fafafa;}.com_ibm_workplace_wcm_ecm_picker_dialog .docTreeLibIcon {background-image: url(/Images/Farmpik/library_16.html);}.com_ibm_workplace_wcm_ecm_picker_dialog .icon16 {width: 16px; height: 16px; background-repeat: no-repeat;}.com_ibm_workplace_wcm_ecm_picker_dialog .dijitTreeContainerDIV {border: solid #eaeaea 1px; background-color: white; clear: both;}.dijit_a11y .com_ibm_workplace_wcm_ecm_picker_dialog .dijitTreeNodeSelected .dijitTreeLabel {border-bottom: 1px dotted;}.lotusui30dojo .com_ibm_workplace_wcm_ecm_picker_dialog .disabledTree .dijitTreeRow {cursor: not-allowed;}.lotusui30dojo .com_ibm_workplace_wcm_ecm_picker_dialog .disabledTree .dijitTreeNodeSelected .dijitTreeLabel {background-color: transparent; cursor: not-allowed;}.lotusui30dojo .com_ibm_workplace_wcm_ecm_picker_dialog .disabledTree .dijitTreeNodeHover .dijitTreeLabel {background-color: transparent; cursor: not-allowed;}.lotusui30dojo .com_ibm_workplace_wcm_ecm_picker_dialog .disabledTree .dijitTreeLabel {color: #aaaaaa; cursor: not-allowed;}.lotusui30dojo .com_ibm_workplace_wcm_ecm_picker_dialog .disabledTree .dijitTreeNodeSelected {background-repeat: repeat-x; background-color: transparent; background-image: none; padding: 0px 0px 0px; margin: 0px; border: none; color: #aaaaaa; cursor: not-allowed;}.lotusui30dojo .com_ibm_workplace_wcm_ecm_picker_dialog .disabledTree .dijitTreeNodeHover {background-color: transparent; background-image: none; padding: 0px 0px 0px; margin: 0px; border: none; color: #aaaaaa; cursor: not-allowed;}.lotusui30dojo .com_ibm_workplace_wcm_ecm_picker_dialog .disabledTree .dijitTreeLabelFocused {outline: none; background: transparent;}.com_ibm_workplace_wcm_ecm_picker_dialog > .lotusDialog > .lotusDialogContent, .lotusui30 > .com_ibm_workplace_wcm_ecm_picker_dialog > .lotusDialog > .lotusDialogContent {max-height: none; overflow:auto; padding:20px 20px 20px 20px;}.lotusui .docPickerDialogBorder {overflow: auto; width: auto;}.com_ibm_workplace_wcm_ecm_picker_dialog > div.lotusDialog > h1 {cursor: move;}.com_ibm_workplace_wcm_ecm_picker_dialog .lotusDialogFooter input.lotusFormButton, button.lotusFormButton {margin-right: 5px;}.com_ibm_workplace_wcm_ecm_picker_dialog .lotusDialogFooter input.feddocButtonLargeDistance, button.feddocButtonLargeDistance {margin-left: 30px;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocTopSpace {margin-top: 10px;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocTopSpaceSmall {margin-top: 5px;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocCustomUrlTextBox {margin-left: 8px; margin-right: 0px; padding-left: 0px; padding-right: 0px;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocConnectingBox {padding-top: 15px; display: block; position: absolute; top: 175px; left: 130px; width: 15em; height: 4ex; min-height: 30px; z-index: 50; background-color: white; text-align: center;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocNoSelection {color: #aaaaaa; font-style: italic;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocServerSelection {margin-left: 8px; padding: 4px 4px 4px 4px; overflow: auto; height: 20ex; border: 1px solid #b8b8b8; width: 92%;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocSampleText {font-weight: normal;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocHiddenOverflow {overflow: hidden;}.com_ibm_workplace_wcm_ecm_picker_dialog h4.feddocHeader4 {margin-top: 4px; margin-bottom: 4px;}.com_ibm_workplace_wcm_ecm_picker_dialog ul.lotusList li {border-bottom: 1px solid #b8b8b8; padding-left: 2px; padding-right: 2px;}.dijit_a11y .com_ibm_workplace_wcm_ecm_picker_dialog ul.lotusList li {border-bottom: none;}.com_ibm_workplace_wcm_ecm_picker_dialog ul.lotusList li span {padding-left: 2px; padding-right: 2px; cursor: default;}.dijit_a11y .com_ibm_workplace_wcm_ecm_picker_dialog ul.lotusList li.lotusSelected span {border-bottom: 1px dotted;}.com_ibm_workplace_wcm_ecm_picker_dialog ul.lotusList li.feddocServerItemHover {background-color: #e0ecf8; color: #000000;}.com_ibm_workplace_wcm_ecm_picker_dialog div.feddocViewControl {padding: 4px 4px 4px 4px; background-color: #F4F4F4; background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #F0F0F0 100%); height: 3ex; min-height: 24px; position: relative; overflow: hidden;}.dijit_a11y .com_ibm_workplace_wcm_ecm_picker_dialog div.feddocViewControl {min-height: 5ex;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocErrorIcon {background: url(/Images/Farmpik/iconError.gif) no-repeat center top;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocInfoIcon {background:url(/Images/Farmpik/iconInfo.gif) no-repeat center top;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocQuickSearchIcon {background:url(/Images/Farmpik/iconSearch16.png) no-repeat center top;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocShowPreviewIcon {background:url(/Images/Farmpik/viewDetails16.png) no-repeat center top;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocItemPath {color: #999999;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocNoServersInfoBox {overflow: hidden; margin: 8px 0px 8px 8px;}.com_ibm_workplace_wcm_ecm_picker_dialog .feddocFilterBox {overflow: hidden; margin: 5px 2px 2px 2px; clear: both;}.com_ibm_workplace_wcm_ecm_picker_dialog .dijitTreeContainerDIV {padding: 0px;}input.dijitCheckBoxInput[type="radio"] {margin: 0;}/*
 * The default styles for the New Content form in inplace editing.
 * This can be edited by customers if required.
 *
 * Note that these styles are used for both LTR and RTL languages, and so therefore all styles
 * applied to left must also be applied to right.
 */

/* Style the .wpwcmCreateTooltipContainer that surrounds the .wpwcmCreateContainer */
.wpwcmCreateTooltipContainer {
   padding: 0 !important;
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;
   border: 0 none !important;
   background-color: transparent !important;
   -webkit-border-radius: 3px;
   -moz-border-radius:    3px;
   border-radius:         3px;
}

/* Style the .wpwcmCreateContainer, which is the container for the New Content form */
.wpwcmCreateContainer {
   background-color: #FFFFFF;
   border: 2px solid #777777;

   padding: 8px 8px 8px 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9pt;
	
   -webkit-border-radius: 3px;
   -moz-border-radius:    3px;
   border-radius:         3px;
}

/* Style the .wpwcmCreateContainer name input text box */
.wpwcmCreateContainer input {
   margin-right: 10px;
   margin-left: 10px;
}

/* Style the .wpwcmCreateContainerMsg, which is the message area in the New Content form */
.wpwcmCreateContainerMsg {
   max-width: 275px;
}

/* Style the .wpwcmCreateContainerMsg loading message */
.wpwcmCreateContainerMsg .wpwcmLoading {
   height: 16px !important;
   width: 16px !important;
}

/* Style for basic input */
.wpwcmCreateContainer button, .wpwcmCreateContainer input, .wpwcmCreateContainer select {
  font-family: Arial,Helvetica,sans-serif;
  font-size: inherit;
}

/* Style for WCM button */
.wpwcmCreateContainer .wpwcmCreateContainerBtn {
  padding: 5px 15px;
  text-shadow: 0 1px 1px #fff;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(center top , #ededed 0%, #e1e1e1 100%);
  border: 0 none;
  border-collapse: separate;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #333;
  font-weight: bold;
  margin: 0 4px 3px 1px;
  text-align: center;
  cursor: pointer;
  font-size: 0.9em;
}

/* Style for disabled WCM button */
.wpwcmCreateContainer .wpwcmCreateContainerBtnDisabled {
  color: #6c6c6c !important;
  border-width: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
  color: #7c7c7c !important;
  background-color: #eee !important;
  border-color: #ccc !important;
  color: #b0b0b0 !important;
  cursor: default !important;
}

/* Style for error message box. Base style for message box */
.wpwcmCreateContainer .wpwcmMessage {
  background-color: #ffebe6;
  border-color: #f08137;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
  border-width: 1px;
  border-style: solid;
  font-size: 0.9em;
}

/** Style for icon in message box */
.wpwcmCreateContainer .wpwcmMessage .wpwcmIcon {
  margin-right: 7px;
  margin-top: 0;
  float: left;
}

/* Style for alt text in message box */
.wpwcmCreateContainer .wpwcmMessage span.wpwcmAltText {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

/* Style for alt text in message box */
.wpwcmCreateContainer .wpwcmAltText {
  display: none;
}

/* Style for message body in message box */
.wpwcmCreateContainer .wpwcmMessage .wpwcmMessageBody {
  margin: 0 20px;
}

/* Style for information message box */
.wpwcmCreateContainer .wpwcmMessage.wpwcmInfo {
  background-color: #d9f1fb;
  border-color: #00b0da;
}

/* Style for error icon in message box */
.wpwcmCreateContainer .wpwcmIconMsgError {
  background-position: -22px -8px;
}

/* Base style for icons in message box */
.wpwcmCreateContainer .wpwcmIconMsgSuccess, .wpwcmCreateContainer .wpwcmIconMsgError, .lotusIconMsgInfo .wpwcmIconMsgInfo, .lotusIconMsgInfo .wpwcmIconMsgWarning {
  background-image: url(/Images/Farmpik/lotusHSprite-8bit.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}

/* Style for image in message box */
.wpwcmCreateContainer img {
  border: 0 none;
  line-height: 0;
  vertical-align: middle;
}

/* Style for loading icon */
.wpwcmCreateContainer .wpwcmLoading {
  background-image: url(/Images/Farmpik/loading.gif);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

/********************* START OF STYLES FOR THE EMBEDDED DIJIT ********************************/

/* Style to position inplace creation dialog. Copied from one ui dijit theme. This style is not included in base one ui theme. */
.dijitPopup {
    background-color: transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.dijitTooltipDialogPopup {
    box-shadow: none;
}

.dijitTooltipAbove, .dijitTooltipBelow {
    margin-left: -5px;
    margin-right: -5px;
    padding: 5px;
}

.dijitTooltip, .dijitTooltipDialog {
    background: none repeat scroll 0 0 transparent;
    overflow: hidden;
}

.dijitTooltipContainer {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 5px #eeeeee;
    padding: 10px;
    color: black;
    font-size: small;
}

.dijitTooltipFocusNode {
    padding: 2px;
}
/********************* END OF STYLES FOR THE EMBEDDED DIJIT ********************************/

/*
 * The default styles in the WCM Rendering Portlet for items and fields that are inplace editable.
 * These styles are contributed to the theme in the HTML <head>.
 * 
 * These styles can be overridden by customers if required. Typically, customers would do this
 * by contributing (or overriding) their own style to the theme after these styles.
 * Alternatively, individual tags can be styled using the 'class' attribute on the EditableElement
 * and EditableProperty tags, or the global config value 'inplaceEdit.defaultClasses' can be set.
 *
 * Note that these styles are used for both LTR and RTL languages, and so therefore all styles
 * applied to left must also be applied to right.
 *
 * The general style here is light blue for editing, light red for errors. This may not work for customer
 * sites that are light blue or light red. In this case, they'd want to use the override.
 *
 * The default class applied to inplace editable fields is 'wcm-default-inplace-editable'. This can be 
 * overridden in the EditableElement and EditableProperty tags.
 */

/*********************** START INPLACE EDITABLE FIELDS STYLES ********************************/

/* set min height to make sure the content region is editable when it is empty */
.wcm-default-inplace-editable .wcm-inplace-content-region {
	min-height: 18px;
}

/* Ensure there is a gap between the editable region and its border */
.wcm-default-inplace-editable > .wcm-inplace-content-region {
	padding: 3px;
}

/* Ensure inplace edit fields with format="span" are positioned inline when editing and also have a min-width so when the element is editable even when its content is empty*/
.wpthemeControlBody span.wcm-default-inplace-editable {
	display: inline-block;
	min-width: 5px;
}

/* All borders that we add around the editable field will have these styles applied */
.wpthemeControlBody .wcm-default-inplace-editable {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* Styles for the placeholder text */
.wcm-default-inplace-editable .placeholder {
	color: gray;
	font-style: italic;
	overflow: hidden;
}

/*************************************************************************
 * Styles for editable fields on hover
 *************************************************************************/
/* Style for editable fields when hovering over the containing web content viewer portlet - 
   Show light box around all editable fields in the current portlet.  */
.wpthemeControlBody:hover .wcm-default-inplace-editable, /* Apply style when the portlet has hover */
.wpthemeControlBody.wpthemeMenuRefNode .wcm-default-inplace-editable /* Apply styles when the Portlet CAM menu is open */
{
	-moz-box-shadow: inset 0 0 0px 1px rgba(212, 212, 212, 0.5) !important;
	-webkit-box-shadow: inset 0 0 0px 1px rgba(212, 212, 212, 0.5)!important;
	box-shadow: inset 0 0 0px 1px rgba(212, 212, 212, 0.5) !important;
}

/* Style for editable field while hovering over the field (i.e. while its CAM menu is open).
 * Blue border around field. (The selector needs to be more specific than the grey border above)  */
.wpthemeControlBody .wcm-default-inplace-editable.wpthemeMenuRefNode /* Apply styles while the field's CAM menu is open */ 
{
	-moz-box-shadow: inset 0 0 0px 1px rgba(38, 120, 113, 0.5) !important;
	-webkit-box-shadow: inset 0 0 0px rgba(38, 120, 113, 0.5) !important;
	box-shadow: inset 0 0 0px 1px rgba(38, 120, 113, 0.5) !important;
}

/* Style when editable fields are being saved and re-rendered. This style is also used while the Rich Text Editor is loading. */
.wpthemeControlBody:hover .wcm-default-inplace-editable.saving {
	opacity: 0.5;
}

/* Style when editable fields are loading value from server.*/
.wpthemeControlBody:hover .wcm-default-inplace-editable.loading {
	opacity: 0.5;
}

/*************************************************************************
 * Styles for editable fields with errors
 *************************************************************************/

/* Style for editable fields in error when hovering over the containing web content viewer portlet
   Show red box around all in error fields in the current portlet. */
.wpthemeControlBody:hover .wcm-default-inplace-editable.error, /* editable field has error and hover */
.wpthemeControlBody.wpthemeMenuRefNode .wcm-default-inplace-editable.error, /* editable field has error and Portlet CAM menu is open */
.wcm-default-inplace-editable.error.wpthemeMenuRefNode, /* editable field has error and menu hover  */
.wcm-default-inplace-editable.error /* editable field has error */
{
	-moz-box-shadow: inset 0 0 0px 1px rgba(240, 129, 55, 0.45) !important;
	-webkit-box-shadow: inset 0 0 0px 1px rgba(240, 129, 55, 0.45) !important;
	box-shadow: inset 0 0 0px 1px rgba(240, 129, 55, 0.45) !important;
}

/* Icon for editable fields in error when hovered over */
.wcm-default-inplace-editable.error .wcminplace-link-edit {
	background-image: url(/Images/Farmpik/label_error.png);
	background-repeat: no-repeat;
	background-position: left 6px center;
	padding-left: 24px !important;
}

/*************************************************************************
 * Styles for the CAM menus for editable fields
 *************************************************************************/

/* Styles for entire CAM menu on hover. White background, green text. */
.wcm-default-inplace-editable .wpthemeMenu .wpthemeMenuInlineList {
	padding: 0px 2px 0px 2px;
	background-color: rgb(229, 241, 238) !important;
	border: 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 1) !important;
	-webkit-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 1) !important;
	box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 1) !important;
	font-size: 0.9em;
	color: rgb(38,120,113);
	font-weight: normal;
}

/** Styles for the entire CAM menu while the field is being edited. Green background, white text. */
.wcm-default-inplace-editable.editing .wpthemeMenu .wpthemeMenuInlineList {
	background-color: rgb(38,120,113) !important;
	color: #ffffff;
}

/** Align menu with the edge of the editable region - no margin */
.wcm-default-inplace-editable .wpthemeMenu .wpthemeMenuInlineList li.wpthemeFirst {
	margin-left: 0px;
}

/** Style for all menu items on hover. Never changes with hover/focus state.
    Transparent background - we'll inherit the background of the entire menu */
.wcm-default-inplace-editable .wpthemeMenu .wpthemeMenuInlineList li,
.wcm-default-inplace-editable .wpthemeMenu .wpthemeMenuInlineList li:hover,
.wcm-default-inplace-editable .wpthemeMenu .wpthemeMenuInlineList li:focus,
.wcm-default-inplace-editable .wpthemeMenu .wpthemeMenuInlineList li:active {
	font-weight: bold;
	color: rgb(38,120,113);
	background-color: rgba(0, 0, 0, 0) !important;
}

/** Styles for all menu items in edit state */
.wcm-default-inplace-editable.editing .wpthemeMenu .wpthemeMenuInlineList li,
.wcm-default-inplace-editable.editing .wpthemeMenu .wpthemeMenuInlineList li:hover,
.wcm-default-inplace-editable.editing .wpthemeMenu .wpthemeMenuInlineList li:focus,
.wcm-default-inplace-editable.editing .wpthemeMenu .wpthemeMenuInlineList li:active {
	color: #ffffff;
	font-weight: bold;
	background-color: rgb(38,120,113) !important;
}

/* Header entry of the CAM menu - allow space for icon */
.wcminplace-link-edit {
	/** Hide the vertical bar that is a default in the menus. Do this for both LTR and RTL languages */
	border-right: 0 none !important;
	border-left: 0 none !important;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-left: 7px !important;
}

/** Visually hide the save and cancel links (but text is still available for the screen-reader) */
.wcminplace-link-save,.wcminplace-link-cancel {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/** used by "inplace" editing only. Hide the original text when user start to edit it */
.dijitOffScreen {
	position: absolute !important; 
	left: -10000px !important; 
	top: -10000px !important;
}

/*********************** END INPLACE EDIT STYLES ********************************/


/********************* START PORTLET MENU (Open Read Form, Open Edit Form etc.) STYLES ********************************/
/* Style the Header entries of the Portlet Level Menu */
.wcm-default-inplace-portlet-header-entry {
	font-weight: normal !important;
}

/* Style for the entries in the Portlet Level Menu */
.wcm-default-inplace-portlet-entry {
	text-indent: 9px;
}

/* Style for the workflow label (e.g. "Published" or "Draft") in the header of the Portlet Level Menu */
.wcm-default-inplace-workflow-label {
	font-style: italic;
	/* Text is grey - but needs to be dark enough to maintain minimum contrast (4.5:1) when highlighted with light blue background */
	color: #666666;
	font-weight: normal;
	font-size: 90%;
}

/********************* END PORTLET MENU STYLES ********************************/

/********************* START CONCURRENT EDITS OVERLAY STYLES ********************************/

/* Styles for the 'Loading...' overlay. These styles add to the styles in the theme's wpthemeOverlay */
.wcm-default-inplace-overlay {
	display: block;
	left: 0;
	top: 0;
}

/* Styles for the 'Loading...' overlay's spinning image. These styles add to the styles in the theme's wpthemeOverlayImg */
.wcm-default-inplace-overlay-image {
	position: fixed;
}

/********************* END CONCURRENT EDITS OVERLAY STYLES ********************************/

/********************* START EMBEDDED CKEDITOR STYLES ********************************/

/* Styles for the CKEditor. Hide the status bar when it's shown at the top (which it is for the inline CK4 editor). */
.cke_top .cke_status_container {
	display: none;
}

/* Styles for the CKEditor. Style display:block so that CKEditor 4 behaves like CKeditor 3. */
.cke_chrome {
	display: block !important;
}

/* Ck editor's contentEditable div must use overflow:auto, so any margins within the content expand the editor, instead of extending outside the editor */
.wcm-default-inplace-editable .cke_editable {
	overflow: auto;
}

/********************* END EMBEDDED CKEDITOR STYLES ********************************/

.edit-mode .dojoDndHandle {
	position: relative;
}

.edit-mode .dojoDndHandle .dragHandle {
	position: absolute;
	top: 0px;
	left: 40%;
	width: 20%;
	height: 50%;
	z-index: 100;
	background-image: url(/Images/Farmpik/DragHandleTop.png);
	opacity: 0.6;
	cursor: move;
	
}/*! Licensed Materials - Property of IBM.
    (c) Copyright IBM Corporation 2012.  All Rights Reserved.
    U.S. Government Users Restricted Rights:  Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.pznDialog {
	background-color:white !important;
}
.pznDialog a,
.pznDialog a:active,
.pznDialog a:focus,
.pznDialog a:hover,
.pznDialog a:visited {
    text-decoration: none !important;
}
.pznDialogBlueLink,
.pznDialogBlueLink:active,
.pznDialogBlueLink:focus,
.pznDialogBlueLink:hover,
.pznDialogBlueLink:visited {
	color:#1970B0 !important;
    text-decoration: none !important;	
}
.pznDialogLinkControlTable {
	padding:0px !important;
}
.pznDialog h1{
    font-size: 2em;
    margin: 0;
    font-weight: normal;
}

.pznDialog h2{
    font-size: 1.5em;
    font-weight: normal;
    margin: 4px 0;
}

.pznDialog h3{
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}
.pznDialog h3.pznDescription {
	font-size:0.92em;
    font-style:italic;
    color: #555555;
}
.pznDialog img {
    background-image: url(/Images/Farmpik/pzn.png);
}
.pznDialogElementDisplayNone {
    display:none;
}
.pznDialogElementDisplayInline {
    display:inline;
}
.pznDialogElementDisplayBlock {
    display:block;
}
.pznDialogElementBgImageNone {
    background-image:none !important;
}
.pznDialogTextDecorationNone {
    text-decoration:none;
}
.pznDialogBtn {
}
.pznDialogSectionSpacing{
	margin-top:15px;
}
.pznDialogSeparator {
    border-top: 1px solid #ccc;
    padding: 5px 0;
}
.pznDialogTitleIcon {
    padding:3px 6px 0 0;
    width:32px !important;
}
.pznDialogDropDownIcon{
    width:9px;
    height:9px;
    background-position:0 -44px;
}

.pznDialogDropDownIconOpen{
    width:9px;
    height:9px;
    background-position:0 -481px;
}
.pznDialogMoveRules{
}
.pznDialogMoveRules  a{
    display:block;
    padding:6px 5px;
}
.pznDialogMoveRules  span{
    display:block;
    padding:6px 5px;
}
.pznDialogMoveRules  a:hover{
    background-color:#F0FAFD;
}
.pznDialogMoveRules  a:focus{
    background-color:#F0FAFD;
}
.pznDialogUpIcon{
    width:9px;
    height:9px;
    background-position:0 -421px;
}
.pznDialogDownIcon{
    width:9px;
    height:9px;
    background-position:0 -391px;
}
.pznDialogUpDisabledIcon{
    width:9px;
    height:9px;
    background-position:0 -436px;
}
.pznDialogDownDisabledIcon{
    width:9px;
    height:9px;
    background-position:0 -406px;
}
.pznDialogActionList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pznDialogActionList li{
    padding: 0 0 0 7px;
}

.pznDialogActionList li a{
    padding: 0 7px 0 0;
    border-right: 1px solid #a1a1a1;
    vertical-align: middle;
}

.pznDialogActionList li.pznFirst {
    padding: 0;
}

.pznDialogActionList li.pznLast a{
	padding:0;
    border-right: 0;
}
.pznDialogActionList li.pznSingle {
    padding:0px;
}
.pznDialogActionList li.pznSingle a{
    border-right:0px;
    padding:0px;
}
.pznDialogMainContent {
    overflow: auto;
    padding:10px;
}
.pznDialogBanner {
	background-color:#F5F5F5;
    padding:10px 5px 10px 10px;
    border-bottom:1px solid #D1D1D1;
}
.pznDialogBanner .pznLabel {
    font-weight: bold;
}
.pznDialogTargetDisplay a {
    color: #222222 !important;
    font-weight:bold;
}
.pznDialogReturnIcon {
}
.pznDialogReturnIcon img {
    width: 9px;
    height: 10px;
    background-position:0 -82px;
}
.pznDialogTargetDisplay{
    font-size: 1.15em;
    padding-bottom: 7px;
}
.pznDialogTargetedItemsContainer{
	border: 1px solid #DADADA;
	border-radius:4px;
	max-height:300px;
    overflow:auto;
}
.pznDialogTargetedItem{
    background-color:#EDEDED;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #F9F9F9;
}
.pznDialogTargetedItem:hover {
	background-color:#DEEDF1;
}
.pznDialogTargetedItem:hover .pznDialogSectionRuleCellWithUpDown {
    background-color:#F0FAFD;
}
.pznDialogTargetedItem:hover .pznDialogSegmentIsBox {
    background-color:#DEEDF1;
    border-color:#B0CAD7;
}
.pznDialogTargetedItem:hover .pznDialogSegmentAndBox {
    background-color:#DEEDF1;
    border-color:#B0CAD7;
}
.pznDialogTargetedDefault{
	padding:4px 2px !important;
}
.pznDialogTargetDisplay .pznLabel,
.pznDialogSegmentSelector .pznLabel h3{
    font-weight: bold;
}

.pznDialogTitle {
    padding: 0 5px 0 5px;
}
.pznDialogAreaHeader {
	margin-bottom: 5px;
}
.pznDialogPropertiesList {
    line-height:1.5em;
    padding:0px;
    margin:5px 0px 10px 0px;
}
.pznDialogContentProperty{
    position:relative;
}
.pznDialogContentProperty:hover .pznDialogContentPropertyActionCtrl{
    background-color:#E1F4F9;
    border-left:1px solid #D8E3E9;
}
.pznDialogContentProperty:hover .pznDialogContentPropertyEditImg {
	background-image:url(/images/Farmpik/edit_L-R_hover.png) !important;
}
.pznDialogContentPropertyText{
    display:inline-block;
    width:100%;
    overflow:hidden;
    vertical-align:middle;
}
.pznDialogPropertyLabel{
    font-weight: bold;
    padding: 0 10px 0 0;
}
.pznDialogContentPropertyAction{
    position:absolute;
    top:0;
    right:0
}
.pznDialogContentPropertyActionCtrl{
    display:inline-block;
    background-color:#fff;
    padding:3px;
}
.pznDialogContentPropertyEditImg{
    background-image:url(/Images/Farmpik/edit_L-R_active.png") !important;
    background-repeat:no-repeat;
    width:16px;
    height:16px;
}

.pznDialogContentItemTitle{
	padding:0 0 0 38px;
}

.pznDialogContentItemTitle .pznDialogActionList{ 
    padding-top: 9px;
}
.pznDialogAddSegmentLink{
	margin:0 0 5px 20px;
}
.pznDialogTargetItemSegmentsParent{
	float:left;
}
.pznDialogTargetItemSegmentContainer {
	position:relative;
    width: 90%;
    padding: 2px 0;
}
.pznDialogSegmentTable{
    display: table;
    width:100%
}
.pznDialogSegmentRow {
    display: table-row;
}
.pznDialogSegmentPink
{
	background-color: #F7E2E9;
}
.pznDialogSegmentGrey{
	background-color: #F0F0F0;
}
.pznDialogSegmentControl {
    width: 4em;
    width: auto;
}
.pznDialogSegmentControl img{
	width:16px;
    height:16px;
    background-image: none;
}
.pznDialogSegmentMultiItemNotMatch{
    background-color: #F7E2E9;
    border: 1px solid transparent;
}
.pznDialogTargetedItemSegmentItem, 
.pznDialogTargetedItemSegmentMultiItem {
	position:relative;
	float:left;
    padding:0 0 0 25px;
    width:100%;
}
.pznDialogTargetedItemSegmentMultiItem > div {
	padding: 3px;
}
.pznDialogTargetedItemSegmentItemSingleLine {
	display:block;
	position:relative;
	padding:3px 25px 3px 8px;
	border: 1px solid #CCCCCC;
}
.pznDialogTargetedItemSegmentItemSingleLineMatch:hover {
    border:1px solid #D8E3E9;
    background-color:#EDF8FB;
}
.pznDialogTargetedItemSegmentItemNotMatch:hover {
    border:1px solid #E4CED6;
    background-color:#F7D8E3;
    cursor:pointer;
}
.pznDialogTargetedItemSegmentItemMultiLine {
    display:block;
    position:relative;
    padding:2px 25px 2px 8px;
}
.pznDialogTargetedItemSegmentImg{
	float:left;
}
.pznDialogTargetedItemSegmentTitle{
    padding:0 0 0 24px;
}
.pznDialogTargetedItemSegmentItemDropdownImg {
	width:16px;
	height:16px;
	position:absolute;
	top:3px;
	right:4px;
	background-image:url(/Images/Farmpik/menuIconGray.png) !important;
}
.pznDialogSegmentControl:hover .pznDialogTargetedItemSegmentItemDropdownImg{
    background-image:url(/Images/Farmpik/menuIconBlue.png) !important;
}
.pznDialogSegmentControlFloatRight
{
   float: right;
}
.pznDialogTargetedItemSegmentIcon {
	float:left;
	width:6%;
	padding-top:5px
}
.pznDialogTargetedItemSegmentIcon img{
    width:24px;
    height:16px;
    background-position:0 -162px;
}
.pznDialogTargetedItemSegmentSharkFin {
	position:absolute;
	top:8px;
	left:0px;
	width: 7px; 
    height: 11px;
    background-position: 0 -120px;
}
.pznDialogSegmentsContainer {
    padding:0 0 10px 0;	
}
.pznDialogSegmentRow span.pznDialogSegmentCell{
    display: table-cell;
}
.pznDialogNoMouseHighlight {
    border:1px solid transparent;
    padding:2px 5px;
}
.pznDialogMouseHighlight {
	border:1px solid transparent;
    padding:2px 5px;
}
.pznDialogMouseHighlight:hover {
	border:1px solid #D8E3E9;
	background-color:#EDF8FB;
	cursor:pointer;
}
/*
.pznDialogMouseHighlight:hover .pznDialogSubLink {
    border:1px solid #D8E3E9;
}
*/
.pznDialogSubLink{
	padding:0 3px;
	/*
	margin:0 1px 0 1px;
	border:1px solid transparent;
    background-color:#fff;
    */	
}
/*
.pznDialogSubLink:hover{
	border:1px solid #D8E3E9;
    background-color:#EDF8FB;
}
*/
.pznDialogTargetedDeleteIcon{
	padding:0 3px;
}
.pznDialogTargetedItemIcon img{
    width:36px;
    height:33px;
    background-position:0 -322px;
}
.pznDialogAppearance .pznLabel {
    font-weight: bold;
    padding: 0 7px;
}

.pznDialogComponentAppearanceIcon {
    width:18px;
    height:18px;
    background-position:0 -453px;
}

.pznDialogAppearance .pznDialogActionList {
    padding: 0 7px;
}

.pznDialogAddContentTarget img{
    width:16px;
    height:15px;
    background-position:0 -297px;
    padding: 0 2px 0 0;
}

.pznDialogHideSpot img{
    width:16px;
    height:15px;
    background-position:0 -230px;
    padding: 0 5px 0 0;
}

.pznDialogSection.pznFirst{
    border: 0;
}

.pznDialogSection{
    border-top: 1px dashed #999;
}
.pznDialogSectionRuleCellWithUpDown {
    padding:4px 0 0 0;
    float:right;
    width:94.4%;
    border-left:1px solid #D5D5D5;
    background-color:#FAFAFA;
    height:100%;
    min-height:56px;
}
.pznDialogSectionRuleCell {
	padding:4px 0 0 0;
}
.pznDialogSectionRuleCell:hover {
    background-color:#F0FAFD;
}
.pznDialogSectionDefaultSeparator{
    height:0px;
    border-top: 1px dotted #999;
}
.pznDialogSectionHeader {
    padding: 2px 0px 0px 5px;
    width: 98.5%;
}
.pznDialogTargetedItemTitleArea {
	padding:0 0 0 4px;
}
.pznDialogSectionHeader img {
    padding: 2px 3px;
}
.pznDialogSectionSegments {
	font-style:italic;
	font-size:10pt;
}
.pznDialogTargetedContentIcon{
	width:20px;
    margin:0 2px;
}
.pznDialogIconLRPContent{
    width:16px;
    height:15px;
    background-position:0 -230px;
    margin: 0 2px;
}
.pznDialogIconLRPContentLarge{
    width:24px;
    height:24px;
    background-position:3px -192px;
}
.pznDialogIconWcmContentLarge{
    width:32px;
    height:26px;
    background-position:0px -258px;
}
.pznDialogIconWcmContent{
    width:16px;
    height:16px;
    background-position:0px -296px;
}
.pznDialogSectionContent {
    padding: 0 5px 6px 5px;
}

.pznDialogContextual header.pznHeader{
    border: 1px dashed #999;
    background-color: #f1f1f1;
    margin-bottom: 14px;
    padding: 10px;
    border-radius: 4px;
}

.pznDialogContextualHeader .pznDialogTitle,
.pznDialogContextualHeader .pznDialogContentItemTitle,
.pznDialogSegmentSelector .pznDialogBanner .pznLabel ,
.pznDialogSearch form {
    margin: 0;
    padding: 0;
}

/* Segment Selector */
.pznDialogSegmentSelector {
    width: 100%;
}

.pznDialogSegmentSelector .pznDialogMainContent {
    padding: 10px 0 0;
}

.pznDialogSegmentSelector .lotusClose input {
    margin-top: 8px;
}
.pznDialogClose img {
	width:12px;
    height:12px;
    background-position:0 22px;
}
.pznDialogSelectedSegments {
    padding: 10px;
    width: 162px;
    height:230px;
	overflow:auto;
	float: right;
}
.pznDialogSegmentsBanner {
    padding: 8px 0;
}
.pznDialogSegmentSelectorBannerTitle {
    vertical-align:middle;
    display:inline-block;
    width:80%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis; 
}
.pznDialogSearch {
    background-color: white;
    padding: 1px 1px 4px 3px !important;
    border: 1px solid #c1c1c1;
    border-radius: 12px;
    height: 1.75em;
	display: inline;
}
.pznDialogSearchText {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #959595;
    padding: 0 0 0 5px;
    width: 18em;
	float: left;
    
}
.pznDialogSegmentGreyBox{
	background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    display: inline-block;
}
.pznDialogSegmentBoxMargin {
	margin: 5px 5px 0px 0px;
}
.pznDialogSegmentIsBox{
    padding: 1px 8px;
}
.pznDialogSegmentAndBox{
    margin: 4px 0px 0px 4px;
    padding: 1px 8px;
}
.pznDialogSegmentIsNotBox{
    background-color: #FBECF0;
    border: 1px solid #EABFD5;
    display: inline-block;
    padding: 1px 8px 1px 2px; 
}
.pznDialogSegmentIsNotBoxInner{
    display: inline;
    padding: 0px 2px;    
}
.pznDialogSegmentOrBox{
    display: inline-block;
    margin: 0px 0px 0px 4px;
    padding: 0px;
}
.pznDialogSegmentSelectorList {
	margin:0 0 10px 0;
	width:100%;
    max-height:300px;
    overflow:auto;	
    float: left;
    border-width:1px 1px 0 1px;
    border-style:solid;
    border-color:#DADADA;
    border-radius:4px;
}
.pznDialogSegmentsContainer { 
    overflow: auto;
	max-height:300px;
}


.pznDialogSegmentsSelectorContainer { 
    overflow: auto;
	max-height:300px;
}
.pznDialogSegmentSelectorSegment {
	border-top: 1px solid #F9F9F9;
	border-bottom: 1px solid #DADADA;
    padding: 5px 10px;
    margin:0;
    background-color:#F7F7F7;
}
.pznDialogSegmentSelectorSegment.pznSelected {
    background-color:#E1F4F9;
}
.pznDialogSegmentSelectorSegment:hover {
    background-color: #F0FAFD;
}
.pznDialogSegmentsTopSection {
    float: left;
	width: 100%;
    overflow:hidden;
    display: table-cell;
    margin: 0 0 7px 0;
 
}
.pznDialogSegmentLearnMoreLink {
	padding-right: 8px;
	display: inline;
}
.pznDialogSegmentSearchText {
	background-color: transparent;
	border: medium none transparent;
	padding-bottom: 1px; 
	padding: 0 0 0 5px; 
	text-align: left; 
	vertical-align: middle; 
	width: 15em;
}
.pznDialogShowHideDescLink{
	padding-left: 8px;
	display: inline;
}
.pznDialogSegmentSelectorControl {
    color: #1970B0;
    font-size: 1em;
}
.pznDialogSegmentSelectorFooter {
	padding-bottom: 0 !important;
    padding-top: 20px !important;
	border-top: 1px solid #CCCCCC;
}

span.pznCamSubMenuLeft {
	width: 120px;
	margin-right: 25px;
	display: inline-block;
	vertical-align: bottom;
	text-overflow: ellipsis;
	text-indent: 9px;
	overflow: hidden;
}

span.pznCamSubMenuShow {
	color: #00649D;
}
/* PZN Dialog Popup Menu */
#pznDialogPopupMenuItemsContainer{
    padding:5px 0;
}
.pznDialogPopupMenuBtn {
	border:1px solid transparent !important;
	padding:0 1px !important;
}
.pznDialogPopupMenuBtn:active,
.pznDialogPopupMenuBtn:focus,
.pznDialogPopupMenuBtn:hover {
	border:1px solid #cad9e1 !important;
	background-color:#e1f4f9 !important;	
}
.pznDialogPopupMenuItemSeparator{
	border: 0;
    background-color: #cccccc;
    height: 1px;
    margin:5px 0;
}
.pznDialogPopupMenuItemImg{
	background-image: none !important;
	width: 16px;
	height: 16px;
	float:left;
}
.pznDialogPopupMenuSelectedImg{
    background-image: url(/Images/Farmpik/checkMark.png) !important;
}
.pznDialogPopupMenuItem {
    cursor:pointer;
    padding: 2px 8px 2px 0;
    border:1px solid transparent;
    margin:0 4px;
}
.pznDialogPopupMenuSelected {
    border:1px solid #D8E3E9;
    background-color:#EDF8FB;
}
.wpthemeMenuBorder .wpthemeMenuDropDown li.pznMenuTypeHeader {
    font-size:13px;
    font-weight:bold;
}
.pznMenuTypeHeader span {
    color:black;
}

.pznFooter {
    padding:10px 0px 0px 0px;
}

.pznDialogMoveContainer{
	float:left;
	width:5%;
}
.pznDialogLearnMoreLink {
	text-decoration:none;
	color:#00649D;
	font-size:.9em;
}
.pznDialogPopupHelp {
	font:75%/1.5 Arial,Helvetica,sans-serif;
}
.pznDialogDefaultTargetedItemSpace {
	height:10px;
}
#pznDialogPropertiesDropDownImg {
	padding-bottom:2px;
}
#pznDialogPopupMenu {
	position:absolute;
	top:0px;
	left:0px;
	margin: 0 3px 3px 3px;
}
.pznDialogPanelTabsTable {
	width:100%;
	margin-bottom:8px;
}
.pznDialogPanelTabWithControl{
	width:1px;
}
.pznDialogPanelTab{
	padding:0 6px 0 0;
}
.pznDialogPanelTab a span{
	font-weight:bold;
	color:#8B8B8B !important;
	border-bottom:1px solid #cccccc;
	padding:0 8px 3px 8px;
	white-space:nowrap;
}
.pznDialogPanelTabActive a span{
	border-color:#222222;
	color:#222222 !important;
}
.pznDialogPanelTabLineFiller{
	border-bottom:1px solid #cccccc;
	padding:0 0 3px 0;
}
.pznDialogContentPropertiesHeading{
	position:relative;
	height:18px;
	margin:3px 0;
}
.pznDialogContentPropertiesHeading div{
	height:10px;
	border-bottom:1px solid #cccccc;
}
.pznDialogContentPropertiesHeading span{
	color:#767676;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#fff;
}
.pznDialogCursorDefault {
	cursor:default;
}
.pznDialogCursorPointer {
    cursor:pointer;
}
.pznDialogNormalFont {
    font-weight:normal;   
}
.pznDialogBoldFont {
    font-weight:bold;	
}
.pznDialogItalicFont {
    font-style:italic;
}
.pznDialogErrorText {
    color:#FF0000;
}
.pznDialogGreyText {
    color:#555555;	
}
.pznDialogTransparentText {
    color:transparent; 
}
.pznDialogDefaultColorText{
	color: #222222 !important;
}
.pznDialogDisabledItemText {
    color:#777777;
}
.pznDialogWhiteBackground {
    background-color:#ffffff;	
}
.pznDialogFontComputed11px {
    font-size:.92em !important;
}
.pznDialogFontComputed12px {
    font-size:1em !important;
}
.pznDialogFontComputed14px {
    font-size:1.17em !important;
}
.pznDialogFontComputed18px {
    font-size:1.5em !important;
}
.pznDialogNoWrapText {
	display:inline-block;
	white-space:no-wrap;
}
.pznDialogVerticalAlignMiddle {
	vertical-align:middle;
}
.pznDialogDefaultMarginTop {
	margin-top:10px;
}
