@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-ExtraLight.woff') format('woff'),
        url('../webfonts/Adani-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Medium.woff') format('woff'),
        url('../webfonts/Adani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular.woff') format('woff'),
        url('../webfonts/Adani-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular_1.woff') format('woff'),
        url('../webfonts/Adani-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Light.woff') format('woff'),
        url('../webfonts/Adani-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Bold.woff') format('woff'),
        url('../webfonts/Adani-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-SemiBold.woff') format('woff'),
        url('../webfonts/Adani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html, body{
	margin:0px;
	padding:0px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	position:relative;
	font-family: 'Adani-Regular';
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size:16px;
	background-color:#f4efec;

}
body{transition:ease margin-top 0.3s;}
main{overflow: hidden;background: #f6f6f3;padding-top: 90px;}
h1, h2, h3, h4, h5, h6, ul, li, p, header, aside, footer, section, article, nav, field, label, figcaption, figure, hgroup, input, textarea {
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
}
p{font-size: 16px;font-weight: 400;}
a{color:#179E96;}
a:link, a:visited {
	text-decoration:none;
}
header{padding: 0rem 0rem; position: fixed; top: 0px; width: 100%; left: 0px; z-index: 10;}
header .btn{text-align: left;}
header .btn:focus{outline: 0; box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);}
header .tollfree span, header .email_connect span{color:#137ab6;font-size: 0.8rem; font-weight: 600;}
header .points-tooltip span{color:#f3a100;font-size: 0.8rem; font-weight: 600;}
header .points-tooltip .fa{margin-right: 0px;}
header .tollfree span(color:#7f3a8d;)
header .points-tooltip(color:#f3a100;)
header .btn .fa-question-circle{}
header .btn .fa-question-circle:before{font-size: 20px;position: relative; top: 3px;}
header .btn .fa-phone{width: 22px; height: 22px; text-align: center; border: 2px solid #7f3a8d; border-radius: 100px;position: relative; top: 6px; margin-right: 10px;}
header .btn .fa-phone:before{left: 50%; top: 50%; transform: translate(-50%, -50%); position: absolute;font-size: 10px;color:#7f3a8d;}
header .btn .fa-envelope{width: 22px; height: 22px; text-align: center;position: relative; top: 0px; margin-right: 10px;}
header .btn .fa-envelope:before{}
header .btn span{display: inline-block;}
.bg-images {position: absolute;left: 0;top: 0;right: 0;bottom: 0;overflow: hidden;z-index: 0;}
.bg-images img {border-radius: 0;min-height: 100%;min-width: 100%;position: relative;height: 100%;object-fit: cover;-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 50%; left: 50%;}
.login_container{position: relative;padding: 3.5rem;min-height: 80vh;}
.login_container .bg-images{background: rgb(186,54,100); background: linear-gradient(243deg, rgba(186,54,100,1) 0%, rgba(131,58,148,1) 52%);}
.login_container .bg-images img{opacity: 0.2;}
.login_container h1{color: #fff; position: relative; text-align: center; font-weight: 500; font-size: 2.5rem;}
.login_container h2{font-size: 1.5rem; font-weight: 500; margin-bottom: 1.25rem; color: #ff6735;text-shadow: 0 0 #ff6735;}
.login_container h2 img{width: 35px; margin-right: 10px;}
.login_container-inner{}
.login_container-inner > div{max-width: 450px; margin: 1.5rem auto; background: #fff; position: relative; padding: 1.5rem; box-shadow: 0px 0px 2px 0px #000;}
.login_container-inner > div label{font-size: 13px; margin-bottom: 0.5rem; color: #545454;}
.login_container-inner > div .form-control{border-radius:0px;}
.header-logo{display: block;}
.header-logo img{max-width: 130px;}

.btn{
	border-radius: 5px;
	padding: .45rem 1.2rem;
	font-size: 18px;
	line-height: 1.31;
}
.btn-primary {
	font-weight: 500;
    color: #fff;
    background-color: #ff6735;
    border-color: #ff6735;
	min-width: 150px; border-radius: 0px;
}
.btn-primary:hover , .btn-primary:active{
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.11)!important;
    top: -3px;
	color:#fff !important;
    transition: ease all 0.5s;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
     background-color:#4a4a4a;
    border-color: #4a4a4a;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
	background: #4a4a4a;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
}
.btn-secondary {font-size: 18px;line-height: 28px; color: #6b69b0 !important; background: #fff; border: 0px; padding: 0px; border-radius: 0px;padding: 0.6rem 1.25rem;transform: translateY(0px); box-shadow: 0px 0px 0px 0px #b9b9b9;transition: ease all 0.6s;font-weight: 500;}
.btn-secondary span{font-size: 12px; position: relative; top: -2px; transition: ease all 0.4s; left: 0px;}
.btn-secondary:hover span{ transition: ease all 0.4s; left: 10px; }
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:focus{background:#fff;outline: 0;border:0px;    box-shadow: 0 0 0 0.2rem rgba(130,138,145,0) !important;color:#6b69b0 !important;transform: translateY(-5px); box-shadow: 0px 3px 9px 3px #b9b9b9;transition: ease all 0.6s;}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle { color: #6b69b0; background-color: #fff; border-color: #fff; }
.btn-gradient{min-width: 150px;background: rgb(51,112,179); background: linear-gradient(41deg, rgba(51,112,179,1) 0%, rgba(29,159,149,1) 100%);transition:ease all 0.6s;color: #fff; border-radius: 0px;transform: translateY(0px); box-shadow: 0px 1px 5px -1px #b9b9b9;padding: 0.6rem 0.7rem 0.45rem 0.7rem; font-size: 18px;font-weight: 500;}
.btn-gradient:hover{background: rgb(51,112,179);background: linear-gradient(241deg, rgba(51,112,179,1) 0%, rgba(29,159,149,1) 100%);transition:ease all 0.6s;color:#fff;transform: translateY(-5px); box-shadow: 0px 3px 9px 3px #b9b9b9;}
.btn-gradient span{position: relative; top: 1px;}
.ft-logo{max-width: 130px;}
.ft_social{}
.ft_social li{display: inline-block; width: 30px; text-align: center; font-size: 14px; font-weight: 500; color: #6f6f6f;}
.ft_social li a{color: #6f6f6f;font-size: 16px;transition:ease all 0.6s;}
.ft_social li a:hover{color: #ff6735;transition:ease all 0.6s;}

header{background: #fff;}
header .navbar-brand{margin-right: 0px;padding: 0rem 0;display: block;transition: ease all 0.6s;}
header.headerSec .navbar-brand img{max-width: 275px;filter: brightness(500) contrast(1.5) grayscale(1);}
.topMenu{}
.topMenu li{padding: 0rem 0rem;}
.topMenu li a{color: #fff; padding: 0.5rem 0.6rem; font-weight: 500; text-shadow: 0 0 black;display:block;font-size: 13px;}
.btn-login{background: rgb(58,120,181); background: linear-gradient(90deg, rgba(58,120,181,1) 0%, rgba(40,164,154,1) 52%);color:#fff;border-radius: 0px; padding: .45rem 1.5rem;}
.header-section{padding: 0px 0px; box-shadow: 0px 0px 6px 0px #9c9c9c; z-index: 9; position: relative;}
.top-submenu{border-bottom: 0px solid #ccc;}
.banner-content{text-align: left; position: absolute; top: 60%; transform: translateY(-50%); width: 100%;}
.banner-content h2, .banner-content h1{font-weight: 600; color: #fff; margin-bottom: 1rem;font-size: 2.5rem;text-shadow: 1px 1px 3px #000;}
.banner-content p{color: #fff; font-size: 1.25rem; font-weight: 500; margin-bottom: 2rem;text-shadow: 1px 1px 3px #000;line-height: 30px;}
.banner-content .container > div{max-width: 550px;}
.banner-content > div a{color: #fff; border: 1px solid #fff; padding: 0.6rem 1.25rem; font-size: 18px;background:rgb(1 30 62 / 0%);transition:ease all 0.6s;position:relative;display:inline-block;margin-right: 10px; margin-bottom: 10px;text-transform: uppercase;}
.banner-content > div a:hover{background:rgb(255 255 255 / 100%);transition:ease all 0.6s;color:#000;transform: translateY(-5px);box-shadow: 0px 3px 9px 3px rgb(0 0 0 / 34%);}
.banner-content > div a span{    margin-left: 0.5rem;}
.hero-banner .item{position:relative;}
.hero-banner .owl-dots{position: absolute; bottom: 10px; width: 100%;text-align: center;}
.hero-banner .owl-dots button{outline: 0;}
.hero-banner .owl-dots button.active{}
.hero-banner .owl-dots button.active span{background:#3c78b6;position: relative; top: -5px; transition: ease all 0.5s;}
.hero-banner .owl-dots button span{width: 30px; height: 5px; background: #fff; display: block;margin-right:10px;position: relative; top: 0px; transition: ease all 0.5s;}
.hero-banner .owl-dots {}

.section-heading{font-weight: 600;font-size: 2.5rem;}
.text-blue{color: #0a86d2 !important;}
.loadmore_content{text-align: center;}
.loadmore_content p{color: #0b4677; font-weight: 600; font-size: 1.15rem;cursor:pointer;transition: ease all 0.6s;}
.loadmore_content p:hover{color: #f08923;transition: ease all 0.6s;}
.bg-gradient{background: rgb(186,54,100);background: linear-gradient(243deg, rgba(186,54,100,1) 0%, rgba(131,58,148,1) 52%);}
.bg-images.bg-gradient img{opacity:0.2;}

/*Inner breadcrumb*/
.breadcrumb{width: 100%;padding: 20px 0px 10px 0px;background:#fff;}
.breadcrumb ul li{color: #000;display: inline-block;}
.breadcrumb ul li:nth-last-child(1):after{content:" "}
.breadcrumb ul li:after{content:"\f105";padding:0px 10px;display: inline-block; position:relative;font-family: 'Font Awesome 5 Free';font-weight: 900;color: #000;}
.breadcrumb ul li a:hover{color: #4e4e4e;text-decoration: none;}
.breadcrumb ul li a{color: #0b4677; text-transform: capitalize; font-size: 20px; line-height: 22px; text-shadow: 0 0 black;font-weight: 600;}

.heading{font-weight: 500;color:#494949;margin-bottom: 0.5rem;}
.heading span{font-weight: 300;}
.sub-heading{color: #494949; font-size: 16px; font-weight: 400; text-shadow: 0 0 black}
.hero_banner_container{position:relative;}

.stats_section{text-align:center;padding: 0.5rem;transition: ease all 0.6s;background:rgb(255 255 255 / 0%);transform: translateY(0px);height: 100%;}
.stats_section:hover{transition: ease all 0.6s;background: rgb(255 255 255 / 0%); box-shadow: 0px 1px 4px -2px rgb(0 0 0 / 0%);transform: translateY(-5px);}
.stats_section--thumb{margin-bottom: 1rem;}
.stats_section--thumb img{width: 50px; object-fit: cover;}
.stats_section--description{}
.stats_section--description h3{color: #3b77b5;font-size: 1.25rem; font-weight: 700; margin-bottom: 0.25rem;}
.stats_section--description p{color: #000; font-weight: 500;font-size: 12px;}

.video_section{position:relative;height: 100%;cursor: pointer;}
.video_section img{height: 100%;width:100%;object-fit: cover;}
.video_section:after{content:"\f144";font-family: 'Font Awesome 5 Free'; font-weight: 400;position: absolute; top: 5%; right: 5%; color: #fff; font-size: 3rem;transition: ease all 0.6s;opacity:1;}
.video_section:hover:after{content:"\f144";font-family: 'Font Awesome 5 Free'; font-weight: 400;position: absolute; color: #fff; transition: ease all 0.6s;opacity:0.5;}
.video_section:hover{}

.text_container h2{color: #000;display:inline-block; padding-bottom: 1rem;font-weight: 600;margin-bottom: 1.5rem;position:relative;}
.text_container h2:after{content:"";border-bottom: 5px solid #28a49a;display: block; bottom: 0px; position: absolute;width: 100%; max-width: 400px;}
.text_container > div a.btn{color: #3b77b5; padding: 0px; font-weight: 600; transition: ease all 0.6s;}
.text_container > div a.btn:hover{color: #28a49a; transition: ease all 0.6s;}
.text_container p{font-size: 1rem; font-weight: 400; line-height: 22px; margin-bottom: 0.8rem;}
.text_container h4{color: #054ba0;font-size: 1.45rem; font-weight: 500; margin-bottom: 0.8rem;}

.finance-offerings{background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%);position: relative;}
.finance-offerings .bg-images img{opacity:0.1;}
.finance-offerings h2{position: relative; color: #fff; font-weight: 500;}
.finance-offerings p{color: #fff; font-size: 16px; font-weight: 400; max-width: 750px; text-align: center; margin: 0px auto 30px auto;position: relative;}
.finance-offerings h2:after{content:"";display: block; height: 3px; background: #fff; max-width: 300px; margin: 15px auto;}
.finance_main{transition: ease all 0.6s; transform: translateY(0px);}
.finance_main:hover{transition: ease all 0.6s; transform: translateY(-5px);box-shadow:0px 3px 16px 1px rgb(0 0 0 / 17%);}
.finance_main--thumb{height: 240px; overflow: hidden; position: relative;margin-bottom: 0px;}
.finance_main--thumb img{width: 100%; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);height: 100%; object-fit: cover;}
.finance_main--desc{padding: 1.5rem; background: #fff;}
.finance_main--desc h3{font-size: 26px;line-height:28px; color: #3c77b6;margin-bottom: 12px;font-weight: 600;}
.finance_main--desc p{color: #000; margin-bottom: 30px; font-weight: normal; font-size: 18px;display: -webkit-box; max-width: 100%; line-height: 21px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis;overflow:hidden;text-align: left;}
.finance_main--desc a{font-size: 18px; line-height: 28px; color: #000 !important; border: 0px; padding: 0px; border-radius: 0px; padding: 0.6rem 0rem; transform: translateY(0px); transition: ease all 0.6s; font-weight: 500;}
.finance_main--desc > div{color: #000 !important;}
.finance_main--desc > div:hover{color: #3c77b6 !important;}
.wholesale-finance--main{position: relative;}
.wholesale-finance--thumb{position: relative;}
.wholesale-finance--thumb img{min-height: 350px; object-fit: cover;}
.wholesale-finance--thumb:after{content:"";position: absolute; display: block; bottom: 0px; width: 100%; height: 1px; box-shadow: 0px 0px 64px 27px #000, 0px 0px 101px 27px #000, 0px 0px 64px 27px #000, 0px 0px 101px 27px #000;}
.wholesale-finance--description{position: absolute; bottom: 0px; width: 100%; padding: 1.5rem; color: #fff;}
.wholesale-finance--description h3{background: #17b577; display: inline-block; padding: 0.5rem 1rem; font-size: 1.5rem; font-weight: 400; margin-bottom: 1rem;}
.wholesale-finance--description p{margin-bottom: 0.5rem;text-shadow: 0px 0px 8px #000;}
.wholesale-finance--description > div{color: #fff !important;font-size: 16px; font-weight: 600;}
.wholesale-finance--description > div:hover{color: #fff !important;}
.wholesale-finance{}
.wholesale-finance .owl-nav{position: absolute; bottom: 20px; color: #fff; right: 20px;}
.wholesale-finance .owl-nav button{outline:0;}
.wholesale-finance .owl-nav button:hover span{opacity:0.6;}
.wholesale-finance .owl-nav button span{display: inline-block; min-width: 30px; text-align: right; font-size: 1.5rem;}

.newsupdate{background: #fff; padding: 1.5rem;}
.news-updates { padding-left: 38px; position: relative } .news-updates li { position:relative;margin-bottom: 15px; font-size: 14px; line-height: 21px; } .news-updates li:before { background-image: url(../images/news-icon.png); content: ""; display: block; position: absolute; width: 35px; height: 30px; left: -38px;top:5px; background-repeat: no-repeat } .news-updates li a { color: #000;display: -webkit-box; max-width: 100%; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;} .news-updates li a:hover { color: #006db7; text-decoration: underline } .box-shadow { box-shadow: 0 0 11px -8px #000 } .section-heading { font-size: 1.2em; margin-bottom: 20px; font-weight: 500 }
.news-updates li span{color: #8a8a8a; display: block; font-size: 14px; font-weight: 500;}

.bg-images {position: absolute;left: 0;top: 0;right: 0;bottom: 0;overflow: hidden;z-index: 0;}
.bg-images img {border-radius: 0;min-height: 100%;min-width: 100%;position: relative;height: 100%;object-fit: cover;-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 50%; left: 50%;}


#back-to-top {
	transform: rotate(0deg);
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 9; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(91 88 167 / 90%); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 15px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
                    transition: ease-in all 0.2s;
}
#back-to-top:afte{content: ""; height: 0px; position: absolute; bottom: -6px; left: -8px; width: 70%; transform: rotate(20deg); box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32);}
#back-to-top:hover {    
	transition: ease-in all 0.2s;
    background-color:#6b68af ; /* Add a dark-grey background on hover */
    transform: rotate(0deg);
}
#back-to-top:hover:after{display:none;}

.fixed-header .navPanel{background: rgb(255 255 255 / 90%);box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);transition: ease all 0.6s;}
.fixed-header.box-shadow .navPanel{box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);transition: ease all 0.6s;}
.inner_header .navPanel{box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 0%);transition: ease all 0.6s;}


/*Inner breadcrumb*/
.breadcrumb_section{position: relative;width: 100%;background: #fff; padding: 140px 0px 80px 0px;}
.breadcrumb_section ul{}
.breadcrumb_section ul li{color: #000;display: inline-block;}
.breadcrumb_section ul li:nth-last-child(1):after{content:" "}
.breadcrumb_section ul li:after{content:"\f101";padding:0px 10px;display: inline-block; position:relative;font-family: 'Font Awesome 5 Free';font-weight: 900;color: #000;}
.breadcrumb_section ul li a:hover{color: #4e4e4e;text-decoration: underline;}
.breadcrumb_section ul li a{color: #000; text-transform: capitalize; font-size: 16px; line-height: 19px; text-shadow: 0 0 black;}

.section_heading{background:#fff;}
.section_heading .container-fluid p{border-bottom: 1px solid rgb(0 0 0 / 0.50);}
.section_heading h1{font-size: 40px; line-height: 48px; font-weight: 500; margin-bottom: 20px;}
.section_heading p{padding-bottom: 30px;}
.section_heading p span{font-size: 18px; line-height: 21px;font-weight: 400;}
.section_heading p span:last-child:before{content:"||";margin: 0px 10px;}
.section_heading p span:last-child{}

.content-section{}
.content-section h2{font-size: 40px; line-height: 48px; font-weight: 500; margin-bottom: 40px;}
.content-section h3{font-size: 30px; line-height: 36px; font-weight: 500; margin-bottom: 40px;}
.content-section p{font-size: 26px; line-height: 36px; font-weight: 400; margin-bottom: 40px;}
.content-section p:last-child{margin-bottom: 0px;}
.content-section img{margin-bottom: 40px;}

.mgmgt-msg{background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%);height: 100%; padding: 1.5rem; color: #fff;}
.mgmgt-msg p{font-size: 1.35rem; line-height: 30px; font-weight: 400;}
.mgmgt-msg p.ceo{font-size: 1rem;font-size: 1rem; line-height: 22px;}
.mgmgt-msg p.ceo span{display:block;font-weight: 400;}
.mgmgt-thumb{overflow: hidden; background: #e1dcd9; position: relative; min-height: 350px;height: 100%;}
.mgmgt-thumb img{position: absolute; bottom: 0;width: 100%;}

.section-quick_links{background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%);padding: 2rem 0px;}
.quick_links-tiles{text-align: center;  background: #fff;transition: ease all 0.6s; box-shadow: 0px 1px 4px -2px rgb(0 0 0 / 0%); transform: translateY(0px);}
.quick_links-tiles:hover{transition: ease all 0.6s; box-shadow: 0px 1px 4px -2px rgb(0 0 0 / 50%); transform: translateY(-5px);}
.quick_links-tiles a{display: block;padding: 1.5rem;}
.quick_links--thumb{margin-bottom: 0.8rem;}
.quick_links--thumb img{}
.quick_links--desc{color: #696969;text-shadow: 0 0 #696969;}

#other-ventures {
    padding: 15px 0 0 0;
    position: relative
}

#other-ventures h5 {
    text-align: center;
    line-height: 60px;
    font-size: 1.25rem
}

#other-ventures .owl-dots {
    padding: 20px 0 0 0
}

#other-ventures .owl-dot span {
    border-radius: 0
}

#other-ventures .owl-dots .active span {
    background: #006db7
}

#other-ventures .owl-dots span:hover {
    background: #006db7
}

#other-ventures .owl-prev {
    position: absolute;
    left: -20px;
	outline: 0;
}

#other-ventures .owl-prev span {
    font-size: 30px;
    color: #000;
    padding: 1px 14px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px -1px #000
}

#other-ventures .owl-next {
    position: absolute;
    right: -20px;
	outline: 0;
}
#other-ventures button:hover{color:#000;opacity:0.6;}

#other-ventures .owl-next span {
    font-size: 30px;
    color: #000;
    padding: 1px 14px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px -1px #000
}

#other-ventures .owl-nav {
    position: absolute;
    top: 30%;
	width: 100%;
}
#other-ventures a {
    color: #000;
	display: inline-block; width: 100%; padding: 0.5rem 0; text-align: center;
    font-size: 14px;
}

#other-ventures a:hover {
    color: #444;
    text-decoration: underline
}
.sectionHeading{border-left: 5px solid #18a790;font-size: 1.75rem; padding-left: 1.5rem;margin-bottom: 1.5rem;}

#topMenu{display: -ms-flexbox!important; display: flex!important; -ms-flex-preferred-size: auto; flex-basis: auto;background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%);}
#topMenu ul{ -ms-flex-direction: column; flex-direction: column; padding-left: 0; margin-bottom: 0; list-style: none;}
#topMenu ul li{display: inline-block;}
.login_menu{}
.login_menu li{}
.login_menu li a{display: inline-block; padding: 0.5rem 0.6rem; color: #fff;font-size: 13px;}
.login_menu li a span{}

.menu_side-links{}
.menu_side-links li{}
.menu_side-links li a{color: #5e56a0; font-weight: 600;transition:ease all 0.6s;}
.menu_side-links li a:hover{color: #5e56a0; opacity:0.8;transition:ease all 0.6s;}
.menu_side-links li a{}

.sidebar_s-icons{position:fixed;top:50%;transform:translateY(-50%);right: 0px;z-index: 9;}
.sidebar_s-icons ul{}
.sidebar_s-icons ul li{}
.sidebar_s-icons ul li a{opacity:1;transition: ease all 0.6s;}
.sidebar_s-icons ul li a:hover{opacity:0.6;transition: ease all 0.6s;}
.sidebar_s-icons ul li a img{width: 40px;}

.nav-item-dropdown > a{position:relative;}
.nav-item-dropdown > a:after{content: "\f107"; color: #f48152; font-family: 'Font Awesome 5 Free'; font-weight: 900; position: absolute; right: 0px; top: 50%; transform: translateY(-50%);}

footer{background: #fff; padding: 1.5rem 0rem 0rem 0rem;}
footer .ft-social{text-align: center;margin-bottom: 1.5rem;}
footer .ft-social li{display:inline-block;min-width: 40px; text-align: center;}
footer .ft-social li a{color:#007ea8;}
footer .ft-social li a:hover{color:#000;}
footer .ft-submenu h5 a{margin-bottom:0.5rem;}
footer h5{}
footer h5 a{color: #3c77b6; font-weight: 500; margin-bottom: 1rem; display: inline-block;}
footer .ft-submenu{}
footer .ft-submenu ul{}
footer .ft-submenu ul li{}
footer .ft-submenu ul li a{color: #000; text-shadow: 0 0 black; display: inline-block; margin-bottom: 0.3rem;}
footer .ft-submenu ul li a:hover{color: #3c77b6;}
footer .q_links{}
footer .q_links h5{}
footer .q_links h5 a{color: #5a529e; font-weight: 500;}
footer .q_links h5 a:hover{color: #000;}
footer .q_links h5 a span{}
footer .q_links h5 a span img{}
.bottom_copyright{background:#383838;color:#fff;}
.bottom_copyright .container{padding: 0rem 1rem;padding-right: 15px !important; padding-left: 15px !important;}
.bottom_copyright p{padding-top: 3px;}
.ft-policy-links { display: inline-block; }
.ft-policy-links li { list-style: none; display: inline-block;}
.ft-policy-links li:first-child a { border-left: none; }
.ft-policy-links li a { color: #f3f3f3; padding: 0 .5rem 0 .5rem; font-size: .8rem; border-left: 1px solid #f3f3f3; }

.sitemap-link { color: #fff !important;background: #007ea8;max-width: 350px;margin-left: auto; margin-right: auto;text-align:left;margin-top:40px;}
.sitemap-link a:hover{color:#fff;}
.sitemap-link i, .sitemap-link em{float: right;position: relative;top: 3px;transform: rotate(-90deg);transition: ease all 0.3s;}
.sitemap-link.sitemap-link-active i, .sitemap-link.sitemap-link-active em{transform: rotate(0deg);transition: ease all 0.3s;}

.video_modal{}
.video_modal .modal-content{position:relative;}
.video_modal button{position: absolute; right: 0px; background: #054ba0; z-index: 9; color: #fff; padding: 5px 10px;opacity: 1;transition: ease all 0.6s;}
.video_modal button:hover{opacity: 1;background: #000;transition: ease all 0.6s;color: #fff;}
.video_modal .modal-body{padding: 0px;}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.section_cust-stories{position:relative;background: #f1f1f1;}
.section_cust-stories:before{content:"";}
.section_cust-stories:after{content:"";background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%); position: absolute; top: 0%; width: 100%; height: 100%; left: 30%;}
.cust--stories_main{background: #fff; padding: 0.8rem; box-shadow: 0px 2px 5px -4px #000; margin: 0.8rem;}
.cust--stories_main-content{}
.cust--stories_main-content p{display: -webkit-box; max-width: 100%; line-height: 21px; -webkit-line-clamp: 7; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; min-height: 150px;}
.cust--stories_main-thumb{margin-top: 0.8rem;}
.cust--stories_main-thumb .col-auto > div{    padding: 0.8rem 0;}
.cust--stories_main-thumb img{width: 90px !important; border-radius: 100px;}
.cust--stories_main-thumb h3{font-size: 1.25rem; font-weight: 500;}
.cust--stories_main-thumb p{color: #7d7d7d;}
.carousel_cust--stories .owl-dots{position: relative; width: 100%;text-align: right;}
.carousel_cust--stories .owl-dots button{outline: 0;}
.carousel_cust--stories .owl-dots button.active{}
.carousel_cust--stories .owl-dots button.active span{background:#fff;height:8px;position: relative; top: -5px; transition: ease all 0.5s;}
.carousel_cust--stories .owl-dots button span{width: 30px; height: 5px; background: #fff; display: block;margin-right:10px;position: relative; top: 0px; transition: ease all 0.5s;}

.rangeslider,
input[type=range] {
  max-width: 400px;
}

.rangeslider__ruler {
  cursor: pointer;
  font-size: 0.7em;
  margin: 20px 3px 0 3px;
  position: relative;
  top: 100%;
  text-align: justify;
}

.rangeslider__ruler:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.rangeslider--horizontal{height: 7px !important;}
.rangeslider__ruler{padding-top: 16px;}
.rangeslider--horizontal .rangeslider__handle{top: -56px !important; background: #39569a !important; width: 20px; height: 20px;position:relative;border: 0px;}
.rangeslider--horizontal .rangeslider__handle:after{content:"";border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #39569a; position: absolute; transform: rotate(182deg); bottom: -26px;}
.rangeslider__fill{background: #28a39a !important;}
.payment_block{padding: 1.5rem;box-shadow: 1px 0px 6px -3px #000;}
.payment_block h6{}
.payment_block h4 span{font-weight: 400;}
.payment_block h4{margin-bottom: 1rem;font-weight: 600;color: #39569a; font-size: 2rem;}
.payment_block p{margin-bottom: 1rem;font-size: 18px;}
.payment_block table{font-size: 14px;margin-bottom: 0px;font-weight: 500;}
.payment_block table tr{}
.payment_block table tr td{padding: 5px 0px; border: 0px;}
.payment_block table tr td span{}

.section_cal{}
.section_cal .nav-tabs{margin:0 -15px;border: 0px;}
.section_cal .nav-tabs li{padding:0 15px;}
.section_cal .nav-tabs li a{border: 0px; background: #fff; border-radius: 0px; box-shadow: 1px 1px 2px -2px #000;transition: ease all 0.3s;font-size: 18px; font-weight: 500;}
.section_cal .nav-tabs li a.active{background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%);color:#fff;transition: ease all 0.3s;}
.section_cal .nav-tabs li a:hover{background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%);color:#fff;transition: ease all 0.3s;}
.section-Quick_links{position: fixed; width: 90%; bottom: 2%; z-index: 1; right: 75px;transition: ease all 0.6s;}
.section-Quick_links.hide ul{transition: ease all 0.6s;opacity:0;max-height:0;}
.section-Quick_links.hide p{}
.section-Quick_links .container-fluid{}
.section-Quick_links p.close{}
.section-Quick_links p.open{}
.section-Quick_links p{position: absolute; right: 0px; top: -30px; background: #fff; border: 1px solid #ccc; font-size: 12px; padding: 3px 10px;opacity:1;cursor:pointer;transition: ease all 0.6s;}
.section-Quick_links ul{display: flex; margin: 0 -15px;background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%);transition: ease all 0s;opacity:1;max-height:1000px;overflow:hidden;    box-shadow: 1px 1px 3px -2px #000;}
.section-Quick_links ul li{flex: auto;position:relative;}
.section-Quick_links ul li a{padding: 1.5rem 1rem;color: #fff; font-weight: 500; font-size: 18px;position:relative;display: block;transition: ease all 0.6s;transform: scale(1);}
.section-Quick_links ul li a:hover{transition: ease all 0.6s;background: #5a529e; color: #fff; transform: scale(1.05);}
.section-Quick_links ul li:after{content:"";height: 50%; width: 2px; display: block; position: absolute; right: 0px; top: 50%; background: #fff;transform: translateY(-50%);}
.section-Quick_links ul li:last-child:after{content:"";display:none;}
.section-Quick_links ul li:hover:after{content:"";background:transparent;transition:ease all 0.3s;}
.section-Quick_links ul li a span{}
.section-Quick_links ul li a span img{width: 25px;}

/*Inner breadcrumb*/
.breadcrumb-slider{position:relative;background:#000;}
.breadcrumb-slider img{opacity:0.8;width:100%;}
.breadcrumb-sl-inner{position: relative;width: 100%;top: 0px;background: #F4EFEC; padding: 10px 0px;box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);}
.breadcrumb-sl-inner_contact{background: #F4EFEC; box-shadow: 0px 0px 0px 0px #fff;padding-top: 15px;}
.breadcrumb-sl-inner ul{}
.breadcrumb-sl-inner ul li{color: #000;display: inline-block;}
.breadcrumb-sl-inner ul li:nth-last-child(1):after{content:" "}
.breadcrumb-sl-inner ul li:after{content:"\f101";padding:0px 10px;display: inline-block; position:relative;font-family: 'Font Awesome 5 Free';font-weight: 900;color: #000;}
.breadcrumb-sl-inner ul li a:hover{color: #4e4e4e;text-decoration: underline;}
.breadcrumb-sl-inner ul li a{color: #000; font-size: 16px; line-height: 22px; text-shadow: 0 0 black;}
.image-banner{max-height: 450px;overflow: hidden;position: relative;}
.image-banner > div{left: 0%;top: 50%;-webkit-transform: translate(0%, -50%);transform: translate(0%, -50%);position: absolute;width: 100%;text-align:center;}
.image-banner > div h1{width: 50%;text-align:left;font-weight: 500;color:#fff;font-size: 2.2rem;text-shadow: 0px 0px 6px #000, 0px 0px 6px #000;}

.partner_reg{border: 1px solid #28a49a; border-radius: 7px;}
.partner_reg h3{color: #fff; padding: 0.5rem; background: #28a49a; border-top-left-radius: 5px;border-top-right-radius:5px; font-size: 1.5rem; margin-bottom: 1rem;}
.partner_reg form{padding: 0rem 1.25rem 1.25rem 1.25rem;}
.partner_reg form label{font-size: 16px;margin-bottom: 0.5rem;}
.required{color:red;}

.text-md{font-size: 1.25rem !important;font-weight: 300 !important;}
.box_eligibilitycheck{}

.box-app_status{}

.section_cal{}
.section_cal label{font-size: 16px; margin-bottom: 0.5rem;}

.disclaimer-sec{position: absolute;width: 100%;z-index: 3;margin-top: 30px;}
.disclaimer-sec p{background: rgba(224, 34, 34, 0.8);color: #fff;cursor:pointer;}
.disclaimer-sec p:hover{opacity:1;color: rgba(255, 255, 255, 0.8);}
.disclaimer-sec p span{text-decoration: underline;}


.blog-tile{background:#000;}
.blog-div{transition: ease all 0.5s;transform: translateY(0px) scale(1.0);}
.blog-tile:hover{
	background: -moz-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,159,148,1)), color-stop(100%, rgba(49,109,179,1)));
    background: -webkit-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -o-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -ms-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: linear-gradient(to right, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b9f94', endColorstr='#316db3', GradientType=1 );
}
.blog-tile .blog-div{transition: ease all 0.5s;}
.blog-tile:hover .bg-images img{opacity:0.2 !important;}
.blog-tile .bg-images img{opacity: 0.7;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.blog-tile h3{color: #fff;font-size: 1.6rem;text-transform: capitalize;}
.blog-tile h3 a{color: #fff;}
.blog-tile h3 a:hover{color: #c3c3c3;}
.blog-tile p{margin-top: 3rem;color: #fff;min-height: 72px;width:90%;position:relative;padding-left: 20px;}
.blog-tile p:before{content:""; display:block; position:absolute; height:0%; width:5px; background:#fff;bottom:0px;transition:ease all 0.5s;left:-15px;}
.blog-tile:hover p:before{bottom:0px;transition:ease all 0.5s;height:100%;}
.padd-box {padding: 0px;border: 0px solid #f8f8f8;position:relative;}

.adani-life{position: relative;background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%);}
.adani-life .bg-images img{opacity: 0.1;}
.border-left.section-heading{color: #fff; font-size: 1.5rem; border-left: 5px solid #fff !important; padding-left: 20px; font-weight: 400;}
.career_carousel .owl-dots{width: 100%;text-align: right;}
.career_carousel .owl-dots button{outline: 0;}
.career_carousel .owl-dots button.active{}
.career_carousel .owl-dots button.active span{background:#fff;position: relative; top: -5px; transition: ease all 0.5s;}
.career_carousel .owl-dots button span{width: 30px; height: 5px; background: #fff; display: block;margin-right:10px;position: relative; top: 0px; transition: ease all 0.5s;}
.btn-w-border {
    border: 2px solid #fff;
    color: #fff !important;
    transition: ease all 0.3s;
}

    .btn-w-border:hover, .btn-w-border:active, .btn-w-border:focus {
        background: #fff;
        color: #000 !important;
        transition: ease all 0.3s;
    }
.boxzoom{transition: ease all 0.5s;transform: translateY(0px) scale(1.0);}
.boxzoom:hover{transition: ease all 0.5s;transform: translateY(0px) scale(1.02);-webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);box-shadow: 0 14px 24px rgba(62,57,107,.2);}
.border-left.section-heading.text-blue{border-left: 5px solid #0a86d2 !important;}

.accordion-section{}
.accordion-section .card:last-child{border-bottom: 0px;}
.accordion-section .card-body{padding: 1rem 1.5rem 1.5rem 1.5rem;background: #fff; border-top: 1px solid #f9f9f9;}
.accordion-section .card-body h5{font-size: 1.2rem; font-weight: 500;}
.accordion-section .card-body p{margin-bottom: 0.9rem; max-width: 100%; color: #000;}
.accordion-section .card{border: 0px; border-radius: 0px;background: transparent;margin-bottom: 0.5rem;}
.accordion-section .card-header{background: #fff; border: 0px;padding: 0.5rem 2.5rem;}
.accordion-section .card-header a{color: #323643; font-weight: 500; transition: ease all 0.3s; font-size: 20px;}
.accordion-section .card-header a:hover{color: #179E96;transition: ease all 0.3s;}
.accordion-section .card-header i, .accordion-section .card-header em{position: absolute; left: 15px;color: #179E96; margin-top: 3px;transform: rotate(90deg); transition: ease all 0.3s;}
.accordion-section .card-header .collapsed i, .accordion-section .card-header .collapsed em{transform: rotate(0deg); transition: ease all 0.3s;}
.career_applynow{padding: 1rem 1rem;}
.career_applynow h3{font-size: 1.75rem; color: #3c76b6; font-weight: 500; margin-bottom: 1.5rem;}
.career_applynow label{font-size: 16px; margin-bottom: 0.5rem;}
.career_applynow input{background: transparent; border-radius: 0px;}
.joining-date{position: relative;}
.joining-date span{position: absolute; top: 50%; transform: translateY(-50%); right: 10px;}

.inner-banner{background:#000;}
.inner-banner .item img{opacity:0.8;}

.bg-gray{background: #f1f1f1;}

.ul-bullets{padding-left: 20px;margin-bottom:20px;}
.ul-bullets li{list-style-type: disc;margin-bottom: 10px;}

.section_cta{position:relative;background: rgb(60,118,182); background: linear-gradient(90deg, rgba(60,118,182,1) 0%, rgba(40,164,154,1) 52%);}
.section_cta .bg-images img{opacity:0.1;}
.section_cta p{color: #fff; font-size: 1.5rem;}

#topMenu a:hover{opacity:0.8;}

.ceo_message{background: transparent linear-gradient(90deg, #1B9E93 0%, #306EB2 100%) 0% 0% no-repeat padding-box;height:100%;color: #fff;padding: 30px;position: relative;}
.ceo_message h3{}
.ceo_message p{font-size: 18px !important; line-height: 25px !important; font-weight: 100 !important;}
.ceo_message a{background: #fff; color: #1c9c95;transition: ease all 0.6s;}
.ceo_message a:hover{background: #2c77aa; border: 1px solid #fff; color: #fff; transition: ease all 0.6s;}
.ceo_thumb{background: #e9ebe8; overflow: hidden; position: relative; min-height: 320px;height: 100%;}
.ceo_thumb img{width:100%;position: absolute; bottom: 0;}
.ceo_message:after { top: 5%; content: ""; border-left: 14px solid transparent; border-right: 14px solid transparent; border-bottom: 22px solid #e9ebe8; position: absolute;}

.bg-lgray{background:#F3F3F3;}
.bg-dark-gray{background:#EBEBEB;}


/*News Section*/
.ul-news-section{padding-left: 38px;position: relative;}
.ul-news-section li{font-size: 13px;margin-bottom: 10px;}
.ul-news-section li p a{color:#000;display: -webkit-box; max-width: 100%; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; height: 40px; overflow: hidden;}
.ul-news-section li p span{display: block;color: #9a9a9a;font-size: 12px;}
.ul-news-section li:before{background-image: url(/images/Ports/news-icon.png);content: "";display: block;position: absolute;width: 35px;height: 30px;left: 0px;background-repeat: no-repeat;}

/*Media Contacts*/
.ul-media-contacts{/*min-height: 255px;*/}
.ul-media-contacts li{margin: 30px 0px;}
.ul-media-contacts li a{color: #000;font-size: 15px;}
.ul-media-contacts li a:hover{color: #1d9b97;}
.ul-media-contacts li i{font-size: 25px;margin-right: 20px;position: relative;top: 3px;}

.CTA{position:relative;}
.CTA .container{position:relative;}
.CTA h2{font-size: 2.5rem; font-weight: 300;color: #fff;}
.CTA h2 span{float: right;}

.box-block{background: #fff;border: 1px solid #eaeaea;height: 100%;}
.box-block p a{color: #1aa393;font-size: 14px;transition: ease all 0.2s;}
.box-block p a:hover{color: #306eb2;transition: ease all 0.2s;text-decoration: underline;}
 .box-block p a.btn-gradient{color: #fff !important;}

/*Media Section*/
.ul-media-section{padding-left: 30px;}
.ul-media-section li{font-size: 13px;margin-bottom: 10px;list-style-type: disc;}
.ul-media-section li p a{color:#000;display: -webkit-box; max-width: 100%; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; height: 40px; overflow: hidden;}
.ul-media-section li p span{display: block;color: #9a9a9a;font-size: 12px;}
.ul-media-section a{color:#000;}
.ul-media-section a:hover{color: #306eb2;text-decoration: underline;}
.ul-policies-section {position:relative;padding-left: 38px;}
.ul-policies-section a{color:#000;}
.ul-policies-section a:hover{color:#007ea8;}
.ul-policies-section li{margin-bottom: 10px;}
.ul-policies-section li:before{content:"\f15c";display:block;position:absolute;font-family: 'Font Awesome 5 Free';left: 0px;}
.ul-policies-section li span{display: block;color: #9a9a9a;font-size: 12px;}
.section-heading { font-size: 28px; margin-bottom: 28px; line-height: 38px; font-weight: 500; }


.bannercontent{
	font-weight: bolder;
    position: absolute;
	color: #fff;
    width: 100%;
    text-align: left;
	z-index: 1;
	bottom:0px;
    }
.bannercontent__sub{-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 50%; left: 50%;}
.bannercontent__sub h1{text-align:center !important;}
.bannercontent .bannercontent_inner{width: 100%;padding: 2rem 0rem;text-align:left;max-width: 800px;}
.bannercontent h1{padding-left: 0px;color: #fff;font-size: 38px;text-align: left !important;margin-left: auto;margin-right: auto;text-align:left;font-weight:500;}
.bannercontent h1 span{
    color: #fff;
    font-weight: 400;
}
.bannercontent h2{font-weight: 600;}
.bannercontent h2 span{
    color: #66ef79;
}
.bannercontent p{font-size: 16px; font-weight: normal;color: #fff;width: 80%;line-height:22px;padding: 1rem 0rem;} 
.bannercontent a{color: #fff; font-size: 20px; font-weight: 300;}
.bannercontent a:hover{}
.bannercontent a span{font-size: 12px; position: relative; top: -2px;transition: ease all 0.4s;left: 0px;}
.bannercontent a:hover span{transition: ease all 0.4s;left: 10px;}
.inner-herobanner-carousel{background:#000;}
.inner-herobanner-carousel img{opacity:0.6;min-height: 400px;max-height: 90vh;object-fit: cover;}

.breadcrumb-sublayout-ul a{color: #000;text-transform: capitalize;}
.breadcrumb-sublayout-ul a:hover{color: #656565;}
.breadcrumb-sub-layout{}
.breadcrumb-sub-layout h1{margin-top: 20px;text-transform: capitalize; margin-bottom: 10px;}

.breadcrumb-sublayout-ul{}
.breadcrumb-sublayout-ul li{color: #000;display: inline-block;}
.breadcrumb-sublayout-ul li:nth-child(1):before{content:" "; display:none;}
.breadcrumb-sublayout-ul li:before{
    content: "\f105";
    padding-right: 10px;
    display: inline-block;
    position: relative;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    top: 2px;
    margin-left: 5px;
    }
.breadcrumb-sublayout-ul a{color: #000;text-transform: capitalize;}
.breadcrumb-sublayout-ul a:hover{color: #656565;}
.breadcrumb-sub-layout{padding:8rem 0rem 3rem 0rem !important;}
.breadcrumb-sub-layout h1{margin-top: 20px;text-transform: capitalize; margin-bottom: 10px;}
.media-release{}
.media-release p{
    text-align: left !important;
    margin: 0px 0px 5px 0px !important;
}
.media-release ul{
    padding-left: 30px;
}
.media-release li{
    list-style-type: disc;
    margin-bottom: 5px;
}
.media-release ol li {
    list-style-type: decimal;
    margin-bottom: 5px;
}
.media-release table{
    width: 100% !important;
    margin: 10px 0px 10px 0px !important;
}
.media-release table td{padding: 10px 10px !important;}


.address-section{}
.address-section h2 { color: #000; line-height: 40px; font-size: 1.75rem; font-weight: 500; margin-bottom: 30px; }
.address-section h6{font-size:24px;color:#000;line-height:34px;margin-bottom:12px;}
.address-section h5{font-size:26px;color:#179E96;line-height:37px;margin-bottom:24px;}
.address-section .medium{font-size:18px;color:#000;line-height:25px;margin-bottom:22px;}
.section-subheading { border-left: 5px solid #179E96; padding-left: 25px; color: #000; font-size: 1.75rem; font-weight: 500; }
.form-section{}
.form-section input[type="text"], .form-section input[type="tel"], .form-section input[type="number"], .form-section input[type="email"]{font-size: 14px; padding: 10px 10px; border: 0px;background: #f1f1f1;}
.form-section textarea{font-size: 14px; padding: 10px 10px; border: 0px;background: #f1f1f1;}
.form-section select{font-size: 14px; padding: 8px 10px; border: 0px;height: 37px !important;background: #f1f1f1;}


.hero-banner .owl-item.active .item img{-webkit-animation: zoomout 10s ease-in infinite; animation: zoomout 10s ease-in infinite; transition: all .5s ease-in-out;}
/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  100% {transform: scale(1.30);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  100% {transform: scale(1.30);}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {transform: scale(1);}
  100% {transform: scale(1.30);}
}
@keyframes zoomout {
    0% {transform: scale(1);}
	100% {transform: scale(1.30);}
}/*End of Zoom out Keyframes */


#chart {
    width: 650px;
    height: 145px;
    margin: 30px auto 0;
    display: block
}

#chart #numbers {
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left
}

#chart #numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 29px;
    position: relative;
    bottom: 30px
}

#chart #numbers li:last-child {
    height: 30px
}

#chart #numbers li span {
    color: rgba(0, 0, 0, .45);
    position: absolute;
    bottom: 0;
    font-size: 10px;
    right: 10px
}

#chart #bars {
    display: inline-block;
    width: 250px;
    height: 145px;
    padding: 0;
    margin: 0;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative
}

#chart #bars li {
    display: inline-block;
    width: 33px;
    height: 144px;
    margin: 0;
    text-align: center;
    position: relative
}

#chart #bars:hover div {
    transition: ease all .5s;
    opacity: .8
}

#chart #bars li:nth-child(odd) .bar {
    background: #1c9e95
}

#chart #bars li:nth-child(even) .bar {
    background: #306eb2
}

#chart #bars li .bar {
    display: block;
    width: 25px;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    height: 0;
    -webkit-transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out
}

#chart #bars li .bar:hover {
    cursor: pointer
}

#chart #bars li i {
    position: absolute;
    left: 0;
    top: -12px;
    font-style: normal;
    font-size: 10px
}

#chart #bars li .bar:hover:before {
    color: transparent;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px
}

.Cargo #bars:before {
    content: "MMT";
    display: block;
    position: absolute;
    top: -20px;
    left: -4px;
    font-size: 10px
}

.Revenue #bars:after {
    content: "INR in cr.";
    display: block;
    position: absolute;
    top: -20px;
    left: -4px;
    font-size: 10px
}

.PAT #bars:after {
    content: "INR in cr.";
    display: block;
    position: absolute;
    top: -20px;
    left: -4px;
    font-size: 10px
}

#chart #bars li span {
    color: rgba(0, 0, 0, .45);
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 3px;
    text-align: center;
    font-size: 10px
}
.media-date{font-size: 2rem;color: #316eb3;border-bottom: 3px solid #306db2;margin-bottom: 2.5rem;}
.media-date p{font-size: 2rem;color: #316eb3;}
.media-release-box{padding: 30px 20px;background: #fff;margin-bottom: 20px;border: 1px solid #e0e0e0;position: relative;display: block;}
.media-release-box h3 a{font-size: 1.4rem;margin-bottom: 10px;color:#000;}
.media-release-box h3 a:hover{color:#6f6f6f; transition:ease all 0.3s;}
.media-release-box p span{color: #949494;}
.media-release-box h3 a:after{content:"";display:block;position: absolute;background:url(/images/MangaloreAirport/docs-icon.png);right: 15px;width: 75px;height: 75px;top: 17px;opacity: 0.2;}

#btn-mrelease{}
#btn-mrelease option{ background: #1b9d94;}


.dropdown_notification{padding: 0rem 0.6rem; position: relative;}
.dropdown_notification a{position:relative; height: 35px;cursor:pointer;}
.dropdown_notification a:hover{color:#fff;}
.dropdown_notification a span{}
.dropdown_notification i{position: absolute; left: 18px; color: #000; background: #fff; height: 12px; width: 12px; border-radius: 100px; text-align: center; font-style: normal; font-size: 9px; font-weight: 600;box-shadow: 0px 0px 0px 1px #28a49a;}

.dropdown_notification:hover .notify_dropdown{max-height: 80vh; display: block; transition: ease all 0.6s;overflow: auto;}
.notify_dropdown{max-height: 0px; overflow: hidden; display: none; transition: ease all 0.6s;position: absolute; right: 15px; min-width: 300px; background: #fff; z-index: 9;padding: 15px;box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 19%);top:85%;transition-delay: 6s;}
.notify_dropdown{}
.notify_dropdown .row{border-bottom: 1px solid #ccc;margin-bottom: 10px;}
.notify_dropdown .row:last-child{border-bottom: 0px solid #ccc;margin-bottom: 0px;}
.notify_dropdown--thumb{height: 92%;}
.notify_dropdown--thumb img{width: 100%;height: 100%; object-fit: cover;}
.notify_dropdown--desc{padding: 0px 10px;}
.notify_dropdown--desc h3{font-size: 1rem; font-weight: 600; margin-bottom: 8px;display: -webkit-box; max-width: 100%; line-height: 21px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.notify_dropdown--desc p{display: -webkit-box; max-width: 100%; line-height: 14px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;font-size: 12px;}
.notify_dropdown--desc div{}
.notify_dropdown--desc div a{padding: 0.5rem 0rem; color: #3b77b5;}
.notify_dropdown--desc div a:hover{color: #000;}
.dropdown_overlay.active{position: fixed; width: 100%; height: 100%; left: 0px; top: 0px; z-index: 0;}

.notify_dropdown::-webkit-scrollbar {
    width: 6px
}
.notify_dropdown::-webkit-scrollbar-track {
    background: 0 0
}
.notify_dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px
}

/*Marquee*/
.marquee{position: absolute; top: 5px; z-index: 2; width: 100%;}
.marquee span{padding-right:10px;}
.marquee .container{background: #28a49a;}
.marquee marquee{ color: #ffff;padding: 5px 0px 0px 0px;}


.address-form-section{}
.address-form-section input, .address-form-section select, .address-form-section textarea{background:#fff !important;}

#other-ventures img{width:auto;    margin: 0px auto;}
.required{color:red;font-size:12px;}

#recaptcha1, #recaptcha2{transform: scale(0.8); transform-origin: left;}