  /* Capital/Finance Banner CSS Starts here */
  .hero-banner-wrapper{
    padding: 24px 0;
    background-color: #fff;
  }
  .hero-banner-wrapper .header-content{
    margin-bottom: 28px;
  }
  .hero-banner-wrapper .header-content h1 {
    font-size: 28px;
    padding: 0;
    margin: 0 0 12px 0;
    color: #333333;
    font-weight: 600;
  }
  
  .hero-banner-wrapper .header-content p {
    color: #666666;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0;
  }
  .banner-cards {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .banner-cards li {
    list-style: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 16px;
    margin-bottom: 16px;
    align-items: center;
    overflow: hidden;
  }
  .banner-cards a{
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    text-decoration: none !important;
  }
  .banner-cards li figure{
    margin: 0;
    padding: 0; 
    height: 60px;
  }
  .banner-cards li figure img {
    height: 100%;
    vertical-align: top;
    border-radius: 8px;
  }
  .banner-cards footer {
    padding: 0px 16px;
    background: transparent;
  }
  .banner-cards footer h3 {
    font-size: 16px;
    color: #333;
    margin: 0 0 4px 0;
    padding: 0;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .banner-cards footer label {
    color: #666666;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    margin: 0;
  }
  .banner-cards footer .arrow {
    width: 7px;
    margin: -3px 0 0 8px;
  } 



  @media only screen and (min-width: 900px) {
    .hero-banner-wrapper{
      padding: 60px 0;
    }
    .hero-banner-wrapper .header-content{
      margin-bottom: 40px;
    }
    .hero-banner-wrapper .header-content h1 {
      font-size: 52px;
      margin-bottom: 5px;
    }
    .hero-banner-wrapper .header-content p {
      font-size: 16px;
    }
    .banner-cards {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .banner-cards li figure{
      width: auto;
      height: auto;
    }
    .banner-cards li {
      border-radius: 24px;
      background-color: #f9f9f9;
      margin: 0 32px 0 0;
      padding: 0px;
      border: 0 none;
    }
    .banner-cards li:last-child {
      margin-right: 0px;
    }
    .banner-cards a{
      flex-direction: column;
      align-items: flex-start;
    }
  .banner-cards li figure img {
      width: 100%;
      height: auto;
      border-radius: 0;
    }
    .banner-cards footer {
      padding: 26px 24px 30px;
    }
    
    .banner-cards footer h3 {
      font-size: 24px;
      margin-bottom: 8px;
    }
    .banner-cards footer label {
      font-size: 16px;
      line-height: normal;
    }
    .banner-cards footer .arrow {
      width: 8px;
      margin-left: 12px;
    }
   


  }
   @media(max-width: 900px){

    marquee.li.pinter-n {
    pointer-events: none;
}
a.a-pointer {
    pointer-events: painted;
}
   }