body {
  font-family: "roboto", sans-serif;
  color: #333;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}
.top_bar {
  display: none;
}
.main_menu {
  display: none;
}
.right_icon {
  padding: 0px 0px 0px 10px;
}
.right_icon img {
  height: 28px;
}
.hamburger_icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.hamburger_icon:hover {
  background-color: #F6F6F6;
  
}
.hamburger_icon img {
  width: 24px;
}
.nav_bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0px 0px 0px;
}

.nav_bar .navigation{
  margin-left: auto;
}
.nav_bar .navigation nav {
  display: none;
}
.nav_bar .navigation img{
  width: 28px;
}
.hamburger_section {
  background-color: #fff;
  margin-bottom: 7px;
}
.hamburger_links {
  padding: 16px 0 22px 0;
  background-color: #fff;
}
.hamburger_links ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.hamburger_links a {
  padding: 12px 22px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  display: flex;
  font-weight: normal;
  align-items: center;
  -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}
.hamburger_links .accordian_sub_list{
  margin: 0 0 0 60px;
  padding: 0;
}
.hamburger_links .accordian_sub_list a{
  color: #666;
  font-size: 14px;
  display: block;
  padding: 8px 4px;
  
}
.hamburger_links a.active{
  background-color: #F2F7FB;
}
.hamburger_links a.active .check_icon{
  padding-left: 16px;
}
.hamburger_links a:hover {
  background-color: #F6F6F6;
}

.hamburger_links img {
  padding-right: 14px;
  height: 25px;
}
.hamburger_links .arrow{
  margin-left: auto;
  padding-right: 0;
}
.hamburger_links h5{
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  padding: 16px 0px 16px 22px;
  text-transform: uppercase;
  margin: 0px;
}

.single_item a, .back_header{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 6px 22px;
  height: 75px;
  color: #333333;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.single_item a:hover{
  background-color: #F6F6F6;
}
.single_item .icon {
  width: 32px;
  margin-right: 13px;
}
.single_item h4 {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  margin: 0;
}
.single_item h4 label {
  font-size: 11px;
  font-weight: normal;
  color: rgb(133, 133, 133);
  padding-top: 5px;
}
.single_item .arrow{
  margin-left: auto;
  width: 24px;
}
.back_header{
  background-color: #fff;
  padding: 12px 8px;
  height: auto;
}
.back_header i{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.back_header i:hover
{
  background-color: #f6f6f6;
}
.back_header img{
  width: 24px;
}

.hamburger {
  height: 100%;
  width: 340px;
  background-color: #F7F7F7;
  overflow-x: hidden;
}
.hamburger footer{
  padding: 10px 16px;
}
.hamburger footer img{
  height: 32px;
}
.business_dropdown {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgb(0, 0, 0, .12);
}
.business_dropdown a{
  display: flex;
  border-bottom: 1px solid #F1F1F1;
  align-items: center;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  padding: 10px 14px;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.business_dropdown a:last-child {border-bottom: 0}
.business_dropdown a:hover{
  background-color: #F6F6F6;
}
.business_dropdown a.active{
  background-color: #F2F7FB;
}

.business_dropdown i img{
height: 24px;
padding-right: 14px;
}
.business_dropdown a.active .check_icon{
  height: 24px;
  padding-right: 0px;
  margin-left: auto;
}
.sub_title{
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  padding: 32px 0px 16px 0px;
  text-transform: uppercase;

}
.business {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 14px;
}
.business a{
  padding: 0px;
}
.check_icon  {
  padding-left: 16px;
}
.check_icon img{
  height: 24px;
}
@media only screen and (min-width: 900px) {
  .container {
    max-width: 1200px;
    padding: 0px;
  }
  .top_bar {
    display: flex;
    align-items: center;
    padding: 0 32px;
    background-color: #222222;
    color: #fff;
    height: 52px;
  }
  .top_bar a {
    color: #fff;
    font-size: 14px;
  }
  .top_bar img {
    height: 20px;
    padding-right: 5px;
  }
  .contact_info{
    display: flex;
    align-items: center;
  }
  .top_bar_nav {
    margin-left: auto;
  }
  .top_bar_nav a {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .top_bar_nav a:hover {
    background-color: #434343;
  }
  .nav_bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    flex-wrap: wrap;
    padding: 0 32px;
    height: 76px;
    background-color: #fff;
  }
  .nav_bar .navigation {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav_bar .navigation nav{
    display: flex;
    font-size: 16px;
    align-items: center;
  }
  .nav_bar .navigation .nav_button{
    background-color: #06B36E;
    height: 32px;
    padding: 4px 12px;
    margin: 0px 12px;
    border-radius: 20px;
    color: #fff;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .nav_bar .navigation .nav_button:hover{
    background-color: #04BE74;
    
  }
  
  .nav_bar .navigation nav a{
    padding: 4px 12px;
    display: flex;
    align-items: center;
    color: #333333;
    border-radius: 20px;
    height: 32px;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .nav_bar .navigation nav a:hover{
    background-color: #f6f6f6;
  }
  .nav_bar .navigation img{
    width: 28px;
  }
}
