@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions


@{

    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/APMUL/", "");
    var path = ContentPath.Replace("/APMUL/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "cssclass").FirstOrDefault().Value;
    if (string.IsNullOrEmpty(paramid))
    {
        paramid = "breadcrumb-sub-layout bg-gray py-5";
    }
    var i = 0;
}


<section class="breadcrumb-sub-layout bg-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-sublayout-ul">
                    @for (i = 0; i < pathArr.Count() - 1; i++)
                    {
                        navPath = navPath + pathArr[i];


                        <li><a href="@navPath">@pathArr[i]</a></li>
                        navPath = navPath + "/";
                    }
                </ul>
                <h1>@pathArr[pathArr.Count() - 1].Replace("-", " ")</h1>
                <p></p>
            </div>
        </div>
    </div>
</section><!-- /breadcrumb -->