
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    /* var Headerlink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["HeaderPrimaryMenu"];
     var HeaderMenuitem = Sitecore.Context.Database.GetItem(Headerlink);
     var HeaderPrimaryMenu = HeaderMenuitem.Children;


     var HeaderSecondarylink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["HeaderSecondaryMenu"];
     var HeaderSecondaryMenuitem = Sitecore.Context.Database.GetItem(HeaderSecondarylink);
     var HeaderSecondaryMenu = HeaderSecondaryMenuitem.Children;*/

    var SiteLogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["SiteLogo"];


}


    <div class="overlay-top"></div>
    <div class="navPanel fixed-top">
        <div class="container-fluid">
            @*<div class="search-main">
                <form action="" method="get">
                    <input type="text" id="s" name="s" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                </form>
            </div>*@
            <div class="row">
                <div class="col-sm-4 col-8 border-right text-center">
                    <a class="navbar-brand" href="/"><img src="@SiteLogo" alt="Adani Defence" class="img-fluid"></a>
                </div>
                <div class="col-sm-8 col-4">
                    <div class="row nav-bg-white mainmenu">
                        <div class="col-sm-12 col-md-12">
                            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                                <!--<span class="navbar-toggler-icon"></span>-->
                                <i class="fas fa-bars"></i>
                            </button>
                            <nav class="navbar navbar-expand-lg ml-5 my-3">
                                <div class="">

                                    <div class="collapse navbar-collapse" id="navbar">
                                        <ul class="navbar-nav mr-auto">

                                            <li class="nav-item">
                                                <a class="nav-link" href="/about-us" id="navbarDropdown">
                                                    About Us
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/business" id="navbarDropdown">
                                                    Business
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="https://www.adanipower.com/investors" target="_blank" id="navbarDropdown">
                                                    Investors
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/contact-us" id="navbarDropdown">
                                                    Contact Us
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@*<div class="overlay-top 11"></div>
<div class="navPanel fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-8 border-right py-2 text-center">
                <a class="navbar-brand" href="/"><img src="@SiteLogo" alt="Adani Transmission" class="img-fluid"></a>
            </div>
            <div class="col-sm-9 col-4">
                <div class="row top-submenu">
                    <div class="col-lg-9 col-0">

                        <div class="ml-5" id="topMenu">
                            <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-times-circle"></i></div>
                            <div class="clearfix"></div>
                            

                            <!-- link menu code-->
                            <ul class="topMenu d-lg-flex d-none">
                                <li class="dropdown">

                                    <a href="/about-us">
                                        About Us
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                        <div class="container-fluid">
                                            <h5><a href="/about-us">Explore About Us</a></h5>
                                            <hr />
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/ceo-message">CEO Message</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/board-of-directors">Board of Directors</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/one-vision-one-team">One Vision One Team</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/timeline">Timeline</a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </li>

                                <li class="dropdown">

                                    <a href="/sustainability">
                                        Sustainability
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                                        <div class="container-fluid">
                                            <h5><a href="/sustainability">Explore Sustainability</a></h5>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/sustainability/Environment">Environment </a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/sustainability/Corporate Social Responsibility">Corporate Social Responsibility</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/sustainability/Safety">Safety</a>

                                                </div>
                                                <div class="col-md-6 d-none">
                                                    <a class="dropdown-item" href="/sustainability/Environment/Energy-and-emission-management">Energy and Emission Management</a>

                                                </div>
                                                <div class="col-md-6 d-none">
                                                    <a class="dropdown-item" href="/sustainability/Environment/Water-management">Water Management</a>

                                                </div>
                                                <div class="col-md-6 d-none">
                                                    <a class="dropdown-item" href="/sustainability/Environment/Fly-ash-management">Flyash Management</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>


                                <li class="dropdown">

                                    <a href="https://www.adanipower.com/investors">
                                        Investors
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                                        <div class="container-fluid">
                                            <h5><a href="/investors">Explore Investor Relations</a></h5>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/investors/investor-downloads">Investor Downloads</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/investors/corporate-governance">Corporate Governance and Statutory Disclosures</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/investors/investor-faqs">Investor FAQs</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/board-of-directors">Board of Directors</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/one-vision-one-team">Key Management Personnel</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/investors/board-and-committee-charters">Board Of Committe Charters</a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </li>

                                <li class="dropdown">

                                    <a href="/newsroom">
                                        Newsroom
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                                        <div class="container-fluid">
                                            <h5><a href="/newsroom">Explore Newsroom</a></h5>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/newsroom/media-coverage">Media Coverage</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/newsroom/media-releases">Media Releases</a>

                                                </div>

                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/newsroom/media-library">Media Library</a>

                                                </div>

                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/newsroom/social-media">Social Media</a>

                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li class="dropdown">
                                    <a href="https://stagecareer.adani.com/" target="_blank">Careers</a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                                        <div class="container-fluid">
                                            <h5><a href="https://stagecareer.adani.com/" target="_blank">Explore Careers</a></h5>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" target="_blank" href="https://adani.taleo.net/careersection/ex/jobsearch.ftl">Job Openings</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" target="_blank" href="https://stagecareer.adani.com/#LnD">L&D</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" target="_blank" href="https://stagecareer.adani.com/#HeroesAtWork">Our #HeroesAtWork </a>

                                                </div>






                                            </div>
                                        </div>
                                    </div>


                                </li>

                                <li><a href="/contact-us">Contact Us</a></li>

                            </ul>

                            <ul class="topMenu d-lg-none d-block m-menu">
                                <li class="dropdown">
                                    <a href="/operational-power-plants">Operational Power Plants</a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                        <div class="container-fluid">
                                            <h5><a href="/power-transmission">Explore Power Transmission</a></h5>

                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="dropdown-item centralindiatab" href="/power-transmission#centralindia" id="centralindiatab">Central India</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item rajasthantab" href="/power-transmission#rajasthan" id="rajasthantab">Rajasthan</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item maharashtratab" href="/power-transmission#maharashtra" id="maharashtratab">Maharashtra</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item uttarpradeshtab" href="/power-transmission#uttarpradesh" id="uttarpradeshtab">Uttar Pradesh</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="dropdown">
                                    <a href="/upcoming-power-plants">Upcoming Power Plants</a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                                        <div class="container-fluid">
                                            <h5><a href="/power-distribution">Explore Power Distribution</a></h5>
                                            <hr />
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a class="dropdown-item" href="/power-distribution#aeml-overview">Adani Electricity</a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>



                                <li class="dropdown">

                                    <a href="/about-us">
                                        About Us
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                        <div class="container-fluid">
                                            <h5><a href="/about-us">Explore About Us</a></h5>
                                            <hr />
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/ceo-message">CEO Message</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/board-of-directors">Board of Directors</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/one-vision-one-team">One Vision One Team</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/timeline">Timeline</a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </li>


                                <li class="dropdown">

                                    <a href="/sustainability">
                                        Sustainability
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                                        <div class="container-fluid">
                                            <h5><a href="/sustainability">Explore Sustainability</a></h5>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/sustainability/Environment">Environment </a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/sustainability/Corporate Social Responsibility">Corporate Social Responsibility</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/sustainability/Safety">Safety</a>

                                                </div>
                                                <div class="col-md-6 d-none">
                                                    <a class="dropdown-item" href="/sustainability/Environment/Energy-and-emission-management">Energy and Emission Management</a>

                                                </div>
                                                <div class="col-md-6 d-none">
                                                    <a class="dropdown-item" href="/sustainability/Environment/Water-management">Water Management</a>

                                                </div>
                                                <div class="col-md-6 d-none">
                                                    <a class="dropdown-item" href="/sustainability/Environment/Fly-ash-management">Flyash Management</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>

                                <li class="dropdown">

                                    <a href="https://www.adanipower.com/investors">
                                        Investors
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                                        <div class="container-fluid">
                                            <h5><a href="/investors">Explore Investor Relations</a></h5>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/investors/investor-downloads">Investor Downloads</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/investors/corporate-governance">Corporate Governance</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/investors/investor-faqs">Investor FAQs</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/board-of-directors">Board of Directors</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/about-us/one-vision-one-team">Key Management Personnel</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/investors/board-and-committee-charters">Board Of Committe Charters</a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </li>

                                <li class="dropdown">

                                    <a href="/newsroom">
                                        Newsroom
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                                        <div class="container-fluid">
                                            <h5><a href="/newsroom">Explore Newsroom</a></h5>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/newsroom/media-coverage">Media Coverage</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/newsroom/media-releases">Media Releases</a>

                                                </div>

                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/newsroom/media-library">Media Library</a>

                                                </div>

                                                <div class="col-md-6">
                                                    <a class="dropdown-item" href="/newsroom/social-media">Social Media</a>

                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="dropdown">
                                    <a href="https://stagecareer.adani.com/" target="_blank">Careers</a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                                        <div class="container-fluid">
                                            <h5><a href="https://stagecareer.adani.com/" target="_blank">Explore Careers</a></h5>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" target="_blank" href="https://adani.taleo.net/careersection/ex/jobsearch.ftl">Job Openings</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" target="_blank" href="https://stagecareer.adani.com/#LnD">L&D</a>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="dropdown-item" target="_blank" href="https://stagecareer.adani.com/#HeroesAtWork">Our #HeroesAtWork </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </li>



                                <li><a href="/contact-us">Contact Us</a></li>
                            </ul>
                            <!--link menu code ends-->

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-10 ml-auto">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <div class="row">
                                    <div class="col-sm-6 col-6">
                                        <p class="searchIcon d-none"><a href="#"><span><i class="fas fa-search"></i></span></a></p>
                                    </div>
                                    <div class="col-sm-6 col-6">
                                        <!-- Toggle button to show/hide side top menu -->
                                        <div class="d-block d-lg-none topNavBtn">
                                            <button type="button" id="topNavCollapse" class="btn btn-menu">
                                                <!--<i class="fas fa-align-justify"></i>-->
                                                <i class="fas fa-bars"></i>
                                            </button>
                                        </div>
                                        <!-- /Toggle button to show/hide top menu -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 text-left"></div>
                        </div>
                    </div>
                </div>
                <div class="row nav-bg-gray mainmenu">
                    <div class="col-sm-8 col-md-9">
                       
                        <!--transmission sub menu-->
                        <nav class="navbar navbar-expand-lg pl-5">

                            <div class="">

                                <div class="collapse navbar-collapse" id="navbar">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown megamenu-li">
                                            <a class="nav-link dropdown-toggle" href="/operational-power-plants">Operational Power Plants </a>
                                            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                                <div class="container-fluid">
                                                    <h5><a href="/operational-power-plants">Explore Power Transmission</a></h5>

                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item centralindiatab" href="/power-transmission#centralindia" id="centralindiatab">Central India</a>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item rajasthantab" href="/power-transmission#rajasthan" id="rajasthantab">Rajasthan</a>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item maharashtratab" href="/power-transmission#maharashtra" id="maharashtratab">Maharashtra</a>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item uttarpradeshtab" href="/power-transmission#uttarpradesh" id="uttarpradeshtab">Uttar Pradesh</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                        <li class="nav-item dropdown megamenu-li">
                                            <a class="nav-link dropdown-toggle" href="/upcoming-power-plants">Upcoming Power Plants</a>

                                            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                                                <div class="container-fluid">
                                                    <h5><a href="/power-distribution">Explore Power Distribution</a></h5>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <a class="dropdown-item" href="/power-distribution#aeml-overview">Adani Electricity</a>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>




                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-sm-4 col-md-3 mobile-none">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="desktop-none bg-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                        <!--<span class="navbar-toggler-icon"></span>-->
                        <span class="far fa-circle"></span>
                        <span class="far fa-circle"></span>
                        <span class="far fa-circle"></span>
                    </button>
                </div>
                <div class="col-9 text-right">

                </div>
            </div>
        </div>
    </section>
</div>*@


