@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<section class="py-5 bg-gray" style="margin-top: -2rem;">
<div class="container">
	<div class="row">
		<div class="col-lg-12 mb-3">
			<!-- <h3 class="txt-orange txt-md mb-3">Important Covid 19 Update</h3> -->
	<p class=""><b>Dear Valued Customers,</b> </p>
	<p class="mb-3"><b>We request you to use only following digital modes to reach us while you stay at home</b></p>
		</div>
		<div class="col-lg-4 mb-lg-4 d-none">
			<div class="video-section ytpop2" data-toggle="modal" data-value="" data-target="#covid-video">
				<img alt="" src="../../styles/images/covid-thumb.jpg" class="img-fluid">
			</div>
		</div>
	</div>
	
		<div class="row mb-4">
		<div class="col-lg-8 order-2 order-lg-1">
		<div class="">
			<div class="row">
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/Payment/Online-Payments" target="_blank">
																<i class="fa fa-credit-card"></i>
																<p>Quick Pay</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/Payment" target="_blank">
																<i class="fa fa-wallet"></i>
																<p>Payment Options</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/Quickaccess/outage-information" target="_blank">
																<i class="fa fa-info"></i>
																<p>Outage Info</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/changeofnameregistration" target="_blank">
																<i class="fa fa-address-card"></i>
																<p>Change of Name Request</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/Quickaccess/check-complaint-status" target="_blank">
																<i class="fa fa-file-signature"></i>
																<p>Check Complaint Status</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/contact-us/report-theft" target="_blank">
																<i class="fa fa-user-secret"></i>
																<p>Report Theft</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank">
																<i class="fa fa-plus"></i>
																<p>New Connection Request</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="https://app.yellowmessenger.com/pwa/live/x1565100503080" target="_blank">
																<i class="fa fa-bolt"></i>
																<p>ELEKTRA</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/Billing/KnowYourBill" target="_blank">
																<i class="fa fa-file-invoice-dollar"></i>
																<p>Know Your Bill</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6 d-none">
								<div class="ql_block">
												<a href="/contact-us/send-your-query" target="_blank">
																<i class="fa fa-question-circle"></i>
																<p>Send Your Queries</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/MoneySaver" target="_blank">
																<i class="fa fa-lightbulb"></i>
																<p>Save Energy</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/-/media/Project/Electricity/Regulatory/Tariff_Plan.pdf?la=en" target="_blank">
																<i class="fa fa-money-bill-wave"></i>
																<p>Tariff</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/Faqs" target="_blank">
																<i class="fa fa-comments"></i>
																<p>FAQs</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/ElectricSmiles" target="_blank">
																<i class="fa fa-smile-beam"></i>
																<p>Electric Smiles</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/RooftopSolar" target="_blank">
																<i class="fa fa-solar-panel"></i>
																<p>Rooftop Solar</p>
												</a>
								</div>
				</div>
				<div class="col-6 col-lg-3 col-md-4 col-sm-6">
								<div class="ql_block">
												<a href="/Submit-Meter-Reading" target="_blank">
																<i class="fa fa-book"></i>
																<p>Submit Meter Reading </p>
												</a>
								</div>
				</div>
			</div>
		</div>
		</div>
		<div class="col-lg-4 mb-3 mb-lg-0 order-1 order-lg-2">
		@Html.Sitecore().Placeholder("login-Control")



		<ul class="text-center mt-3">
		<li class="d-inline-block">
		<a href="https://play.google.com/store/apps/details?id=com.adani.adanielectricity" target="_blank" title="Android" class="mr-3">
		<img src="/-/media/Project/Electricity/Icons/google_play_lg.png" alt="" width="100"  disablewebedit="False">
														</a>

										</li>
										<li class="d-inline-block">
														<a href="https://itunes.apple.com/in/app/adani-electricity/id1084955153?mt=8 " target="_blank" title="IOS" class="">
		<img src="/-/media/Project/Electricity/Icons/apple_ios_lg.png" alt="" width="100"  disablewebedit="False">
														</a>

										</li>
		</ul>
		</div>
		</div>
		@*<p class="mb-2"><b>Practice Direction issued by the Regulator - 26th March 2020 MERC </b><a href="/-/media/Project/Electricity/home/Practice%20Direction_COVID-19" target="_blank">Click here</a></p>
	<p class="mb-2"><b>Practice Direction issued by the Regulator 9th May 2020- MERC </b><a href="/-/media/Project/Electricity/News/PracticeDirectionBilling.pdf" target="_blank">Click here</a></p>
	<p class="mb-2"><b>Practice Direction issued by the Regulator 21st May 2020- MERC </b><a href="/-/media/Project/Electricity/News/PracticeDirectionRevisioninContractDemand.pdf" target="_blank">Click here</a></p>
	<p class="mb-4"><b>Multi Year Tariff - </b><a href="/-/media/Project/Electricity/News/MYT-LT.pdf?la=en" target="_blank">Click here</a></p>*@
		<p class="mb-2"><b>You can register supply interruption complaints and check restoration status via: </b></p>
		<ol class="numberedList">
			<li>WhatsApp: 95945 19122. Say "Hi" on the chat window to initiate self-help.</li>
			<li>Missed Call via your registered no. at 18005329998 for registering no-supply complaints.</li>
			<li>SMS Power <Account no.> to 7065313030 for registering no-supply complaints.</li>
		</ol>
	<p class="mt-3">We solicit your support in enabling social distancing. This will help us serving better and will also support us in your comfortable stay at home, which is the need of the hour in these difficult times.</p>
	<p class="my-4">Stay Safe! Stay Healthy!<br>
Adani Electricity</p>
</div>
</section>


<!-- Modal -->
<div class="modal fade video-modal" id="covid-video" tabindex="-1" role="dialog" aria-labelledby="covid-video" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="">
					<div class='embed-container'><iframe id="covid-video-frame" src='https://www.youtube.com/embed/prFb65zXwIc' frameborder='0' allowfullscreen></iframe></div>
                </div>
            </div>

        </div>
    </div>
</div>
