@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var contextSite = Sitecore.Context.Site;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.js"></script>
<script type="text/javascript">

    @{
    var contextSite1 = Sitecore.Context.Site;

}
    $(function () {
        $(".ddlcall").change(function () {
           // alert("test");


            //var parameters = {
            //    sc_itemid: container.parent().data('context')
            //};
            //$.get({
            //    url: "/api/sitecore/content/Electricity/Global/Collection/CustomerCareCenters/NearestArea/",
            //    data: $.param(parameters)
            //}).done(function (html) {
            //    container.append(html);
            //    })


            //var itemId = $(this).val();

            //$.ajax({
            //    url: "payment/Offline-Payments",
            //    type: "POST",
            //    data: { itemId: itemId },
            //    context: this,
            //    success: function (data) {
            //        console.log("success", data);
            //    },
            //    error: function (data) {
            //        console.log("error", data);
            //    }
            //});


            //$.ajax({
            //    url: window.location.href + "?DS=" + "{8D1D11E1-56E9-4166-A72E-CBDA1C14AC09}",
            //    type: "POST",
            //    context: this,
            //    dataType: 'json',
            //     data: { itemId: itemId },
            //    success: function (data) {
            //        console.log(data);
            //    },
            //    error: function (data) {
            //    console.log("error", data);
            //    }
            //}); 


        });
    });
</script>
<div class="container>
    @if (datasource != null)
    {
        <div class="row">
            @foreach (var child in parent.Children.ToList())
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <select class="form-control ddlcall">
                        @foreach (var opt in child.Children.ToList())
                        {
                            <option>@Html.Sitecore().Field("Title", opt)</option>
                        }
                    </select>
                </div>
            }
        </div>


    }
    <div class="my-3 py-3"></div>
    <div class="panel bg-white container">
        <h4 class="txt-orange mb-3">Customer Care Center</h4>
        <div>
            <h5 class="pb-2">Address:</h5>
            <p class="text-uppercase">HARMONY MEDICAL AND GENERAL STORES, NAND SMRUTI, SHOP NO. 5, PLOT NO. 15, OPP. KUKREJA TOWERS, VALLABH BAUG LANE EXTN., MUMBAI - 400077-</p>
            <br>
            <h5 class="pb-2">Address:</h5>
            <p class="text-uppercase">Shreeji Electronics, 05, Ground floor, Ashish Hingwala Lane Extension, MUMBAI - 400071-</p>
            <br>
            <h5 class="pb-2">Address:</h5>
            <p class="text-uppercase">Solutions 1, Bhaveshwar Market, M.G. Road, MUMBAI - 400077-</p>
            <br>
            <h5 class="pb-2">Address:</h5>
            <p class="text-uppercase">Spark Infocom, 129, 1st Floor, Platinum Mall, Opp. Ghatkopar Railyway Station, Jawahar road, MUMBAI - 400077-</p>
        </div>
    </div>
</div>
