@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="pageContent">
    <div class="container">
        <!-- Text Panel -->
        <div class="panel">
            <div class="row">
                <div class="col-md-7 col-lg-8 order-2 order-md-1">
                    @Html.Sitecore().Placeholder("Online-Payment-Body")
                </div>
                @Html.Sitecore().Placeholder("Quick-Pay")
              
            </div>
            <!-- Online Payment Options -->
            <div class="my-3">
                @Html.Sitecore().Placeholder("Online-Payment-By")
            </div>
            <!-- /Online Payment Options -->
        </div>
        <!-- /Text Panel -->
        <!-- Section 2 -->
        <!-- Online Payment Options -->
        <div class="my-3">
            @Html.Sitecore().Placeholder("Online-Payment-Functionality")

        </div>
        <!-- /Online Payment Options -->
        <!-- /Section 2 -->
        <div class="text-right"><a href="/payment/" class="goBack"><em class="fas fa-arrow-left txt-orange"></em>&nbsp;&nbsp;Go back to Payment</a></div>
    </div>
</div>
