@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="pageContent">
    <div class="container">
        <!-- Section 1 -->
        @Html.Sitecore().Placeholder("Rofftop-Solor-Body")       
        <!-- Section 2 -->
        <div class="pb-3">
            @Html.Sitecore().Placeholder("Rofftop-Solor-Steps")            
        </div>
        <!-- /Section 2 -->
        <!-- Section 3 -->
        <div class="solarDetails">
            @Html.Sitecore().Placeholder("Rofftop-Solor-Details")           
        </div>

    </div>
    </div>