@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

<section class="py-5 bg-gray" style="margin-top: -2rem;">
    <div class="container">
         <h3 class="txt-orange txt-md mb-3">Rooftop Solar Application Registration</h3> 
        <p class="mb-3">Dear Valued Customers, </p>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>To register please click<a href="/myaccount">here</a></p>
    </div>
</section>

