@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration

<section class="bg-orange" style="
        background: #3f3f3f;
    color: #fff;
">
                <div class="">
<marquee class="mt-2" onmouseover="stop()" onmouseout="start()"><p>@Html.Sitecore().Dictionary("/Alerts/TickerText","TickerText")</p></marquee>                    
</div>
</section>