<div class="section-breadcrumb">
    <div class="container">
        <ol class="breadcrumb ad-breadcrumb margin-0">
            <li *ngFor="let breadcrumb of InvesterDownload.GenericBredcrumbNavigation.Data; last as isLast"  class="breadcrumb-item">
                <a *ngIf="!isLast" href="{{breadcrumb.Link}}">{{breadcrumb.Heading}}</a>
                <a *ngIf="isLast" class="active">{{breadcrumb.Heading}}</a>
            </li>
        </ol>
    </div>
  </div>
<div class="media-center">
    <div class="container">
        <h3>{{InvesterDownload.MediaLibrarySection.Heading}}</h3>
        <div class="row" *ngFor="let investDownSection of InvesterDownload.MediaLibrarySection.MediaFolders">
            <div class="col-md-12">
                <div class="greyBox investor-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{investDownSection.Heading}}</h3>
                            <hr>
                            <div class="">
                                <div class="dist">
                                    <div class="row">
                                            <div class="col-sm-3 space" *ngFor="let invesDownList of investDownSection.MediaFolderItems">
                                                <div class="darkBox match_height" style="height: 118px;">
                                                    <a href="{{invesDownList.Link}}" target="_blank" download="" rel="noopener noreferrer">{{invesDownList.Heading}} </a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>