.mainPage{}
.mainPage .bnrDomeMain{
	background:url(../images/banners/banner_domestics.jpg) no-repeat center center;
	min-height:412px;
	height:100%;
	background-size:cover;
	width:100%;
}
.mainPage .bnrCommercial {
	background:url(../images/banners/banner_commercial.jpg) no-repeat center center;
	background-size:cover;	
}
.mainPage .bnrIndustrial {
	background:url(../images/banners/banner_industrial.jpg) no-repeat center center;	
	background-size:cover;
}
.mainPage .bnrAuto {
	background:url(../images/banners/banner_auto.jpg) no-repeat center center;	
	background-size:cover;
}
.MobileBanner {
	display: none;
}
.DesktopBanner{
	height:211px;
}
@media screen and (max-width:640px){
.mainPage .bnrDomeMain{
	background:url(../images/banners/banner_domestics_mobile.jpg) no-repeat center center;
	background-size:cover;
	padding-top:10px;
}
.mainPage .bnrCommercial {
	background:url(../images/banners/banner_commercial_mobile.jpg) no-repeat center center;
	background-size:cover;
	padding-top:10px;
}
.mainPage .bnrIndustrial {
	background:url(../images/banners/banner_industrial_mobile.jpg) no-repeat center center;	
	background-size:cover;
	padding-top:10px;
}
.mainPage .bnrAuto {
	background:url(../images/banners/banner_auto_mobile.jpg) no-repeat center center;	
	background-size:cover;
	padding-top:10px;
}

.MobileBanner {
	display: block;
}
.DesktopBanner {
	display: none;
}
}

.mainPage .MainBanner{
	width:100%;	
	height:412px;
}
.MainBanner img{
	width:100%;
	display:block;
}
.MainBanner .manageAcBox{
	max-width:300px;
	width:100%;
	margin:45px 10px 0;
	height:325px;
	background:rgba(255,255,255,0.5);
	float:right;
	font-size:13px;
	font-family: 'Conv_Adani_Medium';
	color:#333;
}
.manageAcBox .manageAcBoxPd{
	padding:25px;
}
.manageAcBox h3{
	font-family: 'Conv_Adani SemiBold';
	margin-bottom:15px;
	font-size:16px;
}
.manageAcBox .label{
	/*text-transform:uppercase;*/
	margin-bottom:5px;
	display:block;
}
.manageAcBox .inputDes{
	background:rgba(255,255,255,0.9);
	border:1px solid #e4e3e3 !important;
	height:23px;
	width:203px;
	font-size:13px;
   	margin-bottom:0px;
}
.manageAcBox .remember{
	margin-top:10px;
	font-family: 'Adani_Regular';
}
.manageAcBox .btnNormal a{
	/*text-transform:uppercase;*/
	margin:13px 0 12px 0;
	padding:5px 10px;
	font-family: 'Conv_Adani SemiBold';
        cursor:pointer;
}
.manageAcBox .signUp a{
	font-size:13px;
	color:#000;
	font-family: 'Adani_Regular';	
}
.manageAcBox .register a{
	font-size:13px;
	color:#003f69;
	font-family: 'Conv_Adani SemiBold';
	/*text-transform:uppercase;*/
	text-decoration:underline;
	display:inline-block;
	margin-top:5px;
}


/* Main Page Contact Section */
.mainPage .contSect{
	background-color:#f3f1f1;
	padding:10px 0;
}
.contSect .contBox{
	float:left;
	margin:10px;
	max-width:300px;
	width:100%;
	min-height:170px;
	color:white;	
	font-size:13px;
	font-family: 'Adani_Regular';
}
.contBox .contBoxPd{
	padding:20px 20px 0;
}

.contBox .title{
	font-family: 'Adani Light';
	font-size:13px;
	/*text-transform:uppercase;*/
	color:#fff;
}
.contBox .title span{
	font-family: 'Adani_Regular';
	font-size:20px;
	display:block;
	text-transform:none;
}
.contBox .valueBox{
	margin:25px 0 0 0;
	display:block;
}
.contBox.bgEmergency{
	background:url(../images/bgEmergency.png) no-repeat 0 100% #ffca28;
}
.bgEmergency .number{
	font-size:25px;
	font-family: 'Conv_Adani_Medium';
	color:#444444;
}
.tollNumber{
    margin-top: -24px;
    color: #444444;
    font-size: 16px;
    margin-left: 205px;
}
.contBox.bgPrice{
	background:url(../images/bgPrice.png) no-repeat 0 100% #e73181;
}

.bgPrice .selectCity{
	border:1px solid white;
	width:178px;
	height:32px;
	position:relative;
	padding:0;
	background:url(../images/icons/arrow_price.png) no-repeat 95% 50%;
}
.bgPrice .selectCity select{
	padding:7px 8px;
}
.selectCity select{
	border:none;
	width:100%;
	background-color: transparent;
	color:white;
	font-family: 'Conv_Adani_Medium';
	font-size:16px;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
	cursor:pointer;
}
.selectCity option{
	color:#444;
	background-color:white;
}
.bgPrice .rupees{
	margin:13px 0 0 0;
	font-size:25px;
	font-family: 'Adani Light';
}
.rupees sup{
	font-size:13px;
}

.contBox.bgBill{
	background:url(../images/bgBill.png) no-repeat 100% 100% #518408;
}
.bgBill .inputDes{
	height:30px;
	width:135px;
	border:1px solid white;
	background-color:rgba(255,255,255,0.6);
	font-size:15px;
	/*text-transform:uppercase;*/
	font-family: 'Conv_Adani_Medium';
	margin-bottom:0px;
}
.bgBill .selectCity {
    border: 1px solid white;
    width: 178px;
    height: 18px;
    position: relative;
    padding: 7px 8px;
    background: url(../images/icons/arrow_price.png) no-repeat 95% 50%;
}
.bgBill .btnNormal a{
	float:right;
	background:url(../images/icons/arrow_right.png) no-repeat 92% 50% #003f69;	
	padding-right:22px;
	padding-left:10px;
	line-height:32px;
}
.bgBill .btnNormal a:hover{
	color:white;
}

/* Box Section */
.mainPage .mainBoxSect{
	padding:20px 0;
}
.mainBoxSect .mainBox{
	float:left;
	max-width:300px;
	box-shadow:0 0 5px rgba(138,138,138,0.7);
	width:100%;
	margin:10px;
	color:#252525;
	font-family: 'Adani Light';
	font-size:13px;
	height:330px;
	position:relative;
}

.mainBox .imgBlk img{
	display:block;
}
.mainBox .mainBoxPd{
	padding:20px;
}
.mainBox h3{
	font-size:16px;
	color:#333333;
	font-family: 'Conv_Adani_Medium';
	margin-bottom:20px;
}
.mainBox .btnRead a{
	font-size:13px;
	color:#ef6c00;
	/*text-transform:uppercase;*/
	display:inline-block;
	position:absolute;
	bottom:15px;
}
.mainBox .btnRead a:hover{
	text-decoration:underline;
}
@media screen and (max-width:342px){
.bgEmergency .number{
	font-size:20px;
}
.tollNumber{
	float:right;
    margin-top: -22px;
}
}
@media screen and (max-width:639px){
	.contSect .contBox{
		float:none;
		margin-left:10px;
		margin-right:10px;
		max-width:90%;
		width:auto;
		min-height:auto;
		padding-bottom:40px;
		background-size:cover;
	}
	
	.mainBoxSect .mainBox{
		float:none;
		margin:10px auto 10px;
	}
}

/* Page Register Now */
.pgRegister{}
.pgRegister .regFormBox{
	margin:25px 0 0 0;
}
.regFormBox label{
	margin-bottom:5px;
	display:block;
}
.regFormBox .inputDes{
	max-width:240px;
}
.regFormBox .emailInpt{
	float:left;
	max-width:280px;
	width:100%;
	margin-top:15px;
}
.regFormBox .regInpt{
	float:left;
	max-width:280px;
	width:100%;
	margin-left:0px;
	margin-top:15px;
}
.regFormBox .btnNormal a{
	font-family: 'Conv_Adani_Medium';
	/*text-transform:uppercase;*/
	margin:25px 0 0 0;
	padding:10px 15px;
}
.regFormBox .btnNormal a:hover{
	background: #003f69;
    color: #fff;
}
.regFormBox .portLf{
	float:left;
	max-width:570px;
	width:100%
}
.regFormBox .benifityPort{
	float:right;
	max-width:280px;
	width:100%;
	border:1px solid #d3d3d3
}
.benifityPort h3{
	font-size:16px;
	color:#333333;
	font-family: 'Conv_Adani_Medium';
	background-color:#f1f1f1;
	padding:15px 20px;
}
.benifityPort .benifitList{
	margin:20px 0 0 0;
}
.benifitList li{
	font-size:16px;
	font-family: 'Adani Light';
	padding:3px 0
}
.benifitList li span{
	display:inline-block;
	padding:0 5px;
}
@media screen and (max-width:955px){
	.regFormBox .portLf{
		float:none;
		max-width:none;
	}
	.regFormBox .benifityPort{
		float:none;
		margin:40px 0 0 0;
	}
}
@media screen and (max-width:735px){
	.regFormBox .emailInpt{
		float:none;
	}
	.regFormBox .regInpt{
		float:none;
		margin-left:0px;

	}
}
/* Domestic Benifits Of Natural Gas */
.pgDom_benifitNatGas{}
.pgDom_benifitNatGas .benifitBox{
	margin:10px 0 0 0;
}
.benifitBox .benifitRow{
	margin:20px 0;	
}
.benifitBox .benifitIcon{
	float:left;
}
.benifitRow .benifitText{
	float:right;
	width:93%;
}
.benifitText h3{
	font-size:20px;
	font-family: 'Adani_Regular';
}
@media screen and (max-width:800px){
	.benifitRow .benifitText{
		float:right;
		width:90%;
	}
}
@media screen and (max-width:600px){
	.benifitRow .benifitText{
		float:right;
		width:87%;
	}
}
@media screen and (max-width:450px){
	.benifitRow .benifitText{
		float:right;
		width:78%;
	}
}

/* Register For Ebill */
.pgRegEbill{}
.pgRegEbill .regFormBox{
	margin:25px 0 0 0;
}

/* Downloads Page */
.pgDom_downloads{}
.pgDom_downloads .downloadBox{
	margin:0px 0 0 0;
}


/* Online application for new connection */
.pgDom_newConnection{}
.pgDom_newConnection .regFormBox {
	margin:15px 0 0 0;
}
.pgDom_newConnection .newConn_selCity{
	float:left;
	max-width:272px;
	width:100%;
	margin:0 20px 25px 0;
}

/* Domestic Faq */
.pgDom_faq{}


/* Cylinder Calculation */
.pgDom_calculator{}
.pgDom_calculator .cylCalcBox{
	margin-top:40px;
	position:relative;
}
.cylCalcBox h4{
	font-family: 'Conv_Adani_Medium';
	font-size:16px;
	margin-bottom:10px;
}
.cylCalcBox .cylCalcBoxPd{
	padding:15px 20px;
}
.cylCalcBox .cylBlk{
	float:left;
	width:100px;
	background:url(../images/cylinder_red.png) no-repeat 25px 100%;
	height:30px;
}
.pgCom_calculator .cylCalcBox .cylBlk {
	background:url(../images/petrol_icon.png) no-repeat 25px 100%;
	width:130px;
}
.cylCalcBox .cylBlk1{
	background:url(../images/cylinder_blue.png) no-repeat 25px 100%;
}
.pgCom_calculator .cylCalcBox .cylBlk1 {
	background:url(../images/diesel_icon.png) no-repeat 25px 100%;
}
.cylBlk input[type="radio"]{
	float:left;
	 margin:5px 0 0 0;
	 display:none;
}
.cylBlk .cylinder {
  float:left;
  margin:15px 0 0 10px;
  background:url(../images/cylinder_radio.png) no-repeat 0 0;
  padding:0 0 0 20px;
  height:11px;
}
.cylinder sub{
	margin-left:11px;
}
.cylBlk input[type=radio]:checked ~ .cylinder {
  background:url(../images/cylinder_radio.png) no-repeat 0 100%;
}
.cylYearBox{
	position:relative;
	max-width:308px;
	width:100%;
	margin:50px 0 0 0
}

.rangeNo {
    float: left;
    width: 57px;
}
.rangeParent {
	display: inline-block;
	width: 342px;
}
.autoCyl img{
	margin-right: 0px !important;
}
.cylSlidePanel{
	margin:15px 0 0 0;
}
.cylYearBox .outPut{
	font-style:italic;
	color:rgba(37,37,37,0.6);	
	width:103px;
	margin:20px auto 0;
	font-family:Georgia, Constantia, "Lucida Bright", "DejaVu Serif", serif
}
.cylinderPanle img{
	margin-right:6px;
	vertical-align:bottom
}
.cylYearBox h5{
	font-family: 'Conv_Adani_Medium';
	font-size:16px;
	margin-top:25px;
}
.cylYearBox .rupeesCalc{
	margin:5px 0 0 0;
}
.rupeesCalc img{
	float:left;
	margin:10px 10px 0 0;
}
.rupeesCalc .inputDes{
	float:left;
	width:65px;
}
.cylYearBox .btnNormal a{
	font-size:20px;
	font-family: 'Conv_Adani_Medium';
	/*text-transform:uppercase;*/
	padding:10px 20px;
	margin-top:50px;

}
.dombtn a {
	margin-bottom: 20px;	
}
.cylYearBox .btnNormal a:hover{
	background:#003f69;
	color:white;
}
input[type=range] {
width: 165px;
}
.pgCom_calculator input[type=range] {
width: 300px;
}
input[type='range'] {
    -webkit-appearance: none !important;
	-moz-appearance: none !important;
    background:gray;
    height:7px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:red;
    height:20px;
    width:5px;
}
input[type='range']::-moz-range-thumb  {
    -moz-appearance: none !important;
    background:red;
    height:20px;
    width:5px;
}
/*.pgDom_calculator .calcuBox{
	position:absolute;
	max-width:440px;
	height:320px;
	width:100%;
	right:0;
	top:0;
	background-color:#1663bf;
	color:white;
	font-family: 'Conv_Adani_Medium';
}*/
.pgDom_calcuBox {
	position:absolute;
	max-width:440px;
	height:320px;
	width:100%;
	right:0;
	top:0;
	background-color:#1663bf;
	color:white;
	font-family: 'Conv_Adani_Medium';
}
.pgCom_calcuBox {
	position:absolute;
	max-width:440px;
	height:270px;
	width:100%;
	right:0;
	top:0;
	background-color:#ffcf01;
	color:#222222;
	font-family: 'Conv_Adani_Medium';
}
.iconText {
    float: right;
    margin: 5px 25px 0px 0px;
	font-family: 'Conv_Adani_Medium';
    font-size: 16px;
}
.commText {
	font-family: 'Adani Light';
}
.pgCom_calculator .cylBlk .cylinder {
	margin: 10px 0 0 10px;
}
.calcuBox h3{
	padding:35px 0 0 30px;
	font-size:16px;
	line-height:22px;
}
.calcuBox .total{
	font-size:30px;
    font-family: 'Conv_Adani_Medium';
	padding:25px 0 0 30px;
	float:left;
}
.calcuBox .totalSaving{
	font-size:20px;
	font-family: 'Conv_Adani_Medium';
	padding:15px 45px 15px 20px;
	float:right;
	background:#00e676;
	position:relative;
	color:#003f69;
	margin-top:15px;
}
.total p {
	font-size: 16px;
	font-family: 'Conv_Adani_Medium';
}
.pgCom_calcuBox .totalSaving {
	background: white;
}
.pgCom_calcuBox .totalSaving:before {
	border-right:40px solid #ffffff !important;
}
.pgCom_calcuBox .totalSaving:after {
	border-left:39px solid #ffffff;
}
.pgCom_calcuBox .totalSaving  {
	color: #222222;
}
.calcuBox .totalSaving:before{
	position:absolute;
	content:'';
	border:39px solid transparent;
	border-right:40px solid #00e676;
	left:-79px;
	top:-1px
}
.calcuBox .totalSaving:after{
	position:absolute;
	content:'';
	border:39px solid transparent;
	border-left:39px solid #00e676;
	right:-79px;
	top:-1px;
	display:none;
}
.totalSaving span{
	font-family: 'Conv_Adani_Medium';
	display:block;
	font-size:25px;
}
.calcuBox .equivPanel{
	border-top:3px solid #2e73c6;
	padding:15px 0;
	margin:65px 0 0 0;
}
.equivPanel .equivWdth{
	max-width:300px;
	width:100%;
	margin:0 auto;
}
.equivPanel .equiv{
	float:left;
	margin-top:20px;
}
.equivPanel .noun{
	float:left;
	margin:0 0 0 20px;
	font-family: Georgia, Constantia, "Lucida Bright", "DejaVu Serif", serif;
	font-size:16px;
	vertical-align:middle;
	display:inline-flex;
	line-height:50px;
}
.noun img{
	margin-right:10px;
}
@media screen and (max-width:865px){
	.pgDom_calculator .calcuBox{
		position:relative;
	}
}
@media screen and (max-width:480px){
.calcuBox .total{	
	padding:35px 0 0 30px;
	float:none;
}
.calcuBox .totalSaving{
	float:none;
	width:150px;
}
.calcuBox .totalSaving:before{
	display:none;
}
.calcuBox .totalSaving:after{
	display:block;
}
.calcuBox .equivPanel { 
    margin: 5px 0 0;
    padding: 5px 0;
}
}

/* Auto CNG Feedback Page */
.pgAuto_Feedback{
   padding-bottom:50px;
}
.pgAuto_Feedback .feedbackForm{
	margin:15px 0 0 0
}
.feedbackForm .inputDes{
	margin-bottom:5px;
	margin-top:5px;
}
.feedbackForm .vehBrand{
	float:left;
	width:280px;
	margin-right:32px;
	min-height:80px;
	max-height:150px;
}
.feedbackForm h4{
	font-family: 'Conv_Adani SemiBold';
	margin-bottom:10px;
}
.feedbackForm .satisPeraBlk{
	border-top:1px solid #e5e5e5;
	margin-top:25px;
	padding:20px 0 0 0;
}
.satisPeraBlk table th{
	background-color:#dfdbd4;
	padding:10px;
}
.satisPeraBlk table tr:nth-child(even){
	background-color:#f1efec;
}
.satisPeraBlk table td{
	padding:15px 10px;	
}
.satisPeraBlk .overAllPanel{
	background-color:#97cc52 !important;
}
.pgAuto_Feedback .btnNormal a{
	font-family: 'Conv_Adani_Medium';
	/*text-transform:uppercase;*/
	margin:0px 25px 0 0;
	padding:5px 25px;
        float:left;
        
}
.pgAuto_Feedback .btnText a{
       margin: 33px 0 0 0;
}
.pgAuto_Feedback .btnNormal a:hover{
	background: #003f69;
    color: #fff;
}

@media screen and (max-width:480px){
	.satisPeraBlk table td{
		padding:15px 5px;	
	}
	.satisPeraBlk table th{
		padding:10px 5px;
	}
}

/* Auto Govt Notifications */
.pgAuto_GovtNotification{}
.pgAuto_GovtNotification .govPortLf{
	max-width:620px;
	width:100%;
	margin:0 10px;
	float:left;
}
.govPortLf .whtBg{
	padding:20px;
}
.govPortLf h3{
	font-size:25px;
	line-height:32px;
	font-family: 'Conv_Adani_ExtraLight';
	margin-bottom:25px;
}
.govPortLf h4{
	font-family: 'Conv_Adani SemiBold';
	font-size:20px;
}
.govPortLf .yellowBg{
	background-color:#ffcf01;
	color:#222222;
	padding:20px;
	line-height:22px;
	font-family:Georgia, Constantia, "Lucida Bright", "DejaVu Serif", serif;
	font-style:italic;
	margin:25px 0;
}
.govPortLf .btnNormal a{
	padding:10px 15px;
	/*text-transform:uppercase;*/
	margin:0 0 15px 0;
}
.pgAuto_GovtNotification .govPortRht{
	max-width:300px;
	width:100%;
	margin:0 10px;
	float:left;
}
.govPortRht ul{
	border:1px solid #e3e0e0;
	background-color:white;
}
.govPortRht li{
	font-size:16px;
	font-family: 'Conv_Adani_Medium';
	color:#333333;
	border-left:10px solid #fff1b2;
	padding:20px 10px;
	border-bottom:1px solid #e3e0e0;
	min-height:40px;
	height:100%;
	display:block;
}
.govPortRht li span{
	font-size:13px;
	color:#333333;
	display:block;
	font-family: 'Adani Light';
	margin-bottom:3px;
}
.govPortRht li.sec{
	border-left:10px solid #ffe780;
}
.govPortRht li.third{
	border-left:10px solid #ffcf01;
	border-bottom:none;
}
.govPortRht li .govList{
	border:none;
	/*margin:15px 0 0 0;*/
}
.govList li {
    border-left: none;
    min-height: auto;
    padding: 10px 10px;
    border-top: 1px solid #e3e0e0;
    border-bottom: none;
	margin:5px 0;
}
.govList li a {
    color: #333333;
    font-family: 'Adani Light';
}
.govList .btnLoadMore a{
	font-family: 'Adani Light';
	font-size:13px;
	color:#333333;
	float:right;
	background:url(../images/icons/arrowLoadMore.png) no-repeat 100% 7px;
	padding:0 18px 0 0;
	margin-top:10px;
	cursor:pointer;
}
/* Auto Locate Page */
.pgAuto_Locate{
}
.pgAuto_Locate .selBox{
	margin:15px 0 15px 0;
	padding:15px 20px;
}
.selBox .selBlk{
	float:left;
	max-width:270px;
	width:100%;
	margin-right:20px;
}
.selBlk label{
	margin-bottom:3px;
	display:block;
}
.selBlk .select-style{
	height:32px;
}
.selBlk select{
	color:#252525;	
}
.pgAuto_Locate .addContenBox{
	
}
.addContenBox .whtBg{
	padding:15px 20px;
}
.addContenBox .add{
	float:left;
	width:33.33%;
	font-size:13px;
	color:#252525;
}
.add h3{
	font-size:16px;
	font-family: 'Conv_Adani_Medium';
}
.add .hrs{
	font-size:13px;
	font-family: 'Adani_Regular';
	color:#252525;
	margin-top:30px;
}
.hrs span{
	display:block;
	font-family: 'Conv_Adani_Medium';
	font-size:10px;
	text-transform:uppercase;
	margin-bottom:2px;
}
.addContenBox .locateImg img{
	width:100%;
	margin:15px 0 0 0
}


@media screen and (max-width:640px){
	.pgAuto_Locate .selBox{
		margin:15px 0 15px 0;
		padding:15px 0px;
	}
	.addContenBox .whtBg{
		padding:15px 0px;
	}
	.MainBanner .manageAcBox{
    margin:0 auto;
	float:none;
}
	.addContenBox .add{
		float:none;
		width:100%;
		font-size:13px;
		color:#252525;
		margin-bottom:15px;
		border-top:1px solid #e5e5e5;
		padding-top:20px;
	}
}
@media screen and (max-width:619px){
	.selAre{
		margin-top:18px;
	}
}

/* Industries Application of PNG */
.pgIndus_applications{}
.pgIndus_applications .appList{
	margin:20px 0 0 0;
	padding:15px;
	float:left;
	width:45%;
}
.appList li{
	color:#333333;
	font-family: 'Adani Light';
	margin:15px 0
}
.appList li .appIcon{
	float:left;	
}
.appList li .appText{
	float:left;
	margin:7px 0 0 10px;
}
@media screen and (max-width:670px){
	.pgIndus_applications .appList{
		margin:20px 0 0 0;
		padding:0;	
		float:none;
		width:100%;
	}
}

/* Domesti Fortune Recipies */
.pgDom_fortuneRecipy{}
.fortuneNav{
	float:left;
	max-width:220px;
	width:100%;
	margin-top:0px;
	display:block;
}
.fortuneNav li a{
	border:1px solid #cbcbcb;
	display:block;
	margin:5px 0;
	/*line-height:50px;*/
	padding:15px 0 15px 12px;
	font-size:20px;
	color:#333333;
	background:url(../images/icons/arroFortune.png) no-repeat 95% 50%;
	cursor:pointer;
}
.fortuneNav li.fortuneNavAct a,
.fortuneNav li a:hover{
	background-color:#1f2a73;
	color:white;
}
.fortuneNav li.fortuneNavAct a{
	background:url(../images/icons/arroFortune_sel.png) no-repeat 95% 50% #1f2a73;
}
.fortuneList{
	display: none;	
}





.fortuneRecCont{
	float:right;
	width:720px;
	position:relative;
}

.pgDom_fortuneRecipy .iconShareBox {
    float: right;
    margin: 8px 5px 5px 0;
    font-size: 16px;
	position:absolute;
	right:0;
	z-index:1;
}
.pgDom_fortuneRecipy .racipyCarBox{
	margin:43px 10px 20px ;
}
.pgDom_fortuneRecipy #racipy_tabCarousel{
    border-bottom: 2px solid #cecece;
    height: 45px;
}
#racipy_tabCarousel .item a {
    font-family: 'Adani Light';
    font-size: 16px;
    color: #454545;
    text-align: center;
    padding-bottom: 8px;
    display: block;	
}
#racipy_tabCarousel .item.succTabAct {
    border-bottom: 5px solid #003366;
}
#racipy_tabCarousel .owl-controls .owl-page span{
	border:1px solid #003366;
	width:10px;
	height:10px;
}
.fortuneRecCont h3{
	font-size:20px;
	font-family: 'Adani_Regular';
	/*margin-left:10px;
	margin-top:5px;
	float: left;*/
}
.racipyCar_contenBox{
	position:relative;
}
.racipyCar_conten{
	display:none;
}

.fortuneRecCont .dishes{
	float:left;
	max-width:220px;
	width:100%;
	margin:10px 10px;
	background:yellow;
}
.dishes img{
	display:block;
}
@media screen and (max-width:1003px){
	.fortuneNav{
		display:none;
	}
	.fortuneList{
		display: block;
		max-width:300px;	
		border:1px solid #cbcbcb;
		height:35px;
		background:url(../images/icons/accordArrowBlack_down.png) no-repeat 96% 50%;
	}
	.fortuneList select{
		width:100%;
		background:transparent;
		border:1px solid transparent;
		height:33px;
		font-size:16px;
		color:#333;
		font-family: 'Adani Light';
		padding-top:5px;
		-moz-appearance: none;
		-webkit-appearance: none;
		padding-left: 10px;
	}
	.fortuneRecCont{
		float:none;
		width:100%;
		margin-top:20px;
	}
	.fortuneRecCont h3{
		margin-left:0px;
	}
	
}
@media screen and (max-width:500px){
	.fortuneRecCont .dishes{
		float:none;
		max-width:220px;
		width:100%;
		margin:10px auto;

	}
}

/* Domestic Fortune Recipies Details */
.pgDom_fortuneRecipyDetail{}
/*.latestRecipeDetail h3{
	float:left;
	margin-left:0px;
}*/
.pgDom_fortuneRecipyDetail .iconShareBox{
	float:right;
	margin:8px 5px 5px 0;
	font-size:16px;
	position:absolute;
	right:0;
}
.iconShareBox ul{
	float:left;
	margin-left:5px;
}
.iconShareBox li{
	display:inline;
	margin:0 2px;
}
.pgDom_fortuneRecipyDetail .mrgLf{
	margin-left:20px;
	font-size:13px;
}
.pgDom_fortuneRecipyDetail .fotruneBnr{
	margin:0 0 15px; 
}
.fotruneBnr img{
	width:100%;
}
.pgDom_fortuneRecipyDetail h4{
	font-size:20px;
	font-family: 'Adani_Regular';
	color:#454545;
	margin-bottom:10px;
}
.detailRec {
	margin-bottom:0 !important;
}
.detailTitle {
	margin-bottom:20px !important;
}

@media screen and (max-width:1003px){
	.pgDom_fortuneRecipyDetail .mrgLf{
		margin-left:0px;
		font-size:13px;
	}
}
@media screen and (max-width:800px){
	.pgDom_fortuneRecipy #racipy_tabCarousel {
		height:88px;
	}
	/*.pgDom_fortuneRecipy .iconShareBox {
		margin: 25px 5px 5px 0;
	}*/
	.fortuneRecCont h3 {
		margin-right: 20px;
	}
	.pgDom_fortuneRecipy .racipyCarBox {
    margin: 0px 10px 30px;
	}
	.detailRec, .detailHead {
		margin-right:0 !important;
	}
}
/* Health Safety */
.customerPara {
	margin: 4px 10px;
}
.customerPara h3 {
	font-size: 20px;
    font-family: 'Adani_Regular';
	margin-bottom: 12px;
}
.safetyTitle {
	font-size: 20px;
    font-family: 'Conv_Adani SemiBold';
    margin-top: 20px;
    margin-bottom: 10px;
}
.customerPara span {
	font-size: 13px;
}
.safetyImg img {
	float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.rightTitle {
	font-size: 20px;
    padding-top: 25px;
    margin-bottom: 5px;
}
.safetyProp {
	float: left;
    margin-top: 25px;
}
.CornerHead {
	font-size: 20px;
    font-family: 'Adani_Regular';
}
.dosHead {
	font-family: 'Adani_Regular';
	color:#25307d;
    margin-bottom: 10px;
}
.dontsHead {
	font-family: 'Adani_Regular';
	color:#25307d;
    margin-top: 25px;
    margin-bottom: 10px;
}
.fortuneRecCont .simpleList li{
    border-bottom: none;
    padding: 0px 0 0px 20px !important;
}
.fortuneRecCont .simpleList li:before {
	top:8px;
}
.customerPage li .accordion-panel {
    padding: 10px 20px !important;
}
.customerPage li .accordion-head {
    padding: 10px 30px 0px 30px !important;
}
.customerPage li .accordion-head i {
	top:9px;
}
.gasLeakImg img {
	float:left;
	max-width:90px;
    margin-bottom: 12px;
    margin-right: 20px;
}
.gasLeakIntro {
    margin-bottom: 10px;
}
.gasLeakHead {
	font-family: 'Adani_Regular';
    color: #25307d;
    margin-bottom: 20px;
    margin-top: 5px;
}
.leakIcons {
	font-family: 'Adani_Regular';
    color: #25307d;
}
.listenIntro, .smellIntro {
	padding-top:15px;
}
.digImg img {
    float: left;
    margin-right: 25px;
    margin-top: 5px;
    max-width: 330px;
}
.digrhtTitle {
    font-size: 20px;
    font-family: 'Adani_Regular';
    padding-top: 25px;
    margin-bottom: 5px;
}
.digrhtText {
    font-family: 'Adani_Regular';	
}
.digHead {
	font-size: 20px;
    font-family: 'Adani_Regular';
	margin: 12px 0;
    padding-top: 8px;
}
.digPhone {
	font-family: 'Conv_Adani SemiBold';
	margin: 12px 0;
}
.distrImg img {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    max-width: 330px;
}
.recTitle {
	margin-left: 10px;
    margin-top: 5px;
	margin-bottom:25px;
    float: left;
}
#racipy_tabCarousel .owl-wrapper:first-child {
	margin-left:0 !important;
}
@media screen and (max-width:460px){
.safetyImg img {
	float:none;
}
.gasLeakImg img {
	float:none;
}
.listenIntro, .smellIntro {
    padding-top: 0px;
}
}
@media screen and (max-width:520px){
.digImg img {
	float:none;
}	
.distrImg img {
	float:none;
}	
}
.overlay_forgot {
  position : absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 1;
}
.overlay_forgot:target {
  visibility: visible;
  opacity: 1;
  z-index: 1510;
}

.popup_forgot {
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  max-width:640px;
  position: relative;
}
.popup_forgot .btnNormal a{
  float:left;
  margin-right:30px;
}
.popup_forgot h2 {
  margin-top: 0;
  margin-bottom:10px;
  color: #333;
  padding-bottom: 20px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
    font-family: 'Adani Light';

}
@media screen and (max-width:800px){
.overlay_forgot {
  position : absolute;
}
}
/* Commercial Success Stories Page */
.pgcomm_successStories{}
.pgcomm_successStories .innerPgConten {
	padding: 50px 0 20px;
}
.pgcomm_successStories .caseStudyPort{
	margin-bottom:70px
}
.caseStudyPort .caseStudyBlk{
	background-image:url(../images/successStories/big_iskcon.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	height:518px;
}

.caseStudyBlk .bx-wrapper{
	margin:0px;
	background:#999999;
	z-index:5;
	margin-left:35px;
}
.caseStudyBlk .bx-default-pager{
	display:none;
}
.slider8{
	height:100%;
	margin:29px 0;		
}
.caseStudyBlk .bx-controls-direction{
	height:100%;
	
}
.caseStudyBlk .bx-wrapper .bx-controls-direction a{
	height:35px;
	width:170px;
	margin-top:0;
	display:block !important;
}
.caseStudyBlk .bx-prev{
	top:0 !important;
	left:0 !important;
	background:url(../images/icons/arrowUp_success.png) no-repeat 50% 12px #999999 !important;
	margin-top:-18px !important;
}
.caseStudyBlk .bx-next{
	background:#2c2c2c !important;
	top:100% !important;
	left:0 !important;
	background:url(../images/icons/arrowDown_success.png) no-repeat 50% 15px #999999 !important;
	height: 44px !important;
	
}
.caseStudyBlk .bx-wrapper .bx-viewport{
	background:transparent;	
	height:100% !important
}
.caseStudyBlk .bx-wrapper img{
	width:auto;
}
.caseStudyBlk .slide {
	width:150px !important;
	margin-left:auto;
	margin-right:auto;
	border:1px solid rgba(255,255,255, 0.9) ;
	margin-bottom:12px !important;
}
.caseStudyBlk .slideAct{
	border:1px solid rgba(17,127,193, 0.9) ;
	box-shadow:0 0 5px rgba(17,127,193, 0.9) ;
}
.caseContenBox{	
	min-height:150px;
	background:rgba(0,51,102,0.6);
	padding:20px 20px 20px 235px;
	position:absolute;
	bottom:-10px;
	left:0px;
	right:0;	
	font-size:20px;
	color:white;
	visibility:hidden;
	opacity:0;	
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	z-index:0
}
.caseContenBoxAct{
	visibility:visible !important;
	opacity:1;
	/*-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);*/
}
.caseContenBox h3{
	font-size:25px;
	line-height:32px;
	margin-bottom:10px;
	font-family: 'Adani Light';
}
.caseContenBox .storyName{
	font-family: 'Adani Light';
	font-size:13px;
	float:right;
	margin-top:-12px;
}
.caseContenBox .readMore a{
	font-family: 'Adani Light';
	font-size:16px;
	color:white;
	text-decoration:underline;
}
.cmpyQuote {
	max-height: 3em;
}
#succDet_tabCarousel .succTabAct .item a {
	border-bottom: 5px solid #003366;
}
#succDet_tabCarousel .succTabAct a {
	border-bottom: 5px solid #003366;
}
.succTabAct a {
	color: #003366 !important;
}
.caseContenBox .readMore {
	padding-top:25px;
}
@media screen and (max-width:767px){
	.caseStudyPort .caseStudyBlk{
		background-image:url(../images/caseStudy/case_maruti-device.png);
	}
}
@media screen and (max-width:750px){
	.caseStudyPort .caseStudyBlk{
		height:400px;
	}
	
}
@media screen and (max-width:640px){
	.caseContenBox{
		display:block;
	}
	.pgcomm_successStories .innerPgConten {
	    padding: 20px 10px;
		padding-top: 50px;
	}
}

.pgcomm_successStories .succText{
}
.pgcomm_successStories .estimateClient{
	padding:55px 0
}
.estimateClient .subHead{
	font-size:16px;
	color:#000000;
	font-family: 'Conv_Adani SemiBold';
	text-decoration:underline;
}
.estimateClient .clientList{
	margin:20px 0 0 0;
}
.clientList li{
	display:inline;
	float:left;
	margin:0 0px 16px;
}
@media screen and (max-width:608px){
	.estimateClient .clientList{
		
		max-width:420px;
		margin-left:auto;
		margin-right:auto;
	}
}
@media screen and (max-width:415px){
	.estimateClient .clientList{		
		max-width:180px;
		margin-left:auto;
		margin-right:auto;
	}
	.owl-wrapper:first-child {
		margin-left: 0px !important;
	}
}

/* Commercial Success Stories Details */
.pgcomm_successStoriesDet{}
.pgcomm_successStoriesDet h2{
	font-size:16px;
	color:#000000;
	font-family: 'Conv_Adani SemiBold';
	text-decoration:underline;
}
.pgcomm_successStoriesDet .succDetPic{
	width:149px;
	height:149px;
	border:1px solid #d3d3d3;
	background-color:#fff;
}
.succDetPic img{
	width:100%;
}
.pgcomm_successStoriesDet #succDet_tabCarousel{
	margin:40px 0 0 0;
	border-bottom:1px solid #cecece;
	height:73px;
}
#succDet_tabCarousel .item{
	text-align:center;
}
#succDet_tabCarousel .item a{
	font-family: 'Conv_Adani_Medium';
	font-size:20px;
	color:black;
	text-align:center;
	padding-bottom:18px;
	display:inline-block;
}
#succDet_tabCarousel .item span{
	display:block;
	width:25px;
	height:29px;
	margin:0 auto;
}
#succDet_tabCarousel .item .iconOverview{
	background:url(../images/icons/success_overview.png) no-repeat 0 0;	
}
#succDet_tabCarousel .item .iconExpetation{
	background:url(../images/icons/success_expetation.png) no-repeat 0 0;	
}
#succDet_tabCarousel .item .iconSolutions{
	background:url(../images/icons/success_solutions.png) no-repeat 50% 0;	
}
#succDet_tabCarousel .item .iconSuccess{
	background:url(../images/icons/success_sucess.png) no-repeat 50% 0;	
}
/*#succDet_tabCarousel .succTabAct{
	border-bottom:5px solid #003366;
}*/
#succDet_tabCarousel .owl-controls .owl-page span{
	background-color:#e2e2e2;
	height:10px;
}
.owl-theme .owl-controls .owl-page span::after{
	background-color:#003366 !important;
	height:10px;
}
.pgcomm_successStoriesDet .succTabConten{
}
.succTabConten .succTabContenBlk{
	padding:30px 0;
	display:none;
}
.succTabContenBlk h3{
	font-size:16px;
	color:#000000;
	text-decoration:underline;
}
.succTabContenBlk .list{
	margin:20px 0
}
.list li{
	background:url(../images/icons/bullet_square.png) no-repeat 0 50%;
	padding:3px 0 3px 20px;
}
.succTabContenBlk .normalText{
	background:url(../images/icons/qouteBig.png) no-repeat 0 0;
	padding:30px 0 0 45px;
	font-size:20px;
	line-height:27px;
	font-family: 'Adani Light';
}
.succTabContenBlk .normalText .succName{
	font-size:16px;
	float:right;
	font-family: 'Adani_Regular';
	margin-top:5px;
}
.owl-wrapper:first-child {
  margin-left: -45px;
}


/* Page Comestic New Connection */
.pgDomNewConn{}
.pgDomNewConn .tagLine{
	margin-bottom:20px;
}
.pgDomNewConn .subTitle{
	font-size:20px;
	margin-bottom:10px;
	font-family: 'Adani Light';
}
.pgDomNewConn .subTitle2{
	font-size:20px;
	margin-bottom:10px;
	font-family: 'Conv_Adani_Medium';
}
.pgDomNewConn .gasServTab{
	margin:25px 0 0 0;
	border-bottom:1px solid #cecece;
	height:37px;
	display:block;
}
.gasServTab li{
	display:inline;
	cursor:pointer;
}
.gasServTab li a{
	padding-bottom:15px;
	border-bottom:5px solid rgba(255,255,255,0);
	margin:0 30px;
	padding-left:5px;
	padding-right:5px;
}
.gasServTab li.gasServTabSel a{
	border-bottom:5px solid #0099ff;
}

.pgDomNewConn .gasServTabConten{
}

.cd-breadcrumb, .cd-multi-steps { 
  padding: 0.5em 1em;
  margin: 1em auto;
  background-color: #edeff0;
  border-radius: .25em;
}
.cd-breadcrumb:after, .cd-multi-steps:after {
  content: "";
  display: table;
  clear: both;
}
.cd-breadcrumb li, .cd-multi-steps li {
  display: inline-block;
  float: left;
  margin: 0;
}
.cd-breadcrumb li::after, .cd-multi-steps li::after {
  /* this is the separator between items */
  display: inline-block;
  content: '\00bb';
  margin: 0 .6em;
  color: #959fa5;
}
.cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}
.cd-breadcrumb li > *, .cd-multi-steps li > * {
  /* single step */
  display: inline-block;
  font-size: 1.4rem;
  color: #2c3f4c;
 
}
.cd-breadcrumb li.current > *, .cd-multi-steps li.current > * {
  /* selected step */
  color: #96c03d;
}
.no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
  /* steps already visited */
  color: #96c03d;
}
.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
  /* replace the default arrow separator with a custom icon */
  content: '';
  height: 16px;
  width: 16px;
  background: url(../img/cd-custom-separator.svg) no-repeat center center;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li > *::before, .cd-multi-steps.custom-icons li > *::before {
  /* add a custom icon before each item */
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: .4em;
  margin-top: -2px;
  background: url(../img/cd-custom-icons-01.svg) no-repeat 0 0;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
  /* change custom icon using image sprites */
  background-position: -20px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
  background-position: -40px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
  background-position: -60px 0;
}
.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
  /* change custom icon for the current item */
  background-position: 0 -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
  background-position: -20px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
  background-position: -40px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
  background-position: -60px -20px;
}
@media only screen and (max-width:870px){
	.gasServTabConten .triangle li span{
		display:none;
	}
}
@media only screen and (min-width: 768px) {
  .cd-breadcrumb, .cd-multi-steps {
    padding: 0 1.2em;
  }
  .cd-breadcrumb li, .cd-multi-steps li {
    margin: 1.2em 0;
  }
  .cd-breadcrumb li::after, .cd-multi-steps li::after {
    margin: 0 1em;
  }
  .cd-breadcrumb li > *, .cd-multi-steps li > * {
    font-size: 16px;
  }
 
}

/* -------------------------------- 

Triangle breadcrumb

-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-breadcrumb.triangle {
    /* reset basic style */
    background-color: transparent;
    padding: 0;
  }
  .cd-breadcrumb.triangle li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0;
  }
  .cd-breadcrumb.triangle li:last-of-type {
    margin-right: 0;
  }
  .cd-breadcrumb.triangle li > * {
    position: relative;
    padding: 8px 0em 8px 0em;
    color: #2c3f4c;
    background-color: #edeff0;
    /* the border color is used to style its ::after pseudo-element */
    border-color: #edeff0;
	text-align:center;
	width:138px;
  }
  .cd-breadcrumb.triangle li.current > * {
    /* selected step */
    color: #ffffff;
    background-color: #96c03d;
    border-color: #96c03d;
  }
  .cd-breadcrumb.triangle li:first-of-type > * {
    padding-left: 1.6em;
    border-radius: .25em 0 0 .25em;
  }
  .cd-breadcrumb.triangle li:last-of-type > * {
    padding-right: 1.6em;
    border-radius: 0 .25em .25em 0;
  }
  .no-touch .cd-breadcrumb.triangle a:hover {
    /* steps already visited */
    color: #ffffff;
    background-color: #2c3f4c;
    border-color: #2c3f4c;
  }
  .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
    /* 
    	li > *::after is the colored triangle after each item
    	li::after is the white separator between two items
    */
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    /* 48px is the height of the <a> element */
    border: 17px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
  }
  .cd-breadcrumb.triangle li::after {
    /* this is the white separator between two items */
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    /* reset style */
    margin: 0;
  }
  .cd-breadcrumb.triangle li > *::after {
    /* this is the colored triangle after each element */
    z-index: 2;
    border-left-color: inherit;
  }
  .cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
    /* hide the triangle after the last step */
    display: none;
  }
  .cd-breadcrumb.triangle.custom-separator li::after {
    /* reset style */
    background-image: none;
  }
  .cd-breadcrumb.triangle.custom-icons li::after, .cd-breadcrumb.triangle.custom-icons li > *::after {
    /* 50px is the height of the <a> element */
    border-top-width: 25px;
    border-bottom-width: 25px;
  }

  @-moz-document url-prefix() {
    .cd-breadcrumb.triangle li::after,
    .cd-breadcrumb.triangle li > *::after {
      /* fix a bug on Firefix - tooth edge on css triangle */
      border-left-style: dashed;
    }
  }
 
  
}

.gasServTabConten .stepConten{
	margin-top:20px;
}
.stepConten h4{
	font-size:20px;
	color:#000;
	font-family: 'Conv_Adani_Medium';
	margin-bottom:20px;
}
.stepConten .btnNormal a{
	max-width:143px;
	width:100%;
	text-align:center;
	font-family: 'Adani Light';
	float:right;
	margin:0 2px;
	font-size:16px;
	text-transform:none;
	margin-bottom:15px;
}
.stepConten .downloadBtn a{
	max-width:259px;
}
.stepConten .downloadBtn a span{
	margin-top:25px;
}
.stepConten .btnNormal a {    
    padding: 10px 15px;
}
.stepConten .inputBox{
	float:left;
	max-width:280px;
	width:100%;
	margin:0 10px 13px;
	position:relative;
}
.stepConten .inputBox label{
	margin-bottom:5px;
	display:block;
}
.stepConten .inputDes{
	width:94%;
}


.step1 .notes{
	background-color:#82d1f5;
	padding:20px;
	font-size:20px;
	font-family: 'Conv_Adani_ExtraLight';
	color:#000000;
	margin:40px 0
}
.notes span{
	font-family: 'Adani_Regular';
}
.gasServTabMob{
	padding: 7px 0;
    margin: 15px 0;
    border: 1px solid #e0dddd;
	max-width:250px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../images/icons/arrow_selectbox.png") no-repeat 95% 54%;
	display:none;
}
.gasServTabMob select{
	width: 100%;
    border: 1px solid rgba(255,255,255,0);
    background: transparent;
    font-size: 16px;
    /* color: #333; */
    -webkit-appearance: none;
    padding: 5px 8px;
}
.step2 .docListTitle{
	font-size:16px;
	font-family: 'Adani_Regular';
	border-bottom:1px solid #cccccc;
	padding-bottom:12px;
	margin-bottom:10px;	
}
.step2 .docList{
	margin:0 0 20px;
}
.docList li{
	background:url(../images/icons/bullet.png) no-repeat 0 50%;
	padding:4px 0 4px 15px;
}

.step3 .checkbox{
	width:100%;
	display:block;
	padding:0 0 0 30px;
}
.step3 .btnNormal a{
	margin-top:40px;
}
.step4 .uploadBox{
	border-bottom:1px solid #cecece;
	padding-bottom:15px;
}
.uploadBox .uploadBlk{
	float:left;
	width:48%;
	margin:0 0 15px;
}
.uploadBox .uploadBlk:nth-child(2n+1){
	float:right;
}
.step4 .uploadTitle{
	margin-bottom:7px;
}
.uploadBox .uploadInputfile{
	position:relative;
}
.uploadInputfile .inputfile{
	border:1px solid red;
	position:absolute;
	z-index:1;
	opacity:0
}
.uploadInputfile label{	
	width:100%;
	position:relative;
	display:block;
}
.inputfile-6 + label span {    
    height: 30px;
	line-height: 30px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
	border:1px solid #e0dddd;
	padding:0 0 0 10px;
	font-size:13px;
}

.inputfile-6 + label strong {
    height: 32px;
    color: #f1e5e6;
    background-color: #003f69;
    display: inline-block;
	float:right;
	text-align:center;
	line-height:32px;
	width:98px;
	margin-top:-32px;
	font-size:13px;
	font-family: 'Adani Light';
}
.step4 .btnNormal a{
	margin-top:20px;
}

.step5{
}
.step5 .reconfirmTable{
	margin:20px 0 0 0;
}
.reconfirmTable td{
	font-size:16px;
	font-family: 'Adani Light';
	padding:7px 15px;
}
.reconfirmTable tr:nth-child(even){
	background:#f0f0f0;
}
.step5 .btnNormal a{
	margin-top:25px;
}

.stepConten .applyOnlineThanks{
}
.applyOnlineThanks .applyOnlineId a{
	font-size:20px;
	font-family: 'Conv_Adani_Medium';
	color:#0099ff;
	margin:6px 0 0 0;
	display:inline-block;
}
.applyOnlineThanks .septApply{
	border-top:2px dotted #231f20;
	height:1px;
	margin:20px 0;
}
.applyOnlineThanks .thankText{
	font-size:20px;
	font-family: 'Conv_Adani_Medium';
}
.applyOnlineThanks .paymentDetTable{}
.paymentDetTable td{
	font-size:16px;
	font-family: 'Conv_Adani_Medium';
	color:#252525;
	padding:7px 15px;
}
.paymentDetTable tr:nth-child(odd){
	background:#f0f0f0;
}
@media screen and (max-width:670px){
	.pgDomNewConn .gasServTab{
		display:none;
	}
	.gasServTabMob{
		display:block;
		width: 280px;
		padding: 5px 0;
	}
}
@media screen and (max-width:600px){
	.uploadBox .uploadBlk{
		float:none;
		width:100%;
		margin:0 0 15px;
	}
}

.gasServTabConten  #gasServ_onlineEnquiry{}
#gasServ_onlineEnquiry .onlEnqBox{
	float:left;
	max-width:280px;
	width:100%;
	margin:15px 10px 0px;
	position:relative;
}
.onlEnqBox label{
	margin-bottom:5px;
	display:block;
}
.onlEnqBox .inputDes{
	width:95%;
}
#gasServ_onlineEnquiry .btnNormal a{
	max-width:98px;
	width:100%;
	text-align:center;
	font-family: 'Adani Light';	
	margin:20px 10px 0;
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:15px;
	line-height:46px;
}
#gasServ_onlineEnquiry .notes{
	background-color:#82d1f5;
	padding:20px;
	font-size:20px;
	font-family: 'Conv_Adani_ExtraLight';
	color:#000000;
	margin:40px 0 0
}
#gasServ_visitCustCare ol{list-style-type: decimal;}
#gasServ_visitCustCare .visitCareList{
	counter-reset: my-badass-counter;
}
.visitCareList{
	color:#252525;
	font-family: 'Conv_Adani_ExtraLight';
}
.visitCareList li{
	padding:5px 0 5px 25px;
	position:relative;
	color:#252525;
}
.visitCareList li:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	position:absolute;
	left:0;
}
.visitCareList h5{
	font-size:16px;
	font-family: 'Conv_Adani_ExtraLight';
	margin:10px 0
}
.visitCareList li li{
	padding:5px 0 5px 20px;
	background:url(../images/icons/bullet_square.png) no-repeat 0 50%;
	margin-left:15px;
}
.visitCareList li li:before {
	display:none;
}


#payTableFinal td{
	min-width:150px;
}