/* Version 1.2 */

body .modal-header {
    background-color: #ff6633;
    color: #fff;
}

    body .modal-header .close {
        color: #fff;
        opacity: 1;
        font-size: 1.5rem;
    }

/* .container.large-container {
    max-width: 1400px;
} */

body main .container {
    max-width: 1500px;
}

body form#name-transfer-step1 {
    width: 100%;
}

body .name-transfer .panel {
    width: 100%;
}

body .submit_request .nav-tabs .nav-item a,
body .submit_request .nav-tabs .nav-item a:hover {
    color: #999999;
    border-bottom: 4px solid #eaeaea !important;
    color: #999;
}

    body .submit_request .nav-tabs .nav-item a.active,
    body .submit_request .nav-tabs .nav-item a.active:hover {
        border-bottom-color: #333333 !important;
        color: #333333;
    }

    body .submit_request .nav-tabs .nav-item a.completed,
    body .submit_request .nav-tabs .nav-item a.completed:hover {
        border-bottom-color: #13a180 !important;
        color: #13a180;
    }

/* body .nav-tabs .nav-item span {
    color: #616161;
    font-size: 18px;
}

body .nav-tabs .nav-item b {
    font-size: 36px;
} */

body .nav-tabs .nav-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

body .nav-tabs {
    margin-bottom: 30px;
    padding-bottom: 20px;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

body table {
    table-layout: fixed;
    word-break: break-word;
}

body .dataTables_length,
body .dataTables_filter {
    display: inline-block;
    vertical-align: top;
}

body .dataTables_length {
    margin-right: 48px;
}

    body .dataTables_length label,
    body .dataTables_filter label {
        display: flex;
        align-items: center;
    }

        body .dataTables_length label select {
            margin-left: 12px !important;
            margin-right: 8px;
        }

        body .dataTables_filter label input {
            margin-left: 12px;
        }

body .dataTables_paginate {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

    body .dataTables_paginate a {
        width: 28px;
        height: 28px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
        line-height: 28px;
        margin: 0 8px;
        display: inline-block;
        color: #333;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;
        padding: 1px 10px;
    }

    body .dataTables_paginate > a {
        width: auto;
    }

    body .dataTables_paginate a:hover,
    body .dataTables_paginate a.current {
        background-color: #333;
        color: #fff;
    }

    body .dataTables_paginate a.disabled {
        color: #aaa;
        pointer-events: none;
    }

body .dataTables_info {
    margin-top: 30px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
}

body table#Total_List_Name_Transfer thead tr th {
    vertical-align: top;
    background-color: #fafafa;
}

    body table#Total_List_Name_Transfer thead tr th:nth-child(1) {
        width: 80px !important;
    }

    body table#Total_List_Name_Transfer thead tr th:nth-child(2) {
        width: 180px !important;
    }

    body table#Total_List_Name_Transfer thead tr th:nth-child(3) {
        width: auto !important;
    }

    body table#Total_List_Name_Transfer thead tr th:nth-child(4) {
        width: 130px !important;
    }

    body table#Total_List_Name_Transfer thead tr th:nth-child(5) {
        width: 140px !important;
    }

    body table#Total_List_Name_Transfer thead tr th:nth-child(6) {
        width: 140px !important;
    }

    body table#Total_List_Name_Transfer thead tr th:nth-child(7) {
        width: 120px !important;
    }

    body table#Total_List_Name_Transfer thead tr th:nth-child(8) {
        width: 140px !important;
    }

    body table#Total_List_Name_Transfer thead tr th:nth-child(9) {
        width: 70px !important;
    }

body input#UserName,
body input#LECregisterPassword {
    height: 50px;
    border-radius: 8px;
}


@media (max-width: 767px) {
    body table#Total_List_Name_Transfer thead tr th:nth-child(2) {
        width: 130px !important;
    }

    body table#Total_List_Name_Transfer thead tr th:nth-child(3) {
        width: 300px !important;
    }

    body .dataTables_paginate > span {
        display: block;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}


@media (min-width: 768px) {
    body .nav-tabs .nav-item {
        max-width: 210px;
    }

    body .fix-on-top {
        position: sticky;
        top: 76px;
        background: #fff;
        z-index: 1;
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
    }

    body.custom-sticky .fix-on-top {
        box-shadow: 0px 5px 10px #ccc;
    }
}
/*input.previewdoc {
    margin-top: 10px;
}*/
input#NameTransferResendOtp {
    position: absolute;
    top: 30px;
    height: 42px;
    left: 214px;
    color: #fff;
}

input#NameTransferStatusResendOtp {
    position: absolute;
    top: 30px;
    height: 42px;
    left: 214px;
    color: #fff;
}

.form-group input.custom-file-uploaded + input[type="button"] {
    position: absolute;
    right: 0;
    top: 46px;
}

.form-group input.custom-file-uploaded {
    width: calc(100% - 90px);
}

.form-control-plaintext:focus-visible {
    outline: none;
}

.custom-table .table thead {
    position: sticky;
    top: 0;
}

.custom-table {
    max-height: 600px;
    overflow-y: auto;
}

//Name Change
.name-transfer {
}

.name-transfer .panel {
    background: #fff;
}

.name-transfer h3 {
    margin-bottom: 1.5rem;
}

.name-transfer h6 {
}

.name-transfer .text-alert {
    background: #fef6ea;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 2rem;
}

    .name-transfer .text-alert span {
    }

.name-transfer h2 {
    font-size: 18px;
    margin-bottom: 1.5rem;
}

    .name-transfer h2 b {
    }

.name-transfer .form-group label {
    margin-bottom: 0.35rem;
}

.name-transfer .form-group {
    position: relative;
}

    .name-transfer .form-group input, .name-transfer .form-group textarea {
        padding: 0.5rem 0.5rem;
        color: #000;
    }

        .name-transfer .form-group input:disabled, .name-transfer .form-group textarea:disabled {
            border: 1px solid #d0d2d3;
        }

.name-transfer .btn {
    min-width: 180px;
    color: #fff;
}

.check_app-status {
}

    .check_app-status p {
        position: relative;
        margin: 1rem 0rem 1.5rem 0rem;
    }

        .check_app-status p span {
            background: #fff;
            color: #ababab;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            padding: 0rem 1rem;
        }

        .check_app-status p:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0px;
            width: 100%;
            height: 1px;
            background: #f1f1f1;
            z-index: 0;
        }

    .check_app-status a {
        display: block;
        background: #ff6633;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border: 2px solid #ddd;
        padding: 0.8rem 1rem;
        transition: ease all 0.3s;
    }

        .check_app-status a:hover {
            background: #ff6633;
            color: #fff;
            border-color: #ff6633;
            transition: ease all 0.3s;
        }

.submit_request {
}

    .submit_request .nav-tabs {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;
        border: 0px;
    }

        .submit_request .nav-tabs .nav-item {
            padding: 12px 12px;
            max-width: 100%;
            flex: 0 0 33.3333%;
            margin: 0px;
        }

            .submit_request .nav-tabs .nav-item a {
                background: transparent;
                color: #999999;
                border-bottom: 4px solid #999999 !important;
                padding-left: 0px;
                border: 0px;
                transition: ease all 0.3s;
            }

                .submit_request .nav-tabs .nav-item a.active, .submit_request .nav-tabs .nav-item a:hover {
                    transition: ease all 0.3s;
                    color: #000;
                    border-bottom: 4px solid #000 !important;
                }

.card-border .card-header {
    border-bottom: 1px solid lightgray;
}

.form-label[for="customFile"] {
    padding: 7px;
}
