/*common START */
.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
	display:none;
}
@media screen and (max-width: 979px){
.row {
     margin: 0 auto !important; 
}
}
.headerDownSign {
    position: fixed !important;
    top: 118px !important;
    left: 0;
}
header.wpthemeControlHeader {
    display: none !important;
}
.wpthemeInner {
    display: none !important;
}

.CommonDash #InrcontenPort{
    margin-top:0px;
}
.pgRegister #InrcontenPort {
    position: relative;
    margin-top: -80px;
}
.pgAuto_Locate #InrcontenPort {
    position: relative;
    margin-top: -80px;
}
.pgDom_newConnection #InrcontenPort {
    position: relative;
    margin-top: -80px;
}
.pgDom_calculator  #InrcontenPort {
    position: relative;
    margin-top: -80px;
}
.pgDom_faq  #InrcontenPort {
    position: relative;
    margin-top: -80px;
}
.pgDom_benifitNatGas  #InrcontenPort {
    position: relative;
    margin-top: -80px;
}
.pgDom_downloads #InrcontenPort {
    position: relative;
    margin-top: -80px;
}
.pgRegEbill #InrcontenPort {
    position: relative;
    margin-top: -80px;
}
@media screen and (max-width: 640px){

	.pgRegister #InrcontenPort {
	    margin-top: 0px;
	}
	.pgDom_newConnection #InrcontenPort {
	    margin-top: 0px;
	}
	.pgDom_calculator  #InrcontenPort {
	    margin-top: 0px;
	}
	.pgDom_faq  #InrcontenPort {
	    margin-top: 0px;
	}
	.pgDom_benifitNatGas  #InrcontenPort {
	    margin-top: 0px;
	}
	.pgDom_downloads #InrcontenPort {
	    margin-top: 0px;
	}
	.pgRegEbill #InrcontenPort {
	    margin-top: 0px;
	}
       .pgAuto_Locate #InrcontenPort {
           margin-top: 0px;
        }
	.feedbackForm .satisPeraBlk {
	    overflow-x: scroll;
	}

}

/*common END */


/* Footer START */

.ftrBtmLink {
	float: right;
}
.ftrBtmLink a {
	color: rgba(255,255,255,0.8) !important;
}
.contactBlk .select-style {
	height: 41px !important;
	border: 0px solid #e0dddd !important;
}
.select-style select {
   /*padding: 10px 8px !important;*/
	font-family: 'Adani Light' !important;
	font-size: 16px !important;
	/*color: #ADADAD !important;*/
}
.contactBlk .inputDes {
	width: 92.5% !important;
}
.contactBlk .textareaDes {
	width: 92.5% !important;
}
@media screen and (max-width: 979px){
.ftrRow {
	padding: 0 10px;
    width: auto !important;
}
.ftrRow .inputDes {
	max-width: 100%;
}
.contactBlk .inputDes {
	width: 97.5% !important;
}
.contactBlk .textareaDes {
	width: 97.5% !important;
}

.comnbreadCum .row {
	padding: 0 10px;
    width: auto !important;
}
}
@media screen and (max-width: 400px){
.contactBlk .inputDes {
	width: 92.5% !important;
}
.contactBlk .textareaDes {
	width: 92.5% !important;
}
}
/* Footer END */

/* Common CSS START*/
.wpthemeInner{
  display:none;
}
#InrcontenPort .tagLine {
	line-height: 27px;
}
.innerPgConten {
	line-height: 23px;
}
.simpleList li {
    padding: 7px 0 0px 20px!important;
	font-family: 'Adani Light' !important;
}
.simpleList li:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 9px !important;
    height: 9px !important;
    background: #8cc63f !important;
}
.simpleList li li:before{
    border-radius: 50%;
}
.yellow li:before {
    background: #ffcf01 !important;	
}
.purple li:before {
	background: #ab1a86 !important;	
}
.comnbreadCum {
	background: #ececec;
    margin: 0 0 !important;
}
.comnPgConten {
	padding: 30px 0 30px !important;
}
.comnRow h1 {
    text-align: left;
	font-family: 'Adani Light';
    font-size: 31px !important;
	line-height: 32px !important;
	margin-bottom: 20px !important;
}
.peopleList {
	margin: 12px 0 0 0 !important;
}
.contSect {
    background-color: #f3f1f1;
    padding: 10px 0;
}
@media screen and (max-width: 979px){
.comnRow {
	padding: 0 10px;
    width: auto !important;
}
}
@media screen and (max-width: 320px){
.ourBoxBlk h5 {
    font-size: 13px!important;
	line-height: 18px;
}
}
/* Common CSS END*/

/*Domestic Home CSS START */

.wef {
    font-size: 16px;
    float: right;
    line-height: 39px;
    vertical-align: bottom;
}
.domTitle {
    color: #444444 !important;
}
.whiteLink a{
	color: white !important;
}
.btnDom a {
	text-transform: none !important;
}
.bgBill .btnNormal a:hover {
	background: url(../images/icons/arrow_right.png) no-repeat 92% 50% #003f69;
	cursor: pointer;
}
/*Domestic Home CSS END */

/* Commercial Home CSS START */
.borderBottom{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
    padding: 0 0 20px 0;
    width:100%
}
.wefCom {
    font-size: 16px;
    float: right;
    line-height: 18px;
    vertical-align: bottom;
    margin-top: -78px;
    margin-right: 10px;
}
.priceList {
    display: inline;
    float: left;
    margin-top: -5px;
    font-size: 16px;
}
.priceRht {
    float: right;
    margin-right: 100px;
}
.priceList sup{
    font-size: 13px;
}
.priceList img{
    height:12px;
}
.Mmbtu {
    font-size: 10px;
    margin-right: 0px;
    font-family: 'Conv_Adani_Medium';
    margin-top: -24px;
}
.titlePrice{
    font-size:10px;
}
.selectExtra{
    margin-top: -9px;
    width:150px !important;
}
/*Commercial Home CSS END */

/*Benefits of Using PNG START */
.subTitle h2{
   color:#ab1a86;
   font-size:20px;
   line-height: 27px;
   /*text-transform: uppercase;*/
   border-bottom:3px solid #ab1a86;
   display:inline-block;
   font-family:'Conv_Adani_Medium';
   margin-bottom: 10px;
}
.subTitleIndustrial h2{
   color:#7f1c7d;
   font-size:20px;
   line-height: 27px;
   /*text-transform: uppercase;*/
   border-bottom:3px solid #7f1c7d;
   display:inline-block;
   font-family:'Conv_Adani_Medium';
   margin-bottom: 10px;
}
.autoBanner h2{
	color: white;
}
.benifitBox .emptyIcon {
	margin: 5px 0;
}
/*Benefits of Using PNG END */

/* MMBTU START */
.mmbtuPara {
    font-family: 'Adani Light';
	font-size:16px;
	border-bottom: 2px solid #c5c5c5;
	margin-bottom: 15px;
}
/* MMBTU END */

/* List of documents START */
.docTitle {
	font-family: 'Adani_Regular';
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 5px;
}
.docPara {
	margin-bottom: 30px;
}
/* List of documents END */


/* Do and Dont START */
.DoAndDont {
    margin: 30px auto;
}
.DoHead{
	border-bottom:2px solid #8cc63f;
	margin-bottom: 10px;
}
.DontHead{
	border-bottom:2px solid #d9182d;
	margin-bottom: 10px;
}
.DoHead span{
	padding: 5px 25px 3px 5px;
	width:100px;
	background-color:#8cc63f;
	color:white;
}
.DontHead span{
	padding:5px 5px 3px 5px;
	width:100px;
	background-color:#d9182d;
	color:white;
}
/* Do and Dont END */

/* FAQ START */
.footerContact{
	background-color: #ffcf01;
    padding: 15px 10px;
    margin: 20px auto;
    font-family: 'Adani Light';
}
.More{
	display:inline-block;
	width:33%;
	vertical-align:middle;
	font-size:20px;
}
.call{
	display:inline-block;
	width:33%;
	vertical-align:middle;
}
.Email{
	display:inline-block;
	width:33%;
	vertical-align:middle;
}
.desContact {
    font-family: 'Conv_Adani_Medium';
}
.titleContact {
    font-size: 13px;
}
.domFooter {
	background-color:#003f69;
	padding: 15px 15px;
}
.commFooter {
	background-color:#ab1a86;
}
.indusFooter {
	background-color:#8cc63f;
}
.domesticFooter .More {
	width:38% !important;
}
.domesticFooter .call{
	width:28% !important;
}
.domesticFooter .Email {
	width:25% !important;
}
.domFooter .More{
	display:inline-block;
	/*width:32%;*/
	width:28%;
	vertical-align:middle;
	font-size:20px;
	color:white;
}
.domFooter .call{
	display:inline-block;
	/*width:20%;*/
	width:24%;
	vertical-align:middle;
	color:white;
}
.domFooter .Email{
	display:inline-block;
	width:30%;
	vertical-align:middle;
	color:white;
}
.domFooter .visit {
	display: inline-block;
    width: 16%;
    vertical-align: middle;
	color:white;
}
.domFooter .desContact a {
	color: white;
}
.commBanner h2{
	color: white;
}
@media screen and (max-width:960px){
	.More{
		display:block;
		width:100% !important;
	}
	.call{
		display:block;
		width:100% !important;
	}
	.Email{
		display:block;
		width:100% !important;
	}
}
/* FAQ END */


/*Cost Calculator Start */
.bgcost .selectCity {
    border: 1px solid black;
    /* background-color: #F6F6F6; */
    width: 195px;
    height: 32px;
    position: relative;
    /*padding: 7px 40px 7px 10px;*/
	padding:0;
    background: url(../images/arrow_topNav.png) no-repeat right 5% bottom 43%;
    /* background-color: white; */
    margin-bottom: 15px;
	cursor:pointer;
}
.bgcost .selectCity select {
    border: none;
    width: 100%;
    background-color: transparent;
    padding: 6px 7px;
    color: black;
    font-family: 'Conv_Adani_Medium';
    font-size: 16px;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*Cost Calculator End */

/*Application of Commercial PNG Start */
.AppCom .simpleList li {
    padding: 3px 0 3px 20px !important;
}
.AppCom .simpleList li:before {
    top: 7px;
}
.AppCom .tagLine{
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 20px;
}


/*Auto CNG Home */
.link{
margin-top: 23px;
    font-size: 16px;
}
.link a:link,.link a:visited{
	color:white;
}

/* Customer Corner */
.fortuneRecCont .dishes {
	background: none;
	position: relative;
}
.imgGred h3 {
	font-size: 20px;
    padding: 30px 20px 8px;
    font-family: 'Adani Light';
    color: #fff;
    position: absolute;
    z-index: 8;
    bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to top,#000 0,rgba(0,0,0,0) 100%);
	margin-left: 0;
}
.pgDom_fortuneRecipyDetail .fotruneBnr {
	position: relative;
}
.pgDom_downloads .accordion li .accordion-panel {
    padding: 5px 0px !important;
}
.loadMore1 a, .loadMore2 a, .loadMore3 a{
	border: 1px solid #ef6c00;
    padding: 10px 0;
    font-size: 20px;
    /* font-family: Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif; */
    /*text-transform: uppercase;*/
    color: #ef6c00;
    text-align: center;
    margin: 10px 10px;
    display: block;
    /* width: 200px; */
	cursor: pointer;
}
.pgAbout #frame {
    min-height: 439px;
    max-width: 790px;
    border: 1px solid;
}
.brandVideo {
	max-width: 960px;
    margin: 0 auto;
    position: relative;
	text-align: center;
}
.cyl-icon {
	cursor:pointer;
}
@media screen and (max-width: 1024px){
.brandVideo {
    padding-left: 10px;
    padding-right: 10px;
}
}
.indusPrice {
margin-right: 125px !important;
}
.benefits h2 {
	color: black;
}
.singleCol {
	font-size: 13px;
	margin-top: -31px;
}
.pg_quickPay .btnNormal{
	margin-top:20px;
}
.pg_quickPay .btnNormal a{
	padding: 5px 70px !important;
}
.pg_quickPay .btnText {
	margin-top:32px;
}
.pg_quickPay .btnText {
	padding-left: 25px;
}
.pgAuto_Locate .select-style select {
    padding: 7px 8px !important;
	cursor:pointer;
}
.appPara {
    font-family: 'Conv_Adani_ExtraLight';
    font-size: 20px;
    border-bottom: 2px solid #c5c5c5;
    margin-bottom: 15px;
}
.AppCom .appPara {
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 20px;
}
.applicationPara  {
    font-family: 'Adani Light';
    margin-bottom: 15px;
}
.appIndusPara {
    font-family: 'Conv_Adani_ExtraLight';
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
}
#InrcontenPort .headingPage {
    line-height: 27px;
}
.headingPage {
    font-family: 'Conv_Adani_ExtraLight';
    font-size: 20px;
    color: #000000;
}
/* Dashboard */
.checkBox label{
	display: inline-block; 
}
.checkBox input{
	margin-left:10px;
}
.checkBox{
	margin-bottom: 25px;
}
.meterImg img{
position:relative;
display:block;
z-index:0;
width:100%;
transition:all 0.4s ease;
-webkit-transition:all 0.4s ease;
-moz-transition:all 0.4s ease;
-ms-transition:all 0.4s ease;
-o-transition:all 0.4s ease;
filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
cursor:pointer;
}

.meterImg:hover img{
transform:scale(1.5);
-webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-ms-transform:scale(1.5);
-o-transform:scale(1.5);
filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
	-ms-filter: blur(0);
z-index:100;
cursor:pointer;
}
#MobileList {
	margin-bottom: 15px !important;
}
#MobileList td{
    padding: 5px 10px;
}

input[readonly]
{
    background:#f7f8f8;
}
#afterSalesPAyment {
	margin-top: 15px;
}
 .tg {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  max-width:580px;
  margin: 20px 0 30px 0;
  
  }
  .tg b{
  font-family:'Conv_Adani_Medium';
	}
  .tg td{
  font-size:13px;
  padding:5px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  text-align: center;
  vertical-align: middle;
  word-break: break-word;
  max-width: 200px;
  min-width: 50px;
  }
  .tg th{
  font-size:13px;
  font-weight:normal;
  padding:5px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
 word-break: break-word;
  max-width: 200px;
  min-width: 50px;
  }
  .tg .tg-yw4l{
  vertical-align:middle;
  text-align:center;
  }
#newPassMSG{
   Float:left;
}
#container1, #container2, #container3 {
	font-size: 16px !important;
    margin-top: 20px;
}
#ConsumptionDropDown label {
	margin: 15px 0;
}
.feedbackForm .btnNormal {
	margin-top: 30px;
}
.mailDiv {
	margin-bottom:50px;
}

text.highcharts-yaxis-title {
    font-family: 'Adani Light';
}
tspan {
    font-family: 'Adani Light';
}

.paytmIMG{
  width:70px;
  height:40px;
  background:url('../images/payment/paytm.png');
}
.payUIMG{
  width:100px;
  height:40px;
  background:url('../images/payment/payUmoney.png');
}
.bdeskIMG{
  width:82px;
  height:40px;
  background:url('../images/payment/billDesk.png');
}
.tprocessIMG{
  width:79px;
  height:40px;
  background:url('../images/payment/techProccess.png');
}
.atomIMG{
  width:73px;
  height:40px;
  background:url('../images/payment/atom.png');
}
.calcHead{
	margin-bottom:15px;
}
.PagePara{
	font-family: 'Adani Light';
    font-size: 16px;
}
.BenefitPara {
    margin-bottom: 40px;
}