@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
/**/

//var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
//var parent = Sitecore.Context.Database.GetItem(datasource);
//var x = 0;
}
<div class="container">
    <ul>
        <li>To know the Rooftop Solar Capacity of the Distribution Transformer you are connected too: <a href="#" id="DTWiseRooftopSolarlink" onClick="showDiv();">Click here</a> </li>
    </ul>

    <div id="DTWiseRooftopSolarDIV" style="display:none;">
        <div class="my-3 py-3"></div>
        <h4 class="txt-orange mb-3">DT wise Rooftop Solar Capacity Distribution Information</h4>
        @*<p>Please enter your Consumer Number</p>
        <input name="" type="text" class="form-control" id="consumerNumber">
        <button id="go" onclick="ConsumerName()">Go</button>*@

        <div class="row">
            <div class="col-sm-3">
                <p>Please enter your Consumer Number</p>
            </div>
            <div class="col-sm-3">
                <input name="" type="text" class="form-control" id="consumerNumber">
            </div>
            <div class="col-sm-1">
                <button id="go" onclick="ConsumerName()" class="">Go</button>
            </div>
        </div>


        <div class="my-3 py-3"></div>
        <div id="ConsumerNameArea" class="panel bg-white container">
            <div id="addressColl">
            </div>
        </div>
    </div>
</div>
<script>
  
    //$(document).ready(function () {
    //    $("#DTWiseRooftopSolarlink").click(function () {
    //        $('#DTWiseRooftopSolarDIV').show();
    //    });
    //});
    function showDiv() {
        $('#DTWiseRooftopSolarDIV').show();
    }

    function ConsumerName() {
        var consumerNumber = $('#consumerNumber').val();

        jQuery.ajax({
            method: "POST",
            data: { consumerNumber: consumerNumber },
            url: "/api/PageContent/GetDTWiseRooftopSolar",
            context: this,
            success: function (addr) {
                $("#addressColl").append("No data available.");   
            }
        });
    }
</script>
