@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var owl = Sitecore.Context.Database.GetItem(datasource);
}
<section class="section media-about">
    @Html.Sitecore().Field(Templates.HasPageContent.Fields.Body)
    <div class="container mt-5">
        @Html.Sitecore().Placeholder("media-content-carousel")
        @*<div class="row pt-5">
            <a href="@DictionaryPhraseRepository.Current.Get("/sitecore/content/Realty/Global/Dictionary/Media/Know More Link")" class="btn-primary blueBtn my-3 my-md-0 ml-auto mr-auto" target="_blank">@DictionaryPhraseRepository.Current.Get("/sitecore/content/Realty/Global/Dictionary/Media/Know More", "Know More")</a>
        </div>*@
    </div>
</section>
