@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@*@Html.Sitecore().Field(Templates.HasPageContent.Fields.Body)*@
@*@Html.Sitecore().Field(Templates.HasPageContent.Fields.Image)*@


<div class="col s12 m8 offset-m1 section-container">
    @*<div class="breadcrumbs">
            <a href="#" class="breadcrumb">Home</a>
            <a href="#" class="breadcrumb">New Connections</a>
            <a href="#" class="breadcrumb">Change Name on Bill</a>
        </div>*@
    <!--Page 2 Start-->
    <header class="section-header">
        <h1>@Html.Sitecore().Field(Templates.HasPageContent.Fields.Title)</h1>
        @Html.Sitecore().Field(Templates.HasPageContent.Fields.Summary)
    </header>
    @Html.Sitecore().Field(Templates.HasPageContent.Fields.Body)
    <!--Page 2 End-->
</div>

