@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<div class="section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 announcements">
                @Html.Sitecore().Placeholder("Col-1")
            </div>
            <div class="col-12 col-lg-6 news">
                @Html.Sitecore().Placeholder("Col-2")
            </div>
        </div>
    </div>
</div>