@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-ExtraLight.woff') format('woff'), url('../webfonts/Adani-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Medium.woff') format('woff'), url('../webfonts/Adani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular.woff') format('woff'), url('../webfonts/Adani-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular_1.woff') format('woff'), url('../webfonts/Adani-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Light.woff') format('woff'), url('../webfonts/Adani-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Bold.woff') format('woff'), url('../webfonts/Adani-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-SemiBold.woff') format('woff'), url('../webfonts/Adani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    position: relative;
    font-family: 'Adani-Regular';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background-color: #f4efec;
}

body {
    transition: ease margin-top 0.3s;
}

main {
    overflow: hidden;
    background: #f6f6f3;
}

h1, h2, h3, h4, h5, h6, ul, li, p, header, aside, footer, section, article, nav, field, label, figcaption, figure, hgroup, input, textarea {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}

p {
    font-size: 14px;
    font-weight: 500;
}

a {
    color: #179E96;
}

    a:link, a:visited {
        text-decoration: none;
    }

header {
    background: #fff;
    padding: 1rem 0rem;
}

    header .btn {
        text-align: left;
    }

        header .btn:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);
        }

    header .tollfree span {
        color: #7f3a8d;
        font-size: 0.8rem;
        font-weight: 600;
    }

    header .points-tooltip span {
        color: #f3a100;
        font-size: 0.8rem;
        font-weight: 600;
    }

    header .points-tooltip .fa {
        margin-right: 0px;
    }

    header .tollfree span(color:#7f3a8d;)
    header .points-tooltip(color:#f3a100;)
    header .btn .fa-question-circle {
    }

    header .btn .fa-question-circle:before {
        font-size: 20px;
        position: relative;
        top: 3px;
    }

    header .btn .fa-phone {
        width: 22px;
        height: 22px;
        text-align: center;
        border: 2px solid #7f3a8d;
        border-radius: 100px;
        position: relative;
        top: 6px;
        margin-right: 10px;
    }

        header .btn .fa-phone:before {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-size: 10px;
            color: #7f3a8d;
        }

    header .btn span {
        display: inline-block;
    }

.bg-images {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

    .bg-images img {
        border-radius: 0;
        min-height: 100%;
        min-width: 100%;
        position: relative;
        height: 100%;
        object-fit: cover;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

.login_container {
    position: relative;
    padding: 3.5rem;
    min-height: 80vh;
}

    .login_container .bg-images {
        background: rgb(186,54,100);
        background: linear-gradient(243deg, rgba(186,54,100,1) 0%, rgba(131,58,148,1) 52%);
    }

        .login_container .bg-images img {
            opacity: 0.2;
        }

    .login_container h1 {
        color: #fff;
        position: relative;
        text-align: center;
        font-weight: 500;
        font-size: 2.5rem;
    }

    .login_container h3 {
        color: #fff;
        text-align: center;
        position: relative;
        max-width: 650px;
        margin: 1rem auto 3rem auto;
        font-size: 1.5rem;
    }

    .login_container h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1.25rem;
        color: #ff6735;
        text-shadow: 0 0 #ff6735;
    }

        .login_container h2 img {
            width: 35px;
            margin-right: 10px;
        }

.login_container-inner {
}

    .login_container-inner > div {
        max-width: 450px;
        margin: 1.5rem auto;
        background: #fff;
        position: relative;
        padding: 1.5rem;
        box-shadow: 0px 0px 2px 0px #000;
    }

        .login_container-inner > div label {
            font-size: 13px;
            margin-bottom: 0.5rem;
            color: #545454;
        }

        .login_container-inner > div .form-control {
            border-radius: 0px;
        }

.header-logo {
    display: block;
}

    .header-logo img {
        max-width: 130px;
    }

.btn {
    border-radius: 5px;
    padding: .45rem 1.2rem;
    font-size: 18px;
    line-height: 1.31;
}

.btn-primary {
    font-weight: 500;
    color: #fff;
    background-color: #ff6735;
    border-color: #ff6735;
    min-width: 150px;
    border-radius: 0px;
}

    .btn-primary:hover, .btn-primary:active {
        background-color: #4a4a4a;
        border-color: #4a4a4a;
        box-shadow: 0 20px 38px rgba(0, 0, 0, 0.11) !important;
        top: -3px;
        color: #fff !important;
        transition: ease all 0.5s;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #4a4a4a;
        border-color: #4a4a4a;
    }

    .btn-primary.focus, .btn-primary:focus {
        box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
        background: #4a4a4a;
    }

    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
    }

.btn-secondary {
    line-height: 28px;
    color: #179F95 !important;
    background: transparent;
    border: 0px;
    padding: 0px;
}

    .btn-secondary span {
        font-size: 12px;
        position: relative;
        top: -2px;
        transition: ease all 0.4s;
        left: 0px;
    }

    .btn-secondary:hover span {
        transition: ease all 0.4s;
        left: 10px;
    }

    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:focus {
        background: transparent !important;
        outline: 0;
        border: 0px;
        box-shadow: 0 0 0 0.2rem rgba(130,138,145,0) !important;
    }

.btn-gradient {
    background: rgb(51,112,179);
    background: linear-gradient(41deg, rgba(51,112,179,1) 0%, rgba(29,159,149,1) 100%);
    transition: ease all 0.6s;
    color: #fff;
    border-radius: 0px;
    transform: translateY(0px);
    box-shadow: 0px 1px 5px -1px #b9b9b9;
    padding: 0.6rem 0.7rem 0.45rem 0.7rem;
    font-size: 20px;
}

    .btn-gradient:hover {
        background: rgb(51,112,179);
        background: linear-gradient(241deg, rgba(51,112,179,1) 0%, rgba(29,159,149,1) 100%);
        transition: ease all 0.6s;
        color: #fff;
        transform: translateY(-5px);
        box-shadow: 0px 3px 9px 3px #b9b9b9;
    }

    .btn-gradient span {
        position: relative;
        top: 1px;
    }

.ft-logo {
    max-width: 130px;
}

.ft_social {
}

    .ft_social li {
        display: inline-block;
        width: 30px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #6f6f6f;
    }

        .ft_social li a {
            color: #6f6f6f;
            font-size: 16px;
            transition: ease all 0.6s;
        }

            .ft_social li a:hover {
                color: #ff6735;
                transition: ease all 0.6s;
            }

header {
    border-bottom: 3px solid #ececec;
}

    header .navbar-brand {
        margin-right: 0px;
        padding: 0.6rem 0;
    }

        header .navbar-brand img {
            max-width: 100px;
        }

.topMenu {
}

    .topMenu li {
        padding: 0.5rem 0rem;
    }

        .topMenu li a {
            color: #616161;
            padding: 0.25rem 1rem;
            font-weight: 400;
            text-shadow: 0 0 black;
        }

.btn-login {
    background: rgb(58,120,181);
    background: linear-gradient(90deg, rgba(58,120,181,1) 0%, rgba(40,164,154,1) 52%);
    color: #fff;
    border-radius: 0px;
    padding: .45rem 1.5rem;
}

.header-section {
    padding: 0px 0px;
    box-shadow: 0px 0px 6px 0px #9c9c9c;
    z-index: 9;
    position: relative;
}

.top-submenu {
    border-bottom: 0px solid #ccc;
}

.banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
}

    .banner-content h1 {
        font-weight: 600;
        color: #fff;
        margin-bottom: 1rem;
    }

    .banner-content p {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .banner-content > div {
    }

        .banner-content > div a {
            color: #fff;
            border: 1px solid #fff;
            padding: 0.6rem 0.7rem 0.45rem 0.7rem;
            text-transform: uppercase;
            font-size: 14px;
            background: rgb(255 255 255 / 0%);
            transition: ease all 0.6s;
            position: relative;
            display: inline-block;
        }

            .banner-content > div a:hover {
                background: rgb(255 255 255 / 100%);
                transition: ease all 0.6s;
                color: #000;
                transform: translateY(-5px);
                box-shadow: 0px 3px 9px 3px #b9b9b9;
            }

            .banner-content > div a span {
                margin-left: 0.5rem;
            }

.hero-banner .item {
    position: relative;
}

.hero-banner .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

    .hero-banner .owl-dots button {
        outline: 0;
    }

        .hero-banner .owl-dots button.active {
        }

            .hero-banner .owl-dots button.active span {
                background: #7f3a8d;
                position: relative;
                top: -5px;
                transition: ease all 0.5s;
            }

        .hero-banner .owl-dots button span {
            width: 30px;
            height: 5px;
            background: #fff;
            display: block;
            margin-right: 10px;
            position: relative;
            top: 0px;
            transition: ease all 0.5s;
        }

.hero-banner .owl-dots {
}

.offers_tab {
}

    .offers_tab .nav {
        border: 1px solid #e8e8e8 !important;
    }

        .offers_tab .nav .nav-item {
            width: 25%;
            border-right: 2px solid #e8e8e8;
        }

            .offers_tab .nav .nav-item:last-child {
                border-right: 0px solid #e8e8e8;
            }

            .offers_tab .nav .nav-item .nav-link {
                border: 0px;
                background: rgb(241,241,241);
                background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(248,248,246,1) 51%, rgba(241,241,241,1) 100%);
                padding: 1.5rem 1.5rem 1.5rem 5rem;
                color: #000;
                font-size: 1.25rem;
                font-weight: 500;
                position: relative;
                border-radius: 0px;
                transition: ease all 0.6s;
            }

                .offers_tab .nav .nav-item .nav-link.active, .offers_tab .nav .nav-item .nav-link:hover {
                    background: rgb(51,112,179);
                    background: linear-gradient(241deg, rgba(51,112,179,1) 0%, rgba(29,159,149,1) 100%);
                    color: #fff;
                    transition: ease all 0.6s;
                }

                .offers_tab .nav .nav-item .nav-link img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    position: absolute;
                    left: 25px;
                    top: 38px;
                }

.offer_main {
    transition: ease all 0.6s;
    transform: translateY(0px);
    box-shadow: 0px 0px 6px -3px transparent;
    margin-bottom: 5px;
	height: 100%; background: #f4f4f4;
}

    .offer_main:hover {
        transition: ease all 0.6s;
        transform: translateY(-5px);
        box-shadow: 0px 0px 6px -3px #000;
    }

.offer_main-thumb {
    position: relative;
    height: auto;
    overflow: hidden;
    text-align: center;
}

    .offer_main-thumb p {
        background: #535353;
        padding: 10px 10px;
        color: #fff;
        font-weight: 300;
        text-shadow: 0 0 black;
    }

    .offer_main-thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.offer_main-views {
    position: absolute;
    top: 5px;
    right: 0px;
    padding: 0px 10px;
    color: #656565;
}

.offer_main-description {
    background: #f4f4f4;
    padding: 1.5rem;
}

    .offer_main-description h3 {
        line-height: 25px;
        margin-bottom: 0.8rem;
        height: 56px;
        overflow: hidden;
        position: relative;
    }

        .offer_main-description h3 a {
            color: #0b4677;
            font-weight: 600;
            font-size: 1.35rem;
            transition: ease all 0.6s;
        }

            .offer_main-description h3 a:hover {
                color: #f08923;
                font-weight: 600;
                font-size: 1.35rem;
                transition: ease all 0.6s;
            }

    .offer_main-description > p {
        color: #000;
        margin-bottom: 1rem;
        height: 84px;
        overflow: hidden;
        position: relative;
    }

    .offer_main-description > div a {
        color: #f08923;
        font-size: 1rem;
        font-weight: 600;
        transition: ease all 0.6s;
    }

        .offer_main-description > div a:hover {
            color: #0b4677;
            text-decoration: none;
            transition: ease all 0.6s;
        }

.section-heading {
    font-weight: 600;
    font-size: 2.5rem;
}

.text-blue {
    color: #0a86d2;
}

.loadmore_content {
    text-align: center;
}

    .loadmore_content p {
        color: #0b4677;
        font-weight: 600;
        font-size: 1.15rem;
        cursor: pointer;
        transition: ease all 0.6s;
    }

        .loadmore_content p:hover {
            color: #f08923;
            transition: ease all 0.6s;
        }

.bg-gradient {
    background: rgb(186,54,100);
    background: linear-gradient(243deg, rgba(186,54,100,1) 0%, rgba(131,58,148,1) 52%);
}

.bg-images.bg-gradient img {
    opacity: 0.2;
}

.cares-community {
}

    .cares-community .offer_main {
    }

        .cares-community .offer_main .offer_main-thumb {
            height: 250px;
            border-bottom: 3px solid #f08923;
        }

    .cares-community .offer_main-description h4 {
        height: 84px;
        overflow: hidden;
        position: relative;
    }

        .cares-community .offer_main-description h4 a {
            color: #808080;
            font-size: 1.25rem;
            font-weight: 400;
            transition: ease all 0.6s;
        }

            .cares-community .offer_main-description h4 a:hover {
                color: #000;
                transition: ease all 0.6s;
            }

    .cares-community .offer_main:hover h4 a {
        color: #000;
        transition: ease all 0.6s;
    }

.text-gray {
    color: #676767;
}

.help_main {
}

.help_main-icon {
    margin-bottom: 1.5rem;
}

.help_main-description {
}

    .help_main-description h4 {
        margin-bottom: 2rem;
    }

        .help_main-description h4 a {
            font-size: 1.25rem;
            font-weight: 500;
            color: #4a4a4a;
        }

            .help_main-description h4 a:hover {
                color: #000;
            }

            .help_main-description h4 a span {
                margin-left: 1rem;
                position: relative;
                top: 1px;
                color: #ffa032;
            }

    .help_main-description p {
        color: #909090;
    }

.section-help {
    border-bottom: 4px solid #ccc;
}

/*Inner breadcrumb*/
.breadcrumb {
    width: 100%;
    padding: 20px 0px 10px 0px;
    background: #fff;
}

    .breadcrumb ul li {
        color: #000;
        display: inline-block;
    }

        .breadcrumb ul li:nth-last-child(1):after {
            content: " "
        }

        .breadcrumb ul li:after {
            content: "\f105";
            padding: 0px 10px;
            display: inline-block;
            position: relative;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: #000;
        }

        .breadcrumb ul li a:hover {
            color: #4e4e4e;
            text-decoration: none;
        }

        .breadcrumb ul li a {
            color: #0b4677;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 22px;
            text-shadow: 0 0 black;
            font-weight: 600;
        }

.main-section {
    background: #fff;
    padding: 1.5rem 0;
}

.section-content {
    padding: 2.5rem 0;
}

    .section-content h2 {
        color: #0b4677;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .section-content p {
        font-size: 1.25rem;
        color: #656565;
        font-weight: 400;
        text-shadow: 0 0 black;
        margin-bottom: 20px;
    }

        .section-content p b {
            font-weight: 600;
        }

.field-validation-error {
    color: red;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0px 0px 0px;
}

.field-validation-error1 {
    color: red;
    font-size: 12px;
    line-height: 16px;
}

.section-footer {
    border-top: 3px solid #ececec;
}

    .section-footer p {
        color: #8a8a8a;
    }

.contact-link {
}

    .contact-link a {
        font-size: 1.5rem;
        font-weight: 400;
        color: #717171;
        transition: ease all 0.6s;
    }

        .contact-link a:hover {
            color: #000;
            transition: ease all 0.6s;
        }

    .contact-link span {
        color: #007ba3;
    }

.section-content p b, .section-content p strong {
    font-weight: 500;
}

.user-status {
    padding: 0.5rem;
    background: #fff;
}

    .user-status span {
        color: #007ba3;
    }

        .user-status span b {
            margin-right: 15px;
            margin-left: 5px;
        }

    .user-status .btn {
        min-width: auto;
        font-size: 14px;
        background: transparent;
        color: #ff6735;
        border: 0px;
        text-decoration: underline;
    }

        .user-status .btn:hover {
            background: transparent !important;
            color: #000 !important;
            box-shadow: 0px 0px 0px transparent !important;
        }

        .user-status .btn span {
            color: #ff6735 !important;
            transition: ease all 0.6s;
        }

        .user-status .btn:hover span {
            color: #000 !important;
            transition: ease all 0.6s;
        }


.btn-reset {
    font-weight: 500;
    color: #fff !important;
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    min-width: 150px;
    border-radius: 0px;
    padding: 6px 10px;
}

    .btn-reset:hover {
        font-weight: 500;
        color: #fff !important;
        background-color: #000;
        border-color: #000;
        min-width: 150px;
        border-radius: 0px;
        padding: 6px 10px;
    }

.txt-xs {
    font-size: 12px !important;
    font-weight: 400;
}

.txt-orange {
    color: #ff6633 !Important;
}


.footer_links{}
.footer_links li{display: inline-block;}
.footer_links li a{color: #000; font-size: 14px;}
.footer_links li:firs-child-child:before{content:"";}
.footer_links li:last-child:before{content:"|";margin: 0px 20px;color: #000; font-size: 14px;}
.footer_links li a:hover{opacity:0.5;text-decoration:underline;}

.content-section{padding: 3rem 0rem;min-height: 80vh;}
.content-section h5{font-size: 1.5rem;font-weight:400;}
.content-section p{margin-bottom:1rem; font-size: 1.05rem; font-weight: 400;}
.content-section p:last-child{margin-bottom:0rem;}
.content-section ul{margin-bottom:1rem;padding-left: 1rem;}
.content-section ul li{list-style-type: disc;font-size: 1.05rem;font-weight: 400;}
.content-section{}