@media (min-width: 992px){
	.hero-banner, .hero-banner .item, .hero-banner .item img {height: 70vh;}
}
@media (min-width: 768px){
	.login_container-inner{}
}
@media (max-width: 991px){
	.header-logo img{max-width: 110px;}
	.hero-banner, .hero-banner .item, .hero-banner .item img {height: 70vh;}
.contact-link a{font-size: 1rem;}
}
@media (max-width: 767px){
	.ft_social {text-align: center;}
	.ft-logo {max-width: 110px; margin:0px auto; display: block;}
	.login_container h1{font-size: 2rem;}
	.login_container-inner > div { max-width: 100%;}
	.login_container{padding: 2.5rem 0.5rem;}
	header .btn{padding: .45rem 0.2rem;}
	.login_container h2{font-size: 1.25rem;}
	.login_container h2 img{width: 35px; margin-right: 10px;}
}