@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<html lang="en">

<head>
 <title>Adani Leadership</title> 
	    
    <!-- Latest compiled and minified JavaScript -->
  <link rel="stylesheet" type="text/css" href="/styles/Adani/Leadershipbookblock.css">  
  <script src="/scripts/Adani/Leadershipmodernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="/styles/Adani/Leadershipmain.css"> 

</head>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXSVVNP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
 

 
    <!--  Main content Section-->
    <main role="main">
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->  
   
  <script src="/scripts/Adani/Leadershipquery-3.4.1.js" type="text/javascript"></script>
  <script src="/scripts/Adani/Leadershipjquery.jscrollpane.min.js" type="text/javascript"></script>
  <script src="/scripts/Adani/Leadershipjquery.bookblock.js" type="text/javascript"></script>
  <script src="/scripts/Adani/Leadershippage.js" type="text/javascript"></script>  
  
  

 <script>
		$(function () {
			Page.init();
		});
	</script>

</body>
</html>
