

<meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'   https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ ; style-src 'self'   ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/    https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'    data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/    https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com        />
<section class=".airo py-5 section-services bg-gray celebration">
    <div class="container">
        <h2 class="mb-3 border-l pl-3 txt-lg mb-3">All Airport</h2>
        <div class="d-lg-block d-none">
            <div class="owl-carousel airport-section__carousel ">
                <div class="item">
                    <a>
                        <img src="-/media/414E0F087A144ACC9C7B22BFCFDCA984.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/9444CC1B57A0484DA37FA2B2B2734147.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Ramleela</p>
                            <span>Bringing alive an epic saga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/899E0365652F42608D5DCCB7FEC9A5F2.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/83CF170A85A1495FB1BB2D9FDDF91720.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Ramleela</p>
                            <span>Bringing alive an epic saga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/C4F4302E0E78428B9BE2ECCDB5CAE3DA.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/B7595404CEF448A083B65822A749D43C.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/5517C1F9AC654CDFB48509E9EE476F87.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>


            </div>
        </div>
        <div class="d-lg-none d-block">
            <div class="owl-carousel airport-section__carousel ">
                <div class="item">
                    <a>
                        <img src="-/media/414E0F087A144ACC9C7B22BFCFDCA984.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/9444CC1B57A0484DA37FA2B2B2734147.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Ramleela</p>
                            <span>Bringing alive an epic saga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/899E0365652F42608D5DCCB7FEC9A5F2.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/83CF170A85A1495FB1BB2D9FDDF91720.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Ramleela</p>
                            <span>Bringing alive an epic saga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/C4F4302E0E78428B9BE2ECCDB5CAE3DA.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/B7595404CEF448A083B65822A749D43C.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="-/media/5517C1F9AC654CDFB48509E9EE476F87.ashx" class="img-fluid w-100" alt="" />
                        <div class="text-center">
                            <p>Nav Durga Dance</p>
                            <span>Paying homage to Goddess Durga.</span>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
</section>
