<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="content-encoding" content="gzip">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'   https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-sjgfiyds865' 'nonce-kahdgfqeuk9742' 'nonce-akdgciy76523' ; style-src 'self'   ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/    https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'    data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/    https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com        />

    <link rel="icon" type="image/png" href="images/favicon.png" />

    <title>Adani Group</title>

    <!-- Bootstrap core CSS -->
    <link href="/styles/comnew/bootstrap.min.css" rel="stylesheet">

    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet">-->
    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    <link rel="preload" href="https://adanidotcom.azureedge.net/Businesses_Banner.mp4" as="video" type="video/mp4">
</head>
<body>
<!--header-->
<script nonce="sjgfiyds865">
function init() {
var vidDefer = document.getElementsByTagName('iframe');
for (var i=0; i<vidDefer.length; i++) {
if(vidDefer[i].getAttribute('data-src')) {
vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
} } }
<!-- window.onload = init; -->
</script>
<header class="headerSec">
 <div class="overlay-top"></div>
	<div class="menu-overlay d-none"></div>
	@Html.Sitecore().Placeholder("header")
	
</header>
<!--/header-->
<main>

<!--Banner-->
@Html.Sitecore().Placeholder("page-layout")


</main>
<!-- To top -->
<a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
<span class="fa fa-angle-up"></span></a>
<!-- /To top -->
<!--footer-->

        @Html.Sitecore().Placeholder("footer")


    

	 <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/scripts/comnew/jquery.min.js"></script>
    
	<script nonce="kahdgfqeuk9742">
   AOS.init({
                easing: 'ease-in-out-sine'
            });
</script>
	<script nonce="akdgciy76523">
			$('.modal').on('shown.bs.modal', function () {
			  var url = $('.modal.show iframe').attr('data-src');
			  $('.modal.show iframe').attr("src", url);
			});
			
			$('.modal').on('hide.bs.modal', function () {
			var urlblank = 0;
				$('.modal iframe').attr('src', urlblank)
		});
		</script>
</body>
</html>