@using Sitecore.Data
@using Sitecore.Adani.Website
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
<section class="featured-stories">
    <div class="bg-images">
        @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, models)
    </div>
    <div class="container position-relative  pt-3 pb-5">
        <p class="pt-3 txt-white">
            @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, models)
            <span>
                @*<a href="" class="float-right btn btn-white">*@
                @Html.Sitecore().Field(Templates.Navigable.Fields.Link, models)
                @*</a>*@
            </span>
        </p>
    </div>
</section><!--/CTA-->
