@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #676767;
  font-weight: 400;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
.arch-banner-section {
  position: relative;
  /* height: 100vh; */
}
.arch-banner-section .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.custom-header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-header {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
  left: 0;
  padding: 20px 0;
  transition: 0.2s ease;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.colored-logo {
  display: none;
}
.custom-menu-section ul {
  display: flex;
  align-items: center;
}
.custom-menu-section ul li a {
  color: #fff;
  font-size: 14px;
  line-height: normal;
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: normal;
}
.custom-menu-section ul li.cta-btn a {
  background: rgba(255, 255, 255, 15%);
  border: 1px solid #fff;
  border-radius: 25px;
  text-decoration: none !important;
}
.custom-menu-section ul li.cta-btn {
  margin-left: 10px;
}
.header-right-logo img {
  max-width: 146px;
  width: 100%;
}
.header-right-logo .atriusLogo {
  max-width: 80px;
}
.arch-banner-section .banner-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding-bottom: 36px;
  padding-top: 70px;
}
.custom-menu-section {
  justify-content: center;
  display: flex;
}
.arch-banner-section:after {
  content: "";
  background-image: linear-gradient(0deg, transparent 37%, #000);
  top: 0;
  left: 0;
  width: 100%;
  height: 16rem;
  z-index: 1;
  opacity: 0.5;
  position: absolute;
}
.arch-banner-section .banner-content:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: linear-gradient(180deg, transparent 0, transparent 0, #000);
  opacity: 90%;
  pointer-events: none;
}
.arch-banner-section .banner-content .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.arch-banner-section .banner-content .mid-area img {
  max-width: 387px;
  width: 100%;
}
.arch-banner-section .banner-content .mid-area {
  display: flex;
  justify-content: center;
}
.arch-banner-section .banner-content .mid-area .atriusBannerLogo {
  max-width: 175px;
  margin-top: -70px;
}
p {
  margin: 0;
}
.arch-banner-section .banner-content .right-area {
  text-align: right;
}
.arch-banner-section .banner-content .left-area {
  text-align: left;
}
.arch-banner-section .banner-content p {
  color: #fff;
  line-height: 32px;
  font-size: 18px;
}
.arch-banner-section .banner-content p strong {
  display: block;
  font-size: 34px;
  padding-bottom: 10px;
}
.arch-banner-section .banner-content p span {
  font-weight: bold;
  font-size: 24px;
}
.scroll-body .custom-header {
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 3px 0 #ddd;
}
.scroll-body .white-logo {
  display: none;
}
.scroll-body .colored-logo {
  display: block;
}
.scroll-body .custom-menu-section ul li a {
  color: #404040;
}
.scroll-body .custom-menu-section ul li.cta-btn a {
  border-color: #404040;
  background: rgba(222, 222, 222, 40%);
}
.custom-footer {
  background: #96633c;
  text-align: center;
  color: #fff;
  padding: 60px 0;
}
.BgChange {
  background: #e9b146;
}
.footer-logo {
  padding-top: 20px;
}
.footer-social-icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-icons ul li + li {
  padding-left: 9px;
}
.footer-copyright {
  padding: 20px 0 37px;
  font-weight: 300;
}
.footer-copyright a {
  color: #fff;
}
.footer-copyright a:hover {
  text-decoration: underline;
}
.footer-disclaimer h4 {
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  margin: 0;
  padding: 30px 0;
}
.footer-disclaimer p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
}
.footer-top-desc h5 {
  margin: 0;
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
}
.footer-top-desc h5 a {
  color: #fff;
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
}
.footer-top-desc h5 a:hover {
  text-decoration: none;
}
.address-progress-section {
  padding: 80px 0;
  text-align: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.address-progress-section .top .tittleHeading {
  font-size: 30px;
  color: #676767;
  line-height: normal;
}
/* .address-progress-section:after {	
    opacity: 70%;	
    background: #fff;	
    content: '';	
    position: absolute;	
    display: block;	
    height: 100%;	
    width: 100%;	
    top: 0;	
} */
.address-progress-section .shapeTraigle {
  position: relative;
}
.internalProcess .progress-inner {
  position: absolute;
  top: 194px;
}
.address-progress-section h4 {
  color: #404040;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  padding-bottom: 45px;
}
.address-progress-section h3 {
  margin: 0;
  font-size: 28px;
  line-height: normal;
  font-size: 32px;
  color: #e9b146;
  -webkit-background-clip: text;
  background-clip: text;
}
.address-progress-section .slick-vertical .slick-slide {
  display: inline-block !important;
  border: 0 !important;
  overflow: hidden !important;
}
.address-progress-section .slick-dots {
  display: none !important;
}
.topHeading {
  font-size: 32px;
  color: #e9b146;
  text-align: center;
  margin: 0 0 40px 0;
}
.tittleHeading {
  font-size: 32px;
  color: #e9b146;
  text-align: center;
  margin: 0 0 40px 0;
}
.top {
  text-align: center;
}
.luxury-section .btm h4 {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  color: #676767;
  font-size: 20px;
  line-height: normal;
}
.luxury-section .btm .wrap {
  display: flex;
  flex-wrap: wrap;
}
.luxury-section .btm .featured-item {
  width: 25%;
  margin-bottom: 60px;
}
.luxury-section .btm .featured-item img {
  height: 100%;
  object-fit: cover;
  transition: 2.6s ease;
}

.luxury-section .btm .featured-item .img img:hover {
  transform: scale(1.2);
}
.luxury-section .btm .featured-item h5 {
  margin: 0;
  text-align: center;
  padding-top: 24px;
  color: #676767;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.19px;
}
.luxury-section {
  padding-bottom: 82px;
}
.highlight-slider-wrapper .slide-item {
  min-height: 558px;
  position: relative;
}
.highlight-slider-wrapper .slide-item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.highlight-slider-wrapper .slide-item h4 {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  font-weight: 500;
}
.highlight-slider-wrapper .slide-item .desc {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(90px);
  -ms-transform: translateY(90px);
  transform: translateY(90px);
  transition: 1s ease;
}
.amenities-section .am-wrap .item .wrap {
  min-height: 47px;
}
.highlight-slider-wrapper .slide-item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: inherit;
  display: block;
  content: "";
  background: linear-gradient(180deg, transparent 0, transparent 30%, #000);
  opacity: 60%;
}
.highlight-section {
  overflow: hidden;
}
.highlight-section .slide-item {
  margin: 0 10px;
}
.highlight-section .top p {
  color: #676767;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 20px;
}
.highlight-section .slick-slide:not(.slick-active):before {
  content: "";
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  opacity: 0.5;
}
.highlight-section .slick-arrow {
  width: 17.2%;
  height: 100%;
  z-index: 1;
}
.highlight-section .slick-arrow:before {
  content: none;
}
.highlight-section .slick-dots li button {
  display: none;
}
.highlight-section .slick-dots li {
  background: #804b1d57;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
}
.highlight-section .slick-dots li.slick-active {
  background: #804b1d;
}
.amenities-section {
  background: #fdfaf3;
  padding: 40px 0 95px;
}
.amenities-section .topHeading {
  margin-bottom: 24px;
}
.amenities-section .top p {
  color: #404040;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.amenities-section .btm {
  padding: 0 80px;
  padding-top: 54px;
  overflow-x: scroll;
}
.amenities-section .am-wrap {
  display: flex;
}
.amenities-section .am-wrap .item {
  text-align: center;
  padding: 0 50px;
}
.amenities-section .am-wrap + .am-wrap {
  margin-top: 77px;
}
.amenities-section .am-wrap .item p {
  color: #333333;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding-top: 35px;
  font-weight: 400;
  width: 150px;
}
.tour-section {
  padding-top: 50px;
}
.amenities-section .btm::-webkit-scrollbar,
.floor-plan ul::-webkit-scrollbar {
  display: none;
}
.amenities-section .am-wrap .item img {
  max-width: 40px;
}
.download-brochure-section {
  padding: 80px 0;
  text-align: center;
  margin-bottom: 50px;
}
.download-brochure-section .brochure-btn {
  border: 1px solid #804b1d;
  border-radius: 29px;
  padding: 14.5px 44.8px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  color: #804b1d;
  cursor: pointer;
}
.download-brochure-section .brochure-btn.bgBtn {
  border: 1px solid #404040;
  color: #404040;
}
.download-brochure-section .brochure-btn:hover {
  background: #333333;
  color: #fff;
  border-color: #333333;
}
.tour-section img {
  width: 100%;
}
.lifestyle-gallery-section {
  padding: 124px 0;
}
.lifestyle-gallery-section .item img {
  max-width: 1061px;
  margin: 0 auto;
  width: 100%;
}
.lifestyle-gallery-section p {
  text-align: center;
  color: #404040;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  padding-top: 24px;
}
.lifestyle-gallery-section .btm {
  margin: 0 auto;
  position: relative;
}
.lifestyle-gallery-section .slides-numbers {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #404040;
  font-size: 13px;
  line-height: 26px;
}
.lifestyle-gallery-section .slick-arrow {
  background-image: url(/images/Realty/AtriusImages/left-nav.svg) !important;
  height: 32px;
  width: 32px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  left: -40px;
  z-index: 1;
  top: 47%;
}
.lifestyle-gallery-section .slick-arrow:before {
  content: none;
}
.lifestyle-gallery-section .slick-arrow.slick-next {
  left: auto;
  right: 0;
  background-image: url(/images/Realty/AtriusImages/right-nav.svg) !important;
}
.configurationsWrap {
  padding: 130px 0;
}

.configurationsWrap .topHeading {
  font-size: 32px;
  color: #96633c;
  text-align: center;
  margin: 0 0 40px 0;
}

.configurationsWrap .contentBox .tiles {
  display: flex;
  background: #f8f8f8;
  border-radius: 30px;
  margin-bottom: 20px;
}

.configurationsWrap .contentBox .configTable .tiles li {
  width: 33.3%;
  padding: 15px 30px;
  font-size: 20px;
  color: #404040;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.configurationsWrap .contentBox .configTable .tiles li span {
  display: none;
}

.configurationsWrap .contentBox .configTable .tiles .checkPrice {
  text-align: right;
  font-size: 18px;
  justify-content: end;
}

.configurationsWrap .contentBox .configTable .tiles .checkPrice a {
  color: #404040;
  cursor: pointer;
  text-decoration: underline;
}
.configurationsWrap .contentBox .configTable .tiles .checkPrice a:hover {
  text-decoration: none;
}
.configurationsWrap .contentBox .configTable .topTittle {
  background: #404040;
  border-radius: 30px;
  margin-bottom: 20px;
}

.configurationsWrap .contentBox .configTable .topTittle li {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/* popup */
.enquiryBtn {
  padding: 12px 40px;
  background: #e9b146;
  border: none;
  color: #fff;
  border-radius: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  max-width: 40px;
  min-width: 180px;
}
rect#Rectangle_200 {
  fill: #e9b146;
}
.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #404040;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid #404040;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.otpForm .verification-code {
  position: relative;
  margin: 40px auto;
  text-align: center;
  width: 480px;
}

.otpForm .control-label {
  display: block;
  text-align: -webkit-auto;
  padding-left: 15px;
  font-size: 15px;
}

.otpForm .verification-code--inputs input[type="text"] {
    border-bottom: 1px solid #404040 !important;
    width: 73px;
    height: 65px;
    /* padding: 10px; */
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 22px;
    margin: 0 8px;
    color: #404040;
    border-radius: 0;
}

.otpForm .verification-code--inputs input[type="text"]:first-child {
  margin-left: 0;
}

.otpForm .enquiryBtn {
  margin-top: 80px;
  outline: none;
}

.gallery-section .video {
  width: 100%;
  display: block;
}
.gallery-section .video-section {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 1062px;
  margin: 0 auto;
}
.gallery-section .playpause {
  background-image: url(/images/Realty/AtriusImages/play-btn.svg);
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
/* Floor Plan CSS Start */
.floor-plan,
.loctaion {
  padding-top: 100px;
}
.floor-plan ul {
  margin-bottom: 30px;
  padding: 0px;
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
}
.floor-plan ul li {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  padding: 7px 20px;
  border: 1px solid #a2a2a2;
  background: #fff;
  cursor: pointer;
  color: #404040;
  font-size: 16px;
  min-width: 148px;
  text-align: center;
}
.floor-plan ul li.act,
.floor-plan ul li:hover {
  border: 1px solid #e9b146;
  background: #e9b146;
  color: #fff;
}
.floor-detail {
  padding: 30px;
  background: #f4f4f4;
  display: flex;
  justify-content: space-around;
}
.floor-detail-inner {
  width: 45%;
}
.floor-detail-inner h2 {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-bottom: 24px;
}
.floor-detail-inner h2 span {
  font-weight: normal;
  font-size: 14px;
}
.floor-detail-inner figure {
  margin: 0px;
  padding: 0px;
}
.floor-detail-inner figure img {
  width: 100%;
  min-height: 400px;
  object-fit: contain;
}
.popup-form {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  border-radius: 8px;
  padding: 40px;
}

.ovarLay {
  position: fixed;
  background: rgba(0, 0, 0, 70%);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

.brochure-form-open .ovarLay,
.enquire-form-open .ovarLay,
.configuration-form-open .ovarLay,
.thnku-form-open .ovarLay {
  opacity: 1;
  visibility: visible;
}

.brochure-form-open .download-brochure,
.configuration-form-open .price-configuration,
.enquire-form-open .enquire-now {
  opacity: 1;
  visibility: visible;
}
.popup-form form .form-control {
  margin-bottom: 12px;
}
.popup-form form .form-control label {
  font-size: 14px;
}
.popup-form form .form-control input {
  width: 100%;
  border-color: transparent;
  border-bottom: 1px solid #666;
  outline: none;
  font-size: 16px;
  padding: 5px 0 10px 0;
}
.popup-form .close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.loctaion {
  margin-bottom: 100px;
  padding-top: 80px;
}
.configurationsWrap .contentBox {
  max-width: 1116px;
  margin: 0 auto;
}
.otpForm {
  max-width: 604px;
  width: 100%;
  background: #fff;
  margin: 0 auto;
  border-radius: 12px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
@media (max-width:991px) {
  .otpForm.enquire-otp{
    position: inherit;
  }
}

.otpForm .otp_close_btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.otpForm .verification-code {
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 100px;
}
@media (max-width:767px) {
  .otpForm .verification-code{
      padding: 0;
  }
}

.otpForm .verification-code label.control-label {
  color: #404040;
  font-size: 14px;
  line-height: normal;
  font-weight: 300;
}
.otp-form-open .otpForm {
  opacity: 1;
  visibility: visible;
}
.otp-form-open .ovarLay {
  opacity: 1;
  visibility: visible;
}
.resend-btn {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 15px;
  color: #e9b146;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  width: auto;
}
.resend-btn svg {
  fill: #e9b146;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.resend-wrp {
  margin-right: 5%;
  display: flex;
  justify-content: end;
}
.resend-btn:hover span {
  text-decoration: underline;
}
.address-progress-section .slick-slider {
  margin: 0 !important;
}
.address-progress-section .slide {
  padding-bottom: 30px;
}
.enq-btn {
  cursor: pointer;
}
.highlight-slider-wrapper .slide-item p {
  font-size: 20px;
  line-height: normal;
  color: #fff;
  padding-bottom: 10px;
}
.highlight-slider-wrapper .slide-item.slick-active .desc {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.address-progress-section .slick-slider .slide {
  padding: 0;
}
.thankyou-form {
  max-width: 604px;
  width: 100%;
  position: fixed;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 12px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.thnku-form-open .thankyou-form {
  opacity: 1;
  visibility: visible;
}

.thankyou-form .inner {
  max-width: 400px;
  margin: 0 auto;
  padding: 90px 0 40px;
}
.thankyou-form .top h3,
.popup-form h3,
.verification-code h3 {
  color: #404040;
  font-size: 24px;
  line-height: normal;
  margin: 0;
  padding-bottom: 12px;
}
.thankyou-form .top {
  text-align: left;
  padding-bottom: 24px;
}
.popup-form p,
.verification-code .top p {
  margin-bottom: 20px;
}
.thankyou-form .top p,
.popup-form p,
.verification-code .top p {
  color: #404040;
  font-size: 16px;
  line-height: normal;
}
.thankyou-form .item {
  width: 100%;
  padding-bottom: 10px;
}
.thankyou-form .item h5 {
  margin: 0;
  color: rgba(64, 64, 64, 50%);
  font-size: 14px;
  line-height: normal;
  font-weight: 300;
  padding-bottom: 8px;
}
.thankyou-form .item h4 {
  margin: 0;
  color: #404040;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}
.thankyou-form .btm {
  padding-bottom: 56px;
}
.thankyou-form .thankyou_close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.thankyou-form .button-section {
  text-align: center;
}
.thankyou-form .button-section .btn {
  padding: 12px 40px;
  background: #e9b146;
  border: none;
  color: #fff;
  border-radius: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  max-width: 40px;
  min-width: 180px;
}
.highlight-section h2.topHeading {
  margin-bottom: 24px;
}
.highlight-section .slick-dots {
  bottom: -35px;
}
.cm-threeSixty {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.cm-threeSixty:after {
  width: 7px;
  height: 7px;
  content: "";
  display: inline-block;
  border: 1px solid #e9b146;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: -7px;
}
.form-open .custom-header {
  z-index: 1;
}
.highlightSloder {
  padding: 0;
}
.highlightSloder .galleryDivider .btm {
  margin: inherit;
}
.highlightSloder .galleryDivider .contantBox {
  width: auto;
  padding: 52px 28px;
  max-height: 342px;
  background: #fdfaf3;
  max-width: calc(100% - 900px);
}
.highlightSloder .galleryDivider .contantBox p {
  text-align: left;
  padding-right: 30px;
}
.highlightSloder .galleryDivider .slides-numbers {
  position: absolute;
  top: auto;
  right: 20px;
  bottom: 60px;
}
.configurationsWrap .contentBox .configTable .tiles li sup {
  font-size: 11px;
  vertical-align: top;
  margin-right: 5px;
  margin-top: -10px;
}
.highlightSloder .slick-arrow {
  left: auto;
  right: 40px;
  bottom: -20px;
  top: auto;
}
.highlightSloder .galleryDivider .contantBox h3 {
  font-size: 40px;
  color: #404040;
  margin: 0;
  line-height: 54px;
}
.highlightSloder.galleryDivider .contantBox p {
  text-align: left;
}
.configurationsWrap .contentBox .grayTable .topTittle {
  background: #404040;
  border-radius: 0;
}
.configurationsWrap .grayTable .tiles {
  border-radius: 0 !important;
}
.address-progress-section .container {
  position: relative;
  z-index: 1;
}
.galleryDivider .wrp {
  display: flex;
  align-items: center;
  width: 100%;
}

.galleryDivider .wrp .desc {
  max-width: 900px;
  position: relative;
}
.amenities-section .tittleHeading {
  margin-bottom: 10px;
}
.galleryDivider .wrp .desc img {
  max-width: 100%;
}
.lifestyle-gallery-section.cm-gallry .btm {
  max-width: 1061px;
}

.lifestyle-gallery-section.cm-gallry .btm p {
  visibility: hidden;
}
.luxury-section .btm .featured-item .img {
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
  display: block;
  border-radius: 80px;
  height: 270px;
  object-fit: cover;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.animation-section {
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.animation-section img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
}
.animation-section img.img1 {
  transition: 1.25s ease-in-out;
  transform: scale(1);
  opacity: 1;
  margin-top: 50px;
}
.animation-section img.img1.add {
  transform: scale(1);
  transition: 1.25s ease-in-out;
}
.animation-section img.img2 {
  transition: 1.25s ease-in-out;
  transform: scale(0);
  opacity: 0;
}
.animation-section img.img2.remove {
  transform: scale(1);
  transition: 1.25s ease-in-out;
  opacity: 1;
}
.arch-site-wrapper {
  display: none;
}
.address-progress-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.provided {
  color: #404040;
  font-size: 15px;
  font-weight: normal;
  line-height: normal;
  display: block;
}
.lifestyle-gallery-section .item .desc:after {
  content: "Artistic Impression";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 20px;
  bottom: 70px;
  color: #fff;
  font-size: 0.65rem;
  padding: 0.375rem 0.8rem;
  border-radius: 0.8rem;
}
.galleryDivider .wrp .desc:after {
  bottom: 20px !important;
}
.mfp-zoom-out-cur .mfp-wrap:not(.mfp-gallery) img.mfp-img {
  padding: 0;
  background: #fff;
}

.mfp-zoom-out-cur .mfp-wrap:not(.mfp-gallery) button.mfp-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 35px;
  opacity: 1;
}
.mfp-zoom-out-cur .mfp-wrap:not(.mfp-gallery) .mfp-content {
  position: static;
}
.amenities-section .am-wrap .item .wrap {
  min-height: 47px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .mobile-trigger {
    display: none;
  }
  .lifestyle-gallery-section.cm-gallry .slick-arrow.slick-next {
    right: -40px;
  }
  .address-progress-section .mobile {
    display: none;
  }
  .mob {
    display: none;
  }
  .highlightSloder .galleryDivider .contantBox {
    min-height: 314px;
  }
  .custom-menu-section ul li a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1399px) {
  .galleryDivider .wrp .desc {
    max-width: 800px;
  }
  .highlightSloder .galleryDivider .contantBox {
    max-width: calc(100% - 800px);
  }
}
@media (max-width: 1199px) {
  .custom-menu-section ul li a {
    padding: 10px 7px;
    font-size: 13px;
  }

  .header-right-logo img {
    max-width: 100px;
  }
  .luxury-section .btm .featured-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 991px) {
  .highlightSloder .galleryDivider {
    display: block;
  }
  .highlightSloder .galleryDivider .item img {
    max-width: 100%;
    height: 305px;
    object-fit: cover;
  }
  .highlightSloder .galleryDivider .contantBox {
    margin-top: 0px;
  }
  .highlightSloder .galleryDivider .slides-numbers {
    bottom: 0;
    z-index: initial;
    position: static;
    text-align: center;
    transform: none;
    margin-top: 20px;
  }
  .highlightSloder .galleryDivider .contantBox h3 {
    font-size: 21px;
    text-align: center;
    line-height: 24px;
  }
  .highlightSloder .galleryDivider .contantBox p {
    padding-top: 15px;
    text-align: center;
    padding-right: 0;
  }
  .highlightSloder .slick-prev.slick-arrow {
    left: -15px;
    right: 0;
    top: 150px;
  }
  .highlightSloder .slick-arrow.slick-next {
    top: 150px;
    z-index: 1;
    margin-right: 0;
    left: auto;
    right: -15px;
    background-image: url(/images/Realty/AtriusImages/right-nav.svg) !important;
  }
  .highlightSloder .galleryDivider .gallery {
    width: 100%;
  }
  .internalProcess .progress-inner {
    position: absolute;
    top: 135px;
    left: 0;
    width: 100%;
  }
  .address-progress-section h4 {
    padding-bottom: 15px;
  }
  .mobile-trigger {
    width: 50px;
    height: 28px;
    border-radius: 15px;
    border: 1px solid #ffffff8f;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 99;
  }
  .mobile-trigger span {
    display: block;
    height: 1px;
    background: #fff;
    margin: 5px auto 0;
    width: 20px;
    transition: 0.3s ease;
  }
  .mobile-trigger span:first-child {
    margin-top: 0;
  }
  .logo-area {
    order: 1;
  }
  .header-right-logo {
    order: 2;
    margin-left: 7px;
  }
  .mobile-trigger {
    order: 3;
    position: absolute;
    right: 0;
  }
  .custom-header .row {
    justify-content: initial;
    position: relative;
  }
  .arch-banner-section .banner-content .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .arch-banner-section .banner-content .left-area {
    text-align: center;
    order: 3;
  }
  .arch-banner-section .banner-content .right-area {
    text-align: center;
    order: 2;
    padding-bottom: 10px;
  }
  .arch-banner-section .banner-content .row > div {
    width: 100%;
  }
  .arch-banner-section .banner-content .mid-area {
    order: 1;
    padding-bottom: 28px;
  }
  .arch-banner-section .banner-content .mid-area img {
    max-width: 209px;
  }
  .arch-banner-section .banner-content p strong {
    font-size: 28px;
    line-height: normal;
    font-weight: 500;
  }
  .arch-banner-section .banner-content .left-area p strong {
    padding: 0;
  }
  img.h-logo {
    display: block !important;
    margin: 0 auto 69px;
    max-width: 68px;
    width: 100%;
  }

  .address-progress-section {
    padding: 120px 0;
  }

  .topHeading {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  body {
    line-height: 30px;
  }

  .luxury-section .btm h4 {
    line-height: 1;
  }

  .luxury-section .btm .featured-item {
    width: 50%;
    margin-bottom: 40px;
    padding: 0;
  }

  .luxury-section .btm .featured-item .img {
    max-width: 123px;
    height: 123px;
    border-radius: 40px;
  }

  .luxury-section .btm .featured-item h5 {
    font-weight: 400;
    color: #333333;
    font-size: 15px;
    line-height: 22px;
    padding-top: 20px;
  }
  .configurationsWrap .contentBox .configTable .tiles li:nth-child(2) {
    display: none;
  }

  .configurationsWrap .contentBox .tiles {
    align-items: initial;
    justify-content: space-between;
    border-radius: 40px;
    padding-left: 20px;
  }

  .configurationsWrap .contentBox .configTable .tiles li {
    width: auto;
    font-size: 16px;
    padding: 15px 20px;
    line-height: 19px;
  }

  .configurationsWrap .contentBox .configTable .tiles li span {
    display: block;
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    line-height: 19px;
    padding-top: 8px;
  }

  .configurationsWrap .contentBox .configTable .tiles .checkPrice {
    font-size: 16px;
    white-space: nowrap;
    padding: 22px;
    background: #f2f2f2;
    border-radius: 30px;
    max-width: 138px;
    width: 100%;
    justify-content: center;
  }

  .configurationsWrap .contentBox .configTable .topTittle {
    background: #404040;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  .configurationsWrap .contentBox .configTable .tiles li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .configurationsWrap {
    padding: 80px 0;
  }

  .amenities-section .top p {
    line-height: 19px;
    font-weight: 500;
  }

  .amenities-section .am-wrap .item {
    padding: 0 20px;
  }

  .download-brochure-section {
    padding: 50px 0;
  }

  .brochure-btn {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    border-radius: 29px;
    padding: 11.5px 27.1px;
  }

  .lifestyle-gallery-section {
    padding: 80px 0;
  }

  .lifestyle-gallery-section .slick-arrow.slick-next {
    right: 15px;
  }

  .lifestyle-gallery-section .slick-arrow {
    left: 15px;
  }

  .lifestyle-gallery-section.cm-gallry .container,
  .gallery-section .container,
  .floor-plan .container,
  .loctaion .container {
    padding: 0;
    max-width: 100%;
  }

  .lifestyle-gallery-section.cm-gallry .top,
  .gallery-section .top {
    padding: 0 20px;
  }

  .lifestyle-gallery-section .btm {
    max-width: 100%;
  }

  .lifestyle-gallery-section .slides-numbers {
    right: 20px;
  }
  .floor-plan ul {
    margin-left: 0;
    margin-right: 0;
    padding: 0 5px;
    overflow-x: scroll;
    width: 100%;
  }
  .floor-plan h2.topHeading,
  .loctaion h2.topHeading {
    padding: 0 20px;
  }
  .floor-detail {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .floor-detail-inner {
    width: 100%;
  }
  .floor-detail-inner h2 {
    text-align: center;
  }
  .floor-detail-inner h2 span {
    font-weight: inherit;
    font-size: inherit;
  }
  .floor-detail-inner + .floor-detail-inner {
    margin-top: 40px;
  }
  .floor-plan {
    margin: 0;
  }
  .loctaion {
    margin-bottom: 80px;
  }
  .custom-menu-section {
    position: fixed;
    right: -300px;
    height: 100vh;
    top: 0;
    background: #ffffff;
    width: 300px;
    justify-content: initial;
    padding: 60px 0 10px 0;
    transition: right 0.3s ease;
  }
  .custom-menu-section ul {
    display: block;
    width: 100%;
  }
  .custom-menu-section ul li a {
    color: #404040 !important;
    font-size: 16px;
    line-height: 19px;
    padding: 20px 60px;
  }
  .menu-wrapper {
    width: 100%;
    overflow-y: auto;
  }
  body.menu-open {
    overflow: hidden;
  }
  .custom-menu-section ul li {
    border-bottom: 1px solid #eee;
  }
  .custom-menu-section ul li:first-child {
    border-top: 1px solid #eee;
  }
  .custom-menu-section ul li.cta-btn {
    display: none;
  }
  .custom-menu-section ul li a:hover {
    background: #f8f8f8;
  }
  .menu-open .custom-menu-section {
    right: 0;
  }
  .menu-open .mobile-trigger,
  .scroll-body .mobile-trigger {
    background: #eee;
    border-color: #ddd;
  }
  .menu-open .mobile-trigger span,
  .scroll-body .mobile-trigger span {
    background: #333;
  }
  .custom-header .container {
    max-width: 100%;
  }
  .menu-open .mobile-trigger span:first-child {
    transform: rotate(45deg);
    margin-top: 1px;
  }
  .menu-open .mobile-trigger span:last-child {
    transform: rotate(132deg);
    margin-top: -1px;
  }
  .menu-open .ovarLay {
    opacity: 1;
    visibility: visible;
  }
  .menu-open .ovarLay {
    opacity: 1;
    visibility: visible;
  }

  .menu-open .custom-header {
    z-index: 99;
  }
  .custom-menu-section ul li.brochure {
    display: flex !important;
    justify-content: center;
    margin: 30px 0;
    border: 0;
  }
  .custom-menu-section ul li.brochure a.brochure-btn {
    color: #e9b146 !important;
    padding: 12px 28px;
    border: 1px solid #e9b146;
  }
  .highlight-slider-wrapper .slide-item {
    min-height: 500px;
  }
  .amenities-section .btm {
    padding-left: 10px;
    padding-right: 40px;
  }
  .scroll-body .sticky-btn {
    display: block !important;
  }
  .sticky-btn {
    position: fixed;
    bottom: 20px;
    z-index: 9;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .sticky-btn a {
    cursor: pointer;
    background: #e9b146;
    color: #fff;
    border-radius: 25px;
    padding: 14px 80px;
    border: 1px solid #fff;
  }
  .popup-form {
    transform: none;
    top: auto;
    max-width: 100%;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: -200%;
  }
  .brochure-form-open .download-brochure,
  .configuration-form-open .price-configuration,
  .enquire-form-open .enquire-now {
    bottom: 0;
  }
  .popup-form {
    padding: 40px 15px 20px;
  }
  .otpForm,
  .thankyou-form {
    transform: none;
    top: auto;
    max-width: 100%;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 40px 15px 20px;
    bottom: -200%;
  }

  .otp-form-open .otpForm,
  .thnku-form-open .thankyou-form {
    bottom: 0;
  }
  .thankyou-form .wrap {
    display: block;
  }

  .thankyou-form .inner {
    padding: 10px 0;
  }

  .thankyou-form .top p {
    font-size: 14px;
  }

  .thankyou-form .item h4 {
    font-size: 14px;
  }
  .configurationsWrap .contentBox .configTable .tiles li:nth-child(2) {
    display: none;
  }

  .configurationsWrap .contentBox .configTable .tiles li {
    width: auto;
    flex: 1;
    font-size: 16px;
    padding: 15px 20px;
  }

  .configurationsWrap .contentBox .configTable .tiles li span {
    display: block;
    font-size: 14px;
    font-weight: 400;
  }

  .configurationsWrap .contentBox .configTable .tiles .checkPrice {
    font-size: 16px;
    white-space: nowrap;
    padding: 22px;
    background: #f2f2f2;
    border-radius: 30px;
    max-width: 40%;
  }

  .configurationsWrap .contentBox .configTable .topTittle {
    background: #404040;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  .arch-banner-section .banner-content:after {
    background: linear-gradient(180deg, transparent 0, transparent 0, #000);
  }
  .galleryDivider .wrp .desc {
    max-width: 100%;
  }

  .galleryDivider .wrp {
    display: block;
  }

  .highlightSloder .galleryDivider .contantBox {
    max-width: 100%;
    max-height: initial;
    padding: 23px;
  }

  .highlightSloder .galleryDivider .item img {
    height: 385px;
  }

  .highlightSloder .slick-arrow.slick-next {
    right: 0;
  }

  .highlightSloder .slick-prev.slick-arrow {
    left: 0;
  }

  .highlightSloder .slick-arrow {
    top: 39% !important;
    transform: translateY(-50%) !important;
  }
  .lifestyle-gallery-section.highlightSloder {
    padding-bottom: 0;
    padding-top: 0;
  }

  .configurationsWrap .contentBox .configTable .tiles .checkPrice {
    border-radius: 0;
    padding: 28px 22px;
    max-width: 35%;
    width: 100%;
  }
  .floor-detail-inner figure img {
    min-height: initial;
  }
  .custom-footer.BgChange {
    background: #d6a74d;
    padding-bottom: 80px;
  }
  .animation-section img.img2 {
    width: 70%;
  }

  .animation-section img.img1 {
    width: 50%;
  }
  .address-progress-section .desktop {
    display: none;
  }
  .address-progress-section img {
    height: 520px;
    width: 80%;
    margin: 0 auto;
  }
  .desk {
    display: none;
  }
  .lifestyle-gallery-section .item .desc:after {
    right: 10px;
    bottom: 60px;
    padding: 1px 0.8rem;
  }
  .amenities-section .am-wrap .item {
    padding: 0;
  }
  .popup-form form .form-control {
    margin-bottom: 15px;
  }
  .tittleHeading {
    line-height: 38px;
  }
  .amenities-section .am-wrap .item p {
    line-height: 20px;
  }
  .popup-form form .form-control input {
    padding: 4px 0 3px 0;
  }
}
@media (max-width: 767px) {
  .loctaion .img img {
    max-width: 240vw;
  }
  .loctaion .img {
    overflow-x: scroll;
  }
  .address-progress-section {
    background-size: 90%;
  }
  .address-progress-section img {
    height: 360px;
    width: 80%;
  }
  .header-right-logo .atriusLogo {
    max-width: 60px;
  }
  .arch-banner-section .banner-content .mid-area .atriusBannerLogo {
    max-width: 125px;
    margin-top: 0;
  }
  .arch-banner-section .banner-content {
    padding-bottom: 40px;
    padding-top: 60px;
  }
  .arch-banner-section .banner-content .mid-area {
    padding-bottom: 18px;
  }
  .otpForm .verification-code--inputs input[type=text] {
    width: 45px;
    height: 51px;
  }
  .resend-wrp{
      margin-right: 8%;
  }
}
@media (max-width: 400px) {
  .configurationsWrap .contentBox .tiles {
    border-radius: 10px;
    padding-left: 10px;
  }
  .otpForm .verification-code--inputs input[type="text"] {
    width: 45px;
    height: 51px;
  }
  .resend-wrp{
    margin-right: 6px;
  }

  .otpForm .verification-code {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .configurationsWrap .contentBox .configTable .tiles .checkPrice {
    padding: 25px;
    background: #f2f2f2;
    border-radius: 30px;
    max-width: 35%;
    font-size: 14px;
  }
}
.form-control small {
  color: red;
  width: 100%;
  display: inline-block;
}

.popup-form form .form-control input[type="checkbox"] {
  display: block;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  top: 2px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.brochure-form-open,
.configuration-form-open,
.enquire-form-open {
  overflow: hidden;
}
.download-brochure,
.price-configuration,
.enquire-now {
  overflow-y: auto;
}
.popup-form form .form-control {
  position: relative;
}
.grecaptcha-badge {
  z-index: 9;
}

.mfp-zoom-out-cur {
  overflow: hidden !important;
  position: relative;
  width: 100%;
}
.mfp-wrap {
  position: fixed !important;
  inset: 0 !important;
}
@media (max-width: 991px) {
  .form-open .popup-form,
  .enquire-form-open .popup-form,
  .brochure-form-open .popup-form,
  .configuration-form-open .popup-form {
    max-height: 100%;
    overflow-y: auto;
  }
}
.position-relative {
  position: relative;
}
.carousel-scroll {
  position: absolute;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 75vh;
}
.carousel-scroll img {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .carousel-scroll .mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .carousel-scroll {
    top: 7rem;
  }

  .carousel-scroll .desktop {
    display: none;
  }
}


.popup-form .modal .OTPContainer {
  max-height: 0;
  overflow: hidden;
  transition: ease all 0.3s;
}

.popup-form .modal.showOTP .contentBox {
  max-height: 0;
  overflow: hidden;
  transition: ease all 0.3s;
}

.popup-form .modal.showOTP .OTPContainer {
  max-height: 40rem;
  overflow: hidden;
  transition: ease all 0.3s;
}

.OTPContainer p {
  margin-bottom: 3.188rem;
  margin-top: 0.688rem;
  color: #676767;
  font-size: 14px;
}
.OTPContainer p a {
  color: #404040;
  text-decoration: underline;
}


.popup-form .modal.showOTP .otpForm {
  display: flex;
  column-gap: 1rem;
  visibility: visible;
  opacity: 1;
}

@media (min-width: 992px) {
  .otpForm {
    justify-content: left;
  }
}

.otpForm .form-input input {
  max-width: 3.625rem;
  text-align: center;
  height: 3.625rem;
  border: 0.063rem solid #cacaca;
  width: 100%;
  border-radius: 0.5rem;
  outline: 0;
  font-size: 1.25rem;
}

.otpForm .form-input input:hover {
  border-color: #222;
}

@media (max-width:767px) {
    .otpModal {
        position: fixed;
    }
        .otpModal .popup-form {
            min-height: 100%;
        }
}

button:disabled {
    opacity: 0.4;
}



.defaultBanner {
  display: block;
  height: 100%;
}

  .defaultBanner img {
      height: 100%;
      width: 100%;
  }
.arch-banner-carousel .slick-dots {
  position: absolute;
  bottom: 1rem;
}
.arch-banner-carousel .slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #fff;
  background-color: #222;
  text-indent: -99999px;
  font-size: 0;
  padding: 0;
  margin: 0 6px;
}

.arch-banner-carousel .slick-dots li.slick-active button {
  border-color: #fff;
  background-color: #fff;
}

.tabletBanner,
.mobileBanner,
.mobileLandscapeBanner {
    display: none;
}

@media (max-width:767px) {
  .mobileBanner {
      display: block;
      height: 100%;
  }

      .mobileBanner img {
          display: block;
          width: 100%;
      }

  .tabletBanner,
  .defaultBanner,
  .mobileLandscapeBanner {
      display: none;
  }
}
@media (min-width:768px) and (max-width:1024px) {
  .tabletBanner {
      display: block;
      width: 100%;
  }

      .tabletBanner img {
          width: 100%;
      }

  .mobileBanner,
  .defaultBanner,
  .mobileLandscapeBanner {
      display: none;
  }
}
@media (min-width: 414px) and (max-width: 896px) and (orientation: landscape) {
  .mobileLandscapeBanner {
      display: block;
  }

  .mobileBanner,
  .defaultBanner,
  .tabletBanner {
      display: none;
  }
}

@media (min-width: 992px) and (max-width: 1024px) and (orientation: landscape) {
  .mobileLandscapeBanner {
      display: block;
      width: 100%;
  }

      .mobileLandscapeBanner img {
          width: 100%;
      }

  .mobileBanner,
  .defaultBanner,
  .tabletBanner {
      display: none;
  }
}


@media (min-width:1025px) and (max-width:1366px) {
  .mobileLandscapeBanner {
      display: block;
  }

      .mobileLandscapeBanner img {
        width: 100%;
      }

  .mobileBanner,
  .defaultBanner,
  .tabletBanner {
      display: none;
  }

}