@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="section-wrap mt-top">
        <h2 class="section-heading">@Html.Sitecore().Field("Title", currentItem)</h2>
        <div class="text-container">
            <div class="text-wrapper ">
                <p>@Html.Sitecore().Field("Description", currentItem)</p>
            </div>
            <div class="black_link sectionReadMore" onclick="sectionReadMoreToggle(this)">@Html.Sitecore().Field("ButtonText", currentItem)</div>
        </div>
    </div>
}
