@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.LinkField linkField = ((Sitecore.Data.Fields.LinkField)currentItem.Fields["Link"]);
}

@if (currentItem != null)
{
    <div class="section-wrap mt-top">
        <h2 class="section-heading">@Html.Sitecore().Field("Title", currentItem)</h2>
        <div class="number-list">
            <div class="text-container">
                <div class="list-expend">
                    <div class="wrapper">
                        @Html.Sitecore().Field("Description", currentItem)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
