@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}


@if (Request.Browser.IsMobileDevice)
{
    <div class="bidget-form mobile">
        <div class="full" id="domFlightAndFidsLight"></div>
    </div>

}
else
{
    <div class="bidget-form desktop">
        <div id="flight-be" class="container"></div>
    </div>
}
