@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Feature.Accounts
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts.SessionHelper
@using Sitecore.Feature.Accounts.Models
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc

@{
    var complaintPortalHomePage = (Sitecore.Context.Database.GetItem(Templates.ComplaintPortal.ComplaintPortalAdminHomePage)).Url();
}
<div class="modal fade modal-popup" id="ForwardDetails" tabindex="-1" role="dialog" aria-labelledby="ForwardDetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5>Enter your Email</h5>
                <div class="modal-popup__content">
                    @Html.Sitecore().Placeholder("ForwardsDetails")
                </div>
            </div>
        </div>
    </div>
</div>


















