@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/


}
<div class="sidebar_cta">
    <ul>
        <li>
            <div><a href="/AirportService/PranaamAdaniGuestServices"><img src="-/media/C59F0CBA57424E4CB4CFDD439F9430DD.ashx"></a></div>
			<span><a href="/AirportService/PranaamAdaniGuestServices">Pranaam Adani  <b class="d-md-inline-block d-block">Guest Services</b></a></span>
        </li>
        <li>
            <div><a href="/Contactus?na=Feedback"><img src="-/media/4572EB28350F4B938A98D5C3F79CE25B.ashx"></a></div>
			<span><a href="/Contactus?na=Feedback">Feedback <b class="d-md-inline-block d-block">Form</b></a></span>
        </li>
        <li>
            <div><a href="/AirportService"><img src="-/media/2AC34A535F6040F1A544FC6A64608E7D.ashx"></a></div>
			<span><a href="/AirportService">Check-out <b class="d-md-inline-block d-block">services</b></a></span>
        </li>
        <li>
            <div><a href="/Contactus?na=Suspicious"><img src="-/media/0941E1DE111C4693B24329DBDA9CB9D6.ashx"></a></div>
			<span><a href="/Contactus?na=Suspicious">Suspicious <b class="d-md-inline-block d-block">Form</b></a></span>
        </li>
    </ul>
</div>

<div class="btm-floating">
	<div class="row no-gutters">
		<div class="col-6">
		<a href="/AirportService/PranaamAdaniGuestServices">	<p><img src="-/media/5898DE9667C541D0889A57A3FD1F62D5.ashx"> <span>Pranaam Services</span></p></a>
		</div>
		<div class="col-4">
			<a href="/Contactus?na=Feedback"><p><img src="-/media/5A3A347CB35244E1977830A60E60557A.ashx"> <span>Feedback</span></p></a>
		</div>
		<div class="col-2">
			<button class="navbar-toggler d-block" id="nav-button-mobile" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			  </button>
		</div>
	</div>
</div>