
<div class="col s12 l8 offset-l1 section-container electricity-connection">
    <header class="section-header">
        <h1>Clearance Date</h1>
        <p>
            Information about everything you need to make an Application
        </p>
    </header>
    <div class="clearance-date">
        <div class="saving">
            <h3>Online System Must Only Mean No Line</h3>
            <p>Apply Online for New Connection, Load Change of LT and HT </p>
            <a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank" class="waves-effect waves-light btn btn-continue"
               data-gaevent="new_connection_apply_click"
               data-gaeventCategory="CTA Click"
               data-gaeventAction="New Connection Apply Click"
               data-gaeventLabel="Clearance Date">Apply Now</a>
        </div>
        @*<p>
                You can get all the relevant information about getting a new electricity connection with Adani Electricity
                Mumbai
                Limited. All relevant links on this page will help you in the online application facility provided by Adani
                Electricity.
            </p>
            <p>
                You can gather all the relevant information about your electricity bill in this section. Select
                “Electricity near me“ to locate us online. Through this option, you will find information on solar
                electricity
                and the billing details. You will also be able to see the exact date of receiving the clearance.
            </p>
            <h5>For more information, please download the attached PDF document.</h5>*@
        <!-- <p>For more information, please download the attached PDF document.</p>
        <div class="message warning warning-info">
            <i class="i-info"></i>
            <aside>
              <p><strong>We have no information for this currently</strong> </p>
              <span>You can download the receipt once the payment is successfully accounted for, within 2 working days.</span>

        </aside>
        </div> -->
    </div>
    @*<div class="faq-listing">
            <ul>
                <li>
                    <p>Documents Required for New Connection</p>
                    <button>Download</button>
                </li>
            </ul>
        </div>*@
</div>
@*<script type="text/javascript">
    $('.waves-effect waves-light btn btn-continu').click(function () {
                dataLayer.push({
                    'event': $(this).attr('data-gaevent'),
                    'eventCategory': $(this).attr('data-gaeventCategory'),
                    'eventAction': $(this).attr('data-gaeventAction'),
                    'eventLabel': $(this).attr('data-gaeventLabel'),
                    'business_user_id': $('#BusinessUserId').val(),
                    'login_status': $('#login_status').val(),
                    'ca_number': $('#CANumber').val(),
                    'page_type': $('head title').text()
                })
            });
    </script>*@
