<div class="col s12 l8 offset-l1 section-container electricity-connection">
    <header class="section-header">
        <h1>Documents to be Submitted </h1>
        <p>
            Download the list of all the relevant documents to be submitted for a new electricity connection
        </p>
    </header>
    <div class="clearance-date">
        <div class="saving">
            <h3>Online System Must Only Mean No Line</h3>
            <p>To get a new electricity connection, load change, or for rooftop solar connection</p>
            <a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank" class="waves-effect waves-light btn btn-continue"
               data-gaevent="new_connection_apply_click"
               data-gaeventCategory="CTA Click"
               data-gaeventAction="New Connection Apply Click"
               data-gaeventLabel="Documents to be Submitted">Apply Now</a>
        </div>
        <h5>The documents required for a new connection include:</h5>
        <p>
            To allow electricity supply to a structure there are two basic documents that need to be submitted namely Proof of Identity and Proof of Ownership / Occupancy. </h5>
        <p>For Proof of Identity, any of the following can be used: </p>
        <ul>
            <li>PAN Card / AADHAR Card / Passport / Voter’s ID / Driving License</li>
            <li>
                If case of an Organisation: Certificate of incorporation /registration issued by
                the Registrar and proof of authorisation/ resolution of board for authorizing the person
            </li>
            <li>In case of Trust: Certificate of Registration of the Trust </li>
            <li>In case of Partnership: Registered Partnership</li>
        </ul>
        <h5>For more information, please refer to the PDF documents here</h5>
    </div>
    <div class="faq-listing">
        <ul>
            <li>
                <p>Documents Required for New Connection</p>
                <a href="/-/media/Feature/ElectricityNew/PDFs/General-Information/Documents_Required_for_New-Connection.pdf" target="_blank">Download</a>
            </li>
        </ul>
    </div>
</div>