<div class="col s12 l8 offset-l1 section-container electricity-connection">
    <header class="section-header">
        <h1>Meter & Distributor details</h1>
        <p>Download meter specifications and distributor info</p>
    </header>
    <div class="clearance-date">
        <div class="saving">
            <h3>Online System Must Only Mean No Line</h3>
            <p>To get a new electricity connection, load change, or for rooftop solar connection</p>
            <a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank" class="waves-effect waves-light btn btn-continue"
               data-gaevent="new_connection_apply_click"
               data-gaeventCategory="CTA Click"
               data-gaeventAction="New Connection Apply Click"
               data-gaeventLabel="Meter & Distributor details">Apply Now</a>
        </div>
        <p>Through our online services, you can learn more about your distributor and the entity issuing the meter. Adani Electricity provides the best meters to its consumers for reliability and first-class services.  </p>
        <h5>For more information, please refer to the PDF documents here</h5>
    </div>
    <div class="faq-listing">
        <ul>
            <li>
                <p>Single phase energy meters specifications</p>
                <a href="/-/media/Project/Electricity/General-Information/Single-phase-meters-10-60-Amp-specifications.pdf" target="_blank">
                    Download
                </a>
            </li>
            <li>
                <p>Three phase energy meters specifications</p>
                <a href="/-/media/Project/Electricity/General-Information/Three-Phase-meters-20-100-Amp-specifications.pdf" target="_blank">
                    Download
                </a>
            </li>
            <li>
                <p>Energy meter suppliers</p>
                <a href="/-/media/Project/Electricity/General-Information/Approved-vendor-contact-details.pdf" target="_blank">
                    Download
                </a>
            </li>
            <li>
                <p>HTCT Three phase four wire 3x63 Amp specifications</p>
                <a href="/-/media/Project/Electricity/General-Information/HTCT-Three-phase-four-wire-3x63-Amp-specifications.pdf" target="_blank">
                    Download
                </a>
            </li>
            <li>
                <p>LTCT Three phase four wire,5-10 Amp specifications</p>
                <a href="/-/media/Project/Electricity/General-Information/LTCT-Three-phase-four-wire510-Amp-specifications.pdf" target="_blank">
                    Download
                </a>
            </li>
            <li>
                <p>Power Quality Meter specifications</p>
                <a href="/-/media/Project/Electricity/General-Information/Power-Quality-Meter-Technical-Specifications.pdf" target="_blank">
                    Download
                </a>
            </li>
        </ul>
    </div>
</div>