<div class="col s12 l8 offset-l1 section-container electricity-connection">
    <header class="section-header">
        <h1>Office Location </h1>
        <p>
            Find out the Adani Electricity office nearest to your location.
        </p>
    </header>
    <div class="clearance-date">
        <div class="saving">
            <h3>Online System Must Only Mean No Line</h3>
            <p>To get a new electricity connection, load change, or for rooftop solar connection</p>
            <a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank" class="waves-effect waves-light btn btn-continue"
               data-gaevent="new_connection_apply_click"
               data-gaeventCategory="CTA Click"
               data-gaeventAction="New Connection Apply Click"
               data-gaeventLabel="Office Location">Apply Now</a>
        </div>
        <p>
            At present, we deliver unparalleled services to power the city of Mumbai.
            Our distribution network spans 400 square km and caters to the electricity needs of over
            2.9 million happy customers. Find out the nearest Adani Electricity office on the website.
        </p>

        <h5>For more information, please refer to the PDF documents here</h5>
    </div>
    <div class="card outlined section-wrapper time-table">
        <div class="time-table-header">
            <h2>Office Timing</h2>
        </div>
        <div class="time-table-body">
            <ul>
                <li>
                    <i class="vi-working-days"></i>
                    <strong>Working Days:</strong>
                    Monday - Saturday
                </li>
                <li>
                    <i class="vi-working-hours"></i>
                    <strong>Working Hours:</strong>
                    9:30 a.m. to 5:00 p.m
                </li>
                <li>
                    <i class="vi-lunch-time"></i>
                    <strong>Lunch Time:</strong>
                    1:00 p.m. to 1:30 p.m.
                </li>
                <li>
                    <i class="vi-contactus"></i>
                    <strong>Phone:</strong>
                    19122
                </li>
            </ul>
        </div>
    </div>
    <div class="clearance-date">
        <h5>Our Centres</h5>
    </div>
    @*<div class="input-field custom input-has-icon">
        <input id="departure" type="text">
        <label for="departure" class="active">Search Centre</label>
        <div class="input-icon">
            <i class="vi-search i-24"></i>
        </div>
    </div>*@
    @Html.Sitecore().Placeholder("page-contentbox")
</div>
