<div class="col s12 l8 offset-l1 section-container electricity-connection">
    <header class="section-header">
        <h1>Online Application</h1>
        <p>Get all the information required to apply for a new electricity connection online</p>
    </header>
    <div class="clearance-date">
        <div class="saving">
            <h3>Click here to register and apply</h3>
            <p>To get a new electricity connection, load change, or for rooftop solar connection</p>
            <a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank" class="waves-effect waves-light btn btn-continue">Apply Now</a>
        </div>
    </div>
    <section class="benefit-links">
        <header class="section-header">
            <h2>Information about everything you need to make an Application</h2>
        </header>
        <div class="row">
            <div class="col s4">
                <a href="/general-information/clearance-date"
                   data-gaevent="application_information_section"
                   data-gaeventCategory="Electricity Connection"
                   data-gaeventAction="Application Information Section"
                   data-gaeventLabel="Clearance Date">
                    <figure>
                        <div class="waves-effect">
                            <i class="vi-clearance-date"></i>
                        </div>
                    </figure>
                    <h3>Clearance Date</h3>
                </a>
            </div>
            <div class="col s4">
                <a href="/-/media/Feature/ElectricityNew/PDFs/General-Information/Documents_Required_for_New-Connection.pdf" target="_blank"
                    data-gaevent="application_information_section"
                   data-gaeventCategory="Electricity Connection"
                   data-gaeventAction="Application Information Section"
                   data-gaeventLabel="Documents Required">
                    <figure>
                        <div class="waves-effect">
                            <i class="vi-document-required"></i>
                        </div>
                    </figure>
                    <h3>Documents Required</h3>
                </a>
            </div>
            <div class="col s4">
                <a href="/general-information/meter-and-distributor-details"
                   data-gaevent="application_information_section"
                   data-gaeventCategory="Electricity Connection"
                   data-gaeventAction="Application Information Section"
                   data-gaeventLabel="Meter & Distributor Details">
                    <figure>
                        <div class="waves-effect">
                            <i class="vi-meter-distribution-details"></i>
                        </div>
                    </figure>
                    <h3>Meter & Distributor Details</h3>
                </a>
            </div>
            <div class="col s4">
                <a href="/general-information/office-locations"
                   data-gaevent="application_information_section"
                   data-gaeventCategory="Electricity Connection"
                   data-gaeventAction="Application Information Section"
                   data-gaeventLabel="Office Locations">
                    <figure>
                        <div class="waves-effect">
                            <i class="vi-office-locations"></i>
                        </div>
                    </figure>
                    <h3>Office Locations</h3>
                </a>
            </div>
            <div class="col s4">
                <a href="/general-information/procedures-of-application"
                   data-gaevent="application_information_section"
                   data-gaeventCategory="Electricity Connection"
                   data-gaeventAction="Application Information Section"
                   data-gaeventLabel="Procedures for Application">
                    <figure>
                        <div class="waves-effect">
                            <i class="vi-procedures-for-application"></i>
                        </div>
                    </figure>
                    <h3>Procedures for Application</h3>
                </a>
            </div>
            <div class="col s4">
                <a href="/-/media/Feature/ElectricityNew/PDFs/General-Information/Schedule_of_Charges_325_of_2019.pdf" target="_blank"
                   data-gaevent="application_information_section"
                   data-gaeventCategory="Electricity Connection"
                   data-gaeventAction="Application Information Section"
                   data-gaeventLabel="Schedule of Charges">
                    <figure>
                        <div class="waves-effect">
                            <i class="vi-schedule-of-charges"></i>
                        </div>
                    </figure>
                    <h3>Schedule of Charges</h3>
                </a>
            </div>
            <div class="col s4">
                <a href="/-/media/Feature/ElectricityNew/PDFs/General-Information/Security-deposit-for-New-Connection.pdf" target="_blank"
                   data-gaevent="application_information_section"
                   data-gaeventCategory="Electricity Connection"
                   data-gaeventAction="Application Information Section"
                   data-gaeventLabel="Security Deposit">
                    <figure>
                        <div class="waves-effect">
                            <i class="vi-pay-security-deposit"></i>
                        </div>
                    </figure>
                    <h3> Security Deposit</h3>
                </a>
            </div>
        </div>
    </section>
    <div class="cms-content">
        <p>This page provides all the necessary information about:</p>
        <ul>
            <li>New electricity meter and connection application procedure for AEML</li>
            <li>Electricity clearance date</li>
            <li>Details of all the documents required for a new electricity connection</li>
            <li>Adani electricity meter and distributor details</li>
            <li>Adani Electricity Mumbai Limited offices nearby</li>
            <li>Details of the security deposit to pay for electricity</li>
            <li>Schedule of electricity charges and tariffs</li>
        </ul>
    </div>
</div>