<div class="col s12 l8 offset-l1 section-container electricity-connection">
    <header class="section-header">
        <h1>Application Procedure </h1>
        <p>
            Information about everything you need to apply for a new electricity connection
        </p>
    </header>
    <div class="clearance-date">
        <div class="saving">
            <h3>Online System Must Only Mean No Line</h3>
            <p>To get a new electricity connection, load change, or for rooftop solar connection</p>
            <a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank" class="waves-effect waves-light btn btn-continue"
               data-gaevent="new_connection_apply_click"
               data-gaeventCategory="CTA Click"
               data-gaeventAction="New Connection Apply Click"
               data-gaeventLabel="Application Procedure">Apply Now</a>
        </div>
        <p>
            You can choose from among various categories when submitting your application online.
            You can apply under the category of load less than 20 kW or load more than 20 kW.
            You can also file temporary applications, apply for multiple connections for building projects or request shifting the meter.
        </p>

        <h5>For more information, please refer to the PDF documents here</h5>
    </div>

    <div class="faq-listing">
        <ul>
            <li>
                <p>Load less than 20 Kw</p>
                <a href="/-/media/Project/ElectricityNew/General-Information/New-Connection-Application--Load-less-than-20-Kw.pdf" target="_blank">
                    Download
                </a>                
            </li>
            <li>
                <p>Load more than 20 Kw</p>
                <a href="/-/media/Project/ElectricityNew/General-Information/New-Connection-Application---Load-more-than-20-kw.pdf" target="_blank">Download</a>
               
            </li>
            <li>
                <p>Meter Shifting</p>
                <a href="/-/media/Project/ElectricityNew/General-Information/Meter-Shifting.pdf" target="_blank">Download</a>
            </li>
            <li>
                <p>Load Revision</p>
                <a href="/-/media/Project/ElectricityNew/General-Information/Load-Revision.pdf" target="_blank">Download</a>
            </li>
            <li>
                <p>Temporary Applications</p>
                <a href="/-/media/Project/ElectricityNew/General-Information/Temporary-applications.pdf" target="_blank">Download</a>
            </li>
            <li>
                <p>EODB 100 - 150 kw</p>
                <a href="/-/media/Project/ElectricityNew/General-Information/EODB-100---150-kw.pdf" target="_blank">Download</a>
            </li>
            <li>
                <p>Multiple Connections for Building Projects</p>
                <a href="/-/media/Project/ElectricityNew/General-Information/New-Connection---Multiple-Connections-for-Building-and-Power.pdf" target="_blank">Download</a>
            </li>
            <li>
                <p>Network Recommendation</p>
                <a href="/-/media/Project/ElectricityNew/General-Information/New-Connection-Application---Network-Recommendation.pdf" target="_blank">Download</a>
            </li>
            <li>
                <p>Construction Supply</p>
                <a href="/-/media/Project/ElectricityNew/General-Information/New-Connection-Application-for-Construction-supply.pdf" target="_blank">Download</a>
            </li>
        </ul>
    </div>

</div>