<div class="col s12 l8 offset-l1 section-container electricity-connection">
    <header class="section-header">
        <h1>Schedule of Charges</h1>
        <p>
            Learn more about our electricity charges
        </p>
    </header>
    <div class="clearance-date">
        <div class="saving">
            <h3>Online System Must Only Mean No Line</h3>
            <p>To get a new electricity connection, load change, or for rooftop solar connection</p>
            <a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank" class="waves-effect waves-light btn btn-continue"
               data-gaevent="new_connection_apply_click"
               data-gaeventCategory="CTA Click"
               data-gaeventAction="New Connection Apply Click"
               data-gaeventLabel="Schedule of Charges">Apply Now</a>
        </div>
        <p>
            We offer our consumers the best price possible in accordance with the
            Maharashtra Electricity Regulatory Commission. We want everyone to benefit
            from an uninterrupted electricity supply. Learn more about our
            charges and electricity bills on the website.
        </p>
        <h5>For more information, please download the attached PDF document.</h5>
    </div>

    <div class="faq-listing">
        <ul>
            <li>
                <p>Order-200 of 2017-12092018</p>
                <a href="/-/media/Feature/ElectricityNew/PDFs/General-Information/Schedule_of_Charges_325_of_2019.pdf" target="_blank">Download</a>
            </li>
        </ul>
    </div>
</div>