<div class="col s12 l8 offset-l1 section-container electricity-connection">
    <header class="section-header">
        <h1> Security Deposit</h1>
        <p>Security deposit details for a new electricity connection</p>
    </header>
    <div class="clearance-date">
        <div class="saving">
            <h3>Online System Must Only Mean No Line</h3>
            <p>To get a new electricity connection, load change, or for rooftop solar connection</p>
            <a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank" class="waves-effect waves-light btn btn-continue"
               data-gaevent="new_connection_apply_click"
               data-gaeventCategory="CTA Click"
               data-gaeventAction="New Connection Apply Click"
               data-gaeventLabel="Security Deposit">Apply Now</a>
        </div>
        <p>
            The security deposit depends on the time and place of installation.
            Installation types are divided into industrial, residential, hoarding, mobile service, commercial, and others.
        </p>

        <h5>For more information, please download the attached PDF document.</h5>

    </div>
    <div class="faq-listing">
        <ul>
            <li>
                <p>Security-deposit-for-New-Connection</p>
                <a href="/-/media/Project/Electricity/General-Information/Security-deposit-for-New-Connection.pdf" target="_blank">Download</a>
            </li>
        </ul>
    </div>
</div>