@using Sitecore.Feature.FAQ
@using Sitecore.Feature.FAQ.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@using System.Text.RegularExpressions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

    //Cast to a Sitecore item
    Sitecore.Data.Items.Item myItem = (Sitecore.Data.Items.Item)element;
    Sitecore.Data.Fields.MultilistField Multiitemslist = myItem.Fields["FAQList"];
    Sitecore.Data.Items.Item[] itemsList = Multiitemslist.GetItems();

}
<div class="section-wrapper custom_accrdion">
    <div class="accordion">
        <ul class="collapsible collapsible-accordion">
            <li class="active">
                <div class="collapsible-header" tabindex="0">
                   @myItem.Fields["Title"].Value
                </div>
                <div class="collapsible-body" style="display: block;">
                        <div class="steps-content">
                            <div class="card outlined">
                               @Html.Raw(itemsList[0].Fields["Answer"].Value)
                            </div>
                        </div>
                   
                </div>
            </li>
        </ul>
    </div>
</div>