<!--
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Westerntrans.Templates.Serialization" description="WesternTrans Sitecore Template Sync" extends="Helix.Base">
					<!--<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>-->
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>

						<!-- Templates -->
						<include name="Westerntrans.Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
						</include>
						<include name="Westerntrans.Templates.Feature" database="master" path="/sitecore/templates/Feature/Westerntrans">
						</include>
						<include name="Westerntrans.Templates.Project" database="master" path="/sitecore/templates/Project/Westerntrans">
						</include>
						
						<!-- Branches -->
						<!--<include name="Branches.Foundation" database="master" path="/sitecore/templates/Branches/Foundation">
						</include>-->
						
						<!-- Modules -->
						<include name="Westerntrans.Modules.Feature" database="master" path="/sitecore/layout/Models/Feature/Adani Transmission">
						</include>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>