<!--
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Westerntrans.Layouts.Serialization" description="Westerntrans Sitecore Layouts Sync" extends="Helix.Base">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>

						<!-- Renderings -->
						<include name="Westerntrans.Renderings.Feature" database="master" path="/sitecore/layout/Renderings/Feature/Westerntrans">
						</include>
						<include name="Westerntrans.Renderings.Project" database="master" path="/sitecore/layout/Renderings/Project/WesternTrans">
						</include>
						
						<!-- Layouts -->
						<include name="Westerntrans.Layouts.Project" database="master" path="/sitecore/layout/Layouts/Project/Westerntrans">
						</include>

						<!-- Placeholder Settings -->
						<include name="Westerntrans.PlaceholderSettings.Feature" database="master" path="/sitecore/layout/placeholder settings/Feature">
						</include>
						<include name="Westerntrans.PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project">
						</include>
						
						<!-- Models -->
						<include name="Westerntrans.Models.Feature" database="master" path="/sitecore/layout/Models/Feature/Adani Transmission">
						</include>

	
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>