<!--
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Forms.Serialization" description="Sitecore Forms Sync" extends="Helix.Base">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>
						<!-- Forms -->
						<include name="Forms.Serialization.AllForms" database="master" path="/sitecore/Forms">
						</include>
						
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>