<section class="bg-gray pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-5 mb-2">
                @Html.Sitecore().Placeholder("Media-Coverage")
            </div>
            <div class="col-lg-4 mt-5 mb-2">
                @Html.Sitecore().Placeholder("Media-Release")
            </div>
            <div class="col-lg-4 mt-5 mb-2">
                <div class="box-block p-4 w-100">
                    <h3 class="section-heading">Media Contacts</h3>
                    <ul class="ul-media-contacts mb-5">
                        <li><i class="fa fa-envelope-open"></i><a href="mailto:mediainfo@adaniports.com">media@adani.com</a></li>
                        <!-- <li><i class="fa fa-phone fa-rotate-90"></i><a href="">+91-79-2555 6628</a></li> -->
                    </ul>
                    <p class="">
					
                        <a href="#portsSubscribeUsModal" data-toggle="modal" data-target="#portsSubscribeUsModal" class="btn btn-border mb-2">Subscribe Us</a>
                       <a href="" class="btn btn-gradient mb-2" data-toggle="modal" data-target="#callback">Media Enquiry</a>
                    </p>
                </div>
                <!-- <p class="mt-5 my-3 px-4"><a href="/newsroom/media-library" class="txt-md"><img src="-/media/2EE30702DB8648128E788753366D75B5.ashx" class="img-fluid mr-3" style="width: 45px;">Media Library</a></p> -->

            </div>
        </div>
    </div>
</section><!--/News Section-->
<div class="modal video" id="portsSubscribeUsModal">
    <div class="modal-dialog modal-dialog-centered modal-xs">
        <div class="modal-content modal-lg">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- Modal body -->
            <div class="modal-body bg-white c-tracking p-4">
                <h3 class="mb-3 txt-md">Subscribe to our latest updates</h3>
                @Html.Sitecore().Placeholder("subscribe-form")
            </div>
        </div>
    </div>
</div>