@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var classImage = element.Fields["Class"];


	Sitecore.Data.Fields.ImageField imgField = element.Fields["MediaImage"];
    var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);

}
<section class="bg-white pt-4 pb-4 content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="KeralaheadingWeight">@Html.Sitecore().Field("MediaTitle", element)</h3>
				@if (imgurl.ToString() != "")
				{
					<img class="w-100 mt-3" src="@imgurl" alt="">
				}
                <span class="more mt-4">@Html.Sitecore().Field("MediaDescription", element)</span>
            </div>
		</div>
    </div>
</section>
