
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/



  


}
<section class="mainSlider">
    <div class="">
        <div class="breadcrumb-sl-inner breadcrumb-sl-inner_contact">
            <div class="container-fluid">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>Notification</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-white">
<div class="container-fluid">
<p>Covid-19 Instructions</p>
<p style="background: white;"><span style="color: #212121;">&nbsp;</span></p>
<p style="background: white;"><span style="color: #212121;">The global COVID-19 pandemic has had a significant impact on the way we live our lives, including how we travel by air. Please read these instructions carefully before you begin your journey from home so you know what to expect when you get to the airport. We have put in place several measures to keep you and our staff safe.</span></p>
<p style="background: white;"><span style="color: #212121;">&nbsp;</span></p>
<p style="background: white;"><strong><span style="color: #212121;">Before you begin your journey:</span></strong></p>
<p style="background: white;"><span style="color: #212121;">VERY IMPORTANT</span></p>
<p style="background: white;"><span style="color: #212121;">Please do NOT travel if you are displaying any symptoms of COVID-19 (high temperature, persistent cough, loss of taste or smell).</span></p>
<p style="background: white;"><span style="color: #212121;">Check the status of your flight with your airline as some schedules are still subject to change.</span></p>
<p style="background: white;"><span style="color: #212121;">Please travel to the airport only if you have a flight booked. Only those people who are flying will be allowed inside the terminal building.</span></p>
<p style="background: white;"><span style="color: #212121;">Make sure you check the latest government advice regarding travel to your destination and any requirements for returning passengers, such as quarantine once you reach your destination.</span></p>
<p style="background: white;"><span style="color: #212121;">Mandatory health declaration</span></p>
<p style="background: white;"><span style="color: #212121;">&nbsp;</span></p>
<p style="background: white;"><span style="color: #212121;">It is mandatory to declare your health status and web check-in, 48 hours to 60 min before flight departure. Boarding pass will be emailed by the airlines only after successful declaration of health status.</span></p>
<p style="background: white;"><span style="color: #212121;">&nbsp;</span></p>
<p style="background: white;"><strong><span style="color: #212121;">Baggage allowance</span></strong></p>
<p style="background: white;"><span style="color: #212121;">&nbsp;</span></p>
<p style="background: white;"><span style="color: #212121;">Hand baggage is not allowed, you may carry only a small bag that fits under the seats. Check-in baggage allowance is 20 kg.</span></p>
<p style="background: white;"><span style="color: #212121;">Generate baggage tag</span></p>
<p style="background: white;"><span style="color: #212121;">Add your check-in baggage online and generate baggage tag, 48 hours to 60 min before flight departure.</span></p>
<p style="background: white;"><strong><span style="color: #212121;">AT THE AIRPORT </span></strong></p>
<p style="background: white;"><span style="color: #212121;">Make sure you wear a suitable face mask as this will be required at all times inside the airport.</span></p>
<p style="background: white;"><span style="color: #212121;">We will use temperature screening technology which you will see on the entry to security.</span></p>
<p style="background: white;"><span style="color: #212121;">Please clean your hands regularly. Additional hand sanitising stations have been installed throughout the airport.</span></p>
<p style="background: white;"><span style="color: #212121;">We have an enhanced cleaning regime in place throughout the airport &ndash; you may see our teams in operation 24/7 to keep you safe.</span></p>
<p style="background: white;"><span style="color: #212121;">We have installed protective screens at various locations throughout the terminal, including check-in desks and security.</span></p>
<p style="background: white;"><span style="color: #212121;">Please observe any signage regarding queueing systems which may be in place and maintain social distancing as far as possible. This includes our seating area and in the toilets.</span></p>
<p style="background: white;"><span style="color: #212121;">For further instructions, please&nbsp;check Ministry of Civil Aviation website for details: </span><span><a href="https://ind01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.civilaviation.gov.in%2Fen%2Fdocuments%2Fnotifications&amp;data=02%7C01%7CRajan.MIttal%40adani.com%7Cd6d974d9749544e5319a08d81f610994%7C04c72f56184846a281678e5d36510cbc%7C0%7C0%7C637293848916715074&amp;sdata=tmaNTaVOkgdUyCzz5fnZNjviHRI%2B5mTOQmo%2FAXcc7d4%3D&amp;reserved=0">https://www.civilaviation.gov.in/en/documents/notifications</a></span></p>
</div>
</section>