@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Realty.Website
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var customerdetail = models.GetMultiListValueItems(Templates.TestimonialOfHappyCustonmers.Fields.CustomerDetails);
}

<section class="bg-gray section" id="testimonial">
    <div class="container">
        @Html.Sitecore().Field(Templates.TestimonialOfHappyCustonmers.Fields.Header, models)
        <div class="row">
            <div class="owl-carousel owl-theme col-sm-12 col-md-12 col-lg-8 ml-auto mr-auto" id="propertytestimonials">
                @foreach (var item in customerdetail)
                {
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.Sitecore().Field(Templates.HappyCustomer.Fields.Image, item, new { @class = "img-fluid" })
                            </div>
                            <div class="col-sm-8 pt-5">
                                <p class="txt-md mb-3">
                                    @Html.Sitecore().Field(Templates.HappyCustomer.Fields.Description, item)
                                </p>
                                <p class="txt-right txt-gray">
                                    @Html.Sitecore().Field(Templates.HappyCustomer.Fields.Name, item)
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
