<!-- amenities -->
<section class="bg-white section" id="amenities">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <h1 class="mb-1">WORLD CLASS</h1>
                <h1 class="txt-blue txt-bold mb-4"><span>AMENITIES</span></h1>
                <p class="txt-md mb-3">Aesthetically designed with world-class standards in mind, Inspire hub is the ideal place for business that think big.</p>
                <p class="txt-md mb-3">From high-tech security to freely adaptable Suites, we've thought of everything so that all you have to do is focus on your business.</p>
            </div>
            <div class="col-lg-7 mobile-none">
                <div class="row">
                    <div class="col-sm-4 py-1 px-1 ml-auto"><img src="images/commercial-inner/c-tile-01.png" class="img-fluid "></div>
                    <div class="col-sm-4 py-1 px-1 gallery-item">
                        <img src="images/commercial-inner/c-tile-04.png" class="img-fluid">
                        <div class="overlay blue-overlay">
                            <div class="text">Shop</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 py-1 px-1 ml-auto gallery-item">
                        <img src="images/commercial-inner/c-tile-02.png" class="img-fluid">
                        <div class="overlay blue-overlay">
                            <div class="text">Dine</div>
                        </div>
                    </div>
                    <div class="col-sm-6 py-1 px-1"><img src="images/commercial-inner/c-tile-05.png" class="img-fluid"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 py-1 px-1 ml-auto"><img src="images/commercial-inner/c-tile-03.png" class="img-fluid"></div>
                    <div class="col-sm-4 py-1 px-1 gallery-item">
                        <img src="images/commercial-inner/c-tile-06.png" class="img-fluid">
                        <div class="overlay blue-overlay">
                            <div class="text">Entertainment</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /amenities -->	