<!-- Section -->
<section class="section bg-white" id="overview">
    <div class="container">
        @Html.Sitecore().Placeholder("commercial-overview-title")

        <div class="row">
            @Html.Sitecore().Placeholder("commercial-overview-features")
        </div>
    </div>
</section>
<!-- /Section -->