@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Realty.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<section class="img-bg section" id="location">
    <div class="bg-images">
        @Html.Sitecore().Field(Templates.LocationDetial.Fields.LocationImage, models)
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 txt-white">
                @Html.Sitecore().Field(Templates.LocationDetial.Fields.Address, models)
            </div>
            <div class="col-sm-6">
                <iframe src="@Html.Sitecore().Field(Templates.LocationDetial.Fields.Location, models)" width="100%" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
