@using Sitecore.Data.Fields
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Realty.Website
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.HasBannerSelector.ID) ?? true)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.HasBannerSelector.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}

<div class="mainBanner residential">
    <div class="bannerImg">
        <div class="large-12 columns">
            <div class="owl-carousel owl-theme" id="carousel">
                <div class="item">
                    @Html.Sitecore().ImageField(Templates.HasBannerSelector.Fields.Image,model)
                </div>
            </div>
        </div>
    </div>
    @Html.Sitecore().Placeholder("realty-filter")
</div>