@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Realty.Website
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.ResidentTopProperty.ID) ?? true)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.ResidentTopProperty.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}
<!-- Section Overview -->
<section class="section innerproperty desc-property" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h3 class="sectionHeading">@Html.Sitecore().Field(Templates.ResidentTopProperty.Fields.Title, model)</h3>
                <p class="txt-sm">@Html.Sitecore().Field(Templates.ResidentTopProperty.Fields.Description, model)</p>
            </div>
            <div class="col-lg-5">               
                @Html.Sitecore().Field(Templates.ResidentTopProperty.Fields.Logo, model, new { @class = "img-fluid" })
            </div>
        </div>
    </div>
</section>
<!-- /Section -->