@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Realty.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<section class="bg-black section txt-white req-quote">
    <div class="bg-images">
        <img src="images/RequestQuote-Background_Commercial.png">
        @*@Html.Sitecore().Field(Templates.ResidentTopProperty.Fields.Logo, models)*@
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 txt-md">
                <ul class="contact-cta">
                        <li>Know more about the project details,<br> get in touch with us today</li>
                    </ul>
            </div>
            <div class="col-sm-5 txt-right pt-3">
                <p>
                    <a href="#" class="bg-blue txt-md px-3 py-3 txt-white">Contact us</a>
                    @*<a href="@Html.Sitecore().Field(Templates.ResidentTopProperty.Fields.LinkText, models)" class="bg-blue txt-md px-3 py-3 txt-white">@Html.Sitecore().Field(Templates.ResidentTopProperty.Fields.Description, models)</a>*@
                </p>
            </div>
        </div>
    </div>
</section>