@using Sitecore.Data.Fields
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Realty.Website
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@{

    var BaseUrl = Sitecore.Context.Item.Url();
    string RedirectUrl = Request.Url.Scheme + "://" + Request.Url.Host + BaseUrl;
}
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

<div class="modal video" id="areacalculator">
    <div class="modal-dialog modal-dialog-centered p-4">
        <div class="modal-content p-3">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- Modal Header -->
            <!-- Modal body -->
            <div class="modal-body">
                <h3 class="mb-3">Apply Now</h3>
                <form id="frmwebtolead" name="frmwebtolead" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                    <input type=hidden name="oid" value="00D28000000eQCv">
                    <input type=hidden name="retURL" id="retURL" value="@RedirectUrl">
                    <input type=hidden id="LeadSource" name="LeadSource" value="5 - Web to Lead">
                    <!--  <input type="hidden" name="debug" value=1>                              -->
                    <!--  <input type="hidden" name="debugEmail" value="sushant.panda@pwc.com">   -->

                    <div class="row">
                        <div class="col-lg-6">
                            <label for="sel1">First Name <span class="required">*</span></label>
                            <input type="text" class="form-control mb-4" name="first_name" id="fname" placeholder="">
                        </div>
                        <div class="col-lg-6">
                            <label for="sel1">Last Name <span class="required">*</span></label>
                            <input type="text" class="form-control mb-4" name="last_name" id="lname" placeholder="">
                        </div>
                        <div class="col-lg-6">
                            <label for="sel1">Mobile <span class="required">*</span></label>
                            <input type="number" class="form-control mb-4" name="mobile" id="mobile" placeholder="">
                        </div>

                        <div class="col-lg-6">
                            <label for="sel1">Email <span class="required">*</span></label>
                            <input type="text" class="form-control mb-4" name="email" id="email" placeholder="">
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="sel1">Country <span class="required">*</span></label>
                                @Html.DropDownList("country_code", new List<SelectListItem>
                                    {
                                    new SelectListItem{Value="AU",Text="Australia"},
                                    new SelectListItem{Value="CA",Text="Canada"},
                                    new SelectListItem{Value="BR",Text="Brazil"},
                                    new SelectListItem{Value="CN",Text="China"},
                                    new SelectListItem{Value="DE",Text="Germany"},
                                    new SelectListItem{Value="GB",Text="United Kingdom"},
                                    new SelectListItem{Value="IE",Text="Ireland"},
                                    new SelectListItem{Value="IN",Text="India"},
                                    new SelectListItem{Value="IT",Text="Italy"},
                                    new SelectListItem{Value="MX",Text="Mexico"},
                                    new SelectListItem{Value="US",Text="United States"},
                                    }, "Select Country",new {id= "country_code", @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="sel1">State/Province <span class="required">*</span></label>
                                @Html.DropDownList("state_code", new List<SelectListItem> { }, "Select State", new { id = "state_code", @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="sel1">Number of Employees <span class="required">*</span></label>
                                <select id="00NO0000003s1ZY" name="00NO0000003s1ZY" title="Number of employees" class="form-control">
                                    <option value="">--None--</option>
                                    <option value="10">1 to 10</option>
                                    <option value="50">11 to 50</option>
                                    <option value="100">51 to 100</option>
                                    <option value="&gt;100">&gt;100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="sel1">Reason for Purchase: <span class="required">*</span></label>
                                <select id="00NO0000002OiBJ" name="00NO0000002OiBJ" title="Reason for Purchase" class="form-control">
                                    <option value="">--None--</option>
                                    <option value="Self">Self</option>
                                    <option value="Investment">Investment</option>
                                    <option value="New">New</option>
                                    <option value="Relocating">Relocating</option>
                                    <option value="Expanding">Expanding</option>
                                    <option value="Consolidation">Consolidation</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="mb-2">
                                <h4 class="txt-d-blue">
                                    <b>
                                        <span id="span_text"></span>
                                    </b>
                                </h4>
                            </label>
                            <p class="txt-xs mb-2">
                                <span id="span_large"></span>
                            </p>
                        </div>

                        <div class="col-sm-4 pt-2"></div>
                        @*<div class="col-lg-6">
                Captcha
                <div class="g-recaptcha" data-sitekey="6LdYFWgUAAAAALdZf_sC8BRN2uLPzcsxb2p192rf" data-callback="correctCaptcha"></div>
            </div>*@
                        <div class="g-recaptcha" data-sitekey="6LfTQDMUAAAAAGFXUUGvTW4xA2NUiZjburZ5YJ8s"></div><br>
                        <div class="col-sm-4 pt-2">
                            <p>
                                <button type="submit" id="areasubmit" class="btn btn-primary btn-xs">Submit</button>
                                @*<a href="#" class="btn btn-primary btn-xs">Submit Query</a>*@
                            </p>
                        </div>

                        @*<div class="col-sm-8 pt-3">
                <p class="txt-10">Disclaimer: The above is on the basis an assumption of 75 sq ft / person (Base Build infrastructure & may vary from case to case basis).The above tool is for an indicative purposes only.</p>
            </div>*@
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
        </div>
    </div>
</div>


<script src="@Html.Sitecore().Dictionary("/Common/CaptchaURL", "https://www.google.com/recaptcha/api.js")"></script>
<script>
    function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") { var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value); elems["ts"] = JSON.stringify(new Date().getTime()); document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500);
</script>




