@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Realty.Website
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var img = Sitecore.Context.Database.GetItem(paramid["background-image"]);
}



<!-- Testimonials -->
<section class="testimonial">
    <div class="bg-images">@Html.Sitecore().ImageField(Templates.HasBannerSelector.Fields.Image, img)</div>
    <div class="testimonial-bg pt-4 pb-5">
        <div class="container">
            <h3>Customer Testimonials</h3>
            <div class="large-12 columns">
                <div class="owl-carousel owl-theme" id="testimonials">

                    @foreach (var child in models.Children.ToList())
                    {
                        @Html.Sitecore().Field(Templates.HappyCustomer.Fields.Description, child)
                    }


                </div>
            </div>
       
        </div>
    </div>
</section>