<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!-- EmailSender:ApiPath to be used with API Endpoint email sender service -->
			<setting name="EmailSender:ApiPath" value="https://stage.farmpik.com/EmailApi/EmailService/SendEmail" />

			<!-- SMSSender:ApiPath to be used with SMS Sender service -->
			
			<setting name="SMSSender:ApiPath" value="https://bulksms.analyticsmantra.com/sendsms/sendsms.php?username=ADANITRAN&amp;password=tech321&amp;type=TEXT&amp;sender=ADRLTY&amp;mobile={0}&amp;message={1}&amp;PEID=1601100000000013196&amp;HeaderId=1605001594131761200&amp;templateId=1607100000000117984" />
			
			<!-- Required if smtp sender "Adani.Foundation.Messaging.Services.EmailSender.SmtpEmailSender" is used to send email -->
			<!--
			<setting name="SmtpMailSender:Port" value="587" />
			<setting name="SmtpMailSender:Host" value="smtp.gmail.com" />
			<setting name="SmtpMailSender:From" value="shaukat.del@gmail.com" />
			<setting name="SmtpMailSender:Password" value="xyz" />
			-->
		</settings>
		<services>
			<register serviceType="Adani.Foundation.Messaging.Services.EmailSender.IEmailSender, Adani.Foundation.Messaging" implementationType="Adani.Foundation.Messaging.Services.EmailSender.SitecoreEmailSender, Adani.Foundation.Messaging" />
			<register serviceType="Adani.Foundation.Messaging.Services.Email.IEmailService, Adani.Foundation.Messaging" implementationType="Adani.Foundation.Messaging.Services.Email.EmailService, Adani.Foundation.Messaging" />
			<register serviceType="Adani.Foundation.Messaging.Services.SMS.ISMSService, Adani.Foundation.Messaging" implementationType="Adani.Foundation.Messaging.Services.SMS.SMSService, Adani.Foundation.Messaging" />
			<register serviceType="Adani.Feature.Common.Providers.IOtpDataStorageProvider, Adani.Feature.Common" implementationType="Adani.Feature.Common.Providers.OtpDataFileStorageProvider, Adani.Feature.Common" />
		</services>
		<pipelines>
			<initialize>
				<processor type="Adani.Feature.Common.Routes.RegisterApiRoutes,Adani.Feature.Common" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
			</initialize>
		</pipelines>
	</sitecore>
	<!-- needs to move connection string into connection string config file and provide correct connection string path if opt sql storage provider is used-->
	<!--<connectionStrings>
		<add name="OtpDataConnectionString" connectionString="data source=.;initial catalog=adl__Master;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>-->
</configuration>
