body.scrolled .top_bar {
    display: none;
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    background-color: #333;
    color: #fff;
    height: 40px;
}

.top_bar a {
    color: #fff;
    font-size: 14px;
}

.top_bar img {
    height: 20px;
    padding-right: 5px;
}

.contact_info {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 8px;
}

.contact_info img {
    width: 26px;
}

.contact_info a {
    font-size: 14px;
}

.top_bar_nav {
    margin-left: auto;
    position: relative;
    margin-top: revert;
}

.top_bar_nav a {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}

.top_bar_nav a:hover {
    background-color: #434343;
}

.top_bar_nav ul {
    padding: 0px;
    margin: 0px;
}

.top_bar_nav li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.business_dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 12px;
    width: 250px;
    top: 100%;
    right: 0px;
    overflow: hidden;
    display: none;
    box-shadow: 0 1px 3px rgb(0, 0, 0, .12);
    transition: ease all 0.3s;
}

.business_dropdown li {
    border-bottom: 1px solid #F1F1F1;
    cursor: pointer;
}

.business_dropdown li:last-child {
    border-bottom: 0px solid #F1F1F1;
}

.business_dropdown a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333 !important;
    border-radius: 0 !important;
    text-decoration: none !important;
    cursor: pointer;
    padding: 10px 14px;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}

a:hover {
    /*color:#fff;*/
    text-decoration: none;
}

.business_dropdown label {
    margin-bottom: 0px
}

.show {
    display: block;
}

.business_dropdown a:last-child {
    border-bottom: 0
}

.business_dropdown a:hover {
    background-color: #F6F6F6;
}

.business_dropdown a.active {
    background-color: #F2F7FB;
}

.business_dropdown i img {
    height: 24px;
    padding-right: 14px;
}

.business_dropdown a.active .check_icon {
    height: 24px;
    padding-right: 0px;
    margin-left: auto;
}

.siderbar_fixed {
    display: none;
}

.siderbar_fixed.active {
    display: block;
}

.sendBehind {
    z-index: -1;
}

.contactUsBreadcrumb {
    padding-top: 40px;
}

@media (max-width: 600px) {
    .contactUsBreadcrumb {
        padding-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .top_bar {
        display: none
    }

}