<!doctype html>
<html lang="en" class="h-100">
  <head>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K2J9Z6C');
      </script>
      <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adani Updates</title>
    <meta name="description" content="Get Access to Important Documents of Adani Group under this website">
    <meta name="keywords" content="important documents, adani group documents, adani updates, latest adani group documents, adani group important documents">
    <meta property="og:title" content="Important Documents - Adani Updates" />
    <meta property="og:description" content="Get Access to Important Documents of Adani Group under this website" />
    <meta property="og:keywords" content="important documents, adani group documents, adani updates, latest adani group documents, adani group important documents">
    <meta property="og:site_name" content="Adaniupdates.com">
    <meta property="og:url" content="https://www.adaniupdates.com/important-documents.html">
    <link rel="canonical" href="https://www.adaniupdates.com/important-documents.html"/>
    <meta name="robots" content="index, follow"/>
    <link rel="icon" type="image/png" href="/-/media/Project/Adani-Updates/images/images/favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/-/media/Project/Adani-Updates/css/style.css" rel="stylesheet" />

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-K2J9Z6C
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="headerCntr">
        <div class="container-header-box">
            <div class="d-flex align-items-centre justify-content-between">
                <div class="d-flex align-items-centre ">
                    <div class="hamburgerCntr">
                        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <img src="/-/media/Project/Adani-Updates/images/images/hamburger.svg">
                        </button>
    
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
    
                            <div class="offcanvas-body">
                                <!-- <div id="navbarCollapse"> -->
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a class="" href="resource-centre">Resource Centre</a>
                                    </li>
                                    <li>
                                        <a class="" href="media-news">News in the Media</a>
                                    </li>
                                    <li>
                                        <a class="" href="media-release">Media Releases</a>
                                    </li>
    
                                    <li>
                                        <a class="" href="key-opinion">Key Opinion Showcase</a>
                                    </li>
                                </ul>
                                <!-- </div> -->
                                <div class="offcanvas-footer socialLink">
                                    <ul class="list-group list-group-horizontal">
                                        <li><a target="_blank" href="https://www.facebook.com/AdaniOnline" rel="noopener noreferrer"><img src="assets/images/Facebook.svg"></a></li>
                                        <li><a target="_blank" href="https://twitter.com/adanionline" rel="noopener noreferrer"><img src="assets/images/Twitter.svg"></a></li>
                                        <li><a target="_blank" href="https://www.linkedin.com/company/adani-group/" rel="noopener noreferrer"><img src="assets/images/Linkedin.svg"></a></li>
                                        <li><a target="_blank" href="https://www.youtube.com/user/AdaniOnline" rel="noopener noreferrer"><img src="assets/images/Youtube.svg"></a></li>
                                        <li><a target="_blank" href="https://www.instagram.com/adanionline/" rel="noopener noreferrer"><img src="assets/images/instagram.svg"></a></li>
                                    </ul>
                                </div>
                            </div>
    
                            <div class="offcanvas-footer">
                                <div class="mob-footer-logo">
                                    <img src="assets/images/adani-coloured.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <a href="/">
                        <img src="/-/media/Project/Adani-Updates/images/images/adani-coloured.svg" alt="adani">
                    </a>
    
                </div>
    
    
                <div>
                    <div class="menuCntr">
                        <ul class="navbar-nav flex-row flex-wrap">
                            <li class="nav-item">
                                <a class="nav-link " href="resource-centre">Resource Centre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="media-news">News in the Media</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="media-release">Media Releases</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="key-opinion">Key Opinion Showcase</a>
                            </li>
                        </ul>
                    </div>
    
                </div>
    
                <div class="search-box-wrapper global">
                    <div class="search-box d-flex align-items-centre" data-bs-toggle="dropdown">
                        <img src="./assets/icons/search.svg" alt="">
                        <input type="text" id="search" placeholder="Search">
                    </div>
                    <div class="dropdown-menu search-box-dd">
                        <div class="search-box-dd-field">
                            <input type="text" placeholder="Search">
                            <img src="./assets/images/cross.svg" alt="" class="clear-input">
                        </div>
                        <ul>
                        </ul>
                    </div>
                </div>
    
            </div>
        </div>
    
    </header>

<main>
    <div class="container">

        <div class="section-wrapper">
            <div class="emptyWrapper text-center">
                <figure class="empty-fig">
                    <img src="/-/media/Project/Adani-Updates/images/images/404.png" alt="Fail to load data">
                </figure>
                <div class="empty-btn">
                    <a href="/">Go Back to Home</a>
                </div>
            
            </div>

        </div>

    </div>
  
</main>

<footer class="footerCntr">
    <div class="container-footer-box">
        <div class="d-flex flex-md-row  flex-column justify-content-between">
            <div class="copyrightCntr">
                © 2023 Adani Group. All rights reserved. This site is published by Adani Group which is solely responsible for its contents.
            </div>
            <div class="socialCntr d-flex">
                <ul class="list-group list-group-horizontal">
                    <li><a target="_blank" href="https://www.facebook.com/AdaniOnline" rel="noopener noreferrer"><img src="assets/images/Facebook.svg"></a></li>
                    <li><a target="_blank" href="https://twitter.com/adanionline" rel="noopener noreferrer"><img src="assets/images/Twitter.svg"></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/adani-group/" rel="noopener noreferrer"><img src="assets/images/Linkedin.svg"></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/user/AdaniOnline" rel="noopener noreferrer"><img src="assets/images/Youtube.svg"></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/adanionline/" rel="noopener noreferrer"><img src="assets/images/instagram.svg"></a></li>
                </ul>

            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>      
<script src="./assets/js/main.js"></script>
  </body>
</html>
