<footer class="footerCntr">
    <div class="container-footer-box">
        <div class="d-flex flex-md-row  flex-column justify-content-between">
            <div class="copyrightCntr">
                &copy; 2023 Adani Group. All rights reserved. This site is published by Adani Group which is solely responsible for its contents.
            </div>
            <div class="socialCntr d-flex">
                <ul class="list-group list-group-horizontal">
                    <li><a target="_blank" href="https://www.facebook.com/AdaniOnline" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Facebook.svg" /></a></li>
                    <li><a target="_blank" href="https://twitter.com/adanionline" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Twitter.svg" /></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/adani-group/" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Linkedin.svg" /></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/user/AdaniOnline" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Youtube.svg" /></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/adanionline/" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Instagram.svg" /></a></li>
                </ul>

            </div>
        </div>
    </div>
</footer>