@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var linkurl = "";
    var ImageItemUrl = "";
}

<div class="custom-banner section-wrapper">
    <div class="wrp">
        <div class="left">
            <h2>@models.Fields["Heading"].Value</h2>
        </div>
        <div class="right">
            @{
                Sitecore.Data.Fields.ImageField ImageItem = ((Sitecore.Data.Fields.ImageField)models.Fields["{CBEA0724-9A51-41DA-B33C-F7172D65CF14}"]);
                if (ImageItem != null && ImageItem.MediaItem != null)
                {
                    ImageItemUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageItem.MediaItem);
                }
                <img src="@ImageItemUrl"
                     alt="@ImageItem.Alt" />
                <p>
                    @Html.Sitecore().Field("Description", models)
                </p>
            }
        </div>
    </div>
</div>

