@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}


@if (models != null && models.TemplateName == "Standerd Page")
{
    <div class="page-header">
        <h1 class="redTx">@Html.Sitecore().Field("Title", models)</h1>
        <p>@Html.Sitecore().Field("Text", models)</p>
    </div>

}



