@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
<!-- Request quote -->
<div class="modal video" id="callback">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="heading mb-4">Write to us</h4>
                <button type="button" class="close reset" data-dismiss="modal">X</button>
            </div>
            @*<button type="button" class="close" style="text-align:right;" data-dismiss="modal">&times;</button>*@
            <!-- Modal body -->
            <div class="modal-body">
                @*<h4 class="heading mb-4">Write to us</h4>*@
                <p>Please send any query related to Adani Care microsite by filling up this form</p>
                @*@Html.Sitecore().Placeholder("contactusform")*@
                <p class="mb-4">For any other query related to billing, payment etc., please visit <a target="_blank" href="https://www.adanielectricity.com/contact-us"> https://www.adanielectricity.com/contact-us</a></p>
            </div>
        </div>
    </div>
</div><!--/Request quote-->
