@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<header>
    <div class="container">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-6 col-sm-8 text-left">
                <a class="header-logo" href="/"><img src="images/AdaniCare/logo.png"></a>
            </div>
            <div class="col-6 col-sm-4 text-lg-right text-right">
				<p class="contact-link"><a href="mailto:info@adanicares.com"><span class="far fa-envelope"></span> Contact us</a></p>
			</div>
			<div class="col-6 col-sm-4 text-lg-left text-right d-none">
                <a class="btn btn-sm tollfree" href="tel:18005655656"><span class="fa fa-phone fa-rotate-90"></span><span class="d-lg-inline-block d-none">19122 (24x7 Toll Free)</span></a>
                <a class="btn btn-sm points-tooltip" href="#"><span class="fa fa-question-circle"></span><span class="d-lg-inline-block d-none">Know more about Adani Cares</span></a>
            </div>
        </div>
    </div>
</header>

<!-- /Header -->
<!--  Main content Section-->
<main role="main">
    @Html.Sitecore().Placeholder("main")
    <section class="py-1 bg-white section-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-md-left left-center order-md-1 order-2 my-3">
                    <p class="mt-4 mb-3">&copy; 2020 Adani Group</p>
                </div>
				<div class="col-md-6 text-md-right left-center order-md-1 order-2 my-3">
                    <a href="/"><img src="images/AdaniCare/logo.png" class="ft-logo"></a>
                </div>
                <div class="col-md-6 text-md-right left-center order-md-2 order-1 my-3 d-none">
                    <ul class="ft_social pt-md-4">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main><!-- /.container -->
<!--  /Main content Section-->
