@{ 
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
<section class="half-bg py-4">
    <div class="container">
        @Html.Sitecore().Field("Summary", models)
    </div>
</section>

