@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<section class="contact-section">
    <div class="container">
        <div class="row">
            @foreach (Item item in element.GetChildren())
            {
                <div class="col-sm-4">
                    <div class="contact-effects">
                        @if (item.ID != element.Children.ToArray()[element.GetChildren().Count() - 1].ID)
                        {
                            <div class="contact-detail border-r">
                                <h3>@Html.Sitecore().Field("Title", item)</h3>
                                @Html.Sitecore().Field("Description", item)
                            </div>
                        }
                        else
                        {
                            <div class="contact-detail">
                                <h3>@Html.Sitecore().Field("Title", item)</h3>
                                @Html.Sitecore().Field("Description", item)
                            </div>
                        }

                    </div>
                </div>
            }          
            
        </div>
    </div>
</section>