@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    string ph = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Placeholder;
    var contextPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/MundraHospital/", "");
    var path = contextPath.Replace("/MundraHospital/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
}


        <div class="breadcrumb-banner">
            <div class="bg-images">
            @Html.Sitecore().ImageField("MediaImage",models)
            <img src="/-/media/Project/Transmission/Sustainability/DJI_0770/Sustainability.jpg?h=492&amp;la=en&amp;w=1366&amp;hash=9D22CE55148DE3BA72A0ECDBB9AA4866" class="image-fluid" alt="" width="1366" height="492" DisableWebEdit="False" /></div>
            <div class="container position-relative d-block">
                <ul>
                    @for (int i = 0; i <= pathArr.Count() - 2; i++)
                    {
                        navPath = navPath + pathArr[i];
                        <li><a href="@navPath">@pathArr[i]</a></li>
                        navPath = navPath + "/";
                    }
                </ul>
                <h1>@pathArr[pathArr.Count() - 1].Replace("-", " ")</h1>
            </div>
        </div>


