@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="copyright">
                    @if (models.GetChildren() != null)
                    {
                        Html.Sitecore().Field("Heading", models);
                    }
                    @models.Fields["Heading"]
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="copyright-menu">
                    <ul>
                        @if (models.GetChildren() != null)
                        {
                            foreach (Item item in models.GetChildren())
                            {
                                if (models.GetChildren() != null)
                                {
                                    LinkField link = (LinkField)item.Fields["Link"];
                                    <li><a href="@link.GetFriendlyUrl()">@Html.Sitecore().Field("NavigationTitle", item)</a></li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
