@using Sitecore.Data.Items;
@using Sitecore.Links;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col-sm-6 col-6 col-md-4 footer-mobile-menu">
    <div class="footer-menu">
        <h3>@models.Fields["Text"]</h3>
        <ul>
            @if (models.GetChildren() != null)
            {
                foreach (Item item in models.GetChildren())
                {
                    if (models.GetChildren() != null)
                    {
                        LinkField link = (LinkField)item.Fields["Link"];                        
                        <li><a href="@link.GetFriendlyUrl()">@Html.Sitecore().Field("Title", item)</a></li>
                    }
                }
            }


        </ul>
    </div>
</div>
