@using Sitecore.Data.Databases;
@using Sitecore.ContentSearch.Linq;
@using Sitecore.Data.Items;

@{
    Item homeitem = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.StartItem);
}

<div class="footer-bottom" style="background-image: url(/Images/MundraHospital/footer-bg.jpg);">
    <div class="container">
        <div class="row footer-mobile-content">
            <div class="col-sm-12 mobile-sitemap">
                <button class="sitemap-link">Sitemap</button>
            </div>
            @Html.Sitecore().Rendering("{92F7FB3A-2CE6-485B-9484-CA1071373872}")
            @Html.Sitecore().Rendering("{60AF40AB-D514-4160-915E-44FDDA5F186A}")
            @Html.Sitecore().Rendering("{BE05B330-2BB3-48DE-A9C5-6446D30D4B19}")

        </div>
    </div>
</div>
@Html.Sitecore().Rendering("{109994F3-A68D-4AE6-8954-9C1D043E0555}")
