@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    ImageField imageField;
    string url;

}

<section class="slider-section">
    <ul class="banner-slider">
        @if(models.GetChildren() !=  null)
        {
            foreach(Item item in models.GetChildren())
            {
                if (item != null)
                {
                    imageField = item.Fields["MediaImage"];
                    url = MediaManager.GetMediaUrl(imageField.MediaItem);
                    <li>
                        <div class="slider-item" style="background-image: url(@url);">
                        <div class="slider-details">
                            <h2 class="slider-title">@item.Fields["MediaTitle"]</h2>
                            <h3 class="slider-subtitle">@item.Fields["SubTitle"]</h3>
                        </div>
                        </div>
                    </li>
                }
            }
        }
        
    </ul>
</section>
