@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    Item item = Sitecore.Context.Item;
    MultilistField teamList = item.Fields["Our Team"];
}

<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="team-content">
                    <h2 class="title text-center">Our Team</h2>
                    <ul class="team-slider">
                        @if (teamList != null)
                        {
                            Item[] items = teamList.GetItems();
                            if (items != null)
                            {
                                foreach (Item member in items)
                                {
                                    <li>
                                        <div class="team-box">
                                            <div class="team-img">
                                                @Html.Sitecore().ImageField("Picture",member)
                                            </div>
                                            <div class="team-details">
                                                <div class="team-name">
                                                    @member.Fields["Name"]
                                                </div>
                                                <div class="team-specialities">
                                                    @member.Fields["Title"]
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
