@using Sitecore.Data.Fields;
@using Sitecore.Links;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items;
@{
    Item item = Sitecore.Context.Item;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<section class="bg-gray businesses-block">
    <div class="container">
        <p class="mb-3">@Html.Sitecore().Field("Body", item)</p>
        <div class="row">
            @if (models != null)
            {
                foreach (Item service in models.GetChildren())
                {
                    LinkField link = (LinkField)service.Fields["Link"];
                    <div class="col-sm-6 col-lg-4 col-6 my-3">
                        <a href="@link.GetFriendlyUrl()" class="business-tile">
                            <div class="business-thumb">@Html.Sitecore().ImageField("Image",service)</div>
                            <div class="business-title">@Html.Sitecore().Field("Title",service)</div>
                            @*<div class="business-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>*@
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</section>
