@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    ImageField imageField;
    string url;
}

<section class="breadcrumb-slider">
    @Html.Sitecore().Placeholder("banner-breadcrumb")
    <div class="owl-carousel owl-theme" id="about-banner">
        @if (!String.IsNullOrEmpty(datasource))
        {            
            if (models.GetChildren() != null)
             {
                    foreach (Item item in models.GetChildren())
                    {
                        if (item != null)
                        {                            
                            <div class="item">
                                <div class="slider-content">
                                    @Html.Sitecore().ImageField("MediaImage",item)
                                    <div>
                                        <div class="container">
                                            <P>@item.Fields["MediaTitle"]</P>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        }
                    }
             }            
        }
    </div>

</section>
