@using Sitecore.Mvc.Presentation;
@using Sitecore.Data.Items;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    string param = RenderingContext.Current.Rendering.Parameters["Variant"];
    string var = "";
    if (!string.IsNullOrEmpty(param))
    {
        Item variantItem = Sitecore.Context.Database.GetItem(param);
        if (variantItem != null)
        {
            var = variantItem.Key;
        }
    }

}

@if (var.ToLower() == "" || var.ToLower() == "bg-gray")
{
    <section class="gray-bg services-content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content-box wow slideInLeft" data-wow-duration="2s">
                        <h3 class="content-title">@Html.Sitecore().Field("Title")</h3>
                        @Html.Sitecore().Field("Description")
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (var.ToLower() == "bg-white")
{
    <section class="white-bg services-content-section">
        <div class="container">
            <div class="row custom-row">
                <div class="col-sm-12 custom-column-1">
                    <div class="content-box wow slideInRight" data-wow-duration="2s">
                        <h3 class="content-title">@Html.Sitecore().Field("Title")</h3>
                        @Html.Sitecore().Field("Description")
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@*@Html.Sitecore().Field("Description", models)*@
