@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    Item rootItem = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.RootPath);

}

<div class="col-sm-12 col-md-4">
    <div class="footer-menu">
        <ul class="social-menu">
            @if (models.GetChildren() != null)
            {
                foreach (Item item in models.GetChildren())
                {
                    if (item != null)
                    {
                        LinkField link = (LinkField)item.Fields["Link"];
                        <li><a href="@link.GetFriendlyUrl()"><i class="fab @item.Fields["Icon"]"></i></a></li>
                    }
                }
            }

        </ul>
        <div class="footer-logo">
            @if (rootItem != null)
            {
                @Html.Sitecore().ImageField("Footer Logo Image",rootItem)

            }
        </div>
    </div>
</div>
