@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.AdaniGreenTalks.Website;
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    string datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
	
}

@if (model != null)
{
    <div class="goal-about mb-0">
    <div class="container">
      <div class="member-details">
        <div class="member-info">
          <div class="">
            <h3 class="top-heading mb-2">@Html.Sitecore().Field("Name", model)</h3>
            @Html.Sitecore().Field("Message", model)
          </div>
        </div>
      </div>
    </div>
  </div>              
}