@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.AdaniGreenTalks.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Foundation.SitecoreExtensions.Extensions.ItemExtensions.getItem(datasource);
    string btnUrl = "#";
    string target = string.Empty;
}

@if (model != null)
{
    <div class="col-md-3 f-social">
        <h3 class="show-on-large">@Html.Sitecore().Field(Constant.Text, model)</h3>
        <ul>
            @if (model.HasChildren)
            {
                foreach (Item child in model.GetChildren())
                {
                    Sitecore.Data.Fields.LinkField linkField = child.Fields[Constant.Link];
                    var iconClassName = child.Fields[Constant.ShortTitle];
                    if (linkField != null)
                    {
                        target = linkField.Target;
                        btnUrl = linkField.GetFriendlyUrl();
                        <li>
                            <a href="@btnUrl" target="_blank">
                                @Html.Sitecore().Field("svg", child)
                            </a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
}






