@using Sitecore.Data.Items
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
}
<!-- first section start -->
@if (model != null)
{
<div class="container">
    <div class="row spreadchangesdiv soldiv mt-3 ">
        <div class="col-lg-5 text-dark mr-3 fs-1">
            <h1><strong>@Html.Sitecore().Field("MediaTitle", model)</strong></h1>
            <span class="fs-3">@Html.Sitecore().Field("MediaDescription", model)</span>
        </div>
        <div class="col-lg-6 imagesdiv my-3 ml-5 mt-4">
            @{
                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)model.Fields["MediaImage"]);
                if (imgField != null && imgField.MediaItem != null)
                {
                    var Url = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);

                    <div class="text-center">
                        @if (Url != null)
                        {
                            <img src="@Url" alt="" class="text-center" />
                        }
                        else
                        {
                            <img src="#" alt="" class="text-center" />
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>
}
    <!-- first section end -->
