@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
    var imgurl = "#";
    var altText = "";

}

@if (model != null)
{
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)model.Fields["MediaImage"]);
    if (imgField != null && imgField.MediaItem != null)
    {
        imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
        altText = imgField.Alt;
    }
    else
    {
        imgurl = "#";
        altText = "";
    }
<div class="bgsmallcontain">
    <div class="container bgsmallcontain">
        <div class="row ">
            <div class="col-lg-7 col-md-5 col-12 mt-5 m-5 p-5">
                <h1 class="fontsizetopaboutus">@Html.Sitecore().Field("MediaTitle", model)</h1>
                <h3>@Html.Sitecore().Field("MediaDescription",model)</h3>
            </div>
            <div class="col-lg-5 col-md-5 col-12">                
                <img src="@imgurl" alt="@altText">
            </div>
        </div>
    </div>
</div>

    }

}