@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.AdaniGreenTalks.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
    int i = 0;
    string activeClass = "";
}



@if (model != null)
{
    <div class="details_top_nav">
        <div class="container">
            <ul>
                @if (model.HasChildren && model.GetChildren().Count > 0)
                {
                    foreach (Item item in model.GetChildren())
                    {
                        if(i==0)
                        {
                            activeClass = "active";
                        }
                        <li class="@activeClass">
                            <a href="#@Html.Sitecore().Field(Constant.ScrollDiv, item)">@Html.Sitecore().Field(Constant.Title, item)</a>
                        </li>
                        i++;
                    }
                }
            </ul>
        </div>
    </div>
}
