@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.AdaniGreenTalks.Website.Models.AdaniGreenTalks_Contactus_Model

<section>
    <div class="container  p-3 ">
        <div class="row m-5 contactus">

            <div class="col  border-dark columnsdivcontactus mr-5">
                    @Html.Sitecore().Placeholder("Contact-Details")
                </div>

            @*Contact Form*@
            <div class="col contactusform p-3 mx-5 ">
                <div class="m-4">
                    <div class="">
                        <div>
                            <h2>Contact us</h2>
                            @if (Session["contact_form_error"].ToString()  != null || Session["contact_form_error"].ToString() != "")
                            {
                                <h4 style="color:darkred">@Session["contact_form_error"]</h4>
                            }

                        </div>
                        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "ContactUs_form", name = "ContactUs_form", enctype = "multipart/form-data", autocomplete = "off" }))
                        {
                            @Html.AddUniqueFormId()
                            @Html.AntiForgeryToken()
                         <form>
                <div class="row g-2">
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="first-name" placeholder="First name">
                      <label for="first-name">First name</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="last-name" placeholder="Last name">
                      <label for="last-name">Last name</label>
                    </div>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="email" class="form-control" id="email-id" placeholder="Email ID">
                      <label for="email-id">Email ID</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="contact-number" placeholder="Contact Number">
                      <label for="contact-number">Contact Number</label>
                    </div>
                  </div>
                </div>
                <div class="formrow">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                      style="height: 100px"></textarea>
                    <label for="floatingTextarea2">How can we help</label>
                    <div class="hint-txt"><span class="word-count">0/255</span></div>
                  </div>
                </div>
                <div class="form-button-section">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>