@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{



    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
    var imgurl = "#";
    var altText = "";
}
<div class="row">
    <div class="container h-75  ">
        <h1 class="container">@Html.Sitecore().Field("MediaTitle", model)</h1>
        @*@Html.Sitecore().Field("MediaLink", model)*@

        <div class="embed-responsive embed-responsive-16by9 h-25 w-100 ml-lg-4 ">
           
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oubD-UdDxTE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    sandbox="allow-scripts allow-popups allow-forms"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>