@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.AdaniGreenTalks.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{



    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current?.Rendering?.DataSource;
    Item model = datasource != null ? Sitecore.Context.Database.GetItem(datasource) : null;
    string altText = string.Empty;
}

@if (model != null)
{<div class="container">
        <div class="our-mission">
            <div class="heading">
                <h2>@Html.Sitecore().Field(Constant.Text, model)</h2>
            </div>
            <div class="mission-cards">
                @if (model.HasChildren)
                {
                    foreach (Item item in model.GetChildren())
                    {
                        <div class="card">
                            @Html.Sitecore().Field(Constant.Image, item)
                            <h3>@Html.Sitecore().Field(Constant.Title, item)</h3>
                            <p class="description">
                                @Html.Sitecore().Field(Constant.Summary, item)
                            </p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
