@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.AdaniGreenTalks.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    Item model = Sitecore.Context.Item;
}

@if (model != null)
{
    Sitecore.Data.Fields.ReferenceField referenceField = model.Fields[Constant.NewsArticleContent];
    if (referenceField != null && referenceField.TargetItem != null)
    {
        Item NewsArticleItem = referenceField.TargetItem;
        <div class="newDetail-section">
            <div class="container">
                <div class="post-heading">
                    <h3>@Html.Sitecore().Field(Constant.NewsTitle, NewsArticleItem)</h3>
                </div>
                @Html.Raw(model.Fields[Constant.RichTextContent])
            </div>
        </div>
    }

}
