@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
	var totalitem = model.Children.Count;
	var totalpage = (totalitem / 6) + (totalitem % 6 == 0 ? 0 : 1);
}
<div class="action-bottom-section">
        <div class="green-button-section">
			<div><input type="hidden" value="1" name="currentpage" id="currentpage"/>
			<p><span id="currentPageNo">1</span> out of @totalpage</p></div>
			<input type="button" value="Show More Video" name="showMoreVideo" class="btn" id="showMoreVideo"/>
        </div>
</div>
