@using Sitecore.Data.Items
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
}

<!-- second section start -->
<div class="container">
    <div id="grid mt-5">
        <div class="text-center text-dark mt-5 my-3 mb-1">
            <h1><strong>@Html.Sitecore().Field("MediaTitle", model)</strong></h1>
        </div>
        <div class="row align-items-center soldiv">
            <div class="col-lg-7 col-md-8  col-sm-12 ml-4">
                <div id="solutionHeading" class="my-3">
                    <h1 class="solHead">@Html.Sitecore().Field("SubTitle", model)</h1>

                </div>
                <div id="solPara" class="my-3 ml-2">
                    @Html.Sitecore().Field("MediaDescription", model)
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 w-fit m-auto text-center">
                @{
                    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)model.Fields["MediaImage"]);
                    if (imgField != null && imgField.MediaItem != null)
                    {
                        var Url = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);

                        <div class="text-center">
                            @if (Url != null)
                            {
                                <img src="@Url" alt="" class="grid1Img1" />
                            }
                            else
                            {
                                <img src="#" alt="" class="grid1Img1" />
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- second section end -->
