.bg-white {
    background-color: #fff !important;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.heading {
    border-left: 5px solid #18a790;
    font-size: 28px;
}

.shadow:before {
    left: 20px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, .5);
    box-shadow: 0 15px 10px rgba(0, 0, 0, .5);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.shadow:after,
.shadow:before {
    content: '';
    bottom: 10px;
    width: 50%;
    height: 50px;
    z-index: -1;
    position: absolute;
}

.mediaBlk {
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    /* height: ; */
    margin-top: 20px;
}

.mediaBlk:after,
.mediaBlk:before {
    content: "";
    position: absolute;
    z-index: -2;
}

.oneVision>a:link,
a:visited {
    text-decoration: none;
}

.mediaBlk img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 3;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

img {
    max-width: 100%;
}

.mediaHovBg.oneVisionbottom {
    bottom: -50px !important;
}

.mediaBlk .mediaHovBg {
    background: rgba(42, 42, 42, .85);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -44px;
    padding: 10px 15px;
    transition: all .2s ease;
    z-index: 5;
}

.mediaHovBg.oneVisionbottom h4 {
    font-size: 20px;
    color: #fff;
    margin: 0;
    margin-bottom: 0.75rem;
}

.mediaHovBg.oneVisionbottom .btnLearn p {
    margin-top: 10px;
}

.card-text:last-child {
    min-height: 42px;
    margin-bottom: 0;
    color: #fff;
    font-size: .8em;
}

.mediaBlk:after,
.mediaBlk:before {
    content: "";
    position: absolute;
    z-index: -2;
}

/* .mediaHovBg.oneVisionbottom :hover {
    bottom: 0px !important;
} */
.mediaBlk:hover .mediaHovBg {
    bottom: 0 !important;
}