<div class="section-breadcrumb">
    <div class="container">
        <ol class="breadcrumb ad-breadcrumb margin-0">
            <li *ngFor="let breadcrumb of OneVisionOneTeam.GenericBredcrumbNavigation.Data; last as isLast"  class="breadcrumb-item">
                <a *ngIf="!isLast" href="{{breadcrumb.Link}}">{{breadcrumb.Heading}}</a>
                <a *ngIf="isLast" class="active">{{breadcrumb.Heading}}</a>
            </li>
        </ol>
    </div>
  </div>
  <section class="bg-white py-5">
	<div class="container">
	<h1 class="heading pl-4 mb-4">{{OneVisionOneTeam.ProfileCard.Heading}}</h1>
		<div class="row">
			<div *ngFor="let profile of OneVisionOneTeam.ProfileCard.Data" class="col-md-3 col-sm-3">
				<div class="media-box shadow">
					<div class="mediaBlk">
					   <a href="{{profile.Link}}">
									<img alt="{{profile.ImageAltText}}" src="{{profile.Image}}" class="card-img-top img-fluid" width="210" height="260" disablewebedit="False" />
								</a>
						<div class="mediaHovBg oneVisionbottom">
							<h4>{{profile.Name}}</h4>
							<div class="btnLearn"><p class="card-text">{{profile.Designation}}</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>