@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Affordable.Website
@using Sitecore.Mvc.Configuration
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    // var id = Sitecore.Context.Database.GetItem("about-us").Url();
    var id = "about-us";
    string RedirectUrl = Request.Url.Scheme + "://" + Request.Url.Host;
    var pagename = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);

}


<form id="HeaderContact_form1" name="HeaderContact_form1">
    <input type="hidden" id="hFormType" value="Header-Contact-Form" />
    <input type="hidden" id="hPageInfo" value="@pagename" />
    <div class="btn-group" role="group">
        <input type="number" class="form-control" placeholder="Contact no" id="hmobile" required>
        <button type="submit" class="btn btn-primary" id="btnHeaderContactSubmit">Send</button>
    </div>
</form>