@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Affordable.Website
@using Sitecore.Mvc.Configuration
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    // var id = Sitecore.Context.Database.GetItem("about-us").Url();
    var id = "about-us";
    string RedirectUrl = Request.Url.Scheme + "://" + Request.Url.Host;
    var pagename = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);

}

<form id="contact_form1" name="contact_form1">
    <input type="hidden" id="cFormType" value="Contact-Form" />
    <input type="hidden" id="cPageInfo" value="@pagename" />
    <div class="row">
        <div class="col-sm-6 mb-4">
            <input type="text" class="form-control" id="cname"  placeholder="Name">
        </div>
        <div class="col-sm-6 mb-4">
            <input type="number" class="form-control" id="cmobile" placeholder="Mobile">
        </div>
        <div class="col-sm-6 mb-4">
            <input type="email" class="form-control" id="cemail" placeholder="Email">
        </div>
        <div class="col-sm-6 mb-4">
            <select class="form-control" id="cbudget">
                <option>Budget (in Rs.)</option>
                <option>5-15lacs</option>
            </select>
        </div>
        <div class="col-sm-6 mb-4">
            @Html.DropDownList("country_code", new List<SelectListItem>
              {
                 new SelectListItem{Value="AU",Text="Australia"},
                 new SelectListItem{Value="CA",Text="Canada"},
                 new SelectListItem{Value="BR",Text="Brazil"},
                 new SelectListItem{Value="CN",Text="China"},
                 new SelectListItem{Value="DE",Text="Germany"},
                 new SelectListItem{Value="GB",Text="United Kingdom"},
                 new SelectListItem{Value="IE",Text="Ireland"},
                 new SelectListItem{Value="IN",Text="India"},
                 new SelectListItem{Value="IT",Text="Italy"},
                 new SelectListItem{Value="MX",Text="Mexico"},
                 new SelectListItem{Value="US",Text="United States"},
              }, "Select Country",new {id="ccountry", @class = "form-control" })
        </div>
        <div class="col-sm-6 mb-4">
           
                @Html.DropDownList("cstate_code", new List<SelectListItem> { }, "Select State", new { id = "cstate", @class = "form-control" })
          
        </div>
        <div class="col-sm-6 mb-4">
            <select class="form-control" id="cinterest">
                <option>Projects Interested</option>
                <option>Aangan-Shantigram</option>
                <option>Aangan-Gurugram</option>
                <option>Pratham</option>
            </select>
        </div>
       
        <div class="col-sm-12 mb-4">
            <textarea rows="4" cols="50" id="cremarks" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group row py-2 mb-5">
        <div class="col-sm-12">
            <button type="submit" id="btnContactSubmit" class="btn btn-primary">Submit</button>
            <input type="reset" class="btn btn-contact" value="Reset" />
        </div>
    </div>
</form>













