@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Affordable.Website
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var img = Sitecore.Context.Database.GetItem(paramid["background-image"]);
}

<section class="testimonials py-5">
    <div class="bg-images">@Html.Sitecore().ImageField(Templates.HasBannerSelector.Fields.Image, img)</div>
 
        <div class="container">
            <h3 class="text-center sectionHeading txt-white">Happy Customers</h3>
            <div class="row">
                <div class="col-md-9 mx-auto pb-5 pt-2">
                    <p><i class="fa fa-quote-left"></i></p>
                    <div class="owl-carousel owl-theme testimonial">
                        @foreach (var child in models.Children.ToList())
                        {
                        <div class="Slideitem">
                           @Html.Sitecore().Field(Templates.HappyCustomer.Fields.Description, child)
                            
            
                      </div>
                        
                        }
                    </div>
                </div>
            </div>
    </div>
</section>