	  <!-- Banner -->
<div class="mainSlider">
    <div class="owl-carousel owl-theme homeslider">
        <div class="item">
            <picture>
                <source srcset="images/slider/slider-01.jpg" media="(min-width: 1779px)">
                <source srcset="images/slider/slider-01.jpg" media="(min-width: 1400px)">
                <source srcset="images/slider/slider-01.jpg" media="(min-width: 1084px)">
                <source srcset="images/slider/slider-01.jpg" media="(min-width:768px)">
                <source srcset="images/slider/slider-mobile-01.jpeg" media="(min-width:540px)">
                <source srcset="images/slider/slider-mobile-01.jpeg" media="(min-width:0)">
                <img srcset="images/slider/slider-01.jpg" src="images/slider/slider-01.jpg" alt="">
            </picture>
        </div>
        <!--<div class="item" data-videosrc="video-1.mp4">
                <img src="images/banner.jpg">
        </div>-->
    </div>
    <!--Banner Content-->
    <section class="slider-content">
        <div>
            <div>
                <img src="images/aangan-logo.png">
                <h5>Ahmedabad & Gurugram</h5>
                <h3>Starting at <span><i class="fa fa-rupee-sign"></i>29.5 Lakhs*</span></h3>
            </div>
        </div>
    </section>
    <!--/Banner Content-->
    <!--Calculator-->
    <section class="filter-box">
        <div class="skew-bg"></div>
        <div class="container-fluid">
            <form action="/Searchs">
                @Html.Sitecore().Placeholder("property-search-form")
            </form>
        </div>
    </section>
    <!--/Calculator-->
</div>
<!-- /Banner -->
