@using Sitecore.Data.Fields
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Affordable.Website
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}

<a href="#" class="enquiryBtn" data-toggle="modal" data-target="#exampleModal2">
    @Html.Sitecore().ImageField(Templates._HasMedia.Fields.HighResolutionImage, model)
</a>
<div class="modal enquiryform fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout modal-sm txt-white" role="document">
        <div class="modal-content bg-gray">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Enquire Now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @Html.Sitecore().Placeholder("Enquire-Now-Form")
        </div>
    </div>
</div>
























@*<div class="modal enquiryform fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout modal-sm txt-white" role="document">
        <div class="modal-content bg-blue">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Enquire Now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Sitecore().Placeholder("Enquire-Now-Form")
            </div>
        </div>
    </div>
</div>*@
