@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Affordable.Website
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel


@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
<section id="project-location">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                @Html.Sitecore().Field(Templates.LocationDetial.Fields.LocationImage, models, new { @class = "img-fluid w-100 h-100 gmap-img", data_toggle = "modal", data_target = "#gmap" })
            
                <!-- The Modal -->
                <div class="modal video" id="gmap">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal body -->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="modal-body">
                                <div class='embed-container'><iframe src="@Html.Sitecore().Field(Templates.LocationDetial.Fields.Location, models)" width='600' height='450' frameborder='0' style='border:0' allowfullscreen></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 project-address py-5 pl-4">
                <div class="ml-3">
                    <h3 class="text-left sectionHeading txt-green">@Html.Sitecore().Field(Templates.LocationDetial.Fields.Title, models)</h3>
                    @Html.Sitecore().Field(Templates.LocationDetial.Fields.Address, models)
                </div>
            </div>
        </div>
    </div>
</section>