@using Sitecore.Data.Fields
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Affordable.Website
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel



@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);

}


<!-- Features -->
<section class="features-block py-5" id="project-features">
    <div class="bg-images">@Html.Sitecore().ImageField(Templates.HasBannerSelector.Fields.Image, model)</div>
    <div class="container">
        <h3 class="text-center sectionHeading txt-white"><span>@Html.Sitecore().Field(Templates.HasBannerSelector.Fields.Title, model)</span></h3>
        <div class="row">

            @foreach (var item in model.Axes.GetDescendants())
            {
            <div class="col-sm-3 col-md-2 mx-auto txt-center">
                @Html.Sitecore().Field(Templates._HasMedia.Fields.HighResolutionImage, item, new { @class = "img-fluid mb-3" })

                <p>@Html.Sitecore().Field(Templates._HasMedia.Fields.Title, item)</p>
            </div>


            }
            </div>
    </div>
</section>
<!-- /Features -->