@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Affordable.Website
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel



@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}


<div class="mr-auto">
    <h3 class="text-left sectionHeading txt-white">@Html.Sitecore().Field(Templates.SingleText.Fields.Text, models)</h3>
    <ul class="ul-bullets">
        @foreach (var item in models.Axes.GetDescendants())
        {
            <li class="txt-white txt-md mb-2"> <a href="@item.LinkFieldUrl(Templates.LinkDetail.Fields.LinkUrl)" target="_blank">@Html.Sitecore().Field(Templates.LinkDetail.Fields.Title, item)</a></li>
        }
    </ul>
</div>
