@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items

@{
    string TitleCss = string.Empty, DescriptionCss = string.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var parms = rc.Rendering.Parameters;
        TitleCss = parms["css"];
    }
}

<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<script>
    window.googletag = window.googletag || { cmd: [] };
    googletag.cmd.push(function () {
        googletag.defineSlot('/22938973881/ca-pub-8088854116361101-tag/2', [300, 250], 'div-gpt-ad-1694070866227-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
</script>
<div class="ads-wrapper">
<div class="google-ads d-block d-md-none" id="@TitleCss-google-ads">
    <!-- /22938973881/ca-pub-8088854116361101-tag/2 -->
    <div id='div-gpt-ad-1694070866227-0' style='min-width: 300px; min-height: 250px;'>
        <script>
            googletag.cmd.push(function () { googletag.display('div-gpt-ad-1694070866227-0'); });
        </script>
    </div>
</div>
</div>



