
@media only screen and (max-width: 600px){
		body{
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		}
		#popupModal .modal-dialog, #price .modal-dialog {

 		   width: 95%;
		}
		.certificate-modal .close {
    		 padding: 0 5px; 
		}
		.dots{
	        position: relative;
       		top: -9px;
        	left: 50px;
		}
        #inquiryForm{
        	    display: none;
        	    background-color: #18979a;
        }
.fotterdis p{
font-size: 8px;
}
#footer{
padding-bottom: 50px;
margin-bottom: 0px;
}


        .navbar-brand {
    height: auto;
    padding: 5px 0 !important;
    width: 160px;
}

.mfp-wrap.mfp-gallery.mfp-close-btn-in.mfp-auto-cursor.my-mfp-slide-bottom.mfp-ready {
    top: 1700px;
    position: absolute;
    height: 100% !important;
}
.magnify img {
    border: 1px solid #243b5a;
    height: auto;
}

.nav>li>a{
	    color: #fff !important;
}


        #gallery h3.text-center {
    position: relative;
    top: 15px;
     padding-bottom: 60px;
        right: 28%;
    text-align: right !important;
}
.navbar-default {
    height: 75px !important;
}
.Oc-patch {
    width: 100%;
    left: 0;
    font-size: 12px;
    top: 0;
    position: relative;
}
.location-amenities{
	font-size: 16px;
       margin: 20px auto;
}
.navbar-default .navbar-toggle {
    border-color: #243c59;
}
tr {
    font-size: 12px;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: 13px;
}

        .inquireButton{
        	display: block;
        	background-color: #41ac49;
        	/*border-top: 1px solid #fff;*/
        }

        #myCarouse2 .carousel-inner{
        	width: 100%;
        }

         i.fa.fa-chevron-right{
         	top: 35%;
    right: 10px;
         }
         i.fa.fa-chevron-left{
         	top: 35%;
    left: 10px;
         }
          div#myCarouse2{
          	    margin-top: 50px;
          }




		.gal-block {
    		padding: 60px 20px;
		}
		#myNavbar{
		margin: 0 auto;
	    	border-top: transparent;
		}	
		.mycarousel{
		margin-top: 0 !important;
		}
		.ame-head {
		width: 70%;
		}
		.navbar-nav {
    			margin: 5px;
    background: #243b5af5;
		}
		/*Header*/
		.circle {
			border-radius: 50%;
			width: 150px;
			height: 150px;
			z-index: 99;
		}
		.media-boxes-filter>li a h5 {
    font-size: 12px;
     
}
		.media-boxes-filter>li{
			width: 60% !important;
                       margin: 5px 10px;
		}
		p.location-txt {
    font-size: 11px;
    /* margin: 17px 0; */
}
		.navbar-brand>img {
        margin: 5px auto;
    /*padding-top: 8px;*/
    width: 135px;
}
.navbar-brand{
	float: none !important;
}
		.navbar-default .navbar-toggle .icon-bar {
			background-color: #304962;
		}
		.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
			height: inherit;
		}
		.navbar-nav>li {
    padding: 5px 60px;
}

.videoinner .container .col-lg-12.col-xs-12 {
    padding: 0;
    margin: 0;
}

.videoinner .container {
    margin: 0;
    padding: 0;
}

#location h3.text-center span {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

section#video{
	background-color: #000;
	    padding: 20px 
}

.contact-details h3.text-center.wow.fadeInRight {
    font-size: 18px;
}

iframe {
    width: 100%;
}

.contact-details {
    padding: 0 20px;
}

.locationimg img {
    height: auto;
    width: 100%;
}

.videoheadmob h3.text-center {
    font-size: 30px;
    color: #fff;
}

#aboutus h3.text-center{
	font-size: 25px !important;
}
		.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
			background-color: #fff;
		}
		.navbar-default .navbar-toggle:hover .icon-bar {
			background-color: #000;
		}
		.navbar-default .navbar-nav>li>a {
			color: #777;
			text-align: center;
		}

		/*Slider*/
		.carousel {
			position: relative;
			margin-top: 75px;
		}

		/*About*/
		.about-lamp img{
			width: 100px;
		}
                
                .bannerpatch img.img-responsive {
    width: 280px;
    position: relative;
    bottom: 84px;
    left: 67px;
}


               #aboutUs 
{
    /*margin-top: 230px;*/
}
		.about-lamp{
			z-index: 999;
		}
		.about-bg{
			height: inherit;
		}
		.aboutus-block{
			height: inherit;
			right: 0;
			background-color: #354659;
		}
		.about-content{
			margin: 5px;
		}
		.about-mobimg{
			margin: 15px 0;
		}
		.table{
			width: 100%;
		}
		.about-content p{
			font-size: 12px;
		}

		/*Amenities*/
		.amenitieshead{
			position: inherit;
			text-align: center;
			padding: 20px 0;
		}
		.amenities-container{
			padding: 0;
		}
		.floor-lamp img{
			height: inherit;
		}
		.floorplan-gal{
			padding: 0 20px;
		}
		#floorplan {
 		    padding:0; 
		}
		.floor-lamp{
			margin-top: -40px;
		}
		.circle-block{
			height: 170px;
		}
		.circle-block h4{
			font-size: 12px;
		}
		.ame-border{
			display: none;
		}


		/*Gallery*/
		.gal-lamp img{
			width: 130px;
		}
		.gal-head{
			position: inherit;
			margin-top: 50px;
			text-align: right;
			padding: 0 25px;
			word-spacing: 47.5px;
		}
		.gal-head span{
			word-spacing: 0;

		}
	}

          @media (max-width: 480px) {
               .bannerpatch img.img-responsive{
              left: 25px
}
}

        @media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

          .bannerpatch img.img-responsive{
     left: 45px;

}
        }

    @media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
           .bannerpatch img.img-responsive{
 left: 75px;
}
}



@media only screen and (max-width:680px) 
{
.fixeddiv, .modal-open{
position: fixed;
}
}
