@font-face {
  font-family: "PLUTOREGULAR";
  src: url("../fonts/PLUTOREGULAR.OTF");
}

body{
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "PLUTOREGULAR" !important;
    font-size: 13px;
    font-weight: 200;

}
.error1 {
    position: relative;
    left: 0px;
    bottom: 0;
    color: red;
    font-size: 11px;
    width: 100%;
    text-align: left;
}

p.Enquirenow a.pricepop {
    border: 1px solid #000;
    padding: 10px;
    background-color: #0b0b0b;
    color: #fff;
    text-decoration: none;
        border-radius: 20px;

}

p.Enquirenow {
    padding-top: 15px;
}

.fotterdis p {
    color: #000;
    font-size: 10px;
    margin: 0 0;
    text-align: center;
}

#inquiryForm h4 {
    color: #fff;
    position: relative;
        text-align: center;
    margin-top: 15px;
}

.carousel-indicators .active{
 
background-color: #f9a519;

}
.locationadvimg {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0;
}
.locationadvimg img {
    height: 650px;
    width: 100%;
}


section#Projecthighlights {
   padding: 70px 0;
}

.config-content h3 {
    color: #fff;
}

#inquiryForm .col-sm-2 {
    width: 15.666667%;
}




#Projecthighlights .container {
    background-color: #1a2f48;
    padding-bottom: 25px;
}
.config-content {
    padding: 25px 0;
}
.config-listing {
    padding: 5px 0;
}
/*.proj-block {
    margin: 15px 0;
    height: 70px;
}*/

.proj-img {
    width: 45px;
    padding: 10px 0;
}
.proj-txt {
    color: #fff;
    font-weight: 400;
    padding: 10px 0;
}





#location .section-head {
    padding: 0 0;
}

.location-amenities{
    padding: 0;
    margin: 25px auto;
}

.locationmap-rightblock {
    margin: 12px 0;
}
.locationmap-block {
    padding: 5px 5px;
  /*  margin: 10px 0;
    height: 58px;*/
}
.locationmap-img {
    width: 50px;
    /* padding: 18px 0; */
    margin: 0px;
    float: right;
}
.location-txt {
   color: #000;
    font-weight: 500;
    padding: 0;
    width: 100%;
    margin: 5px 0;
    /* text-align: justify; */
}


div#myCarouse2 {
    padding-bottom: 65px;
    margin-top: 0px;
}
section#locationadv {
    padding-bottom: 50px;
    margin: 65px 0px 30px;
    background: #e4ffed;
}
.nopadding{
    padding: 0;
}
#inquiryForm {
    background-color: #7dc145;
    bottom: -18px;
    -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
    padding: 2px 0;
    position: fixed;
    width: 100%;

    z-index: 3;
}


.inquireButton {
    background-color: #1a2f48;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    bottom: 0;
    -webkit-box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
    box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
    color: #fff;
    cursor: pointer;
    display: none;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 400;
    padding: 5px 20px;
    position: fixed;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 1000;
    width: 100%;
}


.bannerpatch img.img-responsive {
    width: 280px;
    position: relative;
    bottom: 50px;
}
.fixedDiv{
position: fixed;
}

.bannerpatch {
    position: absolute;
    top: 77px;
    left: 6px;
    text-transform: uppercase;
    z-index: 999;
    font-size: 15px;
    /* background: rgba(0,0,0,0.7); */
    color: #fff;
    text-align: center;
    padding: 6px;
    font-weight: 600;
    border-radius: 3px;
    /* border: 1px solid #fff; */
    /* -webkit-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75); */
    -moz-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    /* box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75); */
}
.navbar-default {
    /*background-color: #f3f8ff;*/
   background-color: #ffff;
    position: fixed;
    margin-bottom: 0;
    height: 90px
    -webkit-box-shadow: 0px 0.5px 5px 0px rgba(201,252,199,1);
-moz-box-shadow: 0px 0.5px 5px 0px rgba(201,252,199,1);
box-shadow: 0px 0.5px 5px 0px rgba(201,252,199,1);
}
.nav>li>a {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
    /* font-weight: bold; */
    color: #13543f !important;
    padding: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    /* border-bottom: 1px solid #000; */
    line-height: 30px;
}
.navbar-nav>li {
    padding: 35px 13px;
}
.navbar-brand {
    height: auto;
    padding: 5px 30px;
    width: 160px;
}
.navbar-brand>img {
    /*margin: 10px auto;*/
    /* padding-top: 50px; */
    width: 175px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: inherit;
    height: auto;
    text-align: center;
}
#dropdownMenuButton{
    background: inherit;
    color: #000;
    font-weight: bold;
    padding: 6px 12px;
    border-bottom: 1px solid #000;
    border-radius: inherit;

}
.dropdown-menu{
    background-color: #000;
    min-height: 100px;
    border-radius: inherit;
}
.dropdown-item{
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 0;
    color: #fff;
}
.dropdown-menu{
    min-width: 120px;
}

.dropbtn {
    background-color: inherit;
    text-transform: uppercase;
    color: #000;
    padding: 4px 0;
    /*font-size: 16px;*/
    border-bottom: 1px solid #000;
    /*font-weight: bold;*/
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 30px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #000;color: #A68749;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:inherit;
}

.circle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    top: -55px;
    position: absolute;
    background: #1a2f48;
    border:2px solid #D2AA41;    
}

/*Slider*/
#slider{
    position: relative;
}
.audio-toggle, .play-pause-toggle{
    display: none !important;
}
.aslide{
    position: relative !important;
}
.carousel {
    position: relative;
    /*margin-top: 71px;*/
}
.carousel img{
    width: 100%;
}
.carousel2 img{
    /*width: 100%;*/
    margin: 0 auto;
}

#footer h6 {
    font-size: 10px;
    text-align: justify;
    color: #000;
    line-height: 1.4;
}
h3.modal-title {
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin: 18px 0 14px;
}
#cerificate button.close {
    /* margin-right: 7px; */
    /* padding-right: 20px; */
    position: relative;
    right: 20px;
    top: 15px;
    /* font-size: 20px; */
}
#cerificate .modal-content {
    border-radius: inherit;
    background-color: #a9ffc8;
}
.disclaimer-content {
    padding: 15px 24px 15px;
}

#footer h4 {
    text-align: center;
    font-weight: 500;
    color: #fff;
}
.about-content p{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    text-align: justify;

}

.section-head{
    text-transform: uppercase;
    color: #1a2f48;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;

}
.underline1{
    width: 200px;
    height: 1px;
    background-color: #fff;
    margin: 30px auto;
}
.dots{
    position: relative;
    top: -10px;
    left: 50px;
}

.dots li{
    display: inline-block;
    float: left;
    color: #fff;
}
.underline2{
    width: 200px;
    height: 1px;
    background-color: #16573f;
    margin: 30px auto;
}
.dots2{
    position: relative;
    top: -10px;
    left: 50px;
}

.dots2 li{
    display: inline-block;
    float: left;
    color: #16573f;
}

#myCarouse2 .carousel-inner{
        width: 75%;
    margin: 0 auto;
}

/*Floorplan*/
#floorplan{
    padding: 20px 0 50px;
    margin: 0 86px;
    background-color: #7dc145;
}

.nGY2 .nGY2GThumbnailImg{
    left: 0 !important;
}
.floor-lamp img{
    height: 450px;
}

/*Location*/
#location {
    /* background-color: #abd6ae; */
    /*background-image: url(../img/location-bg.jpg);*/
    /*padding: 50px 0;*/
    /*margin-top: 50px;*/
}

.contact-details {
    padding: 50px 70px;
}


.locationadv-inner {
    margin: 0 30px;
}
.magnify img {
    border: 1px solid #243b5a;
    height: 400px;
}

.form-control{
    border-radius: inherit;
        font-weight: 600;
}
.input-group {
    position: relative;
    display: table;
    text-align: center;
    margin: 11px auto;
    width: 100%;
}
.floor-lamp{
    position: absolute;
    right: 0;
    margin-top: -60px;
}
.floorplan-anchor{
    border: 1px solid #000 !important;
}


/*Address*/
#address{
    padding: 20px 0;
    margin-bottom: 30px;
}
#address h5{
    padding: 0;
    font-size: 20px;

}
#address p{
   /*text-transform: uppercase; */
    font-size: 20px;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    padding: 0;
    text-align: center;
    margin: 0;
    font-weight: 500;
    color: #000;

}

/*Footer*/
#footer{
    padding: 20px;
    background-color: #7dc145;
    margin-bottom: 45px;
}
#footer h5{
    padding: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;

}

.maharera {
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.maharera a {
    text-decoration: none;
    color: #fff;
}




         /*Instant Form*/

    label.error {
    color: red;
    font-size: 11px;
    font-weight: 600;
    /* margin: 0; */
    text-align: center;
    /* position: relative; */
    /* top: -4px; */
    left: 0;
}
         .modal-header {
            border-bottom: 1px solid #3D1E19;
            padding: 0 20px !important;
         }


         .spek_exprt {
            width: 250px;
            text-align: center;
            /*background-color: #DADADA;*/
            background-color: rgba(218, 218, 218, 0.87);
            padding: 10px;
            -webkit-border-radius: 0 10PX 10PX 0;
            -moz-border-radius: 0 10PX 10PX 0;
            border-radius: 0 10PX 10PX 0;
            POSITION: RELATIVE;
            top: -160px;
            z-index: 50;
            border: 1px solid #fff;
         }
         .spek_exprt .btn-default,
         #instant-callback-div .btn-default {
            width: 100% !important;
            background: #17573f;
            color: #fff;
            border-color: #17573f;
       /*   -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;*/
         }
         #instant-callback-div {
            /*font-family: 'Open Sans', Arial, sans-serif;*/
            position: fixed;
            vertical-align: top;
            /* padding: 0 0 24px 0px;*/
            right: -247px;
            top: 20%;
            /*width: 280px;*/
            height:0;
            z-index: 1000;
         }
         #instant-callback-div .form-control{
            height: 30px;
         }
         #instant-callback-div .input-group{
            margin: 8px auto;
         }
         #instant-callback-div .instant-switch {
            background: url(../img/enquire.jpg) no-repeat scroll 0 0;
            -webkit-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
            box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            display: inline-block;
            height: 177px;
            vertical-align: top;
            width: 46px;
            border-radius: 10px;
            /*border: 1px solid #fff;*/
            position: relative;
            /*-webkit-border-radius: 10px 0 0 10px;
            -moz-border-radius: 10px 0 0 10px;
            border-radius: 10px 0 0 10px;*/
         }
         #instant-callback-div .content-switcher {
            background-color: #fff;
            display: inline-block;
            width: 245px;
            margin: 0 0 0 -4px;
            padding: 0 16px 12px;
            vertical-align: top;
            -webkit-border-bottom-left-radius: 6px;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
            -moz-border-radius-bottomleft: 6px;
            -webkit-border-bottom-left-radius: 6px;
            border-bottom-left-radius: 6px;
         }
         #instant-callback-div h4 {
            border-bottom: 1px solid #EDEDED;
            /*margin-bottom: 20px;*/
            padding-bottom: 15px;
            padding-top: 5px;
         }
         #instant-callback-div p {
            margin: 5px 0 !important;
            padding: 4px 0;
            font-size: 12px;
         }

/*#instant-callback-div input {
    display: block;
    width: 90%;
    margin: 6px 0;
    border: 1px solid #CCC;
    padding: 6px 10px;
    }*/

    #instant-callback-div input[type="submit"]:hover {
        background-color: #333;
        color: #FFF;
    }
    #instant-callback-div input[type="submit"] {
        width: 100%;
    }
    #hide {
        background-color: #FFFFFF;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
        border-radius: 0 5px 0 0;
        height: 32px;
        position: absolute;
        right: 7px;
        top: 7px;
        width: 40px;
        cursor: pointer;
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 0;
    }
    #hide img {
        opacity: 0.3;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    #hide img:hover {
        opacity: 0.7;
    }

    /*Popup Form*/

    h3.modal-title {
        font-size: 16px;
        text-align: center;
        color: #1a2f48;
        font-weight: bold;
    }
    #popupModal .modal-dialog{
        width: 35%;
    }
    #popupModal button#submitf {
        background-color: #17573f;
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .modal-content{
        border-radius: inherit;
    }

    /*Price Popup*/
    .pricepop{
        color: #000;
        text-decoration: none;
    }
    .pricepop:hover{
        text-decoration: none;
        color: #1a2f48;
    }




    #price .modal-dialog {
        width: 35%;
    }
    #price button#submitf {
        background-color: #17573f;
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #1a2f48;
    }
    #submitf{
        background-color: #17573f;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 13px;
    border: 1px solid #17573f;
    }

    /*Book A site visit*/
    #bookvisit {
        left: 25px;
        /* font-family: 'Open Sans', Arial, sans-serif; */
        position: fixed;
        vertical-align: top;
        /* padding: 0 0 24px 0px; */
        right: 0;
        bottom: 7px;
        /* width: 280px; */
        height: 28px;
        z-index: 1000;
    }
    #bookvisit .booksitevisit-switch {
        background: url(../img/handle3.png) no-repeat scroll 0 0;
        -webkit-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
        box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display: inline-block;
        height: 36px;
        vertical-align: top;
        width: 170px;
        /*border: 1px solid #fff;*/
        position: relative;

    }
    .field {
        width: 100%;
        float: left;
        color: #000;
        padding: 10px 0;
        font-size: 15px;
    }
    .visit-time input, .visit-date input {
        width: 30%;
        margin-right: 2%;
        padding: 6px;
        border: 1px solid #E3E3E3;
        color: #adadad;
        font-weight: 500;

    }
    .visit-time select {
        width: 30%;
        padding: 6px;
        border: 1px solid #E3E3E3;
        color: #adadad;
        font-weight: 500;
    }

    .carousel-caption {
        position: absolute;
        left: 0;
        right: 15%;
        bottom: 0;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: #fff;
        width: 100%;
        background: rgba(0,0,0,0.7);
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
        width: 30px;
        height: 30px;
        margin-top: 85px;
        font-size: 30px;
    }

   
    /*Amenities*/

/*    .ug-thumb-selected::before{
        border-bottom: 1px solid blue;
        -webkit-box-shadow: 0 1px 0 0 red;
        -moz-box-shadow: 0 1px 0 0 red;
        box-shadow: 0 1px 0 0 red;
        content: "";
        margin: 0 auto; 
        position: absolute;
        top: 45%; left: 0; right: 0;
        width: 95%;
        z-index: -1;
    }
    */

   .lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
    bottom: 100px;
} 

.overlay i.fa:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        cursor: pointer;
        background: #333333 !important;
    }


    .overlay i.fa {
        background: #A28D48;
        font-size: 13px;
        color: #fff;
        text-align: center;
        display: inline-block;
        margin: 3px;
        height: 44px;
        width: 44px;
        line-height: 45px;
         padding: 0px 17px 15px 17px; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: -webkit-transform .2s, background .1s;
        -moz-transition: -moz-transform .2s, background .1s;
        -o-transition: -o-transform .2s, background .1s;
        -ms-transition: -ms-transform .2s, background .1s;
        transition: transform .2s, background .1s;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;  
        z-index: 99999;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(0,0,0,0.7);
    }


    .overlay > div {
        height: 100%;
        width: 100%;
        display: table !important;
    }

    .alignment  {
        padding: 10px;
        display: table-cell !important;
        vertical-align: middle;
        text-align: center;
    }
    .media-box-container:hover .overlay {
        opacity: 1;
        z-index: 9999999 !important;
    }
.media-boxes-filter>li a.selected {
    background: #43ab4b !important
}
    .media-boxes-filter1>li a.selected1 {
        background: #a28d48 !important;
    }
    .main-grid{
        margin: 20 0 50px 0;
    }
    .main-grid1{
        margin: 0 0 50px 0;
    }
    .media-box-container {
    overflow: inherit !important;
}
/*------------------------about us--------------------------------------------*/

figure.snip0016 {
  /*font-family: 'Raleway', Arial, sans-serif;*/
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 450px;
  width: 100%;
  background: #000000;
  text-align: left;
  border-radius: 50px;
}
figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  height: 400px;
    border-radius: 50px;
}
figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
}
figure.snip0016 figcaption::before {
 /* position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;*/
}
figure.snip0016 h2,
figure.snip0016 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0016 h2 {
  word-spacing: normal;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
      text-align: center;
    font-size: 20px;
}
figure.snip0016 h2 span {
  font-weight: 800;
  font-size: 25px;
}
figure.snip0016 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0016:hover img {
  opacity: 0.3;
}
figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.snip0016:hover figcaption p {
  opacity: 0.9;
    font-size: 9px;
  padding: 0px;
margin: 0px;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  text-align: center;
}
figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

#aboutus h4.text-center {
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
}

#aboutus h3.text-center {
    font-weight: bold;
    font-size: 40px !important;
   padding: 10px 0 0 0;
}

#aboutus{
    padding-bottom: 50px;
    padding-bottom: 50px;
/*    background: url(../img/project-bg.jpg);
    height: auto;
    background-repeat: repeat-x;*/
}



/*<-----------------video---------------------------->*/
.videoheading h3 {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    height: 400px;
    max-height: 400px
}

.videoheading hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
    position: absolute;
    width: 30%;
    top: 54%;
    right: 45%;
}

section#video {
    background-color: #000;
    padding: 50px 0;
}

hr {
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #000;
}


/*<-----------------location---------------------------------------->*/

#location h3.text-center span {
    color: #000;
    font-size: 30px;\
    font-weight: bold;
}

#ContactForm .form-control{
    background-color: #000;
    background-image: none;
        color: #fff;
    /*border-bottom: 1px solid #fff;*/
    border-bottom: 1px solid #fff !important;
    border-color: #000;
}

#ContactForm .input-group{
    text-align: left;
}

#ContactForm {
    background-color: #000;
    padding: 20px 40px !important;
    margin-top: 0px;
    border-radius: 20px;
}

.locationimg img{
    height: 100%;
}


.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
 cursor: pointer;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 280px;
}
.menu-opener {
    background: #fff;
    z-index: 999;

    position: fixed;
    box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.1)
}

.menu-opener-inner {
    background: #7dc145;
    height: 5px;
    margin-left: 222px;
    margin-top: 50px;
    width: 40px;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: #7dc145;
  content: '';
  display: block;
  height: 5px;
 width: 40px;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu-opener:active {
    background: #fff;
    z-index: 999;
    /*border-right: 1px solid #000 !important;*/
}

.menu {
  /*background: #fff; */
    color: transparent;
    height: 100px;
    position: absolute;
    top: 0;
    left: 1%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 0rem;
    z-index: -1;
}
.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
  z-index: 99
}
.menu.active .menu-link {
color: #000;
    text-decoration: none;
    font-weight: 500;
}

.menu-inner {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: fixed;
        height: 100px;    list-style-type: none;
    margin: 0;
    margin-left: 267px;
    padding: 0;
    width: 60%;
}

#inquiryForm .col-lg-2 {
    width: 13.666667%;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 15px;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}
