<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/Images/AdaniHousing/favicon.png" />
    <title>Adani Housing</title>
    <!-- Bootstrap core CSS -->
    <link href="/styles/AdaniHousing/login/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async="" defer=""></script>
    <!-- Custom styles for this template -->
    <link href="/styles/AdaniHousing/login/custom.css" rel="stylesheet">
    <link href="/styles/AdaniHousing/login/custom-responsive.css" rel="stylesheet">
    <link href="/styles/AdaniHousing/login/owl.carousel.css" rel="stylesheet">
    <link href="/styles/AdaniHousing/login/owl.theme.default.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    @Html.Sitecore().Placeholder("main")

    <!-- Loader -->
    <div id="dloader" class="loader-wrapper" style="display:none;">
        <div class="loader">
            <p>Loading</p>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Loader -->
    <!--Core JavaScript
        ================================================== -->
    <script src="/scripts/AdaniHousing/login/jquery.min.js"></script>
    <script src="/scripts/AdaniHousing/login/popper.min.js"></script>
    <script src="/scripts/AdaniHousing/login/bootstrap.min.js"></script>
    <script src="/scripts/AdaniHousing/login/owl.carousel.min.js"></script>
    <script src="/scripts/AdaniHousing/login/Chart.min.js"></script>

    <!-- Custom JavaScript
    ================================================== -->
    <script src="/scripts/AdaniHousing/login/custom.js"></script>
    <script src="/scripts/AdaniHousing/login/login.js"></script>
</body>
</html>
