@model Sitecore.Feature.Media.Models.EventVideoModel

<div class="media-banner">
    @if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.LinkType) && Model.LinkType.ToLower() != "external")
        {
            <video controls autoplay loop poster="@Model.VideoImagePath" class="media-banner-img play-img"  preload="metadata">
                <source src="@Model.VideoPath" type="video/mp4">
            </video>
        }
        else
        {
            <object class="media-banner-img play-img" data="@Model.VideoPath">
            </object>

        }
    }

</div>
