@charset "utf-8";
@import url(portaloverride.min.css);
.inrBanner, .inrBanner img, .row {
	width: 100%
}
.arrowDown:after, .arrowUp:after, .circle:after, .clearfix:after, .simpleList li:before {
	content: ''
}
* {
	outline: 0
}
@font-face {
	font-family: Adani_Regular;
	src: url(/Assets/WesternTransmission/fonts/regular/Adani_Regular.eot);
	src: local('☺'), url(/Assets/WesternTransmission/fonts/regular/Adani_Regular.woff) format('woff'), url(/Assets/WesternTransmission/fonts/regular/Adani_Regular.ttf) format('truetype'), url(/Assets/WesternTransmission/fonts/regular/Adani_Regular.svg) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Adani Light';
	src: url('/Assets/WesternTransmission/fonts/light/Adani Light.eot');
	src: local('☺'), url('/Assets/WesternTransmission/fonts/light/Adani Light.woff') format('woff'), url('/Assets/WesternTransmission/fonts/light/Adani Light.ttf') format('truetype'), url('/Assets/WesternTransmission/fonts/light/Adani Light.svg') format('svg');
	font-weight: 300;
	font-style: normal
}
@font-face {
	font-family: Conv_Adani_ExtraLight;
	src: url(/Assets/WesternTransmission/fonts/extraLight/Adani_ExtraLight.eot);
	src: local('☺'), url(/Assets/WesternTransmission/fonts/extraLight/Adani_ExtraLight.woff) format('woff'), url(/Assets/WesternTransmission/fonts/extraLight/Adani_ExtraLight.ttf) format('truetype'), url(/Assets/WesternTransmission/fonts/extraLight/Adani_ExtraLight.svg) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: Conv_Adani_Medium;
	src: url(/Assets/WesternTransmission/fonts/medium/Adani_Medium.eot);
	src: local('☺'), url(/Assets/WesternTransmission/fonts/medium/Adani_Medium.woff) format('woff'), url(/Assets/WesternTransmission/fonts/medium/Adani_Medium.ttf) format('truetype'), url(/Assets/WesternTransmission/fonts/medium/Adani_Medium.svg) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Conv_Adani SemiBold';
	src: url('/Assets/WesternTransmission/fonts/semiBold/Adani SemiBold.eot');
	src: local('☺'), url('/Assets/WesternTransmission/fonts/semiBold/Adani SemiBold.woff') format('woff'), url('/Assets/WesternTransmission/fonts/semiBold/Adani SemiBold.ttf') format('truetype'), url('/Assets/WesternTransmission/fonts/semiBold/Adani SemiBold.svg') format('svg');
	font-weight: 400;
	font-style: normal
}
body, html {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	position: relative;
	font-family: Adani_Regular;
	font-size: 15px
}
article, aside, field, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, hgroup, input, label, li, nav, p, section, textarea, ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 400
}
a:link, a:visited {
	text-decoration: none
}
img {
	border: 0;
	display: inline-block
}
.left {
	float: left
}
.right {
	float: right
}
.clear {
	clear: both
}
.center {
	text-align: center
}
.innerPgConten, .justify {
	text-align: justify
}
.normalList li {
	list-style: disc
}
.normalList {
	padding-left: 20px
}
#contenPort, #mainContainer {
	padding: 0;
	position: relative
}
.fontLight {
	font-family: 'Adani Light'
}
.fontRegular, h1 {
	font-family: Adani_Regular
}
.mrgTp0 {
	margin-top: 0!important
}
.mrgTp5 {
	margin-top: 5px!important
}
.mrgTp10 {
	margin-top: 10px!important
}
.mrgTp15 {
	margin-top: 15px!important
}
.mrgTp20 {
	margin-top: 20px!important
}
.mrgTp25 {
	margin-top: 25px!important
}
.mrgTp30 {
	margin-top: 30px!important
}
.mrgTp35 {
	margin-top: 35px!important
}
.mrgTp40 {
	margin-top: 40px!important
}
.mrgTp45 {
	margin-top: 45px!important
}
.lineHgt20 {
	line-height: 20px
}
.lineHgt21 {
	line-height: 21px
}
.lineHgt23 {
	line-height: 23px
}
.colOrange {
	color: #ed6e36
}
#mainContainer {
	margin: 0;
	width: 100%
}
.clearfix:after {
	display: block;
	height: 0;
	visibility: hidden;
	clear: both
}
.row {
	max-width: 980px;
	margin: 0 auto;
	position: relative
}
#contenPort {
	margin: 0
}
.font12 {
	font-size: 12px
}
.font14 {
	font-size: 14px
}
.font15 {
	font-size: 15px
}
.font16 {
	font-size: 16px
}
.font18 {
	font-size: 18px
}
.font22 {
	font-size: 22px
}
h1 {
	font-size: 32px;
	margin-bottom: 40px;
	color: #202020;
	letter-spacing: -1px
}
.btnBorder a, .btnNormal a {
	padding: 0 15px;
	line-height: 28px;
	font-family: 'Adani Light';
	z-index: 5;
	display: inline-block;
	font-size: 14px;
	position: relative
}
.btnBorder a {
	border: 1px solid rgba(148,148,148,.5);
	color: #454545
}
.btnBorder a:hover {
	background: #7e5999;
	color: #fff;
	border: 1px solid #fff
}
.btnNormal a {
	border: 1px solid rgba(148,148,148,.5);
	color: #454545
}
.btnNormal a:hover {
	background: #7e5999;
	color: #fff;
	border: 1px solid #fff
}
.gryBg {
	background: #f3f4f5
}
.inrBanner img {
	display: block
}
.innerPgConten {
	padding: 30px 0 50px;
	color: #323232;
	font-size: 14px;
	line-height: 15px
}
.innerPgConten h1 {
	font-family: "Adani Light";
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	margin-bottom: 30px;
	text-align: left;
	color: #202020
}
.accordion li .accordion-head, .accordion li .accordion-panel, .breadCum li, .btnDownload_inv a, .investList li a, p, ul.resp-tabs-list {
	font-family: 'Adani Light'
}
.breadCum {
	background: #ececec
}
.breadCum ul {
	padding: 13px 0
}
.breadCum li {
	display: inline-block;
	color: #000;
	font-size: 15px
}
.breadCum li a {
	color: #000
}
.breadCum li.breadArrow {
	margin: 0 5px
}
.breadCum li a:hover {
	text-decoration: underline
}
.breadCum li span {
	color: #8d64aa
}
.subHead {
	font-size: 25px;
	margin-bottom: 15px
}
.subHead_second {
	font-size: 22px;
	margin-bottom: 10px;
	color: #ed6e36
}
.subHead_second_grey {
	font-size: 22px;
	margin-bottom: 10px;
	color: #323232
}
.simpleList {
	margin: 10px 0 0
}
.simpleList li {
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,.2);
	padding: 4px 0 3px 4px
}
.simpleList li:before {
	position: absolute;
	top: 8px;
	left: 0;
	border-left: none;
	border-bottom: none;
	width: 7px;
	height: 7px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-khtml-transform: rotate(45deg)
}
.simpleList li:last-child {
	border-bottom: none
}
.lifted:after, .lifted:before {
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0,.7);
	-moz-box-shadow: 0 15px 10px rgba(0,0,0,.7);
	box-shadow: 0 15px 10px rgba(0,0,0,.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg)
}
.lifted:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg)
}
.noBanner {
	background: url(/Assets/WesternTransmission/images/simpleBg.png) top center no-repeat;
	padding-top: 155px
}
.accordion {
	margin: 0 0 20px;
	padding: 0;
	list-style-type: none
}
.accordion li:last-child {
	margin-bottom: 0
}
.accordion li .accordion-head {
	cursor: pointer;
	padding: 7px 15px;
	color: #fff;
	line-height: normal;
	position: relative;
	font-size: 22px;
	background: #7e5999;
	font-weight: 300
}
.accordion li .accordion-head i {
	position: absolute;
	top: 8px;
	right: 12px
}
.accordion li .accordion-panel {
	border-top: 0;
	padding: 0;
	background: #f1f1f1
}
.accordion li .accordion-panel .acrrodPd {
	padding: 20px 15px
}
.accordion li .plus {
	position: relative;
	width: 16px;
	height: 16px;
	margin-top: 3px;
	background: url(/Assets/WesternTransmission/images/icons/icon_plus.png) no-repeat
}
.accordion li .minus {
	position: relative;
	width: 16px;
	height: 3px;
	background: url(/Assets/WesternTransmission/images/icons/icon_minus.png) no-repeat;
	margin-top: 10px
}
.scrollBar {
	min-height: 200px;
	max-height: 400px
}
.nicescroll-rails {
	width: 15px!important
}

@media screen and (max-width:1024px) {
.innerPgConten {
	padding-left: 10px;
	padding-right: 10px
}
.noBanner {
	padding-top: 105px
}
}

@media screen and (max-width:768px) {
.breadCum ul {
	padding: 13px 10px
}
}

@media screen and (max-width:760px) {
.noBanner {
	padding-top: 35px
}
}

@media screen and (max-width:640px) {
h1 {
	font-size: 30px
}
.darkGryBg {
	padding: 15px
}
.btnDownload a {
	font-size: 17px
}
.accordion li .accordion-head {
	padding: 10px;
	font-size: 21px
}
.breadCum {
	background: #ececec
}
}
.vidClose, .video {
	background: #fff;
	top: 0;
	right: 0
}

@media screen and (max-width:400px) {
.btnDownload a {
	font-size: 15px
}
}
.video {
	-moz-transform: translate(0, -100%);
	-webkit-transform: translate(0, -100%);
	position: fixed;
	z-index: 1510;
	display: none;
	transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	left: 0;
	bottom: 0;
	padding: 10px;
	border-radius: 3px
}
.vidClose {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	color: #9873b2;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	border: 2px solid #9873b2;
	z-index: 500
}
.videoAct {
	visibility: visible;
	-moz-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-khtml-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0)
}
.video video {
	z-index: 0
}
.priceCurrent, .priceHight, .priceLow, .priceOpen {
	font-size: 12px;
	font-style: normal;
	padding-left: 5px
}
.circle {
	position: relative;
	margin-right: 10px
}
.circle:after {
	position: absolute;
	top: 4px;
	left: 0;
	width: 6px;
	height: 6px;
	background: red;
	border-radius: 50%
}
.priceCurrent {
	color: #159a31
}
.priceOpen {
	color: #8d64aa
}
.priceOpen .circle:after {
	background: #8d64aa
}
.priceHight {
	color: #c61212
}
.priceLow {
	color: #e8920a
}
.arrowUp {
	position: relative;
	margin-right: 15px
}
.arrowUp:after {
	position: absolute;
	top: 0;
	left: 0;
	border: 5px solid transparent;
	border-bottom: 5px solid #c61212
}
.arrowDown {
	position: relative;
	margin-right: 15px
}
.arrowDown:after {
	position: absolute;
	top: 5px;
	left: 0;
	border: 5px solid transparent;
	border-top: 5px solid #e8920a
}
.sept {
	background: rgba(50,50,50,.2);
	margin: 20px 0;
	height: 1px
}
.shadow:after, .shadow:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 50px;
	z-index: -1;
	bottom: 9px
}
.shadow:before {
	left: 3px;
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0,.4);
	-moz-box-shadow: 0 15px 10px rgba(0,0,0,.4);
	box-shadow: 0 15px 10px rgba(0,0,0,.4);
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	transform: rotate(-6deg)
}
.shadow:after {
	right: 3px;
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0,.4);
	-moz-box-shadow: 0 15px 10px rgba(0,0,0,.4);
	box-shadow: 0 15px 10px rgba(0,0,0,.4);
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	transform: rotate(6deg)
}
.imgBlk, .imgBlk img {
	width: 100%
}
.width50 {
	width: 49%
}
.peopleList {
	margin: 25px 0 0
}
.peopleList h2 {
	font-size: 25px;
	color: #7e5999
}
.peopleListBox {
	float: left;
	max-width: 315px;
	width: 100%;
	position: relative;
	margin: 20px 5px 10px
}
.peopleListBox.shadow:after, .peopleListBox.shadow:before {
	bottom: 9px
}
.peopleListBlk {
	border: 1px solid #3d3e40;
	position: relative;
	overflow: hidden
}
.peopleListBlk :after, .peopleListBlk :before {
	content: "";
	position: absolute;
	z-index: -2
}
.peopleListBlk img {
	width: 100%;
	display: block
}
.peopleListBlk .peopleList_HovBg {
	background: rgba(42,42,42,.7);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -44px;
	padding: 10px 15px;
	transition: all .2s ease
}
.peopleList_HovBg h3 {
	font-size: 26px;
	color: #fff;
	line-height: 32px
}
.peopleList_HovBg .btnLearn a {
	float: right;
	background: #8c69a4;
	border-radius: 5px;
	max-width: 115px;
	width: 100%;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-top: 10px
}
.peopleListBlk:hover .peopleList_HovBg {
	bottom: 0
}

@media screen and (max-width:640px) {
.width50 {
	width: 100%
}
.peopleList .peopleListBox {
	float: none;
	max-width: 330px;
	width: 100%;
	margin-left: auto;
	margin-right: auto
}
.peopleListBlk h3 {
	font-size: 20px
}
.peopleListBox:nth-child(3n+1) {
	margin-left: auto
}
.peopleListBox:nth-child(3n+0) {
	margin-right: auto
}
}
.btnExcel a {
	background: url(/Assets/WesternTransmission/images/icons/icon_excel.png) no-repeat;
	display: block;
	line-height: 30px;
	color: #606060;
	padding: 0 0 0 40px;
	font-size: 14px;
	margin: 10px 0
}
.btnExcel a:hover {
	color: #ed6e36
}
.bgWht {
	background: #fff;
	padding: 20px
}
.casestudiesList {
	margin: 20px 0 0;
	position: relative;
	z-index: 500
}
.casestudiesList h2 {
	font-size: 22px;
	margin-top: 25px
}
.casestudiesBox {
	float: left;
	max-width: 320px;
	position: relative;
	margin: 20px 5px 10px
}
.casestudiesBox.shadow:after, .casestudiesBox.shadow:before {
	bottom: 12px
}
.casestudiesBlk {
	border: 1px solid #000;
	position: relative;
	overflow: hidden
}
.casestudiesBox:nth-child(3n+2) {
	margin-left: 0
}
.casestudiesBox:nth-child(3n+1) {
	margin-right: 0
}
.casestudiesBlk:after, .casestudiesBlk:before {
	content: "";
	position: absolute;
	z-index: -2
}
.casestudiesBlk img {
	width: 100%;
	display: block
}
.casestudiesBlk .casestudiesHovBg {
	background: rgba(42,42,42,.9);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	padding: 10px 15px;
	transition: all .2s ease
}
.casestudiesHovBg h3 {
	font-size: 20px;
	color: #fff;
	line-height: 22px;
	text-align: left
}
.casestudiesHovBg .btnDownload a, .casestudiesHovBg .btnView a {
	max-width: 85px;
	line-height: 35px;
	margin-top: 20px;
	font-size: 15px;
	width: 100%;
	color: #fff
}
.casestudiesHovBg .btnDownload a {
	background: url(/Assets/WesternTransmission/images/icons/icon_download_small.png) 7px 50% no-repeat #7e5999;
	float: right;
	padding: 0 10px 0 33px
}
.casestudiesHovBg .btnView a {
	background: url(/Assets/WesternTransmission/images/icons/icon_caseStudy.png) 7px 50% no-repeat rgba(0,0,0,.7);
	border: 1px solid rgba(255,255,255,.2);
	float: left;
	padding: 0 15px 0 33px;
	margin-right: 10px
}
.casestudiesBlk:hover .casestudiesHovBg {
	bottom: 0
}
.casestudiesHovBg .btnCaseStudy a {
	background: url(/Assets/WesternTransmission/images/icons/icon_caseStudy.png) no-repeat;
	padding: 0 0 0 30px;
	color: #fff;
	margin: 5px 0 0;
	display: block
}

@media screen and (max-width:800px) {
.casestudiesBox {
	float: left;
	margin: 40px 5px 0
}
}

@media screen and (max-width:640px) {
.casestudiesBox {
	float: none;
	margin: 20px auto 0
}
.casestudiesBox:nth-child(3n+2) {
	margin-left: auto
}
.casestudiesBox:nth-child(3n+1) {
	margin-right: auto
}
.innerPgConten h1 {
	font-size: 30px;
	line-height: 32px
}
}
p, ul.resp-tabs-list {
	margin: 0;
	padding: 0
}
.resp-tabs-list li {
	font-size: 23px;
	display: inline-block;
	padding: 10px 0;
	margin: 0;
	list-style: none;
	cursor: pointer;
	float: left;
	border-top: 1px solid #a44820;
	border-bottom: 1px solid #a44820;
	border-right: 1px solid #a44820;
	text-align: center;
	line-height: 24px
}
.resp-tabs-list li:first-child {
	border-left: 1px solid #a44820
}
.resp-tabs-container {
	padding: 0;
	clear: left;
	margin: 0
}
h2.resp-accordion {
	cursor: pointer;
	display: none
}
.resp-tab-content {
	display: none
}
.resp-accordion-active, .resp-content-active, .resp-easy-accordion h2.resp-accordion {
	display: block
}
.resp-tab-active {
	border-bottom: none;
	background-color: #a44820!important
}
.resp-tab-content {
	background: #fff;
	color: #333;
	padding: 10px
}
h2.resp-accordion {
	font-size: 18px;
	border: 1px solid #a44820;
	text-align: left;
	line-height: 19px;
	margin: 0;
	padding: 10px 15px;
	background: 0 0
}
h2.resp-tab-title:last-child {
	background: #00f
}
h2.resp-tab-active {
	border-bottom: 0 solid #a44820!important;
	margin-bottom: 0!important;
	padding: 10px 15px!important;
	background: #DBDBDB
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #a44820
}
.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #a44820
}
.resp-jfit {
	width: 100%;
	margin: 0
}
.resp-tab-content-active {
	display: block;
	margin-bottom: 8px
}
.resp-arrow {
	width: 9px;
	height: 8px;
	float: right;
	margin-top: 5px;
	border: 1px solid transparent;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-khtml-transform: rotate(45deg)
}
h2.resp-tab-active span.resp-arrow {
	width: 8px;
	height: 9px;
	margin-top: 4px;
	border: 1px solid transparent;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-khtml-transform: rotate(45deg)
}

@media only screen and (max-width:768px) {
ul.resp-tabs-list {
	display: none
}
h2.resp-accordion {
	display: block;
	margin-bottom: 5px
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: 100px;
	clear: none
}
.resp-accordion-closed {
	display: none!important
}
.resp-vtabs .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1!important
}
}
.investList {
	margin: 0
}
.investList li {
	display: inline;
	float: left
}
.investList li a {
	position: relative;
	background: #757575;
	line-height: 17px;
	border: 1px solid #757575;
	float: left;
	width: 128px;
	text-align: center;
	color: #fff;
	margin: 0 4px 8px;
	font-size: 14px;
	overflow: hidden;
	padding: 15px 0
}
.resourceContenBg .resp-tabs-list li:first-child, .resourcesContenBg .resp-tabs-list li:first-child {
	border-left: 1px solid #036327
}
.resourceContenBg .resp-tabs-list li, .resourcesContenBg .resp-tabs-list li {
	border-top: 1px solid #036327;
	border-bottom: 1px solid #036327;
	border-right: 1px solid #036327
}
.investList li a:after, .investList li a:before {
	position: absolute;
	content: '';
	left: 0;
	width: 100%;
	height: 100%
}
.investList li a:before {
	top: 0;
	background: rgba(140,105,164,.8);
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease
}
.investList li a:after {
	top: -110%;
	background: url(/Assets/WesternTransmission/images/icons/icon_download.png) 50% 50% no-repeat;
	transition: top .2s ease
}
.investList li a:hover:before {
	opacity: 1;
	visibility: visible
}
.investList li a:hover:after {
	top: 8%
}
.btnDownload_inv a {
	background: url(/Assets/WesternTransmission/images/icons/icon_download.png) 10px 7px no-repeat #7f599a;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	line-height: 38px;
	padding: 0 10px 0 48px;
	font-weight: 300;
	font-size: 18px
}
.resourceContenBg .resp-tab-active, .resourcesContenBg .resp-tab-active {
	background: #036327!important
}
.simpleList li {
	list-style-image: url(/Assets/WesternTransmission/images/icons/icon_listPurple.png)!important;
	margin-left: 20px
}
.resourceContenBg .resp-tabs-list li {
	width: 24.85%
}
.resourcesContenBg .resp-tabs-list li {
	width: 24.85%
}
.logisticsContenBg .resp-tabs-list li {
	width: 24.85%;
	border-right: 1px solid #13317a;
	border-top: 1px solid #13317a;
	border-bottom: 1px solid #13317a
}
.logisticsContenBg .resp-tabs-list li:first-child {
	border-left: 1px solid #13317a
}
.logisticsContenBg .resp-tab-active {
	background: #13317a!important
}
.agriContenBg .resp-tabs-list li:first-child {
	border-left: 1px solid #753500
}
.agriContenBg .resp-tabs-list li {
	width: 24.85%;
	border-right: 1px solid #753500;
	border-top: 1px solid #753500;
	border-bottom: 1px solid #753500
}
.agriContenBg .resp-tab-active {
	background: #753500!important
}
.realestateContenBg .resp-tabs-list li:first-child {
	border-left: 1px solid #2f3566
}
.realestateContenBg .resp-tabs-list li {
	width: 24.85%;
	border-right: 1px solid #2f3566;
	border-top: 1px solid #2f3566;
	border-bottom: 1px solid #2f3566
}
.realestateContenBg .resp-tab-active {
	background: #2f3566!important
}
.resourceContenBg, .resourcesContenBg {
	background: url(/Assets/WesternTransmission/images/business/contenbg_resource.png) top left repeat-x #429461!important
}
.logisticsContenBg {
	background: url(/Assets/WesternTransmission/images/business/contenbg_logistics.png) top left repeat-x #639!important
}
.agriContenBg {
	background: url(/Assets/WesternTransmission/images/business/contenbg_agri.png) top left repeat-x #7a3705!important
}
.realestateContenBg {
	background: url(/Assets/WesternTransmission/images/business/contenbg_realEstate.png) top left repeat-x #0b7d9a!important
}
.class_1 {
	width: 100%!important
}
.class_2 {
	width: 49.5%!important
}
.class_3 {
	width: 33.3%!important
}
/*footer.min.css*/
.ftrBtmLink a, .ftrCopy {
	font-weight: 300
}
.contactBlk select, select {
	text-overflow: '';
	-moz-appearance: none
}
.footerPort {
	color: #454545;
	padding: 30px 0 0;
	box-shadow: 0 5px 25px rgba(147,147,147,.3) inset;
	border-top: 1px solid #fff
}
.footerPort .ftrTopPanel {
	color: #333;
	position: relative
}
.ftrTopPanel h4 {
	font-size: 23px;
	padding: 10px 0;
	position: relative
}
.ftrTopPanel .sitemapBox {
	float: left;
	width: 65%;
	overflow: hidden
}
.sitemapList {
	float: left;
	margin: 0 0 20px;
	width: 33.33%
}
.sitemapList h5 {
	font-size: 23px;
	color: #ed6e36
}
.sitemapList ul {
	margin: 0
}
.sitemapList ul li a {
	font-size: 21px;
	color: #7e5999
}
.sitemapList li ul {
	margin-top: 5px
}
.sitemapList li ul li a {
	color: rgba(69,69,69,.6);
	font-size: 14px;
	line-height: 20px;
	display: inline-block
}
.sitemapList li a:hover {
	text-decoration: underline
}
.ftrTopPanel .contactBox {
	float: right;
	width: 35%
}
.contactBox .contactPd {
	max-width: 320px;
	width: 100%;
	float: right;
	overflow: hidden
}
.contactBox .contactBlk {
	padding-bottom: 10px
}
.contactBlk h5 {
	font-size: 21px;
	margin-bottom: 8px;
	color: #7e5999
}
.contactBlk .inputDes, .contactBlk .textareaDes {
	background: #f0f0f0;
	border: 1px solid #f0f0f0;
	color: rgba(119,119,119,.6)!important;
	width: 92.5%;
	font-size: 16px;
	font-family: Adani_Regular
}
.contactBlk .inputDes {
	height: 42px;
	line-height: 42px;
	padding: 0 10px;
	margin: 0 0 7px
}
.contactBlk .textareaDes {
	padding: 10px;
	height: 100px
}
.contactBlk .btnSend a {
	background: #7e5999;
	line-height: 42px;
	display: block;
	width: 91.25%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-family: 'Adani Light';
	padding: 0 13px;
	margin-top: 3px
}
.contactBlk .socialBox {
	margin: 10px 0;
	font-size: 20px;
	color: #8e6fa5
}
.ftrBottmPnl, .ftrBtmLink, .ftrBtmLink a {
	color: rgba(255,255,255,.5)
}
.socialBox .ftrSocial {
	margin: 5px 0 0
}
.ftrSocial a {
	display: inline-block
}

@media screen and (max-width:800px) {
.ftrTopPanel .contactBox, .ftrTopPanel .sitemapBox {
	width: 100%;
	float: none
}
.contactBox .contactBlk {
	float: none;
	padding: 10px 0
}
.ftrHandle {
	display: none
}
.ftrTopPanel h4:after {
	position: absolute;
	content: '';
	top: 50%;
	right: 0;
	border: 2px solid transparent;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	width: 10px;
	height: 10px;
	margin-top: -10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	display: block
}
.ftrTopPanel h4.ftrTabAct:after {
	transform: rotate(-135deg)!important;
	-webkit-transform: rotate(-135deg)!important;
	top: 70%
}
.contactBox .contactPd {
	padding: 0 22px;
	max-width: 100%;
	width: auto;
	float: none
}
}

@media screen and (max-width:640px) {
.ftrTopPanel .sitemapBox, .sitemapList {
	float: none;
	width: 100%
}
.footerPort .ftrTopPanel {
	padding-bottom: 30px
}
.sitemapList {
	margin: 0 0 20px
}
.sitemapList ul li {
	text-align: center
}
.ftrTopPanel .contactBox {
	float: none;
	width: 100%;
	margin-top: 15px;
	display: none
}
}
.ftrBottmPnl {
	font-size: 13px;
	background: #2c2c2c
}
.ftrCopy {
	float: left
}
.ftrBtmLink {
	float: right
}
.ftrBtmLink a:hover {
	color: #7E5999
}
.sitemapPd {
	padding: 0 10px
}
.ftrBottmPnl {
	padding: 10px
}
select::-ms-expand {
display:none
}
select {
	text-indent: .01px
}
@-moz-document url-prefix() {
.btnSend {
margin-top:8px
}
}

@media screen and (max-width:950px) {
.contactBlk .select-style {
	width: 95%!important
}
}

@media (min-width:750px) and (max-width:780px) {
.contactBlk .btnSend a {
	width: 92.25%
}
}
.contactBox .contactPd {
	padding: 0
}
.contactBlk select {
	-webkit-appearance: none;
	text-indent: 1px
}
.contactBlk .select-style {
	background: url(/Assets/WesternTransmission/images/icons/purple_arrow.png) 93% 54% no-repeat #F0F0F0;
	border: 1px solid #F0F0F0;
	margin-bottom: 7px;
	width: 99%
}
.footerPort .select-style select {
	width: 100%;
	border: none;
	font-size: 16px;
	color: rgba(69,69,69,.4);
	font-family: Adani_Regular;
	background-image: none;
	-moz-appearance: none;
	padding: 10px 8px;
	background-color: transparent;
	box-shadow: none
}
/*header.min.css*/
.headerBox, .headerPort {
	width: 100%;
	position: relative
}
.headerPort {
	z-index: 900;
	box-shadow: 0 3px 2px rgba(0,0,0,.3)
}
.headerBox {
	max-width: 1024px;
	margin: 0 auto;
	padding: 10px 0 0
}
.hdrStockPanel {
	padding: 0 15px;
	font-size: 15px;
	width: 95%;
	text-align: right;
	color: #424242;
	position: absolute;
	top: -12px;
	right: 0
}
.hdrStockPanel_mbl {
	display: none;
	padding: 10px 0 6px;
	font-size: 15px;
	text-align: left;
	color: #424242;
	background: #f3f3f3
}
.stockTag {
	float: left;
	width: 100px;
	padding-left: 12px
}
.hdrStockPanel_mbl .marqueeTag {
	float: none;
	width: auto;
	overflow: hidden
}
.navPanel {
	background: #fff;
	margin: 17px 0 0;
	width: 100%
}
.headerPort .logo a {
	float: left;
	background: url(/Assets/WesternTransmission/images/logo.png) no-repeat;
	margin: 4px 0 25px 20px;
	max-width: 123px;
	width: 100%;
	height: 39px;
	text-indent: -9999px;
	transition: all .2s ease
}

@media screen and (min-width:981px) {
.headerPort .logo a {
	margin: 4px 0 25px
}
}
.logoText {
	display: none
}
.navPanel .navBlk {
	width: 100%;
	margin: 0 auto
}
.hdrSearchBox {
	position: relative;
	width: 17px;
	height: 17px;
	float: right;
	margin: 36px 10px 0 0
}
.hdrSearchBox a {
	display: block;
	width: 17px;
	height: 17px;
	background: url(/Assets/WesternTransmission/images/icons/iconSearch.png) no-repeat;
	text-indent: -9999px;
	margin-top: 4px
}
.hdrSearchBox .hdrSearchPanel {
	position: absolute;
	top: 25px;
	right: -10px;
	width: 270px;
	background: rgba(156,156,156,.7);
	border-radius: 0 0 5px 5px;
	padding: 5px;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	margin-top: 2px
}
.hdrSearchPanel_act {
	top: 35px!important;
	visibility: visible!important;
	opacity: 1!important
}
.hdrSearchPanel .srchInput {
	border: 1px solid #fff;
	background: #fff;
	outline: 0;
	padding: 0 5px;
	width: 208px;
	height: 32px;
	-webkit-appearance: caret
}
.hdrSearchPanel .srchBtn {
	background: url(/Assets/WesternTransmission/images/icons/iconSearch.png) 50% 50% no-repeat #fff;
	width: 40px;
	height: 32px;
	border: 1px solid #fff;
	float: right;
	cursor: pointer;
	text-indent: -9999px
}
.hdrSearchBox .mbl_srchBtn {
	background: url(/Assets/WesternTransmission/images/icons/iconSearch.png) no-repeat;
	width: 18px;
	height: 21px;
	border: 1px solid #fff;
	float: right;
	cursor: pointer;
	margin: 7px 7px 0 0
}
.mbl_searchBox {
	display: none;
	position: absolute;
	top: 62px;
	left: 0;
	right: 0;
	z-index: 500;
	background: #fff;
	border: 5px solid #00679C
}

@media screen and (max-width:910px) {
.hdrSearchBox {
	margin-top: 27px
}
}
.headerDown {
	position: fixed!important;
	top: 0!important;
	left: 0
}
.headerDown .navPanel {
	margin-top: 0!important
}
.headerDown .logo a {
	background: url(/Assets/WesternTransmission/images/logo_mobile.png) no-repeat!important;
	height: 25px;
	margin-top: 12px;
	margin-bottom: 15px
}
.headerDown .mainNav {
	padding-top: 0
}
.headerDown .hdrSearchBox {
	margin-top: 18px
}
.headerDown .hdrStockPanel {
	top: -20px
}

@media screen and (max-width:640px) {
.hdrStockPanel {
	display: none
}
.hdrStockPanel_mbl {
	display: block
}
.navPanel {
	margin-top: 0
}
.headerPort .logo a {
	background: url(/Assets/WesternTransmission/images/logo_mobile.png) no-repeat!important;
	height: 25px;
	margin-top: 12px;
	margin-bottom: 15px
}
.headerDown .stic {
	display: none
}
.hdrSearchBox {
	margin-top: 18px
}
}

@media screen and (max-width :909px) {
.hdrSearchBox a {
	margin-top: 0
}
}
/*nav.min.css*/
#menu-toggle, .mainNav li {
	position: relative
}
.mainNav {
	float: right;
	padding: 21px 10px 0 0
}
.mainNav>li {
	display: inline-block;
	margin: 0
}
.mainNav>li>a {
	color: #474c4e;
	font-size: 15px;
	line-height: 33px;
	padding: 11px 15px 5px;
	text-decoration: none;
	border-bottom: 3px solid #fff;
	display: inline-block
}
.mainNav>li.current-menu-item>a, .mainNav>li:hover>a {
	color: #7e5999;
	background: #fff;
	border-bottom: 3px solid #7E5999
}
#menu-toggle {
	display: none;
	float: right;
	width: 25px;
	height: 20px;
	margin-right: 10px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	margin-top: 20px
}
#menu-toggle .lines {
	position: relative;
	height: 3px;
	background: #00679c;
	width: 25px;
	display: block;
	margin: 6px 0 0;
	transition: all .2s ease
}
#menu-toggle .lines:after, #menu-toggle .lines:before {
	content: '';
	position: absolute;
	top: -6px;
	left: 0;
	height: 3px;
	width: 100%;
	background: #00679c;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	transform-origin: .28571rem center 0;
	-webkit-transform-origin: .28571rem center 0;
	-moz-transform-origin: .28571rem center 0;
	-ms-transform-origin: .28571rem center 0;
	-o-transform-origin: .28571rem center 0
}
#menu-toggle .lines:after {
	top: 6px
}
.maneActive .lines {
	background: 0 0!important
}
.maneActive .lines:before {
	transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	-moz-transform: rotate3d(0, 0, 1, 45deg);
	-ms-transform: rotate3d(0, 0, 1, 45deg);
	-o-transform: rotate3d(0, 0, 1, 45deg)
}
.maneActive .lines:after {
	transform: rotate3d(0, 0, 1, -45deg);
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	-moz-transform: rotate3d(0, 0, 1, -45deg);
	-ms-transform: rotate3d(0, 0, 1, -45deg);
	-o-transform: rotate3d(0, 0, 1, -45deg)
}
.subMedia {
	margin-left: -75px
}

@media screen and (max-width:910px) {
#menu-toggle {
	display: block;
	margin-top: 28px
}
.headerDown #menu-toggle {
	margin-top: 20px
}
.mainNav {
	left: 0;
	display: none;
	float: none;
	position: absolute;
	width: 100%;
	background: #fff;
	top: 52px;
	z-index: 1000;
	padding: 7px 0 0
}
.mainNav>li {
	display: block;
	margin: 0;
	-webkit-transition: all .3s ease
}
.mainNav>li:nth-child(odd) {
	-webkit-transform: scale(.5) translateX(-100%);
	-moz-transform: scale(.5) translateX(-100%);
	-ms-transform: scale(.5) translateX(-100%);
	-o-transform: scale(.5) translateX(-100%)
}
.mainNav>li:nth-child(even) {
	-webkit-transform: scale(.5) translateX(100%);
	-moz-transform: scale(.5) translateX(100%);
	-ms-transform: scale(.5) translateX(100%);
	-o-transform: scale(.5) translateX(100%)
}
.navSlid {
	-webkit-transform: scale(1) translateX(0)!important;
	-ms-transform: scale(1) translateX(0)!important;
	-moz-transform: scale(1) translateX(0)!important;
	-o-transform: scale(1) translateX(0)!important
}
.mainNav>li>a {
	border-bottom: 1px solid rgba(0,0,0,.2);
	line-height: 45px;
	display: block;
	padding: 0 15px;
	position: relative;
	font-size: 18px
}
.mainNav>li.current-menu-item>a, .mainNav>li:hover>a {
	color: #7e5999;
	background: #fff;
	border-bottom: 1px solid #7E5999
}
.mainNav>li>a:after {
	position: absolute;
	content: '';
	top: 18px;
	right: 15px;
	border: 2px solid transparent;
	border-top: 2px solid #454545;
	border-right: 2px solid #454545;
	width: 9px;
	height: 9px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	border-radius: 3px
}
ul.sub-menu {
	display: none;
	left: 0;
	top: 0;
	padding-top: 0;
	position: relative;
	width: 100%;
	border: none;
	height: 0
}
ul.sub-menu>li>a {
	background-color: #f5f5f5;
	border-bottom: 1px solid rgba(0,0,0,.5);
	color: #333;
	display: block;
	line-height: 46px;
	padding: 0 12px
}
ul.sub-menu>li:first-child {
	border-top: none
}
}

@media screen and (max-width:760px) {
.mainNav {
	top: 52px
}
}

@media screen and (max-width:640px) {
#menu-toggle {
	margin-top: 20px
}
}
ul.mainNav .navBg {
	background: #fff;
	position: absolute;
	left: 0;
	width: 760px;
	height: 247px;
	padding: 0;
	top: 52px;
	display: none;
	z-index: 1500;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0) translateZ(0);
	box-shadow: 2px 3px 3px rgba(0,0,0,.3)
}
ul.mainNav .fourMenuItemHeight {
	height: 165px!important
}
ul.mainNav .fiveMenuItemHeight {
	height: 206px!important
}
ul.mainNav .fiveMenuItemHeightAboutUs {
	height: 204px!important
}
ul.mainNav .threeMenuItemAboutUsHeight {
	height: 164px!important
}
ul.mainNav .sixMenuItemHeight {
	height: 247px
}
ul.mainNav .fourMenuItemHeightAboutUs {
	height: 244px
}

@media screen and (min-width:1000px) and (max-width:1035px) {
ul.mainNav .navBg {
	width: 715px!important
}
}
ul.mainNav .navBgHeighThree {
	height: 164px!important
}
.navBg .prodImg {
	height: 140px;
	width: 140px;
	float: right;
	margin-right: 10px;
	margin-top: 10px
}
.navBg .navText {
	padding: 10px 20px 20px 10px;
	font-size: 13px;
	color: rgba(50,50,50,.8);
	margin: 0 165px 0 200px;
	font-family: 'Adani Light'
}
ul.mainNav .subNav {
	width: 190px;
	float: left;
	border-top: 1px solid rgba(0,0,0,.2);
	height: 247px
}
ul.mainNav .subNav>li>a {
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: #333;
	padding: 0 10px;
	margin: 0;
	line-height: 40px;
	font-size: 14px;
	position: relative
}
ul.mainNav .subNav>li.subLi_select>a {
	background: #8c69a4;
	color: #fff
}
ul.mainNav .subNav>li.subLi_select>a:after {
	position: absolute;
	content: '';
	top: 0;
	right: -11px;
	border-top: 20px solid transparent;
	border-left: 11px solid #8c69a4;
	border-bottom: 20px solid transparent;
	z-index: 500
}
ul.subNav .subNav_thirdBg {
	padding: 0;
	position: absolute;
	top: 0;
	left: 190px;
	display: none;
	width: 360px;
	height: 173px;
	font-family: 'Adani Light'
}
ul.mainNav .thirdNav, ul.thirdNav>li>.FourthNav {
	width: 200px;
	border-right: 1px solid rgba(0,0,0,.2)
}
.subNav_thirdBg p {
	padding: 15px 20px 20px;
	font-size: 13px;
	color: rgba(50,50,50,.8)
}
ul.mainNav .thirdNav>li>a, ul.thirdNav .FourthNav>li>a {
	padding: 0 10px 0 15px;
	margin: 0;
	line-height: 40px;
	font-size: 14px
}
ul.mainNav .thirdNav {
	border-left: 1px solid rgba(0,0,0,.2);
	border-top: 1px solid rgba(0,0,0,.2)
}
ul.mainNav .thirdNav>li>a {
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: #333
}
ul.mainNav .thirdNav>li.thirdLi_select>a {
	background: #a170c3;
	color: #fff
}
ul.mainNav .thirdNav>li.thirdLi_select>a:after {
	position: absolute;
	content: '';
	top: 0;
	right: -11px;
	border-top: 20px solid transparent;
	border-left: 11px solid #a170c3;
	border-bottom: 20px solid transparent;
	z-index: 500
}
ul.thirdNav>li>.FourthNav {
	position: absolute;
	left: 200px;
	top: 0;
	border-left: 1px solid rgba(0,0,0,.2);
	border-top: 1px solid rgba(0,0,0,.2);
	display: none
}
ul.thirdNav .FourthNav>li>a {
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: #333
}
ul.thirdNav .FourthNav>li>a:hover {
	background: #bf86e7;
	color: #fff
}
.subNav_thirdBgWithoutChild {
	max-width: 530px;
	float: left;
	padding: 15px 20px 20px;
	font-size: 13px;
	color: rgba(50,50,50,.8)
}

@media screen and (max-width:910px) {
ul.mainNav .navBg {
	display: none;
	opacity: 1;
	visibility: hidden
}
}
/*Home_New.css*/
.bxslider .bnrText, .forumPort .forumChairCorner, .forumPort .newsBlk, .hmBussPort h1 {
	font-family: 'Adani Light'
}
.fp-tableCell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	width: 100%
}
.section {
	display: table;
	table-layout: fixed;
	width: 100%
}
.section:first-child {
	margin-top: 0
}

@media only screen and (max-width:1155px) {
#menu {
	display: none
}
#frame {
	margin-left: 0!important
}
}
#menu {
	background: rgba(0,0,0,.6);
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	padding: 5px;
	position: fixed;
	right: 0;
	top: 30%;
	z-index: 999
}
#menu li a {
	border: 2px solid #fff;
	border-radius: 50px;
	display: block;
	height: 15px;
	margin: 10px;
	overflow: hidden;
	text-indent: -999px;
	width: 15px
}
#menu li.active a {
	height: 30px;
	background: #fff
}
#banner .item {
	position: relative;
	overflow: hidden
}
#banner .item img {
	display: block;
	width: 100%;
	height: auto
}
.bnrText h2, .bnrText p {
	background: rgba(0,0,0,.5);
	display: inline-block
}
.bxslider .bnrText {
	position: absolute;
	left: 15%;
	top: 35%;
	text-align: left;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	line-height: 22px;
	z-index: 100
}
.bnrText .textBlk {
	max-width: 980px;
	width: 100%;
	margin: 0 auto
}
.bnrText h2 {
	font-size: 40px;
	margin-bottom: 2px;
	padding: 13px 15px;
	color: #e76c3a
}
.bnrText p {
	padding: 15px;
	font-size: 24px
}
#hmBanner .bx-wrapper .bx-pager.bx-default-pager a {
	text-indent: -9999px;
	display: block;
	width: 7px;
	height: 7px;
	margin: 0 4px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #fff;
	background-color: transparent;
	overflow: hidden;
	position: relative
}
#hmBanner .bx-pager.bx-default-pager a::after {
	content: '';
	position: absolute;
	width: 9px;
	height: 9px;
	left: -1px;
	top: -1px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .3s ease;
	transition: transform .3s ease
}
#hmBanner .bx-wrapper .bx-pager.bx-default-pager a.active::after {
	-webkit-transform: scale(1)!important;
	-moz-transform: scale(1)!important;
	transform: scale(1)!important
}

@media screen and (max-width:768px) {
.bx-wrapper .bx-next, .bx-wrapper .bx-prev {
	background-size: 30px 58px!important
}
}

@media screen and (max-width:640px) {
.bx-wrapper .bx-controls-direction a, .bxslider .textBlk p {
	display: none
}
.bxslider .bnrText {
	left: 10px;
	top: 15%;
	right: 10px
}
.bxslider .bnrText h2 {
	font-size: 25px
}
}
.hmWeHelpPort {
	background: #ededed;
	text-align: left;
	height: 500px;
	padding-top: 20px
}
.hmWeHelpPort h1 {
	padding: 0 0 20px;
	margin-bottom: 0;
	text-align: center
}
.hmWeHelpPort .accord {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-image: linear-gradient(to bottom right, grey, grey);
	box-shadow: 0 0 5px #000
}
.accord ul {
	list-style: none
}
.accord li {
	position: relative;
	display: block;
	width: 19.9%;
	float: left;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	z-index: 0;
	-webkit-transform-origin: 0 0;
	overflow: hidden;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover
}
.accord li img {
	opacity: 1!important;
	height: 450px;
	left: -232px!important;
	display: block;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s
}
.accord li.active {
	width: 40%!important;
	background: red
}
.accord li.active img {
	left: -86px!important;
	opacity: 1
}
.accord li:hover img {
	opacity: 1
}
.accord li.posAb {
	width: 15%
}
.textPort {
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 15px 20px 0 15px;
	white-space: nowrap;
	color: #fff;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s
}
.image_title, .textPort p {
	color: rgba(255,255,255,.8)
}
.textPort p {
	white-space: normal;
	display: none;
	padding-bottom: 13px
}
.image_title, .textPortAct p {
	display: block
}
.textPortAct {
	bottom: 0
}
.textPort .arrowDownHelp {
	position: absolute;
	top: 25px;
	right: 25px;
	background: url(/Assets/WesternTransmission/images/icons/icon_downArrow_help.png) no-repeat;
	width: 16px;
	height: 19px
}
.image_title {
	text-decoration: none;
	font-size: 22px;
	margin-bottom: 7px
}

@media screen and (max-width:1024px) {
.hmWeHelpPort {
	padding: 0 10px
}
}

@media screen and (max-width:640px) {
.accord li.active {
	width: 100%!important;
	display: block!important
}
.accord li img {
	left: -300px!important
}
.accord li.active img {
	left: 0
}
.hmWeHelpPort {
	height: 400px!important;
	overflow: hidden;
	padding-right: 0;
	padding-left: 0
}
.accord li.posAb {
	width: 0;
	display: none
}
.textPort {
	bottom: 0;
	height: 38px
}
.textPort p {
	display: none
}
.accord li.active .image_title {
	display: block
}
.accord li.active .arrowDownHelp {
	transform: rotate(0)!important;
	-webkit-transform: rotate(0)!important;
	-moz-transform: rotate(0)!important;
	-ms-transform: rotate(0)!important
}
.textPort .arrowDownHelp {
	display: block!important;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg)
}
.image_title {
	display: none
}
}
.hmBussPort {
	padding: 25px 0;
	height: 500px
}
.hmBussPort .row {
	padding-top: 3em;
	padding-bottom: 3em
}
.hmBussPort h1 {
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 30px;
	color: #202020;
	font-size: 37px
}
.hmBussPort .bussBox {
	float: left;
	width: 100%
}
.bussBox .bussBlk {
	width: 85%;
	margin: 0 2em 0 auto;
	text-align: center;
	font-size: 15px;
	color: #454545
}
.bussBlk .icons {
	display: inline-block;
	margin: 0 auto
}
.bussBlk h2 {
	font-size: 23px;
	color: #000;
	margin: 7px 0 10px
}
.bussBlk .btnBorder a {
	margin: 20px 0
}

@media screen and (max-width:640px) {
.hmBussPort .bussBox {
	float: none;
	width: 100%;
	margin-bottom: 15px
}
}
.forumPort {
	background: #7f599a;
	position: relative
}
.forumPort:after, .forumPort:before {
	position: absolute;
	content: '';
	top: 0;
	background-color: #674580;
	width: 50%;
	height: 53px;
	z-index: 0
}
.forumPort:before {
	right: 0
}
.forumPort:after {
	left: 0
}
.forumPort .forumCol {
	float: left;
	width: 33.33%;
	position: relative;
	z-index: 5
}
.forumCol h3 {
	font-size: 20px;
	color: #fff;
	line-height: 53px;
	background: #674580;
	padding-left: 15px
}
.forumPort .forumBussBlk {
	max-width: 300px;
	width: 100%!important
}
.forumBussBlk .forumBussImg {
	background: url(/Assets/WesternTransmission/images/forumBuss.png) 15px 0 no-repeat;
	height: 155px;
	margin: 15px 0 0
}
.forumBussBlk .btnConnect a {
	background: #67457f;
	border: 1px solid rgba(148,148,148,.5);
	line-height: 30px;
	color: #fff;
	float: right;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 300;
	margin: 107px 12px 0 0
}
.forumPort .forumChairCorner {
	width: 50%!important;
	box-shadow: 0 -2px 4px rgba(151,151,151,.75) inset;
	background: #fff;
	min-height: 225px;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	color: #454545
}
.forumChairCorner .chairPd {
	padding: 15px 0 0 15px
}
.forumChairCorner h3 {
	background: #8d64aa;
	padding: 0 0 0 15px
}
.forumChairCorner .chairmanImg {
	position: absolute;
	right: 20px;
	bottom: -5px
}
.forumChairCorner .name {
	font-size: 18px;
	color: #674580;
	margin-top: 25px;
	margin-bottom: 15px
}
.name span {
	display: block;
	font-size: 12px;
	color: rgba(103,69,128,.7)
}
.forumPort .newsBlk {
	max-width: 470px;
	width: 100%;
	color: #fff;
	font-size: 13px;
	line-height: 19px
}
.newsBlk #news_carousel {
	margin: 5px 0 0
}
.newsBlk .newsPd {
	padding: 20px 20px 0
}
.newsList li {
	margin-bottom: 8px;
	list-style: inside
}
.newsList li a {
	color: #fff;
	padding: 0 0 0 5px
}
#news_carousel .btnRead a, .newsPd .btnRead a {
	background: #67457f;
	border: 1px solid rgba(148,148,148,.5);
	line-height: 30px;
	color: #fff;
	padding: 0 25px;
	font-weight: 300
}
.newsPd .btnRead a {
	float: left;
	font-size: 14px;
	margin: 12px 0 0
}
#news_carousel .date {
	font-size: 17px;
	margin-bottom: 5px
}
#news_carousel .btnRead a {
	float: right;
	font-size: 14px;
	margin: 15px 0 0
}
#news_carousel .owl-controls {
	position: absolute;
	width: 70px;
	display: block!important;
	top: -35px;
	right: -15px;
	background: #fff
}
#news_carousel .owl-next, #news_carousel .owl-prev {
	position: absolute;
	top: 0;
	width: 12px!important;
	right: 0;
	height: 18px;
	margin-top: 0;
	text-indent: -9999px;
	transition: all .2s ease;
	padding: 0
}
#news_carousel .owl-prev {
	background: url(/Assets/WesternTransmission/images/icons/ArrowWhite_prev.png) no-repeat;
	left: 0
}
#news_carousel .owl-next {
	background: url(/Assets/WesternTransmission/images/icons/ArrowWhite_next.png) no-repeat;
	right: 0
}

@media screen and (max-width:1023px) {
.forumPort .forumBussBlk, .forumPort .forumChairCorner, .forumPort .newsBlk {
	max-width: 100%;
	float: none
}
.forumBussBlk .forumBussImg {
	background-position: 30% 0
}
.forumBussBlk .btnConnect a {
	float: left;
	margin-left: 45%
}
.newsBlk .newsPd {
	padding: 20px
}
}

@media screen and (max-width:640px) {
.forumChairCorner .chairPd {
	float: left;
	max-width: 48%;
	padding: 15px 0 0 10px
}
.forumChairCorner .chairmanImg {
	position: static!important;
	max-width: 49%;
	float: right
}
.forumChairCorner .chairmanImg img {
	display: block
}
}

@media screen and (max-width:420px) {
.forumBussBlk .btnConnect a {
	float: left;
	margin-left: 50%
}
.forumChairCorner .chairPd {
	float: left;
	max-width: 100%;
	text-align: center;
	width: 100%
}
.forumChairCorner .chairmanImg {
	max-width: 100%;
	float: left;
	margin-left: 27%
}
}
.hmSustainPort {
	padding: 0 0 65px;
	background: url(/Assets/WesternTransmission/images/sustainBg_btm.png) 0 100% repeat-x #fff
}
.hmSustainPort .hmSustBlk {
	background: url(/Assets/WesternTransmission/images/sustainBg.png) repeat-x;
	padding-top: 38px
}
.hmSustainPort h1 {
	text-align: center;
	color: #454545;
	margin-bottom: 0
}
.hmSustainbility_desk {
	padding-bottom: 40px;
	margin-top: -16px
}
.hmSustainbility_desk .newFS {
	font-size: 24px!important
}
.hmSustainbility_desk .text_span_powerful {
	font-size: 14px;
	color: #8b8b8b!important;
	display: block;
	margin-top: 5px;
	max-width: 500px;
	left: 50%;
	margin-left: -250px
}
#carouselParent_82176 .mycanvas {
	display: none
}
.hmSustain_mblOwel_blk {
	display: none!important
}

@media screen and (max-width:640px) {
.hmSustainPort {
	padding: 0 0 15px;
	margin-bottom: 0
}
.hmSustainbility_desk {
	display: none!important
}
.hmSustain_mblOwel_blk {
	display: block!important;
	padding: 0 10px
}
#hmSustain_mblOwel {
	margin: 25px 0 0
}
#hmSustain_mblOwel .imgBox {
	max-width: 445px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden
}
.imgBox img {
	width: 100%
}
.imgBox h3 {
	background: rgba(0,0,0,.3);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	color: #fff
}
#hmSustain_mblOwel .owl-controls {
	margin-top: 10px!important
}
#hmSustain_mblOwel .owl-controls .owl-page span {
	background: #848080!important
}
#hmSustain_mblOwel .owl-controls .owl-page span:after {
	background: #fff!important
}
}
.grpShadow:after, .grpShadow:before {
	position: absolute;
	content: '';
	bottom: 15px;
	width: 50%;
	height: 50px;
	z-index: -1
}
.groupCompPort {
	background: #e9e9e9;
	padding: 25px 0 60px
}
.groupCompPort h1 {
	text-align: center;
	color: #000;
	margin-bottom: 25px
}
#groupWeb_carsol h4 {
	font-size: 14px;
	color: #000;
	text-align: center;
	margin-top: 15px
}
.grpShadow:before {
	left: 1px;
	-webkit-box-shadow: 0 13px 7px rgba(0,0,0,.4);
	-moz-box-shadow: 0 13px 7px rgba(0,0,0,.4);
	box-shadow: 0 13px 7px rgba(0,0,0,.4);
	-webkit-transform: rotate(-11deg);
	-moz-transform: rotate(-11deg);
	-ms-transform: rotate(-11deg);
	-o-transform: rotate(-11deg);
	transform: rotate(-11deg)
}
.grpShadow:after {
	right: 1px;
	-webkit-box-shadow: 0 13px 7px rgba(0,0,0,.4);
	-moz-box-shadow: 0 13px 7px rgba(0,0,0,.4);
	box-shadow: 0 13px 7px rgba(0,0,0,.4);
	-webkit-transform: rotate(12deg);
	-moz-transform: rotate(11deg);
	-ms-transform: rotate(11deg);
	-o-transform: rotate(11deg);
	transform: rotate(11deg)
}
#groupWeb_carsol .groupImgBox {
	width: 100%;
	text-align: center
}
#groupWeb_carsol .groupImg {
	display: inline-block;
	margin: 0 auto;
	max-width: 134px;
	position: relative
}
#groupWeb_carsol .groupImg img {
	border: 1px solid #bdbdbd
}
#groupWeb_carsol .owl-next, #groupWeb_carsol .owl-prev {
	position: absolute;
	top: 30%;
	width: 20px;
	height: 36px;
	margin-top: 0;
	text-indent: -9999px;
	transition: all .2s ease
}
#groupWeb_carsol .owl-prev {
	background: url(/Assets/WesternTransmission/images/icons/smallArrow_prev.png) no-repeat;
	left: -45px
}
#groupWeb_carsol .owl-next {
	background: url(/Assets/WesternTransmission/images/icons/smallArrow_next.png) no-repeat;
	right: -35px
}

@media screen and (max-width:1060px) {
#groupWeb_carsol .owl-prev {
	left: -5px
}
#groupWeb_carsol .owl-next {
	right: -5px
}
}
.bussVideoPort {
	padding: 0
}
.videoBlk, .videoBlk img {
	width: 100%;
	display: inherit
}
.bussVideoPort h1 {
	background: #000;
	text-align: center;
	color: #fff;
	font-size: 36px;
	padding: 20px 0;
	margin-bottom: 0
}
.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
	display: none;
}
ul.sub-menu {
	display: none;
	left: 0;
	top: 0;
	padding-top: 0;
	position: relative;
	width: 100%;
	border: none;
	height: 0
}
ul.sub-menu>li>a {
	background-color: #f5f5f5;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	color: #333;
	display: block;
	line-height: 46px;
	padding: 0 12px
}
ul.sub-menu>li:first-child {
	border-top: none
}
