@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields;
@using Sitecore.Links;
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>

<section class="section_feedback--form">
    <div class="bg-images"><img src="/images/feedback/feedback_bg.png"></div>
    <div class="container">
        <div class="form-panel">
            <div class="row">
                <div class="col-lg-5">
                    <div class="bg-cream">
                        <span class="sub-text">Please rate your experience on the following</span>
                        <p>How was your experience for the call made at the Call Ceter?</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div id="exp_call-center" class="rating_section">
                        <div>
                            <label>Excellent</label>
                            <input type="radio" name="smiley" value="Excellent" class="Excellent">
                        </div>
                        <div>
                            <label>Good</label>
                            <input type="radio" name="smiley" value="Poor" class="Poor">
                        </div>
                        <div>
                            <label>Average</label>
                            <input type="radio" name="smiley" value="Average" class="Average">
                        </div>
                        <div>
                            <label>Poor</label>
                            <input type="radio" name="smiley" value="Poor" class="Poor">
                        </div>
                        <div>
                            <label>Very Poor</label>
                            <input type="radio" name="smiley" value="Very-Poor" class="Very-Poor">
                        </div>
                    </div>
                </div>
                <div class="col-lg-11 mx-auto"><hr></div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="bg-cream">
                        <p>Staff Attitude / Empathy on Call</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div id="exp_call-center" class="rating_section">
                        <div>
                            <input type="radio" name="smiley" value="Excellent" class="Excellent">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Poor" class="Poor">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Average" class="Average">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Poor" class="Poor">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Very-Poor" class="Very-Poor">
                        </div>
                    </div>
                    <div class="px-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="courteous">
                                    <label class="form-check-label" for="courteous">
                                        Was not courteous
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="courteous">
                                    <label class="form-check-label" for="courteous">
                                        Wasn't customer centric
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="courteous">
                                    <label class="form-check-label" for="courteous">
                                        Did not have a professional approach
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="courteous">
                                    <label class="form-check-label" for="courteous">
                                        Wasn't active listener
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="courteous">
                                    <label class="form-check-label" for="courteous">
                                        Unhelpful attitude
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-11 mx-auto"><hr></div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="bg-cream">
                        <p>Call Quality</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div id="exp_call-center" class="rating_section">
                        <div>
                            <input type="radio" name="smiley" value="Excellent" class="Excellent">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Poor" class="Poor">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Average" class="Average">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Poor" class="Poor">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Very-Poor" class="Very-Poor">
                        </div>
                    </div>
                </div>
                <div class="col-lg-11 mx-auto"><hr></div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="bg-cream">
                        <p>Process</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div id="exp_call-center" class="rating_section">
                        <div>
                            <input type="radio" name="smiley" value="Excellent" class="Excellent">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Poor" class="Poor">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Average" class="Average">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Poor" class="Poor">
                        </div>
                        <div>
                            <input type="radio" name="smiley" value="Very-Poor" class="Very-Poor">
                        </div>
                    </div>
                </div>
                <div class="col-lg-11 mx-auto"><hr></div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="bg-cream">
                        <p>Based on your recent experience, how likely are you to recommend Adani Electricity to a friend or colleague?</p>
                    </div>
                </div>
                <div class="col-lg-7 text-center">
                    <div class="input-range">
                        <div id="range-slider" data-value=""></div>
                        <div id="labels-list" class="labels" data-value=""></div>
                    </div>
                </div>
                <div class="col-lg-11 mx-auto"><hr></div>
                <div class="col-lg-12 mx-auto">
                    <div class="bg-white text-center p-4">
                        
                        <p class="txt-orange mt-3">We would like to make your experience of connecting with us hassle free, <span class="d-lg-block">Would you like to answer few more questions, which would help us serve you better.</span></p>
                        <p class="mt-4"><a href="#" class="btn btn-primary mr-3">Yes</a><a href="#" class="btn btn-dark">Submit & Close</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

