@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Feature.Accounts.SessionHelper
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=@Html.Sitecore().Dictionary("/GTM/GTMBody", "GTM-P4B934N")"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

@if (UserSession.UserSessionContext != null)
{
    <input type="hidden" value="@UserSession.UserSessionContext.primaryAccountNumber" id="GACANumber" />
    <input type="hidden" value="@UserSession.UserSessionContext.SessionId" id="BusinessUserId" />
    <input type="hidden" value="Logged In" id="login_status" />
}
else
{
    <input type="hidden" value="" id="GACANumber" />
    <input type="hidden" value="" id="BusinessUserId" />
    <input type="hidden" value="Guest User" id="login_status" />
}
@*<a href="#" data-event="learn_more_cta_click" data-eventCategory="Corporate Portal | Home Page" data-eventAction="Learn More CTA Click" data-eventLabel="Who we are"></a>*@