@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var banner = parent.Children;

}

<section class="mainSlider">
    @foreach (var item in banner.ToList())
    {
        Sitecore.Data.Fields.LinkField linkField = item.Fields["MediaVideoLink"];
        var url = linkField.Url;
        <div class="owl-carousel owl-theme homeslider">
            <div class="item" data-videosrc="@url">
                @Html.Sitecore().ImageField("MediaThumbnail", item, 0, 0, "image-fluid")
                <div class="bannercontent">
                    <div class="container">
                        @Html.Sitecore().Field("MediaDescription", item)
                    </div>
                </div>
            </div>
        </div>
    }
        <div class="container position-relative">
            <div class="scroll-down">
                <a href="#first-section"><span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span></a>
            </div>
        </div>
    </section>