@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkField = parent.Fields["MediaLink"];
    var url = linkField.Url;


        }
<a href="@url">
    <div class="row no-gutters h-100">
        <div class="col-md-6">
            <div class="p-4 bg-gradient h-100">
                <h3 class="section-heading text-white">@Html.Sitecore().Field("MediaTitle", parent)</h3>
                @Html.Sitecore().ImageField("MediaDescription", parent)
            </div>
        </div>
        <div class="col-md-6">
            <div class="ceo-img">
                @Html.Sitecore().ImageField("MediaImage", parent, 0, 0, "img-fluid w-100")
               

            </div>
        </div>
    </div>
</a>