@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@{


    var SiteLogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["SiteLogo"];
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);


}


<div class="overlay-top"></div>
<div class="navPanel fixed-top">
    <div class="container-fluid">
        @*<div class="search-main">
                <form action="" method="get">
                    <input type="text" id="s" name="s" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                </form>
            </div>*@
        <div class="row">
            <div class="col-sm-3 col-8 border-right text-center">
                <a class="navbar-brand" href="/"><img src="@SiteLogo" alt="Adani Defence" class="img-fluid"></a>
            </div>
            <div class="col-sm-9 col-4">
                <div class="row nav-bg-white mainmenu">
                    <div class="col-sm-12 col-md-12">
                        <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                            <!--<span class="navbar-toggler-icon"></span>-->
                            <span class="far fa-circle"></span>
                            <span class="far fa-circle"></span>
                            <span class="far fa-circle"></span>
                        </button>
                        <nav class="navbar navbar-expand-lg ml-5 my-3">
                            <div class="">

                                <div class="collapse navbar-collapse" id="navbar">
                                    <ul class="navbar-nav mr-auto">
                                        @foreach (var docs in elements.Children.ToList())
                                        {
                                            Sitecore.Data.Fields.LinkField linkvalue = docs.Fields["Link"];
                                            var linkUrl = linkvalue.GetFriendlyUrl();
                                            <li class="nav-item">
                                                <a class="nav-link" href="@linkUrl" id="navbarDropdown">
                                                    @Html.Sitecore().Field("NavigationTitle", docs)
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


