
    <figure class="indiaMap">
        <svg viewBox="70 -25 280 350" style="z-index: 999999;">
            <image width="416" height="300" xlink:href="../../Images/Infra/map-power_transmission.png"></image>
            <a rel="content1Tab" class="pointer">
                <circle cx="147" cy="70" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content2Tab" class="pointer">
                <circle cx="160" cy="70" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content3Tab" class="pointer">
                <circle cx="147" cy="82" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="DefaultData" class="active pointer">
                <circle cx="85" cy="132" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content5Tab" class="pointer">
                <circle cx="92" cy="139" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content6Tab" class="pointer">
                <circle cx="118" cy="137" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content7Tab" class="pointer">
                <circle cx="136" cy="178" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content8Tab" class="pointer">
                <circle cx="146" cy="173" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content9Tab" class="pointer">
                <circle cx="155" cy="170" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content10Tab" class="pointer">
                <circle cx="164" cy="166" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content11Tab" class="pointer">
                <circle cx="149" cy="182" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a rel="content12Tab" class="pointer">
                <circle cx="168" cy="176" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
            </a>
            <a class="pointer" rel="trans1Tab">
                <g transform="rotate(3 158 110)">
                    <rect x="144" y="72" width="1" height="8" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans2Tab">
                <g transform="rotate(41 166 114)">
                    <rect x="131" y="87" width="1" height="14" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans3Tab">
                <g transform="rotate(45 166 114)">
                    <rect x="130" y="106" width="1" height="76" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans4Tab">
                <g transform="rotate(135 100 105)">
                    <rect x="130" y="88" width="1" height="7" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans5Tab">
                <g transform="rotate(84 87 105)">
                    <rect x="121" y="79" width="1" height="22" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans6Tab">
                <g transform="rotate(65 87 105)">
                    <rect x="173" y="82" width="1" height="8" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans7Tab">
                <g transform="rotate(65 87 105)">
                    <rect x="174" y="72" width="1" height="6" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans8Tab">
                <g transform="rotate(65 87 105)">
                    <rect x="174" y="63" width="1" height="6" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans9Tab">
                <g transform="rotate(-21 170 170)">
                    <rect x="165" y="166" width="1" height="7" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans10Tab">
                <g transform="rotate(-21 230 230)">
                    <rect x="171" y="149" width="1" height="5" stroke="none" fill="#000"></rect>
                </g>
            </a>
            <a class="pointer" rel="trans11Tab">
                <g transform="rotate(70 87 105)">
                    <rect x="168" y="54" width="1" height="32" stroke="none" fill="#000"></rect>
                </g>
            </a>
        </svg>
    </figure>