<figure class="indiaMap">
    
    <svg viewBox="70 -25 280 350" style="z-index: 999999;">
        <image width="416" height="300" xlink:href="../../Images/Infra/map-thermal_power.png"></image>
        <a rel="content1Tab" class="pointer">
            <circle cx="150" cy="125" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
        </a>
        <a rel="content2Tab" class="pointer">
            <circle cx="90" cy="135" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
        </a>
        <a rel="content3Tab" class="pointer">
            <circle cx="85" cy="140" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
        </a>
        <a rel="DefaultData" class="active pointer">
            <circle cx="90" cy="140" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
        </a>
        <a rel="content5Tab" class="pointer">
            <circle cx="119" cy="152" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
        </a>
        <a rel="content6Tab" class="pointer">
            <circle cx="174" cy="152" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
        </a>
        <a rel="content7Tab" class="pointer">
            <circle cx="174" cy="168" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
        </a>
    </svg>
</figure>