@media (min-width: 1600px){
.success_stories{padding-top: 210px; padding-bottom: 210px;}
.chairperson_msg .container-fluid{min-height: 650px;}
.chairperson_msg .bg-images img{width: auto; min-width: auto; right: 0px; left: unset;}
}
@media (max-width: 1199px){
	.navbar-toggler.active{right: 20px;}
/*	.footerMenu{margin:0.5rem 0;}*/
	.footerMenu li{margin:3px 0;}
	.footerMenu li a{opacity:1.0;}

	.homepage .bannerImg{background-position:20% top;}
	/*.social-links{display:none;}*/
	.nav-tabs .nav-item{margin:0;padding:3px 3px 0 0;}
}
@media (min-width: 992px) and (max-width: 1199px) {
.success_stories .text-container p {font-size: 14px; line-height: 21px; max-width: 90%;}
.chairperson_msg .bg-images img{width: 100%;}
.chairperson_msg .img-chairperson{bottom: -75px;}
.purple_obj .text-container p{max-width: 90%;}
	.home-banner-content .container > div:before{width: 450px; height: 450px;}
	.home-banner-content .container > div:after{width: 450px; height: 450px;}
	.home-banner-content h1{font-size: 30px; line-height: 34px;}
}
@media (min-width: 992px) and (max-width: 1024px) {
	.navTile a{padding-right:0;font-size:0.8rem;}
	.homepage .bannerImg{background-position:20% top;}
	.homepage .bannerImg img {
		transform: translateX(-42%) translateY(-50%);
	}
	.serviceTile .serviceIcon img {
		width: 65px;
		max-height:none;
	}
	
	
}
@media (min-width: 768px) and (max-width: 1023px) {
	.homepage .bannerImg{background-position:14% top;}
	.homepage .bannerImg img {
		transform: translateX(-35%) translateY(-48%);
	}
	.serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
	.serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
	
	
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.linkTxt{font-size:1rem;padding-bottom:10px;}
}
@media (min-width: 1024px){
	.contact-logo{margin-bottom: 20px;}
	.contact-logo{position: absolute;width: 100%;top: 40%;}
}
@media (min-width: 992px){
	.primarymenu li.nav-item-dropdown > ul li a.active{background: #e3e3e3; color: #d9417e;}
	.primarymenu li.nav-item-dropdown{}
	.primarymenu li.nav-item-dropdown a{color: #000;background: #fff; padding: 0.8rem 2.5rem 0.8rem 1.5rem; font-size: 18px; border-radius: 19px; margin-bottom: 0.2rem;font-weight: 500;}
	.section_facilities--thumb{min-height: 390px;}
	.discover_adani .v_middle > div{padding-right: 2rem;}
	.section_vission .inner_div{margin-left: auto;max-width: 500px;}
	.section_mission .inner_div{margin-right: auto;max-width: 500px;}
	.section-ql{padding-bottom: 150px;min-height: 460px;}
	.latest_happenings{padding-top: 150px; padding-bottom: 150px;}
	.chairperson_msg{padding-top: 200px; padding-bottom: 150px;}
	.v_middle{height:100%;position: relative; margin-left: auto;max-width:540px;}
	.v_middle > div{position: absolute; top: 50%; transform: translateY(-50%); width: 100%;}
	.section_padding{padding-top:100px;padding-bottom:100px;}
	.section_padding-top{padding-top:100px;}
	.section_padding-bottom{padding-bottom:100px;}
	.homeslider .item{max-height: 750px;}
	.half-bg {background: linear-gradient(to bottom, #ebebeb 50%, #fff 0%);}
	.footprints-thumb > img{-webkit-transform: translate(0%, -15%); transform: translate(0%, -15%);}
	.column-grid{max-width: 33.333333%;flex: 0 0 33.333333%;}
	.breadcrumb p{width: 50%;}
	.stories_sub_child{height: 350px;}
	.stories_sidebar_content{height: 350px;}
	.stories_sub_child img{width: 100%;height: 100%;}
	.heroes-content div{max-width: 350px;}
	.newsupdate-listing p{width: 90%;}
	.newsupdate-heading h3{width: 40%;margin-left: auto;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);color: #f49220;font-weight: 500;top: 50%;left: 65%;position: absolute;}
	.stories_sidebar_content p {position: absolute;bottom: 2rem;width: 100%;}
	.home-banner-content{top: 60%;transform: translateY(-60%);}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.discover_adani .container-fluid, .chairperson_msg .chairperson_msg--content{max-width: 960px;}	
}
@media (min-width: 768px) and (max-width: 991px) {
	.discover_adani .container-fluid, .chairperson_msg .chairperson_msg--content{max-width: 720px;}
}
@media (max-width: 991px){
.ft-social{margin-bottom: 1.5rem; display: block;}
#mainMenu .dropdown-menu.megamenu .dropdown-item{padding-left: 0px;}
	.section_facilities{padding: 60px 0px 20px 0px;}
	.carousel_ql img{width: 40px !important;}
	.carousel_ql .carousel_ql--item:before{width: 160px; height: 131px;}
	.section_media-release ul{min-height: unset;}
	.section_media-coverage ul{min-height: unset;}
	#mainMenu .nav-item a:after{display:none;}
	#mainMenu .nav-item{padding: 1rem 2rem 0.5rem 2rem;}
	#mainMenu .nav-item a{padding: 0rem 0rem 0rem 0rem;}
	#mainMenu .nav-item.active.dropdown .dropdown-menu.megamenu { display: block; position: relative; background: transparent; box-shadow: 0px 0px 0px transparent; padding-top: 0.5rem;    border: 0px;padding-left: 0px; margin-left: 0px;max-height: 1500px;}
.navbar .dropdown-menu ul{padding-left: 0.25rem;}
.navbar .dropdown-menu ul li { border-bottom: 0px solid #ccc; padding-bottom: 0.3rem;display: block; border: 0px;padding-left: 0px;}
.dropdown-item { display: block; width: auto; padding: 5px 0px 0px 0px; border-bottom: none; color: #737373; }
.navbar .dropdown-menu .nav-item.active a { font-weight: 400; color: #fff; }
.navbar .dropdown-menu .dropdown-item a { padding: 0px 0px !important;padding-top: 0px; font-size: 18px !important; line-height: 25px;font-weight: 400 !important;}
#mainMenu .nav-item.active.dropdown > a { border-bottom: 1px solid #fff; }
	#sitemap_block{display:none;margin-top: 0rem;transition:ease all 0.3s;}
	#sitemap_block.active{display:flex;margin-top: 1.5rem;transition:ease all 0.3s;}
	.section-ql{padding-bottom: 4rem;}
	.chairperson_msg .bg-images img{left: 50%; transform: translateX(-50%);}
	.tabs_school{margin-top:1.5rem;}
	.discover_adani .container-fluid{}
	footer img{margin-bottom: 2rem;}
	.blue_obj > div.position-relative{margin-left: 0%;}
	.tabs_school .tab-content .card .card-header button{font-size: 20px;}
	.tabs_school .card-body{padding-top: 0px; padding-right: 10px;}
	.tabs_school ul.nav-tabs{margin-bottom: 1rem; margin-top: 1rem;}
	.text-container p{font-size: 18px; line-height: 26px;}
	.stats_thumb img{width: 50px; height: 50px;}
	.stats_desc p{font-size: 28px;}
	.floating_object img{max-width: 100px;}
	.btm_flowers{}
	.btm_flowers img{width: 100%;}
	.floating_object{top: 8%;}
	.tabs_school ul.nav-tabs li a{ font-size: 14px; font-weight: 600; padding: 0px;}
	footer p{}
	.latest_happenings--sub_thumb{margin-bottom: 30px;}
	.latest_happenings--desc h3, .latest_happenings--sub_desc h3{font-size: 22px; margin-bottom: 15px;}
	.latest_happenings--desc p, .latest_happenings--sub_desc p{font-size: 18px; margin-bottom: 15px;}
	.blue_obj{background: #00bed8; padding: 1.5rem 1.5rem 2.5rem 1.5rem;margin-top: 1.5rem;border-bottom-right-radius: 150px;}
	.blue_obj:before{content:"";background: transparent; right: 25px; position: absolute; width: 100%; height: 100%; border-right: 10px solid #6111b0; border-bottom: 10px solid #6111b0; border-bottom-right-radius: 139px;}
	.blue_obj .bg-images{display:none;}
	.img-rainbow img{max-width: 250px;}
	.img-plane img{max-width: 200px;}
	.r_sideBar_img{right: 0px; background: #f6d52f; padding: 50px 0px; border-radius: 10px;}
	.section_padding{padding-bottom:60px;padding-top:60px;}
	.section_padding-bottom{padding-bottom:60px;}
	.section_padding-top{padding-top:60px;}
	.purple_obj > div.position-relative{max-width: 95%;}
	.purple_obj{background: #4d21ad;padding: 1.5rem 1.5rem 3.5rem 1.5rem;border-bottom-right-radius: 150px;}
	.purple_obj:before{content:"";background: transparent; right: 25px; position: absolute; width: 100%; height: 100%; border-right: 10px solid #01ccd5; border-bottom: 10px solid #01ccd5; border-bottom-right-radius: 139px;}
	.purple_obj .bg-images{display:none;}
	.home-banner-content{bottom: 0px; background: #ff6161;}
	.home-banner-content:before{content:"";background: rgb(255 97 97 / 72%);width: 200%; position: absolute; height: 300px; top: -14%; border-radius: 100%; left: -50%;z-index: 0;}
	.home-banner-content:after{content:"";background: rgb(255 136 136 / 90%);width: 230%; position: absolute; height: 300px; top: -25%; border-radius: 100%; left: -50%;z-index: -1;animation: float 6s ease-in-out infinite;}
	.half_arrow{}
	.half_arrow img{max-width: 300px;}
	.latest_happenings h2{font-size: 26px;}
	.text-container h2{font-size: 28px; line-height: 32px; font-weight: 500; text-shadow: 0 0 black;}
	.chairperson_msg{padding-top: 150px;}
	.latest_happenings, .success_stories, .discover_adani{padding-top: 80px;padding-bottom: 80px;}
	.img-chairperson{position:relative;}
	.navbar-light .navbar-toggler i{left: -62px; font-size: 16px; top: 7px;}
	.navbar-light .navbar-toggler{top: 0.25rem;}
	.home-banner-content .container > div{padding: 1rem 0rem;}
	.home-banner-content h1{font-size: 28px; line-height: 32px; text-shadow: 0px 0px 0px #000;}
	.home-banner-content .container > div:before{display:none;}
	.home-banner-content .container > div:after{display:none;}
	.chairperson-msg i img{display:none;}
	.happenings-main{margin-bottom: 2rem;}
	.chairman-box .col-md-4{text-align: center;}
	.navbar-toggler.active{right: 10px;}
	.navbar-collapse.show{}
	.navbar-collapse.show .primarymenu{}
	.primarymenu.ml-auto{display:none;}
	.stories_sub_main{margin-bottom:1rem;}
	.stories_sidebar_content p{margin-top: 4rem;}
	.chairperson-thumb{text-align:center;}
	.chairperson-msg{text-align:center;}
	.chairperson-msg h3:after{margin-left:auto;margin-right:auto;}
	.newsupdate-heading h3 span{display: unset !important;}
	.newsupdate .bg-images img{display:none;}
	.order-2-sm{order: 2;}
	.desktop-none{display: block !important;}
	.contact-logo{margin-bottom: 30px;}
	.homeslider .owl-item .item, .homeslider .owl-item .item video, .homeslider .owl-item .item img{height: 85vh;object-fit: cover;}
	.mobile-none{display:none;}
	.accService{font-size:0.8rem;}
	.dropdown-menu{
		display:block;
		padding: 0;
		border-radius: 0;
		border:0px solid rgba(0,0,0,0.1);
		margin-left: 1rem;
		font-size:0.9rem;max-height: 0px; overflow: hidden;
	}
	.dropdown-item{padding:0.25rem 0.75rem;}

	#topMenu {
		width: 250px;
		position: fixed;
		top:0;
		left: 0;
		height: 100vh;
		overflow-y:auto;
		z-index: 999;
		color: #fff;
		transition: all 0.3s;
        margin-left: -250px;
		background:#f36f31;
    }
	 #topMenu.active {
        margin-left: 0;
    }
	.topMenu li {display:block;border-bottom:1px solid #fff;}
	.topMenu li a{padding: 0.5rem 1rem;
		display: block;
		background:#f36f31;
		color:#fff;
		position:relative;
		border-right:none;
	}
	.topMenu li:first-child a{padding-left:1rem;}
	.topMenu li a:hover, .topMenu li a:focus{background:#ff6633;}
	.navbar-collapse{}
	.navbar-collapse .nav-link{font-size: 1.15rem !important;}
.section_school-events .latest_happenings--desc h3{ min-height: unset; } .section_school-events .latest_happenings--desc p{ max-height: unset; }
}
@media (max-width: 767px){
.section_trustees--content h4{font-size: 1rem;font-weight: 600;}
.section_trustees--content p{font-size: 0.8rem; font-weight: 600;}
.section_school-events .latest_happenings--desc h3{min-height: unset;}
.section_school-events .latest_happenings--desc p{max-height: unset;}
	.carousel_ql--item{height: 175px;}
	.stats_desc p span{font-size: 18px; line-height: 20px;}
	.navbar-toggler.active{right: 0px;}
	.footprints-thumb{max-height: unset;}
	.more-stories .card .card-body .card-title{background-color:#fff;}
	.garvhai-text{padding: 0px 45px;}
	#mute{bottom:20px;right: 0px;}
	#gallery-filter .btn{margin-right: 1rem;}
	.btn-news{height:auto;}
	.btn-news img{height:auto;}
	.adani-logo{display:none;}
	.navbar-toggler{position: relative;top: -5px;}
	.quick-links{display:none;}
	.topNav li.topSearch{display:none;}
	.topMenu li.topSearchMenu{display:block;}
	/*.topMenu{display:none;}*/
	.homepage .mainBanner{height:250px;}
	.homepage .bannerImg{position:relative;height:100%;background-position:12% top;}
	.homepage .bannerImg img {
		min-height: 250px;
		height: 100%;
		width: auto;
		transform: none;
		left: 0;
		top: 0;
	}
	.helpPanel{padding:30px 0 0 0;}
	.helpLinks{height:auto;margin-bottom:1rem;}
	.adaniLogoFooter{margin:1rem 0;display:inline-block;opacity:1.0;}
	
	.communityTile{background-blend-mode:overlay;}
	.communityTile .tileCnt{width:50%;}
	.listIcon{padding-right:0;}
	.listIcon img{max-width:50px;}
	.serviceTile{padding:1rem;}
	.serviceTile .serviceIcon{height:50px;}
	.serviceTile .serviceIcon img{width:auto;max-height:50px;}
	.serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
	.serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
	.myAccountBanner .bannerCnt{padding:1rem 0;background:rgba(255,255,255,0.85);}
	.accSerTile{padding:0.75rem 0;}
	.adaniLogoFooter{margin:0.5rem 0;}
	.tile{height:auto;margin:0.5rem 0;}
	.appLink{margin:0.5rem 0;}
	.payBillBox{width:100%;}
	.nav-tabs .nav-item{margin:0;padding:3px 3px 0 0;}
	.nav-tabs .nav-link{font-size:0.8rem;}


    #sideNav{
		width: 250px;
		position: fixed;
		top:0;
		left: 0;
		height: 100vh;
		overflow-y:auto;
		z-index: 999;
		color: #fff;
		transition: all 0.3s;
        margin-left: -250px;
		background:#f36f31;
    }
    #sideNav.active{
        margin-left: 0;
    }
    #mainContent {
        width: 100%;
    }
    #mainContent.active {
       /* width: calc(100% - 250px);*/
    }
   .contactPanel{height:220px;}

	
	
}
@media (max-width: 576px){
	#mainMenu.show{width: 100%;}
	.chairperson_msg { padding-top: 100px; padding-bottom: 50px;}
	.img-plane{left: auto; right: 12%;}
	.img-rainbow img{max-width: 150px;}
	.img-plane img{max-width: 100px;}
	.navbar-toggler.active{}
	#mute{bottom:50px;right: 0px;}
	.navbar-collapse{left: 30%;}
	.navbar-collapse .nav-link{font-size: 1.3rem !important;}
.enquiryBtn{display:none;}
	.homepage .mainBanner {height: 200px;}
	.navbar-brand img{max-width:150px;}
	.row.navTilesWrapper{display:block;}
	.col.navTile{width:100%;border-bottom:1px solid rgba(226,226,226,0.2)}
	.navTile a:hover{background:rgba(0,0,0,0.2);}
	.customerCare .phoneIcon{display:none;}
.navPanel>.container{padding:0;}
.navbar-light .navbar-brand{padding-left:15px;}
.navbar-light .navbar-toggler{margin-right:15px;}


	
	
}
@media (max-width: 480px){
	#mute{bottom:0px;right: 0px;}
	.download-links{margin-left:0;}
	.download-links img {max-height: 15px;}
	.download-links li a{padding-left:2px;}
	.social-links{margin-right:3px;}
	.social-links li a{padding:0;}
	.quick-links li a{padding:0 3px;}
	.communityTile .tileCnt{width:100%;}
	.serviceTile .serviceIcon{display:table-cell;vertical-align:top;height:75px;overflow:hidden;}
	.serviceTile .serviceDetails{display:table-cell;vertical-align:middle;padding-left:1rem;padding-top:0;}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{background-size:50%;width:15px;height:33px;}
	.owl-carousel .owl-nav button.owl-prev{margin-left:-10px;}
	.owl-carousel .owl-nav button.owl-next{margin-right:-15px;}
	.nav-tabs .nav-item{width:100%;}

}
@media (max-width: 340px){
	.quick-links{margin-right:2px;}
}