@font-face {
  font-family: 'Spinnaker-Regular';
  src: url('font/Spinnaker-Regular.svg#Spinnaker-Regular') format('svg'),
       url('font/Spinnaker-Regular.ttf') format('truetype'),
       url('font/Spinnaker-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'w8gYH2oyX-I0_rvR6HmX23YKiumCBw';
  src: url('font/w8gYH2oyX-I0_rvR6HmX23YKiumCBw.eot');
  src: url('font/w8gYH2oyX-I0_rvR6HmX23YKiumCBwd41d.eot?#iefix') format('embedded-opentype'),
       url('font/w8gYH2oyX-I0_rvR6HmX23YKiumCBw.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenidaW01';
  src: url('font/AvenidaW01.eot');
  src: url('font/AvenidaW01d41d.eot?#iefix') format('embedded-opentype'),
       url('font/AvenidaW01.svg#AvenidaW01') format('svg'),
       url('font/AvenidaW01.ttf') format('truetype'),
       url('font/AvenidaW01.woff') format('woff'),
       url('font/AvenidaW01.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTW01-35Light';
  src: url('font/AvenirLTW01-35Light.svg#AvenirLTW01-35Light') format('svg'),
       url('font/AvenirLTW01-35Light.ttf') format('truetype'),
       url('font/AvenirLTW01-35Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTW01-85Heavy';
  src: url('font/AvenirLTW01-85Heavy.svg#AvenirLTW01-85Heavy') format('svg'),
       url('font/AvenirLTW01-85Heavy.ttf') format('truetype'),
       url('font/AvenirLTW01-85Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'd513e15e-8f35-4129-ad05-481815e52625';
  src: url('font/d513e15e-8f35-4129-ad05-481815e52625.eot');
  src: url('font/d513e15e-8f35-4129-ad05-481815e52625d41d.eot?#iefix') format('embedded-opentype'),
       url('font/d513e15e-8f35-4129-ad05-481815e52625.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jura-Light';
  src: url('font/Jura-Light.svg#Jura-Light') format('svg'),
       url('font/Jura-Light.ttf') format('truetype'),
       url('font/Jura-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'z7NbdRfiaC4VXcRJUQZA3Jw';
  src: url('font/z7NbdRfiaC4VXcRJUQZA3Jw.eot');
  src: url('font/z7NbdRfiaC4VXcRJUQZA3Jwd41d.eot?#iefix') format('embedded-opentype'),
       url('font/z7NbdRfiaC4VXcRJUQZA3Jw.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 5px #f1f1f1; 
    border-radius: 0px;
    background: #ffffff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e2d3b; 
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1e2d3b;
    opacity: 0.7;
}


a {
	outline: none !important;
  font-family: 'Spinnaker-Regular' !important;
  font-size: 13px !important;
}

.bg-1e2d3b {
	background: #1e2d3b !important;
}

.text-1e2d3b {
	color: #1e2d3b !important;
}

.navbar.sticky-top {
	background: #1e2d3b;
}

.dropdown-menu {
  background: #1e2d3b;
}

.menu-logo-img {
	background: #ffffff;
	padding: 10px 20px;
}

.navbar-toggler {
  color: #ffffff;
  border-color: #ffffff;
}

.form-container label {
	color: #ffffff;
	text-align: left;
	display: block;
}

.form-container {
	padding: 5% 8%;
}

.navbar a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

#footer-submit_form, #submit_form {
	background: #ffffff;
	color: #1e2d3b;
}

.heading-title {
	font-family: 'AvenidaW01' !important;
    font-weight: 500;
    letter-spacing: 0.1px;
    font-size: 4em;
    color: #6b6b6b;
}

p, p.lead {
	font-size: 1em;
	letter-spacing: 0.2px;
	text-align: left;
	padding: 1% 0px;
  margin: 0px;
	font-family: 'AvenirLTW01-35Light' !important;
}

p.lead b {
	font-weight: bold !important;
}

.line-below {
	display: inline-block;
	width: 200px;
	height: 5px;
	margin: 10px auto;
	background: #1e2d3b;
}

.card-body {
	background: #f5f5f5;
}

.font-light {
	font-family: 'Jura-Light';
}

.autoplay .slick-slide img {
    width: 100%;
    height: 450px;
}

.err_msg {
  color: #ffffff;
  font-size: 12px;
}

@media screen and (max-width: 769px) {
  .menu-logo-img {
    width: 100px;
  }

  .heading-title {
    font-size: 3em;
  }

  .line-below {
    width: 100px;
    height: 3px;
  }

  .h3, h3 {
    font-size: 1.3em;
  }

  p, p.lead {
    font-size: 14px;
  }

  .card-title {
    font-size: 18px;
  }

  .form-control {
    font-size: 14px;
  }

  .form-container label {
    font-size: 12px;
  }
}

.about-banner {
  height: 550px;
}

.index_banner {
  display: none;
}

.mobile-home-bg {
    background: url('-/media/47FF74BFB14B46EF88934DC7ABAC1C51.ashx') no-repeat;
    background-size: contain;
    background-position: center center;
}

@media screen and (max-width: 769px) {
  .about-banner {
    height: 200px;
  }
    footer a {
        display: inline-block;
    }
  .index_banner {
    display: block;
  }

    .mobile-home-bg {
        background: url('-/media/588FCA113A1543958994AEEB5860AD7D.ashx') no-repeat;
        background-position: top center !important;
        background-size: 100% !important;
    }

  .mobile-home-bg .form-container {
    margin-top: 50%;
  }
}

footer a {
    text-transform: uppercase !important;
}
.required {
    color: red;
    
}

.form-group {
    text-align: left !important;
}
 .captcha {
    transform: scale(0.7);
    transform-origin: top left;
}

.resend-otp {
    color: blue;
    cursor: pointer;
}
.send-otp {
    color: blue;
    cursor: pointer;
}
.global-err {
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;
}
.err_msg_pop {
    margin-bottom: 5px;
    color: #000;
    font-size: 15px;
}

.loader {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAyVBMVEUAAAC9vsDCw8W9v8G9vsD29/fr7O29vsDm5+jx8fK/wML29vf///+9vsHR0tPm5+jt7u7w8PHr7Ozc3d7n6OnExcfGx8nJyszMzM7V1tjZ2tvf4OG9vsDHyMrp6uvIycu9v8HAwcTPz9HCw8W9vsC9vsDBwsTj5OXj5OXW19i9vsDm5+jw8PHy8vL09fW9vsDFxsjJyszAwsS9vsDU1dbLzM7Y2drb3N3c3d7e3+DHyMrBwsTh4uPR0tPDxcfa293R0tTV1ti9vsAll6RJAAAAQnRSTlMA7+t/MAZHQDYjHxABv6xSQjEgFgzi2M7Emop0cGVLD/ryt7Cfj3dmYWBgWjgsGd/Cv7SvopSSg4B6eHZrQjkyKx1dd0xhAAAA9klEQVR4AYWPeXOCMBBHFxIgCQKC3KCo1Wprtfd98/0/VBPb6TC0Wd+/783+ZqELrQkRoIMujFbiaLTwpESC029reB7919d7u6SgYaE8aUCivW84oEUY0lPQc408pxBqHxCIHGiw4Lxtl5h35ALFglouAAaZTj00OJ7NrvDANI/Q4PlQMDbNFA3ekiQRaHGRpmM0eMqyyxgLRlme4ydu8/n8Az3h+37xiRWv/k1RRlhxUtyVD8yCXwaDflHeP1Zr5sIey3WtfvFeVS+rTWAzFobhNhrFf4omWK03wcS2h8OzLd/1TyhiNvkJQu5amocjznm0i6HDF1RMG1aMA/PYAAAAAElFTkSuQmCC) no-repeat;
    -webkit-animation: rotation 1s infinite linear;
    -moz-animation: rotation 1s infinite linear;
    animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}