<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adani Reality</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/Realty/JmpCSS/styles.css">
    <link rel="stylesheet" href="~/styles/Realty/JmpCSS/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="~/styles/Realty/JmpCSS/owl/owl.theme.default.css" />
</head>

<body>
    <!-- ========  Header starts here =========== -->
    <header>
        <div class="logo">
            <a href="#"> <img src="images/Realty/JMP/svg/realtylogo.svg" alt="Adani Reality"> </a>
        </div>

        <nav class="mainNav">
            <ul>
                <li><a href="#overview">Overview</a></li>
                <li><a href="#premium">Premium</a></li>
                <li><a href="#luxurious">Luxurious</a></li>
                <li><a href="#location">Location</a></li>
                <li class="enquireBtn">
                    <a href="javascript:void()" data-toggle="modal"
                       data-target="enquireModal">Enquire Now</a>
                </li>
            </ul>
        </nav>

        <div class="shantigramLogo">
            <a href="#"> <img src="images/Realty/JMP/shantigram.png" alt="Adani Shantigram"> </a>
        </div>
    </header>
    <!-- ========  Header starts Ends =========== -->
    <!-- =========== Top Carousel Starts Here ============ -->
    <div class="owl-carousel" id="mainCarousel">
        <div class="carouselItem">
            <div class="itemLeft">
                <img src="images/Realty/JMP/topslide1.png" alt="">
            </div>
            <div class="itemRight">
                <div class="sliderContent">
                    <h3>Be a part of</h3>
                    <strong>#Progressive<span>Amdavad</span></strong>
                    <p>Build your life at the newest city centre in North-West Ahmedabad.</p>
                </div>
            </div>
        </div>
        <div class="carouselItem">
            <div class="itemLeft">
                <img src="images/Realty/JMP/topslide2.png" alt="">
            </div>
            <div class="itemRight">
                <div class="sliderContent">
                    <h3>Developing Lifestyle Homes at</h3>
                    <strong>#Progressive<span>Amdavad</span></strong>
                    <p>Build your life at the newest city centre in North-West Ahmedabad.</p>
                </div>
            </div>
        </div>
        <div class="carouselItem">
            <div class="itemLeft">
                <img src="images/Realty/JMP/topslide3.jpg" alt="">
            </div>
            <div class="itemRight">
                <div class="sliderContent">
                    <h3>Developing Lifestyle Homes at</h3>
                    <strong>#Progressive<span>Amdavad</span></strong>
                    <p>Build your life at the newest city centre in North-West Ahmedabad.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Top Carousel Ends Here ============ -->
    <!-- =========== Intro Section Starts Here ============ -->
    <section class="intro" id="overview">
        <div class="container">
            <h2>We're shaping a #ProgressiveAmdavad</h2>
            <p>
                Adani Realty has always focused on uplifting two important factors: construction quality and standard
                of
                living. This attribute inspired us to build Shantigram township, One of the best-integrated township
                of
                the country. Now, Adani Realty is expanding this legacy across North-West Ahmedabad with
                <strong>#ProgressiveAmdavad.</strong>
            </p>
        </div>
        <div class="container">
            <ul>
                <li>
                    <img src="images/Realty/JMP/svg/family.svg" alt="Adani Reality">
                    <span>6800+ Happy Customers <br>of Adani Realty</span>
                </li>
                <li>
                    <img src="images/Realty/JMP/svg/badge.svg" alt="Adani Reality">
                    <span>The Adani <br>Assurance</span>
                </li>
                <li>
                    <img src="images/Realty/JMP/svg/essential.svg" alt="Adani Reality">
                    <span>Essential Services Within <br>Proximity</span>
                </li>
                <li>
                    <img src="images/Realty/JMP/svg/development.svg" alt="Adani Reality">
                    <span>One of the Fastest <br>Developing Business Hubs</span>
                </li>

                <li>
                    <img src="images/Realty/JMP/svg/residential.svg" alt="Adani Reality">
                    <span>Retail- Free Residential <br>Development</span>
                </li>
                <li>
                    <img src="images/Realty/JMP/svg/greenry.svg" alt="Adani Reality">
                    <span>Home with Expansive <br>Green View</span>
                </li>
                <li>
                    <img src="images/Realty/JMP/svg/sustainability.svg" alt="Adani Reality">
                    <span>Sustainable Design</span>
                </li>
                <li>
                    <img src="images/Realty/JMP/svg/ventilation.svg" alt="Adani Reality">
                    <span>2 Sides Open Well- <br>ventilated Homes</span>
                </li>
            </ul>
        </div>

    </section>
    <!-- =========== Intro Section ends Here ============ -->
    <!-- =========== Aminities Section starts Here ============ -->

    <section class="amenitiesTabs">
        <div class="tabHead amenitiesTabHead">
            <div class="container">
                <a href="#premium" class="active">Premium</a>
                <a href="#luxurious">Luxurious</a>
            </div>

        </div>
        <div class="container">
            <ul class="tabContent amenitiesTabContent">
                <!-- premium flat tab -->
                <li id="premium">
                    <div class="features">
                        <div class="featuresLeft">
                            <h4>2, 2.5, 3 <span>BHK Flats</span></h4>
                            <h4>
                                <span>Starting from</span> 54 Lacs<sup>*#</sup>
                                <small>Advance society changes extra | *T&C apply</small>
                            </h4>

                        </div>
                        <div class="featuresRight">
                            <h4>Amenities</h4>
                            <ul>
                                <li>
                                    <img src="images/Realty/JMP/svg/landscape.svg" alt="Adani Reality"><span>
                                        Intrinsically Designed
                                        Landscape
                                    </span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/cctv.svg" alt="Adani Reality"><span>
                                        Security & CCTV
                                        Survillance
                                        in
                                        Common Area on Ground Floor
                                    </span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/gaspipe.svg" alt="Adani Reality"><span>
                                        Provision for Piped Gas
                                        Connection
                                    </span>
                                </li>
                                <li><img src="images/Realty/JMP/svg/waterbody.svg" alt="Adani Reality"><span>Water Body</span></li>
                                <li>
                                    <img src="images/Realty/JMP/svg/outdoorgames.svg" alt="Adani Reality"><span>
                                        Multipurpose Court
                                        for
                                        Outdoor
                                        Games
                                    </span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/lawn.svg" alt="Adani Reality"><span>
                                        Multipurpose Lawn with
                                        Pathway &
                                        Sit-Out
                                    </span>
                                </li>
                                <li><img src="images/Realty/JMP/svg/gym.svg" alt="Adani Reality"><span>Gymnasium</span></li>
                                <li>
                                    <img src="images/Realty/JMP/svg/hall.svg" alt="Adani Reality"><span>Multipurpose Hall</span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/club.svg" alt="Adani Reality"><span>Mini Club Area</span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/society.svg" alt="Adani Reality"><span>Society Office</span>
                                </li>
                                <li><img src="images/Realty/JMP/svg/yoga.svg" alt="Adani Reality"><span>Yoga Lounge</span></li>
                                <li>
                                    <img src="images/Realty/JMP/svg/schoolbus.svg" alt="Adani Reality"><span>School Drop-Off</span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/benchpark.svg" alt="Adani Reality"><span>
                                        Senior Citizen
                                        Sit-Outs
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>




                    <section class="masterPlan section">
                        <h3 class="section-heading">Master Plan</h3>
                        <div class="planLayout">
                            <figure>
                                <img src="images/Realty/JMP/premiummasterplan.jpg" alt="Master Plan">
                            </figure>
                            <div class="legends">
                                <h4>LEGEND</h4>
                                <ul>
                                    <li>Entry Gate</li>
                                    <li>Security Cabin</li>
                                    <li>School Drop Off Zone</li>
                                    <li>Multipurpose Garden with Pathway & Sit-out</li>
                                    <li>Water Body</li>
                                    <li>Children Play Area</li>
                                    <li>Parking</li>
                                    <li>Multi purpose Court</li>
                                    <li>Senior Citizen Sit-out</li>
                                    <li>No Vehicle Zone</li>
                                    <li>Ramps</li>
                                    <li>Exit Gate</li>
                                    <li>Club House</li>
                                </ul>
                            </div>

                        </div>
                    </section>

                    <section class="floorPlan section">
                        <h3 class="section-heading">Typical Floor Plan</h3>
                        <div class="tabHead floorPlanTabhead">
                            <a href="#2bhkplan" class="active">2 BHK</a>
                            <a href="#2_5bhkplan">2.5 BHK</a>
                            <a href="#3bhkplan">3 BHK</a>
                        </div>
                        <ul class="tabContent floorPlanTabContent">
                            <li id="2bhkplan">
                                <figure>
                                    <img src="images/Realty/JMP/2bhkplan.jpg" alt="">
                                    <img data-target="unitplanModal" data-toggle="modal" src="images/Realty/JMP/2bhkunitplan.jpg"
                                         alt="">
                                </figure>
                            </li>
                            <li id="2_5bhkplan">
                                <figure>
                                    <img src="images/Realty/JMP/2.5bhkplan.jpg" alt="">
                                    <img data-target="unitplanModal" data-toggle="modal" src="images/Realty/JMP/2.5bhkunitplan.jpg"
                                         alt="">
                                </figure>
                            </li>
                            <li id="3bhkplan">
                                <figure>
                                    <img src="images/Realty/JMP/3bhkplan.jpg" alt="">
                                    <img data-target="unitplanModal" data-toggle="modal" src="images/Realty/JMP/3bhkunitplan.jpg"
                                         alt="">
                                </figure>
                            </li>
                        </ul>
                    </section>

                    <!--gallery Section starts Here -->
                    <section class="gallery section">
                        <h3 class="section-heading">Gallery</h3>
                        <div class="owl-carousel galleryCarousel" id="galleryCarousel1">
                            <img src="images/Realty/JMP/STATEOFART3.jpg" alt="Gallery">
                            <img src="images/Realty/JMP/STATEOFART4.jpg" alt="Gallery">
                            <img src="images/Realty/JMP/STATEOFART5.jpg" alt="Gallery">
                        </div>

                        <a href="#" class="downloadBrochure">Download Brochure</a>
                    </section>
                    <!--gallery Section ends Here -->

                </li>

                <!-- luxurious flat tab -->
                <li id="luxurious">
                    <div class="features">
                        <div class="featuresLeft">
                            <h4>3 & 5 <span>BHK Flats</span></h4>
                            <h4>
                                <span>Starting from</span> 94 Lacs*# <small>
                                    Advance society changes extra | *T&C
                                    apply
                                </small>
                            </h4>

                        </div>
                        <div class="featuresRight">
                            <h4>Amenities</h4>
                            <ul>
                                <li>
                                    <img src="images/Realty/JMP/svg/minitheater.svg" alt="Adani Reality"><span>Mini Theater</span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/swimmingpool.svg" alt="Adani Reality"><span>
                                        Swimming Pool with
                                        Deck
                                    </span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/indoorgames.svg" alt="Adani Reality"><span>Indoor Games</span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/autoplanting.svg" alt="Adani Reality"><span>
                                        Aromatic
                                        Planting
                                    </span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/playarea.svg" alt="Adani Reality"><span>
                                        Children's Play
                                        Area
                                    </span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/meetingroom.svg" alt="Adani Reality"><span>
                                        Business Meeting
                                        Room
                                    </span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/boxcricket.svg" alt="Adani Reality"><span>Box Cricket</span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/reflexogy.svg" alt="Adani Reality"><span>
                                        Reflexogy
                                        Pathway
                                    </span>
                                </li>
                                <li><img src="images/Realty/JMP/svg/petpark.svg" alt="Adani Reality"><span>Pet Park</span></li>
                                <li>
                                    <img src="images/Realty/JMP/svg/celebrationlawn.svg" alt="Adani Reality"><span>
                                        Celebration
                                        Lawn
                                    </span>
                                </li>
                                <li><img src="images/Realty/JMP/svg/gym.svg" alt="Adani Reality"><span>Gymnasium</span></li>
                                <li><img src="images/Realty/JMP/svg/yoga.svg" alt="Adani Reality"><span>Yoga Deck</span></li>
                                <li>
                                    <img src="images/Realty/JMP/svg/joggingpark.svg" alt="Adani Reality"><span>Jogging Park</span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/court.svg" alt="Adani Reality"><span>Multipurpose Court</span>
                                </li>
                                <li>
                                    <img src="images/Realty/JMP/svg/barbequedeck.svg" alt="Adani Reality"><span>
                                        Rooftop Barbecue
                                        Deck
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>




                    <section class="masterPlan section">
                        <h3 class="section-heading">Master Plan</h3>
                        <div class="planLayout">
                            <figure>
                                <img src="images/Realty/JMP/luxuriosmasterplan.jpg" alt="Master Plan">
                            </figure>
                            <div class="legends">
                                <h4>LEGEND</h4>
                                <ul>
                                    <li>Entry Gate</li>
                                    <li>Security Cabin</li>
                                    <li>School Drop Off Zone</li>
                                    <li>Multipurpose Garden with Pathway & Sit-out</li>
                                    <li>Water Body</li>
                                    <li>Children Play Area</li>
                                    <li>Parking</li>
                                    <li>Multi purpose Court</li>
                                    <li>Senior Citizen Sit-out</li>
                                    <li>No Vehicle Zone</li>
                                    <li>Ramps</li>
                                    <li>Exit Gate</li>
                                    <li>Club House</li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="floorPlan section">
                        <h3 class="section-heading">Typical Floor Plan</h3>
                        <div class="tabHead floorPlanTabhead">
                            <a href="#3bhkplanA" class="active">3 BHK <span>- Type A</span></a>
                            <a href="#3bhkplanB">3 BHK <span>- Type B</span></a>
                            <a href="#4bhkplan">4 BHK</a>
                        </div>
                        <ul class="tabContent floorPlanTabContent">
                            <li id="3bhkplanA">
                                <figure>
                                    <img src="images/Realty/JMP/3bhkplanA.jpg" alt="">
                                    <img data-target="unitplanModal" data-toggle="modal" src="images/Realty/JMP/3bhkunitplanA.jpg"
                                         alt="">
                                </figure>
                            </li>
                            <li id="3bhkplanB">
                                <figure>
                                    <img src="images/Realty/JMP/3bhkplanB.jpg" alt="">
                                    <img data-target="unitplanModal" data-toggle="modal" src="images/Realty/JMP/3bhkunitplanB.jpg"
                                         alt="">
                                </figure>
                            </li>
                            <li id="4bhkplan">
                                <figure>
                                    <img src="images/Realty/JMP/4bhkplan.jpg" alt="">
                                    <img data-target="unitplanModal" data-toggle="modal" src="images/Realty/JMP/4bhkunitplan.jpg"
                                         alt="">
                                </figure>
                            </li>
                        </ul>
                    </section>


                    <!--gallery Section starts Here -->
                    <section class="gallery section">
                        <h3 class="section-heading">Gallery</h3>
                        <div class="owl-carousel galleryCarousel" id="galleryCarousel2">
                            <img src="images/Realty/JMP/STATEOFART3.jpg" alt="Gallery">
                            <img src="images/Realty/JMP/STATEOFART4.jpg" alt="Gallery">
                            <img src="images/Realty/JMP/STATEOFART5.jpg" alt="Gallery">
                        </div>

                        <a href="#" class="downloadBrochure">Download Brochure</a>
                    </section>
                    <!--gallery Section ends Here -->

                </li>
            </ul>
        </div>
    </section>
    <!-- =========== Aminities Section ends Here ============ -->
    <!-- =========== Location Section starts Here ============ -->
    <section class="location section" id="location">
        <div class="container">
            <h3 class="section-heading">Location</h3>
            <strong>North-West Jagatpur, S.G. Road, Ahmedabad, Gujarat-382481</strong>
            <figure>
                <img src="images/Realty/JMP/map.jpg" alt="Location">
            </figure>
        </div>
    </section>
    <!-- =========== Location Section ends Here ============ -->
    <!-- =========== Footer Section starts Here ============ -->
    <footer>
        <div class="container">
            <p class="rera">
                PROJECT LISTED ON WWW.GUJRERA.GUJARAT.GOV.IN <br>
                PREMIUM : PR/GJ/AHMEDABAD/AHMEDABAD CITY/AUDA/RAA09989/310322 <a href="#">DOWNLOAD CERTIFICATE</a> <br>
                LUXURIOUS : PR/GJ/AHMEDABAD/AHMEDABAD CITY/AUDA/*********/****** <a href="#">DOWNLOAD CERTIFICATE</a>
            </p>

            <div class="disclaimer">
                <h5>Disclaimer</h5>
                <p>
                    This is not an advertisement within the meaning of RERA. This is not an offer, an invitation to offer
                    and/or commitment of any nature. The images include artistic impressions and for representation
                    purpose only. This information is presented as indicative general information and no warranty is
                    expressly or impliedly given that the completed development will comply in any degree with such
                    artist's impression or represented images as depicted. All content relating to this project are
                    provided solely for the purpose of information and reference. The communication is subject to change
                    in case of revised plan and RERA project alteration. We reserve the right to provide certain
                    insertions of detailed layout plan pertaining to the specific unit/building/wing to the recipient.
                    The sale is subject to terms of application form and Agreement for sale. The recipient is deemed to
                    have been notified and agreeable to the same.
                </p>
            </div>

            <div class="social">
                <ul>
                    <li><a href="#"><img src="images/Realty/JMP/facebook.png" alt="facebook"></a></li>
                    <li><a href="#"><img src="images/Realty/JMP/instagram.png" alt="instagram"></a></li>
                    <li><a href="#"><img src="images/Realty/JMP/linkedin.png" alt="Linkedin"></a></li>
                    <li><a href="#"><img src="images/Realty/JMP/twitter.png" alt="Twitter"></a></li>
                    <li><a href="#"><img src="images/Realty/JMP/ytube.png" alt="Youtube"></a></li>
                </ul>
                <a href="#" class="footerLogo"><img src="images/Realty/JMP/adaniLogo.png"></a>
            </div>

            <p class="contactInfo">
                <a href="www.adanirealty.com" target="_blank">www.adanirealty.com</a> | Toll free: <a href="tel:18001080009" target="_blank"></a>1800-108-0009
            </p>
            </p>
        </div>
    </footer>
    <!-- =========== Footer Section ends Here ============ -->

    <div class="modal" id="enquireModal">
        <div class="modalOverlay"></div>

        <div class="modalContent">
            <div class="content-inner">
                <h4>Enquire Now</h4>
                <p>Share your details, and we will get back to you at the earliest.</p>

                <form action="eq_form">
                    <div class="floating-label">
                        <input class="floating-input" type="text" id="full_name_eq" placeholder=" " required>
                        <label>Name</label>
                        <small></small>
                    </div>
                    <div class="floating-label">
                        <input class="floating-input" type="email" id="email_eq" placeholder=" " required>
                        <label>Email</label>
                        <small></small>
                    </div>
                    <div class="floating-label">
                        <input class="floating-input" type="text" id="phone_number_eq" placeholder=" " maxlength="10" required>
                        <label>Mobile Number</label>
                        <small></small>
                        <small class="send-otp"><a href="javascript:void();" data-id="eq_form" onclick="SendOtpMobile(event,this);" data-value="" data-click="0" class="resend-btn">Send OTP</a></small>
                    </div>
                    <div class="floating-label" id="otp_eq_div">
                        <input class="floating-input" type="text" id="otp_eq" placeholder="" required>
                        <label>OTP</label>
                        <small></small>
                        <small style="display:none;" id="otp-button"><a href="javascript:void();" data-id="eq_form" onclick="SendOtpMobile(this);" data-value="" data-click="0" class="resend-btn">Resend OTP</a></small>
                    </div>
                    <div class="floating-label">
                        <select name="propertyType" id="propertyType">
                            <option value="">Select Project</option>
                            <option value="Premium - 2, 2.5, 3 BHK">Premium - 2, 2.5, 3 BHK</option>
                            <option value="Luxurious - 3 & 4 BHK">Luxurious - 3 & 4 BHK</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label for="agreeCheck">
                            <input type="checkbox" id="agreeCheck" required>
                            I agree to be contacted by Adani Realty
                        </label>
                        <small></small>
                    </div>

                    <div class="action">
                        <input type="submit" id="form_eq" value="Submit">
                    </div>
                </form>

                <a href="javascript:void()" class="close-modal"><img src="images/Realty/JMP/close.png" alt=""></a>
            </div>

        </div>
    </div>

    <div class="modal" id="unitplanModal">
        <div class="modalOverlay"></div>
        <div class="modalContent">
            <div class="content-inner">
                <img class="unitPlanLarge" src="" alt="">
                <a href="javascript:void()" class="close-modal"><img src="images/Realty/JMP/close.png" alt=""></a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="~/scripts/Realty/JmpJS/custom.js"></script>
    <script src="~/scripts/Realty/JmpJS/owl.carousel.min.js"></script>
    <script src="~/scripts/Realty/JmpJS/EnquireNowForm.js"></script>

</body>

</html>