<!DOCTYPE html>
<html>
<head>
	<title>Adani Oyster Grande | 3 & 4 BHK Ready to Move Flats in Sector 102, Gurgaon</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Oyster Grande - a low-density gated community of spacious 3 and 4 BHK Flats in dwarka expressway Gurugram offers the choicest conveniences and fulfils all your lifestyle needs.">
	<meta name="keywords" content="flats in gurgaon, 4 bhk flats in gurgaon, ready to move in gurgaon, ready to move flats in gurgaon, 3 bhk flat in gurgaon ready to move, 3 bhk flats in dwarka expressway, flats in sector 102 gurgaon">
	<link href="/images/oyster-grand/favicon.ico" rel="shortcut icon" type="image/x-icon" />	
	<link rel="stylesheet" type="text/css" href="~/styles/Realty/oyster-grand/style.css">
	<link rel="stylesheet" type="text/css" href="~/styles/Realty/oyster-grand/colorbox.css">	
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">	
 
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144240700-3"></script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-144240700-3', 'auto');
	ga('require', 'ecommerce', 'ecommerce.js');
	ga('require', 'displayfeatures');
	ga('send', 'pageview');
	</script>

</head>
<body>
 <script type="text/javascript">
  window.ymConfig = {
    bot: 'x1568125917603'
  };
  (function() {
    var w = window,
      ic = w.YellowMessenger;
    if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);
    else {
      var d = document,
        i = function() {
          i.c(arguments)
        };

      function l() {
        var e = d.createElement("script");
        e.type = "text/javascript", e.async = !0, e.src = "https://app.yellowmessenger.com/widget/main.js";
        var t = d.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(e, t)
      }
      i.q = [], i.c = function(e) {
        i.q.push(e)
      }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)
    }
  })();
</script>
 @Html.Sitecore().Placeholder("page-layout")
 
<script src="https://s3-ap-southeast-1.amazonaws.com/assets.ngauge.co/javascripts/ecommerce.js" type="text/javascript"></script>
<script src="~/scripts/Realty/oyster-grand/customOnePageScroll.js"></script>
<script src="~/scripts/Realty/oyster-grand/jquery.bxslider.js"></script>
<script src="~/scripts/Realty/oyster-grand/jquery.colorbox-min.js"></script>
<script src="~/scripts/Realty/oyster-grand/jquery.validate.js"></script>
<script src="~/scripts/Realty/oyster-grand/app.js"></script>
<script src="~/scripts/Realty/oyster-grand/oystergrandeForm.js"></script>

<!-- Facebook Pixel Code -->

<script>

  !function(f,b,e,v,n,t,s)

  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?

  n.callMethod.apply(n,arguments):n.queue.push(arguments)};

  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';

  n.queue=[];t=b.createElement(e);t.async=!0;

  t.src=v;s=b.getElementsByTagName(e)[0];

  s.parentNode.insertBefore(t,s)}(window, document,'script',

  'https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '1326552120852034');

  fbq('track', 'PageView');

</script>

<noscript><img height="1" width="1" style="display:none"

  src="https://www.facebook.com/tr?id=1326552120852034&ev=PageView&noscript=1"

/></noscript>

<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Ads: 716415926 -->

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-716415926"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());

 

  gtag('config', 'AW-716415926');

</script>

 

<!-- Event Snipped- -->

<!-- Event snippet for Oyster Grand Remarketing remarketing page -->

<script>

  gtag('event', 'conversion', {

      'send_to': 'AW-716415926/6KZvCLyQ_qcBELbHztUC',

      'value': 1.0,

      'currency': 'INR',

      'aw_remarketing_only': true

  });

</script>

<script type="text/javascript">
$(document).ready(function(){
/*
$("#enquiry_form").validate({
  submitHandler: function() {
    $('#enquiry_form').hide();
    $('#enquiry_form_header_success').show();
    if (flag == 1) {
   	$('.form-bro').show();    	
    }
    $(".download-btn, .fp").attr({
    	href : "images/Adani-Oyster-Grande-Brochure.pdf",
    	target : '_blank'
    });
    trackecommerce("UA-144240700-3","", "Oyster Grande", $("#email1").val(), $("#mobile1").val());
    try{ 
        dataLayer.push({'event' : 'selldo_form_submitted'  });
   }catch(err){}
    $.ajax({
      type:"POST",
      dataType:"json",
      url:$("#enquiry_form").attr("action"),
      data:$("#enquiry_form").serialize(),
      success: function(resp, status, xhr){      	
        if(resp.status == "success"){        	
        }
        else{
        }        
      },
      error: function(resp, status, xhr){
      }
    });
    }  
  });*/

})
</script>


<!-- Google Tag Manager -->
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2PKPK6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P2PKPK6');</script> -->
<!-- End Google Tag Manager -->

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M32LFR"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M32LFR');</script>
<!-- End Google Tag Manager -->
</body>
</html>
