@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions

    <!--Section-->
    <section class="py-4 bg-white inthissection">
        <div class="container">
            <h2 class="section-heading txt-green mt-3">Leadership Messages</h2>
            <div class="row">
                @Html.Sitecore().Placeholder("message")
            </div>
        </div>
    </section>
    <!--/Section-->





