

<section class="py-4 case-study">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("initiatives")
            @Html.Sitecore().Placeholder("case-study")
        </div>
    </div>
</section>

