@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col-sm-12 text-center">
    <ul class="terms-link d-md-none">
        @if (element.GetChildren() != null)
        {
            foreach (Item item in element.GetChildren())
            {
                LinkField link = (LinkField)item.Fields["Link"];
                <li class="d-inline-block"><a href="@link.GetFriendlyUrl()" class="txt-blue">@Html.Sitecore().Field("NavigationTitle", item)</a></li>
            }
        }
        
    </ul>
</div>
