@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col-sm-12 d-md-none mb-3">
    <p class="sitemap-link bg-gradient d-block p-2">Sitemap<i class="fa fa-angle-down"></i></p>
</div>
<div class="col-sm-12 d-none ft-mobilemenu">
    <div class="row">
        @if (element.GetChildren() != null)
        {
            foreach (Item item in element.GetChildren())
            {
                LinkField link = (LinkField)item.Fields["Link"];
                <div class="col-6">
                    <h5 class="text-center"><a href="@link.GetFriendlyUrl()">@Html.Sitecore().Field("NavigationTitle", item)</a></h5>
                </div>
                
            }
        }        
    </div>
</div>