@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var contextItem = Sitecore.Context.Item;
}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                @if (!String.IsNullOrEmpty(Html.Sitecore().Field("Heading", contextItem).ToString()))
                {
                    <h2 class="heading">@Html.Sitecore().Field("Heading", contextItem)</h2>
                }

                @Html.Sitecore().Field("Description", contextItem)
                <p class="readmore mt-4"><a href="">Read more</a></p>
            </div>
            <div class="col-lg-5">
                <div class="home-projects-sidebar">
                    <div class="hps-01 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                        @*@Html.Sitecore().ImageField("MainImage", contextItem,0,0, "img-fluid")*@
                        <img src="https://via.placeholder.com/250x250" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        @Html.Sitecore().Placeholder("features-card")
    </div>
</section>