@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

                var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
                var element = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col-lg-6 col-6">
    @if (!String.IsNullOrEmpty(Html.Sitecore().Field("Heading", element).ToString()))
    {
        <h5>@Html.Sitecore().Field("Heading", element)</h5>
    }
    else
    {
        <h5>&nbsp;</h5>
    }
    <ul class="ft-business">
        @if (element.GetChildren() != null)
        {
            foreach (Item item in element.GetChildren())
            {
                LinkField link = (LinkField)item.Fields["Link"];
                <li><a href="@link.GetFriendlyUrl()">@Html.Sitecore().Field("NavigationTitle", item)</a></li>
            }
        }
    </ul>
</div>