@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var contextItem = Sitecore.Context.Item;
}

<section class="py-4">
    <div class="container">
        <div class="row">
            @if (contextItem.GetChildren() != null)
            {
                foreach (Item item in contextItem.GetChildren())
                {
                    var link = Sitecore.Links.LinkManager.GetItemUrl(item).ToLower();
                    <div class="col-lg-4 col-md-6 my-4">
                        <div class="footprint-main">
                            <a href="@link">
                                <div class="footprints-thumb">
                                    @*@Html.Sitecore().ImageField("Thumbnail", item, 0, 0, "img-fluid")*@
                                    <img src="https://via.placeholder.com/350x350" class="img-fluid">
                                    <div class="footprint-category">
                                        @Html.Sitecore().ImageField("HomeThumbnail", item, 0, 0, "img-fluid")
                                    </div>
                                </div>
                                <div class="footprints-desc">
                                    <h3>@Html.Sitecore().Field("Title", item)</h3>
                                    <p>@Html.Sitecore().Field("Summary", item) </p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>