@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col-md-2 col-6 d-md-block d-none ft-submenu">
    <h5>More</h5>
    <ul>
        @if (element.GetChildren() != null)
        {
            foreach (Item item in element.GetChildren())
            {
                LinkField link = (LinkField)item.Fields["Link"];
                <li><a href="@link.GetFriendlyUrl()">@Html.Sitecore().Field("NavigationTitle", item)</a></li>                
            }
        }
        
    </ul>
</div>
