@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
    <div class="footerMenu">
        <ul class="ft-policy-links">
            @if (element.GetChildren() != null)
            {
                foreach (Item item in element.GetChildren())
                {
                    LinkField link = (LinkField)item.Fields["Link"];
                    <li><a href="@link.GetFriendlyUrl()">@Html.Sitecore().Field("NavigationTitle", item)</a></li>
                    
                }
            }
            
        </ul>
    </div>
</div>

