@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var contextItem = Sitecore.Context.Item;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    MultilistField element = contextItem.Fields["CaseStudies"];
}

@if (contextItem != null)
{
<div class="col-lg-8 my-4">
    <h2 class="heading heading-centered">Our Initiatives</h2>
    <div class="case-study-scroll">
        <a href="#">
            <div class="row no-gutters mb-3">
                <div class="col-lg-6">
                    <div class="case-study-thumb">
                        <img src="https://via.placeholder.com/350x150" class="img-fluid w-100">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="case-study-description">
                        <h3>Adani Vidya Mandirs</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim dignissim velit.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row no-gutters mb-3">
                <div class="col-lg-6">
                    <div class="case-study-description">
                        <h3>Adani Schools</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim dignissim velit.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="case-study-thumb">
                        <img src="https://via.placeholder.com/350x150" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row no-gutters mb-3">
                <div class="col-lg-6">
                    <div class="case-study-thumb">
                        <img src="https://via.placeholder.com/350x150" class="img-fluid w-100">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="case-study-description">
                        <h3>Support to Government Schools</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim dignissim velit.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row no-gutters mb-3">
                <div class="col-lg-6">
                    <div class="case-study-description">
                        <h3>UTTHAN</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim dignissim velit.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="case-study-thumb">
                        <img src="https://via.placeholder.com/350x150" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row no-gutters mb-3">
                <div class="col-lg-6">
                    <div class="case-study-thumb">
                        <img src="https://via.placeholder.com/350x150" class="img-fluid w-100">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="case-study-description">
                        <h3>Support to Government Schools</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim dignissim velit.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <p class="readmore-flat text-center mt-4"><a href="">Load more</a></p>
</div>
}
