@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<div class="header-icons">
    <ul>
        @if (element.GetChildren() != null)
        {
            foreach (Item item in element.GetChildren())
            {
                LinkField link = (LinkField)item.Fields["Link"];
                <li><a href="@link.GetFriendlyUrl()"><i class="@item.Fields["Icon"]"></i></a></li>                
            }
        }

    </ul>
</div>