@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<div class="collapse navbar-collapse" id="mainMenu">
    <ul class="navbar-nav mx-auto primaryMenu">
        @if (element.GetChildren() != null)
        {
            foreach (Item item in element.GetChildren())
            {
                LinkField link = (LinkField)item.Fields["Link"];
                if (item.ID.ToString() == "{258301B3-F5AE-402E-BA10-19EF29E65F93}")
                {
                    <li class="nav-item">
                        <a href="#foundationSubscribeUsModal" data-toggle="modal" data-target="#foundationSubscribeUsModal" class="nav-link">@Html.Sitecore().Field("NavigationTitle", item)</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@link.GetFriendlyUrl()">@Html.Sitecore().Field("NavigationTitle", item)</a>
                    </li>
                }

            }
        }
    </ul>
    @Html.Sitecore().Rendering("{CA22FD16-D2CA-40F9-81FA-5F9922559444}")
</div>
