@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    Item rootItem = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.RootPath);
}
<header class="headerSec">
    <div class="fade-overlay"></div>
    <div class="overlay-top"></div>

    <div class="navPanel position-absolute">
        <div class="container navtopbar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- logo Garvhai -->
                <a class="navbar-brand" href="/">
                    @if (rootItem != null)
                    {
                        @Html.Sitecore().ImageField("Logo", rootItem)
                    }
                </a>
                <!-- /logo Garvhai -->
                <div class="menu-overlay d-none"></div>
                <!-- SecondaryMenu-->
                @Html.Sitecore().Rendering("{743262A8-BA30-4EB3-A8D7-F3A29C0390F6}")
                <!-- /SecondaryMenu-->
                <!-- PrimaryMenu-->
                @Html.Sitecore().Rendering("{FDEB6D5D-93A6-41AF-A03C-6667B8C98A8B}")
                <!-- /PrimaryMenu-->
            </nav>
        </div>
    </div>
</header>
@Html.Sitecore().Rendering("{5F27A773-69EB-4C55-922C-F35A77602F86}")
