@using Sitecore.Foundation.SitecoreExtensions.Extensions;
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col-lg-5">
    <div class="home-projects-sidebar">
        @if (element.GetChildren() != null)
        {
            Sitecore.Collections.ChildList item = element.GetChildren();
            <div class="hps-01" data-aos="fade-up" data-aos-duration="2500">
                @*@Html.Sitecore().ImageField("MediaImage",item[0],0,0, "img-fluid")*@
                <img src="https://via.placeholder.com/250x250" class="img-fluid">
            </div>
            <div class="hps-02" data-aos="fade-up" data-aos-duration="3500">
                @*@Html.Sitecore().ImageField("MediaImage", item[0], 0, 0, "img-fluid")*@
                <img src="https://via.placeholder.com/300x250" class="img-fluid">
            </div>
        }

    </div>
</div>
