@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<div class="position-relative d-block">
    <!-- Banner -->
    <div id="mute" class="btn"></div>
    <div class="mainSlider">
        <div class="owl-carousel owl-theme homeslider d-none d-md-block">
            @if (element.GetChildren() != null)
            {
                foreach (Item item in element.GetChildren())
                {
                    <div class="item" data-videosrc="4">
                        @Html.Sitecore().ImageField("MediaImage", item)                        
                    </div>
                }
            }
        </div>
        @if (!String.IsNullOrEmpty(Html.Sitecore().Field("MediaInfo", element).ToString()))
        {
            <div class="banner-btm-container">
                <div class="container">
                    <div class="row">
                        @Html.Sitecore().Field("MediaInfo", element)
                    </div>
                </div>
            </div>
        }
    </div>
</div>
