@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<section class="bg-gray pb-4">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("media-section")            
            
        </div>
    </div>
</section>

