@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
}


<div class="col-lg-4 mt-5 mb-2">
    <div class="box-block p-4 w-100">
        <h3 class="section-heading">Media Contacts</h3>
        <ul class="ul-media-contacts mb-5">
            <li><i class="fa fa-envelope-open"></i><a href="mailto:info@adanifoundation.com">info@adanifoundation.com</a></li>
            <li><i class="fa fa-phone fa-rotate-90"></i><a href="call:79-2555-5107">+91-79-2555-5107</a></li>
        </ul>
        <p class="">

            <a href="#foundationSubscribeUsModal" data-toggle="modal" data-target="#foundationSubscribeUsModal" class="btn btn-border mb-2">Subscribe Us</a>
            <a href="" class="btn btn-gradient mb-2" data-toggle="modal" data-target="#callback">Media Enquiry</a>
        </p>
    </div>
    <p class="mt-5 my-3 px-4"><a href="/newsroom/media-library" class="txt-md"><img src="-/media/2EE30702DB8648128E788753366D75B5.ashx" class="img-fluid mr-3" style="width: 45px;">Media Library</a></p>

</div>
