@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}


<section class="position-relative foundation-stats">
    @if (element != null)
    {
        if (!String.IsNullOrEmpty(Html.Sitecore().Field("MediaInfo", element).ToString()))
        {
            @Html.Sitecore().Field("MediaInfo", element)
        }
        <div class="container">
            <div class="row">
                @foreach (Item item in element.GetChildren())
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="foundation-stats-inner box-zoom">
                            <p>@item.Fields["StatValue"]<span>@item.Fields["StatName"]</span></p>
                        </div>
                    </div>
                }                
            </div>
        </div>
    }
</section>
