@using Sitecore.Foundation.SitecoreExtensions.Extensions;
@using Sitecore.Data.Fields;
@using Sitecore.Data.Items;
@{
    var contextItem = Sitecore.Context.Item;
    MultilistField element = contextItem.Fields["MoreSectionPages"];
}

<section class="bg-gray-light py-5 more-stories mt-4">
    <div class="container">
        <h2 class="heading heading-centered">@Html.Sitecore().Field("MoreSectionHeading", contextItem)</h2>
        <div class="row">
            @if (element != null)
            {
                Item[] listItem = element.GetItems();
                foreach (Item item in listItem)
                {
                    var link = Sitecore.Links.LinkManager.GetItemUrl(item).ToLower();
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <a href="@link">
                                <div class="card-body">
                                    <div class="card-thumb">
                                        @Html.Sitecore().ImageField("Thumbnail", item, 0, 0, "img-fluid")
                                        @*<img src="https://via.placeholder.com/350x200" class="img-fluid">*@
                                    </div>
                                    <div class="card-title">
                                        <h3>@Html.Sitecore().Field("Title", item)</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }            
        </div>
    </div>
</section>