@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var contextItem = Sitecore.Context.Item;
}


<section class="py-4 bg-gray-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-lg-left text-center">
                @Html.Sitecore().ImageField("BeneficiaryImage", contextItem, 0, 0, "img-fluid rounded-circle border")
                @*<img src="https://via.placeholder.com/250x250" class="img-fluid rounded-circle border">*@
            </div>
            <div class="col-lg-9 py-5 text-lg-left text-center">
                <p>@Html.Sitecore().Field("Message", contextItem)</p>
                <p class="mt-3"><strong>@Html.Sitecore().Field("BeneficiaryName", contextItem)</strong></p>
            </div>
        </div>
    </div>
</section>

