@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var contextItem = Sitecore.Context.Item;
}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                @if (!String.IsNullOrEmpty(Html.Sitecore().Field("Heading", contextItem).ToString()))
                {
                    <h2 class="heading">@Html.Sitecore().Field("Heading", contextItem)</h2>
                }
                <p class="mb-3">@Html.Sitecore().Field("Summary", contextItem)</p>
            </div>
            
            <div class="col-lg-6 mb-3">
                @Html.Sitecore().ImageField("MainImage", contextItem, 0, 0, "img-fluid w-100")
            </div>
        </div>
        @Html.Sitecore().Field("Description", contextItem)
    </div>
</section>
