<section>
    <div class="container">
        <div class="row">
            <div class="modal video" id="foundationSubscribeUsModal">
                <div class="modal-dialog modal-dialog-centered modal-xs">
                    <div class="modal-content modal-lg">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <!-- Modal body -->
                        <div class="modal-body bg-white c-tracking p-4">
                            <h3 class="mb-3 txt-md">Subscribe to our latest updates</h3>
                            @Html.Sitecore().Rendering("{6D299697-4BCB-4216-A81E-4BF65AF82110}")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
