@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.ChangeBillLanguage


<!-- Toggle button to show/hide side nav -->
<div class="d-block d-md-none sideNavBtn">
    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
        <i class="fas fa-align-left"></i>
        <span>&nbsp;Menu</span>
    </button>
</div>
<!-- /Toggle button to show/hide side nav -->
<div class="clearfix"></div>
<!-- Update Profile Page Content-->
<div class="panel">
    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { }))
    {
        @Html.AddUniqueFormId()
        @Html.AntiForgeryToken()
        <form class="pt-3">
            <div class="form-group row">
                <label for="" class="col-sm-6 col-md-12 col-form-label">Your current bill language is selected below</label>
            </div>
            <div class="form-group row">
                @foreach (var language in Model.BillLanguageList)
                {
                    <div class="col-sm-4 col-md-3">

                        @Html.RadioButtonFor(model => model.BillLanguageSelected, language.ToString(), new { id = "lang" + language })
                        @Html.Label(language)
                    </div>
                }
            </div>
            <div class="form-group row">
                <div class="col-sm-12"><p>Simply choose the language in which you want to receive your electricity.</p></div>
            </div>
            <div class="form-group row py-2">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12"><p><span class="txt-underline">Note</span> : The change in the bill language is applicable only to physical bill copy.</p></div>
            </div>
        </form>
    }
</div>

