@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration

    
    <div class="panel">
        <form>
            <h3 class="mb-3">Complaints/Queries</h3>

            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <label>Select Type Complaint/Query<span class="txt-red">*</span></label>
                    <div class="form-group">
                        <select id="type" onchange="getComplaintsCategory();" class="custom-select"></select>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Select Category<span class="txt-red">*</span></label>
                        <div class="form-group">
                            <select id="category" class="custom-select"></select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                       
                           
                            <label>Additional Comment<span class="txt-red">*</span></label>
                            <textarea id="comment" class="w-100 p-2" rows="3" placeholder="Comment"></textarea>
                        </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="submit" name="submit" class="btn btn-primary mr-2" id="submitform" value="@Html.Sitecore().Dictionary("/Accounts/afersalesservice", "Submit")" />

                </div>
            </div>
        </form>
    </div>
                        

