
@*<img src="images/mailbox_icon.gif" class="empty_inbox" class="img-fluid">*@

<div class="tablexoverflow">
    <br/>
    <table id="tblInbox" class="table table-white table-hover table-fw mail-outbox" style="width: 739px;">
        <thead class="thead-light">
            <tr>
                <th>FromEmail</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
    </table>
</div>


