
<div id="dvMessageoutbox" class="row" style="display:none;">
    <div class="col-12">
        <div class="alert alert-info"></div>
    </div>
</div>
<div class="tablexoverflow">
    <br />
    <table id="tblOutbox" class="table table-white table-hover table-fw mail-outbox" style="width: 739px;">
        <thead class="thead-light">
            <tr>
                <th>Select</th>
                <th>To</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
       
    </table>
</div>

<div class="form-group row py-2">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" onclick="fnDeleteOutboxItem('tblOutbox','/api/Accounts/DeleteOutbox','/api/Accounts/LoadData_Outbox')">Delete</button>
    </div>
</div>