<!-- Toggle button to show/hide side nav -->
<div class="d-block d-md-none sideNavBtn">
    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
        <i class="fas fa-align-left"></i>
        <span>&nbsp;Menu</span>
    </button>
</div>
<!-- /Toggle button to show/hide side nav -->
<div class="clearfix"></div>
<!-- Update Profile Page Content-->
<div class="panel">
    <p>Keep track of all the expenditure you have made on the electricity as it helps you prepare the monthly budget.</p>
    <div class="py-3"></div>
    <div class="tablexoverflow">
        <table id="tblPaymentHistory" class="table table-white">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Date of Payment</th>
                    <th scope="col">Centre</th>
                    <th scope="col">Amount(Rs.)</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Receipt No.</th>
                </tr>
            </thead>          
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Payment Mode</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">C</td>
                            <td>Cheque Payment</td>
                        </tr>
                        <tr>
                            <td scope="row">B</td>
                            <td>Bank Payment</td>
                        </tr>
                        <tr>
                            <td scope="row">A,F,G</td>
                            <td>Adjustments</td>
                        </tr>
                        <tr>
                            <td scope="row">E</td>
                            <td>Supplementary Bill</td>
                        </tr>
                        <tr>
                            <td scope="row">Blank</td>
                            <td>Cash Payment</td>
                        </tr>
                        <tr>
                            <td scope="row">I</td>
                            <td>Internet Payment</td>
                        </tr>
                        <tr>
                            <td scope="row">V</td>
                            <td>VDS( Voluntary Deposit Scheme )</td>
                        </tr>
                        <tr>
                            <td scope="row">S</td>
                            <td>ECS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
