@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;




<main role="main">
</main>
<div class="overlay">&nbsp;</div>
<div class="contentSection account">
    <!-- Banner -->
    <div>
        <div class="bannerCnt">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-5 col-xl-6 order2">
                        <div class="banner-404-txt">
                            @if (HttpContext.Current.Request.QueryString["er"] != null)
                            {
                                if (HttpContext.Current.Request.QueryString["er"].ToString().ToLower() == "ca_na")
                                {
                                    if (HttpContext.Current.Request.QueryString["msg"] != null)
                                    {
                                        if (HttpContext.Current.Request.QueryString["msg"].ToString().ToLower() != "")
                                        {
                                            <h2 class="txt-orange py-3">@HttpContext.Current.Request.QueryString["msg"].ToString().Replace("_", " ")</h2>
                                        }
                                        else
                                        {
                                            <h2 class="txt-orange py-3">Facility is not available for mentioned CA Number.</h2>
                                        }
                                    }
                                    else
                                    {
                                        <h2 class="txt-orange py-3">Facility is not available for mentioned CA Number.</h2>
                                    }
                                }
                                else if (HttpContext.Current.Request.QueryString["er"].ToString().ToLower() == "data_na")
                                {

                                    if (HttpContext.Current.Request.QueryString["msg"] != null)
                                    {
                                        if (HttpContext.Current.Request.QueryString["msg"].ToString().ToLower() != "")
                                        {
                                            <h2 class="txt-orange py-3">@HttpContext.Current.Request.QueryString["msg"].ToString().Replace("_", " ")</h2>
                                            <h3>For any further queries please write us at <a href="mailto:helpdesk.mumbaielectricity@adani.com">helpdesk.mumbaielectricity@adani.com</a></h3>
                                        }
                                        else
                                        {
                                            <h2 class="txt-orange py-3">Billing is already processed for this account for current month.</h2>
                                            <h3>For any further queries please write us at <a href="mailto:helpdesk.mumbaielectricity@adani.com">helpdesk.mumbaielectricity@adani.com</a></h3>

                                        }
                                    }
                                    else
                                    {
                                        <h2 class="txt-orange py-3">Billing is already processed for this account for current month.</h2>
                                        <h3>For any further queries please write us at <a href="mailto:helpdesk.mumbaielectricity@adani.com">helpdesk.mumbaielectricity@adani.com</a></h3>

                                    }



                                }
                                else { }
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 col-xl-6"><img alt="" src="-/media/4A0CDF2170C044CEBCD946A9B1F6619B.ashx" /></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->
    <!-- Page Content -->
</div>