@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Models
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.SwitchAccount

<!-- Page Content -->
<div class="pageContent">
    <div class="container">
        <!-- Welcome Message-->
        @Html.Sitecore().Placeholder("page-welcome")
        <!-- /Welcome Message -->

        <div class="py-2"></div>

        <!-- Section -->
        <div class="row">
            <!-- Left Panel -->
            <div class="col-md-4 col-lg-3">
                @Html.Sitecore().Placeholder("page-leftpanel")
                <!-- /Left Panel -->
            </div>
            <div class="col-md-8 col-lg-9" id="mainContent">
                <!-- Main Content Panel -->
                @Html.Sitecore().Placeholder("page-maincontent")
                <!-- /Main Content Panel -->
            </div>
        </div>
        <!-- /Section -->

    </div>
</div>
<!-- /Page Content -->
