@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Accounts.Models.EditProfile

@using (Html.BeginForm("Logout", "Accounts", FormMethod.Post, new
{
    @class = "form-signin"
}))
{
    <div class="row">
        <div class="col-12">
            @{
                var info = Session.GetAndRemove("UpdateMessage") as Sitecore.Foundation.Alerts.Models.InfoMessage;
                if (info != null)
                {
                    Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageView, info);
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="float-left">Welcome, <span class="txt-orange">@Html.DisplayTextFor(x => x.LoginName)</span></h4>
            <div class="float-right">
                <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Button Logout", "Logout")</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

}