@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ 
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
<div class="section-wrap scrollableOffset pt-wrap">
    <p class="mt-4">
        @Html.Sitecore().Field("Description", currentItem)
    </p>
</div>
}
