@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="scrollableOffset" id="@currentItem.DisplayName">
        <div class="govTileWrapper">
            <div class="d-md-flex d-block align-items-center ">
                <p>
                    @Html.Sitecore().Field("Description", currentItem)
                </p>
            </div>
        </div>
    </div>
}
