@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ Item currentItem = RenderingContext.Current.Rendering.Item; }

@if (currentItem != null)
{
    foreach (Sitecore.Data.Items.Item tenderitem in currentItem.Children)
    {
            <div class="scrollableOffset" id="@tenderitem.DisplayName"></div>
            <div class="commercialTenders @Html.Sitecore().Field("cssClass", tenderitem)">
                <h3>@Html.Sitecore().Field("Title", tenderitem)</h3>
                <table class="table responsiveTable">
                    @Html.Sitecore().Field("Description", tenderitem)
                </table>
            </div>
    }
}