@{
    Layout = null;
}

@using Adani.BAU.Transmission.Feature.Navigation.Platform.Models
@model Adani.BAU.Transmission.Feature.Navigation.Platform.Models.AirportHeader


@{
    if (Model.NavigationLevel1 == null)
    {
        return;
    }
}

<ul class="navbar-nav">
    @foreach (var level1 in Model.NavigationLevel1)
    {

        <li class="nav-item d-none d-md-block">
            <a class="nav-link"
               href="#"
               id="dropdownMenuLink"
               data-bs-toggle="dropdown"
               aria-expanded="false">@level1.Title</a>
            @if (level1.NavigationLevel2 != null && level1.NavigationLevel2.Count() > 0)
            {
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach (var level2 in level1.NavigationLevel2)
                    {
                        <li>
                            <a class="dropdown-item" href="#">@level2.Title</a>
                        </li>
                    }
                </ul>
            }
        </li>
    }

    <li class="nav-item nav-icon">
        <a href="#"
           class="icon-button"
           id="searchDropdown"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            <i class="i-search"></i>
        </a>

        <div class="dropdown-menu search-layer"
             aria-labelledby="searchDropdown">
            <div class="search-box">
                <span class="close-search icon-button">
                    <i class="i-cross"></i>
                </span>
                <input type="text" class="search-box__field" />
                <div class="actions">
                    <a href="#" class="clear"><i class="i-cross"></i></a>
                    <i class="i-search"></i>
                </div>
            </div>
            <ul class="search-suggester">
                <li>
                    <a href="#" class="dropdown-item">
                        <i class="i-search"></i>
                        Maharaja Hamburger
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">
                        <i class="i-search"></i>
                        Dine In options
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">
                        <i class="i-search"></i>
                        Hamburger
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">
                        <i class="i-search"></i>
                        Liqour
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item nav-icon d-none d-md-block">
        <a href="#" class="icon-button">
            <i class="i-cart"></i>
        </a>
    </li>

    <li class="nav-item nav-icon d-none d-md-block">

</ul>