@{
    Layout = null;
}

@using Adani.BAU.Transmission.Feature.Navigation.Platform.Models
@model Adani.BAU.Transmission.Feature.Navigation.Platform.Models.HeaderMyAccountLogin

@{
    if (Model == null)
    {
        return;
    }
}

<ul class="hamburger_section hamburger-header single-item">
    <li>
        <a href="@Model.Link">
            <i class="@Model.LeftIcon"></i>
            <label>@Model.Title </label>
            <span class="@Model.RightIcon"></span>
        </a>
    </li>
</ul>

