@using Sitecore.Mvc.Configuration

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "contact_forms", name = "contact_form", @class = "px-4 py-4", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="cFormTypes" value="Career-Form" name="FormType">
    <input type="hidden" id="PageInfos" value="/careers" name="PageInfo">

    <input type="hidden" id="gresponse" name="reResponse" value="abc">
    <input type="hidden" id="" name="SubmitOn" value="12/04/2020">

    <form autocomplete="off">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control" placeholder="" id="Name">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Current Organization</label>
                    <input type="text" name="Current_Organization" class="form-control" placeholder="" id="Current_Organization">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" name="ContactNo" class="form-control" placeholder="" id="ContactNo">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>E-Mail Id</label>
                    <input type="text" name="Email" class="form-control" placeholder="" id="Email">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Current Designation</label>
                    <input type="text" name="CurrentDesignation" class="form-control" placeholder="" id="CurrentDesignation">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 py-1">
                <label class="mr-3 d-block">Education</label>
                <div class="form-check form-check-inline txt-xs">
                    <input class="form-check-input" type="radio" name="Education" id="Education1" value="UG">
                    <label class="form-check-label" for="">Under Graduation</label>
                </div>
                <div class="form-check form-check-inline txt-xs">
                    <input class="form-check-input" type="radio" name="Education" id="Education2" value="PG">
                    <label class="form-check-label" for="">Post Graduation</label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Current CTC</label>
                    <input type="text" name="CurrentCTC" class="form-control" placeholder="" id="CurrentCTC">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Years of Experience</label>
                    <input type="text" name="Experience" class="form-control" placeholder="" id="Experience">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <label>Resume</label>
                <div class="custom-file">
                    <input type="file" name="ResumeAttachment" class="custom-file-input" id="ResumeAttachment" required="">
                    <label class="custom-file-label" for="">Choose file...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
            </div>



            <div class="col-lg-6 col-md-6">
                <div id="recaptcha1"></div>
            </div>
            <div class="col-lg-6 col-md-6"></div>
            <div class="col-lg-12 text-right mt-3">
                <button type="submit" id="btnContactUsSubmitsss" onclick()="uploadfile()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>


}
@if (ViewBag.Message != null)
    {
<script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
</script>
    }