@using Sitecore.Data
@using Sitecore.Adani.Website
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var itemcollections = models.Axes.GetDescendants();
}

<section class="section bg-white section-downloadsInfo1">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 py-2 text-center">
                <h3 class="pull-left sectionHeading leftAlign mt-0 margL0">@Html.Sitecore().Field(Templates.NavigationBar.Fields.Title, itemcollections)</h3>
                <p>@Html.Sitecore().Field(Templates.NavigationBar.Fields.Description, itemcollections)</p>
                <div class="row">
                    @foreach (var child in itemcollections)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-8 boxBlock">
                            <div class="boxImg">
                                @Html.Sitecore().ImageField(Templates.NavigationBar.Fields.Title, itemcollections, 0, 0, "img-fluid")
                            </div>
                            <div class="boxbg">
                                <div class="IconImg"><img src="images/downloads/3d-building.png" /></div>
                                <h4 class="pull-left leftAlign mt-0 margL0">Adani Group Corporate</h4>
                                <a href="#" class="btn btn-primary">View Presentation</a>
                                <a href="#" class="btn btn-primary">View Brochure</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 boxBlock">
                            <div class="boxImg">
                                <img src="images/downloads/adani-enterprises.png" alt="">
                            </div>
                            <div class="boxbg">
                                <div class="IconImg"><img src="images/downloads/resources.png" /></div>
                                <h4 class="pull-left leftAlign mt-0 margL0">Adani Enterprises</h4>
                                <a href="#" class="btn btn-primary">View Brochure</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
