
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<section class="breadcrumb-sub-layout bg-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb-sublayout-ul">
                    <li><a href="index.html">Home</a></li>
                </ul>
                <h1>Warranty Certificate</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg">
    <div class="height-500">
        <div class="container">
            <div class="row">
                <div class="col-md-6 form-part">
                    <div class="card">
                        <div class="tab">
                            <button class="tablinks" id="fram1">Key Accounts/CP</button>
                            <button class="tablinks" id="fram2">Consumer</button>
                        </div>
                        <div id="frm1" class="tabcontent">
                            <form>
                                <div class="parents-elm">
                                    <input type="text" class="inputText consumer-number w-100" id="number"
                                           name="number" placeholder="Enter adani invoice number*" />
                                    @*<span class="floating-label consumer-number">Enter adani invoice number*</span>*@
                                </div>
                                <input type="text" placeholder="Enter invoice date" onfocus="(this.type='date')"
                                       onblur="(this.type='date')" class="invoice-date" id="invoicedate">
                                @*<input type="date" placeholder="Enter invoice date" class="invoice-date"
                                    id="invoicedate">*@
                                <button type="button" class="btn btn-primary" id="myform1"
                                        data-toggle="modal">
                                    Proceed
                                </button>

                            </form>
                        </div>
                        <div id="frm2" class="tabcontent">
                            <form id="consumerfrom">
                                @*adding below div to for adding more rows*@
                                <div id="serialNumbers">
                                    <input type="text" class="serial-number" id="consumernumber" name="number"
                                           placeholder="Enter module serial number*" style="text-transform: uppercase">
                                </div>
                                <div>
                                    <a href="javascript:void(0)" id="addSerialRow">+ Add more module serial numbers</a>
                                </div>
                                <button type="button" id="consumerSubmit" class="btn btn-primary">Proceed</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-part">
                    <img alt="Warranty" src="-/media/B76F5CA4635F4AA5995C700C14CEC077.ashx" class="war-img" />
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="InvoiceNumberPopup" style="opacity: 1;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"></h6>
                <button type="button" class="close" data-dismiss="modal" id="closebutton">×</button>
            </div>
            <div class="bar modal-body">
                <p>Select serial number to download</p>
                <input id="filter" type="text" placeholder="Search" class="pop" />
                <i id="filtersubmit" class="fa fa-search"></i>
                <label for="selectAllFromTable">Select All</label>
                <input name="select_all" onclick="selectAllMyTable()" id="selectAllFromTable" value="1" type="checkbox"><br />
                <label><br />Selected Count:<span id="selectedcheckboxcount"> 0<br /></span><br /></label>

                <table id="myTable">
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>SN123456789900</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pop-btn">
                <button type="button" class="btn btn-primary" id="downloadFileButton" data-toggle="modal" data-target="#Mymodal">Download Warranty File</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-dialog modal-dialog-centered" role="document" style="display:none" id="WarrantyDataPopup">
    <div class="modal-content">
        <table id="warrantyDataTable">
            <tr>
                <th>Sr. No.</th>
                <th>Pallet Id</th>
                <th>Module Serial Number</th>
                <th>Performance Warranty valid till</th>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade consumerDataFormPopup" id="consumerDataFormPopup" style="opacity: 1;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Enter your details</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeConsumerPopup">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="contact-1">
                    <input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_Index_109590bb-67bf-485b-ad74-a2a2a31ebac2"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields.Index" type="hidden"
                           value="109590bb-67bf-485b-ad74-a2a2a31ebac2" />
                    <input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__ItemId"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].ItemId"
                           type="hidden" value="109590bb-67bf-485b-ad74-a2a2a31ebac2" />
                    <label for="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__Value"
                           class=""></label>
                    <input id="consumerName"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].Value"
                           class="form-control" type="text" value="" maxlength="255" placeholder="Name *"
                           data-sc-tracking="True" data-sc-field-name="name"
                           data-val-length=" must have at least 0 and no more than 255 characters."
                           data-val-length-max="255" data-val="true" />
                    <span class="field-validation-valid"
                          data-valmsg-for="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].Value"
                          data-valmsg-replace="true"></span>
                </div>
                <div class="contact-1">
                    <input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_Index_109590bb-67bf-485b-ad74-a2a2a31ebac2"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields.Index" type="hidden"
                           value="109590bb-67bf-485b-ad74-a2a2a31ebac2" /><input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__ItemId"
                                                                                 name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].ItemId"
                                                                                 type="hidden" value="109590bb-67bf-485b-ad74-a2a2a31ebac2" /><label for="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__Value"
                                                                                                                                                     class=""></label>
                    <input id="consumerAddress"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].Value"
                           class="form-control" type="text" value="" maxlength="255" placeholder="Address *"
                           data-sc-tracking="True" data-sc-field-name="address"
                           data-val-length=" must have at least 0 and no more than 255 characters."
                           data-val-length-max="255" data-val="true" />
                    <span class="field-validation-valid"
                          data-valmsg-for="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].Value"
                          data-valmsg-replace="true"></span>
                </div>
                <div class="contact-1">
                    <input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_Index_109590bb-67bf-485b-ad74-a2a2a31ebac2"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields.Index" type="hidden"
                           value="109590bb-67bf-485b-ad74-a2a2a31ebac2" />
                    <input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__ItemId"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].ItemId"
                           type="hidden" value="109590bb-67bf-485b-ad74-a2a2a31ebac2" /><label for="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__Value"
                                                                                               class=""></label>
                    <select name="Select Region" class="form-select" id="region" required>
                        <option value="Select" selected>Select Country</option>
                        <option value="India">India</option>
                        <option value="Other">Other</option>
                    </select>
                    <span class="field-validation-valid"
                          data-valmsg-for="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].Value"
                          data-valmsg-replace="true"></span>
                </div>
                <div class="contact-1">
                    <input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_Index_109590bb-67bf-485b-ad74-a2a2a31ebac2"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields.Index" type="hidden"
                           value="109590bb-67bf-485b-ad74-a2a2a31ebac2" /><input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__ItemId"
                                                                                 name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].ItemId"
                                                                                 type="hidden" value="109590bb-67bf-485b-ad74-a2a2a31ebac2" /><label for="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__Value"
                                                                                                                                                     class=""></label>
                    <select name="State" class="form-select" id="State" placeholder="Select State"><option value="Default">Select State</option><option value="OTHERS">Others</option></select>
                    <span class="field-validation-valid"
                          data-valmsg-for="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].Value"
                          data-valmsg-replace="true"></span>
                </div>
                <div class="contact-1">
                    <style>
                        .contact-1 label, .EnquiryForms_inputGroup label {
                            display: none;
                        }
                    </style>
                    <input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_Index_109590bb-67bf-485b-ad74-a2a2a31ebac2"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields.Index" type="hidden"
                           value="109590bb-67bf-485b-ad74-a2a2a31ebac2" /><input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__ItemId"
                                                                                 name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].ItemId"
                                                                                 type="hidden" value="109590bb-67bf-485b-ad74-a2a2a31ebac2" /><label for="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_109590bb-67bf-485b-ad74-a2a2a31ebac2__Value"
                                                                                                                                                     class=""></label>
                    <input id="consumerCity"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].Value"
                           class="form-control" type="text" value="" maxlength="255" placeholder="Select City *"
                           data-sc-tracking="True" data-sc-field-name="City"
                           data-val-length=" must have at least 0 and no more than 255 characters."
                           data-val-length-max="255" data-val="true" />
                    <span class="field-validation-valid"
                          data-valmsg-for="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[109590bb-67bf-485b-ad74-a2a2a31ebac2].Value"
                          data-valmsg-replace="true"></span>
                </div>
                <div class="EnquiryForms_inputGroup">
                    <div class="relative">
                        <input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_Index_6761ba91-3fc4-4757-bfbb-8ae02563ad86"
                               name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields.Index" type="hidden"
                               value="6761ba91-3fc4-4757-bfbb-8ae02563ad86" /><input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_6761ba91-3fc4-4757-bfbb-8ae02563ad86__ItemId"
                                                                                     name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[6761ba91-3fc4-4757-bfbb-8ae02563ad86].ItemId"
                                                                                     type="hidden" value="6761ba91-3fc4-4757-bfbb-8ae02563ad86" /><label for="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_6761ba91-3fc4-4757-bfbb-8ae02563ad86__Value"
                                                                                                                                                         class=""></label>
                        <div class="EnquiryForms_inputGroup">
                            <input class="form-control" type="tel"
                                   id="consumerMobile"
                                   placeholder="Enter 10 Digit Mobile Number *" maxlength="10" value="">
                        </div>
                    </div>
                </div>
                <div class="adl-floating-input">
                    <input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_Index_064082f3-9dc8-4fe7-aaf4-14fab8d2deaa"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields.Index" type="hidden"
                           value="064082f3-9dc8-4fe7-aaf4-14fab8d2deaa" /><input id="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_064082f3-9dc8-4fe7-aaf4-14fab8d2deaa__ItemId"
                                                                                 name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[064082f3-9dc8-4fe7-aaf4-14fab8d2deaa].ItemId"
                                                                                 type="hidden" value="064082f3-9dc8-4fe7-aaf4-14fab8d2deaa" /><label for="fxb_7a404650-7926-4786-88d3-63947a759ab4_Fields_064082f3-9dc8-4fe7-aaf4-14fab8d2deaa__Value"
                                                                                                                                                     class=""></label>
                    <input id="consumerEmail"
                           name="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[064082f3-9dc8-4fe7-aaf4-14fab8d2deaa].Value"
                           class="form-control" type="email" value="" maxlength="255" placeholder="Email *"
                           data-sc-tracking="True" data-sc-field-name="Email"
                           data-val-regex=" contains an invalid email address."
                           data-val-regex-pattern="^[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,17}$"
                           data-val="true" />
                    <a href='javascript:void(0)' id="generateOTPbtn">Generate OTP</a>
                    <span class="field-validation-valid"
                          data-valmsg-for="fxb.7a404650-7926-4786-88d3-63947a759ab4.Fields[064082f3-9dc8-4fe7-aaf4-14fab8d2deaa].Value"
                          data-valmsg-replace="true"></span>
                    <div class="row">
                        <span id="timer">
                            <span id="time">120</span>Seconds
                        </span>
                    </div>
                </div>
            </div>

            <div class="modal-footer1" id="otpBlock" style="display:none">
                <div class="row col-md-12">
                    <label for="">Enter OTP</label>
                </div>
                <div class="row">
                    <div class="col-md-6 userInput digit-group" id="otpnumber">
                        <input type="text" id='ist' maxlength="1" class="otp-input input-bottom">
                        <input type="text" id="sec" maxlength="1" class="otp-input input-bottom">
                        <input type="text" id="third" maxlength="1" class="otp-input input-bottom">
                        <input type="text" id="fourth" maxlength="1" class="otp-input input-bottom">
                        <input type="text" id="fifth" maxlength="1" class="otp-input input-bottom">
                        <input type="text" id="sixth" maxlength="1" class="otp-input input-bottom">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div id="recaptcha5"></div>
                    </div>
                    <div class="col-md-6 otpbtn">
                        <input type="button" id="submitConsumerDataBtn" class="btn-popup-my" value="Proceed">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<style>

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }
    #timer{
        display:none;
    }
</style>
<script>
    $(document).ready(function () {
        $("#filter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>

    // International telephone format
    // $("#phone").intlTelInput();
    // get the country data from the plugin
    var countryData = window.intlTelInputGlobals.getCountryData(),
        input = document.querySelector("#fxb_3d39bc0e-acd7-4914-a076-05e30425192e_Fields_9e2d6f45-40ef-459f-8590-18b13e76ee6c__Value"),
        addressDropdown = document.querySelector("#address-country");
    console.log(input)

    // init plugin
    var iti = window.intlTelInput(input, {
        hiddenInput: "full_phone",
        preferredCountries: ["in"],
        utilsScript: "https://intl-tel-input.com/node_modules/intl-tel-input/build/js/utils.js?1549804213570" // just for formatting/placeholders etc
    });


    // populate the country dropdown
    for (var i = 0; i < countryData.length; i++) {
        var country = countryData[i];
        var optionNode = document.createElement("option");
        optionNode.value = country.iso2;
        var textNode = document.createTextNode(country.name);
        optionNode.appendChild(textNode);
        addressDropdown.appendChild(optionNode);
    }
    // set it's initial value
    addressDropdown.value = iti.getSelectedCountryData().iso2;

</script>
<script>

    function isValid(str) {
        return !/[~`!#$%\^&*()+=\\[\]\\';/{}|\\":<>\?]/g.test(str);
    }

    function isValidcomman(str) {
        //return !/[~`!#$%\^&*()+=\-\[\]\\';,/{}|\\":<>\?]/g.test(str);
        return /^[a-zA-Z0-9 ]*$/g.test(str);
        
    }
    $('#consumerMobile').keypress(function (e) {
        var arr = [];
        var kk = e.which;

        for (i = 48; i < 58; i++)
            arr.push(i);

        if (!(arr.indexOf(kk) >= 0))
            e.preventDefault();
    });

    $("#consumerName").keypress(function (e) {
        var character = String.fromCharCode(e.keyCode);
        return isValidcomman(character);
    });

    $("#consumerAddress").keypress(function (e) {
        var character = String.fromCharCode(e.keyCode);
        return isValid(character);
       
    });

    $("#consumerCity").keypress(function (e) {
        var character = String.fromCharCode(e.keyCode);
        return isValidcomman(character);
        //var keyCode = e.keyCode || e.which;
        ////Regex for Valid Characters i.e. Alphabets and Numbers.
        //var regex = /^[A-Za-z0-9]+$/;

        ////Validate TextBox value against the Regex.
        //var isValid = regex.test(String.fromCharCode(keyCode));
        //if (!isValid) {
        //    e.preventDefault();
        //}
        //return isValid;
    });

    var inputs = document.querySelectorAll('.digit-group input');
    var errorMessage = document.getElementById('error-message');
    for (var i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('keydown', function (e) {
            if (e.keyCode === 8 && e.target.value === '') {
                var previousInput = e.target.previousElementSibling;
                if (previousInput !== null) {
                    previousInput.value = '';
                    previousInput.focus();
                }
            } else {
                var key = String.fromCharCode(e.keyCode);
                var pattern = /[0-9a-zA-Z]/;
                if (e.keyCode !== 8 && !pattern.test(key)) {
                    e.preventDefault();
                    return false;
                }
            }
        });
        inputs[i].addEventListener('input', function (e) {
            var maxLength = parseInt(e.target.getAttribute('maxlength'));
            var currentLength = e.target.value.length;
            if (currentLength === 0) {
                var previousInput = e.target.previousElementSibling;
                if (previousInput !== null) {
                    previousInput.focus();
                }
            } else if (currentLength >= maxLength) {
                var nextInput = e.target.nextElementSibling;
                if (nextInput !== null) {
                    nextInput.focus();
                }
            }
        });
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>