@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.AGELPortal.Website.Models.PortalRegistrationModel
@{
    Layout = null;
    var mobile = Model?.mobile;
    var usertype = Session["AGELPortalUserType"]?.ToString();
    var username = Session["AGELPortalUserName"].ToString();
    var usermode = Session["AGELPortalUserViewMode"]?.ToString();
}

<div class="container">
    @*<div class="breadcrumbs">
        @if (usertype == "superadmin" && usermode == "admin")
        {
            <a href="/AGELPortal/Home/dashboard"><img src="/images/AGELPortal/logo.svg" alt="adani Renewables" /></a>
        }
        else
        {
            <a href="/AGELPortal/Home"><img src="/images/AGELPortal/logo.svg" alt="adani Renewables" /></a>
        }
        <a href="/AGELPortal/Home/My_Profile" class="breadcrumb">My Profile</a>
    </div>*@
    <div class="row">
        <div class="col s12 l3">
            <!--Category nav-->
            <div class="side-nav hide-on-med-and-down">
                <ul class="collapsible expandable z-depth-0">
                    <li class="active">
                        <!-- <div class="collapsible-header brand-gradient-left brand-gradient-thin outlined"> -->
                            <!-- <a href="#"><i class="i-cross-c"></i>Category</a> -->
                        <!-- </div> -->
                        <div class="collapsible-body">
                            <div class="submenu">
                                <a href="/AGELPortal/Home/My_Profile" id="my-profile">My Profile</a>
                                <!-- <a href="/AGELPortal/Home/change_mobile" class="active brand-gradient-parent brand-gradient-left brand-gradient-thin outlined">Change Mobile</a> -->
                                <a href="/AGELPortal/Home/My_Profile_Change_Password">Change Password</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--Cn-->
        </div>
        <div class="col s12 l8 offset-l1">
            <section class="section-wrapper">
                <header class="section-header">
                    <h1>My Profile</h1>

                    <p>
                        Find below the information we have about you. In case there is change in any of your profile
                        details, just retype and click on save.
                    </p>
                </header>
                <div class="full-width-cta-wrp section-container">
                    <a href="/AGELPortal/Home/My_Profile" class="waves-effect waves-light btn btn-000 outlined full">My Personal Information</a>
                </div>
                <div class="section-header">
                    <h4>Change Mobile Number</h4>
                </div>
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post))
                {
                    <div class="card brand-gradient section-inner-wrapper outlined card-with-form login-wrap section-container">
                        <div class="input-field custom input-has-icon">
                            <input value="@mobile" id="mobile" name="mobile" type="text" class="validate" pattern="\d*" minlength="10" maxlength="10" title="Only numeric value are allowed 0-9">
                            <label class="active" for="first_name2">Mobile Number</label>
                            @*@Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")*@
                            @Html.ValidationMessageFor(model => Model.mobile, "", new { @class = "help-block text-danger" }, "p")
                        </div>
                        <div class="btn-group">
				<input type="hidden" name="hdn_name" id="hdn_name" value="@username" />
                            <button type="submit" class="waves-effect waves-light btn">Proceed</button>
                            @*<a href="/change_mobile_OTP?mobile=@Model.mobile" class="waves-effect waves-light btn btn-continue">Proceed</a>*@
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>