@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.AGELPortal.Website.Models.PortalLessonlerneningVideo

@{
    Layout = null;
    var usertype = Session["AGELPortalUser"]?.ToString();
}


<div class="container">
    <div class="section-header">
        <h3>Dashboard</h3>
    </div>
    @Html.Sitecore().Placeholder("dashboard-visiter")


    <include component="TotalCard"></include>
    @*<div class="carousel-wrapper section-container">
            <header class="section-header justify-item">
                <h4>Learning Overview</h4>
                <aside>
                    <div class="carousel-nav hide-on-small-only"></div>

                        <span>dec 21</span>

                </aside>
            </header>
            <div class="owl-carousel standard-card" data-items-desktop="1">
                <div class="graph">
                    <img src="/images/AGELPortal/graph.svg" alt="graph-img">
                </div>
            </div>
        </div>*@
    <div class="dashboard-tables">
        @Html.Sitecore().Placeholder("user-viewes")
        @Html.Sitecore().Placeholder("content-viewes")
    </div>
</div>

@*<div class="custom-modal-overlay">
</div>*@
    <div class="modal-wrapper">
        <div id="content-viewed" class="modal">

            @*@Html.Sitecore().Placeholder("ContentOverviewPopup")*@
            @*@Html.Sitecore().ControllerRendering("AGELPortal", "ContentOverviewPopup", new { userID = "B64A2FF9-3A79-4C98-A4D2-055FC46D608B" });*@
        </div>
    </div>
    <div class="modal-wrapper">
        <div id="user-viewed" class="modal">
            @*@Html.Sitecore().Placeholder("UserOverviewPopup")*@
        </div>
    </div>


