@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalRegistrationModel

@{
    Layout = null;
}
@if (Model != null)
{

    <div class="col">

        <div class="row section-container total-card-wrapper">
            <div class="col l3 s12">
                <div class="card outlined section-inner-wrapper">
                    <div class="total-card">
                        <aside>
                            <h3>Total Users</h3>
                            <h2>  @Model.usercount</h2>
                        </aside>
                        <figure>
                            <i class="vi-user-icon"></i>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col l3 s12">
                <div class="card outlined section-inner-wrapper">
                    <div class="total-card">
                        <aside>
                            <h3>Total User Visit/Day</h3>
                            <h2>@Model.User_visitors.Count()</h2>
                        </aside>
                        <figure>
                            <i class="vi-total-user-visit"></i>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col l3 s12">
                <div class="card outlined section-inner-wrapper">
                    <div class="total-card">
                        <aside>
                            <h3>Total Videos</h3>
                            <h2>
                                @Model.video_contents.Count()
                            </h2>
                        </aside>
                        <figure>
                            <i class="vi-total-video"></i>

                            
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col l3 s12">
                <div class="card outlined section-inner-wrapper">
                    <div class="total-card">
                        <aside>
                            <h3>Total Documents</h3>
                            <h2>@Model.document_contents.Count()</h2>
                        </aside>
                        <figure>
                            <i class="vi-total-document"></i>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

    </div>

}
