@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalRegistrationModel

@{
    var mobile1 = Model?.mobile;
}
<div class="container">
    <div class="card outlined mid-form section-container border-none-mobile">
        <header class="section-header header-forgot">
            <img src="/images/AGELPortal/logo.svg" alt="form-logo">
            <h1 class="header-forgot-h1">Forgot Password</h1>
        </header>
        <div class="card-with-form login-wrap">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { autocomplete = "off" }))
            {
            <div class="input-field custom">
                <input value="@mobile1" id="mobile" name="mobile" type="text" class="validate" maxlength="10" minlength="10">
                @*@Html.ValidationMessageFor(model => model.OTP, "", new { @class = "help-block text-danger" }, "p")*@
                <label class="active" for="first_name2">Enter Mobile Number</label>
            </div>
            <div class="h-right btn-group2">
                @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")
                <button type="submit" id="portal-register" class="waves-effect btn full-btn btnverifynumber">Verify Number</button>
                <a class="waves-effect btn-flat" href="/AGELPortal/Home/login">Back</a>
            </div>
            }
        </div>
        <div class="bordered-items forgot-bordered-items">
            <ul>
                <li>Need some help? Call <span class="ff-rb">19122</span></li>
            </ul>
        </div>
    </div>
</div>