@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalRegistrationModel


@{
    Layout = null;
    var mobile = Model?.mobile;
    Uri myUri = new Uri(Request.Url.AbsoluteUri);

    var mobile1 = HttpUtility.ParseQueryString(myUri.Query).Get("token1");

}
@if (Session["InvalidOTP"] != null)
{
    <div id="toast-success" class="modal modal-alert modal-toast custom-toast-success" style="display: block;">
        <header class="modal-header">
            <h4>
                <a class="toast-close">
                    <i class="i-tick"></i>
                </a>
                @Session["InvalidOTP"]
            </h4>
            <a class="modal-close">
                <i class="i-cross"> </i>
            </a>
        </header>
    </div>
    Session["InvalidOTP"] = null;
}


<div class="container">
    <div class="card outlined mid-form section-container border-none-mobile">
        <header class="section-header">
            <img src="/images/AGELPortal/logo.svg" alt="form-logo">
            <h1>OTP</h1>
        </header>
        <div class="card-with-form login-wrap">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { autocomplete = "off" }))
            {

                <div class="input-field custom">
                    <input value="" id="OTP" name="OTP" type="text" class="validate">
                    @*@Html.ValidationMessageFor(model => model.OTP, "", new { @class = "help-block text-danger" }, "p")*@
                    <label class="active" for="email">Enter OTP</label>
                </div>
                <p style="margin-top:22px;">OTP will be sent if user details is valid.</p>
                <div class="h-right btn-group2">
                    @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")
                    <button value="@mobile1" name="token1" class="waves-effect btn full-btn">Verify OTP</button>
                    <a class="waves-effect btn-flat" href="/AGELPortal/Home/login">Back</a>
                </div>
            }
        </div>
        <div class="bordered-items">
            <ul>
                <li>Need some help? Call <span class="ff-rb">19122</span></li>
            </ul>
        </div>
    </div>
</div>