@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalLessonlerneningVideo
@{
    Layout = null;

}
@if (Model != null)
{

    <div class="modal-content">
        <a class="modal-close"><img src="/images/AGELPortal/cross-icon.svg" /></a>
        <h4> @Model.videos.Count  User Viewed</h4>
        @foreach (var data in Model.videos)
        {
            <div class="content-items">
                <div class="inner-items2">
                    <span>@data.part_user_name</span>
                    <div>
                        <h6>@data.user_name</h6>
                        <p>EMP563</p>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(data.created_date))
                {
                    <p>@data.created_date</p>
                }
            </div>
        }
    </div>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $('.modal-close').click(
        function (e) {
            $('#user-viewed').hide();
            $('body').removeClass('blur');

        });
</script>

@*<style>
    .blur .icon-bar-wrapper, .blur .header-wrapper, .blur .container {
        filter: blur(5px);
        user-select: none;
        overflow: hidden;
    }
</style>*@



