@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalLessonlerneningVideo



@{
    var test = Model.lesson_learningVideo;
}
@if (Model != null && test.Count != 0)
{

    
    <header class="section-header justify-item">
        <h2>Document Learning</h2>
        <aside>
            <aside>
                <a href="/agelportal/home/DocumentDetail" class="waves-effect waves-light btn see-all">See All</a>
            </aside>
        </aside>
    </header>
    <div class="section-container carousel_wrapper">
        <div class="carousel-nav side-srrow hide-on-small-only"></div>
        <div class="owl-carousel standard-card"
             data-items-desktop="4"
             data-items-mobile="1.1">
           
            @foreach (var item in test)
            {
                

                <div class="card">
                    <div class="card-image">
                        <div class="video-icon">
                            <a href="/agelportal/home/DocumentDetail?documenturl=@item.video_id"><img src="/images/AGELPortal/video-icon.svg"> </a>

                            @*<a href="/htmls/pages/video_details.html"> <img src="/images/AGELPortal/video-icon.svg" /></a>*@
                        </div>
                        <img src="/images/AGELPortal/img1.png"/>
                    </div>
                    <div class="card-content">
                        <h4>How artificial intelligence can enhance our memory</h4>
                        <p>
                            10 Min left
                        </p>
                        <div class="progress-load">
                            <div class="progress-load-time">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}