@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@{
   var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
	var ImgUrl = "";
	var ImgAltTxt = "";
	var Linkurl = "#";
	 
	Sitecore.Data.Fields.LinkField linkfield = ((Sitecore.Data.Fields.LinkField)model.Fields["LinkUrl"]); 
	if(linkfield != null) 
	{ 
		Linkurl = linkfield.GetFriendlyUrl();
	} 
}

<section class="Manufacturing">
        <div class="container">
            <div class="row ManufacturingTurbine">
                <div class="col-lg-6 col-md-6 col-sm-12 Manufacturing-content">
                    <h2 class="Manufacturing-heading">@Html.Sitecore().Field("Heading",model)</h2>
                    <h4 class="Manufacturing-detail">@Html.Sitecore().Field("Description",model)</h4>
					
                    <a class="btn btn-primary know-btn" href="@Linkurl" role="button">@Html.Sitecore().Field("LinkText",model)</a>
                </div>
            </div>
        </div>
    </section>