@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@{
   var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
   var model = Sitecore.Context.Database.GetItem(datasource);
	 
}

<section class="ContactSection">
    <div class="container contact-container">
        <div class="contactDetails col-lg-6">
          <h1 class="ContactUsHeading">@Html.Sitecore().Field("Title",model)</h1>
          <p class="ContactDescription">
            @Html.Sitecore().Field("Description",model)
          </p>
           @Html.Sitecore().Field("Body",model)
		</div>
	@Html.Sitecore().Placeholder("contact-form")
	</div>
</section>
