<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
		<pipelines>
			<initialize>
				<processor type="Sitecore.Feature.ValidateGoogleCaptcha.Route.RegisterRoute, Sitecore.Feature.ValidateGoogleCaptcha" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
			</initialize>
		</pipelines>
        <services>
		  <configurator type="Sitecore.Feature.ValidateGoogleCaptcha.ServiceConfigurator, Sitecore.Feature.ValidateGoogleCaptcha" />
	  </services>  
    </sitecore>
</configuration>