
@font-face {
  font-family: 'Humanist521BT-Bold';
  src: url('../webfonts/Humanist521BT-Bold.eot?#iefix') format('embedded-opentype'),  url('../webfonts/Humanist521BT-Bold.woff') format('woff'), url('../webfonts/Humanist521BT-Bold.ttf')  format('truetype'), url('../webfonts/Humanist521BT-Bold.svg#Humanist521BT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Humanist521BT-Roman';
  src: url('../webfonts/Humanist521BT-Roman.eot?#iefix') format('embedded-opentype'),  url('../webfonts/Humanist521BT-Roman.woff') format('woff'), url('../webfonts/Humanist521BT-Roman.ttf')  format('truetype'), url('../webfonts/Humanist521BT-Roman.svg#Humanist521BT-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
	margin:0px;
	padding:0px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	position:relative;
	 font-family: 'Muli';
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size:14px;
	background-color:#f1f1f1;

}
h1, h2, h3, h4, h5, h6, ul, li, p, header, aside, footer, section, article, nav, field, label, figcaption, figure, hgroup, input, textarea {
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
}
a:link, a:visited {
	text-decoration:none;
}
/* Customized default classes of bootstrap per Adani theme */
.alert{border-radius:0;}
.alert-danger{color:#000;border-color:#e7e7e7;}
.form-control{border-radius:0;padding:.15rem .75rem;}
.form-check-label{padding-left:3px;}
.form-check-input{width:16px;height:16px;margin-top:4px;}
select.form-control:not([size]):not([multiple]) {
    height: calc(1.80rem + 2px);
}
.col-form-label {
    padding-top: calc(0.15rem + 1px);
	padding-bottom: calc(.15rem + 1px);
}
.btn{
	border-radius:0;
	padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.31;
}
.btn.btn-lg{font-size:1.25rem;}
.btn-primary {
    color: #fff !important;
    background-color: #ba9421 !important;
    border-color: #ba9421 !important;
}
.btn-primary:hover , .btn-primary:active{
    background-color:#94761a !important;
    border-color: #94761a !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color:#009f83;
    border-color: #009f83;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
}
.btn-secondary {
    color: #fff !important;
    background-color: #181109 !important;
    border-color: #181109 !important;
}
.btn-bordered {
    border: 2px solid #fff !important;
    color: #fff;
    transition: ease-in all 0.5s !important;
}
.btn-bordered:hover{
	transition: ease-in all 0.5s;
	background: #3c3c3c;
	border: 2px solid #3c3c3c;
	color: #fff;
}
.btn-secondary:hover, .btn-secondary:active{background:#000;}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color:#000;
    border-color: #000;
}
.btn-purple{background:#913e86;color:#fff;border-color:#913e86;}
.btn-purple:hover, .btn-purple:active, .btn-purple:focus{background:#874298;color:#fff;}
.btnBordered{padding:0.3rem 1.5rem;background:none;border:1px solid #d94742;color:#d94742;font-size:1.3rem;display:inline-block;}
.btnBordered:hover{color:#2768b3;border-color:#2768b3;}
.btnBordered.focus, .btnBordered:focus {
    box-shadow: 0 0 0 0.1rem rgba(217,71,66,.7);
}
.whiteBtn{color:#fff;border:1px solid #fff;}
.whiteBtn:hover{background:#fff;color:#2768b3;}
.btnBordered.btnLg{min-width:200px;}
.blueBtn{border-color:#2768b3 !important;color:#2768b3 !important;}
.btnBordered.blueBtn:hover{background:#2768b3;color:#fff !important;}
.btnBordered.blueBtn.focus, .btnBordered.blueBtn:focus {
    box-shadow: 0 0 0 0.1rem rgba(39,104,179,.7);
}
.btn-gold{border-color:#a47400;background:#a47400;}
.btn-gold:hover{ background-color:#b79428 !important;border-color:#b79428 !important}
.txt-orange{color:#ff6633 !Important;}
.txt-teal{color:#2768b3 !important;}
.txt-blue{color:#006db7 !Important;}
.txt-sky-blue{color: #098fbc;}
.txt-purple{color:#8e278f !Important;}
.txt-green{color:#3e9808;}
.txt-gray{color:#5b5b5b !Important;}
.txt-gray-light{color:#b2b2b2 !Important;}
.txt-gold{color: #d6ad31 !important;}

.helpText{font-size:0.8rem;color:#969696;}
.required{color:#f42e2e;}
.txt-large{font-size:1.2rem;}
.txt-red{color:#d94742 !Important;}
.txt-white {color:#fff !important;}
hr{border-top:1px solid #c7c7c7;}

.bg-green{background-color:#00b16b !important;}
.bg-white{background:#fff;}
.bg-gray{background:#f8f8f8;}
.bg-blue{background-color:#006db7 !important;}
.bg-purple{background-color:#8e278f !important;}
.bg-gray-light{background-color:#f7f7f7 !Important;}
.bg-gray-dark{background-color:#e7e7e7 !Important;}
.bg-pattern-light{background:#f2f2f2 url(../images/pattern1.png) repeat;}

.content p{padding-bottom:1rem;}
.rotate90{transform:rotate(90deg);}
.noBorder{border:none;}


/* Add sprite class to add icons from Sprite image and then add specific icon class */
.sprite{
	display:inline-block;
	background:url(../images/icons-sprite-australia.png) no-repeat;
	vertical-align:middle;
}
.facebook{width:20px;height:20px;background-position:0 0;}
.twitter{width:20px;height:20px;background-position:-28px 0;}
.gplus{width:20px;height:20px;background-position:-56px 0;}
.instagram{width:20px;height:20px;background-position:-85px 0;}
.youTube{width:20px;height:20px;background-position:-111px 0;}
.linkedIn{width:20px;height:20px;background-position:-139px 0;}

.facebook-large{width:32px;height:32px;background-position:0 -28px;}
.twitter-large{width:32px;height:32px;background-position:-44px -28px;}
.gplus-large{width:32px;height:32px;background-position:-89px -28px;}
.instagram-large{width:32px;height:32px;background-position:0 -68px;}
.youTube-large{width:32px;height:32px;background-position:-44px -68px;}
.linkedIn-large{width:32px;height:32px;background-position:-89px -68px;}

/* -- Sprite classes end here -- */

/* header */
.headerSec{ 
	box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
    position: relative;
    z-index: 999;
}
.headerTopBar{	
	background: #000;
	color:#fff;
}
.navPanel{  margin: 0; background: #fff;
    width: 100%;
    padding: 0;
    transition: all 0.2s ease-in;
}
.navbar{padding:0.5rem 0;}
.navbar-expand-sm .navbar-nav .nav-link{padding:0.5rem;}
/*.navPanel>.container{padding:0;}*/

.topNav{margin:0;padding:6px 0 0px 0; font-size:0.9rem;}
.topNav li{list-style:none;display:inline-block;}
.topNav li a{color:#fff;}
.topNav li>a:hover{text-decoration:none;color:#fff;}

.navbar-light .navbar-nav .nav-item.active .nav-link,.navbar-light .navbar-nav .nav-item.show .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color:#2768b3;}
.navbar-light .navbar-toggler{border:none;padding:0.25rem 0.5rem;}

.navbar-toggler-icon{background-image:url(../images/hamburger-menu.png);width:1.75em;}


.topMenu li:last-child a{border-right:none;}
.topMenu li>a{padding:0 0.6rem;color:#d6ad31;}
.topMenu li:first-child a{padding-left:0;}
.btn.btn-menu{background:none;padding:0;font-size:1.25rem;color:#fff;}
.btn-menu span{width:20px;height:2px;background:#fff;margin:4px;display:block;}
.topNavBtn{position:absolute;z-index:9;top:3px;}
.topMenu li.topSearchMenu{display:none;}
.topMenu li .active{color:#fff;}
.topSearch{}

.social-links{line-height:1;}
.social-links li a{padding:0 1px;display:block;}

.quick-links{margin-right:10px;position:relative;top:1px;}
.quick-links li a{padding:0 10px;}

.download-links{margin-left:10px;}
.download-links li a{padding-left:5px;}
.download-links img{max-height:20px;}
.dropMenuIcon{padding-left:5px;color:#137e80;}

.dropdown-toggle::after{content:none;}
.dropdown-item{border-bottom:1px solid #ff6633;padding:.5rem .5rem;}
.dropdown-menu>.dropdown-item:last-child{border-bottom:none;}

@media (min-width: 992px){
	.navbar-brand{padding-top:0.9rem;}
	.navbar-expand-sm{padding-top:0;}
	.navbar-expand-sm .navbar-nav .nav-link {
		padding:1rem 0.9rem;
		font-size:1.25rem;
		color:#272727;
	}
	.navbar-expand-sm .navbar-nav .nav-item:last-child .nav-link{padding-right:0;}
	.social-links li:last-child a{padding-right:0;}
	.dropdown-menu{
		
		left:auto;
		box-shadow: 1px 1px 2px rgba(0,0,0,.5);background:#eee;
		padding: 6px 6px;
		border:none;top:99%;
		border-radius:0;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	.dropdown{position:static;}
	.primaryMenu{position:relative;top:1px;}
	.dropdown-item{display:inline-block;width:auto;padding:0rem .7rem;border-bottom:none;border-right:1px solid #737373;color:#737373;}
	.dropdown-menu .dropdown-item:last-child{border-right:none;}
	.dropdown-item:focus, .dropdown-item:hover{background:none;color:#ff6633;}
}

/*Footer*/
.footerSec{background:#000;color:#666;padding:1rem 0 0 0;position:relative;}
.footerBtmPanel{color:#d6ad31;padding:5px 0;font-size:0.9rem;margin-top: 10px;}

.footerMenu li{ list-style:none;display:inline-block;}
.footerMenu li a{color:#f3f3f3;padding:0 0.5rem 0 0.5rem;font-size:0.9rem;border-left:1px solid #f3f3f3;}
.footerMenu li a:hover, .footerMenu li a:focus{color:#ff6633;}
.footerMenu li:first-child a{border-left:none;}
.footerMenu li:last-child a{padding-right:0;}

/*Footer Panel2*/
.footerNav{margin-bottom:30px;}
.footerExpanded .footerNav h5 + h5{margin-top:30px;}
.footerNav:last-child {margin-bottom: 10px;}
.footerPanel2.collapsed .footerNav{margin-bottom:20px;}
.footerPanel2 h5{color: #ba9421;margin-bottom:5px;}
.footerPanel2 h5 a{color: #ba9421;font-size: 1.25rem}
.footerPanel2 ul{min-height: 50px;}
.footerPanel2 li{}
.footerPanel2 a{color:#fff;}
.footerPanel2 a:hover{color:#fff}
.footerPanel2 h6{font-size: 1rem;padding: 6px 15px 0px 0px;text-align: center;color: #fff;}
.footerPanel2 ul li a{color:#ba9421;padding-left: 5px;}

.footerLeftCol{border-right:1px solid #ccc;padding-right:20px;text-align:center;}
.footerLeftCol p{line-height:1.5;font-size:1.2rem;}

.footerCollapsed{display:none;}
.footerCollapsed .footerLeftCol{border-right:none;text-align:left;margin-bottom:20px;}
.footerCollapsed .adani-footer-logo{border-right:1px solid #ccc;padding-right:15px;display:inline-block;margin:0;width:16%;margin-right:2%;}
.footerCollapsed  .aboutTxt{display:inline-block;vertical-align:middle;width:78%;}
.footerCollapsed h5 a{font-size:1.1rem;}

ul.social-links-footer{min-height:10px;margin:10px 0;max-width:120px;}
.social-links-footer li{display:inline-block;}
.social-links-footer li a{margin-right:5px;display:block;}
.social-links-footer li:hover a{opacity:0.8;}
.adani-footer-logo{margin:1rem 0;padding:1rem 0;}

.footerMenu.menuSecondary li{}
.footerMenu.menuSecondary li a{color:#f3f3f3;opacity:0.5;border-left:none;padding:0 0.5rem;font-size:0.8rem;}
.footerMenu.menuSecondary li:last-child a{padding-right:0;}
.footerMenu.menuSecondary li a:hover{opacity:1.0;color:#ff6633;}
.copyrightTxt{font-size:0.8rem;color:#f3f3f3;opacity:0.5;margin-top:5px;}
.footerArrow{position:absolute;background:#a3a3a3;color:#fff;width:40px;height:40px;right:4%;top:-10px;font-size:1.5rem;text-align:center;padding-top:3px;cursor:pointer;}
.footerArrow:before{content:"";
	position:absolute;
	left:-20px;
	top:0;
	display:block;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid #7a7a7a;
}

/*Page Title*/
.pageTitleBar {
    background: #f0f0f0;
    background-size: cover;
    padding: 3.8rem 0;
    color: #2768b3;
    min-height: 75px;
	position:relative;    
}
.pageTitleBar .breadcrumb {
    background: none;
    color: #565656;
    padding: 0;
	margin: 0.5rem 0;
}
.pageTitleBar .container{
	position:relative;
	z-index:2;
}
.pageTitleBar .breadcrumb a{color:#565656;}

.breadcrumbBg{position:absolute;width:100%;height:100%;overflow:hidden;top:0;left:0;right:0;bottom:0;z-index:1;}
/*.breadcrumbBg img{width:100%;position:relative;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);min-height:75px;}*/
.breadcrumbBg img{position:relative;top:50%;right:0;transform:translateY(-50%);min-height:100%;float:right;}

/* Content Section */
.contentSection{
  text-align: left;
}

/*Banner*/
.mainBanner {
    width: 100%;
    height: 480px;
	position:relative;
	overflow:hidden;
	background:#ccc;
}
#bannerCarousel .owl-item{
	height:480px;
	width:100%;
	position:relative;
	overflow:hidden;
}
.bannerImg{
	position:absolute;
	z-index:1;
	left:0;top:0;right:0;bottom:0;
	background:#e76d2d;
}
.bannerContent{
	position:absolute;
	z-index:2;
	background:rgba(0,0,0,0.2);
	color:#fff;
	left:0;top:0;right:0;bottom:0;
}
.bannerContent>div{position:relative;top:40%;transform:translateY(-50%);}
.bannerContent .btn-secondary:hover{
	color: #fff;
    background-color: #2768b3;
    border-color: #2768b3;
}
.owl-carousel .owl-item .bannerImg img{width:auto;min-height:100%;min-width:100%;position:relative;top:50%;left:45%;transform:translateX(-45%) translateY(-50%);}

.what-members-say .owl-carousel .owl-dots{position:absolute;top:-25%;right:15px;z-index:9999;}
.what-members-say .owl-carousel .owl-dots .owl-dot{display:inline-block;margin:5px;}
.what-members-say .owl-carousel .owl-dots .owl-dot span{width:6px;height:6px;background:#fff;display:block;border-radius:50%;}
.what-members-say .owl-carousel .owl-dots .owl-dot.active{position:relative;}

.what-members-say .owl-carousel .owl-nav {position:absolute;top:-24%;right:0;line-height:0rem;z-index:9999;width:17%;text-align:right;}
.what-members-say .owl-carousel .owl-nav button {position:relative;width:34%;display:inline-block;text-align:right;padding:5px 0px !important;}
.what-members-say .owl-carousel .owl-nav button.owl-prev, 
.what-members-say .owl-carousel .owl-nav button.owl-next, 
.what-members-say .owl-carousel button.owl-dot {
	background: none;
    color: #fff;
    border: none;
    padding: 5px;
    font: inherit;
}
.what-members-say .owl-carousel .owl-nav button.owl-prev span,
.what-members-say .owl-carousel .owl-nav button.owl-next span { 
	font-size:3rem;
}


.section{padding:2rem 0;background-color:#f6f6f6;position: relative;display: block;z-index: 9;}
.sectionHeading{margin:1rem 0;display:block;}
/* .sectionHeading:after{content: "";display: block;position: relative;height: 4px;background: #2768b3;width: 120px;margin-left: auto;margin-right: auto;margin-top: 20px;} */
.sectionTitle{margin:0rem 0 1rem 0;border-bottom:4px solid #d94742;padding-right:30px;display:inline-block;padding-bottom:5px;}
.sectionHeading.leftAlign{display:inline-block;}
.sectionHeading.leftAlign:after{margin-left:0;margin-top:10px;}

/*Projects & business*/
.prjtTile{border:1px solid #e5e5e5;display:block;margin:30px 0; transition: transform .3s; /* Animation */height:90%;}
.prjtTile:hover{transform: scale(1.08); box-shadow: 0 0px 4px #ccc; }
.prjtTile img{width:100%;}
.prjtImg{max-height:220px;overflow:hidden;}
.prjtName{text-align:center;padding:1rem 1rem 0 1rem;font-size:1.25rem;color:#2768b3;}
.prjtName:hover{color:#2768b3;}
.prjtBrief{padding:0.5rem 0.5rem 1rem 0.5rem;text-align:center;color:#000;line-height:1.3;}


/*Latest News*/
.btnWrapper{padding:1rem 0;margin-top:40px;}
.btnWrapper .btn{font-size:1rem}
.panelBox{height:290px;margin:20px 0;}
.newsList>li{display:table;margin-bottom:20px;}
.newsItem{display:table-row;}

.newsImg{display:table-cell;margin-right:20px;width:70px;height:60px;overflow:hidden;vertical-align:top;padding-top:3px;}
.newsImg img{width:100%;}
.newsDetails{display:table-cell;vertical-align:top;padding-left:15px;}
.newsDate{color:#d94742;margin-top:5px;font-size:0.9rem;}
.newsBrief{color:#5b5b5b;line-height:1.2;}
.newsItem:hover .newsBrief{color:#d94742;}
.newsItem:hover .newsDate{color:#5b5b5b;}

.resourceItem{text-align:center;color:#5b5b5b;margin:20px 0;display:block;font-size:1rem;line-height:1.3;}
.resourceItem:hover{color:#d94742;}
.resourceIcon img{height:60px;}


/* Items List*/
ul.itemsList{margin-left:20px;}
ul.itemsList > li{list-style:disc;margin:10px 0;}
ul.itemsList li a{color:#707070;padding:3px 0;display:block;}

ol.numberedList{ 
  padding-left: 20px;
  
 }
 ol.numberedList li {
	list-style-type:decimal;
  
  padding: 4px 0 4px 10px;
  margin:3px 0;
}
ol.numberedList li:before {
  /*content: counter(li);
    counter-increment: li;
    height: 20px;
    width: 20px;
    background: #ff6633;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    top: 9px;
    font-size: 0.8rem;
    line-height: 1.5;*/
}
ol.listStyle{list-style-type:lower-alpha;}
ol.listStyle li{list-style-type:lower-alpha;}

.itemsListHeader{display:table;width:100%;}
.listHeading{display:table-cell;vertical-align:middle;}
.listIcon{display:table-cell;vertical-align:middle;text-align:right;padding-right:20px;}


/*Media Center*/
.mediaList li{margin:10px 0;color:#d94742;}
.mediaList li a{color:#5b5b5b;}
.mediaList li a:hover{color:#d94742;}
/*Video*/
#video .modal-body{padding:5px;}
#video button.close{position: absolute;right: 0px;top: -35px;font-size: 40px;}

/*About us page*/
.aboutContent{font-size:0.96rem;}
.aboutContent p{padding-bottom:0.5rem;}
.prjtsCarouselOuter{width:50%;float:right;}
.prjtsCarouselOuter .owl-carousel{margin:0 0 20px 20px;}
.prjtsCarouselOuter .owl-carousel .owl-dots{position:relative;bottom:inherit;right:0;margin-top:10px;text-align:right;}
.prjtsCarouselOuter .owl-carousel .owl-dots .owl-dot span{background:#d9d9d9;}
.prjtsCarouselOuter .owl-carousel .owl-dots .owl-dot.active span{background:#2768b3;}
.prjtsCarouselOuter .owl-carousel .owl-item{max-height:350px;overflow:hidden;}

/*History*/
.history{background:#181818 url('../images/history.png') no-repeat;background-size:cover;}

/*Team*/
.member{text-align:center;margin:15px 0;border-radius:0;transition: transform .3s;height:90%;}
.memberName{color:#9d2b81;font-size:1.2rem;}
.memberPost{color:#323030;font-size:0.9rem;min-height:45px;}
.memberPic{max-height:230px;overflow:hidden;}
.memberPic img.card-img-top {
    border-radius: 0;
}
.member:hover{transform: scale(1.08); box-shadow: 0 0px 2px #ccc;}
.teamSection .sectionHeading:after{background:#9d2b81;}

/*Popup*/
.modal-content{border-radius:0;}
.modal-header{border-bottom:none;}
.modal-header .close{font-size:1rem;padding-top:0.5rem;}
.modal-open .modal{background:rgba(0,0,0,0.7);}

/*Leadership Bio*/
.leadershipBio{background:#fff;overflow:hidden;}
.leadershipBio .close{font-size:0.9rem;}

/*Team Modal*/
.leadershipBio .teamModal{margin-bottom:15px;display:none;padding:1.5rem;}
.teamModal .mPic{float:left;margin-right:2%;margin-bottom:20px;max-width:200px;width:20%;}
.mDetails{margin-left:22%;}
.teamModal .mName{font-size:1.5rem;color:#9d2b81;}
.teamModal .mPost{font-size:1.1rem;color:#000;}
.mAboutTxt{margin-top:20px;font-size:1rem;line-height:1.3;}
.mAboutTxt p{margin-bottom:10px;}
.mAboutTxt p:last-child{margin-bottom:0;}

/*Projects and business page*/
.projectCard .card{background:#f0f0f0;color:#404040;margin-bottom:30px;border-radius:0;border:0;}
.projectImg{max-height:300px;overflow:hidden;}
.projectImg .card-img-top{border-radius:0 !Important;}
.projectsList{margin:0 1.25rem 1.25rem 1.25rem;}
.projectsList li{padding:0;background:none;border-radius:0 !important;border-bottom:none;}
.projectsList.list-group-flush .list-group-item:last-child{border-bottom:1px solid rgba(0,0,0,.125);}
.projectsList li a{padding:0.5rem 0.5rem 0.5rem 0;display:block;color:#404040;}
.projectsList li a:after{content:'>';float:right;}
.projectsList li a:hover{color:#2768b3;}

.ctaPanel {
    height:165px;
    background-color:#ebebeb;
    position: relative;
	color:#5a5a5a;
}
.ctaPanel .container, .ctaPanel .container .row {
	height: 100%;
}
.ctaBg{position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;}
.ctaBg img{position:relative;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:100%;min-height:100%;}

/*Mine Page*/
.mapContainer{border:1px solid #ccc;display:inline-block;}
.tileOuter{overflow:hidden;border:1px solid #a9a9a9;display:block;background:#fff;transition: transform .3s;margin-bottom:30px;}
.tileOuter img{width:100%;}
.tileCaption{padding:5px 15px;font-size:1.2rem;color:#262626;background:#fff;transition: transform .3s;}

.tileOuter:hover .tileCaption{color:#fff;background:#2768b3;}
.rightArrowCircle{float:right;color:#2768b3;}
.tileOuter:hover .rightArrowCircle{color:#fff;}

/* Rail Page */
.docsContent{background:#f8f8f8;padding:2rem 1rem 2rem 2rem;}
.docTabs.nav-tabs .nav-item.show .nav-link, .docTabs.nav-tabs .nav-link.active{background:#f8f8f8;}
.docTabs.nav-tabs .nav-item .nav-link{border-radius:0;border-bottom:none;font-weight:normal;}
.docsContent .tab-content_inner{max-height:200px;overflow:auto;}
.docsContent ul li{margin:5px 0;}
.docsContent li a{color:#2768b3;font-weight:normal;}
.docsContent li a:hover{text-decoration:underline;}
.docsContent .fa-file-pdf{color:#2768b3;padding-right:10px;}
.our_business_tab_pane_title{padding-bottom:0.5rem;}


/* Left Navigation STYLE */
#dismiss {
   text-align:right;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	padding:0.25rem 1rem;
	background:rgba(0,0,0,0.3);
}

#dismiss:hover {
    background: rgba(0,0,0,0.4);
    color: #fff;
}
.sideNavBtn{float:right;margin-bottom:1rem;}

.overlay, .overlay-top {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
	top:0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active, .overlay-top.active {
    display: block;
    opacity: 1;
}
.overlay-top{z-index:999;}

#sideNav.active {
    left: 0;
}
#sideNav ul li{border-bottom:1px solid #fff;}
#sideNav ul li a {
    padding: 0.5rem 0.75rem;
    display: block;
	background:#f36f31;
	color:#fff;
	position:relative;
}
#sideNav ul li a:hover {
    color: #fff;
    background: #ff6633;
}
#sideNav ul li .submenu li a{background:#e9e9e9;color:#000;}
#sideNav ul li .submenu li a:hover, #sideNav ul li .submenu li.active a{background:#858585;color:#fff;}

#sideNav ul li a.dropdown-toggle::after {
	width:auto;
	height:auto;
	content:'>';
	display: block;
    position: absolute;
    top: 50%;
    right: 0.5rem;
	border:none;
	transform: translateY(-50%) rotate(0deg);
}
#sideNav ul li a[aria-expanded=true]{background:#ff6633;}
#sideNav ul li a[aria-expanded=true]::after{transform: translateY(-50%) rotate(90deg);}


/* Table Style */
.tableOuter{border:1px solid #a2a2a2;}
.table .thead-light th{background-color:#e9e9e9;}
.table-hover tbody tr:hover{background-color:rgba(0,0,0,0.05);}

/* Search */
.searchBox .btn{margin-left:10px;}
.searchItem{background:#f7f7f7;border:1px solid #e4e4e4;padding:1rem;margin-bottom:10px;}
.searchItem p{margin:0.25rem 0;}
.searchItem h5{font-size:1.1rem;}
.searchItem a{color:#ff6633;word-break: break-word;}
.searchItem .downloadDoc{padding-left:10px;padding-top:3px;display:inline-block;}

.footerExpanded{margin:0 -15px;width:100%;}
.footerExpanded:before, .footerExpanded:after{clear:both;content:'';display:block;}
.footerMenuWrapper, .footerLeftCol{float:left;padding:0 15px;}


.footerNav {
	margin-bottom: 30px;
	float: left;
	width: 33.33%;
	padding: 0 15px;
}
.footerCollapsed .footerNav{width:25%;margin-bottom:10px;}
.footerCollapsed .footerMenuWrapper{width:100%;}

@media (min-width: 992px){
	.pageContent{min-height:250px;}
	.navTile a{border-right:1px solid rgba(226,226,226,0.2);}
	.navTile:first-child{margin-left:-15px;}
	.navTile a:hover{background:rgba(0,0,0,0.2);}
	.communityTile{min-height:180px;height:100%;padding:1.5rem;}
	.communityTile.large .tileCnt{position:absolute;bottom:1.5rem;width:70%;}
	.community3{margin-top:30px;}
	.community1 .communityTile{background:url(../images/bg-community1.png) no-repeat left top;}
	.serviceTile{margin:2rem 1rem;}
	.searchItem .downloadDoc{padding-left:1rem;}
	.bannerContent p{font-size:1.4rem;}
	.teamModal .modal-body{padding:0 2rem 2rem 2rem;}
	.footerExpanded .adani-footer-logo{margin-top:2.5rem;}
	.footerMenuWrapper{width:75%;}
	.footerLeftCol{width:25%;}
	.footerLeftCol .aboutTxt{padding-right:15px;}	
}




/* 2nd July 2018 */
.required{color:red;}
.pay_box{margin: 10px 15px;box-shadow: 0px 0px 5px 1px #E0E0E0;}
.mr-lt-30{margin-left: 30px;}
.txt-underline{text-decoration: underline;}
.pull-right{float:right;}
.txt-lg{color: #ccc;font-size: 14px;}
.pagination{display: inline-block;border-radius: 4px;}
.pagination li{display:inline;}
.pagination li,
.pagination li span{position:relative; float:left; border:1px solid #ccc;padding: 6px 12px;}
.pagination .active {background: #E9ECEF;color: #000 !important;}
.pagination .active a{color:#000;}
.pagination .start a,
.pagination .end a {color:#000;}
.pagination a{color: #F36F31;}
.panelbtmbar span{margin-right: 8%;}


/*Kirtesh CSS*/
.sectionHeading-voilet{margin: 1rem 0;display: block;}
.sectionHeading-voilet.leftAlign {display: inline-block;}
.sectionHeading.leftAlign:after {margin-left: 0;margin-top: 10px;}
.sectionHeading-voilet:after{content: "";display: block;position: relative;height: 4px;background: #9d2b81;width: 120px;margin-top: 20px;}
.sectionHeading-voilet-white{}
.sectionHeading-white{margin: 1rem 0;display: block; color:#fff;}
.sectionHeading-white.leftAlign {display: inline-block;}
.sectionHeading.leftAlign:after {margin-left: 0;margin-top: 10px;}
.sectionHeading-white:after{content: "";display: block;position: relative;height: 4px;background: #fff;width: 120px;margin-top: 20px;}
.txt-center{text-align:center;}

.inner-bg{background-image:url(../images/bg-plans-reports.jpg);background-size: cover;}
.bg-blue{background: #2768b3;}
.bg-blue p{color:#fff;}
.bg-blue a{color: #fff;font-weight: 700;}
.table-responsive {display: block;width: 100%;overflow-x: auto;}
.contacttable{min-width: 1024px;margin: 2rem 0rem;}
.txt-blue{color:#2768b3;}
.communities p{color: #323030;font-size: 19px;}
.table-bordered{border: 1px solid #dee2e6;}
.video button.close {position: absolute;right: 0px;top: -35px;font-size: 40px;color: #fff;opacity: 1;}
.video .modal-body {padding: 5px;}
.video-thumb a::before{position: absolute;content: "";display: block;background-image: url(../images/video-button.png);width: 130px;z-index: 9999;height: 130px;left: 35%;top: 22%;z-index: 99;background-repeat: no-repeat;}
.left-full-img{min-height: 100%;min-width: 100%;position: relative;top: 50%;left: 50%;transform: translateX(-54%) translateY(-50%);}
.media .newsBrief{font-size: 19px;color: #3c3c3c;}
.media .newsImg{width: 70px;}
.media .newsList>li{margin-bottom: 30px;}
.box-center{margin-left:auto; margin-right:auto;text-align: center;}
.videos p{font-size: 20px;color: #5a5a5a;text-align: left;}

/* Partner Logos Carousel*/
#partner-logos{margin: 3rem 0rem;}
#partner-logos .owl-prev{position: absolute;left: -20px;top: 10%;}
#partner-logos .owl-prev span{font-size: 70px;font-weight: 100;color: #ccc;}
#partner-logos .owl-prev:hover{background: transparent;}
#partner-logos .owl-next{position: absolute;right: -20px;top: 10%;}
#partner-logos .owl-next span{font-size: 70px;font-weight: 100;color: #ccc;}
#partner-logos .owl-next:hover{background: transparent;}
#partner-logos .owl-item img{padding: 15px;}


/* Gallery*/
#gallery{margin: 3rem 0rem;}
#gallery .owl-prev{position: absolute;left: -20px;top: 18%;}
#gallery .owl-prev span{font-size: 70px;font-weight: 100;color: #ccc;}
#gallery .owl-prev:hover{background: transparent;}
#gallery .owl-next{position: absolute;right: -20px;top: 18%;}
#gallery .owl-next span{font-size: 70px;font-weight: 100;color: #ccc;}
#gallery .owl-next:hover{background: transparent;}
#gallery .owl-item img{padding: 15px;}
.ul-dashed {list-style-type: none;}
.ul-dashed li{padding-left: 22px;}
.ul-dashed li:before{content: '\2014';position: absolute;margin-left: -20px;}

/* -- Sprite classes end here -- */
/* Add sprite class to add icons from Sprite image and then add specific icon class */
.sprite-ft{
	display:inline-block;
	background:url(../images/social-media-icons.png) no-repeat;
	vertical-align:middle;
}
.fb{width: 63px;height: 60px;background-position: 0px 0;transition: ease-in all 0.2s;}
.fb:hover{opacity:0.8;transition: ease-in all 0.1s;}

.ins{width: 63px;height: 60px;background-position:2px -77px;transition: ease-in all 0.2s;}
.ins:hover{opacity:0.8;transition: ease-in all 0.1s;}

.tw{width: 63px;height: 60px;background-position:-163px 0;transition: ease-in all 0.2s;}
.tw:hover{opacity:0.8;transition: ease-in all 0.1s;}

.in{width: 63px;height: 60px;background-position:0px -76px;transition: ease-in all 0.2s;}
.in:hover{opacity:0.8;transition: ease-in all 0.1s;}

.yt{width: 63px;height: 60px;background-position:-80px -76px;transition: ease-in all 0.2s;}
.yt:hover{opacity:0.8;transition: ease-in all 0.1s;}

.gp{width: 63px;height: 60px;background-position:-163px -76px;transition: ease-in all 0.2s;}
.gp:hover{opacity:0.8;transition: ease-in all 0.1s;}




.social-ul{}
.social-ul li{display: inline;}
.txt-right{text-align: right;}
.social-icons-top{width: 24px;height: 24px;text-align: center;font-size: 14px;color: #d6ad31; position: relative;top: -2px;}
.social-icons-top:hover{color:#fff;}
/*Main Menu*/

.mainmenu{background: rgba(0, 0, 0, 0.58);position: absolute;width: 100%;z-index: 2;}


/* By Ikram */
.ColLogoBrahma { text-align:left;}
.ColLogoBelvedere { text-align:center;}
.ColLogoAdaniReality {  text-align:right;}

.mainMenu {position: absolute;width: 100%;z-index: 9;top: auto;left: 0;right: 0;background: rgba(0,0,0,0.7);display: flex;min-height: 50px;}
.mainMenu .navbar-nav {flex-direction:row;}
.mainMobileMenu {position: absolute;width: 100%;z-index: 999;top: 100%;background:transparent;transition: ease all 0.2s;left:0px;}
.mainMobileMenu .navbar-nav { flex-direction:row; width:100%;}
.navbar-light .navbar-nav .nav-link {color: #d6ad31 !important; display:inline-block;font-size:20px;position: relative;top: -3px;}
.navbar-light .navbar-nav .nav-link:hover{color: #fff !important;}
/* .navbar-light .navbar-nav .nav-link:hover {background: rgba(0,0,0,1) !important;} */
.navbar-light .navbar-nav .nav-item:first-child { text-align:left;}
.navbar-light .navbar-nav .nav-item { text-align:center;}
.navbar-light .navbar-nav .nav-item:last-child { text-align:right;}
.mainMobileMenu ul li { width:25%;}
.mainMenuIcon { display:inline-block;padding:0rem 0; margin:0 0.9rem 0 0;position: relative;top: -2px;}

.sectionHeading.main { font-size:4rem; font-weight:700; color: #d6ad31;}
.sectionHeading .caption { font-size:3rem; font-weight:400;}
.lh-40 {line-height:40px;}
.lh-50 {line-height:50px;}

.about_belvedere img {max-width:90%;}
	
.btn-primary { color: #fff !important;padding: 6px 24px;font-size: 20px;position: relative;}
    .btn-primary:hover, .btn-primary:active {
        background-color: #286ec4;
        border-color: #286ec4;
        cursor: pointer;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #286ec4;
        border-color: #286ec4;
    }

    .btn-primary.focus, .btn-primary:focus {
        box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
    }

    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
    }
	
.txt-md {
    font-size: 18px !important;
}	
.amenities {padding:0px;}
/* .amenities img {max-width:80%;} */

.explore_belvedere{}
.bg-adrenalin {position:relative;}
.bg-images {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}
.bg-images img {
    border-radius: 0;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    height: max-content;
}
.adrenalin-box {
	padding-top: 1.42857rem !important;
    padding-bottom: 1.42857rem !important;
    padding-left: 1.92857rem !important;
    padding-right: 1.92857rem !important;
    background: rgba(0, 0, 0, 0.83);
    margin-top: 4.42857rem !important;
    margin-bottom: 4.42857rem !important;
}
	.adrenalin-box .sectionHeading.main { font-size:2rem; font-weight:700; color: #d6ad31;}
	.adrenalin-box .sectionHeading .caption { font-size:2rem; font-weight:400;}
	
.membership {
    display: block;
    position: relative;
}
.membership h3 {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    margin: 1rem 0 3rem 0;
    color: #5b5b5b;
    z-index: 99;
    display: block;
    position: relative;
}	
.membership h4 {
	color:#d6ad32;
	font-size:28px;
	font-weight:700;
}
.membership p {
	margin:0.7rem 0rem 0.2rem 0rem;
}
.membership ul li {
	color: #fff;
    line-height: 32px;
	font-size:20px;
}

.membership-image {
	height:265px;
	overflow:hidden;
} 
.membership-box { 
	height: 265px;
	overflow: hidden;
	position: relative;
    z-index: 99;
    margin-top: 2rem;
    margin-left: -3rem;
    padding: 1rem 0rem 0rem 4rem;
	background-color: #000 !important;
}
.membership-box-1{background: #000 !important;}
.family-bg{
	display: inline-block;
    height: 102px;
    background: url(../images/family-icon.png);
    background-repeat: no-repeat;
    width: 158px;
    margin-top: 20px;
    bottom: -162px;
    right: -60px;
    left: auto;
}
.corporate-bg {
	display: inline-block;
    height: 102px;
    background: url(../images/briefcase-icon.png);
    background-repeat: no-repeat;
    width: 158px;
    margin-top: 20px;
    bottom: -152px;
    right: -88px;
    left: auto;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.g-bg-size-cover {
    background-size: cover !important;
}


button, button:active, button:focus, button:hover,
input, input:active, input:focus, input:hover,
select, select:active, select:focus, select:hover,
a, a:active, a:focus, a:hover
{   
    outline:none !important;
	box-shadow:none !important;
   }
   
.pad0 { padding:0px !important;}
.pad5 { padding:5px !important;}
.pad10 { padding:10px !important;}
.pad15 { padding:15px !important;}
.pad20 { padding:20px !important;}

.padT0 { padding-top:0px !important;}
.padT5 { padding-top:5px !important;}
.padT10 { padding-top:10px !important;}
.padT15 { padding-top:15px !important;}
.padT20 { padding-top:20px !important;}

.padR0 { padding-right:0px !important;}
.padR5 { padding-right:5px !important;}
.padR10 { padding-right:10px !important;}
.padR15 { padding-right:15px !important;}
.padR20 { padding-right:20px !important;}

.padB0 { padding-bottom:0px !important;}
.padB5 { padding-bottom:5px !important;}
.padB10 { padding-bottom:10px !important;}
.padB15 { padding-bottom:15px !important;}
.padB20 { padding-bottom:20px !important;}

.padL0 { padding-left:0px !important;}
.padL5 { padding-left:5px !important;}
.padL10 { padding-left:10px !important;}
.padL15 { padding-left:15px !important;}
.padL20 { padding-left:20px !important;}


.marg0 { margin:0px !important;}
.marg5 { margin:5px !important;}
.marg10 { margin:10px !important;}
.marg15 { margin:15px !important;}
.marg20 { margin:20px !important;}

.margT0 { margin-top:0px !important;}
.margT5 { margin-top:5px !important;}
.margT10 { margin-top:10px !important;}
.margT15 { margin-top:15px !important;}
.margT20 { margin-top:20px !important;}

.margR0 { margin-right:0px !important;}
.margR5 { margin-right:5px !important;}
.margR10 { margin-right:10px !important;}
.margR15 { margin-right:15px !important;}
.margR20 { margin-right:20px !important;}

.margB0 { margin-bottom:0px !important;}
.margB5 { margin-bottom:5px !important;}
.margB10 { margin-bottom:10px !important;}
.margB15 { margin-bottom:15px !important;}
.margB20 { margin-bottom:20px !important;}

.margL0 { margin-left:0px !important;}
.margL5 { margin-left:5px !important;}
.margL10 { margin-left:10px !important;}
.margL15 { margin-left:15px !important;}
.margL20 { margin-left:20px !important;}


.z-index-9 { z-index:9;}
.z-index-99 { z-index:99;}
.z-index-999 { z-index:999;}

.pos-abs {position:absolute !important;}
.pos-rel {position:relative !important;}

.ov-hid {overflow:hidden !important;}

.bg-pos { background-position:center !important;}
.g-mg-top {}

.what-members-say {
    display: block;
    position: relative;
}
.what-members-say h3 {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    margin: 0rem 0 3rem 0;
    color: #d6ad31;
    /* z-index: 99; */
    display: block;
    position: relative;
}	

.members-say-block {
	padding: 1.42857rem !important;
    background: rgba(255,255,255,0.8);
}

.media .members-pic {
	width: 80px !important;
    height: 80px;
    border-radius: 50%;
    border: #ddd 1px solid;
    margin: 20px 0px 0px 0px;
}
#what-members-say p {font-size:20px;}
.members-block {
	/* height:400px; */
	padding:2.5rem 2.2rem 1.5rem 2.2rem;
}



.latest-news {display: block;position: relative;}
.latest-news h3 {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    margin: 0rem 0 3rem 0;
    color: #2768b3;
    display: block;
    position: relative;
}
.latest-news .contentCon {padding: 0rem 0rem 0rem 2rem;}
.latest-news p {font-size:22px;line-height:1.8rem;}
.latest-news span {color: #2768b3;margin:1rem 0rem 0rem 0rem;display:block;}


.get-in-touch .contentCon {padding:2rem 2.2rem 1.5rem 5rem;position:relative;color:#fff;}
.get-in-touch .contentCon h2 { font-size:3rem;margin:0rem 0rem 1rem 0rem;}
.get-in-touch .contentCon p { font-size:1.4rem;}


.download-brochure {display: block;position: relative;padding: 2rem 0rem !important;}
.download-brochure form label { color:#fff;font-size:1.3rem;}
.download-brochure .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.grid {
  background: pink;
}

.grid_item {
  background: #ebebeb;  
  display: block;
  float: left;
  position: relative;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transition: all .2s cubic-bezier(.4,0,.2,1);
  -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
  transition: all .2s cubic-bezier(.4,0,.2,1);
}

.grid_link {
  display: block;
  color: black;
  position: relative;
  overflow: hidden;
  border: 4px solid #FFF;
}

.tile {
  font-size: 14px;
  font-family: "Segoe UI";
  line-height: 18px;
  padding: 12px;
  position: absolute;
  bottom: 0%;
  left: 0%;    
  -webkit-transform: translate(0%,0%);
      -ms-transform: translate(0%,0%);
          transform: translate(0%,0%);
  width: 100%;
}

.a { background: #bada55; }
.b { background: pink; }
.c { background: aqua; }
.d { background: orange; }
.e { background: yellow; }
.f { background: brown; }
.g { background: purple; }


/*Banner*/
.mainBanner {
    width: 100%;
    height: 630px;
    position: relative;
    overflow: hidden;
    background: #ccc;
}

#bannerCarousel .owl-item {
    height: 630px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bannerImg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ba9421;
}

.bannerContent {
    position: absolute;
    z-index: 2;
    /* background: rgba(0,0,0,0.2); */
    color: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.bannerContent-inner {
    position: absolute;
    z-index: 2;
    /* background: rgba(0,0,0,0.2); */
    color: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;font-size: 5rem;
}
.bannerContent-inner > div {
        position: relative;
        top: 60%;
        transform: translateY(-50%);
    }
    .bannerContent > div {
        position: relative;
        top: 60%;
        transform: translateY(-50%);
    }

    .bannerContent .btn-secondary:hover {
        color: #fff;
        background-color: #2768b3;
        border-color: #2768b3;
    }
	.bannerContent h1 {
		font-size:6rem;
		font-weight:700;
		line-height:1;
		color: #d6ad31;
	} 
	.bannerContent p {
		font-size:5rem;
		font-weight:400;
		line-height:1;
	} 

.mainBanner .owl-carousel { position:inherit;}
.mainBanner .owl-carousel .owl-item { height:630px;}
.mainBanner .owl-carousel .owl-item .bannerImg img {
    width: auto;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.mainBanner .owl-carousel .owl-dots {
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
}

    .mainBanner .owl-carousel .owl-dots .owl-dot {
        display: inline-block;
        margin: 5px;
    }

        .mainBanner .owl-carousel .owl-dots .owl-dot span {
            width: 20px;
            height: 20px;
            background: #fff;
            display: block;
			border-radius:50%;
        }

        .mainBanner .owl-carousel .owl-dots .owl-dot.active {
            position: relative;
            top: 0px;
        }
		.mainBanner .owl-carousel .owl-dots .owl-dot.active span {
			background:#a47400;
			border:#a47400 2px solid;
		}
		
.mainBanner .owl-carousel .owl-stage-outer {overflow:visible !important;}


.flex-container {
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	padding:0px;
	width:100%; 
 }
#alignContent {
    flex-wrap: wrap;
    /* height: 600px; */
}
.item {
    margin: 0;
    display: inherit;
    padding: 0px;
    width: 20%;
    height: 165px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	color:#fff;
	position:relative;
	overflow:hidden;
}
.owlthumb h3{display: block;position: relative;z-index: 99;color: #fff;color: #fff;margin-bottom: 35px;}
.owlthumb h3:after{content:""; display:block; position:relative;border-bottom: 1px solid #fff;width: 100px;top: 5px;}
.owlthumb{position: absolute;margin-top: -180px;padding-left: 25px;width: 100%;padding-right: 25px;}
#thumbs .item{margin-right: 10px;}
#alignContent .item {
    /* height: auto; */
}
.item p {
    width: 100%;
    text-align: center;
    color: #fff;
}
.g-Image {padding:0px;}
.g-Image img {width:100%; height:100%;}

.g-lightGreenImage img {height:auto;}

.g-darkGreenImage {background:#058497;z-index:99;}

.amenities .bg-images {top:1px;bottom:1px;}
.amenities .bg-images img {height:auto;}

.g-content {
	text-align: center;
    margin: 0 auto;
	/* padding:23%; */
	

}
.g-lightGreenImage {background-color:rgba(0, 0, 0, 0.97);z-index:99; width:100%;height:100%;}
.g-darkGreenImage {background-color:rgba(214, 173, 49, 0.97);z-index:99;width:100%;height:100%;}

/* .icon { position:relative;top:25%;} */
/* .heading { position:relative;top:30%;} */
.centerCon {
	position: absolute;
    max-width: 90% !important;
    max-height: 50% !important;
    margin: auto;
    top: 0 !important;
    left: 0 !important;
    bottom: 0;
    right: 0;
    text-align: center;
}
.centerCon h4 { font-size:1.3rem;}

.compLogosFooter img {margin-bottom: 0.8rem; margin-top: 0.5rem;}
.compLogosFooter img:nth-child(1){width: 160px;}
.ul-bullets{padding-left: 25px;}
.ul-bullets li{list-style-type: disc;}
.subheading{font-size: 30px !important;}
.terms-bg{float: right !important;top: 175px !important;min-width: 300px !important;}

.contact-e-form{}
.contact-e-form .form-control{background: #f3f3f3;padding: 14px 15px;border: 5px solid #f3f3f3;}
.contact-e-form .custom-select{background: #f3f3f3;padding: 0px 15px;border: 5px solid #f3f3f3;border-radius: 0px;}
.mx-w-500{max-width:500px;}
.stats p {
    color: #5a5a5a;
}

    .stats p span {
        display: block;
        font-weight: bolder;
        font-size: 22px;
        color: #5a5a5a;
    }
.item-img {
    max-height: 290px;
    min-height: 260px;
}

    .item-img img {
        width: 190px;
        margin-left: auto;
        margin-right: auto;margin-bottom: 20px;
    }
.amenities-tiles{}
.amenities-tiles h4 a{color: #fff !important;transition: ease-in all 0.2s;}
.amenities-tiles h4 a:hover{color: #0062cc;transition: ease-in all 0.2s;}
.amenities-desc{}
.amenities-desc li{padding-left: 60px;margin-bottom: 20px;}
.amenities-desc li span{color: #ffffff;}
.amenities-desc li img{position: absolute;margin-left: -60px;}
.bg-slider .owl-nav{position: absolute;width: 100%;top: 0%;display: block;text-align: right;padding-right: 10px;}
.bg-slider .owl-nav i{padding: 5px 10px 5px 10px;font-size: 2rem;color: #5f5f5f;background: rgba(255, 255, 255, 0.82);}
.bg-slider .owl-nav button{border: 1px solid #fff !important;border-radius: 0px !important;}
.amenities-desc-cont p{color: #ba9421;}
.amenities-desc-cont p span{display: block;color:#000;}
.amenities-desc-cont .col-md-6{margin-bottom: 20px;}
.amenities-desc-cont .col-md-12{margin-bottom: 20px;}
.sectionheading{color: #fff;margin-bottom: 30px;}
.sectionheading:after{content:""; display:block; position:relative;border-bottom: 2px solid #0062cc;width: 200px;top: 5px;}
.affiliation-slide-thumb .current h4{color: #0062cc;font-weight: bold;}
.affiliation-slide-thumb h4{font-size: 18px;}
.affiliation-slide-thumb .current .thumb-icn img{}
.thumb-icn{min-height: 90px;}
.thumb-icn img{}
.gallery-main-img{}
.gallery-main-img img{}
.breadcrumb-heaeding{font-weight: bold;}
.fixedmenu{position: fixed;top: 0%;left: 0%;background: #000;padding: 0% 15%;}
.stickyheader{position: fixed;top: 0;width: 100%;left: 0%;padding: 0% 10%;background: hsla(0, 0%, 0%, 0.75);transition: ease all 0.2s;}
.footerMenu{display:none;}



#scrolltop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.1607843137254902); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 37px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
                    transition: ease-in all 0.2s;
}

#scrolltop:hover {    transition: ease-in all 0.2s;
    background-color: rgba(0, 0, 0, 0.70); /* Add a dark-grey background on hover */
                
}
.enquirenow{position:fixed;top: 50%;right: 0px;z-index: 9;}
.enquirenow a{color:#fff;}
.enquirenow a:hover{color:#000;}
.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.accordion .card-header.collapsed:after {
    content: "\f067";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.border-0{border: 0px;}
.border-b-0{border-bottom: 0px solid #ccc;}
.border-r-2{border-left: 2px solid #ba9421;}
.form-body{}
.form-body .form-control{padding: 5px 5px;line-height: 35px;}
.form-body textarea{line-height: 28px !important;}
.form-body .custom-select{line-height: 30px;padding: 7px 5px;border-radius: 0px;height: auto;}
.popup-block button.close{position: absolute;right: 0px;top: -30px;font-size: 30px;color: #fff;opacity: 1;}


/*Media Gallery*/
.gallery-item {
    position: relative;
    width: 100%;    
}
.gallery-item img{border: 1px solid #fff;}
    .gallery-item .image {
        display: block;
        width: 100%;
        height:auto;
    }

    .gallery-item .overlay {
        cursor: pointer;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(186, 148, 33, 0.87);
    }

    .gallery-item:hover > .overlay {
        opacity: 1;
        z-index: 9;
    }

    .gallery-item .text {
        font-size: 1.2rem;
        line-height: 30px;
        cursor: pointer;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

/*Fixed Img*/
.fixed-img{position: fixed !important;top: 0;z-index: 9;}
.txt-black{color:#000 !important;}
.font-18{font-size: 18px;}
.social-icons-bottom {
    text-align: center;
    font-size: 30px;
    color: #d6ad31;
}
.social-icons-bottom:hover{color:#ffd249;}
.breadcrumb-bg{background: #d3aa31;}
.breadcrumb-bg img{opacity: 0.2;}
.sprite-menu .amenities {width: 40px;height: 30px;display: inline-block;overflow: hidden;transform: translateX(0px) translateY(-11px);position: relative;top: 17px;}
.sprite-menu .amenities img {transform: translateX(-200px) translateY(-50px);transition:ease all 0.5s;}
.navbar-nav .nav-item:hover .amenities img, .navbar-nav .nav-item .amenities .active{transform: translateX(-200px) translateY(-13px);transition:ease all 0.5s}

.sprite-menu .membership {width: 40px;height: 30px;display: inline-block;overflow: hidden;transform: translateX(0px) translateY(-11px);position: relative;top: 17px;}
.sprite-menu .membership img {transform: translateX(-280px) translateY(-50px);transition:ease all 0.5s;}
.navbar-nav .nav-item:hover .membership img, .navbar-nav .nav-item .membership .active{transform:translateX(-280px) translateY(-14px);transition:ease all 0.5s}

.sprite-menu .gallery {width: 40px;height: 30px;display: inline-block;overflow: hidden;transform: translateX(0px) translateY(-11px);position: relative;top: 17px;}
.sprite-menu .gallery img {transform: translateX(-42px) translateY(-50px);transition:ease all 0.5s}
.navbar-nav .nav-item:hover .gallery img, .navbar-nav .nav-item .gallery .active{transform:translateX(-42px) translateY(-14px);transition:ease all 0.5s}

.sprite-menu .affiliation {width: 40px;height: 30px;display: inline-block;overflow: hidden;transform: translateX(0px) translateY(-11px);position: relative;top: 17px;}
.sprite-menu .affiliation img {transform: translateX(-123px) translateY(-50px);transition:ease all 0.5s}
.navbar-nav .nav-item:hover .affiliation img, .navbar-nav .nav-item .affiliation .active{transform:translateX(-123px) translateY(-14px);transition:ease all 0.5s}
.navbar-nav .nav-item .active{color:#fff !important}
.web-center{text-align: -webkit-center;}