@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<div class="top-wrapper">
    @Html.Sitecore().DynamicPlaceholder("banner-wrapper")
    <div class="page-service">
        <div class="container">
            @Html.Sitecore().DynamicPlaceholder("business-wrapper")
        </div>
    </div>
</div>
