<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Project.Realty.Website" description="Realty content" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
					<predicate>
						<!--<include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/Realty" />
						<include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Realty" />
						<include name="Models" database="master" path="/sitecore/layout/models/Project/Realty" />-->

						<include name="Content" database="master" path="/sitecore/content/Realty" />
						<include name="Media" database="master" path="/sitecore/media library/Project/Realty" />
						<include name="Metadata" database="master" path="/sitecore/system/settings/feature/metadata/Realty" />

						<include name="Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Realty" />
						<include name="Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Realty" />
						<include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Realty" />
						<include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Realty" />
						<!--<include name="Forms" database="master" path="/sitecore/Forms/Realty" />-->
					</predicate>
					<rolePredicate>
						<include domain="extranet" pattern="^Project Realty .*$" />
					</rolePredicate>
					<!--
                    TODO: Bug in Unicorn with SC v9?
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="extranet" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" />
-->
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>