@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="section bg-white" id="plans-reports-strategies">
    <div class="container">
        <p class="py-3"></p>
        <div class="row">
            <div class="col-sm-5">
                @Html.Sitecore().Placeholder("contact-us")
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div>
                            For employment and supplier opportunities please<a href="https://www.adaniaustralia.com/en/Work-With-Us"> click here</a>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Sitecore().Placeholder("page-body")
        </div>
    </div>
</div>