@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<div class="section bg-white">
    <div class="container">
        <div class="row my-3">
            <div class="col-md-12 col-lg-12 content">
                <h3 class="sectionHeading leftAlign mt-0">@Html.Sitecore().Field("{C30A013F-3CC8-4961-9837-1C483277084A}", models)</h3>
                <div class="clearfix"></div>
                <div class="prjtsCarouselOuter">
                    @Html.Sitecore().Placeholder("media-casoual")
                </div>
                <div class="aboutContent">
                    @Html.Sitecore().Field("{D74F396D-5C5E-4916-BD0A-BFD58B6B1967}", models)
                </div>
            </div>
        </div>
    </div>
</div>
@*@Html.Sitecore().Placeholder("know-our-projects")*@