@import "../../../node_modules/@adani-digital/common/dist/scss/partials/mixins";
@import "../../../node_modules/@adani-digital/common/dist/scss/partials/variables";

// For Mobile
.hero-slider {
  display: none;
}
// For Mobile

// For Desktop
@media (min-width: 992px) {
  .hero-slider {
    display: block;
    position: relative;
    @include toRem(height, 750);

    &::after {
      height: 8px;
      width: 100%;
      top: auto !important;
      bottom: -0.5rem!important;
      @include gradientBorder(right);
    }

    .mumbai-airport {
      margin: 0 -10px;
      overflow: hidden;
      @include toRem(height, 750);
    }

    .slick-arrow {
      visibility: hidden !important;

      &.slick-prev {
        left: 2.5rem;
      }

      &.slick-next {
        right: 2.5rem;
      }
    }

    .slick-slider {
      padding: 0 0px;

      .slick-slide {
        padding: 0;
      }

      .slick-dots {
        @include toRem(margin-bottom, 120);

        li {
          z-index: 2;
        }
      }

      &:hover {
        .slick-arrow {
          visibility: visible !important;
        }
      }
    }

    img {
      height: 46.875rem;
      object-fit: cover;
      width: 100%;
    }

    .banner_slide {
      position: relative;

      .banner-content {
        position: absolute;
        transform: translate(-50px, -50px);
        color: #ffffff;
        z-index: 1;
        max-width: 50%;
        top: 40%;
        left: 18%;
        bottom: inherit;
        right: 0;
         .bannerLogo{
           @include toRem (width,116);
           height: auto;
           @include toRem (margin-bottom,24);
         }
        h3 {
          @include toRem(font-size, 42);
          letter-spacing: -0.042rem;
          font-family: Roboto-Medium;
          margin-bottom: 0;
          display: block;

          span {
            display: block;
            padding-right: 1.375rem;
            position: relative;
          }
        }

        p {
          @include toRem(font-size, 24);
          @include toRem(margin-top, 15);
        }

        .know-more-btn {
          color: $white;
          border: $white;
          background: $white;
          color: #222222;
          margin-top: 2.5rem;
          @include toRem(font-size, 16);
        }
      }
    }
  }
}

// For Desktop