@charset "UTF-8";
$wrapper-class:'';
$icon-prefix:'i';
$icon-font-family:'icons';
@import "../config/icons.scss";

@function unicode($str){
    @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"");
}

@mixin reset-icon(){
    .font-icon,
    [class^="#{$icon-prefix}-"],
    [class*=" #{$icon-prefix}-"] {
        // width:24px;
        // height:24px;
        // line-height:24px;
        color:#222;
        position:relative;
        display:inline-block;
        vertical-align:middle;
        &:before{
            // top:0;
            // left:0;
            // width:24px;
            // height:24px;
            font-size:24px;
            // line-height:24px;
            text-align:center;
            font-style:normal;
            // position:absolute;
            font-weight:normal;
            display:inline-block;
            vertical-align:middle;
            -webkit-font-smoothing:antialiased;
            -moz-osx-font-smoothing:grayscale;
            font-family:'#{$icon-font-family}';
        }
        // &.with-label{
        //     width:auto;
        //     height:auto;
        //     line-height:24px;
        //     position:relative;
        //     padding-left:30px;
        //     &::before{
        //         left:0;
        //         top:50%;
        //         margin-top:-12px;
        //         position:absolute;
        //     }
        // }
        // &.i-pos-tc{
        //     padding-left:0;
        //     padding-top:30px;
        //     &::before{
        //         top:0;
        //         left:50%;
        //         margin-top:0;
        //         margin-left:-12px;
        //     }
        // }
        // &.i-pos-rc{
        //     padding-left:0;
        //     padding-right:30px;
        //     &::before{
        //         top:50%;
        //         right:0;
        //         left:inherit;
        //     }
        // }
        // &.i-pos-bc{
        //     padding-left:0;
        //     padding-bottom:30px;
        //     &::before{
        //         left:50%;
        //         bottom:0;
        //         top:inherit;
        //         margin-top:0;
        //         margin-left:-12px;
        //     }
        // }
    }

    @each $size in $icon-sizes{
        .#{$icon-prefix}-#{$size}{
            width:#{$size}px;
            // height:#{$size}px;
            // line-height:#{$size}px;
            &::before{
                // width:#{$size}px;
                // height:#{$size}px;
                font-size:#{$size}px;
                // line-height:#{$size}px;
            }
            &.with-label{
                
            }
            // &.i-pos-lc{
            //     padding-left:#{$size+5}px;
            //     &::before{
            //         margin-top:-#{$size/2}px;
            //     }
            // }
            // &.i-pos-tc{
            //     padding-top:#{$size+5}px;
            //     &::before{
            //         margin-left:-#{$size/2}px;
            //     }
            // }
            // &.i-pos-rc{
            //     padding-right:#{$size+5}px;
            //     &::before{
            //         margin-top:-#{$size/2}px;
            //     }
            // }
            // &.i-pos-bc{
            //     padding-bottom:#{$size+5}px;
            //     &::before{
            //         margin-left:-#{$size/2}px;
            //     }
            // }
        }
    }

    @each $ico in $icon-list{
        $name:nth($ico, 1);
        $code:nth($ico, 2);
        .#{$icon-prefix}-#{$name}:before {
            content:unicode($code);
        }
    }

    //@include iconColor('fff', $color-fff);
    //@include iconColor('000', $color-000);
    //@include iconColor('001', $color-001);
    //@include iconColor('002', $color-002);
    //@include iconColor('003', $color-003);
}

@if $wrapper-class {
	@if $wrapper-class == '' {
		@include reset-icon();
	} @else {
		.#{$wrapper-class}{
			@include reset-icon();
		}
	} 
}@else {
	@include reset-icon();
}