@import "../../../node_modules/@adani-digital/common/dist/scss/partials/mixins";
@import "../../../node_modules/@adani-digital/common/dist/scss/partials/variables";


.backtotop-wrap{
  display: flex;
  justify-content: end;
}

.backToTop {
  position: fixed;
  top: auto;
  transform: none;
  bottom: 5.5rem;
  z-index: 100;
  cursor: pointer;
  display: none;
  .inner {
    transition: padding 500ms ease-in-out;
    background-color: #f5f5f5;
    @include toRem(border-radius, 40);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include toRem(height, 40);
    padding: 10px;
    @include toRem(min-width, 40);
    i {
      transition: margin 250ms ease-in-out;
      &::before {
        @include toRem(font-size, 15);
        color: $gray-600;
      }
    }
    span {
      max-width: 0;
      white-space: nowrap;
      overflow: hidden;
      transition: max-width 250ms ease-in-out;
      transform-origin: left;
      clip: initial;
      @include toRem(font-size, 12);
      font-family: "Roboto-Medium";
      color: $secondary;
    }
    &:hover {
      padding-right: 1.2rem;
      i {
        @include toRem(margin-right, 5);
      }
      span {
        max-width: 200px;
      }
    }
  }
  &.active {
    .inner {
      background-color: $secondary;
      span {
        color: $white;
      }
      i {
        &::before {
          color: $white;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .backToTop {
    top: auto;
    bottom: 2.5rem;
    // @include toRem(margin-right, -60);
  }
}
