@import "../../../node_modules/@adani-digital/common/dist/scss/partials/mixins";
@import "../../../node_modules/@adani-digital/common/dist/scss/partials/variables";
.slick-slider {
    .card {
      height: 100%;
    }
    .slick-track{
        display: flex;
        margin-left: 0;
        margin-right: 0;
    }
    .slick-prev, .slick-next {
        position: absolute;
        @include circle(40px);
        @include center(vertical);
        cursor: pointer;
        background-color: $white;
        border: 1px solid #DFDFDF;
        display: flex !important;
        align-items: center;
        justify-content: center;
        z-index: 9;
        &::before{
            @include toRem(font-size, 13);
        }
    }
    .slick-prev {
        left: -1rem;
    }
    .slick-next {
        right: -1rem;
    }

    .slick-arrow{
        &.slick-disabled{
          border-color: #efefef;
          color: #efefef;
          cursor: auto;
          pointer-events: none;
          &::before{
            color: #efefef;
          }
          &:hover{
              background-color: $white;
          }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 2rem;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li {
            position: relative;
            display: inline-block;
            button{
                @include circle(8px);
                display: inline-block;
                border: 1px solid transparent;
                background-color: #666666;
                text-indent: -99999px;
                font-size: 0;
                padding: 0;
                margin: 0 2px;
            }
        }
        .slick-active{
            button{
                @include circle(10px);
                border-color: #666666;
                background-color: $white;
            }
        }
    }
}
.arrow_pos {
    .slick-prev,
    .slick-next {
        position: absolute;
        top: -44px;
        @include circle(32px);
        &::before{
            color: #222;
        }   
    }
    .slick-prev {
        left: auto !important;
        right: 48px;
    }
    .slick-next {
        right: 10px !important;
    }
}
@media only screen and (max-width: 600px) {
    .slick-list {
      margin-left: -12px !important;
      margin-right: -12px !important;
    }
    .slick-slide > div {
      padding: 0 10px 0 10px;
    }
    .slick-slide:first-child > div{
        // padding-left: 10px;
    }
    .slick-track{
        padding: 0 4px;
    }
}

@media only screen and (min-width: 992px) {
.slick-slider {
    margin: 0 -10px;
    .slick-slide {
      padding: 0 10px;
    }
    &.no-gutter{
        margin: 0;
        .slick-slide {
            padding: 0;
        }
        .slick-prev{
            left: -2rem;
        }
        .slick-next{
            right: -2rem;
        }
    }
  }
}