$color-000: $black;
$footer-bg:#F9F9F9;
$color-ddd:#DDDDDD;
$color-999: #999999;
$color-333: #333333;


// Rest Veariables are coming from below path
// @import "../../../node_modules/@adani-digital/common/dist/styles/partials/variables";
// @import "../../../node_modules/@adani-digital/common/dist/styles/partials/mixins";
