@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Mvc.Presentation

@{ 
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
}
<section class="half-bg py-4">
    <div class="container">
        <div class="row">
            @foreach (var item in element.Children.ToList())
            {
                <div class="col-lg-6 my-3">
                    @Html.Sitecore().Field("Summary", item)
                </div>
                if (i == 2)
                {
                    break;
                }
                i++;
            }

                </div>
            </div>
</section><!--/Management Content-->