<!-- Request quote -->
<div class="modal video" id="log-req-callback">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="p-4 req-form">
                    <input type="hidden" id="lFormType" value="Request Quote">
                    <input type="hidden" id="PageInfo" value="">
                    <input type="hidden" id="utm_source" value="">
                    <h2 class="section-heading mb-4 text-center">Request a quote</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" id="requestorName" placeholder="Requestor Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="requestorOrganization" placeholder="Organization Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="requestorEmail" placeholder="Email Id">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="requestorNumber" placeholder="Contact Number">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="requestorService">
                            <option value="">--Select Service--</option>
                            <option value="Rail Transportation">Rail Transportation</option>
                            <option value="Road Transportation">Road Transportation</option>
                            <option value="Terminal">Terminal</option>
                            <option value="Warehousing">Warehousing</option>
                            <option value="End to End Services">End to End Services</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="requestorDetails" placeholder="Details"></textarea>
                    </div>
                    <p class="text-center"><button type="submit" id="btnLogisticsQuoteSubmit" class="btn btn-gradient">Submit</button></p>
                </form>
            </div>
        </div>
    </div>
</div><!--/Request quote-->
