<section class="bg-gray py-5">
    <div class="container">
        <!-- <h4 class="heading pl-4 mb-4">Register Here</h4> -->
        <div class="contact-form">
            <form class="px-4 py-4">
                <input type="hidden" id="rFormType" value="Adani Ports - Registration Form">
                <input type="hidden" id="PageInfo" value="">
                <input type="hidden" id="utm_source" value="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="rName" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="rCompany" placeholder="Company Name">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <input type="email" class="form-control" id="requestorEmail" placeholder="Email Id">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <input type="number" class="form-control" id="rNumber" placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      
                        <div id="recaptcha3" class="img-fluid w-100 h-100" ></div>
                    </div>
                    <div class="col-md-2 ml-auto mb-3">
                        <p class=" w-100 h-100 text-right"><button type="submit" id="btnRegistrationFormSubmit" class="btn btn-primary w-100 h-100">Submit</button></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
