<section class="bg-gray py-5">
    <div class="container">

        @Html.Sitecore().Placeholder("profile")
      
        <div class="row mt-5">
            <div class="col-lg-8">
                @Html.Sitecore().Placeholder("blogs")

            </div>
            <div class="col-lg-4">
                <h4 class="heading pl-4 mb-4">News</h4>
                <div class="col-lg-12 mt-3 mb-2">
                    @Html.Sitecore().Placeholder("news")
                </div>
                <div class="col-lg-12">
                    <div class="twitter-feeds">
                        <a class="twitter-timeline" href="https://twitter.com/gautam_adani?ref_src=twsrc%5Etfw"></a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <!-- Remaining blogs will be displayed here -->
            <div class="col-md-6" style="display:none">
                <div class="bg-images"><img src="https://via.placeholder.com/775X350" class="img-fluid pr-2"></div>
                <div class="blog-div pr-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lorem molestie, ultricies eros at, venenatis ex. Phasellus tristique ligula ac lacus pretium dapibus.</p>
                </div>
            </div>
            <div class="col-md-6" style="display:none">
                <div class="bg-images"><img src="https://via.placeholder.com/775X350" class="img-fluid pl-2"></div>
                <div class="blog-div pl-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lorem molestie, ultricies eros at, venenatis ex. Phasellus tristique ligula ac lacus pretium dapibus.</p>
                </div>
            </div>
            <div class="col-sm-12">
                <p class="arrow mt-4">Explore more<i class="fa fa-chevron-down ml-2"></i></p>
            </div>
        </div>
    </div>
</section>
