@using Sitecore.Mvc.Configuration

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "contact_form", name = "contact_form", @class = "account-form", enctype = "multipart/form-data" }))
{

    var errors = (Dictionary<string, string>)TempData["errors"];

    if (errors == null)
    {
        errors = new Dictionary<string, string>();
    }


    @Html.AntiForgeryToken()



    <input type="hidden" id="cFormType" value="port-AccountRegistration" name="FormType">
    <input type="hidden" id="PageInfo" value="/portAccountRegistration" name="PageInfo">
    <input type="hidden" id="NameofCompany" name="NameofCompany" value="">
    <input type="hidden" id="utm_source" value="">
    <input type="hidden" id="CompanyRegistrationDate" name="CompanyRegistrationDate" value="01/01/2000">
    <input type="hidden" id="SubmitOnDate" name="SubmitOnDate" value="01/01/2000">
    <section class="py-5 bg-white1">
        <div class="container">
            <h2>Company Details</h2>

            <div class="row">
                <div class="col-lg-6 mb-2">
                    <div class="form-group">
                        <label class="is-required">Type of Customers</label>
                        <select class="form-control" id="customer-type" name="TypeofCustomers">
                            <option value="">Select</option>
                            <option value="Shipping-Line">Shipping Line</option>
                            <option value="NVOCC">NVOCC</option>
                            <option value="Importer">Importer</option>
                            <option value="Exporter">Exporter</option>
                            <option value="CHA">CHA</option>
                            <option value="Empty-Depot-Operator">Empty Depot Operator</option>
                            <option value="CFS-Operator">CFS Operator</option>
                            <option value="Container-Train-Operator">Container Train Operator</option>
                            <option value="Vessel-Agent">Vessel Agent</option>
                        </select>
                        <span class="field-validation-error" id="TypeofCustomersError" style="display:none;"></span>
                    </div>
                </div>
                <div class="col-lg-6 mb-2">
                    <div class="form-group">
                        <label class="is-required">Port</label>
                        <select class="form-control" id="port-select" name="PortType">
                            <option value="">Select</option>
                            <option value="Adani CMA Mundra Terminal Private Limited">Adani CMA Mundra Terminal Private Limited</option>
                            <option value="Adani Ennore Container Terminal Private Limited">Adani Ennore Container Terminal Private Limited</option>
                            <option value="Adani International Container Terminal Private Limited">Adani International Container Terminal Private Limited</option>
                            <option value="Adani Ports and Special Economic Zone Limited">Adani Ports and Special Economic Zone Limited</option>
                            <option value="Adani Kandla Bulk Terminal Private Limited">Adani Kandla Bulk Terminal Private Limited</option>
                            <option value="Adani Murmugao Port Terminal Private Limited">Adani Murmugao Port Terminal Private Limited</option>
                            <option value="Adani Petronet (Dahej) Port Private Limited">Adani Petronet (Dahej) Port Private Limited</option>
                            <option value="Adani Vizag Coal Terminal Private Limited">Adani Vizag Coal Terminal Private Limited</option>
                            <option value="Adani Vizhinjam Port Private Limited">Adani Vizhinjam Port Private Limited</option>
                            <option value="The Dhamra Port Company Limited">The Dhamra Port Company Limited</option>
                            <option value="Kattupalli – Marine Infrastructure Development Private Limited">Kattupalli – Marine Infrastructure Development Private Limited</option>
                            <option value="Adani Hazira Port Private Limited">Adani Hazira Port Private Limited</option>
                            <option value="The Adani Harbour Services Private Limited">The Adani Harbour Services Private Limited</option>
                            <option value="South Port Rail Head">South Port Rail Head</option>
                        </select>
                        <span class="field-validation-error" id="SelectPortError" style="display:none;"></span>
                    </div>
                </div>
                <div class="col-lg-6 mb-2 customers-option Shipping-Line NVOCC Vessel-Agent">
                    <div class="form-group">
                        <label class="is-required">Shipping Agent Details</label>
                        <input type="text" class="form-control" id="ShippingAgentDetails" name="ShippingAgentDetails" placeholder="">
                        <span class="field-validation-error" id="ShippingAgentDetailError" style="display:none;"></span>
                    </div>
                </div>
                <div class="col-lg-6 mb-2 customers-option Shipping-Line NVOCC Vessel-Agent">
                    <div class="form-group">
                        <label class="is-required">Name of Principal</label>
                        <input type="text" class="form-control" id="NameofPrincipal" name="NameofPrincipal" placeholder="">
                        <span class="field-validation-error" id="NameofPrincipalError" style="display:none;"></span>
                    </div>
                </div>
                <div class="col-lg-6 mb-2">
                    <div class="form-group">
                        <label class="is-required">Name of Company</label>
                        <input type="text" class="form-control" id="NameofCompanyT" name="NameofCompanyT" placeholder="">
                        <span class="field-validation-error" id="NameofCompanyTError" style="display:none;"></span>
                    </div>
                </div>
                <div class="col-lg-6 mb-2">
                    <div class="form-group">
                        <label class="is-required">Company Registration Date</label>
                        <input type="text" class="form-control" id="tempCompanyRegistrationDate" name="tempCompanyRegistrationDate" placeholder="MM/DD/YYYY">
                        <span class="field-validation-error" id="tempCompanyRegistrationDateTError" style="display:none;"></span>
                    </div>
                </div>
                <div class="col-lg-6 mb-2">
                    <div class="form-group">
                        <label class="is-required">SCMTR Code</label>
                        <select class="form-control" id="SCMTR-select" name="SCMTRCode">
                            <option value="">Select</option>
                            <option value="ASC">ASC</option>
                            <option value="ASA">ASA</option>
                            <option value="ANC">ANC</option>
                            <option value="ATP">ATP</option>
                            <option value="ACU">ACU</option>
                            <option value="ATO">ATO</option>
                            <option value="AES">AES</option>
                        </select>
                        <span class="field-validation-error" id="SCMTRCodeError" style="display:none;"></span>
                    </div>

                </div>
                <div class="col-lg-6 mb-2">
                    <div class="form-group">
                        <label class="is-required">SCMTR ID</label>
                        <input type="text" class="form-control" id="SCMTRID" name="SCMTRID" placeholder="">
                        <span class="field-validation-error" id="SCMTRError" style="display:none;"></span>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="form-group">
                        <label class="is-required">Registration Number</label>
                        <input type="text" class="form-control" id="PANNumber" name="PANNumber" placeholder="PAN Card Number">
                        <span class="field-validation-error" id="PANNumberError" style="display:none;"></span>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <input type="text" class="form-control" id="TANNumber" name="TANNumber" placeholder="TAN Number">
                        <span class="field-validation-error" id="TANNumberError" style="display:none;"></span>
                    </div>

                </div>
                <div class="col-lg-4 mb-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <input type="text" class="form-control" id="GSTNumber" name="GSTNumber" placeholder="GST Number">
                        <span class="field-validation-error" id="GSTNumberError" style="display:none;"></span>
                    </div>

                </div>
                <div class="col-lg-12">
                    <div class="row pl-3 pr-3">
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label class="is-required">Registered Office Details</label>
                                <input type="text" class="form-control" id="RegisteredOfficeAddress" name="RegisteredOfficeAddress" placeholder="Address Line 1">
                                <span class="field-validation-error" id="RegisteredOfficeAddressError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" id="RegisteredOfficeState" name="RegisteredOfficeState" placeholder="State">
                                <span class="field-validation-error" id="RegisteredOfficeStateError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" id="RegisteredOfficeCountry" name="RegisteredOfficeCountry" placeholder="Country">
                                <span class="field-validation-error" id="RegisteredOfficeCountryError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" maxLength=10 id="RegisteredOfficeContactNumber" name="RegisteredOfficeContactNumber" placeholder="Contact Number">
                                <span class="field-validation-error" id="RegisteredOfficeContactNumberError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="Email" class="form-control" id="RegisteredOfficeEmail" name="RegisteredOfficeEmail" placeholder="Email">
                                <span class="field-validation-error" id="RegisteredOfficeEmailError" style="display:none;"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row pl-3 pr-3">
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label class="is-required">Local Office Details</label>
                                <input type="text" class="form-control" id="LocalOfficeAddress" name="LocalOfficeAddress" placeholder="Address Line 1">
                                <span class="field-validation-error" id="LocalOfficeAddressError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" id="LocalOfficeState" name="LocalOfficeState" placeholder="State">
                                <span class="field-validation-error" id="LocalOfficeStateError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" id="LocalOfficeCountry" name="LocalOfficeCountry" placeholder="Country">
                                <span class="field-validation-error" id="LocalOfficeCountryError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" maxLength=10 id="LocalOfficeContactNumber" name="LocalOfficeContactNumber" placeholder="Contact Number">
                                <span class="field-validation-error" id="LocalOfficeContactNumberError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="Email" class="form-control" id="LocalOfficeEmail" name="LocalOfficeEmail" placeholder="Email">
                                <span class="field-validation-error" id="LocalOfficeEmailError" style="display:none;"></span>
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Same as Registered Office
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row pl-3 pr-3">
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label class="is-required">Billing Details</label>
                                <input type="text" class="form-control" id="BillingAddress" name="BillingAddress" placeholder="Address Line 1">
                                <span class="field-validation-error" id="BillingAddressError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" id="BillingState" name="BillingState" placeholder="State">
                                <span class="field-validation-error" id="BillingStateError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" id="BillingCountry" name="BillingCountry" placeholder="Country">
                                <span class="field-validation-error" id="BillingCountryError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" maxLength=10 id="BillingContactNumber" name="BillingContactNumber" placeholder="Contact Number">
                                <span class="field-validation-error" maxLength=10 id="BillingContactNumberError" style="display:none;"></span>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="Email" class="form-control" id="BillingEmail" name="BillingEmail" placeholder="Email">
                                <span class="field-validation-error" id="BillingEmailError" style="display:none;"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray py-5">
        <div class="container">
            <h2>Representive Details</h2>
            <h3 class="is-required">Operations</h3>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Direct no.</th>
                        <th>Mobile Number</th>
                        <th>Email ID</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="OperationsName" name="OperationsName" placeholder="">
                                        <span class="field-validation-error" id="OperationsNameError" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="OperationsDesignation" name="OperationsDesignation" placeholder="">
                                        <span class="field-validation-error" id="OperationsDesignationError" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="OperationDirectNo" name="OperationDirectNo" placeholder="">
                                        <span class="field-validation-error" id="OperationDirectNoError" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxLength=10 id="OperationMobileNumber" name="OperationMobileNumber" placeholder="">
                                        <span class="field-validation-error" id="OperationMobileNumberError" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="Email" class="form-control" id="OperationEmailID" name="OperationEmailID" placeholder="">
                                        <span class="field-validation-error" id="OperationEmailIDError" style="display:none;"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="OperationsName2" name="OperationsName2" placeholder="">
                                        <span class="field-validation-error" id="OperationsName2Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="OperationsDesignation2" name="OperationsDesignation2" placeholder="">
                                        <span class="field-validation-error" id="OperationsDesignation2Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="OperationDirectNo2" name="OperationDirectNo2" placeholder="">
                                        <span class="field-validation-error" id="OperationDirectNo2Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxLength=10 id="OperationMobileNumber2" name="OperationMobileNumber2" placeholder="">
                                        <span class="field-validation-error" id="OperationMobileNumber2Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="Email" class="form-control" id="OperationEmailID2" name="OperationEmailID2" placeholder="">
                                        <span class="field-validation-error" id="OperationEmailID2Error" style="display:none;"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="OperationsName3" name="OperationsName3" placeholder="">
                                        <span class="field-validation-error" id="OperationsName3Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="OperationsDesignation3" name="OperationsDesignation3" placeholder="">
                                        <span class="field-validation-error" id="OperationsDesignation3Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="OperationDirectNo3" name="OperationDirectNo3" placeholder="">
                                        <span class="field-validation-error" id="OperationDirectNo3Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxLength=10 id="OperationMobileNumber3" name="OperationMobileNumber3" placeholder="">
                                        <span class="field-validation-error" id="OperationMobileNumber3Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="Email" class="form-control" id="OperationEmailID3" name="OperationEmailID3" placeholder="">
                                        <span class="field-validation-error" id="OperationEmailID3Error" style="display:none;"></span>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <h3 class="is-required">Finance</h3>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Direct no.</th>
                        <th>Mobile Number</th>
                        <th>Email ID</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FinanceName" name="FinanceName" placeholder="">
                                        <span class="field-validation-error" id="FinanceNameError" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FinanceDesignation" name="FinanceDesignation" placeholder="">
                                        <span class="field-validation-error" id="FinanceDesignationError" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FinanceDirectNo" name="FinanceDirectNo" placeholder="">
                                        <span class="field-validation-error" id="FinanceDirectNoError" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxLength=10 id="FinanceMobileNumber" name="FinanceMobileNumber" placeholder="">
                                        <span class="field-validation-error" id="FinanceMobileNumberError" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="Email" class="form-control" id="FinanceEmailID" name="FinanceEmailID" placeholder="">
                                        <span class="field-validation-error" id="FinanceEmailIDError" style="display:none;"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FinanceName2" name="FinanceName2" placeholder="">
                                        <span class="field-validation-error" id="FinanceName2Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FinanceDesignation2" name="FinanceDesignation2" placeholder="">
                                        <span class="field-validation-error" id="FinanceDesignation2Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FinanceDirectNo2" name="FinanceDirectNo2" placeholder="">
                                        <span class="field-validation-error" id="FinanceDirectNo2Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxLength=10 id="FinanceMobileNumber2" name="FinanceMobileNumber2" placeholder="">
                                        <span class="field-validation-error" id="FinanceMobileNumber2Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="Email" class="form-control" id="FinanceEmailID2" name="FinanceEmailID2" placeholder="">
                                        <span class="field-validation-error" id="FinanceEmailID2Error" style="display:none;"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FinanceName3" name="FinanceName3" placeholder="">
                                        <span class="field-validation-error" id="FinanceName3Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FinanceDesignation3" name="FinanceDesignation3" placeholder="">
                                        <span class="field-validation-error" id="FinanceDesignation3Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FinanceDirectNo3" name="FinanceDirectNo3" placeholder="">
                                        <span class="field-validation-error" id="FinanceDirectNo3Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" maxLength=10 id="FinanceMobileNumber3" name="FinanceMobileNumber3" placeholder="">
                                        <span class="field-validation-error" id="FinanceMobileNumber3Error" style="display:none;"></span>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="Email" class="form-control" id="FinanceEmailID3" name="FinanceEmailID3" placeholder="">
                                        <span class="field-validation-error" id="FinanceEmailID3Error" style="display:none;"></span>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-white customers-option Shipping-Line NVOCC port1 port3 port4" id="customers-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-2">
                    <div class="form-check">
                        <label>Whether registered with MICT:</label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="" value="1" checked>
                        <label class="form-check-label" for="">
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="" value="0" checked>
                        <label class="form-check-label" for="">
                            No
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="form-group">
                        <input type="text" class="form-control" id="MICT" name="MICT" placeholder="MICT Register Code">
                        <span class="field-validation-error" id="MICTError" style="display:none;"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mb-2">
                    <div class="form-check">
                        <label>Whether registered with CT 2:</label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="" value="1" checked>
                        <label class="form-check-label" for="">
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="" value="0" checked>
                        <label class="form-check-label" for="">
                            No
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="form-group">
                        <input type="text" class="form-control" id="CT2RegisterCode" name="CT2RegisterCode" placeholder="CT2 Register Code">
                        <span class="field-validation-error" id="CT2RegisterCodeError" style="display:none;"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mb-2">
                    <div class="form-check">
                        <label>Whether registered with CT 3:</label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios3" id="" value="1" checked>
                        <label class="form-check-label" for="">
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios3" id="" value="0" checked>
                        <label class="form-check-label" for="">
                            No
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="form-group">
                        <input type="text" class="form-control" id="CT3RegisterCode" name="CT3RegisterCode" placeholder="CT 3 Register Code">
                        <span class="field-validation-error" id="CT3RegisterCodeError" style="display:none;"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mb-2">
                    <div class="form-check">
                        <label>Whether registered with CT 4:</label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios4" id="" value="1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios4" id="" value="0" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            No
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="form-group">
                        <input type="text" class="form-control" id="CT4RegisterCode" name="CT4RegisterCode" placeholder="CT 4 Register Code">
                        <span class="field-validation-error" id="CT4RegisterCodeError" style="display:none;"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mb-2">
                    <div class="form-check">
                        <label>Whether registered with T 2:</label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios5" id="" value="1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-lg-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios5" id="" value="0" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            No
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="form-group">
                        <input type="text" class="form-control" id="T2RegisterCode" name="T2RegisterCode" placeholder="T2 Register Code">
                        <span class="field-validation-error" id="T2RegisterCodeError" style="display:none;"></span>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-gray">
        <div class="container">
            <h2>Financials</h2>
            <label class="is-required">Initial Security Deposit towards handling charges</label>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off" id="Rupees" name="Rupees" placeholder="Rupees">
                        <span class="field-validation-error" id="RupeesError" style="display:none;"></span>
                    </div>

                </div>
                <div class="col-lg-9">
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off" id="RupeesInWords" name="RupeesInWords" placeholder="In Words">
                        <span class="field-validation-error" id="RupeesInWordsError" style="display:none;"></span>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-5">
        <div class="container">
            <h2>Company Bank Account Details</h2>
            <div class="bankdetails-parent">
                <div class="bank-child port1" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani CMA Mundra Terminal Private Limited</b></p>
                    <p>Bank Name: <b>Axis Bank Ltd</b></p>
                    <p>Bank Account Number: <b>914020030255838</b></p>
                    <p>Bank Address: <b>CBB Ahmedabad</b></p>
                    <p>IFSC Code: <b>UTIB0001530</b></p>
                </div>
                <div class="bank-child port2" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani Ennore Container Terminal Private Limited</b></p>
                    <p>Bank Name: <b>Axis Bank Ltd</b></p>
                    <p>Bank Account Number: <b>914020033051860</b></p>
                    <p>Bank Address: <b>New No.7A (Old No. 2 To 4), Halls Road, Egmore, Chennai - 600008</b></p>
                    <p>IFSC Code: <b>UTIB0001156</b></p>
                </div>
                <div class="bank-child port3" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani International Container Terminal Private Limited</b></p>
                    <p>Bank Name: <b>DBS BANK</b></p>
                    <p>Bank Account Number: <b>831200067050</b></p>
                    <p>Bank Address: <b></b></p>
                    <p>IFSC Code: <b>DBSS0IN0831</b></p>
                </div>
                <div class="bank-child port4 mb-4" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani Ports and Special Economic Zone Limited</b></p>
                    <p>Bank Name: <b>Axis Bank Ltd</b></p>
                    <p>Bank Account Number: <b>460010200003193</b></p>
                    <p>Bank Address: <b>Axis Bank Ltd, Building No 5-A1, Room No 4,5 & 6, Ground Floor, New PUB, Mundra - 370 421</b></p>
                    <p>IFSC Code: <b>UTIB0000460</b></p>
                </div>
                <div class="bank-child port4" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani Ports and Special Economic Zone Limited</b></p>
                    <p>Bank Name: <b>HDFC Bank Ltd</b></p>
                    <p>Bank Account Number: <b>05770310000028</b></p>
                    <p>Bank Address: <b>HDFC Bank Ltd, Shop No 1-4,16-17,38-39, Shraddha Complex, Adj Hotel Shiv Nautica, Mundra -370 421</b></p>
                    <p>IFSC Code: <b>HDFC0000577</b></p>
                </div>
                <div class="bank-child port5" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani Kandla Bulk Terminal Private Limited</b></p>
                    <p>Bank Name: <b>AXIS BANK</b></p>
                    <p>Bank Account Number: <b>912020050592566</b></p>
                    <p>Bank Address: <b>AXIS BANK, Ahmedabad, Law Garden. Current Account No: 912020050592566, Beneficiary : ADANI KANDLA BULK TERMINAL PVT LTD or at branch offices situated at GANDHIDHAM</b></p>
                    <p>IFSC Code: <b>UTIB0000003</b></p>
                </div>
                <div class="bank-child port6" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani Murmugao Port Terminal Private Limited</b></p>
                    <p>Bank Name: <b>AXIS BANK LTD</b></p>
                    <p>Bank Account Number: <b>909020031608707</b></p>
                    <p>Bank Address: <b>Corporate Banking Branch, Ahmedabad</b></p>
                    <p>IFSC Code: <b>UTIB0001530</b></p>
                </div>
                <div class="bank-child port7" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani Petronet (Dahej) Port Private Limited</b></p>
                    <p>Bank Name: <b>Kotak Mahindra Bank Ltd</b></p>
                    <p>Bank Account Number: <b>7411837119</b></p>
                    <p>Bank Address: <b>Bharuch - Nandelav Branch</b></p>
                    <p>IFSC Code: <b>KKBK0000958</b></p>
                </div>
                <div class="bank-child port8" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani Vizag Coal Terminal Private Limited</b></p>
                    <p>Bank Name: <b>ICICI BANK</b></p>
                    <p>Bank Account Number: <b>002405019893</b></p>
                    <p>Bank Address: <b>JMC HOUSE, AHMEDABAD</b></p>
                    <p>IFSC Code: <b>ICIC0000024</b></p>
                </div>
                <div class="bank-child port9" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani Vizhinjam Port Private Limited</b></p>
                    <p>Bank Name: <b>-</b></p>
                    <p>Bank Account Number: <b>-</b></p>
                    <p>Bank Address: <b>-</b></p>
                    <p>IFSC Code: <b>-</b></p>
                </div>
                <div class="bank-child port10" style="display:none;">
                    <p>Name of the beneficiary: <b>The Dhamra Port Company Limited</b></p>
                    <p>Bank Name: <b>HDFC BANK</b></p>
                    <p>Bank Account Number: <b>00060310006828</b></p>
                    <p>Bank Address: <b>ASTRAL Towers, Opp. Reliance General Insurance, Near Mithakali Six Road, Navrangpura Ahmedabad</b></p>
                    <p>IFSC Code: <b>HDFC0000006</b></p>
                </div>
                <div class="bank-child port10 mb-4" style="display:none;">
                    <p>Name of the beneficiary:<b>THE DHAMRA PORT COMPANY LIMITED</b></p>
                    <p>Bank Name:<b>IDBI Bank Ltd,</b></p>
                    <p>Bank Account:<b>No.	0004103000053136</b></p>
                    <p>Bank Address:<b>Corporate Accounts Group Branch, Mittal Court, Nariman Point, Mumbai, Maharastra.</b></p>
                    <p>IFSC Code:<b>IBKL0000004</b></p>
                </div>
                <div class="bank-child port11" style="display:none;">
                    <p>Name of the beneficiary: <b>Mundra International Cotainer Terminal Limited</b></p>
                    <p>Bank Name: <b>DBS BANK</b></p>
                    <p>Bank Account Number: <b>DBS BANK</b></p>
                    <p>Bank Address: <b>EGMORE, CHENNAI</b></p>
                    <p>IFSC Code: <b>DBSSO1NO811</b></p>
                </div>
                <div class="bank-child port12" style="display:none;">
                    <p>Name of the beneficiary: <b>Kattupalli – Marine Infrastructure Development Private Limited</b></p>
                    <p>Bank Name: <b>AXIS BANK LTD</b></p>
                    <p>Bank Account Number: <b>917020081109424</b></p>
                    <p>Bank Address: <b>EGMORE, CHENNAI</b></p>
                    <p>IFSC Code: <b>UTIB0001156</b></p>
                </div>
                <div class="bank-child port13" style="display:none;">
                    <p>Name of the beneficiary: <b>Adani Hazira Port Private Limited</b></p>
                    <p>Bank Name: <b>AXIS BANK LIMITED</b></p>
                    <p>Bank Account Number: <b>909020041486979</b></p>
                    <p>Bank Address: <b>Adajan Branch, Surat - 395 009</b></p>
                    <p>IFSC Code: <b>UTIB0000566</b></p>
                </div>
                <div class="bank-child port14" style="display:none;">
                    <p>Name of the beneficiary: <b>The Adani Harbour Services Private Limited</b></p>
                    <p>Bank Name: <b>-</b></p>
                    <p>Bank Account Number: <b>-</b></p>
                    <p>Bank Address: <b>-</b></p>
                    <p>IFSC Code: <b>-</b></p>
                </div>
                <div class="bank-child port15" style="display:none;">
                    <p>Name of the beneficiary: <b>South Port Rail Head</b></p>
                    <p>Bank Name: <b>-</b></p>
                    <p>Bank Account Number: <b>-</b></p>
                    <p>Bank Address: <b>-</b></p>
                    <p>IFSC Code: <b>-</b></p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray py-5">
        <div class="container">
            <h2>Records to be submitted</h2>
            <div class="row" id="PortsfilesRecordSubmitted">
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload1" class="is-required">Agreement with the principal</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="AgreementWithPrincipal" id="AgreementWithPrincipal">
                        <span class="field-validation-error" id="AgreementWithPrincipalError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload2" class="is-required">Certification of Incorporation</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="CertificationOfIncorporation" id="CertificationOfIncorporation">
                        <span class="field-validation-error" id="CertificationOfIncorporationError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload3" class="is-required">Memorandum of Article of Association</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="MemorandumArticleAssociation" id="MemorandumArticleAssociation">
                        <span class="field-validation-error" id="MemorandumArticleAssociationError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload4" class="is-required">Government ID Proof</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="DrivingLicense" id="DrivingLicense">
                        <span class="field-validation-error" id="DrivingLicenseError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload5" class="is-required">PAN Card</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="PanCard" id="PanCard">
                        <span class="field-validation-error" id="PanCardError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload6" class="is-required">Acknowledgement of GST Registration</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="AcknowledgementGSTRegistration" id="AcknowledgementGSTRegistration">
                        <span class="field-validation-error" id="AcknowledgementGSTRegistrationError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload12" class="is-required">IE Code Certificate</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="IECodeCertificate" id="IECodeCertificate">
                        <span class="field-validation-error" id="IECodeCertificateError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload7" class="is-required">Municipal Licence</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="MunicipalLicence" id="MunicipalLicence">
                        <span class="field-validation-error" id="MunicipalLicenceError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload8" class="is-required">AEO Licence</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="AEOLicence" id="AEOLicence">
                        <span class="field-validation-error" id="AEOLicenceError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload9" class="is-required">Custom DPD Permission</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="CustomDPDPermission" id="CustomDPDPermission">
                        <span class="field-validation-error" id="CustomDPDPermissionError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload10" class="is-required">Cancelled Cheque</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="CancelledCheque" id="CancelledCheque">
                        <span class="field-validation-error" id="CancelledChequeError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload11" class="is-required">Power of Attorney</label>
                    <a href="/-/media/Project/Ports/AccountRegistration/POA.pdf?la=en&amp;hash=A05FD9ECA74DC820FF7081AA7AEB2458" download=""><i class="fa fa-download mr-2"></i>Download Form</a>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="PowerofAttorney" id="PowerofAttorney">
                        <span class="field-validation-error" id="PowerofAttorneyError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mb-2">
                    <label id="upload13" class="is-required">SCMTR Proof</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="SCMTRProof" id="SCMTRProof">
                        <span class="field-validation-error" id="SCMTRProofError" style="display:none;"></span>
                        <label class="custom-file-label" for="">Choose file</label>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-5">
        <div class="container">
            <h2>Procedures to be followed:</h2>
            <ul class="ul-bullets">
                <li>We hereby accept to maintain the minimun initial deposit and maintain a PDA as stated at all times.Port will be at liberty to Hold containers or dispose the containers or contents as deemed fit, if the monthly average balance is not maintained or until all duues ar epaid. If there is an increase in volume we agree to increase the PDA balance as demanded by Port.</li>
                <li>We hereby accept to adhere to the Standard operating procedures laid down and those that may be amended by Port and the Security, safety and Traffic rules as laid down in annexures.</li>
                <li>In order to facilitate the operations by the feeder operator, Port may invoice and collecct charges directly. However, if the feeder operator defaults in payments, we agree to compensate Port for any loss arising from non-payment of such dues and acknowledge Port right to set off dues from the balance lying in our account.</li>
                <li>Registration is subject to Terms of Reference as available in <a href="https://www.adaniports.com/" target="_blank">www.adaniports.com</a></li>
                <li>All Charges will be applicable as per published tariff as available in <a href="https://www.adaniports.com/" target="_blank">www.adaniports.com</a></li>
            </ul>
        </div>
    </section>
    <section class="bg-gray py-5">
        <div class="container">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    We affirm to abide by all the above and hereby state that the details mentioned above are true
                </label>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off" id="Name" name="Name" placeholder="Name*">
                        <span class="field-validation-error" id="NameError" style="display:none;"></span>
                    </div>

                </div>
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off" id="Designation" name="Designation" placeholder="Designation*">
                        <span class="field-validation-error" id="DesignationError" style="display:none;"></span>
                    </div>

                </div>
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="tempSubmitOnDate" name="tempSubmitOnDate" placeholder="DD/MM/YYYY*" disabled>
                        <span class="field-validation-error" id="tempSubmitOnDateError" style="display:none;"></span>
                    </div>
                </div>
            </div>
            <div class="row other_certification">
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <input type="Email" class="form-control" autocomplete="off" id="CommunicationEmail1" name="CommunicationEmail1" placeholder="Communication Email*">
                        <span class="field-validation-error" id="CommunicationEmail1Error" style="display:none;"></span>
                        <button class="other_certification-add_field_button">+ Add</button>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center mt-3">
                    <button class="btn btn-gradient" type="button" id="portsRegisterbtn"
                            data-sitekey="6Lfwlk8mAAAAADm4UhICQR0KxNZKWC_3TwNpDlEm"
                            data-callback='onSubmit'
                            data-action='submit'>
                        <span>Save and Submit</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
}