<div class="container">
    <div class="row footerPanel2">
        @Html.Sitecore().Placeholder("footer-body")
    </div>
</div>
<div class="footerBtmPanel mt-3 py-2">
    <div class="container">
        <div class="row row-grid align-items-end ftrBtmInner">
            <div class="col-lg-3 text-center text-md-left">
                <div class="d-none d-md-block">© 2022 Adani Group</div>
            </div>
            <div class="col-lg-9 text-center text-md-right ml-md-auto">
                <div class="footerMenu">
                    <ul class="ft-policy-links">
                        @Html.Sitecore().Placeholder("footer-BottomLink")
                    </ul>
                    <ul class="ft-social">
                        @Html.Sitecore().Placeholder("footer-SocialLink")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


