<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 padd-box">

                @Html.Sitecore().Placeholder("policies")




            </div>
        @Html.Sitecore().Placeholder("corporate-announcement")
		@Html.Sitecore().Placeholder("Shareholding-Patterns")
        </div>

        

        



    </div>
</section><!--/Shareholding Pattern-->