@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
}

<section class="bg-gray py-5">
    <div class="container">
        <div class="owl-carousel owl-theme four-item">
            @foreach (var child in parent.Children.ToList())
            {  
 Sitecore.Data.Fields.LinkField Link1 = child.Fields["Link"];
            var Link1Url = Link1.GetFriendlyUrl();			
                <div class="item zoomicon py-3">
                    <div class="investor-btm-block">
					
                     <a href="@Link1Url">   @Html.Sitecore().ImageField("ActiveImage", child, 0, 0, "img-fluid")</a>
                        <p>@Html.Sitecore().Field("Link", child)</p>
                    </div>
                </div>
            }
            </div>
    </div>
</section>