@using Sitecore
@using Sitecore.Mvc
<section class="py-5 text-center bg-gray">
    <div class="container">
        <h1 class="txt-md font-weight-500">Hazira Port : Vessel Schedule</h1>
    </div>
</section>
<section class="bg-gray pb-5">
    <div class="container mb-5">
        <h2 class="heading pl-4 mb-4">Vessels at Berth</h2>
        <div class="row">

            <!-- /.col-md-4 -->
            <div class="col-md-12">
                <div class="tab-content" id="V-Tab">
                    <div class="tab-pane fade show active" id="v-berth-1" role="tabpanel" aria-labelledby="v-berth-tab-1">
                        @Html.Sitecore().Placeholder("Hazira-Berth")
                    </div>
                </div>
            </div>
        </div>
    </div><!--/1st Section-->

    <div class="container mb-5">
        <h2 class="heading pl-4 mb-4">Vessels at Anchorage</h2>
        <div class="row">

            <!-- /.col-md-4 -->
            <div class="col-md-12">
                <div class="tab-content" id="va-Tab">
                    <div class="tab-pane fade show active" id="va-berth-1" role="tabpanel" aria-labelledby="va-berth-tab-1">
                        @Html.Sitecore().Placeholder("Hazira-Anchorage")
                    </div>
                </div>
            </div>
        </div>
    </div><!--/2nd Section-->

    <div class="container mb-5">
        <h2 class="heading pl-4 mb-4">Vessels Expected</h2>
        <div class="row">

            <!-- /.col-md-4 -->
            <div class="col-md-12">
                <div class="tab-content" id="Ve-Tab">
                    <div class="tab-pane fade show active" id="ve-berth-1" role="tabpanel" aria-labelledby="ve-berth-tab-1">
                        @Html.Sitecore().Placeholder("Hazira-Expected")
                    </div>
                </div>
            </div>
        </div>
    </div><!--/3nd Section-->

    <div class="container mb-5">
        <h2 class="heading pl-4 mb-4">Vessels sailed in last 24 hours</h2>
        <div class="row">

            <!-- /.col-md-4 -->
            <div class="col-md-12">
                <div class="tab-content" id="vs-Tab">
                    <div class="tab-pane fade show active" id="vs-berth-1" role="tabpanel" aria-labelledby="vs-berth-tab-1">
                        @Html.Sitecore().Placeholder("Hazira-Sailed")
                    </div>
                </div>
            </div>
        </div>
    </div><!--/4th Section-->
    <!-- /.container -->
</section>