<section class="bg-gray pb-3">
    <div class="container">
        <div class="row">
			<div class="col-md-4 padd-box">
				@Html.Sitecore().Placeholder("scheme-left")
			</div>
            <div class="col-md-4 padd-box">
                @Html.Sitecore().Placeholder("Postal-Ballot")

              
            </div>
            <div class="col-md-4 padd-box">

                @Html.Sitecore().Placeholder("scheme-right")
             
            </div>
			<div class="col-md-4 padd-box">
				  @Html.Sitecore().Placeholder("IEPF")
			</div>
        </div>
    </div>
</section>