@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    // var id = Sitecore.Context.Database.GetItem("about-us").Url();
    var id = "about-us";
    string RedirectUrl = Request.Url.Scheme + "://" + Request.Url.Host;
    var pagename = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
    var msgTpye = Sitecore.Context.Database.GetItem("{5AC563B9-1E93-47FA-B383-2EA0266336C9}");


}

<script src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async defer></script>
<script src="https://www.google.com/recaptcha/api.js?onload=registerCallBack1&render=explicit" async defer></script>

<div class="contact-form">
    <form class="px-4 py-4" id="contact_form" name="contact_form">
        <input type="hidden" id="cFormType" value="Contact-Us">
        <input type="hidden" id="PageInfo" value="/contact-us">
        <input type="hidden" id="utm_source" value="">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="cname" placeholder="Name">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <input type="email" class="form-control" id="cmailid" placeholder="Email">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <select class="form-control" id="cmessageType">
                        <option value="">Subject of Message</option>
                        @foreach (var itemMessage in msgTpye.Children.ToArray())
                        {
                            var getMessage = Html.Sitecore().Field("SubjectName", itemMessage);
                            <option value="@getMessage">@getMessage</option>

                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <input type="number" class="form-control" id="ccontactno" placeholder="Contact Number">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <textarea class="form-control" rows="3" id="cmessage" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="col-md-12 mb-3 text-right">
                <button class="btn btn-gradient" type="button" id="btnContactUsSubmit"
                        data-sitekey="6Lfwlk8mAAAAADm4UhICQR0KxNZKWC_3TwNpDlEm"
                        data-callback='onSubmit'
                        data-action='submit'>
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </form>
</div>

