@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);


}


<h2 class="heading pl-4 mb-4">@Html.Sitecore().Field("Title",model) </h2>
@Html.Sitecore().Field("Body",model) 