@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var img = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["img"];
}

<div class="row no-gutters">
    <div class="col-md-6">
        <div class="p-4 bg-white h-100">
            <div class="owl-carousel owl-theme single-carousel">
                @foreach (var child in parent.Children.ToList())
                {                  
                <div class="item">
                    @Html.Sitecore().Field("Body", child)                    
                </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6"><img src="@img" class="img-fluid w-100 h-100"></div>
</div>
