<!-- Request quote -->
<div class="modal video" id="req-callback">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="p-4 req-form">
                    <input type="hidden" id="dFormType" value="Request Quote">
                    <input type="hidden" id="PageInfo" value="">
                    <input type="hidden" id="utm_source" value="">
                    <h2 class="section-heading mb-4 text-center">Request a quote</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" id="deliveryName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="deliveryCompany" placeholder="Company">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="deliveryEmail" placeholder="Email Id">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="deliveryType">
                            <option value="">--Select Type--</option>
                            <option value="Export">Export</option>
                            <option value="Import">Import</option>
                            <option value="Coastal">Coastal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="deliveryCommodity" placeholder="Commodity">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="deliveryCommodityType" placeholder="Commodity Type">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="deliveryQuantity" placeholder="Expected Quantity">
                    </div>
                    <div class="form-group">
                        <label for="">Expected Vessel Arrival Date</label>
                        <input type="date" class="form-control validated hasDatepicker" id="deliveryArrivalDate" placeholder="Expected Vessel Arrival Date">
                    </div>


                    <div class="form-group">
                        <textarea class="form-control" id="deliveryMessage" placeholder="Message"></textarea>
                    </div>
                    <p class="text-center"><button type="submit" id="btnQuoteSubmit" class="btn btn-gradient">Submit</button></p>
                </form>
            </div>
        </div>
    </div>
</div><!--/Request quote-->
