@using Sitecore.Foundation.Alerts.Models
@model Sitecore.Foundation.Alerts.Models.InfoMessage
@{

    var alerts = new Dictionary<InfoMessage.MessageType, string>
{
         { InfoMessage.MessageType.Info, "i-info i-24" },
         { InfoMessage.MessageType.Success, "i-tick" },
         { InfoMessage.MessageType.Warning, "alert-warning" },
         { InfoMessage.MessageType.Error, "i-cross i-24" }
    };
}

@if (Model != null)
{
    if (alerts[Model.Type] == "i-tick")
    {
        <div id="ToastAlert" class="modal modal-alert modal-toast custom-toast-success">
            <header class="modal-header">
                <h4>
                    <a class="toast-close">
                        <i class="i-tick"></i>
                    </a>
                    Success
                </h4>
                <a class="modal-close" id="closeIcon">
                    <i class="i-cross"> </i>
                </a>
            </header>
            <div class="modal-content">
                <p id="ToastAlertContent">@Model.Message</p>
            </div>
        </div>
    }
    else if (alerts[Model.Type] == "i-info i-24")
    {
        <div id="ToastAlert" class="modal modal-alert modal-toast custom-toast-warning">
            <header class="modal-header">
                <h4>
                    <a class="toast-close">
                        <i class="i-tick"></i>
                    </a>
                    Information
                </h4>
                <a class="modal-close" id="closeIcon">
                    <i class="i-cross"> </i>
                </a>
            </header>
            <div class="modal-content">
                <p id="ToastAlertContent">@Model.Message</p>
            </div>
        </div>
    }
    else if (alerts[Model.Type] == "i-cross i-24")
    {
        <div id="ToastAlert" class="modal modal-alert modal-toast custom-toast-error">
            <header class="modal-header">
                <h4>
                    <a class="toast-close">
                        <i class="i-cross"></i>
                    </a>
                    Error
                </h4>
                <a class="modal-close" id="closeIcon">
                    <i class="i-cross"> </i>
                </a>
            </header>
            <div class="modal-content">
                <p id="ToastAlertContent">@Model.Message</p>
            </div>
        </div>
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            ViewToastAlertMessage();
        })

        function ViewToastAlertMessage() {
            window.setTimeout(function () {
                var elem = document.getElementById('ToastAlert');
                var instance = M.Modal.init(elem, { dismissible: false });
                instance.open();
                
                if ($('#ToastAlertContent').html().indexOf('</a>') > 0) {
                    window.setTimeout(function () {
                        instance.close();
                    }, 9000);
                } else {
                    $('#closeIcon').hide();
                    window.setTimeout(function () {
                        instance.close();
                    }, 4000);
                }
            }, 1500);
        }
    </script>
}