@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (RenderingContext.Current.Rendering.Item != null)
{
    <section class="aboutWrap scrollableOffset" id="about">
        <h3> @Html.Sitecore().Field("Title", currentItem)</h3>
        <div class="text-container">
            <div class="text-wrapper ">
                <p>@Html.Sitecore().Field("Description", currentItem)</p>
            </div>
            <div class="black_link sectionReadMore" onclick="sectionReadMoreToggle(this)">@Html.Sitecore().Field("ButtonText", currentItem)</div>
        </div>
    </section>
}
