@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Image"]);
    string imageUrl = imgField != null && imgField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem) : "";
}

@if (RenderingContext.Current.Rendering.Item != null)
{
<div class="subSection location-section scrollableOffset" id="contact-us">
    <h3 class="main_heading">@Html.Sitecore().Field("SectionTitle", currentItem)</h3>
    <div class="cate-section__content">
        <div class="location-section__left">
            <div class="addressCntr opcityHide">
                <div class="address-box">
                    <h6>@Html.Sitecore().Field("Title", currentItem)</h6>
                    @Html.Sitecore().Field("Description", currentItem)
                    <span class="address-box__icon">
                        <div class="navigationIcon">
                            <i class="i-navigation-light"></i>
                        </div>
                    </span>
                </div>
                <ul class="locationText mb-5">
                    @Html.Sitecore().Field("RichText", currentItem)
                </ul>


            </div>
        </div>
        <div class="location-section__right map-img">
            <div class="fixedBackground" style="background-image: url('@imageUrl');">
                <!-- <img src="../../assets/images/services/map.png" /> -->
            </div>
        </div>
    </div>
</div>
}
