<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<!-- Base configuration for all modules -->
				<configuration name="Helix.Base" abstract="true">
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" />
					<targetDataStore physicalRootPath="$(sourceFolder)" useDataCache="false" singleInstance="true" />
				</configuration>

				<syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
				<userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Users\" singleInstance="true" />
			</configurations>
		</unicorn>
	</sitecore>
</configuration>