<!-- cookies Modal/offcanvas -->

<div class="cookies-layer d-none" id="cookiesModal">

<button type="button" class="icon_button lightRipple" onclick="closeCookie();">

<svg viewbox="0 0 16 16">

<path d="M11.7789771,3.15363708 C12.0185699,2.9140443 12.4474409,2.95956693 12.743937,3.25606299 C13.0404331,3.55255905 13.0859557,3.98143013 12.8463629,4.2210229 L12.8463629,4.2210229 L9.068,8 L12.8463629,11.7789771 C13.0619964,11.9946106 13.0466864,12.3635595 12.8253225,12.6513386 L12.743937,12.743937 C12.4474409,13.0404331 12.0185699,13.0859557 11.7789771,12.8463629 L11.7789771,12.8463629 L8,9.068 L4.2210229,12.8463629 C4.0053894,13.0619964 3.63644049,13.0466864 3.34866141,12.8253225 L3.25606299,12.743937 C2.95956693,12.4474409 2.9140443,12.0185699 3.15363708,11.7789771 L3.15363708,11.7789771 L6.932,8 L3.15363708,4.2210229 C2.93800358,4.0053894 2.95331356,3.63644049 3.17467752,3.34866141 L3.25606299,3.25606299 C3.55255905,2.95956693 3.98143013,2.9140443 4.2210229,3.15363708 L4.2210229,3.15363708 L8,6.932 Z" id="Combined-Shape"></path>

</svg>

</button>

<h3>This website uses cookies</h3>

<div class="cookiesContent">

<p>Kindly accept cookies and continue using our website for a smoother experience.</p>

<button type="button" class="btn btn-secondary primary_waves" onclick="closeCookie();">Accept Cookies</button>

</div>

</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="cookies_offcanvas" aria-labelledby="offcanvasBottomLabel">

<div class="offcanvas-header">

<div class="offcanvas-title h5">This website uses cookies</div>

<button type="button" class="btn-close text-reset lightRipple" data-bs-dismiss="offcanvas" aria-label="Close"></button>

</div>

<div class="offcanvas-body">

<div class="cookiesContent">

<p>Kindly accept cookies and continue using our website for a smoother experience.</p>

<button type="button" data-bs-dismiss="offcanvas" aria-label="Close" class=" btn btn-secondary primary_waves">Accept Cookies</button>

</div>

</div>

</div>

<!-- cookies Modal/offcanvas -->