
@{
    ViewBag.Title = "ViewECertificate";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js">
</script>

<style>
    .container {
        position: fixed;
        top: 20%;
        left: 28%;
        margin-top: -65px;
        margin-left: -100px;
        border-radius: 7px;
    }

    #makepdf {
        box-sizing: content-box;
        width: 700px;
        height: 150px;
        padding: 30px;
        border: 1px solid black;
        font-style: sans-serif;
        background-color: #f0f0f0;
    }

    #button {
        background-color: #4caf50;
        border-radius: 5px;
        margin-left: 650px;
        margin-bottom: 5px;
        color: white;
    }

    h2 {
        text-align: center;
        color: #24650b;
    }
</style>




<div class="container">
    <button id="button1">Generate PDF</button>
    <div id="makepdf">
        <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
            <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
                <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
                <br><br>
                <span style="font-size:25px"><i>This is to certify that</i></span>
                <br><br>
                <span style="font-size:30px"><b> @Session["FirstName"] @Session["LastName"]</b></span><br /><br />
                <span style="font-size:25px"><i>has completed the course</i></span> <br /><br />
                <span style="font-size:30px">$course.getName()</span> <br /><br />
                <span style="font-size:20px">with score of <b>$grade.getPoints()%</b></span> <br /><br /><br /><br />
                <span style="font-size:25px"><i>dated</i></span><br>
                #set ($dt = $DateFormatter.getFormattedDate($grade.getAwardDate(), "MMMM dd, yyyy"))
                <span style="font-size:30px">$dt</span>
            </div>
        </div>
    </div>
</div>

<script>
		var button = document.getElementById("button");
		button.addEventListener("click", function () {
			var doc = new jsPDF("p", "mm", [300, 300]);
			var makePDF = document.querySelector("#makepdf");

			// fromHTML Method
			doc.fromHTML(makePDF);
			doc.save("output.pdf");
    });
    $("#button1").click(function () {
        $.ajax({
            type: "GET",
            data: {
                userId: 5,
            },
            url: "/api/AdaniAirports/EnvironmentQuizStartTime",
            success: function (data) {
                if (data.result != "200") {
                }
            }

        });
    });
</script>

