@using Sitecore.AdaniHousing.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if (element != null)
{
    <section class="bg-gray">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="vision vertical-fourth vision-mission">
                        @Html.Sitecore().Field("MediaInfo", element)
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="owl-carousel single-slide">
                        @if (element.HasChildren)
                        {
                            foreach (Item item in element.GetChildren())
                            {
                                var IconImage = Helper.ImageUrl("MediaImage", item);
                                <div class="item">
                                    <img src="@IconImage">
                                    <div class="vertical-fourth pl-5">
                                        <h2 class="heading-w pl-4 mb-4 txt-white">@Html.Sitecore().Field("MediaTitle", item)</h2>
                                        @Html.Sitecore().Field("MediaDescription", item)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section><!--/section-->
}


