@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

}
@if (element != null)
{
    var ScreenImage = Helper.ImageUrl("Image", element);
    <section class="bg-gray section_padding josh-app">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    @Html.Sitecore().Field("Body", element)
                </div>
                <div class="col-lg-4">
                    <img src="@ScreenImage" class="img-fluid">
                </div>
            </div>
        </div>
    </section><!--/section-->
}