@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if (element != null)
{
    <section class="section_padding bg-gray">
        <div class="container">
            <h3 class="border-left section-heading text-blue mb-4">@Html.Sitecore().Field("Text", element)</h3>
            <div class="row">
                @if (element.HasChildren)
                {
                    foreach (Item item in element.GetChildren())
                    {
                        <div class="@Html.Sitecore().Field("className", item)">
                            @Html.Sitecore().Field("Summary", item)
                        </div>
                    }                    
                }
            </div>
        </div>
    </section>
}
