

<section class="section_padding bg-white text_container">
    <div class="container">
        <h2> Our Culture</h2>
        <div class="row">
            <div class="col-lg-8 mb-4">
                <div class="padd-box blog-tile">
                    <div class="bg-images"><img alt="" src="https://careers.adani.com/-/media/Project/Careers/Home/our-culture/5.jpg?la=en&amp;hash=F413D99B0CF0A6E9227EB01E6C000FCB"></div>
                    <div class="blog-div h-100 position-relative b-block p-5 blog-cont">
                        <h3 class="txt-white mb-3">Passion</h3>
                        <p class="px-0">Performing with enthusiasm and energy</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="padd-box blog-tile">
                    <div class="bg-images"><img alt="" src="https://careers.adani.com/-/media/Project/Careers/Home/our-culture/3.jpg?la=en&amp;hash=1DDE599B977BDAB2A4252C1AF0A38F95"></div>
                    <div class="blog-div h-100 position-relative b-block p-5 blog-cont">
                        <h3 class="txt-white mb-3">Results</h3>
                        <p class="px-0">Consistently achieving goals</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="padd-box blog-tile">
                    <div class="bg-images"><img alt="" src="https://careers.adani.com/-/media/Project/Careers/Home/our-culture/4.jpg?la=en&amp;hash=3103738F362993E43900CFA7B83770D3"></div>
                    <div class="blog-div h-100 position-relative b-block p-5 blog-cont">
                        <h3 class="txt-white mb-3">Integration</h3>
                        <p class="px-0">Working across functions and business to create synergies</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="padd-box blog-tile">
                    <div class="bg-images"><img alt="" src="https://careers.adani.com/-/media/Project/Careers/Home/our-culture/2.jpg?la=en&amp;hash=40E0A6CD7C36EBBC3A0B0C110F7BC1CE"></div>
                    <div class="blog-div h-100 position-relative b-block p-5 blog-cont">
                        <h3 class="txt-white mb-3">Dedication</h3>
                        <p class="px-0">Working with commitment in the pursuit of our aims</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="padd-box blog-tile">
                    <div class="bg-images"><img alt="" src="https://careers.adani.com/-/media/Project/Careers/Home/our-culture/1.jpg?la=en&amp;hash=EB7AF933161607E79828EE5646966D06"></div>
                    <div class="blog-div h-100 position-relative b-block p-5 blog-cont">
                        <h3 class="txt-white mb-3">entrepreneurship</h3>
                        <p class="px-0">Seizing new opportunities with initiative and ownership.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/section-->
<section class="section_padding adani-life">
    <div class="bg-images"><img src="/Images/AdaniCapital/banner2.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h3 class="border-left section-heading mb-3">Life at @@ Adani Capital</h3>
                <p class="text-white mb-3">It is Adani Capital's mission to contribute to India's growth story by providing accessible financing to retail, wholesale and rural audience, thereby unleashing its vast economic potential and spurring the country’s growth to even greater heights.</p>
                <p class="text-white mb-3">As a successful and responsible entity, we invest into protection and development of nearby communities. With a 'society first' attitude, we unceasingly work towards the betterment of the communities wherein our operational presence exists.</p>
		<p class="text-white mb-3">Adani Capital aims to further the Adani Group’s principle of “Nation Building” by addressing key priorities of the nation.</p>            
	    </div>
            <div class="col-lg-5">
                <div class="owl-carousel career_carousel">
                    <div class="item">
                        <img src="/Images/AdaniCapital/Rectangle 5.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="/Images/AdaniCapital/Rectangle 5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/section-->
<section class="section_padding bg-gray">
    <div class="container">
        <h3 class="border-left section-heading text-blue mb-4">A journey of Growth with Goodness</h3>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="bg-gradient p-5 h-100 boxzoom">
                    <h5 class="text-white mb-3">Working at diverse businesses</h5>
                    <p class="min-100 text-white">From transforming India’s coastlines through ports and logistics hubs to energising millions of households living without electricity to working towards food security in the most populous democracy, each of our business has evolved to play a part in empowering India.</p>
                    <p class="mt-5"><a rel="noopener noreferrer" href="https://www.adani.com/" target="_blank" class="btn btn-w-border ">Know more</a></p>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class=" d-block h-100 p-5 boxzoom">
                    <div class="bg-images"><img alt="" src="https://careers.adani.com//-/media/Project/Careers/Home/Layer-48.jpg?la=en&amp;hash=0D46ACAE33751BE7D57C269EEE4E60EA"></div>
                    <h5 class="text-white mb-3 position-relative mb-3">Explore positions</h5>
                    <p class="position-relative mb-3 min-100 text-white">
                        Our people are the key drivers of the Adani Group’s core philosophy of Growth with Goodness. Join the family, to explore unprecedented opportunities and discover a purpose in life.
                    </p>
                    <p class="mt-5 position-relative d-block"><a rel="noopener noreferrer" href="/Careers/Current-Offerings" class="btn btn-gradient">Explore now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
