@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
<section class="py-5 bg-white">
    <div class="container">
        <div class="row no-gutters">
            @Html.Sitecore().Placeholder("form")
        </div>
    </div>
</section>
<script>
 window.fwSettings={ 'widget_id':81000000935};
 !function(){if("function"!=typeof window.FreshworksWidget)
{var n =function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}()
</script>
<script type='text/javascript' src='https://ind-widget.freshworks.com/widgets/81000000935.js' async defer></script>