<div class="overlay"></div>
<div class="wrapper-header">
    <div class="header-brand">
        <img src="https://stage.adanicapital.in/Images/AdaniHousing/logo.png">
    </div>
    <div class="">
        <button class="header-toggler" type="button" data-target="#sidebar" data-class="sidebar-lg-show" responsive="true">
            <span class="fa fa-bars"></span>
        </button>
    </div>

    <div class="ml-auto wrapper-header-avatar">
        <ul>
            <li><a href="#">Home</a></li>
            <li class="has-submenu">
                <a href="#"><span class="fa fa-user-circle mr-2 mr-lg-3"></span><span>Welcome, user</span></a>
                <ul class="wrapper-header-avatar-dropdown">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Change Password</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-bell"></i></a></li>
        </ul>
    </div>
</div>
<div class="position-relative">
    <div class="sidebar-fixed sidebar-fixed-show" id="sidebar">
        <ul class="sidebar-fixed-nav">
            <li class="sidebar-nav-item active"><a class="" href="#"><img src="/-/media/B5B27F3276804E1E972DF452B319017D.ashx"><span>Dashboard</span></a></li>
            <li class="sidebar-nav-item"><a class="" href="#"><img src="/-/media/3F5BA3D5A81E4A6D8F152FFD34C218CF.ashx"><span>New Loan</span></a></li>
            <li class="sidebar-nav-item"><a class="" href="#"><img src="/-/media/20C0845F733C4C898BBDD6B687443D77.ashx"><span>Customer Support</span></a></li>
            <li class="sidebar-nav-item"><a class="" href="#"><img src="/-/media/20C0845F733C4C898BBDD6B687443D77.ashx"><span>Branch Locater</span></a></li>
        </ul>
    </div>
    <div class="content-wrapper">
        <div class="wrapper-breadcrumb">
            <ol>
                <li><a href=""><span class="fa fa-home mr-2"></span></a></li>
                <li><a href="">Dashboard</a></li>
                <li class="float-right pr-3"><a>12 May 2021, 5:54 PM</a></li>
            </ol>
        </div>
        <div class="wrapper-body">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="box_userprofile box_shadow">
                        <h1>Welcome, <span class="d-block">Pramod Shivaji Kadam </span></h1>
                        <p>Customer No<span class="d-block">GLBCUST00000103484</span></p>
                        <p>PAN No.<span class="d-block">BLY****52N</span></p>
                        <p>Mobile No.<span class="d-block">+91 XXXXXXXX17</span></p>
                        <p>Aadhar No.<span class="d-block">XXXX XXXX 4345</span></p>
                    </div>
                </div>
                <div class="col-lg-8 mb-4">
                    <div class="box_totaltransactions box_shadow">
                        <div class="row">
                            <div class="col-sm-6 mb-4">
                                <h2 class="text-blue">12,99,426</h2>
                                <p>Total Sanctioned Amount</p>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h2 class="text-green">13,417</h2>
                                <p>Installment</p>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h2 class="text-blue">12,92,169</h2>
                                <p>Principal Outstanding</p>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h2 class="text-green">235/240</h2>
                                <p>EMIs Remaining</p>
                            </div>
                            <div class="col-12 text-left mt-4">
                                <a href="#" class="btn btn-primary"><img src="" class="mr-3">Check Eligibility</a>
                                <a href="" class="btn btn-secondary"><img src="" class="mr-3">Quick Pay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4">
                    <div class="box_currentloan box_shadow">
                        <h3>Current Loan<span class="float-right"><span class="text-green">Home Loan</span><span class="mx-3">|</span><span>Account: GLBCUST00000103484</span></span></h3>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <p>Loan Amount(₹)<span class="d-block">12,99,426</span></p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <p>Loan End Date<span class="d-block">05/01/2041</span></p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <p>Tenure(Months)<span class="d-block">235/240</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <p>Current Balance<span class="d-block">12,92,169</span></p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <p>Next EMI(₹)<span class="d-block">13,417</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <p>Interest Rate<span class="d-block">11%</span></p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <p>Next EMI Date<span class="d-block">05/07/2021</span></p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <p class="pt-4"><a href="#" class="btn-link">View all</a></p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <a href="" class="btn btn-secondary">Quick Pay</a>
                                <a href="" class="btn btn-secondary">Loan Summery</a>
                                <a href="" class="btn btn-secondary">Raise a Query</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="box_quicklinks box_shadow">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="#">Loan Ducument</a></li>
                            <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="#">EMI Calculator</a></li>
                            <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="#">Loan Brochure</a></li>
                            <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="#">Customer Support</a></li>
                            <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="#">Mobile App</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 mb-4">
                    <div class="box_shadow">
                        <div class="owl-carousel offers_carousel">
                            <div class="item">
                                <a href="#"><img src="https://via.placeholder.com/350x150"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="https://via.placeholder.com/350x150"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="https://via.placeholder.com/350x150"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="box_downloadapp box_shadow">
                        <div class="bg-images"><img src="https://via.placeholder.com/350x150"></div>
                        <div class="box_downloadapp--content">
                            <h3>Download the Adani Capital app and enjoy the full benefits of our digital partnership program!</h3>
                            <p><a href="#" class="btn btn-dark"><span class="fa fa-handshake mr-2"></span>Become a Partner</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

