<section class="section_cust-stories section_padding">
    <div class="container">
        <h2>Customer Stories</h2>
        <div class="owl-carousel carousel_cust--stories">
            <div class="item">
                <div class="cust--stories_main">
                    <div class="cust--stories_main-content">
                        <p>
                            Adani housing Finance helped me achieve my dream. With smooth documentations and processes, O Am living in My Home, happy and contented.
                        </p>
                    </div>
                    <div class="cust--stories_main-thumb">
                        <div class="row">
                            <div class="col-auto d-none">
                                <img src="/Images/AdaniCapital/testimonial_01.png">
                            </div>
                            <div class="col-auto">
                                <div>
                                    <h3>Rajendra Patel</h3>
                                    <p>Farmer</p>
                                </div>
                                <div class="star-rating d-none">
                                    <span class="fas fa-star" data-rating="1"></span>
                                    <span class="fas fa-star" data-rating="2"></span>
                                    <span class="fas fa-star" data-rating="3"></span>
                                    <span class="fas fa-star" data-rating="4"></span>
                                    <span class="fas fa-star" data-rating="5"></span>
                                    <input type="hidden" name="rating1" class="rating-value" value="4.5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="cust--stories_main">
                    <div class="cust--stories_main-content">
                        <p>
                            Found the perfect Home loan solution to some complex requirements and made the process easy. There was great support and well explained.
                        </p>
                    </div>
                    <div class="cust--stories_main-thumb">
                        <div class="row">
                            <div class="col-auto d-none">
                                <img src="/Images/AdaniCapital/testimonial_01.png">
                            </div>
                            <div class="col-auto">
                                <div>
                                    <h3>Rashi Jain</h3>
                                    <p>Businessman</p>
                                </div>
                                <div class="star-rating d-none">
                                    <span class="fas fa-star" data-rating="1"></span>
                                    <span class="fas fa-star" data-rating="2"></span>
                                    <span class="fas fa-star" data-rating="3"></span>
                                    <span class="fas fa-star" data-rating="4"></span>
                                    <span class="fas fa-star" data-rating="5"></span>
                                    <input type="hidden" name="rating1" class="rating-value" value="4.5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="cust--stories_main">
                    <div class="cust--stories_main-content">
                        <p>It was an amazing experience for me to avail a home loan from Adani Housing Finance. They have mature staff who understand the requirements of the customer.</p>
                    </div>
                    <div class="cust--stories_main-thumb">
                        <div class="row">
                            <div class="col-auto d-none">
                                <img src="/Images/AdaniCapital/testimonial_02.png">
                            </div>
                            <div class="col-auto">
                                <div>
                                    <h3>Ashutosh Banerjee</h3>
                                    <p>Shopkeeper</p>
                                </div>
                                <div class="star-rating d-none">
                                    <span class="fas fa-star" data-rating="1"></span>
                                    <span class="fas fa-star" data-rating="2"></span>
                                    <span class="fas fa-star" data-rating="3"></span>
                                    <span class="fas fa-star" data-rating="4"></span>
                                    <span class="fas fa-star" data-rating="5"></span>
                                    <input type="hidden" name="rating1" class="rating-value" value="4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="cust--stories_main">
                    <div class="cust--stories_main-content">
                        <p>The EMI calculator was very helpful. Before applying for a home loan, I got to check the EMIs I have to pay every month for a selected tenure.</p>
                    </div>
                    <div class="cust--stories_main-thumb">
                        <div class="row">
                            <div class="col-auto d-none">
                                <img src="/Images/AdaniCapital/testimonial_01.png">
                            </div>
                            <div class="col-auto">
                                <div>
                                    <h3>H. Rackham</h3>
                                    <p>Businessman</p>
                                </div>
                                <div class="star-rating d-none">
                                    <span class="fas fa-star" data-rating="1"></span>
                                    <span class="fas fa-star" data-rating="2"></span>
                                    <span class="fas fa-star" data-rating="3"></span>
                                    <span class="fas fa-star" data-rating="4"></span>
                                    <span class="fas fa-star" data-rating="5"></span>
                                    <input type="hidden" name="rating1" class="rating-value" value="5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-4 d-none"><a href="#" class="btn btn-primary">Read all</a></p>
    </div>
</section><!--/section-->
