@using Sitecore.Data.Items
@using Sitecore.Data.Fields
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var dataItem = Sitecore.Context.Database.GetItem(datasource);
}
<section class="bg-grey py-5">
    <div class="container">
        <div class="row">
            @if (dataItem != null)
            {
                <div class="col-lg-8 overflow-hidden mb-3 mb-lg-0">
                    @Html.Sitecore().Field("Body", dataItem)
                </div>
            }
            @Html.Sitecore().Placeholder("latest-section")
        </div>
    </div>
</section>
