@using Sitecore.Data.Fields
@using Sitecore.Links
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var link = LinkManager.GetItemUrl(element);
}


<section class="bg-gradient py-5 CTA">
    <div class="container">
        <h2>@element.Fields["Heading"]<span><a href="@link" class="btn btn-w-border">Explore now</a></span></h2>
    </div>
</section>
