@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.AdaniHousing.Website.Helper
@{
    var contextItem = Sitecore.Context.Item;
    var ProfileImage = Helper.ImageUrl("MainImage", contextItem);
}
<section class="bg-white section_padding" id="first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <img alt="profile Image" class="img-fluid" src="@ProfileImage">
            </div>
            <div class="col-md-9">
                <div class="mb-3">
                    <h2 style="color: #3c76b6;">@Html.Sitecore().Field("Heading", contextItem)</h2>
                    <p>@Html.Sitecore().Field("Designation", contextItem)</p>
                </div>
                @Html.Sitecore().Field("Description", contextItem)                
            </div>
        </div>
    </div>
</section>
