<div class="section-Quick_links">
    <div class="container-fluid">
        <p class="close d-block">Close <span class="fa fa-angle-down"></span></p>
        <p class="open d-none">Quick Links <span class="fa fa-angle-up"></span></p>
        <ul>
            <li><a target="_blank" href="https://www.billdesk.com/pgidsk/pgmerc/adanicapqp/ADANICAPQPDetails.jsp"><span class="mr-3"><img src="/Images/AdaniCapital/EMI.png"></span>Pay EMI Online</a></li>
            <li><a href="/Branch-Locator"><span class="mr-3"><img src="/Images/AdaniCapital/branch-locator.png"></span>Center Locater</a></li>
            <li><a target="_blank" href="https://stage.adanicapital.in/Mobile%20App"><span class="mr-3"><img src="/Images/AdaniCapital/loan.png"></span>Download Mobile App</a></li>
            <li><a href="req_callback" data-toggle="modal" data-target="#req_callback"><span class="mr-3"><img src="/Images/AdaniCapital/Call-Back.png"></span>Request Call Back</a></li>
			<li><a href="http://adaniuat.lms.gravithy.com/customer/Account/Login" target="_blank" style="background: #e8b409; color: #000; border-radius: 8px; padding: 0.7rem 0.8rem; position: relative; top: 11px; line-height: 18px; font-size: 16px;">Check Eligibility</a></li>
        </ul>
    </div>
</div>
