
<div class="sidebar_s-icons">
    <ul>
        <li><a href="https://www.facebook.com/Adani-Housing-Finance-437177260160266/" target="_blank"><img src="/Images/AdaniCapital/FB.jpg"></a></li>
        <li><a href="https://in.linkedin.com/company/adani-housing-finance" target="_blank"><img src="/Images/AdaniCapital/in.jpg"></a></li>
        <li class="d-none"><a href="https://www.youtube.com/channel/UCQjar4Db7zvEyHLcXfp7_gQ" target="_blank"><img src="/Images/AdaniCapital/youtube.jpg"></a></li>
	<li><a href="http://wa.me/917208976801/?text=hi" target="_blank"><img src="/Images/AdaniCapital/whatsapp.jpg"></a></li>
    </ul>
</div>
