@media(max-width:1099px){
header .nav_bar img{max-width: 160px;}
.nav_bar .navigation nav a span{font-size: 14px;}
.hero-banner .banner_content img{max-width: 200px;}
.banner_content p{font-size: 16px; line-height: 18px;}
.hero-banner .banner_content > div{max-width: 350px;}
}
@media(min-width:992px){
	#contact.section_top{padding-top: 120px;}
	#contact.section_bottom{padding-bottom: 120px;}
	.container-fluid{padding-left:63px;padding-right:63px;}
	.section_top{padding-top:51px;}
	.section_bottom{padding-bottom:51px;}
	.hero-banner, .hero-banner img{height: 100vh;object-fit: cover;}
	.nav_bar .navigation{padding-right: 40px;}
	.gallery_main > div:last-child{margin-bottom: 0px;}
	.gallery_main{height: 100%;overflow: hidden; position: relative;}
	.parallax__layer__1:after{content:"";}
	.gallery__sync--main{width: calc(100%);}
	.gallery__sync--main .owl-wrapper-outer{padding-left:150px;padding-right:150px;}
	.enquire_now{display:none;}
}
@media(max-width:991px){
.modal-enquire .modal-body{padding: 50px 30px 30px 30px;}
.enquire_now.active{display:block;}
.enquire_now{background: rgb(220 220 220 / 95%); position: fixed; bottom: 0px; width: 100%; z-index: 99;display: none;}
.enquire_now p{margin: 0px !important; padding: 0.5rem;}
.enquire_now a{background: #cbc9c7; color: #333; border: 1px solid #9d8e87; padding: 0.3rem 1rem; display: inline-block;}
.enquire_now a:hover{background: #cbc9c7; color: #333;text-decoration:none;}
.section_floor p{max-width: 100%;width: 100%;}
.modal_header .text-center.mt-5{left: 0px;position: absolute; width: 100%; bottom: 10px;}
#gallery__sync--main .owl-nav{display:none;}	
#gallery__sync--main .owl-item .item h4 span{opacity:0;}
#gallery__sync--main .owl-item.center .item h4 span{font-size: 12px; padding: 0.5rem 0.5rem;opacity:0;}
	#contact.section_top{padding-top: 40px;}
	#contact.section_bottom{padding-bottom: 40px;}
	.book_now-cta{display:none;}
	.section_floor img{height: 250px; object-fit: cover;}
	.hero-banner .banner_content > div{margin: 0px auto;}
	.section_top{padding-top:60px;}
	.section_bottom{padding-bottom:60px;}
	.section_enquire{display:none !important;}
	.navigation{display:none !important;}
	.content_section { padding: 1.5rem; }
	.modal_header--menu{padding-left: 0rem;text-align:center;}
	header .hamburger_icon{margin-left:auto;}
	.modal_header--hamburger{right: 20px;top: 10%;}
	.modal_header--hamburger .hamburger_icon{width: 50px; height: 20px;}
	.modal_header--hamburger .hamburger_icon span:before{width: 14px;top: 9px;}
	.modal_header--hamburger .hamburger_icon span:after{width: 14px;top: 9px;}
	.modal_header--menu li{    padding-bottom: 0.6rem;}
	.modal_header--menu li a{font-size: 22px;}
	.modal_header .position-relative.h-100 img{position: relative; max-width: 80%; margin-bottom: 2rem;}
	.modal_header .container{padding: 1rem 0rem;    overflow: auto;overflow-x: hidden;}
	.hero_banner--section .reveal_banner{display:none !important;}
	.banner_content{bottom: 2rem; top: unset; transform: translate(0px, 0px); padding: 0px;}
	.hero-banner .banner_content img{    max-width: 200px;}
	.banner_content p{font-size: 16px; line-height: 20px; margin-bottom: 7px;max-width: 300px ; margin: 0px auto;}
	.banner_content p span { font-size: 14px; line-height: 18px; }
	.banner_content p a{font-size: 14px; line-height: 8px; padding: 12px 30px;}
	.parallax__layer__1.active img{min-width: 105%; bottom: -4%; transform: translateX(-50%); left: 50%;}
	footer .copyright_block p{text-align:center !important;}
	.copyright_block{text-align:center !important;}
	footer{padding: 57px 0px 4rem 0px;}
	footer ul{    margin-bottom: 1rem;}
	footer .copyright_block{    padding: 0px 15px;}
	.section_floor--thumb h3{font-size: 15px; line-height: 26px;}
	.section_floor--thumb h3 span{font-size: 13px; line-height: 31px;}
	.section_floor--thumb{min-height: 70px; padding: 10px 10px;}
	section h2{font-size: 28px; line-height: 48px; margin-bottom: 24px;}
	.section_bottom{}
	.download_brochure{background: #210024;padding: 0.8rem 1.5rem !important;}
	.content_section h3{font-size: 24px; line-height: 31px; margin-bottom: 20px;}
	.content_section p{}
	.amenities_main--content h4{font-size: 12px; line-height: 7px; margin-bottom: 0px;}
	.amenities_main--content{    padding: 10px;}
	.disclaimer_text{display:none;}
	.section_contact--thumb{margin-bottom: 10px;}
	.section_contact--desc{margin-bottom: 2.5rem;}
	.section_contact--desc p{font-size: 14px;}
	footer h3{margin-bottom: 12px;}
	footer .copyright_block p{margin-bottom: 20px;}
	footer ul li a{margin-right: 5px;}
	.section_contact--thumb img{max-height: 35px;}
	.gallery_main{}
	.parallax__layer.parallax__layer__0 img{opacity: 0.3;height: 100%; width: 100%; object-fit: cover;}
	.parallax__layer__1 img{min-width: 100%; bottom: 0%; transform: translateX(-50%); left: 50%;}
	.parallax__layer__1:after{content:"";position: absolute; bottom: 0px; width: 100%; height: 100%; background: rgb(33,0,36); background: linear-gradient(180deg, rgba(33,0,36,0) 3%, rgba(33,0,36,0.45) 25%, rgba(33,0,36,0.35) 50%, rgba(33,0,36,1) 88%);}
	header{padding: 1rem 0rem !important;}
	.section_floor p{margin-left: 0px; font-size: 13px;}
	#project__sync--thumb .owl-nav button{width:40px; height: 84px;}
	#project__sync--thumb{padding-left: 40px; padding-right: 40px;}
	#back-to-top{bottom: 80px;background-color: rgb(99 76 101 / 80%);}
}
@media(max-width:767px){
	#gallery__sync--thumb{max-width: 260px; margin: 0px auto;}
	.parallax{height: 80vh;}
	.section_floor img{}
	.section_floor--thumb{}
	.parallax__layer__1 img{min-width: 150%;}
	.parallax__layer__1.active img{min-width: 140%;}
}