@font-face {
  font-family: 'Adani-Regular';
  src: url('webfonts/Adani-ExtraLight.woff') format('woff'), url('webfonts/Adani-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Adani-Regular';
  src: url('webfonts/Adani-Medium.woff') format('woff'), url('webfonts/Adani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Adani-Regular';
  src: url('webfonts/Adani-Regular.woff') format('woff'), url('webfonts/Adani-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Adani-Regular';
  src: url('webfonts/Adani-Regular_1.woff') format('woff'), url('webfonts/Adani-Regular_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Adani-Regular';
  src: url('webfonts/Adani-Light.woff') format('woff'), url('webfonts/Adani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Adani-Regular';
  src: url('webfonts/Adani-Bold.woff') format('woff'), url('webfonts/Adani-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Adani-Regular';
  src: url('webfonts/Adani-SemiBold.woff') format('woff'), url('webfonts/Adani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
/* #### Didot webfont #### */
@font-face {
  font-family: 'Didot Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Didot Regular'), url('webfonts/Didot.woff') format('woff');
}
@font-face {
  font-family: 'Didot Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Didot Italic'), url('webfonts/Didot Italic.woff') format('woff');
}
@font-face {
  font-family: 'Didot Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Didot Bold'), url(webfonts/'Didot Bold.woff') format('woff');
}
@font-face {
  font-family: 'Didot Title Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Didot Title Regular'), url('webfonts/Didot Title.woff') format('woff');
}
html, body{
  margin:0px;
  padding:0px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position:relative;
  font-family: 'Adani-Regular' !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size:16px;
  background-color:#fff;
}
header{
 position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
  padding: 2rem 0rem;
}
header .navigation{
}
header .navigation a{
 position: relative;
}
header .navigation a:after{
 content:"/";
 font-weight: 100;
}
header .navigation a:last-child:after{
 content:"";
}
header .navigation a:hover{
}
header .logo{
}
header .hamburger_icon{
 border: 1px solid #FFFFFF8F;
  border-radius: 15px;
  width: 62px;
  height: 27px;
 position: relative;
 background:transparent;
 transition:ease all 0.3s;
}
header .hamburger_icon:hover span:before, header .hamburger_icon:hover span:after{
 background:#fff !important;
 transition:ease all 0.3s;
}
header .hamburger_icon:hover{
 background:#210024;
 transition:ease all 0.5s;
}
header .hamburger_icon span{
}
header .hamburger_icon span:before{
 content:"";
 position: absolute;
  height: 1px;
  width: 18px;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  background: rgb(255 255 255 / 56%);
}
header .hamburger_icon span:after{
 content:"";
 position: absolute;
  height: 1px;
  width: 18px;
  left: 50%;
  top: 16px;
  transform: translateX(-50%);
  background: rgb(255 255 255 / 56%);
}
.section_enquire{
 background: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1rem 0rem 0rem 0rem;
 z-index: 9;
 display:none;
}
.section_enquire.active{
 display:block;
}
.section_enquire h3{
 color: rgb(33 0 36 / 56%);
  font-size: 16px;
  line-height: 26px;
}
.section_enquire form{
 margin-bottom: 0px;
 position: relative;
}
.section_enquire small{
 color:rgb(33 0 36 / 56%);
 font-size: 10px;
}
.section_enquire .btn{
 width: 100%;
  background: #A29FA2 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF00;
  font-size: 16px;
 color: #fff;
}
.section_enquire .btn:hover{
 background: #575757 0% 0% no-repeat padding-box;
  color: #fff;
  transition: ease all 0.3s;
}
.section_enquire input{
 border: 1px solid rgb(33 0 36 / 56%);
  border-radius: 0px;
}
.section_enquire input::-webkit-input-placeholder {
 /* Edge */
  color: rgb(33 0 36 / 32%);
}
.section_enquire input:-ms-input-placeholder {
 /* Internet Explorer 10-11 */
  color: rgb(33 0 36 / 32%);
}
.section_enquire input::placeholder {
  color: rgb(33 0 36 / 32%);
}
.didot_regular{
 font-family: 'Didot Regular';
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 15px;
  display: inline-block;
 color:#000;
}
section h2{
 font-size: 44px;
  line-height: 58px;
 margin-bottom: 50px;
 text-transform: uppercase;
  font-weight: 500;
}
.content_section{
}
.content_section h3{
 font-size: 42px;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.content_section p{
 font-size: 16px;
  line-height: 28px;
 margin-bottom: 24px;
}
.content_section ul{
 padding-left: 0px;
}
.content_section ul li{
 font-size: 16px;
  line-height: 28px;
 color: #2B2B2B;
  margin-bottom: 13px;
 list-style-type:none;
 position:relative;
 padding-left: 15px;
}
.content_section ul li:before{
 content:"";
 background: rgb(43 43 43 / 50%);
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0px;
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.amenities_main{
 position: relative;
}
.amenities_main--thumb{
 position: relative;
  overflow: hidden;
}
.amenities_main--thumb img{
 width: 100%;
 transform: scale(1);
  transition: ease all 0.3s;
}
.amenities_main--content{
 position: absolute;
  bottom: 0px;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 0.8;
  padding: 16px;
}
.amenities_main--content h4{
 color: #210024;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}
.amenities_main:hover .amenities_main--thumb img{
 transform: scale(1.1);
  transition: ease all 0.3s;
}
footer{
 background: #210024;
  color: #fff;
  padding: 57px 0px 9.5rem 0px;
  text-align: center;
}
footer h3{
 font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 32px;
}
footer p{
 font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 52px;
}
footer ul{
 margin-bottom: 4rem;
}
footer ul li{
 display: inline-block;
}
footer ul li a{
 background: #F4924E;
  color: #fff;
  min-width: 32px;
  display: block;
  height: 32px;
  border-radius: 100px;
 position:relative;
}
footer ul li .fab{
 position: relative;
  top: 40%;
  transform: translateY(-50%);
}
footer ul li a:hover{
}
footer .copyright_block{
 padding-left: 50px;
  padding-right: 50px;
}
footer .copyright_block p{
 margin-bottom: 30px;
}
footer .copyright_block p a{
 color:#fff;
}
.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}
.parallax__cover {
  background: #2D112B;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}
.parallax__layer__0 {
  transform: translateZ(-300px) scale(4);
}
.parallax__layer.parallax__layer__0{
}
.parallax__layer.parallax__layer__0 img{
 opacity:0.1;
}
.parallax__layer__1 {
  transform: translateZ(-250px) scale(3.5);
}
.parallax__layer__1 img{
  transform: scale(0.9);
  transition: ease all 0.5s;
  transform-origin: bottom center;
  height: auto !important;
  bottom: -25rem;
}
.parallax__layer__1.active img{
  transform: scale(1);
  transition: ease all 0.5s;
  transform-origin: bottom center;
  height: auto !important;
  bottom: -25rem;
}
/*navbar*/
.nav_bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav_bar .navigation {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav_bar .navigation nav{
  display: flex;
  font-size: 16px;
  align-items: center;
}
.nav_bar .navigation .nav_button{
  text-decoration: none;
  background-color: #28a49a;
  height: 32px;
  padding: 4px 12px;
  margin: 0px 12px;
  border-radius: 20px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: background-color .4s ease-out;
  -moz-transition: background-color .4s ease-out;
  -o-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;
}
.nav_bar .navigation .nav_button:hover{
  background-color: #04BE74;
}
.nav_bar .navigation nav a span{
  padding: 4px 12px;
  border-radius: 20px;
 -webkit-transition: background-color .4s ease-out;
  -moz-transition: background-color .4s ease-out;
  -o-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.nav_bar .navigation nav a:hover span{
 color:#000;
 background-color: #f6f6f6;
}
.nav_bar .navigation nav a.active span{
 color:#000;
}
.nav_bar .navigation nav a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333333;
  height: 32px;
  color: #fff;
  text-transform: uppercase;
}
.nav_bar .navigation nav a:hover{
}
.nav_bar .navigation img{
  width: 28px;
}
.banner_content{
 position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 100%;
 padding-right: 63px;
 color: #fff;
}
.hero-banner .banner_content img{
 height: auto;
  max-width: 320px;
  margin: 0px auto 0px auto;
}
.hero-banner .banner_content hr{
 background: #fff;
  height: 0.5px;
  border-top: 0px solid #fff;
  max-width: 80%;
 margin-bottom:20px;
}
.hero-banner .banner_content > div{
 max-width: 400px;
  text-align: center;
}
.banner_content p{
 font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}
.banner_content p b{
 font-weight: 500;
 position:relative;
}
.banner_content p b:after{
 content:"";
 position: relative;
  width: 40%;
  height: 1px;
  background: #fff;
  bottom: 0px;
  display: block;
  margin: 10px auto;
}
.banner_content p b span{
}
.banner_content p span{
 font-size: 16px;
  line-height: 20px;
}
.banner_content p a{
 font-size: 16px;
  line-height: 22px;
  padding: 16px 54px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
 transition: ease all 0.5s;
}
.banner_content p a:hover{
 transition: ease all 0.5s;
 background:#fff;
 color:#210024;
}
.hero-banner{
 background: rgb(33,0,36);
  background: linear-gradient( 0deg, rgb(33 0 36 / 60%) 0%, rgba(33,0,36,1) 41%, rgba(33,0,36,1) 67%);
 ;
}
.modal-enquire{
}
.modal-enquire h5{
 font-size: 30px;
  line-height: 62px;
 margin-bottom: 0px;
}
.modal-enquire h6{
 color: rgb(33 0 36 / 56%);
 margin-bottom:40px;
}
.modal-enquire .modal-content{
 background: rgb(255 255 255 / 90%);
 border-radius: 0px;
}
.modal-enquire .modal-body .close{
 position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 100px;
  color: #fff;
  font-weight: 100;
  width: 25px;
  background: rgb(33 0 36 / 56%);
}
.modal-enquire .modal-body{
 padding:80px 90px;
  background: #FEF4ED;
 text-align: center;
}
.modal-enquire input{
 border: 1px solid rgb(33 0 36 / 56%);
  border-radius: 0px;
 padding: 0.8rem;
  height: 48px;
}
.modal-enquire small{
 color: rgb(33 0 36 / 56%);
  font-size: 10px;
 display: block;
  text-align: left;
  margin-top: 5px;
}
.modal-enquire .btn{
 width: 100%;
  background: #A29FA2;
  font-size: 16px;
  line-height: 26px;
  padding: 11px 20px;
  border: 0px;
  border-radius: 0px;
}
.modal-enquire input::-webkit-input-placeholder {
 /* Edge */
  color: rgb(33 0 36 / 32%);
}
.modal-enquire input:-ms-input-placeholder {
 /* Internet Explorer 10-11 */
  color: rgb(33 0 36 / 32%);
}
.modal-enquire input::placeholder {
  color: rgb(33 0 36 / 32%);
}
.download_brochure{
 background: rgb(33 0 36 / 56%);
  border: 1px solid #FFFFFF00;
  font-size: 16px;
  color: #fff;
  border-radius: 0px;
  padding: .8rem 1.75rem;
 transition: ease all 0.3s;
}
.download_brochure:hover{
 background: #575757 0% 0% no-repeat padding-box;
  transition: ease all 0.3s;
 color: #fff;
 text-decoration:none;
}
.section_contact{
 text-align:center;
}
.section_contact--thumb{
 margin-bottom: 40px;
}
.section_contact--thumb img{
 max-height: 50px;
}
.section_contact--desc{
}
.section_contact--desc p{
 color: #210024;
}
.section_contact--desc p a{
 color: #210024;
}
.gallery_main > div{
 padding-bottom: 30px;
}
.gallery_main .h-60{
 height: 60%;
}
.gallery_main .h-40{
 height: 40%;
}
.gallery_main a{
 display: block;
 height: 100%;
  overflow: hidden;
  position: relative;
 background: rgb(33 0 36 / 64%);
}
.gallery_main a img{
 height: 100%;
  object-fit: cover;
 transition: ease all 0.3s;
  transform: scale(1);
 opacity:1;
}
.gallery_main a:hover img{
 transition: ease all 0.3s;
  transform: scale(1.1);
 opacity:0.6;
}
.gallery_main .hidden{
 display:none;
}
.sidebar_thumb{
 height: 100%;
}
.sidebar_thumb img{
 width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar_thumb span{
 position:absolute;
 bottom: 10px;
 right: 10px;
 font-weight: 500;
}
.full_section{
}
.full_section .container-fluid{
 padding-left: 0px;
 padding-right: 0px;
}
.content_section.bg-voilet{
 background:#725d74;
 color:#fff;
}
.content_section.bg-voilet h3{
 color:#fff;
}
.content_section p, .content_section h3{
 max-width: 750px;
}
.modal_header{
 position: fixed;
  width: 100%;
  height: 100%;
  background: #210024;
  z-index: 0;
 opacity:0;
  padding: 2rem 1rem;
  display: none;
}
.modal_header.show{
 z-index: 99999;
 opacity:1;
  display: block;
}
.modal_header h3{
 text-align:center;
}
.modal_header h3 span{
 display:block;
}
.modal_header--menu{
 padding-left: 12rem;
}
.modal_header--menu li{
 list-style-type: none;
 padding-bottom: 1rem;
}
.modal_header--menu li a{
 color: #fff;
  font-size: 2rem;
}
.modal_header--menu li a:hover{
 text-decoration: none;
  opacity: 0.7;
}
.modal_header--menu li a:before{
 content:"";
 font-weight: 200;
 color: #ccc;
 margin-right: 0px;
 transition: ease all 0.3s;
}
.modal_header--menu li a:hover:before{
 content:"/";
 font-weight: 200;
 color: #ccc;
 margin-right: 15px;
 transition: ease all 0.3s;
}
.modal_header--menu li a:hover{
 color: #fb832f;
}
.modal_header .container{
 padding: 6rem 0rem;
}
.modal_header .position-relative{
}
.modal_header .position-relative.h-100 img{
 position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.modal_header--menu li:last-child{
 padding-bottom:0px;
}
.modal_header--hamburger{
 position: absolute;
  top: 35%;
  transform: translateY(-50%);
  right: 47px;
}
.modal_header--hamburger a{
}
.modal_header--hamburger .hamburger_icon{
 border: 1px solid #FFFFFF8F;
  border-radius: 15px;
  width: 62px;
  height: 27px;
 position: relative;
 background:rgb(255 255 255 / 19%);
 transition:ease all 0.3s;
 display: block;
}
.modal_header--hamburger .hamburger_icon:hover span:before, .modal_header--hamburger .hamburger_icon:hover span:after{
 background:#fff;
 transition:ease all 0.3s;
}
.modal_header--hamburger .hamburger_icon:hover{
 background:#210024;
 transition:ease all 0.5s;
}
.modal_header--hamburger .hamburger_icon span{
}
.modal_header--hamburger .hamburger_icon span:before{
 content:"";
 position: absolute;
  height: 1px;
  width: 18px;
  left: 50%;
  top: 13px;
  transform: translateX(-50%) rotate( 45deg);
  background: rgb(255 255 255 / 56%);
}
.modal_header--hamburger .hamburger_icon span:after{
 content:"";
 position: absolute;
  height: 1px;
  width: 18px;
  left: 50%;
  top: 13px;
  transform: translateX(-50%) rotate( -45deg);
  background: rgb(255 255 255 / 56%);
}
.modal_header .download_brochure{
 background: rgb(0 0 0 / 12%) 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF8F;
  opacity: 1;
  padding: 1rem 1.5rem;
 transition:ease all 0.3s;
}
.modal_header .download_brochure:hover{
 background: rgb(0 0 0 / 100%);
}
.section_floor{
 position:relative;
 text-align:center;
 background: #fef4ed;
}
.section_floor img{
 max-height: 55vh;
  width: auto !important;
 margin:0px auto;
}
.section_floor p{
 position: absolute;
  left: 0rem;
  bottom: 0rem;
  background: rgb(33 0 36 / 74%);
 max-width: 485px;
 color: #fff;
 text-align: left;
  padding: 1rem;
 margin-bottom: 0px;
  margin-left: 53px;
}
.section_floor--thumb{
 background: #fef9f6;
  padding: 29px 1rem;
  text-align: center;
}
.section_floor--thumb h3{
 color: #533751;
  font-size: 26px;
  line-height: 40px;
 text-transform: uppercase;
}
.section_floor--thumb h3 span{
 display: block;
  font-size: 20px;
  line-height: 40px;
 font-weight: 300;
}
.section_floor--thumb:hover, #project__sync--thumb .owl-item.current .section_floor--thumb{
 background:#210024;
 transition:ease all 0.3s;
}
.section_floor--thumb:hover h3, #project__sync--thumb .owl-item.current .section_floor--thumb h3{
 color: #F4924E;
}
#thumbs{
 padding-left: 53px;
 padding-right: 53px;
  background: #fef9f6
}
#thumbs .owl-nav{
 margin: 0px;
}
#thumbs .owl-nav button{
 position: absolute;
  top: 0px;
 height: 146px;
  width: 53px;
  background: rgb(33 0 36 / 15%);
  color: #fff;
 margin: 0px;
 outline: 0;
}
#thumbs .owl-nav button.owl-prev{
 left: 0px;
}
#thumbs .owl-nav button.owl-next{
 right:0px;
}
#thumbs .owl-nav button span{
 font-size: 2rem;
}
.bg-cream{
 background:rgb(244 146 78 / 10%);
}
header.sticky-header{
 position: fixed;
  background: rgb(255 255 255 / 100%);
  transition: ease all 0.5s;
 padding: 1.5rem 0rem;
 box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}
#back-to-top.show{
 transform: rotate( 0deg) translateY(0px);
  transition: ease all 0.3s;
  opacity: 1;
 z-index: 9;
}
#back-to-top {
  opacity:0;
  transform: rotate(0deg) translateY(20px);
 /*display: none;
  Hidden by default */
  position:fixed;
 /* Fixed/sticky position */
  bottom: 160px;
 /* Place the button at the bottom of the page */
  right: 14px;
 /* Place the button 30px from the right */
  z-index: -1;
 /* Make sure it does not overlap */
  border: none;
 /* Remove borders */
  outline: none;
 /* Remove outline */
  background-color: rgb(99 76 101 / 46%);
 /* Set a background color */
  color: white;
 /* Text color */
  cursor: pointer;
 /* Add a mouse pointer on hover */
  padding: 10px 13px;
 /* Some padding */
  border-radius: 100px;
 /* Rounded corners */
  font-size: 18px;
 /* Increase font size */
  transition: ease-in all 0.2s;
}
#back-to-top:afte{
 content: "";
  height: 0px;
  position: absolute;
  bottom: -6px;
  left: -8px;
  width: 70%;
  transform: rotate(20deg);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32);
}
#back-to-top:hover {
  transition: ease-in all 0.2s;
  background-color:rgb(99 76 101 / 100%) ;
 /* Add a dark-grey background on hover */
  transform: rotate(0deg);
}
#back-to-top:hover:after{
 display:none;
}
.hero_banner--section{
}
.hero_banner--section .bg-images{
}
.hero_banner--section .bg-images img{
 width: 100%;
}
.hero_banner--section .reveal_banner{
 position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
}
.hero_banner--section .reveal_banner--thumb{
 position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
 z-index: 9999;
 text-align: center;
}
.hero_banner--section .reveal_banner--thumb img{
 width: 40%;
  transition: ease all 0.5s;
  padding-top: 24rem;
}
.hero_banner--section .reveal_banner.show .reveal_banner--thumb img{
 width: 80%;
  padding-top: 2rem;
 transition: ease all 1.5s;
}
.hero_banner--section .v_hidden{
 opacity: 0;
  transition: ease all 0.3s;
  z-index: -3;
 background: #fff
}
.reveal_banner--logo{
 position: absolute;
  top: 20%;
  transform: translateY(-20%);
  right: 8rem;
}
.reveal_banner--logo img{
 max-width: 300px;
}
.btn_down span{
 background: #815f84;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  line-height: 30px;
 transition: ease all 0.3s;
  transform: rotate( 0deg);
}
.btn_down span.active{
 transition: ease all 0.3s;
  transform: rotate( 180deg);
}
header .nav_bar img{
 max-width:200px;
  width:100%;
}
header .nav_bar img:first-child{
 display:block;
}
header .nav_bar img:last-child{
 display:none;
}
header.sticky-header .nav_bar img:first-child{
 display:none;
}
header.sticky-header .nav_bar img:last-child{
 display:block;
}
header.sticky-header .nav_bar .navigation nav a.active{
 color: #333;
}
header.sticky-header .nav_bar .navigation nav a{
 color: #a3a3a3;
}
header.sticky-header .nav_bar .navigation nav a.active span{
}
header.sticky-header .hamburger_icon{
 border: 1px solid #a3a3a3;
}
header.sticky-header .hamburger_icon span:after{
 background: #212529;
}
header.sticky-header .hamburger_icon span:before{
 background: #212529;
}
header.sticky-header .hamburger_icon span:hover:before{
 background: #000;
}
header.sticky-header .hamburger_icon span:hover:after{
 background: #000;
}
.parallax__layer__1 img{
 left: -5%;
}
.banner_content p b span.large{
 font-size: 24px;
  line-height: 29px;
  color: #F4924E;
}
#thumbs .item{
 position:relative;
}
#thumbs .item:before{
 content:"";
 height: 30px;
 width: 1.5px;
 position: absolute;
 right: -12px;
 background: #e1e1e1;
 top: 50%;
 transform: translateY(-50%);
}
.gallery-item{
 height:100%;
}
#gallery__sync--main .item{
 padding: 3rem 0rem;
}
#gallery__sync--main .owl-item{
 transform:scale(1);
 transition:ease all 0.6s;
}
#gallery__sync--main .owl-item.center{
 transform:scale(1.15);
 transition:ease all 0.6s;
 z-index:1;
}
#gallery__sync--main .item:hover .content_modal{
 opacity:1;
 transition:ease all 0.3s;
}
.content_modal{
}
#gallery__sync--main .owl-item .item .content_modal h4{
 opacity:0;
}
#gallery__sync--main .owl-item.center .item .content_modal h4{
 opacity:1;
}
.content_modal h4{
 text-transform: uppercase;
 font-weight: 400;
 font-size: 0.8rem;
 line-height: 1rem;
 margin-bottom: 0px;
 position: absolute !important;
 background: rgb(90 63 88 / 75%);
 color: #fff;
 padding: 5px 10px;
 top: 4rem;
 left: 50%;
  transform: translateX(-50%);
}
.content_modal p{
 margin-bottom: 0px;
 font-size: 1rem;
  display: none;
}
.content_modal > div{
}
@media(max-width:991px){
  .content_modal{
 }
  .content_modal h4{
     top: 2rem;
     font-size: 0.7rem;
      line-height: 0.8rem;
 }
  #gallery__sync--main .item{
     padding: 1rem 0rem;
 }
}
.grid{
 display:none;
}
#sync1 .item{
  background: #0c83e7;
  padding: 80px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#sync2 .item{
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync2 .item h1{
  font-size: 18px;
}
#sync2 .synced .item{
  background: #0c83e7;
}
.owl-carousel{
 overflow: hidden;
}
#project__sync--thumb{
 padding-left: 53px;
 padding-right: 53px;
}
#project__sync--thumb .owl-nav{
 margin: 0px;
}
#project__sync--thumb .owl-nav button{
 position: absolute;
  top: 0px;
 height: 146px;
  width: 53px;
  background: rgb(33 0 36 / 15%);
  color: #fff;
 margin: 0px;
 outline: 0;
}
#project__sync--thumb .owl-nav button.owl-prev{
 left: 0px;
}
#project__sync--thumb .owl-nav button.owl-next{
 right:0px;
}
#project__sync--thumb .owl-nav button span{
 font-size: 4rem;
 color:#000;
 display: none;
}
#project__sync--thumb .owl-nav button.owl-prev:before{
 content:"";
 filter: brightness(0.5);
 background: url('/-/media-archive/btn_prev.png');
 background-size: cover;
  width: 50px ;
  height: 50px ;
  display: block;
  background-repeat: no-repeat;
}
#project__sync--thumb .owl-nav button.owl-next:before{
 content:"";
 filter: brightness(0.5);
 background: url('/-/media-archive/btn_next.png');
 background-size: cover;
  width: 50px ;
  height: 50px ;
  display: block;
  background-repeat: no-repeat;
}
#project__sync--thumb .owl-nav button.disabled{
 opacity:0.7;
}
#gallery__sync--thumb{
 max-width: 380px;
  margin: 0px auto;
}
#gallery__sync--thumb .item{
 padding:5px;
}
#gallery__sync--thumb .owl-item .item img{
 border: 1px solid #fff;
  margin: 0px;
}
#gallery__sync--thumb .owl-item.current .item img{
 border: 1px solid #210024;
}
#gallery__sync--main .owl-item .gallery__carousel--counter{
 opacity:0;
}
#gallery__sync--main .owl-item.center .gallery__carousel--counter{
 opacity:1;
}
.gallery__carousel--counter{
 text-align:right;
 font-size: 14px;
}
#gallery__sync--main .owl-nav{
 position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
  text-align: left;
  padding: 0rem 3rem;
}
#gallery__sync--main .owl-nav button{
 outline:0;
}
#gallery__sync--main .owl-nav .disabled{
 opacity:0.7;
}
#gallery__sync--main .owl-nav .owl-prev{
 position: absolute;
  top: 45%;
 transform: translateY(-50%);
 left:10%;
}
#gallery__sync--main .owl-nav .owl-prev:before{
 content:"";
 background: url('/-/media-archive/btn_prev.png');
 background-size: cover;
  width: 50px ;
  height: 50px ;
  display: block;
  background-repeat: no-repeat;
}
#gallery__sync--main .owl-nav .owl-next{
 position: absolute;
  top: 45%;
 transform: translateY(-50%);
 right:10%;
}
#gallery__sync--main .owl-nav button:hover:before{
 opacity:0.7;
 transition:ease all 0.3s;
}
#gallery__sync--main .owl-nav .owl-next:before{
 content:"";
 background: url('/-/media-archive/btn_next.png');
  background-size: cover;
 width: 50px ;
  height: 50px ;
  display: block;
  background-repeat: no-repeat;
}
#gallery__sync--main .item h4{
  position: relative;
  background: rgb(94 44 98 / 66%);
}
#gallery__sync--main .item h4 span{
  position: absolute;
  right: 0px;
  font-size: 14px;
  padding: 1rem 1rem;
  opacity:0;
}
#gallery__sync--main .owl-item.center .item h4 span{
 opacity:0;
}
#gallery__sync--thumb .owl-stage{
 margin: 0px auto;
}
#timer{
  margin-top: .5rem!important;
  font-weight: 600;
  color: #210024;
  display: block;
  text-align: right;
}
#timer span{
  color: #e50000;
}
#otp-button a, .send-otp a{
 color: #210024;
 font-weight: 600;
 margin-top: .5rem!important;
 display:block;
 text-align:right;
 text-decoration:none;
}
#otp-button a:hover, .send-otp a:hover{
 color:#000;
}
#gallery__sync--main .owl-item .item:hover .content_modal{
 opacity:0 !important;
}
#gallery__sync--main .owl-item.center .item:hover .content_modal{
 opacity:1 !important;
}
.mfp-close-btn-in .mfp-close{
 cursor: pointer !important;
}
#gallery__sync--main .owl-item.active .item h4{
}
.mfp-counter{
 display:none !important;
}
#gallery__sync--main .owl-item.center .item img{
 opacity:1;
}
#gallery__sync--main .item img{
 opacity:0.8;
 background: #000;
}
#gallery__sync--main .item{
}
body.overflow-hidden .enquire_now, body.overflow-hidden .enquire_now.active{
 display:none !important;
}
/*new changes*/
.nav-enquire{
  background: transparent;
  transition: ease all 0.3s;
  border: 1px solid #FFFFFF8F;
  text-transform: capitalize !important;
}
header.sticky-header .nav-enquire:hover span{
  background: #210024 !important;
  transition: ease all 0.5s;
  color: #fff !important;
}
.nav-enquire span {
 border-radius: 0px !important;
}
.nav-enquire::after{
  display: none;
}
header.sticky-header .nav-enquire{
  border: 1px solid #a3a3a3;
}
header.sticky-header .nav-enquire:hover{
  background: #210024 !important;
}
.nav-contact::after{
  display: none !important;
}
.close-enquiry{
  position: absolute;
 right: 5px;
  top: -75px;
  font-size: 12px;
  cursor: pointer;
  background: #fff;
  padding: 5px;
  border-radius: 25px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 14px;
  color: #666;
}
.close-enquir:hover{
 color: #333;
}

