/data/cm/*
!/data/cm/.gitkeep
/data/cd/*
!/data/cd/.gitkeep
/data/mssql/*
!/data/mssql/.gitkeep
/data/solr/*
!/data/solr/.gitkeep

/deploy/platform/*
!/deploy/platform/.gitkeep
!/deploy/platform/App_Config/*

/traefik/certs/*
!/traefik/certs/.gitkeep