
@using Adani.BAU.Transmission.Feature.Media.Platform.Models;
@using Sitecore.Globalization;

@if (Model != null && Model.InvestorList.Count > 0)
{


    <div class="section-gen-banner section active fp-auto-height">
        <div class="pw-genBanner">
            <ul id="pw-genBanner">
                @foreach (var InvestorList in Model.InvestorList)
                {
                    <li>
                        <img src="@InvestorList.Title" alt="@InvestorList.Title" />
                        <div class="container">
                            <div class="pw-bannerText aos-init aos-animate" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="300">
                                <h1 class="margin-0">
                                    @Html.Raw(InvestorList.Title)
                                </h1>
                                <a class="btn ad-btn-secondary" href="about-us.html">@Sitecore.Globalization.Translate.Text("know_more")</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

}
