

@using Adani.BAU.Transmission.Feature.Media.Platform.Models;
@using Sitecore.Globalization;
@{
  Layout = null;
}

@if (Model != null && Model.InvestorList.Count > 0)
{


    <div class="section-gen-banner section active fp-auto-height">
        <div class="pw-genBanner">
            <ul id="pw-genBanner">
                Test
            </ul>
        </div>
    </div>

}
