@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/
    var InnerBusinesssBannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Business-InnerImage"];

    var InnerBusinesssBannerImageitem = Sitecore.Context.Database.GetItem(InnerBusinesssBannerImage);

    var InnerBusinessImagedata = InnerBusinesssBannerImageitem.Children;

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);

}

<section class="bg-gray pt-5 loadmore-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-2">
                <h1 class="mb-3 border-l pl-3 txt-lg">@Html.Sitecore().Field("Title", model)</h1>
                @Html.Sitecore().Field("Summary", model)
            </div>
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme single-item">
                    @foreach (var items in InnerBusinessImagedata.ToList())
                    {
                        <div class="item">
                            @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, items, new { @class = "img-fluid" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
