@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Items;
@using Sitecore;

@model Sitecore.Mvc.Presentation.RenderingModel
@{
      var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
	  var NavigateUrl="";
}
<style>
  @@media (max-width: 767px){
.innerv-carousel .owl-item .item > img {
  width: 0 !important;
}}

</style>

    <!-- Banner -->
	
    <div class="owl-carousel owl-theme innerv-carousel" data-click-state="0">
        @foreach (var item in elements.Children.ToList())
        {
			Sitecore.Data.Fields.ImageField BannerImageField = ((Sitecore.Data.Fields.ImageField)item.Fields["BannerImage"]);
            string BannerImageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(BannerImageField.MediaItem);

            Sitecore.Data.Fields.ImageField MobileImageField = ((Sitecore.Data.Fields.ImageField)item.Fields["MobileImage"]);
            string MobileImageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(MobileImageField.MediaItem);
			
			<div class="item" data-videosrc="">
				<img class="d-none d-sm-block" alt="" srcset="" src="@BannerImageUrl">
				<img class="d-sm-none d-block" alt="" srcset="" src="@MobileImageUrl">
					<div class="">
						<div class="container">
                           <h2>@Html.Sitecore().Field("Title", item)<h2>
                        </div>
					</div>
			</div>	
        }
		  </div>
		  
		
         