@using Sitecore.Feature.Blogs
@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions





@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}	
  
    <div class="blog-tile padd-box position-relative c-block">
		   <a href="/Newsroom/Chairman Corner/A birthday gift that became a boon">
         <div class="bg-images">
                @Html.Sitecore().ImageField(Templates.BlogsArticle.Fields.Image, elements, 0, 0, "img-fluid")

            </div>
            <div class="blog-div p-5">
			<h2>@Html.Sitecore().Field(Templates.BlogsArticle.Fields.Title, elements)</h2>
                <p>@Html.Sitecore().Field(Templates.BlogsArticle.Fields.Summary, elements)</p>
            </div>
			</a>
        </div>