@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
	System.Web.HttpBrowserCapabilities myBrowserCaps = HttpContext.Current.Request.Browser;
	var IsmobileDevice = myBrowserCaps.IsMobileDevice;
}
@if (elements != null)
{
    var itemList = elements.Axes.GetDescendants();

    <div class="mainSlider z-index bg-gray">
		
        @if (itemList != null)
        {
			if (IsmobileDevice)
			{
				@Html.Sitecore().Placeholder("mobile-video-banner")
			}           


            <div class="owl-carousel owl-theme homeslider d-md-block d-none desktopslider" style="display:none">
                @foreach (var item in itemList)
                {
                    if (item.Fields["SubTitle"].Value == "videosrc")
                    {

                        <div class="item" data-videosrc="@item.LinkFieldUrl(Templates.HasMedia.Fields.Link)">
                            @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)
                            @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, item)
                        </div>
                    }
                }
            </div>

        }
        <div class="container position-relative">
            <div class="scroll-down">
                <a href="#business-stats">
                    <span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span>
                </a>
            </div>
        </div>
    </div>
}
<section class="position-relative bg-gradient" style="
    color: #fff;
">
<div class="container py-3">
<div class="owl-carousel banner-ticker">
	<div class="item border-left text-center">
		<p class="px-2">Encore Multi crystalline</p>
	</div>
	<div class="item border-left text-center">
		<p class="px-2">Encore Multi crystalline</p>
	</div>
	<div class="item border-left text-center">
		<p class="px-2">Encore Multi crystalline</p>
	</div>
	<div class="item border-left text-center">
		<p class="px-2">Encore Multi crystalline</p>
	</div>
	<div class="item border-left text-center">
		<p class="px-2">Encore Multi crystalline</p>
	</div>
	<div class="item border-left text-center">
		<p class="px-2">Encore Multi crystalline</p>
	</div>
</div>
</div>
</section>
