@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Items;
@using Sitecore;

@model Sitecore.Mvc.Presentation.RenderingModel
@{
      var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
	  var NavigateUrl="";
}

    <!-- Banner -->
	
    <div class="owl-carousel owl-theme innerv-carousel" data-click-state="0">
        @foreach (var item in elements.Children.ToList())
        {
		        Sitecore.Data.Fields.LinkField linkField = item.Fields[Templates.HasMediaVideo.Fields.VideoLink];
            NavigateUrl = linkField.Url;
      <div class="item @NavigateUrl" data-videosrc="@NavigateUrl">
    @Html.Sitecore().ImageField(Templates.HasMedia.Fields.Thumbnail, item, 0, 0, "image-fluid")
	<div class="">
	<div class="container">
                            @Html.Sitecore().ImageField(Templates.HasMedia.Fields.Description, item)
                        </div>
						</div>
	 
</div>
           
        }
		  </div>
		  
		
         