@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var title = elements.Fields["Text"].Value;
}
<section class="bg-white pt-5">
    <div class="container">
        <h3 class="heading pl-4 mb-4">@title</h3>
        <div class="row">

            @foreach (var item in elements.Children.ToList())
            {
                <div class="col-lg-3 col-md-6 my-4">
                    <div class="awards">
                        <ul>
                            <li>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</li>
                        </ul>
                    </div>
                </div>
            }






        </div>
    </div>
</section><!--/Awards-->
