

@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
}
    <section class="py-5 bg-white" id="up-com-events">
        <div class="container">
            <h3 class="txt-center txt-d-blue font-weight-bold mb-5">UPCOMING EVENTS</h3>
            <div class="bootleggers owl-carousel three-tiles">
                @foreach (var child in parent.Children.ToList())
                {
                    var items = Sitecore.Context.Database.GetItem(Sitecore.Data.ID.Parse(child.ID));
                    var mediaImageField = Templates.HasMediaImageinCollectionItem.Fields.Image;
                    var url = items.ImageUrl(mediaImageField, new MediaUrlOptions()).ToCssUrlValue();


                    <a class="item popup" href="@url"><img src="@url" class="img-fluid" alt="Gallery"></a>
                }
                </div>
        </div>
    </section>
