<section class="section-container section section-booking" data-hash="e">
    <div class="bg-images"><img src="-/media/1EA76F32E52D4248AC2D64A6E837D61F.ashx"></div>
    <div class="container vertical-middle">
        <div class="row aos-item" data-aos="fade-up" data-aos-duration="1000">
            <div class="room-suitsform col-lg-5 col-md-8 bg-white-8 p-4 ml-auto box-shadow aos-item__inner">
                @Html.Sitecore().Placeholder("Availability-Form")
                @*<a href="/residenza/" class="btn btn-secondary">Know more</a>*@
            </div>
        </div>
    </div>
</section>
<!-- /section -->