@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var carouselId = "carousel" + Guid.NewGuid().ToString("N");
    var elements = MediaSelectorElementsRepository.Get(Model.Item).ToArray();
    int? carouselHeight = null;

    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var imgbg = Sitecore.Context.Database.GetItem(paramid["background-image"]);

}
<section class="py-5 d-block position-relative">
    <div class="bg-images">
        @Html.Sitecore().ImageField(Templates.HasBannerSelectorclubahmd.Fields.Image,imgbg)
      
    </div>
    <div class="container">
        <div id="thumbs" class="owl-carousel owl-theme affiliation-slide-thumb">

            @foreach (var element in elements)
            {
                <div class="slideItem txt-center">
                    <h4>
                        <div class="thumb-icn mb-3">
                            @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, element.Item, new { @class = "img-fluid w-auto d-inline-block mr-2" })

                            @Html.Sitecore().Field(Templates.HasMedia.Fields.Title, element.Item)
                        </div>
                    </h4>
                </div>
            }



        </div>
        <div id="big" class="owl-carousel owl-theme pr-2">

            @foreach (var element in elements)
            {

            <div class="item px-3">
                @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, element.Item)

            </div>
            }
        </div>
    </div>
</section>
<!-- /Section -->
