@using Sitecore.Feature.Media
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkField = @model.Fields[Templates.HasMediaVideo.Fields.VideoLink];
    var NavigateUrl = linkField.Url;

}


<div class="pageheading">
    <div class="container flex">
        <h1>Getting There</h1>
    </div>
</div>
<section class="map">
 <iframe style="border: 0;" src="@NavigateUrl" width="600" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            
    </section>
