@using Sitecore.Feature.Media
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);

}


<section class="video-gallery-section">
    <div class="container">
        @foreach (var item in model.GetChildren().ToList())
        {

            <div class="video-gallery flex">

                <div class="video-gallery-thumbnail iframe-wrapper" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                    <meta itemprop="description" content="An initiative to show solidarity towards the Bravehearts of the India's Armed Forces. Support us in our step to honour the soldiers who guard our country's borders for our safety. Run for a cause at the Adani Ahmedabad Marathon.">
                    <meta itemprop="thumbnailURL" content="http://www.ahmedabadmarathon.com/images/banner-9_1.jpg">
                    <meta itemprop="duration" content="40 Seconds">
                    <meta itemprop="embedURL" content="https://www.youtube.com/embed/hNR9PSjjDMc">
                    <link itemprop="url" href="https://www.youtube.com/watch?v=hNR9PSjjDMc" rel="author" />
                    <a itemprop="url" href="https://www.youtube.com/watch?v=hNR9PSjjDMc"><span itemprop="name" style="display:block;"><strong>Adani Ahmedabad Marathon 2018</strong></span></a>
                    @{
                        Sitecore.Data.Fields.LinkField linkField = @item.Fields[Templates.HasMediaVideo.Fields.VideoLink];
                        var NavigateUrl = linkField.Url;
                    }
                    <iframe width="643" height="362" src="@NavigateUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>										<p>#Run4OurSoldiers</p>
                </div>


                <div class="video-caption">

                    @Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)
                    @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)





                </div>

            </div>

        }
        <div class="read-more-function">
            <strong>VIEW MORE</strong>
        </div>
    </div>
</section>

