@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var carouselId = "carousel" + Guid.NewGuid().ToString("N");
    var elements = MediaSelectorElementsRepository.Get(Model.Item).ToArray();
}

<section class="section txt-center">
    <div class="container">
        <h3 class="sectionHeading">Partnerships</h3>
        <p>Our success is directly aligned with the support and advocacy from our partners. Since 2010, we have been working with regional development organisations, Chambers of Commerce, community groups and councils to support the communities in which we operate.</p>
        <div class="owl-carousel owl-theme" id="partner-logos">
            @foreach (var img in elements.ToList())
            {
                var field = img.Item.IsDerived(Templates.HasMediaImage.Fields.Image) ? Templates.HasMedia.Fields.Thumbnail : Templates.HasMediaImage.Fields.Image;
                var style = img.Item.ImageUrl(field, new MediaUrlOptions()).ToCssUrlValue();
                <div class="item">
                    <img src="@style">
                </div>
            }
        </div>
    </div>
</section>



