@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var carouselId = "carousel" + Guid.NewGuid().ToString("N");
    var elements = MediaSelectorElementsRepository.Get(Model.Item).ToArray();
}

<section class="section partnerSection">
    <div class="container">
        <h3 class="sectionHeading similarproject">Our Partners</h3>
        <div class="row partnerLogos">
            
                @foreach (var img in elements.ToList())
                {
                    var field = img.Item.IsDerived(Templates.HasMediaImage.Fields.Image) ? Templates.HasMedia.Fields.Thumbnail : Templates.HasMediaImage.Fields.Image;
                    var style = img.Item.ImageUrl(field, new MediaUrlOptions()).ToCssUrlValue();
                    <div class="col-lg-5-custom col-6">
                        <img src="@style" class="img-fluid" alt="Adani Realty">
                    </div>
                }
            
        </div>
    </div>
</section>
