@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)elements.Fields["MediaImage"]);
    string urls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
}


<a href="/About-us/CEO Message">
    <div class="row no-gutters h-100" data-aos="fade-left">
        <div class="col-sm-6">
            <div class="p-4 bg-blue h-100">
                <h3 class="section-heading text-white">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h3>
                @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ceo-img h-100">
                <img alt="" src="@urls" class="img-fluid w-100" loading="lazy">


            </div>
        </div>
    </div>
</a>