@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}


    <div class="row no-gutters">
        <div class="col-sm-6">
            <div class="p-4 bg-blue">
                <h3 class="section-heading text-white">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h3>
                @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ceo-img">
                @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, elements,0,0, "img-fluid h-100")
               
            </div>
        </div>
    </div>