@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    
}

<h3>@elements.DisplayName.ToString()</h3>

@foreach (var item in elements.Children.ToList())
{
    @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, item, 0, 0, "img-fluid")
<p>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title,item)</p>
}
