@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/Ports/", "");
    var path = ContentPath.Replace("/Ports/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";

}

<section class="breadcrumb-slider">
    <div class="breadcrumb-sl-inner">
        <div class="container">
            <ul>
                @for (int i = 0; i <= pathArr.Count() - 1; i++)
                {
                    navPath = navPath + pathArr[i];


                    <li><a href="@navPath">@pathArr[i]</a></li>
                    navPath = navPath + "/";
                }
            </ul>
        </div>
    </div>
    <div class="owl-carousel owl-theme" id="about-banner">
        @foreach (var item in elements.Children.ToList())
        {

            <div class="item">
                <div class="slider-content">
                    @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, item, 0, 0, "img-fluid")
                    <div>
                        <div class="container">
                            <p>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
           
        </div>
</section>