@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var title = elements.Fields["Text"].Value;
}



<section class="py-5">
    <div class="container">
        <h1 class="heading pl-4 mb-4">@title</h1>
        <div class="timeline">
            <ul>
                @foreach (var item in elements.Children.ToList())
                {
                    <li>
                        <div class="timeline-block clearfix">
                            <time>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</time>
                            <p>@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)</p>
                            @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, item, 0, 0, "img-fluid")
                        </div>
                    </li>
                }


                </ul>
        </div>
    </div>
</section><!--/Timeliner-->