@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var vidlist = Sitecore.Context.Database.GetItem(datasource);

    
        Sitecore.Data.Fields.LinkField linkField = vidlist.Fields[Templates.HasMediaVideo.Fields.VideoLink];
        var NavigateUrl = linkField.Url;
    

}
<div class="item" data-videosrc="@NavigateUrl">
    @Html.Sitecore().ImageField(Templates.HasMedia.Fields.Thumbnail, vidlist, 0, 0, "image-fluid")
</div>
