@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var title = elements.Fields["Text"].Value;
}

<section class="py-5">
    <div class="container">
        <h2 class="heading pl-4 mb-4">@title</h2>
        <div class="owl-carousel owl-theme timeline-carousel">


            @foreach (var item in elements.Children.ToList())
            {
                <div class="item">
                    <div class="">
                        @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, item, 0, 0, "img-fluid")
                    </div>
                    <p class="year">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</p>
                    <p class="desc">@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)</p>
                </div>

            }
        </div>

        <p class="text-center mt-3"><a href="/About-Us/Timeline" class="btn btn-gradient">View All</a></p>
    </div>
</section>