@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}

<section class="py-5 bg-gray">
    <div class="container">
	<h2 class="border-l txt-lg mb-3">Hi-Tech Infrastructure</h2>
	<!-- @Html.Sitecore().Field("Text",elements) -->
        <div class="bootleggers owl-carousel" id="pop-gallery">

            @foreach (var item in elements.Children.ToList())
            {
                var mediaImageField = item.IsDerived(Templates.HasMediaImage.Fields.Image) ? Templates.HasMedia.Fields.Thumbnail : Templates.HasMediaImage.Fields.Image;
                var url = item.ImageUrl(mediaImageField, new MediaUrlOptions()).ToCssUrlValue();

                <a class="item popup" href="@url">
                    <img src="@url" alt="Gallery">
					<!-- @Html.Sitecore().Field(Templates.HasMedia.Fields.Title,item) -->
                </a>
            }
              
            </div>
        </div>
    </section><!--/End Popup Gallery-->