@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <section class="bannerWrapper widthControl">
            @Html.Sitecore().Field("Image", currentItem, new {@class = "img-fluid", @alt = "shivaji-airport" })
            <div class="container">
                <div class="contentBox">
                    <h1>@Html.Sitecore().Field("Title", currentItem)</h1>
                    <p>@Html.Sitecore().Field("Description", currentItem)</p>
                </div>
            </div>
    </section>
}
