@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
<section class="covidInfoWrap pt-wrap">
    <div class="container">
        <div class="dividerBox">
            @foreach (Item covidInfo in currentItem.Children)
            {
                <div class="card">
                    <div class="row g-0 align-items-center">
                        <div class="col-5 col-sm-4">
                            @Html.Sitecore().Field("Image", covidInfo, new { @class = "img-fluid rounded-start", @alt = "..." })
                        </div>
                        <div class="col-7 col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">@Html.Sitecore().Field("Title", covidInfo)</h5>
                                <p class="card-text">
                                    @Html.Sitecore().Field("Description", covidInfo)
                                </p>
                                <button type="button" class="btn btn-link know-btn">
                                    @Html.Sitecore().Field("Link", covidInfo)
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
}
