<div class="section-breadcrumb">
    <div class="container">
        <ol class="breadcrumb ad-breadcrumb margin-0">
            <li *ngFor="let breadcrumb of ContactUs.GenericBredcrumbNavigation.Data; last as isLast"
                class="breadcrumb-item">
                <a *ngIf="!isLast" href="{{breadcrumb.Link}}">{{breadcrumb.Heading}}</a>
                <a *ngIf="isLast" class="active">{{breadcrumb.Heading}}</a>
            </li>
        </ol>
    </div>
</div>
<div class="section-contact">
    <div class="container">
        <div class="ad-media-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="">{{ContactUs.ContactDetailData.Heading}}</h3>

                </div>
            </div>
        </div>

        <div class="contact-content">
            <div class="row">
                <div class="col-sm-4">
                    <div class="contact-select">
                        <h4 class="margintop-0">{{ContactUs.ContactDetailData.CityDropDown[0].Heading}}</h4>
                        <div class="form-group margin-0">
                            <select class="form-control" id="selectOffice" attr-data="">
                                <option
                                    *ngFor="let select of ContactUs.ContactDetailData.CityDropDown[0].CityDropDownItem"
                                    value="{{select.Heading}}">{{select.Heading}}</option>

                            </select>
                        </div>
                    </div>
                    <div innerHTML="{{ContactUs.ContactDetailData.HTMLText}}">

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="text-center hiddendiv divImg" id="id0" style="display:block;"> <img
                            src="{{ContactUs.ContactDetailData.CityDropDown[0].CityDropDownItem[0].Image}}"
                            alt=".ImageAlt" /> </div>
                </div>
            </div>
        </div>

    </div>
</div>