@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<section class=" py-5 bg-white">
    <div class="container">
        <h3 class="sectionheading txt-center txt-blue cntr-after font-weight-bold mb-5">Enquire Now</h3>
        @Html.Sitecore().Placeholder("membershipform")
    </div>
</section>