@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.BelvedereClubAhmedabad.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var img = Sitecore.Context.Database.GetItem(paramid["background-image"]);
}



<section class="position-relative d-block py-5">
    <div class="bg-images">  @Html.Sitecore().ImageField(Templates.HasBannerSelectorclubahmd.Fields.Image, img)</div>
    <div class="container py-5">
        <p class="txt-center"><img src="-/media/C991A042D79F4F7692F750002AAD60FA.ashx" width="30px" height="30px"></p>
        <div class="owl-carousel owl-theme single-tiles">
            @foreach (var child in models.Children.ToList())
            {
                <div class="slideitem">
                    @Html.Sitecore().Field(Templates.HappyCustomer.Fields.Description, child)
                </div>
            }



                </div>
            </div>
</section>
<!-- /Customer Review -->