<form class="form-body" id="enquirynow_form1" name="enquirynow_form1" method="post" action="">
    <input type="hidden" value="Enquiry-Now Form" id="FormType" />
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control py-1" id="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control py-1" id="mailid" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="interestedIn">
                        <option selected="">Interested in</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Banquets">Banquets</option>
                        <option value="Membership">Membership</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control py-1" id="city" placeholder="City">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control py-1" id="mobile" placeholder="Contact">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <textarea rows="5" cols="50" class="form-control" id="message" placeholder="Message"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row mb-0">
                <div class="col-12">
                    <button type="submit" id="btnEnquiryNowSubmit" class="btn btn-solid">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
