@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<header class="headerSec position-absolute">
    <div class="overlay-top"></div>
    <div class="fade-overlay"></div>
    <div class="headerTopBar topNav">
        <div class="container-fluid">
            <!-- Toggle button to show/hide side top menu -->
            <div class="d-block d-lg-none topNavBtn">

                <button type="button" id="topNavCollapse" class="btn btn-menu">
                    <!--<i class="fas fa-align-justify"></i>-->
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <!-- /Toggle button to show/hide top menu -->

            <div class="row justify-content-center">
                <div class="col-auto col-lg-12 mr-lg-auto topLeft txt-right">
                    <div class="" id="topMenu">
                        <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
                        <div class="clearfix"></div>
                        <ul class="topMenu d-inline-block mr-3">
                            @Html.Sitecore().Placeholder("left-header-top")
                            <li><a class="login-btn" href="#"><i class="fa fa-user-circle mr-1"></i>Member's Login</a></li>
                            <li class="mobile-none"><a id="search" href=""><i class="fa fa-search"></i></a></li>
                        </ul>
                        <!--Search Panel111-->
                        @Html.Sitecore().Placeholder("SearchBoxPanel")
                        <!--<form class="search_box" id="search_box" action="/search/">
                            <input name="search_criteria" placeholder="Search by keyword" value="" type="text">
                            <input class="search_icon" value="Search" type="submit">
                        </form>
                        End Search Panel-->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="navPanel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-left"><span style="font-size:30px;cursor:pointer" id="toggle-menu"><i class="fas fa-bars"></i></span><a class="navbar-brand ml-3" href="https://www.adanirealty.com/"><img src="-/media/C129272628204304B6B05EF9B7D9A02F.ashx" class="img-fluid" alt="Adani realty"></a></div>
                <div class="col-6 text-right"><a class="navbar-brand mr-0" href="/"><img src="-/media/A882318A16BA472DBCF062C8A4819E22.ashx" class="img-fluid" alt="Belvedere Club Ahmedabad"></a></div>
            </div>
        </div>
    </div>
    <div id="myNav" class="overlay-menu">
        <a href="javascript:void(0)" class="closebtn" id="toggle-menu-close">&times;</a>
        <div class="overlay-content sprite-menu">
            @*<a href="#"><img src="images/menu-icons/convenience.png" class="mr-2" />Convenience</a>
                <a href="#"><img src="images/menu-icons/golf.png" class="mr-2" />Golf</a>
                <a href="#"><img src="images/menu-icons/commissariat.png" class="mr-2" />Commissariat</a>
                <a href="#"><img src="images/menu-icons/regal.png" class="mr-2" />Regale</a>
                <a href="#"><img src="images/menu-icons/brace.png" class="mr-2" />Brace</a>
                <a href="#"><img src="images/menu-icons/affiliation.png" class="mr-2" />Affiliation</a>*@
            @Html.Sitecore().Placeholder("Home-top-menu")
        </div>
    </div>
</header>
