@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel


<div class="headerTopBar topNav headerTopBar-inner py-2">
    <div class="container">
        <!-- Toggle button to show/hide side top menu -->
        <div class="d-block d-lg-none topNavBtn">

            <button type="button" id="topNavCollapse" class="btn btn-menu">
                <!--<i class="fas fa-align-justify"></i>-->
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <!-- /Toggle button to show/hide top menu -->

        <div class="row justify-content-center">
            <div class="col-auto col-lg-12 mr-lg-auto topLeft txt-right ml-auto">
                <div class="" id="topMenu">
                    <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
                    <ul class="topMenu">
                        @Html.Sitecore().Placeholder("left-header-top")
                        <li><a class="login-btn" href="#"><i class="fa fa-user-circle mr-1"></i>Member's Login</a></li>
                        <li class="mobile-none"><a id="search" href=""><i class="fa fa-search"></i></a></li>
                    </ul>
                    <!--Search Panel1-->
                    @Html.Sitecore().Placeholder("SearchBoxInerPanel")
                    @*<form class="search_box" id="search_box" action="/search/">
            <input name="search_criteria" placeholder="Search by keyword" value="" type="text">
            <input class="search_icon" value="Search" type="submit">
        </form>*@
                    <!--End Search Panel-->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="navPanel navPanel-inner">
    <div class="container">
        <nav class="navbar navbar-light">
            <!-- logo Adani Reality -->
            <a class="navbar-brand ColLogoAdaniReality mobile-none" href="https://www.adanirealty.com/"><img src="-/media/C129272628204304B6B05EF9B7D9A02F.ashx" class="img-fluid" alt="Adani realty"></a>
            <!-- logo Adani Reality -->
            <!-- logo Belvedere -->
            <a class="navbar-brand ColLogoBelvedere ml-auto" href="/"><img src="-/media/A882318A16BA472DBCF062C8A4819E22.ashx" class="img-fluid" alt="Belvedere Club"></a>
            <!-- logo Belvedere -->

            <button class="navbar-toggler navbar-toggler-inner" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- main mobile menu -->
            <div class="collapse mainMobileMenu menu-inner sprite-menu" id="mainMenu">
                @*<ul class="navbar-nav primaryMenu">
                        <li class="nav-item">
                            <span class="innerMenuIcon mobile-none"><img src="images/menu-icons/convenience.png" class="img-fluid" alt="Convenience" /></span><a class="nav-link" href="">Convenience</a>
                        </li>
                        <li class="nav-item">
                            <span class="innerMenuIcon mobile-none"><img src="images/menu-icons/golf.png" class="img-fluid" alt="Golf" /></span><a class="nav-link" href="">Golf</a>
                        </li>
                        <li class="nav-item">
                            <span class="innerMenuIcon mobile-none"><img src="images/menu-icons/commissariat.png" class="img-fluid" alt="Commissariat" /></span><a class="nav-link" href="">Commissariat</a>
                        </li>
                        <li class="nav-item">
                            <span class="innerMenuIcon mobile-none"><img src="images/menu-icons/regal.png" class="img-fluid" alt="Feast" /></span><a class="nav-link" href="">Feast</a>
                        </li>
                        <li class="nav-item">
                            <span class="innerMenuIcon mobile-none"><img src="images/menu-icons/brace.png" class="img-fluid" alt="Residenza" /></span><a class="nav-link" href="">Residenza</a>
                        </li>
                        <li class="nav-item">
                            <span class="innerMenuIcon mobile-none"><img src="images/menu-icons/affiliation.png" class="img-fluid" alt="Affiliates" /></span><a class="nav-link" href="">Affiliates</a>
                        </li>
                        <li class="nav-item">
                            <span class="innerMenuIcon mobile-none"><img src="images/menu-icons/imperial.png" class="img-fluid" alt="Imperial" /></span><a class="nav-link" href="">Imperial</a>
                        </li>
                    </ul>*@

                @Html.Sitecore().Placeholder("top-menu")
            </div>
            <!-- main mobile menu -->
        </nav>
    </div>
</div>

<!-- Menu BG Container -->
<section class="InnerMenu-s">
    <div class="container">
        <div class="InnerMenu-Section">

        </div>
    </div>
</section>
<!-- /Container -->