@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}



<section id="home" class="no-padding slider-style7 border-none">
    <span class="text-white btn btn-sm hide-mobile" style="position: absolute; text-align: center; bottom: 2%; left: 5%; z-index: 99; background: rgba(0,0,0,.7); font-size: 8px; padding: 1px 8px;">ARTIST IMPRESSION*</span>
    <div class="owl-slider-full owl-carousel light-pagination owl-without-next-pre-arrow">
        @foreach (var item in model.GetChildren().ToList())
        {
            Sitecore.Data.Fields.ImageField BannerImageField = ((Sitecore.Data.Fields.ImageField)item.Fields["BannerImage"]);
            string BannerImageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(BannerImageField.MediaItem);

            Sitecore.Data.Fields.ImageField MobileImageField = ((Sitecore.Data.Fields.ImageField)item.Fields["MobileImage"]);
            string MobileImageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(MobileImageField.MediaItem);

            Sitecore.Data.Fields.LinkField linkfld = item.Fields["ExploreLink"];
            var url = linkfld.GetFriendlyUrl();

            <div class="item owl-bg-img tz-builder-bg-image cover-background bg-img-one" id="tz-bg-20" data-img-size="(W)1920px X (H)600px" style="background:linear-gradient(rgba(15,15,15,0), rgba(15,15,15,0)), url('@BannerImageUrl'); background-size: cover;">
                <div class="container one-fifth-screen xs-one-second-screen position-relative no-margin width-100 no-padding ">
                    <div class="col-md-12 col-sm-10 col-xs-12 slider-typography xs-position-static text-left xs-no-padding no-padding">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        </div>
</section>