  <div class="footerLeft">
      <div class="footerMenuList">
        <h4><a href="/about-us">About Us</a></h4>
      </div>
      <div class="footerMenuList">
        <h4><a href="/solar-park-policy">Solar Park Policy</a></h4>
      </div>
      <div class="footerMenuList">
        <h4><a href="/features">Features</a></h4>
        <ul>
          <li><a rel="jampLink" href="/features/#projGlance">Projects at a Glance</a></li>
          <li><a rel="jampLink" href="/features/#comparison">Comparison of AREPRL with others</a></li>
           <li><a rel="jampLink" href="/features/#powerevacuation">Power Evacuation & Transmission at Bhadla</a></li>
          <li><a rel="jampLink"  href="/features/#powerevRasala">Power Evacuation & Transmission at Fatehgarh</a></li>
        </ul>
      </div>
      <div class="footerMenuList minHigh">
        <h4><a href="/solar-resource">Solar Resource</a></h4>
         <ul>
          <li><a rel="jampLink" href="/solar-resource/#solarbhadla">Solar Resource at Bhadla, Jodhpur</a></li>
          <li><a rel="jampLink" href="/solar-resource/#powerevRasala">Solar Resource at Fatehgarh, Jaisalmer</a></li>
        </ul>
      </div>
       <div class="footerMenuList minHigh">
        <h4><a href="/contact-us">Contact Us</a></h4>
      </div>
      <div class="footerMenuList minHigh displayNone">
        <h4><a href="/sustainability">Sustainability</a></h4>
        <ul>
          <li> <a href="/environment">Environment</a> </li>
          <li> <a href="/safety">Safety First</a> </li>
        </ul>
      </div>
      <div class="footerMenuList minHigh displayNone">
        <h4><a href="/media">Media</a></h4>
        <ul>
          <li><a href="/photo-gallery">Photo Gallery</a></li>
          <li><a href="/news">News</a></li>
        </ul>
      </div>
      </div>