				<div class="main-header">
			<div class="container">
				<div class="headerLeft">
												<div id="text-2" class="widget widget_text">	
										<div class="textwidget">
										<h1 id="logo">
										<a href="/home">
										<img width="200" height="64" title="Adani Renewable Energy Park Rajasthan Ltd" alt="Adani Renewable Energy Park Rajasthan Ltd" src="../images/areprl/logo.png"></a></h1>
<div class="logoText"> <a href="/home" title="AREPRL">AREPRL</a></div></div>
		</div>									</div><!-- .headerLeft -->
				<div class="headerRight">
												<div id="text-3" class="widget widget_text">			<div class="textwidget"> <div class="inquRow displayNone">
  <p>Business Enquiry:<a href="#businessEnqForm" title="Business Enquiry" class="modalPopup"> Click Here</a></p>
</div>
<div class="rreclLogo"> 
<img src="/images/areprl/rrecl.jpg" alt="Rajasthan Renewable Energy Corporation Ltd (RRECL)" title="Rajasthan Renewable Energy Corporation Ltd (RRECL)" width="78" height="69"/> 
</div>
<div class="displayNone">
  <div class="businessEnqForm modal" id="businessEnqForm">
  <div class="busQueryForm"> <div role="form" class="wpcf7" id="wpcf7-f184-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="https://www.areprl.com/#wpcf7-f184-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="184" />
<input type="hidden" name="_wpcf7_version" value="4.6" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f184-o1" />
<input type="hidden" name="_wpnonce" value="1eac08427a" />
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div>
<p><span>
<p class="formText">Please send us your enquiry or feedback by filling the form below :</p>
<p></span></p>
<div><span class="wpcf7-form-control-wrap Name"><input type="text" name="Name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required inputDes" aria-required="true" aria-invalid="false" placeholder="Name*" /></span></div>
<div><span class="wpcf7-form-control-wrap Country"><input type="text" name="Country" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required inputDes" aria-required="true" aria-invalid="false" placeholder="Country*" /></span></div>
<div><span class="wpcf7-form-control-wrap CompanyName"><input type="text" name="CompanyName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required inputDes" aria-required="true" aria-invalid="false" placeholder="Company Name*" /></span></div>
<div><span class="wpcf7-form-control-wrap ContactNumber"><input type="text" name="ContactNumber" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required inputDes" aria-required="true" aria-invalid="false" placeholder="Contact Number*" /></span></div>
<div><span class="wpcf7-form-control-wrap Email"><input type="email" name="Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email inputDes" aria-required="true" aria-invalid="false" placeholder="Email*" /></span></div>
<div><span class="wpcf7-form-control-wrap textarea-573"><textarea name="textarea-573" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Comments"></textarea></span></div>
<div class="btnSend"><input type="submit" value="Send this query" class="wpcf7-form-control wpcf7-submit" /></div>
<div class="mandText">*Mandatory Details</div>
</form></div> </div>
</div>
</div></div>
		</div>					                    											<nav id="mainNav" class="main-navigation mainNavigation" role="navigation">
							<div class="menuPart">
								<div class="menu-main-menu-container"><ul id="nav" class="mainMenu"><li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about-us">About Us</a><span class="sub">Developing solar parks with a capacity of 2,000 MW in Rajasthan.</span></li>
<li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/solar-park-policy">Solar Park Policy</a><span class="sub">The solar park is a concentrated zone for development of solar power generation projects where the infrastructure, land and connectivity risks are minimized.</span></li>
<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/features">Features</a><span class="sub">Projects at a glance, details about connectivity and power evacuation</span></li>
<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/solar-resource">Solar Resource</a><span class="sub">Solar resource at Bhadla and Fatehgarh solar parks</span></li>
</ul></div>							</div>
						</nav><!-- .main-navigation -->
									</div><!-- .headerRight -->
			</div>
		</div><!-- .main-header -->