@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;


}



<section class="bg-white section_blog-details pb-80">
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="heading">@Html.Sitecore().Field("Title", element)</h2>
		</div>
	</div>
	<div class="section_blog-details--container content-section">
		<h3>@Html.Sitecore().Field("Heading", element)</h3>
		<div id="accordion" class="accordion-section">
		    @foreach (Item item in element.GetChildren()) 
             { 
		  <div class="card">
			@Html.Sitecore().Field("Summary", item)
		  </div>
		   } 
		 
</div>
	</div>
</div>
</section>














