<!-- <div class="top_bar"> -->
    <!-- <div class="container-fluid"> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-lg-4 col-md-5 text-md-left text-left"> -->
                <!-- <p><a href=""><span class="fa fa-exclamation-triangle mr-2"></span> Covid-19 Alert <span class="ml-3"><img src="~/images/AdaniInstitute/arrow_white.svg"></span></a></p> -->
            <!-- </div> -->
            <!-- <div class="col-lg-8 col-md-7 d-md-block d-none"> -->
                <!-- <ul> -->
                    <!-- <li class="nav-item"> -->
                        <!-- <a class="nav-link" href="">Newsroom</a> -->
                    <!-- </li> -->
                    <!-- <li class="nav-item"> -->
                        <!-- <a class="nav-link" href="">FAQs</a> -->
                    <!-- </li> -->
                    <!-- <li class="nav-item"> -->
                        <!-- <a class="nav-link" href="">Apply Online</a> -->
                    <!-- </li> -->
                <!-- </ul> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
<div class="navPanel">
    <div class="container-fluid navtopbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- logo Garvhai -->
            <a class="navbar-brand" href="/"><img src="images/AdaniInstitute/logo.png" alt="Adani Institute"></a>
            <!-- /logo Garvhai -->
            <div class="menu-overlay d-none"></div>
            <div class="collapse navbar-collapse" id="mainMenu">
                <div class="collapse_toggle">
                    <span></span>
                    <span></span>
                </div>
                <ul class="navbar-nav ml-auto primaryMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Facility & Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Programmes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Admission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="search_container d-none">
                <ul class="toggle_search">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler" id="nav-button" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
            </div>
        </nav>
		<div class="search-dropdown">
			<div class="container-fluid"><input type="text" class="form-control" id="" placeholder="search"></div>
		</div>
    </div>
</div>