@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{

    var contextItem = Sitecore.Context.Item;




}



<section class="section_heading">
    <div class="container-fluid">
        <h1>
            @Html.Sitecore().Field("Title", contextItem)
            </h1>
        <p><span>@Html.Sitecore().Field("Designation", contextItem)
    </span><span> @Html.Sitecore().Field("Date", contextItem, new { format = "MMM dd, yyyy" })</span></p>
    </div>
</section>
<!--/Section-->
<section class="bg-white section_padding content-section">
    <div class="container-fluid">
        @Html.Sitecore().Field("Description", contextItem)
    </div>
</section>