@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{

    var contextItem = Sitecore.Context.Item;




}

<section class="bg-white contact-main">
<div class="container-fluid">
	<div class="contact-section">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="heading">@Html.Sitecore().Field("Title", contextItem)</h2>
				 @Html.Sitecore().Field("Description", contextItem)
			</div>
			<div class="col-lg-6">
				<h3 class="border-left">Write to us</h3>
				<div class="row">
				     @Html.Sitecore().Placeholder("contact-us")
				</div>
			</div>
		</div>
	</div>
</div>
</section>