@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);




}

<header class="fixed-header inner_header">
<div class="fade-overlay"></div>
 <div class="overlay-top"></div>
	<div class="navPanel">
	<div class="container-fluid navtopbar">
	 <nav class="navbar navbar-expand-lg navbar-light">
	 <!-- logo Garvhai -->
      <a class="navbar-brand" href="index.html"><img src="-/media/FCE3CD07D6A54F108DC3202199BE2387.ashx" alt="Adani Institute"></a>
	  <!-- /logo Garvhai -->
	  <div class="menu-overlay d-none"></div>
      <div class="collapse navbar-collapse" id="mainMenu">
		<div class="collapse_toggle">
		<span></span>
		<span></span>
		</div>
        <ul class="navbar-nav ml-auto primaryMenu">
		@foreach (Item item in element.GetChildren())
                    {
         <li class="nav-item">
           <a class="nav-link" href="">@Html.Sitecore().Field("NavigationTitle", item)</a>
          </li>
		  }
		
        </ul>
      </div>
	  <div class="search_container">
	  <ul class="toggle_search">
			<li>
				<a href="#">
				  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
				</a>
			</li>
		</ul>
	  <button class="navbar-toggler" id="nav-button" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="fa fa-bars"></span>
      </button>
	  </div>
    </nav>
	</div>
	</div>
</header>