@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{

    var contextItem = Sitecore.Context.Item;




}



<section class="bg-white section_blog-details pb-80">
<div class="container-fluid">
<div class="row">
		<div class="col-lg-12">
			<h2 class="heading">@Html.Sitecore().Field("Title", contextItem)<span>@Html.Sitecore().Field("Date", contextItem, new { format = "MMM dd, yyyy" })</span></h2>
		</div>
	</div>
	<div class="section_blog-details--container content-section">
 @Html.Sitecore().Field("Description", contextItem)
     </div> 
</div>
</section>




