@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<header class="headerSec main_header">
    <div class="fade-overlay"></div>
    <div class="overlay-top"></div>
    <div class="top_bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-5 text-md-left text-left col-6">
                    <p>
                        <a href="tel:6358975222"><span><i class="fa fa-phone fa-rotate-90"></i></span><span>&nbsp;&nbsp;63589 75222</span></a>
                        <a href="mailto:admissions@aidtm.ac.in"><span><i class="fa fa-envelope"></i></span><span>&nbsp;&nbsp;admissions@aidtm.ac.in</span></a>
                        <a href="https://aidtm.ac.in/360tour" target="_blank"><span class="fa fa-globe mr-2"></span>Virtual Tour</span></a>
                    </p>
                </div>
                <div class="col-lg-6 col-md-7 col-6">
                    <ul>
                        <!-- <li><a href="/admissions" target="_blank" class="nav-link">Enquire Now!</a></li> -->
                        <!-- <li><button type="button" class="npfWidgetButton npfWidget-31e369a1fcb765b46b6f7e042024ae09">Enquire Now</button></li> -->
                        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Enquire Now</button></li>
                        @foreach (Item item in element.GetChildren())
                        {
                            Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                            var link = linkFields.GetFriendlyUrl();
                            <li class="nav-item d-md-inline-block d-none">
                                <a class="nav-link" href="@link">@Html.Sitecore().Field("NavigationTitle", item)</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @Html.Sitecore().Placeholder("header-menu")
</header>