@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{

    var contextItem = Sitecore.Context.Item;




}



<section id="section_quotes" class="section_quotes section_padding">
    <div class="container-fluid">
        <div class="quotes_container">
            @Html.Sitecore().Field("Summary", contextItem)
        </div>
    </div>
</section>
<!--/Section-->
<section class="section_overview section_padding">
    <div class="container-fluid">
        @Html.Sitecore().Field("Body", contextItem)
    </div>
</section>