@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
	Sitecore.Data.Fields.LinkField itemslinkvalues = elements.Fields["LinkUrl"];
    var itemslinks = itemslinkvalues.GetFriendlyUrl();
	}

<section class="section_overview">
		<div>
			 @Html.Sitecore().Field("Body", elements)
		</div>
		<a href="@itemslinks" class="btn btn-secondary">Know More <span class="fa fa-arrow-right ml-2"></span></a>
	</section>