@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var contextItem = Sitecore.Context.Item;
}


<section class="quotes_container">
            @Html.Sitecore().Field("Summary", contextItem)	
	</section>