@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}

<section class="hero-banner">
    <amp-carousel id="home-carousel"
                  width="450"
                  height="600"
                  layout="responsive"
                  autoplay
                  delay="3000"
                  type="slides"
                  role="region"
                  aria-label="home carousel">
        @foreach (var item in elements.GetChildren().ToList())
        {
            Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);

            string url = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
            <amp-img src="@url"
                     width="450"
                     height="600"
                     layout="responsive"
                     alt="">
                <div class="banner-content">
                    @Html.Sitecore().Field("MediaDescription", item)
                </div>
            </amp-img>
        }


    </amp-carousel>
</section>