@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    
}
<header class="hamburger_section single_item">
    @if (element.HasChildren)
    {
        foreach (Item item in element.GetChildren())
        {
            var imgurls = Helper.ImageUrl("LinkImage", item);
            <a href="#">
                <img src="@imgurls" alt="Login" class="icon">
                <h4>@Html.Sitecore().Field("Title", item) <br><label>@Html.Sitecore().Field("Text", item)</label></h4>
            </a>
        }
    }
    
</header>
