@media (min-width: 1440px){
                .tender-listing, .policy-listing{min-height: 500px;}
                #sustanibility .item{max-height: 600px;}
                .storiesofchange_sub__sidebar-img img { min-width: 450px; left: 0% !important; position: relative; }
}
@media (min-width: 1099px){
                .homeslider-other .owl-dots{width: 100px; position: absolute; right: -100px;top: 0px;top: 30px;}
                .navbar{}
                .homeslider .owl-item .item > img{transform: translateX(0%) translateY(0%);}
}
@media (max-width: 1299px){
.bannercontent .bannercontent_inner{
	padding: 2rem 0rem;
}
}
@media (max-width: 1199px){
	.bannercontent h1{}
                .home-video-thumb{display: none !important;}
/*           .footerMenu{margin:0.5rem 0;}*/
                .footerMenu li{margin:3px 0;}
                .footerMenu li a{opacity:1.0;}

                .homepage .bannerImg{background-position:20% top;}
                /*.social-links{display:none;}*/
                .nav-tabs .nav-item{margin:0;padding:3px 3px 0 0;}
                #navbar .navbar-nav .nav-link {color:#000;margin-bottom: 0px;}
                .navbar-expand-lg .navbar-nav .nav-link {
                                color: #fff;
                                font-size: 14px;
                                margin-bottom: 10px;
                }
}
@media (min-width: 992px) and (max-width: 1199px) {
	.homeslider-other .owl-dots{right: 0% !important;}
	.slide_pause{right: 25% !important;}
	.homeslider-other, .homeslider-other .owl-stage-outer, .homeslider-other .owl-item, .homeslider-other .owl-item img{max-height:80vh !important;}
                .dropdown-toggle__megamenu .megamenu ul li div a > div{height: 100px;}
                .dropdown-toggle__megamenu .megamenu ul li div a h3{font-size: 13px;}
                .directors-tile .card-body h4{min-height: 35px;}
                .work-block_img{max-height: 180px;}
                .navbar .nav-item{margin: 0rem 1rem 0rem 1rem!important;}
                .b-o-director{height: 170px;}
                .ourteam .b-o-director{height: 220px;}
                .work-block_content h3{height: 40px;}
                .work-block_content p{height: 40px;}
}
@media (min-width: 992px) and (max-width: 1024px) {
                .navTile a{padding-right:0;font-size:0.8rem;}
                .homepage .bannerImg{background-position:20% top;}
                .homepage .bannerImg img {
                                transform: translateX(-42%) translateY(-50%);
                }
                .serviceTile .serviceIcon img {
                                width: 65px;
                                max-height:none;
                }
                
                
}
@media (min-width: 768px) and (max-width: 1023px) {
                .homepage .bannerImg{background-position:14% top;}
                .homepage .bannerImg img {
                                transform: translateX(-35%) translateY(-48%);
                }
                .serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
                .serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
                
                
}
@media (min-width: 576px) and (max-width: 991.98px) {
                .linkTxt{font-size:1rem;padding-bottom:10px;}
}
@media (min-width: 992px){
.header--top_bar.header--top_bar--fixed{height: 0px;}
.website_dropdown{cursor: pointer;}
.website_dropdown button{pointer-events: none;}
	.scroll-nav.sticky{position: fixed; top: 3rem; width: 100%; z-index: 9; transition: ease all 0.3s}
	.ceo_message:after { content: ""; right: -9px; transform: rotate(32deg); }
	.airport-section__carousel-4item .owl-stage .owl-item:last-child {width: 0px !important;}
	.section-airports{}
	.section-airports .container-fluid{padding-left:175px;padding-right:175px;}
	.carbon-emmission {max-height: 540px; }
	.homeslider-other .owl-item.active .item img{position: absolute; width: 100%; height: 100%; object-fit: cover;-webkit-animation: zoomout 10s ease-in infinite; animation: zoomout 10s ease-in infinite; transition: all .5s ease-in-out;}
	.btm-floating{display:none;}
	.chairman-box div.mb-5{}
	.half-bg{}
	.scroll-nav.fixed{position: fixed; top: 102px; width: 100%;z-index: 9;box-shadow: 0px 0px 9px #000;}
	.slide_pause{position: absolute; bottom: 8%; z-index: 1; right: 38%;}
	.scroll-nav__fixed{position: fixed; top: 104px; z-index: 10; background: #fff; transition: ease all 0.3s;}
	#first-section{}
	#first-section.scroll-nav{padding-top: 0.7rem !important;}
	.py-lg-5, .py-5{padding-top: 6.25rem !important; padding-bottom: 6.25rem !important;}
	.py-5.bg-sidebar{padding-top: 1.5rem !important; padding-bottom: 6.25rem !important;}
	.pt-5{padding-top: 6.25rem !important;}
	.pb-5{padding-bottom: 6.25rem !important;}
	.quick-links-tabs__parent.py-lg-5{padding: 3rem 0rem !important;}
	.footerPanel2{padding-bottom: 3rem !important;}
	.sidebar_cta ul li div{padding: 2px 5px;}
	.homeslider-other, .homeslider-other .owl-stage-outer, .homeslider-other .owl-item, .homeslider-other .item , .homeslider-other .owl-item img{height: 100vh; object-fit: cover;overflow: hidden;}
				.container-fluid{padding-left: 5rem; padding-right: 5rem;}
                .flight-schedule{background: #fff;}
                .flight-schedule .flight-schedule-container{max-width: 650px; margin-top: -11.5rem; position: relative; z-index: 1;}
                .flight-schedule .nav .nav-item{margin: 0px;padding: 0px;}
                .navbar-brand__middle{display: block; text-align: center;padding: 0.8rem 0rem;}
                .navPanel.sticky-header .navbar-brand__middle{padding: 0rem 0rem;top: 4px;}
                .navbar-brand__middle .navbar-brand{padding: 0px;}
                .navbar-brand__middle img{}
                .mission-block{}
                .mission-block p{}
                .chairperson-section{}
                .work-block_img img{transform: translateY(0px) scale(1.0) translate(-20%, -5%);left: -20%;}
                .work-block:hover .work-block_img img{transform: translateY(0px) scale(1.05) translateY(0px) scale(1.0) translate(-20%, -5%);}
                .storiesofchange_sub__sidebar-img img{min-width: 450px; left: -17%; position: relative;}
                .vertical-middle { left: 0%; top: 50%; -webkit-transform: translate(0%, -50%); transform: translate(0%, -50%); position: absolute; }
                .vision {max-width: 555px;margin-left: auto;position: relative;padding: 0px 1.5rem 0px 0px;}
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
    padding-top: 0px !important;
    padding-bottom: 0% !important;
                margin: 0px !important;
                margin-right: 0px !important;
                position: inherit;
}
.sticky-header .navbar {margin-top: 0% !important;margin-bottom: 0% !important;}
.sticky-header .searchIcon{padding:8px 0px;}
/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
                position:relative;
  margin:0 2rem 0 0.25rem;
}
.navbar .nav-item.active{}
.navbar .nav-item.active a{font-weight: 400; color: #fff;}
.navbar .dropdown-menu ul li a{opacity:0.7;border-bottom: 1px solid transparent;display: inline-block;}
.navbar .dropdown-menu ul li a:hover{opacity:1;border-bottom: 1px solid #FDAB4B;}
.navbar .nav-item:last-child{margin-right: 0px;}
.navbar .nav-item.dropdown-toggle:hover .dropdown-menu.megamenu{display: block; top: 95%;/*animation: fadeInDown .8s;*/}
/* makes the dropdown full width  */
.navbar .dropdown {position:relative;}

.navbar .dropdown-menu {
  width:100%;
  left:auto;
  right:0;
/*  height of nav-item  */
  top:97%;
  border: 0px;
    border-radius: 0px;
}
/* Animation */

@keyframes fadeInUp-custom {
    from {
        transform: translate3d(0,20px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes custom {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}  

  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  
}
  
  .navbar .dropdown-menu {    padding: 0px;
  }
  .navbar .dropdown-menu ul{margin-bottom: 0.8rem;}
  .navbar .dropdown-menu ul li{border-bottom:0px solid #ccc;padding-bottom: 0.3rem;}
  .navbar .dropdown-menu ul li a{color:#000;padding-top: 0px; font-size: 18px;line-height: 25px;font-weight: 400;}
  .navbar .dropdown-menu ul li a:hover{color:#C1325F;}
  .fixed-nav .navbar-expand-lg .navbar-nav .nav-link{padding: 0.7rem 0rem;}
  .initiatives-section{background: rgba(0, 0, 0, 0.42);padding: 2rem 2rem; max-width: 650px;}
  .homeslider-other{}
  .homeslider-other .owl-dots{width: auto; position: absolute; top: auto;bottom: 2%;left: 0%; text-align: center;}
  #view_E .close{margin-top: -27px;}
  .weather-app{bottom: 0px; position: absolute; right: 0px;}
  .c_sidebar-icon{position: absolute; bottom: 0%; right: 10%;}
  .c_sidebar-icon img{}
  .scroll-nav ul li:last-child:after{content:"";background: #ccc; width: 2100% !important; right: 2000%;}
  .home-feedback{max-width: 95%;}
   #home .airport-section__carousel .owl-stage .owl-item:last-child{    width: 0px !important;}
#home .airport-section__carousel .owl-stage .owl-item:last-child .item{opacity: 0;}
#profile .airport-section__carousel .owl-stage .owl-item:last-child{    width: 0px !important;}
#profile .airport-section__carousel .owl-stage .owl-item:last-child .item{opacity: 0;}
 .exp-airport_section{display:block;}
  .exp-airport_section.mobileView{display:none;}
  .notification_carousel-desc img{display:none !important;}
  .Service-Offerings { padding-bottom: 80px; }
}
@media (max-width: 991px){
.website_dropdown .dropdown-menu{left: unset; right: 0px;}
.scroll-nav ul li.active-before:last-child:after{width: 100% !important; right: 0%;}
.menu-overlay{display:none !important;}
.website_dropdown:hover .dropdown-menu.show{display: block;right: 0px; left: revert;}
.website_dropdown:hover .dropdown-menu{display: none;}
#other-ventures .owl-prev{left: -15px; background: #fff; border-radius: 100px; box-shadow: 0px 1px 2px -1px #000;color: #000;outline: 0;}
#other-ventures .owl-next{right: -15px; background: #fff; border-radius: 100px; box-shadow: 0px 1px 2px -1px #000;color: #000;outline: 0;}
	.content-section .border-left.pl-3.mb-3{font-size: 1.75rem;}
	.breadcrumb-sl-inner.bg-gray.no-shadow{padding-top: 1.5rem;}
	.bannercontent .container-fluid{padding-left: 10px; padding-right: 10px;}
	.banner_stats img{width: 26px !important; height: 26px !important;}
	.banner_stats p span{font-size:20px;line-height:36px;}
	.banner_stats p{font-size:12px;line-height:18px;width:100%;}
	.g-recaptcha {transform-origin: left top;-webkit-transform-origin: left top;transform:scale(0.7);}
	.Service-Offerings .feedback-content ul li{font-size: 12px; margin-bottom: 5px; line-height: 15px;}
	.Service-Offerings .feedback-content h3{font-size:16px;line-height:22px;font-weight: 400; text-shadow: 0px 1px 0px #000;margin-bottom: 11px;}
	.Airport_SERV { padding-left: 62px;min-height: 80px;}
	.Airport_SERV span img{width: 42px;}
	.Airport_SERV div{padding: 0.25rem 0rem;}
	.Airport_SERV div h4{font-size: 26px;}
	.Service-Offerings { padding-bottom: 0px !important; }
	.notification_carousel-desc img{display:block;margin-bottom: 24px;margin-top: 20px;}
	.notification_carousel-desc .btn{text-align:left;}
	.dropdown-menu .dropdown-item a:hover{color:#000;}
	.services-blocks li a{font-size: 18px;line-height: 24px;}
	.service-carousel .owl-nav button i{font-size: 2rem;}
	.service-carousel .owl-nav button.owl-prev{margin-left: 0px;}
	.service-carousel .owl-nav button.owl-next{margin-right: 0px;}
	.exp-airport_section{display:none;}
	.exp-airport_section.Service-Offerings{display:block !important;}
.exp-airport_section.mobileView{display:block !important;}
	.exp-airport_section .nav-tabs{    margin-bottom: 20px;}
	.homeslider-other, .homeslider-other .owl-stage-outer, .homeslider-other .owl-item, .homeslider-other .owl-item img{height: 80vh;}
	.flight-schedule .tab-pane{    margin-top: 1rem;}
	.services-blocks{margin-bottom: 40px;}
	.travel-guide__content p{font-size:16px;line-height:20px;margin-bottom:20px;}
	.headerSec-inner .navtopbar{padding: 0px 0px;}
	.headerSec-inner{}
	.headerSec-inner .navbar{position: relative;}
	.navbar-light .navbar-brand{padding-left:15px !important;}
	#search-toggle{margin-top: -5px;}
	.search-container__results p{margin-bottom: 20px;}
	.search-container__results{padding-left: 20px;}
	.search-container__results ul li a{font-size: 20px; color: #179F95; line-height: 28px; margin-bottom: 10px; display: inline-block;}
	.search-container__results ul li a:hover{}
	.search-container{background:#fff;top:102%;}
	.search-container__results p{font-size: 16px; line-height: 22px; color: #6F6F6F;}
	.search-container__results p{}
	.search-container .search-container__form{border-bottom: 1px solid #BFBFBF;}
	.search-container .search-container__form input[type="text"]{border: 1px solid #000;color:#000;padding-left: 15px !important;}
	.search-container .search-container__form input[type="text"]::-webkit-input-placeholder { /* Edge */
		  font-size:14px;color:#494746;
		}

		.search-container .search-container__form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  font-size:14px;color:#494746;
		}

		.search-container .search-container__form input[type="text"]::placeholder {
		  font-size:14px;color:#494746;
		}
	.active-bg_white .navbar{background: #fff; border-bottom: 1px solid #BFBFBF;}
	.nav_cta{padding-top: 1rem;}
	.nav_cta ul{margin-left: 20px;}
	.nav_cta ul li{margin-bottom: 20px;}
	.nav_cta ul li a{font-size: 12px; line-height: 16px; color: #fff;display: inline-block; background: #079f95; min-width: 200px;}
	.nav_cta ul li a:hover{color:#fff;}
	.nav_cta ul li img{}
	.nav_cta ul li span{background: #079f95; padding: 13px 20px 13px 0px; position: relative; top: 0px;display: inline-block;}
	#mainMenu{padding: 0px !important;width: 100%;position: absolute; top: 102%;background: #fff;}
	#mainMenu ul.navbar-nav{}
	#mainMenu ul.navbar-nav > li.nav-item{padding:0px !important;background: #fff;position: relative;}
	#mainMenu ul.navbar-nav > li.nav-item:before{content:"";position: absolute; display: block; width: 100%; height: 0.5px; background: #BFBFBF; top: 55px; left: 0px;z-index: 99;}
	#mainMenu ul.navbar-nav > li.nav-item a.nav-link{padding: 15px 20px !important;color:#000000 !important;font-size:18px !important;line-height:25px !important;font-weight: 500 !important;background: transparent;}
	#mainMenu .nav-item span{color: #000; position: absolute; right: 13px;top: 15px;}
	#mainMenu .nav-close{display:none;}
	.dropdown-menu.megamenu{margin-top: 0px; padding-top: 0px !important;}
	.dropdown-menu.megamenu li.dropdown-item{padding:0px !important;background: #F4EFEC !important;}
	.dropdown-menu.megamenu a.dropdown-item{padding:13px 30px !important;font-size: 16px; font-weight: 400; text-shadow: 0 0 black;}
	#back-to-top{display:none !important;}
	#nav-button-mobile{height: 50px; margin-left: auto; background: #0C7971; border-radius: 0px; border: 0px; outline: 0;}
	#nav-button-mobile span{width: 30px; height: 2px; background: #fff; display: block; margin-bottom: 6px; position: relative; top: 4px;transition:ease all 0.6s;}
	#nav-button-mobile.active{}
	#nav-button-mobile.active span{transition:ease all 0.6s;opacity:0;}
	#nav-button-mobile.active span:first-child{transform: rotate(-45deg);top: 14px;opacity:1;}
	#nav-button-mobile.active span:last-child{transform: rotate(45deg);top: -2px;opacity:1;}
	.btm-floating .row .col-5{position:relative;}
	.btm-floating .row .col-5:first-child:after{content:"";position: absolute; width: 1px; height: 100%; top: 0px; right: 0px; background: #0F7971;}
	.btm-floating{display:none !important;position: fixed; bottom: 0px; background: #079f95;width:100%;z-index: 999;opacity:1;display:block;transition:ease all 0.6s;}
	.btm-floating.active{bottom: 0px; opacity:1;display:block;transition:ease all 0.6s;}
	/* .footerBtmPanel{padding-bottom: 3.5rem !important;} */
	.navbar .dropdown.active{}
	.navbar .dropdown.active a{position:relative;}
	.navbar .dropdown.active a.nav-link:after{content:"";background: #FDAB4B; position: absolute; width: 100%; display: block; height: 0px;}
	.btm-floating p{padding-left: 45px !important;padding: 15px 0px;}
	.btm-floating p img{position: absolute; left: 0px;top: 5px;}
	.btm-floating p span{font-size: 12px !important; line-height: 16px;color:#fff;}
	.notification_carousel .owl-dots{padding-top: 20px;}
	.exp-airport_section, .notification_section{padding: 60px 0px 40px 0px;}
	.section{padding: 60px 0px !important;}
	.section-top{padding-top: 60px;}
	.section-bottom{padding-bottom: 60px;}
	.section-top{padding-top: 60px;}
	.carbon-emmission p{font-size:16px;line-height:22px;margin-bottom: 30px;}
	.home-feedback-thumb img{min-height:322px;object-fit:cover;}
	.home-feedback-content{padding: 20px 30px; margin-bottom: 0px;}
	.home-feedback-content h2{font-size:20px;line-height:24px;margin-bottom: 18px;font-weight: 500;}
	.airport-section__carousel .owl-nav{}
	.airport-section__carousel .owl-nav button.owl-next{margin-right: 160px;}
	.section-heading{font-size: 26px; margin-bottom: 14px; line-height: 37px;}
	.exp-airport_section p{margin-bottom:30px;}
	.exp-airport_section .nav-item .nav-link{font-size: 14px;}
	.exp-airport_section .nav-item .nav-link img{width:12px;}
	.exp-airport_section .nav-item .nav-link span{margin-right: 8px;}
	.btn{font-size: 16px; font-weight: 600;min-width: 140px;}
	.notification_carousel-desc{border:0px;padding: 0px;}
	.notification_carousel-desc > span{font-size:12px;line-height:16px;}
	.notification_carousel-desc h2{font-size:26px;line-height:38px;padding-left: 1.5rem;}
	.notification_carousel-desc p{font-size:16px;line-height:28px;margin-bottom: 30px;padding-left: 2rem;}
	.sidebar_cta{display:none;}
	.navPanel .nav-link{padding: 0.5rem 1rem;}
	.sticky-header{}
	.sticky-header .navbar{background: #fff;padding-top: 5px;top: 0px;}
	.pricing_table{    margin: 0rem 1.5rem 2rem 1.5rem;}
	.assistance_block i, .lounge_block i, .pickup_block i{font-size: 1.25rem;}
	.departure_block, .arrival_block{}
	.topMenu .dropdown.active { padding: 0px 0px 0px 0px !important; }
	.topMenu .dropdown.active > a{ color: #089c96 !important; }
	.topMenu li{padding-top: 0px; padding-bottom: 0px;}
	.topMenu li a{padding: 0.8rem 1rem !important;color:#000 !important;}
	.topMenu .dropdown-item.active a{}
	.topMenu .dropdown-item h3{}
	.topMenu .dropdown-item h3 a{color: #000; font-weight: 400; font-size: 1rem;padding-left: 7px !important;text-shadow: 0px 0px 0px #000;}
	.topMenu .dropdown-item{padding-bottom: 0px;}
	.topMenu .dropdown-item a{padding-top: 6px !important; padding-bottom: 0px !important; color: #000;padding-left: 7px !important;font-size: 0.8rem;}
	.topMenu .dropdown-item h3 a:after{content: "\f105"; position: absolute; font-family: 'Font Awesome 5 Free'; font-weight: 900;line-height: 21px; padding-left: 10px;}
	.slide_pause{position: absolute; bottom: 3%; z-index: 1; left: 0%; width: 100%; text-align: center;}
	#first-section{}
	#first-section.scroll-nav{padding-top: 0.7rem !important;}
	.py-lg-5, .py-5{padding-top: 3.75rem !important; padding-bottom: 3.75rem !important;}
	.pt-5{padding-top: 3.75rem !important;}
	.pb-5{padding-bottom: 3.75rem !important;}
	.quick-links-tabs__parent.py-lg-5{padding: 3rem 0rem !important;}
	.footerPanel2{padding-bottom: 0px !important;}
	.container-fluid{padding-left: 20px; padding-right: 20px;}
	.ft-logo1{text-align:left;padding-left: 15px;}
                .airport-section__carousel .item div{height: auto; padding-top: 1rem; text-align: center;margin: 0px; width: 100%;}
				.airport-section__carousel .item:hover div, .airport-section__carousel .filter_inner:hover a > div{}
                .airport-section__carousel .item div span{height: auto;}
                .airport-section__carousel .item img{opacity: 0.6;}
                .scroll-nav ul:after{content: "";bottom: 8px;}
                .c_sidebar-icon{display:none;}
                .airport-section__carousel .item p{font-size: 18px; line-height: 23px;font-weight: 500;}
                .f-search__content-form{top: 0rem; padding: 1rem; box-shadow: 0px 0px 0px #fff;}
                .f-search__content-form .nav-tabs .nav-item{margin-right: 3px; width: auto; padding: 0px;}
                .f-search__content-form__status{text-align:center;margin-top: 1rem;display: none;}
                .f-search__content-form .nav-tabs .nav-item .nav-link{font-size: 12px;font-size: 12px; padding: 5px 10px;}
                .airline-partners .owl-carousel img{width: 80%;}
                .navbar-brand__middle{padding: 0rem 0rem;}
                .navbar-brand__middle a{padding: 1rem 0rem;}
                .navbar-brand__middle-divider{height: 30px;top:5px;}
                .ft-submenu{margin-bottom: 1.5rem;}
                .scroll-actions{display: block;}
                .scroll-actions li{display: inline-block; margin-bottom: 20px;margin-right: 10px;}
                .content-header p{max-width: 100%;font-size: 18px; line-height: 25px;}
                #quick-links-tabs .quick-links-tabs__btn.active{display:block;background: #179e96; color: #fff;}
                #quick-links-tabs .quick-links-tabs__btn{padding: 5px 10px; font-size: 12px;border-right: 2px solid #fff;}
                .weather-app{display:none;}
                .d-md-search{display: flex;}
                .d-md-search li:first-child{flex: 0.875 auto;}
                .d-md-search li:nth-child(2){flex: 0.125 auto;}
                .d-md-search #search-toggle{height: 100%;}
                .d-md-search #search-toggle li{padding: 16px 10px;}
                #view_E .close{margin-top: -27px;}
                .homeslider-other .owl-dots{text-align: center;position: absolute; bottom: 0px;-webkit-transform: translateX(-50%);transform: translateX(-50%);left: 50%;bottom: 15px;}
                .homeslider-other .owl-dots:before{content:"";width: 60px; height: 1px;display:inline-block;position: relative; top: -5px; margin-bottom: 0px;margin-right: 1rem;}
                .homeslider-other .owl-dots:after{content:"";width: 60px; height: 1px;display:inline-block;position: relative; top: -5px; margin-bottom: 0px;margin-left: 1rem;}
                .homeslider-other .owl-dots button{display: inline-block;}
                .homeslider-other .owl-dots button.active{position: relative; top: 4px;}
                .address-section{margin-bottom:1.5rem;}
                .address-section, .address-form-section{padding: 0rem 0rem !important;background: #f4efec !important;}
                .awards-carousel, .awards-carousel .awards-carousel_thumb{min-height:350px;}
                .initiatives-section{background: rgba(0, 0, 0, 0.42);}
.storiesofchange_sub .storiesofchange_sub-inner{max-width: 100%;}
                /* .initiatives-main .bg-images img{-webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%);} */
                .ourteam .b-o-director{height: 220px;}
                .map{margin-top: 2rem;}
                .work-block_img{max-height: none;}
                .CTA h2{margin-bottom:20px;text-align: center;}
                .CTA h2 span{width: 100%;text-align: center;margin-top:10px;}
                .BOD{}
                .BOD .col{-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
                .b-o-director {height: 260px;}
                .navPanel .navbar-brand img{top: 0px;padding: 15px 0px 10px 0px;max-width: 150px;width: 100%;}
                .fixed-nav .navbar-brand img{width: 160px !important;}
                .bannercontent h1{font-size: 2.25rem;}
                .overlay, .overlay-top{background: rgba(0, 0, 0, 0.0) !important;}
                .overlay-top{background: rgba(0, 0, 0, 0.5) !important;}
                .footerPanel2 a{font-size: 12px;}
                .slider-content .container{padding: 1rem 3rem;}
                #other-ventures .owl-next span{padding: 0px 12px;}
                
                .navbar-brand{top: -5px;position: relative;padding-bottom: 0px !important;}
                .ft-logo{border-left: 0px solid #dee2e6!important;padding-left: 0px; border-top: 0px solid #e8e8e8; margin: 0rem 0rem 1rem 0rem; padding-top: 0rem;padding-right: 15px; padding-left: 15px;text-align: left;}
				.ft-logo:before{content:"";display:none;}
                #navbar .navbar-nav .nav-link{color:#fff;}
                #navbar .navbar-nav .nav-link:hover{color:#000;}
                .achieve-description{margin-bottom:20px;padding: 0px 0px !important;min-height: 50px;}
                .sustainability-v:before{-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);transform: rotate(-90deg);right: 98%;top: 15px;}
                .ft-social{}
                .ft-social li{}
                .ft-social li a{}
                .ft-social li a i{top: 0px; position: relative;}
                .ft-social li:hover{}
                .searchIcon {padding: 15px 0px;}
                .topNavBtn {padding: 12px 0px;position: relative; top: 0px; height: 100%;right: 0px; background: #179E96;text-align: center;}
                .ceo-img{display:none;}
                .ceo-img img{height: auto !important;width: auto !important;}
.breadcrumbBg img{
                                -webkit-transform: translate(-20%, 0%);
                                transform: translate(-20%, 0%);
                }
                .desktop-none {display:block;}
                .navbar-light .navbar-brand{padding-top: 10px;padding-bottom: 20px;}
                .order-lst{order: 1;}
                .footerArrow{display:none;}
                .footerPanel2 .border-right-1{border-right: 0px;}
                .footerPanel2 .border-right-1 .mb-3{margin-top: 50px;}
                .bannercontent{padding: 0rem 0rem; left: 0px; top: 0%; transform: translateY(0%); -webkit-transform: translateY(0%);}
                .bannercontent__sub{bottom: auto;}
                .bannercontent .bannercontent_inner{width: 100%;padding: 1rem 0rem;margin-left: auto; margin-right: auto;}
                .panelBox{margin-bottom: 20px;}
                .btnWrapper{margin-bottom: 40px;}
                .featured-stories p{text-align: center;}
                .featured-stories p span{display: inline-block;margin-top: 20px;width: 100%;}
                .featured-stories p span a{float: unset !important;}
                .business-tile{margin-bottom:30px;}
                .mobile-none{display:none !important;}
                .news{margin-top:20px;}
                .accService{font-size:0.8rem;}
                .dropdown-menu{
                                display:block;
                                padding: 0;
                                border-radius: 0;
                                border:1px solid rgba(0,0,0,0.1);
                                margin-left: 1rem;
                                font-size:0.9rem;
                }
                .dropdown-item{padding:0.25rem 0.75rem;}
                .navbar-light .navbar-nav .nav-link{color:#000;padding-left: 15px;padding-right: 15px;}
                #topMenu {
    width: 270px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 999;
    color: #306eb2;
    transition: all 0.3s;
    margin-right: -270px !important;
    background: #fff;
    }
                #topMenu.active {
            margin-right: 0 !important;
    display: block;
    padding-left: 0px !important;
    }
                #topMenu i{color: #089c96;}
                .topMenu li {border-bottom:1px solid #eae9e9;padding-left: 0px;padding-right: 0px;position: relative;width: 100%;}
                .topMenu li a{
                                padding: 0.5rem 1rem;
                                display: inline-block;
                                color: #089c96;
                                position:relative;
                                border-right:none;
                                font-size: 1rem;
                }
                .topMenu li a:hover{color:#fff;}
                .topMenu li:first-child a{padding-left:1rem;display: inline-block;}
                .topMenu li .megamenu li{border:0px solid  #fff !important;}
                .topMenu li a:hover, .topMenu li a:focus{color: #18a790;background: transparent;}
                .primaryMenu {
                                border-top:0px solid #0b6bb5;
                                /*box-shadow: 0px -1px 8px rgba(0,0,0,0.3);*/
                }
                .primaryMenu li{background:#eee;border-bottom:0px solid #BFBFBF}
                .primaryMenu li a.nav-link{padding:0.3rem 1rem;}
                .dropdown-menu{background:none;border:none;margin-left:1.5rem;}
                .dropdown-item{border-bottom:1px solid #BFBFBF;}
                                .dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active {
                                color: #fff;
                                text-decoration: none;
                                background-color: transparent;
                }
                .dropdown-menu{background:none;border:none;margin-left:0rem;display: none;}
                .dropdown-item{border-bottom:1px solid #d3d3d3;}

                .navbar-light .navbar-nav .nav-item.active .nav-link, .navbar-light .navbar-nav .nav-item.show .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
                                background: #1a727f;color: #fff;}
                .navbar {padding: 0;position: fixed;width: 100%;left: 0px;margin-top: 0px;margin-left: 0px !important;}
                .navbar .navbar-collapse{padding: 10px 20px;background: #1c9e95;position: fixed;width: 100%;}
                .vision.vertical-fourth {
                                position: relative;
                                top: 0;
                                margin-bottom: 10px;
                                padding: 1.5rem 0rem;
                }
                .chairperson-section .blue-block.p-4, .heroesatwork .heroesatwork-block{margin-top: -90px !important;}
                .chairperson-section .bg-images, .heroesatwork .bg-images{position: relative;}
                .heroesatwork .owl-nav button{background: #18a2cf !important;}
                .heroesatwork .owl-nav button i{color: #fff;}
                .heroesatwork .owl-nav button:hover i {color:#000;}
                .fixed-nav .topNavBtn{padding: 0px 0px;}
                #topMenu .dropdown:after{content:"\f105";position:absolute;font-family: 'Font Awesome 5 Free';font-weight: 900;right: 20px;top: 8px;z-index: 9999;font-size: 20px;transition: ease all 0.3s;width: 20px;text-align: center;color: #000;}
                #topMenu .dropdown.active:after{-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);transition: ease all 0.3s;color: #089c96;}
                .topMenu .dropdown.active .dropdown-menu{display: block !important;position: relative;left: 0px;margin-left: 0px;width: 100%;margin-bottom: 0px;background: #f7f7f7;padding: 15px 10px;height: auto;}
                .topMenu .dropdown.active{padding: 10px 0px 0px 0px;}
                .topMenu .dropdown .dropdown-menu{display:none !important;}
                #topMenu .dropdown .dropdown-menu.megamenu:after{content:""}
                /*.topMenu .dropdown:hover .dropdown-menu hr{display:none;}*/
                .topMenu .dropdown .dropdown-menu a{border-bottom:0px;}
                .topMenu .dropdown .dropdown-menu h5 a{padding-left: 0rem;}
                .topMenu .dropdown .dropdown-menu .container-fluid{padding:0px !important}
                .topMenu .dropdown .dropdown-menu .col-md-6{padding-left:0px; padding-right:0px;}
                #navbar ul li:nth-child(1){}
                #navbar ul li:nth-child(2){}
                #navbar ul li:nth-child(3){}
                #navbar ul li:nth-child(4){}
                #navbar ul li:nth-child(5){}
                #navbar ul li:nth-child(6){}
                #navbar ul li:nth-child(7){}
                .flight-schedule .nav .nav-item{padding: 0px;}
                .flight-schedule .nav{float: none;}
                .request_callback .bg-images, .bg-sidebar .bg-images{width: 100%;max-height: 260px; }
                .request_callback-form, .bg-sidebar .bg-sidebar__box{background: rgba(241, 241, 241, 0.95); max-width: 100%;}
                .request_callback div.position-relative, .bg-sidebar div.position-relative{padding: 10rem 1rem 1rem 1rem;}
                .request_callback-form, .bg-sidebar .bg-sidebar__box{padding: 1.5rem;}
                .scroll-nav ul li{}
                .scroll-nav ul li a{padding: 5px 15px !important;}
                .scroll-nav ul li a{font-size: 1rem;}
                .scroll-nav ul{overflow-x: scroll;display: -webkit-inline-box;padding-bottom: 2px; width: 100%;}
                .scroll-nav ul:before{content:"";position: absolute;left: -7px; height: 45px; width: 7px;box-shadow: 0px 0px 20px #fff;}
                .scroll-nav ul:after{content:"";position: absolute;right: -7px; height: 45px; width: 7px;box-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff;left: auto;}
				.btn.btn-menu { min-width: auto; }
				.navPanel{padding-top: 0.5rem !important;}
				.single-block{padding: 4rem 3rem !important;}
				body.alert_hidden { margin-top: -25px; transition: ease margin-top 0.3s; }
				.navPanel.sticky-header {padding-top: 0rem !important;}
				#quick-links-tabs .quick-links-tabs__btn{font-size: 1.25rem;background: #ccc; color: #000;}
				.user-login{display:none !important;}
				.weather-plugin, .toggle_nav{}
				.website_dropdown{}
				.website_dropdown button{font-size: 14px;top: 0px;}
				.navbar-light .navbar-toggler{margin-right: 0px !important;}
				.scroll-down{display:none;}
				.flight-schedule { margin-top: -9rem; position: relative; z-index: 1; background:transparent;padding-bottom: 0px;}
				.flight-schedule .nav .nav-link{font-size:16px;}
				.check_flight{margin-top: 0px; padding-top: 0px;}
				.address-section h6{font-size: 20px; color: #000; line-height: 28px; margin-bottom: 8px;}
.address-section h5{font-size:26px;color:#179E96;line-height:37px;margin-bottom:24px;}
.address-section .medium{font-size: 14px; color: #000; line-height: 21px; margin-bottom: 18px;}
.form-section-main{background: transparent !important;    padding: 0px !important;margin-top: 46px;}
.form-section-main .form-section{padding-left: 0px !important;}
.form-section-main{}
.form-section input[type="text"], .form-section input[type="tel"], .form-section input[type="number"], .form-section input[type="email"], .form-section select, .form-section textarea{    background: #ffffff;}
.address-subsection{background: #fff !important; padding: 40px 30px 10px 30px !important;}
.captcha > div{transform: scale(0.7); left: -42px; position: relative;}
.inner-herobanner-carousel .bannercontent{    top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.primaryMenu .dropdown .nav-link{pointer-events: none;}
.airport-section__carousel-4item{width: calc(100% + 140px);}
.navbar-light .navbar-toggler span{top:3px;}
.notification_carousel-desc .h-100 > div{padding-left: 2rem;}
.section-content h3{font-size: 26px; line-height: 30px;}
.section-services .container-fluid > p{font-size: 16px; line-height: 28px;}
.ceo_message p{font-weight: 500; font-size: 18px; line-height: 36px;}
.ceo_message p b{font-size: 16px; line-height: 19px;}
.ceo_thumb{/*min-height: 450px;*/}
.list-mission .item, .list-values .item{flex: 0 0 50%;}
}
@media (max-width: 767px){
.list-mission .item, .list-values .item{flex: 0 0 100%;}
	.o_service_block-desc h3{min-height: auto;font-weight: 500; font-size: 20px; line-height: 24px;}
	.o_service_block-desc p { font-size: 16px; line-height: 22px; }
	.o_service_block{padding: 2rem 3rem;}
	.content-section h2{font-size: 26px;line-height: 31px;margin-bottom: 12px;}
	.content-section ul li{font-size: 16px; line-height: 28px;}
	.content-section p{font-size: 16px; line-height: 28px;}
	.ceo_message:after{display:none;}
	.ceo_thumb img{position:relative;height: auto;}
	.airport-section__carousel .item a, .airport-section__carousel .filter_inner a{height: 360px;}
	.airport-section__carousel .item div span, .airport-section__carousel .filter_inner a > div span{font-size: 14px;display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;}
	.airport-section__carousel .item a > div{top: 80% !important;}
	.navbar-brand-first li:first-child{line-height: 18px;font-size: 15px;}
	.navbar-brand-first li{line-height: 17px;font-size: 13px;}
	.navbar-brand-first{top: 8px !important; font-size: 1rem; line-height: 20px;}
	.airport-section__carousel{}
	.airport-section__carousel i{color: #000 !important;}
	.airport-section__carousel .owl-prev{left: -22px !important; position: relative;}
	.airport-section__carousel .owl-next{right: -80px !important; position: relative;}
	.sidebar_cta{width: 100%; top: auto; bottom: 0px;background: #179e96;padding: 0.3rem 0.5rem 0rem 0.5rem;box-shadow: 0px 2px 6px #000;}
	.sidebar_cta ul{}
	.sidebar_cta li{width: 32%; display: inline-block;text-align: center;}
	.sidebar_cta ul li div{ order: 1;right: 0px;}
	.sidebar_cta ul li span{line-height: 15px;width: auto; height: auto; position: relative; order: 2; display: block; max-width: 100%; margin-left: auto; margin-right: auto;}
	.sidebar_cta ul li span a{font-size: 0.9rem;}
	.feedback-content p{}
	.cargo_sp{margin-bottom: 0px !important;}
	.cargo_sp a{font-size: 0.7rem !important; margin-right: 0.5rem !important;}
	.feedback-content__cargo_sp{min-height: 380px;position: relative;}
	.feedback-content__cargo_sp .feedback-content{margin-top: 10rem;min-width: 100%;}
	.flight-schedule .tab-pane{margin-top: 1rem;}
	.feedback-content p a.float-right{margin-top: 4px;}
	.airport-section__carousel .owl-item.last .item img{}
	.airport-section__carousel .owl-item .item{background:#fff;height: 360px;}
	.airport-section__carousel .owl-item .item img{opacity:0.5;}
	.airport-section__carousel .owl-item.last .item{background:#000;}
	.carbon-emmission{padding: 6rem 2rem !important;}
	.filters__section .filters-content{margin-top: 1rem;}
	.filters__section .filters > div a{margin-bottom: 10px;}
	.homeslider-other, .homeslider-other .owl-stage-outer, .homeslider-other .owl-item, .homeslider-other .owl-item img{height: 90vh; object-fit: cover;}
	.f-search__thumb img{min-height: 350px; object-fit: cover;}
.sidebar_cta:hover: ul:before{color: rgb(255 255 255 / 65%);cursor:pointer;background: rgb(22 156 147 / 76%);}
.sidebar_cta.hidden{bottom: -100px;}
.sidebar_cta.hidden ul:before{content:"\f106";top: -70px; font-size: 1.5rem;transform: rotate(0deg); box-shadow: 0px 1px 1px #000;transition: ease all 0.8s;padding: 10px 9px;}
                .navbar-brand__middle{padding: 0rem 0rem;}
                .navbar-brand__middle a{font-size: 1.1rem;padding: 1.2rem 0rem;}
                .navbar-brand__middle-divider{height: 25px; top: 3px;}
                .bannercontent h1{font-size:26px;    margin-bottom: 0px;}
                .bannercontent p{font-size:16px;line-height: 20px;padding-bottom: 0px;}
				.bannercontent a{font-size:16px;}
                .feedback-content{max-width:260px;}
                .carbon-emmission h2, .single-block h2, .feedback-content h2, .airport-section h2, .check_flight h2, .content-header h2, .request_callback-form h2, .bg-sidebar .bg-sidebar__box h2, .request_callback-form h2, .bg-sidebar h2{font-size: 26px; font-weight: 400; margin-bottom: 20px;text-shadow: 0 0 black;line-height: 37px;}
                .bg-sidebar h3{color: #000; font-size: 1.15rem;}
                .content-header h3{font-size: 20px;}
                .form_diff{font-size: 2rem;}
                .request_callback div.position-relative{padding: 8rem 1rem 1rem 1rem;}
                .topNavBtn-main{padding:0px;}
                .navbar-brand__middle img{padding: 0px 0px !important;}
                .d-md-search #search-toggle li{padding: 16px 10px;}
                .navPanel .navbar-brand img{max-width: 68px !important;padding: 0px;}
				.navPanel .navbar-brand p{font-size: 12px; padding-top: 3px;}
				.navPanel .navbar-brand span{font-size: 12px !important; line-height: 18px !important;}
                .footerMenu li a{font-size: 10px;}
				.section-commingsoon h3{font-size: 1.25rem; padding: 0rem 1rem;font-weight: 500;}
                .scroll-down{width: 30px;position: absolute; bottom: 30px; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); right: auto;height: 90px;}
                .scroll-down span{border-color:#fff;}
                .work-block_content{background: #fff;margin-bottom: 0px;}
                .work-block_content.collapsed{background: #fff0;padding: 0px 1rem;}
                .work-block_content.collapsed .work-block_target{display: none;}
                .work-block:hover .work-block_content.collapsed{background: #fff0;}
                .work-block:hover{-webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2); box-shadow: 0 14px 24px rgba(62,57,107,.2);}
                .work-block_img{margin-bottom: 1.5rem;}
                .work-block_target{position: absolute; top: 10px; right: 10px; font-size: 1.5rem;}
                .work-block_target a{color: #33a142;font-size: 1.25rem;}
                .work-block_content.blue-block > div, .work-block_content.green-block > div{border-color: #0099cb;}
                .work-block_content.blue-block h3, .work-block_content.green-block h3{color:#0099cb;}
                .work-block_content.blue-block p, .work-block_content.green-block p{color:#000;}
                .scroll-down span{width: 20px; height: 20px;margin-bottom: 5px;}
                .storiesofchange_sub .storiesofchange_sub-inner h2{font-size: 1.5rem;}
                .storiesofchange_sub .storiesofchange_sub-inner p{width: 100%;}
                .homeslider .owl-item .item, .homeslider .owl-item .item img{height: 110vw;}
                .ourwork-first-section{}
                .ourwork-first-section p{}
                .ourwork-first-section .loadMore:before{content:"Read more";}
                .ourwork-first-section .loadMore.active:before{content:"Read less";}
                .ourwork-first-section .loadMore em:before{content:"\f107";font-family: 'Font Awesome 5 Free'; font-weight: 900;font-style: normal;font-size: 1.25rem;}
                .ourwork-first-section .loadMore.active em:before{content:"\f106";font-family: 'Font Awesome 5 Free'; font-weight: 900;font-style: normal;font-size: 1.25rem;}
                .ourwork-first-section p:nth-child(1){}
                .ourwork-first-section p:nth-child(2){}
                .ourwork-first-section p:nth-child(3){display:none;}
                .subscribe-form-heading{font-size: 1.25rem;}
                .stories-inner__sidebar h2{font-size: 1.5rem !important;}
                .txt-green{font-size: 1.9rem;}
                .case-study .py-5.px-5{padding: 1.5rem !important;}
                .case-study h3{font-size: 1.25rem;}
                .stories-inner__section h1{font-size: 1.5rem;}
                .heroesatwork .heroesatwork-block h3, .chairperson-section h2{font-size: 1.5rem;}
                .initiatives-section h3{font-size: 1.5rem;}
                .initiatives-main{padding: 0rem 0rem;}
                .storiesofchange_sub{padding: 2rem 2rem 3rem 2rem;}
                .heroesatwork .heroesatwork-block h3 span{font-size: 1.5rem;margin-top: 0px;}
                .awards-carousel, .awards-carousel .awards-carousel_thumb{min-height:300px;}
                .inner-banner{min-height: 350px;}
                .inner-banner .item{max-height: 450px;overflow:hidden;}
                .inner-banner .item img{left: 50%; top: 50%; -webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%); position: relative;min-width: 650px; min-height: 350px;max-width: 800px;}
                .inner-banner .bannercontent{top: auto;bottom:0px; -webkit-transform: translate(0%, 0%); transform: translate(0%, 0%); left: 0px; padding: 0px 0px;}
                .inner-banner .bannercontent h1{}
                .inner-banner .bannercontent h2{font-size: 1.25rem;}
                .topNavBtn{padding: 12px 0px;}
                .storiesofchange_sub__sidebar-content.blue-block:before{-ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg);top: -43px; left: 27px;}
                .storiesofchange_sub__sidebar-content.green-block:before{-ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); top: -43px; left: 27px; right: auto;}
                .ourteam .b-o-director{height: auto;}
                main{}
                .terms-link{}
                .terms-link a{color: #33a142 !important;}
                .fixed-nav .navbar-brand img{width: 130px !important;}
                .b-o-director {height: auto;}
                .btn.btn-menu{top: 0px;}
                .vertical-fourth {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
                .vision {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
                .image-banner{min-height: 200px;}
                .image-banner img{min-height: 200px;}
                .image-banner > div{top: 80%;}
                .image-banner > div h1{font-size: 1.2rem;width: 90%;}
                .section-growth{    padding: 2rem 0px 0rem 0px;}
                .businesses-block{padding-bottom: 0% !important;}
                .business-desc{display:none;}

                .business-tile{margin-bottom: 40px;}
                .business-tile:hover{box-shadow: 0 0px 0px #ccc;}
                .business-title{padding: 0px 5px;}
                .breadcrumbBg img{
                                -webkit-transform: translate(-50%, 0%);
                                transform: translate(-50%, 0%);
                }
.business-thumb{/*display:none;*/height: auto;}
                .footerPanel2{text-align:center;}
                .footerPanel2 h6{padding: 0px 0px;margin-bottom: 20px !important;margin-top: 10px !important;}
                .footerPanel2 .border-right-1 .mb-3{margin-top: 0px;}
                #mainslider .slideritem img{}
                .business-content span{color: #0b6bb5;}
                .social-links li a i{top: 0px;left: 0px;}
                .business .col-lg-3:nth-child(1){}
                .business .col-lg-3:nth-child(2){}
                .business .col-lg-3:nth-child(3){}
                .business .col-lg-3:nth-child(4){}
                .business .col-lg-3:nth-child(5){display:none;}
                .business .col-lg-3:nth-child(6){display:none;}
                .business .col-lg-3:nth-child(7){display:none;}
                .business .col-lg-3:nth-child(8){display:none;}
                .business .col-lg-3:nth-child(9){display:none;}
                .business .col-lg-3:nth-child(10){display:none;}
                .business .col-lg-3:nth-child(11){display:none;}
                .business .col-lg-3:nth-child(12){display:none;}
/*           .business-box .business-content p{display: block;color: #000;}*/
                /*.business-box .business-content a{display: block;color: #0b6bb5;}*/
                /*.business-box .business-content{width: 140px;min-height: 150px;}*/
                #sustanibility .txt-overlay{}
                .quick-links{display:none;}
                .topNav li.topSearch{display:none;}
                .topMenu li.topSearchMenu{display:block;}
                /*.topMenu{display:none;}*/
                .homepage .mainBanner{height:250px;}
                .homepage .bannerImg{position:relative;height:100%;background-position:12% top;}
                .homepage .bannerImg img {
                                min-height: 250px;
                                height: 100%;
                                width: auto;
                                transform: none;
                                left: 0;
                                top: 0;
                }
                .helpPanel{padding:30px 0 0 0;}
                .helpLinks{height:auto;margin-bottom:1rem;}
                .adaniLogoFooter{margin:1rem 0;display:inline-block;opacity:1.0;}
                
                .communityTile{background-blend-mode:overlay;}
                .communityTile .tileCnt{width:50%;}
                .listIcon{padding-right:0;}
                .listIcon img{max-width:50px;}
                .serviceTile{padding:1rem;}
                .serviceTile .serviceIcon{height:50px;}
                .serviceTile .serviceIcon img{width:auto;max-height:50px;}
                .serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
                .serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
                .myAccountBanner .bannerCnt{padding:1rem 0;background:rgba(255,255,255,0.85);}
                .accSerTile{padding:0.75rem 0;}
                .adaniLogoFooter{margin:0.5rem 0;}
                .tile{height:auto;margin:0.5rem 0;}
                .appLink{margin:0.5rem 0;}
                .payBillBox{width:100%;}
                .nav-tabs .nav-item{margin:0;padding:3px 13px 0 0;}
                .nav-tabs .nav-link{font-size:0.8rem;}


    #sideNav{
                                width: 250px;
                                position: fixed;
                                top:0;
                                left: 0;
                                height: 100vh;
                                overflow-y:auto;
                                z-index: 999;
                                color: #fff;
                                transition: all 0.3s;
        margin-left: -250px;
                                background:#f36f31;
    }
    #sideNav.active{
        margin-left: 0;
    }
    #mainContent {
        width: 100%;
    }
    #mainContent.active {
       /* width: calc(100% - 250px);*/
    }
   .contactPanel{height:220px;}
                .homeslider{height: 110vw;}
				.navPanel{padding: 0px 0px;}
                .homeslider-other .owl-dots button{padding: 0rem 0rem !important;margin-right: 1rem;}
				.feedback-content{width: 60%; min-width: 290px;}
				.feedback-content p a{font-size: 0.9rem;}
				.owl-carousel .owl-nav button.owl-prev { width: 35px; height: 35px;margin-left: 5px; }
				.owl-carousel .owl-nav button.owl-next { width: 35px; height: 35px; }
				.airport-section__carousel .owl-nav button.owl-next {margin-right: 220px;}
				.airline-partners .nav li a.nav-link{font-size: 1rem;font-weight: 600 !important;}
				.banner_stats{}
.section-main__stats .row .col-4 { padding-right: 10px; padding-left: 10px; }
.section-main__stats{bottom: 30px;}
}
@media (max-width: 576px){
.airport-section__carousel .owl-nav button.owl-next { margin-right: 60px; }
.airport-section__carousel .item p{min-height: auto;}
.airport-section__carousel .item a div { top: 50% !important; transform: translateY(-50%); transition: ease all 0.6s; }
	.bannercontent p { font-size: 11px; line-height: 14px;padding-top: 7px;}
	.ceo_thumb{/*min-height: 530px;*/}
	.btn.btn-menu{top: 3px;}
	.navbar-brand-first li:first-child{line-height: 16px;font-size: 13px;}
	.navPanel .navbar-brand img { width: 100%; max-width: 100px; }
	.navbar-brand-first li{line-height: 17px;}
	.navbar-brand-first{font-size: 0.9rem; line-height: 16px;top: 6px !important;}
	.airport-section__carousel-4item, .airport-section__carousel-3item{width: calc(100% - 120px);}
	.airport-section__carousel-4item .owl-stage-outer, .airport-section__carousel-3item  .owl-stage-outer{overflow:unset;}
	.airport-section__carousel .item, .airport-section__carousel .filter_inner{background: #000;}
	.airport-section__carousel .owl-item img{opacity:0.3;}
	.airport-section__carousel .owl-item.active img{opacity:1;}
	.sidebar_cta ul li span a { font-size: 0.8rem; }
	.sidebar_cta{}
	.sidebar_cta li{width: 32%; display: inline-block;text-align: center;}
	.sidebar_cta ul li span{}
	.sidebar_cta ul li span a{font-size:0.7rem;}
	.feedback-content__cargo_sp{min-height: 400px;}
                .navbar-brand__middle a{padding: 0.7rem 0rem;}
                .flight-schedule .container{padding: 0px;margin-top: 0rem;}
                .d-md-search #search-toggle li{padding: 8px 10px;}
                .topNavBtn {padding: 12px 0px;}
				.homeslider-other .owl-dots{width: 100%;}
                .homeslider-other .owl-dots:before{content:"";width: 50px; height: 1px;display:inline-block;position: relative; top: -5px; margin-bottom: 0px;margin-right: 1rem;}
                .homeslider-other .owl-dots:after{content:"";width: 50px; height: 1px;display:inline-block;position: relative; top: -5px; margin-bottom: 0px;margin-left: 1rem;}
                .chairperson-section .bg-images img, .heroesatwork .bg-images img{}
                .homeslider .owl-item .item{height: 120vw;}
                .b-o-director{height: auto;}
                .BOD .col{-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
                .homeslider{height: 120vw;}
                .hmBusPort{display:none;}
                .mainmenu .navbar-toggler{top: 5px;}
                .hmBusPort .busBox{display:none !important;}
                #other-ventures .owl-nav{top: 30%;}
                .navbar-light .navbar-brand{padding-top: 5px;padding-bottom: 10px;}
                }
                .panelBox{height: auto;}
.enquiryBtn{display:none;}
                .homepage .mainBanner {height: 200px;}
                .navbar-brand img, .navbar-brand svg{max-width:130px;padding: 0px 0px;}
                .navbar-brand{}
                .row.navTilesWrapper{display:block;}
                .col.navTile{width:100%;border-bottom:1px solid rgba(226,226,226,0.2)}
                .navTile a:hover{background:rgba(0,0,0,0.2);}
                .customerCare .phoneIcon{display:none;}
.navPanel>.container{}
.sticky-header .navbar-light .navbar-brand img{max-width: 100px;transition: ease all 0.3s;}
.navbar-light .navbar-brand{padding-left:0px;}
.navbar-light .navbar-toggler{margin-right:0px;padding-right:0px;}
.btm-floating p img{width: 30px; top: 12px;}
	.btm-floating p span{font-size: 10px;}
.btm-floating p { padding-left: 30px !important; padding: 15px 0px; }
                
                
}
@media (max-width: 480px){
	.ceo_thumb{min-height: 430px;}
	.navbar-brand-first li:first-child{line-height: 12px;font-size: 10px;padding-right: 0.3rem;}
	.navPanel .navbar-brand img { width: 100%; max-width: 60px; }
	.navbar-brand-first li{line-height: 11px; font-size: 8px;padding-left: 0.3rem;}
	.navbar-brand-first{font-size: 0.7rem; line-height: 16px;top: 5px !important;}
                
                .d-md-search #search-toggle li{padding: 8px 10px;}
                .topNavBtn {padding: 10px 0px;}
                .business-box .business-content{width: 100px;}
                .download-links{margin-left:0;}
                .download-links img {max-height: 15px;}
                .download-links li a{padding-left:2px;}
                .social-links{margin-right:3px;}
                .social-links li a{}
                .quick-links li a{padding:0 3px;}
                .communityTile .tileCnt{width:100%;}
                .serviceTile .serviceIcon{display:table-cell;vertical-align:top;height:75px;overflow:hidden;}
                .serviceTile .serviceDetails{display:table-cell;vertical-align:middle;padding-left:1rem;padding-top:0;}
                .owl-carousel .owl-nav button.owl-prev{margin-left:0px;width: 30px;height: 30px;opacity:0.7;}
                .owl-carousel .owl-nav button.owl-next{margin-right:0px;width: 30px;height: 30px;opacity:0.7;}
                .b-tabs .nav-item{width:50%;}
.airport-section__carousel-4item, .airport-section__carousel-3item{}
}
@media (max-width: 400px){
	.airport-section__carousel-4item, .airport-section__carousel-3item{width: calc(100% - 50px);}
	.navbar-brand-first li:first-child{line-height: 12px;font-size: 10px;padding-right: 0.3rem;}
	.navPanel .navbar-brand img { width: 100%; max-width: 60px; }
	.navbar-brand-first li{line-height: 11px; font-size: 8px;padding-left: 0.3rem;}
	.sidebar_cta ul li span a { font-size: 0.7rem; }
               
                .topNavBtn {padding: 6px 0px;}
                .d-md-search #search-toggle li{padding: 8px 10px;}
}
@media (max-width: 340px){
                .topNavBtn {padding: 5px 0px;}
                .quick-links{margin-right:2px;}
}