.celebration .airport-section__carousel-4item {
  width: 100%;
}

.celebration .airport-section__carousel .item img{
  opacity: 1;
}


.celebration-banner{
  padding: 0px;
  height: 100%;
  position: relative;
}

.celebration .item-video {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  background-color: #000;
}

.celebration .item-video video {
  width: 100%;
}
.celebration .item-video button {
  position: absolute;
  width: 100%;
  padding: 5vh 5vw;
  height: 40vh;
}

.celebration .item-video h5{
  color: #fff;
  position: absolute;
  padding: 32px 0 0 32px;
  width: 100%;
  font-size: 22px;
  background-color: #0000005e;
}

.celebration .item-video button span {
  background-image: url(../images/AirportCorporate/play.webp);
  background-size: contain;
  padding: 2.5rem;
  background-repeat: no-repeat;
}

.banner-text {
    position: absolute;
    bottom: 2rem;
    right: 0;
    left: 0;
    color: #fff;
    text-align: center;
    padding: 0 6rem;
}

.banner-text h4 {
  font-size: 1.25rem;
}

.banner-text a {
  background-color:#fff;
  padding: 13px 20px;
  font-size: 16px;
  margin: 18px 0;
  text-decoration: none;
  color : #222;
  font-weight: 600;
}
@media screen and (min-width: 576px) {
  #GateToGr8Button{
	margin: 0px 0;
  } 
}
@media screen and (max-width: 576px) {
  #GateToGr8Button{
	margin: -13px 0;
  } 
}
.banner-text a:hover{
  color : #000;
}

@media screen and (max-width: 991px) {
  .banner-text h4 {
    font-size: 1.25rem;
  } 
}

@media screen and (min-width : 767px) {
  .celebration .airport-section__carousel .owl-nav button.owl-next {
    margin-right: -25px;
  }
  .celebration .airport-section__carousel .owl-nav button.owl-prev {
    margin-left: -25px;
  }
}

@media screen and (max-width : 767px) {
	.owl-video-carousel .owl-stage{padding-left:0px !important;}
  .celebration .airport-section__carousel .owl-nav button.owl-next {
    margin-right: 60px;
  }
  .banner-text {
    padding: 0 3rem;
    margin-bottom: 20px;
  }
  .banner-text h4 {
    font-size: 1rem;
    line-height: 1.56rem;
  }
}
@media screen and (max-width: 600px) {
 
  .celebration .airport-section__carousel .item a div{
    top : 100% !important;
  }
  .celebration .airport-section__carousel .item a:hover div{
    top : 50% !important;
  }
}
.celebration .item-video button{box-shadow: 0px 0px 0px 0px #000; outline: 0;}
