@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
}

@if (contextItem != null)
{
    <div class="col s12 l8 offset-l1 section-container">
        <header class="help-support section-header">
            <h2>@Html.Raw(contextItem["Title"])</h2>
            <p>@Html.Raw(contextItem["Body"])</p>

            @Html.Raw(contextItem["Summary"])
        </header>
        
        @Html.Sitecore().Placeholder("page-contentbox")
    </div>
}