
@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
}
<div class="col s12 l8 offset-l1">
    <section class="section-wrapper">
        <header class="section-header">
            <h1>@Html.Raw(contextItem["Title"])</h1>
            <p>@Html.Raw(contextItem["Body"])</p>
        </header>
        <div class="section-wrapper custom_accrdion rounded">
            @Html.Sitecore().Placeholder("page-Billing")
        </div>
    </section>
    @Html.Sitecore().Placeholder("page-BillingAccordian")
</div>
