@model Sitecore.Feature.Accounts.Models.SwitchAccount
<div class="card-with-form">
    <div class="input-field custom double-icon-field">
        <i class="vi-new-connection"></i>
        <i class="i-arrow-d search-dropdown-trigger"></i>
        <input type="number" data-content="CA Number" maxlength="9" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="autocomplete" value="@Model.MasterAccountNumber">
        <label class="active">CA Number</label>
        <ul class="autocomplete-content dropdown-content">
            @if (Model.SwitchAccountList != null && Model.SwitchAccountList.Any())
            {
                foreach (var item in Model.SwitchAccountList)
                {
                    if (item.AccountNumber == Model.MasterAccountNumber)
                    {
                        <li class="active" href="javascript:void(0)">@item.AccountNumber</li>
                    }
                    else
                    {
                        <li onclick="UDSwitchInternalAccount(this);" data-itemId="@item.AccountItemId" href="javascript:void(0)">@item.AccountNumber</li>
                    }
                }
            }
        </ul>
    </div>
</div>
