@using Sitecore.Feature.Accounts.SessionHelper

@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var info = Session.GetAndRemove("UpdateMessage") as Sitecore.Foundation.Alerts.Models.InfoMessage;
    if (info != null)
    {
        Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageViewElectricityRevamp, info);
    }


    var toast = Session.GetAndRemove("UpdateRevampMessage") as Sitecore.Foundation.Alerts.Models.InfoMessageRevamp;
    if (toast != null)
    {
        Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageViewRevamp, toast);
    }
}
<div class="row">
    <div class="col s12 m3 sticky-sidebar">
        @*<div class="container">

            </div>*@


        @Html.Sitecore().Placeholder("page-leftpanel")


    </div>
    @Html.Sitecore().Placeholder("page-maincontent")
</div>
@Html.Sitecore().Placeholder("page-quicklinkfooter")