<div class="check-details">
    <ul>
        <li>
            <a href="javascript:void(0)">
                <i class="vi-check-usage"></i>
                <aside>
                    <h5>Check Usage</h5>
                    <p>View your electricity consumption</p>
                </aside>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <i class="vi-service-request"></i>
                <aside>
                    <h5>Tariff Details</h5>
                    <p>Know more about electricity tariffs</p>
                </aside>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <i class="vi-bill-over-sms"></i>
                <aside>
                    <h5>Bill Over SMS</h5>
                    <p>Get your bills over SMS</p>
                </aside>
            </a>
        </li>
    </ul>
</div>
