@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.Project.Marathon
<section class="inner-banner">
    @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image,0,0,"img-responsive w-100")
</section>
<div class="pageheading">
    <div class="container flex">
        <h1> @Html.Sitecore().Field(Templates.HasMedia.Fields.Title)</h1>
    </div>
</div>




