@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@model Sitecore.Mvc.Presentation.RenderingModel



<section class="sponsership-btn-section">
    <div class="container">
        <!-- <a href="/About/About Adani Group" class="btn form-btn">Know About Adani Group</a> -->
        
        <div id="sponsership-form" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div role="form" class="wpcf7" id="wpcf7-f112-p14-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                          @Html.Sitecore().Placeholder("sponsership")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
