@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@model Sitecore.Mvc.Presentation.RenderingModel

<section class="inner-banner test">
    @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image,0,0,"img-responsive w-100")
</section>
<div class="pageheading">
    <div class="container flex">
        <h1>
            @Html.Sitecore().Field(Templates.HasMedia.Fields.Title)
        </h1>
    </div>
</div>
<section class="adani-realty whitebg">
    <div class="container">
        @Html.Sitecore().Field(Templates.HasMedia.Fields.Description)

    </div>
</section>

