@using Sitecore.Project.Marathon
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
 @{
 var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
     var vidlist = Sitecore.Context.Database.GetItem(datasource);

 }

<section class="sixth-section" style="background-image: url(../../Images/Marathon/hightlight-bg.png);">

    <div class="container">

       
        @foreach (var vid in vidlist.Children.ToList())
        {
        <h2>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, vid)</h2>
        <div class="highlight-video-container row">

            <div class="col-md-6">

                <div class="iframe-wrapper youtubeVideo" style="background-image: url(../../Images/Marathon/highlights.jpg)">

                    @{
                    Sitecore.Data.Fields.LinkField linkField = @vid.Fields[Templates.HasMediaVideo.Fields.VideoLink];
                    var NavigateUrl = linkField.Url;
                    }
                    <iframe src=@NavigateUrl frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="video"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, vid)
            </div>
        </div>
        }
    </div>
</section>

