@using Sitecore.Project.Marathon
@using Sitecore.Presentation
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
var HighlightsBannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Sitemap-image"];
}

<section class="inner-banner" style="background-image: url(@HighlightsBannerImage)">
    @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image)
</section>
<div class="pageheading">
    <div class="container flex">
        <h1>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title)</h1>
    </div>
</div>