@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var HighlightsBannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["banner-image"];
}


<section class="inner-banner" style="background-image: url(@HighlightsBannerImage)"></section>
<div class="pageheading">
    <div class="container flex">
        <h1>@Html.Sitecore().Field("Title")</h1>
        <div id="countdown-timer"></div>
    </div>
</div>


