@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var startItem = Sitecore.Context.Site.HostName;
    var headerTop = Sitecore.Context.Database.GetItem("{4689E38C-F203-4BA5-A13B-441A5E240F2F}");
}

<div class="menu-mobile-overlay"></div>
<div class="header-primary">
    <div class="menu-trigger"><span></span></div>
    <div class="header-top-links">
        @Html.Sitecore().Field("Body", headerTop)
        @Html.Sitecore().Placeholder("right-header-top")
    </div>
    @Html.Sitecore().Placeholder("navbar")

</div>
<div class="header-logo">
    @if (startItem != null && startItem.ToLower().Contains("mumbai"))
    {
        <a href="/">
            <img alt="" src="-/media/84F19AE0E3E14312862C32B524BD99E0.ashx" />
            <span class="skew-bg"><span></span></span>
        </a>
    }
    else
    {
        <a href="/">
            <img alt="" src="-/media/8C32BA80FFB945DBA6468C03E1609895.ashx" />
            <span class="skew-bg"><span></span></span>
        </a>
    }
</div>
<div class="shantigram-logo hidden-sm hidden-xs">
    <a href="#" target="_blank">
        <img alt="" src="-/media/1A712213A0F84544A90951BB079D2912.ashx" />
        <span class="skew-bg"><span></span></span>
    </a>
</div>

