@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@{
var HighlightsBannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Sitemap-image"];
}

<section class="inner-banner">
<img src="@HighlightsBannerImage" style="width: 100%"/>
</section>
<div class="pageheading media-page-heading">
    <div class="container flex">

        <h1>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title)</h1>
        <form class="select-year beforescew" method="get">
            <div class="form-group flex">
                @Html.Sitecore().Field(Templates.HasMedia.Fields.Description)
            </div>
        </form>
    </div>
</div>
