<div class="footer-form-section flex">
    <div class="footer-form-thumbnail" style="background-image: url('../../../Images/Marathon/footer-form.png');">
    </div>
    <div class="footer-form-wrapper" id="IdContactUs">
        <div role="form" class="wpcf7" id="wpcf7-f66-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response"></div>
            @Html.Sitecore().Placeholder("contactform")
        </div>
    </div>
</div>
