@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkfield = model.Fields[Templates.Navigable.Fields.Link];
}
<div class="footer-bottom-links">
   <div class="row">
    <div class="col-sm-5">
        <p> @Html.Sitecore().Field(Templates.LinkMenu.Fields.Heading)</p>
    </div>
    <div class="col-sm-7 text-right">
        <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
                @foreach (var item in model.GetChildren().ToList())
                {
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item">
                    @Html.Sitecore().BeginField("Link", item, new { haschildren = true })
                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item)
                    @Html.Sitecore().EndField()
                </li>
                }

            </ul>
        </div>
    </div>
</div>
    </div>


