@{
	string ph=Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["training-run-form"];
	
}

<section class="breadcrumb-sub-layout bg-gray py-5" style="padding-top: 100px !important;padding-bottom: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">					
					<h1>Promo Run</h1>
					<p />
				</div>
			</div>
		</div>
	</section><!-- /Breadcrumb -->
<section class="bg-gray py-5 multi-step-form ">
    <div class="container">
	<h2>Register Now</h2>
    @Html.Sitecore().Placeholder("promo-run-form")
    </div>
</section>

@if(ph == "training-run-form")
{
	<section class="bg-gray py-5 multi-step-form">
    <div class="container">
	<h2>Register Now</h2>
    @Html.Sitecore().Placeholder("training-run-form")
    </div>
</section>
}


