@using Sitecore.Mvc
@{
	var imageUrl="#";
	var alt="";
	var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
	var item = Sitecore.Context.Database.GetItem(datasource);
	Sitecore.Data.Fields.ImageField  Image = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
    if (Image != null && Image.MediaItem != null)
    {
        imageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(Image.MediaItem);
        alt = Image.Alt;
    }
}
<section class="sponsership-btn-section">
    
        


        @Html.Sitecore().Field("MediaDescription",item)



    
</section>