@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon

@using Sitecore.Mvc.Presentation
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
	var IconImg = "";
	var IconImgAlt = "";
}

	<div class="container">
		<h2 style="color: #fff;">@Html.Sitecore().Field("Title", model)</h2>
		<div class="rows charity">
		@foreach(var child in model.GetChildren().ToList())
		{
			
			Sitecore.Data.Fields.ImageField IconImage = ((Sitecore.Data.Fields.ImageField)child.Fields["Image"]);
			if(IconImage != null && IconImage.MediaItem != null){
				IconImg = Sitecore.Resources.Media.MediaManager.GetMediaUrl(IconImage.MediaItem);
				IconImgAlt = IconImage.Alt;
			}
			<div class="cards col-md-2">
				<img src="@IconImg" alt="@IconImgAlt" height="60" width="60"/>
				<h6  style="color: #fff;"> @Html.Sitecore().Field("Title", child)</h6>
				
			</div>
		}
		</div>
	</div>


