@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@{
var HighlightsBannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Sitemap-image"];
}


<!--
    <a href="https://new.splitsecondpix.com/events/adani-ahmedabad-marathon-2018" target="_blank">
        <section class="inner-banner" style="background-image: url(@HighlightsBannerImage)">
            @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image)
        </section>
    </a>
	-->
	
	<section class="inner-banner" style="background-image: url(@HighlightsBannerImage)">
            @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image)
        </section>

    <section style="
    background: #b13d8c;
    background: -moz-linear-gradient(45deg,#b13d8c 0,#e54f39 100%);
    background: -webkit-linear-gradient(
45deg,#b13d8c 0,#e54f39 100%);
    background: linear-gradient(
45deg,#b13d8c 0,#e54f39 100%);
    color: #fff;
">
        <div class="container">
            @Html.Sitecore().Field(Templates.HasMedia.Fields.Description)

        </div>
    </section>


