
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var i = 1; var j = 1;
var HighlightsBannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Sitemap-image"];

}

<section class="inner-banner" style="background-image: url(@HighlightsBannerImage)">
    @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image)
</section>
<div class="pageheading">
    <div class="container flex">
        <h1>Race Director</h1>
    </div>
</div>

