@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
	var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
	var NavigateUrl = "#";
}
<section class="first-section">
    <div class="container mobilesoldiers flex flex-wrap" style="margin-top: 14px;">
		
			<div class="first-section-thumbnail videoMargin" >
			@{
				Sitecore.Data.Fields.LinkField linkField = model.Fields["VideoLink"];
				if(linkField != null) 
				{ 
					NavigateUrl = linkField.GetFriendlyUrl(); 					 
				}
			}
			
				<video src="@NavigateUrl" loop="" muted="" autoplay="" playsinline="" style="width:100%;"></video>
			</div>


			@Html.Sitecore().Field("Summary")
    </div>
	<div class="container flex flex-wrap">
	@Html.Sitecore().Field("Body")
	</div>
</section>


