@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@{
    var SitemaplinkImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Sitemap-image"];
}
<section class="inner-banner" style="background-image: url(@SitemaplinkImage)"></section>

