@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
<section class="sponsership-btn-section">
    <div class="container">
        <a href="javascript:void(0)" class="btn form-btn" data-toggle="modal" data-target="#sponsership-form">Contact Us For Sponsorship Opportunities</a>
        <div id="sponsership-form" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div role="form" class="wpcf7" id="wpcf7-f112-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            @Html.Sitecore().Placeholder("sponsership")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>