<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
     <pipelines>
        <initialize>
          <processor type="Sitecore.Farmpik.Website.Pipelines.RegisterWebApiRoutesas, Sitecore.Farmpik.Website" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true" />
        </initialize>
      </pipelines>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="Farmpik">Farmpik</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="Farmpik">Farmpik</site>
                    </sites>
                </handler>
            </event>
        </events>
        <sites>
            <site name="Farmpik" patch:after="site[@name='modules_website']" 
                  targetHostName="Farmpik.$(rootHostName)"
                  hostName = "Farmpik.$(rootHostName)"
                  database="web" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/Farmpik" 
                  startItem="/Home" 
                  dictionaryPath="/sitecore/content/Farmpik/global/dictionary" 
                  dictionaryAutoCreate="false" 
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/Farmpik"
                  domain="Farmpik" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB" 
                  formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}"
                  loginPage="/login"
                  enableItemLanguageFallback="true" />
        </sites>
        <cacheSizes>
            <sites>
				<Farmpik>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </Farmpik>
            </sites>
        </cacheSizes>
        <settings>
            <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="Farmpik" />
            </setting>
        </settings>
    </sitecore>
</configuration>