@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore
@model Sitecore.Feature.Search.Models.SearchContext
<div></div>
<form action="@Model.SearchResultsUrl" class="search_box" id="search_box">
    <div class="form-group1">
        <input type="text" name="query" placeholder="Search by keyword" autocomplete="off" />
        <input class="search_icon" value="Search" type="submit">
    </div>
</form>
