@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore
@model Sitecore.Feature.Search.Models.SearchContext



@*@*<ul class="mx-3 quick-links float-right">*@
<li>
    <form  class="d-inline-block" action="@Model.SearchResultsUrl">
        @*<div class="dropdown">
                <button type="submit" class="dropbtn"> <span class="searchIcon"><i class="fas fa-search"></i></span></button>
                <input type="search" name="query" id="searchInputBox" placeholder="Search" autocomplete="off" />
            </div>*@

        <div class="dropdown">
            <button class="dropbtn"><a href=""><span class="searchIcon"><i class="fas fa-search txt-d-blue"></i></span></a></button>
        </div>
        @*<div class="dropdown">
                <button class="dropbtn" type="submit">
                   <span class="searchIcon"><i class="fas fa-search txt-d-blue"></i></span>
                </button>
            </div>*@
    </form>
</li>
@*</ul>*@

