@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore

<ul class="quick-links float-right">
    <li class="callnow"><a href="tel:180023355555"><span><i class="fa fa-phone fa-rotate-90"></i></span><span>1800 2335 5555</span></a></li>

    @if (Sitecore.Context.User.IsAuthenticated)
    {
        <li><a href="@Html.Sitecore().Dictionary("/Accounts/Redirect URL/Logged-In","/png/png-dashboard")"><span class="userIcon"><i class="fas fa-user"></i></span></a></li>
    }
    else
    {
        <li><a href="@Html.Sitecore().Dictionary("/Accounts/Redirect URL/Login","/png")"><span class="userIcon"><i class="fas fa-user"></i></span>&nbsp;&nbsp;Sign In</a></li>
    }

</ul>

