@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="pageContent">
    <div class="container">
        <!-- Search Box-->
        <div class="searchBox">
            <div class="input-group mb-3">
                @Html.Sitecore().Placeholder("Search-Box")
            </div>
        </div>
        <!-- /Search Box -->
        <div class="py-2"></div>
        <!-- Section -->
        <div class="row">
            <!-- Left Panel -->
            <div class="col-md-4 col-lg-3">

                <nav id="sideNav">

                    <div id="dismiss" class="d-block d-md-none"><i class="fas fa-arrow-left"></i></div>
                    <div class="clearfix"></div>
                    <!-- Side Navigation -->
                    @Html.Sitecore().Placeholder("Search-Filter")
                    <!-- /Side Navigation -->
                </nav>
            </div>
            <!-- /Left Panel -->
            <!-- Main Content Panel -->

            <div class="col-md-8 col-lg-9" id="mainContent">
                <!-- Toggle button to show/hide side nav -->
                <div class="d-block d-md-none sideNavBtn">
                    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                        <i class="fas fa-align-left"></i>
                        <span>&nbsp;Search Filters</span>
                    </button>
                </div>
                <!-- /Toggle button to show/hide side nav -->
                <div class="clearfix"></div>
                <!-- Search Results-->
                <div class="searchResults">

                    @Html.Sitecore().Placeholder("Search-Result")

                </div>
                <!-- /Search Results -->
            </div>
        </div>
        <!-- /Section -->


    </div>
</div>