table {
    border-collapse: collapse;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;

}

table, td, th {
    border: 1px solid #BDBDBD;
}

th {
background-color: #D0D0D0;
    /*color: white;*/
}

