@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;

}
@if (currentItem != null)
{
    <div>
        <div class="container">
            <div class="emptyWrapper">
                <figure>
                    @Html.Sitecore().Field("Image", currentItem)
                </figure>
                <h6>@Html.Sitecore().Field("Title", currentItem)</h6>
                <p>@Html.Sitecore().Field("Description", currentItem)</p><button type="button" class="adl-button btn btn-outline-secondary btn-md">
                    @Html.Sitecore().Field("Link", currentItem)
                </button>
            </div>
        </div>
    </div>
}

