@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <section class="pt-wrap">
            <div class="d-none d-md-block">
                @Html.Sitecore().Field("Image", currentItem)
            </div>
            <div class="d-block d-md-none">
                @Html.Sitecore().Field("MobileImage", currentItem)
            </div>
    </section>
}
