@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    var currentItem = RenderingContext.Current.Rendering.Item;
    string enableGradientClass = string.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var parms = rc.Rendering.Parameters;
        enableGradientClass = parms["Notification"];
    }
}
@if (currentItem != null)
{
<div id="notification" class="@enableGradientClass d-none">
    <div class="notification notification__offers">
            <div class="content d-flex">
                <p class="text-truncate">
                    @Html.Sitecore().Field("Title", currentItem) @Html.Sitecore().Field("Description", currentItem) @Html.Sitecore().Field("SubTitle", currentItem)
                    <a href="javascript:void(0)" class="more lessBtn" onclick="notificationMore();">Less</a>
                </p>
                <a href="javascript:void(0)" class="more moreBtn" onclick="notificationMore();">More</a>
            </div>
            <a href="javascript:void(0)" class="close round-btn close_btn" onclick="removeNotification();">
                <i class="i-cross">
                </i>
            </a>
        </div>
</div>
}
