@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string divClass = RenderingContext.Current.Rendering.Parameters["classname"];
}

@if (currentItem != null)
{
<div class="airport-card mdl-heading citysec-title @divClass">
    @Html.Sitecore().Field("Text", currentItem)
</div>
}    
