@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    var currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <section class="about-adani">
        <div class="container">
            <h3>@Html.Sitecore().Field("Title", currentItem)</h3>
            <p>@Html.Sitecore().Field("Description", currentItem)</p>
            @Html.Sitecore().Field("Link", currentItem)
        </div>
    </section>
}
