@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    var currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <section class="internl_btm-content pt-wrap">
        <div class="container">
            <h1 id="airportDescription">@Html.Sitecore().Field("Title", currentItem)</h1>
            @Html.Sitecore().Field("Description", currentItem)
            <a href="javascript:void(0)" onclick="readMore(this,'readMoreFlightDetail','airportDescription')" class="black_link" auto_id="data_href_read_more">Read More</a>
        </div>
    </section>
}
