<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="MailServer" value="SMTP.Adani.com" />
      <!--  MAIL SERVER USER
            If the SMTP server requires login, enter the user name in this setting
      -->
      <setting name="MailServerUserName" value="digital.apps@adani.com" />
      <!--  MAIL SERVER PASSWORD
            If the SMTP server requires login, enter the password in this setting
      -->
      <setting name="MailServerPassword" value="AdaniIndia#01" />
      <!--  MAIL SERVER PORT
            If the SMTP server requires a custom port number, enter the value in this setting.
            The default value is: 25 -->
      <setting name="MailServerPort" value="25" />
      <setting name="MailServerUseSsl" value="false" />
    </settings>
    <exm>
      <eds>
        <!-- SMTP SETTINGS OBJECT Creates SMTP settings class.-->
		  <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
			  <server>SMTP.Adani.com</server>
			  <port>25</port>
			  <userName>digital.apps@adani.com</userName>
			  <password>AdaniIndia#01</password>
			  <authenticationMethod>Login</authenticationMethod>
			  <startTls>true</startTls>
			  <proxySettings ref="exm/eds/proxySettings" />
		  </smtpSettings>
      </eds>
    </exm>
    <customHandlers>
      <handler trigger="sitemap.xml" handler="sitemap.ashx" />
      <handler trigger="robots.txt" handler="robots.ashx" />
    </customHandlers>
  </sitecore>
</configuration>