  <footer class="pt-4 pt-lg-5 bg-grey position-relative d-block">
<div class="container">
  @Html.Sitecore().Rendering("{7D892C5D-CA4A-45B1-B4A7-F36C6EBA901F}")  
</div>
@Html.Sitecore().Rendering("{CED92CDB-9F36-4283-8C28-15D1450DBCA0}")
</footer>