@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel



<section class="bg-gray">

    <div class="container">
        <div class="row">

            @Html.Sitecore().Placeholder("News-Update")



            <div class="col-lg-8 mb-3">

                @Html.Sitecore().Placeholder("Ceo-Message")




            </div>
        </div>
    </div>
</section><!--/News & CEO-->
