@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="container">
    <!-- Toggle button to show/hide side top menu -->
    <div class="d-block d-lg-none topNavBtn">
        <button type="button" id="topNavCollapse" class="btn btn-menu">
            <i class="fas fa-align-justify"></i>
        </button>
    </div>
    <!-- /Toggle button to show/hide top menu -->
    <div class="row justify-content-center">
        @Html.Sitecore().Placeholder("left-header-top")
        <div class="col-auto ml-auto col-lg-7 topRight">
            <div class="" id="topMenu">
                <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
                <ul class="social-links float-right">
                    @Html.Sitecore().Placeholder("right-header-top")
                </ul>
                <ul class="mx-3 quick-links float-right">
                    <li class="topSearch"><a href="#"><span class="searchIcon"><i class="fas fa-search"></i></span><span class="searchTxt">&nbsp;&nbsp;Search</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>


