<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5">
                @Html.Sitecore().Placeholder("Chairman-Corner")
            </div>
            <div class="col-lg-4 mb-5">
                @Html.Sitecore().Placeholder("Executive-Speeches")
              
            </div>
        </div>
    </div>
</section>