@using Sitecore.Data
@using Sitecore.Adani.Website
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkfield = models.Fields[Templates.Navigable.Fields.Link];
}



    <div class="container">
        <div class="row footerPanel2">
            <div class="col-md-3 ft-submenu col-6 d-md-block d-none">
                <h5>@Html.Sitecore().Fielzz@Html.Sitecore().Field(Templates.LinkMenu.Fields.Heading, model)</h5>
                <ul class="ft-business">

                    @foreach (var item in models.GetChildren().ToList())
                    {
                        <li>
                            @Html.Sitecore().BeginField("Link", item, new { haschildren = true })
                            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item)
                            @Html.Sitecore().EndField()
                        </li>
                    }
                    </ul>
                <p class="viewall">+ View All</p>
            </div>
          
            <div class="col-md-2 col-6 d-md-block d-none">
                <div>
                    <h5><a href="">About us</a></h5>
                    <h5><a href="">Sports</a></h5>
                    <h5><a href="">Blog</a></h5>
                    <h5><a href="">Contact us</a></h5>

                </div>
            </div>
           
            
            <div class="col-md-4">
                <div class="row border-left ft-logo">
                    <div class="col-sm-12 mb-3 text-center">
                        <ul class="ft-social">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-youtube"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 text-center">
                        <ul class="terms-link d-md-none">
                            <li class="d-inline-block"><a href="" class="txt-blue">Privacy Policy</a></li>
                            <li class="d-inline-block"><a href="" class="txt-blue">Legal Disclaimer</a></li>
                            <li class="d-inline-block"><a href="" class="txt-blue">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <img src="images/growth-adani-logo.jpg" class="img-fluid">
                    </div>
                    <div class="col-sm-12 d-md-none mb-3">
                        <p class="sitemap-link bg-gradient d-block p-2">Sitemap<i class="fa fa-angle-down"></i></p>
                    </div>
                    <div class="col-sm-12 d-none ft-mobilemenu">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="text-center"><a href="">Business</a></h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="text-center"><a href="">Sustainability</a></h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="text-center"><a href="">About</a></h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="text-center"><a href="">Sports</a></h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="text-center"><a href="">Blog</a></h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="text-center"><a href="">Contact Us</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerBtmPanel mt-3 py-2">
        <div class="container">
            <div class="row row-grid align-items-end ftrBtmInner">
                <div class="col-12 col-md-auto text-center text-md-left">
                    <div class="d-none d-md-block">© 2019 Adani Group</div>
                </div>
                <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                    <div class="footerMenu">
                        <ul class="ft-policy-links">
                            <li>
                                <a href="/en/privacy-policy">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="/en/disclaimer">
                                    Legal Disclaimer
                                </a>
                            </li>
                            <li>
                                <a href="/en/terms-and-conditions">
                                    Terms &amp; Conditions
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
