<section class="bg-gray py-5 about-apsez loadmore-content">
<div class="container">
<div class="row">
<div class="col-lg-12">
<h2 class="heading pl-4 mb-3">Growth with Sustainability</h2>
<p class="mb-3 pl-4 d-block">Helping India meet its energy needs while minimising the impact on the environment is a crucial challenge. Our environment protection initiatives aim to help curb the dangers of eroding landscapes and convert them into fertile, greener blankets of land. An exemplary achievement in this regard is the revival of ecologically sensitive areas such as Mundra, where we have conserved and extended mangrove afforestation.
</p>
<p class="mb-3 pl-4 d-block">We were the first power company in India to use 'supercritical' technology to reduce CO2 emissions, an initiative that won us the Clean Development Certification from the United Nations Framework Convention on Climate Change (UNFCCC). In addition, we operate one of the largest solar power projects in India. We are at the forefront when it comes to improving efficiency and reducing waste.</p>
</div>

</div>
</div>
</section><!--/About Sustainability-->
