@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel


<div class="row">
    <div class="col-sm-10">
        <!-- Toggle button to show/hide side top menu -->
        <div class="d-block d-lg-none topNavBtn">

            <button type="button" id="topNavCollapse" class="btn btn-menu">
                <!--<i class="fas fa-align-justify"></i>-->
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <!-- /Toggle button to show/hide top menu -->
        @*<div class="pl-5" id="topMenu">
                <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
                <div class="clearfix"></div>
                <ul class="topMenu">
                    <li><a href="">Investor</a></li>
                    <li><a href="">Media</a></li>
                    <li><a href="">Career</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>*@
        @Html.Sitecore().Placeholder("left-header-top")
    </div>
    <div class="col-sm-2">
        <div class="row">
            <div class="col-sm-6 text-left"><p class="searchIcon"><a href="#"><span><i class="fas fa-search"></i></span></a></p></div>
            <div class="col-sm-6 text-left"></div>
        </div>
    </div>
</div>


@*<div class="container">
        <!-- Toggle button to show/hide side top menu -->
        <div class="d-block d-lg-none topNavBtn">
            <button type="button" id="topNavCollapse" class="btn btn-menu">
                <i class="fas fa-align-justify"></i>
            </button>
        </div>
        <!-- /Toggle button to show/hide top menu -->
        <div class="row justify-content-center">

            <div class="col-auto ml-auto col-lg-7 topRight">
                <div class="" id="topMenu">
                    <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
                    <ul class="social-links float-right">
                        @Html.Sitecore().Placeholder("right-header-top")
                    </ul>
                    <ul class="mx-3 quick-links float-right">
                        <li class="topSearch"><a href="#"><span class="searchIcon"><i class="fas fa-search"></i></span><span class="searchTxt">&nbsp;&nbsp;Search</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>*@





