<section class="bg-gray section_padding position-relative z-index">
	<div class="container">
		<div class="row">
		<div class="col-lg-4  mb-lg-0 mb-4" data-aos="fade-right">
			@Html.Sitecore().Placeholder("newsroom-home")
		</div>
		<div class="col-lg-8">
			@Html.Sitecore().Placeholder("chairman-section")
		</div>
	</div>
	</div>
</section>
