@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="navPanel">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            @Html.Sitecore().Placeholder("top-logo")
            <div class="collapse navbar-collapse" id="mainMenu">
                @Html.Sitecore().Placeholder("top-menu")
            </div>
        </nav>
    </div>
</div>