
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    
}


<section class=".airo py-5 section-services bg-gray celebration">
      <div class="container">
         <div class="d-lg-block d-none">
            <div class="owl-carousel airport-section__carousel owl-video-carousel">
				<div class="item-video">
                    <h5>#OneNationBillionCelebrations | Merry Christmas and a happy new year </h5>
                    <video>
                        <source src="https://adanistagesa.blob.core.windows.net/adanidotcom/OneNationBillionCelebrations-%20Merry%20Christmas%20and%20Happy%20New%20Year.mp4" type='video/mp4' />
                    </video>
                    <button class="btn btn-default" onclick="playVideo(this);">
                        <span></span>
                    </button>
                </div>
				<div class="item-video">
                    <h5>Christmas Celebrations at CSMIA | #OneNationBillionCelebrations</h5>
                    <video>
                        <source src="https://adanistagesa.blob.core.windows.net/adanidotcom/Christmas%20Celebrations%20at%20CSMIA%20_%20%23OneNationBillionCelebrations.mp4" type='video/mp4' />
                    </video>
                    <button class="btn btn-default" onclick="playVideo(this);">
                        <span></span>
                    </button>
                </div>
				<div class="item-video">
                    <h5>#OneNationBillionCelebrations | Merry Christmas</h5>
                    <video>
                        <source src="https://adanidotcom.azureedge.net/ONBC%20TESTIMONIAL%201.mp4" type='video/mp4' />
                    </video>
                    <button class="btn btn-default" onclick="playVideo(this);">
                        <span></span>
                    </button>
                </div>
               <div class="item-video">
                  <h5>Passengers enjoying Christmas decor</h5>
                  <video>
                     <source
                        src="https://adanidotcom.azureedge.net/videoplayback%20(1).mp4"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
               <div class="item-video">
                  <h5>Spreading the festive cheer</h5>
                  <video>
                     <source
                        src="https://adanidotcom.azureedge.net/videoplayback.mp4"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
			   <div class="item-video">
                  <h5>Merry Christmas, merry passengers</h5>
                  <video>
                     <source
                        src="https://adanidotcom.azureedge.net/videoplayback2.mp4"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
            </div>
         </div>
         <div class="d-lg-none d-block">
            <div class="owl-carousel airport-section__carousel owl-video-carousel">
				<div class="item-video">
                    <h5>#OneNationBillionCelebrations | Merry Christmas and a happy new year</h5>
                    <video>
                        <source src="https://adanistagesa.blob.core.windows.net/adanidotcom/OneNationBillionCelebrations-%20Merry%20Christmas%20and%20Happy%20New%20Year.mp4" type='video/mp4' />
                    </video>
                    <button class="btn btn-default" onclick="playVideo(this);">
                        <span></span>
                    </button>
                </div>
				<div class="item-video">
                    <h5>Christmas Celebrations at CSMIA | #OneNationBillionCelebrations</h5>
                    <video>
                        <source src="https://adanistagesa.blob.core.windows.net/adanidotcom/Christmas%20Celebrations%20at%20CSMIA%20_%20%23OneNationBillionCelebrations.mp4" type='video/mp4' />
                    </video>
                    <button class="btn btn-default" onclick="playVideo(this);">
                        <span></span>
                    </button>
                </div>
               <div class="item-video">
                    <h5>#OneNationBillionCelebrations | Merry Christmas</h5>
                    <video>
                        <source src="https://adanidotcom.azureedge.net/ONBC%20TESTIMONIAL%201.mp4" type='video/mp4' />
                    </video>
                    <button class="btn btn-default" onclick="playVideo(this);">
                        <span></span>
                    </button>
                </div>
			   <div class="item-video">
			   <h5>Passengers enjoying Christmas decor</h5>
                  <video>
                     <source
                        src="https://adanidotcom.azureedge.net/videoplayback%20(1).mp4"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
               <div class="item-video">
				<h5>Spreading the festive cheer</h5>
                  <video>
                     <source
                        src="https://adanidotcom.azureedge.net/videoplayback.mp4"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
			   <div class="item-video">
				<h5>Merry Christmas, merry passengers</h5>
                  <video>
                     <source
                        src="https://adanidotcom.azureedge.net/videoplayback2.mp4"
                        type='video/mp4' />
                  </video>
                  <button class="btn btn-default" onclick="playVideo(this);">
                     <span></span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </section>
   
   