
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var contextItem = Sitecore.Context.Item;
}


<section class="bg-gray section-business section_padding position-relative z-index" id="main-section">
	<div class="container">
		<div class="row">
		@Html.Sitecore().Field("Summary", contextItem)	
		</div>
	</div>
</section>