@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    
    var sortedItem = models.GetChildren().OrderByDescending(x => x.Fields["Blog Date"].Value);
    string linkUrl = "#";
	var i=1;

}

<section class="bg-gray section_padding-bottom section-blogs">
    <div class="container" data-aos="fade-up">
        <h2>Read our <span>Latest Blogs</span><a href="https://www.adani.com/Blogs" class="btn btn-gradient float-right">Explore All</a></h2>
        <div class="owl-carousel carousel-blog">
            @foreach (var item in sortedItem)
            {
                linkUrl = Sitecore.Links.LinkManager.GetItemUrl(item);
                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["ActiveImage"]);

                string url = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);

                <div class="item">
                    <div class="blog_main">
                        <div class="blog_main--thumb">
                            <img src="@url" loading=lazy>
                        </div>
                        <div class="blog_main--content">
                            <h3>@Html.Sitecore().Field("Blog Title", item)</h3>
                            <p>@Html.Sitecore().Field("Blog Summary", item)</p>
                            <a href="@linkUrl">Read More</a>
                        </div>
                    </div>
                </div>
				 if (i == 6)
            {
                break;
            }
            i++;
            }

        </div>
        <div class="text-center d-md-none d-block">
            <a href="https://www.adani.com/Blogs" class="btn btn-gradient">Explore All</a>
        </div>
    </div>
</section>