@using Sitecore.Mvc.Presentation
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

 Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)elements.Fields["Image"]);

    string url = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
   
}


<div class="row no-gutters h-100" data-aos="fade-left">
				<div class="col-md-6 h-md-100">
					<div class="ceo_message">
						<h3>@Html.Sitecore().Field("Title", elements)</h3>
					@Html.Sitecore().Field("Body", elements)
					</div>
				</div>
				<div class="col-md-6 h-md-100">
					<div class="ceo_thumb">
						<img src="@url" loading=lazy> 
					</div>
				</div>
			</div>