<section class="bg-gray py-5">
<div class="container">
<h2 class="heading pl-4 mb-3">Market Cap</h2>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
  {
  "width": "770",
  "height": "400",
  "symbolsGroups": [
    {
      "name": "Indices",
      "originalName": "Indices",
      "symbols": [
        {
          "name": "BSE:ADANIGREEN",
          "displayName": "Adani Green"
        },
        {
          "name": "BSE:ADANIPOWER",
          "displayName": "Adani Power"
        },
        {
          "name": "BSE:ADANIPORTS",
          "displayName": "Adani Ports"
        },
        {
          "name": "BSE:ADANIENT",
          "displayName": "Adani Enterprises"
        },
        {
          "name": "BSE:ADANITRANS",
          "displayName": "Adani Transmission"
        }
      ]
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
</div>
</section>