@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model RenderingModel
@{


    var models = Sitecore.Context.Database.Items.GetItem("{E76B38E6-4B46-429E-9712-7B0D33B7967D}");

}


<div class="footerBtmPanel mt-3 py-2">
    <div class="container">
        <div class="row row-grid align-items-end ftrBtmInner">
            <div class="col-12 col-md-auto text-center text-md-left">

                <div class="">@models.Fields["Heading"]</div>
            </div>
            <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                <div class="footerMenu">
                    <ul class="ft-policy-links">
                        @foreach (Item item in models.GetChildren())
                        {
                        Sitecore.Data.Fields.LinkField itemslinkvalues = item.Fields["Link"];
                        var itemslinks = itemslinkvalues.GetFriendlyUrl();
                        <li>
                            <a href="@itemslinks">
                                @item.Fields["NavigationTitle"]
                            </a>
                        </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
