@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@using Sitecore.AdaniCapital.Website.Helper

@{



    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

    
}

<div class="mainSlider">
<div class="d-lg-none d-block">
@foreach (var item in elements.Children.ToList())
        {
		var videourl = Helper.LinkUrl(item.Fields["MediaLink"]);
	<video autoplay="" loop="" controls="" width="100%" height="">
	<source type="video/mp4" src="@videourl">
	</video>
	}
</div>
</div>