@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var models = Sitecore.Context.Database.Items.GetItem("{91D3AA6F-B498-460C-BA3C-8BA61723C765}");
	  Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)models.Fields["BackgroundImage"]);
 string url = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
}

<div class="navPanel">
    <div class="container-fluid navtopbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">

               <img src="@url" alt="">
                
            </a>

            @Html.Sitecore().Rendering("{C417A68E-CF55-42D3-BEF2-C09FC5773A08}")
            @Html.Sitecore().Rendering("{D1F91323-7E21-4894-B42B-554AA88CCE43}")

        </nav>
    </div>
</div>