@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@using Sitecore.AdaniCapital.Website.Helper
@{
var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
var elements = Sitecore.Context.Database.GetItem(datasource);
}
<style>
   .mainSlider{margin-bottom:-7px;}
   .txt-lg{
   font-size:22px !important;}
</style>

<div class="mainSlider">
@if (Request.Browser.IsMobileDevice)
{
if (Request.Browser.ScreenPixelsWidth < 768)
{
<div class="d-lg-none d-md-none d-block" >
   
   <!-- var videourl = Helper.LinkUrl(item.Fields["MediaLink"]); -->
   <!-- <video id="belimitvideo" autoplay loop="loop" controls="" muted playsinline width="100%" height=""> -->
      <!-- <source type="video/mp4" src="https://adanidotcom.azureedge.net/belimit_mobile.mp4"> -->
   <!-- </video> -->
   <div id="belimitvideomobile"></div>
   
</div>

}
}

<div class="d-lg-block d-md-block d-none">
   @foreach (var item in elements.Children.ToList())
   {
   var videourl = Helper.LinkUrl(item.Fields["MediaLink"]);
   <!-- <video id="belimitvideo1" autoplay loop="loop" controls="" muted playsinline width="100%" height=""> -->
      <!-- <source type="video/mp4" src="@videourl"> -->
   <!-- </video> -->
   <div id="belimitvideo1"></div>
   }
</div>

</div>
