@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var contextItem = Sitecore.Context.Item;
}


<section class="growth_goodness">
		@Html.Sitecore().Field("Summary", contextItem)	
	</section>