@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;

}
<section class="section_highlights">
		<amp-carousel height="430" layout="fixed-height" type="slides" role="region" aria-label="" class="carousel-highlights">
		  
			
        @foreach (var items in elements.Children.ToList())
        {
            Sitecore.Data.Fields.ImageField imgFields = ((Sitecore.Data.Fields.ImageField)items.Fields["MediaThumbnail"]);
            string urls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgFields.MediaItem);
<div>
		<div class="section_highlights--tile">
		<button on="tap:my-lightbox"> <span class="fa fa-play"></span></button>
		<h2>Mundra</h2>
           <amp-img src="@urls" width="350" height="400" alt="a sample image" layout="responsive"></amp-img>
            <div class="overlay_content">
                <div>
                    @Html.Sitecore().Field("MediaDescription", items)
                </div>
            </div>
			</div>
			</div>
            
        }


    </amp-carousel>
	<amp-lightbox id="my-lightbox" layout="nodisplay">
      <div class="lightbox" on="tap:my-lightbox.close" role="button" tabindex="0">
		<div>
		<amp-video width="480" height="270" src="https://adanidotcom.azureedge.net/Businesses_Banner.mp4" poster="https://stage.adaniuat.com/-/media/6859888403DA41EB9E362477D052A5CF.webp" layout="responsive" controls>
		  <div fallback>
			<p>Your browser doesn't support HTML5 video.</p>
		  </div>
		  <source type="video/mp4" src="https://adanidotcom.azureedge.net/Businesses_Banner.mp4">
		</amp-video>
		</div>
      </div>
    </amp-lightbox>
</section>