 <div class="site-name"><a class="navbar-brand" href="/"> <amp-img alt="" width="130"  height="44" src="-/media/BF5BC6DA751249C99B57B044DDE04D7D.ashx"> </a></div>
        <div class="global-site">
			<svg xmlns="http://www.w3.org/2000/svg" width="20.076" height="20.076" viewBox="0 0 20.076 20.076"><g transform="translate(-6.623 -6.623)"><path d="M65.5,34.349c-.31.173-.221.168-.31.173-.164.007-.759.069-.655,0a.479.479,0,0,0,.2-.242c.007-.025.017-.084,0-.1-.084-.1-.384-.038-.508-.069-.1-.025-.28-.121-.38-.138a1.307,1.307,0,0,0-.345,0c-.246.045-.828.31-.724.69s.2.529.358.586c.086.031.281-.035.366,0s.2.211.276.276a.776.776,0,0,0,.173.138c.032.012.114-.024.138,0s-.024.114,0,.138c.073.073.31,0,.414,0h1.138c.086,0,.284.061.345,0s0-.207,0-.276V35.35c0-.084-.082-.318,0-.337.035-.008.06.023.172-.129.242-.328.262-.228.242-.328-.013-.065.194-.058.242-.1s.138-.276,0-.345l-.276-.138c-.181-.09-.759-.379-.759-.276s-.034.276-.034.379S65.811,34.176,65.5,34.349Z" transform="translate(-42.354 -20.407)"></path><path d="M16.661,26.7A10.038,10.038,0,1,0,6.623,16.661,10.049,10.049,0,0,0,16.661,26.7Zm9.624-10.038c0,.219-.01.435-.025.65a2.957,2.957,0,0,0-.32.079c-.173.035,0,0-.1,0s-.152.11-.207.138a.464.464,0,0,1-.241,0,.251.251,0,0,1-.173-.207c0-.1-.276-.138-.517-.345s-.129-.259-.1-.345a.374.374,0,0,0-.035-.171c-.043-.12-.116-.431-.242-.449-.048-.007-.107.1-.138.138-.067.08-.241.345-.276.311s-.046.4,0,.517a1.229,1.229,0,0,0,.414.517c.072.035,0,0,.207.241s.158.28.242.345.372-.048.448.035.032.316,0,.414a1.839,1.839,0,0,1-.276.379c-.1.138-.161.124-.207.173-.134.144-.172.655-.207.759s-.241.966-.276,1.069a1.1,1.1,0,0,1-.138.241c-.152.246-.376.783-.517,1.035-.159.284-.621,1-.69,1.1a.506.506,0,0,1-.242.207,1.2,1.2,0,0,1-.621,0,1.165,1.165,0,0,1-.379-.483,8.122,8.122,0,0,1-.138-1.345c-.032-.2-.146-.591-.172-.792-.033-.249-.035-.793-.069-1s-.023-.16,0-.207c.062-.132-.311-.38-.415-.414s-.1-.138-.241-.276-.26-.05-.345-.035a2.192,2.192,0,0,1-.379-.035,2.059,2.059,0,0,1-.587,0c-.233-.11-.51-.581-.655-.793a2.313,2.313,0,0,1-.207-.414c-.034-.1-.1-.388-.138-.517a2.343,2.343,0,0,1-.172-.587,1.476,1.476,0,0,1,.379-.621.956.956,0,0,1,.345-.276,6.237,6.237,0,0,0,.517-.483c.379-.345,0,0,0-.172s-.111-.243-.069-.311,0,0-.138-.241-.118-.147-.172-.172c-.161-.076.241-.552.276-.655s.172,0,.379-.1.155-.006.207,0c.106.013.091-.308.1-.414a.428.428,0,0,0,0-.138.527.527,0,0,0-.172-.241c-.069-.036-.207,0-.31-.035a1.428,1.428,0,0,1-.345-.138c-.1-.069-.179-.236-.138-.311.079-.141.483-.207.587-.276s0-.207,0-.31.389-.134.517-.1a.7.7,0,0,1,.345.172c.041.066-.018.235,0,.311s.069.241.137.276c.046.024.155-.03.207-.035.037,0,0,0,.1-.1s.095-.187.138-.241a.483.483,0,0,1,.207-.1,1.994,1.994,0,0,1,.414,0c.1,0,.284.04.379.035a.577.577,0,0,0,.276-.1,4.781,4.781,0,0,0,.552-.345.609.609,0,0,0,.069-.483c-.035-.1,0-.1,0-.138-.01-.081-.2-.16-.276-.172a.545.545,0,0,0-.276.069,1.655,1.655,0,0,0-.31.379c-.04.057-.082.2-.138.241a.458.458,0,0,1-.172.035,4.276,4.276,0,0,1-.553,0c-.121-.009-.4.024-.483-.069-.016-.019,0-.054,0-.1v-.073c0-.048-.011-.078,0-.1.057-.122.341-.232.414-.345s.06-.384.138-.483c.189-.244.827-.429,1.069-.621a3.118,3.118,0,0,0,.428-.357A9.609,9.609,0,0,1,26.285,16.661ZM18.907,7.3a.168.168,0,0,1,0,.05,1.063,1.063,0,0,1-.414.483c-.173.1-.009.285,0,.38a1.325,1.325,0,0,1-.241.621c-.123.175-.553.483-.621.587a1.883,1.883,0,0,1-.31.31c-.118.1-.38.311-.483.379a1.86,1.86,0,0,0-.565.724c-.254.483-.332.4-.435.311-.148-.122-.68-.266-.621-.449.027-.084,0,0-.276-.219a.775.775,0,0,1-.242-.782c.02-.075.112-.2.138-.276.062-.167.033-.581.173-.69.079-.062,0,0-.138-.379s-.473-.246-.587-.379c-.034-.04.013-.159.035-.207a1.044,1.044,0,0,1,.172-.207c.085-.088.269-.244.353-.349a9.568,9.568,0,0,1,4.066.093ZM10.7,9.111H11a2.144,2.144,0,0,0,.586-.035,1.115,1.115,0,0,0,.38-.1c.116-.035,0,0,.483-.035s0,0,.192-.035.221-.069.325,0,.314-.029.414,0c.147.043.345.345.414.448a6.028,6.028,0,0,1,.448.621c.1.207,0,0-.242.172s-.138.138-.242.138a1.094,1.094,0,0,1-.379-.035c-.075-.037-.159-.2-.231-.241a.663.663,0,0,0-.508-.172c-.058.007-.146.1-.192.138-.072.057-.206.183-.276.241a3.818,3.818,0,0,0-.345.266c-.075.084-.173.286-.276.355s.035.356.1.449a.816.816,0,0,0,.242.241,1.126,1.126,0,0,0,.517-.069,1.7,1.7,0,0,0,.345-.138c.207-.1,0,0,.138-.1s.179-.152.252-.172a1.206,1.206,0,0,1,.576,0,1.11,1.11,0,0,1,.276.276,3.2,3.2,0,0,0,.586.621,1.346,1.346,0,0,1,.449.656.678.678,0,0,1-.1.517.964.964,0,0,1-.31.276,5.1,5.1,0,0,1-1.473.31c-.609.069-.011.241,0,.311a5.582,5.582,0,0,1-.873.724c-.31.241,0,0-.1.035s-.207.207-.31.31-.1.483-.207.552a1.89,1.89,0,0,1-.587.172h-.552a.821.821,0,0,0-.242,0,.614.614,0,0,0-.242.241.3.3,0,0,0,0,.172c.048.1.264.2.345.276a9.032,9.032,0,0,1,.725.793c.069.1.259.476.414.552a2.1,2.1,0,0,0,.69,0c.108,0,.326-.013.434,0a7.461,7.461,0,0,0,.806.138.472.472,0,0,1,.416.207.847.847,0,0,0,.484.345,1.612,1.612,0,0,1,.51.311c.174.119.662.276.766.345s.242.621.414.9.31.517.173.828.1.414,0,.517-.1.207-.379.621-.345.724-.448.759-.834.521-.725.759c.061.133,0,0-.448.379s-.38.345-.587.448-.185.486-.173.656-.026.456,0,.684c-.132-.047-.263-.1-.393-.15A3.178,3.178,0,0,0,13,25.047c-.034-.207-.414-1.759-.414-1.932s-.253-.3-.31-.414a2,2,0,0,1,0-.655,1.07,1.07,0,0,0,0-.345c-.024-.05-.133-.1-.173-.138a4.985,4.985,0,0,1-.612-.69c-.05-.079-.089-.271-.146-.345s-.271-.151-.31-.241c-.055-.127.034-.345.034-.552s.1-.241.321-.517.025-.172-.01-.276.035-.173,0-.276a2.373,2.373,0,0,0-.345-.448,3.328,3.328,0,0,0-.241-.276c-.17-.141-.577-.325-.76-.448-.153-.1-.444-.33-.586-.448a10.556,10.556,0,0,1-.793-.725c-.058-.064-.146-.215-.207-.276-.1-.1-.375-.224-.449-.345a3.054,3.054,0,0,1-.172-1c-.021-.241.023-.725,0-.966a5.389,5.389,0,0,0-.037-.813A9.669,9.669,0,0,1,10.7,9.111Z"></path></g></svg>
			<div class="search-container">
			<div class="search-container__results"> 
				 <ul>
					<li><a href="https://www.adanifoundation.org/" target="_blank">Adani Foundation </a></li>
					<li><a href="https://www.adaniports.com/" target="_blank">Adani Ports and SEZ Ltd </a></li>
					<li><a href="https://www.adanienterprises.com/" target="_blank">Adani Enterprises Ltd </a></li>
					<li><a href="https://www.adanigreenenergy.com/" target="_blank">Adani Green Energy Ltd </a></li>
					<li><a href="https://www.adanigas.com/" target="_blank">Adani Total Gas Ltd </a></li>
					<li><a href="https://www.adanitransmission.com/" target="_blank">Adani Transmission Ltd </a></li>
					<li><a href="https://www.adanipower.com/" target="_blank">Adani Power Ltd </a></li>
					<li><a href="https://adanisolar.com/" target="_blank">Adani Solar </a></li>
					<li><a href="https://www.adanirealty.com/" target="_blank">Adani Realty </a></li>
					<li><a href="https://www.adaniaustralia.com/" target="_blank">Adani Australia </a></li>
					<li><a href="https://www.adanielectricity.com/" target="_blank">Adani Electricity </a></li>
					<li><a href="https://www.adaniwilmar.com/" target="_blank">Adani Wilmar </a></li>
					<li><a href="https://www.adanidefence.com/" target="_blank">Adani Defence </a></li>
					<li><a href="https://www.adanibunkering.com/" target="_blank">Adani Bunkering </a></li>
					<li><a href="https://www.adaniagrilogistics.com/" target="_blank">Adani Agri Logistics  </a></li>
					<li><a href="https://www.farmpik.com/" target="_blank">Adani Agri Fresh </a></li>
					<li><a href="https://www.aii.ac.in/" target="_blank">Adani Institute of Infrastructure </a></li>
					<li><a href="https://www.adanividyamandir.org/" target="_blank">Adani Vidyamandir </a></li>
					<li><a href="https://www.aimsl.in/" target="_blank">AIMSL </a></li>
					<li><a href="https://www.aptri.org/" target="_blank">APTRI </a></li>
					<li><a href="http://www.gaims.ac.in/" target="_blank">GAIMS </a></li>
				 </ul> 
			 </div>
			</div>
		</div>
        <div class="search">
			<svg xmlns="http://www.w3.org/2000/svg" width="20.414" height="20.414" viewBox="0 0 20.414 20.414"><g transform="translate(-2 -2)"><circle class="a" cx="8" cy="8" r="8" transform="translate(3 3)"></circle><line class="a" x1="4.35" y1="4.35" transform="translate(16.65 16.65)"></line></g></svg>
			<div class="search-container">
				<div class="search-container__form">
					<div class="form-group mb-3 wrapper">
					  <input type="text" class="form-control" placeholder="Search" aria-label="">
						<button class="" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="19.811" height="19.811" viewBox="0 0 19.811 19.811"><defs></defs><g transform="translate(-2.25 -2.25)"><circle class="a" cx="8" cy="8" r="8" transform="translate(3 3)"></circle><line class="a" x1="4.35" y1="4.35" transform="translate(16.65 16.65)"></line></g></svg></button>
					</div>
				</div>
				<div class="search-container__results"> 
					<p>Popular Searches</p> 
					 <ul id="SearchResult"> 
						 <li><a href="">Lorem Sodem</a></li> 
						 <li><a href="">Lorem Sodem</a></li> 
						 <li><a href="">Lorem Sodem</a></li> 
						 <li><a href="">Lorem Sodem</a></li> 
						 <li><a href="">Lorem Sodem</a></li> 
						 </ul> 
				 </div>
			</div>
		</div>
		<div class="hamburger" role="button" aria-label="mobile menu" on="tap:header-sidebar.toggle" tabindex="0">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="20" viewBox="0 0 32 20"><g transform="translate(-1275.5 -39.5)"><line class="a" x2="30" transform="translate(1276.5 40.5)"/><line class="a" x2="30" transform="translate(1276.5 49.5)"/><line class="a" x2="30" transform="translate(1276.5 58.5)"/></g></svg>
        </div>