<section class=".airo py-5 section-services bg-gray celebration">
      <div class="container">
         <h2 class="mb-3 border-l pl-3 txt-lg mb-3">Our Airports</h2>
         <div class="d-lg-block d-none">
            <div class="owl-carousel airport-section__carousel ">
               <div class="item">
                  <a href="https://csmia.adaniairports.com/" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/mumbai-airport.jpg?la=en&amp;hash=EF3336B2C29C4234A2A65657EC88264E" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Mumbai</p>
                        <span>Chhatrapati Shivaji Maharaj International Airport</span>
                     </div>
                  </a>
               </div>
			   <div class="item">
                  <a  href="https://www.adani.com/svpia-ahmedabad-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/ahmedabad-airport.jpg?la=en&amp;hash=E2F61AF87F154C79BFE4B723BBFD5F01" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Ahmedabad</p>
                        <span>Sardar Vallabbhai Patel International Airport</span>
                     </div>
                  </a>
               </div>
               <div class="item">
                  <a href="https://www.adani.com/ccsia-lucknow-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/lucknow-airport.jpg?la=en&amp;hash=65EFFD24F98D4F66865B9891279199BB" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Lucknow</p>
                        <span>Chaudhary Charan Singh International Airport </span>
                     </div>
                  </a>
               </div>
			   <div class="item">
                  <a href="https://www.adani.com/mangaluru-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/mangaluru-airport.png?la=en&amp;hash=34A8597CE53F489FB438055C1A5AC90B" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Mangaluru</p>
                        <span>Mangaluru International Airport </span>
                     </div>
                  </a>
               </div>
               <div class="item">
                  <a  href="https://www.adani.com/jaipur-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/jaipur-airport.jpg?la=en&amp;hash=4DDB39F828FE4897A80B83935F5C6C7D
" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Jaipur</p>
                        <span>Jaipur International Airport</span>
                     </div>
                  </a>
               </div>
               <div class="item">
                  <a href="https://www.adani.com/lgbia-guwahati-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/guwahati-airport.jpg?la=en&amp;hash=AE711D14F9984219889439E660D4C6A9
" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Guwahati</p>
                        <span>Lokpriya Gopinath Bordoloi International Airport </span>
                     </div>
                  </a>
               </div>
               <div class="item">
                  <a href="https://www.adani.com/thiruvananthapuram-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/thiruvananthapuram-airport.jpg?la=en&amp;hash=AA0738695666498185BDA411367620ED
" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Thiruvananthapuram</p>
                        <span>Thiruvananthapuram International Airport </span>
                     </div>
                  </a>
               </div>
               
               
            </div>
         </div>
         <div class="d-lg-none d-block">
            <div class="owl-carousel airport-section__carousel ">
               <div class="item">
                  <a href="https://csmia.adaniairports.com/" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/mumbai-airport.jpg?la=en&amp;hash=EF3336B2C29C4234A2A65657EC88264E" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Mumbai</p>
                        <span>Chhatrapati Shivaji Maharaj International Airport</span>
                     </div>
                  </a>
               </div>
			   <div class="item">
                  <a  href="https://www.adani.com/svpia-ahmedabad-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/ahmedabad-airport.jpg?la=en&amp;hash=E2F61AF87F154C79BFE4B723BBFD5F01" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Ahmedabad</p>
                        <span>Sardar Vallabhbhai Patel International Airport</span>
                     </div>
                  </a>
               </div>
               <div class="item">
                  <a href="https://www.adani.com/ccsia-lucknow-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/lucknow-airport.jpg?la=en&amp;hash=65EFFD24F98D4F66865B9891279199BB" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Lucknow</p>
                        <span>Chaudhary Charan Singh International Airport </span>
                     </div>
                  </a>
               </div>
			   <div class="item">
                  <a href="https://www.adani.com/mangaluru-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/mangaluru-airport.png?la=en&amp;hash=34A8597CE53F489FB438055C1A5AC90B" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Mangaluru</p>
                        <span>Mangaluru International Airport</span>
                     </div>
                  </a>
               </div>
               <div class="item">
                  <a  href="https://www.adani.com/jaipur-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/jaipur-airport.jpg?la=en&amp;hash=4DDB39F828FE4897A80B83935F5C6C7D
" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Jaipur</p>
                        <span>Jaipur International Airport</span>
                     </div>
                  </a>
               </div>
               <div class="item">
                  <a href="https://www.adani.com/lgbia-guwahati-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/guwahati-airport.jpg?la=en&amp;hash=AE711D14F9984219889439E660D4C6A9
" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Guwahati</p>
                        <span>Lokpriya Gopinath Bordoloi International Airport </span>
                     </div>
                  </a>
               </div>
               <div class="item">
                  <a href="https://www.adani.com/thiruvananthapuram-airport" target="_blank">
                     <img src="/-/media/Project/Adani/Businesses/thiruvananthapuram-airport.jpg?la=en&amp;hash=AA0738695666498185BDA411367620ED
" class="img-fluid w-100" alt="" />
                     <div class="text-center">
                        <p>Thiruvananthapuram</p>
                        <span>Thiruvananthapuram International Airport</span>
                     </div>
                  </a>
               </div>
               
               
            </div>
         </div>
      </div>
   </section>
