@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    
}

<style>
.accordion .acc_content .info-rows ul li{list-style-type: disc;}

.covid_guideline .main-text {
    
    font-size: 16px;
    color: #222;
    line-height: 26px;
    margin-bottom: 52px;
	font-weight:400;
  }
  .covid_guideline .acc_head {
    margin-bottom: 0;
    width: 100%;
    position: relative;
    cursor: pointer;
  }
  .covid_guideline .section-title {
    margin-bottom: 0;
  }
  
  .covid_guideline .accordion-pannel .acc_head{
    display: flex;
    align-items: center;
  }
  .covid_guideline .accordion-pannel figure {
    border-radius: 10px;
    margin: 0 20px 0 0;
  }
  .covid_guideline .accordion-pannel figure img{
    border-radius: 10px;
  }
  
  .covid_guideline .accordion-pannel aside {
    padding: 0;
    flex: 1;
  }
  .covid_guideline .accordion-pannel aside h4{
    margin-bottom: 3px;
	font-weight:500;
	
  }
  .covid_guideline .accordion-pannel aside h4,
  .covid_guideline .accordion .acc_content h5 {
    
    font-size: 18px;
    color: #222 !important;
  }
  .covid_guideline li {
    font-size: 18px;
  }
  .covid_guideline .accordion-pannel aside p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #222;
  }
  .covid_guideline .accordion-pannel aside p a:hover { color:blue;}
  .covid_guideline .accordion-pannel aside p.quarantine {
    margin: 8px 0 4px 0;
  }
  
  .covid_guideline p a {
    color: #000;
    text-decoration: underline;
  }
  .covid_guideline .accordion .acc_head:after {
    left: auto;
    content: "\002B";
    top: 20px;
    right: 0;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    transform: scale(4);
    font-size: 6px;
    width: auto;
    height: auto;
  }
  .covid_guideline .accordion .acc_active .acc_head:after {
    content: "\2212";
  }
  .accordion .acc_content{
    margin-top: 52px;
    padding: 0;
  }
  .accordion-pannel .acc_content h4, .accordion-pannel .acc_content h3{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  .accordion-pannel .acc_content .info-rows h3{
    margin-bottom: 12px;
  }
  .accordion .acc_content .info-rows{
    margin-bottom: 52px;
  }
  .accordion .acc_content .info-rows:last-child{
    margin-bottom: 52px;
  }
  
  .accordion .acc_content .info-rows figure{
    width: 550px;
    margin: 0;
  }
  .accordion .acc_content .info-rows figure img{
    width: 100%;
  }
  .accordion .acc_content .info-rows .covid-contents{
    display: flex;
    flex-direction: row;
  }
  
  .accordion .acc_content .info-rows:nth-of-type(1n+2) .covid-contents{
    flex-direction: row-reverse;  
  }
  .accordion .acc_content .info-rows:nth-of-type(1n+2) h3{
    margin-bottom: 30px;
  }
  .accordion .acc_content .info-rows ul{
    flex: 1;
    margin: 0;
    padding: 0 0 0 40px;
  }
  .accordion .acc_content .info-rows ul li{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }
  .accordion .acc_content .info-rows ul li:last-child{
    margin-bottom: 0;
  }
  .accordion .acc_content .info-rows ul li ol{
    padding: 20px 0 0 30px;
    margin: 0;
    list-style: upper-roman;
  }
  
  .accordion .acc_content .info-rows ul li ol li ol{
    list-style: upper-alpha;
  }
  
  .accordion .acc_content .info-rows:nth-of-type(1n+2) ul{
    padding: 0 40px 0 20px;
  }
  .covid_guideline .accordion {
    padding-left: 0;
  }
  .covid_guideline .accordion .accordion_in {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
	padding: 20px 0px;
  }
  .covid-info h2 {
    font-size: 24px;
    color: #22252a;
    margin-bottom: 8px;
  }
  .covid-info .info-item {
    background-color: #fff;
    border: 1px solid #dbdada;
    padding: 30px;
  }
  .covid-info .information-card {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #333;
    line-height: 23px;
  }
  .covid-info .information-card aside{
    flex: 1;
    margin: 0 1rem 0 0;
  }
  .covid-info .information-card aside p{
    font-size: 14px;
    color: #333;
    line-height: 1.7;
  }
  
  .covid-info .information-card figure{
    width: 245px;
    margin: 0;
    padding: 0;
  }
  .covid-info .information-card figure img{
    max-width: 100%;
    width: 100%;
  }
  
  .covid-info .information-card button {
    display: block;
    border: 1px solid #179e96;
    padding: 7px 15px;
    margin-top: 20px;
    color: #179e96;
    font-size: 14px;
  }
  .clr-arrow {
    display: inline-block;
    background: url(../files/arrow2.png) 0 0 no-repeat;
    width: 13px;
    height: 9px;
    margin-left: 8px;
    border: none;
    transition: all ease 0.2s;
  }
@@media (max-width: 500px) {
    .covid_guideline .accordion-pannel figure{
      margin-right: 5px;
      height: 91px;
      overflow: hidden;
    }
    .accordion .acc_content{
      margin-top: 20px;
    }
    .accordion-pannel .acc_content h4, .accordion-pannel .acc_content h3, .accordion .acc_content .info-rows:nth-of-type(1n+2) h3{
      margin-bottom: 20px;
    }
    .accordion .acc_content .info-rows .covid-contents, .accordion .acc_content .info-rows:nth-of-type(1n+2) .covid-contents{
      flex-direction: column;
    }
    .covid_guideline .accordion-pannel .acc_head{
      align-items: flex-start;
    }
    .accordion .acc_content .info-rows figure{
      height: auto;
      width: 100%;
      margin-bottom: 20px;
    }
    .accordion .acc_content .info-rows ul{
      padding: 0 0 0 25px;
    }
    .accordion .acc_content .info-rows ul li ol{
      padding: 20px 0 0 25px;
    }
    .accordion .acc_content .quarantine{
      margin: 0 0 20px 0;
      font-size: 14px;
    }
  
  
    .covid-info .info-item {
      border: none;
      padding: 20px;
    }
    .covid-info {
      padding: 0;
      width: 100%;
      margin:0;
    }
    .covid-info .information-card {
      flex-direction: column-reverse;
    }
    .covid-info .information-card figure{
      width: 100%;
    }
    .covid-info .information-card aside{
      margin: 20px 0 0 0;
    }
    /* .covid-info .information-card img {
      margin-bottom: 20px;
    } */
    .covid-info h2 {
      margin-bottom: 20px;
    }
    .covid_guideline .main-text {
      font-size: 14px;
      line-height: 25px;
    }
    
    /* .covid_guideline .accordion .acc_content {
      padding-top: 20px;
    } */
    .covid_guideline .accordion-pannel aside {
      padding: 0 0 0 5px;
    }
    .covid_guideline .accordion .acc_head:after {
      top: 30px;
    }
  }
  
  .accordion_in .acc_content{
    display: none;
}
.accordion_in.acc_active .acc_content{
    display: block !important;
}
.img-wraptext { max-width: 550px;border-radius: 12px;
 }
 .quarantine b{
font-weight:600;
}
.info-rows h3{
font-weight: 600  !important;
    font-size: 18px  !important;
}

.covid-contents.d-block{min-height: 280px;}
@@media(max-width:767px){
	.img-wraptext{width:100%;}
}
.container_padding{padding: 0 15px 0 15px !important;}
@@media only screen and (min-width: 576px) {
.container_padding{padding: 0 104px 0 104px !important;}
}



.accordion .acc_content .info-rows ul li ol li{list-style-type: upper-alpha;}
.accordion .acc_content .info-rows ul li ol li ol li{list-style-type: lower-alpha;}
.read_more{display:none;font-weight:300 !important; margin: 20px 0 20px 0;}
.read_less{display:none;font-weight:300 !important; margin: 20px 0 20px 0;}
@@media only screen and (max-width: 576px) {
  .show_more_content{display:none;}
  .read_more{cursor: pointer;display:block;text-decoration:underline;color: #0D67CA;font-weight:300 !important;}
  .read_less{text-decoration:underline;cursor: pointer;font-weight:300 !important;}

  .read_less{color: #0D67CA;display:block;}
  .info-rows.show .show_more_content{display: block;}
  .info-rows.show .read_more{display: none;}
	
}
.thumbnailHW{height:111px;width:98px;}

</style>






<section class=".airo py-5 section-services bg-gray celebration">
<div class="hm-section covid_guideline">					
		<div class="container_padding p-md-5">
		<h1 class="section-title pb-5">State Wise Regulations</h1>
			<p class="main-text">As air travel resumes, amid the COVID-19 situation, there are a number of rules and regulations laid out by the state governments, for passengers arriving in their cities. Make sure to read and understand the guidelines before you travel, and comply with the same for a hassle-free and safe flying experience. The State-wise Regulations have been updated as of 16<sup>th</sup> February, 2022. For further details or revised regulations, visit the respective state government website.</h2>
			<div class="accordion">
				<div class="accordion_in accordion-pannel acc_active">
					<div class="acc_head">
						<figure><img class="thumbnailHW" src="-/media/D4D0FFC8341E415288768321347E0E44.ashx" alt="Gujarat State Government Covid Guidelines for Air Travel" /></figure>
						<aside>
							<h4>Gujarat</h4>
							<p><a href="https://www.adani.com/svpia-ahmedabad-airport" target="_blank">Sardar Vallabhbhai Patel International Airport, Ahmedabad, Gujarat</a></p>
							<div class="d-none d-md-block">
								<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility.</p>
								<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
							</div>
						</aside>
					</div>
					<div class="acc_content" style="display: none;">
						<div class="d-block d-sm-none">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility.</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
						</div>
						
						<div class="info-rows">
							<h3>Domestic Arrivals</h3>
							<div class="covid-contents d-block">
								<img src="-/media/B0D76881CAC54CCD8F7F05CC10591E72.ashx" class="float-lg-left mb-3 mr-lg-5 img-fluid img-wraptext" alt="Covid guidelines for passengers" />
								<ul>
									<li>Thermal screening shall be done for all passengers.</li>
									<p class="read_more"><strong>Read More...</strong></p>
								</ul>
								<div class="show_more_content">
									<ul>
										<p class="read_more"><strong>Read More...</strong></p>
										<li>Passengers starting their journey from any city in Kerala or Maharashtra state to the city of Ahmedabad are required to carry an RT-PCR negative certificate of not older than 72 hours from an ICMR accredited lab or final vaccination certificate (i.e., both doses complete and should have surpassed 15 days from the receipt of the 2nd dose). RT-PCR timeline starts from the time of sample collection. Passengers not in possession of RT-PCR negative/vaccination certificate shall be required to undergo RAT upon arrival free of cost.</li>

									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
							</div>
						</div>
						
							<div class="info-rows">
								<h3>International Arrivals</h3>
								<div class="covid-contents d-block">
									<img src="-/media/8DFDC72D7AD44B84A49B9D2847957148.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="passengers thermal screening"/>
									<ul>
									
										<li>All passengers arriving from the following countries - Countries in Europe (excluding United Kingdom, France, Germany, Belarus, Ukraine, Belgium, Hungary & Serbia) <strong>South Africa, Brazil, Bangladesh, Botswana, China, Mauritius, New Zealand, Zimbabwe</strong> shall be required to undertake the following irrespective of their vaccination status.
											<ol class="UpperAlphabet">
												<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport .</li>
												<li>Undergo home quarantine for 7 days</li>
												<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
											</ol>
										</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
										<ul>
											
											<li>All passengers arriving from the following countries - The United Kingdom, France, Germany, Nepal, Belarus, Lebanon, Armenia, Ukraine, Belgium, Hungary, Serbia with whom the Government of India has an agreement for mutual recognition of vaccination certificates for individuals fully vaccinated with Nationally recognised or WHO recognized COVID-19 vaccine and those exempting fully vaccinated Indian citizens with Nationally recognised or WHO recognised vaccines should be required to undertake the following basis their vaccination status. 
											<ol>
													<li>If fully vaccinated, they shall be allowed to leave the airport and self-monitor their health for 14days, post-arrival. However, for Fully Vaccinated passengers- 15 days must have elapsed since completion of the COVID-19 vaccination schedule.</li>
													<li>If partially or not vaccinated, shall be required to undergo the following :
														<ol>
															<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport.</li>
															<li>Undergo home quarantine for 7 days</li>
															<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
														</ol>
													</li>
												</ol>
											</li>
											<li>All passengers arriving from the remainder countries shall be allowed to leave the airport and self-monitor their health for 14 days, post-arrival, irrespective of their vaccination status.</li>
										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>

							<div class="info-rows">
								<h3>Passenger Obligations</h3>
								<div class="covid-contents d-block">
									<img src="-/media/63196FD2EC2641339429EDAAFF926AC0.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="covid test report at airport" />
									<ul>
										<li>All passengers must download Aarogya Setu App.</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
										<ul>
											<li>Passengers originating their journey from any city in Kerala or Maharashtra state to the city of Ahmedabad are required to carry an RT-PCR negative certificate of not older than 72 hours from an ICMR accredited lab or final vaccination certificate (i.e., both doses complete and should have surpassed 15 days from the receipt of the 2nd dose). RT-PCR timeline starts from the time of sample collection. Passengers not in possession of RT-PCR negative/vaccination certificate shall be required to undergo RAT upon arrival free of cost.</li>

										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>
							
						
					<div class="info-rows">
								<h3>Airline obligations </h3>
								<div class="covid-contents ">
									<ul>
										<li style="list-style: none;">NA</li>
									</ul>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airport/State Obligations</h3>
								<div class="covid-contents ">
									<ul>
										<li>Thermal screening shall be done for all passengers.</li>
									</ul>
								</div>
							</div>
					</div>
				</div>

				<div class="accordion_in accordion-pannel">
					<div class="acc_head">
						<figure><img class="thumbnailHW" src="-/media/31A0B1B5C47446CAB952C74431D25F8F" alt="Karnataka State Government Covid Guidelines for air Travel" /></figure>
						<aside>
							<h4>Karnataka</h4>
							<p><a href="https://www.adani.com/mangaluru-airport" target="_blank" >Mangaluru International Airport, Mangaluru, Karnataka</a></p>
							<div class="d-none d-md-block">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
							</div>
						</aside>
					</div>
					<div class="acc_content" style="display: none;">
						<div class="d-block d-sm-none">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
						</div>
						
						<div class="info-rows">
							<h3>Domestic Arrivals</h3>
							<div class="covid-contents d-block">
								<img src="-/media/B0D76881CAC54CCD8F7F05CC10591E72.ashx" class="float-lg-left mb-3 mr-lg-5 img-fluid img-wraptext" alt="Covid guidelines for passengers" />
								<ul>
									<li>Thermal screening shall be done for all passengers.</li>	
									<p class="read_more"><strong>Read More...</strong></p>					
								</ul>
								<div class="show_more_content">
									<ul>
										<li>Passengers originating their journey from any city in Kerala or Maharashtra state to the city of Ahmedabad are required to own an RT-PCR negative certificate of not older than 72 hours from an ICMR accredited lab or final vaccination certificate (i.e., both doses complete and should have surpassed 15 days from the receipt of the 2nd dose). RT-PCR timeline starts from the time of sample collection. Passengers not in possession of RTPCR negative/vaccination certificate shall be required to undergo RAT upon arrival free of cost. </li>
										<li>Following passenger categories are exempted 
										<ol>
										<li>Constitutional functionaries</li>
										<li>Passengers travelling under the emergency situations such as death in the family</li>
										</ol></li>
									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
							</div>
						</div>
						
							<div class="info-rows">
								<h3>International Arrivals</h3>
								<div class="covid-contents d-block">
									<img src="-/media/8DFDC72D7AD44B84A49B9D2847957148.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="passengers thermal screening" />
									<ul>
										<li>All passengers arriving from the following countries - Countries in Europe (excluding United Kingdom, France, Germany, Belarus, Ukraine, Belgium, Hungary & Serbia) South Africa, Brazil, Bangladesh, Botswana, China, Mauritius, New Zealand, Zimbabwe shall be required to undertake the following irrespective of their vaccination status.
											<ol>
												<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport.</li>
												<li>Undergo home quarantine for 7 days</li>
												<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
											</ol>
										</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
										<ul>
											<li>All passengers arriving from the following countries - The United Kingdom, France, Germany, Nepal, Belarus, Lebanon, Armenia, Ukraine, Belgium, Hungary, Serbia with whom the Government of India has an agreement for mutual recognition of vaccination certificates for individuals fully vaccinated with Nationally recognised or WHO recognizedCOVID-19 vaccine and those exempting Indian citizens fully vaccinated with Nationally recognised or WHO recognised vaccines should be required to undertake the following basis their vaccination status.
												<ol>
													<li>If fully vaccinated, they shall be allowed to leave the airport and self-monitor their health for 14 days post-arrival. However, for Fully Vaccinated passengers- 15 days must have elapsed since completion of the COVID-19 vaccination schedule. </li>
													<li>If partially or not vaccinated, shall be required to undergo the following:
														<ol>
															<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport.</li>
															<li>Undergo home quarantine for 7 days.</li>
															<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
														</ol>
													</li>
												</ol>
											</li>
										<li>All passengers arriving from the remainder of the countries mentioned above shall be allowed to leave the airport and self-monitor their health for 14days post-arrival, irrespective of their vaccination status.</li>
									</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>

							<div class="info-rows">
								<h3>Passenger Obligations</h3>
								<div class="covid-contents d-block">
									<img src="-/media/63196FD2EC2641339429EDAAFF926AC0.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="covid test report at airport" />
									<ul>
										<li>All passengers must download Aarogya Setu App.</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
										<ul>
											<li>Passengers originating their journey from any city in Kerala or Maharashtra state to any city of Karnataka are required to be in possession of RT-PCR negative certificate of not older than 72Hours from an ICMR accredited lab irrespective of their vaccination status. RT-PCR timeline starts from the time of sample collection. Passengers not in possession of RTPCR negative/vaccination certificate shall be required to undergo RAT upon arrival free of cost.</li>
										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
								</div>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airline obligations </h3>
								<div class="covid-contents ">
									<ul>
										<li style="list-style: none;">NA</li>
									</ul>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airport/State Obligations</h3>
								<div class="covid-contents ">
									<ul>
										<li>Thermal screening shall be done for all passengers.</li>
									</ul>
								</div>
							</div>
							


					</div>
				</div>

				<div class="accordion_in accordion-pannel">
					<div class="acc_head">
						<figure><img class="thumbnailHW" src="-/media/A02643947F6B46E18525A0C06E14B8FB"  alt="Kerala State Government Covid Guidelines for air Travel" /></figure>
						<aside>
							<h4>Kerala</h4>
							<p><a href="https://www.adani.com/thiruvananthapuram-airport" target="_blank">Thiruvananthapuram International Airport, Trivandrum, Kerala</a></p>
							<div class="d-none d-md-block">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility.</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
							</div>
						</aside>
					</div>
					<div class="acc_content" style="display: none;">
						<div class="d-block d-sm-none">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
						</div>
						
						<div class="info-rows">
							<h3>Domestic Arrivals</h3>
							<div class="covid-contents d-block">
								<img src="-/media/B0D76881CAC54CCD8F7F05CC10591E72.ashx" class="float-lg-left mb-3 mr-lg-5 img-fluid img-wraptext" alt="Covid guidelines for passengers" />
								<ul>
									<li>Thermal screening shall be done for all passengers.</li>
									<p class="read_more"><strong>Read More...</strong></p>
								</ul>
								<div class="show_more_content">
									<ul>
										<li>Passengers originating their journey from any city in Kerala or Maharashtra state to any city of Karnataka are required to be in possession of RT-PCR negative certificate of not older than 72 Hours from an ICMR accredited lab irrespective of their vaccination status. RT-PCR timeline starts from the time of sample collection. Passengers not in possession of RTPCR negative/vaccination certificate shall be required to undergo RAT upon arrival free of cost.</li>
									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
							</div>
						</div>
							<div class="info-rows">
								<h3>International Arrivals</h3>
								<div class="covid-contents d-block">
									<img src="-/media/8DFDC72D7AD44B84A49B9D2847957148.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="passengers thermal screening" />
									<ul>
										<li>All passengers arriving from the following countries - Countries in Europe (excluding United Kingdom, France, Germany, Belarus, Ukraine, Belgium, Hungary & Serbia) South Africa, Brazil, Bangladesh, Botswana, China, Mauritius, New Zealand, Zimbabwe shall be required to undertake the following irrespective of their vaccination status.
											<ol>
												<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport. </li>
												<li>Undergo home quarantine for 7 days</li>
												<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
											</ol>
										</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
										<ul>
											<li>All passengers arriving from the following countries - The United Kingdom, France, Germany, Nepal, Belarus, Lebanon, Armenia, Ukraine, Belgium, Hungary, Serbia with whom the Government of India has an agreement for mutual recognition of vaccination certificates for individuals fully vaccinated with Nationally recognised or WHO recognized COVID-19 vaccine and those exempting Indian citizens fully vaccinated with Nationally recognised or WHO recognised vaccines should be required to undertake the following basis their vaccination status
											<ol>
												<li>If fully vaccinated, they shall be allowed to leave the airport and self-monitor their health for 14days post-arrival. However, for Fully Vaccinated passengers- 15 days must have elapsed since completion of the COVID-19 vaccination schedule</li>
												<li>If partially or not vaccinated, shall be required to undergo the following:
													<ol>
														<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport.</li>
														<li>Undergo home quarantine for 7 days.</li>
														<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days</li>
													</ol>
												</li>
											</ol>
										</li>
										<li>All passengers arriving from the remainder of the countries mentioned above shall be allowed to leave the airport and self-monitor their health for 14days post-arrival, irrespective of their vaccination status.</li>

										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>

							<div class="info-rows">
								<h3>Passenger Obligations</h3>
								<div class="covid-contents d-block">
									<img src="-/media/63196FD2EC2641339429EDAAFF926AC0.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="covid test report at airport" />
									<ul>
										<li>All passengers must download Aarogya Setu App</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
										<ul>
											<li>As per the directive published by the Government of Kerala, passengers vaccinated with both doses of the COVID 19 vaccine and 15 days have lapsed since the administration of second dose of the vaccine and are in possession of the final vaccination certificate will be exempted from the mandatory requirement of possessing a negative RT-PCR report on entry into the State.  All other passengers will have to carry a negative RT-PCR test report which is issued within 72 hours of the scheduled time of landing</li>
										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airline obligations </h3>
								<div class="covid-contents ">
									<ul>
										<li style="list-style: none;">NA</li>
									</ul>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airport/State Obligations</h3>
								<div class="covid-contents ">
									<ul>
										<li>Thermal screening shall be done for all passengers.</li>
									</ul>
								</div>
							</div>
					</div>
				</div>

				<div class="accordion_in accordion-pannel">
					<div class="acc_head">
						<figure><img class="thumbnailHW" src="-/media/A6D9081F489F4D8096F7ACB13B9B8B2C"  alt="Maharashtra State Government Covid Guidelines for air Travel" /></figure>
						<aside>
							<h4>Maharashtra</h4>
							<p><a href="https://csmia.adaniairports.com/" target="_blank" >Chhatrapati Shivaji Maharaj International Airport, Mumbai </a></p>
							<div class="d-none d-md-block">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
							</div>
						</aside>
					</div>
					<div class="acc_content" style="display: none;">
						<div class="d-block d-sm-none">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility.</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
						</div>						
						<div class="info-rows">
							<h3>Domestic Arrivals</h3>
							<div class="covid-contents d-block">
								<img src="-/media/B0D76881CAC54CCD8F7F05CC10591E72.ashx" class="float-lg-left mb-3 mr-lg-5 img-fluid img-wraptext" alt="Covid guidelines for passengers" />
								<ul>
									<li>Thermal screening is discontinued for domestic arrival passenger.</li>
									<p class="read_more"><strong>Read More...</strong></p>

								</ul>
								<div class="show_more_content">
									<ul>
										<li>All other passengers will have to carry a negative RT-PCR test report which is issued within 72 hours of the scheduled time of landing in Mumbai. </li>

									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
							</div>
						</div>
							<div class="info-rows">
								<h3>International Arrivals</h3>
								<div class="covid-contents d-block">
									<img src="-/media/8DFDC72D7AD44B84A49B9D2847957148.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="passengers thermal screening" />
									<ul>
										<li>All passengers arriving from the following countries - Countries in Europe (excluding United Kingdom, France, Germany, Belarus, Ukraine, Belgium, Hungary & Serbia) South Africa, Brazil, Bangladesh, Botswana, China, Mauritius, New Zealand, Zimbabwe shall be required to undertake the following irrespective of their vaccination status.
											<ol>
												<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport .</li>
												<li>Undergo home quarantine for 7 days</li>
												<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
											</ol>
										</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
										<ul>
											<li>All passengers arriving from the following countries - The United Kingdom, France, Germany, Nepal, Belarus, Lebanon, Armenia, Ukraine, Belgium, Hungary, Serbia with whom the Government of India has an agreement for mutual recognition of vaccination certificates for individuals fully vaccinated with Nationally recognised or WHO recognized COVID-19 vaccine and those exempting Indian citizens fully vaccinated with Nationally recognised or WHO recognised vaccines should be required to undertake the following basis their vaccination status. 
											<ol>
												<li>If fully vaccinated, they shall be allowed to leave the airport and self-monitor their health for 14days post-arrival. However, for Fully Vaccinated passengers- 15 days must have elapsed since completion of the COVID-19 vaccination schedule</li>
												<li>If partially or not vaccinated, shall be required to undergo the following:
													<ol>
														<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport</li>
														<li>Undergo home quarantine for 7 days</li>
														<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
													</ol>
												</li>
											</ol>
										</li>
										<li>All passengers arriving from the remainder of the countries mentioned above shall be allowed to leave the airport and self-monitor their health for 14 days post-arrival, irrespective of their vaccination status</li>
										<li>Submit complete and factual information in self-declaration form on the online Air Suvidha portal <a href="https://www.newdelhiairport.in/airsuvidha/apho-registration" target="_blank" >https://www.newdelhiairport.in/airsuvidha/apho-registration</a> before the scheduled travel, including last 14 days travel details. </li>
										<li>Upload a negative COVID-19 RT-PCR report* (The test should have been conducted within 72 hrs prior to undertaking the journey) OR Certificate of completing full primary vaccination schedule of COVID-19 vaccination</li>
										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>

							<div class="info-rows">
								<h3>Passenger Obligations</h3>
								<div class="covid-contents d-block">
									<img src="-/media/63196FD2EC2641339429EDAAFF926AC0.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext"  alt="covid test report at airport" />
									<ul>
										<li>All passengers must download Aarogya Setu App</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
										<ul>
											<li>As per the directive published by the Government of Maharashtra, domestic arriving passengers who have been vaccinated with both doses of the COVID 19 vaccine and 15 days have lapsed since the administration of second dose of the vaccine and are in possession of the final vaccination certificate will be exempted from the mandatory requirement of possessing a negative RT-PCR report on entry into the State of Maharashtra. </li>
										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airline obligations </h3>
								<div class="covid-contents ">
									<ul>
										<li style="list-style: none;">NA</li>
									</ul>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airport/State Obligations</h3>
								<div class="covid-contents ">
									<ul>
										<li>Thermal screening shall be done for all passengers.</li>
									</ul>
								</div>
							</div>
					</div>
				</div>

				<div class="accordion_in accordion-pannel">
					<div class="acc_head">
						<figure><img class="thumbnailHW" src="-/media/7E81F51B34ED4E8ABA6D0DE4DEA63D87" alt="Rajasthan State Government Covid Guidelines for air Travel" /></figure>
						<aside>
							<h4>Rajasthan</h4>
							<p><a href="https://www.adani.com/jaipur-airport" target="_blank" >Jaipur International Airport, Jaipur, Rajasthan</a></p>
							<div class="d-none d-md-block">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility.</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
							</div>
						</aside>
					</div>
					<div class="acc_content" style="display: none;">
						<div class="d-block d-sm-none">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
						</div>						
						<div class="info-rows">
							<h3>Domestic Arrivals</h3>
							<div class="covid-contents d-block">
								<img src="-/media/B0D76881CAC54CCD8F7F05CC10591E72.ashx" class="float-lg-left mb-3 mr-lg-5 img-fluid img-wraptext" alt="Covid guidelines for passengers" />
								<ul>
									<li>Thermal screening shall be done for all passengers</li>
									<p class="read_more"><strong>Read More...</strong></p>
								</ul>
								<div class="show_more_content">
									<ul>
										<li>It is compulsory for passengers arriving from other states to carry a COVID negative report from an ICMR approved lab not earlier than 72 hours of arrival into the state of Rajasthan. RT-PCR timeline starts from the swab collection time cost.</li>
										<li>Following are exempted from having RT-PCR negative report while entering Rajasthan State:
											<ol>
												<li>Passengers in possession of vaccination certificate showing 1 dose complete</li>
												<li>Passengers holding constitutional positions</li>
												<li>Medical Personnel (Doctors/Nurses)</li>
												<li>Defense Personnel</li>
											</ol>
										</li>
									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
							</div>
						</div>
							<div class="info-rows">
								<h3>International Arrivals</h3>
								<div class="covid-contents d-block">
									<img src="-/media/8DFDC72D7AD44B84A49B9D2847957148.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="passengers thermal screening" />
									<ul>
										<li>All passengers arriving from the following countries - Countries in Europe (excluding United Kingdom, France, Germany, Belarus, Ukraine, Belgium, Hungary & Serbia) South Africa, Brazil, Bangladesh, Botswana, China, Mauritius, New Zealand, Zimbabwe shall be required to undertake the following irrespective of their vaccination status.
											<ol>
												<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport.</li>
												<li>Undergo home quarantine for 7 days</li>
												<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
											</ol>
										</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
										<ul>
											<li>All passengers arriving from the following countries - The United Kingdom, France, Germany, Nepal, Belarus, Lebanon, Armenia, Ukraine, Belgium, Hungary, Serbia with whom the Government of India has an agreement for mutual recognition of vaccination certificates for individuals fully vaccinated with Nationally recognised or WHO recognizedCOVID-19 vaccine and those exempting Indian citizens fully vaccinated with Nationally recognised or WHO recognised vaccines should be required to undertake the following basis their vaccination status. 
												<ol>
													<li>If fully vaccinated, they shall be allowed to leave the airport and self-monitor their health for 14days post-arrival. However, for Fully Vaccinated passengers- 15 days must have elapsed since completion of the COVID-19 vaccination schedule.</li>
													<li>If partially or not vaccinated, shall be required to undergo the following :
														<ol>
															<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport.</li>
															<li>Undergo home quarantine for 7 days.</li>
															<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
														</ol>
													</li>
												</ol>
											</li>
											<li>All passengers arriving from the remainder of the countries mentioned above shall be allowed to leave the airport and self-monitor their health for 14days post-arrival, irrespective of their vaccination status</li>
										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>

							<div class="info-rows">
								<h3>Passenger Obligations</h3>
								<div class="covid-contents d-block">
									<img src="-/media/63196FD2EC2641339429EDAAFF926AC0.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="covid test report at airport" />
									<ul>
										<li>All passengers must download Aarogya Setu App.</li>
										<p class="read_more"><strong>Read More...</strong></p>				
									</ul>
									<div class="show_more_content">
										<ul>
											<li>Passengers t is mandatory for passengers arriving from other states to carry a COVID negative report from an ICMR approved lab not earlier than 72 hours. RT-PCR timeline starts from the swab collection time.</li>
										<li>All passengers must submit Self-Health Declaration and go through the screening process.</li>
										<li>Passengers travelling to Udaipur are mandatorily required to upload a copy of their RT-PCR negative report on <a rel="nofollow" href="http://emitra.rajasthan.gov.in">http://emitra.rajasthan.gov.in</a></li>

										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airline obligations </h3>
								<div class="covid-contents ">
									<ul>
										<li style="list-style: none;">NA</li>
									</ul>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airport/State Obligations</h3>
								<div class="covid-contents ">
									<ul>
										<li>Thermal screening shall be done for all passengers.</li>
									</ul>
								</div>
							</div>
					</div>
				</div>

				<div class="accordion_in accordion-pannel">
					<div class="acc_head">
						<figure><img class="thumbnailHW" src="-/media/49F0F45EDD334046B843E0E69AD72971" alt="Uttar Pradesh State Government Covid Guidelines for air Travel" /></figure>
						<aside>
							<h4>Uttar Pradesh</h4>
							<p><a href="https://www.adani.com/ccsia-lucknow-airport" target="_blank" >Chaudhary Charan Singh International Airport, Lucknow, Uttar Pradesh</a></p>
							<div class="d-none d-md-block">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility.</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
							</div>
						</aside>
					</div>
					<div class="acc_content" style="display: none;">
						<div class="d-block d-sm-none">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
						</div>
						
						<div class="info-rows">
							<h3>Domestic Arrivals</h3>
							<div class="covid-contents d-block">
								<img src="-/media/B0D76881CAC54CCD8F7F05CC10591E72.ashx" class="float-lg-left mb-3 mr-lg-5 img-fluid img-wraptext" alt="Covid guidelines for passengers" />
								<ul>
									<li>Thermal screening shall be done for all passengers.</li>
									<p class="read_more"><strong>Read More...</strong></p>							
								</ul>
								<div class="show_more_content">
									<ul>
										<li>Passengers arriving from Sikkim, Mizoram, Manipur, Nagaland, Kerala, Meghalaya, Arunachal Pradesh, Tripura & Maharashtra are mandatorily required to own RT-PCR negative report of not older than 96Hours from an ICMR accredited lab or a COVID vaccination Final Certificate (two doses complete). RT-PCR timeline starts from the swab collection time.</li>
									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
							</div>
						</div>
							<div class="info-rows">
								<h3>International Arrivals</h3>
								<div class="covid-contents d-block">
									<img src="-/media/8DFDC72D7AD44B84A49B9D2847957148.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="passengers thermal screening" />
									<ul>
										<li>All passengers arriving from the following countries - Countries in Europe (excluding United Kingdom, France, Germany, Belarus, Ukraine, Belgium, Hungary & Serbia) South Africa, Brazil, Bangladesh, Botswana, China, Mauritius, New Zealand, Zimbabwe shall be required to undertake the following irrespective of their vaccination status.
											<ol>
												<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport.</li>
												<li>Undergo home quarantine for 7 days</li>
												<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
											</ol>
										</li>
										<p class="read_more"><strong>Read More...</strong></p>
									</ul>
									<div class="show_more_content">
									<ul>
										<li>All passengers arriving from the following countries - The United Kingdom, France, Germany, Nepal, Belarus, Lebanon, Armenia, Ukraine, Belgium, Hungary, Serbia with whom the Government of India has an agreement for mutual recognition of vaccination certificates for individuals fully vaccinated with Nationally recognised or WHO recognized COVID-19 vaccine and those exempting Indian citizens fully vaccinated with Nationally recognised or WHO recognised vaccines should be required to undertake the following basis their vaccination status. 
											<ol>
												<li>If fully vaccinated, they shall be allowed to leave the airport and self-monitor their health for 14days post-arrival. However, for Fully Vaccinated passengers- 15 days must have elapsed since completion of the COVID-19 vaccination schedule.</li>
												<li>If partially or not vaccinated, shall be required to undergo the following :
													<ol>
														<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport.</li>
														<li>Undergo home quarantine for 7 days</li>
														<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
													</ol>
												</li>
											</ol>
										</li>
										<li>All passengers arriving from the remainder of the countries mentioned above shall be allowed to leave the airport and self-monitor their health for 14 days post-arrival, irrespective of their vaccination status.</li>
									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
								</div>
							</div>

							<div class="info-rows">
								<h3>Passenger Obligations</h3>
								<div class="covid-contents d-block">
									<img src="-/media/63196FD2EC2641339429EDAAFF926AC0.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="covid test report at airport" />
									<ul>
										<li>All passengers must download Aarogya Setu App.</li>
										<p class="read_more"><strong>Read More...</strong></p>								
									</ul>
									<div class="show_more_content">
									<ul>
										<li>Passengers arriving from the states of Sikkim, Mizoram, Manipur, Nagaland, Kerala, Meghalaya, Arunachal Pradesh, Tripura & Maharashtra are mandatorily required to be in possession of RT-PCR negative report of not older than 96Hours from an ICMR accredited lab or a COVID vaccination Final Certificate (two doses complete). RT-PCR timeline starts from the swab collection time.</li>
									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airline obligations </h3>
								<div class="covid-contents ">
									<ul>
										<li style="list-style: none;">NA</li>
									</ul>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airport/State Obligations</h3>
								<div class="covid-contents ">
									<ul>
										<li>Thermal screening shall be done for all passengers.</li>
									</ul>
								</div>
							</div>
					</div>
				</div>

				<div class="accordion_in accordion-pannel">
					<div class="acc_head">
						<figure><img class="thumbnailHW" src="-/media/7AC30DB14132467FB81B687861257AB0" alt="Assam State Government Covid Guidelines for air Travel" /></figure>
						<aside>
							<h4>Assam</h4>
							<p><a href="https://www.adani.com/lgbia-guwahati-airport" target="_blank" >Lokpriya Gopinath Bordoloi Airport, Guwahati, Assam</a></p>
							<div class="d-none d-md-block">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility.</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
							</div>
						</aside>
					</div>
					<div class="acc_content" style="display: none;">
						<div class="d-block d-sm-none">
							<p class="quarantine"><b>Quarantine:</b> Symptomatic passengers shall be isolated and taken to the nearest health facility</p>
							<p class="quarantine"><b>Health Screening:</b> <span>State Health &amp; Safety Requirements</span></p>
						</div>
						
						<div class="info-rows">
							<h3>Domestic Arrivals</h3>
							<div class="covid-contents d-block">
								<img src="-/media/B0D76881CAC54CCD8F7F05CC10591E72.ashx" class="float-lg-left mb-3 mr-lg-5 img-fluid img-wraptext" alt="Covid guidelines for passengers"/>
								<ul>
									<li>Thermal screening shall be done for all passengers.</li>
									<p class="read_more"><strong>Read More...</strong></p>
								</ul>
								<div class="show_more_content">
									<ul>
										<li>As per the directive published by the Government of Kerala, passengers vaccinated with both doses of the COVID 19 vaccine and 15 days have lapsed since the administration of second dose of the vaccine and are in possession of the final vaccination certificate will be exempted from the mandatory requirement of possessing a negative RT-PCR report on entry into the State.  All other passengers will have to carry a negative RT-PCR test report which is issued within 72 hours of the scheduled time of landing.</li>

									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
							</div>
						</div>
							<div class="info-rows">
								<h3>International Arrivals</h3>
								<div class="covid-contents d-block">
									<img src="-/media/8DFDC72D7AD44B84A49B9D2847957148.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="passengers thermal screening" />
									<ul>
										<li>All passengers arriving from the following countries - Countries in Europe (excluding United Kingdom, France, Germany, Belarus, Ukraine, Belgium, Hungary & Serbia), South Africa, Brazil, Bangladesh, Botswana, China, Mauritius, New Zealand, Zimbabwe shall be required to undertake the following irrespective of their vaccination status.
											<ol>
												<li>Submission of the sample of a post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport</li>
												<li>Undergo home quarantine for 7 days</li>
												<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
											</ol>
										</li>
										<p class="read_more"><strong>Read More...</strong></p>
										
									</ul>
									<div class="show_more_content">
										<ul>
											<li>All passengers arriving from the following countries - The United Kingdom, France, Germany, Nepal, Belarus, Lebanon, Armenia, Ukraine, Belgium, Hungary, Serbia with whom the Government of India has an agreement for mutual recognition of vaccination certificates for individuals fully vaccinated with Nationally recognised or WHO recognized COVID-19 vaccine and those exempting Indian citizens fully vaccinated with Nationally recognised or WHO recognised vaccines should be required to undertake the following basis their vaccination status
											<ol>
												<li>If fully vaccinated, they shall be allowed to leave the airport and self-monitor their health for 14 days post-arrival. However, for Fully Vaccinated passengers- 15 days must have elapsed since completion of the COVID-19 vaccination schedule.</li>
												<li>If partially or not vaccinated, shall be required to undergo the following :
													<ol>
														<li>Submission of the sample of the post-arrival COVID-19 test at the point of arrival at their own cost, after which they will be allowed to leave the airport.</li>
														<li>Undergo home quarantine for 7 days</li>
														<li>Undergo a COVID-19 re-test on the 8th day of arrival into India and if negative, further self-monitor their health for the next 7 days.</li>
													</ol>
												</li>
											</ol>
										</li>
										<li>All passengers arriving from the remainder of the countries mentioned above shall be allowed to leave the airport and self-monitor their health for 14 days post-arrival, irrespective of their vaccination status.</li>

										</ul>
										<p class="read_less"><strong>Read Less...</strong></p>
									</div>
								</div>
							</div>

							<div class="info-rows">
								<h3>Passenger Obligations</h3>
								<div class="covid-contents d-block">
									<img src="-/media/63196FD2EC2641339429EDAAFF926AC0.ashx" class="float-lg-right mb-3 ml-lg-3 img-fluid img-wraptext" alt="covid test report at airport" />
									<ul>
										<li>All passengers must download Aarogya Setu App.</li>
										<p class="read_more"><strong>Read More...</strong></p>
										
									</ul>
									<div class="show_more_content">
									<ul>
										
										<li>Passengers originating their journey from any city in Kerala or Maharashtra state to the city of Ahmedabad are required to own an RT-PCR negative certificate of not older than 72 Hours from an ICMR accredited lab or final vaccination certificate (i.e., both doses complete and should have surpassed 15 days from the receipt of the 2nd dose). RT-PCR timeline starts from the time of sample collection. Passengers not in possession of RTPCR negative/vaccination certificate shall be required to undergo RAT upon arrival free of cost.</li>
									</ul>
									<p class="read_less"><strong>Read Less...</strong></p>
								</div>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airline obligations </h3>
								<div class="covid-contents ">
									<ul>
										<li style="list-style: none;">NA</li>
									</ul>
								</div>
							</div>
							<div class="info-rows">
								<h3>Airport/State Obligations</h3>
								<div class="covid-contents">
									<ul>
										<li>Thermal screening shall be done for all passengers.</li>
									</ul>
								</div>
							</div>
					</div>
				</div>				
				
				</div>
			</div>
		</div>
</section>
