@media (min-width: 992px) {
    .filter-box .form-control {
        margin: 1rem 0rem;
    }

    .filter-box h2 {
        padding-left: 3rem;
    }

    .filter-box button {
        max-width: 150px;
    }

    .slider-content > div {
        transform-origin: bottom left;
        -ms-transform: skew(20deg, 0deg);
        -webkit-transform: skew(20deg, 0deg);
        transform: skew(20deg, 0deg);
    }

        .slider-content > div > div {
            top: 50%;
            -webkit-transform: translate(-15%, 50%);
            transform: translate(-15%, 50%);
            position: absolute;
            text-align: center;
        }

    .slider-content img {
        width: 180px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1199px) {
    .mainSlider {
        min-height: 300px;
    }
    /*	.footerMenu{margin:0.5rem 0;}*/
    .footerMenu li {
        margin: 3px 0;
    }

        .footerMenu li a {
            opacity: 1.0;
        }

    .homepage .bannerImg {
        background-position: 20% top;
    }
    /*.social-links{display:none;}*/
    .nav-tabs .nav-item {
        margin: 0;
        padding: 3px 3px 0 0;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .navTile a {
        padding-right: 0;
        font-size: 0.8rem;
    }

    .homepage .bannerImg {
        background-position: 20% top;
    }

        .homepage .bannerImg img {
            transform: translateX(-42%) translateY(-50%);
        }

    .serviceTile .serviceIcon img {
        width: 65px;
        max-height: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .homepage .bannerImg {
        background-position: 14% top;
    }

        .homepage .bannerImg img {
            transform: translateX(-35%) translateY(-48%);
        }

    .serviceTile .serviceIcon, .serviceTile .serviceDetails {
        display: block;
    }

    .serviceTile .serviceDetails {
        padding-left: 0;
        padding-top: 0.5rem;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .linkTxt {
        font-size: 1rem;
        padding-bottom: 10px;
    }
}

@media (max-width: 1099px) {
    .commercialtile:before {
        opacity: 0;
    }

    .commercialtile-2:after {
        opacity: 0;
    }

    .slider-content h5 {
        font-size: 0.7rem;
    }

    .slider-content h3 {
        font-size: 1.3rem;
    }

        .slider-content h3 span {
        }
}

@media (max-width: 991px) {
    .homeslider {
        min-height: 280px;
    }

        .homeslider img {
            min-height: 280px;
        }
    .filter-box .form-control {
        margin: 0.5rem 0rem;
    }

    .filter-box button {
        max-width: 200px;
    }

    .slider-content img {
        max-width: 230px;
    }

    .banner-section {
        position: relative;
        overflow: hidden;
    }

    .teams-tiles #thumbs {
        display: none;
    }

    .mainSlider {
        min-height: 200px
    }

    .order {
        order: 1;
    }

    main {
        padding-top: 80px;
    }

    .skew-bg {
        background-color: transparent;
    }

    .filter-box h2 {
        color: #88bd32;
        font-size: 1.5rem;
    }

    .slider-content {
        transform: skew(0deg, 0deg);
        background-color: rgba(0, 0, 0, 0.55);
        width: 200%;
    }

        .slider-content > div > div {
            position: absolute;
            top: 30%;
        }

    .banner-outer:before {
        transform-origin: bottom left;
        -ms-transform: skew(0deg, 0deg);
        -webkit-transform: skew(0deg, 0deg);
        transform: skew(0deg, 0deg);
        left: 0%;
    }

    .brown-skew:before {
        transform-origin: bottom left;
        -ms-transform: skew(0deg, 0deg);
        -webkit-transform: skew(0deg, 0deg);
        transform: skew(0deg, 0deg);
        left: 0%;
    }

    .bannercontent img {
        width: 130px !important;
    }

    .bannercontent h3 {
        font-size: 2rem;
    }

    .banner-outer .bannercontent {
        top: 50%;
    }

    .filter-box {
        position: inherit;
        background: #f2f2f2;
    }

    .green-skew h2 {
        text-align: center;
        color: #88bd32;
        font-size: 1.5rem;
    }

    .green-skew:before {
        display: none;
    }

    .news {
        margin-top: 20px;
    }

    .accService {
        font-size: 0.8rem;
    }

    .dropdown-menu {
        display: block;
        padding: 0;
        border-radius: 0;
        border: 1px solid rgba(0,0,0,0.1);
        margin-left: 1rem;
        font-size: 0.9rem;
    }

    .dropdown-item {
        padding: 0.25rem 0.75rem;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000;
    }

    #topMenu {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        z-index: 999;
        color: #fff;
        transition: all 0.3s;
        margin-left: -250px;
        background: #88bd32;
    }

        #topMenu.active {
            margin-left: 0;
        }

    .topMenu li {
        display: block;
        border-bottom: 1px solid #fff;
    }

        .topMenu li a {
            padding: 0.5rem 1rem;
            display: block;
            background: #88bd32;
            color: #fff;
            position: relative;
            border-right: none;
        }

        .topMenu li:first-child a {
            padding-left: 1rem;
        }

        .topMenu li a:hover, .topMenu li a:focus {
            background: #679816;
        }

    .primaryMenu {
        border-top: 3px solid #679816;
        /*box-shadow: 0px -1px 8px rgba(0,0,0,0.3);*/
    }

        .primaryMenu li {
            background: #eee;
            border-bottom: 1px solid #d3d3d3
        }

            .primaryMenu li a.nav-link {
                padding: 0.3rem 1rem;
            }

    .dropdown-menu {
        background: none;
        border: none;
        margin-left: 1.5rem;
    }

    .dropdown-item {
        border-bottom: 1px solid #d3d3d3;
    }

        .dropdown-item:focus, .dropdown-item:hover {
            color: #fff;
            text-decoration: none;
            background-color: #679816;
        }

    .navbar-light .navbar-nav .nav-item.active .nav-link, .navbar-light .navbar-nav .nav-item.show .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        background: #88bd32;
        color: #fff;
    }

    .navbar {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .mainSlider {
        min-height: 200px
    }
    .project-cta p {
        text-align:center;
    }
    .project-cta .float-right {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0rem 0;
        margin: 1rem 0rem;
    }

    .slider-content {
        background-color: rgba(0, 0, 0, 0.55);
    }

    .quick-links {
        display: none;
    }

    .topNav li.topSearch {
        display: none;
    }

    .topMenu li.topSearchMenu {
        display: block;
    }
    /*.topMenu{display:none;}*/
    .homepage .mainBanner {
        height: 250px;
    }

    .homepage .bannerImg {
        position: relative;
        height: 100%;
        background-position: 12% top;
    }

        .homepage .bannerImg img {
            min-height: 250px;
            height: 100%;
            width: auto;
            transform: none;
            left: 0;
            top: 0;
        }

    .helpPanel {
        padding: 30px 0 0 0;
    }

    .helpLinks {
        height: auto;
        margin-bottom: 1rem;
    }

    .adaniLogoFooter {
        margin: 1rem 0;
        display: inline-block;
        opacity: 1.0;
    }

    .communityTile {
        background-blend-mode: overlay;
    }

        .communityTile .tileCnt {
            width: 50%;
        }

    .listIcon {
        padding-right: 0;
    }

        .listIcon img {
            max-width: 50px;
        }

    .serviceTile {
        padding: 1rem;
    }

        .serviceTile .serviceIcon {
            height: 50px;
        }

            .serviceTile .serviceIcon img {
                width: auto;
                max-height: 50px;
            }

        .serviceTile .serviceIcon, .serviceTile .serviceDetails {
            display: block;
        }

        .serviceTile .serviceDetails {
            padding-left: 0;
            padding-top: 0.5rem;
        }

    .myAccountBanner .bannerCnt {
        padding: 1rem 0;
        background: rgba(255,255,255,0.85);
    }

    .accSerTile {
        padding: 0.75rem 0;
    }

    .adaniLogoFooter {
        margin: 0.5rem 0;
    }

    .tile {
        height: auto;
        margin: 0.5rem 0;
    }

    .appLink {
        margin: 0.5rem 0;
    }

    .payBillBox {
        width: 100%;
    }

    .nav-tabs .nav-item {
        margin: 0;
        padding: 3px 3px 0 0;
    }

    .nav-tabs .nav-link {
        font-size: 0.8rem;
    }


    #sideNav {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        z-index: 999;
        color: #fff;
        transition: all 0.3s;
        margin-left: -250px;
        background: #f36f31;
    }

        #sideNav.active {
            margin-left: 0;
        }

    #mainContent {
        width: 100%;
    }

        #mainContent.active {
            /* width: calc(100% - 250px);*/
        }

    .contactPanel {
        height: 220px;
    }
}

@media (max-width: 576px) {
    .project-title {
        top: 50%;
    }

    .mainSlider {
        min-height: 200px
    }

    .enquiryBtn {
        display: none;
    }

    .homepage .mainBanner {
        height: 200px;
    }

    .navbar-brand img {
        max-width: 200px;
    }

    .row.navTilesWrapper {
        display: block;
    }

    .col.navTile {
        width: 100%;
        border-bottom: 1px solid rgba(226,226,226,0.2)
    }

    .navTile a:hover {
        background: rgba(0,0,0,0.2);
    }

    .customerCare .phoneIcon {
        display: none;
    }

    .navPanel > .container {
        padding: 0;
    }

    .navbar-light .navbar-brand {
        padding-left: 15px;
    }

    .navbar-light .navbar-toggler {
        margin-right: 15px;
    }
}

@media (max-width: 480px) {
    .download-links {
        margin-left: 0;
    }

        .download-links img {
            max-height: 15px;
        }

        .download-links li a {
            padding-left: 2px;
        }

    .social-links {
        margin-right: 3px;
    }

    .quick-links li a {
        padding: 0 3px;
    }

    .communityTile .tileCnt {
        width: 100%;
    }

    .serviceTile .serviceIcon {
        display: table-cell;
        vertical-align: top;
        height: 75px;
        overflow: hidden;
    }

    .serviceTile .serviceDetails {
        display: table-cell;
        vertical-align: middle;
        padding-left: 1rem;
        padding-top: 0;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
        background-size: 50%;
        width: 15px;
        height: 33px;
    }

    .owl-carousel .owl-nav button.owl-prev {
        margin-left: -10px;
    }

    .owl-carousel .owl-nav button.owl-next {
        margin-right: -15px;
    }

    .nav-tabs .nav-item {
      /*  width: 100%;*/
    }
}

@media (max-width: 340px) {
    .quick-links {
        margin-right: 2px;
    }
}
