@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@model Sitecore.Transmission.Website.Models.TransmissionsCostCalculator


<section class="section-login">
    <div class="bg-images">
    <img src="https://www.adaniports.com/-/media/Project/Ports/PortsAndTerminals/PortImage/Mundra-Port/MundraBanner03/Integrated-Transformation-APSEZ-Mundra-1.jpeg?h=657&la=en&w=1280&hash=22F5BBC1443E7B5B1B4FAABDA2231EA9"></div>
    <div class="container">
       
    </div>
</section>
