@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@using System.Text.RegularExpressions
@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Data.Fields


@{
    
  var Title1 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Title1").FirstOrDefault().Value;
  var datasource1 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Datasource1").FirstOrDefault().Value;
    var elements1 = Sitecore.Context.Database.GetItem(datasource1);
 var docsColl1 = elements1.GetChildren().OrderByDescending(x => x[Sitecore.FieldIDs.Updated]).ToList();;
}


<section class="pb-5 position-relative d-block">
<div class="container">
<div class="row">
<div class="col-lg-12">
<h2 class="heading pl-4 mb-4">@Title1 </h2>
<div class="p-4 bg-white">
@foreach (var child in docsColl1.ToList())
{


<h2 class="mb-4">@child.Name</h2>

<div class="owl-carousel owl-theme single-item">
<div class="item">
<div class="row">
@foreach (var docs in child.Children.ToList())
{
	var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
	var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);


<div class="col-md-4 mb-3">
<ul class="ul-reports">
    <li><em class="far fa-newspaper mr-2"></em><a href="@url" target="_blank">@Html.Sitecore().Field("Title", docs)</a></li>
</ul>
</div>
}

</div>
</div> 
</div>

}

</div>
</div>
</div>
</div>
</section>