@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);


}
 <div class="container text-right mb-2"><span>@Html.Sitecore().Field("Date", models, new { format = "MMM dd, yyyy" })</span></h6></div>