@using Sitecore
@using Sitecore.Data.Items
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}

<section class="bg-gray">
    <div class="container">
	<!-- @Html.Sitecore().Field("Text",elements) -->
        <div class="bootleggers owl-carousel" id="pop-gallery">

            @foreach (var item in elements.Children.ToList())
            {
                //var mediaImageField = item.IsDerived(Templates.HasMediaImage.Fields.Image) ? Templates.HasMedia.Fields.Thumbnail : //Templates.HasMediaImage.Fields.Image;
               // var url = item.ImageUrl(mediaImageField, new MediaUrlOptions()).ToCssUrlValue();
				
					var imageUrl = string.Empty;
					Sitecore.Data.Fields.ImageField imageField = item.Fields["Thumbnail image"];
               @*  if (imageField?.MediaItem != null)
                 {
                     var image = new MediaItem(imageField.MediaItem);
                     imageUrl = StringUtil.EnsurePrefix('/', MediaManager.GetMediaUrl(image));
                 }
*@

                <a class="item popup" href="@imageUrl">
                    <img src="@imageUrl" alt="Gallery">
					<!-- @Html.Sitecore().Field(Templates.HasMedia.Fields.Title,item) -->
                </a>
            }
              
            </div>
        </div>
    </section><!--/End Popup Gallery-->