@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
<section class="bg-gray py-5">
    <div class="container">
        



        <div class="contact-form" style="padding:35px;">
            @Html.Sitecore().Placeholder("Inquiry-form")
        </div>


    </div>
</section>