@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@using System.Text.RegularExpressions
@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Data.Fields


@{
    
  var Title = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Title").FirstOrDefault().Value;
     var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
 var news = elements.Children;
    var i = 0;
    var count = 0;
	var itemCount =0;
}


<div class="row no-gutters h-100 testtt">
<div class="col-md-12 bg-white p-5">
<h3 class="section-heading testttt">@Title</h3>
<div class="owl-carousel single-carousel">


@foreach (var child in news.ToList())
{
i++;
if (i == 1)
{
<div>
}

var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(child);
				var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

				<li>
					<p><a target="_blank" href="@url">@child.Name</a></p>
				</li>

		
}
</ul>
</div>
</div>
</div>

</div>
</div>
</div>
