
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var Headerlink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["HeaderPrimaryMenu"];
    var HeaderMenuitem = Sitecore.Context.Database.GetItem(Headerlink);
    var HeaderPrimaryMenu = HeaderMenuitem.Children;


    var HeaderSecondarylink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["HeaderSecondaryMenu"];
    var HeaderSecondaryMenuitem = Sitecore.Context.Database.GetItem(HeaderSecondarylink);
    var HeaderSecondaryMenu = HeaderSecondaryMenuitem.Children;

    var SiteLogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["SiteLogo"];


}



<div class="overlay-top 11"></div>
<div class="headerTopBar topNav d-lg-block d-none">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 ml-auto">
			

			
		</div>
			</div>
		</div>
	</div>

<div class="navPanel">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-8 border-right py-2 text-center">
                <a class="navbar-brand" href="/"><img src="@SiteLogo" alt="Adani Transmission" class="img-fluid"></a>
            </div>
            <div class="col-sm-9 col-4">
                <div class="row top-submenu">
                    <div class="col-lg-9 col-0">

                        <div class="ml-5" id="topMenu">
                            <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-times-circle"></i></div>
                            <div class="clearfix"></div>
                            <ul class="topMenu d-lg-none d-block m-menu">
                                <li>
                                    <a href="/power-transmission">Power Transmission</a>
                                </li>

                                <li class="dropdown">
                                    <a href="/power-distribution">Power Distribution</a>
                                </li>
                            </ul>
                            <!--link menu code ends-->

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-10 ml-auto">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <div class="row">
                                    <div class="col-sm-6 col-6">
                                        <p class="searchIcon d-none"><a href="#"><span><i class="fas fa-search"></i></span></a></p>
                                    </div>
                                    <div class="col-sm-6 col-6">
                                        <!-- Toggle button to show/hide side top menu -->
                                        <div class="d-block d-lg-none topNavBtn">
                                            <button type="button" id="topNavCollapse" class="btn btn-menu">
                                                <!--<i class="fas fa-align-justify"></i>-->
                                                <i class="fas fa-bars"></i>
                                            </button>
                                        </div>
                                        <!-- /Toggle button to show/hide top menu -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 text-left"></div>
                        </div>
                    </div>
                </div>
                <div class="row nav-bg-gray mainmenu">
                    <div class="col-sm-12">
                        <!--transmission sub menu-->
                        <nav class="navbar navbar-expand-lg pl-5">

                            <div class="m-auto">

                                <div class="collapse navbar-collapse" id="navbar">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" style="font-size: 1.75rem;font-weight: 700;color: #1b9f94;">Carbon Footprint Calculator</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="desktop-none bg-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                        <!--<span class="navbar-toggler-icon"></span>-->
                        <span class="far fa-circle"></span>
                        <span class="far fa-circle"></span>
                        <span class="far fa-circle"></span>
                    </button>
                </div>
                <div class="col-9 text-right">

                </div>
            </div>
        </div>
    </section>
</div>


