@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Mvc.Presentation

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
<section class="section_padding">
    <div class="container">
        <section class="about-us d-md-block position-relative">
            <div class="container">
                <div class="section-title">
                    <h1>@Html.Sitecore().Field("Title", elements)</h1>
                </div>
                <p class="mb-4 pt-5">
                    @Html.Sitecore().Field("Description", elements)
                </p>
            </div>
        </section>
    </div>
</section>

