<section class="secton-bidea" id="secton-bidea">
    <div class="container">
        <div class="position-relative">
            <div class="bg-images bg-images-first"><img src="-/media/47AB38452CFC405DAF4959BB49F3C31C.ashx"></div>
            <div class="bg-images bg-images-second"><img src="-/media/221D75D15CA549E59825576F846210AF.ashx"></div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="have-a-idea-bulb d-lg-none d-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 65.6 94.5" style="enable-background:new 0 0 65.6 94.5;" xml:space="preserve">
<style type="text/css">
    .st0 {
        opacity: 1;
    }

    .st1 {
        fill: none;
    }

    .st2 {
        fill: #59595B;
    }

    .st3 {
        fill: #FFFFFF;
    }

    .st4 {
        fill: #808183;
    }
</style>
<g>
                        <path id="Path_451_3_" class="st0" d="M63.1,34c0-16.7-13.6-30.2-30.4-30.2S2.5,17.4,2.5,34.1c0,8,3.2,15.6,8.8,21.3   c4.3,4.3,7.3,9.5,8.9,15.3l1.5,5.3h21.8l1.3-4.8c1.6-5.9,4.8-11.3,9.2-15.6C59.9,49.9,63.1,42.1,63.1,34z" />

                        <g>
                        <path class="st1" d="M25.8,90.4c-0.2-0.1-0.3-0.1-0.5-0.2C25.5,90.3,25.6,90.3,25.8,90.4z" />

                        <path class="st1" d="M26.7,90.7c-0.2,0-0.3-0.1-0.5-0.1C26.4,90.6,26.5,90.6,26.7,90.7z" />

                        <path class="st1" d="M40.6,89.7c-0.1,0.1-0.3,0.2-0.4,0.3C40.4,89.9,40.5,89.8,40.6,89.7z" />

                        <path class="st1" d="M24.9,90c-0.1-0.1-0.3-0.2-0.4-0.3C24.6,89.8,24.8,89.9,24.9,90z" />

                        <path class="st1" d="M42.7,86.1c0,0.3-0.1,0.7-0.2,1C42.6,86.8,42.6,86.5,42.7,86.1z" />

                        <path class="st1" d="M39.8,90.2c-0.2,0.1-0.3,0.2-0.5,0.2C39.5,90.3,39.7,90.3,39.8,90.2z" />

                        <path class="st1" d="M41.9,88.3c-0.1,0.2-0.2,0.3-0.3,0.5C41.7,88.6,41.8,88.4,41.9,88.3z" />

                        <path class="st1" d="M42.3,87.4c-0.1,0.2-0.1,0.4-0.2,0.6C42.2,87.8,42.3,87.6,42.3,87.4z" />

                        <path class="st1" d="M38.9,90.5c-0.2,0-0.3,0.1-0.5,0.1C38.6,90.6,38.8,90.6,38.9,90.5z" />

                        <path class="st1" d="M37.5,90.7c0.2,0,0.3,0,0.5,0c-0.2,0-0.4,0-0.6,0C37.4,90.7,37.5,90.7,37.5,90.7z" />

                        <path class="st1" d="M27.6,90.7c0,0,0.1,0,0.1,0c-0.2,0-0.4,0-0.6,0C27.3,90.7,27.4,90.7,27.6,90.7z" />

                        <path class="st1" d="M24.2,89.4c-0.1-0.1-0.2-0.3-0.4-0.4C23.9,89.2,24,89.3,24.2,89.4z" />

                        <path class="st1" d="M22.7,87.1c-0.1-0.3-0.2-0.6-0.2-1C22.5,86.5,22.6,86.8,22.7,87.1z" />

                        <path class="st1" d="M41.3,89.1c-0.1,0.1-0.2,0.3-0.4,0.4C41.1,89.3,41.2,89.2,41.3,89.1z" />

                        <path class="st1" d="M43.6,74c0.2,0,0.3,0,0.5,0.1l0.8-2.9c1.6-5.9,4.8-11.3,9.2-15.6c5.8-5.7,9.1-13.5,9.1-21.7    c0-16.7-13.6-30.2-30.3-30.2c0,0-0.1,0-0.1,0C16,3.8,2.5,17.4,2.5,34.1c0,8,3.2,15.6,8.8,21.3c4.3,4.3,7.3,9.5,8.9,15.3l0.9,3.3    c0.2,0,0.3-0.1,0.5-0.1H43.6z" />

                        <path class="st1" d="M23,88c-0.1-0.2-0.2-0.4-0.2-0.6C22.9,87.6,22.9,87.8,23,88z" />

                        <path class="st1" d="M23.5,88.8c-0.1-0.1-0.2-0.3-0.3-0.5C23.3,88.4,23.4,88.6,23.5,88.8z" />

                        <path class="st2" d="M22.7,87.1c0,0.1,0.1,0.2,0.1,0.3c0.1,0.2,0.1,0.4,0.2,0.6c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.2,0.2,0.3,0.3,0.5    c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0.1,0.2,0.3,0.4,0.4c0.1,0.1,0.2,0.2,0.3,0.2c0.1,0.1,0.3,0.2,0.4,0.3c0.1,0.1,0.3,0.1,0.4,0.2    c0.2,0.1,0.3,0.2,0.5,0.2c0.1,0.1,0.3,0.1,0.4,0.1c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.3,0,0.4,0c0.2,0,0.4,0,0.6,0h9.7    c0.2,0,0.4,0,0.6,0c0.1,0,0.3,0,0.4,0c0.2,0,0.3-0.1,0.5-0.1c0.1,0,0.3-0.1,0.4-0.1c0.2-0.1,0.3-0.1,0.5-0.2    c0.1-0.1,0.3-0.1,0.4-0.2c0.1-0.1,0.3-0.2,0.4-0.3c0.1-0.1,0.2-0.2,0.3-0.2c0.1-0.1,0.2-0.3,0.4-0.4c0.1-0.1,0.2-0.2,0.3-0.3    c0.1-0.1,0.2-0.3,0.3-0.5c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.2,0.2-0.4,0.2-0.6c0-0.1,0.1-0.2,0.1-0.3c0.1-0.3,0.2-0.6,0.2-1l0.8-8.1    H21.9l0.6,8.1C22.5,86.5,22.6,86.8,22.7,87.1z" />

                        <polygon class="st2" points="43.6,76 21.8,76 21.9,78 43.4,78   " />

                        <g>
                        <path class="st3" d="M32.8,1.8L32.8,1.8c-8.7,0-16.8,3.4-22.9,9.5c-6.1,6.1-9.4,14.2-9.4,22.9c0,8.6,3.4,16.6,9.4,22.7     c4,4,6.9,9,8.4,14.5l1.4,5l0-0.1c0-0.6,0.2-1.1,0.5-1.5c0.3-0.3,0.6-0.5,0.9-0.6l-0.9-3.3c-1.6-5.8-4.6-11.1-8.9-15.3     c-5.6-5.7-8.8-13.3-8.8-21.3C2.5,17.4,16,3.8,32.7,3.8c0,0,0.1,0,0.1,0c16.7,0,30.2,13.5,30.3,30.2c0,8.2-3.2,16-9.1,21.7     c-4.4,4.3-7.6,9.7-9.2,15.6l-0.8,2.9c0.4,0.1,0.7,0.3,1,0.6c0.4,0.4,0.6,1,0.5,1.5l0,0.1l1.2-4.5c1.5-5.6,4.5-10.7,8.6-14.7     c6.2-6.1,9.7-14.5,9.7-23.1C65.1,16.2,50.6,1.8,32.8,1.8z" />

                        <path class="st3" d="M45.1,78h-1.5h-0.2l-0.8,8.1c0,0.3-0.1,0.7-0.2,1c0,0.1-0.1,0.2-0.1,0.3c-0.1,0.2-0.1,0.4-0.2,0.6     c-0.1,0.1-0.1,0.2-0.2,0.3c-0.1,0.2-0.2,0.3-0.3,0.5c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.3-0.4,0.4     c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.3,0.2-0.4,0.3c-0.1,0.1-0.3,0.1-0.4,0.2c-0.2,0.1-0.3,0.2-0.5,0.2     c-0.1,0.1-0.3,0.1-0.4,0.1c-0.2,0-0.3,0.1-0.5,0.1c-0.1,0-0.3,0-0.4,0c-0.2,0-0.3,0-0.5,0c0,0-0.1,0-0.1,0h-9.7c0,0-0.1,0-0.1,0     c-0.2,0-0.3,0-0.5,0c-0.1,0-0.3,0-0.4,0c-0.2,0-0.3-0.1-0.5-0.1c-0.1,0-0.3-0.1-0.4-0.1c-0.2-0.1-0.3-0.1-0.5-0.2     c-0.1-0.1-0.3-0.1-0.4-0.2c-0.2-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1-0.1-0.2-0.3-0.4-0.4     c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1-0.1-0.2-0.3-0.3-0.5c-0.1-0.1-0.1-0.2-0.2-0.3c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.1-0.1-0.2-0.1-0.3     c-0.1-0.3-0.2-0.6-0.2-1L21.9,78h-0.1h-1.5l-0.4-1.5l-0.1-0.3l0.7,10c0,0,0,0,0,0.1c0.4,3.7,3.4,6.4,7.1,6.4l0.2,0l9.6,0l0.1,0     c3.7,0,6.7-2.8,7.1-6.4l0.9-10l-0.1,0.3L45.1,78z" />

		</g>
                        <path class="st3" d="M45.1,74.7c-0.3-0.3-0.6-0.5-1-0.6L43.6,76H21.8l-0.5-1.9c-0.4,0.1-0.7,0.3-0.9,0.6c-0.4,0.4-0.6,1-0.5,1.5    l0,0.1l0.1,0.3l0.4,1.5h1.5h0.1l-0.1-2h21.8l-0.2,2h0.2h1.5l0.4-1.5l0.1-0.3l0-0.1C45.6,75.7,45.4,75.1,45.1,74.7z" />

                        <path class="st3" d="M42.5,87.1c0,0.1-0.1,0.2-0.1,0.3C42.4,87.3,42.4,87.2,42.5,87.1z" />

                        <path class="st3" d="M42.1,88c-0.1,0.1-0.1,0.2-0.2,0.3C42,88.2,42,88.1,42.1,88z" />

                        <path class="st3" d="M41.6,88.8c-0.1,0.1-0.2,0.2-0.3,0.3C41.4,89,41.5,88.9,41.6,88.8z" />

                        <path class="st3" d="M24.5,89.7c-0.1-0.1-0.2-0.2-0.3-0.2C24.3,89.5,24.4,89.6,24.5,89.7z" />

                        <path class="st3" d="M25.3,90.2c-0.1-0.1-0.3-0.1-0.4-0.2C25,90.1,25.2,90.1,25.3,90.2z" />

                        <path class="st3" d="M23.8,89c-0.1-0.1-0.2-0.2-0.3-0.3C23.6,88.9,23.7,89,23.8,89z" />

                        <path class="st3" d="M26.2,90.5c-0.1,0-0.3-0.1-0.4-0.1C25.9,90.5,26,90.5,26.2,90.5z" />

                        <path class="st3" d="M23.2,88.3c-0.1-0.1-0.1-0.2-0.2-0.3C23.1,88.1,23.2,88.2,23.2,88.3z" />

                        <path class="st3" d="M41,89.4c-0.1,0.1-0.2,0.2-0.3,0.2C40.7,89.6,40.8,89.5,41,89.4z" />

                        <path class="st3" d="M22.8,87.4c0-0.1-0.1-0.2-0.1-0.3C22.7,87.2,22.8,87.3,22.8,87.4z" />

                        <path class="st3" d="M39.4,90.4c-0.1,0.1-0.3,0.1-0.4,0.1C39.1,90.5,39.2,90.5,39.4,90.4z" />

                        <path class="st3" d="M40.2,90c-0.1,0.1-0.3,0.1-0.4,0.2C40,90.1,40.1,90.1,40.2,90z" />

                        <path class="st3" d="M38.4,90.7c-0.1,0-0.3,0-0.4,0C38.1,90.7,38.3,90.7,38.4,90.7z" />

                        <path class="st3" d="M27.1,90.7c-0.1,0-0.3,0-0.4,0C26.8,90.7,27,90.7,27.1,90.7z" />

	</g>
                        <path id="Path_453" class="st4" d="M39.5,80.1c-4.7,0.3-9.4-0.1-14.1,0.2c-0.4,0-0.4,0.8,0,0.8c4.7,0.2,9.4-0.2,14.1,0   C40,81.2,40,80.1,39.5,80.1z" />

                        <path id="Path_454" class="st4" d="M39.5,82.8c-4.7,0.3-9.4-0.1-14.1,0.2c-0.4,0-0.4,0.8,0,0.8c4.7,0.2,9.4-0.2,14.1,0   C40,83.9,40,82.7,39.5,82.8z" />

                        <g id="Group_62" transform="translate(334.506 3287.665)">
                        <path id="Path_455" class="st5" d="M-288.6-3238.2c-1-0.7-1.7-1.6-2.3-2.7c1-1.4,1.7-3.1,1.8-4.9c0.1-1,0.2-2.1,0.2-3.1    c0.1-0.9-0.2-1.9-1-2.5c-0.8-0.6-1.8-0.1-2.4,0.5c-0.6,0.7-1.1,1.6-1.3,2.5c-0.5,1.7-0.6,3.6-0.2,5.3c0.1,0.6,0.3,1.2,0.5,1.8    c-0.4,0.3-0.9,0.6-1.5,0.8c-1.7,0.5-2.9-0.4-3.7-1.8c-0.1-0.2-0.2-0.5-0.4-0.7c0.1-0.4,0.3-0.7,0.4-1c0.5-1.7,0.9-3.4,1-5.2    c0.1-1.5,0.2-3.2-1.2-4.1c-0.4-0.2-1-0.1-1.2,0.3c-2,2.9-1.9,6.6-0.8,9.9c-0.4,0.9-0.8,1.7-1.2,2.5c-0.5,0.9-1.5,2.3-2.7,2.1    c-1.1-0.2-2-1.6-2.5-2.4c-0.4-0.6-0.7-1.3-1-2c0.1-0.4,0.3-0.7,0.4-1.1c0.5-1.5,0.7-3.1,0.9-4.6c0.1-1.3,0.1-3.1-1.3-3.8    c-0.4-0.2-1-0.1-1.2,0.3c-1.2,2.8-1.5,5.9-0.7,8.8c0,0.1,0.1,0.2,0.1,0.3c-0.9,2.2-2.2,4.2-3.8,6c-0.7,0.8,0.4,1.9,1.2,1.2    c1.4-1.4,2.6-3.1,3.5-4.9c0.3,0.5,0.6,1,0.9,1.5c0.9,1.3,2.1,2.5,3.8,2.6c1.6,0.1,2.8-1.2,3.7-2.4c0.4-0.6,0.8-1.2,1.1-1.8    c0.7,1.3,1.9,2.2,3.4,2.4c1.4,0.2,2.7-0.2,3.9-1c0.7,1.1,1.5,2.1,2.5,3c0.4,0.4,1.1,0.4,1.4,0c0.4-0.4,0.4-1.1,0-1.4    C-288.5-3238.1-288.5-3238.2-288.6-3238.2z M-299-3250.9c0,0.7,0,1.4-0.1,2.1c-0.1,0.8-0.2,1.6-0.4,2.4    C-299.8-3248-299.6-3249.5-299-3250.9z M-292-3246.3c0.1-0.8,0.2-1.5,0.5-2.2c0.1-0.3,0.3-0.6,0.4-0.9c0-0.1,0.1-0.1,0.1-0.2    c0,0.1,0,0.1,0,0.2c0.1,1.9-0.1,3.8-0.6,5.6c-0.1,0.2-0.2,0.4-0.3,0.6C-292-3244.2-292-3245.3-292-3246.3L-292-3246.3z" />

                        <path id="Path_456" class="st5" d="M-286.9-3242.7c-3.2,9.9-6.6,19.7-10.3,29.4c-0.2,0.5,0.1,1,0.6,1.2c0.5,0.2,1-0.1,1.2-0.5    c3.6-9.7,7-19.6,10-29.5C-285-3243.1-286.6-3243.7-286.9-3242.7z" />

                        <path id="Path_457" class="st5" d="M-316.2-3243.3c2.6,10.1,5,20.2,7.1,30.3c0.1,0.5,0.6,0.9,1.1,0.8c0.5-0.1,0.9-0.6,0.8-1.1    c-2.2-10.2-4.6-20.3-7.3-30.3C-314.8-3244.7-316.5-3244.4-316.2-3243.3z" />

	</g>
</g>
</svg>
                    </div>
                    <h2 data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="1500"><span>Have a</span> <span class="d-block">Breakthrough</span> <span>Idea?</span></h2>
                    <p>Say iCan and share your idea for a better, greener world with us. Together, we will transform it to solve our environmental challenges with long-term impact.</p>
                    <div><a href="/submit-your-idea" class="btn btn-blue">Submit your Idea</a></div>
                </div>
                <div class="col-lg-3 ml-auto">
                    <div class="have-a-idea-bulb d-lg-block d-none">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 65.6 94.5" style="enable-background:new 0 0 65.6 94.5;" xml:space="preserve">
<style type="text/css">
    .st0 {
        opacity: 1;
    }

    .st1 {
        fill: none;
    }

    .st2 {
        fill: #59595B;
    }

    .st3 {
        fill: #FFFFFF;
    }

    .st4 {
        fill: #808183;
    }
</style>
<g>
                        <path id="Path_451_3_" class="st0" d="M63.1,34c0-16.7-13.6-30.2-30.4-30.2S2.5,17.4,2.5,34.1c0,8,3.2,15.6,8.8,21.3   c4.3,4.3,7.3,9.5,8.9,15.3l1.5,5.3h21.8l1.3-4.8c1.6-5.9,4.8-11.3,9.2-15.6C59.9,49.9,63.1,42.1,63.1,34z" />

                        <g>
                        <path class="st1" d="M25.8,90.4c-0.2-0.1-0.3-0.1-0.5-0.2C25.5,90.3,25.6,90.3,25.8,90.4z" />

                        <path class="st1" d="M26.7,90.7c-0.2,0-0.3-0.1-0.5-0.1C26.4,90.6,26.5,90.6,26.7,90.7z" />

                        <path class="st1" d="M40.6,89.7c-0.1,0.1-0.3,0.2-0.4,0.3C40.4,89.9,40.5,89.8,40.6,89.7z" />

                        <path class="st1" d="M24.9,90c-0.1-0.1-0.3-0.2-0.4-0.3C24.6,89.8,24.8,89.9,24.9,90z" />

                        <path class="st1" d="M42.7,86.1c0,0.3-0.1,0.7-0.2,1C42.6,86.8,42.6,86.5,42.7,86.1z" />

                        <path class="st1" d="M39.8,90.2c-0.2,0.1-0.3,0.2-0.5,0.2C39.5,90.3,39.7,90.3,39.8,90.2z" />

                        <path class="st1" d="M41.9,88.3c-0.1,0.2-0.2,0.3-0.3,0.5C41.7,88.6,41.8,88.4,41.9,88.3z" />

                        <path class="st1" d="M42.3,87.4c-0.1,0.2-0.1,0.4-0.2,0.6C42.2,87.8,42.3,87.6,42.3,87.4z" />

                        <path class="st1" d="M38.9,90.5c-0.2,0-0.3,0.1-0.5,0.1C38.6,90.6,38.8,90.6,38.9,90.5z" />

                        <path class="st1" d="M37.5,90.7c0.2,0,0.3,0,0.5,0c-0.2,0-0.4,0-0.6,0C37.4,90.7,37.5,90.7,37.5,90.7z" />

                        <path class="st1" d="M27.6,90.7c0,0,0.1,0,0.1,0c-0.2,0-0.4,0-0.6,0C27.3,90.7,27.4,90.7,27.6,90.7z" />

                        <path class="st1" d="M24.2,89.4c-0.1-0.1-0.2-0.3-0.4-0.4C23.9,89.2,24,89.3,24.2,89.4z" />

                        <path class="st1" d="M22.7,87.1c-0.1-0.3-0.2-0.6-0.2-1C22.5,86.5,22.6,86.8,22.7,87.1z" />

                        <path class="st1" d="M41.3,89.1c-0.1,0.1-0.2,0.3-0.4,0.4C41.1,89.3,41.2,89.2,41.3,89.1z" />

                        <path class="st1" d="M43.6,74c0.2,0,0.3,0,0.5,0.1l0.8-2.9c1.6-5.9,4.8-11.3,9.2-15.6c5.8-5.7,9.1-13.5,9.1-21.7    c0-16.7-13.6-30.2-30.3-30.2c0,0-0.1,0-0.1,0C16,3.8,2.5,17.4,2.5,34.1c0,8,3.2,15.6,8.8,21.3c4.3,4.3,7.3,9.5,8.9,15.3l0.9,3.3    c0.2,0,0.3-0.1,0.5-0.1H43.6z" />

                        <path class="st1" d="M23,88c-0.1-0.2-0.2-0.4-0.2-0.6C22.9,87.6,22.9,87.8,23,88z" />

                        <path class="st1" d="M23.5,88.8c-0.1-0.1-0.2-0.3-0.3-0.5C23.3,88.4,23.4,88.6,23.5,88.8z" />

                        <path class="st2" d="M22.7,87.1c0,0.1,0.1,0.2,0.1,0.3c0.1,0.2,0.1,0.4,0.2,0.6c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.2,0.2,0.3,0.3,0.5    c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0.1,0.2,0.3,0.4,0.4c0.1,0.1,0.2,0.2,0.3,0.2c0.1,0.1,0.3,0.2,0.4,0.3c0.1,0.1,0.3,0.1,0.4,0.2    c0.2,0.1,0.3,0.2,0.5,0.2c0.1,0.1,0.3,0.1,0.4,0.1c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.3,0,0.4,0c0.2,0,0.4,0,0.6,0h9.7    c0.2,0,0.4,0,0.6,0c0.1,0,0.3,0,0.4,0c0.2,0,0.3-0.1,0.5-0.1c0.1,0,0.3-0.1,0.4-0.1c0.2-0.1,0.3-0.1,0.5-0.2    c0.1-0.1,0.3-0.1,0.4-0.2c0.1-0.1,0.3-0.2,0.4-0.3c0.1-0.1,0.2-0.2,0.3-0.2c0.1-0.1,0.2-0.3,0.4-0.4c0.1-0.1,0.2-0.2,0.3-0.3    c0.1-0.1,0.2-0.3,0.3-0.5c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.2,0.2-0.4,0.2-0.6c0-0.1,0.1-0.2,0.1-0.3c0.1-0.3,0.2-0.6,0.2-1l0.8-8.1    H21.9l0.6,8.1C22.5,86.5,22.6,86.8,22.7,87.1z" />

                        <polygon class="st2" points="43.6,76 21.8,76 21.9,78 43.4,78   " />

                        <g>
                        <path class="st3" d="M32.8,1.8L32.8,1.8c-8.7,0-16.8,3.4-22.9,9.5c-6.1,6.1-9.4,14.2-9.4,22.9c0,8.6,3.4,16.6,9.4,22.7     c4,4,6.9,9,8.4,14.5l1.4,5l0-0.1c0-0.6,0.2-1.1,0.5-1.5c0.3-0.3,0.6-0.5,0.9-0.6l-0.9-3.3c-1.6-5.8-4.6-11.1-8.9-15.3     c-5.6-5.7-8.8-13.3-8.8-21.3C2.5,17.4,16,3.8,32.7,3.8c0,0,0.1,0,0.1,0c16.7,0,30.2,13.5,30.3,30.2c0,8.2-3.2,16-9.1,21.7     c-4.4,4.3-7.6,9.7-9.2,15.6l-0.8,2.9c0.4,0.1,0.7,0.3,1,0.6c0.4,0.4,0.6,1,0.5,1.5l0,0.1l1.2-4.5c1.5-5.6,4.5-10.7,8.6-14.7     c6.2-6.1,9.7-14.5,9.7-23.1C65.1,16.2,50.6,1.8,32.8,1.8z" />

                        <path class="st3" d="M45.1,78h-1.5h-0.2l-0.8,8.1c0,0.3-0.1,0.7-0.2,1c0,0.1-0.1,0.2-0.1,0.3c-0.1,0.2-0.1,0.4-0.2,0.6     c-0.1,0.1-0.1,0.2-0.2,0.3c-0.1,0.2-0.2,0.3-0.3,0.5c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.3-0.4,0.4     c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.3,0.2-0.4,0.3c-0.1,0.1-0.3,0.1-0.4,0.2c-0.2,0.1-0.3,0.2-0.5,0.2     c-0.1,0.1-0.3,0.1-0.4,0.1c-0.2,0-0.3,0.1-0.5,0.1c-0.1,0-0.3,0-0.4,0c-0.2,0-0.3,0-0.5,0c0,0-0.1,0-0.1,0h-9.7c0,0-0.1,0-0.1,0     c-0.2,0-0.3,0-0.5,0c-0.1,0-0.3,0-0.4,0c-0.2,0-0.3-0.1-0.5-0.1c-0.1,0-0.3-0.1-0.4-0.1c-0.2-0.1-0.3-0.1-0.5-0.2     c-0.1-0.1-0.3-0.1-0.4-0.2c-0.2-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1-0.1-0.2-0.3-0.4-0.4     c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1-0.1-0.2-0.3-0.3-0.5c-0.1-0.1-0.1-0.2-0.2-0.3c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.1-0.1-0.2-0.1-0.3     c-0.1-0.3-0.2-0.6-0.2-1L21.9,78h-0.1h-1.5l-0.4-1.5l-0.1-0.3l0.7,10c0,0,0,0,0,0.1c0.4,3.7,3.4,6.4,7.1,6.4l0.2,0l9.6,0l0.1,0     c3.7,0,6.7-2.8,7.1-6.4l0.9-10l-0.1,0.3L45.1,78z" />

		</g>
                        <path class="st3" d="M45.1,74.7c-0.3-0.3-0.6-0.5-1-0.6L43.6,76H21.8l-0.5-1.9c-0.4,0.1-0.7,0.3-0.9,0.6c-0.4,0.4-0.6,1-0.5,1.5    l0,0.1l0.1,0.3l0.4,1.5h1.5h0.1l-0.1-2h21.8l-0.2,2h0.2h1.5l0.4-1.5l0.1-0.3l0-0.1C45.6,75.7,45.4,75.1,45.1,74.7z" />

                        <path class="st3" d="M42.5,87.1c0,0.1-0.1,0.2-0.1,0.3C42.4,87.3,42.4,87.2,42.5,87.1z" />

                        <path class="st3" d="M42.1,88c-0.1,0.1-0.1,0.2-0.2,0.3C42,88.2,42,88.1,42.1,88z" />

                        <path class="st3" d="M41.6,88.8c-0.1,0.1-0.2,0.2-0.3,0.3C41.4,89,41.5,88.9,41.6,88.8z" />

                        <path class="st3" d="M24.5,89.7c-0.1-0.1-0.2-0.2-0.3-0.2C24.3,89.5,24.4,89.6,24.5,89.7z" />

                        <path class="st3" d="M25.3,90.2c-0.1-0.1-0.3-0.1-0.4-0.2C25,90.1,25.2,90.1,25.3,90.2z" />

                        <path class="st3" d="M23.8,89c-0.1-0.1-0.2-0.2-0.3-0.3C23.6,88.9,23.7,89,23.8,89z" />

                        <path class="st3" d="M26.2,90.5c-0.1,0-0.3-0.1-0.4-0.1C25.9,90.5,26,90.5,26.2,90.5z" />

                        <path class="st3" d="M23.2,88.3c-0.1-0.1-0.1-0.2-0.2-0.3C23.1,88.1,23.2,88.2,23.2,88.3z" />

                        <path class="st3" d="M41,89.4c-0.1,0.1-0.2,0.2-0.3,0.2C40.7,89.6,40.8,89.5,41,89.4z" />

                        <path class="st3" d="M22.8,87.4c0-0.1-0.1-0.2-0.1-0.3C22.7,87.2,22.8,87.3,22.8,87.4z" />

                        <path class="st3" d="M39.4,90.4c-0.1,0.1-0.3,0.1-0.4,0.1C39.1,90.5,39.2,90.5,39.4,90.4z" />

                        <path class="st3" d="M40.2,90c-0.1,0.1-0.3,0.1-0.4,0.2C40,90.1,40.1,90.1,40.2,90z" />

                        <path class="st3" d="M38.4,90.7c-0.1,0-0.3,0-0.4,0C38.1,90.7,38.3,90.7,38.4,90.7z" />

                        <path class="st3" d="M27.1,90.7c-0.1,0-0.3,0-0.4,0C26.8,90.7,27,90.7,27.1,90.7z" />

	</g>
                        <path id="Path_453" class="st4" d="M39.5,80.1c-4.7,0.3-9.4-0.1-14.1,0.2c-0.4,0-0.4,0.8,0,0.8c4.7,0.2,9.4-0.2,14.1,0   C40,81.2,40,80.1,39.5,80.1z" />

                        <path id="Path_454" class="st4" d="M39.5,82.8c-4.7,0.3-9.4-0.1-14.1,0.2c-0.4,0-0.4,0.8,0,0.8c4.7,0.2,9.4-0.2,14.1,0   C40,83.9,40,82.7,39.5,82.8z" />

                        <g id="Group_62" transform="translate(334.506 3287.665)">
                        <path id="Path_455" class="st5" d="M-288.6-3238.2c-1-0.7-1.7-1.6-2.3-2.7c1-1.4,1.7-3.1,1.8-4.9c0.1-1,0.2-2.1,0.2-3.1    c0.1-0.9-0.2-1.9-1-2.5c-0.8-0.6-1.8-0.1-2.4,0.5c-0.6,0.7-1.1,1.6-1.3,2.5c-0.5,1.7-0.6,3.6-0.2,5.3c0.1,0.6,0.3,1.2,0.5,1.8    c-0.4,0.3-0.9,0.6-1.5,0.8c-1.7,0.5-2.9-0.4-3.7-1.8c-0.1-0.2-0.2-0.5-0.4-0.7c0.1-0.4,0.3-0.7,0.4-1c0.5-1.7,0.9-3.4,1-5.2    c0.1-1.5,0.2-3.2-1.2-4.1c-0.4-0.2-1-0.1-1.2,0.3c-2,2.9-1.9,6.6-0.8,9.9c-0.4,0.9-0.8,1.7-1.2,2.5c-0.5,0.9-1.5,2.3-2.7,2.1    c-1.1-0.2-2-1.6-2.5-2.4c-0.4-0.6-0.7-1.3-1-2c0.1-0.4,0.3-0.7,0.4-1.1c0.5-1.5,0.7-3.1,0.9-4.6c0.1-1.3,0.1-3.1-1.3-3.8    c-0.4-0.2-1-0.1-1.2,0.3c-1.2,2.8-1.5,5.9-0.7,8.8c0,0.1,0.1,0.2,0.1,0.3c-0.9,2.2-2.2,4.2-3.8,6c-0.7,0.8,0.4,1.9,1.2,1.2    c1.4-1.4,2.6-3.1,3.5-4.9c0.3,0.5,0.6,1,0.9,1.5c0.9,1.3,2.1,2.5,3.8,2.6c1.6,0.1,2.8-1.2,3.7-2.4c0.4-0.6,0.8-1.2,1.1-1.8    c0.7,1.3,1.9,2.2,3.4,2.4c1.4,0.2,2.7-0.2,3.9-1c0.7,1.1,1.5,2.1,2.5,3c0.4,0.4,1.1,0.4,1.4,0c0.4-0.4,0.4-1.1,0-1.4    C-288.5-3238.1-288.5-3238.2-288.6-3238.2z M-299-3250.9c0,0.7,0,1.4-0.1,2.1c-0.1,0.8-0.2,1.6-0.4,2.4    C-299.8-3248-299.6-3249.5-299-3250.9z M-292-3246.3c0.1-0.8,0.2-1.5,0.5-2.2c0.1-0.3,0.3-0.6,0.4-0.9c0-0.1,0.1-0.1,0.1-0.2    c0,0.1,0,0.1,0,0.2c0.1,1.9-0.1,3.8-0.6,5.6c-0.1,0.2-0.2,0.4-0.3,0.6C-292-3244.2-292-3245.3-292-3246.3L-292-3246.3z" />

                        <path id="Path_456" class="st5" d="M-286.9-3242.7c-3.2,9.9-6.6,19.7-10.3,29.4c-0.2,0.5,0.1,1,0.6,1.2c0.5,0.2,1-0.1,1.2-0.5    c3.6-9.7,7-19.6,10-29.5C-285-3243.1-286.6-3243.7-286.9-3242.7z" />

                        <path id="Path_457" class="st5" d="M-316.2-3243.3c2.6,10.1,5,20.2,7.1,30.3c0.1,0.5,0.6,0.9,1.1,0.8c0.5-0.1,0.9-0.6,0.8-1.1    c-2.2-10.2-4.6-20.3-7.3-30.3C-314.8-3244.7-316.5-3244.4-316.2-3243.3z" />

	</g>
</g>
</svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<section class="secton-inspirethers">
    <div class="bg-images"><img src="-/media/57E8C1275C364BFB8697E1EA846FE1FA.ashx"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-5">
                <div class="secton-inspirethers_thumb"><img src="-/media/8CFF9DE1493B419496FD6D95D2BD1754.ashx" class="img-fluid"></div>
            </div>
            <div class="col-lg-9 col-7">
                <h2>Inspire Others</h2>
                <p class=""><a href="#inspire_others" class="btn btn-secondary" data-toggle="modal" data-target="#inspire_others">Spread the word</a></p>
            </div>
        </div>

    </div>
</section>
<div class="modal fade video" id="video-1" tabindex="-1" role="dialog" aria-labelledby="video-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background: #494a4e;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>

                <div class='embed-container'><iframe src='https://adanidotcom.azureedge.net/iCan_Umbrella_14-04-2021.mp4' frameborder='0' allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade inpire_others" id="inspire_others" tabindex="-1" role="dialog" aria-labelledby="inspire_others" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-body_bg"><img src="images/btn-inspire-thumb.svg" class="img-fluid"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Inspire Others</h4>
                <p>Lead others to be the change</p>
                <textarea class="form-control" id="" rows="4">Spread the word on social media</textarea>
                <ul class="social-share make-me-sticky">

                    <li><a href=" data-toggle="tooltip" data-placement="right" title="Share on Facebook" class="addthis_button_facebook facebookShareTop" target="_blank"><img src="-/media/A0D998B0A9844C5591F55E685CA5E5A1.ashx"></a></li>
                    <li><a data-toggle="tooltip" data-placement="right" title="Share on twitter" class="addthis_button_twitter twitterShareBottom" target="_blank"><img src="-/media/545224D7575242E6A9435C2BFF06DA2F.ashx"></a></li>
                    <li><a href="mailto:?subject=Adani iCan : Learnt about how I can contribute towards climate change&body=It’s time to say ‘Yes, I Can’ to solving all our environmental challenges with innovation #Ican AdaniOnline" data-toggle="tooltip" data-placement="right" target="_blank" title="Share on mail"><img src="-/media/D16BDD69DE044DCEA33859EBEF3BE927.ashx"></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/ICAN/jquery.min.js"></script>
<script type="text/javascript">
$('.facebookShareTop').attr('href','https://www.facebook.com/sharer/sharer.php?u=https://stageican.adani.com&quote=It’s time to say ‘Yes, I Can’ to solving all our environmental challenges with innovation #Ican @@AdaniOnline');
$('.twitterShareBottom').attr('href','https://twitter.com/intent/tweet?text=It’s time to say ‘Yes, I Can’ to solving all our environmental challenges with innovation #Ican @@AdaniOnline');
</script>






























