@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
     var contextItem = Sitecore.Context.Item;
}

<section class="section_padding">
	<div class="container">
		<div class="section-content loadmore_section">
			@Html.Sitecore().Field("Body", contextItem)
		</div>
	</div>
</section>
