@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Mvc.Presentation
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.ImageField thumbnail = ((Sitecore.Data.Fields.ImageField)elements.Fields["__Thumbnail"]);
    var thumbimg = Sitecore.Resources.Media.MediaManager.GetMediaUrl(thumbnail.MediaItem);
    var imgurl = "";
}
<section class="partners d-block position-relative">
    
</section>
<section class="partners d-block position-relative">
    @*<div class="container">
        <div class="section-title">
            <h1>@Html.Sitecore().Field("Title", elements)</h1>
            <p>@Html.Sitecore().Field("Description", elements)</p>
        </div>
        </div>*@
        <div class="slider-container">
            <div class="inner-slider">
                @foreach (var element in elements.GetChildren().ToList())
                {
                    Sitecore.Data.Fields.ImageField ImageField = ((Sitecore.Data.Fields.ImageField)element.Fields["Image"]);
                    <div class="card">
                        @if (ImageField.MediaItem != null && ImageField.MediaItem.ToString() != "")
                        {
                            imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageField.MediaItem);
                            <img src=@imgurl alt="partner-logo" class="img-fluid">
                        }
                        else
                        {
                            <img src=@thumbimg alt="partner-logo" class="img-fluid">
                        }
                    </div>
                }
                </div>
        </div>
</section>


