
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}



<section class="section bg-cream content-header section_padding-bottom">
    <div class="container">
		<h3 class="section-subheading pl-4 mb-4">Write to us</h3>
            <div class="bg-white form-section-main">
                <div class="pl-1 form-section">
                    @Html.Sitecore().Placeholder("contact-form")
                </div>
            </div>
    </div> 
</section>

