@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var menu = Sitecore.Context.Database.GetItem("{5396D838-D471-4262-8554-27902C826200}");
}

<ul class="business-ul">
    @foreach (var element in menu.GetChildren().ToList())
    {
        <li>
            @Html.Sitecore().BeginField("Link", element, new { haschildren = true})

                @Html.Sitecore().Field("NavigationTitle", element)

                @Html.Sitecore().EndField()
            </li>
    }
    </ul>
