@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc

@model RenderingModel
@{


    var SiteLogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["SiteLogo"];


}
<div class="overlay-top"></div>
<div class="navPanel fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-8 border-right text-center">
                <a class="navbar-brand" href="/"><img src="@SiteLogo" alt="Adani Defence" class="img-fluid"></a>
            </div>
            <div class="col-sm-9 col-4">
                <div class="row nav-bg-white mainmenu">
                    <div class="col-sm-12 col-md-12">
                        <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="far fa-circle"></span>
                            <span class="far fa-circle"></span>
                            <span class="far fa-circle"></span>
                        </button>
                        <nav class="navbar navbar-expand-lg ml-5 my-3">
                            <div class="">

                                <div class="collapse navbar-collapse" id="navbar">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="/about-us" id="navbarDropdown">
                                                About Us
                                            </a>
                                            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                                <div class="container-fluid">
                                                    <h5><a href="/about-us">Explore About Us</a></h5>
                                                    <hr />
                                                    <div class="row">

                                                        <!-- <div class="col-md-6"> -->
                                                        <!-- <a class="dropdown-item" href="/about-us/ceo-message">CEO Message</a> -->
                                                        <!-- </div> -->
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="/about-us/chairman-message">Chairman Message</a>

                                                        </div>
                                                        <!-- <div class="col-md-6"> -->
                                                        <!-- <a class="dropdown-item" href="/about-us/one-vision-one-team">One Vision One Team</a> -->
                                                        <!-- </div> -->
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="/about-us/ceo-message">CEO Message</a>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="/businesses" id="navbarDropdown">
                                                Businesses
                                            </a>
                                            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                                                <div class="container-fluid">
                                                    <h5><a href="/businesses">Explore Businesses</a></h5>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="/businesses/IDAC">IDAC</a>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="/businesses/platforms">Platforms</a>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="/businesses/systems">Systems</a>

                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <a class="dropdown-item" href="/businesses/composites">Composites</a>

                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <a class="dropdown-item" href="/businesses/structures">Structures</a>

                                                        </div>




                                                        <!-- <div class="col-md-6 "> -->
                                                        <!-- <a class="dropdown-item"  href="/businesses/data-center">Data Center </a> -->
                                                        <!-- </div> -->
                                                    </div>
                                                </div>
                                            </div>


                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="/infrastructure" id="navbarDropdown">
                                                Infrastructure
                                            </a>

                                            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                                                <div class="container-fluid">
                                                    <h5><a href="/infrastructure">Explore Infrastructure</a></h5>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="https://stage.adanidefence.com/infrastructure/#AdaniAerospacepark">Adani Aerospace Park</a>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="https://stage.adanidefence.com/infrastructure/#UnmannedAerialVehicleComplex">Unmanned Aerial Vehicle Complex</a>

                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <a class="dropdown-item" href="https://stage.adanidefence.com/infrastructure/#AircraftManufacturingComplex">Aircraft Manufacturing Complex (AMC)</a>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="/downloads" id="navbarDropdown">
                                                Downloads
                                            </a>
                                        </li>



                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="/newsroom" id="navbarDropdown">
                                                Newsroom
                                            </a>

                                            <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                                                <div class="container-fluid">
                                                    <h5><a href="/newsroom">Explore Newsroom</a></h5>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="/newsroom/media-coverage">Media Coverage</a>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="/newsroom/media-release">Media Releases</a>

                                                        </div>

                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="/newsroom/media-library">Media Library</a>

                                                        </div>

                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" href="/newsroom/social-media">Social Media</a>

                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="https://careers.adani.com/" target="_blank" id="navbarDropdown">
                                                Careers
                                            </a>

                                            <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                                                <div class="container-fluid">
                                                    <h5><a href="https://careers.adani.com/" target="_blank">Explore Careers</a></h5>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" target="_blank" href="https://adani.taleo.net/careersection/ex/jobsearch.ftl">Job Openings</a>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#LnD">L&D</a>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#HeroesAtWork">Our #HeroesAtWork </a>

                                                        </div>






                                                    </div>
                                                </div>
                                            </div>


                                        </li>




                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>