@using Sitecore.Mvc

@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
   

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

    var i = 1;

}

<section class="py-4 bg-white">
    <div class="container">
        @foreach (var item in elements.Children.ToList())
        {

           
                <div class="row" id="AdaniAerospacePark">
                    <div class="col-lg-6 my-4">
                   
                        @Html.Sitecore().Field("Summary", item)
                        <div class="owl-carousel three-slides">
                            @foreach (var items in item.Children.ToList())
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageField("MediaImage", items, 0, 0, "mb-3")
                                    @Html.Sitecore().Field("MediaDescription", items)
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 my-4">
                        @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid w-100")
                    </div>
                </div>

            
			if (i == 1)
            {
                break;
            }
            i++;
           
        }

    </div>

</section>