@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var menu = Sitecore.Context.Database.GetItem("{B217C495-42CC-4CAE-B30A-503FFFA7A1BC}");
}

<div class="sidebar-navigation">
    <div class="offcanvas-body">
        <div class="hamburger_section logo-sec">
            <h5 itemprop="headline">Adani Defence</h5>
        </div>
        <div class="hamburger_section">
            <ul>
                <li>
                    <a href="/">
                        
                        Home
                    </a>
                </li>
                <li>
                    <a href="/about-us">
                     
                        About Us
                    </a>
                </li>

                <li>
                    <a href="/DefenceMedia">
                        
                        Media
                    </a>
                </li>
                <li>
                    <a href="/Carrers">
                        
                        Carrer
                    </a>
                </li>

                @*<li>
                    <a href="/about-us">
                        <span class="mr-4">

                            <img src="-/media/Project/Defence/images/team.png" alt="" class="img-fluid" width="18px">
                        </span>
                        Our Team
                    </a>
                </li>*@
            </ul>
        </div>

        <div class="hamburger_section single_item">
            <ul>
                <li>
                    <a class="sub-menu-btn">
                        
                        <label class="susb-label">
                            Our Capabilities</label>
                            <!-- <i class="fa fa-angle-down" aria-hidden="true" style='font-size:22px;margin: 0 0 0 auto;'></i> -->
                            <img src="-/media/Project/Defence/images/down-arrow.png" alt="" class="susb-img">
</a>
                    <div class="collapse" style="display: none;">
                        <ul class="submenu">
                            <li class="">
                                <a href="/unmanned-aerial-systems">
                                    @*<img src="-/media/Project/AdaniGreenTalks/Themes/images/icons/New-Icons/Zero--Poverty.svg" alt=""
                                         class="img-hamburger">*@
                                    Unmanned aerial systems
                                </a>
                            </li>
                            <li class="">
                                <a href="/counter-drone-systems">
                                    @*<img src="-/media/Project/AdaniGreenTalks/Themes/images/icons/New-Icons/Zero-Hunger.svg" alt=""
                                         class="img-hamburger">*@
                                    Counter Unmanned Aerial Systems (C-UAS)
                                </a>
                            </li>
                            <li class="">
                                <a href="/small-arms">
                                    @*<img src="-/media/Project/AdaniGreenTalks/Themes/images/icons/New-Icons/Good-Health--WellBeing.svg"
                                         alt="" class="img-hamburger">*@
                                    Small Arms
                                </a>
                            </li>
                            <li class="">
                                <a href="/Ammunition">
                                    @*<img src="-/media/Project/AdaniGreenTalks/Themes/images/icons/New-Icons/Quality-Education.svg"
                                         alt="" class="img-hamburger">*@
                                    Ammunition
                                </a>
                            </li>
                            <li class="">
                                <a href="/Missiles">
                                    @*<img src="-/media/Project/AdaniGreenTalks/Themes/images/icons/New-Icons/Gender--Equality.svg"
                                         alt="" class="img-hamburger">*@
                                    Missiles
                                </a>
                            </li>
                            <li class="">
                                <a href="/MRO">
                                    @*<img src="/-/media/Project/AdaniGreenTalks/Themes/images/icons/New-Icons/view-all.svg" alt=""
                                         class="img-hamburger">*@
                                    Aircraft Services & MRO
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="hamburger_section">
            <h5>Information</h5>

            <ul>
                <li>
                    <a href="/contact-us">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="/Privacy-Policy">
                        Privacy Policy
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="container">
    <div class="top-nav position-relative">
        <span class="top-nav-link" onclick="myFunction()">

         
          <p></p>

        </span>
        <div class="buniness-box" id="myDIV">
          <ul class="business-ul">
            <li><a href="https://www.adaniairports.com/">Adani Airports</a></li>
            <li><a href="https://www.adanicapital.in/">Adani Capital</a></li>
            <li><a href="https://www.adanielectricity.com/">Adani Electricity</a></li>
            <li><a href="https://www.adanihousing.in/">Adani Housing Finance</a></li>
            <li><a href="https://www.adanirealty.com/">Adani Realty</a></li>
            <li><a href="https://www.adanigas.com/">Adani Total Gas</a></li>
            <li><a href="https://www.adaniwilmar.com/">Adani Wilmar</a></li>
          </ul>
        </div>
      </div>
    <nav class="navbar navbar-expand-lg navbar-light position-relative">

        <div class="bar-flex">
            <div class="hamburger mobile-trigger">

                <img src="-/media/Project/Defence/images/menu-hamb.png" alt="" width="20">
            </div>
            <a href="/">
                <img class="img-fluid nav-logo" src="-/media/Project/Defence/images/newlogo.png"
                     alt="">
            </a>

        </div>
        <div class="logo-menu-diff">
            <ul class="nav-menu pt-3" id="mobi-clz">
                <li class="nav-item active">
                    <a href="/about-us" class="nav-link-black">Who we are <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-black" href="/capabilities"><div class="dropdown">Our Capabilities</a>
                    <div class="dropdown-content">
                        <a href="/unmanned-aerial-systems" class="nav-link">Unmanned aerial systems</a>
                        <a href="/counter-drone-systems" class="nav-link">Counter Unmanned Aerial Systems (C-UAS)</a>
                        <a href="/small-arms" class="nav-link">Small Arms</a>
                        <a href="/Ammunition" class="nav-link">Ammunition</a>
                        <a href="/Missiles" class="nav-link">Missiles</a>
                        <a href="/MRO" class="nav-link">Aircraft Services & MRO</a>
                       
                    </div>

        </div>
        </li>
        <li class="nav-item">
            <a href="/Defencemedia" class="nav-link-black">Media</a>
        </li>
        @*<li class="nav-item">
            <a href="/contact-us" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <div class="search-container">
                <form action="/search" method="get">
                    <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
                    <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
                </form>
            </div>
        </li>*@
        </ul>
</div>
    </nav>
</div>

