@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Website.Helper

@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<section class="py-5 bg-gray section-rewards">
    <div class="container">
	<div class="awards">
	<p>2021</p>
	</div>
        <div class="row">
		@if (element.HasChildren)
		{ 
		int i = 0;
		foreach (Item item in element.GetChildren())
            {
			var imgurl = Helper.ImageUrl("Image", item);
                        <div class="col-lg-4 mt-3">
                            <div class="media-date">
							<a href="#gallery-@i" class="btn-gallery">
                                <img src="@imgurl" alt="Adani Defence Awards" class="img-fluid"></a>
								<p>@Html.Sitecore().Field("Description", item)</p>
								<div id="gallery-@i" class="hidden">
								@if (item.HasChildren)
								{
									foreach (Item itemchild in item.GetChildren())
									{
										var imgurls = Helper.ImageUrl("Image", itemchild);
										<a href="@imgurls" alt="Adani Defence Awards" title="@Html.Sitecore().Field("Description", itemchild)"></a>
									}
								}								
								</div>
                            </div>
                        </div>
						i++;
			}
		}
        </div>
    </div>
</section>