@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
<section class="news-2 d-block position-relative">
    <div class="container">
        <div class="section-title">
            <h1>In the News</h1>
        </div>
        <p class="py-4">Find the latest news and updates from Adani Defence & Aerospace</p>
        <div class="news-box-1 show-more-height-1">
            <div class="row">
                <div class="col-lg-3 py-3">
				<a href="-/media/Project/Defence/Newsroom/Media-Coverage/01_2022_10_19-The-Times-of-India_Adani-acquires-aircraft-repair-biz-in-Rs-400cr-deal.jpg" target="_blank" tabindex="0">
                    <div class="new-box news-box-1">
                        <div class="news-box-img position-relative">
                            <img src=" -/media/Project/Defence/images/plane-10.png" alt="news" class="img-fluid">
                            <div class="news-bottom">
                                <p>Updates</p>
                            </div>
                        </div>

                        <div class="news-text pt-5">
                            <p>Oct 19, 2022</p>
                            <h4>Adani acquires aircraft repair biz in Rs 400cr deal</h4>
                        </div>
						</a>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
				<a href="-/media/Project/Defence/Newsroom/Media-Coverage/0220221019-Western-TimesAdani-Defence--Aerospace-acquire-Air-Works-for-an-enterprise-value-of-INR-40.jpg" target="_blank" tabindex="0">
                    <div class="new-box news-box-2">
                        <div class="news-box-img position-relative">
                            <img src="-/media/Project/Defence/images/plane-11.png" alt="news" class="img-fluid">
                            <div class="news-bottom">
                                <p>Updates</p>
                            </div>
                        </div>
                        <div class="news-text pt-5">
                            <p>Oct 19, 2022</p>
                            <h4>Adani Defence & Aerospace acquire Air Works for an enterprise value of INR 400 Crore</h4>
                        </div>
						</a>
                    </div>

                </div>
                <div class="col-lg-3 py-3">
				<a href="-/media/Project/Defence/Newsroom/Media-Coverage/04_2022_10_19-Mint-Adani-Group-agrees-to-acquire-Air-Works.jpg" target="_blank" tabindex="0">
                    <div class="new-box news-box-3">
                        <div class="news-box-img position-relative">
                            <img src="-/media/Project/Defence/images/plane-12.png" alt="news" class="img-fluid">
                            <div class="news-bottom">
                                <p>Updates</p>
                            </div>
                        </div>
                        <div class="news-text pt-5">
                            <p>Oct 19, 2022</p>
                            <h4>Adani Group agrees to acquire Air Works</h4>
                        </div>
				</a>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
				<a href="-/media/Project/Defence/Newsroom/Media-Coverage/0520221019-The-Economic-TimesAdani-Group-Enters-MRO-Space-to-buy-Air-Works-for-Rs-400-Cr.jpg" target="_blank" tabindex="0">
                    <div class="new-box news-box-4">
                        <div class="news-box-img position-relative">
                            <img src="-/media/Project/Defence/images/plane-13.png" alt="news" class="img-fluid">
                            <div class="news-bottom">
                                <p>Updates</p>
                            </div>
                        </div>
                        <div class="news-text pt-5">
                            <p>Oct 19, 2022</p>
                            <h4>Adani Group Enters MRO Space, to buy Air Works for Rs 400 Cr</h4>
                        </div>
					</a>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
				<a href="-/media/Project/Defence/Newsroom/Media-Coverage/03_2022_10_19-Indian-Express_Adani-Group-to-acquire-MRO-Air-Works.jpg" target="_blank" tabindex="0">
                    <div class="new-box news-box-4">
                        <div class="news-box-img position-relative">
                            <img src="-/media/Project/Defence/images/plane-13.png" alt="news" class="img-fluid">
                            <div class="news-bottom">
                                <p>Updates</p>
                            </div>
                        </div>
                        <div class="news-text pt-5">
                            <p>Oct 19, 2022</p>
                            <h4>Adani Group to acquire MRO Air Works</h4>
                        </div>
					</a>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
				<a href="https://government.economictimes.indiatimes.com/news/governance/adani-to-establish-south-asias-largest-ammunition-manufacturing-complex-in-up-defence-industrial-corridor/91996876?utm_source=whatsapp_web&utm_medium=social&utm_campaign=socialsharebuttons" target="_blank" tabindex="0">
                    <div class="new-box news-box-4">
                        <div class="news-box-img position-relative">
                            <img src="-/media/Project/Defence/images/plane-13.png" alt="news" class="img-fluid">
                            <div class="news-bottom">
                                <p>Updates</p>
                            </div>
                        </div>
                        <div class="news-text pt-5">
                            <p>Jun 04, 2022</p>
                            <h4>Adani to establish south Asia’s largest ammunition manufacturing complex in UP Defence Industrial Corridor</h4>
                        </div>
					</a>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
				<a href="https://www.freepressjournal.in/india/adani-to-set-up-south-asias-largest-integrated-ammunition-manufacturing-complex-in-uttar-pradesh" target="_blank" tabindex="0">
                    <div class="new-box news-box-4">
                        <div class="news-box-img position-relative">
                            <img src="-/media/Project/Defence/images/plane-13.png" alt="news" class="img-fluid">
                            <div class="news-bottom">
                                <p>Updates</p>
                            </div>
                        </div>
                        <div class="news-text pt-5">
                            <p>Jun 04, 2022</p>
                            <h4>Adani to set up South Asia’s largest integrated ammunition manufacturing complex in Uttar Pradesh</h4>
                        </div>
					</a>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
				<a href="https://infra.economictimes.indiatimes.com/news/aviation/adani-defence-aerospace-to-secure-infrastructure-assets-of-the-conglomerate-with-indigenous-counter-drone-systems/91918233" target="_blank" tabindex="0">
                    <div class="new-box news-box-4">
                        <div class="news-box-img position-relative">
                            <img src="-/media/Project/Defence/images/plane-13.png" alt="news" class="img-fluid">
                            <div class="news-bottom">
                                <p>Updates</p>
                            </div>
                        </div>
                        <div class="news-text pt-5">
                            <p>May 31, 2022</p>
                            <h4>Adani Defence & Aerospace to secure infrastructure assets of the conglomerate with indigenous counter-drone systems</h4>
                        </div>
					</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="explore-btn py-5">
            <a class="explore--open-1">Explore more</a>
        </div>
    </div>
</section>


