
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var banner = parent.Children;

}









<div class="mainSlider">
    <div class="owl-carousel owl-theme homeslider">
        @foreach (var item in banner.ToList())
        {
            Sitecore.Data.Fields.LinkField linkField = item.Fields["MediaVideoLink"];
            var url = linkField.Url;
            <div class="item" data-videosrc="@url">
                @Html.Sitecore().ImageField("MediaThumbnail", item, 0, 0, "image-fluid")


                <div class="banner-content">
                    @Html.Sitecore().Field("MediaDescription", item)
                </div>
            </div>
        }
        </div>
    </div>