@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
<section>
    <section class="media-contact d-block position-relative">
        <div class="container">
            <div class="media-contact-form position-relative">
                <div>
                    @Html.Sitecore().Placeholder("form")
                </div>
            </div>
        </div>
    </section>
</section>