
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

<!-- Request quote -->
<div class="modal video" id="callback">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- Modal body -->
            <div class="modal-body">
                <h4 class="heading pl-4 ml-4 mt-4">Write to us</h4>
                @Html.Sitecore().Placeholder("contactusform")
            </div>
        </div>
    </div>
</div><!--/Request quote-->
