
<section class="half-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-5">
                @Html.Sitecore().Placeholder("ceo-message")


            </div>
            <div class="col-lg-12 d-none my-5">

                @Html.Sitecore().Placeholder("managing-director-message")


            </div>

        </div>
    </div>
</section><!--/Management Content-->
