@using Sitecore.Data
@using Sitecore.Adani.Website
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    // var itemcollections = models.Axes.GetDescendants();
}

<section class="py-5">
    <div class="container">
       <h2 class="heading pl-4 mb-4"> @Html.Sitecore().Field("Title", models) </h2>
<p class="mb-3"> @Html.Sitecore().Field("Summary", models)</p>
        <div class="owl-carousel owl-theme timeline-carousel">
            @foreach (var child in models.Children.ToList())
            {
			
        <div class="item">
            <div>
                @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid")
            </div>
			
          
           @Html.Sitecore().Field("Summary", child)
</div>
            }
        </div>
    </div>
</section>