@using Sitecore.Data
@using Sitecore.Adani.Website
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    // var itemcollections = models.Axes.GetDescendants();
}

<section class="py-5">
    <div class="container">
        <h3 class="heading pl-4 mb-4">Timeline</h3>
        <div class="owl-carousel owl-theme timeline-carousel">
            @foreach (var child in models.Children.ToList())
            {
			
        <div class="item">
            <div>
                @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid")
            </div>
			
            <p class="year">@Html.Sitecore().Field("Date", child, new { format = "MMM dd, yyyy" })</p>
           @Html.Sitecore().Field("Summary", child)
</div>
            }
        </div>
    </div>
</section>