
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
   

}

<section class="bg-white py-4">
    <div class="container">
     <div class="row">
                <div class="col-lg-7 my-3" data-aos="fade-right">
                   
                    @Html.Sitecore().Field("Body", parent)
                </div>
                <div class="col-lg-5 my-3" data-aos="fade-left">
                    @Html.Sitecore().ImageField("Image", parent, 0, 0, "img-fluid")
                </div>
            </div>
           
        

    </div>
    </section>





   