@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}

<section class="py-5 bg-black position-relative powertrans">
    <div class="bg-images">
        @Html.Sitecore().ImageField("MediaImage", elements)
    </div>
    <div class="container position-relative" id="counter">
        <div class="row">
            @foreach (var item in elements.Children.ToList())
            {
                <div class="col-lg-3 md-6  mb-4">
                    <div class="trans-stats bg-black p-4">
                        @Html.Sitecore().ImageField("MediaImage", item, 0, 0, "image-fluid")
                        @Html.Sitecore().Field("MediaDescription", item)
                    </div>
                </div>
            }
        </div>
    </div>
</section>