<section class="py-5 bg-gray position-relative d-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-3" data-aos="fade-right">
                @Html.Sitecore().Placeholder("case-study")
            </div>
            <div class="col-lg-7 mb-3" data-aos="fade-left">
                @Html.Sitecore().Placeholder("Managements-Corner")
            </div>
        </div>
    </div>
</section>