@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);


}
<section class="py-5">
    <div class="container">
	
	@Html.Sitecore().Field("Body", element)
        <div class="row">
            @foreach (Item childs in element.GetChildren())
            {
                <div class="col-lg-5 ko col-md-5">
                    <h2 class="mb-3 border-l pl-3">@Html.Sitecore().Field("Title", childs)</h2>
                    <div class="pl-3">
                        @Html.Sitecore().Field("Body", childs)
                    </div>
                </div>
                <div class="col-lg-7 ko col-md-7 mb-5">
				<h2 class="mb-3 txt-md">Performance Record</h2>
                    @Html.Sitecore().ImageField("Image", childs, 0, 0, "img-fluid")

                </div>
            }
        </div>
    </div>
</section>
