<section class="position-relative d-lg-none d-block" data-aos="fade-up">
    <div class="container">
        <h2 class="mb-3 border-l pl-3 txt-lg">Businesses</h2>
        <p class="mb-3 pl-3" />
        <p class="mb-3"><a href="/services/Transmission" class="mr-2 btn btn-gradient w-100 text-center">Power Transmission</a></p>
        <p class="mb-3"><a href="/services/solar-power" class="btn btn-gradient mr-2 w-100 text-center">Solar Power</a></p>
        <p class="mb-3"><a href="/services/Wind-Power" class="btn btn-gradient mr-2 w-100 text-center">Wind Power</a></p>
    </div>
</section>
<section class="pt-5 bg-gray d-lg-block d-none">
    <div class="container" data-aos="fade-down">
        <h2 class="mb-3 border-l pl-3 txt-lg">Businesses</h2>
        <ul class="nav nav-tabs nav-border-bottom mt-5" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-1" data-toggle="tab" href="#cont-tab-1" role="tab" aria-controls="tab1" aria-selected="true">Transmission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-2" data-toggle="tab" href="#cont-tab-2" role="tab" aria-controls="tab2" aria-selected="false">Renewable</a>
            </li>
        </ul>
    </div>
</section>
<section class="position-relative d-lg-block d-none aos-init aos-animate" data-aos="fade-up">
    <div class="bg-images"><img alt="" src="-/media/C16515400BE643A1BD43B1C03F859BC1.ashx" /></div>
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="cont-tab-1" role="tabpanel" aria-labelledby="tab-1">
                @Html.Sitecore().Placeholder("home-map")
                <div class="tab-pane fade" id="cont-tab-2" role="tabpanel" aria-labelledby="tab-2">
                    @Html.Sitecore().Placeholder("renewbales-map")
                </div>
            </div>
        </div>
</section>