<section class="pt-5 bg-gray d-lg-block d-none">
<div class="container" data-aos="fade-down">
<h2 class="mb-3 border-l pl-3 txt-lg">Businesses</h2>
<ul class="nav nav-tabs nav-border-bottom mt-5" role="tablist">
    <li class="nav-item">
    <a class="nav-link active" id="tab-1" data-toggle="tab" href="#cont-tab-1" role="tab" aria-controls="tab1" aria-selected="true">Transmission</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="tab-2" data-toggle="tab" href="#cont-tab-2" role="tab" aria-controls="tab2" aria-selected="false">Renewable</a>
    </li>
</ul>
</div>
</section>
<section class="position-relative d-lg-block d-none aos-init aos-animate" data-aos="fade-up">
<div class="bg-images"><img alt="" src="-/media/C16515400BE643A1BD43B1C03F859BC1.ashx" /></div>
<div class="container-fluid">
<div class="tab-content">
<div class="tab-pane fade show active" id="cont-tab-1" role="tabpanel" aria-labelledby="tab-1">
<div class="container">
<div class="row">
<div class="col-md-7">
<figure class="indiaMap">
<svg viewbox="0 13 371 290" style="z-index: 999999;">
<image width="416" height="300" xlink:href="-/media/B15DE068E0A2483B854B176118C35257.ashx"></image>
<a class="pointer" rel="contenttab18">
<path d="M46 125 C 80 120, 70 70, 62 70" stroke="black" fill="transparent" stroke-dasharray="2 1"></path>
</a>
<a class="pointer" rel="contenttab19">
<path d="M110 55 C 110 60, 80 80, 65 65" stroke="black" fill="transparent" stroke-dasharray="2 1"></path>
</a>
<a class="pointer" rel="contenttab20">
<path d="M102 120 C 100 100, 90 90, 130 75" stroke="black" fill="transparent" stroke-dasharray="2 1"></path>
</a>
<a rel="content1Tab" class="pointer">
<circle cx="144" cy="188" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a rel="content2Tab" class="pointer">
<circle cx="143" cy="199" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a rel="content3Tab" class="pointer">
<circle cx="130" cy="193" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a rel="content4Tab" class="pointer">
<circle cx="108" cy="198" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a rel="content5Tab" class="pointer">
<circle cx="90" cy="205" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a rel="content6Tab" class="pointer">
<circle cx="75" cy="148" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a rel="content7Tab" class="pointer">
<circle cx="60" cy="140" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a rel="content8Tab" class="pointer">
<circle cx="33" cy="143" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a rel="content9Tab">
<circle cx="22" cy="138" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a>
<a rel="content12Tab" class="pointer">
<circle cx="70" cy="110" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a>
<!-- <a rel="3content12Tab" class="pointer"> -->
<!-- <circle cx="51" cy="93" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle> -->
<!-- </a> -->
<!-- <a rel="4content12Tab" class="pointer"> -->
<!-- <circle cx="161" cy="66" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle> -->
<!-- </a> -->
<!-- <a rel="5content12Tab" class="pointer"> -->
<!-- <circle cx="253" cy="153" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle> -->
<!-- </a> -->
<a rel="content14Tab" class="pointer">
<circle cx="120" cy="47" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> 
<a rel="content15Tab" class="pointer">
<circle cx="120" cy="65" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a>
<a rel="3content16Tab" class="pointer">
<circle cx="89" cy="99" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a>
<a rel="3content17Tab" class="pointer">
<circle cx="72" cy="118" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a>
<a rel="3content18Tab" class="pointer">
<circle cx="62" cy="130" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a>
 <a rel="content16Tab" class="pointer">
<circle cx="126" cy="55" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a rel="content17Tab" class="pointer">
<circle cx="122" cy="85" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a>
<a rel="content20Tab" class="pointer">
<circle cx="158" cy="102" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a>
<a rel="content23Tab" class="pointer ">
<circle cx="193" cy="179" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a>
<!-- transmission lines -->
<a class="pointer" rel="trans1Tab">
<g transform="rotate(12 141 91)">
<rect x="164" y="187" width="1" height="7" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans2Tab">
<g transform="rotate(72 100 100)">
<rect x="197" y="87" width="1" height="12" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans3Tab">
<g transform="rotate(78 100 100)">
<rect x="196" y="92" width="1" height="18" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans4Tab">
<g transform="rotate(66 100 100)">
<rect x="192" y="134" width="1" height="16" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans5Tab">
<g transform="rotate(115 100 100)">
<rect x="153" y="104" width="1" height="14" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans6Tab">
<g transform="rotate(84 100 97)">
<rect x="139" y="143" width="1" height="23.2" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="trans6Tab1">
<g transform="rotate(174 100 188)">
<rect x="128" y="166" width="1" height="8" stroke="none" fill="#000"></rect>
</g>
</a>
<!-- <a class = "pointer" rel="trans7Tab">
                  <g transform="rotate(90 100 100)">
                    <rect x="159" y="74" width="1" height="21" stroke="none" fill="#000"></rect>
                  </g>
                  </a> --> <a class="pointer" rel="trans8Tab">
<g transform="rotate(115 74 75)">
<rect x="152" y="85" width="1" height="9" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans9Tab">
<g transform="rotate(65 100 120)">
<rect x="93" y="161" width="1" height="28" stroke="none" fill="#000"></rect>
</g>
<g transform="rotate(221 151 86)">
<rect x="189" y="-3" width="1" height="12" stroke="none" fill="#000"></rect>
</g>
<g transform="rotate(221 151 86)">
<rect x="189" y="11" width="1" height="22" stroke="none" fill="#000"></rect>
</g>
<g transform="rotate(221 151 86)">
<rect x="189" y="37" width="1" height="43" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans10Tab">
<g transform="rotate(97 141 91)">
<rect x="167" y="161" width="1" height="18" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans11Tab">
<g transform="rotate(20 124 73)">
<rect x="86" y="114" width="1" height="10" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans12Tab">
<g transform="rotate(121 141 91)">
<rect x="194" y="128" width="1" height="13" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans13Tab">
<g transform="rotate(3 158 110)">ncontenttab6troke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans14Tab">
<g transform="rotate(30 193 37)">
<rect x="143" y="88" width="1" height="8" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="trans15Tab">
<g transform="rotate(138 193 12)">
<rect x="282" y="16" width="1" height="4" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans16Tab">
<g transform="rotate(135 100 100)">
<rect x="73" y="87" width="1" height="6" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="trans17Tab">
<g transform="rotate(144 126 151)">
<rect x="167" y="125" width="1" height="7" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="trans18Tab">
<g transform="rotate(0 193 48)">
<rect x="119" y="48" width="1" height="15" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="contenttab1">
<g transform="rotate(37 0 317)">
<rect x="30" y="165" width="1" height="22" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="contenttab2">
<g transform="rotate(55 83 206)">
<rect x="115" y="206" width="1" height="20" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="contenttab3">
<g transform="rotate(90 169 173)">
<rect x="220" y="238" width="1" height="8" stroke="none" fill="#000"></rect>
</g>
<g transform="rotate(180 169 133)">
<rect x="234.5" y="33" width="1" height="8" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="contenttab4">
<g transform="rotate(75 163 171)">
<rect x="192" y="229" width="1" height="34" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="contenttab5">
<circle cx="75" cy="220" r="2" stroke="darkblue" stroke-width="1" fill="#fff"></circle>
</a> <a class="pointer" rel="contenttab6">
<g transform="rotate(53 163 171)">
<rect x="154" y="244" width="1" height="21" stroke="none" fill="#000"> </rect>
</g>
</a>
<!-- <a class="pointer" rel="ncontenttab6"> -->
<!-- <g transform="rotate(53 177 171)"> -->
<!-- <rect x="160" y="256" width="1" height="22" stroke="none" fill="#000"> </rect> -->
<!-- </g> -->
<!-- </a> -->
<a class="pointer" rel="contenttab7">
<g transform="rotate(90 163 171)">
<rect x="148" y="227" width="1" height="29" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="contenttab8">
<g transform="rotate(200 70 90)">
<rect x="55" y="34" width="1" height="10" stroke="none" fill="#000"></rect>
</g>
</a> <a class="pointer" rel="contenttab9">
<g transform="rotate(80 100 100)">
<rect x="143" y="145" width="1" height="6" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="contenttab11">
<g transform="translate(98 61) rotate(38)">
<rect x="1" y="15" width="1" height="7" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="contenttab12">
<g transform="translate(98 92) rotate(130)">
<rect x="-1" y="-1" width="1" height="17" stroke="none" fill="#000"></rect>
</g>
</a>
<!--<a class="pointer" rel="contenttab13">
<g transform="translate(188 83) rotate(40)">
<rect width="1" height="8" stroke="none" fill="#000"></rect>
</g>
</a>-->
<a class="pointer" rel="contenttab14">
<g transform="translate(168 79) rotate(40)">
<rect x="6" y="26" width="1" height="15" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="contenttab15">
<g transform="translate(189 128) rotate(42)">
<rect x="0" y="0" width="1" height="8" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="ncontenttab15">
<g transform="translate(190 134) rotate(76)">
<rect x="0" y="0" width="1" height="5" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="contenttab16">
<g transform="translate(203 163) rotate(36)">
<rect x="0" y="2" width="1" height="15" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="ncontenttab16">
<g transform="translate(199 165) rotate(65)">
<rect x="10" y="13" width="1" height="20" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="n2contenttab16">
<g transform="translate(186 193) rotate(-86)">
<rect x="14" y="8" width="1" height="7" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="contenttab17">
<g transform="translate(213 161) rotate(70)">
<rect x="-1" y="3" width="1" height="5" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="1contenttab17">
<g transform="translate(223 171) rotate(87)">
<rect x="0" y="3" width="1" height="7" stroke="none" fill="#000"></rect>
</g>
</a>
<a class="pointer" rel="2contenttab17">
<g transform="translate(220 166) rotate(56)">
<rect x="-1" y="3" width="1" height="5" stroke="none" fill="#000"></rect>
</g>
</a>
<!-- <a class="pointer" rel="2contenttab18"> -->
<!-- <g transform="translate(249 142) rotate(49)"> -->
<!-- <rect x="0" y="3" width="1" height="5" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab19"> -->
<!-- <g transform="translate(247 122) rotate(-3)"> -->
<!-- <rect x="0" y="4" width="1" height="15" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab20"> -->
<!-- <g transform="translate(206 118) rotate(-36)"> -->
<!-- <rect x="0" y="1" width="1" height="9" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab21"> -->
<!-- <g transform="translate(162 63) rotate(46)"> -->
<!-- <rect x="0" y="4" width="1" height="5" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab22"> -->
<!-- <g transform="translate(162 63) rotate(-43)"> -->
<!-- <rect x="-2" y="3" width="1" height="7" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab23"> -->
<!-- <g transform="translate(173 63) rotate(46)"> -->
<!-- <rect x="4" y="29" width="1" height="5.2" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab24"> -->
<!-- <g transform="translate(147 87) rotate(137)"> -->
<!-- <rect x="0" y="-3" width="1" height="9" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab26"> -->
<!-- <g transform="translate(144 82) rotate(149)"> -->
<!-- <rect x="1" y="4" width="1" height="10" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab26"> -->
<!-- <g transform="translate(148 96) rotate(165)"> -->
<!-- <rect x="-4" y="5" width="1" height="23" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab27"> -->
<!-- <g transform="translate(59 84) rotate(36)"> -->
<!-- <rect x="-2" y="2" width="1" height="8" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
<!-- <a class="pointer" rel="2contenttab28"> -->
<!-- <g transform="translate(118 220) rotate(63)"> -->
<!-- <rect x="0" y="4" width="1" height="17" stroke="none" fill="#000"></rect> -->
<!-- </g> -->
<!-- </a> -->
</svg>
</figure>
</div>
<div class="col-lg-5 ml-auto map-descriptions pt-5 pb-3">
<div class="ProjectAssetsData">
<div class="ProjectAssetsDataInner" id="DefaultData">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Click on the Transmission lines, Substations, bays to know more</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans1Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kv Tiroda&ndash;Warora transmission line <span class="txt-sm d-block mt-2">Capacity: 438 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans2Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV Tiroda&ndash;Koradi ckt 1 &amp; ckt 2 transmission line <span class="txt-sm d-block mt-2">Capacity: 271 ckt km</span>
<a href="/power-transmission/Maharashtra-Eastern-Grid-Power-Transmission-Limited-MEGPTCL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans3Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV Koradi-Akola ckt 1 &amp; ckt 2 transmission line <span class="txt-sm d-block mt-2">Capacity: 445 ckt km</span>
<a href="/power-transmission/Maharashtra-Eastern-Grid-Power-Transmission-Limited-MEGPTCL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans4Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV Akola&ndash;Aurangabad ckt 1 &amp; ckt 2 transmission line  <span class="txt-sm d-block mt-2">Capacity: 439 ckt km</span>
<a href="/power-transmission/Maharashtra-Eastern-Grid-Power-Transmission-Limited-MEGPTCL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans5Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Sami&ndash;Dehgam transmission line <span class="txt-sm d-block mt-2">Capacity: 303 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans6Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Mundra-Sami transmission line <span class="txt-sm d-block mt-2">Capacity: 563 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans6Tab1" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>LILO of one Ckt of Aurangabad - Padghe 765 kV D/C transmission line at Pune (130 ckt km)</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans7Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Mundra-Sami transmission line <span class="txt-sm d-block mt-2">Capacity: 563 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans8Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>33 kV Mundra-Bhadai electrode line <span class="txt-sm d-block mt-2">Capacity: 64 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans9Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>&plusmn; 500 kV Bi-pole Mundra&ndash;Mohindergarh HVDC transmission line <span class="txt-sm d-block mt-2">Capacity: 1980 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans10Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Bikaner&ndash;Deedwana transmission line <span class="txt-sm d-block mt-2">Capacity: 129 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans11Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>220 kV Deedwana&ndash;Sujangarh transmission line <span class="txt-sm d-block mt-2">Capacity: 60 ckt km</span>
<a href="/power-transmission/Maru-Transmission-Service-Company-Ltd-MTSCL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans12Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Ajmer&ndash;Deedwana transmission line  <span class="txt-sm d-block mt-2">Capacity: 111 ckt km</span>
<a href="/power-transmission/Maru-Transmission-Service-Company-Ltd-MTSCL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans13Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>33 kV Mohindergarh&ndash;Kaithal electrode line <span class="txt-sm d-block mt-2">Capacity: 376 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans14Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Mohindergarh-Bhiwani transmission line  <span class="txt-sm d-block mt-2">Capacity: 100 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans15Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Mohindergarh-Dhanoda transmission line &nbsp;<span class="txt-sm d-block mt-2">Capacity: 10 ckt km</span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans16Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Alwar-Hindaun transmission line <span class="txt-sm d-block mt-2">Capacity: 97 ckt km</span>
<a href="/power-transmission/Aravali-Transmission-Service-Company-Ltd-ATSCL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans17Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Akola I&ndash;Akola II transmission line <span class="txt-sm d-block mt-2">Capacity: 62 ckt km</span>
<a href="/power-transmission/Maharashtra-Eastern-Grid-Power-Transmission-Limited-MEGPTCL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="trans18Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>33 kV Mohindergarh-Kaithal electrode line
 <span class="txt-sm d-block mt-2 "></span>
<a href="/power-transmission/Maharashtra-Eastern-Grid-Power-Transmission-Limited-MEGPTCL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content1Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765/400 kV Tiroda switchyard<span class="txt-sm d-block mt-2">Capacity: 1,500 MVA </span>
<a href="/power-transmission/Maharashtra-Eastern-Grid-Power-Transmission-Limited-MEGPTCL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content2Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Bays at Warora substation (MSETCL)
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content3Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765/400 kV Koradi substation<span class="txt-sm d-block mt-2">Capacity: 3,000 MVA </span>
<a href="/power-transmission/Maharashtra-Eastern-Grid-Power-Transmission-Limited-MEGPTCL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content4Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765/400kV Akola II substation<span class="txt-sm d-block mt-2">Capacity: 1,500 MVA </span>
<a href="/power-transmission/Maharashtra-Eastern-Grid-Power-Transmission-Limited-MEGPTCL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content5Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV Bays at Aurangabad (Ektuni) substation (MSETCL)
<a href="/power-transmission/Maharashtra-Eastern-Grid-Power-Transmission-Limited-MEGPTCL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content6Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Bays at Dehgam substation (PGCIL)
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content7Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Sami switching station
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content8Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>&plusmn; 500 kV Mundra HVDC terminal <br />
<br />
400 / 220 kV Mundra Switchyard<span class="txt-sm d-block mt-2">Capacity: 3,630 MVA </span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content9Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Bhadai electrode station</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content10Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Zazam repeater station</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content11Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Penava repeater station</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content12Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400/220/132 kV Deedwana substation<span class="txt-sm d-block mt-2">Capacity: 730 MVA </span>
<a href="/power-transmission/Maru-Transmission-Service-Company-Ltd-MTSCL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="3content12Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Pooling station at Fatehgarh
<a href="/power-transmission/Fatehgarh--Bhadla-Transmission-Limited-FBTL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="5content12Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400/220 kV, 2x500 MVA sub-station at Dhanbad &amp; LILO of Both Circuits of Ranchi-Maithon RB 400 kV D/C Line at Dhanbad<span class="txt-sm d-block mt-2">Capacity: 1000 MVA </span>
<a href="/power-transmission/North-Karanpura-Transco-Ltd-NKTL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="4content12Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400/2201132 kV (GIS) substation at Badaun<span class="txt-sm d-block mt-2">Capacity: 950 MVA </span>
<a href="/power-transmission/Obra-C-Badaun-Transmission-Ltd-OBTL" class="txt-xs">read more</a>
</p>
</div>
</div>
<!--<div class="ProjectAssetsDataInner" id="5content12Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400/2201132 kV (GIS) substation at Badaun<span class="txt-sm d-block mt-2">Capacity: 950 MVA </span><span class="txt-sm d-block mt-2">SPV: Obra-C Badaun Transmission Ltd</span>
<a href="/power-transmission/Obra-C-Badaun-Transmission-Ltd-OBTL" class="txt-xs">read more</a>
</p>
</div>
</div>-->
<div class="ProjectAssetsDataInner" id="content13Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Makrana repeater station</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content14Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Kaithal electrode station</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content15Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>&plusmn; 500 kV Mohindergarh HVDC Substation <span class="txt-sm d-block mt-2">Capacity: 3,000 MVA </span>
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content16Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV bays at Bhiwani substation (PGCIL)
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="3content16Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Makrana repeater station
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="3content17Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Penava repeater station
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="3content18Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Zazam repeater station
<a href="/power-transmission/Adani-Transmission-India-Limited-ATIL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content17Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400/220 kV Alwar substation<span class="txt-sm d-block mt-2">Capacity: 630 MVA </span>
<a href="/power-transmission/Aravali-Transmission-Service-Company-Ltd-ATSCL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content18Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>132kV S/C lines associated with PPP 10 project &ndash; 5 Nos (164 ckt km)</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content20Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400/ 220 kV&nbsp;Morena&nbsp;SS<span class="txt-sm d-block mt-2">Capacity: 730 MVA </span>
<a href="/power-transmission/Chhattisgarh-WR-Transmission-Ltd-CWRTL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content21Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>220 kV GSS (1 No) &amp; 132kV/ 33kV Substations (4 Nos) associated with PPP 8 project</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content22Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>132kV S/C lines associated with PPP 9 project &ndash; 6 Nos (133 ckt km)</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="content23Tab" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV&nbsp;Rajnandgaon&nbsp;Switiching&nbsp;Station
<a href="/power-transmission/Raipur-Rajnandgaon-Warora-Transmission-Ltd-RRWTL" class="txt-xs">read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab1" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV Parli-Solapur <span class="txt-sm d-block mt-2">Capacity: 272 ckt km</span>
<a href="/power-transmission/Western-Transmission-Power-Ltd-WTPL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab2" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV Solapur-Kolhapur <span class="txt-sm d-block mt-2">Capacity: 440 ckt km</span>
<a href="/power-transmission/Western-Transmission-Power-Ltd-WTPL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab3" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV LILO of Solapur-Karad at Solapur <span class="txt-sm d-block mt-2">Capacity: 230 ckt km</span>
<a href="/power-transmission/Western-Transmission-Power-Ltd-WTPL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab4" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV Pune-Parli transmission line <span class="txt-sm d-block mt-2">Capacity: 622 ckt km</span>
<a href="/power-transmission/Western-Transmission-Power-Ltd-WTPL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab5" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV LILO of Lonikhand-Kalwa transmission line at Pune <span class="txt-sm d-block mt-2">Capacity: 3 ckt km</span>
<a href="/power-transmission/Western-Transmission-Power-Ltd-WTPL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab6" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV Pune-Aurangabad transmission line  <span class="txt-sm d-block mt-2">Capacity: 522 ckt km</span>
<a href="/power-transmission/Western-Transmission-Power-Ltd-WTPL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="ncontenttab6" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV Pune-Aurangabad transmission line  <span class="txt-sm d-block mt-2">Capacity: 522 ckt km</span>
<a href="/power-transmission/Western-Transmission-Power-Ltd-WTPL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab7" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV Rajgarh-Karamsad <span class="txt-sm d-block mt-2">Capacity: 486 ckt km</span>
<a href="/power-transmission/Western-Transmission-Gujarat-Ltd-WTGL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab8" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV Vadavi-Kansari transmission line <span class="txt-sm d-block mt-2">Capacity: 282 ckt km</span>
<a href="/power-transmission/Western-Transmission-Gujarat-Ltd-WTGL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab9" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400kV Limbdi-Vadavi transmission line <span class="txt-sm d-block mt-2">Capacity: 206 ckt km</span>
<a href="/power-transmission/Western-Transmission-Gujarat-Ltd-WTGL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab11" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV D/C Suratgarh-Bikaner line <span class="txt-sm d-block mt-2">Capacity: 278 ckt km</span>
<a href="/power-transmission/Adani-Transmission-Rajasthan-Ltd--ATRL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab12" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV D/C Bikaner-Sikar line<span class="txt-sm d-block mt-2">Capacity: 343 ckt km</span>
<a href="/power-transmission/Adani-Transmission-Bikaner-Sikar-Private-Limited" class="txt-xs">Read more</a>
</p>
</div>
</div>
<!--<div class="ProjectAssetsDataInner" id="contenttab13">
	<div class="contPd">
		<h3>Transmission Project Assets Details</h3>
		<p>NA</p>
	</div>
</div>-->
<div class="ProjectAssetsDataInner" id="contenttab14" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV D/C Gwalior-Morena transmission line <span class="txt-sm d-block mt-2">Capacity: 96 ckt km</span>
<a href="/power-transmission/Chhattisgarh-WR-Transmission-Ltd-CWRTL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab15" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV D/C Vindhyachal-Vindhyachal transmission line  <span class="txt-sm d-block mt-2">Capacity: 55 ckt km</span>
<a href="/power-transmission/Chhattisgarh-WR-Transmission-Ltd-CWRTL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="ncontenttab15" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV S/C Vindhyachal-Sasan transmission line (6 ckt km)<span class="txt-sm d-block mt-2">Capacity: 6 ckt km</span>
<a href="/power-transmission/Chhattisgarh-WR-Transmission-Ltd-CWRTL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab16" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV D/C Bilaspur pooling station &ndash; Rajnandgaon  transmission line   <span class="txt-sm d-block mt-2">Capacity: 324 ckt km</span>
<a href="/power-transmission/Sipat-Transmission-Ltd-STL" class="txt-xs">Read more</a>
</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="ncontenttab16" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 KV D/C Rajnandgaon &ndash; New Pooling Station near Warora transmission line<span class="txt-sm d-block mt-2">Capacity: 532 ckt km</span>
<a href="/power-transmission/Raipur-Rajnandgaon-Warora-Transmission-Ltd-RRWTL" class="txt-xs">Read more</a></p>
<p>&nbsp;</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="n2contenttab16" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV D/C Raipur &ndash; Rajnandgaon transmission line  <span class="txt-sm d-block mt-2">Capacity: 80 ckt km</span>
<a href="/power-transmission/Raipur-Rajnandgaon-Warora-Transmission-Ltd-RRWTL" class="txt-xs">Read more</a></p>
<p>&nbsp;</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab17" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV S/C Sipat-Bilaspur pooling station transmission line   <span class="txt-sm d-block mt-2">Capacity: 24 ckt km</span>
<a href="/power-transmission/Sipat-Transmission-Ltd-STL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="1contenttab17" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV S/C Raigarh-Champa transmission line  <span class="txt-sm d-block mt-2">Capacity: 97 ckt km</span>
<a href="/power-transmission/Chhattisgarh-WR-Transmission-Ltd-CWRTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab17" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV S/C Champa-Dharmajaygarh  transmission line   <span class="txt-sm d-block mt-2">Capacity: 51 ckt km</span>
<a href="/power-transmission/Chhattisgarh-WR-Transmission-Ltd-CWRTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab18" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV D/C North Karanpura - Chandwa Line <span class="txt-sm d-block mt-2">Capacity: 76 ckt km</span>
<a href="/power-transmission/North-Karanpura-Transco-Ltd-NKTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab19" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 KV D/C North Karanpura - Gaya Line<span class="txt-sm d-block mt-2">Capacity: 222 ckt km</span>
<a href="/power-transmission/North-Karanpura-Transco-Ltd-NKTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab20" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV D/C Jaunpur - Obra line (Capacity:332 ckt km)
<a href="/power-transmission/Obra-C-Badaun-Transmission-Ltd-OBTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab21" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>132kV Badaun-Ujhani S/C line And 132 kV Bilsi-Badaun S/C line <span class="txt-sm d-block mt-2">Capacity: 69 ckt km</span>
<a href="/power-transmission/Obra-C-Badaun-Transmission-Ltd-OBTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab22" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV D/C Roza - Badaun line <span class="txt-sm d-block mt-2">Capacity: 169 ckt km</span>
<a href="/power-transmission/Obra-C-Badaun-Transmission-Ltd-OBTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab23" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>400 kV Ghatampur TPS-Kanpur (PG) D/C line<span class="txt-sm d-block mt-2">Capacity: 100 ckt km</span>
<a href="/power-transmission/Ghatampur-Transmission-Limited" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab24" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV Ghatampur TPS-Agra (UP) S/C line<span class="txt-sm d-block mt-2">Capacity: 224 ckt km</span>
<a href="/power-transmission/Ghatampur-Transmission-Limited" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab25" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV S/C Champa-Dharmajaygarh  transmission line   <span class="txt-sm d-block mt-2">Capacity: 51 ckt km</span>
<a href="/power-transmission/Chhattisgarh-WR-Transmission-Ltd-CWRTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab26" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV Ghatampur TPS-Hapur (WUPPTCL) S/C&nbsp;line <span class="txt-sm d-block mt-2">Capacity: 408 ckt km</span>
<a href="/power-transmission/Ghatampur-Transmission-Limited" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab27" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>Fatehgarh &ndash; Bhadla (PG) 765 kV D/C Line <span class="txt-sm d-block mt-2">Capacity: 292 ckt km</span>
<a href="/power-transmission/Fatehgarh--Bhadla-Transmission-Limited-FBTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="2contenttab28" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p>765 kV D/C LILO of One Ckt of Aurangabad-Padghe line at Pune <span class="txt-sm d-block mt-2">Capacity: 129 ckt km</span>
<a href="/power-transmission/Chhattisgarh-WR-Transmission-Ltd-CWRTL" class="txt-xs">Read more</a></p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab18" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p><strong>PPP 9</strong><br />
132/33kV Riyabari GSS &amp; associated lines<br />
132/33kV Bar GSS &amp; associated lines<br />
132/33kV Ghumati GSS &amp; associated lines<br />
132/33kV Ahore GSS &amp; associated lines<br />
132/33kV Ramji Ki Gol GSS &amp; associated lines<br />
132/33kV Baytu GSS &amp; associated lines
<span class="txt-sm d-block mt-2">Capacity: 150 MVA, 131 Ckms</span>
<a href="/power-transmission/Barmer-Power-Transmission-Service-Ltd-BPTSL" class="txt-xs">Read more</a></p>
<p>&nbsp;</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab19" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p><strong>PPP 10</strong><br />
132/33kV Ghamurwali GSS &amp; associated lines<br />
132/33kV Shekhsar GSS &amp; associated lines<br />
132/33kV Bengantikalan GSS &amp; associated lines<br />
132/33kV Rajmathai GSS &amp; associated lines<br />
132/33kV Sorda GSS &amp; associated lines
<span class="txt-sm d-block mt-2">Capacity: 125 MVA, 165 Ckms</span>
<a href="/power-transmission/Thar-Power-Transmission-Service-Ltd-TPTSL" class="txt-xs">Read more</a></p>
<p>&nbsp;</p>
</div>
</div>
<div class="ProjectAssetsDataInner" id="contenttab20" style="display: none;">
<div class="contPd">
<h3>Transmission Project Assets Details</h3>
<p><strong>PPP 8</strong><br />
132/33kV Khatoti GSS &amp; associated lines<br />
132/33kV Peeplu GSS &amp; associated lines<br />
220/132/33kV Ranpur GSS &amp; associated lines<br />
132/33kV Bambora GSS &amp; associated lines<br />
132/33kV Chiti GSS &amp; associated lines<br />
<span class="txt-sm d-block mt-2">Capacity: 310 MVA, 115 Ckms</span>
<a href="/power-transmission/Hadoti-Power-Transmission-Service-Ltd" class="txt-xs">Read more</a></p>
<p>&nbsp;</p>
</div>
</div>
</div>
<form>
    <div class="radio">
    <label for="radio-1" class="radio-label">Transmission Lines</label>
    </div>
    <div class="radio-2">
    <label for="radio-2" class="radio-label">Substations, bays</label>
    </div>
</form>
</div>
</div>
</div>
</div>



<div class="tab-pane fade" id="cont-tab-2" role="tabpanel" aria-labelledby="tab-2">
@Html.Sitecore().Placeholder("renewbales-map")
</div>
</div>
</div>
</section>