<div class="section-breadcrumb">
  <div class="container">
      <ol class="breadcrumb ad-breadcrumb margin-0">
          <li *ngFor="let breadcrumb of TermsOfUse.GenericBredcrumbNavigation.Data; last as isLast"  class="breadcrumb-item">
              <a *ngIf="!isLast" href="{{breadcrumb.Link}}">{{breadcrumb.Heading}}</a>
              <a *ngIf="isLast" class="active">{{breadcrumb.Heading}}</a>
          </li>
      </ol>
  </div>
</div>
<div class="section-term">
    <div class="container">
      <div class="ad-media-heading">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="">{{TermsOfUse.PageContent.Heading}}</h3>
          </div>
        </div>
      </div>
      <div innerHTML="{{TermsOfUse.PageContent.HTMLText}}">
      </div>
    </div>
  </div>