
#registration_form,
#registration_form fieldset:not(.first) {
    display: none;
}

#famregistration_form,
#famregistration_form fieldset:not(.famfirst) {
    display: none;
}


   
/* fieldset .form-group.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} */
section.multi-step-form {
    padding-top: 0;
}
.multi-step-form .form-control {
    height: 40px;
    background: #ECECEC;
    line-height: 1.42857143 !important;
    padding: 9px 20px;
    margin: 0;
}
/* .multi-step-form .form-control + .form-control{
                margin-top: 25px;
} */
.reffer-inputs{
                margin-top: 25px;
                margin-bottom: -25px;
}
.multi-step-form .form-group{
                margin-bottom: 25px;
                position: relative;
}
.modal-dialog {
    width: 500px;
    max-width: 100%;
}
.multi-step-form .col-sm-8{
                padding-right: 45px;
                position: relative;
}
.multi-step-form .col-sm-8 .col-sm-8 {
                padding-right: 15px;
}
a.size-chart {
    position: absolute;
    right: -10px;
    top: 5px;
}
a:focus{
                outline: none;
}
.multi-step-form .form-group > label {
    margin: 0;
    line-height: normal;
    color: #585858;
    font-weight: 400;
    font-size: 16px;
}
.multi-step-form .form-group label.error{
                font-family: 'Adani medium',arial,sans-serif;
    color: #aa3b98;
    font-size: 12px;
    position: absolute;
}
.multi-step-form input[type="submit"],
.multi-step-form input[type="button"]{
                background:#18a790;
                background:-moz-linear-gradient(left,#18a790 0,#3368b6 100%);
                background:-webkit-linear-gradient(left,#18a790 0,#3368b6 100%);
                background:linear-gradient(to right,#18a790 0,#3368b6 100%);
                filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a790', endColorstr='#3368b6', GradientType=1 );
                color: #fff;
                border-radius: 5px;
                border:none; 
}
.multi-step-form input[type="button"].prev_btn + input.btn{
                background:#18a790;
                background:-moz-linear-gradient(left,#3368b6 0,#18a790 100%);
                background:-webkit-linear-gradient(left,#3368b6 0,#18a790 100%);
                background:linear-gradient(to right,#3368b6 0,#18a790 100%);
                filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3368b6', endColorstr='#18a790', GradientType=1 );
}
input#register_btn{
                background: #ed522d;
    background: -moz-linear-gradient(left,#ed522d 0,#aa3b98 100%);
    background: -webkit-linear-gradient(left,#ed522d 0,#aa3b98 100%);
    background: linear-gradient(to right,#ed522d 0,#aa3b98 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed522d', endColorstr='#aa3b98', GradientType=1 );
}
.multi-step-form input[type="submit"]:focus,
.multi-step-form input[type="button"]:focus{
                outline: none;
}
.multi-step-form h3 {
    text-align: center;
}
.row.has-seprator {
    position: relative;
}
.row.has-seprator:before {
    content: "";
    top: 0;
    bottom: 0;
    width: 2px;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.22);
    display: block;
    margin: 0 auto;
}
.card{
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}
.row.has-seprator .col-sm-6 {
    padding-right: 3%;
    padding-left: 3%;
}
.row.has-seprator .col-sm-6 .row {
    margin-left: -3%;
    margin-right: -3%;
}
section.multi-step-form form h5 {
    font-size: 20px;
    text-align: center;
}
ul.form_step {
    padding: 0;
    margin: 0;
}
ul.form_step li {
    background: url(../images/dbl-arrow-gray.png) no-repeat 0 50%;
    padding-left: 60px;
    display: block;
    font-size: 15px;
    line-height: 36px;
    opacity: 0.5;
    transition: all 0.3s;
    margin: 0 0 15px;
}
ul.form_step li a {
    color: #585858;
    cursor: default;
	    font-weight: 800;
}
/* ul.form_step li:hover,  */ul.form_step li.active_fieldset {
    opacity: 1;
}
label.error:empty{
                margin: 0;
}
label:empty {
    display: inline;
}
#registration_form h6 {
    margin: 8px 0 30px;
    color: #707070;
    font-family: 'Adani medium',arial,sans-serif;
}
.custom_fieldset {
    display: none;
}
.full_marathon_selected .custom_fieldset {
    display: block;
}
.addinotal_field{
                display: none;
}
h2.registration_form_title {
    font-size: 30px;
    color: #E34E3B;
    font-family: inherit;
}
h2.registration_form_title:after {
    content: none;
}
@media(min-width: 768px){
                .form-control.col-sm-9 {
                    width: 75%;
                }
                .form-control.col-sm-8 {
                    width: 66.66666667%;
                }
}
fieldset h6 {
    margin: 8px 0 30px;
    color: #a43993;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Adani medium',arial,sans-serif;
}
.gender-radio label.male {
    padding-right: 55px;
    position: relative;
    float: left;
    cursor: pointer;
   overflow: hidden;
}
.gender-radio label.female {
    padding-left: 55px;
    position: relative;
    float: left;
    cursor: pointer;
    overflow: hidden;
}
.gender-radio label.trans {
    padding-left: 55px;
    position: relative;
    float: left;
    cursor: pointer;
    overflow: hidden;
}
.gender-radio label input[type="radio"] {
    /* width: 20px; */
    position: absolute;
    opacity: 0;
}
.gender-radio label.male:after,.gender-radio label.female:after,.gender-radio label.trans:after {
    position: absolute;
    content: "";
    height: 10px;
    background: #414141;
    width: 25px;
    top: 50%;
    margin-top: -5px;
    right: 0;
    border-radius: 5px 0 0 5px;
}
.gender-radio label.female:after, .gender-radio label.trans:after {
    left: 0;
    right: auto;
    border-radius: 0 5px 5px 0;
}
.gender-radio label span:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: calc(50% - 10px);
    right: 5px;
    background: #AB4086;
    z-index: 9;
    border-radius: 5px;
    transform: translateX(30px);
                -webkit-transition: transform 0.3s;
                -moz-transition: transform 0.3s;
                -ms-transition: transform 0.3s;
                -o-transition: transform 0.3s;
                transition: transform 0.3s;
}
.gender-radio label.female span:after, .gender-radio label.trans span:after {
    left: 5px;
    transform: translateX(-30px);
}
.gender-radio label input[type="radio"]:checked + span:after {
    transform: translateX(0px);
}
.ui-datepicker {
                width: 17em;
                padding: .2em .2em 0;
                display: none;
}
.ui-datepicker .ui-datepicker-header {
                position: relative;
                padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
                position: absolute;
                top: 2px;
                width: 1.8em;
                height: 1.8em;
}
/* .ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
                top: 1px;
} */
.ui-datepicker .ui-datepicker-prev {
                left: 2px;
}
.ui-datepicker .ui-datepicker-next {
                right: 2px;
}
/* .ui-datepicker .ui-datepicker-prev-hover {
                left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
                right: 1px;
} */
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
                display: block;
                position: absolute;
                left: 50%;
                margin-left: -8px;
                top: 50%;
                margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
                margin: 0 2.3em;
                line-height: 1.8em;
                text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
                font-size: 1em;
                margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
                width: 45%;
}
.ui-datepicker table {
                width: 100%;
                font-size: .9em;
                border-collapse: collapse;
                margin: 0 0 .4em;
}
.ui-datepicker th {
                padding: .7em .3em;
                text-align: center;
                font-weight: bold;
                border: 0;
}
.ui-datepicker td {
                border: 0;
                padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
                display: block;
                padding: .2em;
                text-align: center;
                text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
                background-image: none;
                margin: .7em 0 0 0;
                padding: 0 .2em;
                border-left: 0;
                border-right: 0;
                border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
                float: right;
                margin: .5em .2em .4em;
                cursor: pointer;
                padding: .2em .6em .3em .6em;
                width: auto;
                overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: left;
}
/* RTL support */
.ui-datepicker-rtl {
                direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
                right: 2px;
                left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
                left: 2px;
                right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
                right: 1px;
                left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
                left: 1px;
                right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
                clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
                float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
                float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
                border-right-width: 0;
                border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
                display: block;
                text-indent: -99999px;
                overflow: hidden;
                background-repeat: no-repeat;
                left: .5em;
                top: .3em;
}
/* Component containers
----------------------------------*/
.ui-widget {
                font-family: Arial,Helvetica,sans-serif;
                font-size: 1em;
}
.ui-widget .ui-widget {
                font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
                font-family: Arial,Helvetica,sans-serif;
                font-size: 1em;
}
.ui-widget.ui-widget-content {
                border: 1px solid #c5c5c5;
    z-index: 1099 !important;
}
.ui-widget-content {
                border: 1px solid #dddddd;
                background: #ffffff;
                color: #333333;
}
.ui-widget-content a {
                color: #333333;
                border-radius: 2px;
}
.ui-widget-header {
                border: 1px solid #dddddd;
                background: #e9e9e9;
                color: #333333;
                font-weight: bold;
}
.ui-widget-header a {
                color: #333333;
}
.ui-widget-header .ui-icon {
    background-image: url("../images/icons.png");
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../images/icons.png");
}
.ui-datepicker .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
}
.ui-icon {
    width: 16px;
    height: 16px;
}
.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}
.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
                background: #ececec;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #aa3b98;
    color: #fff;
}

@media(min-width: 768px){
                .multi-step-form .form-group{
                                /*display: flex;
                                align-items: center;*/
                }

}
@media(max-width: 767px){
                .row.has-seprator:before{
                                content: none;
                }
                .multi-step-form .col-sm-8{
                                padding-right: 30px;
                }
                a.size-chart {
                    right: -5px;
                }
                form .addinotal_field {
                    display: none;
                }
}

.reference_code_error.success { 
                font-weight: 600;
                font-size: 12px;
                color: green;
                letter-spacing: .5px;
                position: relative;
                color:green;

}
.reference_code_error.success:before{
                content: "\2713";
                left: 0;
                color: white;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                line-height: 20px;
                padding: 1px 3px 2px;
                background: green;
                display: inline-block;
                font-size: 12px;
                top: 0;
                margin-right: 5px;
}
.modaltext{
                background: white;
                border-radius: 7px;
                min-height: 100px;
                padding: 15px;
}
.processtopay tr:nth-child(even){
                background: #f0f0f0;
}
.processtopay th, .processtopay td{
                padding:5px 10px;
}
.processtopay a{ 
                font-size: 14px;
                text-decoration: underline;
                color: #aa3b98;
}

/*Dashboard*/
.dashboardcontainer h2, .dashboardcontainer h1{
    font-size: 28px;
    color: #E34E3B;
    font-family: inherit;
    margin-bottom: 10px;
}
.userinformation h3{
    background: #AA3B98;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color:#fff;
    margin-bottom: 0;
    border-radius: 7px 7px 0px 0;
}
.userinformation ul{
    margin: 0;
    padding:0;
    margin-bottom: 25px;
    list-style: none;
}
.userinformation ul li{
    margin: 0;
    padding:8px 15px;
    list-style: none;
    /*border-radius: 7px;*/
}
.userinformation ul li span{
                float: right;
    color: #e34e3b;
}
.userinformation ul li:nth-child(even) {
    background:  #f9f9f9;
}
.noticeboard, .traningboard{
                margin-bottom:20px;
}
.noticeboard div, .traningboard div{
                background:  #f9f9f9;
                padding-top: 15px;
                padding-bottom: 15px;
                }
.noticeboard h3, .traningboard h3{
                background: #14b8b0;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color:#fff;
    margin-bottom: 0;
    border-radius: 7px 7px 0px 0;
}
.traningboard h3{
                background: #e24e3c;
                }
.noticeboard ul{
                padding: 0px 0 0px 15px;
}
.noticeboard ul li{
                margin-bottom: 10px;
    line-height: 1.5;
}
.traningboard h6 {
    font-size: 14px;
    color:#707070;
    }
.traningboard ul{
               padding:0;
               text-align: left;
               margin:15px auto;
}
.traningboard ul li {
    list-style: none;
    display: inline-table;
    font-size: 12px;
    padding:0 6px;
    position: relative;
    border-right:1px solid #707070;
    line-height: 1.2;
}
.traningboard ul li:last-child{
                border-right:0px solid #707070;
}
.traningboard ul li:first-child{
                padding-left: 0px;
}
.traningboard p{
                font-size: 14px;
                color:#707070;
}
.traningboard .joinlatrer button, .traningboard .join button,
.traningboard .joinlatrer button:focus, .traningboard .join button:focus{
                background: #18a790;
    background: -moz-linear-gradient(left,#18a790 0,#3368b6 100%);
    background: -webkit-linear-gradient(left,#18a790 0,#3368b6 100%);
    background: linear-gradient(to right,#18a790 0,#3368b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a790', endColorstr='#3368b6', GradientType=1 );
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    outline: none;
    }
.traningboard .joinlatrer button, .traningboard .joinlatrer button:focus {
                float: right;
    background: #ed522d;
    background: -moz-linear-gradient(left,#ed522d 0,#aa3b98 100%);
    background: -webkit-linear-gradient(left,#ed522d 0,#aa3b98 100%);
    background: linear-gradient(to right,#ed522d 0,#aa3b98 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed522d', endColorstr='#aa3b98', GradientType=1 );
}
.traningboard .traningoptions{
                border-bottom:1px solid #707070;
                padding:0;
                padding-bottom: 20px;
    margin-bottom: 20px;
}
.joinall{
                text-align: center;
                padding:0;
}

/*size_table*/
.size_table h3{
                line-height: 100px;
                background: #ffa523;
                background: -moz-linear-gradient(left,#ffa523 0,#fb8e03 100%);
                background: -webkit-linear-gradient(left,#ffa523 0,#fb8e03 100%);
                background: linear-gradient(to right,#ffa523 0,#fb8e03 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa523', endColorstr='#fb8e03', GradientType=1 );
                color: #fff;
                border-radius: 5px;
                border: none;
                position:absolute;
                width:86%;
                height:100px;
                left:7%;
                top:0;
                padding:0 25px;
                -webkit-transform: translateY(-40%);
                -moz-transform: translateY(-40%);
                transform: translateY(-40%);
}
.size_table .size_table_main{
                background: #fff;
                border-radius: 5px;
                -webkit-box-shadow: 0 5px 10px #ccc;
                -moz-box-shadow: 0 5px 10px #ccc;
                box-shadow: 0 5px 10px #ccc;
                padding:80px 15px 15px;
                width:100%;
}
.size_table table{
                width:100%;

}
.size_table table th{
                color:#ffa523;
                font-weight: 500;
}
.size_table table th, .size_table table td{
                padding: 10px;
}
.size_table table tr{
                border-bottom:1px solid #f8f8f8;
}
.size_table table tr:last-child{

                border-bottom:0px solid #f8f8f8;
}
.size_table table tr:last-child td{
                font-weight:600;
}
.size_table table td{
                font-weight: 500;
}



/*size_table*/
.race_table h3{
                line-height: 100px;
                background: #aa45bb;
                background: -moz-linear-gradient(left,#aa45bb 0,#9128ac 100%);
                background: -webkit-linear-gradient(left,#aa45bb 0,#9128ac 100%);
                background: linear-gradient(to right,#aa45bb 0,#9128ac 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa45bb', endColorstr='#9128ac', GradientType=1 );
                color: #fff;
                border-radius: 5px;
                border: none;
                position:absolute;
                width:86%;
                height:100px;
                left:7%;
                top:0;
                padding:0 25px;
                -webkit-transform: translateY(-40%);
                -moz-transform: translateY(-40%);
                transform: translateY(-40%);
}
.race_table .size_table_main{
                background: #fff;
                border-radius: 5px;
                -webkit-box-shadow: 0 5px 10px #ccc;
                -moz-box-shadow: 0 5px 10px #ccc;
                box-shadow: 0 5px 10px #ccc;
                padding:80px 15px 15px;
                width:100%;
}
.race_table table{
                width:100%;

}
.race_table table th{
                color:#ffa523;
                font-weight: 500;
}
.race_table table th, .race_table table td{
                padding: 10px;
}
.race_table table tr{
                border-bottom:1px solid #f8f8f8;
}
.race_table table tr:last-child{

                border-bottom:0px solid #f8f8f8;
}
.race_table table tr:last-child td{
                font-weight:600;
}
.race_table table td{
                font-weight: 500;
}



.modalimagechart{
width: 580px;
   max-width: calc(100% - 20px);
}
.modaltext{
width: 680px;
   max-width: calc(100% - 20px);
}
.modaltext ul{
padding-left: 20px;
}
.close.customclose {
   float: right;
   font-size: 28px;
   font-weight: normal;
   opacity: .8;
   filter: alpha(opacity=80);
   background: white;
   padding: 4px 6px;
                margin-right: -30px;
                line-height: 1;
                height: 32px;
}

/*29-09-2018*/
.new_participant h3 span {
    display: block;
    font-size: 18px;
    line-height: 24px;
}
.promorun-container{
                margin-top: 65px;
                display: block;
}
.modalpromoform{
                width: 580px;
    max-width: calc(100% - 20px);
    background: white;
    border-radius: 0px;
    min-height: 100px;
    padding: 25px 25px 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.modalpromoform .fgroup {
    margin-bottom: 10px;
}
.modalpromoform p{
                margin:0;
}
.font-style h3{
                color:#585858;
                font-size: 24px;
                text-align: center;
                margin: 0;
                margin-bottom: 20px;
}
.font-style h5{
               color:#AA3B99;
               font-size: 18px;
               text-align: center;
               margin: 0;
               margin-bottom: 20px;
}
.initiatives-btn2{
                background: #18a790;
    background: -moz-linear-gradient(left,#18a790 0,#3368b6 100%);
    background: -webkit-linear-gradient(left,#18a790 0,#3368b6 100%);
    background: linear-gradient(to right,#18a790 0,#3368b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a790', endColorstr='#3368b6', GradientType=1 );
    color: #fff;
    border-radius: 5px;
    border: none;
}
.daterangepicker .drp-buttons .btn.cancelBtn, .daterangepicker .drp-buttons .btn.cancelBtn:focus{
                color: #fb9191;
    font-weight: normal;
    outline: none;
    outline: 0;
}
.daterangepicker .drp-buttons .btn.cancelBtn:hover {
    color: #eb4946;
}
.has-seprator_ {
                border-top:2px solid #ccc;
                padding-top:30px;
}
.has-seprator_ .first{
                border-right:2px solid #ccc;
}
.row.has-seprator.removeborder:before{
                display: none;
}
@media(max-width:768px){
                .has-seprator_ .first{
                                border-right: 0px;
                    margin-bottom: 25px;
                    padding-bottom: 1px;
                    position: relative;
                }
                .has-seprator_ .first:before{
                                content:"";
                                position: absolute;
                                left:50%;
                                bottom:0;
                                width:200px;
                                height:2px;
                                background: #ccc;
                                -webkit-transform: translateX(-50%);
                                -moz-transform: translateX(-50%);
                                transform: translateX(-50%);
                }
}

/*08-10-2018*/
.gender-radio label.female, .gender-radio label.male, .gender-radio label.trans{
    padding-left: 35px;
    padding-right: 0;
    margin:0 20px 0 0;
}
.gender-radio label.male:after, .gender-radio label.female:after, .gender-radio label.trans:after {
    height: 20px;
    width: 20px;
    top: 50%;
    margin-top: 0;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
}
.gender-radio label span:after, .gender-radio label.female span:after, .gender-radio label.male span:after, .gender-radio label.trans span:after {
    height: 10px;
    width: 10px;
    top: 50%;
    -webkit-transform: translate(0%, -50%) scale(0) !important;
    -moz-transform: translate(0%, -50%) scale(0) !important;
    transform: translate(0%, -50%) scale(0) !important;
    left: 5px;
    right: 0;
    box-shadow: 0 0px 10px #ef7d17;
    background: #ef7d17;
    z-index: 8;
    border-radius: 5px;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}
.gender-radio label input[type="radio"]:checked + span:after {
    -webkit-transform: translate(0%, -50%) scale(1) !important;
    -moz-transform: translate(0%, -50%) scale(1) !important;
    transform: translate(0%, -50%) scale(1) !important;
}
@media(max-width:768px){
                .gender-radio label.female, .gender-radio label.male, .gender-radio label.trans {
                    padding-left: 30px;
                    margin: 0 15px 0 0;
                }
}
@media(max-width:480px){
                #myModal1 .close.customclose, #myModal .close.customclose {
                    right: 0;
                    position: absolute;
                    margin-right: 0;
                }
}

/*31-10-2018*/
.venue-checbox input[type="checkbox"] {
    width: 20px;
    position: absolute;
    opacity: 0;
}
.venue-checbox label.checkbox{
                position: relative;
}
.venue-checbox label.checkbox:after {
                content:"";
    height: 20px;
    width: 20px;
    top: 0%;
    margin-top: 0;
    left: 0;
    transform: translateY(-0%);
    border-radius: 3px;
    background: #414141;
    position: absolute;
}
.venue-checbox label.checkbox, .venue-checbox label.checkbox{
    padding-left: 35px;
   padding-right: 0;
    margin:0 20px 0 0;
}

.venue-checbox label.checkbox span::after {
    content: "\f00c";
    font-family: fontAwesome;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 7px;
    -webkit-transform: translate(0%, -0%) scale(0) !important;
    -moz-transform: translate(0%, -0%) scale(0) !important;
        transform: translate(0%, 0%) scale(0);
    transform: translate(0%, -0%) scale(0) !important;
    left: 4px;
    right: 0;
    background: #ef7d17;
    color: #ef7d17;
    background: transparent;
    z-index: 9;
    border-radius: 0px;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    font-size: 13px;
}
.venue-checbox label.checkbox input[type="checkbox"]:checked + span:after,
.venue-checbox label.checkbox input[type="checkbox"]:checked + label + span:after  {
    -webkit-transform: translate(0%, -50%) scale(1) !important;
    -moz-transform: translate(0%, -50%) scale(1) !important;
    transform: translate(0%, -50%) scale(1) !important;
}
@media(max-width:768px){
                .venue-checbox label.checkbox, .venue-checbox label.checkbox {
                    padding-left: 30px;
                    margin: 0 15px 0 0;
                }
}
.multi-step-form .form-group .venue-checbox label.error {
    padding-left: 0;
}

.text-left{text-align: left !important;}
.form-check-inline{display: inline-block; margin-right: 15px;}
.ml-2{margin-left:5px;}
.mb-3{margin-bottom: 10px !important;}
.d-none{display:none;}
.d-block{display: block !important;}


/*Multistep Form*/
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.new_user-registration{}
    .new_user-registration .form-control {
        background: #f1f1f1;
        height: 40px;
        padding: 8px 20px;
    }
.new_user-registration .form-group{
    margin-bottom: 20px !important;
}
.new_user-registration .form-group .mt-3{margin-top: 10px;}
.new_user-registration .min-130{min-height: 130px;}
.new_user-registration .min-110{min-height: 110px;}
.new_user-registration .min-80{min-height: 80px;}
.new_user-registration  .min-150{min-height: 150px;}
.new_user-registration  .min-120{min-height: 120px !important;}
.new_user-registration .stepwizard-step .btn-default{border: 1px solid #828282; background: #ffffff; opacity: 1; color: #000;pointer-events: none;}
.new_user-registration .stepwizard-step .btn-default.btn-primary{border: 1px solid #AA3B98; background: #AA3B98; color: #fff;}
.new_user-registration .btn-submit{background:#18a790; background:-moz-linear-gradient(left,#18a790 0,#3368b6 100%); background:-webkit-linear-gradient(left,#18a790 0,#3368b6 100%); background:linear-gradient(to right,#18a790 0,#3368b6 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a790', endColorstr='#3368b6', GradientType=1 ); color: #fff; border-radius: 5px; border:none;}
.new_user-registration .prevBtn{background: transparent;}
@media(max-width:991px) {
.home_race-section .parent_run > .tab-content .tab-pane > .tab-content .tab-caption{padding-bottom: 0px !important;}
    .setup-content {
        padding: 0px 15px;
    }
}

.parent_run{}
.parent_run > .nav{
    border: 0px;
    text-align: center;
margin-bottom: 2.5rem;
}
.parent_run > .nav .nav-item{display: inline-block;float: unset;margin-left: 10px;}
.parent_run > .nav .nav-item.active a{
    background: #fff;
    color: #d0485a;
}
.parent_run > .nav .nav-item a{
    border-radius: 35px;
    min-width: 200px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 2rem;
    background: rgb(255 255 255 / 23%);
    font-family: 'Adani bold',arial,sans-serif;
}
.parent_run > .tab-content > .active.show, .parent_run > .tab-content > .active.in{ display: block  !important; padding: 1rem;opacity: 1; } .parent_run > .tab-content>.show{ display: none !important; }
.parent_run > .tab-content > .active{padding: 1rem;}
.parent_run > .tab-content{}
.parent_run > .tab-content .tab-pane > .nav-tabs{
    display: flex;
    flex: 1 1 auto;
}
.parent_run > .tab-content .tab-pane > .nav-tabs li{
    flex: auto;
    float: unset;
    opacity: 1;
}
.parent_run > .tab-content .tab-pane > .nav-tabs li a{
    background: transparent;
    border: 0px;
    color: rgb(255 255 255 / 75%);
    font-size: 2rem;
    text-align: center;
}
.parent_run > .tab-content .tab-pane > .nav-tabs li.active{
    border-bottom: 3px solid #fff;
}
.parent_run > .tab-content .tab-pane > .nav-tabs li.active a{
    font-weight: 800;
    color: #fff;
}
.parent_run > .tab-content .tab-pane > .tab-content { padding: 2rem 2rem 0rem 2rem; }
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption{}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ul{display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;padding-left: 0px; }
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ul li{-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;position: relative;padding-left: 50px; margin-bottom: 2rem !important;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ul li em{position: absolute; left: 15px; top: 5px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption h4{text-align: left !important; font-size: 20px !important;margin-bottom: 2rem !important;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption .border h4{display:none;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption div.border{border: 1px solid rgb(255 255 255 / 29%); padding: 1.5rem;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption .mt-3{margin-top: 2.5rem;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption div.border ul{border: 0px !important; padding: 0px !important;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-title:after{display:none;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ol.list{display: block;padding-left: 40px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ul.list li{flex: none; max-width: 100%;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption p{margin-bottom: 10px;}
.parent_run .tab-title{}
.parent_run .tab-title ul{list-style-type: none; padding-left: 0px;}
.parent_run .tab-title li:before{content:"\f101";font-family: 'Font Awesome 5 Free'; font-weight: 900; position: absolute; left: 0px; top: 0px;}
.parent_run .tab-title li{padding-left: 25px;position: relative;font-size: 16px; font-weight: 600; opacity: 0.7;transition: ease all 0.3s;margin-bottom: 0.5rem;}
.parent_run .tab-title li.active, .parent_run .tab-title li:hover{opacity: 1;transition: ease all 0.3s;cursor:pointer;}
.parent_run .accordion-faq{}
.parent_run .accordion-faq h5{color: #000; margin: 0px;}
.parent_run .accordion-faq p{color: #000;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption h4.mb-0{margin-bottom: 0px !important;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption h4.mb-0 span{font-size: 2.5rem;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption p.text_Inc{margin-top: 0px; font-size: 14px;}
.parent_run .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{border: 1px solid rgb(255 255 255 / 20%);}
.parent_run .table-bordered>thead{font-weight: 900;}
.section_raceinfo{background: transparent radial-gradient(closest-side at -4% 97%, #ED574A 0%, #AF3666 100%) 0% 0% no-repeat padding-box !important;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ol.list li, .parent_run > .tab-content .tab-pane > .tab-content .tab-caption p{font-size: 14px;margin-bottom: 5px;}
.accordion-faq .accordion-container h6{color: #585858; margin-bottom: 10px;font-size: 14px; line-height: 21px;}
.accordion-faq .accordion-container p.mb-0{margin-bottom: 0px;}
.accordion-faq .accordion-container .list{padding-left: 20px;}
.accordion-faq .accordion-container .list.mb-0{margin-bottom: 0px;}

.setup-content .next_btn, .setup-content .submit_btn{background: #18a790; background: -moz-linear-gradient(left,#18a790 0,#3368b6 100%); background: -webkit-linear-gradient(left,#18a790 0,#3368b6 100%); background: linear-gradient(to right,#18a790 0,#3368b6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a790', endColorstr='#3368b6', GradientType=1 ); color: #fff; border-radius: 5px; border: none;}
.setup-content .errormsg{font-size: 12px; display: block; text-align: left;}
#uploadedId, .size-chart2, .mx-upload-500{font-size: 12px; /*display: block;*/ text-align: left;color: #aa3b98;}
.parent_run .table-responsive table{border: 1px solid rgb(255 255 255 / 21%);}
.parent_run .accordion-faq{}
.parent_run .accordion-faq p, .parent_run .accordion-faq h5{color:#000;}
.parent_run .accordion-faq .accordion-container{padding: 10px 0px; background: #fff;}
.parent_run .accordion-faq .accordion-title h5{color:#000;}
.parent_run .accordion-faq .list{color:#000;}
.accordion-box table, table.prize-table{color:#000;margin-bottom: 25px;}
.accordion-box p, .accordion-box table, .accordion-box ul, table.prize-table, table.prize-table p, table.prize-table ul{font-size:14px;color: #585858;}
.accordion-box ul, .accordion-box ol{padding-left: 20px;color: #585858;}
.setup-content label .errormsg{display: inline-block; margin-left: 5px; font-size: 1.5rem;}
.section_raceinfo .accordion-container table td, .section_raceinfo .accordion-container table th{border: 1px solid #ebebeb;background: #fff;}
.section_raceinfo .accordion-container table tr:first-child, table.prize-table{}
.section_raceinfo .accordion-container table tr:first-child, table.prize-table tr:first-child{background: #fff; color: #000;}
.section_raceinfo .accordion-container ul, .section_raceinfo .accordion-container ol, .section_raceinfo .accordion-container p{font-size: 14px;color: #585858;}
.sub_submenu--inner a { pointer-events: auto; }
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ol.list ol {padding-left: 0px;}
.file_type, .form-control-file{width: 100%; background: #f1f1f1; padding: 6px 10px;}
@media(max-width:992px){
.accordion-title:after, .accordion-title:before{content:"";top: 30px; right: 25px;}
.home_race-section .parent_run .row{}
.home_race-section .parent_run .col-6{width: 50%;float: left;}
.home_race-section .parent_run .col-6.text-right{}
.home_race-section .parent_run .col-6 .btn-default{line-height: 25px;}
.home_race-section .parent_run .col-6.text-right a.btn.register-btn{}
.home_race-section .parent_run .col-6.text-right .text-right{margin-right: 0px !important; margin-left: auto !important;text-align: right !important;}
.section_raceinfo .accordion-container table td, .section_raceinfo .accordion-container table th{font-size: 14px; line-height: 21px; color: #585858;background: #fff;text-align: left;}
.new_user-registration .min-150{min-height: unset;}
.accordion-box p, .accordion-box table, .accordion-box ul, table.prize-table, table.prize-table p, table.prize-table ul{font-size:16px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ul li:last-child{margin-bottom: 0px !important;}
.tab-content a{font-size: 14px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ul li{font-size: 14px;}
.parent_run .col-md-6.text-right{text-align: left !important;}
.parent_run .col-md-6.text-right .text-right{text-align: left !important;padding-top: 1rem;margin-right: auto; margin-left: unset !important; }
.parent_run .col-md-6.text-right .text-right a{margin-right: auto; margin-left: unset !important;padding: 15px 10% 15px;width: auto;}
}
@media(max-width:767px){
#CountdownRace{font-size: 18px !important;}
.home_race-section .parent_run.hblock_fixed{padding-top: 90px;}
.home_race-section .parent_run.hblock_fixed > .nav.nav-tabs{position: fixed; width: 100%; top: 55px; padding-top: 20px; background: #af3666; padding-bottom: 20px; z-index: 2;}
.home_race-section .parent_run.hblock_fixed > .tab-content .tab-pane > .nav-tabs{position: fixed; top: 63px; width: 100%; left: 0px; background: #af3666; z-index: 2; box-shadow: 0px 5px 4px 0px rgb(0 0 0 / 30%);}


.section_raceinfo .parent_run.block_fixed{padding-top: 170px;}
.section_raceinfo .parent_run.block_fixed > .nav.nav-tabs{position: fixed; width: 100%; top: 55px; padding-top: 20px; background: #af3666; padding-bottom: 20px; z-index: 2;}
.section_raceinfo .parent_run.block_fixed > .tab-content .tab-pane > .nav-tabs{position: fixed; top: 130px; width: 100%; left: 0px; background: #af3666; z-index: 2; box-shadow: 0px 5px 4px 0px rgb(0 0 0 / 30%);}
section.section_raceinfo section{margin-top: 0px !important; padding-top: 0px;}
.section_raceinfo .acc-title+.tab-content{padding: 0px 0px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ul li{}
#uploadedId, .size-chart2, .mx-upload-500{font-size: 14px;}
.setup-content .errormsg{font-size: 14px;}
.new_participant{border-bottom: 1px solid #ccc; margin-bottom: 3rem;}
.parent_run .accordion-faq .accordion-container{padding: 10px 25px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption{    padding-bottom: 20px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption h3{margin-bottom: 10px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ol.list ol{padding-left: 0px;}
section.section_raceinfo table{min-width: 624px;margin-top: 0px;}
section.section_raceinfo{margin-top: unset;    padding-top: 40px !important;}
.parent_run > .nav .nav-item a{font-size: 2rem; min-width: unset;}
.parent_run{padding-top: 0rem;}
.parent_run .tab-title{display: none;}
.parent_run .register-btn{}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption h4{font-size: 16px !important;}
.parent_run > .tab-content .tab-pane > .nav-tabs li a{font-size: 12px;}
.parent_run > .tab-content .tab-pane > .nav-tabs li a{padding: 10px 5px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ol.list{padding-left: 20px;}
.parent_run .acc-title{padding-left: 0px;}
}
@media(max-width:526px){
.parent_run .col-md-6.text-right .text-right a{width:100%;}
.home_race-section .parent_run.hblock_fixed{padding-top: 170px;}
.parent_run > .nav .nav-item a{font-size: 1.6rem;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ul li em{left: 0px; top: 6px;}
.parent_run > .tab-content .tab-pane > .tab-content .tab-caption ul li{-ms-flex: 0 0 100%; flex: 0 0 100% !important; max-width: 100% !important ; padding-left: 25px;}
}
.required{color:red;}
.accordion-box+.accordion-box{border-top: 5px solid #af3666;}
input[type=number] {
    -moz-appearance: textfield;
}

.section_raceinfo .parent_run .table-bordered { border: 1px solid rgb(255 255 255 / 20%); }

@media(min-width:992px){
.faq_title{}
.new_user-registration .form-group{min-height: 110px;}
.new_user-registration .form-group-run{min-height: auto;}
.new_user-registration .form-group-last{min-height: auto;}
.accordion-title:after, .accordion-title:before{content:"";top: 22px; right: 29px;}
}

.parent_run .bullets{list-style-type: disc !important;}

.parent_run .accordion-box{padding: 00px 20px !important;position: relative;}
.parent_run .mart-0{    padding-top: 0px !important;}
#btnSendOTP{background: transparent; color: #000; text-decoration: underline;padding: 0px 15px;}
#btnSendOTP:hover{color: #a93b97;}

/* For Loader on Page by Ketan*/
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

    .loader p {
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        font-family: sans;
        font-size: 16px;
        color: #fff;
    }

    .loader span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        border: 3px solid transparent;
        border-radius: 50%;
        animation: loader-spin linear infinite;
        animation-delay: -10s;
    }

        .loader span:nth-child(1) {
            width: 110px;
            height: 110px;
            animation-duration: 2s;
            border-bottom-color: #000;
            border-right-color: #000;
        }

        .loader span:nth-child(2) {
            width: 90px;
            height: 90px;
            animation-duration: 1s;
            border-bottom-color: #292929;
            border-right-color: #292929;
        }

        .loader span:nth-child(3) {
            width: 110px;
            height: 110px;
            animation-duration: 2s;
            border-bottom-color: #fff;
            border-right-color: #fff;
        }

        .loader span:nth-child(4) {
            width: 130px;
            height: 130px;
            animation-duration: 3s;
            border-bottom-color: #777777;
            border-right-color: #777777;
        }

        .loader span:nth-child(5) {
            width: 150px;
            height: 150px;
            animation-duration: 8s;
        }

        .loader span:nth-child(6) {
            width: 160px;
            height: 160px;
            animation-duration: 9.5s;
        }

@-moz-keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(405deg);
    }
}

@-webkit-keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(405deg);
    }
}

@-o-keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(405deg);
    }
}

@keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(405deg);
    }
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgb(0 0 0 / 33%);
}

/* For Loader on Page End by Ketan*/

.parent_run .border ul li a, .parent_run .border ul li{font-size: 14px;}
.parent_run .border ul li p{margin-top: 0px;}
.field-required{font-size: 12px; font-weight: 100;}

.action_buttons{padding-top: 3rem;}
@media(min-width:992px){
.text-lg-right{text-align: right;}
}
@media (max-width: 991px)
{
.action_buttons .col-6 { min-height: 70px; }
.action_buttons .register-btn { padding: 15px 10px !important; }
.action_buttons p{margin-top: 2px;}
.action_buttons .btn-default {padding: 6px 20px !important;}
}
/* New Changes July 2023*/

.border_bottom_userGroup{
	border-bottom: 2px solid #ccc;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
}
	
.userGroupHeading{
	color: #2c78ac;
    font-size: 3rem;
    font-weight: 700;
}
.GroupRegisterBTN{
	margin-right: 15px;
	font-size: 16px !important;
}

.logoutBtn{
	font-size: 16px !important;
}

/*register page accordian Changes*/
.panel-headings{padding: 15px;}
.bibs-inr{
	color: #2881a6 !important;
    font-weight: 700;
}
.panel-body {
    padding: 0 15px;
}
.new_participant .panel
{
    border: 2px solid #ddd;
}
.new_participant .form-control
{
	background:white !important;
	border: 2px solid #ddd;
}
.login-form .form-control {
    background: white !important;
    border: 2px solid #ddd;
}
.new_participant .panel-heading
{
	background-color: white !important;
	padding: 15px;
}
.accordion-regular-bibs {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.CountManagment {
    display: flex;
    justify-content: space-evenly;
}
.CountManagment img {
    padding: 0px 11px;
}
.bottomBorder
{
	border-bottom: 1px solid #ddd;
    margin: 0% 5%;
}
.pannelActive{
	    border: 2px solid #2881a6 !important;
}
.topAndBottomBorder
{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    margin: 0% 5%;
}
.accordion-regular-bibs {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #cacaca;
}
.accordion-regular-right{
    flex-direction: row-reverse;
	display: flex;
    justify-content: space-between;
    padding: 10px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.panel-default>.panel-heading {
    background-color: white !important;
}
.alreadyRegistered
{
	display:none;
}
@media (max-width: 767px)
{
	.alreadyRegistered{		
	display:block;
	float: right;
	font-size:16px ;
	word-wrap: break-word;
    width: 160px;
	}
	.alreadyRegistered a{		
	text-decoration: underline;
	}

    .panel-default {

        width: 100%;

    }
    .card {

        width: 100%;

        height: auto;

    }
    .ListData .InvestorCorner-tile {
        margin-left: 124px !important;
    }
	.hm-0{
			margin: 10px 0 30px !important;
	}

}


input[type=number] {
    -moz-appearance: textfield;
}
.member-countregular
{
    width: 60px;
    display: flex;
}
 .member-countCharity {
    width: 60px;
    display: flex;
}
p.bibs-inr.total {
    margin: 0px !important;
}
.arrow{
font-size:20px;
float:right;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/*Register Form Relaeted changes*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}

/* span { */
    /* float: right; */
/* } */

a {
    text-decoration: none !important;
}

.accordion-regular-bibs {
    display: flex;
    justify-content: space-between;
    padding: 9px;
    border-bottom: 1px solid #cacaca;
}

input.member-count {
    width: 60px;
    display: flex;
}

.member-count-individuals {
    width: 105px !important;
    text-align: right;
    color: #306EB2 !important;
}

.accordion {
    padding: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.accordion-regular-bibs-inr,
.accordion-charity-bibs-inr {
    color: #306EB2;
}

.CountManagment {
    display: flex;
    justify-content: space-evenly;
    /* width: 18%; */
}

.CountManagment img {
    padding: 0px 11px;

}

.panel:has(.in) {
    border: 1px solid #306EB2;
}

#collapseThree>div>div.accordion-regular-bibs.accordion-regular-right {
    border: none;
}

.accordion-regular-right {
    flex-direction: row-reverse;
    color: #306EB2;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="panel-default"] {
        width: 100%;
    }

    .card {
        width: 100%;
        height: auto;
    }
}

#collapseThree>div>div:nth-child(2)>div.BibsInfo {
    margin-top: 6px;
}

#collapseThree>div>div:nth-child(1)>div.BibsInfo {
    margin-top: 8px;
}

#collapseThree>div>div:nth-child(2) {
    border: none;
}

.BibsInfoMsg {
    margin: 0px !important;
    font-size: 11px;
}

.panel .TotalBib {
    color: #306EB2;
}

.panel .TotalValue {
    float: right;
}

.bibs-charity {
    padding-bottom: 0 !important;
}

.form-label {
    position: relative;
}

.form-label::after {
    content: "*";
    color: red;
    margin-left: 2px;
}

.ListTileSection {
    justify-content: space-evenly !important;
}

.TileSection {

    display: flex;

    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ccc;
}
.ListData{
    list-style: none;
    display: flex;
    text-align: center;
    margin-left: 75px;
}
/* .container.ListData.active{
    margin-left: 75px !important;
    margin-left: 75px !important;
} */
.ListData .InvestorCorner-tile{
    margin-left: 102px;
}

.InnerTiles {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold;
    border-bottom: 2px solid transparent; /* Initial transparent border */
  }
  
  .InnerTiles.active {
    border-color: purple; /* Change to the desired active bottom border color */
    font-weight: bold;
    color: purple;
  }
  
  .bibs-charity{border-bottom: none !important;}

.member-count {
    background: white !important;
}
.mla-3
{
	margin-left:10px;
}
.phone-section{
	    padding-left: 23px;
        padding-right: 23px;
		box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.card-border{
	    box-shadow: 1px -8px 9px 0px rgba(0, 0, 0, 0.1);
}
.resendSMSOTP {
	    float: left;
		margin-top: 10px !important;
}
.g-recaptcha{
	margin-bottom: 10px !important;
}
.LoginresendSMSOTP{
	    float: left !important;
}
.loginBtn{
	background: none !important;
    color: black !important;
    text-decoration: underline !important;
}

.cardMarginBottom{
	margin-top:-40px;
}
.fillingBibs
{
	color: #aa3b98 !important;
	text-align:center;
	font-size:20px !important;
	font-weight: 600;
	margin-top: 0px;
    padding-top: 0px;
}
.registrationerror
{
	color:red;
	margin:0px !important;
}
#login{
	background: linear-gradient(to right,#ed522d 0,#aa3b98 100%);
}
.hm-0{
	margin:0px !important;
}
.individualCharity{
    background: white !important;
}
.AmountDetails{
	margin:0px !important;
}

/*14 Sept Register form Mobile view changes*/
@media (max-width: 767px) {
    .ListData

{
    list-style: none;
    display: flex;
    margin-left: 0px;
    margin-top: 20px;
}

span.text-right.alreadyRegistered {
    display: flex;
    /* align-content: flex-end; */
    flex-direction: column;
    /* margin-bottom: 5px; */
}

h3.text-left.hm-0 {
    margin-bottom: 49px;
}

ul.ListData {
    margin-top: 10%;
}

.multi-step-form a {
    margin-top: 10px;
}
}