<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="MailServer" value="smtp.gmail.com" />
      <!--  MAIL SERVER USER
            If the SMTP server requires login, enter the user name in this setting
      -->
      <setting name="MailServerUserName" value="advaiyaadani@gmail.com" />
      <!--  MAIL SERVER PASSWORD
            If the SMTP server requires login, enter the password in this setting
      -->
      <setting name="MailServerPassword" value="test@1234" />
      <!--  MAIL SERVER PORT
            If the SMTP server requires a custom port number, enter the value in this setting.
            The default value is: 25 -->
      <setting name="MailServerPort" value="587" />
      <setting name="MailServerUseSsl" value="true" />
    </settings>
    <exm>
      <eds>
        <!-- SMTP SETTINGS OBJECT Creates SMTP settings class.-->
        <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
          <server>smtp.gmail.com</server>
          <port>587</port>
          <userName>advaiyaadani@gmail.com</userName>
          <password>test@1234</password>
          <authenticationMethod>LOGIN</authenticationMethod>
          <startTls>true</startTls>
          <proxySettings ref="exm/eds/proxySettings" />
        </smtpSettings>
      </eds>
    </exm>
    <customHandlers>
      <handler trigger="sitemap.xml" handler="sitemap.ashx" />
      <handler trigger="robots.txt" handler="robots.ashx" />
    </customHandlers>
  </sitecore>
</configuration>