@font-face {
    font-family: AdaniBold;
    src: url(/fonts/AdaniWind/Adani-Bold.woff);
}

@font-face {
    font-family: AdaniSemiBold;
    src: url(/fonts/AdaniWind/Adani-SemiBold.woff);
}

@font-face {
    font-family: AdaniRegular;
    src: url(/fonts/AdaniWind/Adani-Regular.woff);
}

@font-face {
    font-family: AdaniMedium;
    src: url(/fonts/AdaniWind/Adani-Medium.woff);
}

.WindTech-Section .container {
    display: flex;
    width: 100%;
    padding-block: 2rem;
    align-items: center;
    justify-content: space-between;
}

.RightTittle,
.RightAccordianSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
}

a.KnowMoreBtn {
    border: none;
    background: #832084;
    font-size: 17px;
    font-weight: 700;
    color: white;
    border-radius: 26px;
    padding: 7px;
}

.KnowMoreBtn:hover {
    color: white !important;
    text-decoration: none !important;
}

h1.WindTech-SectionHeading {
    color: #832084;
    font-size: 50px;
    width: 100%;
    font-weight: bold;
}

.LeftTittle,
.LeftImgSection {
    width: 82%;
    font-family: AdaniBold;
}

.VisionSection .container {
    display: flex;
    padding-block: 2rem;
    align-items: center;
    min-height: 455px;
    justify-content: space-between;
}

div#accordionFlushExample {
    width: 100%;
}

.ManagmentCorner .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-block: 2rem;
}

.ManagmentCorner .RightTittle {
    width: 79%;
    text-align: left;
}

.LeftTittle {
    display: flex;
}

.ManagmentCorner .LeftTittle {
    justify-content: space-around;
    position: relative;
    left: 126px;
}

.Rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 37%;
    background-color: #832084;
    z-index: -1;
    border-radius: 60px 0px 0px 60px;
}

.CEO-IMG {
    display: block;
    max-width: 100%;
    width: 51%;
}

p.CEO-Name {
    font-weight: 700;
    margin: 0;
}

h5.MangmentHeading {
    color: #832084;
}

img.LeftImgAccordian {
    width: 97%;
}

.ManagmentCorner .KnowMoreBtn {
    background: transparent;
    color: #832084;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

section.VisionSection {
    background: #f9f9f9;
}

p.WindTechContent {
    font-family: AdaniRegular;
}

section.WindTech-Section {
    background: url(/-/media/D3E53B57B5934B43B02943CA7345A3CE);
    background-repeat: no-repeat;
    background-position: right;
}

section.ManagmentCorner {
    background: url(/-/media/AD37E05DC32841A6AFA46C1413E08BEF);
    background-repeat: no-repeat;
}
/* Accordian */

.accordion-button,
.accordion-flush .accordion-collapse {
    background-color: #f9f9f9 !important;
}

    .accordion-button:focus {
        box-shadow: none !important;
    }

    .accordion-button:not(.collapsed) {
        color: #832084 !important;
    }

.accordion-flush .accordion-item .accordion-button {
    color: #832084;
    font-weight: 600;
    font-size: 20px;
    padding-block: 29px;
}
/* Accordian Ends */

@media (max-width: 767px) {
    .ManagmentCorner .container {
        flex-direction: column-reverse;
    }

    .ManagmentCorner .LeftTittle {
        left: 12px;
    }

    .VisionSection .container {
        flex-direction: column;
    }

    .LeftImgSection {
        width: 100%;
    }

    img.LeftImgAccordian {
        width: 100%;
    }

    .WindTech-Section .container {
        flex-direction: column;
    }

    .ManagmentCorner .RightTittle {
        width: 100%;
    }

    .Rectangle {
        height: 50%;
        width: 100%;
    }

    img.CEO-IMG {
        width: 86%;
    }

    .LeftTittle {
        display: flex;
        width: 100%;
    }

    h1.WindTech-SectionHeading {
        font-size: 40px;
    }
}
