@font-face {

    font-family: AdaniBold;

    src: url(/fonts/AdaniWind/Adani-Bold.woff);

 

}

 

@font-face {

    font-family: AdaniSemiBold;

    src: url(/fonts/AdaniWind/Adani-SemiBold.woff);

}

 

@font-face {

    font-family: AdaniRegular;

    src: url(/fonts/AdaniWind/Adani-Regular.woff);

}

 

@font-face {

    font-family: AdaniMedium;

    src: url(/fonts/AdaniWind/Adani-Medium.woff);

}

.grid-container {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;

    padding: 54px;

}

 

  #text{

    position: absolute;

    color: #FFFFFF;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

  }

 

  @media (min-aspect-ratio: 16/9) {

    .video-container iframe {

      height: 56.25vw;

    }

  }

  @media (max-aspect-ratio: 16/9) {

    .video-container iframe {

      width: 177.78vh;

    }

  }

 

 

.video-container {
	margin-top:25px;
}

.grid-item {

    /* border: 1px solid #ddd; */

    padding: 20px;

}

/* .image {

    max-width: 100%;

    height: auto;

    border-radius: 8px;

    height: 100%;

} */

.ManufacturerHeading{

    padding-left: 69px;

    padding-right: 75px;

    padding-top: 0px;

}

.Manufacturer-section{

    padding: 40px;

    /* margin-top: 50rem; */

}

.ManufacturerHeading h2{

    font-family: AdaniMedium;

    color: #832084 !important;

    font-size: 25px;

}

.ManufacturerHeading p{

    font-family: AdaniRegular;

    /* color: #832084 !important; */

    font-size: 24px;

   

}
.videoManufacture{
	height:350px;
	width:100%;
}
.Manufacturer-list{

    list-style: none;

    padding: 3px;

}
.svgIcon img 
{
	min-width:25px;
}
.Manufacturer-list li {

    margin-bottom: 10px;

    font-family: AdaniMedium;

    font-size: 15px;

}

.Manufacturer-list li span{

    margin-right: 10px;

 

}

.Manufacturer-section h1{
    font-size: 36px;
    font-family: AdaniSemiBold;
}
.Manufacturer-section .gridHeading{
    font-size: 25px;
    font-family: AdaniSemiBold;
	color:Black !important;
	font-weight:600;
}
.Manufacturer-section p{

    font-size: 15px;

    font-family: AdaniRegular;
	font-weight:600;

}.ManufacturerVideo1{

    height: 500px;

    width: 600px;

}

.ManufacturerVideo2{

    height: 500px;

    width: 600px;

}

 

.test:before {

    content: "";

    display: block;

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    width: 20em;

    height: 20em;

    background: rgba(250,140,50, 0.6);

  }

  .text {

    font-family: Arial;

    font-size: 2em;

    color: white;

    text-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.5);

    margin: 0;

    position: absolute;

  }

@media only screen and (max-width: 767px){

.Manufacturer-section .grid-container {

    display: block;

    gap: 20px;

    padding: 20px;

}

.Manufacturer-section{

    padding: 0px !important;

}

 

.ManufacturerVideo1 {

    height: 247px;

    width: 252px;

 

}


.ManufacturerVideo2{

    height: 259px;

    width: 291px;

}

 

}
.videoplayButton{
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 39px;
    /* padding: 11px; */
    padding-top: 4px;
    padding-right: 4px;
}
.videoplayButton1{
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 39px;
    /* padding: 11px; */
    padding-top: 4px;
    padding-right: 4px;
}