/* <+==============================Service page =====================================> */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card-title {
    color: #2E60CB;
    font-family: AdaniMedium;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
}

.card-text {

    font-family: AdaniRegular;
    font-size: 20px;
    text-align: left;
}
.card-body i {
    display: flex;
    margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
    margin: 52px;
}



.fourth-img {
    background-image: url('/-/media/13199C6BB5384CD5BD973AFA33188E2E');
    width: 100% !important;
    height: 600px !important;
    object-fit: cover !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.service-row{
    justify-content: center !important;
     margin: 10px !important;
}
.service-icon {
    width: 37px !important; /* Set the desired width */
    height: 37px !important; /* Set the desired height */
    /* justify-content: left; */
    display: flex !important;
}
.service-card {
    border: 1px solid #ddd !important;
    transition: transform 0.3s ease !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    padding: 16px !important;
    text-align: center !important;
}
.service-title {
    color: #041041 !important;
    font-family: AdaniMedium !important;
    font-size: 25px !important;
    text-align: left !important;
}
.service-text{
	font-family: AdaniRegular ;
	font-size:14px ;
	font-weight:600 ;
}
/* <+==============================Service page end =====================================> */