
@using System.Text.RegularExpressions
@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);


}

@if (contextItem != null)
{

<div class="col s12 m8 offset-m1">
    <header class="section-header">
        <h1>@Html.Raw(contextItem["Title"])</h1>
        @Html.Raw(contextItem["Summary"])
    </header>
    <div class="section-container">
        <section class="services small">
            @Html.Raw(contextItem["Body"])
        </section>
    </div>
       
            @Html.Raw(contextItem["Warning"])
        
</div>


}

