@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ Item currentItem = RenderingContext.Current.Rendering.Item; }

@if (currentItem != null)
{
<section class="bannerBox">
    <div class="container">
        <h2 class="page-title mt-5">@Html.Sitecore().Field("Title", currentItem)</h2>
        <div class="about-banner">
            @Html.Sitecore().Field("Image", currentItem, new { @class = "img-fluid rounded" })
        </div>
    </div>
</section>
}
