
<section class="section_padding bg-white text_container">
    <div class="container">
        <h2> About Us</h2>
        <p>Adani Capital is the non-banking financial company (NBFC) arm of Adani Group and commenced lending operations in April 2017. The company aims to become the foremost financial services firm with a focus on ‘Entrepreneurship’.</p>
        <p class="mb-4">Under Adani Group’s philosophy of Nation Building, Adani Capital aims to play a key role in inclusive growth by focusing on rural development & supporting medium and small enterprises through capital and industry best practices.</p>
        <h4 class="mb-3">Our Business can be broadly categorized as follows:</h4>
        <p><b>Retail and Rural Lending: </b>Catering to Agri value chain & MSME financing</p>
        <p><b>Wholesale Lending: </b>Catering to Infrastructure, Corporate and Real Estate financing</p>
		<p>Our approach is “Customer First”, and our products are focused around income generation and business enhancement of our Customers.</p>
		<p>Our team comprise of experienced & self-motivated professionals from the industry, committed to create a distinctive financial services business with Customer ownership and a complete life cycle focus.</p>
		<p>As our country’s economy is poised for an exponential growth with several structural reforms and strong fundamentals, we feel excited to be part of this growth journey and are committed to own and service our Customers to address their financial needs.</p>
    </div>
</section><!--/section-->
<section class="bg-gray">
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="col-lg-6">
				<div class="vision vertical-fourth vision-mission">
				<h2 class="heading pl-4 mb-4">Vision</h2>
				<p class="pl-4">To be a world class leader in businesses that enrich lives and contribute to nations in building infrastructure through sustainable value creation.</p>
				<h2 class="heading pl-4 mb-4">Mission</h2>
				<p class="pl-4">To contribute to India's growth story by providing accessible financing to retail, wholesale and rural audience, thereby unleashing it's vast economic potential and spurring the country's growth to even greater heights.</p>
				
				</div>
			</div>
			<div class="col-lg-6">
				<div class="owl-carousel single-slide">
					<div class="item">
						<img src="https://www.adani.com/-/media/Project/Adani/About-Us/1Commitment.png?la=en&hash=2FC5C01B26DF76C6E15694FA3D4D6BB6">
						<div class="vertical-fourth pl-5">
							<h2 class="heading-w pl-4 mb-4 txt-white">Commitment</h2>
							<p class="pl-4 txt-white">We shall stand by our promises and adhere to high standards of business</p>
						</div>
					</div>
					<div class="item">
						<img src="https://www.adani.com/-/media/Project/Adani/About-Us/1trust.png?la=en&hash=F19A58AD6A987CD02FA9883C963AFF9E">
						<div class="vertical-fourth pl-5">
							<h2 class="heading-w pl-4 mb-4 txt-white">Trust</h2>
							<p class="pl-4 txt-white">We shall believe in our employees and other stakeholders</p>
						</div>
					</div>
					<div class="item">
						<img src="https://www.adani.com/-/media/Project/Adani/About-Us/1Courage.png?la=en&hash=D377130BA7008A8F39C71D986924966B">
						<div class="vertical-fourth pl-5">
							<h2 class="heading-w pl-4 mb-4 txt-white">Courage</h2>
							<p class="pl-4 txt-white">We shall embrace new ideas and businesses</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--/section-->
<section class="bg-white chairman-blocks">
	<div class="container">
		<div class="row">         
                <div class="col-lg-6 my-lg-5 my-3 pr-lg-4">
                   

            <a class="bg-blue d-block h-100 chairman-box boxzoom" href="https://stage.adanicapital.in/About%20Us/ceo-message">
<div class="p-4 row h-100">
<div class="col-md-8 mb-3">
<h3 class="mb-3">CEO Message</h3>

<h4 class="txt-sm mb-4">At Adani Capital we have only one mantra – “Customer first”; Our Products, People and IT capabilities are built to meet the needs of our Customers. Our philosophy is that every customer will be a “Partner for Life” </h4>


<p class="signature">Gaurav Gupta<span>CEO, Adani Capital</span></p>   

</div>

<div class="col-md-4"><img src="-/media/50C1A2CFC2A043FF9305326FD18E547E.ashx" class="img-fluid"></div>

</div>

</a>
                </div>
   <div class="col-lg-6 my-lg-5 my-3 pr-lg-4">
                     

            <a class="bg-green boxzoom chairman-box d-block h-100" href="https://stage.adanicapital.in/About-Us/chairman-message">
<div class="p-4 row h-100">
<div class="col-md-8 mb-3">
<h3 class="mb-3">Chairman’s Message</h3>
<h4 class="txt-sm mb-4">It is my promise that we will continue to invest and do our part to help the people wherever we operate. While “Thinking Big. Doing Better” has been the philosophy that has always driven us, it is the Doing Better part that makes us humane.</h4>
<p class="signature">Gautam Adani<span>Chairman</span></p>
</div>
<div class="col-md-4">
<img alt="" src="/-/media/Project/Enterprises/About-Us/chairman.jpg?la=en&amp;hash=1D975034C3263AE7B831CDE4389B4BA8" class="img-fluid">
</div>
</div>
</a>
                </div>				
           
        </div>
	</div>
</section><!--/section-->
