<section class="section_padding bg-white position-relative section_cal applyfor-loan_calculator">
    <div class="container position-relative">
	<h2>Apply for Loan</h2>
	@Html.Sitecore().Placeholder("apply-for-loan-form")        
    </div>
</section><!--/section-->
@if (Session["FDTicketStatus"] != null)
{
    <div class="modal fade show" id="LMSmessage_modal" style="display: block; padding-right: 16px;" tabindex="-1" role="dialog" aria-labelledby="LMSmessage_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body bg-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <div class=" p-3">
                        <h3 class="mb-4">Message</h3>
                        <div class="row text_container">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    @if ((bool)Session["FDTicketStatus"] == false)
                                    {
                                        <label for="" class="col-form-label txt-green">Something has been wrong. Please try again after sometime. </label>
                                    }
                                    else
                                    {
                                        <label for="" class="col-form-label txt-green">Thanks for your interest. Your Service Request No is: @Session["FDTicketNo"].ToString() </label>
                                    }
                                </div>
                            </div>
                            <div class="col-md-12 mb-3 mt-3 text-left">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="okbtn">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}
