@using Sitecore.Resources.Media
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var contextItem = Sitecore.Context.Item;
    var MainImage = Helper.ImageUrl("MainImage", contextItem);
}
@if (contextItem != null)
{
    <section class="section_padding bg-white text_container become-partner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <img src="@MainImage" class="img-fluid d-lg-block d-none">
                </div>
                <div class="col-lg-6 col-md-7 order-lg-2 order-2">
                    <div class="partner-contents">
                        @Html.Sitecore().Field("Description", contextItem)
                    </div>
                </div>
                @Html.Sitecore().Placeholder("Partner-Form")
            </div>
        </div>
    </section><!--/section-->
}

