@{ 
    var contextItem = Sitecore.Context.Item;
}
<section class="py-5 bg-white" id="first-section">
    <div class="container">
        <h2 class="section-heading txt-green">@Html.Sitecore().Field("Heading", contextItem)</h2>
        @Html.Sitecore().Field("Description", contextItem)
    </div>
</section>
