@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var contextItem = Sitecore.Context.Item;
    var bgClass = "";
    bgClass = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["section-class"];
    if (String.IsNullOrWhiteSpace(bgClass))
    {
        bgClass = "bg-white";
    }
}
<section class="@bgClass" id="first-section">
    <div class="container">
        <h2 class="">@Html.Sitecore().Field("Heading", contextItem)</h2>
        @Html.Sitecore().Field("Description", contextItem)

    </div>
</section>
