<header class="navbar navbar-dark flex-column flex-md-row bd-navbar">
    <div class="fade-overlay"></div>
    <div class="top-bar d-lg-none d-block">
        <div class="container">
            @Html.Sitecore().Placeholder("Header-Quick-Links-Mobile")
            <div class="header_open-acc">
                <ul>
                    <li><a href="https://digitallending.adanicapital.in/onboard/app/" target="_blank">Instant Loan!!</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Adani Capital"><img src="https://stage.adanicapital.in/Images/AdaniCapital/logo.png"></a>

        @Html.Sitecore().Placeholder("Header-Top-Menu")

        
        <button type="button" id="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" class="btn btn-menu d-lg-none">
            <!--<i class="fas fa-align-justify"></i>-->
            <i class="fas fa-bars"></i>
        </button>
    </div>

    @Html.Sitecore().Placeholder("Header-Primary-Menu")
</header>
