<section class="section_padding_bottom section_padding_top bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-3">
                <div class="services-section">
                    <div class="services-section-thumb bg-d-blue">
                        <img src="-/media/F8993816D86C48709BAB0652296AB71F.ashx">
                    </div>
                    <div class="services-section-desc">
                        <h3>Download Mobile App</h3>
                        <p class="mb-3">Experience the benefits of online banking anywhere and anytime.</p>
                        <!-- <div><a href="https://stage.adanicapital.in/Mobile%20App" class="mr-2"><img src="-/media/6C3F77E49D254170A68E35B71FB168DC.ashx"></a><a href="https://stage.adanicapital.in/Mobile%20App" class="mr-2"><img src="-/media/6F334CF59E8244E1B5FCAF8A1D6F9A8C.ashx"></a></div>
						-->
						<a href="/Mobile%20App">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-3">
                <div class="services-section">
                    <div class="services-section-thumb bg-d-blue" >
                        <img src="-/media/F670EFF242284BDA96B84BA66D185CC8.ashx">
                    </div>
                    <div class="services-section-desc">
                        <h3>Become a Partner</h3>
                        <p class="mb-3">Get associated with us and explore the opportunity to earn more.</p>
                        <!-- <a href="/become-a-partner" style="color: #fff; font-weight: 500;">Know more</a> -->
						<a href="/become-a-partner">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-3">
                <div class="services-section">
                    <div class="services-section-thumb bg-d-blue">
                        <img src="-/media/D21DD8E9C20F48F0963F8E2E746E3513.ashx">
                    </div>
                    <div class="services-section-desc">
                        <h3>Give us a missed call</h3>
                        <p class="mb-3">Just give us a missed call on<br /><a href="tel:+917997100444" style="color: #fff; font-weight: 600;">+91 7997100444</a> for product offerings.</p>
                        <!-- <a href="tel:+917997100444" class="d-none" style="color: #fff; font-weight: 600;">Know more</a> -->
						<a href="tel:+917997100444">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/section-->
