<section class="finance-offerings section_padding">
    <div class="bg-images"><img src="/Images/AdaniCapital/Rectangle 4 copy 2.jpg"></div>
    <div class="container">
        <h2 class="text-center">Our Products</h2>
        <p>At Adani Capital, we strongly believe in financing assets that are income generating. Through this approach, we ensure supporting enterprises and creating entrepreneurs thereby contributing to the nation’s economic growth</p>
        <div class="row">
            <div class="col-lg-4 mb-lg-0 mb-3">
                <div class="finance_main finance_main-green">
                    <a href="/Farm-Equipments-Loan">
                        <div class="finance_main--thumb">
                            <img src="-/media/9986EB15F5824EA6A63936D0A4421059.ashx">
                        </div>
                        <div class="finance_main--desc">
                            <h3>Farm Equipments</h3>
                            <p>We at Adani Capital Pvt. Ltd. (ACPL) provide financing solutions to buyers of tractors, harvesters and other farm equipment.</p>
                            <div>Read More</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-3">
                <div class="finance_main finance_main-blue">
                    <a href="/Commercial-Vehicle/Small-Commercial-Vehicles">
                        <div class="finance_main--thumb">
                            <img src="-/media/D8CB164A5E9948C6913488DF6746479A.ashx">
                        </div>
                        <div class="finance_main--desc">
                            <h3>Small Commercial Vehicle</h3>
                            <p>Customers can avail loan for small commercial vehicle like 3 wheelers and mini trucks and other.</p>
                            <div>Read More</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-3">
                <div class="finance_main finance_main-green">
                    <a href="/Supply-Chain-Finance">
                        <div class="finance_main--thumb">
                            <img src="-/media/EC2224D9C5BC44F39168983F2A18CD7E.ashx">
                        </div>
                        <div class="finance_main--desc">
                            <h3>Supply Chain Finance</h3>
                            <p>We at Adani Capital Pvt. Ltd. (ACPL) provide financing solutions to Dealers, Distributors & Vendors.</p>
                            <div>Read More</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!--/section-->