@using Sitecore.AdaniCapital.Website.Helper
@{
    var contextItem = Sitecore.Context.Item;
}
<section class="position-relative bg-white section_padding">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Field("Body", contextItem)
        </div>
    </div>
</section><!--/section-->
