<section class="finance-offerings section_padding">
    <div class="bg-images"><img src="-/media/FA08356CE24842CFA249FD057C2E4F9C.webp" loading=lazy></div>
    <div class="container">
        <h2 class="text-center">Our Products</h2>
        <p class="mb-0">At Adani Capital, we strongly believe in financing assets that are income generating. Through this approach, we ensure supporting enterprises and creating entrepreneurs thereby contributing to the nation’s economic growth</p>
		<div class="owl-carousel home-product_carousel">
			<div class="item py-4">
				<div class="finance_main finance_main-green">
                    <a href="/Farm-Equipments-Loan/Tractor-Loan">
                        <div class="finance_main--thumb">
                            <img src="-/media/9986EB15F5824EA6A63936D0A4421059.ashx" loading=lazy>
                        </div>
                        <div class="finance_main--desc">
                            <h3>Farm Equipments Loan</h3>
                            <p>We at Adani Capital Pvt. Ltd. (ACPL) provide financing solutions to buyers of tractors, harvesters and other farm equipment.</p>
                            <div>Read More</div>
                        </div>
                    </a>
                </div>
			</div>
			<div class="item py-4">
				<div class="finance_main finance_main-blue">
                    <a href="/Commercial-Vehicle">
                        <div class="finance_main--thumb">
                            <img src="-/media/D8CB164A5E9948C6913488DF6746479A.ashx" loading=lazy>
                        </div>
                        <div class="finance_main--desc">
                            <h3>Commercial Vehicle</h3>
                            <p>Customers can avail loan for small commercial vehicle like 3 wheelers and mini trucks and other.</p>
                            <div>Read More</div>
                        </div>
                    </a>
                </div>
			</div>
			<div class="item py-4">
				<div class="finance_main finance_main-green">
                    <a href="/business-loan/msme-secured-business-loan">
                        <div class="finance_main--thumb">
                            <img src="-/media/7D2C431052E74CABAF4B4CF9383525E9.webp" loading=lazy>
                        </div>
                        <div class="finance_main--desc">
                            <h3>Business Loans</h3>
                            <p>At ACPL, we understand the growth aspirations of small and medium businesses.</p>
                            <div>Read More</div>
                        </div>
                    </a>
                </div>
			</div>
			<div class="item py-4">
				<div class="finance_main finance_main-green">
                    <a href="/Supply-Chain-Finance">
                        <div class="finance_main--thumb">
                            <img src="-/media/EC2224D9C5BC44F39168983F2A18CD7E.ashx" loading=lazy>
                        </div>
                        <div class="finance_main--desc">
                            <h3>Supply Chain Finance</h3>
                            <p>We at Adani Capital Pvt. Ltd. (ACPL) provide financing solutions to Dealers, Distributors & Vendors.</p>
                            <div>Read More</div>
                        </div>
                    </a>
                </div>
			</div>
			
		</div>
    </div>
</section><!--/section-->