<section class="section_padding_top pb-5 bg-white position-relative section_cal" id="section_cal">
    <div class="container position-relative" >
        <h2>EMI Calculator</h2>
        <ul class="nav nav-tabs nav-justified" id="accordion" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="EMI-tab" data-toggle="tab" href="#EMI" role="tab" aria-controls="EMI" aria-selected="true">EMI Calculator</a>
            </li>
            <li class="nav-item d-none">
                <a class="nav-link" id="Loan-tab" data-toggle="tab" href="#loan" role="tab" aria-controls="loan" aria-selected="false">Apply for Loan</a>
            </li>
            <li class="nav-item d-none">
                <a class="nav-link" id="status-tab" data-toggle="tab" href="#app-status" role="tab" aria-controls="app-status" aria-selected="false">Application Status</a>
            </li>
        </ul>
        <div class="tab-pane fade show active" id="EMI" role="tabpanel" aria-labelledby="EMI-tab">
            <div class="py-4 mt-2">
                <div class="row">
                    <div class="col-lg-5 mr-auto">
                        <form>
                            <div class="form-group mb-4">
                                <label for="loantype">Loan Type*</label>
                                <div class="select-option">
                                <select class="form-control" id="loantype">
                                    <option value="cv">Commercial Vehicle</option>
                                    <option value="supply">Supply Chain Finance</option>
                                    <option value="business">Business Loan</option>
                                    <option value="farm">Farm Equipments</option>
                                </select>
                                </div>
                            </div>
                            <!--  emicalculator start -->
                            <!--  Commercial Vehicle start -->
							<div>
                            <div class="cv box" style="display: block;">
                                <div class=" range-slider mb-4">
                                    <label class="mb-2 d-block">Loan Amount* <p class="text-right" style="color:#28a49a;" ><b  id="lbprincipal"></b><span class="ml-1">₹</span></p></label>

                                    <input type="range" onchange="comcalculateEMI()" min="100000" max="2500000" step="1000" id="loanamount" value="100000" style="width:428px;">
                                    <p class="range-limit"><span>₹ 1 Lakh</span><span class="float-right">₹ 25 Lakh</span> </p><p class="text-right">
                                        <span id="slider_value" style="color:red;"></span>
                                </div>
                                <div class="range-slider mb-4">
                                    <label class="mb-2 d-block">Interest Rate* <p class="text-right" style="color:#28a49a;"><b id="lbinterest"></b><span class="ml-1">%</span></p></label>
                                    <input type="range" onchange="comcalculateEMI()" min="14" max="20" step="0.1" id="interestrate" value="14" style="width:428px;">
                                    <p class="range-limit"><span>14 %</span><span class="float-right">20 %</span> </p>

                                </div>
                                <div class="range-slider mb-4">
                                    <label class="mb-2 d-block">Tenure* <p class="text-right" style="color:#28a49a;"><b id="lbtenure"></b><span class="ml-1">Months</span></p></label>
                                    <input type="range" onchange="comcalculateEMI()" min="12" max="60" step="1" value="12" id="months" style="width:428px;">

                                    <p class="range-limit"><span>12 Months</span><span class="float-right">60 Months</span> </p>
                                </div>
                            </div>
                            <!--  Commercial Vehicle end -->
                            <!--  Supply Chain Finance start -->
                            <div class="supply box" style="display: none;">
                                <div class=" range-slider mb-4">
                                    <label class="mb-2 d-block">Loan Amount* <p class="text-right" style="color:#28a49a;"><b id="supprincipal"></b><span class="ml-1">₹</span></p></label>

                                    <input type="range" onchange="supcalculateEMI()" min="50000" max="30000000" step="1000" id="suploanamount" value="50000" style="width:428px;">
                                    <p class="range-limit"><span>₹ 50K</span><span class="float-right">₹ 3 Cr.</span> </p><p class="text-right">
                                        <span id="slider_value" style="color:red;"></span>
                                </div>
                                <div class="range-slider mb-4">
                                    <label class="mb-2 d-block">Interest Rate* <p class="text-right" style="color:#28a49a;"><b id="supinterest"></b><span class="ml-1">%</span></p></label>
                                    <input type="range" onchange="supcalculateEMI()" min="14" max="20" step="0.1" id="supinterestrate" value="14" style="width:428px;">
                                    <p class="range-limit"><span>14 %</span><span class="float-right">20 %</span> </p>

                                </div>
                                <div class="range-slider mb-4">
                                    <label class="mb-2 d-block">Tenure* <p class="text-right" style="color:#28a49a;"><b id="suptenure"></b><span class="ml-1">Months</span></p></label>
                                    <input type="range" onchange="supcalculateEMI()" min="12" max="60" step="1" value="12" id="supmonths" style="width:428px;">

                                    <p class="range-limit"><span>12 Months</span><span class="float-right">60 Months</span> </p>
                                </div>
                            </div>
                            <!--  Supply Chain Finance end -->
                            <!--  Business Loan start -->
                            <div class="business box" style="display: none;">
                                <div class=" range-slider mb-4">
                                    <label class="mb-2 d-block">Loan Amount* <p class="text-right" style="color:#28a49a;"><b id="busprincipal"></b><span class="ml-1">₹</span></p></label>

                                    <input type="range" onchange="buscalculateEMI()" min="100000" max="4000000" step="1000" id="busloanamount" value="100000" style="width:428px;">
                                    <p class="range-limit"><span>₹ 1 Lakh</span><span class="float-right">₹ 40 Lakh</span> </p><p class="text-right">
                                        <span id="slider_value" style="color:red;"></span>
                                </div>
                                <div class="range-slider mb-4">
                                    <label class="mb-2 d-block">Interest Rate* <p class="text-right" style="color:#28a49a;"><b id="businterest"></b><span class="ml-1">%</span></p></label>
                                    <input type="range" onchange="buscalculateEMI()" min="14" max="22" step="0.1" id="businterestrate" value="14" style="width:428px;">
                                    <p class="range-limit"><span>14 %</span><span class="float-right">22 %</span> </p>

                                </div>
                                <div class="range-slider mb-4">
                                    <label class="mb-2 d-block">Tenure* <p class="text-right" style="color:#28a49a;"><b id="bustenure"></b><span class="ml-1">Months</span></p></label>
                                    <input type="range" onchange="buscalculateEMI()" min="12" max="120" step="1" value="12" id="busmonths" style="width:428px;">

                                    <p class="range-limit"><span>12 Months</span><span class="float-right">120 Months</span> </p>
                                </div>
                            </div>
                            <!--  Business Loan end -->
                            <!--  Farm Equipments start -->
                            <div class="farm box" style="display: none;">
                                <div class=" range-slider mb-4">
                                    <label class="mb-2 d-block">Loan Amount* <p class="text-right" style="color:#28a49a;"><b id="feprincipal"></b><span class="ml-1">₹</span></p></label>

                                    <input type="range" onchange="farmcalculateEMI()" min="50000" max="2500000" step="1000" id="feloanamount" value="50000" style="width:428px;">
                                    <p class="range-limit"><span>₹ 50K</span><span class="float-right">₹ 25 Lakh</span> </p><p class="text-right">
                                        <span id="slider_value" style="color:red;"></span>
                                </div>
                                <div class="range-slider mb-4">
                                    <label class="mb-2 d-block">Interest Rate* <p class="text-right" style="color:#28a49a;"><b id="feinterest"></b><span class="ml-1">%</span></p></label>
                                    <input type="range" onchange="farmcalculateEMI()" min="15" max="22" step="0.1" id="feinterestrate" value="15" style="width:428px;">
                                    <p class="range-limit"><span>15 %</span><span class="float-right">22 %</span> </p>

                                </div>
                                <div class="range-slider mb-4">
                                    <label class="mb-2 d-block">Tenure* <p class="text-right" style="color:#28a49a;"><b id="fetenure"></b><span class="ml-1">Months</span></p></label>
                                    <input type="range" onchange="farmcalculateEMI()" min="12" max="72" step="1" value="12" id="femonths" style="width:428px;">

                                    <p class="range-limit"><span>12 Months</span><span class="float-right">72 Months</span> </p>
                                </div>
                            </div>
                            </div>
                            <!--  Farm Equipments end -->



                        </form>
                    </div>
                    <div class="col-lg-6 ml-auto">
                        <div class="h-100 payment_block">
                            <h6>Total Amount Payable</h6>
                            <h4><span>₹</span><b id="lbtotamt">2,13,237</b></h4>
				<p>EMI Distribution</p>
				<table class="table mb-4">
				
					<tr>
						<td>Loan Amount</td>
						<td class="text-right"><span class="mr-1">₹</span><b id="lbprincipal1">100,000</b></td>
					</tr>
					
					<tr>
						<td>Interest Rate p.a.</td>
						<td class="text-right"><b id="lbinterest1">12</b><span class="ml-1">%</span></td>
					</tr>
					
					<tr>
						<td>Tenure</td>
						<td class="text-right"><b id="lbtenure1">12</b><span class="ml-1">Months</span></td>
					</tr>
					<td class="border-bottom align-items-center"></td>
					<tr>
						<td>EMI / Month</td>
						<td class="text-right"><span class="mr-1">₹</span><b id="lbMonthEmi">8,885</b></td>
					</tr>
					<tr>
						<td>Total Interest Amount</td>
						<td class="text-right"><span class="mr-1">₹</span><b id="lbtotintamt">6,619</b></td>
					</tr>
					<tr>
						<td>Yearly Interest Amount</td>
						<td class="text-right"><span class="mr-1">₹</span><b id="lbtotintyear">552</b></td>
					</tr>
                            </table>
                            <p class="text-left"><a href="#" class="mr-3 mb-3 btn btn-gradient d-none">Apply Now</a><a href="req_callback" data-toggle="modal" data-target="#req_callback" class="mr-3 btn btn-gradient mb-3">Request a call</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		 <!--  EMI Calculator end -->
    </div>
</section>
@*@if (Session["FDTicketStatus"] != null)
{
    <div class="modal fade show" id="LMSmessage_modal" style="display: block; padding-right: 16px;" tabindex="-1" role="dialog" aria-labelledby="LMSmessage_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body bg-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <div class=" p-3">
                        <h3 class="mb-4">Message</h3>
                        <div class="row text_container">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    @if ((bool)Session["FDTicketStatus"] == false)
                                    {
                                        <label for="" class="col-form-label txt-green">Something has been wrong. Please try again after sometime. </label>
                                    }
                                    else
                                    {
                                        <label for="" class="col-form-label txt-green">Thanks for your interest. Your Service Request No is: @Session["FDTicketNo"].ToString() </label>
                                    }
                                </div>
                            </div>
                            <div class="col-md-12 mb-3 mt-3 text-left">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="okbtn">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}*@