<section class="hero_banner_container">
    <div class="owl-carousel hero-banner">
        <div class="item">
            <picture>
                <source srcset="/Images/AdaniCapital/hero_banner.jpg" media="(min-width:540px)">
                <source srcset="/Images/AdaniCapital/hero_banner-mobile.jpg" media="(min-width:0)">
                <img srcset="" src="/Images/AdaniCapital/hero_banner-mobile.jpg" alt="Adani Capital" loading=lazy>
            </picture>
            <div class="banner-content">
                <div class="container">
                    <div>
                        <h2>Contrubuting to the Nation's economic growth.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis ligula vitae dolor accumsan, vel dignissim odio vehicula.</p>
                        <a href="#">Know more <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <picture>
                <source srcset="/Images/AdaniCapital/hero_banner.jpg" media="(min-width:540px)">
                <source srcset="/Images/AdaniCapital/hero_banner-mobile.jpg" media="(min-width:0)">
                <img srcset="" src="/Images/AdaniCapital/hero_banner.jpg" alt="Adani Capital" loading=lazy>
            </picture>
            <div class="banner-content">
                <div class="container">
                    <div>
                        <h2>Contrubuting to the Nation's economic growth.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis ligula vitae dolor accumsan, vel dignissim odio vehicula.</p>
                        <a href="#">Know more <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/section-->
