@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Data.Fields
@using Sitecore.AdaniCapital.Website.Helper
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var dataItem = Sitecore.Context.Database.GetItem(datasource);
}
@if (dataItem != null)
{
    if (dataItem.HasChildren)
    {
        <div class="col-lg-4">
            <div class="p-4 bg-blue h-100 ul-financials">
                <h3 class="section-heading txt-white text-left">@dataItem.Fields["Text"]</h3>
                @foreach (Item infoItem in dataItem.GetChildren())
                {
                    LinkField link = (LinkField)infoItem.Fields["LinkUrl"];
                    var URL = Helper.LinkUrl(link);
                <ul>
                    <li><em class="fa fa-newspaper"></em><a href="@URL" target="_blank" class="btn-white">@infoItem.Fields["Title"]</a></li>
                </ul>
                }                
            </div>
        </div>
    }
}
