@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration



    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "bg-gray border p-4" }))
    {
        @Html.AntiForgeryToken()
		
        <div class="form-group">
            <select class="form-control" name="TrackingportType" id="TrackingportType">
                <option>--Select Port--</option>
                <option>Mundra CT2</option>
                <option>Mundra CT4</option>
                <option>Mundra T2</option>
            <option>Mundra CT3</option>
            <option>Hazira</option>
            <option>Ennore</option>
				<option>Kattupalli</option>

            </select>
        </div>
        @*<div class="form-group">
                <input type="text" class="form-control" id="" placeholder="Shipping bill no.">
            </div>*@
        <div class="form-group">
            <input type="text" class="form-control" id="TrackingcontainerNo" placeholder="Container no." required name="TrackingcontainerNo">
        </div>
		<div class="form-group">
		<div id="recaptcha1" class="g-recaptcha" data-theme="light" data-sitekey="XXXXXXXXXXXXX" style="transform:scale(0.65);-webkit-transform:scale(0.65);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
		</div>
        <p class="text-right"><input type="submit" class="btn btn-gradient" id="trackingBtnSearch" value="Search" /></p>

    }

