@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if (element != null)
{
    <section class="section_cta">
        <div class="bg-images">@Html.Sitecore().ImageFieldWithoutSize(Sitecore.Data.ID.Parse("{9492E0BB-9DF9-46E7-8188-EC795C4ADE44}"), element, 0, 0, "")<img src="/images/adanicapital/banner2.jpg" /></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-lg-left text-center py-lg-5 py-4">
                    @Html.Sitecore().Field("Summary", element)
                </div>
                <div class="col-lg-4 text-lg-right text-center py-lg-5 py-4">
                    @Html.Sitecore().Field("Body", element)
                    @*<a href="/apply-for-loan" class="btn btn-w-border">Apply Now</a>*@
                </div>
            </div>
        </div>
    </section><!--/section-->
}

