@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if(element != null)
{
var BGImage = Helper.ImageUrl("Image", element);
<section class="section_cta">
	
    <div class="bg-images"><img src="@BGImage" /></div>
   
    <div class="container">
        <div class="row">
		@Html.Sitecore().Field("Body", element)
        </div>
    </div>
</section><!--/section-->
}
