<div class="siderbar_fixed">
    <ul>
        <li>
            <span><a href="#default_modal" data-toggle="modal" data-target="#default_modal"><img src="https://stage.adanicapital.in/images/AdaniCapital/app-loan.svg"></a></span>
            <a href="#default_modal" data-toggle="modal" data-target="#default_modal">Apply for Loan</a>
        </li>
        <li>
            <span><a href="tel:1800 210 0444"><img src="https://stage.adanicapital.in/images/AdaniCapital/phone.svg"></a></span>
            <a href="tel:1800 210 0444">Give a missed call</a>
        </li>
    </ul>
</div>
<a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"> <span class="fa fa-angle-up"></span> </a>
