
<div class="sidebar_s-icons">
    <ul>
        <li><a href="https://www.facebook.com/adanicapital/" target="_blank"><img src="/Images/AdaniCapital/FB.jpg"></a></li>
        <li><a href="https://in.linkedin.com/company/adani-capital" target="_blank"><img src="/Images/AdaniCapital/in.jpg"></a></li>
        <li><a href="https://www.youtube.com/channel/UCQjar4Db7zvEyHLcXfp7_gQ" target="_blank"><img src="/Images/AdaniCapital/youtube.jpg"></a></li>
    </ul>
</div>
