/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"); */
*,
::after,
::before {
  box-sizing: border-box;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(Nri/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(Nri/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(Nri/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Nri/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(Nri/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #676767;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.arch-banner-section {
  position: relative;
}

@media (max-width: 767px) {
  .arch-banner-section {}
}

.arch-banner-section .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.custom-header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-header {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
  left: 0;
  padding: 20px 0;
  transition: 0.2s ease;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.colored-logo {
  display: none;
}

.custom-menu-section ul {
  display: flex;
  align-items: center;
}

.custom-menu-section ul li {
  padding: 0 15px;
}

.custom-menu-section ul li a {
  color: #fff;
  font-size: 14px;
  line-height: normal;
  position: relative;
  display: block;
  padding: 10px 0 16px 0;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}

.custom-menu-section ul li.cta-btn a {
  background: rgba(255, 255, 255, 15%);
  border: 1px solid #fff;
  border-radius: 25px;
  text-decoration: none !important;
  padding: 10px 15px;
}

.custom-menu-section ul li.cta-btn a:hover {
  background-color: rgba(255, 255, 255, 40%);
}

.custom-menu-section ul li.cta-btn {
  margin-left: 10px;
}

.custom-menu-section ul li.cta-btn:hover {
  border: none !important;
}

.arch-banner-section img {
  width: 100%;
}

.arch-banner-section .banner-content {
  position: absolute;
  bottom: 10%;
  width: 100%;
  left: 0;
}

@media (max-width: 767px) {
  .arch-banner-section .banner-content {
    bottom: 0;
  }
}

.custom-menu-section {
  justify-content: center;
  display: flex;
}

.arch-banner-section:before {
  content: "";
  background-image: linear-gradient(0deg, transparent 37%, #000);
  top: 0;
  left: 0;
  width: 100%;
  height: 16rem;
  z-index: 1;
  opacity: 0.5;
  position: absolute;
}

.arch-banner-section .banner-content:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  opacity: 90%;
  pointer-events: none;
}

.arch-banner-section .banner-content .row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  text-align: center;
}

.arch-banner-section .banner-content .mid-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  margin: 0;
}

.scroll-body .custom-header {
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 3px 0 #ddd;
}

.scroll-body .white-logo {
  display: none;
}

.scroll-body .colored-logo {
  display: block;
}

.scroll-body .custom-menu-section ul li a {
  color: #404040;
}

.scroll-body .custom-menu-section ul li.cta-btn a {
  border-color: #404040;
  background: rgba(222, 222, 222, 40%);
}

.custom-footer {
  background: #f9f9f9;
  text-align: center;
  color: #000;
  padding: 30px 0;
  margin-top: 30px;
}

.BgChange {
  background: #f9f9f9;
}

.footer-logo {
  padding-top: 20px;
}

.footer-social-icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icons ul svg path {
  fill: #000;
  filter: invert(1);
}

.footer-social-icons ul li+li {
  padding-left: 30px;
}

.footer-copyright {
  padding: 20px 0 37px;
  font-weight: 300;
}

.footer-copyright a {
  color: #000;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-disclaimer h4 {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 30px 0;
}

.footer-disclaimer p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
}

.footer-top-desc h5 {
  margin: 0;
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
}

.footer-top-desc h5 a {
  color: #000;
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
}

.footer-top-desc h5 a:hover {
  text-decoration: none;
}

.address-progress-section {
  padding-top: 80px;
  text-align: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.top {
  text-align: center;
}

.highlight-slider-wrapper .slide-item {
  min-height: 558px;
  position: relative;
}

.highlight-slider-wrapper .slide-item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.highlight-slider-wrapper .slide-item h4 {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  font-weight: 500;
}

.highlight-slider-wrapper .slide-item .desc {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(90px);
  -ms-transform: translateY(90px);
  transform: translateY(90px);
  transition: 1s ease;
}

.amenities-section .am-wrap .item .wrap {
  min-height: 47px;
}

.highlight-slider-wrapper .slide-item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: inherit;
  display: block;
  content: "";
  background: linear-gradient(180deg, transparent 0, transparent 30%, #000);
  opacity: 60%;
}

.amenities-section .topHeading {
  display: inline;
}

.amenities-section .top p {
  color: #404040;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.amenities-section .btm {
  padding-top: 20px;
  /* overflow-x: scroll; */
}

.amenities-section .am-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.amenities-section .am-wrap .item {
  text-align: left;
  padding: 0 50px 50px 0;
  width: 25%;
}

.amenities-section .am-wrap+.am-wrap {
  margin-top: 77px;
}

.amenities-section .am-wrap .item p {
  color: #333333;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding-top: 35px;
  font-weight: 400;
  width: 150px;
}

.topHeading {
  font-size: 30px;
  color: #404040;
  margin: 0 0 20px 0;
}

.tour-section {
  padding-top: 50px;
}

.amenities-section .btm::-webkit-scrollbar,
.floor-plan ul::-webkit-scrollbar {
  display: none;
}

.amenities-section .am-wrap .item img {
  max-width: 29px;
  position: absolute;
  top: 0;
  left: 0;
}

.download-brochure-section {
  padding: 80px 0;
  text-align: center;
  margin-bottom: 50px;
}

.download-brochure-section .brochure-btn {
  border: 1px solid #804b1d;
  border-radius: 29px;
  padding: 14.5px 44.8px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  color: #804b1d;
  cursor: pointer;
}

.download-brochure-section .brochure-btn.bgBtn {
  border: 1px solid #404040;
  color: #404040;
}

.download-brochure-section .brochure-btn:hover {
  background: #333333;
  color: #fff;
  border-color: #333333;
}

.tour-section img {
  width: 100%;
}

.lifestyle-gallery-section {
  padding: 0 0 40px 0;
}

.lifestyle-gallery-section .btm {
  margin: 0 auto;
  position: relative;
}

.lifestyle-gallery-section .slick-arrow {
  background-image: url(images/realty/RealtyNRI_images/arrow.png) !important;
  height: 32px;
  width: 32px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  right: 50px;
  z-index: 1;
  top: -55px;
  left: auto;
  transform: rotate(-180deg);
  border: 1px solid #707070;
  border-radius: 50%;
  background-size: 25% !important;
}

.lifestyle-gallery-section .slick-arrow.slick-next {
  left: auto;
  right: 0;
  transform: none;
}

.lifestyle-gallery-section .slick-arrow:hover {
  background-size: 25%;
  border: 1px solid #000;
}

.slick-disabled {
  opacity: 0.5;
}

.slick-disabled:hover {
  border: 1px solid #707070 !important;
  opacity: 0.5;
  cursor: auto;
}

.configurationsWrap {
  padding: 30px 0 70px 0;
}

.configurationsWrap .topHeading {
  font-size: 32px;
  color: #96633c;
  text-align: center;
  margin: 0 0 40px 0;
}

.configurationsWrap .contentBox .tiles {
  display: flex;
  background: #f8f8f8;
  border-radius: 30px;
  margin-bottom: 20px;
}

/* popup */
.enquiryBtn {
  padding: 12px 40px;
  background: #3e66ac;
  border: none;
  color: #fff;
  border-radius: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  max-width: 40px;
  min-width: 180px;
}

.enquiryBtn:hover {
  background: #3c47c3;
}

rect#Rectangle_200 {
  fill: #e9b146;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #404040;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
}

.form-group input:checked+label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid #404040;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.otpForm .verification-code {
  position: relative;
  margin: 40px auto;
  text-align: center;
  width: 390px;
}

.otpForm .control-label {
  display: block;
  text-align: -webkit-auto;
  padding-left: 15px;
  font-size: 15px;
}

.otpForm .verification-code--inputs input[type="text"] {
  border-bottom: 1px solid #404040 !important;
  width: 73px;
  height: 65px;
  /* padding: 10px; */
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 22px;
  margin: 0 8px;
  color: #404040;
}

.otpForm .verification-code--inputs input[type="text"]:first-child {
  margin-left: 0;
}

.otpForm .enquiryBtn {
  margin-top: 80px;
  outline: none;
}

.floor-plan ul {
  margin-bottom: 30px;
  padding: 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #707070;
}

.floor-plan ul li {
  padding: 7px 20px 15px 20px;
  border-bottom: 2px solid transparent;
  background: #fff;
  cursor: pointer;
  color: #404040;
  font-size: 16px;
  min-width: 148px;
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
}

.floor-plan ul li img {
  margin-bottom: 5px;
}

.floor-plan ul li span {
  display: block;
}

@media (max-width: 767px) {
  .floor-plan ul li {
    padding: 7px 5px;
    width: 25%;
    min-width: auto;
    font-size: 14px;
  }
}

.floor-plan ul li.act,
.floor-plan ul li:hover {
  border-bottom: 2px solid #404040;
  transition: all 0.5s ease-out;
}

.floor-detail {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.popup-form {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  border-radius: 8px;
  padding: 40px;
  max-height: 90vh;
  overflow: auto;
}

.ovarLay {
  position: fixed;
  background: rgba(0, 0, 0, 85%);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

.form-open .ovarLay,
.thnku-form-open .ovarLay {
  opacity: 1;
  visibility: visible;
}

.form-open .popup-form {
  opacity: 1;
  visibility: visible;
  text-align: left;
}

.popup-form form .form-control {
  margin-bottom: 20px;
}

.popup-form form .form-control label {
  font-size: 14px;
  line-height: 1.25;
}

.popup-form form .form-control input,
.popup-form form .form-control select {
  width: 100%;
  border-color: transparent;
  border: 1px solid #848383;
  outline: none;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
}

.popup-form form .form-control select {
  color: #404040;
  padding: 19px;
}

.popup-form .close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.popup-form .close_btn:hover {
  background-color: #ccc;
  border-radius: 50%;
  height: 32px;
}

.popup-form .close_btn svg {
  fill: #626262;
  width: 32px;
  height: 32px;
}

.loctaion {
  margin-bottom: 100px;
  padding-top: 80px;
}

.configurationsWrap .contentBox {
  max-width: 1116px;
  margin: 0 auto;
}

.otpForm {
  max-width: 604px;
  width: 100%;
  position: fixed;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 12px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.otpForm .otp_close_btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.otpForm .verification-code {
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 100px;
}

.otpForm .verification-code label.control-label {
  color: #404040;
  font-size: 14px;
  line-height: normal;
  font-weight: 300;
}

.otp-form-open .otpForm {
  opacity: 1;
  visibility: visible;
}

.otp-form-open .ovarLay {
  opacity: 1;
  visibility: visible;
}

.resend-btn {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 15px;
  color: #e9b146;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  width: auto;
}

.resend-btn svg {
  fill: #e9b146;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.resend-wrp {
  margin-right: 20px;
  display: flex;
  justify-content: end;
}

.resend-btn:hover span {
  text-decoration: underline;
}

.enq-btn {
  cursor: pointer;
}

.highlight-slider-wrapper .slide-item p {
  font-size: 20px;
  line-height: normal;
  color: #fff;
  padding-bottom: 10px;
}

.highlight-slider-wrapper .slide-item.slick-active .desc {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.thankyou-form {
  max-width: 604px;
  width: 100%;
  position: fixed;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 12px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.thnku-form-open .thankyou-form {
  opacity: 1;
  visibility: visible;
}

.thankyou-form .inner {
  max-width: 400px;
  margin: 0 auto;
  padding: 90px 0 40px;
}

.thankyou-form .top h3,
.popup-form h3,
.verification-code h3 {
  color: #404040;
  font-size: 28px;
  line-height: normal;
  margin: 0;
  padding-bottom: 12px;
}

.thankyou-form .top {
  text-align: left;
  padding-bottom: 24px;
}

.popup-form p,
.verification-code .top p {
  margin-bottom: 20px;
}

.thankyou-form .top p,
.popup-form p,
.verification-code .top p {
  color: #404040;
  font-size: 16px;
  line-height: normal;
}

.thankyou-form .item {
  width: 100%;
  padding-bottom: 10px;
}

.thankyou-form .item h5 {
  margin: 0;
  color: rgba(64, 64, 64, 50%);
  font-size: 14px;
  line-height: normal;
  font-weight: 300;
  padding-bottom: 8px;
}

.thankyou-form .item h4 {
  margin: 0;
  color: #404040;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}

.thankyou-form .btm {
  padding-bottom: 56px;
}

.thankyou-form .thankyou_close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.thankyou-form .button-section {
  text-align: center;
}

.thankyou-form .button-section .btn {
  padding: 12px 40px;
  background: #e9b146;
  border: none;
  color: #fff;
  border-radius: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  max-width: 40px;
  min-width: 180px;
}

.form-open .custom-header {
  z-index: 1;
}

.address-progress-section img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .address-progress-section img {
    object-fit: cover;
    margin-bottom: 20px;
    position: absolute;
    left: 0;
    width: 2.5rem;
  }
}

.mfp-zoom-out-cur .mfp-wrap:not(.mfp-gallery) img.mfp-img {
  padding: 0;
  background: #fff;
}

.mfp-zoom-out-cur .mfp-wrap:not(.mfp-gallery) button.mfp-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 35px;
  opacity: 1;
}

.mfp-zoom-out-cur .mfp-wrap:not(.mfp-gallery) .mfp-content {
  position: static;
}

.amenities-section .am-wrap .item .wrap {
  min-height: 47px;
  position: relative;
  padding-left: 2.5rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .mobile-trigger {
    display: none;
  }

  .mob {
    display: none;
  }

  .custom-menu-section ul li a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1199px) {
  .custom-menu-section ul li a {
    padding: 10px 7px;
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .mobile-trigger {
    width: 50px;
    height: 28px;
    border-radius: 15px;
    border: 1px solid #ffffff8f;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 99;
  }

  .mobile-trigger span {
    display: block;
    height: 1px;
    background: #fff;
    margin: 5px auto 0;
    width: 20px;
    transition: 0.3s ease;
  }

  .mobile-trigger span:first-child {
    margin-top: 0;
  }

  .logo-area {
    order: 1;
  }

  .mobile-trigger {
    order: 3;
    position: absolute;
    right: 0;
  }

  .custom-header .row {
    justify-content: initial;
    position: relative;
  }

  .arch-banner-section .banner-content .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .arch-banner-section .banner-content .row>div {
    width: 100%;
  }

  .arch-banner-section .banner-content .mid-area {
    order: 1;
    padding-bottom: 28px;
  }

  .arch-banner-section .banner-content .mid-area img {
    max-width: 209px;
  }

  img.h-logo {
    display: block !important;
    margin: 0 auto 69px;
    max-width: 68px;
    width: 100%;
  }

  .address-progress-section {
    padding: 40px 15px 0 15px;
  }

  .topHeading {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  body {
    line-height: 30px;
  }

  .configurationsWrap .contentBox .tiles {
    align-items: initial;
    justify-content: space-between;
    border-radius: 40px;
    padding-left: 20px;
  }

  .configurationsWrap {
    padding: 0 0 80px 0;
  }

  .amenities-section .top p {
    line-height: 19px;
    font-weight: 500;
  }

  .download-brochure-section {
    padding: 50px 0;
  }

  /* .brochure-btn {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    border-radius: 29px;
    padding: 11.5px 27.1px;
  } */

  .lifestyle-gallery-section {
    padding: 30px 0;
  }

  .lifestyle-gallery-section .slick-arrow.slick-next {
    right: 15px;
  }

  .lifestyle-gallery-section .slick-arrow.slick-prev {
    right: 64px;
  }

  .gallery-section .container,
  .loctaion .container {
    padding: 0;
    max-width: 100%;
  }

  .lifestyle-gallery-section.cm-gallry .top {
    padding: 0 20px;
  }

  .lifestyle-gallery-section .btm {
    max-width: 100%;
  }

  .lifestyle-gallery-section .slides-numbers {
    right: 20px;
  }

  .floor-plan h2.topHeading,
  .loctaion h2.topHeading {
    padding: 0;
  }

  .floor-detail {
    justify-content: center;
    padding: 0px;
  }

  .floor-plan {
    margin: 0;
  }

  .loctaion {
    margin-bottom: 80px;
  }

  .custom-menu-section {
    position: fixed;
    right: -300px;
    height: 100vh;
    top: 0;
    background: #ffffff;
    width: 300px;
    justify-content: initial;
    padding: 60px 0 10px 0;
    transition: right 0.3s ease;
  }

  .custom-menu-section ul {
    display: block;
    width: 100%;
  }

  .custom-menu-section ul li a {
    color: #404040 !important;
    font-size: 16px;
    line-height: 19px;
    padding: 20px 60px;
  }

  .menu-wrapper {
    width: 100%;
    overflow-y: auto;
  }

  body.menu-open {
    overflow: hidden;
  }

  .custom-menu-section ul li {
    border-bottom: 1px solid #eee;
    padding: 0;
  }

  .custom-menu-section ul li:first-child {
    border-top: 1px solid #eee;
  }

  .custom-menu-section ul li.cta-btn {
    display: none;
  }

  .custom-menu-section ul li a:hover {
    background: #f8f8f8;
  }

  .menu-open .custom-menu-section {
    right: 0;
  }

  .menu-open .mobile-trigger,
  .scroll-body .mobile-trigger {
    background: #eee;
    border-color: #ddd;
  }

  .menu-open .mobile-trigger span,
  .scroll-body .mobile-trigger span {
    background: #333;
  }

  .custom-header .container {
    max-width: 100%;
  }

  .menu-open .mobile-trigger span:first-child {
    transform: rotate(45deg);
    margin-top: 1px;
  }

  .menu-open .mobile-trigger span:last-child {
    transform: rotate(132deg);
    margin-top: -1px;
  }

  .menu-open .ovarLay {
    opacity: 1;
    visibility: visible;
  }

  .menu-open .ovarLay {
    opacity: 1;
    visibility: visible;
  }

  .menu-open .custom-header {
    z-index: 99;
  }

  .custom-menu-section ul li.brochure {
    display: flex !important;
    justify-content: center;
    margin: 30px 0;
    border: 0;
  }

  .custom-menu-section ul li.brochure a.brochure-btn {
    background-color: #3e66ac;
    padding: 12px 28px;
    color: #fff !important;
  }

  .highlight-slider-wrapper .slide-item {
    min-height: 500px;
  }

  .scroll-body .sticky-btn {
    display: block !important;
  }

  .sticky-btn {
    position: fixed;
    bottom: 20px;
    z-index: 9;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .sticky-btn a {
    cursor: pointer;
    background: #3e66ac;
    color: #fff;
    border-radius: 25px;
    padding: 14px 80px;
  }

  .popup-form {
    transform: none;
    top: auto;
    max-width: 100%;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: -200%;
  }

  .form-open .popup-form {
    bottom: 0;
  }

  .popup-form {
    padding: 40px 15px 20px;
  }

  .otpForm,
  .thankyou-form {
    transform: none;
    top: auto;
    max-width: 100%;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 40px 15px 20px;
    bottom: -200%;
  }

  .otp-form-open .otpForm,
  .thnku-form-open .thankyou-form {
    bottom: 0;
  }

  .thankyou-form .wrap {
    display: block;
  }

  .thankyou-form .inner {
    padding: 10px 0;
  }

  .thankyou-form .top p {
    font-size: 14px;
  }

  .thankyou-form .item h4 {
    font-size: 14px;
  }

  .arch-banner-section .banner-content:after {
    background: linear-gradient(180deg, transparent 0, transparent 0, #000);
  }

  .custom-footer.BgChange {
    padding-bottom: 80px;
    padding-top: 10px;
  }

  .desk {
    display: none;
  }

  .lifestyle-gallery-section .item .desc:after {
    right: 10px;
    bottom: 60px;
    padding: 1px 0.8rem;
  }

  .amenities-section .am-wrap .item {
    width: 33%;
    padding: 0 0 30px 0;
    text-align: center;
    align-items: center;
  }

  .popup-form form .form-control {
    margin-bottom: 20px;
  }

  .tittleHeading {
    line-height: 38px;
  }

  .amenities-section .am-wrap .item p {
    line-height: 20px;
  }

  .popup-form form .form-control input {
    padding: 4px 0 3px 0;
  }
}

@media (max-width: 767px) {
  .loctaion .img img {
    max-width: 240vw;
  }

  .loctaion .img {
    overflow-x: scroll;
  }

  .address-progress-section {
    background-size: 90%;
  }

  .arch-banner-section .banner-content {
    padding-bottom: 15px;
    padding-top: 60px;
  }

  .arch-banner-section .banner-content .mid-area {
    padding-bottom: 18px;
  }
}

@media (max-width: 400px) {
  .configurationsWrap .contentBox .tiles {
    border-radius: 10px;
    padding-left: 10px;
  }

  .otpForm .verification-code--inputs input[type="text"] {
    width: 15%;
  }

  .otpForm .verification-code {
    width: 100%;
  }
}

.btnEnquire {
  background-color: #5b66e2;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  border: none;
  max-width: 160px;
  border-radius: 32px;
  margin: 40px auto 0;
  font-size: 16px;
}

.btnEnquire:hover {
  background-color: #3c47c3;
  transition: all 0.5s ease-out;
}

@media (max-width: 767px) {
  .btnEnquire {
    margin: 20px auto 0;
  }
}

.arch-banner-section:after {
  content: "";
  background: linear-gradient(to right,
      #1c84a6,
      #386bb2 25%,
      #7356a3 49%,
      #903b94 72%,
      #c54961);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 0;
  top: 100%;
}

.textGradient {
  background: -webkit-linear-gradient(60deg, #2f9ab2, #9a05ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .textGradient {
    font-size: 16px;
    padding-bottom: 1rem;
  }

  .textGradient b {
    font-size: 24px;
  }
}

.address-progress-section p {
  font-size: 18px;
  color: #212121;
  font-weight: 400;
}

@media (max-width: 767px) {
  .address-progress-section p {
    color: #404040;
  }
}

.achievements {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 20px;
}

.achievements.bdrNone {
  border: none;
}

.achievements ul {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .achievements ul {
    padding-top: 0;
  }
}

.achievements ul li {
  flex-grow: 1;
  margin: 1px;
  width: 19.6%;
}

@media screen and (max-width: 767px) {
  .achievements {
    margin-top: 60px;
  }

  .achievements ul li {
    width: 100%;
    padding: 0 0 2rem 5rem;
    text-align: left;
    position: relative;
    margin-left: 1rem;
  }
}

.achievements ul li svg {
  width: 2.5rem;
  margin-bottom: 1rem;
  fill: #404040;
}

@media screen and (max-width: 767px) {
  .achievements ul li svg {
    margin-bottom: 0.8rem;
    position: absolute;
    left: 0;
  }
}

.achievements ul li strong {
  display: block;
  color: #404040;
  font-size: 1.75rem;
}

@media (max-width: 991px) {
  .achievements ul li strong {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.achievements ul li small {
  color: #404040;
}

.whyadani {
  text-align: center;
}

.whyadani h2 {
  font-size: 42px;
  font-weight: 700;
  color: #404040;
  line-height: 1.25;
}

.whyadani p {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.whyadani .readmore {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 30px;
  display: inline-block;
}

.whyadani .readmore:hover {
  text-decoration: none;
}

.whyadani:after {
  content: "";
  display: block;
  height: 70px;
  background-image: url(images/realty/RealtyNRI_images/gradientDevider.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.amenities-section .am-wrap .item .wrap span {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .amenities-section .am-wrap .item .wrap span {
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 1.2;
    padding: 8px 10px 0 0;
  }
}

.floor-detail p {
  font-size: 16px;
  color: #000;
}

.lifestyle-gallery-section .desc img {
  min-height: 430px;
  border-radius: 20px;
  min-width: 100%;
}

.lifestyle-gallery-section .slick-slide {
  margin-right: 30px;
}

@media (min-width: 992px) {
  #testimonialSec .slick-slide {
    margin: 0;
  }
}

#more,
#more1 {
  display: none;
}

.lifestyle-gallery-section .gallery a {
  position: relative;
  display: block;
  overflow: hidden;
}

.lifestyle-gallery-section .gallery .link {
  position: absolute;
  display: block;
  overflow: hidden;
}

.lifestyle-gallery-section .gallery a .gallery-logo {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 100%;
  background: #fff;
  z-index: 1;
}

.lifestyle-gallery-section .gallery a .gallery-logo img {
  min-height: auto;
}

.lifestyle-gallery-section .gallery a .gallery-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.lifestyle-gallery-section .gallery a .gallery-thumb:after {
  content: "";
  opacity: 0.6;
  background-image: linear-gradient(180deg, transparent, #000);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 19rem;
}

.lifestyle-gallery-section .gallery a .gallery-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1.5rem;
  color: #fff;
  z-index: 1;
}

.lifestyle-gallery-section .gallery a .gallery-description h3 {
  margin: 0 0 0.25rem;
  line-height: 1;
  font-size: 36px;
  font-weight: 400;
}

.lifestyle-gallery-section .gallery a .gallery-description h4 {
  margin: 0 0 0.825rem;
  line-height: 1;
  font-size: 1rem;
  font-weight: 400;
}

.lifestyle-gallery-section .gallery a .gallery-description p {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.lifestyle-gallery-section .gallery a .gallery-description p span {
  font-size: 1.25rem;
}

/* .lifestyle-gallery-section .gallery .btn-download {
  margin-top: 30px;
  position: relative;
  padding-bottom: 0.25rem;
} */

/* .lifestyle-gallery-section .gallery .btn-download a {
  color: #404040;
  font-size: 1rem;
  border: 1px solid #707070;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 33px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
} */

.lifestyle-gallery-section .gallery .btn-download a:hover {
  background-color: #f4f4f4;
  transition: all 0.5s ease-out;
}

@media (max-width: 576px) {
  .lifestyle-gallery-section .gallery {
    width: calc(100% + 15px);
  }
}

.investmentSection {
  text-align: center;
  color: #404040;
  font-size: 16px;
  margin-bottom: 80px;
}

.investmentSection h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.25;
}

.investmentSection h3 {
  font-weight: 500;
}

.investmentSection p {
  color: #000;
  font-weight: 400;
}

.investmentSection .readmore {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 30px;
  display: inline-block;
}

.investmentSection .readmore:hover {
  text-decoration: none;
}

#testimonialSec .playpause {
  background-image: url(images/realty/RealtyNRI_images/play-btn.svg);
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

#testimonialSec .slick-slider .slick-dots {
  bottom: 3rem;
  z-index: 0;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 767px) {
  #testimonialSec .slick-slider .slick-dots {
    left: 45%;
    bottom: 2rem;
  }

  .whyadani h2 {
    font-size: 24px;
  }

  .whyadani:after {
    background-size: 80%;
    margin: 0 auto;
  }

  .tittleHeading,
  .investmentSection h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .floor-detail p {
    font-weight: 300;
  }

  .investmentSection h3 {
    font-size: 18px;
  }

  .investmentSection p {
    font-weight: 300;
  }

  .footer-disclaimer p {
    font-size: 10px;
  }
}

#testimonialSec .slick-slider .slick-dots li {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin: 0 3px;
}

.slick-slider .slick-dots li button {
  background-color: #222;
  border: 1px solid #fff;
  border-radius: 4px;
  display: inline-block;
  font-size: 0;
  height: 8px;
  margin: 0 3px;
  padding: 0;
  text-indent: -99999px;
  width: 8px;
}

.slick-slider .slick-dots .slick-active button {
  background-color: #fff;
  border-color: #fff;
}

#testimonialSec .desc {
  max-height: 544px;
}

#testimonialSec .desc img {
  max-height: 100%;
  min-height: auto;
}

#testimonialSec {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .testimonialSec {
    margin-bottom: 20px;
  }
}

#testimonialSec video {
  width: 100%;
  display: block;
  max-height: 100%;
  object-fit: cover;
}

#testimonialSec .gallery a .gallery-thumb {
  max-height: 544px;
}

#testimonialSec .gallery a .gallery-thumb:after {
  content: none;
}

.popup-form .subheading {
  color: #676767;
  font-size: 14px;
  font-weight: 400;
}

#testimonialSec .desc img,
#testimonialSec video {
  min-height: 544px;
  object-fit: cover;
}

@media (max-width: 767px) {

  #testimonialSec .desc img,
  #testimonialSec video {
    min-height: 351px;
  }
}

.lifestyle-gallery-section .gallery {
  margin-bottom: 0 !important;
}

.slick-track {
  float: left;
}

.cta-btn a:after,
.brochure a:after {
  display: none;
}

.form-input input[type="tel"] {
  height: 3.625rem;
  border: 0.063rem solid #cacaca;
  width: 100%;
  border-radius: 0.5rem;
  padding: 23px 18px 16.5px 8rem !important;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.form-input input[type="tel"]:hover {
  border-color: #222;
}

.select {
  position: absolute;
  width: 6.5rem;
  top: 0;
  left: 0.75rem;
  z-index: 9;
}

.select .selectBtn {
  width: 100%;
  cursor: pointer;
  position: relative;
  font-size: 1.125rem;
  padding: 1rem 0;
  border-right: 0.063rem solid #cacaca;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select .selectBtn span {
  font-size: 16px;
}

.select .selectBtn img {
  max-width: 1.5rem;
}

.select .selectBtn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.select .selectDropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 1;
  transform: scale(1, 0);
  transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  background: #fff;
  border: 0.063rem solid #cacaca;
  min-width: 8rem;
  max-height: 12rem;
  overflow: auto;
}

.select .selectDropdown .option {
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.select .selectDropdown .option img {
  max-width: 1.5rem;
  margin-right: 0.5rem;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.select .selectDropdown.toggle {
  visibility: visible;
  transform: scale(1, 1);
}

.mobile-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile-input input::placeholder {
  color: transparent;
}

.mobile-input input:focus~label,
.mobile-input input:not(:placeholder-shown)~label {
  top: 0.4rem;
  transition: ease all 0.2s;
  font-size: 0.75rem;
}

.mobile-input label {
  position: absolute;
  left: 8rem;
  top: 1.2rem;
  transform-origin: 0 0;
  transition: ease all 0.2s;
  color: #838383;
  font-size: 0.875rem;
  cursor: text;
  line-height: 1.25;
}

.scroll-body .custom-menu-section ul li.cta-btn a:hover {
  background-color: rgba(255, 255, 255, 40%);
}

.scroll-body .custom-header .custom-menu-section ul li a:after {
  background-color: #404040;
}

.address-progress-section h2 {
  margin: 0;
  line-height: 1.25;
  margin-bottom: 1rem;
  text-shadow: 0px 0px transparent;
}

.address-progress-section h2 b {
  display: block;
}

.inputFloat {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputFloat input {
  padding: 21px 18px 16.5px 18px !important;
}

.inputFloat input::placeholder {
  color: transparent;
}

.inputFloat input:focus~label,
.inputFloat input:not(:placeholder-shown)~label {
  top: 0.4rem;
  transition: ease all 0.2s;
  font-size: 0.75rem;
  line-height: 1;
}

.inputFloat label {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  transform-origin: 0 0;
  transition: ease all 0.2s;
  color: #838383;
  font-size: 0.875rem;
  cursor: text;
  line-height: 1.25;
}

.checklabel {
  color: #838383;
  position: relative;
  padding-bottom: 15px;
}

.checklabel label {
  padding-left: 32px;
  display: block;
}

.checklabel label:before {
  position: absolute;
  left: 0;
  top: 0px;
}

@media (pointer: fine) {
  body.scroll-body .custom-menu-section ul li a:hover {
    border-color: transparent;
  }
}

@media (min-width: 992px) {

  .custom-menu-section ul li.active a,
  .custom-menu-section ul li a:hover {
    border-bottom: 2px solid #fff;
  }

  .scroll-body .custom-menu-section ul li.active a,
  .scroll-body .custom-menu-section ul li a:hover {
    border-bottom: 2px solid #000;
  }

  .lifestyle-gallery-section .gallery a .gallery-thumb {
    position: relative;
    overflow: hidden;
  }

  .lifestyle-gallery-section .gallery a:hover .gallery-thumb img {
    transition: all 2.6s ease-in-out;
    transform: scale(1.1);
  }
}

.cityTxtMore p,
.cityTxtMore div {
  display: inline;
}

.amenities-section .readmore {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}

.amenities-section .readmore:hover {
  text-decoration: none;
}

.readmorelink {
  display: none;
}

@media (max-width: 767px) {
  .lifestyle-gallery-section .desc img {
    min-height: 360px;
  }

  #testimonialSec .topHeading {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .investmentSection {
    margin-bottom: 30px;
  }

  .footer-disclaimer h4 {
    font-size: 14px;
  }

  .footer-copyright a {
    font-size: 12px;
    font-weight: 400;
  }

  .footer-logo img {
    width: 80px;
  }

  .inputFloat label,
  .mobile-input label {
    top: 1.25rem;
  }

  .enquiryBtn {
    min-width: 100%;
  }

  .lifestyle-gallery-section .slick-slide {
    margin-right: 16px;
  }

  /* .lifestyle-gallery-section .gallery .btn-download {
    margin-top: 16px;
  } */

  .lifestyle-gallery-section .container {
    padding: 0;
  }

  #testimonialSec .container {
    padding: 15px;
  }

  .footer-copyright {
    padding: 20px 0;
  }

  .readmoretxt {
    display: none;
  }

  .readmorelink {
    display: inline-block;
    border: none;
    background: transparent;
    font-size: 16px;
    text-decoration: underline;
  }
}

.brochure-btn:after {
  content: "";
  background-image: url(images/realty/RealtyNRI_images/download.png) !important;
  height: 15px;
  width: 15px;
  position: absolute;
  right: auto;
  margin-left: 10px;
  top: 17px;
  background-size: contain;
  background-repeat: no-repeat;
}

.select .selectBtn span img {
  width: 8px;
}

.selectdropdown {
  background-color: white;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 30%;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  padding: 10px 30px 10px 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.selectdropdown::-ms-expand {
  display: none;
}

.hiddenCaresoul {
  overflow: hidden;
  max-height: 0;
  position: relative;
  padding: 0;
}

.errorTxt {
  color: red !important;
}

.tittleHeading {
  font-size: 42px;
  color: #404040;
  text-align: center;
  margin: 0 0 40px 0;
  font-weight: 400;
}

@media (max-width: 767px) {

  .tittleHeading,
  .investmentSection h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .tittleHeading {
    line-height: 38px;
  }

  .topHeading {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .select .selectBtn {
    height: 58px;
  }
}

@media (max-width: 767px) {
  .configurationsWrap .contentBox {
    max-height: 80vh;
    overflow: auto;
  }
}

.mfp-zoom-out-cur,
.mfp-with-zoom.mfp-ready .mfp-container {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .amenities-section .am-wrap .item img {
    position: relative;
  }

  .amenities-section .am-wrap .item .wrap span {
    padding: 1rem;
  }
}

.form-open {
  overflow: hidden;
  position: relative;
  max-height: 100vh;
}

.select .selectBtn.active::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  cursor: default;
}

.projectLink {
  cursor: pointer;
}

.projectLink::after {
  background: none;
}

@media (max-width: 768px) {
  .amenities-section .am-wrap .item .wrap {
    padding-left: 0;
  }
}

.arch-banner-section .impression {
  position: absolute;
  font-size: 0.688rem;
  right: -4rem;
  bottom: -1rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  color: #212121;
}

@media (min-width: 768px) {
  .arch-banner-section .impression {
    bottom: -1rem;
  }
}

@media (min-width: 1025px) {
  .arch-banner-section .impression {
    bottom: 0;
  }
}

.frameSection {
  width: 100%;
  height: 58vh;
  min-height: 28rem;
}

@media (min-width: 768px) {
  .frameSection {
    height: 40vh;
    min-height: 30rem;
  }
}

@media (min-width: 1025px) {
  .frameSection {
    height: 60vh;
  }
}

.frameSection iframe {
  width: 100%;
  height: 100%;
}

.gallery-description h3 {
  color: #000;
  font-size: 28px;
  font-family: "Roboto";
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.375rem;
}

.gallery-description .city {
  color: #626262;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .gallery-description .city {
    margin-bottom: 1rem;
  }
}

.gallery-description .price {
  color: #000;
  font-weight: 400;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .gallery-description .price {
    font-size: 1rem;
  }
}

.gallery-description .price span {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .gallery-description .price span {
    font-size: 20px;
  }
}

.readmoreSec .readmorelinkTxt {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 30px;
}

.readmoreSec .more {
  display: none;
}

@media (min-width: 768px) {
  .readmoreSec .more {
    display: inline-block;
  }

  .readmoreSec .readmorelinkTxt {
    display: none;
  }
}

.gallery-thumb .impression {
  position: absolute;
  font-size: 0.688rem;
  right: 1rem;
  bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  z-index: 2;
  line-height: 1.5;
}

.footer-rera a {
  color: #000;
  font-size: 0.875rem;
  word-wrap: break-word;
  padding: 0 2px;
}

.footer-rera a:hover {
  text-decoration: underline;
}

.footer-rera h4 {
  padding-top: 60px;
}

.footer-rera p {
  font-size: 0.875rem;
}

button:disabled {
  background: #eee !important;
}

.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-top: 1px solid #dedede;
  padding: 0 16px;
}

@media (max-width: 991px) {
  .accordion-flush .accordion-item {
    padding: 0;
  }
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.accordion-header {
  margin-bottom: 0;
  margin-top: 0;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 0;
  color: #333;
  font-family: "Roboto";
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x); */
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
  padding: 24px 0;
}

.accordion-button:after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "\002D";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
  font-size: 24px;
}

.accordion-button.collapsed:after {
  content: "\002B";
  font-size: 24px;
}

.accordion-collapse {
  background: #fff;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
}

.accordion-button:hover {
  z-index: 1;
  cursor: pointer;
}

.accordion-button:focus {
  z-index: 3;
  color: #000;
  outline: 0;
}

.accordion-button:active {
  color: #000;
}

.accordion-item:hover {
  background-color: #f3f3f3;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  font-family: "Roboto";
  font-weight: 600;
}
.accordion-body {
  padding: 24px 0;
}

.collapse:not(.show) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* .collapse:not(.show) {
  display: none;
}  */

.readmorelinkTxt {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 30px;
}

.card {
  position: relative;
}

.card .cardthumb {
  position: relative;
}

.card .cardthumb figure {
  display: block;
  pointer-events: none;
  margin: 0;
}

.card .cardthumb figure img {
  width: 100%;
  max-height: 11.438rem;
  min-height: 11.438rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  float: none;
}

.card .cardthumb .bottomfixed {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 1.125rem 1.5rem;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .card .cardthumb .bottomfixed {
    padding: 1.125rem 0.85rem;
  }
}

.card .cardthumb .bottomfixed h3 {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin: 0;
}

.card .cardthumb .bottomfixed h4 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

.card .cardthumb .bottomfixed h4 span {
  cursor: pointer;
}

.card .cardthumb .bottomfixed i {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 2px;
}

.card .cardthumb .bottomfixed svg {
  max-width: 1rem;
  fill: #fff;
}

.card .cardthumb .city_dropdown_Box {
  box-shadow: 0 0 0.3125rem #000;
  position: absolute;
  width: 15rem;
  color: #000;
  background: #fff;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.card .cardthumb .city_dropdown_Box[data-visible='true'] {
  display: block;
}

.card .cardthumb .city_dropdown_Box li {
  padding: 0.625rem 1.25rem;
  color: #000;
  display: block;
  flex-basis: auto;
  min-width: auto;
  margin-right: auto;
}

.card .cardthumb .city_dropdown_Box li:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.card .cardthumb .city_dropdown_Box .city_thumb {
  width: 3.125rem;
  margin-right: 1.25rem;
  height: 3.125rem;
  border-radius: 50%;
}

.card .cardthumb:after {
  content: '';
  opacity: 0.6;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  position: absolute;
  width: 100%;
  min-height: 50%;
  bottom: 0;
  z-index: 0;
}

.card .cardbody {
  border: 0.063rem solid #e2e2e2;
  position: relative;
  max-height: 19.5rem;
  min-height: 19.5rem;
  overflow: auto;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
}

.card .cardbody::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  margin: 1rem 0;
}

.card .cardbody::-webkit-scrollbar {
  width: 6px;
  border-radius: 0.125rem;
}

.card .cardbody::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: #e9e9e9;
}

.card .cardbody::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.card .cardbody::-webkit-scrollbar-corner {
  background-color: transparent;
}

.card .cardbody ul li {
  position: relative;
  cursor: pointer;
  padding: 0 0.85rem 0;
  min-width: auto;
}

.card .cardbody ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0;
}

.card .cardbody ul li:last-child>div {
  border-bottom: 0;
}

.card .cardbody ul li:hover {
  background: #f3f3f3;
}

.card .cardbody ul li div {
  border-bottom: 0.063rem solid #e2e2e2;
  padding: 1.313rem 0 1rem;
}

.card .cardbody ul li p {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  color: #333333;
  width: 95%;
}

.card .cardbody ul li p b {
  font-size: 1.125rem;
}

.card .cardbody ul li p span {
  font-weight: 600;
  margin-left: 0.125rem;
}

.card .cardbody ul li p span sup {
  font-weight: 400;
}

.card .cardbody ul li i {
  position: absolute;
  right: 0.5rem;
  top: 1.8rem;
  font-size: 0.75rem;
}

.card .cardbody ul li svg {
  position: absolute;
  right: 0.5rem;
  top: 1.8rem;
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .card .cardbody ul li {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .card .cardbody ul li {
    padding: 0.2rem 0.4rem 0 1.5rem;
  }
}

.card .cardbody .seeAll {
  font-weight: 600;
  position: sticky;
  bottom: 0;
  left: 0;
  border-top: 0.063rem solid #e2e2e2;
}

.card .cardbody .seeAll a {
  padding: 0.85rem 1.5rem;
  color: #333333;
  display: block;
  background: #fff;
}

.card .cardbody .seeAll a:hover {
  background: #f3f3f3;
}

.btn-download {
  content: "";
  background-image: url(images/realty/RealtyNRI_images/download.png) !important;
  height: 21px;
  width: 16px;
  position: absolute;
  right: 10px;
  margin-left: 10px;
  top: 29px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .ourProjects .topHeading {
    font-size: 22px;
    margin-bottom: 19px;
    font-weight: 400;
  }
}

.faqSection {
  margin-bottom: 100px;
}

.aboutAdani {
  margin-bottom: 70px;
}

@media (max-width: 991px) {

  .faqSection,
  .aboutAdani {
    margin-bottom: 60px;
  }

  .aboutAdani .topHeading {
    font-size: 22px;
    margin-bottom: 23px;
  }

  .faqSection .topHeading {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 6px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.rotate {
  transform: rotate(223deg); 
  transition: transform 0.3s ease; 
  margin-bottom: -2px !important;
}

#city_dropdown{
  display: none;
}

#city_dropdown.active{
  display: block;
}

span.more{
  display: none;
}

#commercial{
  display: none;
}
#clubs{
  display: none;
}

