@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Electricity.Website.Model.Tender

<div class="col-sm-8 col-lg-9">
    <div class="row">
        <div class="col-lg-6">
            <label>Select Business</label>
            @Html.DropDownList("Business", new List<SelectListItem>
                                                   {
                                                      new SelectListItem{ Text="--Select--", Value = "" ,Selected = true},
                                                      new SelectListItem{ Text="Generation", Value = "1" },
                                                      new SelectListItem{ Text="Transmission", Value = "2" },
                                                      new SelectListItem{ Text="Distribution", Value = "3" }},
         new { @onchange = "onEnv3Business(this.value)", @class = "form-control w-auto d-inline-block" })
        </div>
        <div class="col-lg-6">
            <label>Select Category</label>
            @Html.DropDownList("Category", new List<SelectListItem>
                                                  {
                                                     new SelectListItem{ Text="--Select--", Value = "" ,Selected = true},
                                                      new SelectListItem{ Text="Supply", Value = "1" },
                                                      new SelectListItem{ Text="Service", Value = "2" },
                                                      new SelectListItem{ Text="Supply & Service", Value = "3" }},
        new { @onchange = "onEnv3Category(this.value)", @class = "form-control w-auto d-inline-block" })
        </div>
        <div class="env3docs" id="divGenerationSupply">
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Qualification Requirement Documents *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope31" name="Envelope31" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Technical Specification / Scope of Work *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope32" name="Envelope32" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Type Test Reports </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope33" name="Envelope33" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Drawings and General Arrangement </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope34" name="Envelope34" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Delivery Schedule *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope35" name="Envelope35" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Deviations Sheet *  </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope36" name="Envelope36" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Duly Stamped and Sign Tender documents * </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope37" name="Envelope37" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Other Documents</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope38" name="Envelope38" aria-describedby="fileHelp">
            </div>
        </div>
        <div class="env3docs" id="divGenerationServices">
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Qualification Requirement Documents *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope31" name="Envelope31" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Technical Specification / Scope of Work *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope32" name="Envelope32" aria-describedby="fileHelp">
            </div>
            @*<div class="col-lg-12 text-left">
                    <label style="min-width:375px;">Type Test Reports </label>
                    <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope33" name="Envelope33" aria-describedby="fileHelp">
                </div>
                <div class="col-lg-12 text-left">
                    <label style="min-width:375px;">Drawings and General Arrangement </label>
                    <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope34" name="Envelope34" aria-describedby="fileHelp">
                </div>
                <div class="col-lg-12 text-left">
                    <label style="min-width:375px;">Delivery Schedule *</label>
                    <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope35" name="Envelope35" aria-describedby="fileHelp">
                </div>*@
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Deviations Sheet *  </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope36" name="Envelope36" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Duly Stamped and Sign Tender documents * </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope37" name="Envelope37" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Other Documents</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope38" name="Envelope38" aria-describedby="fileHelp">
            </div>
        </div>
        <div class="env3docs" id="divGenerationSupplyServices">
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Qualification Requirement Documents *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope31" name="Envelope31" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Technical Specification / Scope of Work *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope32" name="Envelope32" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Type Test Reports </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope33" name="Envelope33" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Drawings and General Arrangement </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope34" name="Envelope34" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Delivery Schedule *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope35" name="Envelope35" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Deviations Sheet *  </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope36" name="Envelope36" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Duly Stamped and Sign Tender documents * </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope37" name="Envelope37" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Other Documents</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope38" name="Envelope38" aria-describedby="fileHelp">
            </div>
        </div>

        <div class="env3docs" id="divTransmissionSupply">
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Qualification Requirement Documents *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope31" name="Envelope31" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Technical Specification / Scope of Work *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope32" name="Envelope32" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Type Test Reports *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope33" name="Envelope33" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Drawings and General Arrangement *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope34" name="Envelope34" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Delivery Schedule *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope35" name="Envelope35" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Deviations Sheet *  </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope36" name="Envelope36" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Duly Stamped and Sign Tender documents * </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope37" name="Envelope37" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Other Documents</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope38" name="Envelope38" aria-describedby="fileHelp">
            </div>
        </div>
        <div class="env3docs" id="divTransmissionServices">
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Qualification Requirement Documents *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope31" name="Envelope31" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Technical Specification / Scope of Work *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope32" name="Envelope32" aria-describedby="fileHelp">
            </div>
            @*<div class="col-lg-12 text-left">
                    <label style="min-width:375px;">Type Test Reports </label>
                    <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope33" name="Envelope33" aria-describedby="fileHelp">
                </div>
                <div class="col-lg-12 text-left">
                    <label style="min-width:375px;">Drawings and General Arrangement </label>
                    <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope34" name="Envelope34" aria-describedby="fileHelp">
                </div>
                <div class="col-lg-12 text-left">
                    <label style="min-width:375px;">Delivery Schedule *</label>
                    <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope35" name="Envelope35" aria-describedby="fileHelp">
                </div>*@
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Deviations Sheet *  </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope36" name="Envelope36" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Duly Stamped and Sign Tender documents * </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope37" name="Envelope37" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Other Documents</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope38" name="Envelope38" aria-describedby="fileHelp">
            </div>
        </div>
        <div class="env3docs" id="divTransmissionSupplyServices">
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Qualification Requirement Documents *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope31" name="Envelope31" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Technical Specification / Scope of Work *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope32" name="Envelope32" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Type Test Reports *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope33" name="Envelope33" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Drawings and General Arrangement *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope34" name="Envelope34" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Delivery Schedule *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope35" name="Envelope35" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Deviations Sheet *  </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope36" name="Envelope36" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Duly Stamped and Sign Tender documents * </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope37" name="Envelope37" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Other Documents</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope38" name="Envelope38" aria-describedby="fileHelp">
            </div>
        </div>

        <div class="env3docs" id="divDistributionSupply">
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Qualification Requirement Documents *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope31" name="Envelope31" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Technical Specification / Scope of Work *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope32" name="Envelope32" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Type Test Reports *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope33" name="Envelope33" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Drawings and General Arrangement *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope34" name="Envelope34" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Delivery Schedule *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope35" name="Envelope35" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Deviations Sheet *  </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope36" name="Envelope36" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Duly Stamped and Sign Tender documents * </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope37" name="Envelope37" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Other Documents</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope38" name="Envelope38" aria-describedby="fileHelp">
            </div>
        </div>
        <div class="env3docs" id="divDistributionServices">
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Qualification Requirement Documents *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope31" name="Envelope31" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Technical Specification / Scope of Work *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope32" name="Envelope32" aria-describedby="fileHelp">
            </div>
            @*<div class="col-lg-12 text-left">
                    <label style="min-width:375px;">Type Test Reports </label>
                    <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope33" name="Envelope33" aria-describedby="fileHelp">
                </div>
                <div class="col-lg-12 text-left">
                    <label style="min-width:375px;">Drawings and General Arrangement </label>
                    <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope34" name="Envelope34" aria-describedby="fileHelp">
                </div>
                <div class="col-lg-12 text-left">
                    <label style="min-width:375px;">Delivery Schedule *</label>
                    <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope35" name="Envelope35" aria-describedby="fileHelp">
                </div>*@
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Deviations Sheet *  </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope36" name="Envelope36" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Duly Stamped and Sign Tender documents * </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope37" name="Envelope37" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Other Documents</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope38" name="Envelope38" aria-describedby="fileHelp">
            </div>
        </div>
        <div class="env3docs" id="divDistributionSupplyServices">
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Qualification Requirement Documents *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope31" name="Envelope31" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Technical Specification / Scope of Work *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope32" name="Envelope32" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Type Test Reports *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope33" name="Envelope33" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Drawings and General Arrangement *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope34" name="Envelope34" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Delivery Schedule *</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope35" name="Envelope35" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Deviations Sheet *  </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope36" name="Envelope36" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Duly Stamped and Sign Tender documents * </label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope37" name="Envelope37" aria-describedby="fileHelp">
            </div>
            <div class="col-lg-12 text-left">
                <label style="min-width:375px;">Other Documents</label>
                <input type="file" onchange="Validate(this)" accept=".jpg,.jpeg,.png,.dwg,.doc,.docx,.xls,.xlsx" class="form-control-file d-inline-block w-auto ml-auto" id="Envelope38" name="Envelope38" aria-describedby="fileHelp">
            </div>
        </div>
    </div>
</div>