<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<federatedAuthentication>
			<identityProvidersPerSites>
				<mapEntry name="flightsearch" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication" resolve="true">
					<sites hint="list">
						<site>flightsearch</site>
					</sites>
					<!--<identityProviders hint="list:AddIdentityProvider">
						<identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='Facebook']"/>
					</identityProviders>-->
					<externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication" resolve="true">
						<param desc="isPersistentUser">true</param>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>
		</federatedAuthentication>
		<!--<events>
			<event name="publish:end">
				<handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
					<sites hint="list">
						<site hint="flightsearch">flightsearch</site>
					</sites>
				</handler>
			</event>
			<event name="publish:end:remote">
				<handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
					<sites hint="list">
						<site hint="flightsearch">flightsearch</site>
					</sites>
				</handler>
			</event>
		</events>-->
		<sites>
			<site name="flightsearch" patch:after="site[@name='modules_website']"
                  targetHostName="flightsearch.dev"
                  database="web"
                  virtualFolder="/"
                  physicalFolder="/"
                  rootPath="/sitecore/content/AirportHome"
                  startItem="/FlightSearch"
                  dictionaryPath="/sitecore/content/AirportHome/Global/Flight Search Dictionary"
                  dictionaryAutoCreate="false"
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/FlightSearch"
                  domain="extranet"
                  allowDebug="true"
                  cacheHtml="true"
                  htmlCacheSize="50MB"
                  registryCacheSize="0"
                  viewStateCacheSize="0"
                  xslCacheSize="25MB"
                  filteredItemsCacheSize="10MB"
                  enablePreview="true"
                  enableWebEdit="true"
                  enableDebugger="true"
                  disableClientData="false"
                  cacheRenderingParameters="true"
                  renderingParametersCacheSize="10MB"
                  formsRoot="{B701850A-CB8A-4943-B2BC-DDDB1238C103}"
				  dictionaryDomain="{8DA80F4C-F9FF-42EB-B4CB-4135DA73B1B4}"
                  enableItemLanguageFallback="true" />
		</sites>
		<cacheSizes>
			<sites>
				<flightsearch>
					<html>50MB</html>
					<registry>0</registry>
					<viewState>0</viewState>
					<xsl>25MB</xsl>
				</flightsearch>
			</sites>
		</cacheSizes>
		<settings>
			<setting name="Preview.DefaultSite">
				<patch:attribute name="value" value="flightsearch" />
			</setting>
		</settings>
	</sitecore>
</configuration>