@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ Item currentItem = RenderingContext.Current.Rendering.Item; }

@if (currentItem != null)
{
<section class="banner-section">
    <h2 class="page-title"> @Html.Sitecore().Field("Title", currentItem)</h2>
    <div>
        @Html.Sitecore().Field("Image", currentItem, new { @class = "img-fluid rounded d-none d-md-block", @alt = "..." })
        @Html.Sitecore().Field("MobileImage", currentItem, new { @class = "img-fluid rounded d-block d-md-none", @alt = "..." })
    </div>
</section>
}
