@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ Item currentItem = RenderingContext.Current.Rendering.Item; }

@if (currentItem != null)
{
<div class="sitemap-wrap">
    <ul>
        @foreach (Item sitemapLink in currentItem.Children)
        {
        <li>
            <h5>@Html.Sitecore().Field("LinkTitle", sitemapLink)</h5>
            @foreach (Item childLink in sitemapLink.Children)
            {
                @Html.Sitecore().Field("LinkUrl", childLink)
            }
        </li>
        }

    </ul>
</div>
}
