<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="domainUrl" value="https://web-dev.adanidigitallabs.com"/>
			<setting name="mediaDomainUrl" value="https://cms-dev.adanidigitallabs.com"/>
			<setting name="widzetEnvironmentVariable" value="test"/>
			<setting name="gtm_id" value="GTM-P4B934N"/>
			<setting name="environmentAPIVersionVariable" value="V1"/>
			<setting name="CacheVersionAPIURL" value="https://www.adanione.com/flight/api/utils/buildConfig"/>
		</settings>
	</sitecore>
</configuration>