<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Project.InspireBusinessPark.Website" description="InspireBusinessPark content" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
					<predicate>
            <!--<include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/InspireBusinessPark" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/InspireBusinessPark" />
            <include name="Models" database="master" path="/sitecore/layout/models/Project/InspireBusinessPark" />-->            
						<include name="Content" database="master" path="/sitecore/content/InspireBusinessPark" />
            <include name="Media" database="master" path="/sitecore/media library/Project/InspireBusinessPark" />            
					</predicate>
					<rolePredicate>
						<include domain="extranet" pattern="^Project InspireBusinessPark .*$" />
					</rolePredicate>
					<!--
                    TODO: Bug in Unicorn with SC v9?
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="extranet" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" />
-->
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>