@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Media
@{
    var models = Sitecore.Context.Item;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var items = Sitecore.Context.Database.GetItem(datasource);
}

<a href="@Html.Sitecore().Dictionary("/PNG/collection-center","/myaccount/collection-center")" class="bg-gradient-orange txt-white payBox">
    <div class="payIcon">@Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, items, 0, 0)</div>
    <div class="payCentre">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, items)</div>
</a>
