#timeline, #issues, #dates, #issues> li{		
	width:320px;
	height:auto;
}
#timeline {
    /*width: 540px;*/
    max-height: 450px;
    overflow: hidden;
    margin: 60px auto 20px auto;
    position: relative;
    background: url('../images/dot.gif') left 45px repeat-x;
  }
    #dates {
      /*width: 1140px;*/
      height: 60px;
      overflow: hidden;
	  margin-bottom:50px;
    }
      #dates> li {
        list-style: none;
        float: left;
        width: 220px;
        height: 50px;
        font-size: 24px;
        text-align: center;
        background: url('../images/biggerdot.png') center bottom no-repeat;
		color:#fff;
      }
        #dates a {
          line-height: 38px;
          padding-bottom: 10px;
		  color:#fff;
		  font-size:1.5rem;
        }
        #dates .selected {
			font-size: 2.5rem;
        }
    
    #issues {
      /*width: 1140px;
      height: 350px;*/
      overflow: hidden;
    } 
      #issues> li {
        /*width: 1140px;
        height: 350px;*/
        list-style: none;
        float: left;
      }
        #issues> li.selected img {
          /*-webkit-transform: scale(1.0,1.0);
          transform: scale(1.0,1.0);*/
        }
        /*#issues >li img {
          float: left;
          margin: 10px 30px 10px 50px;
          
          zoom: 1;
          -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
          -webkit-transform: scale(0.9,0.9);
          transform: scale(0.9,0.9);
        }*/
		.detailTxt{color:#fff;font-size:1.1rem;padding-top:10px;}
		.bulletList p{margin-bottom:20px;text-indent: -20px;padding-left:20px; }
		.txt-bullet:before{content:'';display: inline-block;
    content: '';
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background-color: #fff;}

		#grad_left,
    #grad_right {
      width: 100px;
      height: 350px;
      position: absolute;
      top: 0;
    }
     /* #grad_left {
            left: 0;
            background: url('../images/grad_left.png') repeat-y;
      }
      #grad_right {
            right: 0;
            background: url('../images/grad_right.png') repeat-y;
      }*/
    
    #next,
    #prev {
      position: absolute;
      top: 0;
      font-size: 70px;
      top: 170px;
      width: 22px;
      height: 38px;
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
      #next:hover,
      #prev:hover {
        /*background-position: 0 -76px;*/
		opacity:0.7;
      }
      #next {
        right: 0;
        background-image: url('../images/next.png');
      }
      #prev {
        left: 0;
        background-image: url('../images/prev.png');
      }
        #next.disabled,
        #prev.disabled {
          opacity: 0.2;
        }

@media (min-width: 576px){
	#timeline, #issues, #dates, #issues> li {
		width: 540px;
	}
	
}
@media (max-width: 767px) and (min-width: 576px){
	#timeline, #issues, #dates, #issues> li {
		width: 600px;
	}
}
@media (min-width: 768px){
	#timeline, #issues, #dates, #issues> li {
		width: 720px;
	}
}
@media (min-width: 992px){
	#timeline, #issues, #dates, #issues> li {
		width: 960px;
	}
}
@media (min-width: 1200px){
	#timeline, #issues, #dates, #issues> li{
		width: 1140px;
	}
}

@media (min-width: 1025px){
	.detailTxt{padding-left:2rem;padding-top:1rem;}
}
@media (max-width: 1024px){
	.detailTxt{max-height:150px;overflow:auto;}
	#timeline {margin:30px auto;}
}
@media (max-width: 767px){
	#dates{margin-bottom:30px;}
	#dates> li{width:200px;}
	#timeline{margin:30px auto;}
	.detailTxt{font-size:1rem;}
	 #next,#prev {top:0;}
	 
	
}
@media (max-width: 575px){
	#timeline, #issues, #dates, #issues> li{		
		width:380px;
		height:auto;
	}
	.detailTxt{margin-top:20px;max-height:150px;overflow:auto;}
	#dates> li{width:250px;}
	#dates{margin-bottom:20px;}
	 
	 #dates a{font-size:1.2rem;}
}
@media (max-width: 420px){
	#timeline, #issues, #dates, #issues> li{		
		width:300px;
		height:auto;
	}
	#dates > li{width:300px;}
	#next, #prev {
		top: 0;
	}
}