@using Sitecore.Resources.Media
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var contextItem = Sitecore.Context.Item;
}
<section class="bgsection_padding bg-white text_container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if (Session["BAPTicketId"] != null)
                {
                    if (!string.IsNullOrEmpty(Html.Sitecore().Field("Section2", contextItem).ToString()))
                    {
                        string text = Html.Sitecore().Field("Section2", contextItem).ToString();
                        @Html.Raw(text.Replace("$ticketID", Session["BAPTicketId"].ToString()))
                    }
                    Session["BAPTicketId"] = null;
                }
                else if (Session["ContactTicketId"] != null)
                {
                    if (!string.IsNullOrEmpty(Html.Sitecore().Field("Section1", contextItem).ToString()))
                    {
                        string text = Html.Sitecore().Field("Section1", contextItem).ToString();
                        @Html.Raw(text.Replace("$ticketID", Session["ContactTicketId"].ToString()))
                    }
                    Session["ContactTicketId"] = null;
                }
                else
                {
                    @Html.Sitecore().Field("Section3", contextItem)
                }
            </div>
        </div>
    </div>
</section><!--/section-->
