<div class="hamburger_section hamburger_links">
    <h5>Adani Capital</h5>
    <ul>
        <li>
            <a href="/"><img src="-/media/95C3AE9A5B074AB1BB4578519BDAA5AE.ashx" alt="Adani"> Home</a>
        </li>
        <li>
            <a href="#services"><img src="-/media/AE0309C71AF944CCAB78D301652D9F87.ashx" alt="Loan Offerings">Loan Offerings <img src="-/media/904159C6CA6241DFAE493079EC5BF624.ashx" class="arrow"></a>
        </li>
        <li>
            <a href="https://www.billdesk.com/pgidsk/pgmerc/adanicapqp/ADANICAPQPDetails.jsp"><img src="-/media/80C0143D4E2242ED9FBCD59D827656BC.ashx" alt="Pay EMI"> Pay EMI</a>
        </li>
        <li>
            <a href="https://stage.adanicapital.in/#section_cal"><img src="-/media/43B18956FA6C4EA499F385849B075BD8.ashx" alt="Calculator"> Calculator</a>
        </li>
        <li>
            <a href="https://stage.adanicapital.in/#default_modal"><img src="-/media/C60F8D8201A1448BAB4E66994CEDBCC6.ashx" alt="Apply Loan"> Apply Loan</a>
        </li>
        <li>
            <a href="https://digitallending.adanicapital.in/onboard/app/">
                <img src="-/media/50CEF970EAE04D99A0ACAC4CEF2A519F.ashx" alt="Instant Loan">
                Instant Loan
            </a>
        </li>
        <li>
            <a href="/Branch-Locator"><img src="-/media/017FE3921DB345198C2401D5F5763F5A.ashx" alt="Branch Locator"> Branch Locator</a>
        </li>
        <li>
            <a href="/req_callback"><img src="-/media/8801DD961B5C4ADC85F93C0C76580A3E.ashx" alt="Request Call Back"> Request Call Back</a>
        </li>
        <li>
            <a href="https://mylead.adanicapital.in/customer/Account/Register?ReturnUrl=%2Fcustomer%2F"><img src="-/media/BD80ED960C3B491C8BC14F87047BFE06.ashx" alt="Check Eligibility"> Check Eligibility</a>
        </li>
        <li>
            <a href="/Become-a-Partner"><img src="-/media/4F29500F01394151B94D9A4DAEA724CA.ashx" alt="Become a Partner"> Become a Partner </a>
        </li>
    </ul>
</div>
