<div class="hamburger_section single_item">
    <a href="#">
        <img src="-/media/0A5FB0B0D96E47AE9981C8661B8C8D58.ashx" alt="Business" class="icon" style="width:24px;">
        <h4>Adani Businesses</h4>
        <img src="-/media/904159C6CA6241DFAE493079EC5BF624.ashx" class="arrow">
    </a>
</div>
