<header class="hamburger_section single_item">
    <a href="#">
        <img src="-/media/5947F7DF-C8F9-4EC8-8E23-ECA3FFDE3242.ashx" alt="Login" class="icon">
        <h4>Login / Sign Up <br><label>My Account</label></h4>
        <img src="-/media/904159C6CA6241DFAE493079EC5BF624.ashx" alt="Arrow" class="arrow">
    </a>
</header>
