<div class="top_bar_nav">
    <a href="#">
        <img src="-/media/5510B65DAA9448768262B45CDC2C3733.ashx" alt="Business" /> Businesses
    </a>
    <div class="business_dropdown">
        <a href="https://www.adanigas.com/">
            <i><img src="-/media/AA0421DB630640B0AA5EA63B8D6BBBFB.ashx" alt="Gas"> </i>
            <label>Gas</label>
        </a>
        <a href="https://www.adanielectricity.com/">
            <i><img src="-/media/6F084B84451C41E88C8F1151F166F47F.ashx" alt="Electricity"> </i>
            <label>Electricity</label>
        </a>
        <a href="https://www.adaniwilmar.com/">
            <i><img src="-/media/8CD19801036C4C20A26A727204E20DDA.ashx" alt="Fortune Online"> </i>
            <label>Fortune Online</label>
        </a>
        <a href="https://www.adanirealty.com/">
            <i><img src="-/media/39859B89E3DF4999BE5FC322D7F557DC.ashx" alt="Realty"> </i>
            <label>Realty</label>

        </a>
        <a href="https://www.adanicapital.in/" class="active">
            <i><img src="-/media/09A4F48F64D74E5C8D354BB86B1D5BE5.ashx" alt="Capital"> </i>
            <label>Capital</label>
            <img src="images/icons/check-blue.png" class="check_icon" alt="Arrow">
        </a>

        <a href="https://www.adanihousing.in/">
            <i><img src="-/media/E52C8F247E70472CB92AFDCF30CD5186.ashx" alt="Housing Finance"> </i>
            <label>Housing</label>
        </a>

        <a href="http://www.adanifoundation.org/">
            <i><img src="-/media/20829B2BBBD8461C840AC0A8D551C884.ashx" alt="Foundation"> </i>
            <label>Foundation</label>
        </a>
    </div>
</div>
