<div class="navigation">
    <nav>
        <a href="#">My Account</a>
        <a href="https://www.billdesk.com/pgidsk/pgmerc/adanicapqp/ADANICAPQPDetails.jsp">Quick Pay</a>
        <a href="#">Change Name of the Bill</a>
        <a href="#">New User</a>
        <a href="https://digitallending.adanicapital.in/onboard/app/" class="nav_button">Instant Loan</a>
    </nav>

    <a href="#"><img src="-/media/5947F7DFC8F94EC88E23ECA3FFDE3242.ashx" alt="User" /></a>
</div>
