<div class="contact_info">
    <img src="-/media/27B38E2BA7AF4454A805DFE3165655A2.ashx" alt="Call" /> Toll Free: <a href="callto:1800 210 0444">1800 210 0444</a> &nbsp;|&nbsp; Call Us: <a href="callto:1800 210 0444">7997100444</a>
</div>
