<header class="main-header">
    <div class="header--top_bar">
        @Html.Sitecore().Placeholder("header-top-bar")               
    </div>

    <div class="nav_bar">
        <a href="#" class="hamburger_icon"><img src="-/media/3D3F3F0499C1428A974561BAFB5D8225.ashx" alt="Hamburger" /></a>
        <a href="#" class="logo"><img src="-/media/D677AFCFF5E1467B89A0C7857F3AB338.ashx" alt="Adani Capital"></a>
        @Html.Sitecore().Placeholder("header-primary-menu")        
    </div>
</header>
<div class="overlay"></div>
<div class="hamburger">
    @Html.Sitecore().Placeholder("hamburger-navigation-menu")
    

    

    <div class="hamburger_section single_item">
        Hamburger Businesses Navigation Menu
        <a href="#">
            <img src="-/media/0A5FB0B0D96E47AE9981C8661B8C8D58.ashx" alt="Business" class="icon" style="width:24px;">
            <h4>Adani Businesses</h4>
            <img src="-/media/904159C6CA6241DFAE493079EC5BF624.ashx" class="arrow">
        </a>
    </div>

    <div class="hamburger_section hamburger_links">
        Hamburger Primary Navigation Menu
        <h5>Information</h5>
        <ul>
            <li>
                <a href="#clients"><img src="-/media/365019AB9A484B61B5359064C695C78F.ashx" alt="About Us"> About Us</a>
            </li>

            <li>
                <a href="#services"><img src="-/media/8DF4C7E5DAB44D53AB5221F6FF6743A7.ashx" alt="Download Forms">Download Forms</a>
            </li>

        </ul>
    </div>

    <div class="hamburger_section hamburger_links">
        Hamburger Primary Navigation Menu
        <h5>Help &amp; Support</h5>
        <ul>
            <li>
                <a href="/Contact-Us"><img src="-/media/D2871165612445F9968FC74E9FA80D56.ashx" alt="Contact Us"> Contact Us</a>
            </li>
            <li>
                <a href="#contact"><img src="-/media/D2871165612445F9968FC74E9FA80D56.ashx" alt="Give us a missed call"> Give us a missed call</a>
            </li>

        </ul>
    </div>
    <div class="hamburger_section hamburger_links">
        Hamburger Primary Navigation Menu
        <h5>Other</h5>
        <ul>
            <li>
                <a href="/Mobile-App"><img src="-/media/4F5907D8A40C43B9BE994149BE588D87.ashx" alt="Download APP"> Download App</a>
            </li>
            <li>
                <a href="/Careers"><img src="-/media/D81E8E3C7C4F4FE6940300DABA59E45F.ashx" alt="Careers"> Careers</a>
            </li>
        </ul>
    </div>
    
</div>
