<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Feature.Faq" description="Faq Component Content" dependencies="Adani.SuperApp.Airport.Foundation.Serialization">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>

						<include name="Rendering.Feature.Faq" database="master" path="/sitecore/layout/Renderings/Feature/Adani/FAQ" />
						<include name="Template.Feature.Faq" database="master" path="/sitecore/templates/Feature/Adani/Base Templates/_Faq" />
						<include name="Template.Feature.FaqList" database="master" path="/sitecore/templates/Feature/Adani/Base Templates/_FaqList" />
						<input name="LayoutService.Feature.Faq" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani/Common/FAQ Content Resolver" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>