<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mining</title>
    <link rel="stylesheet" href="css/bootstrapmin.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="header-wrapper">
        <div class="top-header show-large">
            <div class="container-1">
                <a href="#">
                    <img src="images/download.png" alt="download-icon" class="download-icon">
                    <span>Download Brochure</span>
                </a>
                <a href="tel:555-666-7777">
                    <img src="images/phone.png" alt="phone-icon" class="phone-icon">
                    <span>Contact Us</span>
                </a>
            </div>
        </div>
        <header class="header transparent">
            <div class="container-1">

                <div class="row">
                    <div class="col-lg-3 logo-section">
                        <div class="mobile-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="logo-area">
                            <a href="index.html">
                                <img src="images/logo.png" alt="" class="logo green-logo">
                            </a>
                        </div>
                        <a href="#" class="mob-cta">Enquiry</a>
                    </div>
                    <div class="col-lg-9 header-nav">
                        <div class="menu-section">
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="project.html">Projects</a></li>
                                <li><a href="#">Our Consultants</a></li>
                                <li><a href="#">Sustainability​</a></li>
                                <li class="menu-last-link"><a href="#">Enquiry</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-navigation">

                <div class="offcanvas-body">

                    <div class="hamburger_section logo-sec">
                        <a href="/"><img src="images/logo.png" alt="" class="logo"></a>
                    </div>

                    <div class="hamburger_section">
                        <h5>Adani Mining</h5>

                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="project.html">Projects</a></li>
                            <li><a href="#">Our Consultants</a></li>
                            <li><a href="#">Sustainability​</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="overLay"></div>
        </header>
    </div>

    <main>
        <div class="c-page">
            <div class="web-bredcrumb w-100 d-none d-md-block container">
                <ul class="breadcrumb privacy-policy">
                    <li class="breadcrumb-item bread-privacy"><a href="/">Home</a></li>
                    <li class="breadcrumb-item bread-privacy">Contact Us</li>
                </ul>
            </div>
        </div>

        <section class="contact-page position-relative">
            <div class="container">
                <div class="section-info">
                    <h3><span>We would love to hear from you!</span></h3>
                </div>

                <div class="contact-img">
                    <img src="images/desktop-contact-us.jpg" alt="contact-us">
                </div>

                <div class="c-page-form section-padding">
                    <div class="form-info order-lg-1 order-2">
                        <h3>Reach out to us</h3>
                        <ul class="form-info-ul">
                            <li><img src="icons/Location.svg" alt="location">
                                <p>Shantigram, Near Vaishnodevi
                                    Circle, S G Highway, Ahmedabad-382421, Gujarat, India.</p>
                            </li>
                            <li><img src="icons/Call.svg" alt="call">
                                <p>+91-79-26565555</p>
                            </li>
                            <li><img src="icons/Email.svg" alt="email">
                                <p>mining@mtcs.com</p>
                            </li>
                            <h4>For any transaction related queries:</h4>
                            <li><img src="icons/Email.svg" alt="email">
                                <p>support@mtcs.com</p>
                            </li>
                        </ul>
                    </div>
                    <div class="form-field order-lg-2 order-1">
                        <h3>Help & Support</h3>
                        <p>Have an issue with an order or feedback for us?
                            Our support team is here to help you.</p>

                        <form action="#" class="project-form noCommonValidation" autocomplete="off" novalidate=""
                            data-gtm-form-interact-id="0">

                            <div class="row">
                                <div class="col-md-6 col-sm-12 mb-4">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name-id" name="Name"
                                            placeholder="First Name">
                                        <small></small>
                                        <label for="name-id">First Name</label>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 mb-4">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name-id" name="Name"
                                            placeholder="Last Name">
                                        <small></small>
                                        <label for="name-id">Last Name</label>

                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12 mb-4">
                                    <div class="form-floating">
                                        <input type="tel" name="mobile" class="form-control" id="mobile-No"
                                            placeholder="name@example.com" maxlength="10" pattern="[1-9]{1}[0-9]{9}"
                                            autocomplete="off">
                                        <small></small>
                                        <label for="mobileNo">Mobile No.</label>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12 mb-4">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email-id" name="Email"
                                            placeholder="Email">
                                        <small></small>
                                        <label for="email-id">Email ID</label>

                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 mb-4">
                                    <div class="form-floating">
                                        <div class="form-group">
                                            <select id="ddlSubject" class="form-control form-select" autocomplete="off">
                                                <option value="" selected="selected">What can we help you with?</option>
                                                <option value="Query">Query</option>
                                                <option value="Feedback">Feedback</option>
                                                <option value="Complaint">Complaint</option>
                                                <option value="Lost &amp; Found">Lost &amp; Found</option>

                                            </select>
                                            <small></small>
                                            <span id="lblSubject" class="validation"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 mb-4">
                                    <div class="form-floating">
                                        <textarea maxlength="500" class="form-control" name="CustomerQuery"
                                            id="customerQuery" placeholder="Description" rows="4"></textarea>
                                        <small></small>
                                        <label for="name">Description</label>

                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 mb-4">
                                    <button id="project-btn" class="btn btn-primary">Submit</button>

                                </div>

                            </div>

                        </form>
                    </div>
                </div>

            </div>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary show-large" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Launch demo modal
            </button>

            <button type="button" data-bs-toggle="offcanvas" class="show-mob" data-bs-target="#offcanvasBottom-1"
                aria-controls="offcanvasBottom-1">Launch mobile demo modal</button>



            <!-- Modal -->
            <div class="modal fade contact-us show-large" id="exampleModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="right-icon">
                                <img src="icons/right-tick.png" alt="">
                            </div>
                            <h3>Thank you for reaching out to us!</h3>
                            <p>Our representative will call you shortly.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="index.html" class="contact-back-btn">Back to Home Page</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offcanvas offcanvas-bottom show-mob contact-us-mob" tabindex="-1" id="offcanvasBottom-1"
                aria-labelledby="offcanvasBottomLabel">
                <div class="modal-dialog-1">
                    <div class="modal-content-1">
                        <div class="offcanvas-header modal-header-1">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body small modal-body-1">

                            <div class="right-icon">
                                <img src="icons/right-tick.png" alt="">
                            </div>
                            <h3>Thank you for reaching out to us!</h3>
                            <p>Our representative will call you shortly.</p>
                        </div>
                        <div class="modal-footer-1">
                            <a href="index.html" class="contact-back-btn">Back to Home Page</a>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </main>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-logo">
                    <img src="images/logo.png" alt="footer-logo" />
                </div>
                <div class="footer-nav-wrap">
                    <div class="row">
                        <div class="col-md-9 f-nav">
                            <ul>
                                <li class="f-nav-column">
                                    <a>About MTCS</a>
                                    <ul>
                                        <li><a href="#" target="">Consultants</a></li>
                                        <li><a href="#" target="">Projects</a></li>
                                        <li><a href="#" target="">News and Events</a></li>
                                        <li><a href="#" target="">Careers</a></li>
                                    </ul>
                                </li>
                                <li class="f-nav-column">
                                    <a>Services</a>
                                    <ul>
                                        <li><a href="#" target="">Exploration and Greenfield Project Development</a>
                                        </li>
                                        <li><a href="#" target="">Resource and Reserve Estimation</a></li>
                                        <li><a href="#" target="">Topographical & Volumetric Survey</a></li>
                                        <li><a href="#" target="">Technical Support for Statutory Clearance </a></li>
                                        <li><a href="#" target="">Statutory Report Preparation</a></li>
                                    </ul>
                                </li>
                                <li class="f-nav-column">
                                    <a>Help Center</a>
                                    <ul>
                                        <li><a href="contact-us.html" target="">Contact Us</a></li>
                                        <li><a href="privacy-policy.html" target="">Privacy Policy</a></li>
                                        <li><a href="terms.html" target="">Terms & Conditions</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-3 f-social">
                            <h3 class="show-on-large mt-3 mt-lg-0">Follow us</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Facebook-1.svg" alt="fb">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">

                                        <img src="images/Twitter-1.svg" alt="tw">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Linkedin-1.svg" alt="lk">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Youtube-1.svg" alt="yt">

                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Instagram-1.svg" alt="int">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="copyright">
                    <p>© 2023 MTCS</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquerymin.js"></script>
    <script src="js/bootstrapmin.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>

</body>

</html>