<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mining</title>
    <link rel="stylesheet" href="css/bootstrapmin.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="header-wrapper">
        <div class="top-header show-large">
            <div class="container-1">
                <a href="#">
                    <img src="images/download.png" alt="download-icon" class="download-icon">
                    <span>Download Brochure</span>
                </a>
                <a href="tel:555-666-7777">
                    <img src="images/phone.png" alt="phone-icon" class="phone-icon">
                    <span>Contact Us</span>
                </a>
            </div>
        </div>
        <header class="header transparent">

            <div class="container-1">

                <div class="row">
                    <div class="col-lg-3 logo-section">
                        <div class="mobile-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="logo-area">
                            <a href="index.html">
                                <img src="images/logo.png" alt="" class="logo green-logo">
                            </a>
                        </div>
                        <a href="#" class="mob-cta">Enquiry</a>

                    </div>
                    <div class="col-lg-9 header-nav">
                        <div class="menu-section">
                            <ul>
                                <li><a href="about.html">About Us</a></li>

                                <li><a href="project.html">Projects</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Our Consultants</a></li>
                                <li><a href="#">Sustainability​</a></li>
                                <li class="menu-last-link"><a href="#">Enquiry</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-navigation">

                <div class="offcanvas-body">

                    <div class="hamburger_section logo-sec">
                        <a href="/"><img src="images/logo.png" alt="" class="logo"></a>
                    </div>

                    <div class="hamburger_section">
                        <h5>Adani Mining</h5>

                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="project.html">Projects</a></li>
                            <li><a href="#">Our Consultants</a></li>
                            <li><a href="#">Sustainability​</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="overLay"></div>
        </header>
    </div>

    <main>
        <div class="cm-home">
            <div class="carousel">
                <div class="slide-container">

                    <img src="images/banner_clipdrop_bg.png" alt="" class="desk-img">
                    <img src="images/m-web-banner.jpg" alt="" class="mob-img">
                    <div class="slider-content">

                        <h4>WE INTRODUCTION </h4>
                        <h3>
                            <span>Geominsolution</span>
                        </h3>
                        <p> We are a group of dynamic technical experts of versatile sector providing its valuable
                            services in the field of Geological.</p>
                        <a href="#" class="carousel-btn">Know More</a>
                    </div>
                </div>
                <div class="slide-container">

                    <img src="images/banner_clipdrop_bg.png" alt="" class="desk-img">
                    <img src="images/m-web-banner.jpg" alt="" class="mob-img">
                    <div class="slider-content">
                        <h4>WE INTRODUCTION </h4>
                        <h3>
                            <span>Geominsolution</span>
                        </h3>
                        <p> We are a group of dynamic technical experts of versatile sector providing its valuable
                            services in the field of Geological.</p>
                        <a href="#" class="carousel-btn">Know More</a>
                    </div>

                </div>
                <div class="slide-container">

                    <img src="images/banner_clipdrop_bg.png" alt="" class="desk-img">
                    <img src="images/slider-m-web.jpeg" alt="" class="mob-img">
                    <div class="slider-content">
                        <h4>WE INTRODUCTION </h4>
                        <h3>
                            <span>Geominsolution</span>
                        </h3>
                        <p> We are a group of dynamic technical experts of versatile sector providing its valuable
                            services in the field of Geological.</p>
                        <a href="#" class="carousel-btn">Know More</a>
                    </div>

                </div>
                <div class="slide-container">

                    <img src="images/banner_clipdrop_bg.png" alt="" class="desk-img">
                    <img src="images/slider-m-webb.jpeg" alt="" class="mob-img">
                    <div class="slider-content">
                        <h4>WE INTRODUCTION </h4>
                        <h3>
                            <span>Geominsolution</span>
                        </h3>
                        <p> We are a group of dynamic technical experts of versatile sector providing its valuable
                            services in the field of Geological.</p>
                        <a href="#" class="carousel-btn">Know More</a>
                    </div>
                </div>
                <div class="slide-container">

                    <img src="images/banner_clipdrop_bg.png" alt="" class="desk-img">
                    <img src="images/slider-m-webb.jpeg" alt="" class="mob-img">
                    <div class="slider-content">
                        <h4>WE INTRODUCTION </h4>
                        <h3>
                            <span>Geominsolution</span>
                        </h3>
                        <p> We are a group of dynamic technical experts of versatile sector providing its valuable
                            services in the field of Geological.</p>
                        <a href="#" class="carousel-btn">Know More</a>
                    </div>

                </div>
            </div>
        </div>

        <section class="about-us position-relative section-padding">
            <div class="container">
                <div class="section-info section-align">
                    <h4>WHO ARE WE?</h4>
                    <h3>
                        <span>About Us</span>
                    </h3>

                    <p class="para-margin show-mob mob-para"> Mining Tech Consultancy Services (MTCS) is a leading
                        consulting
                        company providing cost-effective
                        services for mining projects in india and global markets. We specialise in exploration, mine
                        planning and pre-mining development for greenfield and brownfield projects.
                    </p>
                    <p class="para-margin show-large"> Mining Tech Consultancy Services (MTCS) is a leading
                        consulting
                        company providing cost-effective
                        services for mining projects in india and global markets. We specialise in exploration, mine
                        planning and pre-mining development for greenfield and brownfield projects.
                    </p>

                </div>

                <a class="read-link show-mob read-more">Read More</a>

                <div class="about-info-1">
                    <div class="info-first-1">
                        <figure>
                            <img src="images/about-1.png" alt="Speed">
                        </figure>
                        <div class="info-text-1">
                            <h3>Speed</h3>
                            <p class="d-sm-block d-none">Accelerating progress through swift solutions.</p>
                        </div>
                    </div>

                    <div class="info-first-1">
                        <figure>
                            <img src="images/about-1.png" alt="Speed">
                        </figure>
                        <div class="info-text-1">
                            <h3>Accuracy</h3>
                            <p class="d-sm-block d-none">Precision Perfected in every detail.</p>
                        </div>
                    </div>

                    <div class="info-first-1">
                        <figure>
                            <img src="images/about-1.png" alt="Speed">
                        </figure>
                        <div class="info-text-1">
                            <h3>Expertise</h3>
                            <p class="d-sm-block d-none">Mastery forging pathways of proficiency.</p>
                        </div>
                    </div>
                </div>

                <a href="about.html" class="section-btn-exp">Explore</a>
            </div>
        </section>

        <div class="our-accreditation position-relative section-padding">
            <div class="container">
                <div class="section-flex">
                    <div class="accreditation-info">
                        <div class="section-info content-center">
                            <h4 class="show-large">OUR </h4>
                            <h3 class="show-large">
                                <span>Accreditation</span>
                            </h3>
                            <h4 class="show-mob">OUR </h4>
                            <h3 class="show-mob">
                                <span>Accreditation</span>
                            </h3>

                            <p class="para-margin show-mob content-center mob-para-2"> Our mining service solutions
                                include equipment maintenance and repair, mineral processing consulting, environmental
                                impact assessments, safety training, data analytics for predictive maintenance,
                                automation and robotics implementation, and community engagement programs.
                                In a rapidly evolving industry, MTCS play a crucial role in helping mining companies
                                adapt to changing circumstances, adopt new technologies, and uphold high standards of
                                safety and sustainability.</p>

                            <a class="read-link show-mob read-more-2">Read More</a>

                            <div class="d-flex-web">
                                <img src="images/accre-1.png" alt="acc-img" class="show-mob acc-img">
                                <img src="images/accre-2.png" alt="acc-img" class="show-mob acc-img">
                            </div>
                            <p class="para-margin show-large"> We are an "Accridited Agency" for MPPA and APA a
                                recognition
                                bestowed by QCI-NABET,
                                showcasing our commitment to maintaining the highest standards of quality and compliance
                                in
                                our services.</p>
                            <a href="#" class="section-btn-acc mt-25">Explore</a>
                        </div>
                    </div>
                    <div class="accreditation-img">
                        <div class="acc-img-flex">

                            <img src="images/accre-1.png" alt="acc-img" class="show-large">
                            <img src="images/accre-2.png" alt="acc-img" class="show-large">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="our-service position-relative section-padding">
            <div class="container">
                <div class="section-info section-align ">
                    <h4>ORE-IENTED EXPERTISE</h4>
                    <h3>
                        <span>Our Services</span>
                    </h3>

                    <p class="para-margin show-mob content-center mob-para-1"> Our mining service solutions
                        include equipment maintenance and repair, mineral processing consulting, environmental
                        impact assessments, safety training, data analytics for predictive maintenance,
                        automation and robotics implementation, and community engagement programs.
                        In a rapidly evolving industry, MTCS play a crucial role in helping mining companies
                        adapt to changing circumstances, adopt new technologies, and uphold high standards of
                        safety and sustainability.</p>

                    <p class="para-margin show-large content-center"> Our mining service solutions
                        include equipment maintenance and repair, mineral processing consulting, environmental
                        impact assessments, safety training, data analytics for predictive maintenance,
                        automation and robotics implementation, and community engagement programs.
                        In a rapidly evolving industry, MTCS play a crucial role in helping mining companies
                        adapt to changing circumstances, adopt new technologies, and uphold high standards of
                        safety and sustainability.</p>

                    <a class="read-link show-mob read-more-1">Read More</a>

                </div>

                <div class="btm scrollable home-services">
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-1.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">Harvesting Value from agriculture & Forest waste</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-2.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">Electrifying water transport for a cleaner, quieter ocean.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-3.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">Making industries water positive by leveraging the power of
                                                AI & IoT</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-4.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">Revolutionizing farming through technology-oriented
                                                solutions.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-1.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">Clean Energy | Regenerative Agriculture</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-2.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">Website that brings recognition and empowerment to
                                                artisans...</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-3.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">Reducing manual efforts and risks with automation and
                                                innovation</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-4.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">Delivering advanced and accessible primary healthcare
                                                services...</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-1.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">Sanitary napkin-making equipment enhancing the
                                                self-respect...</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-2.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p class="child">AI is breathing new life into artificial limbs for
                                                amputees.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="arrows">
                    <div class="arr-left">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        </svg>
                    </div>
                    <div class="arr-right">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            </div>
        </section>


        <section class="our-projects position-relative section-padding">
            <div class="container">
                <div class="project-scroll">
                    <div class="item">
                        <div class="section-flex">
                            <h3 class="show-mob mt-4"><span class="mob-span content-center">Discover Our Mining Services
                                    Brochure</span></h3>
                            <div class="accreditation-img prj-img m-40 discover">
                                <img src="images/discover.png" alt="project-img">
                            </div>

                            <div class="accreditation-info">
                                <div class="section-info mt-3 mt-md-0">

                                    <h3 class="show-large"><span>Discover Our Mining Services Brochure</span></h3>
                                    <p class="para-margin show-large"> Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit.
                                        Voluptatibus officiis
                                        similique
                                        alias, vel ex aliquid magnam? Architecto vitae alias dicta nulla ex maxime
                                        consectetur
                                        praesentium at sequi, minus dolore autem earum suscipit eligendi cupiditate?</p>


                                    <p class="show-mob para-margin mob-para-6"> The Webster definition of resilience is
                                        “the capability of a strained body to
                                        recover its size and shape after deformation caused especially by compressive
                                        stress”. It's hard to believe that it was less than 3 months ago, on 11th March
                                        2020 that the World Health Organization declared the outbreak of COVID-19 as a
                                        pandemic, meaning COVID-19 has spread worldwide. If there ever has been a time
                                        when the need for global resilience has been critical, it is now.</p>

                                    <a class="read-link show-mob read-more-6">Read more</a>

                                    <a href="#" class="section-btn-exp-prj m-40 download-m-web">
                                        <img src="images/icons-download.png" alt="download-pdf" class="download-pdf">
                                        Download Brochure</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="subscribe position-relative section-padding">
            <div class="container-2">

                <div class="subscribe-box py-4">

                    <div class="section-flex message-box">
                        <div class="subscribe-img">
                            <img src="images/subscribe-img.png" alt="sub-img">
                        </div>
                        <div class="subscribe-info">
                            <div class="section-info mt-3 mt-md-0 content-center">
                                <h3>
                                    <span>Subscribe to our newsletters</span>
                                </h3>
                                <p class="para-margin"> Become part of the mining conversation and enrich your
                                    understanding.</p>

                            </div>

                            <div class="formContainer">
                                <form action="">
                                    <fieldset class="fieldInput">
                                        <input class="form-input" type="email" placeholder="mining@mtcs.com">
                                        <button type="submit" class="form-submit">Submit</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-logo">
                    <img src="images/logo.png" alt="footer-logo" />
                </div>
                <div class="footer-nav-wrap">
                    <div class="row">
                        <div class="col-md-9 f-nav">
                            <ul>
                                <li class="f-nav-column">
                                    <a>About MTCS</a>
                                    <ul>
                                        <li><a href="#" target="">Consultants</a></li>
                                        <li><a href="#" target="">Projects</a></li>
                                        <li><a href="#" target="">News and Events</a></li>
                                        <li><a href="#" target="">Careers</a></li>
                                    </ul>
                                </li>
                                <li class="f-nav-column">
                                    <a>Services</a>
                                    <ul>
                                        <li><a href="#" target="">Exploration and Greenfield Project Development</a>
                                        </li>
                                        <li><a href="#" target="">Resource and Reserve Estimation</a></li>
                                        <li><a href="#" target="">Topographical & Volumetric Survey</a></li>
                                        <li><a href="#" target="">Technical Support for Statutory Clearance </a></li>
                                        <li><a href="#" target="">Statutory Report Preparation</a></li>
                                    </ul>
                                </li>
                                <li class="f-nav-column">
                                    <a>Help Center</a>
                                    <ul>
                                        <li><a href="/contact-us" target="">Contact Us</a></li>
                                        <li><a href="/privacy-policy.html" target="">Privacy Policy</a></li>
                                        <li><a href="/terms.html" target="">Terms & Conditions</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-3 f-social">
                            <h3 class="show-on-large mt-3 mt-lg-0">Follow us</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Facebook-1.svg" alt="fb">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">

                                        <img src="images/Twitter-1.svg" alt="tw">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Linkedin-1.svg" alt="lk">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Youtube-1.svg" alt="yt">

                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Instagram-1.svg" alt="int">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="copyright">
                    <p>© 2023 MTCS</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquerymin.js"></script>
    <script src="js/bootstrapmin.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>

</body>

</html>