<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mining</title>
    <link rel="stylesheet" href="css/bootstrapmin.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="header-wrapper">
        <div class="top-header show-large">
            <div class="container-1">
                <a href="#">
                    <img src="images/download.png" alt="download-icon" class="download-icon">
                    <span>Download Brochure</span>
                </a>
                <a href="tel:555-666-7777">
                    <img src="images/phone.png" alt="phone-icon" class="phone-icon">
                    <span>Contact Us</span>
                </a>
            </div>
        </div>

        <header class="header transparent">

            <div class="container-1">

                <div class="row">
                    <div class="col-lg-3 logo-section">
                        <div class="mobile-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="logo-area">
                            <a href="index.html">
                                <img src="images/logo.png" alt="" class="logo green-logo">
                            </a>
                        </div>
                        <a href="#" class="mob-cta">Enquiry</a>
                    </div>
                    <div class="col-lg-9 header-nav">
                        <div class="menu-section">
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="project.html">Projects</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Our Consultants</a></li>
                                <li><a href="#">Sustainability​</a></li>
                                <li class="menu-last-link"><a href="#">Enquiry</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-navigation">

                <div class="offcanvas-body">

                    <div class="hamburger_section logo-sec">
                        <a href="/"><img src="images/logo.png" alt="" class="logo"></a>
                    </div>

                    <div class="hamburger_section">
                        <h5>Adani Mining</h5>

                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="project.html">Projects</a></li>
                            <li><a href="#">Our Consultants</a></li>
                            <li><a href="#">Sustainability​</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="overLay"></div>
        </header>
    </div>

    <main>
        <div class="page-banner">
            <img src="images/project-banner.jpg" alt="banner-img" class="">

            <div class="web-bredcrumb w-100 d-none d-md-block container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/">Projects</a></li>
                    <li class="breadcrumb-item">Project details</li>
                </ul>
            </div>
        </div>

        <section class="mining-closure position-relative section-padding">
            <div class="container">
                <div class="section-info section-align">

                    <h3>
                        <span>Mining Plan & Mine Closure Plan</span>
                    </h3>
                    <p class="mob-para-6"> A mining plan and a mine closure plan are two important documents in the
                        field of mining that
                        outline the strategy and approach for managing a mining operation from its inception to its
                        eventual closure.
                    </p>
                    <a class="read-link show-mob read-more-6">Read more</a>

                </div>

                <div class="closure-card position-relative news-box-1 show-more-height-1">
                    <a href="#">
                        <div class="c-card homestats">
                            <small>2009</small>
                            <h2>Rajasthan Rajya Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>

                    <a href="#">
                        <div class="c-card homestats">
                            <small>2010</small>
                            <h2>Rajasthan Rajya Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>

                    <a href="#" class="show-large" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <div class="c-card homestats">
                            <small>2011</small>
                            <h2>Maharashtra industrial development corporation Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>


                    <a href="#" class="show-mob" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                        <div class="c-card homestats">
                            <small>2011</small>
                            <h2>Maharashtra industrial development corporation Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>

                    <a href="#">
                        <div class="c-card homestats">
                            <small>2012</small>
                            <h2>Rajasthan Rajya Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>
                    <a href="#">
                        <div class="c-card homestats">
                            <small>2013</small>
                            <h2>Rajasthan Rajya Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>
                    <a href="#">
                        <div class="c-card homestats">
                            <small>2014</small>
                            <h2>Rajasthan Rajya Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>

                    <a href="#">
                        <div class="c-card homestats">
                            <small>2012</small>
                            <h2>Rajasthan Rajya Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>
                    <a href="#">
                        <div class="c-card homestats">
                            <small>2013</small>
                            <h2>Rajasthan Rajya Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>
                    <a href="#">
                        <div class="c-card homestats">
                            <small>2014</small>
                            <h2>Rajasthan Rajya Vidyut Utpadan Nigam Limited</h2>
                            <p><span class="c-span">Mine/Block: </span> Parsa East and KantaBasan</p>
                            <p><span class="c-span">Mineral: </span> Coal</p>
                            <p><span class="c-span">Project Details: </span> In-house drilling as a MDO (18,599.5m) and
                                Geological Report</p>

                        </div>
                    </a>
                </div>


                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="off-title">
                            <h2>CSPGCL AEL Parsa Collieries Limited</h2>
                        </div>
                        <div class="off-info">
                            <p>Our mining project solution presents a holistic approach that encompasses the entire
                                lifecycle of resource extraction. Starting with advanced geological exploration and
                                analysis, we develop tailored mining plans that optimize efficiency and minimize
                                ecological impact. Our commitment extends to the eventual closure of the mine, ensuring
                                a seamless transition that prioritizes reclamation and environmental restoration. By
                                integrating innovation, expertise, and sustainability, our solution paves the way for a
                                successful and responsible mining venture.</p>
                        </div>
                    </div>
                </div>


                <div class="offcanvas offcanvas-bottom show-mob" tabindex="-1" id="offcanvasBottom"
                    aria-labelledby="offcanvasBottomLabel">
                    <div class="offcanvas-header">

                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body small">
                        <div class="off-title">
                            <h2>CSPGCL AEL Parsa Collieries Limited</h2>
                        </div>
                        <div class="off-info">
                            <p>Our mining project solution presents a holistic approach that encompasses the entire
                                lifecycle of resource extraction. Starting with advanced geological exploration and
                                analysis, we develop tailored mining plans that optimize efficiency and minimize
                                ecological impact. Our commitment extends to the eventual closure of the mine, ensuring
                                a seamless transition that prioritizes reclamation and environmental restoration. By
                                integrating innovation, expertise, and sustainability, our solution paves the way for a
                                successful and responsible mining venture. </p>
                        </div>
                    </div>
                </div>


                <a class="section-btn-exp explore--open-1">View More</a>
            </div>
        </section>


        <section class="mining-plan position-relative section-padding">
            <div class="container">
                <div class="section-info section-align">
                    <h4>MTCS’s MINING</h4>
                    <h3>
                        <span>Our Projects</span>
                    </h3>
                    <p class="mob-para-7"> With our versatile team at MTCS, we have successfully delivered a diverse
                        range of projects
                        spanning exploration, geology,
                        mine planning, and pre-mining development services, including securing various statutory
                        clearances. Our expertise caters to both greenfield and brownfield projects in the coal and
                        metal mining sectors. Some of our key projects include:
                    </p>
                    <a class="read-link show-mob read-more-7">Read more</a>

                </div>

                <div class="btm scrollable m-plan">
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/geological.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2>Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <a class="read-link">Know More</a>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/technical.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2>Technical Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <a class="read-link">Know More</a>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-logo">
                    <img src="images/logo.png" alt="footer-logo" />
                </div>
                <div class="footer-nav-wrap">
                    <div class="row">
                        <div class="col-md-9 f-nav">
                            <ul>
                                <li class="f-nav-column">
                                    <a>About MTCS</a>
                                    <ul>
                                        <li><a href="#" target="">Consultants</a></li>
                                        <li><a href="#" target="">Projects</a></li>
                                        <li><a href="#" target="">News and Events</a></li>
                                        <li><a href="#" target="">Careers</a></li>
                                    </ul>
                                </li>
                                <li class="f-nav-column">
                                    <a>Services</a>
                                    <ul>
                                        <li><a href="#" target="">Exploration and Greenfield Project Development</a>
                                        </li>
                                        <li><a href="#" target="">Resource and Reserve Estimation</a></li>
                                        <li><a href="#" target="">Topographical & Volumetric Survey</a></li>
                                        <li><a href="#" target="">Technical Support for Statutory Clearance </a></li>
                                        <li><a href="#" target="">Statutory Report Preparation</a></li>
                                    </ul>
                                </li>
                                <li class="f-nav-column">
                                    <a>Help Center</a>
                                    <ul>
                                        <li><a href="/contact-us" target="">Contact Us</a></li>
                                        <li><a href="/privacy-policy.html" target="">Privacy Policy</a></li>
                                        <li><a href="/terms.html" target="">Terms & Conditions</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-3 f-social">
                            <h3 class="show-on-large mt-3 mt-lg-0">Follow us</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Facebook-1.svg" alt="fb">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">

                                        <img src="images/Twitter-1.svg" alt="tw">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Linkedin-1.svg" alt="lk">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Youtube-1.svg" alt="yt">

                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Instagram-1.svg" alt="int">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="copyright">
                    <p>© 2023 MTCS</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquerymin.js"></script>
    <script src="js/bootstrapmin.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>

</body>

</html>