<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mining</title>
    <link rel="stylesheet" href="css/bootstrapmin.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="header-wrapper">
        <div class="top-header show-large">
            <div class="container-1">
                <a href="#">
                    <img src="images/download.png" alt="download-icon" class="download-icon">
                    <span>Download Brochure</span>
                </a>
                <a href="tel:555-666-7777">
                    <img src="images/phone.png" alt="phone-icon" class="phone-icon">
                    <span>Contact Us</span>
                </a>
            </div>
        </div>

        <header class="header transparent">

            <div class="container-1">

                <div class="row">
                    <div class="col-lg-3 logo-section">
                        <div class="mobile-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="logo-area">
                            <a href="index.html">
                                <img src="images/logo.png" alt="" class="logo green-logo">
                            </a>
                        </div>
                        <a href="#" class="mob-cta">Enquiry</a>
                    </div>
                    <div class="col-lg-9 header-nav">
                        <div class="menu-section">
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="project.html">Projects</a></li>
                                <li><a href="#">Services</a></li>

                                <li><a href="#">Our Consultants</a></li>
                                <li><a href="#">Sustainability​</a></li>
                                <li class="menu-last-link"><a href="">Enquiry</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-navigation">

                <div class="offcanvas-body">

                    <div class="hamburger_section logo-sec">
                        <a href="/"><img src="images/logo.png" alt="" class="logo"></a>
                    </div>

                    <div class="hamburger_section">
                        <h5>Adani Mining</h5>

                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="project.html">Projects</a></li>
                            <li><a href="#">Our Consultants</a></li>
                            <li><a href="#">Sustainability​</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="overLay"></div>
        </header>
    </div>

    <main>
        <div class="page-banner">
            <img src="images/project-banner.jpg" alt="banner-img" class="">

            <div class="web-bredcrumb w-100 d-none d-md-block container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">Projects</li>
                </ul>
            </div>
        </div>

        <section class="mtcs-projects position-relative section-padding">
            <div class="container">
                <div class="section-info section-align ">
                    <h4>MTCS’s MINING</h4>
                    <h3>
                        <span>Our Projects</span>
                    </h3>
                    <p class="mob-para-4"> With our versatile team at MTCS, we have successfully delivered a diverse
                        range
                        of projects spanning exploration, geology, mine planning, and pre-mining
                        development services, including
                        securing various statutory clearances. Our expertise caters to both greenfield and
                        brownfield projects in the coal and metal mining sectors. Some of our key projects include:
                    </p>

                    <a class="read-link show-mob read-more-4">Read More</a>

                </div>

                <div class="btm scrollable mtcs-mining-project">
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/geological.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-2.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-3.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-4.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-1.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-2.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-3.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-4.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-1.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item h-100">
                        <a href="project-details.html">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-2.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">
                                    <h2 class="child">Geological Exploration & Report</h2>
                                    <div class="wrap">
                                        <div class="desc-left mb-2">
                                            <p class="child">Harvesting Value from agriculture & Forest waste and
                                                sustainability.</p>

                                        </div>
                                        <span class="read-link">Know More</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="arrows">
                    <div class="arr-left-1">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        </svg>
                    </div>
                    <div class="arr-right-1">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            </div>
        </section>


        <section class="call-request position-relative section-bottom-padding">
            <div class="call-text">
                <div class="container-form">
                    <div class="form-texing">
                        <h3><span>Talk about how we can help you reduce your Mining investment</span></h3>
                        <p>Initiate a Conversation on a Mining Solutions</p>
                    </div>
                </div>
            </div>
            <div class="form-data">
                <div class="container-form">
                    <div class="project-form-div">
                        <div class="form-block mb-3">
                            <h3>Request a Call</h3>
                        </div>
                        <form action="#" class="project-form noCommonValidation" autocomplete="off" novalidate=""
                            data-gtm-form-interact-id="0">

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name-id" name="Name"
                                            placeholder="Name">
                                        <small></small>
                                        <label for="name-id">Name</label>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email-id" name="Email"
                                            placeholder="Email">
                                        <small></small>
                                        <label for="email-id">Email</label>

                                    </div>
                                </div>
                            </div>

                            <div class="row pb-1">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <div class="relative">
                                            <div class="relative">
                                                <div class="combineOption">
                                                    <div class="countryCode">
                                                        <div class="selectFlag">

                                                            <canvas class="country-sprite flag-in sm-flag pos-absolute"
                                                                style="background-image: url(
                                                        'https://sa.adanione.com/-/media/Feature/Adani/CountryFlags/Flags-with-Name/india.png');"></canvas>

                                                            <input class="country-input-flag" type="text"
                                                                autocomplete="off" aria-label="Select country code"
                                                                value="+91">
                                                        </div>

                                                        <i class="font-icons icon-arrow-down"><img
                                                                src="images/angle-down.png" alt=""></i>

                                                    </div>

                                                    <div class="NumWrap">
                                                        <div
                                                            class="form-control-custom-error adl-floating-input form-floating">
                                                            <!-- <input placeholder="Mobile Number" auto-id=""
                                                                autocomplete="off" name="" type="tel" id="mobile-No"
                                                                class="form-control" value=""><label
                                                                for="mobileNo">Mobile No.</label> -->

                                                            <input type="tel" name="mobile" class="form-control"
                                                                id="mobile-No" placeholder="name@example.com"
                                                                maxlength="10" pattern="[1-9]{1}[0-9]{9}"
                                                                autocomplete="off">
                                                            <small></small>
                                                            <label for="mobileNo">Mobile No.</label>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="country_code_layer" id="countryid">
                                                <div class="search_box__parent">
                                                    <div class="search_box"><i class="font-icons icon-search"><img
                                                                src="images/search-.png" alt=""></i><input
                                                            placeholder="Select Country" autocomplete="off" type="text"
                                                            id="usr" aria-label="search country" class="search_field"
                                                            auto-id="" value=""></div>
                                                </div>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-au mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Australia</p><span>+61</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-bd mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Bangladesh</p><span>+880</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-fr mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>France</p><span>+33</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-de mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Germany</p><span>+49</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-in mr-10"
                                                            style="background-image: url(&quot;https://sa.adanione.com/-/media/Feature/Adani/CountryFlags/Flags-with-Name/india.png&quot;);"></canvas>
                                                        <p>India</p><span>+91</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class="active"><canvas class="country-sprite flag-il mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Israel</p><span>+972</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-my mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Malaysia</p><span>+60</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-mv mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Maldives</p><span>+960</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-mu mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Mauritius</p><span>+230</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-nl mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Netherlands</p><span>+31</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-qa mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Qatar</p><span>+974</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-sg mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>Singapore</p><span>+65</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-ae mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>United Arab Emirates</p><span>+971</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-gb mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>United Kingdom</p><span>+44</span>
                                                    </li>
                                                </ul>
                                                <ul class="country_list">
                                                    <li class=""><canvas class="country-sprite flag-us mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                        <p>United States</p><span>+1</span>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <div class="form-group">
                                            <select id="ddlSubject" class="form-control form-select" autocomplete="off">
                                                <option value="" selected="selected">Select Solution Type</option>
                                                <option value="Query">Query</option>
                                                <option value="Feedback">Feedback</option>
                                                <option value="Complaint">Complaint</option>
                                                <option value="Lost &amp; Found">Lost &amp; Found</option>

                                            </select>
                                            <small></small>
                                            <span id="lblSubject" class="validation"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <textarea maxlength="500" class="form-control" name="CustomerQuery"
                                            id="customerQuery" placeholder="Message" rows="4"></textarea>
                                        <small></small>
                                        <label for="name">Message</label>

                                    </div>
                                </div>
                            </div>

                            <div class="form-button-section">
                                <button id="project-btn" class="btn btn-primary">Send Message</button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="our-service position-relative">
            <div class="container">
                <div class="section-info section-align ">
                    <h4>ORE-IENTED EXPERTISE</h4>
                    <h3>
                        <span>Our Services</span>
                    </h3>
                    <p class="mob-para-5"> Providing a range of specialized mining solutions, we blend cutting-edge
                        technology with
                        sustainable practices to optimize operations, ensure safety, and drive value across the entire
                        mining lifecycle.</p>

                    <a class="read-link show-mob read-more-5">Read more</a>

                </div>

                <div class="btm scrollable oriented-our-services">
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-1.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>Harvesting Value from agriculture & Forest waste</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-2.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>Electrifying water transport for a cleaner, quieter ocean.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-3.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>Revolutionizing farming through technology-oriented solutions.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-4.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>Revolutionizing farming through technology-oriented solutions.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-1.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>Clean Energy | Regenerative Agriculture</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-2.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>Website that brings recognition and empowerment to artisans...</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-3.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>Reducing manual efforts and risks with automation and innovation</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-4.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>Delivering advanced and accessible primary healthcare services...</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-1.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>Sanitary napkin-making equipment enhancing the self-respect...</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="img">
                                    <img src="images/service-2.png" alt="service-img" />
                                </div>
                                <div class="desc homestats">

                                    <div class="wrap">
                                        <div class="desc-left">
                                            <p>AI is breathing new life into artificial limbs for amputees.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="arrows">
                    <div class="arr-left">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        </svg>
                    </div>
                    <div class="arr-right">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            </div>
        </section>


        <section class="subscribe position-relative section-padding">
            <div class="container-2">

                <div class="subscribe-box py-4">

                    <div class="section-flex message-box">
                        <div class="subscribe-img">
                            <img src="images/subscribe-img.png" alt="sub-img">
                        </div>
                        <div class="subscribe-info">
                            <div class="section-info mt-3 mt-md-0">
                                <h3>
                                    <span>Subscribe to our newsletters</span>
                                </h3>
                                <p class="para-margin"> Become part of the mining conversation and enrich your
                                    understanding.</p>

                            </div>

                            <div class="formContainer">
                                <form action="">
                                    <fieldset class="fieldInput">
                                        <input class="form-input" type="email" placeholder="mining@mtcs.com">
                                        <button type="submit" class="form-submit">Submit</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-logo">
                    <img src="images/logo.png" alt="footer-logo" />
                </div>
                <div class="footer-nav-wrap">
                    <div class="row">
                        <div class="col-md-9 f-nav">
                            <ul>
                                <li class="f-nav-column">
                                    <a>About MTCS</a>
                                    <ul>
                                        <li><a href="#" target="">Consultants</a></li>
                                        <li><a href="#" target="">Projects</a></li>
                                        <li><a href="#" target="">News and Events</a></li>
                                        <li><a href="#" target="">Careers</a></li>
                                    </ul>
                                </li>
                                <li class="f-nav-column">
                                    <a>Services</a>
                                    <ul>
                                        <li><a href="#" target="">Exploration and Greenfield Project Development</a>
                                        </li>
                                        <li><a href="#" target="">Resource and Reserve Estimation</a></li>
                                        <li><a href="#" target="">Topographical & Volumetric Survey</a></li>
                                        <li><a href="#" target="">Technical Support for Statutory Clearance </a></li>
                                        <li><a href="#" target="">Statutory Report Preparation</a></li>
                                    </ul>
                                </li>
                                <li class="f-nav-column">
                                    <a>Help Center</a>
                                    <ul>
                                        <li><a href="contact-us.html" target="">Contact Us</a></li>
                                        <li><a href="privacy-policy.html" target="">Privacy Policy</a></li>
                                        <li><a href="terms.html" target="">Terms & Conditions</a></li>
                                        <li><a href="sitemap.html" target="">Sitemap</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-3 f-social">
                            <h3 class="show-on-large mt-3 mt-lg-0">Follow us</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Facebook-1.svg" alt="fb">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">

                                        <img src="images/Twitter-1.svg" alt="tw">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Linkedin-1.svg" alt="lk">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Youtube-1.svg" alt="yt">

                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                                        <img src="images/Instagram-1.svg" alt="int">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="copyright">
                    <p>© 2023 MTCS</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquerymin.js"></script>
    <script src="js/bootstrapmin.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>
    <script src="js/projectContact.js"></script>

</body>

</html>