<div class="section-breadcrumb">
  <div class="container">
    <ol class="breadcrumb ad-breadcrumb margin-0">
      <li *ngFor="let breadcrumb of Investor.GenericBredcrumbNavigation.Data; last as isLast" class="breadcrumb-item">
        <a *ngIf="!isLast" href="{{breadcrumb.Link}}">{{breadcrumb.Heading}}</a>
        <a *ngIf="isLast" class="active">{{breadcrumb.Heading}}</a>
      </li>
    </ol>
  </div>
</div>
<div class="governance">
  <div class="container">
    <h3 class="governance-title pt-4">{{Investor.InvestorTitles.Heading}}</h3>
    <div class="row">
      <div class="col-sm-4" *ngFor="let investerTile of Investor.InvestorTitles.Data">
        <div class="investor-graybox">
          <div class="colPd">
            <h4 class="subHead_second_grey"><strong>{{investerTile.Heading}}</strong></h4>
            <div style="min-height : 59px" innerHtml="{{investerTile.HTMLText}}">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>