.header--top_bar {
  display: none;
}
.main_menu {
  display: none;
}
.right_icon {
  padding: 0px 0px 0px 10px;
}
.right_icon img {
  height: 28px;
}
.hamburger_icon {
    padding: 0.0rem 0rem;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.hamburger_icon:hover {
  background-color: #F6F6F6;
  
}
.hamburger_icon img {
  width: 24px;
}
.nav_bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0px 0px 0px;
}

.nav_bar .navigation{
  margin-left: auto;
}
.nav_bar .navigation nav {
  display: none;
}
.nav_bar .navigation img{
  width: 28px;
}
.hamburger_section {
    position: relative;
  background-color: #fff;
  margin-bottom: 7px;
}
.hamburger_links {
  padding: 16px 0 22px 0;
  background-color: #fff;
}
.hamburger_links ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.hamburger_links a {
  padding: 12px 22px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  display: flex;
  font-weight: normal;
  align-items: center;
  -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}
.hamburger_links .accordian_sub_list{
  margin: 0 0 0 60px;
  padding: 0;
}
.hamburger_links .accordian_sub_list a{
  color: #666;
  font-size: 14px;
  display: block;
  padding: 8px 4px;
  
}
/*.hamburger_links a.active{
  background-color: #F2F7FB;
}*/
.hamburger_links a.active .check_icon{
  padding-left: 16px;
}
.hamburger_links a:hover {
color: #333;
  /*background-color: #F6F6F6;*/
text-decoration: none;
}

.hamburger_links img {
  padding-right: 14px;
  height: 25px;
}
.hamburger_links .arrow{
  margin-left: auto;
  padding-right: 0;
}
.hamburger_links h5{
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  padding: 16px 0px 16px 22px;
  text-transform: uppercase;
  margin: 0px;
}

.single_item a, .back_header{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 6px 22px;
  height: 75px;
  color: #333333;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.single_item a:hover{
text-decoration:none;
  background-color: #F6F6F6;
color: #333333;
}
.single_item .icon {
  width: 32px;
  margin-right: 13px;
}
.single_item h4 {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  margin: 0;
}
.single_item h4 label {
  font-size: 11px;
  font-weight: normal;
  color: rgb(133, 133, 133);
  padding-top: 5px;
    margin-bottom: 0px;
}
.single_item .arrow{
  margin-left: auto;
  width: 24px;
}
.back_header{
  background-color: #fff;
  padding: 12px 8px;
  height: auto;
}
.back_header i{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.back_header i:hover
{
  background-color: #f6f6f6;
}
.back_header img{
  width: 24px;
}

.hamburger.active{margin-left: 0px;transition: ease all 0.3s;}
.hamburger {
    z-index: 999;
transition: ease all 0.3s;
margin-left: -340px;
  height: 100vh;
  width: 340px;
  background-color: #F7F7F7;
  overflow-x: hidden;
  position: absolute; top: 0px; left: 0px;
}
.hamburger footer{
  padding: 10px 16px;
}
.hamburger footer img{
  height: 32px;
}
.business_dropdown {
z-index: 2;
max-height: 0px;
  background-color: #fff;
  border: 0px solid #eee;
  border-radius: 12px;
  width: 260px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgb(0, 0, 0, .12);
  position: absolute;
  right: 0px;
  top: 150%;
  transition: ease all 0.3s;
margin-top: 10%;
}
.top_bar_nav.active .business_dropdown {border: 1px solid #eee;max-height: 1500px;display: block;top: 100%; transition: ease all 0.3s;margin-top: 0%;}
.business_dropdown a{
position: relative;
  display: flex;
  border-bottom: 1px solid #F1F1F1;
  align-items: center;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  padding: 10px 14px;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.business_dropdown a:last-child {border-bottom: 0}
.business_dropdown a:hover{
  background-color: #F6F6F6;
color: #333;
text-decoration:none;
}
.business_dropdown a.active{
  /*background-color: #F2F7FB;*/
}

.business_dropdown i img{
height: 24px;
padding-right: 14px;
}
.business_dropdown a.active .check_icon{
  height: 24px;
  padding-right: 0px;
  margin-left: auto;
}
.sub_title{
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  padding: 32px 0px 16px 0px;
  text-transform: uppercase;

}
.business {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 14px;
}
.business a{
  padding: 0px;
}
.check_icon  {
  padding-left: 16px;
}
.check_icon img{
  height: 24px;
}
@media only screen and (min-width: 900px) {
  .contact_info { padding-left: 8px; }
  .header--top_bar {
padding-left: 32px; padding-right: 32px;
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 40px;
z-index: 99;
  }
  .top_bar_nav > a{
    color: #fff;
    font-size: 14px;
  }
  .header--top_bar img {
    height: 20px;
    padding-right: 5px;
  }
  .contact_info{
    display: flex;
    align-items: center;
  }
  .top_bar_nav {
    margin-left: auto;
  }
  .top_bar_nav > a {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .top_bar_nav > a:hover, .top_bar_nav.active > a {
color:#fff;
text-decoration:none;
    background-color: #434343;
  }
  .nav_bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    flex-wrap: wrap;
    padding: 0 32px;
    height: 76px;
    background-color: #fff;
  }
  .nav_bar .navigation {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav_bar .navigation nav{
    display: flex;
    font-size: 16px;
    align-items: center;
  }
  .nav_bar .navigation .nav_button{
text-decoration: none;
    background-color: #06B36E;
    height: 32px;
    padding: 4px 12px;
    margin: 0px 12px;
    border-radius: 20px;
    color: #fff;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .nav_bar .navigation .nav_button:hover{
    background-color: #04BE74;
    
  }
  
  .nav_bar .navigation nav a{
text-decoration: none;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    color: #333333;
    border-radius: 20px;
    height: 32px;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .nav_bar .navigation nav a:hover{
    background-color: #f6f6f6;
  }
  .nav_bar .navigation img{
    width: 28px;
  }
}
.top_bar_nav{position:relative;}
.contact_info a{color:#fff;padding: 0px;}
.contact_info a:hover{color:#fff;text-decoration:none;}
.overlay{position: fixed; top: 0px; left: 0px; width: 0%; height: 100%; background: rgb(0 0 0 / 29%);transition:ease all 0.3s;z-index: 99;}
.overlay.active{width:100%;transition:ease all 0.5s;}

.hamburger::-webkit-scrollbar {
  width: 4px;
}
.hamburger::-webkit-scrollbar-track{
  background: transparent; 
}
.hamburger::-webkit-scrollbar-thumb{
  background: #222;
  border-radius:3px;
}
.hamburger_submenu{position: absolute; top: 0px; left: 0px; width: 100%; height: 0%;background: #fff;overflow: hidden;z-index: 9;}
.hamburger_submenu.active{height: 100vh;}
.hamburger_main.in_active{overflow: hidden; transition: ease all 0.3s; max-height: 0px;}
.hamburger_main{}
.business_dropdown a.active:after { content: ""; background: url(-/media/BC8CFF0B477B4481815A7004F971F390.ashx); width: 20px; height: 20px; object-fit: cover; background-repeat: no-repeat; background-size: cover; margin-left: 10px;right: 10px; position: absolute;top: 50%; transform: translateY(-50%);}
.business_dropdown a label{cursor:pointer; margin-bottom: 0px;font-size: 14px; font-weight: 500;}
.contact_info span{position: relative; top: -2px;}
.hamburger_links li{}
.hamburger_links li.active{}
.hamburger_links li .arrow{
    transition: ease all 0.3s;
    transform: rotate(180deg);
}
.hamburger_links li.active .arrow{
    transition: ease all 0.3s;
    transform: rotate(
0deg);
}
.hamburger_links li .accordian_sub_list{
    max-height: 0px;
    overflow: hidden;
}
.hamburger_links li.active .accordian_sub_list{
    max-height: 1500px;
}
.hamburger_links li{position:relative;}
.hamburger_links a.hamburger_dropdown { position: absolute; top: 0px; right: 0px;transform: rotate(0deg); }
.hamburger_links a.hamburger_dropdown img { transform: rotate( 0deg); }
.hamburger_links--arrow { position: absolute; top: 13px; right: 25px;cursor: pointer;}
.hamburger_links li:hover{background-color: #F6F6F6;}
.top_bar_nav.active:before { content: ""; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgb(204 204 204 / 0%); z-index: 1; }
.header--top_bar--fixed{position: fixed; top: 0px; width: 100%;}
@media(max-width:576px){ .hamburger footer{ padding-bottom: 2.5rem; } }
.contact_info{font-size: 14px;}

.homeslider-other:hover .owl-nav{opacity: 1;transition: ease all 0.3s;}
.homeslider-other .owl-nav{position: absolute; top: 50%; width: 92%; left: 50%; transform: translate(-50%, -50%);height:0px;opacity: 0;}
.homeslider-other.owl-carousel .owl-nav button.owl-prev{position:absolute;left: 0px;outline: 0;background: none; background-color: #fff; height: 40px; border-radius: 100px; width: 40px; font-size: 2rem; line-height: 28px; margin-left: 0px;}
.homeslider-other.owl-carousel .owl-nav button.owl-prev i:before{content:"";background: url('-/media/350812C23F7A44AE98BDD1B52AFF9FD7.ashx');width: 9px;height: 16px;display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-repeat: no-repeat;}
.homeslider-other.owl-carousel .owl-nav button.owl-next{position:absolute;right: 0px;outline: 0;background: none; background-color: #fff; height: 40px; border-radius: 100px; width: 40px; font-size: 2rem; line-height: 28px; margin-left: 0px;}
.homeslider-other.owl-carousel .owl-nav button.owl-next i:before{content:"";background: url('-/media/8411F1A607F048A1AA797AD7A7F57E16.ashx');width: 9px;height: 16px;display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-repeat: no-repeat;}