<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>  
      <pipelines>
      <initialize>
        <processor type="Sitecore.AdaniAirports.Website.Infrastructure.RegisterWebApiRoutes, Sitecore.AdaniAirports.Website" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
      </initialize>
    </pipelines>
  <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="AdaniAirports">AdaniAirports</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="AdaniAirports">AdaniAirports</site>
                    </sites>
                </handler>
            </event>
        </events>
        <sites>
            <site name="AdaniAirports" patch:after="site[@name='modules_website']" 
                  targetHostName="AdaniAirports.$(rootHostName)"
                  hostName = "AdaniAirports.$(rootHostName)"
                  database="web" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/AirportCorporate" 
                  startItem="/Home" 
                  dictionaryPath="/sitecore/content/AirportCorporate/global/dictionary" 
                  dictionaryAutoCreate="false" 
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/AirportCorporate"
                  domain="AdaniAirports" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB" 
                  formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}"
                  loginPage="/login"
                  enableItemLanguageFallback="true" />
        </sites>
        <cacheSizes>
            <sites>
				<AdaniAirports>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </AdaniAirports>
            </sites>
        </cacheSizes>
        <settings>
            <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="AdaniAirports" />
            </setting>
        </settings>
    </sitecore>
</configuration>