<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurator type="Adani.SuperApp.Airport.Feature.CarParking.Platform.ServicesConfigurator, Adani.SuperApp.Airport.Feature.CarParking.Platform" />
		</services>
	</sitecore>
</configuration>