@font-face {
    font-family: Adani-Regular;
    src: url(../webfonts/Adani-ExtraLight.woff) format('woff'), url(../webfonts/Adani-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Adani-Regular;
    src: url(../webfonts/Adani-Medium.woff) format('woff'), url(../webfonts/Adani-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Adani-Regular;
    src: url(../webfonts/Adani-Regular.woff) format('woff'), url(../webfonts/Adani-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Adani-Regular;
    src: url(../webfonts/Adani-Regular_1.woff) format('woff'), url(../webfonts/Adani-Regular_1.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Adani-Regular;
    src: url(../webfonts/Adani-Light.woff) format('woff'), url(../webfonts/Adani-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Adani-Regular;
    src: url(../webfonts/Adani-Bold.woff) format('woff'), url(../webfonts/Adani-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Adani-Regular;
    src: url(../webfonts/Adani-SemiBold.woff) format('woff'), url(../webfonts/Adani-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal
}

body, html { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; position: relative; font-family: Adani-Regular; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; font-size: 16px; background-color: #f1f1f1; }

.topbar{background: #fff;transition:ease all 0.3s;}
.topbar li{display: inline-block;}
.topbar li a{padding: 5px 20px; display: block; color: #000; font-size: 0.8rem;}
.topbar li a:hover{color:#3fb4ea;}

.secondary_menu{background: #f1f1f1;}
.secondary_menu .nav-item{padding: 0px !important;}
.secondary_menu .nav-item .nav-link{padding: 0.5rem 1rem !important; display: block;}
.secondary_menu .nav-item .nav-link:hover{}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu{padding: 1.5rem; box-shadow: 1px 1px 2px rgb(0 0 0 / 15%); background-color: rgba(238, 238, 238, 0.9) !important;border-top: 1px solid #e8e8e8;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu hr{border-top: 1px solid #c7c7c7;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu h5{font-size: 1.25rem;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu h5 a{color: #18a790;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu h5 a:hover{color:#154889;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu select{width: auto; border: 0px; border-bottom: 1px solid #154897; padding-left: 0px; margin-bottom: 1.5rem; color: #154897; background: transparent; outline: 0; box-shadow: 0px 0px 0px 0px #000; font-weight: 600;display:none;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu select option{font-size:14px;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu h3{}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu h3 a{font-size: 16px; color: #000; font-weight: 600;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu h3 a:hover{color:#154889;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu ul{}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu ul li{}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu ul li a{font-size: 14px; color: #000;}
.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu ul li a:hover{color:#154889;}

.group-header{display: block; width: 100%; top: 0px; z-index: 999;min-height: 64px;box-shadow: 0px 0px 5px -3px #000;transition: ease all 0.3s;}
.collapse_toggle{display:block;width: 100%;background: #4c4b6e;padding: 0.5rem 1.5rem;cursor: pointer;}
	.collapse_toggle span{}
	.collapse_toggle span:first-child{width: 25px; height: 3px; background: #fff; display: inline-block; transform: rotate(45deg); transition: ease all 0.6s;position: relative;top: -3px;}
	.collapse_toggle span:last-child{width: 25px; height: 3px; background: #fff; display: inline-block; transform: rotate(-45deg); transition: ease all 0.6s;position: relative; left: -29px; top: -3px;}



@media(min-width:992px){
	.secondary_menu.navbar-expand-lg .navbar-nav .dropdown-menu{max-width: 800px;}
	.group-header.fixed_group-header .secondary_menu .nav-item .nav-link{padding: 1.1rem 1rem !important;}
	.group-header.fixed_group-header .navbar-brand img{max-width: 130px; transition: ease all 0.3s;}
	.group-header.fixed_group-header{position: fixed; top: -1px; width: 100%; z-index: 999;transition: ease all 0.3s;min-height: 60px;}
	.group-header.fixed_group-header .topbar{max-height:0px;overflow:hidden;transition:ease all 0.3s;}
	.secondary_menu.navbar-expand-lg .navbar-nav .nav-item .nav-link{font-size: 1rem; font-weight: 400;}
	.secondary_menu.navbar-expand-lg .navbar-nav .nav-item .nav-link{}
	.secondary_menu.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover{color:#154889;}
	.group-header .navbar-brand img { max-width: 165px; transition: ease all 0.3s;}
	.collapse_toggle{display:none;}
	.request-callback{margin-right: 10%;}
}
@media(max-width:991px){
	.secondary_menu .nav-item .nav-link{padding-left: 0px !important;}
	.group-header{min-height: auto;background: #fff;}
	.group-header .border-right{border-right: 0px solid #ccc !important;text-align: left !important;}
	.topbar{display:none;}
	header .col-sm-9.col-4{text-align: right;}
	.btn-nav-toggle{margin: 8px 0px !important;}
	.btn-nav-toggle svg{position: relative; top: 5px;color: #000}
	.navbar-brand img{max-width: 130px !important;}
	.secondary_menu .navbar-collapse .menu-overlay{position: fixed; width: 100%; height: 100%; left: 0px; top: 0px; background: rgb(0 0 0 / 30%);}
	.secondary_menu .navbar-collapse{position: fixed; right: 0px; z-index: 9999; background: #154889;height: 100vh; width: 250px; margin-right: -250px; transition: ease all 0.6s; z-index: 9999; margin-left: auto !important;top: 0px; text-align: left;}
	.secondary_menu .navbar-collapse ul{padding: 1.5rem;}
	.secondary_menu .navbar-collapse .dropdown-menu{display: none !important;}
	.secondary_menu .navbar-collapse.show{margin-right: 0px; transition: ease all 0.6s;}
	.secondary_menu .nav-item .nav-link{color:#fff;position: relative;}
	.navbar-collapse .request-callback{display:none;}
	.request-callback{display: inline-block;position: relative; top: 3px;padding-right: 0px !important;}
	.request-callback a{color: #286ec4;font-size: 1.25rem;}
	footer .border-left{border-bottom: 1px solid #f3f3f3;}
	.sectionHeading{font-size: 2rem; font-weight: 600;}
}

footer{background: #fff; padding: 2rem 0rem !important;}
footer h5{}
footer h5 a{color: #007ea8; line-height: 40px; font-size: 1.25rem;}
footer h5 a:hover{color:#000;}
footer ul{margin-bottom: 1rem;}
footer ul li{}
footer ul li a{color: #606060; font-size: 14px;}
footer ul li a:hover{color: #1a727e;}
.footerPanel2 ul { min-height: 50px; }
.ft-social li { display: inline-block; text-align: center; width: 15%; }
.ft-social li a { color: #007ea8; padding: 5px 5px; font-size: 18px; }
.footerPanel2 a:hover { color: #1a727e; }
.footer-logo{}
.footer-logo img{max-width: 120px; margin: 0.5rem 0rem;}
footer .border-left{padding: 1rem 0rem;}
.footerBtmPanel{margin: 0px !important; background: #383838 !important;}
.footerBtmPanel{}
.testimonial{}
.testimonial .bg-images img{object-fit: cover;}
.testimonial h3 { font-weight: bold; font-size: 2.4rem; text-align: center; margin: 1rem 0 3rem 0; color: #154889; z-index: 99; display: block; position: relative; }
.swiper-button-prev {
		    left: 15px;
		  }
		  .swiper-button-next {
		    right: 15px;
		  }
		  .swiper-button-prev img, .swiper-button-next img {
		    max-width: 30px;
		    height: auto;
		  }
		  .swiper-container,
		  .swiper-slide img {
		      height: inherit;
		  }
		  .swiper-slide video {
		    margin-bottom: -5px;
		  }
.swiper-container {
		  width: 100%;
		  height: 70vh;
		}
		.swiper-slide {
		  text-align: center;
		  font-size: 18px;
		  background: #fff;
		  display: -webkit-box;
		  display: -ms-flexbox;
		  display: -webkit-flex;
		  display: flex;
		  -webkit-box-pack: center;
		  -ms-flex-pack: center;
		  -webkit-justify-content: center;
		  justify-content: center;
		  -webkit-box-align: center;
		  -ms-flex-align: center;
		  -webkit-align-items: center;
		  align-items: center;
		}
		.swiper-slide picture {
		    height: 100%;
		}
		.swiper-slide img {
		  display: block;
		  width: 100%;
		  height: 100%;
		  object-fit: cover;
		}
		.swiper-slide video {
		    height: 100%;
		    width: 100%;
		    object-fit: cover;
		    margin-bottom: 0;
		}
		.swiper-button-prev:after, .swiper-button-next:after {
		    display: none;
		}
		.swiper-button-prev {
		  left: 30px;
		}
		.swiper-button-next {
		  right: 30px;
		}
.swiper-pagination-bullet{    background: #c3c3c3 !important;}
.swiper-pagination-bullet-active{    background: #fff !important;}
.property-stats p{}
.property-stats .txt-md {font-size: 18px !important;}
.nav-tabs .nav-link{letter-spacing: unset;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{font-weight: 600;}
.property-hd { font-weight: 600 !important; font-size: 18px !important; color: #16498a; line-height: 23px !important; margin-bottom: 0px; margin-top: 20px; min-height: 58px !important; }
#residential .col-6.py-4{text-align:right;}
#residential .col-6.py-4 img{object-fit: cover; max-width: 120px;}
.news-block{}
.news-block img{max-width: 90px;}
.news-block h3{font-weight: 400 !important;}
.section.bg-white .bg-media .news-block,.section.bg-white .bg-accolades .news-block, .section.bg-white .bg-news .news-block{background: -moz-linear-gradient(left,#1b9f94 0,#316db3 100%); background: -webkit-gradient(left top,right top,color-stop(0,#1b9f94),color-stop(100%,#316db3)); background: -webkit-linear-gradient(left,rgb(27 159 148 / 83%) 0,rgb(49 109 179 / 90%) 100%); background: -o-linear-gradient(left,#1b9f94 0,#316db3 100%); background: -ms-linear-gradient(left,#1b9f94 0,#316db3 100%); background: linear-gradient(to right,rgb(27 159 148 / 90%) 0,rgb(49 109 179 / 90%) 100%);}
.section.bg-white .bg-media .news-block:hover,.section.bg-white .bg-accolades .news-block:hover, .section.bg-white .bg-news .news-block:hover{box-shadow: 0px 7px 12px -5px rgb(0 0 0 / 55%);transition: ease all 0.3s;}
.innerform{background: rgba(0,0,0,0.7) !important;margin-top: 0px !important;}
.filter-box{background: no-repeat !important;}
.property-stats p {font-size: 0.8rem;}
.border-box p:nth-child(1) { color: #fff; text-align: center; font-size: 1.3rem; position: relative; top: 51px; background: rgb(0 0 0 / 22%); padding: 10px 0px; -webkit-box-shadow: 0 8px 10px -5px rgb(0 0 0 / 24%); -moz-box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.24); box-shadow: 0 8px 10px -5px rgb(0 0 0 / 24%); }
.request-callback li{color: #929292; font-size: 14px;}
.homepage .navtop{top: 0px !important; margin-top: 0px !important;}
#demo{margin: 15px 0px !important;}

#residential .col-6.py-4, #commercial  .col-6.py-4{padding: 10px 10px !important; text-align: right; position: relative;}
.border-box p:nth-child(1){font-size: 1rem !important; margin: 0px 10px;top: 55px !important;background: rgb(0 0 0 / 30%) !important;color: #fff !important; font-weight: 500;opacity: 0;}
.border-box .bg-gray { background: #ecebeb;}
#residential .col-6.py-4 img, #commercial .col-6.py-4 img{position: relative;top: 50%; transform: translateY(-50%);margin-left: auto;}

@media(min-width:992px){
.border-box img:nth-child(2){}
#residential .col-6.py-4 img{}
}
p.disclaimerblog.mb-5 {
    font-size: 12px;
}