

        *, *:before, *:after {
            box-sizing: border-box
        }

        /* button, button:active, button:focus, button:hover,
        input, input:active, input:focus, input:hover,
        select, select:active, select:focus, select:hover,
        label, label:active, label:focus, label:hover,
        a, a:active, a:focus, a:hover {
            outline: none !important;
            box-shadow: none !important;
        } */

        html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            /* font: inherit; */
            vertical-align: baseline !important;
        }

        #frame {
            width: 95%;
            width: 370px;
            height: auto;
            /* min-height: 300px; */
            height: 540px;
            position: fixed;
            bottom: 0;
            right: 0;
            /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1); */
            z-index: 9999;
        }

            #frame #sidepanel {
                float: left;
                min-width: 280px;
                max-width: 340px;
                width: 40%;
                height: 100%;
                background: #2c3e50;
                color: #f5f5f5;
                overflow: hidden;
                position: relative;
            }

            #frame .content {
                float: right;
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
				border: #ccc 1px solid;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				background:#eef0f3;
            }
        /* @media screen and (min-width: 900px) { */
             /* #frame .content { */
                 /* width: calc(100% - 340px); */
                
            /* } */
            
        /* } */
        #frame .content .contact-profile {
            width: 100%;
            height: 50px;
            line-height: 60px;
            background: #05548b;
            color: #fff;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			position: absolute;
			top: 0px;
			z-index:999;
        }

            #frame .content .contact-profile img {
                width: 25px;
                height: 25px;
                height: 25px;
                float: left;
                position: relative;
                top: 21%;
                left: 10px;
                margin: 0;
                /* border-radius: 50%;
				border: #FFF 3px solid; */
            }
			#frame .content .social-media img {
                width: 15px;
				height: 15px;
				border-radius: 0px;
				float: left;
				margin: 7px 10px 0px 0px;
				border-radius: 0px;
				border:none;
            }

            #frame .content .contact-profile h1 {
                float: left;
                font-family: "Segoe UI Light", sans-serif;
                font-size: 1.3em;
                margin: 0px 0px 0px 20px;
				line-height: 2.3em;
            }

            #frame .content .contact-profile .social-media {
                float: right;
				margin: 0;
				height: 50px;
				padding: 0px;
				position: relative;
				top: 0px;
				right: 10px;
            }

                #frame .content .contact-profile .social-media i {
                    margin-left: 14px;
                    cursor: pointer;
                }
				#frame .content .contact-profile .social-media .question {
					font-size:28px;
				}
				#frame .content .contact-profile .social-media .window-minimize {
					font-size:18px;
				}

        #frame .content .messages {
            height: 383px;
            /* min-height: 375px; */
            /* max-height: 375px; */
            overflow-y: auto;
            overflow-x: hidden;
            background: url(images/chatbg.png);
            background-repeat: no-repeat;
            background-position: center;
			border-left: #f5f5f5 1px solid;
			background:#eef0f3;
			margin: 5px 0px;
			width: 100%;
			margin: 5px 0px;
			position: absolute;
			top: 90px;
        }
		.suggestion-open {
			height: 340px !important;
		}

            #frame .content .messages > ul > li {
                display: inline-block;
                clear: both;
                /* float: left; */
                margin: 0px;
				/* width: calc(100% - 10px); */
                font-size: 0.9em;
                padding: 0px 0px 0px 0px;
            }

            #frame .content .messages ul li.sent img {
                margin: 5px 15px 0 0;
            }

            #frame .content .messages ul li img {
                width: 22px;
                border-radius: 50%;
                float: left;
            }

            #frame .content .messages ul li.sent .info-text {
                background: rgba(0,119,189,1);
                color: #fff;
                /* border-top-left-radius: 0px; */
                font-family: "Segoe UI", sans-serif;
				    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 0px rgba(0,0,0,0.24);
            }
			

            #frame .content .messages ul li .info-text {
                display: inline-block;
                padding: 10px 15px;
                border-radius: 20px;
                max-width: 205px;
                line-height: 130%;
                font-family: "Segoe UI", sans-serif;
            }

            #frame .content .messages ul li.replies img {
                float: right;
                margin: 5px 0px 0 15px;
            }

            #frame .content .messages ul li img {
                width: 25px;
				height:25px;
                border-radius: 50%;
                float: left;
            }

            #frame .content .messages ul li.replies .info-text {
                color: rgba(31,26,23,1);
				background: #fff;
                float: right;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 0px rgba(0,0,0,0.24);
                /* border-top-right-radius: 0px; */
            }

        @media screen and (min-width: 735px) {
            #frame .content .messages ul li .info-text {
                max-width: 300px;
            }
        }

        #frame .content .messages ul li .info-text {
            display: inline-block;
            padding: 8px 8px;
            border-radius: 5px;
			width:250px;
            line-height: 16px;
            font-size: 12px;
        }

        #frame .content .message-input {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: #f5f5f5;
        }

            #frame .content .message-input .wrap {
                /* position: relative; */
            }

                #frame .content .message-input .wrap input {
                    font-family: "Segoe UI Semibold", sans-serif;
					float: left;
					border: none;
					width: calc(100% - 0px);
					padding: 0px;
					font-size: 0.8em;
					color: #32465a;
					height: 50px;
					font-size: 0.8em;
					/* background: #f5f5f5; */
                }

                #frame .content .message-input .wrap button {
                    float: left;
                    border: none;
                    width: 50px;
                    height: 42px;
                    padding: 12px 0;
                    cursor: pointer;
                }

                    #frame .content .message-input .wrap button:hover {
                        background: #f0f0f0;
                    }

                    #frame .content .message-input .wrap button.submit {
                        background: #0370C0;
                        color: #fff;
                    }

                        #frame .content .message-input .wrap button.submit:hover {
                            background: #05548b;
                        }

        .replies {
        }

        .sent {
        }

            .sent .text-muted {
                /* float: left; */
                font-family: "Segoe UI", sans-serif;
                font-size: 0.8em;
            }

        .replies .text-muted {
            /* float: right; */
            font-family: "Segoe UI", sans-serif;
            font-size: 0.8em;
        }


        .align-right {
            text-align: right;
        }

        .message-info {
            display: inline-block;
			width: 100%;
			margin: 0px 0px 5px 0px;
        }

        .macro {
            /* display: flex; */
            /* margin-left:-8px; */
            overflow-wrap: break-word;
        }
        .card-body .btn-group button{
            cursor:pointer;
        }
        /* .msjw:before { */
            /* width: 0; */
            /* height: 0; */
            /* content: ""; */
            /* top: 0px; */
            /* left: -13px; */
            /* position: relative; */
            /* border-style: solid; */
            /* border-width: 0 13px 13px 0; */
            /* border-color: transparent rgb(255, 255, 255) transparent transparent; */
            /* -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
            /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
        /* } */
        /* .msj:before { */
            /* width: 0; */
            /* height: 0; */
            /* content: ""; */
            /* top: -18px; */
            /* left: -8px; */
            /* position: relative; */
            /* border-style: solid; */
            /* border-width: 6px 8px 6px 0; */
            /* border-color: transparent rgba(0,119,189,1) transparent transparent; */
        /* } */

        /* .msj-rta:after { */
            /* width: 0; */
            /* height: 0; */
            /* content: ""; */
            /* top: -18px; */
			/* right: -231px; */
			/* position: relative; */
			/* border-style: solid; */
			/* border-width: 6px 0px 6px 8px; */
			/* border-color: transparent transparent transparent rgba(255,255,255,1); */
		/* } */
		.msj-rta.macro {
			margin-left:0px;
		}

        #frame .content .btnsBar label {
            font-family: "Segoe UI Semibold", sans-serif;
            font-size: 0.8em;
			padding:3px 12px;
			border-radius:0px;
        }

        .btnsBar {
			background: #d8d8d8;
			padding: 0px 5px;
			position: absolute;
			top: 50px;
			width: 515px;
			z-index:999;
		}

        .btn-group-toggle .btn input[type=checkbox],
        .btn-group-toggle .btn input[type=radio],
        .btn-group-toggle .btn-group .btn input[type=checkbox],
        .btn-group-toggle .btn-group .btn input[type=radio] {
            position: absolute;
            clip: rect(0,0,0,0);
            pointer-events: none;
        }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
            color: #fff;
            background-color: #545b62;
            border-color: #4e555b;
        }
        
        .btn-secondary {
            color: #000;
			background-color: rgba(255,255,255,1);
			border-color: rgba(255,255,255,1);
        }

            .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
                color: #fff;
                background-color: rgba(0,0,0,1);
                border-color: rgba(0,0,0,1);
            }

        .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
            background-image: none;
        }

        .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .b {
            width: 100%;
            white-space: nowrap;
            display: inline-block;
            overflow: -moz-scrollbars-none;
            -ms-overflow-style: none;
            overflow-x: auto;
        }

            .b::-webkit-scrollbar {
                display: none;
            }

        li {
            margin: 0;
            padding: 5px 0px 5px 5px;
            /* color: #fff; */
            /* display: inline-block; */
            //height: 2.66667em;
            box-sizing: border-box;
        }

        .card {
            font-family: "Segoe UI", sans-serif;
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: rgb(22, 74, 137);
            color: #fff;
            background-clip: border-box;
            border: 1px solid rgb(22, 74, 137);
            border-radius: .25rem;
			border-left-radius:0px;
            
        }

        .card-img-top {
            width: 100%;
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
        }

        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 0rem 1.25rem 1.25rem 1.25rem;
        }
		.card-body p.card-text {
			background:transparent !important;
		}

        .card-title {
            margin-bottom: .75rem;
        }

            .card-title.h5, .card-title h5, h5.card-title {
                font-size: 1.25rem;
            }

        .card-text:last-child {
            margin-bottom: 0;
        }

        .list-group {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
        }

        .list-group-flush .list-group-item {
            border-right: 0;
            border-left: 0;
            border-radius: 0;
        }

        .list-group-item:first-child {
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }

        .list-group-item:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }

        .list-group-item {
            position: relative;
            display: block;
            padding: .75rem 1.25rem;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.125);
        }

        .card-link + .card-link {
            margin-left: 1.25rem;
        }

        #frame .content .messages .card img {
            width: 100%;
            height: 180px;
            border-radius: 0px;
        }

        #frame .content .messages .card p {
            margin-bottom: 1rem;
            max-width: 100% !important;
            min-width: 100%;
        }

        #frame .content .messages .card .card-text {
            padding: 0px;
        }

        #frame .content .messages .card ul li {
            width: 100%;
            color: #333;
            margin: 0px;
            border-bottom: none;
        }

            #frame .content .messages .card ul li:last-child {
                border-bottom: #ddd 1px solid;
            }

        .card-img-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1.25rem;
            background: rgba(0,0,0,0.5);
            color: #fff;
        }

        /* .card-deck {  */
             /* display: -ms-flexbox; */
             /* display: flex;  */
             /* -ms-flex-direction: column;  */
            /* flex-direction: column;  */
            
        /* } */
            

            .card-deck .card {
                margin: 0px 15px 15px 0px !important;
            }

        .card-footer:last-child {
            border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
        }

        .card-footer {
            padding: .75rem 1.25rem;
            background-color: rgba(0,0,0,.03);
            border-top: 1px solid rgba(0,0,0,.125);
        }

        button {
            z-index: 102;
        }

        .msgBodyCarouselBar {
            font-family: "Segoe UI Semibold", sans-serif;
            font-size: 0.8em;
        }

            .msgBodyCarouselBar .card-text {
                width: 12rem;
                white-space: normal;
                font-size: 1.2em !important;
            }

        .message-data-botname {
                margin: -5px 10px 0px 0px;
				color: rgba(255,255,255,0.5);
				float: left;
				font-size: 9px;
        }
		.message-data-time {
                margin: -5px 0px 0px 0px;
				color: rgba(255,255,255,0.5);
				float: right;
				font-size: 9px;
        }
		
		.replies .message-data-botname {
                margin: -5px 0px 0px 0px;
				color: rgba(0,0,0,0.5);
				float: right;
				font-size: 9px;
        }
		.replies .message-data-time {
                margin: -5px 0px 0px 0px;
				color: rgba(0,0,0,0.5);
				float: left;
				font-size: 9px;
        }

        .message-data-username {
            margin: 0px 10px 0px 0px;
        }

        .msgBodyCarouselBar .card-title.h5,
        .msgBodyCarouselBar .card-title h5,
        .msgBodyCarouselBar h5.card-title {
            font-size: 1rem;
        }

        .msgBodyCarouselBar .card-body p {
            margin-bottom: 0.5rem;
        }

        .msgBodyCarouselBar .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1rem;
        }

        .btn-enter {
            background:#fff;
            border-color: rgba(3,112,192);
            padding: 6px 12px;
            color: #05548b;
        }

            .btn-enter:hover {
                background: #05548b;
                border-color: #05548b;
                color: #fff;
            }

        .btnsBar ul li {
    padding: 4px 0px 6px 5px;
    margin: 1px 1px 0px 0px;
	display:inline-block;
}


       /************** Media Queries ***************/
        @media screen and (min-width: 735px) {
            #frame .content .messages ul li .info-text{
				/* width: 200px; */
			}
        }

        @media (min-width: 576px) {
            .card-deck {
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                margin-right: -15px;
                margin-left: -15px;
            }
        }

        @media (min-width: 576px) {
            .card-deck .card {
                display: -ms-flexbox;
                display: flex;
                -ms-flex: 1 0 0%;
                flex: 1 0 0%;
                -ms-flex-direction: column;
                flex-direction: column;
                margin-right: 15px;
                margin-bottom: 0;
                margin-left: 15px;
            }
        }

        @media only screen and (min-width: 1541px) and (max-width: 1920px) {
            #frame .content .messages {
                /* min-height: 60.3vh; */
                /* max-height: 60.3vh; */
            }
        }

        @media only screen and (min-width: 1399px) and (max-width: 1540px) {
            #frame .content .messages {
                /* min-height: 72.3vh; */
                /* max-height: 72.3vh; */
            }
        }

        @media only screen and (min-width: 1199px) and (max-width: 1398px) {
            #frame {
				min-width: 350px;
				max-width: 350px;
				/* height: 70vh; */
			}
			#frame .content .messages {
                /* height:240px; */
				/* min-height: 240px; */
                /* max-height: 240px; */
            }
        }

        @media only screen and (min-width: 992px) and (max-width: 1023px) {
        }

        @media screen and (max-width: 1024px) {
            #frame {
                width: 100vw;
                height: 100vh;
                /* max-width: 100vw; */
                /* max-height: 100vh; */
                /* min-width: 100vw; */
                /* min-height: 100vh; */
            }

            /* .message-info { */
                /* width: 85.5vw; */
            /* } */

            #frame .content .messages ul li.sent .info-text {
                max-width: 75vw;
            }

            #frame .content .messages ul li.replies .info-text {
                max-width: 75vw;
            }

            #frame .content .messages {
                /* min-height: 67.8vh; */
                /* max-height: 67.8vh; */
				height:auto;
				display: block;
				position: absolute;
				width: 100%;
				top: 150px;
				bottom: 54px;
				padding: 0px 2vw 0 1vw;
            }
			#frame .content {
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
			}
			#frame .content .contact-profile {
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
			}
			#frame .content .contact-profile {
				width: 100%;
				height: 50px;
				line-height: 60px;
				background: #05548b;
				color: #fff;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				position: absolute;
				top: 55px;
				z-index:999;
			}
			.btnsBar {
				background: #d8d8d8;
				padding: 0px 5px;
				position: absolute;
				top: 105px;
				width: 100%;
			}
			#minimize {
				display:none;
			}
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
        }

        @media screen and (max-width: 768px) {
            /* .message-info { */
                /* width: 80.5vw; */
            /* } */
        }

        @media screen and (max-width: 767px) {
            #frame .content .contact-profile h1 {
                font-size: 1em;
				margin: 5px 0px 5px 20px;
				line-height:2.5em;
            }

            #frame .content .messages > ul > li {
                margin: 10px 10px 0px 10px;
                width: calc(100% - 20px);
            }

            /* .message-info { */
                /* width: 60.5vw; */
            /* } */
        }
		
		.card:before {
			/* width: 0; */
			/* height: 0; */
			/* content: ""; */
			/* top: -1px; */
			/* left: -11px; */
			/* position: relative; */
			/* border-style: solid; */
			/* border-width: 0 13px 13px 0; */
			/* border-color: transparent rgba(228,103,19,1) transparent transparent; */
			/* border-top-left-radius:0px; */
		}
		.white_bg{
			background-color:rgba(255,255,255,1) !important;
			border: 1px solid rgba(255,255,255,1) !important;
		}
		.orange_bg {
			background-color:rgba(248,195,0,1) !important;
			border: 1px solid rgba(248,195,0,1) !important;
		}
		.orange_bg:before {
			width: 0;
			height: 0;
			content: "";
			top: -1px;
			left: -11px;
			position: relative;
			border-style: solid;
			border-width: 0 13px 13px 0;
			border-color: transparent rgba(248,195,0,1) transparent transparent;
			border-top-left-radius: 0px;
		}
		.blue_bg {
			background-color:rgba(0,119,189,1) !important;
			border: 1px solid rgba(0,119,189,1) !important;
		}
		.blue_bg:before {
			width: 0;
			height: 0;
			content: "";
			top: -1px;
			left: -11px;
			position: relative;
			border-style: solid;
			border-width: 0 13px 13px 0;
			border-color: transparent rgba(0,119,189,1) transparent transparent;
			border-top-left-radius: 0px;
		}
		
		.blue_border {
			background-color:rgba(255,255,255,0.8) !important;
			border: 1px solid rgba(0,119,189,1) !important;
		}
		.blue_border:before {
			/* width: 0; */
			/* height: 0; */
			/* content: ""; */
			/* top: -1px; */
			/* left: -12px; */
			/* position: relative; */
			/* border-style: solid; */
			/* border-width: 0 12px 13px 0; */
			/* border-color: transparent rgba(0,119,189,1) transparent transparent; */
		}
		.red_bg {
			background-color:rgba(175,37,28,1) !important;
			border: 1px solid rgba(175,37,28,1) !important;
		}
		.help_icon {
			color: #333;
			font-size: 16px;
			position: relative;
			margin: 0px 0px 0px 5px;
			top: 3px;
		}
		.thumbs_icons {
			float: right;
			position: relative;
			right: 11%;
		}
		.like {
			color: #333;
			margin: 0px 5px;
			font-size: 16px;
		}
		.dislike {
			color: #333;
			margin: 0px 5px;
			font-size: 16px;
		}
		
		
		
.bottom_wrapper {
	/* position: relative; */
	width: 100%;
	background-color: #fff;
	padding: 5px 10px 5px 10px;
	/* position: absolute; */
	bottom: 0;
	/* border: 1px solid #bcbdc0; */
	height: 55px;
    border-top: 1px solid rgba(0,119,189,1);
}
.bottom_wrapper .message_input_wrapper {
	display: inline-block;
    height: 45px;
    /* border-radius: 25px; */
    /* border: 1px solid #bcbdc0; */
    width: calc(100% - 70px);
    position: relative;
    padding: 0 0px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50px;
  background-color: #004b88;
  border: 2px solid #004b88;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
  position: relative;
  /* bottom: 10px; */
  /* right: 0px; */
  /* top: 7px; */
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: rgba(0,119,189,1);
  border:2px solid rgba(0,119,189,1);
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}	

.send_message img {
	position:relative;
	top:10px;
	left:-2px;
}

textarea {
	outline:none;
}
.message_input_wrapper textarea {
    width: 100%;
	border: none;
	font-size:13px;
	font-family: "Segoe UI", sans-serif;
	padding: 0px 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	resize: none; 
	background:transparent;
	max-height:45px;
    }
	
	
/**************** For Popup *****************/	
		
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}	
/* .chat__content { */
	/* position: absolute; */
	/* bottom: 0; */
    /* width: 100%; */
    /* top: 14%; */
	/* height: 0; */
	/* -webkit-transition: height, 1s; */
	/* -moz-transition: height, 1s; */
	/* transition: height, 1s; */
/* } */
.chat_item {
	position: relative;
	margin-bottom: 1.25em;
	min-height: 4.5625em;
	display: none;
	overflow: hidden;
}
.chat_item--active {
	display: block;
	-webkit-animation-name: slideInUp;
	-moz-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
.chat_item:last-child {
	margin-bottom: 0;
}	
		
		
		
.message-data-time i {
	margin-right:5px;
}	
#frame .content .messages > ul > li.sent {
	width: calc(100% - 10px);
    float: right;
	padding: 3px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
}
#frame .content .messages > ul > li.replies {
	width: calc(100% - 10px);
    float: left;
	padding: 3px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
}
#frame .content .messages > ul > li.sent:last-child {
	margin: 0px 0px 10px 0px;
}	
#frame .content .messages > ul > li.replies:last-child {
	margin: 0px 0px 10px 0px;
}

.suggestionsBar{
	padding: 8px 5px;
    height: 44px;
    position: absolute;
    bottom: 55px;
    background: #ddd;
	width:100%;
}
.suggestionsBar li{
	font-size:12px;
	padding:0px 0px 5px 5px;
	display:inline-block;
}
.suggestionsBar button {
	display: block;
    background: #fff;
    border: none;
    border-radius: 20px;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 0px rgba(0,0,0,0.24) !important;
}
.suggestionsBar button:hover {
	 background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}



/* #frame .content .messages ul li.sent .info-text:before,  */
/* #frame .content .messages ul li.replies .info-text:after { */
	/* left: 100%; */
	/* top: 50%; */
	/* border: solid transparent; */
	/* content: " "; */
	/* height: 0; */
	/* width: 0; */
	/* position: absolute; */
	/* pointer-events: none; */
/* } */
/* #frame .content .messages ul li.sent .info-text:before { */
	/* border-color: rgba(194, 225, 245, 0); */
	/* border-left-color: #c2e1f5; */
	/* border-width: 36px; */
	/* margin-top: -36px; */
/* }  */
/* #frame .content .messages ul li.replies .info-text:after { */
	/* border-color: rgba(136, 183, 213, 0); */
	/* border-left-color: #88b7d5; */
	/* border-width: 30px; */
	/* margin-top: -30px; */
/* } */
.arrow_box {
	position: relative;
	background: #fff;
	border: 4px solid #;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 26px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #fff;
	border-width: 6px;
	margin-top: -18px;
}
.arrow_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #;
	border-width: 6px;
	margin-top: -18px;
}

.arrow_box2 {
	position: relative;
	background: #0077BD;
	border: 4px solid #;
}
.arrow_box2:after, .arrow_box2:before {
	right: 100%;
	top: 26px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box2:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #0077BD;
	border-width: 6px;
	margin-top: -18px;
}
.arrow_box2:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #;
	border-width: 6px;
	margin-top: -18px;
}

.bottom-bars {
	position:absolute;
	bottom:0px;
	z-index:999;
	width:100%;
}

.suggestions { padding-bottom:38px;}
.no-suggestions { padding-bottom:0px;}

/* for scrolling purpose */




.a {
    width: 100%;
    overflow: hidden;
    //height: 2.66667em;
}
.b {
  
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-x: auto;
}
.b::-webkit-scrollbar { 
    display: none; 
}

.scrollableUL{

    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    /* //height: 2.66667em;
    //padding-bottom: 0.62em; */
    cursor: ew-resize;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/**/

@media only screen and (min-width: 992px) and (max-width: 1023px) {
	
}

@media screen and (max-width: 1024px) {
	#frame .content .messages {
        height: 77vh;
    }
	.suggestion-open {
		height: 72.5vh !important;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#frame .content .messages {
        
    }
	.suggestion-open {
		
	}
}

@media screen and (max-width: 768px) {
	#frame .content .messages {
        height: 79vh;
    }
	.suggestion-open {
		height: 74.5vh !important;
	}
}

@media screen and (max-width: 767px) {
	#frame .content .messages {
		top:145px;
        height:65.5vh;
    }
	.suggestion-open {
		height: 58.5vh !important;
	}
	#frame .content .messages > ul > li.sent {
		width: calc(100% - 10px);
	}
	#frame .content .messages > ul > li.replies {
		width: calc(100% - 10px);
	}
}
@media screen and (max-width: 750px) {
	#frame .content .messages {
		top:145px;
        height:84.2vh;
    }
	.suggestion-open {
		height: 80.8vh !important;
	}
}
@media screen and (max-width: 720px) {
	#frame .content .messages {
		top:145px;
        height:83.5vh;
    }
	.suggestion-open {
		height: 79.9vh !important;
	}
}
@media screen and (max-width: 640px) {
	#frame .content .messages {
		top:145px;
        height:81.3vh;
    }
	.suggestion-open {
		height: 77.5vh !important;
	}
}
@media screen and (max-width: 600px) {
	#frame .content .messages {
		top:145px;
        height:79.4vh;
    }
	.suggestion-open {
		height: 74.9vh !important;
	}
}

/*iPad Pro*/
/* Landscape*/

@media only screen and 
(min-device-width: 1366px) 
and (max-device-height: 1024px) 
and (-webkit-min-device-pixel-ratio: 2)  
and (orientation: landscape)  {
	#frame .content .messages {
        
    }
	.suggestion-open {
		
	}
}

/* Portrait*/
@media only screen 
and (min-device-width: 1024px) 
and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)  
and (orientation: portrait)  {
	#frame .content .messages {
        height:84vh;
    }
	.suggestion-open {
		height:81vh !important;
	}
}