.header--top_bar {
  display: none;
}
.main_menu {
  display: none;
}
.right_icon {
  padding: 0px 0px 0px 10px;
}
.right_icon img {
  height: 28px;
}
.hamburger_icon {
    padding: 0.0rem 0rem;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
    margin-right: 10px;
}
.hamburger_icon:hover {
  background-color: #F6F6F6;
  
}
.hamburger_icon img {
  width: 24px;
}
.nav_bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0px 0px 0px;
}

.nav_bar .navigation{
  margin-left: auto;
}
.nav_bar .navigation nav {
  display: none;
}
.nav_bar .navigation img{
  width: 28px;
}
.hamburger_section {
    position: relative;
  background-color: #fff;
  margin-bottom: 7px;
}
.hamburger_links {
  padding: 16px 0 22px 0;
  background-color: #fff;
}
.hamburger_links ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.hamburger_links a {
  padding: 12px 22px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  display: flex;
  font-weight: normal;
  align-items: center;
  -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
    position: relative;
}
.hamburger_links .accordian_sub_list{
  margin: 0 0 0 60px;
  padding: 0;
}
.hamburger_links .accordian_sub_list a{
  color: #666;
  font-size: 14px;
  display: block;
  padding: 8px 20px;
  
}
/*.hamburger_links a.active{
  background-color: #F2F7FB;
}*/
.hamburger_links a.active .check_icon{
  padding-left: 16px;
}
.hamburger_links a:hover {
color: #333;
  /*background-color: #F6F6F6;*/
text-decoration: none;
}

.hamburger_links img {
  padding-right: 14px;
  height: 25px;
}
.hamburger_links .arrow{
  margin-left: auto;
  padding-right: 0;
}
.hamburger_links h5{
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  padding: 16px 0px 16px 22px;
  text-transform: uppercase;
  margin: 0px;
}

.single_item a, .back_header{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 6px 22px;
  height: 75px;
  color: #333333;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.single_item a:hover{
text-decoration:none;
  background-color: #F6F6F6;
color: #333333;
}
.single_item .icon {
  width: 32px;
  margin-right: 13px;
}
.single_item h4 {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  margin: 0;
}
.single_item h4 label {
  font-size: 12px;
  font-weight: normal;
  color: rgb(133, 133, 133);
  padding-top: 5px;
    margin-bottom: 0px;
}
.single_item .arrow{
  margin-left: auto;
  width: 24px;
}
.back_header{
  background-color: #fff;
  padding: 12px 8px;
  height: auto;
}
.back_header i{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.back_header i:hover
{
  background-color: #f6f6f6;
}
.back_header img{
  width: 24px;
}

.hamburger.active{margin-left: 0px;transition: ease all 0.3s;}
.hamburger {
    z-index: 999;
transition: ease all 0.3s;
margin-left: -340px;
  height: 100vh;
  width: 340px;
  background-color: #F7F7F7;
  overflow-x: hidden;
  position: fixed; top: 0px; left: 0px;
}
.hamburger footer{
  padding: 10px 16px;
}
.hamburger footer img{
  /*height: 32px;*/
}
.business_dropdown {
max-height: 0px;
  background-color: #fff;
  border: 0px solid #eee;
  border-radius: 12px;
  width: 260px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgb(0, 0, 0, .12);
  position: absolute;
  right: 0px;
  top: 150%;
  transition: ease all 0.5s;
z-index: 9999999;
margin-top: 6%;
}
.top_bar_nav.active .business_dropdown {border: 1px solid #eee;max-height: 1500px;display: block;top: 100%; transition: ease all 0.5s;margin-top: 0%;}
.business_dropdown a{
  display: flex;
  border-bottom: 1px solid #F1F1F1;
  align-items: center;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  padding: 10px 14px;
  -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
.business_dropdown a:last-child {border-bottom: 0}
.business_dropdown a:hover{
  background-color: #F6F6F6;
color: #333;
text-decoration:none;
}
.business_dropdown a.active{
  /*background-color: #F2F7FB;*/
}

.business_dropdown i img{
height: 24px;
padding-right: 14px;
}
.business_dropdown a.active .check_icon{
  height: 24px;
  padding-right: 0px;
  margin-left: auto;
}
.sub_title{
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  padding: 32px 0px 16px 0px;
  text-transform: uppercase;

}
.business {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 14px;
}
.business a{
  padding: 0px;
}
.check_icon  {
  padding-left: 16px;
}
.check_icon img{
  height: 24px;
}
@media only screen and (min-width: 900px) {
.contact_info{padding-left: 8px;}
  header .container {
    max-width: 1200px;
    padding: 0px;
  }
  .header--top_bar {
    display: flex;
    align-items: center;
    padding: 0 32px;
    background-color: #222222;
    color: #fff;
    height: 40px;
  }
  .top_bar_nav > a{
    color: #fff;
    font-size: 14px;
  }
  .header--top_bar img {
    height: 20px;
    padding-right: 5px;
  }
  .contact_info{
    display: flex;
    align-items: center;
  }
  .top_bar_nav {
    margin-left: auto;
  }
  .top_bar_nav > a {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .top_bar_nav > a:hover, .top_bar_nav.active > a {
color:#fff;
text-decoration:none;
    background-color: #434343;
  }
  .nav_bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    flex-wrap: wrap;
    padding: 0 32px;
    height: 76px;
    background-color: #fff;
position: relative;
  }
  .nav_bar .navigation {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav_bar .navigation nav{
    display: flex;
    font-size: 16px;
    align-items: center;
    padding-right: 0px;
  }
  .nav_bar .navigation .nav_button{
text-decoration: none;
    background-color: #06B36E;
    height: 32px;
    padding: 4px 12px;
    margin: 0px 12px;
    border-radius: 20px;
    color: #fff;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .nav_bar .navigation .nav_button:hover{
    background-color: #04BE74;
    
  }
  
  .nav_bar .navigation nav a{
text-decoration: none;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    color: #333333;
    border-radius: 20px;
    height: 32px;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .nav_bar .navigation nav a:hover{
    background-color: #f6f6f6;
  }
  .nav_bar .navigation img{
    width: 28px;
  }
}
.top_bar_nav{position:relative;}
.contact_info a{color:#fff;padding: 0px;}
.contact_info a:hover{color:#fff;text-decoration:none;}
.header_overlay{position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgb(0 0 0 / 29%);opacity:0;z-index: 99;display:none;}
.header_overlay.active{width:100%;opacity:1;display:block;    z-index: 999;}

.hamburger::-webkit-scrollbar {
  width: 7px;
}
.hamburger::-webkit-scrollbar-track{
  background: transparent; 
}
.hamburger::-webkit-scrollbar-thumb{
  background: #777;
  border-radius:3px;
}
.hamburger_submenu{position: absolute; top: 0px; right: -340px; width: 100%; height: 100vh;background: #fff;overflow: hidden;/*margin-left: -340px;*/ transition: ease all 0.5s;z-index: 9;}
.hamburger_submenu.active{height: 100vh;right: 0px; transition: ease all 0.5s;}
.hamburger_main.in_active{overflow: hidden; transition: ease all 0.3s; max-height: 0px;}
.hamburger_main{}
.business_dropdown a.active:after { content: ""; background: url(/-/media-archive/check-blue.svg); width: 20px; height: 20px; object-fit: cover; background-repeat: no-repeat; background-size: cover; margin-left: 10px; right: 10px; position: absolute;}
.business_dropdown a label{cursor:pointer; margin-bottom: 0px;font-size: 16px; font-weight: 500;}
.contact_info span{position: relative; top: -2px;}
.hamburger_links li{}
.hamburger_links li.active{}
.hamburger_links li .arrow{
    transition: ease all 0.3s;
    transform: rotate(180deg);
}
.hamburger_links li.active .arrow{
    transition: ease all 0.3s;
    transform: rotate(
0deg);
}
.hamburger_links li .accordian_sub_list{
    max-height: 0px;
    overflow: hidden;
}
.hamburger_links li.active .accordian_sub_list{
    max-height: 1500px;
    position: relative;
}
.hamburger_links li{position:relative;}
.hamburger_links a.hamburger_dropdown { position: absolute; top: 0px; right: 8px;transform: rotate(0deg); }
.hamburger_links a.hamburger_dropdown img { transform: rotate( 0deg); }
.hamburger_links--arrow { position: absolute; top: 13px; right: 25px;cursor: pointer;}
.hamburger_links li:hover{background-color: #F6F6F6;}
.hamburger_submenu--item .hamburger_links li:hover{background-color: transparent;}
.hamburger_submenu--item .hamburger_links li a:hover{background-color: #F6F6F6;}
.hamburger .single_item:hover { background: #F6F6F6; }
.top_bar_nav.active:before { content: ""; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgb(204 204 204 / 0%); z-index: 2; }
.hamburger .single_item{ position: relative; } .single_item .hamburger_dropdown{ position: absolute; top: 50%; right: 0px; /* padding: 0px; */ width: auto; transform: translateY(-50%); } .single_item .hamburger_dropdown img{ width: 24px; }
.overflow-hidden{overflow: hidden!important;}
.hamburger_links li.active .accordian_sub_list:before { content: ""; position: absolute; top: 50%; left: 5px; transform: translateY(-50%); background: #332; height: 4px; width: 4px; border-radius: 100px; }
.hamburger_submenu--business li.business_active a:after { content: ""; background: url('/-/media-archive/check-blue.svg'); width: 20px; height: 20px; object-fit: cover; background-repeat: no-repeat; background-size: cover; margin-left: 10px;position: absolute; right: 20px; top: 50%; transform: translateY(-50%); }
@media(max-width:991px){
.nav_bar{padding: 10px 10px 5px 5px;}
main { padding-top: 50px; }
/*.nav_bar .navigation{display:none;}*/
/*change-1 | av | START*/
.main-header .nav_bar .navigation {
    display: block;
}
.main-header .nav_bar .navigation ul.navbar-nav {
    display: none;
}
.main-header .nav_bar .navigation ul.call_icon {
    display: block !important;
}
.main-header .nav_bar .navigation ul.call_icon li:not(.custom-enq-now) {
    display: none;
}
.navigation .call_icon li a {
    font-size: 15px;
}
/*change-1 | av | END*/

main{padding-top: 3.5rem;}
.call_icon{display:none !important;}
.video-banner .owl-nav{display:none;}
body.chat-open{position: relative !important;}
}
.contact_info{font-size: 14px;}


/*Primary menu*/
@media(min-width:992px){
.navigation{min-width: 550px;}
.navigation .navbar-nav{width: 100%;display: block;text-align: right;}
.navigation .navbar-nav .nav-item{display: inline-block;position: unset;padding: 1.4rem 0rem;}
.navigation .navbar-nav .nav-item > a{text-decoration: none; padding: 4px 12px; display: flex; align-items: center; color: #333333; border-radius: 20px; height: 32px; -webkit-transition: background-color .4s ease-out; -moz-transition: background-color .4s ease-out; -o-transition: background-color .4s ease-out; transition: background-color .4s ease-out;font-size: 18px;}
.navigation .navbar-nav .nav-item > a:hover{background-color: #f6f6f6;}
.navigation .navbar-nav .nav-item .dropdown-menu{position: absolute; max-height: 0px; top: 0px;}
.navigation .navbar-nav .nav-item .dropdown-menu{position: absolute; top: 99%; max-width: 80%; left: auto; right: 10px; background: #fff; overflow: hidden; min-width: 750px; border-radius: 12px; box-shadow: 0 1px 3px rgb(0 0 0 / 12%); width: 100%;padding-left: 0px;}
.navigation .navbar-nav .nav-item.Commdropdown .dropdown-menu{width:75%; padding-top: 20px; padding-left: 20px;padding-right: 45px;}
.navigation .navbar-nav .nav-item .dropdown-menu .tab button{margin-bottom: 0px;}
.navigation .navbar-nav .nav-item .dropdown-menu .tabsubmenu img{width: 100% !important;height: 100%; object-fit: cover;padding-bottom: 10px;}
.navigation .navbar-nav .nav-item .dropdown-menu .tabsubmenu{min-height: 328px;}
.navigation .navbar-nav .nav-item .dropdown-menu .tabsubmenu ul#ulimg, .navigation .navbar-nav .nav-item .dropdown-menu .tabsubmenu ul#ulimg li{height:100%;} 
.navigation .navbar-nav .nav-item:hover .dropdown-menu{max-height: 1500px;}
.navigation .navbar-nav .nav-menus li{margin-bottom: 0.3rem;}
.navigation .navbar-nav .nav-menus li a{font-size: 14px;}
.navigation .navbar-nav .nav-item .dropdown-menu .tab button.active-tab{background: #f1f1f1;}
.navigation .navbar-nav .nav-item .dropMenuIcon{color: #333333;}
.navigation .navbar-nav .dropdown:hover > .dropdown-menu { animation: fadeIndown-menu .8s; display: block !important; }
.navigation .navbar-nav .dropdown .menu-tile { width: 100% !important;}
.navigation .navbar-nav .nav-item.Commdropdown .dropdown-menu .imgdiv{position:relative; margin-bottom: 20px;}
.navigation .navbar-nav .nav-item.Commdropdown .dropdown-menu .imgdiv h5{position:absolute; bottom:0; color:#fff !important; left:15px; font-size: 14px; font-weight: bold;}
.navigation .navbar-nav .nav-item.Commdropdown .dropdown-menu .imgdiv span{ color:#fff !important;font-size: 12px; font-weight: normal;}
.navigation .navbar-nav .nav-item.Commdropdown img{border-radius: 8px;}
.RectangleMask {
  width: 100%;
  height: 92px;
  object-fit: contain;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, #000);
  display:block;
  max-width: 90%;
}
.PropertyInfo{position: absolute;bottom: 20px;left: 20px;}
}
header{background: #fff;}
.tab button:hover{background: #f1f1f1;}
/*.navigation .call_icon{position: relative;z-index: 10;}*/
/*change-1 | av | START*/
.navigation .call_icon {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}
.navigation .call_icon li a {
    color: #333333;
    white-space: nowrap;
    padding: 4px 12px;
    display: block !important;
}
/*change-1 | av | END*/
.navigation .call_icon .call_icon--button{min-width: 132px;border: 0px; background: transparent; padding: 2.45rem 0rem 2.45rem 0.5rem;text-decoration: none; display: flex; align-items: center; color: #333333; border-radius: 20px; height: 32px; -webkit-transition: background-color .4s ease-out; -moz-transition: background-color .4s ease-out; -o-transition: background-color .4s ease-out; transition: background-color .4s ease-out; font-size: 18px;cursor: pointer;}
.navigation .call_icon .call_icon--button span{background-color: #fff;border-radius: 12px; padding: 2px 10px;}
.navigation .call_icon .call_icon--button:hover span{background-color: #f6f6f6;}
.navigation .call_icon .dropdown:hover .call_dropdown-content{max-height: 1500px;}
.navigation .call_icon .call_dropdown-content{position: absolute; right: 0pc; min-width: 350px; background: #fff; z-index: 9; box-shadow: 0 1px 3px rgb(0 0 0 / 12%); border-radius: 12px; padding: 0rem;max-height: 0px; overflow: hidden;top: 95%;}
.navigation .call_icon .call_dropdown-content p{margin-left: 0rem; margin-right: 0rem; border-bottom: 1px solid #333;}
.navigation .call_icon .call_dropdown-content p span{}
.navigation .nav-icons{margin-left: 0px; display: none;}
.navigation .nav-icons li{margin: 0px 0px 0px 10px;top: 0px;}
.navigation .nav-icons li .dropbtn{top: 0px;padding: 1.5rem 20px;}
.navigation .nav-icons .dropdown{padding: 0rem 0px;}
.navigation .nav-icons .dropdown .dropdown-content{max-height: 0px; overflow: hidden; display: block;border-radius: 12px;z-index:9999;box-shadow: 0 1px 3px rgb(0 0 0 / 12%);left: unset;top: 99%;}
.navigation .nav-icons:hover .dropdown .dropdown-content{max-height: 1500px; right: 0px; animation: fadeInDown-menu .8s;}

@keyframes fadeIndown-menu {
    from {
        transform: translate3d(-10px,0px,0px,0px)
    }

    to {
        transform: translate3d(0px,0px,0px,0px);
        opacity: 1
    }
}

@-webkit-keyframes fadeIndown-menu {
    from {
        transform: translate3d(-10px,0px,0px,0px)
    }

    to {
        transform: translate3d(0px,0px,0px,0px);
        opacity: 1
    }
}
@media(max-width:576px){ .hamburger footer{ /*padding-bottom: 2.5rem;*/ } 
.hamburger{height: 100vh;width: 90%;max-width: 340px;}
}

.video-banner{}
.video-banner:hover .owl-nav{opacity: 1;transition: ease all 0.3s;}
.video-banner .owl-nav{position: absolute; top: 42%; width: 90%; left: 50%; transform: translate(-50%, -50%);height:0px;z-index: 9;opacity: 0;transition: ease all 0.3s;}
.video-banner.owl-carousel .owl-nav button.owl-prev{position:absolute;left: 0px;outline: 0;background: none; background-color: #fff; height: 40px; border-radius: 100px; width: 40px; font-size: 2rem; line-height: 28px; margin-left: 0px;}
.video-banner.owl-carousel .owl-nav button.owl-prev i:before{content:"";background: url('/-/media-archive/back.svg');width: 9px;height: 16px;display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-repeat: no-repeat;}
.video-banner.owl-carousel .owl-nav button.owl-next{position:absolute;right: 0px;outline: 0;background: none; background-color: #fff; height: 40px; border-radius: 100px; width: 40px; font-size: 2rem; line-height: 28px; margin-left: 0px;}
.video-banner.owl-carousel .owl-nav button.owl-next i:before{content:"";background: url('/-/media-archive/fwd.svg');width: 9px;height: 16px;display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-repeat: no-repeat;}

#carousel:hover .owl-nav{opacity: 1;transition: ease all 0.3s;}
#carousel .owl-nav{position: absolute; top: 45%; width: 90%; left: 50%; transform: translate(-50%, -50%);height:0px;z-index: 9;opacity: 0;transition: ease all 0.3s;}
#carousel.owl-carousel .owl-nav button.owl-prev{position:absolute;left: 0px;outline: 0;background: none; background-color: #fff; height: 40px; border-radius: 100px; width: 40px; font-size: 2rem; line-height: 28px; margin-left: 0px;}
#carousel.owl-carousel .owl-nav button.owl-prev i:before{content:"";background: url('/-/media-archive/back.svg');width: 9px;height: 16px;display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-repeat: no-repeat;}
#carousel.owl-carousel .owl-nav button.owl-next{position:absolute;right: 0px;outline: 0;background: none; background-color: #fff; height: 40px; border-radius: 100px; width: 40px; font-size: 2rem; line-height: 28px; margin-left: 0px;}
#carousel.owl-carousel .owl-nav button.owl-next i:before{content:"";background: url('/-/media-archive/fwd.svg');width: 9px;height: 16px;display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-repeat: no-repeat;}
#carousel .owl-dots button{width:24px;}
#carousel .owl-dots .active span { background: #fff !important; border:2px solid #333; width: 12px !important; height: 12px !important; position:relative; top:1px; }
#carousel .owl-dots .owl-dot span { width: 10px; height: 10px; display: block; background: #333; border-radius: 100px;border: 1px solid #fff; }


/*#ymPluginDivContainerInitial{display: none !important;}*/
#ymPluginDivContainerInitial.active{display: block !important;}
/*
.enquiryBtn{display:none;}
.enquiryBtn.active{display:block !important;}*/

/*change-1 | av | START*/
.enquiryBtn, 
.enquiryBtn.active{
  display:none;
}
/*change-1 | av | END*/

.innerbanner .bannerImg{position:relative;}

#ym-notification {
    z-index: 99999 !important;
}
body.overflow-hidden { overflow: hidden !important; position: relative !important;  }
#features .row{} #features .row .col-lg-2:first-child{ margin-left: auto; } #features .row .col-lg-2:last-child{ margin-right: auto; }



.modal_disclaimer .modal-dialog{
    padding: 0px !important;
}
.modal_disclaimer .modal-body{
    max-height: 80vh;
    overflow: auto;
}

.modal_disclaimer h3{
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 0.9rem;
    margin-bottom: 0.9rem;
}
.modal_disclaimer .btn{
    width: 182px;
	font-size:18px;
    border-radius: 38px;
		background-color: #1166d3;

}
.modal_disclaimer .btn:hover{
background-color: #2d84f4;
}
.modal_disclaimer .modal-footer{border-top: 0px;}
.modal_disclaimer .modal-body{padding: 2.5rem;}
@media(max-width:991px){
.modal_disclaimer .modal-body{padding: 1.5rem;}
}
.siteintro .book_now-cta{display:none !important;}
.call_dropdown-content form .field-validation-error{font-size: 13px; color: red;}

#carousel:before{background-repeat-y: no-repeat;}

.realty-profile .stats-icn img { margin-bottom: 7px; width: 46px; height: auto; }

.navigation .navbar-nav .nav-item .dropdown-menu .tabsubmenu ul#ulimg li img:nth-child(2){display:none;}

#business-parents{}
#business-parents .btnNext{border: 0px; border-radius: 38px; background-color: #1166d3; padding: 14.5px 30px; text-align: center; font-size: 18px; color: #fff !important; cursor: pointer;}
#business-parents .btnNext{}