@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (RenderingContext.Current.Rendering.Item != null)
{
    <div class="container">
        <div class="banner-section">
            <h1 class="page-title"> @Html.Sitecore().Field("Title", currentItem)</h1>
            @{
                Sitecore.Data.Fields.ImageField bannerImg = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Image"]);
                string imageUrl = bannerImg != null && bannerImg.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(bannerImg.MediaItem) : "";
            }
            <img class="img-fluid rounded" src="@imageUrl" loading="lazy"/>
        </div>
    </div>
}
