@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel

<div class="container">
    @Html.Sitecore().DynamicPlaceholder("container-placeholder")
</div>
    
