@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();
}



@if (currentItem != null)
{
    <div class="footer-illustration d-block d-md-none">
        <img src="@_helper.GetImageURL(currentItem, "MobileImage")" alt="@_helper.GetImageAlt(currentItem, "MobileImage")" loading="lazy">
    </div>
}
