@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ 
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string containerClass = !string.IsNullOrEmpty(RenderingContext.Current.Rendering.Parameters["containerclass"]) ? RenderingContext.Current.Rendering.Parameters["containerclass"] : string.Empty;
}

<div class="@containerClass">
    @Html.Sitecore().Placeholder("page-section")
</div>
