<div class="section-breadcrumb">
	<div class="container">
		<ol class="breadcrumb ad-breadcrumb margin-0">
			<li *ngFor="let breadcrumb of ChairmansMessage.GenericBredcrumbNavigation.Data; last as isLast"
				class="breadcrumb-item">
				<a *ngIf="!isLast" href="{{breadcrumb.Link}}">{{breadcrumb.Heading}}</a>
				<a *ngIf="isLast" class="active">{{breadcrumb.Heading}}</a>
			</li>
		</ol>
	</div>
</div>
<section class="py-5 bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img alt="{{ChairmansMessage.ImageAltText}}" src="{{ChairmansMessage.Image}}" class="img-fluid" />
			</div>
			<div class="col-lg-9 chairman-msg">
				<div class="border-left mb-3 pl-3 chairman-title">
					<h2>{{ChairmansMessage.ImageAltText}}</h2>
					<p>{{ChairmansMessage.Designation}}</p>
				</div>
				<div innerHTML="{{ChairmansMessage.HTMLText}}">

				</div>
			</div>
		</div>
	</div>
</section>