@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var h1 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["h1"];
    var p = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["p"];
    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/AdaniSolar/", "");
    var path = ContentPath.Replace("/AdaniSolar/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
}

<section class="breadcrumb-sub-layout bg-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb-sublayout-ul">
                    @for (int i = 0; i < pathArr.Count() - 1; i++)
                    {
                        navPath = navPath + pathArr[i];
                        <li><a href="@navPath">@pathArr[i]</a></li>
                        navPath = navPath + "/";
                    }
                </ul>
                @if (!string.IsNullOrEmpty(h1))
                {
                    <h1>@h1</h1>
                }
                @if (!string.IsNullOrEmpty(p))
                {
                    <p>@p</p>
                }
            </div>
        </div>
    </div>
</section>
