@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

}

@if (elements != null)
{
    <section class="py-5 bg-black position-relative">
        <div class="bg-images">
            @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, elements)
        </div>
        <div class="container" data-aos="fade-right">
            <h3 class="txt-white text-center position-relative mb-3">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h3>

            @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)

        </div>
    </section>
}