@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
@if (elements != null)
{
    <section class="py-5 solar-works">
        <div class="container" data-aos="fade-up">
            <h2 class="text-center sectionHeading mb-5">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <p class="txt-lg vertical-middle">@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)</p>
                </div>
                <div class="col-lg-8" data-aos="fade-left">
                    @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, elements, cssClass: "img-fluid")                    
                </div>
            </div>
        </div>
    </section>
}