@using Sitecore.Feature.Media
@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}

    <section class="bg-gray py-5">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    @Html.Sitecore().Field(Templates.HasPageContent.Fields.Summary, elements)
                </div>
                <div class="col-lg-7">
                    @Html.Sitecore().Field(Templates.HasPageContent.Fields.Body, elements)
                </div>
                <div class="col-lg-4 sus-report bg-gradient padd-box">
                    @Html.Sitecore().Placeholder("sustainability-report")
                </div>
            </div>
        </div>
    </section>
