@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

}
@if (elements != null)
{
    var itemList = elements.Axes.GetDescendants();

    <section class="pt-5  pb-3 bg-gray z-index-2 position-relative overflow-hidden" id="business-stats" data-aos="fade-up" data-aos-duration="1000">
        <div class="bg-sidebar"><img src="../styles/images/about-element.png"></div>
        <div class="scroll-icon scroll-section">
            <img src="../styles/images/graphic-rotate-2.png"
                 class="img-fluid">
        </div>
        <div class="container">
            <h2 class="text-center sectionHeading">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>
            @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)
        </div>
    </section>

    <section class="z-index position-relative bg-gray stats-main" data-aos="fade-down" data-aos-duration="1000">
        <div class="container">
            <div class="home-miletone">
                <div class="row">
				@if (itemList != null)
                {
                    foreach (var item in itemList)
                    {
                            <div class="col-lg-3 col-md-6 mb-4">
                                <div class="p-3 boxzoom box-block h-100 text-center">
								@Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, item, cssClass: "mb-2 img-fluid")
                                <p class="text-center">
                                    <span>
                                        @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)
                                    </span>
                                </p>
								</div>
                            </div>
                    }
                }
				</div>
				<!-- <p class="text-center loadMor">View more</p> -->
				<!-- <p class="text-center arrow loadMor pb-2">View more<em class="fa fa-chevron-down ml-2"></em></p> -->
            </div>
        </div>
    </section>
}