@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

}

@if (elements != null)
{
    var itemList = elements.Axes.GetDescendants();
    <section class="bg-gray py-5">
        <div class="container" data-aos="fade-up">
            <h2 class="text-center sectionHeading mb-3">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>
            <p class="txt-center">
                @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)
            </p>
            @if (itemList != null)
            {
                <div class="owl-carousel epc-solution">
                    @foreach (var item in itemList)
                    {
                        <div class="item">
                            @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, item)
                            <p>@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)</p>
                        </div>
                    }
                </div>
            }
        </div>
    </section>
}