@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
<!--REI form start-->
<div class="modal video show" id="REIFormm" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- Modal body -->
            <div class="modal-body p-3">
              @Html.Sitecore().Placeholder("REIForm")
            </div>
        </div>
    </div>
</div>
<!--REI form end-->

<!--SPI form start-->
<div class="modal video show" id="SPIFormm" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- Modal body -->
            <div class="modal-body p-3">
              @Html.Sitecore().Placeholder("SPIForm")
            </div>
        </div>
    </div>
</div>
<!--SPI form end-->