@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
@if (elements != null)
{
    Sitecore.Data.Fields.LinkField linkvalue = elements.Fields["MediaLink"];
    var link = linkvalue.GetFriendlyUrl();
    <section class="position-relative bg-black pt-5 pb-4">
        <div class="bg-images">
            @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, elements)
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <p class="txt-md txt-white text-lg-right text-center mb-2">
                        @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)
                    </p>
                </div>
                <div class="col-lg-2 text-lg-right text-center ml-auto" data-aos="fade-left">
                    <p><a href="@link" class="btn btn-gradient">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</a></p>
                </div>
            </div>
        </div>
    </section>
}