@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var cssClass = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["CssClass"];

}
@if (elements != null)
{
    var itemList = elements.Axes.GetDescendants();
    if (itemList != null)
    {
        <section class="mb-5 @cssClass">
            <div class="container" data-aos="fade-up">
                <h3 class="heading pl-4 mb-5">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title)</h3>
                <div class="owl-carousel certificate-block">
                    @foreach (var item in itemList)
                    {
                        <div class="item">
                            @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, item)
                        </div>
                    }
                </div>
            </div>
        </section>
    }
}