@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

}
@if (elements != null)
{
    var itemList = elements.Axes.GetDescendants();

    <section class="bg-gray pb-5 authorized-partners" id="authorizedpartner">
        <div class="container">
            <h4 class="heading pl-4 mb-4">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h4>
            <div class="row">
                @if (itemList != null)
                {
                    foreach (var item in itemList)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
							<div class="pb-3 boxzoom box-block h-100">
                            @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, item, cssClass: "img-fluid")
                            <p>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</p>
                            <p>
                                <span>
                                    @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)
                                </span>
                            </p>
							</div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>

}
