@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel


<section class="position-relative z-index bg-gray py-4">
    <div class="container position-relative z-index">
        <div class="row">
            <div class="col-lg-6 py-3" data-aos="fade-right">
                <!-- @Html.Sitecore().Placeholder("our-client-speak") -->
				<h2 class="text-center sectionHeading mb-5">Take a 360<sup>o</sup> Tour</h2>
				<div class="video-popup" data-toggle="modal" data-target="#video360"><img src="../styles/images/solar-Video-Thumb.png" class="img-fluid w-100">
				<p>Experience the Virtual Tour of state–of-the-art Adani Solar Manufacturing Facility</p>
				</div>
            </div>
            <div class="col-lg-6 py-3 mx-auto text-left" data-aos="fade-left">
                @Html.Sitecore().Placeholder("project-gallery")
            </div>
        </div>
    </div>
    <div class="scroll-icon scroll-section-btm" data-aos="fade-up">
        <img src="../styles/images/graphic-rotate-2.png" class="img-fluid">
    </div>
</section>

<div class="modal events-modal" id="video360">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-body">
                            <div class='embed-container'><iframe id="360v" data-src="https://www.youtube.com/embed/an8jdqFN6a8" src="" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

<!-- <div class="modal events-modal" id="360video"> -->
                <!-- <div class="modal-dialog modal-dialog-centered"> -->
                    <!-- <div class="modal-content"> -->
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <!-- <div class="modal-body"> -->
                            <!-- <div class='embed-container'><iframe id="360v" data-src="https://www.youtube.com/embed/an8jdqFN6a8" src="" frameborder='0' allowfullscreen></iframe></div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->