@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
@if (elements != null)
{
    <section class="bg-black py-5 position-relative fixed-bg">
        <div class="bg-images bg-fix">
            @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMedia.Fields.Thumbnail, elements)
        </div>
        <div class="container">
            <h2 class="heading pl-4 mb-4 txt-white position-relative">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>
			<p class="mb-3 text-left position-relative text-white pl-4 ml-1">Milestones distinguished great organisations from the ordinary. We at Adani Solar were fortunate to experience many landmarks within a short span. </p>
            <div class="about-miletone">
				<div class="row">
                @Html.Sitecore().Placeholder("market-Leadership-section")
				</div>
            </div>
        </div>
    </section>
}