@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
@if (elements != null)
{
    var leaderList = elements.Axes.GetDescendants();
    if (leaderList != null)
    {
        foreach (var item in leaderList)
        {
            if (item.FieldHasValue(Templates.HasMediaImage.Fields.Image))
            {
                
                    <div class="col-lg-3 col-md-6 mb-4">
						<div class="p-3 boxzoom box-block h-100 text-center">
                        @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, item, cssClass: "img-fluid mb-2")
						<p>@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)</p>
						</div>
                    </div>
            }
        }
    }
}

