@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
@if (elements != null)
{
    var itemList = elements.Axes.GetDescendants();
    <section class="bg-gray pt-5">
        <div class="container" data-aos="fade-up">
            <h2 class="text-center sectionHeading mb-5">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>
            <div class="owl-carousel sunplugged-carousel">
                @if (itemList != null)
                {
                    foreach (var item in itemList)
                    {
                        <div class="item">
                            <div class="bg-white mx-2">
                                <div class="icn-sunplugged">
                                    @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, item, cssClass: "img-fluid")
                                </div>
                                <div class="sunpugged-cont">
                                    <h4>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</h4>
                                    <p>
                                        @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
}