@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
@if (elements != null)
{
    var projectItemList = elements.Axes.GetDescendants();
    if (projectItemList != null)
    {
        <h2 class="text-center sectionHeading mb-5">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>
        <div class="owl-carousel single-item p-gallery">
            @foreach (var item in projectItemList)
            {
                <div class="itme">
                    @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, item, cssClass: "img-fluid")
                    <p>
                        @Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)
                    </p>
                </div>
            }
        </div>
        <p>
            <a href="/Solutions/Projects-Gallery" class="viewmore">View more</a>
        </p>
    }
}