@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Mvc.Analytics.Extensions
<section class="bg-gray py-5">
        <div class="container">
            <h4 class="heading pl-4 mb-4">Register for Webinar</h4>
            <div class="contact-form">
                @Html.Sitecore().Placeholder("webinar-form-base")
            </div>
        </div>
    </section>