@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var context = Sitecore.Context.Item;

}
@if (elements != null)
{
    Sitecore.Data.Fields.LinkField linkvalue = context.Fields["Datasheet Link"];

    <section class="cta-section py-5">
        <div class="container" data-aos="fade-up">
            @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)
            @if (linkvalue != null)
            {
                var link = linkvalue.GetFriendlyUrl();
                <p class="text-center cta-btm">
                    <a href="@link" download="download" class="btn btn-gradient">
                        <i class="fa fa-download mr-2"></i>Download Datasheet
                    </a>
                </p>
            }
        </div>
    </section>

}