@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
@if (elements != null)
{
    var clientSpeakList = elements.Axes.GetDescendants();
    if (clientSpeakList != null)
    {
        <h2 class="text-center sectionHeading mb-5">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>
        <div class="owl-carousel single-item client-speak pt-4">
            @foreach (var item in clientSpeakList)
            {
                if (item.FieldHasValue(Templates.HasMedia.Fields.Title))
                {
                    <div class="item">
                        <p class="text-center mb-3">
                            @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)
                        </p>
                        <p class="text-center">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</p>
                        <p class="text-center">@Html.Sitecore().Field(Templates.HasMedia.Fields.SubTitle, item)</p>
                    </div>
                }
            }
        </div>
    }
}