@using Sitecore.Feature.Media
@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
@if (elements != null)
{
    var archiveLink = elements.Axes.GetDescendants();
    <div class="p-5">
        <p class="sus-r-title">@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)</p>
        @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, elements, 0, 0, cssClass: "img-fluid mb-3")
        <p class="clearfix sus-btn px-0">
            <span><a href="@elements.LinkFieldUrl(Templates.HasMedia.Fields.Link)" target="_blank">Download</a></span>
            @foreach (var item in archiveLink)
            {
                <span class="float-right"><a href="@item.LinkFieldUrl(Templates.SolarContentTypeLink.Fields.LinkUrl)" target="_blank">Archives</a></span>
            }
        </p>
    </div>
}
