<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <settings>
		  <setting name="ProductAPI" value="https://www.adanione.cloud/api/DutyFree/api/DutyFree/GetSKUByCode"/>
		  <setting name="ProductAPIwithFilter" value="https://www.adanione.cloud/api/DutyFree/api/DutyFree/GetSkuByFilters" />
		  <setting name="ProductImportAPI" value="https://www.adanione.cloud/api/DutyFree/api/DutyFree/GetAllProducts"/>
		  <setting name="FeedbackFormAPI" value="https://10.81.211.207/Feedback/api/CustomerFeedback/AddCustomerFeedback"/>
		  <setting name="LoyaltyProductAPI" value="https://api-dev.adanidigitallabs.com/DutyFree/api/DutyFree/GetAllLoyaltyProducts"/>
		  <setting name="AllPromotionsAPI" value="https://api-dev.adanidigitallabs.com/loyalty/Promo/GetPromoOffers"/>
		  <setting name="AllPromotionsDBAPI" value="https://api-dev.adanidigitallabs.com/DutyFree/api/DutyFree/GetAllPromotions"/>
		  <setting name="dutyfreeOffersAPI" value="https://aksdev.adanione.cloud/api/dutyfreeservicev2/api/DutyFree/GetAllPromotionFilter" />
		  <setting name="dutyfreeExclusiveProductsAPI" value="https://www.adanione.cloud/api/DutyFree/api/DutyFree/GetAllExclusiveProducts" />
		  <setting name="dutyfreeComboProductsAPI" value="https://www.adanione.cloud/api/DutyFree/api/DutyFree/GetAllComboProducts" />
	  </settings>
  </sitecore>
</configuration>