@using Sitecore
@using Sitecore.Mvc
@using System.Data
@model DataSet

@if (Model != null)
{
    if (Model.Tables[0].Rows.Count == 0 || Model.Tables[0].TableName == "ERROR")

    {
        <section class="bg-gray py-5">
            <div class="container">
                <div class="bg-white p-4"><h3 class="txt-md text-center">Sorry no information found </h3> </div>
            </div>
        </section>

    }
    else
    {
	var count = 0;
	var i = 0;
	var j = 0;
        <section class="bg-gray py-5">
            <div class="container">
			
			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered table-sm bg-white ">
						<tbody>
							@foreach (DataRow row in Model.Tables[0].Rows)
								{
									foreach (DataColumn col in Model.Tables[0].Columns)
									{
										
											<tr>
												<td><b>@col.ColumnName.ToString()</b></td>
												<td> @row[col]</td>
											</tr>
											i++;
											if(i>9)
											{
												break;
											}
											
																			
											
									}
									
									
									
								}
								
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<table class="table table-bordered table-sm bg-white ">
						<tbody>
							@foreach (DataRow row in Model.Tables[0].Rows)
								{
									foreach (DataColumn col in Model.Tables[0].Columns)
									{
										j++;
										if(j<=10 || j==14 || j==22)
										{
											continue;
										}
										else{
										<tr>
												<td><b>@col.ColumnName.ToString()</b></td>
												<td> @row[col]</td>
											</tr>
										}
											
											
											
											
											
									}
									
									
									
								}
								
						</tbody>
					</table>
				</div>
			</div>
			</div>
        </section>
    }
}
else
{
    <section class="bg-gray py-5">
        <div class="container">
            <div class="bg-white p-4"><h3 class="txt-md text-center">Sorry no information found </h3> </div>
        </div>
    </section>
}