<!-- Page Content -->
<div class="container pt-lg-5 pt-4" style="margin-bottom: 2rem;padding-top:5rem !important;">
    <h2 class="border-l txt-lg mb-3">Enter Container Number</h2>
    <div class="row">

        <div class="col-md-9 mb-5">
            <input type="text" class="form-control" id="LogCID" placeholder="Container Number (Enter upto ten container numbers separated by commas)" multiple="" style="padding:7px;" />
        </div>
        <div class="col-md-3">
            <button type="button" id="logisticsTrackSubmit" class="btn btn-gradient">Submit</button>
            <button type="reset" id="logisticsTrackReset" value="Reset" class="btn btn-gradient">Reset</button>
        </div>

    </div>

</div>
<div class="container" id="log-track-result">

</div>


<!-- /Page Content-->
