@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Ports.Website
@model IEnumerable<Sitecore.Data.Items.Item>

@if (Model != null && Model.Any())
{

    <div class="bg-white p-4 mt-5 tab-scroll">

        @foreach (var child in Model.ToList())
        {

            <div class="corporate-ann-block mb-4">
                <p><span>@Html.Sitecore().Field("Date", child, new { format = "MMM dd, yyyy" })</span></p>
                @Html.Sitecore().Field("Title", child)
            </div>
        }


    </div>
    <div class="bg-white p-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
}
else
{
    <div>
        <p style="text-align:center;font-size: xx-large">
            No Result Found
        </p>

    </div>
}