@model List<Sitecore.Ports.Website.Models.VesselModel>
@{
    ViewBag.Title = "VesselDharmaExpected";
    Layout = null;
}


<div class="bg-white p-4">
    <div class="table-responsive">
        <table class="table bg-gray" id="TrackingDataTableDharmaExpected">
            <thead>
                <tr>
                    <th>SBU Name.</th>
                    <th>Vessels Name</th>
                    <th>Imp or Exp</th>
                    <th>ETA</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.sbuName</td>
                        <td>@item.vslNm</td>
                        <td>@item.dschLdBothInd</td>
                        <td>@item.etaDttm</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="row">

        <div class="clearfix"></div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">


