<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore search:require="solr">
		<contentSearch>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes hint="list:AddIndex">
					<index id="Adani_SuperApp_InternationalFlights_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">Adani_SuperApp_InternationalFlights_web_index</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/flightSearchConfiguration" />
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" role:require="Standalone or (ContentManagement and Indexing)" />
						</strategies>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/AirportHome/international-flights</Root>
							</crawler>
						</locations>
					</index>
				</indexes>
			</configuration>
			<indexConfigurations>
				<flightSearchConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
					<documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">	
										
					<!-- Included templates SitemapFrequency-->						
						 <include hint="list:AddIncludedTemplate">
							<StandardTemplate>{1930BBEB-7805-471A-A3BE-4858AC7CF696}</StandardTemplate>
							<TemplateField>{F30C68F5-3783-4F1E-BDCB-C6538BB2D9AA}</TemplateField>
						</include>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="PriorityNew" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.SitemapPriority, Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="ChangefrequencyNew" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.SitemapFrequency, Adani.SuperApp.Airport.Foundation.Search.Platform</field>
						</fields>						
					</documentOptions>
					

				</flightSearchConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>
