<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="IncludedTemplateItem" value="{4A9D4805-6503-4ED1-B1A3-68C401B9C900},{28C08CD7-744E-4367-8202-B34ECFE540C1}"/>
			<setting name="LanguageEmbedForSitemap" value=""/>
		</settings>
		<pipelines>
			<httpRequestBegin>

				<processor type="Salesforce.Foundation.Sitemap.Pipeline.Sitemap, Salesforce.Foundation.Sitemap"  patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
				</processor>
			</httpRequestBegin>
			<preprocessRequest>

				<processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel"  patch:instead="processor[@type='Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel']">
					<param desc="Allowed extensions (comma separated)">aspx, ashx, asmx</param>
					<param desc="Blocked extensions (comma separated)">*</param>
					<param desc="Blocked extensions that stream files (comma separated)">*</param>
					<param desc="Blocked extensions that do not stream files (comma separated)">
					</param>
				</processor>
			</preprocessRequest>
		</pipelines>
	</sitecore>
</configuration>