@model Sitecore.Transmission.Website.Services.TransmissionRepository


<div class="table-responsive table-calc">
    <table class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Estimated Average Annualized Carbon Value</th>
                <th>Annually Committed Carbon Offset Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var std in Model.ListofModel)
            {
                <tr>
                    <td>@std.year</td>
                    <td>@std.value</td>
                    <td>@std.offsetValue</td>
                </tr>
            }

        </tbody>
    </table>
</div>