<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Adani.SuperApp.Airport.Feature.Swagger.Platform.Pipeline.InitializeSwagger, Adani.SuperApp.Airport.Feature.Swagger.Platform"/>
			</initialize>
		</pipelines>
	</sitecore>
</configuration>
