@using Sitecore.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>Superapp UI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/airportservices/statics/main__d8bf09a9fddb9e922952.css" />
    <link rel="stylesheet" href="~/assets/airportservices/css/index.css" />
    <link rel="stylesheet" href="~/assets/airportservices/css/services.css" />
    <link rel="stylesheet" href="~/assets/airportservices/css/header.css" />
    <link rel="stylesheet" href="~/assets/airportservices/css/footer.css" />
</head>

<body data-bs-spy="scroll">

        <header class="main-header">
            <div class="container">
                <div class="top_nav">
                    <!-- <a href="#" class="icon-button flat">
                                Back to Adani Home
                            </a> -->
                    <ul>
                        <li>
                            <a href="#" class="icon-button flat">
                                <i class="i-globe"></i> Help
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon-button flat">
                                <i class="i-globe"></i> App
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="icon-button flat"
                               id="dropdownMenuLink"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="i-grid"></i> Businesses
                            </a>
                            <div class="myaccount-dd__dropdown move-top dropdown-menu"
                                 aria-labelledby="dropdownMenuLink">
                                <ul>
                                    <li>
                                        <a class="dropdown-item" href="#"> Action </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"> Another action </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"> Something else here </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light main-nav">
                    <div class="brand">
                        <a data-bs-toggle="offcanvas"
                           href="#offcanvasExample"
                           role="button"
                           aria-controls="offcanvasExample"
                           class="icon-button menu">
                            <i class="i-hamburger"></i>
                        </a>
                        <div class="logo">
                            <img class="selected1"
                                 src="~/assets/airportservices/images/header/logo_mumbai_airport.svg"
                                 alt="Chhatrapati Shivaji Maharaj" />
                            <span class="icon-button location-arrow"
                                  onclick="displayListGroup()"
                                  id="dropdownMenuLink"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false">
                                <i class="i-arrow-d"></i>
                            </span>

                            <div class="location-layer dropdown-menu"
                                 id="list-display"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="list-group">
                                    <ul>
                                        <li class="option">
                                            <img src="~/assets/airportservices/images/header/logo_jaipur_airport.svg"
                                                 alt="Jaipur Airport" />
                                        </li>
                                        <li class="option">
                                            <img src="~/assets/airportservices/images/header/logo_guwahati_airport.svg"
                                                 alt="Guwahati Airport" />
                                        </li>
                                        <li class="option">
                                            <img src="~/assets/airportservices/images/header/logo_jaipur_airport.svg"
                                                 alt="Jaipur Airport" />
                                        </li>

                                        <li class="option">
                                            <img src="~/assets/airportservices/images/header/logo_guwahati_airport.svg"
                                                 alt="Guwahati Airport" />
                                        </li>

                                        <li class="option">
                                            <img src="~/assets/airportservices/images/header/logo_mumbai_airport.svg"
                                                 alt="MUMBAI Airport" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="universal_search">
                        <!-- <div
                          class="search_cta d-none d-md-flex"
                          id="dropdownMenuLink"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="i-search"></i>
                          Search
                        </div> -->
                        <div class="universal_search__wrap search-drop dropdown-menu"
                             aria-labelledby="dropdownMenuLink">
                            <div class="universal_search__box">
                                <i class="i-cross"></i>
                                <input type="text" placeholder="Search" class="search_field" />
                                <div class="actions">
                                    <span class="clear"><i class="i-cross"></i></span>
                                    <i class="i-search"></i>
                                </div>
                            </div>

                            <ul class="search-suggestion">
                                <li>
                                    <i class="i-search"></i>
                                    <label for="">Maharaja Hamburger</label>
                                </li>
                                <li>
                                    <i class="i-search"></i>
                                    <label for="">Dine In options</label>
                                </li>
                                <li>
                                    <i class="i-search"></i>
                                    <label for="">Hamburger</label>
                                </li>
                                <li>
                                    <i class="i-search"></i>
                                    <label for="">Liqour</label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="header-nav">
                        <ul class="navbar-nav">
                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link"
                                   href="#"
                                   id="dropdownMenuLink"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">Flights</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Delhi to Mumbai</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Ahmedabad to Mumbai</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Tripura to Kerala</a></li>
                                </ul>
                            </li>

                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link"
                                   href="#"
                                   id="dropdownMenuLink"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">Airport Guide</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="#">Baggage Information</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Places to Visit</a></li>
                                </ul>
                            </li>

                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link"
                                   href="#"
                                   id="dropdownMenuLink"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">Shop & Dine</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Liqour</a></li>
                                    <li><a class="dropdown-item" href="#">Restaurants</a></li>
                                    <li><a class="dropdown-item" href="#">Dine In</a></li>
                                </ul>
                            </li>

                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link"
                                   href="#"
                                   id="dropdownMenuLink"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">Discover</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Places to Stay</a></li>
                                    <li><a class="dropdown-item" href="#">Monuments</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link"
                                   href="#"
                                   id="dropdownMenuLink"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">Rewards</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Coupons</a></li>
                                    <li><a class="dropdown-item" href="#">Discounts</a></li>
                                    <li><a class="dropdown-item" href="#">Booking Cashbacks</a></li>
                                </ul>
                            </li>

                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link"
                                   href="#"
                                   id="dropdownMenuLink"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">Bookings</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="#">Booking Information</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link"
                                   href="#"
                                   id="dropdownMenuLink"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">Maps</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="#">Navigate to nearest hotel</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Navigate to restaurant</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Navigate to destination</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item nav-icon">
                                <a href="#"
                                   class="icon-button"
                                   id="searchDropdown"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="i-search"></i>
                                </a>

                                <div class="nav-layers dropdown-menu search-layer"
                                     aria-labelledby="searchDropdown">
                                    <div class="search-box">
                                        <i class="i-cross"></i>
                                        <input type="text" class="search-box__field" />
                                        <div class="actions">
                                            <span class="clear"><i class="i-cross"></i></span>
                                            <i class="i-search"></i>
                                        </div>
                                    </div>
                                    <ul class="search-box__suggestion">
                                        <li>
                                            <i class="i-search"></i>
                                            <label for="">Maharaja Hamburger</label>
                                        </li>
                                        <li>
                                            <i class="i-search"></i>
                                            <label for="">Dine In options</label>
                                        </li>
                                        <li>
                                            <i class="i-search"></i>
                                            <label for="">Hamburger</label>
                                        </li>
                                        <li>
                                            <i class="i-search"></i>
                                            <label for="">Liqour</label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item nav-icon">
                                <a href="#" class="icon-button">
                                    <i class="i-cart"></i>
                                </a>
                            </li>

                            <li class="nav-item nav-icon">
                                <a href="#"
                                   class="icon-button"
                                   id="dropdownMenuLink"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="i-user"></i>
                                </a>
                                <div class="nav-layers dropdown-menu"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="login-btn">
                                        <p>Existing Adani Electricity Consumer?</p>
                                        <div class="user-action">
                                            <button type="button"
                                                    class="btn btn-outline-primary btn-sm">
                                                Register
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm">
                                                Login
                                            </button>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- {/* OFFCANVAS FOR HAMBURGER */} -->
                <div class="offcanvas offcanvas-start"
                     tabindex="-1"
                     id="offcanvasExample"
                     aria-labelledby="offcanvasExampleLabel">
                    <div id="slide-out" class="sidenav hamburger">
                        <ul class="collapsible0 expandable0 hamburger_section hamburger-header single-item">
                            <li class="user-section">
                                <a href="/htmls/login/"
                                   class="collapsible-header0 collapsible_link0 waves-effect">
                                    <span class="icon-box">
                                        <i>
                                            <svg viewBox="0 0 25 24">
                                                <title>a_user</title>
                                                <g id="Desktop"
                                                   stroke="none"
                                                   stroke-width="1"
                                                   fill="none"
                                                   fill-rule="evenodd">
                                                    <g id="Artboard"
                                                       transform="translate(-334.000000, -27.000000)"
                                                       fill-rule="nonzero">
                                                        <g id="a_user--"
                                                           transform="translate(334.750000, 27.000000)">
                                                            <rect id="Rectangle"
                                                                  fill="#FFFFFF"
                                                                  opacity="0"
                                                                  x="0"
                                                                  y="0"
                                                                  width="24"
                                                                  height="24"></rect>
                                                            <path d="M21.9,20.66 C21.9,21.16 21.5,21.56 21,21.56 C20.5,21.56 20.1,21.16 20.1,20.66 C20.1,17.73 17.67,15.35 14.69,15.35 L9.31,15.35 C6.32,15.35 3.9,17.73 3.9,20.66 C3.9,21.16 3.5,21.56 3,21.56 C2.5,21.56 2.1,21.16 2.1,20.66 C2.1,16.74 5.34,13.55 9.31,13.55 L14.68,13.55 C18.66,13.55 21.9,16.74 21.9,20.66 Z M8.18,8.28 L8.18,6.26 C8.18,4.06 9.96,2.28 12.16,2.28 L12.16,2.28 C14.36,2.28 16.14,4.06 16.14,6.26 L16.14,8.28 C16.14,10.48 14.36,12.26 12.16,12.26 L12.16,12.26 C9.97,12.26 8.18,10.48 8.18,8.28 Z M9.98,8.28 C9.98,9.48 10.96,10.46 12.16,10.46 C13.36,10.46 14.34,9.48 14.34,8.28 L14.34,6.26 C14.34,5.06 13.36,4.08 12.16,4.08 C10.96,4.08 9.98,5.06 9.98,6.26 L9.98,8.28 Z"
                                                                  id="Shape"
                                                                  fill="#000000"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </i>
                                    </span>
                                    <label> Login / Register<strong>My Account</strong> </label>
                                    <em class="i-arrow-r"></em>
                                </a>
                            </li>
                        </ul>

                        <ul class="collapsible expandable hamburger_section">
                            <li>
                                <h5>Adani Electricity</h5>
                            </li>
                            <li>
                                <a href="/" class="waves-effect">
                                    <span class="icon-box">
                                        <i class="i-home"></i>
                                    </span>
                                    <label>Home</label>
                                </a>
                            </li>
                            <li>
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseOne"
                                                    aria-expanded="false"
                                                    aria-controls="flush-collapseOne">
                                                New Connection
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne"
                                             class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingOne"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="/htmls/bill_payment/quick_bill_all.html"
                                                           class="waves-effect">
                                                            <label> Quick Bill Payment </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/current_bills.html"
                                                           class="waves-effect">
                                                            <label> My Current Bills </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <label> Pay Security Deposit </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/pay_vds_amount.html"
                                                           class="waves-effect">
                                                            <label> Pay VDS Amount </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/download_bill.html"
                                                           class="waves-effect">
                                                            <label> Download Bills </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/payment_all.html"
                                                           class="waves-effect">
                                                            <label> Payment History </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/electricity_consumption.html"
                                                           class="waves-effect">
                                                            <label> Electricity Consumption </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseTwo"
                                                    aria-expanded="false"
                                                    aria-controls="flush-collapseTwo">
                                                Billing and Payment
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo"
                                             class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingTwo"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="/htmls/bill_payment/quick_bill_all.html"
                                                           class="waves-effect">
                                                            <label> Quick Bill Payment </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/current_bills.html"
                                                           class="waves-effect">
                                                            <label> My Current Bills </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <label> Pay Security Deposit </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/pay_vds_amount.html"
                                                           class="waves-effect">
                                                            <label> Pay VDS Amount </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/download_bill.html"
                                                           class="waves-effect">
                                                            <label> Download Bills </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/payment_all.html"
                                                           class="waves-effect">
                                                            <label> Payment History </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/bill_payment/electricity_consumption.html"
                                                           class="waves-effect">
                                                            <label> Electricity Consumption </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseThree"
                                                    aria-expanded="false"
                                                    aria-controls="flush-collapseThree">
                                                Services
                                            </button>
                                        </h2>
                                        <div id="flush-collapseThree"
                                             class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingThree"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="/htmls/services/submit_meter_reading.html"
                                                           class="waves-effect">
                                                            <label> Submit Meter Reading </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/services/power_outage.html"
                                                           class="waves-effect">
                                                            <label> Power Outage Information </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <label> Meter Shifting Requests </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <label> Load Change Request </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/services/change_bill_language.html"
                                                           class="waves-effect">
                                                            <label> Change Bill Language </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/services/tariff_details.html"
                                                           class="waves-effect">
                                                            <label> Tariff Details </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/services/bill_calculator.html"
                                                           class="waves-effect">
                                                            <label> Bill Calculator </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/services/it_declarations.html"
                                                           class="waves-effect">
                                                            <label> IT Declarations </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/services/download_forms.html"
                                                           class="waves-effect">
                                                            <label> Download Forms </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingFour">
                                            <button class="accordion-button collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseFour"
                                                    aria-expanded="false"
                                                    aria-controls="flush-collapseFour">
                                                Help & Support
                                            </button>
                                        </h2>
                                        <div id="flush-collapseFour"
                                             class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingFour"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="/htmls/help_support/register_complaint.html"
                                                           class="waves-effect">
                                                            <label> Register Complaint </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/help_support/submit_your_query.html"
                                                           class="waves-effect">
                                                            <label> Submit Your Query </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/help_support/report_electricity_theft.html"
                                                           class="waves-effect">
                                                            <label> Report Electricity Theft </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/help_support/genius_pay_centres.html"
                                                           class="waves-effect">
                                                            <label> Genius Pay Centres </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/help_support/genius_pay_centres.html"
                                                           class="waves-effect">
                                                            <label> Payment Centres </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/help_support/genius_pay_centres.html"
                                                           class="waves-effect">
                                                            <label> Customer Care Centres </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/help_support/contact.html"
                                                           class="waves-effect">
                                                            <label> Contact Us </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/htmls/help_support/faq.html"
                                                           class="waves-effect">
                                                            <label>FAQs</label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="collapsible expandable hamburger_section single-item business-list">
                            <li>
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingFive">
                                            <button class="accordion-button collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseFive"
                                                    aria-expanded="false"
                                                    aria-controls="flush-collapseFive">
                                                Adani Businesses
                                            </button>
                                        </h2>
                                        <div id="flush-collapseFive"
                                             class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingFive"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <p class="i-airport"></p>
                                                            <label>Airports</label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <p class="i-gas"></p>
                                                            <label> Adani Total Gas </label>
                                                        </a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="#" class="waves-effect">
                                                            <p class="i-electricity"></p>
                                                            <label> Adani Electricity </label>{" "}
                                                            <i class="i-tick"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <p class="i-wilmar"></p>
                                                            <label> Adani Wilmar </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <p class="i-realty"></p>
                                                            <label> Adani Realty </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <p class="i-capital"></p>
                                                            <label> Adani Capital </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="waves-effect">
                                                            <p class="i-housing"></p>
                                                            <label> Adani Housing Finance </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="hamburger_section">
                            <ul>
                                <li>
                                    <h5>Information</h5>
                                </li>
                                <li>
                                    <a href="/more_information/know_your_bill.html">
                                        <span class="icon-box">
                                            <i class="vi-your-bill"></i>
                                        </span>
                                        <label> Know Your Bill</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="/htmls/more_information/billing_Faqs.html">
                                        <span class="icon-box">
                                            <i class="vi-billing-faq"></i>
                                        </span>
                                        <label>Billing FAQs</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="/htmls/more_information/quick_access.html">
                                        <span class="icon-box">
                                            <i class="vi-quick-access"></i>
                                        </span>
                                        <label>Quick Access</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="/htmls/more_information/online_payment.html">
                                        <span class="icon-box">
                                            <i class="i-payment"></i>
                                        </span>
                                        <label>Payment</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="/htmls/bill_payment/">
                                        <span class="icon-box">
                                            <i class="vi-billing"></i>
                                        </span>
                                        <label>Billing</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="/htmls/bill_payment/">
                                        <span class="icon-box">
                                            <i class="vi-money-saver"></i>
                                        </span>
                                        <label>Money Saver</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="/htmls/pages/ease_doing_business.html">
                                        <span class="icon-box">
                                            <i class="vi-ease-business"></i>
                                        </span>
                                        <label>Ease of Doing Business</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="/htmls/pages/rooftop_solar.html">
                                        <span class="icon-box">
                                            <i class="vi-rooftop-solar"></i>
                                        </span>
                                        <label>Rooftop Solar</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon-box">
                                            <i class="vi-disaster-management"></i>
                                        </span>
                                        <label>Disaster Management Plan</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="/htmls/help_support/faq.html">
                                        <span class="icon-box">
                                            <i class="vi-new-division"></i>
                                        </span>
                                        <label>New Division / Cycle FAQs</label>
                                    </a>
                                </li>
                            </ul>
                        </ul>

                        <ul class="hamburger_section">
                            <ul>
                                <li>
                                    <h5>Other</h5>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon-box">
                                            <i class="vi-corporate-portal"></i>
                                        </span>
                                        <label>Corporate Portal</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="#clients">
                                        <span class="icon-box">
                                            <i class="i-download-app"></i>
                                        </span>
                                        <label>Download App</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="#contact">
                                        <span class="icon-box">
                                            <i class="i-careers"></i>
                                        </span>
                                        <label>Careers</label>
                                    </a>
                                </li>
                            </ul>
                        </ul>
                        <footer>
                            <!-- <img
                                        src="/assets/images/adani-electricty.svg"
                                        alt="adani Electricity"
                                    /> -->
                        </footer>
                    </div>
                </div>
            </div>
        </header>


    @Html.Sitecore().Placeholder("main")



    <footer class="footer_wrapper">
        <div class="container">
            <ul class="footer_nav">
                <li class="footer_nav_grid">
                    <ul class="footer_link_list">
                        <li class="footer_link_heading">Travel Help</li>
                        <li class="footer_link"><a href="#">Fare Calendar</a></li>
                        <li class="footer_link"><a href="#">Tariff Sheet</a></li>
                        <li class="footer_link"><a href="#">Visa Information</a></li>
                        <li class="footer_link"><a href="#">Baggage Information</a></li>
                        <li class="footer_link"><a href="#">Track your Bag</a></li>
                        <li class="footer_link"><a href="#">View Payment Invoice</a></li>
                        <li class="footer_link"><a href="#">Payment Methods</a></li>
                        <li class="footer_link"><a href="#">Book a Hotel</a></li>
                    </ul>
                </li>
                <li class="footer_nav_grid">
                    <ul class="footer_link_list">
                        <li class="footer_link_heading">Flight Information</li>
                        <li class="footer_link"><a href="#">New Flights</a></li>
                        <li class="footer_link"><a href="#">Cheap Air Tickets</a></li>
                        <li class="footer_link"><a href="#">Direct Flights</a></li>
                        <li class="footer_link"><a href="#">Connecting Flights</a></li>
                        <li class="footer_link"><a href="#">Domestic Flights</a></li>
                        <li class="footer_link"><a href="#">International Flights</a></li>
                        <li class="footer_link"><a href="#">Flight Schedule</a></li>
                    </ul>
                </li>

                <li class="footer_nav_grid">
                    <ul class="footer_link_list">
                        <li class="footer_link_heading">Adani Businesses</li>
                        <li class="footer_link">
                            <a href="#">Airports</a>
                        </li>
                        <li class="footer_link">
                            <a href="#">Adani Total Gas</a>
                        </li>
                        <li class="footer_link">
                            <a href="#">Adani Electricity</a>
                        </li>
                        <li class="footer_link"><a href="#">Adani Wilmar</a></li>
                        <li class="footer_link"><a href="#">Adani Realty</a></li>
                        <li class="footer_link">
                            <a href="#">Adani Capital</a>
                        </li>
                        <li class="footer_link">
                            <a href="#">Adani Housing Finance</a>
                        </li>
                    </ul>
                </li>

                <li class="footer_nav_grid">
                    <ul class="footer_link_list">
                        <li class="footer_link_heading">Company</li>
                        <li class="footer_link"><a href="#">About Us</a></li>
                        <li class="footer_link"><a href="#">CSR Policy</a></li>
                        <li class="footer_link"><a href="#">Shop & Collect</a></li>
                        <li class="footer_link"><a href="#">How to Shop</a></li>
                        <li class="footer_link"><a href="#">How to Return</a></li>
                        <li class="footer_link"><a href="#">Aiport Map</a></li>
                        <li class="footer_link"><a href="#">FAQs</a></li>

                    </ul>
                </li>

                <li class="footer_nav_grid">
                    <ul class="footer_link_list">
                        <li class="footer_link_heading">Help & Support</li>
                        <li class="footer_link"><a href="#">Contact us</a></li>
                        <li class="footer_link"><a href="#">Chat with Elktra</a></li>
                        <li class="footer_link"><a href="#">Download App</a></li>
                        <li class="footer_link"><a href="#">Customer Care Centre</a></li>
                        <li class="footer_link"><a href="#">Payment Centre</a></li>
                    </ul>
                </li>
            </ul>

            <div class="payment">
                <ul>
                    <li><img src="~/assets/airportservices/images/footer/visa.svg" alt="Visa" /></li>
                    <li><img src="~/assets/airportservices/images/footer/mastercard.svg" alt="mastercard" /></li>
                    <li><img src="~/assets/airportservices/images/footer/rupay.svg" alt="Rupay" /></li>
                    <li><img src="~/assets/airportservices/images/footer/safekey.svg" alt="Safekey" /></li>
                </ul>
            </div>


            <div class="social_link_wrapper flx-list-wrapper">
                <ul class="social_link_list flx-list">
                    <li>
                        <a href="#" class="icon-holder medium-size"><i class="i-facebook i-22"></i></a>
                    </li>
                    <li>
                        <a href="#" class="icon-holder medium-size"><i class="i-twitter i-22"></i></a>
                    </li>
                    <li>
                        <a href="#" class="icon-holder medium-size"><i class="i-linkdin i-22"></i></a>
                    </li>
                    <li>
                        <a href="#" class="icon-holder medium-size"><i class="i-youtube i-22"></i></a>
                    </li>
                </ul>

                <ul class="app-download-links">
                    <li><a href="#"><img src="~/assets/airportservices/images/footer/app-store.png" alt="app store" /></a></li>
                    <li><a href="#"><img src="~/assets/airportservices/images/footer/play-store.png" alt="play store" /></a></li>
                </ul>
            </div>
            <div class="footer_copyright">
                <ul class="copyright_links_list">
                    <li>&copy; 2021 Adani Airport</li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>


<script src="~/assets/airportservices/statics/js/header.js"></script>