@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
 }
<section class="covid-guidlines">
    <div class="container">
        <div class="covid_bg">
            @Html.Sitecore().Field("Image", currentItem, new { @class = "img-fluid" })
            <div class="content">
                <h3>@Html.Sitecore().Field("Title", currentItem)</h3>
                <p>
                    @Html.Sitecore().Field("Description", currentItem)
                </p>
                @Html.Sitecore().Field("Link", currentItem)
            </div>
        </div>
    </div>
</section>