@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.BAU.Transmission.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string location = string.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var parms = rc.Rendering.Parameters;
        location = parms["Location"];
    }
}
<section class="map">
    @Html.Sitecore().Field("Image", currentItem, new { @class = "imgForDesktop" })
    @Html.Sitecore().Field("MobileImage", currentItem, new { @class = "imgForMobile" })
    <div class="map-heading">
        <div class="container">
            <h3>@Html.Sitecore().Field("Title", currentItem)</h3>
            <p>@Html.Sitecore().Field("Description", currentItem)</p>
            @*@Html.Sitecore().Field("Link", currentItem)*@
            <a class="btn btn-secondary" href="/flightbooking/flightServices/search?flightType=Arrival&location=@location&flightDate=@DateTime.Now.ToString("dd/MM/yyyy").Replace("/","")&Terminal=All" auto_id="data_href_see_all_flights">See All Flights</a>
        </div>
    </div>
</section>