@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel

<section class="covidInfoWrap pt-wrap">
    <div class="container">
        <div class="dividerBox">
            @foreach (Item InfoCard in RenderingContext.Current.Rendering.Item.Children)
            {
                <div class="card">
                    <div class="row g-0 align-items-center">
                        <div class="col-5 col-sm-4">
                            @Html.Sitecore().Field("Image", InfoCard, new{ @class="img-fluid rounded-start"})
                        </div>
                        <div class="col-7 col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">@Html.Sitecore().Field("Title", InfoCard)</h5>
                                <p class="card-text">
                                    @Html.Sitecore().Field("RichText", InfoCard)
                                </p>
                                @Html.Sitecore().Field("Link", InfoCard)
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
</section>