@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
<div class="airport-card mt-top citysec-title">
    @Html.Sitecore().Field("Text", currentItem)
</div>
}    
