@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string imageClass = RenderingContext.Current.Rendering.Parameters["classname"];
}
@if (currentItem != null)
{
<div class="card border-0 airport-card mt-top">
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-8">
            <div class="card-body p-0">
                <h5 class="section-heading">@Html.Sitecore().Field("Title", currentItem)</h5>
                <p class="card-text">
                    @Html.Sitecore().Field("Description", currentItem)
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            @Html.Sitecore().Field("Image", currentItem,new { @class = @imageClass })
        </div>
    </div>
</div>
}