@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    var currentItem = RenderingContext.Current.Rendering.Item;
}
<section class="internl_btm-content pt-wrap">
    <div class="container">
        <h3>@Html.Sitecore().Field("Title", currentItem)</h3>
            @Html.Sitecore().Field("Description", currentItem)
    <a href="javascript:void(0)" onclick="readMore(this,'readMoreFlightDetail')" class="black_link" auto_id="data_href_read_more">Read More</a>
    </div>
</section>