@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string containerClass = !string.IsNullOrEmpty(RenderingContext.Current.Rendering.Parameters["containerclass"]) ? RenderingContext.Current.Rendering.Parameters["containerclass"] : string.Empty;
}

<div class="subSection" id="guide">
    <h2>@Html.Sitecore().Field("Title", currentItem)</h2>

    <div class="video_center">
        @Html.Sitecore().Field("Image", currentItem)
    </div>
</div>