@model Project.Mining.Website.Models.PrivacyPolicy

<section class="privacy-info position-relative section-top-padding main-skeleton skeleton">
    <div class="container">
        @Html.Raw(Model.Description)
    </div>
</section>


