@model Project.Mining.Website.Models.RequestAcallModel
@using Sitecore.Mvc;
@if (Model != null)
{
    <section class="call-request position-relative section-bottom-padding main-skeleton skeleton">

        <div class="call-text">
            <div class="container-form">
                <div class="form-texing">
                    <h3><span class="hide-text">@Model.Heading</span></h3>
                    <p class="hide-text">@Model.SubHeading</p>
                </div>
            </div>

        </div>
       @Html.Sitecore().Placeholder("forms")
    </section>
}