@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@{
    /**/
     var InnerBusinesssBannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Business-InnerImage"];

    var InnerBusinesssBannerImageitem = Sitecore.Context.Database.GetItem(InnerBusinesssBannerImage);

    var InnerBusinessImagedata = InnerBusinesssBannerImageitem.Children;

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);


}





    <section class="bg-gray py-5 loadmore-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-3">
			<h2 class="mb-3 border-l pl-3 txt-lg">@Html.Sitecore().Field("Title",model)</h2>
            @Html.Sitecore().Field("Body",model)
                </div>
                <div class="col-lg-6 py-5">
                    <div class="owl-carousel owl-theme single-item">
                        @foreach (var items in InnerBusinessImagedata.ToList())
                        {
                            <div class="item">
                                @Html.Sitecore().Field("MediaImage",items, new { @class = "img-fluid" })
                            </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </section>
