<section class="pb-5">
    <div class="container">




        <div class="contact-form reqQuoteForm">
            <form id="Bunkering" name="Bunkering" method="post" autocomplete="off">
                <input type="hidden" id="bFormType" value="Request-Quote-Form">
                <h4 class="txt-blue txt-md ">Company Info</h4>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label class="label">Company Name<sup><img src="images/require.png" alt=""></sup></label>
                            <input type="text" id="Company_Name_B" name="Company_Name_B" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label class="label">Contact Person<sup><img src="images/require.png" alt=""></sup></label>
                            <input type="text" id="Contact_Person_B" name="Contact_Person_B" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label class="label">Telephone<sup><img src="images/require.png" alt=""></sup></label>
                            <input type="number" id="Telephone_B" name="Telephone_B" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label class="label">Email<sup><img src="images/require.png" alt=""></sup></label>
                            <input type="email" id="Email_B" name="Email_B" class="form-control">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <h4 class="txt-blue txt-md ">Product</h4>
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-3">
                        <div class="form-check">
                            <div><input type="radio" id="d1_B" value="IFO 380" name="ProductType" checked="" class="form-check-input"><label for="d1_B" class="form-check-label">IFO 380</label></div>
                            <div class="mrgTp10"><input type="radio" id="d2_B" value="IFO 180" name="ProductType" class="form-check-input"> <label for="d2_B" class="form-check-label">IFO 180</label></div>
                            <div class="mrgTp10"><input type="radio" id="d3_B" value="MGO" name="ProductType" class="form-check-input"> <label for="d3_B" class="form-check-label">MGO</label></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3">
                        <div class="form-check">
                            <div><input type="radio" id="e1_B" value="Cargo Discharge at Port" name="ProductSpec" checked="" class="form-check-input"> <label for="e1_B" class="form-check-label">Cargo Discharge at Port</label></div>
                            <div class="mrgTp10"><input type="radio" id="e2_B" value="Bunker Call only" name="ProductSpec" class="form-check-input"> <label for="e2_B" class="form-check-label">Bunker Call only</label></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3">
                        <div class="form-check">
                            <label class="label">Quantity</label>
                            <div><input type="text" id="Quantity_B" name="Quantity_B" class="form-control"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <h4 class="txt-blue txt-md ">Port &amp; time info</h4>
                <div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label class="label">Vessel Name</label>
                                <input type="text" id="Vessel_Name_B" name="Vessel_Name_B" class="inputDes form-control">
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label class="label">Port</label>
                                <input type="text" id="Port_B" name="Port_B" class="inputDes form-control">
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label class="label">Berth/Location</label>

                                <input type="text" id="Berth_B" name="Berth_B" class="inputDes form-control">

                            </div>
                        </div>
                        <!--<div class="compBlk">
                            <label class="label">Location</label>
                            <div>
                               <input type="text" id="Location_B" name="Location_B" class="inputDes" />
                            </div>
                        </div>-->
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label class="label">Estimated Date of Arrival</label>
                                <div class="select-calendar"><input type="text" class="form-control" id="Date_of_Arrival_B" name="Date_of_Arrival_B" placeholder="dd-MM-yyyy"></div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label class="label">Estimated Time of Arrival </label>
                                <div class="select-style">
                                    <select id="Time_of_Arrival_B" class="form-control">
                                        <option>00:00</option>
                                        <option>01:00</option>
                                        <option>02:00</option>
                                        <option>03:00</option>
                                        <option>04:00</option>
                                        <option>05:00</option>
                                        <option>06:00</option>
                                        <option>07:00</option>
                                        <option>08:00</option>
                                        <option>09:00</option>
                                        <option>10:00</option>
                                        <option>11:00</option>
                                        <option>12:00</option>
                                        <option>13:00</option>
                                        <option>14:00</option>
                                        <option>15:00</option>
                                        <option>16:00</option>
                                        <option>17:00</option>
                                        <option>18:00</option>
                                        <option>19:00</option>
                                        <option>20:00</option>
                                        <option>21:00</option>
                                        <option>22:00</option>
                                        <option>23:00</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label class="label">Estimated Date of Departure </label>
                                <div class="select-calendar"><input type="text" class="form-control" id="Date_of_Departure_B" name="Date_of_Departure_B" placeholder="dd-MM-yyyy"></div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label class="label">Estimated Time of Departure </label>
                                <div class="select-style">
                                    <select id="Time_of_Departure_B" class="form-control">
                                        <option>00:00</option>
                                        <option>01:00</option>
                                        <option>02:00</option>
                                        <option>03:00</option>
                                        <option>04:00</option>
                                        <option>05:00</option>
                                        <option>06:00</option>
                                        <option>07:00</option>
                                        <option>08:00</option>
                                        <option>09:00</option>
                                        <option>10:00</option>
                                        <option>11:00</option>
                                        <option>12:00</option>
                                        <option>13:00</option>
                                        <option>14:00</option>
                                        <option>15:00</option>
                                        <option>16:00</option>
                                        <option>17:00</option>
                                        <option>18:00</option>
                                        <option>19:00</option>
                                        <option>20:00</option>
                                        <option>21:00</option>
                                        <option>22:00</option>
                                        <option>23:00</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label class="label">Agent</label>
                                <input type="text" id="Agent_B" name="Agent_B" class="inputDes form-control">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <h4 class="txt-blue txt-md ">Any Other Detail</h4>
                            <textarea id="Other_Detail_B" class="form-control"></textarea>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 mb-3">

                    <div id="recaptcha1"></div>

                </div>
                <div class="col-md-12 mb-3 text-right">
                    <p><button type="submit" id="btnRequestQuoteSubmit" class="btn btn-primary">Submit</button></p>
                </div>
            </form>
        </div>
    </div>
</section>

