@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions


@{

    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/Bunkering/", "");
    var path = ContentPath.Replace("/Bunkering/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "cssclass").FirstOrDefault().Value;
    if (string.IsNullOrEmpty(paramid))
    {
        paramid = "breadcrumb-sub-layout bg-gray py-5";
    }
}

<section class="@paramid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="breadcrumb-sublayout-ul">
                    @for (int i = 0; i <= pathArr.Count() - 1; i++)
                    {
                        navPath = navPath + pathArr[i];


                        <li><a href="@navPath">@pathArr[i]</a></li>
                        navPath = navPath + "/";
                    }
                </ul>
            </div>
        </div>
    </div>
</section><!-- /breadcrumb -->
