@*
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    /**/

    if (Model?.NavItems == null)
    {
        return;
    }

}

@if (Model?.NavItems != null)
{

    <nav class="navbar navbar-expand-lg pl-5">
        <div class="">

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">


                    @foreach (var item in Model.NavItems)
                    {

                        <li class="nav-item active">
                            <a class="nav-link" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </nav>
}
*@

 <nav class="navbar navbar-expand-lg pl-5">
 
					 <div class="">
					 
					  <div class="collapse navbar-collapse" id="navbar">
					   <ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown megamenu-li">
						 <a class="nav-link dropdown-toggle" href="/businesses">Businesses</a>
						 <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
						  <div class="container-fluid">
								<h5><a href="/businesses">Explore Businesses</a></h5>
								                   
								<hr />
								<div class="row">
													<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/renewable-power-generation">Renewable Power Generation</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/solar-manufacturing">Solar Manufacturing</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/ports-and-terminals">Ports and Terminals</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/logistics">Logistics</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/agri-logistics">Agri Logistics</a>
										
									</div>
									
									
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/industrial-land">Industrial Land</a>
										
									</div>
										<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/power-transmission">Power Transmission</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/power-distribution">Power Distribution</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/gas-distribution">Gas Distribution</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/defence-and-aerospace">Defence and Aerospace</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/edible-oil-and-food-products">Edible Oil and Food Products</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/fruits">Fruits</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/real-estate">Real Estate</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/financial-services">Financial Services</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/Housing-Finances">Housing Finance</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/airports">Airports</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/water">Water</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/road-metro-and-rail">Road, Metro and Rail</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/data-center">Data Center</a>
										
									</div>
										<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/thermal-power-generation">Thermal Power Generation</a>
										
									</div>
									<div class="col-md-6">
										<a class="dropdown-item" href="/businesses/natural-resources">Natural Resources</a>
										
									</div>
									
								</div>
						  </div>
						 </div>
						</li>
						
				
				
				
				 
<li class="nav-item dropdown megamenu-li">
   <a class="nav-link dropdown-toggle" href="/Sustainability">Sustainability</a>
	
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="/Sustainability">Explore Sustainability</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Environment">Environment</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Communities">Communities</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/water">Water</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Safety">Safety First</a>

                        </div>
						  <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Waste-Management">Waste Management</a>

                        </div>
						  <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Operational-Efficiency">Operational Efficiency</a>

                        </div>
						
                    </div>
                </div>
            </div>
        </li>
				
				
				
				
				<li class="nav-item dropdown megamenu-li">
   <a class="nav-link dropdown-toggle" href="/Sports">Sports</a>
	
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                <div class="container-fluid">
                    <h5><a href="/Sports">Explore Sports</a></h5>
                    <hr />
                    <div class="row">

                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sports#Garvhai">#Garvhai</a>
                    
                        </div>
						  <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sports#Marathon">Ahmedabad Marathon</a>
                    
                        </div>
						  <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sports#ProKabaddi">Fortune Pro-Kabaddi </a>
                    
                        </div>
						
				
				                    </div>
                </div>
            </div>
        </li>
				
				
						<li class="nav-item">
						<a class="nav-link" href="/Blogs">
						  Blogs
						</a>
						</li>
				
				
				
						
					   </ul>
					  </div>
					 </div>
					</nav>



