
@using Sitecore.Mvc.Presentation
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{ var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}






<div class="footerBtmPanel mt-3 py-2">
    <div class="container">
        <div class="row row-grid align-items-end ftrBtmInner">
            <div class="col-12 col-md-auto text-center text-md-left">
                <div class="d-none d-md-block">
                    @Html.Sitecore().Field(Templates.LinkMenu.Fields.Heading)</div>
                </div>
                <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                    <div class="footerMenu">
                        <ul class="ft-policy-links">
                            @foreach (var item in model.GetChildren().ToList())
                            {
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item">
                                    @Html.Sitecore().BeginField("Link", item, new { haschildren = true })
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item)
                                    @Html.Sitecore().EndField()
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>

