@*
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    /**/

    if (Model?.NavItems == null)
    {
        return;
    }

}

@if (Model?.NavItems != null)
{

    <nav class="navbar navbar-expand-lg pl-5">
        <div class="">

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">


                    @foreach (var item in Model.NavItems)
                    {

                        <li class="nav-item active">
                            <a class="nav-link" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </nav>
}
*@

 <nav class="navbar navbar-expand-lg pl-5">
 
					 <div class="">
					 
					  <div class="collapse navbar-collapse" id="navbar">
					   <ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown megamenu-li">
						 <a class="nav-link dropdown-toggle" href="/businesses">Businesses</a>
						 <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
						  <div class="dropdown-business">
								<h5><a href="/businesses">Explore Businesses</a></h5>
								                   
								<hr>
								<div class="row">
<div class="col-lg-6 mb-lg-0 mb-3">
<h6 class="mb-2 pl-3 pl-lg-0"><strong>Sectors</strong></h6>
<a class="dropdown-item" href="https://www.adani.com/businesses#EnergyUtilities">Energy and Utilities</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#TransportationLogistics">Transportation and Logistics</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#Incubation">Incubation</a>
<a class="dropdown-item" href="https://www.adani.com/businesses/airports">Airports</a>
<a class="dropdown-item" href="https://www.adani.com/businesses/materials">Materials</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#Others">Others</a>
</div>

<div class="col-lg-6">
<h6 class="mb-2 pl-3 pl-lg-0"><strong>Companies</strong></h6>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniEnterprises">Adani Enterprises Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniPorts">Adani Ports and SEZ Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniGreen">Adani Green Energy Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniGas">Adani Total Gas Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniTransmission">Adani Transmission Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#Adanipower">Adani Power Ltd</a>
</div>									
								</div>
						  </div>
						 </div>
						</li>
						
				
				
				
				 
<li class="nav-item dropdown megamenu-li">
   <a class="nav-link dropdown-toggle" href="/Sustainability">Sustainability</a>
	
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="">
                    <h5><a href="/Sustainability">Explore Sustainability</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Environment">Environment</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Communities">Communities</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/water">Water</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Safety">Safety First</a>

                        </div>
						  <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Waste-Management">Waste Management</a>

                        </div>
						  <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sustainability/Operational-Efficiency">Operational Efficiency</a>

                        </div>
						
                    </div>
                </div>
            </div>
        </li>
				
				
				
				
				<li class="nav-item dropdown megamenu-li">
   <a class="nav-link dropdown-toggle" href="/Sports">Sports</a>
	
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                <div class="">
                    <h5><a href="/Sports">Explore Sports</a></h5>
                    <hr />
                    <div class="row">
					<div class="col-lg-6">
                            <a class="dropdown-item" href="/Sports#ProKabaddi">Gujarat Giants </a>
                    
                        </div>

                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sports#Garvhai">#Garvhai</a>
                    
                        </div>
						  <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sports#Marathon">Ahmedabad Marathon</a>
                    
                        </div>
						  
						 <div class="col-lg-6">
                            <a class="dropdown-item" href="/Sports#Cricket">Gulf Giants </a>
                    
                        </div>
						
				
				                    </div>
                </div>
            </div>
        </li>
				
				
						<li class="nav-item">
						<a class="nav-link" href="/Blogs">
						  Blogs
						</a>
						</li>
				
				
				
						
					   </ul>
					  </div>
					 </div>
					</nav>



