
<div class="ml-5" id="topMenu">
    <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
    <div class="clearfix"></div>
    <ul class="topMenu d-lg-flex d-none">
        <li class="dropdown">
            <a href="/about-us">
                About Us
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid">
                    <h5><a href="/about-us">Explore About Us</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/about-us/one-Vision-One-team">One Vision One Team</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/about-us/chairman-Message">Chairman's Message</a>

                        </div>

                    </div>
                </div>
            </div>
        </li>

        <li class="dropdown">

            <a href="/investors">
                Investors
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="/investors">Explore Investors</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" id="investorDownloadsMenu" href="/investors/investor-downloads">Investor Downloads </a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanienterprisesMenu" href="/investors/#Investors">Adani Enterprises Ltd </a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adaniportMenu" href="/investors/#Investors">Adani Ports and SEZ Ltd </a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanigasMenu" href="/investors/#Investors">Adani Gas Ltd</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanigreenMenu" href="/investors/#Investors">Adani Green Energy Ltd</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanitransmissionMenu" href="/investors/#Investors">Adani Transmission Ltd</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanipowerMenu" href="/investors/#Investors">Adani Power Ltd</a>

                        </div>

                    </div>
                </div>
            </div>

        </li>

        <li class="dropdown">

            <a href="/newsroom">
                Newsroom
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                <div class="container-fluid">
                    <h5><a href="/newsroom">Explore Newsroom</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/media-release">Media Release</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/media-coverage">Media Coverage</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/chairman-corner">Chairman's Corner</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/media-library">Media Library</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/leaders-speak">Leaders Speak</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/social-media">Social Media</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/latest-updates">
                                Latest Updates
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/latest-news">
                                Latest News
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        <li class="dropdown">
            <a href="https://careers.adani.com/" target="_blank">Careers</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                <div class="container-fluid">
                    <h5><a href="https://careers.adani.com/" target="_blank">Explore Careers</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" target="_blank" href="https://adani.taleo.net/careersection/ex/jobsearch.ftl">Job Openings</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#LnD">L&D</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#HeroesAtWork">Our #HeroesAtWork </a>

                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li><a href="/contact-us">Contact Us</a></li>
    </ul>

    <ul class="topMenu d-lg-none d-block">
        <li class="dropdown">
            <a href="/businesses">Businesses</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid dropdown-business">
                    <h5><a href="/businesses">Explore Businesses</a></h5>

                    <hr />
                    <div class="row">
                        <div class="col-lg-6 mb-lg-0 mb-3">
                            <h6 class="mb-2 pl-3 pl-lg-0"><strong>Sectors</strong></h6>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#EnergyUtilities">Energy and Utilities</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#TransporationLogistics">Transporation and Logistics</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#Incubation">Incubation</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses/airports">Airports</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses/materials">Materials</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#Others">Others</a>
                        </div>

                        <div class="col-lg-6">
                            <h6 class="mb-2 pl-3 pl-lg-0"><strong>Companies</strong></h6>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#AdaniEnterprises">Adani Enterprises Ltd</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#AdaniPorts">Adani Ports and SEZ Ltd</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#AdaniGreen">Adani Green Energy Ltd</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#AdaniGas">Adani Total Gas Ltd</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#AdaniTransmission">Adani Transmission Ltd</a>
                            <a class="dropdown-item" href="https://stage.adaniuat.com/businesses#AdaniPower">Adani Power Ltd</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a href="/sustainability">Sustainability</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="/sustainability">Explore Sustainability</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/sustainability/environment">Environment</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/sustainability/communities">Communities</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/sustainability/water">Water</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/sustainability/safety">Safety First</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/sustainability/waste-management">Waste Management</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/sustainability/operational-efficiency">Operational Efficiency</a>

                        </div>

                    </div>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a href="/sports">Sports</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                <div class="container-fluid">
                    <h5><a href="/sports">Explore Sports</a></h5>
                    <hr />
                    <div class="row">

                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/sports#Garvhai">#Garvhai</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/sports#Marathon">Ahmedabad Marathon</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/sports#ProKabaddi">Fortune Pro-Kabaddi </a>

                        </div>


                    </div>
                </div>
            </div>
        </li>

        <li><a href="/blogs">Blogs</a></li>

        <li class="dropdown">
            <a href="/about-us">About Us</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid">
                    <h5><a href="/about-us">Explore About Us</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/about-us/one-vision-one-team">One Vision One Team</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/about-us/chairman-message">Chairman's Message</a>

                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="/investors">Investors</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="/investors">Explore Investors</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/investors/#Investors">Adani Enterprises Ltd </a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/investors/#Investors">Adani Portsand SEZ Ltd </a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/investors/#Investors">Adani Gas Ltd</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/investors/#Investors">Adani Green Energy Ltd</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/investors/#Investors">Adani Transmission Ltd</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/investors/#Investors">Adani Power Ltd</a>

                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="/newsroom">
                Newsroom
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                <div class="container-fluid">
                    <h5><a href="/newsroom">Explore Newsroom</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/media-release">Media Release</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/media-coverage">Media Coverage</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/chairman-corner">Chairman's Corner</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/media-library">Media Library</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/leaders-speak">Leaders Speak</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/newsroom/social-media">Social Media</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/latest-news">Latest News</a>

                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a href="https://careers.adani.com/" target="_blank">Careers</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                <div class="container-fluid">
                    <h5><a href="https://careers.adani.com/" target="_blank">Explore Careers</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" target="_blank" href="https://adani.taleo.net/careersection/ex/jobsearch.ftl">Job Openings</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#LnD">L&D</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#HeroesAtWork">Our #HeroesAtWork </a>

                        </div>
                    </div>
                </div>
            </div>
        </li>;
        <li><a href="/contact-us">Contact Us</a></li>
    </ul>
</div>