@using Sitecore.Data.Fields
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Feature.Navigation
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<div class="mainSlider">
    @foreach (var element in models.Children.ToList())
    {
        <div class="banner-section">
    <div class="owl-carousel owl-theme homeslider">
        <div class="item">
            <picture>
                @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, element, 0, 0, "img-fluid")

            </picture>
        </div>
    </div>
    <!--Banner Content-->
    <section class="slider-content">
        <div>
            @Html.Sitecore().Field("MediaDescription", element)
        </div>
    </section>
</div>
    }
    <!--/Banner Content-->
    <!--Calculator-->
    <section class="filter-box">
        <div class="skew-bg"></div>
        <div class="container-fluid">
            <form action="/Searchs">
                @Html.Sitecore().Placeholder("PropertySearch-form")
            </form>
        </div>
    </section>
    <!--/Calculator-->
</div>
