
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }

    var isSocialMenu = Model.NavItems.All(i => !string.IsNullOrWhiteSpace(i.Item[Templates.LinkMenuItem.Fields.Icon]));
}

<ul class="ft-social">

    @foreach (var item in Model.NavItems)
    {

        <li><a href="@item.Url" target="_blank" title="@item.Item[Templates.Navigable.Fields.NavigationTitle]"><span class="sprite-social ft-@item.Item[Templates.Navigable.Fields.NavigationTitle]"></span></a></li>
    }
    </ul>
