@using Sitecore.Data.Fields
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Feature.Navigation
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
<div class="position-relative">

    <div class="owl-carousel owl-theme" id="property-inner">
        <div class="item">
            @foreach (var element in models.Children.ToList())
            {
                @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, element, 0, 0, "img-fluid")
            }
        </div>
    </div><!-- /Slider -->
    <div class="project-title pt-5">
        <div>
            <div class="container">
                <h6><a href="/"><i class="fa fa-home"></i></a><i class="fa fa-angle-right my-2"></i><a href="/Our-Projects">Projects</a><i class="fa fa-angle-right my-2"></i>
		@foreach (var element in models.Children.ToList())
                    {
                        @Html.Sitecore().Field("MediaTitle", element)
                    }
		</h6>
               
            </div>
        </div>
    </div>
</div>

