
@*@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Feature.Navigation
@model Sitecore.Feature.Navigation.Models.NavigationItems

<div class="breadcrumb">
    <div class="container">
        <ul>
            @for (int i = 0; i < Model.NavItems.Count() - 1; i++)
            {
                <li>
                    <a href="@Model.NavItems[i].Item.Url()">
                            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item)
                    </a>
                </li>
            }
        </ul>
        <h3>@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[Model.NavItems.Count() - 1].Item)</h3>
    </div>
</div>*@
