@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<div class="pageTitleBar">
    <div class="breadcrumbBg">
        @Html.Sitecore().Field("{9F51DEAD-AD6E-41C2-9759-7BE17EB474A4}", models.ID)
        @*<img src="images/bg-about1.png">*@
    </div>
    <div class="container">
        <ul class="breadcrumb">
            @for (int i = 0; i < Model.NavItems.Count() - 1; i++)
            {
                <li>
                    <a href="@Model.NavItems[i].Item.Url()">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item)</a>
                </li>
                <li>&nbsp;&gt;</li>
            }
        </ul>
        <h2 class="pageTitle">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[Model.NavItems.Count() - 1].Item)</h2>
    </div>
</div>