@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
    Sitecore.Data.Fields.ImageField defaultUrl;
    var isSocialMenu = Model.NavItems.All(i => !string.IsNullOrWhiteSpace(i.Item[Templates.LinkMenuItem.Fields.Icon]));
}

<ul class="navbar-nav  ml-auto">
    @foreach (var item in Model.NavItems)
    {
        <li class="nav-item">
            <a class="nav-link" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>
        </li>
    }
</ul>


