@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }

}

@if (Model?.NavItems != null)
{
    var currentURl = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
    foreach (var item in Model.NavItems)
    {
        if (item.Url == currentURl)
        {
            <li><a href="@item.Url" class="active">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></li>
        }
        else
        {
            <li><a href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></li>
        }
    }
}

