
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }

}



@foreach (var item in Model.NavItems)
{
<a href="@item.Url">
    @*@if (item.Item[Templates.LinkMenuItem.Fields.Image] != null)
    {

    }*@
    <div class="@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.BGCSS, item.Item)">
        <img src="-/media/F4A347A29ECD46AAA38E3EC86D7E11F5.ashx" alt="Belvedere golf club Ahmedabad" class="mr-2" />
    </div>
    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
</a>
}


