@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}
<div class="container">
    @foreach (var item in Model.NavItems)
    {
        <div class="row align-items-center text-center our-centers-box">
            <div class="col-12 col-lg-auto">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item)</div>
            <div class="col-12 col-lg-auto"><p>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</p></div>
            <div class="col-md-5 ml-md-auto"><a href="@item.Url" class="btnBordered whiteBtn btnLg">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></div>
            <div class=""></div>
        </div>
    }
</div>

