@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
	if (Model?.NavItems == null)
	{
		return;
	}
}
@foreach (var item in Model.NavItems)
{
		<div class="text-center">
			<a href="@item.Url" class="btn btnBordered serviceBtn">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)&nbsp;&nbsp;<i class="far fa-arrow-alt-circle-right"></i></a>
		</div>
}

