@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
	if (Model?.NavItems == null)
	{
		return;
	}
}
<div class="footerMenu menuSecondary">
	<ul class="text-md-right">
		@foreach (var item in Model.NavItems)
		{
			<li><a href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></li>
		}
	</ul>
</div>


