@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
  var BannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["banner-image"];
}
<section class="inner-banner" style="background-image: url(@BannerImage)"></section>
<div class="pageheading media-page-heading">
    <div class="container flex">
        <h1>Media</h1>
        <ul class="beforescew related-links">
            @if (Model?.NavItems != null)
            {
                var currentlink = Request.RawUrl;
                foreach (var item in Model.NavItems)
                {
                    if (currentlink == item.Url)
                    {
                        <li><a href="@item.Url" class="active">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></li>


                    }
                    else
                    {
               <li> <a href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></li>
                    }
                }
            }
                </ul>

    </div>
</div>