@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems
@{
    if (Model?.NavItems == null)
    {
        return;
    }
}

<div class="pageContent">
    <div class="container">
        <div class="row newsletter">
           
                @foreach (var item in Model.NavItems)
                {
                 
                    <div class="col-sm-3">
                        <a href="@item.Url">
                            <div class="newsletter-thumb img-zoom cert-thumb">
                                @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)
                            </div>
                        </a>
                        <p class="py-4"><b>@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</b></p>
                    </div>

                }
             
        </div>
    </div>
</div>

