@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems
@{

    if (Model?.NavItems == null)
    {
        return;
    }
}<div class="pageContent">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.NavItems)
            {
                var target = item.IsNewTab ? "_blank" : "";           
                <div class="col-md-4 mb-4">
                    <a href="@item.Url" target="@target" class="tile paymentTile">
                        <div class="iconBox">
                            @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)
                        </div>
                        <div class="detailBox">
                            <div class="paymentType">@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
