@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

 @foreach (var item in Model.NavItems)
 {

<div class="item">
    <p>  @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</p>
</div>
 }