@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);


    var i = 0;
    var sortedItem = elements.Children.Where(x => x.Fields["IsVisible"].Value == "1").OrderByDescending(x => x.Fields["Date"].Value);

}
<div class="col-lg-4 newsupdate">
    <div class="bg-white box-shadow p-4 h-100" data-aos="fade-right"  >
        <h3 class="section-heading">News and Updates</h3>
        <ul class="news-updates">
            @foreach (var item in sortedItem)
            {
                string linkUrl = Sitecore.Links.LinkManager.GetItemUrl(item);
                <li>
                    <a href="@linkUrl">@Html.Sitecore().Field("Title", item)</a>
                </li>
                if (i == 2)
                {
                    break;
                }
                i++;
            }
        </ul>
        @{

            string parentUrl = Sitecore.Links.LinkManager.GetItemUrl(elements);
        }
        <p class="text-left mt-4"><a href="@parentUrl" class="btn btn-gradient">View more</a></p>
    </div>
</div>
