@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
}










<section class="bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h3 class="heading pl-4 mb-4">Quick Links</h3>
                <div class="row">

                    @foreach (var child in parent.Children.ToList())
                    {

                    Sitecore.Data.Fields.LinkField linkfield = child.Fields["Link"];
                    var url = linkfield.GetFriendlyUrl();


                    <div class="col-md-4 mb-3">
                        <div class="border p-3 q-links">
                            <div class="row">
                                <div class="col-4">
                                    @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid")
                                </div>
                                <div class="col-8">
                                    <p>@Html.Sitecore().Field("NavigationTitle", child)</p>
                                    <p class="mt-3 child"><a href="@url"><i class="fa fa-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>



                    }

                </div>
            </div>
            <div class="col-lg-3">
    <h3 class="heading pl-4 mb-4">Container Tracking</h3>
            @Html.Sitecore().Placeholder("container-tracking-form")
                </div>
        </div>
    </div>
</section><!--/section-->
