@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

<div class="ml-5" id="topMenu">
    <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
    <div class="clearfix"></div>
    <ul class="topMenu">
        @foreach (var item in Model.NavItems)
        {
            <li><a href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></li>
        }
        </ul>
</div>
