@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
}


<div class="pageContent">
    @if (datasource != null)
    {
        <div class="container">
            <div class="testimonial">
                @foreach (var items in parent.Children.ToList())
                {
                    <div class="panel">
                        <div class="row">
                            <div class="col-sm-9"><h5 class="txt-orange"><i class="far fa-thumbs-up mr-2"></i>@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items)</h5></div>
                            <div class="col-sm-3 txt-right">
                                <p>@Html.Sitecore().Field(Templates.Navigable.Fields.Link, items, new { @class = "btn btnBordered serviceBtn readmore mb-0" })</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

