<form class="form-body" id="enquirynow_form1" name="enquirynow_form1" method="post">
    <input type="hidden" value="Enquiry-Now Form" id="FormType" />
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <div class="col-sm-12 mb-3">
                    <input type="text" class="form-control py-1" id="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 mb-3">
                    <input type="email" class="form-control py-1" id="mailid" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 mb-3">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="interestedIn">
                        <option selected="">Interested in</option>
                        <option value="Family Membership">Family Membership</option>
                        <option value="Corporate Membership">Corporate Membership</option>

                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 mb-3">
                    <input type="text" class="form-control py-1" id="city" placeholder="City">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group row">
                <div class="col-sm-12 mb-3">
                    <input type="number" class="form-control py-1" id="mobile" placeholder="Contact">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 mb-3">
                    <textarea rows="5" cols="50" class="form-control" id="message" placeholder="Message"></textarea>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group row mb-0">
                <div class="col-12">
                    @Html.Captcha("Try another", "Enter the text you see above:", 4, "Is required field", true)
                    @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block" }, "p")
                </div>
            </div>
        </div>

      

        <div class="col-sm-6">
            <div class="form-group row mb-0">
                <div class="col-12">
                    <button type="submit" id="btnEnquiryNowSubmit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>