@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@*<!-- Be At Belvedere -->
    <section class="section bg-white">
        <div class="container">
            <div class="row mt-5 pb-4 about_belvedere">
                <div class="col-lg-4"><a href="#" target="_blank"><img alt="" src="images/b3.png" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" /></a></div>
                <div class="col-lg-8" data-aos="fade-up">
                    <h2 class="sectionHeading main">Be.<span class="caption txt-gray"> At Belvedere</span></h2>
                    <p class="txt-left txt-md mb-3 mr-auto ml-auto">Built over about 1,00,000 sqft (9,290 sqm), the Belvedere Club is a creation of imagination. It is a space for the millennial as much as it is for the next generation. It brings together a selection of possibilities from intensive sports activities to leisurely fine dining and everything in the middle.</p>
                    <p class="txt-left txt-md mb-3 mr-auto ml-auto">The club offers its members recreational and networking opportunities that come with a rare pedigree refined over decades.</p>
                    <br />
                    <a href="/en/about-us" class="btn btn-primary blueBtn my-3 my-md-0 ml-auto mr-auto">Explore</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Be At Belvedere -->
    <!-- Amenities -->
    <section class="bg-gray section">
        <div class="">
            <div class="">
                <div class="row marg0 mt-5 mb-4 explore_belvedere">
                    <div class="col-lg-8 col-md-12 amenities mobile-none" data-aos="fade-right">
                        <div class="flex-container" id="alignContent">
                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-lightGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_Basketball_1383672 copy.png" alt="" />
                                        <h4>Sports</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/tennis-3417790_1920.png" class="img-fluid" />
                            </div>

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-darkGreenImage">
                                    <div class="centerCon">
                                        <img src="images/fitness copy.png" alt="" />
                                        <h4>Fitness</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/emily-sea-198689-unsplash.png" class="img-fluid" />
                            </div>

                            <div class="item empty-grid">
                                <div class="g-noImage"></div>
                            </div>

                            <div class="item empty-grid">
                                <div class="g-noImage"></div>
                            </div>

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-darkGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_Cards_1240261 copy.png" alt="" />
                                        <h4>Entertainment</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/cmdr-shane-553705-unsplash.png" class="img-fluid" />
                            </div>

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-darkGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_Lotus_1524761.png" alt="" />
                                        <h4>Wellness</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/antonika-chanel-467876-unsplash.png" class="img-fluid" />
                            </div>

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-lightGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_Drink_875909.png" alt="" />
                                        <h4>Events</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/pablo-heimplatz-250363-unsplash.png" class="img-fluid" />
                            </div>

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-lightGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_meal_669488.png" alt="" />
                                        <h4>Dinning</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/brooke-lark-194252-unsplash.png" class="img-fluid" />
                            </div>

                            <div class="item empty-grid">
                                <div class="g-noImage"></div>
                            </div>
                        </div>
                    </div>

                    <!-- mobile -->
                    <div class="col-lg-8 col-md-12 amenities desktop-none" data-aos="fade-right">
                        <div class="flex-container" id="alignContent">
                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-lightGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_Basketball_1383672 copy.png" alt="" />
                                        <h4>Sports</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/tennis-3417790_1920.png" class="img-fluid" />
                            </div>

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-darkGreenImage">
                                    <div class="centerCon">
                                        <img src="images/fitness copy.png" alt="" />
                                        <h4>Fitness</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/emily-sea-198689-unsplash.png" class="img-fluid" />
                            </div>

                            <!-- <div class="item empty-grid"> -->
                            <!-- <div class="g-noImage"></div> -->
                            <!-- </div> -->
                            <!-- <div class="item empty-grid"> -->
                            <!-- <div class="g-noImage"></div> -->
                            <!-- </div> -->

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-darkGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_Cards_1240261 copy.png" alt="" />
                                        <h4>Entertainment</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/cmdr-shane-553705-unsplash.png" class="img-fluid" />
                            </div>

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-darkGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_Lotus_1524761.png" alt="" />
                                        <h4>Wellness</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/antonika-chanel-467876-unsplash.png" class="img-fluid" />
                            </div>

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-lightGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_Drink_875909.png" alt="" />
                                        <h4>Events</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/pablo-heimplatz-250363-unsplash.png" class="img-fluid" />
                            </div>

                            <div class="item">
                                <div class="bg-images">
                                    <img src="images/seamless-1837442_960_720.jpg" alt="" />
                                </div>
                                <div class="g-content g-lightGreenImage">
                                    <div class="centerCon">
                                        <img src="images/noun_meal_669488.png" alt="" />
                                        <h4>Dinning</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="item g-Image">
                                <img src="images/brooke-lark-194252-unsplash.png" class="img-fluid" />
                            </div>

                            <!-- <div class="item empty-grid"> -->
                            <!-- <div class="g-noImage"></div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                    <!-- mobile -->
                    <div class="col-lg-4 col-md-12 text-center amenities-txt animated fadeInRight">
                        <h2 class="sectionHeading main lh-50 margT0">Be.<span class="caption txt-gray"> Everything you wished for.</span></h2>
                        <p class="txt-left txt-md mb-3 mr-auto ml-auto">The entire complex has been divided into three primary zones, fitness, sports and entertainment.</p>
                        <p class="txt-left txt-md mb-3 mr-auto ml-auto">Belvedere Club gives you the option of plugging inti the future or switching off from the world into a completely unplugged environment. From hi-tech entertainment lounges to cards and games foom, explore a world where you decide the pace.</p>

                        <a href="/en/about-us" class="btn btn-primary blueBtn my-3 my-md-0 ml-auto mr-auto">Know more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Amenities -->
    <!-- Adrenalin -->
    <section class="bg-adrenalin">
        <div class="bg-images"><img src="images/adrenalin.jpg" alt="Adrenalin" width="1371" height="570" /></div>
        <div class="container pt-4 pb-5">
            <div class="">
                <div class="row">
                    <div class="col-lg-4 adrenalin-box" data-aos="fade-right">
                        <h2 class="sectionHeading main lh-40">Be.<span class="caption"> Where the adrenalin rush is</span></h2>
                        <ul>
                            <li class="txt-left txt-md mr-auto ml-auto">Swimming Pool</li>
                            <li class="txt-left txt-md mr-auto ml-auto">Gymnasium</li>
                            <li class="txt-left txt-md mr-auto ml-auto">Indoor Badminton Court</li>
                            <li class="txt-left txt-md mr-auto ml-auto">Squash Courts</li>
                            <li class="txt-left txt-md mr-auto ml-auto">Netted Cricket Pitch</li>
                            <li class="txt-left txt-md mr-auto ml-auto">Tennis Court</li>
                            <li class="txt-left txt-md mr-auto ml-auto">Half Basketball Court</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Adrenalin -->
    <!-- Membership -->
    <section class="membership bg-white pt-4 pb-5">
        <div class="container">
            <h3>Membership</h3>
            <div class="row">
                <div class="col-md-12 col-lg-6 row pad0 membership-block" data-aos="fade-right">
                    <div class="col-md-6 col-lg-6 bg-images pos-rel z-index-999 bg-pos membership-image"><img src="images/SM715111.png" alt="Adrenalin" width="350" height="265" /></div>
                    <div class="col-md-6 col-lg-6 membership-box bg-blue g-mg-top pos-rel z-index-99">
                        <div class="pos-abs z-index-999">
                            <h4 class="">Family Membership</h4>
                            <p>Term:</p>
                            <ul>
                                <li>05 Years</li>
                                <li>10 Years</li>
                                <li>15 Years</li>
                            </ul>
                        </div>
                        <div class="family-bg pos-rel z-index-99"></div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 row pad0 membership-block" data-aos="fade-left">
                    <div class="col-md-6 col-lg-6 bg-images pos-rel z-index-999 bg-pos membership-image"><img src="images/SM715111.png" alt="Adrenalin" width="350" height="265" /></div>
                    <div class="col-md-6 col-lg-6 membership-box bg-blue g-mg-top pos-rel z-index-99">
                        <div class="pos-abs z-index-999">
                            <h4 class="">Corporate Membership</h4>
                            <p>Term:</p>
                            <ul>
                                <li>05 Years</li>
                                <li>10 Years</li>
                            </ul>
                        </div>
                        <div class="corporate-bg pos-rel z-index-99"></div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Membership -->
    <!-- What our Members say -->
    @Html.Sitecore().Placeholder("Happy-Customer")
    <!-- What our Members say -->
    <!-- get in touch -->
    <section class="get-in-touch bg-white">
        <div class="">
            <div class="row marg0">
                <div class="col-md-6 col-lg-6 pad0">
                    <div id="map-container" class="z-depth-1-half map-container" style="height: 500px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.2610528270448!2d77.06662641549207!3d28.411378800805572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d18744ae1cb2b%3A0xb77096be8050566b!2sAdani+Samsara+Gurgaon!5e0!3m2!1sen!2sin!4v1544088350485" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 row marg0">
                    <div class="bg-images"><img src="images/seamless-1837442_960_720 copy-6.png" alt="" /></div>
                    <div class="contentCon" data-aos="fade-left">
                        <h2>Get in touch</h2>
                        <p>The Belvedere Club</p>
                        <br />
                        <p>Sector 60,</p>
                        <p>Golf Course Extension Road,</p>
                        <p>Gurgaon - 122 001</p>
                        <br />
                        <p>0124 429 8666</p>
                        <br />
                        <p>sales@belvedereclub.in</p>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- get in touch -->
    <!-- download brochure -->
    <section class="download-brochure bg-white">
        <div class="">
            <div class="bg-images"><img src="images/restaurent_hi_res.png" alt="" /></div>
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-sm-12 form-group">
                            <label class="col-12 pad0">Name <span class="required"></span></label>
                            <div class="inputGroupContainer">
                                <input class="col-12 form-control" type="text" placeholder="" value="" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                            <label class="col-12 pad0">Mobile <span class="required"></span></label>
                            <div class="inputGroupContainer">
                                <input class="col-12 form-control" type="text" placeholder="" value="" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                            <label class="col-12 pad0">Email <span class="required"></span></label>
                            <div class="inputGroupContainer">
                                <input class="col-12 form-control" type="text" placeholder="" value="" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 form-group">
                            <label class="col-12 pad0"></label>
                            <button type="submit" class="btn btn-primary">Download the brochure</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>
    <!-- download brochure -->*@

<!-- Be At Belvedere -->

<section class="section bg-white position-relative d-block">
    <div class="bg-images">

        <img alt="" src="-/media/94D62E6F4EFF40D0988D8E133DAC010D.ashx" />
    </div>
    <div class="container">
        <div class="row mt-5 pb-4 about_belvedere">
            <div class="col-lg-4 col-4"><a rel="noopener noreferrer" href="#" target="_blank"><img alt="bel" src="-/media/F996962905524CAB9429A7FF29468D88.ashx" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" /></a></div>
            <div class="col-lg-8" data-aos="fade-up">
                <h2 class="sectionHeading main">Be.<span class="caption txt-white"> At Belvedere</span></h2>
                <p class="txt-left txt-md mb-3 mr-auto ml-auto txt-white">Built over about 1,00,000 sqft (9,290 sqm), the Belvedere Club is a creation of imagination. It is a space for the millennial as much as it is for the next generation. It brings together a selection of possibilities from intensive sports activities to leisurely fine dining and everything in the middle.</p>
                <p class="txt-left txt-md mb-3 mr-auto ml-auto txt-white">The club offers its members recreational and networking opportunities that come with a rare pedigree refined over decades.</p>
                <br />
                <a href="about-us.html" class="btn btn-primary btn-gold my-3 my-md-0 ml-auto mr-auto">Explore</a>
            </div>
        </div>
    </div>
</section>
<!-- Be At Belvedere -->
<!-- Amenities -->
<section class="bg-gray section p-0">
    <div>
        <div>
            <div class="row mx-0 my-0 mb-4 explore_belvedere">
                <div class="col-lg-8 col-md-12 amenities mobile-none pl-0" data-aos="fade-right">
                    <div class="flex-container" id="alignContent">
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" />
                            </div>
                            <div class="g-content g-lightGreenImage">
                                <div class="centerCon">
                                    <img alt="noun_Basketball_1383672 copy" class="img-fluid" src="-/media/6B55CB7779CC44D9ABB739A89503CDF4.ashx" />
                                    <h4>Sports</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="tennis-3417790_1920" src="-/media/5691AD6B97C64B8ABBF777E41F4918AC.ashx" class="img-fluid" />
                        </div>
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_72" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-darkGreenImage">
                                <div class="centerCon">
                                    <img class="img-fluid" src="-/media/B82D2AF406FC477990E0321EF7DB33FE.ashx" />
                                    <h4>Fitness</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="emily-sea-198689-unsplash" src="-/media/F9B1672A496F43F288E21A3268ECAD6F.ashx" class="img-fluid" />
                        </div>
                        <div class="item empty-grid">
                            <div class="g-noImage"></div>
                        </div>
                        <div class="item empty-grid">
                            <div class="g-noImage"></div>
                        </div>
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-darkGreenImage">
                                <div class="centerCon">
                                    <img alt="noun_Cards_1240261 copy" src="-/media/E5AE158634C04496AF0EF3E6AD13E86A.ashx" class="img-fluid" />
                                    <h4>Entertainment</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="" class="img-fluid" src="-/media/32957144448B4D4ABD9BA347514E179E.ashx" />
                        </div>
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-darkGreenImage">
                                <div class="centerCon">
                                    <img alt="" class="img-fluid" src="-/media/42CA3BB9C3584D3999FE99A358A60EC5.ashx" />
                                    <h4>Wellness</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="" class="img-fluid" src="-/media/25C6C479673F41058A0EFECEE142A22C.ashx" />
                        </div>
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-lightGreenImage">
                                <div class="centerCon">
                                    <img alt="" class="img-fluid" src="-/media/5BF597DF6A3148238749142AA6447A47.ashx" />
                                    <h4>Events</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="" class="img-fluid" src="-/media/A1DEAD63DC4B42EB8674F2B7949C7409.ashx" />
                        </div>
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-lightGreenImage">
                                <div class="centerCon">
                                    <img alt="" class="img-fluid" src="-/media/75F8D0B5AE0D42B1845F10C2F83D55FC.ashx" />
                                    <h4>Dinning</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="" class="img-fluid" src="-/media/1A7BD5D74B0E4585B543626C7120CEBD.ashx" />
                        </div>
                        <div class="item empty-grid">
                            <div class="g-noImage"></div>
                        </div>
                    </div>
                </div>
                <!-- mobile -->
                <div class="col-lg-8 col-md-12 amenities desktop-none" data-aos="fade-right">
                    <div class="flex-container" id="alignContent">
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-lightGreenImage">
                                <div class="centerCon">
                                    <img alt="noun_Basketball_1383672 copy" src="-/media/6B55CB7779CC44D9ABB739A89503CDF4.ashx" class="img-fluid" />
                                    <h4>Sports</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="tennis-3417790_1920" src="-/media/5691AD6B97C64B8ABBF777E41F4918AC.ashx" class="img-fluid" />
                        </div>
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_72" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-darkGreenImage">
                                <div class="centerCon">
                                    <img alt="" class="img-fluid" src="-/media/B82D2AF406FC477990E0321EF7DB33FE.ashx" />
                                    <h4>Fitness</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="emily-sea-198689-unsplash" src="-/media/F9B1672A496F43F288E21A3268ECAD6F.ashx" class="img-fluid" />
                        </div>
                        <!-- <div class="item empty-grid"> -->
                        <!-- <div class="g-noImage"></div> -->
                        <!-- </div> -->
                        <!-- <div class="item empty-grid"> -->
                        <!-- <div class="g-noImage"></div> -->
                        <!-- </div> -->
                        <div class="item">
                            <div class="bg-images">
                                <img alt="eamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-lightGreenImage">
                                <div class="centerCon">
                                    <img alt="noun_Cards_1240261 copy" src="-/media/E5AE158634C04496AF0EF3E6AD13E86A.ashx" class="img-fluid" />
                                    <h4>Entertainment</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="" class="img-fluid" src="-/media/32957144448B4D4ABD9BA347514E179E.ashx" />
                        </div>
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-darkGreenImage">
                                <div class="centerCon">
                                    <img alt="" class="img-fluid" src="-/media/42CA3BB9C3584D3999FE99A358A60EC5.ashx" />
                                    <h4>Wellness</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="" class="img-fluid" src="-/media/25C6C479673F41058A0EFECEE142A22C.ashx" />
                        </div>
                        <div class="item">
                            <div class="bg-images">
                                <img alt="eamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-lightGreenImage">
                                <div class="centerCon">
                                    <img alt="" src="images/noun_Drink_875909.png" />
                                    <h4>Events</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="" class="img-fluid" src="-/media/A1DEAD63DC4B42EB8674F2B7949C7409.ashx" />
                        </div>
                        <div class="item">
                            <div class="bg-images">
                                <img alt="seamless-1837442_960_720" src="-/media/D7E71A301DA54360ADBCD6C21E838464.ashx" class="img-fluid" />
                            </div>
                            <div class="g-content g-darkGreenImage">
                                <div class="centerCon">
                                    <img alt="" class="img-fluid" src="-/media/75F8D0B5AE0D42B1845F10C2F83D55FC.ashx" />
                                    <h4>Dinning</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item g-Image">
                            <img alt="" class="img-fluid" src="-/media/1A7BD5D74B0E4585B543626C7120CEBD.ashx" />
                        </div>
                        <!-- <div class="item empty-grid"> -->
                        <!-- <div class="g-noImage"></div> -->
                        <!-- </div> -->
                    </div>
                </div>
                <!-- mobile -->
                <div class="col-lg-4 col-md-12 text-center amenities-txt animated fadeInRight py-5">
                    <h2 class="sectionHeading main lh-50 margT0">Be.<span class="caption txt-gray"> Everything you wished for.</span></h2>
                    <p class="txt-left txt-md mb-3 mr-auto ml-auto">The entire complex has been divided into three primary zones, fitness, sports and entertainment.</p>
                    <p class="txt-left txt-md mb-3 mr-auto ml-auto">Belvedere Club gives you the option of plugging inti the future or switching off from the world into a completely unplugged environment. From hi-tech entertainment lounges to cards and games foom, explore a world where you decide the pace.</p>
                    <a href="/amenities" class="btn btn-primary my-3 my-md-0 ml-auto mr-auto">Know more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Amenities -->
<!-- Adrenalin -->
<section class="bg-adrenalin">
    <div class="bg-images"><img src="-/media/E4740EAB09804470815CD933D31F3B5F.ashx" alt="Adrenalin" class="fixed-img" /></div>
    <div class="container pt-4 pb-5">
        <div class="">
            <div class="row">
                <div class="col-lg-4 adrenalin-box" data-aos="fade-right">
                    <h2 class="sectionHeading main lh-40">Be.<span class="caption"> Where the adrenalin rush is</span></h2>
                    <ul>
                        <li class="txt-left txt-md mr-auto ml-auto txt-white">Swimming Pool</li>
                        <li class="txt-left txt-md mr-auto ml-auto txt-white">Gymnasium</li>
                        <li class="txt-left txt-md mr-auto ml-auto txt-white">Indoor Badminton Court</li>
                        <li class="txt-left txt-md mr-auto ml-auto txt-white">Squash Courts</li>
                        <li class="txt-left txt-md mr-auto ml-auto txt-white">Netted Cricket Pitch</li>
                        <li class="txt-left txt-md mr-auto ml-auto txt-white">Tennis Court</li>
                        <li class="txt-left txt-md mr-auto ml-auto txt-white">Half Basketball Court</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Adrenalin -->
<!-- Membership -->
<section class="membership bg-white pt-4 pb-5 position-relative d-block">
    <div class="bg-images"><img src="-/media/6F971D865D714C5EBD4476A66FA90B1B.ashx" alt=""></div>
    <div class="container">
        <h3 class="txt-white">Membership</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 row pad0 membership-block" data-aos="fade-right">
                <div class="col-md-6 col-lg-6 bg-images pos-rel z-index-99 bg-pos membership-image"><img src="-/media/EA51F6F8F7884B5B9E255CB6EA5B9086.ashx" alt="Adrenalin" class="img-fluid" /></div>
                <div class="col-md-6 col-lg-6 membership-box bg-blue g-mg-top pos-rel z-index-9">
                    <div class="pos-abs z-index-9">
                        <h4 class="">Family Membership</h4>
                        <p>Term:</p>
                        <ul>
                            <li>05 Years</li>
                            <li>10 Years</li>
                            <li>15 Years</li>
                        </ul>
                    </div>
                    <div class="family-bg pos-rel z-index-99"><img alt="" src="-/media/9D6E5417182E4CCEBED9651E832EE1B2.ashx" /></div>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 row pad0 membership-block" data-aos="fade-left">
                <div class="col-md-6 col-lg-6 bg-images pos-rel z-index-99 bg-pos membership-image"><img src="-/media/E18854731AEF40F7A8B7BEBEA91CD039.ashx" class="img-fluid" /></div>
                <div class="col-md-6 col-lg-6 membership-box bg-blue g-mg-top pos-rel z-index-9 membership-box-1">
                    <div class="pos-abs z-index-9">
                        <h4>Corporate Membership</h4>
                        <p>Term:</p>
                        <ul>
                            <li>05 Years</li>
                            <li>10 Years</li>
                        </ul>
                    </div>
                    <div class="corporate-bg pos-rel z-index-99"><img alt="" src="-/media/E3A8B49F36294C44BC8FC4C47AECFB75.ashx" /></div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Membership -->
<!-- What our Members say -->
@Html.Sitecore().Placeholder("Happy-Customer")
<!-- What our Members say -->
<!-- get in touch -->
<section class="get-in-touch bg-white">
    <div>
        <div class="row marg0">
            <div class="col-md-6 col-lg-6 pad0">
                <div id="map-container" class="z-depth-1-half map-container" style="height: 500px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.2610528270448!2d77.06662641549207!3d28.411378800805572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d18744ae1cb2b%3A0xb77096be8050566b!2sAdani+Samsara+Gurgaon!5e0!3m2!1sen!2sin!4v1544088350485" width="100%" height="100%" frameborder="0" style="border:0;"></iframe>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 row marg0">
                <div class="bg-images"><img alt="" class="img-fluid" src="-/media/A611E50B293F4CF8BA2847265F565936.ashx" /></div>
                <div class="contentCon" data-aos="fade-left">
                    <h2>Get in touch</h2>
                    <p>The Belvedere Club</p>
                    <br />
                    <p>Sector 60,</p>
                    <p>Golf Course Extension Road,</p>
                    <p>Gurgaon - 122 001</p>
                    <br />
                    <p>0124 429 8666</p>
                    <br />
                    <p>sales@belvedereclub.in</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- get in touch -->
<!-- download brochure -->
<section class="download-brochure bg-white">
    <div>
        <div class="bg-images"><img alt="" class="img-fluid"  src="-/media/BA36C697600A492FA4CB4F779EA8B15C.ashx"  /></div>
        <div class="container">
            <form>
                @Html.Sitecore().Placeholder("BrochureDownloadForm")


                @*<div class="row">
                        <div class="col-lg-5 col-md-12 col-sm-12 form-group">
                            <label class="col-12 pad0">Name <span class="required"></span></label>
                            <div class="inputGroupContainer">
                                <input class="col-12 form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                            <label class="col-12 pad0">Mobile <span class="required"></span></label>
                            <div class="inputGroupContainer">
                                <input class="col-12 form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                            <label class="col-12 pad0">Email <span class="required"></span></label>
                            <div class="inputGroupContainer">
                                <input class="col-12 form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 form-group">
                            <label class="col-12 pad0"></label>
                            <button type="submit" class="btn btn-primary">Download the brochure</button>
                        </div>
                    </div>*@

            </form>
        </div>
    </div>
</section>
<!-- download brochure -->
