@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.BelvedereClubGurgaon.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var img = Sitecore.Context.Database.GetItem(paramid["background-image"]);
}




<!-- What our Members say -->
<section class="bg-adrenalin what-members-say">
    <div class="bg-images">
        @Html.Sitecore().ImageField(Templates.HasBannerSelector.Fields.Image,img)

    </div>
    <div class="container pt-4 pb-5">
        <div class="">
            <h3>What Our Members say...</h3>
            <div class="row" data-aos="fade-up">
                <div class="owl-carousel" id="what-members-say">

                    @foreach (var child in models.Children.ToList())
                    {

                        <div class="bg-white members-block">
                            <p>@Html.Sitecore().Field(Templates.HappyCustomer.Fields.Description, child)</p>
                            <div class="media">
                                @*  <img src="images/dummy-pic.jpg" class="members-pic img-fluid" width="100" height="100" alt="" />*@
                              
                                @Html.Sitecore().ImageField(Templates.HappyCustomer.Fields.Image, child, 0, 0, "members-pic img-fluid")
                                <div class="media-body margT20 pad20">
                                    <h4>@Html.Sitecore().Field(Templates.HappyCustomer.Fields.Name, child)</h4>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>

