<form id="brochure_form1" name="brochure_form1" method="post" action="">
    <input type="hidden" id="DBFormType" value="Download-Brochure Form" />
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 form-group">
            <label class="col-12 pad0">Name <span class="required"></span></label>
            <div class="inputGroupContainer">
                <input class="col-12 form-control" type="text" placeholder="" id="DBname" />
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 form-group">
            <label class="col-12 pad0">Mobile <span class="required"></span></label>
            <div class="inputGroupContainer">
                <input class="col-12 form-control" type="number" placeholder="" value="" id="DBmobile" />
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 form-group">
            <label class="col-12 pad0">Email <span class="required"></span></label>
            <div class="inputGroupContainer">
                <input class="col-12 form-control" type="email" placeholder="" value="" id="DBmailid" />
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 form-group">
            <label class="col-12 pad0">&nbsp;</label>
            <button type="submit" class="btn btn-primary" id="btnDownloadBrochureSubmit">Download the brochure</button>
        </div>
    </div>
</form>