@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="headerTopBar topNav">
    <div class="container">
        <!-- Toggle button to show/hide side top menu -->
        <div class="d-block d-lg-none topNavBtn">

            <button type="button" id="topNavCollapse" class="btn btn-menu">
                <!--<i class="fas fa-align-justify"></i>-->
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <!-- /Toggle button to show/hide top menu -->

        <div class="row justify-content-center">
            <div class="col-auto col-lg-12 mr-lg-auto topLeft txt-right ml-auto">
               
                    @*<li><a href=""><i class="fab fa-twitter border rounded-circle p-1 social-icons-top"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin-in	border rounded-circle p-1 social-icons-top"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-f border rounded-circle p-1 social-icons-top"></i></a></li>
            <li><a href=""><i class="fab fa-youtube border rounded-circle p-1 social-icons-top"></i></a></li>
            <li><a href=""><i class="fab fa-instagram border rounded-circle p-1 social-icons-top"></i></a></li>*@
                    @Html.Sitecore().Placeholder("right-header-top")
               
                <div class="" id="topMenu">
                    <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>

                    <ul class="topMenu m-0">
                        @*<li><a href="">About Us</a></li>
            <li><a href="">Club</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Contact</a></li>*@
                        @Html.Sitecore().Placeholder("left-header-top")
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
    <div class="navPanel">
        <div class="container">
            <nav class="navbar navbar-light">
                <!-- logo Brahma -->
                <a class="navbar-brand ColLogoBrahma mobile-none" href="https://brahmare.co.in" target="_blank">
                    <img src="-/media/7F850FFFD2C54EEC887CEC3FB48E0657.ashx" class="img-fluid" alt="Brahma">
                </a>
                <!-- logo Brahma -->
                <!-- logo Belvedere -->
                <a class="navbar-brand ColLogoBelvedere" href="http://belvedereclubgurgaon.dev.local/"><img src="-/media/A15FF4820435494CB0FAAA984A491F31.ashx" class="img-fluid" alt="Club"></a>
                <!-- logo Belvedere -->
                <!-- logo Adani Reality -->
                <a class="navbar-brand ColLogoAdaniReality mobile-none" href="http://www.adanirealty.com"><img src="-/media/376154E4BF2E41E4B9B5C18585970078.ashx" class="img-fluid" alt="Adani realty"></a>
                <!-- logo Adani Reality -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- main mobile menu -->
                <div class="collapse mainMobileMenu" id="mainMenu">
                    @Html.Sitecore().Placeholder("top-menu")
                </div>
                <!-- main mobile menu -->
            </nav>
        </div>
    </div>
