@using Sitecore.Mvc

<section class="bg-gray">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("CorporateOffice")            
        </div>
    </div>
</section><!--/Section-->
<section class="bg-gray py-5">
    <div class="container">
        <h4 class="heading pl-4 mb-4">Write to us</h4>
        <div class="contact-form">
            @Html.Sitecore().Placeholder("Contact-Form")
        </div>
    </div>
</section>
