@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@model RenderingModel
@{
    var Headerlink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Headerlink"];
    var HeaderMenuitem = Sitecore.Context.Database.GetItem(Headerlink);
   // var HeaderMenudata = HeaderMenuitem.Children;
}


<div class="row">
    <div class="col-sm-3 col-8 border-right text-center">
        <a class="navbar-brand" href="/"><img src="-/media/EA7BC5F3BC0C4740A97642F41E329276.ashx" alt="Adani Agrilogistics" class="img-fluid"></a>
    </div>
    <div class="col-sm-9 col-4">
        <div class="row nav-bg-white mainmenu">
            <div class="col-sm-8 col-md-9 border-right">
                <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="far fa-circle"></span>
                    <span class="far fa-circle"></span>
                    <span class="far fa-circle"></span>
                </button>
                <nav class="navbar navbar-expand-lg ml-5 my-3">
                    <div class="">

                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav mr-auto">

                                @foreach (var item in HeaderMenuitem.Children.ToList())
                                {
                                    Sitecore.Data.Fields.LinkField linkvalue = item.Fields["Link"];
                                    var linkUrl = linkvalue.GetFriendlyUrl();
                                    <li class="nav-item">
                                        <a class="nav-link" href="@linkUrl" id="navbarDropdown">
                                            @Html.Sitecore().Field("NavigationTitle", item)
                                        </a>
                                    </li>
                                }



                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-sm-4 col-md-3">
                @*<p class="searchIcon"><a href="#"><span><i class="fas fa-search"></i></span></a></p>*@
            </div>
        </div>
    </div>
</div>