@using Sitecore.Mvc
<section class="bg-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @Html.Sitecore().Placeholder("PageSummery")
            </div>
            <div class="col-lg-4">
                <div class="bg-gradient p-4 chairman-box">
                    @Html.Sitecore().Placeholder("ChairmanMessage")                    
                </div>
            </div>
        </div>
    </div>
</section><!--/Section-->
<section class="bg-gray pb-5">
    @Html.Sitecore().Placeholder("PageBody")
</section><!--/Vision & Values-->
