@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}


<section class="bg-cream section content-header travel-guide__content" id="first-section">
    <div class="container-fluid">
        <h2> @Html.Sitecore().Field("Title", model)</h2>
        @Html.Sitecore().Field("Body", model)
    </div>
</section>

