@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item elements = Sitecore.Context.Database.GetItem(datasource);
    var NavigateUrl = "";
}


<div class="owl-carousel owl-theme homeslider 123" data-click-state="0">
    @foreach (Item item in elements.GetChildren())
    {
        Sitecore.Data.Fields.LinkField linkField = item.Fields["MediaVideoLink"];
        NavigateUrl = linkField.Url;
        <div class="item @NavigateUrl" data-videosrc="@NavigateUrl">
            @Html.Sitecore().ImageField("MediaThumbnail", item, 0, 0, "image-fluid")
        </div>

    }
</div>



