@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item models = Sitecore.Context.Database.GetItem(datasource);
    
}
<section class="bg-white pb-5 pt-3">
    <div class="container p-4">
        @if (models != null)
        {
            <h2 class="border-l txt-lg mb-3 pl-3">@Html.Sitecore().Field("MediaTitle", models)</h2>
            if (models.GetChildren() != null)
            {
                <div class="owl-carousel owl-theme" id="collaboration" data-aos="fade-up">
                    @foreach (Item item in models.GetChildren())
                    {
                    <div class="item zoomin">
                        @Html.Sitecore().ImageField("MediaImage", item, 0, 0, "mb-2 w-auto")
                        @*<p class="text-center">@Html.Sitecore().Field("MediaTitle", item)</p>
                        <p class="txt-xs text-center">@Html.Sitecore().Field("MediaDescription", item)</p>*@
                    </div>
                    }

                </div>
            }
        }


    </div>
</section>



