@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item models = Sitecore.Context.Database.GetItem(datasource);
    
}
<section class="py-5">
    <div class="container">
        @if (models != null)
        {
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <h2 class="border-l txt-lg mb-3 pl-3">@Html.Sitecore().Field("Title", models)</h2>
                </div>
                <div class="col-lg-6">
                    @Html.Sitecore().Field("Body", models)
                </div>
            </div>
        }

    </div>
</section>




