@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item models = Sitecore.Context.Database.GetItem(datasource);
    
}


<section class="pt-5" data-aos="fade-up">
    <div class="container">
        @if (models != null)
        {
            <h2 class="border-l txt-lg mb-3 pl-3">@Html.Sitecore().Field("Title", models)</h2>
            if (models.GetChildren() != null)
            {
                <div class="row">
                    @foreach (Item item in models.GetChildren())
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="tileBox zoomin">
                                <div class="block-img">
                                    @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
                                </div>
                                <div class="block-desc blockTag">
                                    <h3>@Html.Sitecore().Field("Title", item)</h3>
                                    <p>@Html.Sitecore().Field("Summary", item)</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        } 


    </div>
</section>




