@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var contextItem = Sitecore.Context.Item;


}
<section class="bg-white pb-5 pt-3">
    <div class="container p-4">

        @if (contextItem != null)
        {
            <div class="row">
                <div class="col-lg-8 mb-3">
                    @Html.Sitecore().Placeholder("feature-slider")
                    @Html.Sitecore().Field("Body", contextItem)
                </div>

                <div class="col-lg-4">
                    <h2 class="border-l txt-lg mb-3 pl-3">Date & Time</h2>
                    <p class="mb-3 pl-3"><span>@Html.Sitecore().Field("Date", contextItem, new { format = "MMM dd yyyy" })</span></p>

                    <h2 class="border-l txt-lg mb-3 pl-3">Location</h2>
                    <p class="mb-3 pl-3"><span>@Html.Sitecore().Field("Summary", contextItem)</span></p>
                </div>
            </div>
        }


    </div>
</section>



