@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item element = Sitecore.Context.Database.GetItem(datasource);

   

}
<section class="py-5 pb-5">
    <div class="container">
        <h2 class="border-l txt-lg mb-3 pl-3">@Html.Sitecore().Field("Summary", element)</h2>
        @Html.Sitecore().Field("Body", element)
    </div>
</section>