@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item element = Sitecore.Context.Database.GetItem(datasource);

   
}

<section>
    <div class="">
        <div class="large-12 columns aos-init aos-animate" data-aos="fade-up">
            <div class="owl-carousel" id="sustanibility">
                      @if (element != null)
                        {
                            if (element.HasChildren)
                            {
                                foreach (Item item in element.GetChildren())
                                {
                                        <div class="item">

                                            @Html.Sitecore().Field("MediaImage", item)
                                            <div class="sus-tile">
                                                <div class="txt-overlay">
                                                    <h3>@Html.Sitecore().Field("MediaTitle", item)</h3>
                                                    @*<p>@Html.Sitecore().Field("MediaTitle", item)</p>*@
                                                </div>
                                            </div>

                                        </div>
                                 }
                            }
                        }
            </div>
        </div>
    </div>
</section>
