@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item models = Sitecore.Context.Database.GetItem(datasource);
    
}
<section class="bg-gray py-4">
    <div class="container">
        @if(models != null)
        {
            if(models.HasChildren)
                {
                    <div class="row">
                        @foreach(Item item in models.GetChildren())
                        {
                            <div class="col-lg-3 mb-3">
                                <div class="bg-white p-4 h-100 boxzoom">
                                    @Html.Sitecore().Field("Body", item)
                                </div>
                            </div>
                        }
                        
                    </div>
                }
        }
        
    </div>
</section>



