@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item element = Sitecore.Context.Database.GetItem(datasource);


}
<section class="pt-5 about-apsez loadmore-content" id="sectionfirst">
    <div class="container">
        @if (element != null)
        {
            <h2 class="border-l pl-3 txt-lg mb-3">@Html.Sitecore().Field("Title", element)</h2>
            @Html.Sitecore().Field("Body", element);
            <p class="text-center loadMore mb-3"></p>
            <p class="text-center arrow loadMore mb-3">Read more <i class="fa fa-chevron-down"></i></p>            
        }

    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-6 ">
                @Html.Sitecore().Field("Summary", element)
            </div>
            <div class="col-lg-6">
                @Html.Sitecore().Field("Image", Model.PageItem, new { @class = "img-fluid" })
            </div>
        </div>
    </div>
</section>

