 <section class="bg-gray pt-5">
    <div class="container">
        <div class="row">            
			<div class="col-lg-4 newsupdate">
				@Html.Sitecore().Placeholder("media-release")
			</div>

            <div class="col-lg-8">    			
				@Html.Sitecore().Placeholder("ceo-message")
            </div>
        </div>
    </div>
</section>