<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>		
		<pipelines>
			<initialize>
				<processor type="Adani.SuperApp.Airport.Project.Airport.Platform.Pipelines.BundleConfig, Adani.SuperApp.Airport.Project.Airport.Platform"
						   patch:before="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']" resolve="true"/>
			</initialize>
		</pipelines>
		<settings>
			<setting name="IgnoreUrlPrefixes">
				<patch:attribute name="value">/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/sitecore/service/xdb/disabled.aspx|/assets/css/about|/assets/css/landing|/assets/js/Landing|/assets/css/offers|/assets/js/Offers|/assets/css/static|/assets/css/AirportMain|/assets/js/AirportMain|/assets/js/AirportOther|/assets/css/AirportHome|/assets/js/AirportHome|/assets/css/staticservices|/assets/css/citytocity|/assets/css/citytocitylanding</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>