<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="Sitecore.Services.Heartbeat.ExcludeConnection" value="LocalMySqlServer|LocalSqlServer|solr.search|xconnect.collection|xconnect.collection.certificate|xdb.marketingautomation.operations.client|xdb.marketingautomation.operations.client.certificate|xdb.referencedata.client|xdb.referencedata.client.certificate|PackageManagementServiceUrl|EXM.CryptographicKey|EXM.AuthenticationKey|appinsights.instrumentationkey|redis.sessions|messaging|security|experienceforms|exm.master|reporting.apikey|sitecore.reporting.client|sitecore.reporting.client.certificate|sitecoreidentity.secret|xdb.marketingautomation.reporting.client|xdb.marketingautomation.reporting.client.certificate|cloud.search|EXM.DedicatedDispatchService" />
		</settings>
	</sitecore>
</configuration>