<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Project.Airport" description="Project items" dependencies="Adani.SuperApp.Airport.Foundation.Serialization.Platform">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>						
						<include name="templates" database="master" path="/sitecore/templates/Project/Adani" />
						<include name="renderings" database="master" path="/sitecore/layout/Renderings/Project/Adani" />
						<include name="resolvers" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Adani" />						
						<include name="layouts" database="master" path="/sitecore/layout/Layouts/Project/Adani" />
						<include name="placeholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/Adani" />
						<include name="dictionaries" database="master" path="/sitecore/content/AirportHome/Global/Airport" />
						<include name="branches" database="master" path="/sitecore/templates/Branches/Project" />
						<!-- System settings-->
						<include name="apikeys" database="master" path="/sitecore/system/Settings/Services/API Keys" />
						<include name="languages" database="master" path="/sitecore/system/Languages" />
						
						
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>