/* new page environment css*/

.col-lg-12.bg-image-1 {
    height: 370px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.container.position-relative.d-block {
    margin-top: 18rem;
}

p.title-climate {
    font: normal normal 600 30px/28px Adani;
    letter-spacing: 0px;
    color: #D29F11;
    margin-bottom: 20px;
    font-family: 'Adani-Regular';
}

p.title-climate-green {
    font: normal normal 600 30px/28px Adani;
    letter-spacing: 0px;
    color: #38782A;
    margin-bottom: 20px;
    font-family: 'Adani-Regular';
}

.extra-para {
    color: #0D67CA;
    margin-top: 1rem;
}

.item-climate {
    margin-left: 30px;
    margin-top: 26px;
}

p.text-climate {
    width: 89%;
    text-align: left;
    font: normal normal normal 17px/28px Adani;
    letter-spacing: 0px;
    color: #000000;
    font-family: 'Adani-Regular';
}

.item-climate-left {
    margin-top: 26px;
}

p.bg-img-text-1 {
    text-align: left;
    font: normal normal 600 20px/49px Adani;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 42px;
    margin-top: 63px;
    height: 27px;
}

p.bg-img-text-2 {
    text-align: left;
    font: normal normal 600 22px/49px Adani;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 45px;
}

p.bg-img-content-1 {
    width: 520px;
    font: normal normal normal 15px/25px Adani;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 45px;
}

section#covid19-env {
    padding-top: 1rem !important;
}

@media only screen and (min-width: 1600px) and (max-width: 5000px) {
    img.d-block.w-100.text-image-env {
        width: 564px !important;
    }
}

.bg-cli {
    position: relative;
    height: 532px;
    background: transparent linear-gradient(90deg, #1C84A6 0%, #386BB2 24%, #7356A3 50%, #903B94 76%, #C54961 100%) 0% 0% no-repeat padding-box;
}

p.pro-Env {
    font-size: 22px;
}

/* new page environment css END*/
