/* AEL_Sus_ESG-Goals-and-Targets css */
.Bg-ESG {
    background-image: url('/-/media/15771C0630F942A58696C1F2AEFA6D6A');
    background-size: cover;
    background-repeat: no-repeat;
}

.ESG-head-E-goals {
    height: 136px;
    /* background: #38782A 0% 0% no-repeat padding-box; */
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}

.ESG-head-S-goals {
    height: 136px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}

.ESG-head-G-goals {
    height: 136px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}

p.text-h-E-goals {
    width: 195px;
    height: 38px;
    text-align: left;
    font: normal normal 600 22px/49px Adani;
    letter-spacing: 0px;
    /* color: #ffffff; */
    color: #38782a;
    opacity: 1;
    margin-top: -57px;
    margin-left: 28px;
    font-family: 'Adani-Regular';
}

p.text-h-S-goals {
    width: 195px;
    height: 38px;
    text-align: left;
    font: normal normal 600 22px/49px Adani;
    letter-spacing: 0px;
    color: #D29F11;
    opacity: 1;
    margin-top: -57px;
    margin-left: 28px;
    font-family: 'Adani-Regular';
}

p.text-h-G-goals {
    width: 195px;
    height: 38px;
    text-align: left;
    font: normal normal 600 22px/49px Adani;
    letter-spacing: 0px;
    color: #5F2F91;
    opacity: 1;
    margin-top: -57px;
    margin-left: 28px;
    font-family: 'Adani-Regular';
}

p.ESG-E-goals {
    text-align: left;
    font: normal normal 500 84px/49px Adani;
    letter-spacing: 0px;
    /* color: #38601A; */
    color: #F2F2F2;
    opacity: 1;
    padding: 20px;
    font-family: 'Adani-Regular';
}

p.ESG-S-goals {
    text-align: left;
    font: normal normal 500 84px/49px Adani;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
    padding: 20px;
    font-family: 'Adani-Regular';
}

p.ESG-G-goals {
    text-align: left;
    font: normal normal 500 84px/49px Adani;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
    padding: 20px;
    font-family: 'Adani-Regular';
}

.action-A {
    height: 100%;
    background: #D0E6C2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 14px;
    font-family: 'Adani-Regular';
}

.action-B {
    height: 100%;
    background: #67BC48 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 14px;
    font-family: 'Adani-Regular';
}

h1.action-A-text {
    font: normal normal 600 22px/38px Adani;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-top: 34px;
    margin-left: 28px;
    font-family: 'Adani-Regular';
}

h1.action-B-text {
    font: normal normal 600 22px/38px Adani;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    padding-top: 34px;
    margin-left: 28px;
    font-family: 'Adani-Regular';
}

ul.action-list {
    margin-top: 1rem;
    text-align: left;
    letter-spacing: 0px;
    color: #070707;
    opacity: 1;
    font-size: 14px;
    margin-left: 28px;
}

    ul.action-list li {
        padding: 10px;
    }

ul.action-list-B {
    margin-top: 1rem;
    text-align: left;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    font-size: 14px;
    margin-left: 28px;
}

    ul.action-list-B li {
        padding: 10px;
    }

h1.action-head {
    text-align: center;
    font-family: 'Adani-SemiBold';
    letter-spacing: 0px;
    color: #38782A;
    opacity: 1;
    margin-bottom: 2rem;
    font-size: 28px;
}

input.btn.btn-success.btn-send.Goals {
    width: 180px;
    height: 55px;
    background: #0D67CA 0% 0% no-repeat padding-box;
    border-radius: 36px;
    opacity: 1;
    margin-left: 30rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.breadcrumb-banner-Goals {
    position: relative;
    display: block;
    padding: 70px 0px !important;
    background-color: #000;
    color: #fff;
    z-index: 9;
}

h1.Goals-item {
    text-align: left;
    font: normal normal 600 24px/55px Adani;
    letter-spacing: 0px;
    color: #38782A;
    opacity: 1;
}

h2.Goals-item {
    text-align: left;
    font: normal normal 600 18px/31px Adani;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}

.line-bs {
    position: relative;
    height: 155px;
    background-image: linear-gradient(#fff 98%, #67BC48 37%);
}

.line-E {
    position: relative;
    height: 155px;
    background-image: linear-gradient(#fff 98%, #67BC48 37%);
}

.line-S {
    position: relative;
    height: 155px;
    background-image: linear-gradient(#fff 98%, #d29f11 37%);
}

.line-G {
    position: relative;
    height: 155px;
    background-image: linear-gradient(#fff 98%, #5f2f91 37%);
}

.numeric {
    margin-top: 3rem;
    width: 97%;
}

img.text-image-goals {
    width: 255px;
    height: 255px;
}

.numeric-list {
    counter-reset: count !important;
}

    .numeric-list .number-list-orderlist {
        list-style-type: none;
        position: relative;
        margin-bottom: 20px;
    }

        .numeric-list .number-list-orderlist::before {
            counter-increment: count;
            content: counter(count)" ";
            margin-right: 15px;
            padding-left: 4px;
            border-radius: 50%;
            color: #fff;
            background: #67BC48;
            margin-left: -44px;
            padding: 6px 6px 4px 10px;
        }

@media only screen and (max-width:740px) and (min-width:360px) {
    .action-B {
        margin-top: 3rem;
    }

    .action-A {
        height: 580px;
    }

    input.btn.btn-success.btn-send.Goals {
        margin-left: 5rem !important;
    }
}


.sustainability-businesses-bg-image {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.sustainability-businesses-slider-prev,
.sustainability-businesses-slider-next,
.sustainability-businesses-slider-prev-award,
.sustainability-businesses-slider-next-award {
    background-color: transparent;
    width: 2em !important;
    height: 2em;
    border-radius: 50%;
    top: 60%;
    /* transform: translateY(-50%); */
    border: 2px solid #949191;
    color: #949191;
    font-weight: bold;
    text-align: center;
}

.sustainability-businesses-slider-prev,
.sustainability-businesses-slider-next,
.sustainability-businesses-slider-prev-award,
.sustainability-businesses-slider-next-award {
    background-color: transparent;
    width: 2em !important;
    height: 2em;
    border-radius: 50%;
    top: 60%;
    /* transform: translateY(-50%); */
    border: 2px solid #949191;
    color: #949191;
    font-weight: bold;
    text-align: center;
}

.sustainability-businesses-carousel .owl-item {
    height: 291px;
    border-radius: 13px;
    margin: 20px 0;
}

.owl-carousel .owl-item .sustainability-businesses-img {
    padding: 10px;
    height: 220px;
}

.carousel-setup.owl-nav.text-end {
    position: unset;
}

.sustainability-businesses-bg {
    background-color: #17A3B5;
    height: 100%;
    /* margin-top: -170px; */
}

.ancillaries-slider-prev,
.ancillaries-slider-next {
    background-color: transparent;
    width: 2em !important;
    height: 2em;
    border-radius: 50%;
    top: 60%;
    /* transform: translateY(-50%); */
    border: 2px solid #fff;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.ancillaries-slider-prev,
.ancillaries-slider-next {
    opacity: 1 !important;
    left: 2em !important;
    top: 90% !important;
}

.ancillaries-carousel .owl-item {
    margin: 0;
    padding: 20px 0;
}

.ancillaries-slider {
    margin-top: 2rem;
}

.text-align {
    text-align: center;
    color: #000;
    font-family: 'Adani-Medium';
}

.text-end {
    text-align: right !important;
}

.tab-content .tab-pane {
    display: none;
}

    .tab-content .tab-pane.active {
        display: block;
    }

section.tab-content {
    background: #fff;
}

.ESG-head-E-goals.tab.active {
    height: 136px;
    background: #38782a 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}

.ESG-head-S-goals.tab.active {
    height: 136px;
    background: #D29F11 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}

.ESG-head-G-goals.tab.active {
    height: 136px;
    background: #5F2F91 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}

.ESG-head-E-goals.tab.active .E-text p.text-h-E-goals {
    color: #fff !important;
}

.ESG-head-S-goals.tab.active .E-text p.text-h-S-goals {
    color: #fff !important;
}

.ESG-head-G-goals.tab.active .E-text p.text-h-G-goals {
    color: #fff !important;
}

.ESG-head-E-goals.tab.active .E-text p.ESG-E-goals {
    color: #38601a;
}

.ESG-head-S-goals.tab.active .E-text p.ESG-S-goals {
    color: #976f00;
}

.ESG-head-G-goals.tab.active .E-text p.ESG-G-goals {
    color: #320066;
}

@media (max-width: 767px) {
    .Action-Plans .col-lg-6 {
        padding-block: 10px;
    }

    .action-A {
        height: 100%;
    }

    .action-B {
        height: auto;
    }

    .SubmitBtn {
        display: flex;
        justify-content: center;
    }

    input.btn.btn-success.btn-send.Goals {
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    ol.numeric-list {
        padding: 0;
        line-height: 30px;
    }

    .numeric-list .number-list-orderlist {
        padding-block: 5px;
    }

    section.bg-white.pt-5.position-relative.z-index.Action-Plans {
        padding-top: 0 !important;
    }

    .Top-Tiles .col-lg-4 {
        padding-block: 1rem;
    }
}

/* AEL_Sus_ESG-Goals-and-Targets css end */
