/* Awards */
.awards-two {
    background-image: url('/-/media/B94B552287A14E909D2531BC30D6D4A8');
    background-size: cover;
    background-repeat: no-repeat;
}

.awards-one-text {
    margin-bottom: 30px;
}

.award-div-images {
    width: 13em;
}

.detailed-sections-container .owl-carousel .owl-nav button.owl-prev, .detailed-sections-container .owl-carousel .owl-nav button.owl-next {
    display: none;
}

.owl-nav-awards {
    margin-left: 82%;
    margin-bottom: 5%;
}

.owl-prev-awards, .owl-next-awards {
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #707070;
    padding: 2px 6px;
}

.custom-green {
    color: #67BC48;
}

.carousel-navigation {
    position: absolute;
    top: -20px;
    right: 0;
    margin-top: 20px; /* Adjust this value to control the vertical position */
    margin-right: 20px; /* Adjust this value to control the horizontal position */
}

#Carousel-awards .owl-prev, #Carousel-awards .owl-next {
    display: none !important;
}

.owl-carousel .owl-item .awards-img {
    padding: 10px;
    height: 100%;
}

@media (max-width: 764px) {
    .award-div-images {
        width: 21em !important;
    }

    .awards-one-text {
        max-width: fit-content;
    }
}

@media (max-width: 780px ) and (max-width: 1024px) {
    .award-div-images {
        width: 9em;
    }

    #Carousel-awards-Water .active {
        .width:auto;
    }

    .owl-nav-awards {
        text-align: end;
        margin-left: 0;
    }
}
