/* ==========Disclosure page css=========== */
.home-demo-disclouser .item {
    background: #ff3f4d;
}

.home-demo-disclouser h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

.width-slider-align {
    border-radius: 10%;
}

.last-position {
    margin-left: 94%;
    margin-bottom: 2%;
}

@media screen and (max-width: 764px) {
    .last-position {
        margin-left: 78%;
    }
}

.last-prev-button, .last-next-button {
    border-radius: 50%;
}

.black-description {
    position: absolute;
    z-index: 3;
    bottom: 0;
    background: #0000009e;
    width: 100%;
    color: white;
    height: 30%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

    .black-description p {
        padding: 20px;
        text-align: left;
    }


.heading-disclosure {
    width: 350px !important;
}

.heading-disclosure1 {
    top: 40px;
    left: 0px;
    width: 100%;
    text-align: left;
    font: normal normal 600 35px/49px Adani;
    letter-spacing: 0px;
    color: #0D67CA;
    font-family: 'Adani-Regular';
}

.two-carousel-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.indicator-round-discloser {
    bottom: -40px !important;
}

    .indicator-round-discloser li {
        opacity: 1;
        display: inline-block;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 1px solid #0D67CA;
    }

.active-border {
    border: 1px solid;
}

.indicator-round-discloser .active {
    opacity: 1;
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #0D67CA;
}

.black-style {
    position: absolute;
    z-index: 3;
    bottom: 0;
    background: #0000009e;
    width: 100%;
    color: white;
    height: 80px;
}

    .black-style p {
        padding: 20px;
        text-align: center;
    }
/* =======Disclouser CSS ends=========== */
