@*
    *
    * Copyright (c) 2022 Adani Digital Labs
    * All rights reserved.
    * Adani Digital Labs Confidential Information
    *
*@
@using Sitecore.Mvc

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-Frame-Options" content="DENY" />
    <meta http-equiv="X-XSS-Protection" content="1; mode=block" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Farmpik</title>
    <link rel="stylesheet" href="/-/media/Project/Farmpik/DashboardAPI/css/bootstrapmin" />
    <link rel="stylesheet" href="/-/media/Project/Farmpik/DashboardAPI/css/site" asp-append-version="true" />
    <link rel="stylesheet" href="/-/media/Project/Farmpik/DashboardAPI/css/layout" asp-append-version="true" />
    <link rel="stylesheet" href="/-/media/Project/Farmpik/DashboardAPI/css/dashboard" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/DashboardAPI/Dashboard"><img src="/-/media/Project/Farmpik/DashboardAPI/image/Group_logo.svg" width="93px" height="36px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                    <li class="nav-item">
                        <a class="btn btn-link nav-link py-2 px-0 px-lg-2 download-userlink download-template" data-href="/api/FarmpikTemplate/DownloadTemplate?name=GuestUser" data-download-name="Guest User.xlsx">Download Guest Details</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn btn-link nav-link py-2 px-0 px-lg-2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                            <img src="/-/media/Project/Farmpik/DashboardAPI/image/Group_profile.svg" width="28px" height="28px" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                            <li><a class="dropdown-item" href="/Login/SignOut">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="loader">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    @Html.Sitecore().Placeholder("main");
    




    <footer class="footer text-muted">
        <div class="container">
            <div class="border-top">&copy; 2023 - Farmpik</div>
        </div>
    </footer>

    <script src="/-/media/Project/Farmpik/DashboardAPI/js/jquerymin"></script>
    <script src="/-/media/Project/Farmpik/DashboardAPI/js/bootstrapbundlemin"></script>
    <script src="/-/media/Project/Farmpik/DashboardAPI/js/site" asp-append-version="true"></script>
    <script src="/-/media/Project/Farmpik/DashboardAPI/js/custom"></script>



</body>
</html>