@*
    *
    * Copyright (c) 2022 Adani Digital Labs
    * All rights reserved.
    * Adani Digital Labs Confidential Information
    *
*@
@using Sitecore.Mvc

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-Frame-Options" content="DENY" />
    <meta http-equiv="X-XSS-Protection" content="1; mode=block" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/-/media/Project/Farmpik/DashboardAPI/css/bootstrapmin" />
    <link rel="stylesheet" href="/-/media/Project/Farmpik/DashboardAPI/css/site" asp-append-version="true" />
    <link rel="stylesheet" href="/-/media/Project/Farmpik/DashboardAPI/css/layout" asp-append-version="true" />
    <link rel="stylesheet" href="/-/media/Project/Farmpik/DashboardAPI/css/loginStyle" asp-append-version="true" />

</head>
<body>
  
    <div class="loader">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    @Html.Sitecore().Placeholder("main");

 

    <script src="/-/media/Project/Farmpik/DashboardAPI/js/jquerymin"></script>
    <script src="/-/media/Project/Farmpik/DashboardAPI/js/bootstrapbundlemin"></script>
    <script src="/-/media/Project/Farmpik/DashboardAPI/js/site" asp-append-version="true"></script>
    <script src="/-/media/Project/Farmpik/DashboardAPI/js/custom"></script>



</body>
</html>