@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <link href="/-/media/Project/Farmpik/Themes/css/KnowledgeHub.css" rel="stylesheet">

    @{
        var agent = Request.UserAgent.ToString();
        if (agent.Contains("Farm-Pik Grower"))
        {

        }
    }
</head>

<body>
    @Html.Sitecore().Placeholder("header")
    @Html.Sitecore().Placeholder("page-layout")
    @Html.Sitecore().Placeholder("footer")
    <script src="/scripts/Farmpik/jquery-3.6.4.min.js"></script>
    <script src="/-/media/Project/Farmpik/Themes/js/activity.js"></script>
</body>

</html>
