@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@Html.Sitecore().Placeholder("footer-contactus")
<div class="footerPanel2 py-3">
    <div class="footerArrow" id="footerArrow"><i class="fas fa-angle-down"></i></div>
    <div class="container">
        @Html.Sitecore().Placeholder("footer-body")
    </div>
</div>
<div class="footerBtmPanel py-2">
    <div class="container">
        @Html.Sitecore().Placeholder("footer-bottom")
    </div>
</div>

@*<footer class="footerSec">
        <div class="contactPanel">
            <div class="contactBanner"><img src="images/bg-contactUs.png" alt="Contact Us"></div>
            <div class="container">
                <div class="row align-items-center text-center">
                    <div class="col-md-7 text-md-left"><h4>Find the contact details of our offices in India and abroad or use our contact form.</h4></div>
                    <div class="col-md-4 ml-md-auto"><a href="#" class="btnBordered whiteBtn btnLg">Contact Us</a></div>
                </div>
            </div>
        </div>
        <div class="footerPanel2 py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 txt-center">
                        <h6>Our business model is aligned with the national intrest</h6>
                        <img src="images/logo-footer.png">
                    </div>
                    <div class="col-sm-4 col-md-3 col-6">
                        <h5>The Good Life</h5>
                        <ul class="mobile-none">
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Video Gallery</a></li>
                        </ul>
                        <p classs="py-2"></p>
                        <h5>For your guidance</h5>
                        <ul class="mobile-none">
                            <li><a href="#">EMI Calculator</a></li>
                            <li><a href="#">Commercial Area Enquiry</a></li>
                            <li><a href="#">NRI Corner</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 col-6">
                        <h5>Our Projects</h5>
                        <ul class="mobile-none">
                            <li><a href="#">Projects list</a></li>
                            <li><a href="#">Awards</a></li>
                            <li><a href="#">Certification</a></li>
                        </ul>
                        <p classs="py-2"></p>
                        <h5>Industry Insights</h5>
                        <ul class="mobile-none">
                            <li><a href="#">Residentials posts</a></li>
                            <li><a href="#">Commercial posts</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 col-6">
                        <h5>Corporate</h5>
                        <ul class="mobile-none">
                            <li><a href="#">Adani Group</a></li>
                            <a href="#">
                            </a>
                        </ul><a href="#">
                            <p classs="py-2"></p>
                        </a><h5><a href="#"></a><a href="#">Contact</a></h5>
                        <p classs="py-2"></p>
                        <h5><a href="#">Career</a></h5>
                        <p classs="py-2"></p>
                        <h5><a href="#">Sustanibility</a></h5>
                    </div>
                </div>

            </div>
        </div>


        <div class="footerBtmPanel py-2">
            <div class="container">
                <div class="row row-grid align-items-end ftrBtmInner">
                    <div class="col-12 col-md-auto text-center text-md-left">

                        <div class="d-none d-md-block">© 2018 Adani Realty</div>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                        <div class="footerMenu">
                            <ul>
                                <li><a href="#">Certificates</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">RERA Download</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </footer>*@
