@using Sitecore
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel

<section class="section news-section">
    <div class="container">
        <h3 class="text-center sectionHeading">@Html.Sitecore().Dictionary("/Home/Community/Title", "Keeping you informed")</h3>
        <div class="row pt-3">
            <div class="col-sm-6 col-lg-4">
                @Html.Sitecore().Placeholder("news-list")
            </div>
            <div class="col-sm-6 col-lg-4">
                @Html.Sitecore().Placeholder("resources")
            </div>
            <div class="col-sm-6 col-lg-4 videoCol">
                <h5 class="sectionTitle">Media Centre</h5>
                <div class="panelBox">
                    @Html.Sitecore().Placeholder("media-center")
                </div>
            </div>
        </div>
    </div>
</section>