* {
  margin: 0;
  padding: 0;
}

html {
  height: 80%;
  font-size: medium;
}

#PaymentLogin_form {
  text-align: center;
  position: relative;
  margin-top: 40px;
}

.editdiv{
    text-align: end;
}

#PaymentLogin_form fieldset .form-card {
  background: white;
  border: 0 none;
  /* border-radius: 15px; */
  /* box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); */
  padding: 0px 25px 5px 25px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative;
}

#PaymentLogin_form fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

#PaymentLogin_form fieldset:not(:first-of-type) {
  display: none;
}

#PaymentLogin_form fieldset .form-card {
  text-align: left;
  color: black;
}

#PaymentLogin_form input,
#PaymentLogin_form textarea {
    height: 35px;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px rgba(80, 78, 78, 0.2);
   margin: auto;
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 7px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 50%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 16px;
  letter-spacing: 1px;
  font-size: 15px;
}

.detailsbuttondiv{
    align-items: flex-end;
}

.row {
    flex-wrap: nowrap!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.accountdetails{
    background: rgb(221, 233, 233);
    width: 100%;
}
.radiobutton{
    box-shadow: none!important;
    height: 20px!important;
    width: 20px!important;
}

#PaymentLogin_form input:focus,
#PaymentLogin_form textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid skyblue;
  outline-width: 0;
}

#PaymentLogin_form .action-button {
  width: 280px;
  background: gray;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 6px 0px;
  margin: 10px 5px;
}

@media (max-width : 1415px) {
   #PaymentLogin_form .action-button{
       width: 180px;
   }
}

.tablenextbutton {
  text-align: end;
}

#PaymentLogin_form .action-button1 {
  /* text-align: end; */
  justify-content: end;
  width: 180px;
  background: gray;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

table tr td {
  width: 50%;
}

#PaymentLogin_form .action-button:hover,
#PaymentLogin_form .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

#PaymentLogin_form .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#PaymentLogin_form .action-button-previous:hover,
#PaymentLogin_form .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px;
}

select.list-dt:focus {
  border-bottom: 2px solid skyblue;
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: teal;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f111";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f111";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f111";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 20px;
  height: 20px;
  line-height: 16px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0px;
  top: 10px;
  z-index: -1;
}
#progressbar li.active:before,
#progressbar li.active:after {
  background: rgb(69, 192, 192);
}

.radio-group {
  position: relative;
  margin-bottom: 25px;
}

.radio {
  display: inline-block;
  width: 204;
  height: 104;
  border-radius: 0;
  background: lightblue;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  margin: 8px 2px;
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

.headerformdiv {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
}



.cardborder {
  border-radius: 20px;
  box-shadow: -3px -1px 2px teal;
}
.cardborderfail {
  border-radius: 20px;
  box-shadow: -3px -1px 2px red;
}
img {
  height: 42px;
  width: 42px;
  margin-top: 1rem;
  margin-right: 0.5rem;
  /* margin: 1rem; */
}
h3 {
  padding-left: 47px;
}
.imagebtn {
  text-align: end;
}
.btn1 {
  width: 167px;
}
@media (max-width: 418px) {
  .imagebtn {
    text-align: center;
  }
  .btn1 {
    width: auto;
  }
}

.failedmaindiv {
  width: 45%;
}

.inputloan {
  justify-content: center;
  width: 60%;
  height: 50px;
}

.form-control {
  width: auto;
}

.formcotroldiv {
  margin: auto;
  width: auto;
}

h5 {
  display: flex;
  flex-direction: row;
  color: gray;
}

h5:before,
h5:after {
  content: "";
  flex: 1;
  border-bottom: 2px solid rgb(236, 232, 232);
  margin: auto;
}
.firstformdiv {
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 1052px) {
  .action-button1 {
    width: 135px !important;
  }
}

@media (max-width : 480px) {
    .action-button{
        width: auto!important;
    } 
}
.modalalert{
    /* margin: 10px; */
    margin-top: 10px;
    align-items: center;
    text-align: center;
    font-size: small;
}