@using Sitecore.Mvc
@model Project.Mining.Website.Models.PageBannerModel

@if (Model != null)
{
    <div class="page-banner main-skeleton skeleton">

        @if (Model.Image != null)
        {
		<figure>
            <img src="@Model.Image.Src" alt="@Model.Image.Alt" class="">
			</figure>
        }
        @Html.Sitecore().Placeholder("breadcrumb")
    </div>
}