   .hero-section .hero-content{
      top: 55%;
    }
    .text_gradient{
      font-size: 32px;
      background: rgb(255,224,181); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(255,224,181,1) 0%, rgba(255,239,217,1) 55%, rgba(218,170,119,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,224,181,1) 0%,rgba(255,239,217,1) 55%,rgba(218,170,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,224,181,1) 0%,rgba(255,239,217,1) 55%,rgba(218,170,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe0b5', endColorstr='#daaa77',GradientType=1 ); /* IE6-9 */
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      padding-bottom: 15px;
      font-family: "roboto-bold";
    }
    .dr_btn_group{
      display: flex;
      display: -webkit-flex;
    }
    .dr_btn_group .dr_transparent_btn{
      color: #ffffff !important;
      border: 2px solid #ffffff;
      background: transparent !important;
      margin-right: 20px;
  }
    .dr_btn_group .dr_inverse_btn{
        color: #2e93ff !important;
        border: 2px solid #2e93ff;
        background: #ffffff !important;
    }
    .dr_btn_group .dr_inverse_btn:hover{
        color: #ffffff !important;
        background: #2e93ff !important;
    }
    .fsl_banner .dr_btn_group .dr_inverse_btn{
        border: 2px solid #ffffff;
    }
        
    .fsl_banner .dr_btn_group .dr_inverse_btn:hover{
        border: 2px solid #2e93ff;
    }
    .dr_btn_group a:not(:last-child){
        margin-right: 18px;
    }
    .voice_of_trust .h1{
      padding-bottom: 15px;
    }
    .voice_of_trust .h3{
      padding-bottom: 20px;
    }

#sustainabilityVideoHolder .hero-section figure img{
    position: relative;
    transform: none;
}

#sustainabilityVideoHolder .hero-section figure img.desktop-img{
  display: block !important;
}
.hero-section.fsl_banner .hero-content{
   top: 52%;
}
.fsl_banner.hero-section .hero-content-wrapper .breadcrumb {
    top: 20px !important;
    left: 6% !important;
}
.hero-section .hero-content h1.hero-heading{
   font-size: 2.75rem;
}


.rectangle-copy-2 {
  background-image:url('dr_globe_assets/img/video-section-background.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

.rectangle-copy-2 h2, .rectangle-copy-2 p{color:white;}
.sustainability-content .custom-col.left-col{width:calc(39% - 0px);}
.sustainability-content .custom-col.right-col{width:calc(64% - 30px);margin-left:-1%;}
.voice_of_trust .sustainability-content .custom-col.left-col{width:calc(40% - 0px);}
.voice_of_trust .sustainability-content .custom-col.right-col{width:calc(60% - 125px);}
.dr_our_locations{padding:40px 0;padding-bottom:0;}
.dr_our_locations .dr_locations_image p.h3{font-size:15px;font-weight:normal;font-family:'Roboto-Regular';line-height:25px; cursor:pointer;}
.dr_our_locations .dr_locations_image p.full{font-size:13px;margin:0;}
.dr_our_locations .desc{margin:10px 0 30px}
/*#user_quote_slider .slick-list{height:380px !important;}*/

#user_quote_slider .dr_locations_image {
  border-radius: 8px 0 0 8px;
  padding:10px;
}
#user_quote_slider .dr_locations_image.active{
  background-color:rgb(91,132,179);
}

.sustainability-content.user_quote_slider_con{justify-content:center;align-items:start;}
.dr_locations_image img{width:100%;border-radius:8px;}

#user_quote_slider .slick-slide .dr_locations_image {margin-bottom:7px;width:100% !important;padding:5px 10px;padding-right:30px;}
#getInTouchSection{text-align:center;padding:80px 0 80px 0;}
.user_quote_slider_con{padding-top:40px;padding-bottom:50px;} /* 40px */
.dr_our_locations .slider_heading{font-family:'Roboto-Regular';font-size:1.125rem;}
.sustainability-content .movie-holder figure{height:auto}
.user_details_section{
    display: flex;
    align-items: center;
}
.user_details_section_inner{margin-right: 15px;}
.user_img_circle{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.user_img_circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.user_details_section_inner h5{font-size:16px;margin-bottom:5px;font-family:"roboto-bold";}
.user_details_section_inner p{font-size:13px;color:#666666;}

.voice_of_trust .voice_of_trust_paragraph{margin:15px 0 15px;}
.dr-only-mobile{display:none;}
.dr_our_locations .acc-title, .dr_our_locations .acc-title.active{color:#fff;}
.dr_our_locations .acc-title:after{border-bottom:2px solid #fff;;border-right:2px solid #fff;border-top:none;
    border-left:none;}
.dr_our_locations .acc-title.active:after{border-top: 2px solid #fff;
    border-left: 2px solid #fff;border-bottom:none;border-right:none;}
.dr_our_locations .dr-only-mobile{
    margin-top: 30px;
    padding-bottom: 30px;
}
.mobile_slider_heading{
    font-size: 1.1rem;
    font-weight: normal;
    font-family: 'roboto-regular';
    padding-top: 10px;
  }

/*.mobile_slider_para{
  padding-bottom:45px;
}*/

.mobile_tabs_slider img{width:100%;margin-bottom:22px;border-radius:15px;}
.awards-list .card-desc {
    display: block !important;
}

.popup-box .popup-content .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}
.popup-box .popup-content .close-modal i {
    color: #000000;
    font-size: 24px;
}
.locations_dec{background:transparent;}

/* OWL SLIDER*/
.owl_location_slider .data-center-list{width:100% !important;}
.owl_location_slider .custom-module-headng{margin-bottom:0;}
.double_codes{
    color: #45a8ff;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    line-height: 0;
    font-weight: 700;
    padding-top: 15px;
}
.view_more_btn{
    display: none;
}
.view_more_btn a{
    background-color: #5094A7;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 2px 6px #00000029;
    position: relative;
    /* transition: all 0.5s;
    -webkit-transition: all 0.5s; */
}
.view_more_btn a:after{
    font-size: 0;
    content: '';
    content: "";
    width: 12px;
    height: 12px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    /* display: block; */
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.view_more_btn.next a{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.view_more_mobile {
    display: none;
    text-align: center;
    color:white;
    text-decoration: underline;
    padding-right: 7px;
    cursor: pointer;
}
.fsl_banner{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2b60ae+0,166ba6+50,008691+100 */
    background: rgb(43,96,174); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(43,96,174,1) 0%, rgba(22,107,166,1) 50%, rgba(0,134,145,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(43,96,174,1) 0%,rgba(22,107,166,1) 50%,rgba(0,134,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(43,96,174,1) 0%,rgba(22,107,166,1) 50%,rgba(0,134,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b60ae', endColorstr='#008691',GradientType=0 ); /* IE6-9 */

    
}
/* .fsl_banner figure{    
    background-image: url(dr_globe_assets/img/fsl-banner-background.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.fsl_banner .golden-img{
    width: 60%;
    height: auto;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.view_extra_btn,.extra_slide{display:none;}
/*.extra_slide_desktop{display:none !important}*/

.dr_down_arrow{
    position: relative;
    width: 14px;
    height: 14px;
    display: none;
}
.dr_down_arrow:after {
    font-size: 0;
    content: '';
    content: "";
    width: 9px;
    height: 9px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.dr_down_arrow.dr_up_arrow{
    transform: rotate(180deg);
}
.dr_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    padding-top: 20px;
}


@media(max-width:1440px){
    
}

@media(min-width:767px){
  #sustainabilityVideoHolder figure img.mobile-img{
      display: none !important;
}
}

@media(max-width:1340px){
	.dr_our_locations .dr_locations_image p.h3 {
	    font-size: 15px;
	    line-height: 24px;
	}
    .dr_our_locations .dr_locations_image p.full {
        font-size: 13px;
        margin: 0;
    }
}


@media(max-width:1300px){
	.dr_our_locations .dr_locations_image p.h3 {
	    font-size: 15px;
	    line-height: 20px;
	}
    .dr_our_locations .dr_locations_image p.full {
        font-size: 13px;
        margin: 0;
    }
}


@media(max-width:1200px){
    .user_quote_slider_con{padding-bottom:40px;}
  
    .fsl_banner .golden-img {width: 55%;right: 2%;}

 	.dr_our_locations .dr_locations_image p.h3 {
	    font-size: 13px;
	    line-height: 16px;
	}
    .dr_our_locations .dr_locations_image p.full {
        font-size: 12px;
        margin: 0;
    }

    .locations_dec{max-height:560px;}

}


@media(max-width:1100px){
    .user_quote_slider_con {
      display: none !important;
    }

    .dr-only-mobile {
        display: block !important;
    }
    .dr_our_locations .dr-only-mobile{
        padding-bottom: 0px;
    }


	.mobile_tabs_slider .hidden-desktop {
	     display: block !important;
	}
	/*.mobile_tabs_slider .tab-acc-content{border-bottom:solid 1px #aeafbc;}*/
	.rectangle-copy-2 {
	  background-image:url('dr_globe_assets/img/top-strip-transparent.png'), url('dr_globe_assets/img/background-plain.jpg');
	  background-position:left top, center;
	  background-size:130%, cover;
	  background-repeat: no-repeat, no-repeat;
	}
    .dr_our_locations{
        padding-bottom: 30px;
    }
    .acc-wrp {
        border-bottom: solid 1px #aeafbc;
    }
    .dr_our_locations .dr-only-mobile{
        border-top: 1px solid #ffffff;
    }
    .acc-title{
        padding-right: 30px;
    }    
    .data-center-list li .card-desc {
        min-height: 135px;
    }
    .fsl_banner.hero-section .hero-content{
        width: 50%;
    }
    

}

@media(max-width:1024px){
  .voice_of_trust .sustainability-content {
      padding:0px;
      justify-content: space-between;
  }
  .voice_of_trust .sustainability-content .custom-col.right-col {
      width: calc(60% - 50px);
  }

    .dr_our_locations .desc {
        margin: 0px 0 10px;
    }
    .fsl_banner.hero-section > figure + .hero-content-wrapper .hero-content {
        top: 50%;
        bottom: auto;
    }

}

@media (max-width: 1000px){
    .voice_of_trust .sustainability-content .custom-col.left-col, .voice_of_trust .sustainability-content .custom-col.right-col{
        width: 100%;
    }
    .voice_of_trust .hero-section figure img.mobile-img {
        display: block;
        /* width:75%; */
    }
    .voice_of_trust .hero-section figure img.desktop-img{
        display: none;
    }
    .fsl_banner .golden-img {
        width: 58%;
        right: -2%;
    }
    .dr_our_locations{
        padding-bottom: 50px;
    }
    .data-center-list li .card-desc {
        min-height: 93px;
    }


}

@media (max-width: 850px){
    .voice_of_trust .hero-section figure img.mobile-img {
        width:100%;
    }
    .fsl_banner.hero-section .hero-content {
        width: 60%;
    }
    .hero-section .hero-heading {
        font-size: 1.9rem;
        line-height: 1.5;
    }
    .text_gradient {
        font-size: 24px;
    }

}


@media(max-width:767px){
    .voice_of_trust .sustainability-content .custom-col.left-col,.voice_of_trust .sustainability-content .custom-col.right-col {
      width:100%;
      margin:0 auto;
    }
    .sustainability-content .movie-holder figure{
        margin: 0 auto;
        height:400px;
    }

    .sustainability-content .movie-holder figure img{object-fit:contain;}

    .sustainability-content .custom-col.right-col{margin-bottom:16px;}
    .text_gradient{
      font-size: 20px;
      padding-bottom: 15px;
    }
    .fsl_banner.hero-section .hero-heading {
        font-size: 1.7rem !important;
        line-height: 1.3;
        font-weight: 500;
        font-family: "roboto-regular";
        color: #ffffff;
        padding: 0 10px;
    }
    .fsl_banner.hero-section .hero-heading br{
        display: none;
    }
    .voice_of_trust .dr_btn_group {
        display: block;
        text-align: center;
    }
    .voice_of_trust .dr_btn_group a:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .voice_of_trust .dr_btn_group a{
        width: 100%;
        text-align: center;
        display:block;
        /* margin-left: auto;
        margin-right: auto!important; */
    }
    .dr_our_locations {
        padding: 30px 0px;
    }
    #getInTouchSection {
        padding: 50px 0 50px 0;
    }
    .fsl_banner .hero-content{
        text-align: center;
    }
    .fsl_banner .dr_btn_group {
        justify-content: center;
    }
    .mobile_tabs_slider .hidden-desktop {
        display: block !important;
        font-size: 0.95rem;
        padding-bottom: 0;
    }
    .dr_our_locations .desc{
        font-size: 0.8rem;
    }
    .fsl_banner.hero-section .hero-content-wrapper .breadcrumb {
        top: 20px;
    }
    .fsl_banner.hero-section > figure + .hero-content-wrapper .hero-content {
        top: inherit;
        bottom: 6%;
    }
    .acc-wrp.active{
        border-bottom: solid 1px #aeafbc;
    }
    .fsl_banner.hero-section > figure + .hero-content-wrapper .hero-content {
        width: 100%;
        max-width: 365px;
        margin: auto;
        right: 0;
    }
    .fsl_banner.hero-section > figure {
        height: 680px;
        width: 100%;
    }
    .fsl_banner.hero-section .hero-desc{
        padding: 0 15px;
        font-size: 16px;
    }
    /*.fsl_banner{
        padding: 60px 15px 30px;
    }*/
    .fsl_banner .golden-img {
        max-width: 568px;
        width: 100%;
        right: 0;
        left: 0;
        margin: auto;
        top: 26%;
    }
    .fsl_banner {
        padding: 0;
    }
    .fsl_banner.hero-section .hero-content{
        left: 0;
        padding: 0 15px;
    }
    .fsl_banner.hero-section figure img.mobile-img {
        display: none;
    }
    .fsl_banner.hero-section figure img.desktop-img {
        display: none;
    }

    #sustainabilityVideoHolder .hero-section figure img.desktop-img{
      display: none !important;
    }

}

@media (max-width: 663px){

}

@media(max-width:576px){
    .voice_of_trust .sustainability-content{padding:0px;}
    .mobile_slider_heading {
        font-size: 1rem;
        font-weight: normal;
        font-family: 'roboto-regular';
        line-height: 25px;
    }
    .fsl_banner.hero-section > figure {
        height: 650px;
    }

}
@media(max-width:480px){
.sustainability-content .movie-holder figure{
  width:100%;height:auto;
}
/*.tab-acc-content .sustainability-wrapper{height:320px;}*/
.mobile_slider_para{padding-bottom:0;}
.popup-content{overflow-y:scroll;}

#ContactUsrecaptcha{
  transform: scale(0.9) !important;
  transform-origin: left;
}


    .tab-acc-content .sustainability-wrapper{min-height:auto;}
    .data-center-list li .card-desc {
        min-height: 145px;
    }    
    .fsl_banner.hero-section > figure {
        height: 600px;
    }
    .fsl_banner .golden-img{
        top: 26%;
    }


}


@media(max-width:374px){
    .hero-section .hero-desc {
        font-size: 0.9rem;
        line-height: 22px;
    }

    .data-center-list li .card-desc {
        min-height: 171px;
    }
    .fsl_banner.hero-section > figure {
        height: 570px;
    }

}

/*
.dr_our_locations {
    padding: 40px 50px;
    padding-bottom: 0;
}

.rectangle-copy-2 {
    background-image: url(/-/media/Project/AdaniConneX/Awards/Awardsbg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-wrapper {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1360px;
}

.rectangle-copy-2 h2,
.rectangle-copy-2 p {
    color: white;
}

.fm-asb {
    font-family: "roboto-bold";
}

.dr_our_locations .slider_heading {
    font-family: 'Roboto-Regular';
    font-size: 1.125rem;
}

.dr_our_locations .desc {
    margin: 10px 0 30px;
}

.sustainability-content.user_quote_slider_con {
    justify-content: center;
    align-items: start;
}

.user_quote_slider_con {
    padding-top: 40px;
    padding-bottom: 50px;
}

.sustainability-content .custom-col.left-col {
    width: calc(39% - 0px);
}

.locations_dec {
    background: transparent;
}

#user_quote_slider .slick-list {
   /* height: auto !important;*/
}

#user_quote_slider .slick-slide .dr_locations_image {
    margin-bottom: 7px;
    width: 100% !important;
    padding: 5px 10px;
    padding-right: 30px;
}
#user_quote_slider .dr_locations_image.active {
    background-color: rgb(91, 132, 179);
    border-radius: 8px 0 0 8px;
}

/*
#user_quote_slider .slick-slide.slick-current.slick-active {
    background-color: rgb(91, 132, 179);
    border-radius: 8px 0 0 8px;
}

#user_quote_slider .slick-slide {
    margin-bottom: 7px;
    width: 100% !important;
    padding: 5px 10px;
    padding-right: 30px;
}
*/
.dr_our_locations .dr_locations_image p.h3 {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Roboto-Regular';
    line-height: 25px;
    cursor: pointer;
}

/* ======================================================= */

/*
.hero-section .hero-content {
    top: 52%;
}
*/

.text_gradient {
    font-size: 36px;
    background: rgb(255, 224, 181);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 224, 181, 1) 0%, rgba(255, 239, 217, 1) 55%, rgba(218, 170, 119, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 224, 181, 1) 0%, rgba(255, 239, 217, 1) 55%, rgba(218, 170, 119, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 224, 181, 1) 0%, rgba(255, 239, 217, 1) 55%, rgba(218, 170, 119, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0b5', endColorstr='#daaa77', GradientType=1);
    /* IE6-9 */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding-bottom: 20px;
    font-weight: 800;
    font-family: 'roboto', sans-serif;
}

.dr_btn_group {
    display: flex;
    display: -webkit-flex;
}

.dr_btn_group .dr_transparent_btn {
    color: #ffffff !important;
    border: 2px solid #ffffff;
    background: transparent !important;
    margin-right: 20px;
}

.dr_btn_group .dr_inverse_btn {
    color: #2e93ff !important;
    border: 2px solid #2e93ff;
    background: #ffffff !important;
z-index: 2;
}

.dr_btn_group .dr_inverse_btn:hover {
    color: #ffffff !important;
    background: #2e93ff !important;
}

.fsl_banner .dr_btn_group .dr_inverse_btn {
    border: 2px solid #ffffff;
}

.fsl_banner .dr_btn_group .dr_inverse_btn:hover {
    border: 2px solid #2e93ff;
}

.dr_btn_group a:not(:last-child) {
    margin-right: 18px;
}

.voice_of_trust .h1 {
    padding-bottom: 15px;
}

.voice_of_trust .h3 {
    padding-bottom: 20px;
}


.rectangle-copy-2 {
    background-image: url('/-/media/Project/AdaniConneX/Awards/Awardsbg');
    background-size: cover;
    background-repeat: no-repeat;
}

.rectangle-copy-2 h2,
.rectangle-copy-2 p {
    color: white;
}

.sustainability-content .custom-col.left-col {
    width: calc(39% - 0px);
min-height: 450px;
position: relative;
}

.sustainability-content .custom-col.right-col {
    width: calc(64% - 30px);
    margin-left: -1%;
}

.voice_of_trust .sustainability-content .custom-col.left-col {
    width: calc(40% - 0px);
}

.voice_of_trust .sustainability-content .custom-col.right-col {
    width: calc(60% - 125px);
}

.dr_our_locations {
    padding: 40px 50px;
    padding-bottom: 0;
}

.dr_our_locations .dr_locations_image p.h3 {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Roboto-Regular';
    line-height: 25px;
    cursor: pointer
}

.dr_our_locations .dr_locations_image p.full {
    font-size: 13px;
    margin: 0;
}

.dr_our_locations .desc {
    margin: 10px 0 30px
}

#user_quote_slider .slick-list {
    /*height: auto !important;*/
}

/*
#user_quote_slider .slick-slide.slick-current.slick-active {
    background-color: rgb(91, 132, 179);
    border-radius: 8px 0 0 8px;

}*/

.sustainability-content.user_quote_slider_con {
    justify-content: center;
    align-items: start;
height:630px;
}

#user_videos_slider .dr_locations_image img {
    height: 516px;
    object-fit: cover;
}

.dr_locations_image img {
    width: 100%;
    border-radius: 8px;
}

#user_quote_slider .slick-slide .dr_locations_image {
    margin-bottom: 7px;
    width: 100% !important;
    padding: 5px 10px;
    padding-right: 30px;
}

/*
#user_quote_slider .slick-slide {
    margin-bottom: 7px;
    width: 100% !important;
    padding: 5px 10px;
    padding-right: 30px;
}
*/

#getInTouchSection {
    text-align: center;
    padding: 80px 0 80px 0;
}

.user_quote_slider_con {
    padding-top: 40px;
    padding-bottom: 50px;
}

/* 40px */
.dr_our_locations .slider_heading {
    font-family: 'Roboto-Regular';
    font-size: 1.125rem;
}

.sustainability-content .movie-holder figure {
    height: auto;
}

.user_details_section {
    display: flex;
    align-items: center;
}

.user_details_section_inner {
    margin-right: 15px;
}

.user_img_circle {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.user_img_circle img {
    width: 115%;
}

.user_details_section_inner h5 {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: "roboto-bold";
}

.user_details_section_inner p {
    font-size: 13px;
    color: #666666;
}

.voice_of_trust .voice_of_trust_paragraph {
    margin: 15px 0 15px;
}

.dr-only-mobile {
    display: none;
}

.dr_our_locations .acc-title,
.dr_our_locations .acc-title.active {
    color: #fff;
}

.dr_our_locations .acc-title:after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-top: none;
    border-left: none;
}

.dr_our_locations .acc-title.active:after {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: none;
    border-right: none;
}

.dr_our_locations .dr-only-mobile {
    margin-top: 30px;
    padding-bottom: 30px;
}

.mobile_slider_heading {
    font-size: 1.1rem;
    font-weight: normal;
    font-family: 'roboto-regular';
    padding-top: 10px;
}

/*.mobile_slider_para{
padding-bottom:45px;
}*/

.mobile_tabs_slider img {
    width: 100%;
    margin-bottom: 22px;
    border-radius: 15px;
}

.awards-list .card-desc {
    display: block !important;
}

.popup-box .popup-content .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}

.popup-box .popup-content .close-modal i {
    color: #000000;
    font-size: 24px;
}

.locations_dec {
    background: transparent;
}

/* OWL SLIDER*/
.owl_location_slider .data-center-list {
    width: 100% !important;
}

.owl_location_slider .custom-module-headng {
    margin-bottom: 0;
}

.double_codes {
    color: #45a8ff;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    line-height: 0;
    font-weight: 700;
    padding-top: 15px;
}

.view_more_btn a {
    background-color: #5094A7;
    width: 40px;
    height: 40px;
    /* display: none; */
    display: block;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 2px 6px #00000029;
    position: relative;
}

.view_more_btn a:after {
    font-size: 0;
    content: '';
    content: "";
    width: 12px;
    height: 12px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    /* display: block; */
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-135deg);
}

.view_more_mobile {
    display: block;
    text-align: center;
    color: white;
    padding-top: 20px;
    text-decoration: underline;
}

.fsl_banner {
    background-image: url(https://globe.designride.net/dr_globe_assets/img/fsl-banner-background.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fsl_banner .desktop-img {
    width: 60%;
    height: auto;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
}

.only_mobile {
    display: none;
}


@media(max-width:1340px) {
    .dr_our_locations .dr_locations_image p.h3 {
        font-size: 14px;
        line-height: 24px;
    }

    .dr_our_locations .dr_locations_image p.full {
        font-size: 12px;
        margin: 0;
    }
}


@media(max-width:1300px) {
    .dr_our_locations .dr_locations_image p.h3 {
        font-size: 14px;
        line-height: 21px;
    }

    .dr_our_locations .dr_locations_image p.full {
        font-size: 12px;
        margin: 0;
    }
}

@media(max-width:1272px) {
    .dr_our_locations .dr_locations_image p.h3 {
        font-size: 13px;
        line-height: 18px;
    }
}


@media(max-width:1200px) {
    .user_quote_slider_con {
        padding-bottom: 40px;
    }

    .fsl_banner .desktop-img {
        width: 55%;
        right: 2%;
    }

    .dr_our_locations .dr_locations_image p.h3 {
        font-size: 12px;
        line-height: 14px;
    }

    .dr_our_locations .dr_locations_image p.full {
        font-size: 11px;
        margin: 0;
    }

    .locations_dec {
        max-height: 560px;
    }
}

@media(max-width:1131px) {

    .dr_our_locations .dr_locations_image p.h3 {
        font-size: 11px;
        line-height: 13px;
    }

    .dr_our_locations .dr_locations_image p.full {
        font-size: 10px;
        margin: 0;
    }
}

@media(max-width:1100px) {
    .user_quote_slider_con {
        display: none !important;
    }

    .dr-only-mobile {
        display: block !important;
    }

    .dr_our_locations .dr-only-mobile {
        padding-bottom: 0px;
    }


    .mobile_tabs_slider .hidden-desktop {
        display: block !important;
    }

    /*.mobile_tabs_slider .tab-acc-content{border-bottom:solid 1px #aeafbc;}*/
    .rectangle-copy-2 {
        background-image: url('/-/media/Project/AdaniConneX/Awards/top-strip-transparent'), url('/-/media/Project/AdaniConneX/Awards/background-plain');
        background-position: left top, center;
        background-size: 130%, cover;
        background-repeat: no-repeat, no-repeat;
    }
}

@media(max-width:1024px) {
    .voice_of_trust .sustainability-content {
        padding: 0px;
        justify-content: space-between;
    }

    .voice_of_trust .sustainability-content .custom-col.right-col {
        width: calc(60% - 50px);
    }

    .dr_our_locations .desc {
        margin: 0px 0 10px;
    }

    .data-center-list li .card-desc {
        min-height: 93px;
    }
}

@media (max-width: 1000px) {

    .voice_of_trust .sustainability-content .custom-col.left-col,
    .voice_of_trust .sustainability-content .custom-col.right-col {
        width: 100%;
    }

    .voice_of_trust .hero-section figure img.mobile-img {
       /* display: block; */
        /* width:75%; */
    }


    .voice_of_trust .hero-section figure img.desktop-img {
      /*  display: none; */
    }

    .fsl_banner .desktop-img {
        width: 58%;
        right: -2%;
    }

    .dr_our_locations {
        padding-bottom: 50px;
    }
}

@media (max-width: 850px) {
    .voice_of_trust .hero-section figure img.mobile-img {
        width: 100%;
    }
}

@media(max-width:767px) {

    .voice_of_trust .sustainability-content .custom-col.left-col,
    .voice_of_trust .sustainability-content .custom-col.right-col {
        width: 100%;
        margin: 0 auto;
    }

    .sustainability-content .movie-holder figure {
        margin: 0 auto;
        height: 400px;
    }

    .sustainability-content .movie-holder figure img {
        object-fit: contain;
    }

    .sustainability-content .custom-col.right-col {
        margin-bottom: 16px;
    }

    .text_gradient {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .fsl_banner.hero-section .hero-heading {
        font-size: 1.2rem;
        line-height: 1.3;
        font-weight: 500;
        font-family: "roboto-regular";
        color: #ffffff;
        padding: 0 10px;
    }

    .fsl_banner.hero-section .hero-heading br {
        display: none;
    }

    .voice_of_trust .dr_btn_group {
        display: block;
        text-align: center;
    }

    .voice_of_trust .dr_btn_group a:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .voice_of_trust .dr_btn_group a {
        width: 100%;
        text-align: center;
        display: block;
        /* margin-left: auto;
      margin-right: auto!important; */
    }

    .dr_our_locations {
        padding: 30px 0px;
    }

    #getInTouchSection {
        padding: 50px 0 50px 0;
    }

    .fsl_banner .hero-content {
        text-align: center;
    }

    .fsl_banner.hero-section .hero-desc {
        padding-right: 0;
        font-size: 16px;
        line-height: 1.2;
    }

    .fsl_banner .dr_btn_group {
        justify-content: center;
    }

    .dr_our_locations .dr-only-mobile {
        border-top: 1px solid #ffffff;
    }

    .mobile_tabs_slider .hidden-desktop {
        display: block !important;
        font-size: 0.95rem;
        padding-bottom: 0;
        padding-right: 30px;
    }

    .dr_our_locations .desc {
        font-size: 0.8rem;
    }

    .fsl_banner.hero-section .hero-content-wrapper .breadcrumb {
        top: 20px;
    }

    .fsl_banner.hero-section>figure+.hero-content-wrapper .hero-content {
        top: inherit;
        bottom: 25px;
    }

    .acc-wrp.active {
        border-bottom: solid 1px #aeafbc;
    }

    .only_mobile {
        display: block;
        text-align: center;
    }

    .fsl_banner .hero-content .text_gradient,
    .fsl_banner.hero-section .hero-content .hero-heading {
        display: block;
    }

   

    .fsl_banner.hero-section>figure+.hero-content-wrapper .hero-content {
        /* position: static; */
        width: 100%;
        max-width: 365px;
        margin: auto;
        right: 0;
    }

    .hero-section>figure {
        height: auto;
        width: 100%;
    }

    .hero-section .hero-content-wrapper {
        position: static;
        transform: none;
    }

    /*.fsl_banner {
        padding: 60px 15px 30px;
    }*/

    .fsl_banner .desktop-img {
        width: 100%;
    }

}
 .fsl_banner.hero-section figure img.desktop-img {
        /* display: block !important; */
        position: static;
        margin: auto;
        transform: none;
    }

.sustainability-content .custom-col.left-col{
    min-height: auto;
    position: relative;
}

.fsl_banner.hero-section .hero-content-wrapper .breadcrumb {
    top: 6% !important;
    left: 6% !important;
}

@media (max-width: 663px) {
    .fsl_banner.hero-section .hero-desc {
        margin: 10px 0 20px;
    }

}

@media(max-width:576px) {
    .voice_of_trust .sustainability-content {
        padding: 0px;
    }

    .mobile_slider_heading {
        font-size: 1rem;
        font-weight: normal;
        font-family: 'roboto-regular';
        line-height: 25px;
    }

}

@media(max-width:480px) {
    .sustainability-content .movie-holder figure {
        width: 100%;
        height: auto;
    }

    /*.tab-acc-content .sustainability-wrapper{height:320px;}*/
    .mobile_slider_para {
        padding-bottom: 0;
    }

    .popup-content {
        overflow-y: scroll;
    }

    #ContactUsrecaptcha {
        transform: scale(0.9) !important;
        transform-origin: left;
    }


    .tab-acc-content .sustainability-wrapper {
        min-height: auto;
    }

    .data-center-list li .card-desc {
        min-height: 145px;
    }

}

@media(max-width:480px) {}

@media(max-width:374px) {
    .hero-section .hero-desc {
        font-size: 0.9rem;
        line-height: 22px;
    }

    .data-center-list li .card-desc {
        min-height: 171px;
    }
}

.view_more_btn.view_more_trigger {
    position: absolute;
    bottom: -14%;
    left: 50%;
}
.view_more_btn.next a{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
*/