#dr_hero_section{
            overflow: unset;
        }
        #dr_hero_section .banner-arrow {
            bottom: 50px;
            z-index: 1;
        }
        #dr_hero_section figure{
            width: 100%;
            height: 100%;
        }
        .careers_page .hero-section .hero-content-wrapper{
            height: auto;
            top: 0;
        }
        .hero-section .hero-content-wrapper .breadcrumb {
            z-index: 1;
        }
        .owl-carousel.dot-bc .owl-dots {
            padding-top: 8px;
        }
       
        .absolute_dots.owl-carousel.dot-bc .owl-dots {
            padding-top: 0;
            position: absolute;
            bottom: 20px;
            z-index: 1;
            display: block;
        }
        .dr_esg_certifications{
            padding-top: 0;
        }
        #dr_esg_slider{
            
        }
        .dr_one_million_img img{
            object-position: right;
        }

        .careers_page{

        }
        .dr_row{
            display: flex;
            display: -webkit-flex;
        }
        .dr_pt_0{
            padding-top: 0 !important;
        }
        .dr-align-items{
            align-items: center;
            -webkit-align-items: center;
        }
        .dr_col_4{
            width: 38%;   
        }
        .dr_col_8{
            width: 62%;
            position: relative;
        }
        .dr_col_4 img{
            height: 100%;
            object-fit: cover;
        }
        .hero-section .hero-content {
            width: 75%; 
        }
        .careers_page .hero-section .hero-heading{
            padding-bottom: 20px;
        }
        .careers_page .hero-content h4{
            font-size: 1.375rem;
            padding-bottom: 20px;
            font-style: italic;
        }
        .careers_page .hero-content p{
            font-size: 1.125rem;
            padding-bottom: 50px;
        }
        .dr_blue_heading{
            /* color: #2f93ff; */
        }
        .dr_img_box img{
            width: 100%;
        }
        #dr_life_slider .card-box{
            box-shadow: none;
            display: block;
        }
        .dr_img_box{
            margin-bottom: 20px;
            border-radius: 15px;
            overflow: hidden;
        }
        .dr_life_box:first-child{
            padding-bottom: 40px;
        }
        .dr_overflow{
            overflow: hidden;
            margin: 0 !important;
        }
        .dr_mx_minus{
            margin: 0 -12px;
        }
        #dr_guiding_force{}
        .dr_btn_group .btn{
            color: #ffffff !important;
            border: 1px solid #ffffff;
            background: transparent !important;
        }
        #dr_values_slider .card-box .card-content{
            position: relative;

        }
        #dr_values_slider .card-box{
            background-color: #ffffff;
        }
        .dr_hide_div{
            width: 100%;
            height: 92%;
            position: absolute;
            left: 0;
            bottom: -150%;
            background-color: #2e93ff;
            padding: 25px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
        .dr_hide_div.dr_open{
            bottom: 0%;
        }
        .dr_hide_div .close-modal{
            position: absolute;
            bottom: 100%;
            right: 25px;
            z-index: 1;
            color: #fff;
            cursor: pointer;
        }
        .dr_hide_div img{
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 98%;
            z-index: 0;
        }
        .dr_hide_div p{
            color: #ffffff;
        }
        .dr_slider_frame{
            position: relative;
            width: 76%;
            margin: auto;
        }
        .dr_slider_frame > img{
            position: relative;
            z-index: 1;
            width: 100%;
        }
        #dr_career_slider{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            width: 100%;
            height: auto;
            padding: 13% 14% 0 15%;
            transform: rotateZ(4deg);
            -webkit-transform: rotateZ(4deg);
            margin-top: 0;
        }
        #dr_career_slider figure{
            margin: 0;
            overflow: hidden;
            border-radius: 15px;
            margin-bottom: 4%;
        }
        #dr_career_slider p{
            text-align: center;
            color: #000000;
        }
       
        .dr_priority_maxwidth{
            max-width: 470px;
            
        }
        .dr_join_adani{
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            display: flex;
            align-items: center;
            justify-content: space-between;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: space-between;
            padding: 35px 25px;
            margin-top: 50px;
        }
        .dr_our_locations h2{
            padding-bottom: 35px;

        }
       

        .locations_dec .desc{
            min-height: 105px;
            margin: 10px 0 40px;
        }
        .dr_locations_icon ul{
            display: flex;
            flex-wrap: wrap;
            display: -webkit-flex;
            -webkit-flex-wrap: wrap;
        }
        .dr_locations_icon ul li{
            padding: 0 16px;
        }
        .dr_locations_icon ul li a{
            display: block;
            position: relative;
        }
        .dr_locations_icon ul li a img{
            display: block;
            max-width: 80px;
            margin: auto;
            margin-bottom: 10px;
            filter: grayscale(1);
            -webkit-filter: grayscale(1);
            transition: all 0.5s;
        }
        .dr_locations_icon ul li.active a img{
            filter: none;
        }
        .dr_locations_icon ul li a p{
            font-size: 1rem;
            color: #000000;
            text-align: center;
        }
        .dr_locations_icon ul li.active a::after{
            content: '';
            width: 8px;
            height: 8px;
            background-color: #2e93ff;
            position: absolute;
            bottom: -20px;
            border-radius: 50%;
            left: 0;
            right: 0;
            margin: auto;

        }
        #dr_unique_slider .card-media{
            position: relative;
        }
        #dr_unique_slider .card-title{
            min-height: 105px;
        }
        .dr_video_time{
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: #000;
            color: #fff;
            padding: 6px 6px 4px;
            line-height: 1;
            margin: 0;
            border-radius: 5px;
        }
        .dr_locations_image{
            display: none;
        }
        .dr_locations_image.active{
            display: block;
        }
        .dr_row.dr-align-items a > img{
            margin-left: 10px;
        }
        .dr_row.dr-align-items p{
            white-space: nowrap;
        }
        .dr_inverse_btn{
            text-align: center;
        }
        .dr_inverse_btn .btn{
            color: #2e93ff !important;
            border: 1px solid #97c9ff;
            background: transparent !important;
        }
        .dr_inverse_btn .btn:hover{
            color: #ffffff !important;
            border: 1px solid #2e93ff;
            background: #2e93ff !important;
        }
        .owl-dot{
            background-color: #a58cc1;
        }
        .dr_pr_2{
            padding-right: 20px;
        }
        
        .owl-carousel {
                display: block;
            }
            
        .owl-carousel .slide-owl-wrap:not(:first-child) {
                display: none;
            }
            
        .owl-carousel img {
                width: 100%;
            }

        .owl-carousel figure img{
                width: 100%;
            }

        
        .cvUploadCon{position:relative;}
        .cvUploadCon p{float:right;font-size:14px;color:rgba(0,0,0,.5);padding-top:5px;font-weight:300;}
        .cvUploadCon .input-wrapper{position:relative;border-bottom:1px solid rgba(0,0,0,.5);}
        .cvUploadCon #cvfile{opacity:0;position:absolute;z-index:999}
        #cvfileInput{pointer-events:none;border-bottom:0; width:auto;    white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;}
        .removeCvFile{position: absolute;width:20px;cursor:pointer;
            right: 15px;
            z-index: 999;
            margin-top: -30px;
        }
        .right_sign{
            width: 12px;
            z-index: 9999;
            position: relative;
            display: none;
        }
        #cvfileInput.filled + .label + .right_sign{
            display: inline;
        }
        #uploadCvPopup.popup-box .popup-content{
            padding: 40px 30px 40px;
            overflow: hidden;
        }
        #uploadCvPopup .contact-inputs.ac{
            padding-top: 30px;
        }
        .uploadCvPopup_img{
            position: absolute;
            bottom: -5%;
            right: -2%;
            width: 28%;
        }
        .popup-box .popup-content .close-modal {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .popup-box .popup-content .close-modal i {
            color: #000000;
            font-size: 24px;
        }

        #dr_life_slider{
            padding-bottom: 25px;
            margin-bottom: 0;
        }
        #dr_life_slider .slick-dots{
            bottom: 0;
        } 
        #dr_life_slider .slick-dots li{
            margin: 0 4px;
            width: 10px;
            height: 10px;
        }
        #dr_life_slider .slick-dots li button{
            width: 100%;
            height: 100%;
            padding: 0;
        }
        #dr_life_slider .slick-dots li button:before{
            opacity: 1;
            background: #727272;
            font-size: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        #dr_life_slider .slick-dots li.slick-active button:before{
            background: linear-gradient(to bottom, #1b86a2 0%, #2073b8 22%, #6b5ca6 41%, #923993 70%, #cd4b59 93%, #f05636 100%) left bottom #fff no-repeat;
        }
        #dr_career_slider .slick-prev, #dr_career_slider .slick-next {
            width: 32px;
            height: 32px;
            background-image: url(/-/media/Project/AdaniConneX/Career/Career/right_arrow_icon.png) !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        #dr_career_slider .slick-prev{
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
        }
        #dr_career_slider .slick-prev:before, #dr_career_slider .slick-next:before{
            width: 100%;
            height: 100%;
            font-size: 0;
            opacity: 1;
        }
        #uploadCvPopup .dr_py_2{
            padding: 20px 0 10px !important;
        }
        #uploadCvPopup .input-wrapper.floating .label{
            pointer-events: none;
        }

        
        @media (min-width: 768px){
            
            #uploadCvPopup.popup-box .popup-content{
                min-width: 545px;
            }

        }

        @media (min-width: 1400px){
            .locations_dec .desc{
                min-height: 144px;
            }
        }        

        @media (max-width: 1300px){
            #dr_life_slider.awards-list .award-item .card-title{
                min-height: 72px;
            }
            .dr_life_box:first-child {
                padding-bottom: 25px;
            }
            .locations_dec .desc{
                min-height: 135px;
            }



        }

        @media (max-width: 1200px){
            #dr_values_slider.awards-list .card-box.small-card .card-content .card-desc{
                min-height: 150px;
            }

        }

        @media (max-width: 1100px){
            .hero-section .hero-content{
                top: 50px;
            }
            .awards-list .card-box.small-card .card-content .card-desc {
                min-height: 150px;
            }

        }

        @media (max-width: 991px){
            #dr_life_slider .movie-holder figure{
                height: 270px
            }
            #dr_career_text{
                padding-top: 40px;
            }
            .dr_slider_frame{
                width: 94%;
            }
            .dr_priority_maxwidth{
                max-width: 100%;
                padding: 0 25px;
            }
            .dr_mx_minus {
                margin: 0 -8px;
            }
            #dr_life_slider.awards-list .award-item, #dr_values_slider.awards-list .award-item, #dr_unique_slider.awards-list .award-item{
                padding: 10px 10px;
            }
            .locations_dec .desc {
                min-height: 85px;
            }
            .hero-section .hero-content {
                top: 25px;
            }
            .careers_page .hero-content h4 {
                font-size: 1.2rem;
            }
            .careers_page .hero-content p {
                font-size: 1rem;
                padding-bottom: 30px;
            }
            .careers_page .hero-section .hero-heading, .careers_page .hero-content h4{
                padding-bottom: 15px;
            }
            .careers_page .awards-list{
                margin-top: 0;
            }
            .dr_row.dr-align-items .custom-module-headng{
                margin-bottom: 0;
            }
            .dr_our_locations.section-holder{
                padding-bottom: 50px;
                padding-top: 10px;
            }



        }
        
        @media (max-width: 767px){
            .dr_row{
                display: block;
            }
            #dr_esg_slider .dr_col_4, #dr_esg_slider .dr_col_8{
                width: 100%;
            }
            #dr_esg_slider .dr_col_4{
                height: auto;
            }
            #dr_esg_slider .dr_col_8{
                height: 370px;
            }
            .dr_row.dr-align-items.dr_pr_2{
                display: flex;
                -webkit-display: flex;
            }
            .dr_slider_frame {
                width: 92%;
            }
            .dr_priority_maxwidth {
                padding: 0;
            }
            .dr_join_adani{
                display: block;
                margin-top: 30px;
                padding: 35px 0
            }
            .dr_inverse_btn{
                text-align: left;
            }
            .dr_join_adani p{
                padding-bottom: 40px;
            }
            
            .dr_locations_icon ul li:not(:last-child){
                padding-bottom: 10px;
            }
            .locations_dec .desc {
                min-height: 208px;
            }
            .dr_col_4 img{
                height: auto;
                object-fit: unset;
                display: block !important;
                width: 100% !important;
            }
            #dr_hero_section{
                background-color: #793f96;
            }
            .dr_life_box:first-child {
                padding-bottom: 10px;
            }
            #dr_life_slider.awards-list .award-item .card-title {
                min-height: 65px;
            }
            .dr_locations_icon ul li {
                padding: 0 6px;
            }
            .dr_locations_icon ul li a img{
                max-width: 65px;
            }
            .locations_dec .desc{
                margin: 10px 0 20px;
            }
            .dr_row.dr-align-items .custom-module-headng{
                margin-bottom: 15px;
            }



        }

        @media (max-width: 640px){
            #dr_values_slider .award-item .card-title {
                min-height: 38px;
            }
            #dr_values_slider .card-desc  {
                display: block;
            }
            .dr_open .card-desc {
                margin-top: -16px;
            }

            .dr_hide_div {
                height: 98%;
            }

            .dr_our_locations h2 {
                padding-bottom: 12px
            }

            .locations_dec .desc {
                min-height: 210px;
            }

            #dr_life_slider {
                margin-top:0;
            }

            .one figure img {
                object-position: 50% 0;
            }
            .uploadCvPopup_img {
                right: -1%;
            }
            #dr_life_slider {
                padding-bottom: 40px;
            }
            #dr_life_slider .slick-dots {
                bottom: 20px;
            }



        }

        @media (max-width: 374px){
            .hero-section .hero-heading {
                font-size: 1.7rem;
            }
            #dr_values_slider.awards-list .card-box.small-card .card-content .card-desc {
                min-height: 180px;
            }
            .locations_dec .desc {
                min-height: 240px;
            }
            #dr_career_slider p {
                font-size: 0.9rem;
            }
            .hero-section .hero-content {
                width: 100%;
                left: 0;
                padding-left: 15px;
                padding-right: 15px; 
            }
            .dr_locations_icon ul li {
                padding: 0 5px;
            }
            .dr_locations_icon ul li a p {
                font-size: 0.7rem;
            }
            .dr_locations_icon ul li a img {
                max-width: 50px;
            }
        }

 @media (max-width: 263px) {
            .careers_page .hero-content p {
                padding-bottom: 12px;
            }
            /* .absolute_dots.owl-carousel.dot-bc .owl-dots {
                bottom: 7px;
            } */

            .careers_page .hero-section .hero-heading {
                line-height: 1.2;
            }
        }
