

        
        .growth_stories_page .dr_row{
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
        }
        .growth_stories_page .dr_pt_0{
            padding-top: 0 !important;
        }
        .growth_stories_page .dr_pb_5{
            padding-bottom: 50px;
        }
        .growth_stories_page .dr_pb_3{
            padding-bottom: 30px;
        }
        .growth_stories_page .dr-align-items{
            align-items: center;
            -webkit-align-items: center;
        }
        .growth_stories_page .dr_col_3{
            width: 25%;   
        }
        .growth_stories_page .dr_col_9{
            width: 75%;
        }
        .growth_stories_page .dr_col_3 img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
        .growth_stories_page .dr_col_9{
            padding-left: 50px;
        }
        .growth_stories_page .dr_col_9 .h1 {
            padding-bottom: 30px;
        }
        .growth_stories_page .dr_col_9 h4 {
            font-size: 1.375rem;
            padding-bottom: 25px;
            font-style: italic;
        }
        .growth_stories_page a.lightblue {
            color: #2d8ffa;
        }
        .growth_stories_page p{
            padding-bottom: 15px;
        }
        .growth_stories_page .sustainability-bullet-points {
            padding: 0 0 30px 0;
        }
        .growth_stories_page .sustainability-bullet-points ul{
            margin-top: 0;
        }
        
        

        
        @media (min-width: 1024px){
            
            .growth_stories_page > .section-holder .content-wrapper{
                padding: 0 120px;
            }
            

        }

        @media (max-width: 991px){
            
            .growth_stories_page .dr_col_3{
                width:30%;   
            }
            .growth_stories_page .dr_col_9{
                width: 70%;
                position: relative;
            }
            .growth_stories_page .dr_col_9 .h1 {
                padding-bottom: 20px;
            }
            .growth_stories_page .dr_col_9 h4 {
                padding-bottom: 30px;
            }
           


        }
        
        @media (max-width: 767px){
            .growth_stories_page .dr_row{
                display: block;
            }
            .growth_stories_page .dr_col_3, .growth_stories_page .dr_col_9{
                width:100%;   
            }
            .growth_stories_page .dr_col_3{
                padding-bottom: 30px;
            }
            .growth_stories_page .dr_col_9 {
                padding-left: 0;
                padding-right: 10px;
            }
            .growth_stories_page .dr_col_9 h4 br{
                display: none;
            }
            .growth_stories_page .dr_pb_5 {
                padding-bottom: 40px;
            }
            .growth_stories_page p{
                padding-right: 20px;
            }
            


        }