.card-media-top.small-card{margin-bottom:20px;}
    


    .leaderspeak_wrapper{
      overflow: hidden;
    }

    .leaderspeak_text{
      padding: 15px;
    }
    .dr_leaderspeak{
      position: relative;
    }
    .dr_leaderspeak .section-holder{
      position: relative;
      z-index: 2;
    }
    .dr_leaderspeak .owl-carousel .owl-item img {
      object-fit: cover;
    }

   .dr_leaderspeak .blog-module .item{
      display: block;
      margin-right: 0;
      margin-left: 0;
   }
    .dr_leaderspeak .blog-module .item .item-image{
      position: relative;
    }
   .dr_leaderspeak .blog-module .item .item-image h5{
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fff;
        font-size: 1.2rem;
   }
   .dr_leaderspeak .awards-list .award-item{
      padding-top: 5px;
   }

  .dr_leaderspeak .awards-list .award-item .card-media img{
    height: 215px;
  }

  @media (max-width: 1270px) {

    .dr_leaderspeak .awards-list .award-item .card-media img {
        height: 200px;
    }

  }

  @media (max-width: 1200px) {

    .dr_leaderspeak .awards-list .award-item .card-media img {
        height: 178px;
    }

  }

  @media (max-width: 1100px) {

    .dr_leaderspeak .awards-list .award-item .card-media img {
        height: 164px;
    }
    .blog-module .item-content h4{
      min-height: 124px;
    }

  }

  @media (max-width: 1024px) {
    .dr_leaderspeak .awards-list .award-item .card-media img {
        height: 150px;
    }

  }

  @media (max-width: 991px) {
    .dr_leaderspeak .awards-list .award-item .card-media img {
      height: 145px;
    }     

      .leaderspeak_text {
        padding: 15px;
      }
      .leaderspeak_wrapper .owl-carousel .owl-stage{
        margin: 0;
      }
      #leaderspeak_slider_Home .blog-module .item-content .date{
        display: block;
      }
      .blog-module .item-content h4 {
            min-height: 72px;
      }

    }

    @media (max-width: 963px) {
      .dr_leaderspeak .awards-list .award-item .card-media img {
          height: 292px;
          max-height: none;
      }

    }

    @media (max-width: 800px) {
      .dr_leaderspeak .awards-list .award-item .card-media img {
          height: 247px;
      }

    }

    @media (max-width: 766px) {

      .leaderspeak_text h4,
      .leaderspeak_text span {
        font-size: 0.9rem;
      }

      .leaderspeak_text {
        padding: 10px;
      }

      .blog-module .item-content h4 {
            min-height: 72px;
      }
      .dr_leaderspeak .awards-list .award-item .card-media img {
          height: 325px;
      }

    }

  @media (max-width: 675px) {
      .dr_leaderspeak .awards-list .award-item .card-media img {
          height: 285px;
      }
    
  }

  @media (max-width: 640px) {
      .dr_leaderspeak .awards-list .award-item .card-media img {
        height: 255px;
      }
    
  }

@media (max-width: 540px) {
    .dr_leaderspeak .awards-list .award-item .card-media img {
      height: 220px;
    }
  
}

@media (max-width: 480px) {
    .dr_leaderspeak .awards-list .award-item .card-media img {
      height: 190px;
    }
  
}

@media (max-width: 420px) {
    .dr_leaderspeak .awards-list .award-item .card-media img {
      height: 168px;
    }
  
}

  @media (max-width: 370px) {
    .dr_leaderspeak .awards-list .award-item .card-media img {
      height: 140px;
      min-height: auto;
    }
  }
    

   @media (min-width: 1199px) {
    .leaderspeak_wrapper #leaderspeak_slider_Home{
      margin: 0 -12px;
    }


   }
