@font-face{
    font-family:"roboto-regular";
    font-weight: 600;
    letter-spacing: 1px;
src:url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}
@font-face{
font-family:"fontello";
src:url("../fonts/fontello.woff2") format("woff2"),
url("../fonts/fontello.woff") format("woff");
font-weight:normal;
font-style:normal;
}
/* .fm-ico {
font-family: "fontello"
} */
.i-close:before { 
content: "\E828"
}
.font-icon:before,
[class^=i-]:before,
[class*=" i-"]:before {
display: inline-block;
font-style: normal;
font-weight: normal;
vertical-align: baseline;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: "fontello";
line-height: 100%;
/* font-size: 1rem;
width: 16px;
height: 16px */
}
.i-20,
.i-20:before {
width: 20px;
height: 20px;
font-size: 20px;
line-height: 20px
}

/* master style */
/* * {
margin: 0;
outline: none;
padding: 0;
list-style: none;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
font-size: 1rem;
text-align: left;
line-height: normal;
background: #fff;
color: #4d4d4d;
}
.map-holder .map-heading-wrapper {
max-width: 1360px;
margin: 0 auto;
padding: 0 40px;
}
.tx-000 {
color: #000;
}
.fm-asb {
font-family: 'Roboto', sans-serif;
font-weight: bold;
} */
/* .d-txt {
font-size: 1rem;
line-height: 26px;
} */
/* .map-holder .map-heading-wrapper .desc {
margin-top: 10px;
} */
/* .h4 {
font-size: 1.125rem;
padding-bottom: 6px;
}
.fs-15 {
font-size: 15px;
} */
/* .know-more-link{
color: #2f93ff;
font-size: 0.9375rem;
line-height: 22px;
display: inline-block;
margin-top: 6px;
text-decoration: none;
transition: all 0.5s;
-webkit-transition: all 0.5s;
}
.know-more-link:hover {
text-decoration: underline;
}
.btn{
font-size: 1.125rem;
cursor: pointer;
color: #fff;
line-height: 28px;
display: inline-block;
text-align: center;
padding: 10px 35px 12px;
white-space: nowrap;
background: #2f93ff;
border: 2px solid #2f93ff;
border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
font-weight: 500;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
transition: all 0.2s linear;
font-size: 1rem;
}
.btn:hover {
color: #2f93ff;
background: #fff;
} */



/* master style */


/* ======================================== added extra ======================================= */


#myearth {
width: 100%;
/*	height: 100vh;
max-height: 100vw;*/
overflow: hidden;
max-width: 1250px;
height: 600px;
opacity: 0;
transition: opacity 1.5s ease-in;
}

#myearth.earth-ready {
opacity: 1;
}

#myearth::before {
content: none;
}

.tip-overlay.label{
margin-left:-60px;
}
#myearth .label {
font-family: sans-serif;
font-size: 7px;
text-align: center;
line-height: 130%;
transform: translate(-50%, 100%);    
position: absolute;
top: 8px;
right: 0;
margin: 0;
transform: none;
white-space: nowrap;
}

.tip-overlay {
padding: 0.6em 1em 0.55em 1em;
padding: 3px 10px;
font-size: 0.5em;
letter-spacing: 0.04em;
text-transform: uppercase;
transform: translate(-50%, 1.5em);
background-color: #2f93ff;
color: #ffffff;
text-transform: capitalize;
cursor: pointer;
text-align: center;
border: 1px solid #2f93ff;
border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.tip-down {
transform: translate(-50%, -3em);
margin-left:0px;
}
.tip-overlay.India{
margin-left:40px;
transform: translate(-40%, -1em);
}

.tip-overlay.EMEA, .tip-overlay.North, .tip-overlay.South{
opacity:1;
margin-left:0;
}

.earth-overlay > .placestoplacesLabel{
cursor: pointer;
color: #2f93ff;
text-align: center;
background: #ffffff;
border: 1px solid #2f93ff;
border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
transition: all 0.2s linear;
}


.earth-overlay > .hyderabad{
transform: translate(-100%, 40%) !important;
top: 95%;
left: 10%;
}

.earth-overlay > .noida{
transform: translate(-180%, 40%) !important;
top: 95%;
left: 10%;
}


.location_popup{
-webkit-text-size-adjust: auto
}
.location_popup p{
margin: 0;
}
.location_popup .fs-15{
font-size: 14px;
}

.location_list{width:300px;}
.location_list ul{
list-style-type: none;
padding: 0;
}
.location_list > ul > li{
margin-bottom: 15px;
}
.location_list ul li a{
text-decoration: none;
min-width: 150px;
padding: 6px 15px;
}

.location_list > ul > li.active > a{
color: #2f93ff;
background: #fff;
cursor: default;
}
.city_box_list{
display: none;
}

/* 21/1/2022 */
#dr_earth{
    padding: 0;
}
#dr_earth > h2{
    padding: 0 25px;
    max-width: 1360px;
    margin: 0 auto;
}
#dr_earth > p{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 25px;
    padding-bottom: 30px;
    margin-top: 10px;
    color: #4d4d4d;
}
.map_section{
    width: 100%;
    max-width: 1300px;
    margin: 40px auto 0;
    border-radius: 25px;
    overflow: hidden;
    background-color: #F9F9F9;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    position: relative;
}
.location_list{
    position: absolute;
    left: 0;
    bottom: 3%;
    z-index: 10;
    padding-left: 30px;
}

.earth-overlay.positions{left:-22%;}
.placestoplacesLabel{background:white;color:black;font-size:7px;margin-left:35px;font-weight: 600;text-transform: capitalize !important;}
.placeImg{right:inherit !important;left:-10px !important;}
.placeClose{left:inherit !important;right:10px !important;}
.internalConnection{z-index:0;}

/*HSE framework*/
.play_icon {
position: absolute;
right: 0;
left: 0;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-moz-transform: translateY(-50%);
bottom: auto;
margin: auto;
text-align: center;
text-shadow: 0 2px 5px #333;
background: url(../img/mejs-controls.svg) no-repeat;
background-position: 4px -19px;
height: 46px;
width: 46px;
zoom:1.6;
background-size: 210px;
z-index: 2;
cursor: pointer;
}

/*end HSE framework*/
@media screen and (min-width: 1921px){
    .map_section{
        max-width: 1360px;
        height: 500px;
    }
}
@media screen and (max-width: 1200px){
    #myearth {
        height: 460px;
    }
}

@media screen and (max-width: 1024px){
    #myearth {
        height: 400px;
    }
}

@media screen and (max-width: 991px){
    .map_section{
        display: block;
        height: auto;
    }

    .location_popup{zoom:0.6;}

    #dr_earth > h2, #dr_earth > p{padding-left: 0;padding-right: 0;margin-top: 0;}
    .location_list{
        margin-top: 0;
        text-align: center;
    }
    .location_list > ul{display: inline-block;margin-top: 0;}
    .location_list > ul > li{
        display: inline-block;
        padding-left: 0;
        background: none;
        margin: 0 10px;
    }
    .location_list > ul > li:first-child{
        width: 100%;
        margin: 0;
        display: none;
    }
    .location_list > ul > li.active{
        background: none;
    }
    .location_list > ul > li.active > a{
        max-width: 200px;
        margin: auto;
        margin-bottom: 15px;
    }
    .location_list > ul > li > a{
        padding: 6px 25px;
        height: 34px;
        line-height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        min-width: 130px;
        margin-bottom: 15px;
    }
    .active_white_icon{
        display: inline-block;
        width: 18px;
        margin-right: 10px;
        margin-left: -30px;
    }
    /* width */
    .city_box_list::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .city_box_list::-webkit-scrollbar-track {
        box-shadow: none;
    }

    /* Handle */
    .city_box_list::-webkit-scrollbar-thumb {
        background: transparent;
    }

    /* Handle on hover */
    .city_box_list::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
    .city_box_list{
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        padding: 10px 8px 15px;
        position: relative;
        z-index: 1;
        background: #f9f9f9;
        padding-top: 30px !important;
    }
    .city_box{
        width: 140px;
        display: inline-block;
        border-radius: 15px;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        box-sizing: border-box;
        margin: 0 6px;
        background: #ffffff;
        cursor:pointer;
        border: 2px solid transparent;
    }
    .city_box.active{
        border-color:#3796FC;
    }
    .city_box_img{
        height: 70px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        display: -webkit-flex;
        -webkit-align-items: flex-end;
        -webkit-justify-content: center;
        margin-bottom: 10px;
    }
    .city_box img{
        width: auto;
        max-height: 100%;
        max-width: 100%;
    }
    .city_box h5{
        margin: 0;
        text-align: center;
        color: #000000;
        font-size: 16px;
    }
    .city_box h5 > span{
        font-size: 75%;
        display: block;
        font-weight: 400;
        color:gray; /*#4d4d4d;*/
    }
    .city_box.active h5{
        color: #3796FC;
    }
    .city_box.active h5 > span{
        color: #000000;
    }
    .blue_city_icon{
        display: none;
    }
    .city_box.active .blue_city_icon{
        display: block;
    }
    .city_box.active .grey_city_icon{
        display: none;
    }
    #dr_earth h2{
        font-size: 30px;
        line-height: 1.2;
        padding-bottom: 10px;
    }
    .location_list {
        width: 100%;
        padding: 0 !important;
        position: static;
    }


}

@media screen and (max-width: 767px){
    .location_list > ul > li{
        margin: 0 5px;
    }
    .location_list > ul > li > a{
        min-width: 80px;
        font-size: 13px;
        padding: 7px 15px;
    }
    .city_box{
        width: 94px;
        padding: 7px;
    }
    .city_box_img {
        height: 46px;
        margin-bottom: 8px;
    }
    .city_box h5{
        font-size: 13px;
    }
    #dr_earth{
        padding: 40px 0px;
    }
    #dr_earth > h2, #dr_earth > p {
        padding-left: 15px;
        padding-right: 15px;
    }
    .map_section{
        border-radius: 0;
    }
    #myearth {
        height: 300px;
    }
    .disclaimer_text{
        font-size: 10px;
        line-height: 1;
    }
    #dr_earth h2 {
        font-size: 22px;
    }
    .hse_framework_section h2{margin-bottom:0px;}

}

@media(max-width:480px){
   #dr_earth .know-more-link{font-size:15px;}
   #dr_earth p.full.fs-15{font-size:16;}
}

@media screen and (max-width: 374px){
    .location_list > ul > li > a {
        padding: 6px 17px;
    }
    .location_list > ul > li {
        margin: 0 5px;
    }

}



/* 4/27/2022 Rizwan Style */

.outer { margin:0 auto; max-width:800px;}
/* #big .item { background: #ec6e46; padding: 120px 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; } */
/* #thumbs .item { background: #C9C9C9; height:70px; line-height:70px; padding: 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; cursor: pointer; }
#thumbs .item h1 { font-size: 18px; }
#thumbs .current .item { background:#FF5722; }
.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: #D6D6D6; }
#big.owl-theme { position: relative; }
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { background:#333; width: 22px; line-height:40px; height: 40px; margin-top: -20px; position: absolute; text-align:center; top: 50%; }
#big.owl-theme .owl-prev { left: 10px; }
#big.owl-theme .owl-next { right: 10px; }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { background:#333; } */


.dr_owl_slider{

}
.dr_owl_slider .outer{
display: inline-block;
display: flex;
align-items: center;
max-width: 100%;
}
.thumbs_main{
width: 30%;
height: 370px;
/* float: left; */
}
#big{
width: calc(100% - 30%);
/* float: right; */
}
/*#thumbs .owl-item{
width: 100% !important;
float: none;
}
*/
#thumbs .current .item .reader_thumbnail{ 
background-color: #c0deff;
}
#big .owl-item{
 padding: 10px;
}
.reader_box{
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
background-color: #ffffff;
border-radius: 15px;
padding: 15px;
}
.reader_box .reader_thumbnail_img{
margin: auto;
margin-bottom: 15px;
}
.reader_thumbnail{
display: flex;
align-items: center;
flex-wrap: nowrap;
width: 320px;
background-color: #c0deff;
background-color: #ffffff;
padding: 5px;
}
.reader_thumbnail_img{
width: 100px;
height: 100px;
background-color: #ffffff;
border: 2px solid #ffffff;
border-radius: 50%;
margin-right: 5px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.reader_thumbnail_img img{
width: 100%;
height: 100%;
object-fit: cover;
}
.reader_thumbnail_text{
width: calc(100% - 100px);
}
.reader_thumbnail_text .latest-news, .reader_box .latest-news{
margin-bottom: 0;
}

/* .owl-stage > .active{
border: 5px solid red
}
.owl-stage > .active ~ .active{
border: none
} */
.owl-carousel{
  width: auto;
}
.reader_box .desc{
  margin-bottom: 15px;
}

#big .owl-stage > .active .reader_box{
background-color: #c0deff;
}
#big .owl-stage > .active ~ .active .reader_box{
background-color: #ffffff;
}



@font-face {
font-family: "roboto-light";
src: url("../fonts/roboto-light.woff2") format("woff2"),url("../fonts/roboto-light.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-al {
font-family: "roboto-light"
}

@font-face {
font-family: "roboto-regular";
src: url("../fonts/roboto-regular.woff2") format("woff2"),url("../fonts/roboto-regular.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-ar {
font-family: "roboto-regular"
}

body {
font-family: "roboto-regular"
}

@font-face {
font-family: "roboto-medium";
src: url("../fonts/roboto-medium.woff2") format("woff2"),url("../fonts/roboto-medium.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-am {
font-family: "roboto-medium"
}

@font-face {
font-family: "roboto-bold";
src: url("../fonts/roboto-bold.woff2") format("woff2"),url("../fonts/roboto-bold.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-asb {
font-family: "roboto-bold"
}

@font-face {
font-family: "roboto-bold";
src: url("../fonts/roboto-bold.woff2") format("woff2"),url("../fonts/roboto-bold.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-ab {
font-family: "roboto-bold"
}

@font-face {
font-family: "fontello";
src: url("../../fonts/AdaniConneX/fontello/fontello.woff2") format("woff2"),url("../../fonts/AdaniConneX/fontello/fontello.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-ico {
font-family: "fontello"
}



/* 06/09/2022 start */
.team_with_singular .card-box .card-media img{
min-height: auto;
max-height: none;
height: 250px;
object-fit: cover;
object-position: top;
}

.aboutus-awards .awards-list .award-item .card-title + .full.d-txt{
min-height: 112px;
}
.compliances_certifications .award-section .card-box p.full.d-txt{
min-height: 169px;
}
@media(max-width: 1000px) {
.team_with_singular .card-box .card-media img{
    height: 320px;
}

}
@media(max-width: 963px) {
.aboutus-awards .awards-list .award-item .card-title + .full.d-txt, .compliances_certifications .award-section .card-box p.full.d-txt{
    min-height: 102px;
}
.aboutus-awards .awards-list .award-item .card-title {
    min-height: 64px;
}


}

@media(max-width: 700px) {
.bm-list.grid-wrapper .grid{
    max-width: 330px;
    margin: auto;
}
.team_with_singular .card-box .card-media img{
    height: 260px;
}

}

@media(max-width: 640px) {

.aboutus-awards .awards-list .award-item .card-title + .full.d-txt {
    min-height: 130px;
}
.compliances_certifications .award-section .card-box p.full.d-txt{
    min-height: 182px;
}
.compliances_certifications .awards-list .award-item .card-title{
    min-height: auto;
}

}

#thumbs .item {
transform: rotate(-90deg);
}

#thumbs.owl-carousel {
transform: rotate(90deg);
}

.owl-nav {
position: absolute;
right: 0;
top: -30px;
}



@font-face {
font-family: "Adani Regular";
src: url("../../fonts/AdaniConneX/adani/Adani.eot");
src: url("../../fonts/AdaniConneX/adani/Adani.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/AdaniConneX/adani/Adani.woff") format("woff"),
    url("../../fonts/AdaniConneX/adani/Adani.woff2") format("woff2"),
    url("../../fonts/AdaniConneX/adani/Adani-Regular.ttf") format("truetype"),
    url("../../fonts/AdaniConneX/adani/adani.svg#Ubuntu") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Adani Medium";
src: url("../../fonts/AdaniConneX/adani/Adani.eot");
src: url("../../fonts/AdaniConneX/adani/Adani.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/AdaniConneX/adani/Adani.woff") format("woff"),
    url("../../fonts/AdaniConneX/adani/Adani.woff2") format("woff2"),
    url("../../fonts/AdaniConneX/adani/Adani-Medium.ttf") format("truetype"),
    url("../../fonts/AdaniConneX/adani/Adani.svg#Ubuntu") format("svg");
font-weight: normal;
font-style: normal;
}


.hero-section {
position: relative;
overflow-x: hidden;
z-index: 1;
}

.hero-section::before {
top: 0;
left: 0;
content: "";
z-index: 1;
width: 100%;
height: 100%;
max-height: 724px;
position: absolute;
}

.hero-section figure img.mobile-img {
display: none;
}

.hero-section figure {
width: 100vw;
/* height: 600px; */
overflow: hidden;
margin: 0;
}

.hero-section figure img.desktop-img {
display: block;
}

.hero-section figure img {
width: 100%;
height: 100%;
max-width: 100%;
object-fit: cover;
vertical-align: middle;
}

.hero-section .hero-content-wrapper {
top: 50%;
left: 50%;
z-index: 2;
height: 100%;
width: 100%;
max-width: 1730px;
position: absolute;
transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
}

.hero-section .hero-content-wrapper .breadcrumb {
position: absolute;
top: 46px;
left: 40px;
background-color: transparent;
}

.breadcrumb {
display: flex;
flex-wrap: wrap;
margin-bottom: 25px;
text-transform: capitalize;
}

.hero-section .hero-content-wrapper .breadcrumb li {
color: #fff;
font-size: 1rem;
}

.hero-section .hero-content-wrapper .breadcrumb li a {
color: #fff;
}

.hero-section .hero-content-wrapper .breadcrumb li+li::before {
color: #fff;
}

.breadcrumb li+li::before {
display: inline-block;
padding-right: 0.5rem;
padding-left: 0.5rem;
color: #25274d;
content: ">";
}

.hero-section .hero-content-wrapper .breadcrumb li span {
color: #fff;
}

.full,
.chckbx-wrpr label,
.rdio-wrpr label,
include {
clear: both;
width: 100%;
display: block;
}

.hero-section .hero-content {
left: 6%;
top: 56%;
width: 42%;
color: #fff;
position: absolute;
transform: translateX(0) translateY(-50%);
-moz-transform: translateX(0) translateY(-50%);
-webkit-transform: translateX(0) translateY(-50%);
}

.hero-section .hero-heading {
/*font-family: "Adani Medium", sans-serif;*/
font-weight: 800;
font-size: 46px;
line-height: 1.22;
max-width: 500px;
margin: 1rem 0 1rem;
}

.full,
.chckbx-wrpr label,
.rdio-wrpr label,
include {
clear: both;
width: 100%;
display: block;
}

/* .fm-am {
font-family: "roboto-medium";
} */

.hero-section .hero-desc-align {
font-size: 24px;
line-height: 1.25;
/*font-family: "Adani Regular", sans-serif;*/
max-width: 450px;
margin: 20px 0px 50px;
}

.hero-main-heading {
/*font-family: "Adani Medium", sans-serif;*/
font-size: 32px;
font-weight: 600;
background-image: linear-gradient(to right, #ffdfb3, #fff1de 60%, #d5a16a 103%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.hero-btn {
background-color: #fff;
padding: 18px 32px;
border-radius: 30px;
color: #49a1ff;
font-size: 16px;
/*font-family: "Adani Medium", sans-serif;*/
font-weight: 800;

}

.hero-btn-div {
margin: 3rem 0 1rem;
}

.section-holder {
padding: 60px 0 80px 0;
}

.content-wrapper {
margin: 0 auto;
padding: 0 40px;
max-width: 1360px;
}

#about-us-img img {
width: 464px;
height: 479px;
max-width: 100%;
padding: 14px;
border-radius: 15px;
box-shadow: 0 1px 1px 1px rgba(164, 164, 164, 0.5);
}

.grid-wrapper {
display: flex;
flex-wrap: wrap;
}

.sustainability-content-align {
justify-content: space-between;

}

.left-col h2 {
font-size: 46px;
font-family: "roboto-bold";
}

.left-col h4 {
font-size: 24px;
margin: 16px 0 12px;
font-family: "roboto-bold";
}

.left-col img.quote-img {
width: 20px;
height: 20px;
max-width: 100%;
}

<!-- .right-col.custom-col, -->
<!-- .left-col.custom-col { -->
<!-- flex: 1; -->
<!-- } -->
#sustainabilityVideoHolder .desktop-img img{
  width: 464px;
  height: 479px;

}

.about-us-para {
font-size: 18px;
line-height: 1.78;
letter-spacing: 0.22px;
color: #333;
}

.user-img img {
width: 48px;
height: 48px;
max-width: 100%;
}

.user-flex {
display: flex;
flex-wrap: wrap;
column-gap: 1.5rem;
}

.user-div {
margin: 20px 0 24px;
}

.user-info h5 {
font-size: 18px;
font-weight: normal;
}

.user-info h6 {
font-size: 14px;
font-weight: normal;
line-height: 1.8;
}

/* .about-btn {
padding: 16px 58px;
background-color: #2f93ff;
color: #fff;
border-radius: 30px;
font-size: 17px;
} */

.about-btn-div {
margin-top: 1rem;
}

/* .touch-btn {
padding: 16px 43px;
background-color: #2f93ff;
border-radius: 30px;
color: #fff;
font-size: 16px;

} */

.connex-get-touch h2 {
font-size: 36px;
color: #1a1a1a;
line-height: 1;
font-family: "roboto-medium";
}

.connex-get-touch p {
font-size: 16px;
font-weight: normal;
margin: 1.2rem 0 2rem 0;
}

.touch-btn-div {
margin: 24px 0 0 0;
}

.connex-get-touch {
background-color: #fafafa;
text-align: center;
}

.btn {
font-size: 1.125rem;
cursor: pointer;
color: #fff;
line-height: 28px;
display: inline-block;
text-align: center;
padding: 10px 35px 12px;
white-space: nowrap;
background: #2f93ff;
border: 2px solid #2f93ff;
border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
font-size: 16px;
}

.btn:hover {
color: #2f93ff;
background: #fff;
}


@media (max-width: 991px) {
.sustainability-content {
    flex-direction: column;
}
}

ul#myTab.nav-tabs {
    background-color: transparent;
    border-bottom: unset;
    /* padding: 14px 0; */
    position: relative;
}

ul.nav.nav-tabs {
    display: block;
    background-color: #fdf8f8;
}

ul.nav.nav-tabs li {
    cursor: pointer;
    font-size: 16px;
}

ul#myTab.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #4887b8;
    /* opacity: 0.2; */
    border: none;
    border-radius: 8px 0 0 8px;
}

ul#myTab.nav-tabs .nav-link {
    width: 100%;
    display: block;
    text-align: left;
    padding: 12px;
    color: #fff;
}

ul#myTab.nav-tabs .nav-link {
    border: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

#myTabContent {
    position: relative;
}

.one {
    position: relative;
}

.edge-connex-video {
    position: relative;
}

.content-video {
    position: absolute !important;
    top: 10%;
    left: 6%;
}

.content-video h2 {
    font-size: 46px;
    color: #fff;
}

.content-video p {
    font-size: 18px;
    color: #fff;
}

.video-title {
    padding: 5rem 0 4rem 0;
}

.video-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-icon img {
    width: 46px;
    height: 46px;
    max-width: 100%;
    filter: invert(1);
}

.video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.video-person-name {
    font-size: 13px;
}

.load-icon {
    width: 30px;
    height: 30px;
    margin: auto;
}


/* Frost */
@font-face{
    font-family:"roboto-regular";
    font-weight: 600;
    letter-spacing: 1px;
src:url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}
@font-face{
font-family:"fontello";
src:url("../fonts/fontello.woff2") format("woff2"),
url("../fonts/fontello.woff") format("woff");
font-weight:normal;
font-style:normal;
}
/* .fm-ico {
font-family: "fontello"
} */
.i-close:before {
content: "\E828"
}
.font-icon:before,
[class^=i-]:before,
[class*=" i-"]:before {
display: inline-block;
font-style: normal;
font-weight: normal;
vertical-align: baseline;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: "fontello";
line-height: 100%;
/* font-size: 1rem;
width: 16px;
height: 16px */
}
.i-20,
.i-20:before {
width: 20px;
height: 20px;
font-size: 20px;
line-height: 20px
}

/* master style */
/* * {
margin: 0;
outline: none;
padding: 0;
list-style: none;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
font-size: 1rem;
text-align: left;
line-height: normal;
background: #fff;
color: #4d4d4d;
}
.map-holder .map-heading-wrapper {
max-width: 1360px;
margin: 0 auto;
padding: 0 40px;
}
.tx-000 {
color: #000;
}
.fm-asb {
font-family: 'Roboto', sans-serif;
font-weight: bold;
} */
/* .d-txt {
font-size: 1rem;
line-height: 26px;
} */
/* .map-holder .map-heading-wrapper .desc {
margin-top: 10px;
} */
/* .h4 {
font-size: 1.125rem;
padding-bottom: 6px;
}
.fs-15 {
font-size: 15px;
} */
/* .know-more-link{
color: #2f93ff;
font-size: 0.9375rem;
line-height: 22px;
display: inline-block;
margin-top: 6px;
text-decoration: none;
transition: all 0.5s;
-webkit-transition: all 0.5s;
}
.know-more-link:hover {
text-decoration: underline;
}
.btn{
font-size: 1.125rem;
cursor: pointer;
color: #fff;
line-height: 28px;
display: inline-block;
text-align: center;
padding: 10px 35px 12px;
white-space: nowrap;
background: #2f93ff;
border: 2px solid #2f93ff;
border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
font-weight: 500;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
transition: all 0.2s linear;
font-size: 1rem;
}
.btn:hover {
color: #2f93ff;
background: #fff;
} */



/* master style */


/* ======================================== added extra ======================================= */


#myearth {
width: 100%;
/*	height: 100vh;
max-height: 100vw;*/
overflow: hidden;
max-width: 1250px;
height: 600px;
opacity: 0;
transition: opacity 1.5s ease-in;
}

#myearth.earth-ready {
opacity: 1;
}

#myearth::before {
content: none;
}

.tip-overlay.label{
margin-left:-60px;
}
#myearth .label {
font-family: sans-serif;
font-size: 7px;
text-align: center;
line-height: 130%;
transform: translate(-50%, 100%);    
position: absolute;
top: 8px;
right: 0;
margin: 0;
transform: none;
white-space: nowrap;
}

.tip-overlay {
padding: 0.6em 1em 0.55em 1em;
padding: 3px 10px;
font-size: 0.5em;
letter-spacing: 0.04em;
text-transform: uppercase;
transform: translate(-50%, 1.5em);
background-color: #2f93ff;
color: #ffffff;
text-transform: capitalize;
cursor: pointer;
text-align: center;
border: 1px solid #2f93ff;
border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.tip-down {
transform: translate(-50%, -3em);
margin-left:0px;
}
.tip-overlay.India{
margin-left:40px;
transform: translate(-40%, -1em);
}

.tip-overlay.EMEA, .tip-overlay.North, .tip-overlay.South{
opacity:1;
margin-left:0;
}

.earth-overlay > .placestoplacesLabel{
cursor: pointer;
color: #2f93ff;
text-align: center;
background: #ffffff;
border: 1px solid #2f93ff;
border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
transition: all 0.2s linear;
}


.earth-overlay > .hyderabad{
transform: translate(-100%, 40%) !important;
top: 95%;
left: 10%;
}

.earth-overlay > .noida{
transform: translate(-180%, 40%) !important;
top: 95%;
left: 10%;
}


.location_popup{
-webkit-text-size-adjust: auto
}
.location_popup p{
margin: 0;
}
.location_popup .fs-15{
font-size: 14px;
}

.location_list{width:300px;}
.location_list ul{
list-style-type: none;
padding: 0;
}
.location_list > ul > li{
margin-bottom: 15px;
}
.location_list ul li a{
text-decoration: none;
min-width: 150px;
padding: 6px 15px;
}

.location_list > ul > li.active > a{
color: #2f93ff;
background: #fff;
cursor: default;
}
.city_box_list{
display: none;
}

/* 21/1/2022 */
#dr_earth{
    padding: 0;
}
#dr_earth > h2{
    padding: 0 25px;
    max-width: 1360px;
    margin: 0 auto;
}
#dr_earth > p{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 25px;
    padding-bottom: 30px;
    margin-top: 10px;
    color: #4d4d4d;
}
.map_section{
    width: 100%;
    max-width: 1300px;
    margin: 40px auto 0;
    border-radius: 25px;
    overflow: hidden;
    background-color: #F9F9F9;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    position: relative;
}
.location_list{
    position: absolute;
    left: 0;
    bottom: 3%;
    z-index: 10;
    padding-left: 30px;
}

.earth-overlay.positions{left:-22%;}
.placestoplacesLabel{background:white;color:black;font-size:7px;margin-left:35px;font-weight: 600;text-transform: capitalize !important;}
.placeImg{right:inherit !important;left:-10px !important;}
.placeClose{left:inherit !important;right:10px !important;}
.internalConnection{z-index:0;}

/*HSE framework*/
.play_icon {
position: absolute;
right: 0;
left: 0;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-moz-transform: translateY(-50%);
bottom: auto;
margin: auto;
text-align: center;
text-shadow: 0 2px 5px #333;
background: url(../img/mejs-controls.svg) no-repeat;
background-position: 4px -19px;
height: 46px;
width: 46px;
zoom:1.6;
background-size: 210px;
z-index: 2;
cursor: pointer;
}

/*end HSE framework*/
@media screen and (min-width: 1921px){
    .map_section{
        max-width: 1360px;
        height: 500px;
    }
}
@media screen and (max-width: 1200px){
    #myearth {
        height: 460px;
    }
}

@media screen and (max-width: 1024px){
    #myearth {
        height: 400px;
    }
}

@media screen and (max-width: 991px){
    .map_section{
        display: block;
        height: auto;
    }

    .location_popup{zoom:0.6;}

    #dr_earth > h2, #dr_earth > p{padding-left: 0;padding-right: 0;margin-top: 0;}
    .location_list{
        margin-top: 0;
        text-align: center;
    }
    .location_list > ul{display: inline-block;margin-top: 0;}
    .location_list > ul > li{
        display: inline-block;
        padding-left: 0;
        background: none;
        margin: 0 10px;
    }
    .location_list > ul > li:first-child{
        width: 100%;
        margin: 0;
        display: none;
    }
    .location_list > ul > li.active{
        background: none;
    }
    .location_list > ul > li.active > a{
        max-width: 200px;
        margin: auto;
        margin-bottom: 15px;
    }
    .location_list > ul > li > a{
        padding: 6px 25px;
        height: 34px;
        line-height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        min-width: 130px;
        margin-bottom: 15px;
    }
    .active_white_icon{
        display: inline-block;
        width: 18px;
        margin-right: 10px;
        margin-left: -30px;
    }
    /* width */
    .city_box_list::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .city_box_list::-webkit-scrollbar-track {
        box-shadow: none;
    }

    /* Handle */
    .city_box_list::-webkit-scrollbar-thumb {
        background: transparent;
    }

    /* Handle on hover */
    .city_box_list::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
    .city_box_list{
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        padding: 10px 8px 15px;
        position: relative;
        z-index: 1;
        background: #f9f9f9;
        padding-top: 30px !important;
    }
    .city_box{
        width: 140px;
        display: inline-block;
        border-radius: 15px;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        box-sizing: border-box;
        margin: 0 6px;
        background: #ffffff;
        cursor:pointer;
        border: 2px solid transparent;
    }
    .city_box.active{
        border-color:#3796FC;
    }
    .city_box_img{
        height: 70px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        display: -webkit-flex;
        -webkit-align-items: flex-end;
        -webkit-justify-content: center;
        margin-bottom: 10px;
    }
    .city_box img{
        width: auto;
        max-height: 100%;
        max-width: 100%;
    }
    .city_box h5{
        margin: 0;
        text-align: center;
        color: #000000;
        font-size: 16px;
    }
    .city_box h5 > span{
        font-size: 75%;
        display: block;
        font-weight: 400;
        color:gray; /*#4d4d4d;*/
    }
    .city_box.active h5{
        color: #3796FC;
    }
    .city_box.active h5 > span{
        color: #000000;
    }
    .blue_city_icon{
        display: none;
    }
    .city_box.active .blue_city_icon{
        display: block;
    }
    .city_box.active .grey_city_icon{
        display: none;
    }
    #dr_earth h2{
        font-size: 30px;
        line-height: 1.2;
        padding-bottom: 10px;
    }
    .location_list {
        width: 100%;
        padding: 0 !important;
        position: static;
    }


}

@media screen and (max-width: 767px){
    .location_list > ul > li{
        margin: 0 5px;
    }
    .location_list > ul > li > a{
        min-width: 80px;
        font-size: 13px;
        padding: 7px 15px;
    }
    .city_box{
        width: 94px;
        padding: 7px;
    }
    .city_box_img {
        height: 46px;
        margin-bottom: 8px;
    }
    .city_box h5{
        font-size: 13px;
    }
    #dr_earth{
        padding: 40px 0px;
    }
    #dr_earth > h2, #dr_earth > p {
        padding-left: 15px;
        padding-right: 15px;
    }
    .map_section{
        border-radius: 0;
    }
    #myearth {
        height: 300px;
    }
    .disclaimer_text{
        font-size: 10px;
        line-height: 1;
    }
    #dr_earth h2 {
        font-size: 22px;
    }
    .hse_framework_section h2{margin-bottom:0px;}


.hero-section .hero-content {

left: 6%;
top: 56%;
width: 42%;
color: #fff;
position: absolute;
transform: unset;
-moz-transform: unset;
-webkit-transform: unset;
}

.hero-section .hero-desc-align{
margin: 10px 0px 20px;
}

}

@media(max-width:480px){
   #dr_earth .know-more-link{font-size:15px;}
   #dr_earth p.full.fs-15{font-size:16;}
}

@media screen and (max-width: 374px){
    .location_list > ul > li > a {
        padding: 6px 17px;
    }
    .location_list > ul > li {
        margin: 0 5px;
    }

}



/* 4/27/2022 Rizwan Style */

.outer { margin:0 auto; max-width:800px;}
/* #big .item { background: #ec6e46; padding: 120px 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; } */
/* #thumbs .item { background: #C9C9C9; height:70px; line-height:70px; padding: 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; cursor: pointer; }
#thumbs .item h1 { font-size: 18px; }
#thumbs .current .item { background:#FF5722; }
.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: #D6D6D6; }
#big.owl-theme { position: relative; }
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { background:#333; width: 22px; line-height:40px; height: 40px; margin-top: -20px; position: absolute; text-align:center; top: 50%; }
#big.owl-theme .owl-prev { left: 10px; }
#big.owl-theme .owl-next { right: 10px; }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { background:#333; } */


.dr_owl_slider{

}
.dr_owl_slider .outer{
display: inline-block;
display: flex;
align-items: center;
max-width: 100%;
}
.thumbs_main{
width: 30%;
height: 370px;
/* float: left; */
}
#big{
width: calc(100% - 30%);
/* float: right; */
}
/*#thumbs .owl-item{
width: 100% !important;
float: none;
}
*/
#thumbs .current .item .reader_thumbnail{ 
background-color: #c0deff;
}
#big .owl-item{
 padding: 10px;
}
.reader_box{
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
background-color: #ffffff;
border-radius: 15px;
padding: 15px;
}
.reader_box .reader_thumbnail_img{
margin: auto;
margin-bottom: 15px;
}
.reader_thumbnail{
display: flex;
align-items: center;
flex-wrap: nowrap;
width: 320px;
background-color: #c0deff;
background-color: #ffffff;
padding: 5px;
}
.reader_thumbnail_img{
width: 100px;
height: 100px;
background-color: #ffffff;
border: 2px solid #ffffff;
border-radius: 50%;
margin-right: 5px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.reader_thumbnail_img img{
width: 100%;
height: 100%;
object-fit: cover;
}
.reader_thumbnail_text{
width: calc(100% - 100px);
}
.reader_thumbnail_text .latest-news, .reader_box .latest-news{
margin-bottom: 0;
}

/* .owl-stage > .active{
border: 5px solid red
}
.owl-stage > .active ~ .active{
border: none
} */
.owl-carousel{
  width: auto;
}
.reader_box .desc{
  margin-bottom: 15px;
}

#big .owl-stage > .active .reader_box{
background-color: #c0deff;
}
#big .owl-stage > .active ~ .active .reader_box{
background-color: #ffffff;
}



@font-face {
font-family: "roboto-light";
src: url("../fonts/roboto-light.woff2") format("woff2"),url("../fonts/roboto-light.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-al {
font-family: "roboto-light"
}

@font-face {
font-family: "roboto-regular";
src: url("../fonts/roboto-regular.woff2") format("woff2"),url("../fonts/roboto-regular.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-ar {
font-family: "roboto-regular"
}

body {
font-family: "roboto-regular"
}

@font-face {
font-family: "roboto-medium";
src: url("../fonts/roboto-medium.woff2") format("woff2"),url("../fonts/roboto-medium.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-am {
font-family: "roboto-medium"
}

@font-face {
font-family: "roboto-bold";
src: url("../fonts/roboto-bold.woff2") format("woff2"),url("../fonts/roboto-bold.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-asb {
font-family: "roboto-bold"
}

@font-face {
font-family: "roboto-bold";
src: url("../fonts/roboto-bold.woff2") format("woff2"),url("../fonts/roboto-bold.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-ab {
font-family: "roboto-bold"
}

@font-face {
font-family: "fontello";
src: url("../../fonts/AdaniConneX/fontello/fontello.woff2") format("woff2"),url("../../fonts/AdaniConneX/fontello/fontello.woff") format("woff");
font-weight: normal;
font-style: normal
}

.fm-ico {
font-family: "fontello"
}



/* 06/09/2022 start */
.team_with_singular .card-box .card-media img{
min-height: auto;
max-height: none;
height: 250px;
object-fit: cover;
object-position: top;
}

.aboutus-awards .awards-list .award-item .card-title + .full.d-txt{
min-height: 112px;
}
.compliances_certifications .award-section .card-box p.full.d-txt{
min-height: 169px;
}
@media(max-width: 1000px) {
.team_with_singular .card-box .card-media img{
    height: 320px;
}

}
@media(max-width: 963px) {
.aboutus-awards .awards-list .award-item .card-title + .full.d-txt, .compliances_certifications .award-section .card-box p.full.d-txt{
    min-height: 102px;
}
.aboutus-awards .awards-list .award-item .card-title {
    min-height: 64px;
}


}

@media(max-width: 700px) {
.bm-list.grid-wrapper .grid{
    max-width: 330px;
    margin: auto;
}
.team_with_singular .card-box .card-media img{
    height: 260px;
}

}

@media(max-width: 640px) {

.aboutus-awards .awards-list .award-item .card-title + .full.d-txt {
    min-height: 130px;
}
.compliances_certifications .award-section .card-box p.full.d-txt{
    min-height: 182px;
}
.compliances_certifications .awards-list .award-item .card-title{
    min-height: auto;
}

}

#thumbs .item {
transform: rotate(-90deg);
}

#thumbs.owl-carousel {
transform: rotate(90deg);
}

.owl-nav {
position: absolute;
right: 0;
top: -30px;
}

.voice_of_trust .sustainability-content .custom-col.left-col {

         width: calc(40% - 0px );

}
@media (max-width: 963px){
.btn {
    font-size: 1rem;
    line-height: 20px;
    padding: 10px 20px;
}
}

@media screen and (min-width: 577px) and (max-width: 991px) {
   .hero-section > figure + .hero-content-wrapper .hero-content {
    top: 54%;
    bottom: unset;
}

 .text_gradient{
   font-size: 32px;
   padding-bottom: 4px;
 
 }
 .hero-section .hero-heading {
    margin: 0.5rem 0 0.5rem;
    font-size: 32px;
}
.fsl_banner.hero-section .hero-content-wrapper .breadcrumb {
    top: 20px !important;
    left: 50px !important;
}

.hero-section .hero-desc-align {
   
    margin: 20px 0px 32px !important;
}
}