@model Adani.BAU.Transmission.Feature.Navigation.Platform.Models.BreadcrumbItemList
<!-- breadcrumbs -->
@if (Model.Breadcrumbs.Count > 0)
{
    var i = 0;
    var last = Model.Breadcrumbs.Count;
    <div class="section-breadcrumb">
        <div class="container">
            <ol class="breadcrumb ad-breadcrumb margin-0">
                @foreach (var item in Model.Breadcrumbs)
                {
                    i++;
                    if (i==last)
                    {
                        <li class="breadcrumb-item active" aria-current="page">@item.Title</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item"><a href="@item.Url">@item.Title</a></li>
                    }
                }


            </ol>
        </div>
    </div>
}