@media (min-width: 1440px){
	#sustanibility .item{max-height: 600px;}
}
@media (max-width: 1199px){
	.home-video-thumb{display: none !important;}
/*	.footerMenu{margin:0.5rem 0;}*/
	.footerMenu li{margin:3px 0;}
	.footerMenu li a{opacity:1.0;}

	.homepage .bannerImg{background-position:20% top;}
	/*.social-links{display:none;}*/
	.nav-tabs .nav-item{margin:0;padding:3px 3px 0 0;}
	#navbar .navbar-nav .nav-link {color:#000;margin-bottom: 0px;}
	.navbar-expand-lg .navbar-nav .nav-link {
		color: #fff;
		font-size: 14px;
		margin-bottom: 10px;
	}
}
@media (min-width: 992px) and (max-width: 1024px) {
	.navTile a{padding-right:0;font-size:0.8rem;}
	.homepage .bannerImg{background-position:20% top;}
	.homepage .bannerImg img {
		transform: translateX(-42%) translateY(-50%);
	}
	.serviceTile .serviceIcon img {
		width: 65px;
		max-height:none;
	}
	
	
}
@media (min-width: 768px) and (max-width: 1023px) {
	.homepage .bannerImg{background-position:14% top;}
	.homepage .bannerImg img {
		transform: translateX(-35%) translateY(-48%);
	}
	.serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
	.serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
	
	
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.linkTxt{font-size:1rem;padding-bottom:10px;}
}
@media (min-width: 992px){
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
      padding-top: 0px !important;
    padding-bottom: 0% !important;
}
.sticky-header .navbar {margin-top: 0% !important;margin-bottom: 0% !important;}
.sticky-header .searchIcon{padding:8px 0px;}
/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  margin:0 1rem 0 0.25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top:94%;
  border: 0px;
    border-radius: 0px;
	 animation: fadeInUp-custom .8s;
}
/* Animation */

@keyframes fadeInUp-custom {
    from {
        transform: translate3d(0,20px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes custom {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}  

  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block!important;
}
  
  .navbar .dropdown-menu {
    background-color: #fff;
  }
      .vertical-fourth {
        position: absolute;
        top: 20%;
    }

    .vertical-middle {
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        position: absolute;
        top: 38%;
    }

    .vision {
        max-width: 555px;
        margin-left: auto;
        position: relative;
    }

        .vision p {
            max-width: 400px;
        }

}
@media (max-width: 991px){
	.ft-logo{border-left: 0px solid #dee2e6!important;}
	#navbar .navbar-nav .nav-link{color:#fff;}
	#navbar .navbar-nav .nav-link:hover{color:#000;}
	.achieve-description{margin-bottom:20px;padding: 0px 0px !important;min-height: 50px;}
	.sustainability-v:before{-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);transform: rotate(-90deg);right: 98%;top: 15px;}
	.ft-social{}
	.ft-social li{}
	.ft-social li a{}
	.ft-social li:hover{}
	.searchIcon {padding: 25px 0px;}
	.topNavBtn {padding: 11px 0px;}
	.ceo-img{display:none;}
	.ceo-img img{height: auto !important;width: auto !important;}
.breadcrumbBg img{
		-webkit-transform: translate(-20%, 0%);
		transform: translate(-20%, 0%);
	 }
	.desktop-none {display:block;}
	.navbar-light .navbar-brand{padding-top: 20px;padding-bottom: 20px;}
	.order-lst{order: 1;}
	.footerArrow{display:none;}
	.footerPanel2 .border-right-1{border-right: 0px;}
	.footerPanel2 .border-right-1 .mb-3{margin-top: 50px;}
	.bannercontent{top: 32%;-webkit-transform: translate(0%, 32%);transform: translate(0%, 32%);}
	.panelBox{margin-bottom: 20px;}
	.btnWrapper{margin-bottom: 40px;}
	.featured-stories p{text-align: center;}
	.featured-stories p span{display: inline-block;margin-top: 20px;width: 100%;}
	.featured-stories p span a{float: unset !important;}
	.business-tile{margin-bottom:30px;}
	.mobile-none{display:none !important;}
	.news{margin-top:20px;}
	.accService{font-size:0.8rem;}
	.dropdown-menu{
		display:block;
		padding: 0;
		border-radius: 0;
		border:1px solid rgba(0,0,0,0.1);
		margin-left: 1rem;
		font-size:0.9rem;
	}
	.dropdown-item{padding:0.25rem 0.75rem;}
	.navbar-light .navbar-nav .nav-link{color:#000;padding-left: 15px;padding-right: 15px;}
	#topMenu {
		width: 250px;
		position: fixed;
		top:0;
		left: 0;
		height: 100vh;
		overflow-y:auto;
		z-index: 999;
		color: #fff;
		transition: all 0.3s;
        margin-left: -250px !important;
		background:#17b677;
    }
	 #topMenu.active {
        margin-left: 0 !important;
    }
	.topMenu li {display:block;border-bottom:1px solid #fff;}
	.topMenu li a{padding: 0.5rem 1rem;
		display: block;
		background:#17b677;
		color:#fff;
		position:relative;
		border-right:none;
	}
	.topMenu li:first-child a{padding-left:1rem;}
	.topMenu li a:hover, .topMenu li a:focus{/*background:#07406d;*/}
	.primaryMenu {
		border-top:0px solid #0b6bb5;
		/*box-shadow: 0px -1px 8px rgba(0,0,0,0.3);*/
	}
	.primaryMenu li{background:#eee;border-bottom:1px solid #d3d3d3}
	.primaryMenu li a.nav-link{padding:0.3rem 1rem;}
	.dropdown-menu{background:none;border:none;margin-left:1.5rem;}
	.dropdown-item{border-bottom:1px solid #d3d3d3;}
		.dropdown-item:focus, .dropdown-item:hover {
		color: #fff;
		text-decoration: none;
		background-color: #0b6bb5;
	}
	.dropdown-menu{background:none;border:none;margin-left:1.5rem;}
	.dropdown-item{border-bottom:1px solid #d3d3d3;}
		.dropdown-item:focus, .dropdown-item:hover {
		color: #fff;
		text-decoration: none;
		background-color: #ff6633;
	}
	.navbar-light .navbar-nav .nav-item.active .nav-link, .navbar-light .navbar-nav .nav-item.show .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
		background: #1a727f;color: #fff;}
	.navbar {padding: 0;position: fixed;width: 100%;left: 0px;margin-top: 30px;margin-left: 0px !important;}
	.navbar .navbar-collapse{padding: 10px 20px;background: #1c9e95;position: fixed;width: 100%;}
	.vision.vertical-fourth {
		position: relative;
		top: 0;
		margin-bottom: 10px;
	}
}
@media (max-width: 767px){
	.section-growth{    padding: 2rem 0px 0rem 0px;}
	.businesses-block{padding-bottom: 0% !important;}
	.business-desc{display:none;}

	.business-tile{margin-bottom: 40px;}
	.business-tile:hover{box-shadow: 0 0px 0px #ccc;}
	.business-title{padding: 0px 5px;}
	.breadcrumbBg img{
		-webkit-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
	 }
.business-thumb{/*display:none;*/height: auto;}
	.footerPanel2{text-align:center;}
	.footerPanel2 h6{padding: 0px 0px;margin-bottom: 20px !important;margin-top: 10px !important;}
	.footerPanel2 .border-right-1 .mb-3{margin-top: 0px;}
	#mainslider .slideritem img{}
	.business-content span{color: #0b6bb5;}
	.social-links li a i{top: 0px;left: 0px;}
	.business .col-lg-3:nth-child(1){}
	.business .col-lg-3:nth-child(2){}
	.business .col-lg-3:nth-child(3){}
	.business .col-lg-3:nth-child(4){}
	.business .col-lg-3:nth-child(5){display:none;}
	.business .col-lg-3:nth-child(6){display:none;}
	.business .col-lg-3:nth-child(7){display:none;}
	.business .col-lg-3:nth-child(8){display:none;}
	.business .col-lg-3:nth-child(9){display:none;}
	.business .col-lg-3:nth-child(10){display:none;}
	.business .col-lg-3:nth-child(11){display:none;}
	.business .col-lg-3:nth-child(12){display:none;}
/*	.business-box .business-content p{display: block;color: #000;}*/
	/*.business-box .business-content a{display: block;color: #0b6bb5;}*/
	/*.business-box .business-content{width: 140px;min-height: 150px;}*/
	#sustanibility .txt-overlay{}
	.quick-links{display:none;}
	.topNav li.topSearch{display:none;}
	.topMenu li.topSearchMenu{display:block;}
	/*.topMenu{display:none;}*/
	.homepage .mainBanner{height:250px;}
	.homepage .bannerImg{position:relative;height:100%;background-position:12% top;}
	.homepage .bannerImg img {
		min-height: 250px;
		height: 100%;
		width: auto;
		transform: none;
		left: 0;
		top: 0;
	}
	.helpPanel{padding:30px 0 0 0;}
	.helpLinks{height:auto;margin-bottom:1rem;}
	.adaniLogoFooter{margin:1rem 0;display:inline-block;opacity:1.0;}
	
	.communityTile{background-blend-mode:overlay;}
	.communityTile .tileCnt{width:50%;}
	.listIcon{padding-right:0;}
	.listIcon img{max-width:50px;}
	.serviceTile{padding:1rem;}
	.serviceTile .serviceIcon{height:50px;}
	.serviceTile .serviceIcon img{width:auto;max-height:50px;}
	.serviceTile .serviceIcon, .serviceTile .serviceDetails{display:block;}
	.serviceTile .serviceDetails{padding-left:0;padding-top:0.5rem;}
	.myAccountBanner .bannerCnt{padding:1rem 0;background:rgba(255,255,255,0.85);}
	.accSerTile{padding:0.75rem 0;}
	.adaniLogoFooter{margin:0.5rem 0;}
	.tile{height:auto;margin:0.5rem 0;}
	.appLink{margin:0.5rem 0;}
	.payBillBox{width:100%;}
	.nav-tabs .nav-item{margin:0;padding:3px 3px 0 0;}
	.nav-tabs .nav-link{font-size:0.8rem;}


    #sideNav{
		width: 250px;
		position: fixed;
		top:0;
		left: 0;
		height: 100vh;
		overflow-y:auto;
		z-index: 999;
		color: #fff;
		transition: all 0.3s;
        margin-left: -250px;
		background:#f36f31;
    }
    #sideNav.active{
        margin-left: 0;
    }
    #mainContent {
        width: 100%;
    }
    #mainContent.active {
       /* width: calc(100% - 250px);*/
    }
   .contactPanel{height:220px;}

	
	
}
@media (max-width: 576px){
	#other-ventures .owl-nav{top: 25%;}
	.navbar-light .navbar-brand{padding-top: 10px;padding-bottom: 10px;}
	main{padding-top: 90px;}
	.panelBox{height: auto;}
.enquiryBtn{display:none;}
	.homepage .mainBanner {height: 200px;}
	.navbar-brand img{max-width:80px;padding: 10px 0px;}
	.navbar-brand{float:left;}
	.row.navTilesWrapper{display:block;}
	.col.navTile{width:100%;border-bottom:1px solid rgba(226,226,226,0.2)}
	.navTile a:hover{background:rgba(0,0,0,0.2);}
	.customerCare .phoneIcon{display:none;}
.navPanel>.container{padding:0;}
.sticky-header .navbar-light .navbar-brand img{max-width: 100px;transition: ease all 0.3s;}
.navbar-light .navbar-brand{padding-left:15px;}
.navbar-light .navbar-toggler{margin-right:15px;}


	
	
}
@media (max-width: 480px){
	.business-box .business-content{width: 100px;}
	.download-links{margin-left:0;}
	.download-links img {max-height: 15px;}
	.download-links li a{padding-left:2px;}
	.social-links{margin-right:3px;}
	.social-links li a{}
	.quick-links li a{padding:0 3px;}
	.communityTile .tileCnt{width:100%;}
	.serviceTile .serviceIcon{display:table-cell;vertical-align:top;height:75px;overflow:hidden;}
	.serviceTile .serviceDetails{display:table-cell;vertical-align:middle;padding-left:1rem;padding-top:0;}
	.owl-carousel .owl-nav button.owl-prev{margin-left:0px;}
	.owl-carousel .owl-nav button.owl-next{margin-right:0px;}
	.nav-tabs .nav-item{width:100%;}

}
@media (max-width: 340px){
	.quick-links{margin-right:2px;}
}