@using Sitecore.Mvc.Configuration
@{
    // var id = Sitecore.Context.Database.GetItem("about-us").Url();
    //  var id = "about-us";
    //  string RedirectUrl = Request.Url.Scheme + "://" + Request.Url.Host;
    //  var pagename = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
    var msgTpye = Sitecore.Context.Database.GetItem("{A5DE1AF3-2CB8-4D96-B7AC-557C04004CCB}");
    var errormesaages = ViewBag.Message;



}
@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "contact_forms", name = "contact_form", @class = "px-4 py-4", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="cFormTypes" value="Career-Form" name="FormType">
    <input type="hidden" id="PageInfos" value="/careers" name="PageInfo">
    <input type="hidden" id="utm_source" value="">
    <input type="hidden" id="gresponse" name="reResponse" value="abc">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="text" class="form-control" id="cnames" placeholder="Name" name="Name">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="email" class="form-control" id="cmailids" placeholder="Email" name="Email">
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-group">
                <select class="form-control" id="cmessageTypes">
                    <option value="">Subject of Message</option>
                    @foreach (var itemMessage in msgTpye.Children.ToArray())
                    {
                        var getMessage = Html.Sitecore().Field("SubjectName", itemMessage);
                        <option value="@getMessage">@getMessage</option>

                    }
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="number" class="form-control" id="ccontactnos" placeholder="Contact Number" name="Mobile">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label class="">Upload your Resume</label>
                <input name="FileAttachment" id="file" type="file" class="form-control" placeholder=" Upload your Resume" data-error-msg="Upload Your File">

            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <textarea class="form-control" rows="3" id="cmessages" placeholder="Message" name="Message"></textarea>
            </div>
        </div>
        <div class="col-md-4 mb-3">

            <div id="recaptcha1"></div>

        </div>
        <div class="col-md-12 mb-3 text-right">
            <p><button type="submit" id="btnContactUsSubmits" onclick()="uploadfile()" class="btn btn-primary">Submit</button></p>
        </div>
    </div>

}
@if (ViewBag.Message != null)
    {
<script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
</script>
    }