<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor patch:before=" processor[@type='Sitecore.Pipelines.HttpRequest.FileResolver, Sitecore.Kernel']"
						   type="Sitecore.Feature.GrantAccess.Pipelines.AccessGrantor, Sitecore.Feature.GrantAccess">
					<AllowedIPs hint="list:AddAllowedIP">
						<IP>127.0.0.2</IP>
					</AllowedIPs>
					<ipranges hint="raw:AddIpRanges">
						<range from="163.116.195.0" to="163.116.195.255"/>
						<range from="163.116.199.0" to="163.116.199.255"/>
						<range from="163.116.205.0" to="163.116.205.255"/>
					</ipranges>
					<AddAllowedHOSTNAMEs hint="list:AddAllowedHOSTNAME">
						<HOSTNAME>sc902.dev.local</HOSTNAME>
					</AddAllowedHOSTNAMEs>
				</processor>
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>