@using Sitecore.Foundation.Dictionary.Extensions
<div class="col l8 s12">
    <div class="dashboard-card dashboard-card-height">
        <header>
            <h2>@Html.Sitecore().Dictionary("/UserDashboard/UDConsumptionTrends/Consumption Trend", "Consumption Trend")</h2>
            <aside>
                <div class="download-list-small dropdown-trigger" data-target="consumptionTrends">
                    <div id="consumptionTrends" class="dropdown-content dropdown-download">
                        <ul id="downloadMonthsUl">
                        </ul>
                    </div>
                    <span>@Html.Sitecore().Dictionary("/UserDashboard/UDConsumptionTrends/Download Bill", "Download Bill")</span> <i class="i-arrow-d right"></i>
                </div>
            </aside>

        </header>

        <div class="card section-loader-wrapper" id="consumptionTrendLoaderDiv">
            <div class="discover" id="consumptionTrendsYears">

            </div>
        </div>
    </div>
</div>