@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
	var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}
<h2 class="section-title">
        @Html.Sitecore().Field("Title", model)
      </h2>
	  <ul class="service-wrapper">
	  @foreach (var child in model.Children.ToList())
	  {
		Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)child.Fields["Image"]);
        string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
        <li class="service-title">
          <figure><img src="@imgurl" alt="Benefits of using DigiYatra"></figure>
          <p> @Html.Sitecore().Field("Title", child)</p>
        </li>
	  }
	</ul>