@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
	var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}
<div class="text-container">
        @* <div class="text-wrapper">
          <p> *@
            @Html.Sitecore().Field("Body", model)
          @* </p>

        </div>
        <div class="black_link sectionReadMore" onclick="sectionReadMoreToggle(this)">@Html.Sitecore().Field("Title", model)</div> *@
</div>
<script src="/scripts/MangaloreAirport/DigiYatra.js"></script>