@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var homeItem = Sitecore.Context.Site;
    var current = Sitecore.Context.Item;
    List<Sitecore.Data.Items.Item> breadcrumbs1 = new List<Sitecore.Data.Items.Item>();

    while (current != null)
    {
        breadcrumbs1.Add(current);

        if (current.Fields["Title"].Value == "Mangalore Airport")
        {
            break;
        }

        current = current.Parent;
    }

    breadcrumbs1.Reverse();
    var i = 0;
}


<div class="breadcrumb-sl-inner bg-white">
    <div class="container-fluid">
        <ul>
            <li><a href="/mangaluru-airport">Mangaluru Airport</a></li>
            @for (i = 1; i < breadcrumbs1.Count(); i++)
            {
                <li><a href="@breadcrumbs1[i].Url()">@breadcrumbs1[i].Fields["Title"].Value</a></li>
            }
        </ul>
    </div>
</div>