@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields

@model RenderingModel
@{

   var brochure = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["brochure"];
   }



<section class="pb-5 bg-gray">
<div class="container-fluid">
<div class="row bg-white p-3 border-bottom mb-2">
<div class="col-md-9 text-md-left text-center txt-md pt-1"><a>Procurement Policies</a></div>
<div class="col-md-3 text-md-right text-center"><a rel="noopener noreferrer" href="@brochure" target="_blank" class="btn btn-gradient">View</a></div>
</div>
</div>
</section>
