<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurator type="Adani.SuperApp.Airport.Feature.OfferSearch.Platform.ServicesConfigurator, Adani.SuperApp.Airport.Feature.OfferSearch.Platform" />
		</services>
		<settings>
			<setting name="LowestFairSeviceAPI" value="https://flightbooking-dev.adanione.cloud/api/Flights/InternalfareCalendar" />
			<!--<setting name="LowestFairSeviceAPI" value="https://www.uat.adanione.com/api/flightbookingv2/api/Flights/InternalfareCalendar" />-->
			<!--<setting name="LowestFairSeviceAPI" value="https://aksdev.adanione.cloud/api/flightbookingv2/api/Flights/fareCalendar" />-->
			<!--<setting name="LowestFairSeviceAPI" value="https://www.adanione.com/api/flightbookingv2/api/Flights/InternalfareCalendar" />-->
			<setting name="TraceID" value="YiXj9w6bvi3b1CwWp0vBdqFfje6AQOG5"/>
			<setting name="ChannelID" value="web"/>
			<setting name="AgentID" value="288806d9-463d-4e24-943e-8db35ed128f7"/>
			<setting name="CouponCode" value="DOMSAVER"/>
		</settings>
		
	</sitecore>
</configuration>