
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Project.DutyFree" description="Project DutyFree" dependencies="Adani.SuperApp.Airport.Foundation.Serialization">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\Airport\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>
						<include name="Datasource.Carousel" database="master" path="/sitecore/content/AirportHome/Datasource/Adani/Dutyfree/Carousels" />
					</predicate>
					
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
