@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (Request.Browser.IsMobileDevice)
{    
        <div class="form-bidget mobile">
            <div class="full" id="domFlightAndFids"></div>
        </div>
   
}
else
{
    <div class="container">
        <div class="form-bidget desktop">
            <div class="full" id="domFlightDesk"></div>
        </div>
    </div>
}
