@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
}
@if (contextItem != null)
{
<div class="bookingWrapper">
    <div class="section-wrap mb-0">
        <h5 class="section-heading ps-2 mb-2">@contextItem["BookingFormTitle"]</h5>
    </div>
    <div id="searchFlightCityToCity">
    </div>
</div>
}