$icon-sizes:(10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40); 

$icon-list : 
('facebook', "E800"),
('instagram', 'E801'),
('linkdin', 'E802'),
('twitter', 'E803'),
('youtube', 'E804'),
('businesses', 'E806'),
('arrow-l', 'E843'),
('arrow-r', 'E844'),
('globe', 'E808'),
('play', 'E808'),
('grid', 'E833'),
('user', 'E82F'),
('plus', 'E829'),
('minus', 'E82C'),
('cross', 'E848'),
('cross-c', 'E820'),
('capital', 'E821'),
('airport', 'E80B'),
('electricity', 'E80C'),
('gas', 'E822'),
('wilmar', 'E80D'),
('housing', 'E80E'),
('realty', 'E80F'),
('education', 'E81B'),
('arrow-d', 'E842'),
('tick', "E873"),
('arrow-u', 'E845'),
('home', "E854"),
('home-filled', "E853"),
('download', "E81E"),
('call', "E828"),
('customer-care', "E814"),
('settings', "E815"),
('careers', "E816"),
('download-app', "E817"),
('search', "E833"),
('cart', "E852"),
('cart-filled', "E851"),
('attachment', "E81D"),
('quote', "E81F"),
('hamburger', 'E849'),
('help', 'E846'),
('bell', 'E831'),
('navigation', 'E832'),
('app', 'E847'),
('arial-distance', 'E824'),
('duration', 'E827'),
('airport-code', 'E805'),
('copy', 'E825'),
('first-flight', 'E826'),
('last-flight', 'E834'),
('luggage', 'E835'),
('popular-airlines', 'E836'),
('short-time-flights', 'E837'),
('weekly-flights', 'E838'),
('mumbai-airport', 'E80A'),
('ahmedabad-airport', 'E83F'),
('guwahati-airport', 'E83D'),
('jaipur-airport', 'E83C'),
('lucknow-airport', 'E807'),
('thiruvananthpuram-airport', 'E85A'),
('mangaluru-airport', 'E83E'),
('weather-status', 'E839'),
('order', 'E857'),
('order-filled', 'E856'),
('profile', 'E82F'),
('services', 'E859'),
('services-filledf', 'E858'),
('about-us', 'E810'),
('airport-guide', 'E811'),
('baggage-delivery', 'E812'),
('cab', 'E81A'),
('cashback', 'E823'),
('faqs', 'E82A'),
('feedback', 'E82B'),
('flights', 'E82D'),
('hotel', 'E84E'),
('map', 'E84F'),
('rewards', 'E830'),
('shop-dine', 'E83A'),
('terms-conditions', 'E83B'),
('blog', 'E840'),
('gallery', 'E841'),
('mail', 'E84A'),
('press-notes', 'E84B'),
('press-release', 'E84C'),
('call-light', 'E84D'),
('navigation-light', 'E850'),
('alert', 'E85B'),
('airport-area', 'E85C'),
('wifi', 'E85D'),
('hourly-rates', 'E864'),
('clock', 'E85F'),
('luggage-light', 'E860'),
('headphone', 'E861'),
('hourly', 'E863'),
('pricing', 'E865'),
('light-mail', 'E8D7'),
('more', 'E855'),
('alarm-clock', 'E866'),
('wifi-light', 'E872'),
('flight-info', 'E868'),
('print-scan', 'E86D'),
('smart-tv', 'E870'),
('separate-work-areas', 'E86F'),
('wakeup-services', 'E871'),
('furnished-rooms', 'E869'),
('nestled-terminal', 'E86C'),
('popularity', 'E82E'),
('headphone-light', 'E86B'),
('adani-rewards', 'E874');
// ('help', 'E846')
// ('app', 'E847'),
// ('faqs', 'E82A'),
// ('feedback', 'E82B');

$layer-sizes:(28);