@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-ExtraLight.woff') format('woff'), url('../webfonts/Adani-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Medium.woff') format('woff'), url('../webfonts/Adani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular.woff') format('woff'), url('../webfonts/Adani-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Regular_1.woff') format('woff'), url('../webfonts/Adani-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Light.woff') format('woff'), url('../webfonts/Adani-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-Bold.woff') format('woff'), url('../webfonts/Adani-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../webfonts/Adani-SemiBold.woff') format('woff'), url('../webfonts/Adani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    position: relative;
    font-family: 'Adani-Regular';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background-color: #f4efec;
}

body {
    transition: ease margin-top 0.3s;
}

main {
    overflow: hidden;
    background: #f6f6f3;
}

h1, h2, h3, h4, h5, h6, ul, li, p, header, aside, footer, section, article, nav, field, label, figcaption, figure, hgroup, input, textarea {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}

p {
    font-size: 14px;
    font-weight: 500;
}

a {
    color: #179E96;
}

    a:link, a:visited {
        text-decoration: none;
    }

header {
    padding: 0rem 0rem;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 9;
}

    header .btn {
        text-align: left;
    }

        header .btn:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);
        }

    header .tollfree span, header .email_connect span {
        color: #137ab6;
        font-size: 0.8rem;
        font-weight: 600;
    }

    header .points-tooltip span {
        color: #f3a100;
        font-size: 0.8rem;
        font-weight: 600;
    }

    header .points-tooltip .fa {
        margin-right: 0px;
    }

    header .tollfree span(color:#7f3a8d;)
    header .points-tooltip(color:#f3a100;)
    header .btn .fa-question-circle {
    }

    header .btn .fa-question-circle:before {
        font-size: 20px;
        position: relative;
        top: 3px;
    }

    header .btn .fa-phone {
        width: 22px;
        height: 22px;
        text-align: center;
        border: 2px solid #7f3a8d;
        border-radius: 100px;
        position: relative;
        top: 6px;
        margin-right: 10px;
    }

        header .btn .fa-phone:before {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-size: 10px;
            color: #7f3a8d;
        }

    header .btn .fa-envelope {
        width: 22px;
        height: 22px;
        text-align: center;
        position: relative;
        top: 0px;
        margin-right: 10px;
    }

        header .btn .fa-envelope:before {
        }

    header .btn span {
        display: inline-block;
    }

.bg-images {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

    .bg-images img {
        border-radius: 0;
        min-height: 100%;
        min-width: 100%;
        position: relative;
        height: 100%;
        object-fit: cover;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

.login_container {
    position: relative;
    padding: 3.5rem;
    min-height: 80vh;
}

    .login_container .bg-images {
        background: rgb(186,54,100);
        background: linear-gradient(243deg, rgba(186,54,100,1) 0%, rgba(131,58,148,1) 52%);
    }

        .login_container .bg-images img {
            opacity: 0.2;
        }

    .login_container h1 {
        color: #fff;
        position: relative;
        text-align: center;
        font-weight: 500;
        font-size: 2.5rem;
    }

    .login_container h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1.25rem;
        color: #ff6735;
        text-shadow: 0 0 #ff6735;
    }

        .login_container h2 img {
            width: 35px;
            margin-right: 10px;
        }

.login_container-inner {
}

    .login_container-inner > div {
        max-width: 450px;
        margin: 1.5rem auto;
        background: #fff;
        position: relative;
        padding: 1.5rem;
        box-shadow: 0px 0px 2px 0px #000;
    }

        .login_container-inner > div label {
            font-size: 13px;
            margin-bottom: 0.5rem;
            color: #545454;
        }

        .login_container-inner > div .form-control {
            border-radius: 0px;
        }

.header-logo {
    display: block;
}

    .header-logo img {
        max-width: 130px;
    }

.btn {
    border-radius: 5px;
    padding: .45rem 1.2rem;
    font-size: 18px;
    line-height: 1.31;
}

.btn-primary {
    font-weight: 500;
    color: #fff;
    background-color: #ff6735;
    border-color: #ff6735;
    min-width: 150px;
    border-radius: 0px;
}

    .btn-primary:hover, .btn-primary:active {
        background-color: #4a4a4a;
        border-color: #4a4a4a;
        box-shadow: 0 20px 38px rgba(0, 0, 0, 0.11) !important;
        top: -3px;
        color: #fff !important;
        transition: ease all 0.5s;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #4a4a4a;
        border-color: #4a4a4a;
    }

    .btn-primary.focus, .btn-primary:focus {
        box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
        background: #4a4a4a;
    }

    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
    }

.btn-secondary {
    font-size: 18px;
    line-height: 28px;
    color: #6b69b0 !important;
    background: #fff;
    border: 1px solid;
    padding: 0px;
    border-radius: 0px;
    padding: 0.6rem 1.25rem;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px #b9b9b9;
    transition: ease all 0.6s;
    font-weight: 500;
}

    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
        background: #4c4b6e !important;
        transition: ease all 0.6s;
        color: #fff !important;
    }

    .btn-secondary span {
        font-size: 12px;
        position: relative;
        top: -2px;
        transition: ease all 0.4s;
        left: 0px;
    }

    .btn-secondary:hover span {
        transition: ease all 0.4s;
        left: 10px;
    }

    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:focus {
        background: #fff;
        outline: 0;
        border: 1px solid;
        box-shadow: 0 0 0 0.2rem rgba(130,138,145,0) !important;
        color: #6b69b0 !important;
        box-shadow: 0px 3px 9px 3px #b9b9b9;
        transition: ease all 0.6s;
    }

    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
        color: #6b69b0;
        background-color: #fff;
        border-color: #fff;
    }

.btn-gradient {
    background: rgb(51,112,179);
    background: linear-gradient(41deg, rgba(51,112,179,1) 0%, rgba(29,159,149,1) 100%);
    transition: ease all 0.6s;
    color: #fff;
    border-radius: 0px;
    transform: translateY(0px);
    box-shadow: 0px 1px 5px -1px #b9b9b9;
    padding: 0.6rem 0.7rem 0.45rem 0.7rem;
    font-size: 20px;
}

    .btn-gradient:hover {
        background: rgb(51,112,179);
        background: linear-gradient(241deg, rgba(51,112,179,1) 0%, rgba(29,159,149,1) 100%);
        transition: ease all 0.6s;
        color: #fff;
        transform: translateY(-5px);
        box-shadow: 0px 3px 9px 3px #b9b9b9;
    }

    .btn-gradient span {
        position: relative;
        top: 1px;
    }

.ft-logo {
    max-width: 130px;
}

.ft_social {
}

    .ft_social li {
        display: inline-block;
        width: 30px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #6f6f6f;
    }

        .ft_social li a {
            color: #6f6f6f;
            font-size: 16px;
            transition: ease all 0.6s;
        }

            .ft_social li a:hover {
                color: #ff6735;
                transition: ease all 0.6s;
            }

header {
}

    header .navbar-brand {
        margin-right: 0px;
        padding: 0rem 0;
        display: block;
        transition: ease all 0.6s;
    }

    header.headerSec .navbar-brand img {
        filter: brightness(500) contrast(1.5) grayscale(1);
    }

.topMenu {
}

    .topMenu li {
        padding: 0rem 0rem;
    }

        .topMenu li a {
            color: #852b8d;
            padding: 0.8rem 1rem;
            font-weight: 500;
            text-shadow: 0 0 black;
            display: block;
            font-size: 13px;
        }

.btn-login {
    background: rgb(58,120,181);
    background: linear-gradient(90deg, rgba(58,120,181,1) 0%, rgba(40,164,154,1) 52%);
    color: #fff;
    border-radius: 0px;
    padding: .45rem 1.5rem;
}

.header-section {
    padding: 0px 0px;
    box-shadow: 0px 0px 6px 0px #9c9c9c;
    z-index: 9;
    position: relative;
}

.top-submenu {
    border-bottom: 0px solid #ccc;
}

.banner-content {
    text-align: left;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
}

    .banner-content h1 {
        font-weight: 500;
        color: #fff;
        font-size: 40px;
        line-height: 48px;
    }

    .banner-content h2 {
        font-weight: 500;
        color: #fff;
        margin-bottom: 2.5rem;
        font-size: 3rem;
    }

    .banner-content p {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-shadow: 1px 1px 3px #000;
        line-height: 30px;
    }

    .banner-content > div {
    }

        .banner-content > div a {
            color: #fff;
            border: 1px solid #fff;
            padding: 0.6rem 1.25rem;
            font-size: 18px;
            background: rgb(1 30 62 / 0%);
            transition: ease all 0.6s;
            position: relative;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }

            .banner-content > div a:hover {
                background: rgb(255 255 255 / 100%);
                transition: ease all 0.6s;
                color: #000;
                transform: translateY(-5px);
                box-shadow: 0px 3px 9px 3px #000;
            }

            .banner-content > div a span {
                margin-left: 0.5rem;
            }

.hero-banner .item {
    position: relative;
}

.hero-banner .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

    .hero-banner .owl-dots button {
        outline: 0;
    }

        .hero-banner .owl-dots button.active {
        }

            .hero-banner .owl-dots button.active span {
                background: #4c4b6e;
                position: relative;
                top: -5px;
                transition: ease all 0.5s;
            }

        .hero-banner .owl-dots button span {
            width: 30px;
            height: 5px;
            background: #fff;
            display: block;
            margin-right: 10px;
            position: relative;
            top: 0px;
            transition: ease all 0.5s;
        }

.hero-banner .owl-dots {
}

.offers_tab {
}

    .offers_tab .nav {
        border: 1px solid #e8e8e8 !important;
    }

        .offers_tab .nav .nav-item {
            width: 25%;
            border-right: 2px solid #e8e8e8;
        }

            .offers_tab .nav .nav-item:last-child {
                border-right: 0px solid #e8e8e8;
            }

            .offers_tab .nav .nav-item .nav-link {
                border: 0px;
                background: rgb(241,241,241);
                background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(248,248,246,1) 51%, rgba(241,241,241,1) 100%);
                padding: 1.5rem 1.5rem 1.5rem 5rem;
                color: #000;
                font-size: 1.25rem;
                font-weight: 500;
                position: relative;
                border-radius: 0px;
                transition: ease all 0.6s;
            }

                .offers_tab .nav .nav-item .nav-link.active, .offers_tab .nav .nav-item .nav-link:hover {
                    background: rgb(51,112,179);
                    background: linear-gradient(241deg, rgba(51,112,179,1) 0%, rgba(29,159,149,1) 100%);
                    color: #fff;
                    transition: ease all 0.6s;
                }

                .offers_tab .nav .nav-item .nav-link img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    position: absolute;
                    left: 25px;
                    top: 38px;
                }

.offer_main {
    transition: ease all 0.6s;
    transform: translateY(0px);
    box-shadow: 0px 0px 6px -3px transparent;
    margin-bottom: 5px;
}

    .offer_main:hover {
        transition: ease all 0.6s;
        transform: translateY(-5px);
        box-shadow: 0px 0px 6px -3px #000;
    }

.offer_main-thumb {
    position: relative;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

    .offer_main-thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.offer_main-views {
    position: absolute;
    top: 5px;
    right: 0px;
    padding: 0px 10px;
    color: #656565;
}

.offer_main-description {
    background: #f4f4f4;
    padding: 1.5rem;
}

    .offer_main-description h3 {
        line-height: 25px;
        margin-bottom: 0.8rem;
        height: 56px;
        overflow: hidden;
        position: relative;
    }

        .offer_main-description h3 a {
            color: #0b4677;
            font-weight: 600;
            font-size: 1.35rem;
            transition: ease all 0.6s;
        }

            .offer_main-description h3 a:hover {
                color: #f08923;
                font-weight: 600;
                font-size: 1.35rem;
                transition: ease all 0.6s;
            }

    .offer_main-description > p {
        color: #000;
        margin-bottom: 1rem;
        height: 84px;
        overflow: hidden;
        position: relative;
    }

    .offer_main-description > div a {
        color: #f08923;
        font-size: 1rem;
        font-weight: 600;
        transition: ease all 0.6s;
    }

        .offer_main-description > div a:hover {
            color: #0b4677;
            text-decoration: none;
            transition: ease all 0.6s;
        }

.section-heading {
    font-weight: 600;
    font-size: 2.5rem;
}

.text-blue {
    color: #0a86d2;
}

.loadmore_content {
    text-align: center;
}

    .loadmore_content p {
        color: #0b4677;
        font-weight: 600;
        font-size: 1.15rem;
        cursor: pointer;
        transition: ease all 0.6s;
    }

        .loadmore_content p:hover {
            color: #f08923;
            transition: ease all 0.6s;
        }

.bg-gradient {
    background: rgb(186,54,100);
    background: linear-gradient(243deg, rgba(186,54,100,1) 0%, rgba(131,58,148,1) 52%);
}

.bg-images.bg-gradient img {
    opacity: 0.2;
}

.cares-community {
}

    .cares-community .offer_main {
    }

        .cares-community .offer_main .offer_main-thumb {
            height: 250px;
            border-bottom: 3px solid #f08923;
        }

    .cares-community .offer_main-description h4 {
        height: 84px;
        overflow: hidden;
        position: relative;
    }

        .cares-community .offer_main-description h4 a {
            color: #808080;
            font-size: 1.25rem;
            font-weight: 400;
            transition: ease all 0.6s;
        }

            .cares-community .offer_main-description h4 a:hover {
                color: #000;
                transition: ease all 0.6s;
            }

    .cares-community .offer_main:hover h4 a {
        color: #000;
        transition: ease all 0.6s;
    }

.text-gray {
    color: #676767;
}

.help_main {
}

.help_main-icon {
    margin-bottom: 1.5rem;
}

.help_main-description {
}

    .help_main-description h4 {
        margin-bottom: 2rem;
    }

        .help_main-description h4 a {
            font-size: 1.25rem;
            font-weight: 500;
            color: #4a4a4a;
        }

            .help_main-description h4 a:hover {
                color: #000;
            }

            .help_main-description h4 a span {
                margin-left: 1rem;
                position: relative;
                top: 1px;
                color: #ffa032;
            }

    .help_main-description p {
        color: #909090;
    }

.section-help {
    border-bottom: 4px solid #ccc;
}

/*Inner breadcrumb*/
.breadcrumb {
    width: 100%;
    padding: 20px 0px 10px 0px;
    background: #fff;
}

    .breadcrumb ul li {
        color: #000;
        display: inline-block;
    }

        .breadcrumb ul li:nth-last-child(1):after {
            content: " "
        }

        .breadcrumb ul li:after {
            content: "\f105";
            padding: 0px 10px;
            display: inline-block;
            position: relative;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: #000;
        }

        .breadcrumb ul li a:hover {
            color: #4e4e4e;
            text-decoration: none;
        }

        .breadcrumb ul li a {
            color: #0b4677;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 22px;
            text-shadow: 0 0 black;
            font-weight: 600;
        }

.main-section {
    background: #fff;
    padding: 1.5rem 0;
}

.section-content {
    padding: 2.5rem 0;
}

    .section-content h2 {
        color: #0b4677;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .section-content p {
        font-size: 1.25rem;
        color: #656565;
        font-weight: 400;
        text-shadow: 0 0 black;
        margin-bottom: 20px;
    }

        .section-content p b {
            font-weight: 600;
        }

.search_tab {
    position: relative;
}

    .search_tab button {
        outline: 0;
        border: 0px;
        background: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

        .search_tab button span {
            color: #a2a2a2;
        }

    .search_tab input {
        border: 0px;
        font-size: 12px;
        padding: 1.5rem 2rem;
        outline: 0;
        box-shadow: 0px 0px 0px transparent !important;
        border-color: transparent !important;
        font-weight: 500;
    }

.topMenu-menu {
    text-align: right;
}

    .topMenu-menu li {
        display: inline-block;
    }

.topMenu li a.tollfree {
    padding: 0.4rem 1rem;
}

.highlight-tiles {
}

    .highlight-tiles .bg-images {
    }

        .highlight-tiles .bg-images img {
            opacity: 0.1;
        }

.highlight-tiles_main {
    position: relative;
    padding: 2.5rem;
    display: flex;
}

.highlight-tiles_main--icon {
    display: inline-block;
    width: 20%;
}

    .highlight-tiles_main--icon img {
        width: 50px;
    }

.highlight-tiles_main--description {
    color: #fff;
    display: inline-block;
    width: 65%;
}

    .highlight-tiles_main--description h3 {
        font-weight: 500;
    }

        .highlight-tiles_main--description h3 span {
            font-weight: 300;
        }

    .highlight-tiles_main--description p {
    }

.highlight-tiles--yellow {
    background: #ffc50c;
}

.highlight-tiles--red {
    background: #e5492a;
}

.highlight-tiles--blue {
    background: #2d5b96;
}

.heading {
    font-weight: 500;
    color: #494949;
    margin-bottom: 0.5rem;
}

    .heading span {
        font-weight: 300;
    }

.sub-heading {
    color: #494949;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 0 black
}

.toggle_search {
}

    .toggle_search a {
        color: #fff;
        transition: ease all 0.6s;
        display: block;
        cursor: pointer;
        position: relative;
        top: 6px;
    }

        .toggle_search a:hover {
            color: #fff;
            transition: ease all 0.6s;
            opacity: 0.8;
        }

.top_bar {
    background: #5b58a7;
}

    .top_bar p a {
        padding-left: 0px !important;
    }

        .top_bar p a:hover {
            opacity: 0.7;
        }

    .top_bar a {
        padding: 18px 15px;
        display: inline-block;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
    }

    .top_bar ul {
        text-align: right;
    }

        .top_bar ul li {
            display: inline-block;
        }

            .top_bar ul li button {
                font-size: 14px;
            }

            .top_bar ul li a {
                font-size: 14px;
            }

                .top_bar ul li a:hover {
                    color: #fff;
                    opacity: 0.8;
                    transition: ease all 0.6s;
                }

.hero_banner_container {
    position: relative;
}

.scroll_down {
    position: absolute;
    bottom: 7%;
    width: 100%;
    z-index: 2;
}

    .scroll_down p {
        text-align: center;
    }

    .scroll_down span {
        border: 2px solid #fff;
        border-radius: 100px;
        width: 41px;
        height: 41px;
        color: #fff;
        position: relative;
        transition: ease all 0.6s;
        top: 0px;
    }

        .scroll_down span:before {
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 1.2rem;
        }

        .scroll_down span:hover {
            background: #5b58a7;
            border: 2px solid #5b58a7;
            transition: ease all 0.6s;
            cursor: pointer;
            top: -5px;
        }

/*footer css*/
footer {
    background: #fff;
    padding: 10px 0px 0px 0px;
}

    footer p {
        font-size: 20px;
        font-weight: 400;
        text-shadow: 0 0 black;
    }

.ft-social {
    display: inline;
    position: relative;
    top: 10px;
}

.ft-social {
    display: inline;
    position: relative;
    top: 10px;
}

    .ft-social li {
        display: inline-block;
        text-align: left;
        min-width: 35px;
    }

        .ft-social li:hover a {
            color: #5b58a7;
            transition: ease all 0.3s;
        }

        .ft-social li a {
            color: #000;
            padding: 5px 5px;
            font-size: 20px;
            display: block;
            transition: ease all 0.6s;
        }

            .ft-social li a:hover {
                opacity: 0.4;
                transition: ease all 0.6s;
            }

.ft-submenu {
}

    .ft-submenu h5 a {
        margin-bottom: 10px !important;
    }

    .ft-submenu ul {
    }

        .ft-submenu ul li {
            margin-bottom: 10px;
        }

            .ft-submenu ul li a {
                color: #000;
                display: inline-block;
                transition: ease all 0.6s;
                font-size: 16px;
                line-height: 19px;
                font-weight: 400;
            }

                .ft-submenu ul li a:hover {
                    color: #5b58a7;
                    transition: ease all 0.6s;
                }

footer h5 {
    font-size: 22px;
    line-height: 26px;
}

    footer h5 a {
        color: #000;
        margin-bottom: 20px;
        display: inline-block;
        transition: ease all 0.6s;
        font-weight: 500;
    }

        footer h5 a:hover {
            color: #5b58a7;
            transition: ease all 0.6s
        }

footer .btn-secondary {
    background: #5b58a7;
    border-radius: 0px;
    color: #fff !important;
    padding: 0.5rem 2rem;
    font-size: 20px;
    display: inline-block;
    margin: 1rem 0rem;
    transition: ease all 0.6s;
}

    footer .btn-secondary:hover {
        background: #4c4b6e !important;
        transition: ease all 0.6s;
        color: #fff !important;
    }

footer .bottom_copyright {
    background: #4c4b6e;
    padding: 0.8rem;
    color: #fff;
    margin-top: 40px;
}

    footer .bottom_copyright p {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

.section_quotes {
    background: #fff;
    position: relative;
    overflow: hidden;
}

    .section_quotes .container-fluid {
        position: relative;
    }

.quotes_container {
    max-width: 1050px;
    margin: auto;
    text-align: center;
    position: relative;
}

    .quotes_container h2 {
        font-size: 26px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 40px;
        position: relative;
    }

        .quotes_container h2 span:first-child {
            font-size: 1.5rem;
            top: -18px;
            position: relative;
        }

        .quotes_container h2 span:last-child {
            font-size: 1.5rem;
            bottom: -18px;
            position: relative;
        }

    .quotes_container p {
        font-size: 32px;
        font-weight: 500;
        position: relative;
        line-height: 38px;
    }

.section_padding {
    padding: 50px 0px;
}

.quotes_container:before {
    content: "";
    position: absolute;
    background: url(../images/quotes_element.png);
    width: 190px;
    display: block;
    height: 152px;
    background-repeat: no-repeat;
    top: 10%;
    transform: translate(-16%, -30%);
    left: -16%;
}

.section_overview {
    background: #4c4b6e;
}

    .section_overview h4 {
        font-size: 18px;
        line-height: 22px;
        color: #b3b3c2;
        margin-bottom: 20px;
    }

    .section_overview h2 {
        color: #fff;
        font-size: 26px;
        line-height: 31px;
    }

    .section_overview .border-left {
        border-left: 8px solid #fff !important;
        padding: 15px 0px;
        margin-bottom: 60px;
    }

.sub-heading {
    font-size: 34px;
    color: #4c4b6e;
    margin-bottom: 20px;
    line-height: 21px;
    font-weight: 500;
    text-shadow: 0 0 black;
}

.sub-heading-white {
    color: #b3b3c2;
}

.heading {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 40px;
    color: #000;
}

.heading-white {
    color: #fff !important;
}

.sub_text {
    font-size: 24px;
    font-weight: 400;
    text-shadow: 0 0 black;
    margin-bottom: 40px;
    line-height: 28px;
}

.programmes_main {
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
    transition: ease all 0.6s;
    transform: translateY(0px);
    height: 400px;
}

    .programmes_main:hover {
        transition: ease all 0.6s;
        transform: translateY(-5px);
    }

.programmes_main--thumb {
    position: relative;
    height: 100%;
    width: 100%;
    background: #000;
}

    .programmes_main--thumb img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        opacity: 0.4;
        transition: ease all 0.6s;
        transform: scale(1);
        min-height: 400px;
    }

.programmes_main--desc {
    padding: 2rem 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

    .programmes_main--desc h3 {
        color: #fff;
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 26px;
    }

    .programmes_main--desc p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 60px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        height: 115px;
        overflow: hidden;
    }

    .programmes_main--desc > div {
    }

        .programmes_main--desc > div a {
            font-size: 14px;
            padding: 0px;
            color: #fff;
            position: relative;
        }

            .programmes_main--desc > div a:hover {
                transition: ease all 0.6s;
            }

            .programmes_main--desc > div a:after {
                content: "";
                display: block;
                height: 1px;
                width: 0%;
                background: #fff;
                position: absolute;
                opacity: 1;
                transition: ease all 0.6s;
            }

    .programmes_main--desc:hover > div a:after {
        content: "";
        width: 100%;
        transition: ease all 0.6s;
    }

    .programmes_main--desc > div a span {
        font-size: 10px;
    }

.programmes_main:hover .programmes_main--thumb img {
    transition: ease all 0.6s;
    transform: scale(1.1);
    opacity: 0.4;
}

.btn-blue {
    background: #5b58a7 !important;
    color: #fff !important;
}

    .btn-blue:hover {
        background: #5b58a7 !important;
        color: #fff !important;
    }

.bg-blue {
    background: #4c4b6e;
}

.faculty_main {
}

.faculty_main--thumb {
    height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

    .faculty_main--thumb img {
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        object-fit: cover;
    }

.faculty_main--desc {
}

    .faculty_main--desc h3 {
        font-size: 26px;
        line-height: 28px;
        color: #fff;
        margin-bottom: 12px;
    }

    .faculty_main--desc p {
        color: #fff;
        margin-bottom: 30px;
        font-weight: normal;
        font-size: 18px;
        display: -webkit-box;
        max-width: 100%;
        line-height: 21px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .faculty_main--desc a {
        font-size: 18px;
        line-height: 28px;
        color: #fff !important;
        border: 0px;
        padding: 0px;
        border-radius: 0px;
        padding: 0.6rem 0rem;
        transform: translateY(0px);
        transition: ease all 0.6s;
        font-weight: 500;
    }

        .faculty_main--desc a span {
            font-size: 12px;
            position: relative;
            top: -2px;
            transition: ease all 0.4s;
            left: 0px;
        }

        .faculty_main--desc a:hover span {
            transition: ease all 0.4s;
            left: 10px;
        }

.campus-carousel {
}

    .campus-carousel .owl-nav {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

        .campus-carousel .owl-nav button {
            margin-left: 15px;
            outline: 0;
        }

            .campus-carousel .owl-nav button span {
                border: 2px solid #fff;
                border-radius: 100px;
                width: 30px;
                height: 30px;
                color: #fff;
                position: relative;
                transition: ease all 0.6s;
                top: 0px;
            }

                .campus-carousel .owl-nav button span:before {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: #fff;
                }

            .campus-carousel .owl-nav button.disabled {
                opacity: 0.8;
            }

            .campus-carousel .owl-nav button.owl-prev {
            }

            .campus-carousel .owl-nav button.owl-next {
                position: absolute;
                right: 15px;
            }

.campus-carousel-counter {
    margin-top: -2rem;
    width: 200px;
    display: block;
    font-size: 1.5rem;
    display: none;
}

.latest_news {
    position: relative;
    margin-bottom: 60px;
}

.latest_news--thumb {
    position: relative;
    overflow: hidden;
    background: #000;
}

    .latest_news--thumb:after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        height: 29px;
        box-shadow: 0px 0px 24px 0px #000, 0px 0px 80px 0px #000, 0px 0px 119px 0px #000, 0px 0px 119px 0px #000, 0px 0px 119px 0px #000, 0px 0px 119px 0px #000, 0px 0px 24px 0px #000, 0px 0px 80px 0px #000, 0px 0px 119px 0px #000, 0px 0px 119px 0px #000, 0px 0px 119px 0px #000, 0px 0px 119px 0px #000
    }

    .latest_news--thumb img {
        width: 100%;
        opacity: 0.8;
        max-height: 500px;
    }

.latest_news--desc {
    position: absolute;
    bottom: 0px;
    padding: 3.5rem;
    color: #fff;
}

    .latest_news--desc h3 {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 32px;
    }

    .latest_news--desc p {
        margin-bottom: 20px;
        opacity: 1;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }

.other_news {
    transition: ease all 0.6s;
    transform: translateY(0px);
}

    .other_news:hover {
        transition: ease all 0.6s;
        transform: translateY(-5px);
    }

.other_news--thumb {
    height: 240px;
    overflow: hidden;
    position: relative;
}

    .other_news--thumb img {
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        object-fit: cover;
    }

.other_news--desc {
    background: #fff;
    padding: 1.5rem;
}

    .other_news--desc h3 {
        font-size: 26px;
        line-height: 31px;
        text-shadow: 0 0 black;
        font-weight: 500;
        height: 70px;
        overflow: hidden;
        position: relative;
        margin-bottom: 1.5rem;
    }

    .other_news--desc p {
        font-size: 20px;
        margin-bottom: 1rem;
        text-shadow: 0 0 black;
        font-weight: 400;
        line-height: 24px;
    }

    .other_news--desc a {
        font-size: 16px;
        line-height: 28px;
        color: #6b68af !important;
        border: 0px;
        padding: 0px;
        border-radius: 0px;
        padding: 0.6rem 0rem;
        transform: translateY(0px);
        transition: ease all 0.6s;
        font-weight: 600;
    }

        .other_news--desc a span {
            font-size: 12px;
            position: relative;
            top: -2px;
            transition: ease all 0.4s;
            left: 0px;
        }

        .other_news--desc a:hover span {
            transition: ease all 0.4s;
            left: 10px;
        }

    .other_news--desc img {
        width: auto !important;
        display: inline-block !important;
    }

.sitemap-link {
    color: #fff !important;
    background: #5b58a7;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

    .sitemap-link a:hover {
        color: #fff;
    }

    .sitemap-link i, .sitemap-link em {
        float: right;
        position: relative;
        top: 3px;
        transform: rotate(-90deg);
        transition: ease all 0.3s;
    }

    .sitemap-link.sitemap-link-active i, .sitemap-link.sitemap-link-active em {
        transform: rotate(0deg);
        transition: ease all 0.3s;
    }

#back-to-top {
    transform: rotate(0deg);
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 9; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(91 88 167 / 90%); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 15px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: ease-in all 0.2s;
}

    #back-to-top:afte {
        content: "";
        height: 0px;
        position: absolute;
        bottom: -6px;
        left: -8px;
        width: 70%;
        transform: rotate(20deg);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.32);
    }

    #back-to-top:hover {
        transition: ease-in all 0.2s;
        background-color: #6b68af; /* Add a dark-grey background on hover */
        transform: rotate(0deg);
    }

        #back-to-top:hover:after {
            display: none;
        }

.fixed-header .navPanel {
    background: rgb(255 255 255 / 95%);
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    transition: ease all 0.6s;
}

.fixed-header.box-shadow .navPanel {
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    transition: ease all 0.6s;
}

.inner_header .navPanel {
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 0%);
    transition: ease all 0.6s;
}

.apply_cta {
    background: #5B58A7;
    text-align: center;
    padding: 13px 0px;
}

    .apply_cta ul {
    }

        .apply_cta ul li {
        }

            .apply_cta ul li a {
                color: #fff;
                line-height: 24px;
                font-size: 20px;
                font-weight: 300;
            }

.news_carousel {
    margin-bottom: 60px;
}

    .news_carousel .owl-nav {
        width: 100px;
        margin-left: auto;
        text-align: right;
        margin-top: 1.5rem;
    }

        .news_carousel .owl-nav button {
            margin-left: 15px;
            outline: 0;
        }

            .news_carousel .owl-nav button span {
                border: 2px solid #fff;
                border-radius: 100px;
                width: 30px;
                height: 30px;
                color: #fff;
                position: relative;
                transition: ease all 0.6s;
                top: 0px;
            }

                .news_carousel .owl-nav button span:before {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: #fff;
                }

            .news_carousel .owl-nav button.disabled {
                opacity: 0.5;
            }

            .news_carousel .owl-nav button.owl-prev {
            }

            .news_carousel .owl-nav button.owl-next {
            }


/*Inner breadcrumb*/
.breadcrumb_section {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 60px 0px 20px 0px;
}

    .breadcrumb_section ul {
    }

        .breadcrumb_section ul li {
            color: #000;
            display: inline-block;
        }

            .breadcrumb_section ul li:nth-last-child(1):after {
                content: " "
            }

            .breadcrumb_section ul li:after {
                content: "\f101";
                padding: 0px 10px;
                display: inline-block;
                position: relative;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                color: #000;
            }

            .breadcrumb_section ul li a:hover {
                color: #4e4e4e;
                text-decoration: underline;
            }

            .breadcrumb_section ul li a {
                color: #000;
                text-transform: capitalize;
                font-size: 16px;
                line-height: 19px;
                text-shadow: 0 0 black;
            }

.section_heading {
    background: #fff;
}

    .section_heading .container-fluid p {
        border-bottom: 1px solid rgb(0 0 0 / 0.50);
    }

    .section_heading h1 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .section_heading p {
        padding-bottom: 30px;
    }

        .section_heading p span {
            font-size: 18px;
            line-height: 21px;
            font-weight: 400;
        }

            .section_heading p span:last-child:before {
                content: "||";
                margin: 0px 10px;
            }

            .section_heading p span:last-child {
            }

.content-section {
}

    .content-section h2 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .content-section h3 {
        font-size: 30px;
        line-height: 36px;
        font-weight: bold;
        margin-bottom: 40px;
        color: #4aa9e1;
    }

    .content-section p {
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: justify;
    }

    .content-section > p:last-child {
        margin-bottom: 0px;
    }

    .content-section img {
        margin-bottom: 40px;
        object-fit: cover;
    }

.faculty_profile {
}

    .faculty_profile .faculty_main--desc {
        color: #000;
    }

        .faculty_profile .faculty_main--desc h3 {
            color: #000;
        }

        .faculty_profile .faculty_main--desc p {
            color: #000;
        }

        .faculty_profile .faculty_main--desc a {
            color: #5B58A7 !important;
        }

.inner-banner {
    background: #000;
}

    .inner-banner .item img {
        opacity: 0.6;
    }

.txt-md {
    font-size: 24px !important;
    line-height: 29px !important;
}

.banner-content > div .clearfix-block {
    height: 0px;
}

.contact-main {
    background: #fff;
}

    .contact-main .contact-section {
        background: #f3f3f3;
        padding: 60px;
    }

        .contact-main .contact-section .heading {
            margin-bottom: 20px;
        }

        .contact-main .contact-section .border-left {
            border-left: 8px solid #5B58A7 !important;
            font-size: 28px;
            font-weight: 500;
            padding-left: 21px;
            line-height: 60px;
            margin-bottom: 30px;
        }

        .contact-main .contact-section h4 {
            font-size: 28px;
            line-height: 33px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .contact-main .contact-section p {
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
            margin-bottom: 20px;
        }

            .contact-main .contact-section p:last-child {
                margin-bottom: 0px;
            }

        .contact-main .contact-section input, .contact-main .contact-section select, .contact-main .contact-section textarea {
            border: 0px;
            border-radius: 0px;
        }

.news-filter {
    text-align: right;
    display: none;
}

    .news-filter li {
        display: inline-block;
        padding-left: 10px;
        margin-bottom: 10px;
    }

        .news-filter li input, .news-filter li select {
            min-width: 200px;
            border: 0px;
            background: #F3F3F3;
            border-radius: 0px;
        }

    .news-filter .form-group {
        margin-bottom: 0px;
        padding-left: 10px;
    }

    .news-filter .btn {
        line-height: 19px;
        position: relative;
        top: -1px;
    }

    .news-filter .search-input {
        position: relative;
    }

        .news-filter .search-input:after {
            content: "";
            background: url(../images/search.png);
            width: 20px;
            height: 20px;
            display: inline-block;
            position: absolute;
            left: 15px;
            top: 9px;
            opacity: 0.5;
        }

        .news-filter .search-input input {
            padding-left: 40px;
        }

.other-news_parent {
}

    .other-news_parent .other_news--desc h3 {
        height: auto;
        margin-bottom: 8px;
    }

    .other-news_parent .other_news--desc p:first-child {
        font-size: 20px;
        margin-bottom: 1rem;
        text-shadow: 0 0 black;
        font-weight: 400;
        line-height: 24px;
    }

    .other-news_parent .other_news--desc p {
        font-size: 18px;
        line-height: 21px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 30px;
    }

.openings_description {
}

    .openings_description h3 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
        line-height: 35px;
    }

    .openings_description p {
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 20px;
    }

.section_blog-details {
}

    .section_blog-details .heading {
    }

        .section_blog-details .heading span {
            font-size: 30px;
            line-height: 36px;
            font-weight: 500;
            margin-left: 60px;
        }

.search-dropdown {
    max-height: 0px;
    overflow: hidden;
    position: fixed;
    left: 0px;
    transition: ease all 0.6s;
    width: 100%;
    background: #4c4b6e;
}

    .search-dropdown > div {
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }

    .search-dropdown div {
        width: 100%;
        position: relative;
    }

    .search-dropdown input {
        border-radius: 0px;
        transition: ease all 0.3s;
        padding: 10px;
        height: 45px;
        background: transparent;
        color: #5b58a7;
    }

    .search-dropdown button {
        position: absolute;
        right: 0px;
        top: 0px;
        background: transparent;
        border: 0px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        height: 100%;
        width: 45px;
        outline: 0;
    }

    .search-dropdown .form-control:focus {
        background: transparent !important;
        color: #fff !important;
    }

    .toggle_search:hover .search-dropdown, .search-dropdown.active {
        max-height: 700px;
        transition: ease all 0.6s;
        top: 140px;
        left: 0px;
    }

    .fixed-header .toggle_search:hover .search-dropdown, .search-dropdown.active {
        top: 73px;
        box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 25%);
    }

    .search-dropdown input::-webkit-input-placeholder { /* Edge */
        color: #fff;
    }

    .search-dropdown input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
    }

    .search-dropdown input::placeholder {
        color: #fff;
    }

.popular_search {
    border-top: 1px solid #605f92;
    margin-top: 15px;
}

    .popular_search p {
        color: #fff;
        margin: 15px 0px;
    }

    .popular_search ul {
        padding-left: 0px;
    }

        .popular_search ul li {
            padding-left: 0px;
            margin-bottom: 0px !important;
        }

            .popular_search ul li a {
                color: #fff !important;
                transition: ease all 0.3s;
                padding: 5px 0px;
                font-size: 16px;
            }

                .popular_search ul li a:hover {
                    opacity: 0.6;
                    color: #fff;
                    transition: ease all 0.3s;
                }

.contact-main .form-group label {
    display: none;
}

.accordion-section {
}

    .accordion-section .card:last-child {
        border-bottom: 0px;
    }

    .accordion-section .card-body {
        padding: 0rem 1.5rem;
    }

        .accordion-section .card-body p {
            margin-bottom: 0.9rem;
            max-width: 100%;
            font-size: 1rem;
            font-size: 18px;
            text-shadow: 0 0 black;
            color: #000;
        }

    .accordion-section .card {
        border: 0px;
        border-bottom: 1px solid #E1E1E1;
        border-radius: 0px;
        background: transparent;
    }

    .accordion-section .accordion .card > .card-header {
        background: transparent;
        border: 1px solid #ccc;
        padding: 0.5rem 0.5rem;
    }

    .accordion-section .card-header h2 {
        position: relative;
        margin-left: 0.5rem;
        line-height: 30px;
        margin-bottom: 6px !important;
    }

        .accordion-section .card-header h2 button {
            padding: 0px 20px;
            font-size: 1.5rem;
        }

    .accordion-section .card-header a {
        color: #323643;
        font-weight: 500;
        transition: ease all 0.3s;
        font-size: 20px;
    }

        .accordion-section .card-header a:hover {
            color: #6b68b0;
            transition: ease all 0.3s;
        }

    .accordion-section .accordion .card > .card-header i, .accordion-section .accordion .card > .card-header em {
        position: absolute;
        left: 0px;
        color: #6b68b0;
        margin-top: 3px;
        transform: rotate(90deg);
        transition: ease all 0.3s;
    }

    .accordion-section .accordion .card-body .card-header {
        background-color: #fff;
    }

        .accordion-section .accordion .card-body .card-header i, .accordion-section .accordion .card-body .card-header em {
            margin-right: 1rem;
        }

    .accordion-section .card-header .collapsed i, .accordion-section .card-header .collapsed em {
        transform: rotate(0deg);
        transition: ease all 0.3s;
    }

.headerSec .toggle_search a {
    color: #fff;
}

.fixed-header .toggle_search a {
    color: #000;
}

.dropdown ul li {
}

    .dropdown ul li:last-child a {
        border-bottom: 0px solid #f1f1f1;
    }

.dropdown .dropdown-menu {
    max-height: 0px;
    overflow: hidden;
    display: block;
    padding: 0px;
    border: 0px;
    left: auto;
    box-shadow: 0px 0px 4px -2px #000;
    border-radius: 0px;
}

.dropdown:hover .dropdown-menu {
    max-height: 1500px;
}

.dropdown .dropdown-item {
    padding: 0px;
}

    .dropdown .dropdown-item a {
        padding: 10px 10px;
        font-size: 14px;
        display: block;
        color: #000;
        border-bottom: 1px solid #f1f1f1;
    }

        .dropdown .dropdown-item a:hover {
            background: #5b58a7;
            color: #fff;
            transition: ease all 0.1s;
        }

.dropdown > a:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: relative;
    left: 10px;
}

.dropdown-item.active, .dropdown-item:active {
    background: transparent;
}


.sidebar_s-icons {
    position: fixed;
    top: 70%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 8;
}

    .sidebar_s-icons ul {
    }

        .sidebar_s-icons ul li {
            position: relative;
            right: -95px;
            transition: ease all 0.6s;
            margin-bottom: 5px;
        }

            .sidebar_s-icons ul li:hover {
                right: 0px;
                transition: ease all 0.6s;
            }

            .sidebar_s-icons ul li.fb {
            }

                .sidebar_s-icons ul li.fb a {
                    background: #4769b1;
                    display: block;
                }

                .sidebar_s-icons ul li.fb span {
                    background: #4769b1;
                }

            .sidebar_s-icons ul li.insta {
            }

                .sidebar_s-icons ul li.insta a {
                    background: #c13679;
                    display: block;
                }

                .sidebar_s-icons ul li.insta span {
                    background: #c13679;
                }

            .sidebar_s-icons ul li.link {
            }

                .sidebar_s-icons ul li.link a {
                    background: #026899;
                    display: block;
                }

                .sidebar_s-icons ul li.link span {
                    background: #026899;
                }

            .sidebar_s-icons ul li.twitter a {
                background: #4fabf1;
                display: block;
            }

            .sidebar_s-icons ul li.twitter span {
                background: #4fabf1;
            }

            .sidebar_s-icons ul li.ytube a {
                background: #ce1e21;
                display: block;
            }

            .sidebar_s-icons ul li.ytube span {
                background: #ce1e21;
            }

            .sidebar_s-icons ul li a {
                opacity: 1;
                transition: ease all 0.6s;
            }

                .sidebar_s-icons ul li a:hover {
                    opacity: 0.9;
                    transition: ease all 0.6s;
                }

                .sidebar_s-icons ul li a img {
                    width: 30px;
                }

            .sidebar_s-icons ul li span {
                line-height: 30px;
                display: inline-block;
                padding: 0px 14px;
                color: #fff;
                width: 95px;
                text-align: left;
                font-size: 12px;
            }


/*.hero-banner .owl-item .item h2 {
    position: relative;
    top: 100px;
    transition: ease all 1.6s;
}

.hero-banner .owl-item.active .item h2 {
    position: relative;
    top: 0px;
    transition: ease all 2.6s;
}

.hero-banner .owl-item.active .item img {
    -webkit-animation: zoomout 10s ease-in infinite;
    animation: zoomout 10s ease-in infinite;
    transition: all .5s ease-in-out;
}*/
/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.30);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.30);
    }
}
/*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.30);
    }
}

@keyframes zoomout {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.30);
    }
}
/*End of Zoom out Keyframes */

.ul-bullets {
}

    .ul-bullets li {
        list-style-type: disc;
        line-height: 1.5em;
    }

.section_blog-details .heading {
    display: none !important;
}

.section_blog-details {
    padding-top: 3rem;
}

.btn-enquire {
    font-size: 14px;
    line-height: 35px;
    border: 1px solid;
    border-radius: 8px;
    color: #6b69b0 !important;
    font-weight: 500;
    padding: 0px 10px 0px 10px;
}
