@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var tab = parent.Children;

    var i = 0;
    var j = 0;
    var divID = "";
    var k = 0;
}


<section class="bg-cream section" id="first-section">
<div class="container-fluid">
<div class="filters__section">
<div id="filter-dropdown" class="d-md-none d-block">
<select class="form-control dropdown-select">
<option value="all">ALL</option>
<option value="Departure">Departure</option>
<option value="Arrival">Arrival</option>
</select>
</div>
    <div class="filters d-md-block d-none">
        <div>

            <a href="#all" class="active">All</a>
            <a href="#Departure">Departure</a>
            <a href="#Arrival">Arrival</a>

        </div>
    </div>
    <div class="filters-content">
        <div class="row grid">
            @foreach (var child in tab.ToList())
            {
                var replacestr = child.Fields["Type"].ToString();
                <div class="col-lg-4 col-md-6 my-3 @replacestr all Departure">
                    
                    <div class="shop_tiles">
                        <div class="bg-images">@Html.Sitecore().ImageField("Image", child)</div>
						<div class="shop_tiles-content">
                        <h4> @Html.Sitecore().Field("Title", child)</h4>
                        @Html.Sitecore().Field("Body", child)</div>
                    </div>
                    
                </div>
            }









        </div>
    </div>
</div>
</div></section>