@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
	Sitecore.Data.Fields.LinkField linkfield = model.Fields["Link"];
	var itemlink = linkfield.GetFriendlyUrl();
	Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)model.Fields["Image"]);
    string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
	Sitecore.Data.Fields.ImageField Mobileimg = ((Sitecore.Data.Fields.ImageField)model.Fields["Icon"]);
    string mobileimgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(Mobileimg.MediaItem);
			 
}
<section class="scanner-box bg-white">
<div class="scanner-box position-relative">
        <div class="container-fluid">
		@if (itemlink != null)
			 {
                <a href="@itemlink" target="_blank" rel="noopener noreferrer">
                    <div class="scanner-inner">
                        <img src="@imgurl" alt="Menu" class="img-fluid show-web">
                        <img src="@mobileimgurl" alt="Menu" class="img-fluid show-mob">
                    </div>
                </a>
			 }
        </div>
    </div>
</section>