@model Project.MiningRenderingHost.Website.Models.Common.Banner
@{
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}

@if (Model != null)
{
    <div class="page-banner">

        @if (Model.Image != null)
        {
            <img src="@serverUrl@Model.Image.Src" alt="@Model.Image.Alt" class="">
        }
        <sc-placeholder name="breadcrumb"></sc-placeholder>
    </div>
}