@model Project.MiningRenderingHost.Website.Models.Common.Breadcrumb
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
}
@if (Model.breadcrumbData != null)
{
    <div class="web-bredcrumb w-100 d-none d-md-block container">
        <ul class="breadcrumb">
            @foreach (var child in Model.breadcrumbData)
            {
                @if (child.CTALink != null)
                {
                    _linkurl = child.CTALink.URL;
                    _linktarget = child.CTALink.Target;
                    _linktext = child.CTALink.Text;
                }
                <li class="@child.Class"><a href="@_linkurl">@_linktext</a></li>
            }
        </ul>
    </div>
}