@model Project.MiningRenderingHost.Website.Models.ContactUs.ContactUsDetail
<div class="c-page-form section-padding">
    <div class="form-info order-lg-1 order-2">
        <h3>@Model.Heading</h3>
        @Html.Raw(Model.Description)
    </div>
    <sc-placeholder name="forms"></sc-placeholder>
</div>