@model Project.MiningRenderingHost.Website.Models.ContactUs.ContactUsPageBanner
@{
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}

<section class="contact-page position-relative">
    <div class="container">
        <div class="section-info">
            <h3><span>@Model.Heading</span></h3>
        </div>

        <div class="contact-img">
            @if(Model.Image!=null)
            {
                <img src="@serverUrl@Model.Image.Src" alt="@Model.Image.Alt">
            }
           
        </div>
        <sc-placeholder name="contactdetail"></sc-placeholder>
       

    </div>
    <sc-placeholder name="thankyoumodal"></sc-placeholder>
</section>