@model Project.MiningRenderingHost.Website.Models.PrivacyPolicy

<section class="privacy-info position-relative section-top-padding">
    <div class="container">
        <div class="section-info">
            <h3><span>@Model.Heading</span></h3>
             @Html.Raw(Model.Description)

        </div>


    </div>
</section>


