@model Project.MiningRenderingHost.Website.Models.RequestAcall

@if (Model != null)
{
    <section class="call-request position-relative section-bottom-padding">

        <div class="call-text">
            <div class="container-form">
                <div class="form-texing">
                    <h3><span>@Model.Heading</span></h3>
                    <p>@Model.SubHeading</p>
                </div>
            </div>

        </div>
        <sc-placeholder name="forms"></sc-placeholder>
    </section>
}