@model Project.MiningRenderingHost.Website.Models.Sitemap.SitemapModel
<div class="sitemap-content">
    <div class="container">
        <div class="sitemap-menus">


            @if (Model.SitemapLinks != null)
                {
               
                 foreach (var child in Model.SitemapLinks)
                {
                    <div class="sitemap-col">
                        <h3>@child.Heading</h3>
                        <ul>
                        @foreach (var subChild in child.Items)
                        {
                                <li><a href="@subChild.Link.URL">@subChild.Link.Text</a></li>                         
                        }
                        </ul>
                    </div>
                }
            }
           
        </div>
    </div>
</div>