@model Project.MiningRenderingHost.Website.Models.Aboutus.WhatWeStandFor

@{
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}

@if (Model != null)
{
    <section class="stand-for position-relative section-bottom-padding">
        <div class="container">
            <div class="section-info section-align">
                <h3><span>@Model.Heading</span></h3>
            </div>
        <div class="section-wrapper">
            @if(Model.Cards != null)
            {                
                    foreach (var child in Model.Cards)
                    {
                        <div class="card-box">
                            @if (child.Image != null)
                            {
                                <img src="@serverUrl@child.Image.Src" alt="@child.Image.Alt">
                            }
                            <h2>@child.Heading</h2>
                            @Html.Raw(child.Description)
                        </div>
                    }
                }
            </div>
        </div>
    </section>
}