@using Sitecore.Mvc
@model Project.Mining.Website.Models.ContactUsPage.ContactUsPageDetails


<div class="c-page-form section-padding">
    <div class="form-info form-info-ul order-lg-1 order-2">
        <h3 class="hide-text">@Model.Heading</h3>
        @Html.Raw(Model.Description)
    </div>
    @Html.Sitecore().Placeholder("forms")
    
</div>