@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{

    var contextItem = Sitecore.Context.Item;




}

<section class="section_padding bg-gray">
<div class="container">
<h2 class="heading">@Html.Sitecore().Field("Title", contextItem)</h2>
<div class="panel box-shadow border-radius bg-white">
<div class="">
@Html.Sitecore().Placeholder("career-form")
</div>	
</div>
</div>
</section>