@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var contextItem = Sitecore.Context.Item;
}

<section class="section_school-events bg-white section_padding-top">
    <div class="container">
       
        <div class="row">
		
            @if (contextItem.GetChildren() != null)
            {
                var childItem = contextItem.GetChildren();
                for (int i = 0; i < childItem.Count; i++)
                {
                    @*var link = Sitecore.Links.LinkManager.GetItemUrl(childItem[i]).ToLower();*@
                    Sitecore.Data.Fields.ImageField BannerImageField = ((Sitecore.Data.Fields.ImageField)contextItem.Fields["Thumbnail"]);
                    string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(BannerImageField.MediaItem);
                    <div class="col-lg-6 mb-lg-5 mb-5">
                        <div class="latest_happenings--active">
                            <a href="#">
                                <div class="latest_happenings--thumb">
								<span>@Html.Sitecore().Field("Summary", childItem[i])</span>
								<div class="owl-carousel events-carousel">
								<div class="item">
                                    <img src="@imgurl" class="img-fluid">
									</div>
                                </div>
								</div>
                                @if (i % 2 == 0)
                                {
                                    <div class="latest_happenings--desc">
                                        
                                            <h3 class="text-voilet">@Html.Sitecore().Field("Description", childItem[i])</h3>
                                           

                                        
                                    </div>
                                }
                                
                            </a>
                          
                        </div>
                    </div>
                }                
            }
        </div>
	
    </div>
</section>