<div class="section-gen-banner section active fp-auto-height" id="i1">
    <div class="pw-genBanner">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigBanner">
            <li ngxSlickItem *ngFor="let banner of HomePage.BannerCarouselData.Data" class="slide">
                <img src="{{banner.Image}}" alt="{{banner.ImageAltText}}" class="banner-img" />
                <div class="container">
                    <div class="pw-bannerText aos-init aos-animate" data-aos="fade-right" data-aos-easing="ease"
                        data-aos-delay="300">
                        <h1 class="margin-0" innerHTML="{{banner.HTMLText}}"></h1>
                        <a class="btn ad-btn-secondary" href='{{banner.CTALink}}'>{{banner.CTAText}}</a>
                    </div>
                </div>
            </li>
        </ngx-slick-carousel>
    </div>
</div>
<div>
    <section id="offerings" class="section fp-auto-height">
        <div class="offering">
            <div class="section-title">
                <div class="container">
                    <div class="row">
                        <div class="text-center">
                            <h2>{{HomePage.CommercialData.Heading}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="unique-features owl-carousel owl-theme unique-home">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigCommercial">
                        <div ngxSlickItem *ngFor="let commercial of HomePage.CommercialData.Data" class="slide">
                            <div class="item">
                                <img src="{{commercial.Image}}" alt="{{commercial.ImageAltText}}" />
                                <div class="uf-caption">
                                    <h3>{{commercial.Heading}}</h3>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
                <div class="text-center"> <a class="ad-btn-knwmore"
                        href="{{HomePage.CommercialData.CTALink}}">{{HomePage.CommercialData.CTAText}}</a> </div>
            </div>
        </div>
    </section>
    <div class="section-ourGroups section fp-auto-height" id="group-link">
        <div class="container">
            <h3 class="margintop-0">{{HomePage.GroupWebsiteData.Heading}}</h3>
            <div class="col-xs-12 owl-carousel" id="groupWeb_carsol">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigOurGroup">
                    <div ngxSlickItem *ngFor="let groupsite of HomePage.GroupWebsiteData.Data" class="slide">
                        <div class="item">
                            <div class="groupImgBox"> <a target="_blank" href="{{groupsite.Link}}">
                                </a>
                                <div class="groupImg grpShadow"><a rel="noopener noreferrer" target="_blank"
                                        href="{{groupsite.Link}}"> <img src="{{groupsite.Image}}"
                                            alt="{{groupsite.Heading}}" /> </a></div>
                                <h4><a rel="noopener noreferrer" target="_blank"
                                        href="{{groupsite.Link}}">{{groupsite.Heading}}</a></h4>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>

</div>

<nav class="scollspy">
    <ul>
        <li>
            <a href="#i1" class="active">
                <span></span>
            </a>
        </li>
        <li>
            <a href="#offerings" class="">
                <span></span>
            </a>
        </li>
        <li>
            <a href="#group-link" class="">
                <span></span>
            </a>
        </li>
        <li>
            <a href="#i4" class="">
                <span></span>
            </a>
        </li>
    </ul>
</nav>