.scollspy {
    position: fixed;
    z-index: 100;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    background: rgba(0, 0, 0, .6);
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
}

.scollspy ul {
    padding-left: unset;
}

.scollspy li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}

.scollspy li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

.scollspy li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.scollspy li a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}