@font-face {
  font-family: 'Adani-Regular';
  src: url('../webfonts/Adani-Regular.eot?#iefix') format('embedded-opentype'),  url('../webfonts/Adani-Regular.woff') format('woff'), url('../webfonts/Adani-Regular.ttf')  format('truetype'), url('../webfonts/Adani-Regular.svg#Adani-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
	margin:0px;
	padding:0px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	position:relative;
	 font-family: 'Adani-Regular';
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size:16px;
	background-color:#f1f1f1;

}
main{padding-top: 110px;}
h1, h2, h3, h4, h5, h6, ul, li, p, header, aside, footer, section, article, nav, field, label, figcaption, figure, hgroup, input, textarea {
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
}
a:link, a:visited {
	text-decoration:none;
}
/* Customized default classes of bootstrap per Adani theme */
.alert{border-radius:0;}
.alert-danger{color:#000;border-color:#e7e7e7;}
.form-control{border-radius:0;padding:.15rem .75rem;}
.form-check-label{padding-left:3px;}
.form-check-input{width:16px;height:16px;margin-top:4px;}
select.form-control:not([size]):not([multiple]) {
    height: calc(1.80rem + 2px);
}
.col-form-label {
    padding-top: calc(0.15rem + 1px);
	padding-bottom: calc(.15rem + 1px);
}
.btn{
	border-radius:0;
	padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.31;
}
.btn-primary {
    color: #fff;
    background-color: #1a727f;
    border-color: #1a727f;
}
.btn-primary:hover , .btn-primary:active{
    background-color:#009f83;
    border-color: #009f83;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
     background-color:#009f83;
    border-color: #009f83;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(25,114,127,.7);
}
.btn-secondary {
    color: #fff;
    background-color: #525252;
    border-color: #525252;
}
.btn-purple{background:#913e86;color:#fff;border-color:#913e86;}
.btn-purple:hover, .btn-purple:active, .btn-purple:focus{background:#874298;color:#fff;}
.btnBordered{padding:0.3rem 1.5rem;background:none;border:1px solid #1a727f;color:#1a727f;font-size:1.3rem;display:inline-block;}
.btnBordered:hover{background:#1a727f;color:#fff;}
.btnBordered.focus, .btnBordered:focus {
    box-shadow: 0 0 0 0.1rem rgba(26,114,127,.7);
}
.whiteBtn{color:#fff;border:1px solid #fff;}
.whiteBtn:hover{background:#fff;color:#1a727f;}
.btnBordered.btnLg{min-width:200px;}

.txt-orange{color:#ff6633 !Important;}
.txt-teal{color:#1a727f !important;}
.txt-blue{color:#006db7 !Important;}
.txt-purple{color:#8e278f !Important;}
.txt-violet{color:#b43e6a;}
.txt-gray{color:#5b5b5b !Important;}
.txt-black{color:#000;}
.txt-white{color:#fff;}
.helpText{font-size:0.8rem;color:#969696;}
.required{color:#f42e2e;}
.txt-large{font-size:1.2rem;}
hr{border-top:1px solid #c7c7c7;}

.bg-green{background-color:#00b16b !important;}
.bg-blue{background-color:#006db7 !important;}
.bg-purple{background-color:#8e278f !important;}
.bg-gray-light{background-color:#f7f7f7 !Important;}
.bg-gray-dark{background-color:#e7e7e7 !Important;}
.bg-pattern-light{background:#f2f2f2 url(../images/pattern1.png) repeat;}

.content p{padding-bottom:1rem;}
.rotate90{transform:rotate(90deg);}


/* Add sprite class to add icons from Sprite image and then add specific icon class */
.sprite{
	display:inline-block;
	background:url(../../images/ft-socialmedia-icons.png) no-repeat;
	vertical-align:middle;
}
.facebook {
    width: 20px;
    height: 20px;
    background-position: 0 0;
}

.twitter {
    width: 20px;
    height: 20px;
    background-position: -28px 0;
}

.gplus {
    width: 20px;
    height: 20px;
    background-position: -56px 0;
}

.instagram {
    width: 20px;
    height: 20px;
    background-position: -85px 0;
}

.youTube {
    width: 20px;
    height: 20px;
    background-position: -111px 0;
}

.linkedIn {
    width: 20px;
    height: 20px;
    background-position: -139px 0;
}

.facebook-large {
    width: 36px;
    height: 36px;
    background-position: 0 2px;
}

.twitter-large {
    width: 36px;
    height: 36px;
    background-position: -43px 2px;
}

.gplus-large {
    width: 36px;
    height: 36px;
    background-position: -85px 2px;
}

.instagram-large {
    width: 36px;
    height: 36px;
    background-position: 0px -40px;
}

.youTube-large {
    width: 36px;
    height: 36px;
    background-position: -42px -40px;
}

.linkedIn-large {
    width: 36px;
    height: 36px;
    background-position: -85px -40px;
}


.enquiryIcon{width:26px;height:26px;background-position:0 -55px;vertical-align:middle;}
.homeIcon{width:30px;height:35px;background-position:0 -93px;}
.buildingIcon{width:30px;height:35px;background-position:0 0px;}

/* -- Sprite classes end here -- */

/* header */
.headerSec{ 
	box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
    position: absolute;
    z-index: 99;
	width:100%
}
.headerTopBar{
	background: #383838 !important; /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,159,131,1) 0%, rgba(26,114,127,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(56, 56, 56) 0%,rgb(56, 56, 56) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(56, 56, 56) 0%,rgb(56, 56, 56) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009f83', endColorstr='#1a727f',GradientType=1 ); /* IE6-9 */
	color:#fff;
}
.navPanel{  margin: 0; background: #fff;
    width: 100%;
    padding: 0px 0px;
    transition: all 0.1s ease-in;
	z-index: 9999;
}
.navbar{padding:0.5rem 0;}
/*.navPanel>.container{padding:0;}*/

.topNav{margin:0;padding:6px 0 6px 0; font-size:0.9rem;min-height: 35px;}
.topNav li{list-style:none;display:inline-block;}
.topNav li a{color:#fff;}
.topNav li>a:hover{text-decoration:none;opacity:0.8;}

.navbar-light .navbar-nav .nav-item.active .nav-link,.navbar-light .navbar-nav .nav-item.show .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color:#1378be;}
.navbar-light .navbar-toggler{border:none;padding:0.25rem 0.5rem;}

.navbar-light .navbar-toggler-icon{background-image:url(../images/hamburger-menu.png);width:1.75em;}


.topMenu li:last-child a{border-right:none;}
.topMenu li>a{padding:0 0.6rem;color:#fff;}
.topMenu li:first-child a{padding-left:0;}
.btn.btn-menu{background:none;padding:0;font-size:1.25rem;color:#fff;position: relative;top: 1px;}
.topNavBtn{position:absolute;z-index:9;top:3px;}
.topMenu li.topSearchMenu{display:none;}
.topSearch{}

.social-links{line-height:1;}
.social-links li{margin-right: 2px;}
.social-links li a{padding:0 1px;display:block;background: #fff;width: 22px;height: 22px;border-radius: 100%;padding: 5px 0px;font-size: 12px;text-align: center;}
.social-links li a i{color: #000;position: relative; top: 0px;left: 0px;}
.quick-links{margin-right:10px;position:relative;top:1px;}
.quick-links li a{padding:0 10px;}

.download-links{margin-left:10px;}
.download-links li a{padding-left:5px;}
.download-links img{max-height:20px;}
.dropMenuIcon{padding-left:5px;color:#137e80;}

/*.dropdown:hover>.dropdown-menu {
  display: block;
}*/
.dropdown-toggle::after{content:none;}
.dropdown-item{border-bottom:1px solid #ff6633;padding:.5rem .5rem;}
.dropdown-menu>.dropdown-item:last-child{border-bottom:none;}

@media (min-width: 992px){
	.navbar-brand{padding-top:0.5rem;padding-bottom:0.5rem;}
	.navbar-expand-lg{padding-top:0;}
	.navbar-expand-lg .navbar-nav .nav-link {
		transition: ease all 0.5s;
		padding:1.6rem 0.9rem;
		font-size:1.4rem;
		color:#353535;
	}
	.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link{padding-right:0;}
	.social-links li:last-child a{padding-right:0;}
	.dropdown-menu{
		
		left:auto;
		box-shadow: 1px 1px 2px rgba(0,0,0,.5);background:#eee;
		padding: 6px 6px;
		border:none;top:99%;
		border-radius:0;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	.dropdown{position:static;}
	.primaryMenu{position:relative;top:7px;}
	.dropdown-item{display:inline-block;width:auto;padding:0rem .7rem;border-bottom:none;border-right:1px solid #737373;color:#737373;}
	.dropdown-menu .dropdown-item:last-child{border-right:none;}
	.dropdown-item:focus, .dropdown-item:hover{background:none;color:#ff6633;}
	
	
}

/*Footer*/
.footerSec{background:#f1f1f1;color:#666;padding: 15px 0px 0px 0px;position: relative;}
.contactPanel{height:150px;position:relative;color:#fff;}
.contactPanel .container, .contactPanel .container .row{height:100%;}



.footerBtmPanel{background:#383838;color:#fff;}

.footerMenu li{ list-style:none;display:inline-block;}
.footerMenu li a{color:#f3f3f3;padding:0 0.5rem 0 0.5rem;font-size:0.9rem;border-left:1px solid #f3f3f3;}
.footerMenu li a:hover, .footerMenu li a:focus{color:#ff6633;}
.footerMenu li:first-child a{border-left:none;}
.footerMenu li:last-child a{padding-right:0;}

.footerMenu.menuSecondary li{}
.footerMenu.menuSecondary li a{color:#f3f3f3;opacity:0.5;border-left:none;padding:0 0.5rem;font-size:0.8rem;}
.footerMenu.menuSecondary li:last-child a{padding-right:0;}
.footerMenu.menuSecondary li a:hover{opacity:1.0;color:#ff6633;}
.copyrightTxt{font-size:0.8rem;color:#f3f3f3;opacity:0.5;margin-top:5px;}

/* Content Section */
.contentSection{
  text-align: left;
}

/*Eqnuire*/
.enquiryBtn{background:#8e278f;display:inline-block;color:#fff;padding:0.5rem 1rem;position:fixed;right:-52px;top:40%;z-index:99;transform:rotate(-90deg);font-size:1.4rem;}
.enquiryBtn:hover{color:#fff;}
.enquireTxt{display:inline-block;vertical-align:middle;}

/*Banner*/
.mainBanner {
    width: 100%;
    height: 480px;
	position:relative;
}
.bannerImg {
	position:absolute;
	left:0;top:0;right:0;bottom:0;
	background:#e76d2d url(../images/banner.jpg) no-repeat;
	background-size:cover;
	z-index:1;
}
.bannerForm{background:rgba(0,0,0,0.7);color:#fff;}

/*To use img tag for banner and contact panel*/
.bannerImg, .contactPanel{background-image:none;overflow:hidden;}
.bannerImg img, .contactBanner img{min-height:100%;min-width:100%;position:relative;top:60%;left:50%;transform:translateX(-50%) translateY(-50%);}
.contactBanner{position:absolute;left:0;top:0;right:0;bottom:0;}

.section{padding:2rem 0;background-color:#f6f6f6;}
.sectionHeading{margin:1rem 0;font-weight: bolder;}
.sectionHeading:after{content: "";display: block;position: relative;height: 4px;background: #17b677;width: 120px;margin-left: auto;margin-right: auto;margin-top: 20px;}


/* Tabs */
.nav-tabs{border-bottom:1px solid #1a727f;}
.nav-tabs .nav-link {
    border: 1px solid #1a727f;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	color:#2e2e2e;
	padding:0.5rem;
}

.nav-tabs .nav-item{}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	background: #1a727f; /* Old browsers */
	color:#fff !Important;
	border-color:#1a727f;	
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border-color:#1a727f;	}

.noBorder{border:none;}

/*Latest Projects*/
.prjtCategory .nav-tabs .nav-link{padding:1.2rem;font-size:1.4rem;color:#1a727f;}
.prjtsList .slideItem{text-align:center;border:1px solid transparent;}
.prjtsList .slideItem:hover{border:1px solid #ccc;}

.prjtsList{padding:2rem 0;}

.clubPanel{position:relative;height:400px;color:#fff;overflow:hidden;}
.clubPanel .container, .clubPanel .container .row{height:100%;}
.clubBg{position:absolute;left:0;top:0;right:0;bottom:0;}
.clubBg img{min-height:100%;min-width:100%;position:relative;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);}
.visitSiteBtn{margin-top:2.5rem;}

/* About Us */
.aboutUs{background:#fff url(../images/bg-about.png) center center no-repeat;background-size:cover;color:#464848;}

/*Media*/
.mediaTile{margin:30px 0;}



/* Items List*/
ul.itemsList{margin-left:20px;}
ul.itemsList > li{list-style:disc;margin:10px 0;}
ul.itemsList li a{color:#707070;padding:3px 0;display:block;}

ol.numberedList{ counter-reset: li;
  list-style-type: none;
  padding-left: 0px;
 }
 ol.numberedList li {
  position: relative;
  padding: 7px 0 7px 30px;
  margin:3px 0;
}
ol.numberedList li:before {
  content: counter(li);
    counter-increment: li;
    height: 20px;
    width: 20px;
    background: #ff6633;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    top: 9px;
    font-size: 0.8rem;
    line-height: 1.5;
}
ol.listStyle{list-style-type:lower-alpha;}
ol.listStyle li{list-style-type:lower-alpha;}

.itemsListHeader{display:table;width:100%;}
.listHeading{display:table-cell;vertical-align:middle;}
.listIcon{display:table-cell;vertical-align:middle;text-align:right;padding-right:20px;}


/*Porjects Carousel*/
.serviceTile{background:rgba(239,239,239,0.3);padding:2rem 1rem;margin:1rem 0.5rem;display:table;border:1px solid rgba(232,232,232,0.3);}
.serviceTile:hover{border:1px solid rgba(232,232,232,1.0);}
.serviceTile .serviceIcon{display:table-cell;vertical-align:top;height:75px;overflow:hidden;}
.serviceTile .serviceDetails{display:table-cell;vertical-align:middle;padding-left:1rem;}
.serviceTile .serviceIcon img{width:auto;max-height:75px;}
.serviceName{margin-bottom:0.5rem;color:#4b4b4b;}
.serviceBrief{font-size:0.9rem;line-height:1.3;color:#858585;}
.serviceBtn{font-size:1rem;margin-bottom:1rem;}
.owl-nav {
    position: absolute;
    top: 45%;
    width: 100%;
    -webkit-transform: translate(0%, 45%);
    transform: translate(0%, 45%);
}
.owl-carousel .owl-nav button.owl-prev{float:left;background: #000;border-radius: 0px 25px 25px 0px;width: 30px;height: 50px;}
.owl-carousel .owl-nav button.owl-next{float:right;background: #000;border-radius: 25px 0px 0px 25px;width: 30px;height: 50px;}

/*My Account Page*/
.mainBanner.myAccountBanner{height:auto;min-height:150px;max-height:550px;}
.myAccountBanner .bannerCnt{padding:2rem 0;}
.myAccountBanner .manageAcBoxOuter{margin-top:20px;}
.breadcrumbBar{font-size:0.9rem;}
.breadcrumbBar li a{color:#303030;}
.breadcrumb li:after{
    /*content:"\f054";*/ position:relative; display:block;font-family: 'Font Awesome 5 Free';-webkit-font-smoothing: antialiased;display: inline-block;font-style: normal;font-variant: normal;font-weight: 700; font-size: 12px;margin-left: 10px;}
.pageTitle{color:#fff;}
.breadcrumbBg{position: absolute;left: 0;top: 0;right: 0;bottom: 0;overflow: hidden;z-index: 0;}
.breadcrumbBg img{border-radius: 0;min-height: 100%;min-width: 100%;position: relative;height: 100%;}
.pageTitleBar{position: relative;min-height: 150px;min-height: 150px;padding: 25px 0px;}
.pageTitleBar .container{position:relative}
.accountServices{margin-top:1rem;}
.accSerTile{padding:1.5rem 0;}
.iconBox{display:inline-block;vertical-align:middle;width:30%;}
.iconBox img{max-width:100%;}
.accService{display:inline-block;vertical-align:middle;width:65%;color:#323030;padding-left:10px;}
.accService:hover{color:#1a727f;}


.pageTitleBar .breadcrumb{background:none;color:#fff;padding:0;margin:0.5rem 0;}
.breadcrumb li a{color:#fff;}
.breadcrumb li a:after{/*content:'>';*/padding:0 5px}
.breadcrumb li:last-child a:after{content:none;}
.pageContent{padding:2rem 0;}
.panel{background:#f7f7f7;border:1px solid #e4e4e4;padding:1.5rem;margin-bottom:1.5rem;}
.panel a{color:#333;}
.panel a:hover, .nav-tabs a:hover{color:#1a727f;}

.tile{
	background:#efefef;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 2%, rgba(247,247,247,0.31) 25%, rgba(244,244,244,0.4) 35%, rgba(212,212,212,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 2%,rgba(247,247,247,0.31) 25%,rgba(244,244,244,0.4) 35%,rgba(212,212,212,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 2%,rgba(247,247,247,0.31) 25%,rgba(244,244,244,0.4) 35%,rgba(212,212,212,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
	border:1px solid #e8e8e8;
	display:table;padding:0.5rem 1rem;height:100%;width:100%;color:#4b4b4b;
}
.tile:hover{border:1px solid #d3d3d3;color:#ff6633;}
.tile .iconBox{display:table-cell;vertical-align:middle;}
.tile .detailBox{display:table-cell;vertical-align:middle;}
.goBack{color:#333;font-size:1.2rem;}
.goBack:hover{color:#ff6633;}






/* Left Navigation STYLE */

#dismiss {
   text-align:right;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	padding:0.25rem 1rem;
	background:rgba(0,0,0,0.3);
	background:#3f3f3f;
}

#dismiss:hover {
    background: rgba(0,0,0,0.4);
    color: #fff;
}
.sideNavBtn{float:right;margin-bottom:1rem;}

.overlay, .overlay-top {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
	top:0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active, .overlay-top.active {
    display: block;
    opacity: 1;
}
.overlay-top{z-index:999;}

#sideNav.active {
    left: 0;
}
#sideNav ul li{border-bottom:1px solid #fff;}
#sideNav ul li a {
    padding: 0.5rem 0.75rem;
    display: block;
	background:#f36f31;
	color:#fff;
	position:relative;
}
#sideNav ul li a:hover {
    color: #fff;
    background: #ff6633;
}
#sideNav ul li .submenu li a{background:#e9e9e9;color:#000;}
#sideNav ul li .submenu li a:hover, #sideNav ul li .submenu li.active a{background:#858585;color:#fff;}

#sideNav ul li a.dropdown-toggle::after {
	width:auto;
	height:auto;
	content:'>';
	display: block;
    position: absolute;
    top: 50%;
    right: 0.5rem;
	border:none;
	transform: translateY(-50%) rotate(0deg);
}
#sideNav ul li a[aria-expanded=true]{background:#ff6633;}
#sideNav ul li a[aria-expanded=true]::after{transform: translateY(-50%) rotate(90deg);}

/* FAQ Accordion */
.faqItem{border:1px solid #e8e8e8;background:#f7f7f7;margin-bottom:0.5rem;padding:0.75rem 1rem 0.75rem 3.2rem;}
.ques{color:#000;cursor:pointer;position:relative;}
.ans{color:#4e4a4a;font-size:0.9rem;padding-top:0.75rem;}
.ans a{color:#ff6633;}
.faqItem:hover .ques{color:#ff6633;}
.faqItem .ques::before{
	height: 24px;
    width: 24px;
    background: #ff6633;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: absolute;
    left: -2.2rem;
    top: 2px;
    font-size: 0.9rem;
    line-height: 1.75;
    content: '>';
}
.faqItem .ques[aria-expanded="true"]::before{
	transform:rotate(90deg);
	background:#848484;
}



/* Table Style */
.tableOuter{border:1px solid #a2a2a2;}
.table .thead-light th{background-color:#e9e9e9;}
.table-hover tbody tr:hover{background-color:rgba(0,0,0,0.05);}

/* Search */
.searchBox .btn{margin-left:10px;}
.searchItem{background:#f7f7f7;border:1px solid #e4e4e4;padding:1rem;margin-bottom:10px;}
.searchItem p{margin:0.25rem 0;}
.searchItem h5{font-size:1.1rem;}
.searchItem a{color:#ff6633;word-break: break-word;}
.searchItem .downloadDoc{padding-left:10px;padding-top:3px;display:inline-block;}



@media (min-width: 992px){
	.pageContent{min-height:250px;}
	.navTile a{border-right:1px solid rgba(226,226,226,0.2);}
	.navTile:first-child{margin-left:-15px;}
	.navTile a:hover{background:rgba(0,0,0,0.2);}
	.communityTile{min-height:180px;height:100%;padding:1.5rem;}
	.communityTile.large .tileCnt{position:absolute;bottom:1.5rem;width:70%;}
	.community3{margin-top:30px;}
	.community1 .communityTile{background:url(../images/bg-community1.png) no-repeat left top;}
	.serviceTile{margin:2rem 1rem;}
	.searchItem .downloadDoc{padding-left:1rem;}
	
}




/* 2nd July 2018 */
.required{color:red;}
.pay_box{margin: 10px 15px;box-shadow: 0px 0px 5px 1px #E0E0E0;}
.mr-lt-30{margin-left: 30px;}
.txt-underline{text-decoration: underline;}
.pull-right{float:right;}
.txt-lg{color: #ccc;font-size: 14px;}
.pagination{display: inline-block;border-radius: 4px;}
.pagination li{display:inline;}
.pagination li,
.pagination li span{position:relative; float:left; border:1px solid #ccc;padding: 6px 12px;}
.pagination .active {background: #E9ECEF;color: #000 !important;}
.pagination .active a{color:#000;}
.pagination .start a,
.pagination .end a {color:#000;}
.pagination a{color: #F36F31;}
.table-white{color: #000;background-color: #fff;}
.table-white td, .table-white th, .table-white thead th{border-color: #fff;}
.tablexoverflow{margin: 10px 0px 30px 0px;border: 1px solid #B7B7B7;}
@media (max-width: 992px){
.tablexoverflow{width: 404px;overflow-x: scroll;}
}
@media (max-width: 492px){
.tablexoverflow{width: 370px;overflow-x: scroll;}
}
.panelbtmbar span{margin-right: 8%;}
.eqiptiles{/*padding:2rem 2rem*/;margin:1rem 0.5rem;display:table-cell;text-align: center;text-align: -webkit-center;min-width: 128px;color: #A9A9A9;}
.eqiptiles:hover{}
.eqiptiles .eqipicons{display:table-cell;vertical-align:top;height:75px;overflow:hidden;min-width: 123px;}
.eqiptiles span{font-size: 12px;}
.eqiptiles .eqipicons img{min-width: 60px;}
.eqipicons input[type="image"]{}
.eqipicons input[type="image"]:focus{outline:0 !important;}
.form-inner-box{padding: 1rem;}
.form-inner-box .col-form-label, .form-inner-box span {font-size: 12px;}
.bg-white{background:#fff;}
.bg-gray{background:#f8f8f8;}
.energy-navigation{background-color:#efefef}
.energy-navigation .owl-nav{top: -55px;z-index: 9;position: relative;display: block !important;width: 93%;margin-left: auto;margin-right: auto;}
/*.energy-navigation .owl-item{width: 150px !important;}
.slideItem{display: table-cell;}*/
.form-inner-box select{font-size: 12px;}
.bg-dark-gray{background-color:#c6c6c6;}
.bg-dark-gray .txt-lg{color: #8A8A8A;}
.quick-access h5{color: #747474;line-height: 75px;}
.quick-access h5 img{margin: 0px 25px 0px 0px;}
.mar-bt-10{margin-bottom: 10px;}
.txt-example{color: #5d5c5c;}
.contact-querybox{padding: 0.5rem;}
.querytab .nav-tabs .nav-item.show .nav-link,.querytab .nav-tabs .nav-link.active{background: #fff;color: #000 !important;font-size: 19px;border: 0px;border-bottom: 5px solid #ff6633 !important;}
.querytab .nav-tabs .nav-link{background: #fff;color: #838080;font-size: 19px;border: 0px;}
.our-centers-box{background-color: #8b8787;margin: 0px 0px 20px 0px;padding: 1.5rem 0.5rem;color: #fff;line-height: 35px;}
.list-bullet-style li{list-style-type: disc;margin-left: 20px;}
.table-border{margin-bottom:0px !important;}
.table-border td, .table-border th{border-top: 0px solid #dee2e6;border-right: 1px solid #dee2e6;}
.table-border tbody{border-top: 0px solid #dee2e6 !important;}
.noborder{border:0px !important;}
.border-btm-2{border-bottom:2px solid #ccc}
.list-sl li{display: inline-block;margin-right: 25px;}
.cooling-bg-overlay{background:url(../images/money-saver-overlay.jpg) no-repeat; height:auto;}
.image-container{min-height:100%; background-position:center center; background-size:cover; position:relative;width: 100%;}
.overlaybox{background: #fff;margin: 2rem 2rem;padding: 2rem 2rem;}
.center-txt{text-align: -webkit-center;}
.about-energy img{margin-bottom: 15px;}
.stylenumbered li{list-style-type: decimal;margin-left: 20px;}

/*Testimonial Carousel*/
.user-testimonials{padding:50px 0px;}
.user-testimonials h3{font-weight: bold;text-align: center;line-height: 50px;margin-bottom: 0px;font-size: 2.2rem;}
.user-testimonials h3:after{content: "";display: block;position: relative;height: 5px;background: #009f83;width: 120px;margin-left: auto;margin-right: auto;margin-top: 20px;}
#testimonials{text-align:center;}
#testimonials .testimonial-tiles{border: 2px solid #e1e1e1;padding: 70px 50px 20px 50px;margin-bottom: 40px;}
#testimonials img{width: 114px;height: 114px;margin-left: auto;margin-right: auto;position: relative;bottom: -55px;}
#testimonials .testimonial-tiles p{}
#testimonials .testimonial-tiles h5{line-height: 40px;margin-top: 20px;font-weight: bold;color: #009f83;}
.user-testimonials .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background: #0b6bb5;}
.user-testimonials .owl-theme .owl-dots .owl-dot span{ border-radius: 0px;width: 16px;height: 16px;}

/*Events*/
.events{background-image:url(../images/bg-events.jpg);padding:50px 0px;background-size: cover;background-repeat: no-repeat;}
.events h3{font-weight: 100;text-align: left;line-height: 50px; margin-bottom: 30px;font-size: 2.2rem;color: #fff;}
.events .text-center{margin: 30px auto 0px auto;}
.events .text-center a{color: #fff;line-height: 30px;padding: 10px 40px;border: 2px solid #fff;font-weight: 700;transition: ease-in all .2s;}
.events .text-center a:hover{BACKGROUND: #FFF;COLOR: #000;transition: ease-in all .2s;}
.events h5{color:#fff;line-height: 35px;margin-bottom: 20px;}

/*Philosophy*/
.Philosophy{background-image:url(../images/bg-philosophy.jpg);background-size: cover;background-repeat: no-repeat;min-height: 590px;padding:50px 0px;}
.Philosophy h2{font-size: 2.6rem;margin-bottom: 26px;}
.Philosophy h2 span{display: block;font-weight: bolder;color: #913e86;}
.Philosophy h5{margin-bottom: 35px;font-size: 1.6rem;}
.Philosophy p{font-size: 1.43rem;}
.Philosophy a{color: #913e86;line-height: 30px;padding: 10px 40px;border: 2px solid #913e86;font-weight: 700;transition: ease-in all .2s;}
.Philosophy a:hover{background: #913e86;color: #fff;transition: ease-in all .2s;}

/*News*/
.news{background-image:url(../images/bg-news.jpg);background-size: cover;background-repeat: no-repeat;padding:50px 0px;}
.news h3{color:#fff;line-height: 60px;}
.news a{color: #fff;line-height: 30px;padding: 6px 40px;border: 2px solid #fff;font-weight: 700;display: grid;text-align:center;transition: ease-in all .2s;}
.news a:hover{background: #fff;color: #000;transition: ease-in all .2s;}
.news input{padding: 10px 10px;font-weight:bolder;}

/*Footer*/
.footerPanel2 h5{color: #007ea8;line-height: 40px;}
.footerPanel2 h5 a{color: #007ea8;line-height: 40px;font-size: 1.25rem}
.footerPanel2 ul{min-height: 50px;}
.footerPanel2 li{display: block;}
.footerPanel2 a{color:#606060;font-size: 14px;}
.footerPanel2 a:hover{color:#1a727e}
.footerPanel2 h6{font-size: 1.5rem;padding: 6px 30px;text-align: center;}


.txt-center{text-align:center;}
@media(max-width:575px){
.mobile-none{display: none;}
}

/*Gallery*/
#gallery .owl-nav{}
#gallery .owl-next{right: -8px;position: relative;}
#gallery .owl-next span{display:none}
#gallery .owl-prev{position: relative;left: -8px;}
#gallery .owl-prev span{display:none}
#gallery button.close{position: absolute;right: 0px;top: -35px;font-size: 40px;}
#gallery .modal-body{padding:5px;}
#gallery .owl-dots{display:none;}
#gallery .thumbnails-wrapper{margin-top: 5px;}

/*Video*/
#video .modal-body{padding:5px;}
#video button.close{position: absolute;right: 0px;top: -35px;font-size: 40px;color: #fff;opacity: 1;}

/*Other Ventures Carousel*/
#other-ventures{padding: 15px 0px 0px 0px;}
#other-ventures h5{text-align: center;margin-top: 20px;font-size: 1.25rem;}
#other-ventures .owl-dots{padding: 20px 0px 0px 0px;}
#other-ventures .owl-dot span{border-radius: 0px;}
#other-ventures .owl-dots .active span{background:#0b6bb5}
#other-ventures .owl-dots span:hover{background:#0b6bb5}

/*Footer Social Media Icons*/
.sprite-social{display: inline-block;background: url(../images/ft-socialmedia-icons.png) no-repeat;
    vertical-align: middle;}
.ft-Facebook{width: 35px;height: 33px;background-position: 2px 2px;}
.ft-twitter{width: 35px;height: 33px;background-position: -41px 2px;}
.ft-gplus{width: 35px;height: 33px;background-position: -85px 2px;}
.ft-instagram{width: 35px;height: 33px;background-position: 2px -38px;}
.ft-youtube{width: 35px;height: 33px;background-position: -40px -38px;}
.ft-linkedin{width: 35px;height: 33px;background-position: -83px -38px;}
.social-links-footer li{display: inline-block;}


/*Other General CSS*/
.bg-white{background-color:#fff;padding: 50px 0px;}
.impact-stories{padding: 4rem 0rem;position:relative; display:block;}
.impact-stories p{font-size: 1.31rem;text-align: center;color: #7e7e7e;}

.txt-overlay{background-color: #f04c23;color: #fff;padding: 10px 15px;position: absolute;bottom: 0px;}
.bg-blue{background:#1378be !important;}
.bg-sky-blue{background:#17b779 !important;}

.section-heading{font-weight: bolder;color:#1378be;text-align: center;}
.after-center:after{margin: 0px auto;}
.border-right-1{border-right: 1px solid #b5b5b5;}

/*Index sustanibility*/
#sustanibility{}
#sustanibility .txt-overlay{min-height: 140px;opacity: 0.9;width: 100%;}
#sustanibility h3{font-size: 1.4rem;margin-bottom: 15px;font-weight: bolder;}
#sustanibility p{font-size: 1rem;}
#sustanibility .item{position:relative;max-height: 500px;}
#sustanibility .owl-nav{}
#sustanibility .owl-nav .owl-prev{margin-left: 0px;line-height:0px;}
#sustanibility .owl-nav button:focus{outline:0;}
#sustanibility .owl-nav .owl-prev:hover, #sustanibility .owl-nav .owl-next:hover{}
#sustanibility .owl-nav .owl-next{margin-right: 0px;line-height:0px;}
#sustanibility .owl-nav .owl-prev span{font-size: 3rem;color:#fff;line-height: 55px;}
#sustanibility .owl-nav .owl-next span{font-size: 3rem;color: #fff;line-height: 55px;}

/*Business Box*/
.business-box > div{padding: 30px 0px;min-height: 220px;}
.business-box .business-content{width: 180px;margin: auto;text-align: center;transition: ease all 0.5s;}
.business-box .business-content span{display: inline;box-decoration-break: clone;-webkit-box-decoration-break: clone;}
.business-box .business-content p{display:none;color:transparent;transition: ease all 0.5s;font-size: 14px;margin: 10px 0px;}
.business-box .business-content a{display:none;color:transparent;transition: ease all 0.5s;font-size: 16px;}
.business-box .business-content a i{position: relative;top: 2px;margin-left: 5px;margin-top: 5px;}
.business-box:hover{background: #fff;transition: ease all 0.5s;-webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);box-shadow: 0 14px 24px rgba(62,57,107,.2);    position: absolute;width: 100%;z-index: 9;left: 0px;-webkit-transform: translate(0%, -13%);transform: translate(0%, -13%);}
.business-box:hover .business-content p{display:block;transition: ease all 0.5s;color:#000;}
.business-box:hover .business-content a{display:block;transition: ease all 0.5s;color:#0b6bb5;}
.business-box .txt-center{height: 80px;}
.business-box .txt-center img{filter: gray; /* IE5+ */-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */-webkit-transition: all .1s ease-in-out;}
.business-box:hover img{filter: none;-webkit-filter: grayscale(0);-webkit-transform: scale(1.01);transition: ease all 0.1s;}
.business-box:hover .business-content span{color: #0b6bb5;}
.business-section p{font-size: 1rem;text-align: center;color: #7e7e7e;}



.btn-blue{background:transparent;border: 2px solid #1378be;transition: ease all 0.5s;}
.btn-blue:hover{background: #1378be;color: #fff;transition: ease all 0.5s;}
.btn-white{background:transparent;border: 2px solid #fff;transition: ease all 0.5s;color:#fff}
.btn-white:hover{background: #fff;color: #000;transition: ease all 0.5s;}
.btn-violet{background:transparent;border: 2px solid #b43e6a;transition: ease all 0.5s;color:#b43e6a}
.btn-violet:hover{background: #b43e6a;color: #fff;transition: ease all 0.5s;}


.bg-images {position: absolute;left: 0;top: 0;right: 0;bottom: 0;overflow: hidden;z-index: 0;}
.bg-images img {border-radius: 0;min-height: 100%;min-width: 100%;position: relative;height: 100%;}
.panelBox{height: 290px;}

.videoThumb{}
.videoThumb{cursor:pointer;position: relative;margin-bottom:10px}
.videoThumb a:before{background:url(../images/video-button.png);position:absolute;content:"";display:block;-webkit-transform: translate(12%, -6%);transform: translate(12%, -6%);width: 142px;height: 116px;left: 33%;top: 20%;animation: pulse 1s;animation-iteration-count: infinite;background-repeat: no-repeat;}



.sectionTitle-violet{font-weight: bolder;}
.sectionTitle-violet:after{border-top: 3px solid #b43e6a;content:"";display:block;position:relative;width: 160px;margin-top: 10px;margin-bottom: 30px;}

/*Featured Stories*/
.featured-stories{position:relative; display:block;}
.featured-stories p{font-size: 1.2rem;margin-top: 15px;}

/*News*/
.newsImg {
    height: 60px;
    overflow: hidden;
    vertical-align: top;
    padding-top: 3px;
}
.newsImg img{width:100%;}
.newsDetails {
    vertical-align: top;
    padding-left: 15px;
}
.newsBrief {
    color: #5b5b5b;
    line-height: 1.2;
	font-size: 14px;
}
.newsDate {
    color: #b43e6a;
    margin-top: 5px;
    font-size: 0.9rem;
}

/*Resources*/
#resources img{width:auto;margin-left: auto;margin-right: auto;}
.resourceItem{display:block;}
.resourceItem:hover .py-2{color: #0b6bb5;}
.resourceItem > div:nth-child(1){text-align: center;color: #000;min-height: 70px;}
.resourceItem > div:nth-child(2){text-align: center;color: #000;}

/*Footer*/
.footerArrow {
    position: absolute;
    background: #a3a3a3;
    color: #fff;
    width: 40px;
    height: 40px;
    right: 4%;
    top: -10px;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}

    .footerArrow:before {
        content: "";
        position: absolute;
        left: -20px;
        top: 0;
        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid #7a7a7a;
    }
	
.section-growth{display: block;position: relative;padding: 5rem 0px;min-height: 540px;background: #cde1ea;}
.section-growth img{-webkit-transform: translate(0%, 10%);transform: translate(0%, 10%);}
.section-growth .container{position:relative;}

.business-tile{transition: transform .3s;display: block;}
.business-tile:hover{transform: scale(1.08);box-shadow: 0 0px 4px #ccc;}
.business-thumb{overflow: hidden;height: 170px;margin-bottom: 10px;}
.business-thumb img{width:100%;}
.business-title{color: #1378be;padding: 10px 10px;font-size: 1rem;}
.business-title:after{border-top:3px solid #1378be; position:relative; display:block; content:"";width: 115px;margin-top: 10px;}
.business-desc{font-size: 14px;color: #000;min-height: 85px;padding: 10px 10px;}

.homeslider .slideitem{position:relative}
.bannercontent{
	font-weight: bolder;
    -webkit-transform: translate(0%, 40%);
    transform: translate(0%, 40%);
    position: absolute;
    top: 40%;
    /* left: 20%; */
    color: #fff;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 20px #000;
    }
	.bannercontent h1{font-weight:bolder;} 
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
#other-ventures .owl-prev span{color: #fff;font-size: 40px;line-height:55px;}
#other-ventures .owl-next span{color: #fff;font-size: 40px;line-height:55px;}
#other-ventures a{color:#000;}
#other-ventures a:hover{color:#0b6bb5;}

.txt-left{text-align:left !important;}
.newsItem:hover .newsBrief{color: #0b6bb5;}

.back-to-top {
    cursor: pointer;
    position: fixed;
    float: right;
    bottom: 20px;
    right: 37px;
    display:none;
    background: rgba(0, 123, 255, 0.8509803921568627);
    z-index: 99;
	padding: 3px 12px;
    color: #fff;
}
.back-to-top:hover, .back-to-top:active {
	background: #007bff; color:#fff;
}
.desktop-none {display:none;}
/*Fixed header*/
.nav-up {
  top: -40px;
}
.nav-down{position: fixed;transition: top 0.2s ease-in-out;width: 100%;    z-index: 999;}
.sticky-header {
	box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
	position: fixed;
    top: 0px;
	z-index:9;    background: #fff;
}
.sticky-header .nav-item .nav-link{padding: 1rem 1rem;transition: ease padding 0.3s;}


/*Loader*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #17b779;
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1378be;
  -webkit-animation: spin-reverse .6s linear infinite;
          animation: spin-reverse .6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f04c23;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}


/*Responsive Vimeo VIdeo*/
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}


.nav-sublink{
padding: 5px 10px;	
}
.nav-sublink a{
	color:#000;
	font-size: 14px;
}
.nav-sublink a:hover{color:#1378be;}
.menu-thumb{width: 300px;margin-left: auto;}
.menu-thumb img{transform: scale(1.0);transition: ease all 0.3s;}
.menu-thumb:hover img{transform: scale(1.02);transition: ease all 0.3s;}
.homeslider .owl-item .item video {
    min-width: 100%;
    min-height: 100%;
}
.homeslider .owl-item .item > img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
	top: -1%;
}