
html {
    height: 100%;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", Calibri, Arial, sans-serif;
    /* background: #fff; */
    background: #666;
    font-weight: 400;
    font-size: 100%;
    color: #333;
    height: 100%;
    overflow-y: hidden;
}

.js body {
    overflow: hidden;
}

 

.container,
.bb-custom-wrapper,
.bb-bookblock {
    width: 100%;
    height: 100%; 
}

.container {
    position: relative;
    left: 0px;
    -webkit-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    border: 20px solid #666;
}
.bb-custom-wrapper nav {
    width: 100%;
    bottom: 80px;
    left: 60px;
    position: absolute;
    z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
    left: 0;
    background: #076cb0;
    border-radius: 50%;
    color: #fff;
    line-height: 42px;
    text-align: center;
    speak: none;
    font-weight: bold;
    cursor: pointer;
}

.bb-custom-wrapper nav span:last-child {
    left: 50px;
}

.menu-button {
    z-index: 1000;
    left: 10px;
    top: 20px;
    text-indent: -9000px;
}

.menu-button:after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    top: 50%;
    margin-top: -1px;
    left: 25%;
    box-shadow: 0 -4px #fff, 0 4px #fff;
}
.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
}
.figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.figure img{
    max-height: auto;
    width: 100%;
}
.download-pdf{
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 99999;
}
.download-pdf a{
    background: #076cb0;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 25px;
    text-decoration: none;
}
.download-pdf img{
        width: 18px;
        height: 18px;
        margin-left: 10px;
    
}

.download-pdf a:hover{
    background: #0662a0; 
}



@media (min-width: 992px) { 
    .figure img{
        max-height: 100%;
        width: auto;
    }
}
 