<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Foundation.OTPService.ServiceConfigurator.RegisterWebApiRoutes, Sitecore.Foundation.OTPService" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>