<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">
		<contentSearch>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes hint="list:AddIndex">
					<index id="Adani_SuperApp_Blogs_Web_Index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">Adani_SuperApp_Blogs_Web_Index</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/offersIndexConfiguration" />
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="(ContentManagement and !Indexing) or (ContentDelivery and !Indexing)" />
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsyncSingleInstance" role:require="Standalone or (ContentManagement and Indexing) or (ContentDelivery and Indexing)" />
						</strategies>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/airporthome/blog</Root>
							</crawler>
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>
				</indexes>
			</configuration>
			<indexConfigurations>
				<blogsIndexConfiguration  ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
					<documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
						<!-- Included templates -->
						<include hint="list:AddIncludedTemplate">
							<BlogLandingTemplateID>{416E4F91-A92E-4A79-A6B8-7F94A2079334}</BlogLandingTemplateID>
							<BlogCategoryTemplateID>{87EA4D36-6421-46E5-A0E9-E2C08ECA9AA4}</BlogCategoryTemplateID>
							<BlogDetailTemplateID>{7364777D-9B1D-4A7F-95EB-D568FE34DFF8}</BlogDetailTemplateID>
						</include>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="Title" returnType="string">
								Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.BlogMainTitleComputedField,Adani.SuperApp.Airport.Foundation.Search.Platform
							</field>
							<field fieldName="Title" returnType="string">
								Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.BlogCategoryTitleComputedField,Adani.SuperApp.Airport.Foundation.Search.Platform
							</field>
							<field fieldName="Title" returnType="string">
								Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.BlogDetailTitleComputedField,Adani.SuperApp.Airport.Foundation.Search.Platform
							</field>
							<field fieldName="Image" returnType="string">
								Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.BlogCategoryImageComputedField,Adani.SuperApp.Airport.Foundation.Search.Platform
							</field>
							<field fieldName="Image" returnType="string">
								Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.BlogDetailImageComputedField,Adani.SuperApp.Airport.Foundation.Search.Platform
							</field>
						</fields>
					</documentOptions>
				</blogsIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>