<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore search:require="solr">
		<contentSearch>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes hint="list:AddIndex">
					<index id="Adani_SuperApp_InternationalAirlines_Web_Index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">Adani_SuperApp_InternationalAirlines_Web_Index</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/internationalairlinesConfiguration" />
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" role:require="Standalone or (ContentManagement and Indexing)" />
						</strategies>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/AirportHome/international-airlines</Root>
							</crawler>
						</locations>
					</index>
				</indexes>
			</configuration>
			<indexConfigurations>
				<internationalairlinesConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
					<documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
						<!-- Included templates -->
						<include hint="list:AddIncludedTemplate">
							<AirlinesMainPage>{505C1B3E-45CA-4309-8FFE-0A7248BA0E8C}</AirlinesMainPage>
							<AirlinesPage>{6C45539D-9311-4B54-B51A-9E5FFF5CA246}</AirlinesPage>
						</include>
					</documentOptions>
				</internationalairlinesConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>
