<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">
		<contentSearch>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes hint="list:AddIndex">
					<index id="Adani_SuperApp_Dutyfree_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">Adani_SuperApp_Dutyfree_web_index</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/dutyfreeIndexConfiguration" />
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="(ContentManagement and !Indexing) or (ContentDelivery and !Indexing)" />
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsyncSingleInstance" role:require="Standalone or (ContentManagement and Indexing) or (ContentDelivery and Indexing)" />
						</strategies>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/AirportHome/Datasource/Adani/Dutyfree/Products</Root>
							</crawler>
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>
				</indexes>
			</configuration>
			<indexConfigurations>
				<dutyfreeIndexConfiguration  ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
					<documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="materialgroupcode" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeMaterialGroup,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="materialgrouptitle" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeMaterialGroupTitle,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="categorycode" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeCategory,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="categorytitle" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeCategoryTitle,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="subcategorycode" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeSubCategory,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="subcategorytitle" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeSubCategoryTitle,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="brandcode" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeBrand,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="brandtitle" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeBrandTitle,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="productimages" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeProductImages,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="skucode" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeSKUCode,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="travelexclusive" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeTravelExclusive,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="isrecomended" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeIsRecomended,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="bucketgroup" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeBucketGroup,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="showonhomepage" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeShowOnHomepage,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="isactive" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeProductActive,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="productstextsearch" returnType="text">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.DutyfreeProductsTextSearch,Adani.SuperApp.Airport.Foundation.Search.Platform</field>
						</fields>

					</documentOptions>
				</dutyfreeIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>