<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore search:require="solr">
		<contentSearch>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes hint="list:AddIndex">
					<index id="Adani_SuperApp_FlightSearch_Web_Index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">Adani_SuperApp_FlightSearch_Web_Index</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/flightSearchConfiguration" />
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" role:require="Standalone or (ContentManagement and Indexing)" />
						</strategies>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/AirportHome/Datasource/Airlines</Root>
							</crawler>
						</locations>
					</index>
				</indexes>
			</configuration>
			<indexConfigurations>
				<flightSearchConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
					<documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
						<include hint="list:AddIncludedField">
							<FlightCode>{ED5D45DE-3BB3-47AA-9F98-A02367D50BA0}</FlightCode>
							<FlightName>{366AE1EC-CC15-4035-89AB-7A29EB48A273}</FlightName>
						</include>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="logo" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.AirlineLogoComputedField, Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="thumbnailimage" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.AirlineThumbImageComputedField, Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="mobileimage" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.AirlineMobileImageComputedField, Adani.SuperApp.Airport.Foundation.Search.Platform</field>
							<field fieldName="airlinetype" returnType="string">Adani.SuperApp.Airport.Foundation.Search.Platform.ComputedFields.AirlineTypeComputedField, Adani.SuperApp.Airport.Foundation.Search.Platform</field>
						</fields>

						<!-- Included templates -->
						<include hint="list:AddIncludedTemplate">
							<FlightDetails>{17F58657-02BF-4E02-8C7D-9E6CB165641D}</FlightDetails>
						</include>
					</documentOptions>

				</flightSearchConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>
