<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore search:require="solr">
		<contentSearch>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes hint="list:AddIndex">
					<index id="Sitecore_Adani_SuperApp_MasterList_Master_Index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">Sitecore_Adani_SuperApp_MasterList_Master_Index</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/masterListConfiguration" />
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="ContentManagement and !Indexing" />
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster" role:require="Standalone or (ContentManagement and Indexing)" />
						</strategies>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>master</Database>
								<Root>/sitecore/content/AirportHome/Global/Masters</Root>
							</crawler>
						</locations>
					</index>
				</indexes>
			</configuration>
			<indexConfigurations>
				<masterListConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
					<documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
						<include hint="list:AddIncludedField">
							<CountryName>{6889F96A-125D-43E0-8B42-46ABED0CC3AE}</CountryName>
							<CountryCode>{8834B552-677B-46C0-B813-448E0EFFC656}</CountryCode>
						</include>					

						<!-- Included templates -->
						<include hint="list:AddIncludedTemplate">
							<Country>{C102BB4A-5CDF-4643-878E-A0DDA6688A1D}</Country>
						</include>
					</documentOptions>

				</masterListConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>
