@font-face {
  font-family: 'Helvetica Neue CE 56 Italic';
  src: url('Helvetica%20Neue%20CE%2056%20Italic.eot');
  src: url('Helvetica%20Neue%20CE%2056%20Italicd41d.eot?#iefix') format('embedded-opentype'),
       url('Helvetica%20Neue%20CE%2056%20Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCE-Italic';
  src: url('HelveticaNeueCE-Italic.svg#HelveticaNeueCE-Italic') format('svg'),
       url('HelveticaNeueCE-Italic.ttf') format('truetype'),
       url('HelveticaNeueCE-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue CE 55 Roman';
  src: url('Helvetica%20Neue%20CE%2055%20Roman.eot');
  src: url('Helvetica%20Neue%20CE%2055%20Romand41d.eot?#iefix') format('embedded-opentype'),
       url('Helvetica%20Neue%20CE%2055%20Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCE-Roman';
  src: url('HelveticaNeueCE-Roman.svg#HelveticaNeueCE-Roman') format('svg'),
       url('HelveticaNeueCE-Roman.ttf') format('truetype'),
       url('HelveticaNeueCE-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniBT-BookItalic';
  src: url('BodoniBT-BookItalic.svg#BodoniBT-BookItalic') format('svg'),
       url('BodoniBT-BookItalic.ttf') format('truetype'),
       url('BodoniBT-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt0036m';
  src: url('tt0036m.eot');
  src: url('tt0036md41d.eot?#iefix') format('embedded-opentype'),
       url('tt0036m.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue CE 75 Bold_0';
  src: url('Helvetica%20Neue%20CE%2075%20Bold_0.eot');
  src: url('Helvetica%20Neue%20CE%2075%20Bold_0d41d.eot?#iefix') format('embedded-opentype'),
       url('Helvetica%20Neue%20CE%2075%20Bold_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCE-Bold';
  src: url('HelveticaNeueCE-Bold.svg#HelveticaNeueCE-Bold') format('svg'),
       url('HelveticaNeueCE-Bold.ttf') format('truetype'),
       url('HelveticaNeueCE-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KGWaystoSayGoodbye';
  src: url('KGWaystoSayGoodbye.eot');
  src: url('KGWaystoSayGoodbyed41d.eot?#iefix') format('embedded-opentype'),
       url('KGWaystoSayGoodbye.svg#KGWaystoSayGoodbye') format('svg'),
       url('KGWaystoSayGoodbye.ttf') format('truetype'),
       url('KGWaystoSayGoodbye.woff') format('woff'),
       url('KGWaystoSayGoodbye.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

