@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ 
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="heading-content mt-top">
        <h3 class="sub-heading">@Html.Sitecore().Field("Title", currentItem)</h3>
        <p>
            @Html.Sitecore().Field("Description", currentItem)
        </p>
        @Html.Sitecore().DynamicPlaceholder("domestic-flights-placeholder")
    </div>
} 

