@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ 
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="flight-des">
        <ul>
            @foreach (Sitecore.Data.Items.Item benefits in currentItem.Children)
            {
                <li>
                    <i class="@Html.Sitecore().Field("cssClass", benefits)"></i>
                    <p>@Html.Sitecore().Field("Description", benefits)</p>
                </li>
            }
        </ul>
    </div>
}
