<div class="section-breadcrumb">
	<div class="container">
		<ol class="breadcrumb ad-breadcrumb margin-0">
			<li *ngFor="let breadcrumb of profiledata.GenericBredcrumbNavigation.Data; last as isLast"
				class="breadcrumb-item">
				<a *ngIf="!isLast" href="{{breadcrumb.Link}}">{{breadcrumb.Heading}}</a>
				<a *ngIf="isLast" class="active">{{breadcrumb.Heading}}</a>
			</li>
		</ol>
	</div>
</div>
<section class="py-5 bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img alt="{{profiledata.ImageAltText}}" src="{{profiledata.Image}}" class="img-fluid" />
			</div>
			<div class="col-lg-9">
				<div class="border-left pl-3 mb-3 chairman-title">
					<h2>{{profiledata.Heading}}</h2>
					<p>{{profiledata.Designation}}</p>
				</div>
				<div innerHTML="{{profiledata.HTMLText}}">

				</div>
			</div>
		</div>
	</div>
</section>