<section class="bg-gray position-relative d-block section property-booking">
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs d-md-flex d-none" id="navtabs">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#home"><i>1</i>Select Your Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1"><i>2</i>Enter Your Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2"><i>3</i>Make Payment</a>
            </li>
        </ul>
        @Html.Sitecore().Placeholder("Property-Details")

    </div>
</section>