@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="container">
    <div class="d-block d-lg-none topNavBtn">
        <button type="button" id="topNavCollapse" class="btn btn-menu">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <!-- /Toggle button to show/hide top menu -->
    <div class="row justify-content-center">
        <div class="col-auto col-lg-12 mr-lg-auto topLeft txt-right">
            @*<div class="" id="topMenu">
                <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
                <div class="clearfix"></div>*@
                @Html.Sitecore().Placeholder("left-header-top")
            </div>
        </div>
    </div>
</div>
