@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="navPanel">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            @Html.Sitecore().Placeholder("navbar-left")
            @Html.Sitecore().Placeholder("navbar-right")

        </nav>
    </div>
</div>