@using Sitecore.Data.Fields
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Realty.Website
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}

<div class="header">
    <div class="adanilogo"> <img src="-/media/BD4AC22D7DD146228A12EE8A78C840A9.ashx" class="logo-left"></div>
	<!-- <a href="/western heights" class="logo" title=""><img src="-/media/BD4AC22D7DD146228A12EE8A78C840A9.ashx" alt="Logo Code Green"></a> -->
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="nav-list">
        <li><a href="/western heights/about-us" title="">About Us</a></li>
        <!-- <li><a href="/codenamegreens/life-at-koregaon" title="">Life at Koregaon Park</a></li> -->
        <li><a href="/western heights/western height" title="">Western Heights</a></li>
        <li><a href="/western heights/project-details" title="" class="active">Project Details</a></li>
        <li><a href="/western heights/events" title="">Events</a></li>
    </ul>
    <ul class="main-menu">
        <li><a href="/western heights/about-us" title="">About Us</a></li>
        <!-- <li><a href="/western heights/life-at-koregaon" title="">Life at Koregaon Park</a></li> -->
        <li><a href="/western heights/western height" title="">Western Heights</a></li>
        <li><a href="/western heights/project-details" title="" class="active">Project Details</a></li>
        <li><a href="/western heights/events" title="">Events</a></li>
    </ul>
   <a href="/western heights" class="logo-right" title=""><img src="-/media/98D3D5C42FC243EB917FB246C5F68401.ashx" alt="Logo Code Green"></a>
</div>
<div class="sections-wrap">
    <div class="amenities-section bg-gray-image oyster-amenities"  style="background-image:url('../../images/wh-bg.png') !important;">

        <div class="divscroll">
            <h3 class="text-center sectionHeading mb-4">Project Details</h3>
			<div class="row">
		<div class="pl-5 mb-5 col-sm-11 mx-auto">
			<iframe width="100%" height="515" src="https://www.youtube.com/embed/NGrIOUmATtA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
			
            <div class="row">
                <div class="gallery-container pl-5 mb-5 mx-auto">
                    <div class="col-sm-12">
                        <div class="owl-carousel owl-theme" id="gallery-bottom">
                             <div class="item">
								<img src="-/media/1C0B9848BDC24AC6A45BB16E008DE051.ashx" class="img-fluid w-100" alt="Gallery"></div>								
								<div class="item">
									<img src="-/media/C44FAD5AF2194EBEB656D4C4492259A3.ashx" class="img-fluid w-100" alt="Gallery">
								</div>
								 <div class="item">
									<img src="-/media/8106F255C83F4DE6A768555A08DF84F4.ashx" class="img-fluid w-100" alt="Gallery"></div>
								<div class="item">
									<img src="-/media/189654856AA74743813C094941902260.ashx" class="img-fluid w-100" alt="Gallery"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row"> -->
                <!-- <div class="col-sm-11  pl-5 ml-3"> -->
                    <!-- <div class="table-responsive"> -->
                        <!-- <table class="table img-block table-colored mb-5" style="border-left: 1px solid #00aa6f;border-bottom: 1px solid #00aa6f;border-right: 1px solid #ed4c23;"> -->
                            <!-- <thead> -->
                                <!-- <tr> -->
                                    <!-- <th>BHK</th> -->
                                    <!-- <th>TYPE</th> -->
                                <!-- </tr> -->
                            <!-- </thead> -->
                            <!-- <tbody> -->
                                <!-- <tr> -->
                                    <!-- <td><b>2</b></b></td> -->
                                    <!-- <td>Royal <br><hr class="my-1">Grandeur</td> -->
                                <!-- </tr> -->
                                <!-- <tr> -->
                                    <!-- <td><b>2.5</b></td> -->
                                    <!-- <td>Royal<br><hr class="my-1">Grandeur</td> -->
                                <!-- </tr> -->
                                <!-- <tr> -->
                                    <!-- <td><b>3</b></td> -->
                                    <!-- <td>Royal <br><hr class="my-1">Grandeur</td> -->
                                <!-- </tr> -->
                            <!-- </tbody> -->
                        <!-- </table> -->
                    <!-- </div> -->
                <!-- </div> -->

            <!-- </div> -->
        </div>

    </div>
    <!--<a href="" class="sticky-btn" rel="enquiryForm">Enquire Now</a>-->
    <div class="mobile-features-wrap" role="toolbar">
    </div>	<div class="form-wrap" >
    @Html.Sitecore().Placeholder("Enquire-Now-Form")
</div>

</div>
<div class="disclaimer desktop-only">
    <p>RERA no. P51800001290  |  maharera.mahaonline.gov.in</p><p>Site: JP Road, Manish Nagar,Bhudargarh Colony, Andheri West,Mumbai-400047</p>
    <p>For Enquiries, Call: 1800 108 0009. Email: info@adanirealty.com</p>
</div>
<div class="disclaimer mob-only">
    <p>RERA no. P51800001290  |  maharera.mahaonline.gov.in</p><p>Site: JP Road, Manish Nagar,Bhudargarh Colony, Andheri West,Mumbai-400047</p>
    <p>For Enquiries, Call: 1800 108 0009. Email: info@adanirealty.com</p>
</div>
<div class="modal video" id="disclaimer">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- Modal body -->
            <div class="modal-body modal-scroll">
                <div class="data">
                    <h5>Disclaimer</h5>
                    <li>
                        Any person logging on to or using the site (“the Visitor”) has unconditionally accepted the terms and conditions of use and these constitute a binding and enforceable agreement between the visitor and the Adani Realty.<br><br>
                        1. The information on this website is presented as general information and no representation or warranty is expressly or impliedly given as to it accuracy, completeness or correctness.<br><br>
                        2.The visitor is presumed to have read the terms and conditions of the website and is deemed to have agreed, understood and accepted unconditionally all the terms, conditions, procedure and risks of logging onto the website and cannot claim, at anytime, ignorance of any or all of them. All relationships of any visitor of this website wheresoever’s situated is governed by and in accordance with the laws and jurisdiction of Ahmedabad, India.<br><br>
                        3.The Adani Realty uses all diligence, skill and expertise available to provide information on this website but does not accept or undertake any express or implied warranty of any nature whatsoever and the Adani Realty disclaims all or any errors and mistakes to the fullest extent. The Adani Realty does not warrant that the information offered will be error-free, or that the defects will be corrected, or that this site or the server that makes it available are or will be free of viruses or other harmful components. The Adani Realty shall not be under any obligation to ensure compliance or handle complaints.<br><br>
                        4. The Adani Realty website may unintentionally include inaccuracies or errors with respect to the description of a plot/flat size, site plan, floor plan, a rendering, a photo, the elevation, prices, taxes, adjacent properties, amenities, design guidelines, completion dates, features, zoning, buyer incentives etc. Square footage and room sizes are approximate and may vary.<br><br>
                        5. The plans, specifications, images and other details herein are only indicative and the Adani Realty reserves the right to change any or all of these in the interest of the project/development. The Website does not constitute an offer and/or contract of any nature whatsoever. Any purchase/leave and license in any project shall be governed by the terms of the agreement entered into between the parties and no details mentioned on this website shall govern the transaction. The Adani Realty and its respective subsidiaries and affiliates, and their respective officers, directors, partners, employees, agents, managers, trustees, representatives or contractors of any of them, related thereto and any successors or assigns of any of the foregoing shall not be liable for any direct, indirect, actual, punitive, incidental, special, consequential damages or economic loss whatsoever, arising from or related to the use of or reliance on this Web site. The Adani Realty reserves the right to alter, amend and vary the layout, plans, and specifications or feature without prior notice or obligation, but subject to the approval of the competent authorities as applicable.<br><br>
                        6. The visitor has, by the act of logging onto the website and/or submitting information or giving his name, address, email addresses as identification to the Adani Realty through the website, on phone, fax or e-mail, deemed to have consented and has expressly and irrevocably authorized the Adani Realty to use, reveal, analyze or display and transmit all information and documents as may be required by it. The visitor represents and warrants that he has provided true, accurate, current and complete information about himself and if any information is found to be untrue, inaccurate, not current or incomplete, the Adani Realty has the right to take any action it deems appropriate without any limitation.<br><br>
                        7. The visitor represents and warrants that he/she is fully aware of the laws of the country/state he/she resides in and also those of India particularly those governing use, sale, lease, transfer of real estate and the visitor is neither violating nor attempting to violate any law.<br><br>
                        8. The contents, information and material contain in this website are the exclusive property of the Adani Realty and are protected by copyright and intellectual property laws. No person shall use, copy, reproduce, distribute, initiate, publish, display, modify, create derivative works or database, use, transmit, upload, exploit, sell or distribute the same in whole or in part or any part thereof without prior express written permission from the Adani Realty. Facility to print an article or portion of text or material on this website through computer/electronic device does not tantamount to prior written consent.<br><br>
                        9. Notwithstanding anything stated hereinabove or in this website, it is clarified, understood and agreed that the Adani Realty through this website does not intend to make any offer, proposal or contract as per prevailing laws in India or any similar or relevant law in the country of residence or access of the visitor.<br><br>
                        10. The Adani Realty has the right to reproduce, monitor, disclose any transmission or information received and made to this website. Visitors may be sent information or contacted through the email addresses, phone numbers and postal addresses provided by the visitor on the website. Any visitor who may not desire to receive email from the Adani Realty may give clear instructions.<br><br>
                        11. The visitor shall not use or post any computer programs in connection with his/her use of the website that contain destructive features such as viruses anomalies, self-destruct mechanisms, time/logic bombs, worm, Trojan horses etc.<br><br>
                        12. Notwithstanding anything, in no event shall the Adani Realty, their promoters, directors, employees and agents be liable to the visitor for any or all damages, losses and causes of action (including but not limited to negligence), errors, injury, whether direct, indirect, consequential or incidental, suffered or incurred by any person/s or due to any use and/or inability to use this site or information or its links, hyperlinks, action taken or abstained or any transmission made through this website.<br>
                        13. Any links to off-site pages or other sites may be accepted by the visitor at his/her option and own risk and the Adani Realty assumes no liability for and shall be held harmless from any resulting damages. The Adani Realty strongly recommends that the visitors carefully reads the terms and conditions of such linked site(s).<br><br>
                        14. The Adani Realty reserves the right to terminate, revoke, modify, alter, add, and delete any one or more of the terms and conditions of the website. The Adani Realty shall be under no obligation to notify the visitor of the amendment to the terms and conditions and the visitor shall be bound by such amended terms and conditions.<br><br>
                        15. Product cost listed on the website is indicative in nature, actual product cost might be different. Any person logging on to or using the site (“the Visitor”) has unconditionally accepted the terms and conditions of use and these constitute a binding and enforceable agreement between the visitor and the Adani Realty.
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>