.form_panel {
}

.bg-l-gray {
    background: #f9f9f9;
}

.box-shadow {
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 32%);
}

.form_panel button {
    min-width: 120px;
}

.form_panel .form-check-label {
    margin-bottom: 0px;
    padding-top: 6px;
    padding-left: 5px;
}

.form_panel input[type="checkbox"] {
}

.form_panel hr {
    border-top: 1px solid #f1f1f1;
}

.form_panel select {
    outline: 0;
    height: calc(2.1rem + 5px) !important;
    color: #8a8a8a;
    background: #ffffff;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 0px #000 !important;
}
.form_panel .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form_panel input, .form_panel textarea {
    outline: 0;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 0px #000 !important;
}

.form_panel label {
    font-size: 14px;
    margin-bottom: 0.25rem;
}

.form_panel .intl-tel-input {
    width: 100%;
}

.selected-dial-code {
    font-size: 12px;
}


.section-login {
    border-color: #1a727f;
    position: relative;
    padding: 6rem 0rem;
    background: #000;
}

    .section-login .bg-images {
    }

        .section-login .bg-images img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }

.box-login {
    position: relative;
    max-width: 450px;
    margin-left: auto;
    background: #ffffff;
    padding: 1.5rem;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 61%);
    border-radius: 23px;
}

    .box-login h1 {
        font-size: 2rem;
        color: #1d9b97;
        font-weight: 500;
    }

    .box-login h2 {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .box-login .seperater {
        text-align: center;
        margin-bottom: 0.8rem;
        color: #808080;
        font-weight: 400;
    }

    .box-login .user-registration {
        font-size: 14px;
        color: #4e4e4e;
    }

        .box-login .user-registration a {
            color: #1c9e96;
            font-weight: 500;
            text-decoration: underline;
            transition: ease all 0.3s;
        }

            .box-login .user-registration a:hover {
                color: #000;
                transition: ease all 0.3s;
            }

.box-login {
}

.user_logout {
    display: inline-block;
    cursor: pointer;
    color: #1d9b97;
    font-weight: 600;
    transition: ease all 0.3s;
}

    .user_logout:hover {
        color: #000;
        transition: ease all 0.3s;
    }

    .user_logout span {
    }

.box-login .form_panel input, .box-login .form_panel textarea {
    background: #f2f2f2;
}
table.dataTable th, table.dataTable td {
    white-space: nowrap;
}

.dataTables_wrapper .row {
    width: 100%;
}

.dt-responsive {
    min-width: 1500px;
}
#bookings_wrapper .row .col-sm-12 {
    width: 100%;
    overflow-x: auto;
}
#bookings_wrapper .row col-sm-12::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#bookings_wrapper .row col-sm-12::-webkit-scrollbar-track {
    background: transparent;
    height: 2px;
}

#bookings_wrapper .row col-sm-12::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
    height: 2px;
}
.btn-dark {
    color: #fff !important;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-secondary {
    color: #fff !important;
    background-color: #525252;
    border-color: #525252;
}
.btn-info {
    color: #fff !important;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.dataTables_length {
}

    .dataTables_length label {
        float: left;
    }

    .dataTables_length select {
        max-width: 86px;
    }

#bookings_filter {
}

    #bookings_filter label {
        float: right;
        right: 0px;
        position: relative;
    }

    #bookings_filter input {
        height: calc(1.5em + .75rem + 2px) !important;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

.dataTables_paginate .pagination {
    margin-top: 1rem !important;
}

    .dataTables_paginate .pagination .paginate_button {
    }

        .dataTables_paginate .pagination .paginate_button.disabled a {
            color: #000;
        }

        .dataTables_paginate .pagination .paginate_button a {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #007bff;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }


.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1;
}

.dataTables_scrollBody {
    padding-bottom: 0.3rem;
}

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 3px;
        background: #ccc;
        border-radius: 4px;
        height: 5px;
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        background: transparent;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background: #000;
        border-radius: 2px;
        width: 6px;
    }

a.dt-button {
    background: #1b9f94 !important;
    color: #fff !important;
    background: -moz-linear-gradient(left,#1b9f94 0,#316db3 100%) !important;
    background: -webkit-gradient(left top,right top,color-stop(0,#1b9f94),color-stop(100%,#316db3)) !important;
    background: -webkit-linear-gradient(left,#1b9f94 0,#316db3 100%) !important;
    background: -o-linear-gradient(left,#1b9f94 0,#316db3 100%) !important;
    background: -ms-linear-gradient(left,#1b9f94 0,#316db3 100%) !important;
    background: linear-gradient(to right,#1b9f94 0,#316db3 100%) !important;
    transition: ease all .3s;
}

.approval_timeline {
}

    .approval_timeline ul {
        padding-left: 0px;
        list-style-type: none;
        position: relative;
        margin-bottom: 0px;
    }

        .approval_timeline ul:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            width: 2px;
            background: #ededed;
        }

        .approval_timeline ul li {
            font-size: 11px;
            margin-bottom: 10px;
            color: #3A3A3A;
            position: relative;
            padding-left: 10px;
            font-weight: 600;
        }

            .approval_timeline ul li:last-child {
                margin-bottom: 0px;
            }

            .approval_timeline ul li:before {
                content: "";
                background: #ededed;
                position: absolute;
                left: -4px;
                top: 3px;
                width: 10px;
                height: 10px;
                border-radius: 100px;
            }

            .approval_timeline ul li span {
                color: #4e4e4e;
                width: 80%;
                display: block;
            }

            .approval_timeline ul li i {
                color: #a9a9a9;
                position: absolute;
                right: 0px;
                top: 0px;
            }

@media (max-width:767px) {
    .approval_timeline ul li span {
        width: 100%;
    }

    .approval_timeline ul li i {
        position: relative;
        color: #7b7b7b;
    }
}