@font-face {
    font-family: 'Adani-Regular';
    src: url('../../webfonts/Adani-ExtraLight.woff') format('woff'),
        url('../../webfonts/Adani-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../../webfonts/Adani-Medium.woff') format('woff'),
        url('../../webfonts/Adani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../../webfonts/Adani-Regular.woff') format('woff'),
        url('../../webfonts/Adani-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../../webfonts/Adani-Regular_1.woff') format('woff'),
        url('../../webfonts/Adani-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../../webfonts/Adani-Light.woff') format('woff'),
        url('../../webfonts/Adani-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../../webfonts/Adani-Bold.woff') format('woff'),
        url('../../webfonts/Adani-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adani-Regular';
    src: url('../../webfonts/Adani-SemiBold.woff') format('woff'),
        url('../../webfonts/Adani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
body{margin: 0px; padding: 0px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; font-size: 16px; background-color: #f4efec;font-family: 'Adani-Regular';}

.btn {
    border-radius: 0px;
    padding: .45rem 1.2rem;
    font-size: 18px;
    line-height: 1.31;
}

.btn-primary {
    font-weight: 500;
    color: #fff;
    background-color: #2f5597;
    border-color: #2f5597;
    min-width: 120px;
	transition: ease all 0.6s;
}
.btn-primary:hover {
    color: #fff;
    background-color: #4a4a4a;
    border-color: #4a4a4a;
	transition: ease all 0.6s;
}

.login-container{height:100vh;}
.login-sidebar--thumb{height: 100vh; width: 100%;}
.login-sidebar--thumb img{width: 100%; object-fit: cover; height: 100%;}
.login-sidebar--form{background: #fff; height: 100%; width: 100%;}
.login-sidebar--form{}
.login-sidebar--form h1{font-size: 2rem; margin: 1rem 0rem;}
.login-sidebar--form label{font-size: 14px;}
.login-sidebar--form input{background: #f1f1f1; border: 1px solid #dadada; border-radius: 0px; font-size: 14px;}
.login-sidebar--form .error-msg{font-size: 12px; display: block; margin-top: 5px;}
.fixed_copyright{position: absolute; bottom: 0px; padding: 0.5rem 4.5rem;}
.fixed_copyright p{margin-bottom: 0px; font-size: 14px; color: #545454; font-weight: 400;}

.sidebar-fixed{position: relative; display: -ms-flexbox; display: flex; -ms-flex: 0 0 70px; flex: 0 0 70px; -ms-flex-direction: column; flex-direction: column; -ms-flex-order: -1; order: -1; width: 70px;margin-left: 0px; padding: 0; box-shadow: none; color: #fff; background: rgb(40,164,154); background: linear-gradient( 192deg , rgba(40,164,154,1) 43%, rgba(60,118,182,1) 70%);transition: ease all 0.3s;height: 100vh;position: fixed; top: 66px; bottom: 0; z-index: 1030;}
.sidebar-fixed-show{transition: ease all 0.3s; margin-left: 0px;width: 220px;}
.sidebar-fixed-brand{text-align: center; background: #f7f7f7; padding: 1rem;}
.sidebar-fixed-brand img{max-width: 100px;}
.sidebar-fixed-nav{padding: 0px;}
.sidebar-fixed-nav .sidebar-nav-item{}
.sidebar-fixed-nav a{display: block; padding: 1.8rem 1rem;font-size: 17.5px; font-weight: 500;color:#fff;transition: ease all 0.6s;position: relative;text-align: center;}
.sidebar-fixed-nav a img{max-width: 45px;margin-bottom: 10px;transition: ease all 0.6s;}
.sidebar-fixed-nav a span{display: block;}
.sidebar-fixed-nav a:hover, .sidebar-fixed-nav .active a{text-decoration:none;background: #228d93;transition: ease all 0.6s;}
.sidebar-fixed-nav .sidebar-nav-dropdown{}
.sidebar-fixed-nav .sidebar-nav-dropdown.show{background: #344156;}
.sidebar-fixed-nav .sidebar-nav-dropdown > a:after{content:"\f104";font: normal normal normal 14px/1 FontAwesome;position: absolute; top: 50%; transform: translateY(-50%); right: 20px;transition:ease all 0.6s; transform: translateY(-50%) rotate(0deg);}

.sidebar-nav-dropdown .sidebar-nav-dropdown-items{max-height: 0; padding: 0; overflow-y: hidden; list-style: none; transition: max-height .3s ease-in-out;}
.sidebar-nav-dropdown.show .sidebar-nav-dropdown-toggle:after{transition:ease all 0.6s;    transform: translateY(-50%) rotate(-90deg);}
.sidebar-nav-dropdown.show .sidebar-nav-dropdown-items{max-height: 1500px;}

.content-wrapper{transition: margin .3s; display: -ms-flexbox; display: flex; -ms-flex: 1; flex: 1; -ms-flex-direction: column; flex-direction: column; min-width: 0; min-height: 93vh;background: #ebedef;}
.wrapper-header{background: #fff; position: relative; display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-negative: 0; flex-shrink: 0; min-height: 50px;padding: 0.5rem 1rem;position: fixed; width: 100%; top: 0px; z-index: 9;}
.wrapper-header .header-toggler{border: 0px; background: transparent;padding: 0.8rem 1rem;outline: 0;color: #29a59b;}
.wrapper-breadcrumb{background: #ebedef; border-bottom: 1px solid #e0e0e0;box-shadow: 0px 0px 13px -2px rgb(0 0 0 / 22%);}
.wrapper-breadcrumb ol{padding-left: 1rem;margin-bottom: 0px;}
.wrapper-breadcrumb ol li{list-style-type: none;display: inline-block;}
.wrapper-breadcrumb ol li a{color: #000; font-size: 14px; padding: 0.8rem 0rem; display: inline-block;transition:ease all 0.6s;}
.wrapper-breadcrumb ol li a:hover{color: #000;transition:ease all 0.6s;text-decoration:none;}
.wrapper-breadcrumb ol li:first-child a{color: #3c76b6;}
.wrapper-breadcrumb ol li:before{content:"<";margin: 0px 10px; color: #949494;}
.wrapper-breadcrumb ol li:last-child:before{content:"";margin: 0px 0px;}
.wrapper-breadcrumb ol li:first-child:before{content:"";display:none;}
.wrapper-header .wrapper-header-avatar{}
.wrapper-header .wrapper-header-avatar ul{    margin-bottom: 0px;}
.wrapper-header .wrapper-header-avatar ul li{list-style-type: none;display: inline-block;}
.wrapper-header .wrapper-header-avatar li > a{padding: 0.7rem 1rem; display: inline-block;color: #3c76b6;}
.wrapper-header .wrapper-header-avatar li > a span:last-child{font-size: 12px; margin-right: 5px; position: relative; top: -1px;}
.wrapper-header .wrapper-header-avatar li.has-submenu > a:after{content:"\f107";font: normal normal normal 16px/1 FontAwesome;}
.wrapper-header .wrapper-header-avatar li.has-submenu > a:hover{text-decoration:none;}
.wrapper-header-avatar-dropdown li a:after{content:" "; !important;display:none;}

.wrapper-header-avatar{}
.wrapper-header-avatar.show{}
.wrapper-header-avatar .wrapper-header-avatar-dropdown{max-height: 0; padding: 0; list-style: none; transition: max-height .3s ease-in-out;display: none;position: absolute; right: 5px; width: 200px; background: #fff;border: 1px solid #f1f1f1;z-index: 9; box-shadow: 0px 1px 1px -1px #000;}
.wrapper-header-avatar .wrapper-header-avatar-dropdown li{display: block !important;}
.wrapper-header-avatar .wrapper-header-avatar-dropdown li a{width: 100%; font-size: 14px;border-bottom: 1px solid #f1f1f1;transition:ease all 0.6s;color: #7f7f8a;}
.wrapper-header-avatar .wrapper-header-avatar-dropdown li a:hover{color:#000;transition:ease all 0.6s;}
.wrapper-header-avatar li.show .wrapper-header-avatar-dropdown{max-height: 1500px;display: block;}

.wrapper-body{background: #ebedef;padding: 17px;}
.wrapper-body h1{font-size: 1.5rem; margin-bottom: 1.5rem;font-weight: 600;}
.wrapper-body h2{font-size: 1.25rem;font-weight: 500;position:relative;color:#0065b3;}
.wrapper-body h2 span{position: relative; background: #ebedef; padding-right: 1rem;}
.wrapper-body h2 a{font-size: 1rem;color:#28a49a;margin-top: 4px; background: #ebedef; position: relative; padding-left: 1rem;font-weight: 600;}
.panel-body{background: #fff; box-shadow: 0px 1px 5px -1px #ccc; padding: 1rem; border-radius: 3px;}
.panel-body h1{font-size: 1.5rem; margin-bottom: 1rem;}

.edit-btn{color: #313e52;}
.edit-btn:hover{color: #000;}

.pagination{}
.pagination li{}
.pagination li a{color: #3c4b64;font-size: 14px;transition: ease all 0.6s;}
.pagination li a:hover{background: #f1f1f1; color: #313e52; transition: ease all 0.6s;box-shadow: 0px 0px 0px transparent;}

footer{margin-left: 220px; padding: 0.8rem 1rem;background: #ebedef; border-top: 1px solid #dadada;}
footer p{margin-bottom: 0px; font-size: 12px; line-height: 13px; padding-top: 5px;}
footer-lg{}

.box-block{background: #fff; padding: 1rem;background: #fff; box-shadow: 0px 0px 0px 0px #525252;transition: ease all 0.5s; transform: translateY(0px);height: 100%;}
.box-block:hover{box-shadow: 0px 3px 10px -5px #525252;transition: ease all 0.5s; transform: translateY(-3px);}
.loan_details h4{font-size: 0.8rem; font-weight: 600;color: #0065b3;}
.loan_details h4 span{font-size: 0.8rem; font-weight: 500;}
.loan_details h4 span.active{}
.loan_details h5{font-size: 0.55rem; color: #6f6f6f;}
.loan_details p{font-size: 14px; color: #000;margin-bottom: 0px;}
.loan_summary h3{}
.loan_summary p{}

.custom-select{max-width: 100px;}
.radius-0{border-radius:0px;}
.w-80{width:80%;}
.w-49{width:49%;}
.bg-1{background: #0065b3;}
.bg-2{background: #25cbd3;}
.bg-3{background: #80bd01;}
.txt-blue{color:#0065b3;}

.ul-decimal{}
.ul-decimal li{list-style-type: decimal;}

.stepform_container{background: #dde0e2; padding: 1.5rem; margin-top: 2rem;}
.stepform_container .setup-panel{display: flex; flex: 1 1;margin: 0px -15px 30px -15px;}
.stepform_container .setup-panel li{flex: auto;margin: 0px 15px;}
.stepform_container .setup-panel li a{}
.stepform_container .setup-panel li a h4{color: #fff; font-size: 1rem; font-weight: 600; background: #ccc; padding: 0.5rem 0.5rem;text-align:center;}
.stepform_container .setup-panel li.active a h4{background: #3c4b64;}

.card-new_loan{}
.card-new_loan a{display: block; text-align: center; padding: 1.5rem 1.5rem;background: rgb(255 255 255 / 100%); border: 1px solid #e6e6e6;box-shadow: 0px 0px 0px 0px #525252; transition: ease all 0.5s; transform: translateY(0px);}
.card-new_loan a:hover{background: rgb(255 255 255 / 100%); border: 1px solid #e6e6e6;box-shadow: 0px 3px 10px -5px #525252; transition: ease all 0.5s; transform: translateY(-4px);text-decoration:none;}
.card-new_loan img{margin-bottom: 1.5rem;max-width: 60px;}
.card-new_loan p{color: #000; font-size: 1.25rem;}

.status-active{color: #444;position: absolute; top: 10px; right: 10px;padding-right: 15px;}
.status-active:after{content:"";width: 10px; height: 10px; display: block; position: absolute; top: 3px; right: 0px; background: #80bd01; border-radius: 100px;}
.status-pending{color: #444;position: absolute; top: 10px; right: 10px;padding-right: 15px;}
.status-pending:after{content:"";width: 10px; height: 10px; display: block; position: absolute; top: 3px; right: 0px; background: #ffc107; border-radius: 100px;}
.status-rejected{color: #444;position: absolute; top: 10px; right: 10px;padding-right: 15px;}
.status-rejected:after{content:"";width: 10px; height: 10px; display: block; position: absolute; top: 3px; right: 0px; background: #f44336; border-radius: 100px;}

.loan_details.text-white p{color:#fff;margin-bottom: 0px;}

.upcoming-installements{margin: 15px 0px; background: #003c61; color: #fff; padding: 15px;}
.upcoming-installements h2{color: #fff;}
.upcoming-installements p{color: #fff;}
.upcoming-installements h4{color: #fff;}
.upcoming-installements h5{color: #fff;}
.upcoming-installements h2 span{background: transparent; color: #fff;}
.upcoming-installements h2:before{display:none;}

.loan_details--acc-no{font-size: 0.8rem !important;}

.notification_ul{
    list-style: none;
    padding-left: 0px;
}
.notification_ul li{
    position: relative;
    padding-left: 40px;
    list-style-type:none;
    padding-top: 15px;
}
.notification_ul li span{
    position: absolute;
    left: 0px;
    top: 25px;
}
.notification-border{
    border-bottom: 1px solid #c9c9c9;
}

.notification-date{
    margin-top: 20px;
}
.nav-tabs {
    border-bottom: 0 solid #1a727f
}

.nav-tabs .nav-link {
    border: 1px solid #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #000;
    padding: .5rem .5rem;
    background: #dedede;
    font-weight: 400;
    font-size: 14px;
    margin-right: 3px
}

.nav-tabs .nav-item {
    font-size: 12px
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff !important;
    border-color: #1a727f;
    background: -moz-linear-gradient(left, #1b9f94 0, #316db3 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, #1b9f94), color-stop(100%, #316db3));
    background: -webkit-linear-gradient(left, #1b9f94 0, #316db3 100%);
    background: -o-linear-gradient(left, #1b9f94 0, #316db3 100%);
    background: -ms-linear-gradient(left, #1b9f94 0, #316db3 100%);
    background: linear-gradient(to right, #1b9f94 0, #316db3 100%)
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #1a727f
}
.box_userprofile{background: rgb(40,164,154); background: linear-gradient( 192deg , rgb(54 114 176) 43%, rgb(40 101 164) 70%); color: #fff; padding: 1.5rem;height:100%;}
.box_userprofile h1{font-weight: 300; font-size: 1.25rem;}
.box_userprofile h1 span{font-weight: 600; font-size: 1.5rem;}
.box_userprofile p{font-size: 14px;}
.box_userprofile p span{font-weight: 600;}
.box_userprofile p:last-child{margin-bottom: 0px;}
.box_userprofile p span.large{font-size: 2.5rem;}

.box_totaltransactions{padding: 1.5rem;background: #fff; height: 100%;}
.box_totaltransactions h2{font-size: 2rem; font-weight: 600; margin-bottom: 0px;}
.box_totaltransactions p{}
.text-blue{}
.text-green{color: #28a49a !important;}
.text-gray{color: #717171 !important;}

.btn-secondary { color: #fff; background-color: #28a49a; border-color: #28a49a; }

.box_currentloan{padding: 1.5rem;background: #fff; height: 100%;}
.box_currentloan h3{font-size: 1.25rem; color: #3c76b6; font-weight: 500; margin-bottom: 1.5rem;}
.box_currentloan h3 span{color: #888888; font-size: 0.9rem;}
.box_currentloan p{font-weight: 600;}
.box_currentloan p span{font-weight: 500; font-size: 0.9rem; color: #9a9a9a;}
.box_currentloan .btn-link{color: #3c76b6; text-decoration: underline;}

.box_quicklinks{padding: 1.5rem;background: #fff; height: 100%; }
.box_quicklinks h3{font-size: 1.25rem; color: #3c76b6; font-weight: 500; margin-bottom: 1.5rem;}
.box_quicklinks ul{padding-left:0px;}
.box_quicklinks ul li{list-style-type: none; position: relative; padding-left: 50px; height: 40px; border-bottom: 1px solid #f5f5f5; margin-bottom: 7px;}
.box_quicklinks ul li:last-child{border-bottom: 0px solid #f5f5f5;margin-bottom: 0px;}
.box_quicklinks ul li span{position: absolute; left: 0px;}
.box_quicklinks ul li span img{width: 30px; object-fit: cover;}
.box_quicklinks ul li a{color: #000; font-weight: 600;}
.box_quicklinks ul li a:hover{color: #28a49a;text-decoration:none;}

.box_shadow{box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 22%);}

.offers_carousel .owl-dots{position: absolute; bottom: 10px; text-align: right; display: inline-block; right: 0px;}
.offers_carousel .owl-dots button{outline: 0;}
.offers_carousel .owl-dots button.active{}
.offers_carousel .owl-dots button.active span{background:#fff;position: relative; top: 0px; transition: ease all 0.5s;width: 30px;}
.offers_carousel .owl-dots button span{width: 10px; height: 10px; border-radius: 100px; background: #fff; display: block;margin-right:10px;position: relative; top: 0px; transition: ease all 0.5s;}

.bg-images { position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: 0; }
.bg-images img { border-radius: 0; min-height: 100%; min-width: 100%; position: relative; height: 100%; object-fit: cover; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 50%; left: 50%; }

.box_downloadapp{position: relative; height: 100%;background: #28a49a;}
.box_downloadapp .bg-images img{opacity:0.4;}
.box_downloadapp--content{position: relative; height: 100%; padding: 1.5rem;}
.box_downloadapp--content h3{font-size: 1.7rem; color: #fff; font-weight: 400; margin-bottom: 2.5rem;}
.box_downloadapp--content p{}

.ft-policy-links { display: inline-block;margin-bottom:0px;padding-left: 0px; }
.ft-policy-links li { list-style: none; display: inline-block;}
.ft-policy-links li:first-child a { border-left: none; }
.ft-policy-links li a { color: #343a40; padding: 0 .5rem 0 .5rem; font-size: .8rem; border-left: 1px solid #f3f3f3; }

footer{}
footer p{color: #5d5d5d;font-size:14px;}
.footer_links{margin-bottom: 0rem;}
.footer_links li{display: inline-block;}
.footer_links li:after{content:"|";color: #5d5d5d;margin: 0px 10px;}
.footer_links li:last-child:after{display:none;}
.footer_links li a{color: #5d5d5d; text-decoration: none;font-size: 14px;}
.footer_links li a:hover{color: #000; text-decoration: underline;}

.bg-images { position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: 0; } .bg-images img { border-radius: 0; min-height: 100%; min-width: 100%; position: relative; height: auto; opacity: 1; object-fit:cover;}

.section-Quick_links{position: fixed; width: 100%; bottom: 0%; z-index: 1; right: 75px;transition: ease all 0.6s;left: 50%; transform: translateX(-50%); background: rgb(119 247 238 / 90%);}
.section-Quick_links.hide ul{transition: ease all 0.6s;opacity:0;max-height:0;}
.section-Quick_links.hide p{}
.section-Quick_links .container-fluid{}
.section-Quick_links p.close{display: none !important;}
.section-Quick_links p.open{}
.section-Quick_links p{position: absolute; right: 0px; top: -30px; background: #fff; border: 1px solid #ccc; font-size: 12px; padding: 3px 10px;opacity:1;cursor:pointer;transition: ease all 0.6s;}
.section-Quick_links ul{display: flex; margin: 0 -15px; transition: ease all 0s;opacity:1;overflow:hidden;    box-shadow: 0px 0px 0px 0px #000;    margin: 0px auto;border-radius: 0px;text-align: center;}
.section-Quick_links ul li{flex: auto;position:relative;list-style-type: none;}
.section-Quick_links ul li a{padding: 1.25rem 1rem;color: #0f524e; font-weight: 600; font-size: 16px;position:relative; transition: ease all 0.6s;transform: scale(1);display:inline-block;border: 0px;}
.section-Quick_links ul li a:hover{transition: ease all 0.6s; color: #000; transform: scale(1.05);}
.section-Quick_links ul li:after{content:"";height: 50%; width: 0px; display: block; position: absolute; right: 0px; top: 50%; background: #000;transform: translateY(-50%);}
.section-Quick_links ul li:last-child:after{content:"";display:none;}
.section-Quick_links ul li a span{}
.section-Quick_links ul li a span img{width: 25px;filter: brightness(0);}

.login-sidebar--form--v-middle small a{color:#9fdbff;padding-top: 0.35rem; display: block;}
.login-sidebar--form--v-middle .btn-primary{font-weight: 500; color: #fff; background-color: #525252; border-color: #525252;  min-width: 120px; border-radius: 16px; transition: ease all 0.6s;transform: translateY(0px);}
.login-sidebar--form--v-middle input{border-radius:0px;}
.login-sidebar--form--v-middle .btn-primary:hover{background-color: #fff; border-color: #fff;color: #4b88b8;}
.login-sidebar--form h1{font-size: 2rem; margin: 1rem 0rem;}
.text-sm{font-size: 1.2rem; font-weight: 600;}
.text-md{font-size: 1.6rem; font-weight: 600;}

.bg2b78ac{background:#2b78ac;}
.bg06b6b3{background:#06b6b3;}
.bg155883{background:#155883;}
.bg038885{background:#038885;}

.last-transactions{}
.last-transactions .table-responsive{max-height: 300px;padding-right: 10px;}
.last-transactions .table-responsive table{min-width: 550px;margin-bottom: 0px;}
.table-responsive::-webkit-scrollbar {
    width: 4px;
	background:#797979;
	border-radius: 4px;
}

.table-responsive::-webkit-scrollbar-track {
	background:#ccc;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #797979;
    border-radius: 2px;
	width:6px;
}
/* For Loader on Page by Ketan*/
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

    .loader p {
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        font-size: 16px;
        color: #fff;
    }

    .loader span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        border: 3px solid transparent;
        border-radius: 50%;
        animation: loader-spin linear infinite;
        animation-delay: -10s;
    }

        .loader span:nth-child(1) {
            width: 110px;
            height: 110px;
            animation-duration: 2s;
            border-bottom-color: #000;
            border-right-color: #000;
        }

        .loader span:nth-child(2) {
            width: 90px;
            height: 90px;
            animation-duration: 1s;
            border-bottom-color: #292929;
            border-right-color: #292929;
        }

        .loader span:nth-child(3) {
            width: 110px;
            height: 110px;
            animation-duration: 2s;
            border-bottom-color: #fff;
            border-right-color: #fff;
        }

        .loader span:nth-child(4) {
            width: 130px;
            height: 130px;
            animation-duration: 3s;
            border-bottom-color: #777777;
            border-right-color: #777777;
        }

        .loader span:nth-child(5) {
            width: 150px;
            height: 150px;
            animation-duration: 8s;
        }

        .loader span:nth-child(6) {
            width: 160px;
            height: 160px;
            animation-duration: 9.5s;
        }

@-moz-keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(405deg);
    }
}

@-webkit-keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(405deg);
    }
}

@-o-keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(405deg);
    }
}

@keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(405deg);
    }
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgb(0 0 0 / 33%);
}

/* For Loader on Page End by Ketan*/
/*Support Ticket History*/
.wrapper-body h2:before {
    display: none;
}

.notification_ul li span {
    position: relative;
    left: 0px;
    top: 0px;
}

.ticket_block {
    padding-left: 0px;
}

    .ticket_block li {
        padding-left: 0px;
        display: inline-block;
        margin-right: 1rem;
    }

        .ticket_block li span {
            font-size: 12px;
            color: #636363;
        }

.notification_ul li {
    padding-top: 0px;
}

.text-gray {
    color: #636363;
}

.ticket-ctas {
    padding: 1rem 0rem;
}

    .ticket-ctas span {
    }

    .ticket-ctas p {
        padding-top: 0.8rem;
    }

        .ticket-ctas p a {
            font-size: 12px;
            color: #000;
            font-weight: 600;
            text-decoration: underline;
        }

            .ticket-ctas p a:hover {
                color: #616161;
            }

.status-review {
    font-size: 10px;
    background: #ffc107;
    color: #a77e02;
    font-weight: 600;
    padding: 5px 8px;
    border-radius: 3px;
}

.status-resolved {
    font-size: 10px;
    background: #28a745;
    color: #024813;
    font-weight: 600;
    padding: 5px 8px;
    border-radius: 3px;
}

.status-submitted {
    font-size: 10px;
    background: #007bff;
    color: #013f82;
    font-weight: 600;
    padding: 5px 8px;
    border-radius: 3px;
}

.section_ticket {
}

    .section_ticket .stepform_container {
    }

        .section_ticket .stepform_container .notification-border:first-child {
            padding-top: 0rem;
        }

        .section_ticket .stepform_container .notification-border {
            padding-top: 0.9rem;
        }

            .section_ticket .stepform_container .notification-border:last-child {
                border-bottom: 0px solid #c9c9c9;
            }

.date-picker {
    position: relative;
}

    .date-picker:before {
        content: "\f073";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

    .date-picker input {
        outline: 0;
        height: calc(2.1rem + 5px) !important;
        background: #ffffff;
        padding-left: 2rem;
        color: #495057;
    }

    /*PDF model*/
.modal-pdf {
}

    .modal-pdf .modal-dialog {
        max-width: 90vw;
        min-height: 90vh;
    }

    .modal-pdf .modal-content {
        min-height: 90vh;
    }

    .modal-pdf button.close {
        position: absolute;
        right: 0;
        top: -30px;
        font-size: 25px;
        color: #fff;
        opacity: 1;
        outline: 0;
        font-weight: 400;
    }

    .modal-pdf #main-pdf {
        height: 90vh;
    }

    .modal-pdf .modal-body {
        padding: 0.2rem;
    }

        .modal-pdf .modal-body iframe {
            border: 0px;
        }
.required {
    color: red;
}
.login-sidebar--form--v-middle .help-block{color: #fff !important; font-size: 12px; text-align: right; margin-top: 0.3rem;}
.user_profile h3 { font-size: 1.5rem; color: #1b9f94; border-bottom: 3px solid #28a49a; padding-bottom: 0.5rem; margin-bottom: 1rem; }
.user_profile{background: #fff; padding: 1.5rem;}
.user_profile h3{font-size: 1.5rem; color: #1b9f94; border-bottom: 3px ?solid #28a49; padding-bottom: 0.5rem; margin-bottom: 1rem;}
.user_profile input{outline: 0; height: calc(2.1rem + 5px) !important; color: #8a8a8a; background: #ffffff; border: 1px solid #dedede; box-shadow: 0px 0px 0px #000 !important;}
.user_profile select{outline: 0; height: calc(2.1rem + 5px) !important; color: #8a8a8a; background: #ffffff; border: 1px solid #dedede; box-shadow: 0px 0px 0px #000 !important;}
.user_profile label{text-shadow: 0 0 black; font-size: 14px;}
.btn-gradient { background: #1b9f94 !important; color: #fff !important; background: -moz-linear-gradient(left, #1b9f94 0, #316db3 100%) !important; background: -webkit-gradient(left top, right top, color-stop(0, #1b9f94), color-stop(100%, #316db3)) !important; background: -webkit-linear-gradient(left, #1b9f94 0, #316db3 100%) !important; background: -o-linear-gradient(left, #1b9f94 0, #316db3 100%) !important; background: -ms-linear-gradient(left, #1b9f94 0, #316db3 100%) !important; background: linear-gradient(to right, #1b9f94 0, #316db3 100%) !important; transition: ease all .3s } .btn-gradient:active, .btn-gradient:focus, .btn-gradient:hover { background: #2f6fb0; background: -moz-linear-gradient(left, #2f6fb0 0, #5db188 100%); background: -webkit-gradient(left top, right top, color-stop(0, #2f6fb0), color-stop(100%, #5db188)); background: -webkit-linear-gradient(left, #2f6fb0 0, #5db188 100%); background: -o-linear-gradient(left, #2f6fb0 0, #5db188 100%); background: -ms-linear-gradient(left, #2f6fb0 0, #5db188 100%); background: linear-gradient(to right, #2f6fb0 0, #5db188 100%) !important; transition: ease all .3s; color: #fff }
		.side_thumb{position: relative;height:100%;}
		.side_thumb img{width: 100%; height: 100%; object-fit: cover;}
		.apply_loan label{font-size: 16px;}
.bg-gray{background: #f1f1f1}
.address_parent a{color: #28a49a;}
.address_parent a:hover{color: #000;text-decoration:none;}

.login-sidebar--form--v-middle .btn-secondary{background: transparent; border: 1px solid #fff;}
.login-sidebar--form--v-middle .btn-secondary:hover{background: white; border: 1px solid #fff; transition: ease all 0.3s; color: #000;}

.btn-link{color:#28a49a;background: #fff;border: 1px solid #fff;transition:ease all 0.3s;}
.btn-link:hover{color:#fff;text-decoration:none;background:#28a49a;transition:ease all 0.3s;}
.msg-thankyou{color: #28a49a; background: #f1f1f1; padding: 0.5rem;}

.btn-white{color:#fff;font-size:14px;margin-top:10px;display:inline-block;}
.btn-white:hover{color:#fff;text-decoration:underline;}

.offers_carousel{}
		.offers_carousel h1{position: absolute; top: 50%; transform: translateY(-50%); padding: 1.5rem; max-width: 480px; color: #fff; font-weight: 600; text-shadow: 0px 0px 5px rgb(0 0 0 / 67%);}
		.box_supply-chain{}
		.box_supply-chain h2{color: #279297; font-weight: 700; font-size: 1.5rem; margin-bottom: 2rem;}
		.box_supply-chain h3{position: relative; font-size: 1.25rem; font-weight: 600; color: #646464;padding-left: 3rem;margin-bottom: 1.8rem;}
		.box_supply-chain h3 img{position: absolute; left: 0px; top: 50%; transform: translateY(-50%);width: 35px;}
		.box_supply-chain ul{list-style-type: none; padding-left: 0px;}
		.box_supply-chain li{position: relative; padding-left: 1.5rem; margin-bottom: 0.8rem;color: #646464; font-weight: 400; font-size: 1rem;border-bottom: 1px solid #f1f1f1; padding-bottom: 0.5rem;}
		.box_supply-chain li:last-child{border-bottom: 0px solid #f1f1f1;}
		.box_supply-chain li:before{content:"\f061"; font-family: "Font Awesome 5 Free"; font-weight: 900;color: #ffbd5b; position: absolute; left: 0px; top: 0px;}
		
		.finance-offerings{background: rgb(0 0 0); position: relative;}
.finance-offerings .bg-images img{opacity:0.5;filter: grayscale(1);}
.finance-offerings h2{position: relative; color: #fff; font-weight: 600;}
.finance-offerings p{color: #fff; font-size: 16px; font-weight: 400; max-width: 900px; text-align: center; margin: 0px auto 30px auto;position: relative;}
.finance-offerings h2:after{content:"";display: block; height: 3px; background: #fff; max-width: 300px; margin: 15px auto;}
.finance_main{transition: ease all 0.6s; transform: translateY(0px);}
.finance_main:hover{transition: ease all 0.6s; transform: translateY(-5px);}
.finance_main a{text-decoration:none;}
.finance_main--thumb{height: 240px; overflow: hidden; position: relative;margin-bottom: 0px;}
.finance_main--thumb img{width: 100%; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);height: 100%; object-fit: cover;}
.finance_main--desc{padding: 1.5rem; background: #fff;}
.finance_main--desc h3{font-size: 22px;line-height:28px; color: #3c77b6;font-weight: 600;min-height: 45px;}
.finance_main--desc p{color: #000; margin-bottom: 30px; font-weight: normal; font-size: 14px;display: -webkit-box; max-width: 100%; line-height: 21px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; text-overflow: ellipsis;overflow:hidden;text-align: left;min-height: 63px;}
.finance_main--desc a{font-size: 18px; line-height: 28px; color: #000 !important; border: 0px; padding: 0px; border-radius: 0px; padding: 0.6rem 0rem; transform: translateY(0px); transition: ease all 0.6s; font-weight: 500;}
.finance_main--desc > div{color: #28a49a !important;font-weight: 600;}
.finance_main--desc > div:hover{color: #3c77b6 !important;}
.finance_main-green{box-shadow: 10px 10px 0px 0px #28a49a;}
.finance_main-green:hover{box-shadow: 20px 20px 0px 0px #28a49a;}
.finance_main-blue{box-shadow: 10px 10px 0px 0px #3b7ab4;}
.finance_main-blue:hover{box-shadow: 20px 20px 0px 0px #3b7ab4;}
.sub_blocks{padding: 1.5rem 1.5rem 2.5rem 1.5rem; background: #eaeaea; margin-top: 1rem;position:relative;}
.sub_blocks .bg-images img{opacity: 0.1;}
