@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Presentation

@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
}
@if (contextItem != null)
{
    <div class="col s12 l8 offset-l1">
        <div class="section-container mobile-app">
            <header class="section-header">
                <h2>@Html.Raw(contextItem["Title"])</h2>
                <p>@Html.Raw(contextItem["Summary"])</p>
            </header>
            <p>@Html.Raw(contextItem["Body"])</p>
        </div>
    </div>
    <p>@Html.Raw(contextItem["Warning"])</p>
}