@using Sitecore.Feature.Media
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel


@{



    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

    //Cast to a Sitecore item
    Sitecore.Data.Items.Item myItem = (Sitecore.Data.Items.Item)element;


    var Title = myItem.Fields[Templates.Products.Fields.Title];
    var Description = myItem.Fields[Templates.Products.Fields.Description];
    var ShortTitle = myItem.Fields[Templates.Products.Fields.ShortTitle];
    var CssClass = myItem.Fields[Templates.Products.Fields.CssClass];

    <p>@Html.Raw(Title)</p>
    <p>@Html.Raw(Description)</p>
}

