a {
    text-decoration: none;
}

h3 {
    text-decoration: none;
}

@media (max-width:767px) {
    .item {
        margin-left: 26%;
    }
}

.tab-item {
    display: none;
    transition: opacity 0.3s;
}

.tab-item.active {
    display: block;
    opacity: 1;
}

.tabLink:hover {
    text-decoration: none;
}

.dirTabAct .textPort {
    background: #ed6e36 !important;
    border: 1px solid #ed6e36 !important;
    color: white !important;
    text-decoration: none;
}

.dirTabAct .textPort h3 {
    color: white !important;

}

.textPort h3 {
    text-decoration: none !important;
}

.tab-container {
    display: flex;
    column-gap: 10rem;
}

.table-1> :not(:last-child)> :last-child>* {
    border-bottom-color: currentColor;
}

.t-heading {
    font-size: 20px;
    border-left: 5px solid #18a790;
    padding-left: 1rem;
}

.table-responsive-1 {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive-1>.table-bordered-1 {
    border: 0;
}

.table-1 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table {
    border-collapse: collapse;
}

.table-bordered-1 thead td,
.table-bordered-1 thead th {
    border-bottom-width: 2px;
    background-color: transparent;
}

.table-1 thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-size: 14px;
    color: #222;
}

.table-1 td,
.table-1 th {
    padding: 0.8rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.table-1 th,
.table-1 td {
    vertical-align: top;
    border: 1px solid #d9d9d9;
    font-size: 16px;
}