<div class="section-breadcrumb">
  <div class="container">
    <ol class="breadcrumb ad-breadcrumb margin-0">
      <li *ngFor="let breadcrumb of CorporateGovernance.GenericBredcrumbNavigation.Data; last as isLast"
        class="breadcrumb-item">
        <a *ngIf="!isLast" href="{{breadcrumb.Link}}">{{breadcrumb.Heading}}</a>
        <a *ngIf="isLast" class="active">{{breadcrumb.Heading}}</a>
      </li>
    </ol>
  </div>
</div>
<div>

  <div class="media-center board-icon">
    <div class="container">
      <h3 class="governance-title">{{CorporateGovernance.CorporateGoveranceProfiles.Heading}}</h3>
      <h4><strong>{{Profilesectiondata.Heading}}</strong></h4>
      <div class="board-director">
        <div class="owl-carousel owl-theme md-carousel tab-container">

          <div *ngFor="let child of Profilesectiondata.ProfileSectionItems; let i = index"
            [ngClass]="{'item':true, 'tab-button':true, 'active' : false}">
            <div (click)="changeDescription(child, i)" [ngClass]="{'dirTab':true, 'dirTabAct': i==activeIndex }">
              <a data-toggle="tab" href="javascript:void(0)" class="tabLink">
                <div class="imgBlk"><img alt="" src="{{child.Image}}" />
                </div>
                <div class="textPort">
                  <h3>{{child.Heading}}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>



        <div class="md-tabcontent">
          <div class="tab-content">
            <div id="tab1" [innerHTML]=" description" class="tab-pane fade in tab-item active">
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="container key-manager">
      <h4><strong>{{ManagerialInformation.Heading}}</strong></h4>
      <div class=" board-director">
        <div class="owl-carousel owl-theme md-carousel tab-container">
          <div class="item" *ngFor="let child2 of ManagerialInformation.ProfileSectionItems; let i = index"
            [ngClass]="{'item':true, 'tab-button':true, 'active' : false}">
            <div (click)="changeDescription2(child2, i)" [ngClass]="{'dirTab':true, 'dirTabAct': i==activeIndex2 }">
              <a data-toggle="tab" href="javascript:void(0)" class="tabLink">
                <div class="imgBlk"><img alt="" src="{{child2.Image}}" /></div>
                <div class="textPort">

                  <h3>{{child2.Heading}}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="md-tabcontent">
          <div class="tab-content">
            <div id="tab1" [innerHTML]=" description2" class="tab-pane fade in tab-item active">
            </div>


          </div>
        </div>
      </div>

      <div class="container">
        <h4 class="mt-5"><strong>{{CommitteeComposition.Heading}}</strong></h4>
        <div class="board-director">
          <!-- <div class="owl-carousel owl-theme md-carousel tab-container">
            <div class="item" *ngFor="let child3 of CommitteeComposition.ProfileSectionItems; let i = index"
              [ngClass]="{'item':true, 'tab-button':true, 'active' : false}">
              <div (click)="changeDescription3(child3, i)" [ngClass]="{'dirTab':true, 'dirTabAct': i==activeIndex3 }">
                <a data-toggle="tab" href="javascript:void(0)" class="tabLink">

                  <div class="imgBlk"><img alt="" src="{{child3.Image}}" /></div>
                  <div class="textPort">
                    <h3>{{child3.Heading}}</h3>
                  </div>
                </a>
              </div>
            </div>
          </div> -->
          <!-- <div class="md-tabcontent">
            <div class="tab-content">
              <div id="tab1" [innerHTML]=" description3" class="tab-pane fade in tab-item active">
              </div>


            </div>
          </div> -->

          <section class="table-data">
            <div class="container">
              <h3 class="t-heading mb-4">Audit Committee</h3>
              <div class="table-responsive-1 mb-5">
                <table class="table-1 table-bordered-1">
                  <thead>
                    <tr>
                      <th>Name of Director</th>
                      <th>Composition of Committee </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mr. Jay Shah</td>
                      <td>Chairman (Non-Executive &amp; Independent Director)</td>
                    </tr>
                    <tr>
                      <td>Mr. Rohit Soni</td>
                      <td>Member (Non-Executive &amp; Non-Independent Director)</td>
                    </tr>
                    <tr>
                      <td>Mrs. Chitra Bhatnagar</td>
                      <td>Member (Non-Executive &amp; Independent Director)</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h3 class="t-heading mb-4">Nomination and Remuneration Committee</h3>
              <div class="table-responsive-1 mb-5">
                <table class="table-1 table-bordered-1">
                  <thead>
                    <tr>
                      <th>Name of Director</th>
                      <th>Composition of Committee </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mr. Jay Shah</td>
                      <td>Chairman (Non-Executive &amp; Independent Director)</td>
                    </tr>
                    <tr>
                      <td>Mr. Rohit Soni</td>
                      <td>Member (Non-Executive &amp; Non-Independent Director)</td>
                    </tr>
                    <tr>
                      <td>Mrs. Chitra Bhatnagar</td>
                      <td>Member (Non-Executive &amp; Independent Director)</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h3 class="t-heading mb-4">Corporate Responsibility Committee</h3>
              <div class="table-responsive-1 mb-5">
                <table class="table-1 table-bordered-1">
                  <thead>
                    <tr>
                      <th>Name of Director</th>
                      <th>Composition of Committee </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mr. Rohit Soni</td>
                      <td>Chairman (Non-Executive &amp; Non-Independent Director)</td>
                    </tr>
                    <tr>
                      <td>Mr. Jay Shah</td>
                      <td>Member (Non-Executive &amp; Independent Director)</td>
                    </tr>
                    <tr>
                      <td>Mrs. Chitra Bhatnagar</td>
                      <td>Member (Non-Executive &amp; Independent Director)</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h3 class="t-heading mb-4">Stakeholders’ Relationship Committee</h3>
              <div class="table-responsive-1 mb-5">
                <table class="table-1 table-bordered-1">
                  <thead>
                    <tr>
                      <th>Name of Director</th>
                      <th>Composition of Committee </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mr. Rohit Soni</td>
                      <td>Chairman (Non-Executive &amp; Non-Independent Director)</td>
                    </tr>
                    <tr>
                      <td>Mr. Jay Shah</td>
                      <td>Member (Non-Executive &amp; Independent Director)</td>
                    </tr>
                    <tr>
                      <td>Mrs. Chitra Bhatnagar</td>
                      <td>Member (Non-Executive &amp; Independent Director)</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h3 class="t-heading mb-4">Risk Management Committee</h3>
              <div class="table-responsive-1 mb-5">
                <table class="table-1 table-bordered-1">
                  <thead>
                    <tr>
                      <th>Name of Director</th>
                      <th>Composition of Committee </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mr. Rohit Soni</td>
                      <td>Chairman (Non-Executive &amp; Non-Independent Director)</td>
                    </tr>
                    <tr>
                      <td>Mr. Nihar Raj</td>
                      <td>Member (Executive Director)</td>
                    </tr>
                    <tr>
                      <td>Mrs. Chitra Bhatnagar</td>
                      <td>Member (Non-Executive &amp; Independent Director)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>



          <div class="container">
            <h4><strong>{{CorporateGovernance.PageContent.Heading}}</strong></h4>
            <div class="board-director">
              <div class="textPort" innerHTML="{{CorporateGovernance.PageContent.HTMLText}}">
              </div>
            </div>
          </div>

          <div class="governance-links">
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-sm-4 ">
                  <div class="media-box shadow">
                    <div class="mediaBlk "><img class="lazy" src="{{CorporateGovernance.InThisSection.Data[0].Image}}"
                        alt="{{CorporateGovernance.InThisSection.Data[0].ImageAltText}}" />
                      <div class="mediaHovBg">
                        <h3>{{CorporateGovernance.InThisSection.Data[0].Heading}}</h3>
                        <div class="btnLearn"><a href="{{CorporateGovernance.InThisSection.Data[0].CTALink}}"
                            title="Read More">{{CorporateGovernance.InThisSection.Data[0].CTAText}}</a></div>
                        <div class="clear">&nbsp;</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <script>

            $('.md-carousel').owlCarousel({

              loop: false,

              nav: false,

              dots: true,

              responsive: {

                0: {

                  items: 1

                },

                600: {

                  items: 3

                },

                1000: {

                  items: 5

                }

              }

            })

          </script>
          <script>
            $('.tabLink').click(function () {

              if ($(this).parent().hasClass('dirTabAct')) {

                $('.dirTabAct').removeClass('dirTabAct');

                $('.tab-pane').eq(tabIndex).fadeIn();

                $('.directConten').slideUp();

                return;

              }

              $('.dirTabAct').removeClass('dirTabAct');

              $(this).parent().addClass('dirTabAct');

              $('.directConten').slideUp();

            })

          </script>

          <script>

            window.addEventListener("DOMContentLoaded", function () {
              // Show the first tab content
              document.getElementById("tab1").style.display = "block";

              // Add "active" class to the first tab button
              document.querySelector(".tab-button").classList.add("active");
            });

            function openTab(evt, tabName) {
              var i, tabContent, tabButtons;

              // Hide all tab content
              tabContent = document.getElementsByClassName("tab-item");
              for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
              }

              // Remove "active" class from all tab buttons
              tabButtons = document.getElementsByClassName("tab-button");
              for (i = 0; i < tabButtons.length; i++) {
                tabButtons[i].classList.remove("active");
              }

              // Show the clicked tab content with fade-in effect
              document.getElementById(tabName).style.display = "block";
              setTimeout(function () {
                document.getElementById(tabName).classList.add("active");
              }, 10);

              // Add "active" class to the clicked tab button
              evt.currentTarget.classList.add("active");
            }

          </script>