@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@model Sitecore.DTPL.Website.Models.DTPL_LNGLoginModel

<nav class="navbar navbar-expand-lg bg-white sticky-top">
    <div class=" container">
        <a class="navbar-brand" href="#">
            <img src="-/media/B86C22A5DFE6478AAFCEB128D78CB092.ashx" alt="">
        </a>
        <div>
            <a href="/Home" class="back--button">
                < &nbsp; Back to Website
            </a>

        </div>
    </div>
</nav>
<div class="container-fluid ship" style="background-image:url(/Images/bg_image.jpg)">
    <div class="container">
        <div class="login-page">
            <div class="form">
                <h2 style="padding-bottom: 15px; font-size: 1.5rem; font-weight: bold;">Welcome to<br /> Dharma LNG Terminal </h2>

                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "DTPL_LNGLogin", name = "DTPL_LNGLogin", enctype = "multipart/form-data", autocomplete = "off" }))
                {
                    <form class="login-form">
                        @Html.AntiForgeryToken()
                        @Html.AddUniqueFormId()
                        @Html.ValidationSummary(true)
                        <h6 style="padding-bottom:0.5rem;">Username</h6>
                        <input type="text" id="UserName" name="UserName" placeholder="Enter Name" required />
                        <h6 style="padding-bottom:0.5rem;">Password</h6>
                        <input type="password" id="Password" name="Password" placeholder="Enter Password" required />
						 @if (ViewBag.Message != null)
                    {
                       <h6 style="color: red;">@ViewBag.Message</h6>
                    }
                        <button type="submit" class="btn btn-primary" id="login">Log in</button>
                    </form>
                }

            </div>
        </div>
    </div>


</div>