
@{
    Layout = null;

}





<div class="container">
        <div class="section-header">
            <h3>Dashboard</h3>
        </div>
        <include component="TotalCard"></include>
        <br>
        <div class="carousel-wrapper">
            <header class="section-header justify-item">
                <h4>Learning Overview</h4>
                <aside>
                    <div class="carousel-nav hide-on-small-only"></div>
                </aside>
            </header>
            <div class="owl-carousel standard-card" data-items-desktop="1">
                <div class="graph">
                    <img src="../../assets/images/graph.svg" alt="graph-img">
                </div>
            </div>
        </div>
        <br><br>
        <div class="dashboard-tables">
            <include component="Listing"></include>
            <include component="Listing/Listing2"></include>
        </div>
    </div>
    <a class="btn modal-trigger" href="#content-viewed">For Modal 1</a>
    <a class="btn modal-trigger" href="#user-viewed">For Modal 2</a>
    <include component="Modal/ContentViewed"></include>
    <include component="Modal/UserViewed"></include>
