@using System.Security.Claims
@using Sitecore.Mvc
@using System.Linq

@{
    Layout = null;
    var usertype = Session["AGELPortalUserType"]?.ToString();
    var usermode = Session["AGELPortalUserViewMode"]?.ToString();
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@if ((usertype == "superadmin" || usermode == "admin") || ClaimsPrincipal.Current.Claims.ToList().Count() > 10)
{
    <div class="icon-bar-wrapper">
        <div class="hamburger-wrp">
            <a class="custom-hamburger" href="#">
                <span class="open-nav"><i class="i-hamburger i-20"></i></span>
                <span class="close-nav"><i class="i-cross"></i>Close</span>
            </a>
        </div>
        <div id="ulCategory" class="icon-bar">
            <a href="/AGELPortal/Home/Dashboard" id="dashboard"><i class="vi-dashboard-icon"></i><span>Dashboard</span></a>
            <a href="/AGELPortal/Home/Dashboard/categories" id="category"><i class="vi-category-icon"></i><span>Category Management</span></a>
            <a href="/AGELPortal/Home/dashboard/content-managements" id="content"><i class="vi-content-icon"></i><span>Content Management</span></a>
            <a href="/AGELPortal/Home/dashboard/user_managment" id="usermanagment"><i class="vi-user-icon"></i><span>User Management</span></a>
            <a href="/AGELPortal/Home/dashboard/admin_Rese_Password" id="password"><i class="vi-password-icon"></i><span>Password Management</span></a>
        </div>
    </div>
}
<script>



    jQuery(function ($) {
        var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
        $(' a').each(function () {
            if (this.href === path) {
                $(this).addClass('active');
            }
        });
    });


</script>