@{
    var usertype = Session["AGELPortalUserType"]?.ToString();
    var userName = "";
    var initials = "AB";
    var usermode = Session["AGELPortalUserViewMode"]?.ToString();

    if (Session["AGELPortalUserName"] != null)
    {
        userName = Session["AGELPortalUserName"].ToString();
        String[] nameparts = userName.Split(' ');
        if (nameparts.Count() > 1 && nameparts.Count() == 2)
        {
            initials = (nameparts[0] != null ? nameparts[0].Substring(0, 1).ToUpper() : null) + (nameparts[1] != null ? nameparts[1].Substring(0, 1).ToUpper() : null);
        }
    }
}

<div id="slide-out" class="sidenav hamburger">
    <ul class="collapsible expandable hamburger_section">
        <li>
            <a href="/AGELPortal/Home/Video_List" class="waves-effect">
                <label>Videos</label>
            </a>
        </li>
        <li>
            <a href="/AGELPortal/Home/Document_List" class="waves-effect">
                <label>Documents</label>
            </a>
        </li>
    </ul>
    <footer>
        @if (usertype == "superadmin" && usermode == "admin")
        {
            <a href="/AGELPortal/Home/dashboard"><img src="/images/AGELPortal/logo.svg" alt="adani Renewables" /></a>
        }      
        else
        {
            <a href="/AGELPortal/Home"><img src="/images/AGELPortal/logo.svg" alt="adani Renewables" /></a>
        }

    </footer>
</div>
<header class="header-wrapper">
    @*<ul id="slide-out" class="sidenav">
            <li class="brand-logo">
                @if (usertype == "superadmin")
                {
                    <a href="/dashboard"><img src="/images/AGELPortal/logo.svg" /></a>
                }
                else
                {
                    <a href="/"><img src="/images/AGELPortal/logo.svg" /></a>
                }
            </li>
            <li><a href="/Video_List">Videos</a></li>
            <li><a href="/Document_List">Documents</a></li>
        </ul>*@

    <ul class="header-nav flx-list-wrapper">
        <a href="#" data-target="slide-out" class="sidenav-trigger btn wave-effects hover-icon hide-on-med-and-up">
            <i class="i-hamburger i-30"></i>
        </a>
        <li class="brand-logo">
            @if (usertype == "superadmin" && usermode == "admin")
            {
                <a href="/AGELPortal/Home/dashboard"><img src="/images/AGELPortal/logo.svg" alt="adani Renewables" /></a>
            }
            else
            {
                <a href="/AGELPortal/Home"><img src="/images/AGELPortal/logo.svg" alt="adani Renewables" /></a>
            }
        </li>
        <li class="flx-list">
            <ul class="dd-menu nav-item">
                <li class="user">
                    <a href="#user" class="modal-trigger">
                        <span class="login-name">@initials</span><i class="i-arrow-l"></i>


                    </a>
                    <ul class="user-trick dd-menu-dd" id="user">
                        <div class="close-head"><a href="#!" class="modal-close waves-effect"> <i class="i-cross"></i></a></div>
                        <div class="modal-section-wrapper">
                            
                            <li> <a href="/AGELPortal/Home/My_Profile">My Profile </a> </li>
                            <li> <a href="/AGELPortal/Home/My_Profile_Change_Password">Change Password</a> </li>
                            @if (usertype == "superadmin")
                            {
                                <li> <a href="/AGELPortal/Home">Learning Portal</a> </li>

                            }
                            <li> <a href="/AGELPortal/Home/logout">Logout</a> </li>

                        </div>
                    </ul>
                </li>


            </ul>
        </li>
    </ul>

</header>
