@{
    Layout = null;
}

<div class="container">
    <div class="card outlined mid-form border-none-mobile">
        <header class="section-header header-login">
            <img src="/images/AGELPortal/logo.svg" alt="form-logo">
            <h1 class="header-login-h1">Login</h1>
        </header>
        <div class="card-with-form login-wrap">
            <div class="input-field custom">
                <input value="rohit.kumar@adani.com" id="first_name2" type="text" class="validate">

                <label class="active" for="first_name2">Enter Mobile Number</label>
            </div>
            <div class="input-field custom">
                <input value="9876543210" id="first_name2" type="text" class="validate" >
                <label class="active" for="first_name2">Enter Password</label>
            </div>
            <a class="forgot-pass" href="forgot_password.html">Forgot password?</a>
            <div class="btn-group2">
                <div> @Html.Sitecore().Dictionary("/sitecore/content/GreenEnergy/AGELPortal/Global/Dictionary/Form/InvalidUser", "Invalid User OR Inactive User");</div>

                <button id="btn" disabled class="waves-effect waves-light btn">
                    Login
                </button>
            </div>
        </div>

        <a href="/api/AzureAd/SignIn" style="text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
            <style type="text/css">
                .fil0:hover {
                    fill: #4B4B4B;
                }

                .fnt0 {
                    font-size: 260px;
                    font-family: 'Segoe UI Semibold', 'Segoe UI';
                    text-decoration: none;
                }
</style>
            <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" />



            <rect x="150" y="129" width="122" height="122" fill="#F35325" />



            <rect x="284" y="129" width="122" height="122" fill="#81BC06" />



            <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />



            <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />



            <text x="470" y="357" fill="white" class="fnt0">Sign in with Microsoft</text>
        </svg>
        </a>
        <div class="bordered-items login-bordered-items">
            <ul>
                <li>Not yet signed up? <a href="/htmls/login_register/register_account.html" class="bold">Register Now</a></li>
                <li>Need some help? Call <span class="ff-rb">19122</span></li>
            </ul>
        </div>
    </div>
</div>





