@{
    Layout = null;

}

<footer class="footer_wrapper new-footer">
    <div class="container">
        <div class="footer-links">
            <ul>
                @*<li><a href="#">License Agreement</a></li>*@
                <li><a href="https://www.adanigreenenergy.com/privacy-policy">Privacy Policy</a></li>
                @*<li><a href="#">Help</a></li>*@
            </ul>
        </div>
        <div class="footer_copyright">
            <p>&copy; 2022 Adani Renewables</p>
            <ul>
                <li>Powerd by</li>
                <li><img src="/images/AGELPortal/logo-footer.svg" /></li>
            </ul>
        </div>
        <ul class="social_links">
            <li>
                <a href="https://www.facebook.com/AdaniOnline" target="_blank" class="btn waves-effect hover-icon"><i class="i-facebook i-22"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/adanionline"  target="_blank" class="btn waves-effect hover-icon"><i class="i-twitter i-22"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/adani-group/"  target="_blank" class="btn waves-effect hover-icon"><i class="i-linkdin i-22"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/user/AdaniOnline"  target="_blank" class="btn waves-effect hover-icon"><i class="i-youtube i-22"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/adanionline/"  target="_blank" class="btn waves-effect hover-icon"><i class="i-instagram i-22"></i></a>
            </li>
        </ul>

    </div>
</footer>


