@using Sitecore.Mvc.Presentation
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkfield = model.Fields[Templates.Navigable.Fields.Link];
}

<div class="row row-grid align-items-end ftrBtmInner">
    <div class="col-12 col-md-auto text-center text-md-left">
        <div class="d-none d-md-block">@Html.Sitecore().Field(Templates.LinkMenu.Fields.Heading, model)</div>
    </div>
    <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
        <div class="footerMenu">
            <ul>
                @foreach (var item in model.GetChildren().ToList())
                {
                    <li>
                        @Html.Sitecore().BeginField("Link", item, new { haschildren = true })
                        @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item)
                        @Html.Sitecore().EndField()
                    </li>
                }

            </ul>
        </div>
    </div>
</div>
