@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col-sm-4 col-md-4 col-lg-3 col-6">
    <div class="footerNav">
        <h5><a href="#">Project &amp; Businesses</a></h5>
        <ul class="mobile-none footerSubNav">
            <li><a href="#">Mine</a></li>
            <li><a href="#">Rail</a></li>
            <li><a href="#">Renewables</a></li>
            <li><a href="#">Abbot Point Port</a></li>
        </ul>
    </div>
    <div class="footerNav">
        <h5><a href="#">About Us</a></h5>
        <ul class="mobile-none footerSubNav">
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Work with Us</a></li>
        </ul>
    </div>
</div>
