@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

}
@if (element != null)
{
    var imgurl = Helper.ImageUrl("Image", element);
<div class="contact_info">
    <img src="@imgurl" alt="Call" />
    @if (element.HasChildren)
    {
        for (int i = 0; i < element.GetChildren().Count; i++)
        {
            @element.GetChildren()[i]["Title"] @Html.Raw(element.GetChildren()[i]["Text"])
        }
    } 

</div>
}
