<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Feature.Adani" description="Feature" dependencies="Foundation.*" extends="Helix.Feature">
					<predicate>
						<!--Accounts-->
						<include name="Core.Templates" database="core" path="/sitecore/templates/Feature/Accounts" />
						<include name="Core.UserProfiles" database="core" path="/sitecore/system/Settings/Security/Profiles/Accounts" />
						<include name="PlaceholderSettings.Accounts" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Accounts" />
						<!--Demo-->
						<include name="Layouts" database="master" path="/sitecore/layout/layouts/Feature/Demo" />
						<!--FormsExtensions-->
						<include name="Core.Actions" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions" />
						<include name="Core.Property" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm" />
						<include name="Dictionary" database="master" path="/sitecore/system/Dictionary/captcha-required" />
						<include name="Settings.Forms" database="master" path="/sitecore/system/Settings/Forms" />
						<include name="Templates.Fields" database="master" path="/sitecore/templates/System/Forms/Fields" />
						<!--Maps-->
						<include name="FieldTypes" database="core" path="/sitecore/system/Field types/Maps" />
						<include name="Settings.Maps" database="master" path="/sitecore/system/settings/Feature/Maps" />
						<!--Media-->
						<include name="Settings.Media" database="master" path="/sitecore/system/Settings/Feature/Media" />
						<!--Teasers-->
						<include name="Settings.Teasers" database="master" path="/sitecore/system/settings/Feature/Teasers" />
					</predicate>
					<!--<rolePredicate>
						<include domain="modules" pattern="^Feature Accounts .*$" />
					</rolePredicate>-->
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>