<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Foundation.Common" description="Sitecore.Solution.Framework Root items" extends="Helix.Base">
					<predicate>

						<!--
							Each include can also exclude specific subitems by path:
							<exclude path="/sitecore/content"/>

							Excludes may also exclude all children at once by adding a trailing slash, e.g. this would include the root /sitecore item but no children
							<include path="/sitecore">
								<exclude path="/sitecore/" />
							</include>

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items
							NOTE: the "name" attribute controls the folder name the items will go into (for SFS). If unspecified, the last path segment is used. Names must be unique across the configuration.
						-->
						<!-- Settings -->
						<include name="Settings.Feature" database="master" path="/sitecore/system/Settings/Feature">

						</include>
						<include name="Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation">

						</include>
						<include name="Settings.Project" database="master" path="/sitecore/system/Settings/Project">

						</include>

						<!--Foundation.Assets-->
						<include name="SystemViewRendering" database="master" path="/sitecore/templates/System/Layout/Renderings/View rendering">

						</include>
						<include name="SystemControllerRendering" database="master" path="/sitecore/templates/System/Layout/Renderings/Controller rendering">

						</include>
						<!--<include name="Themes" database="master" path="/sitecore/system/Settings/Project/Themes">
							<exclude children="true" />
						</include>-->

						<!-- Facets -->
						<include name="Facets.Feature" database="master" path="/sitecore/system/Settings/Buckets/Facets/Feature">

						</include>
						<include name="Facets.Foundation" database="master" path="/sitecore/system/Settings/Buckets/Facets/Foundation">

						</include>
						<include name="Facets.Project" database="master" path="/sitecore/system/Settings/Buckets/Facets/Project">

						</include>

						<!-- Templates -->
						<include name="Templates.Feature" database="master" path="/sitecore/templates/Feature">

						</include>
						<include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation">

						</include>
						<include name="Templates.Project" database="master" path="/sitecore/templates/Project">

						</include>
						<!-- Forms
						-->
						<include name="Sitecore.Forms" database="master" path="/sitecore/Forms">

						</include>
						<!-- Branches -->
						<include name="Branches.Foundation" database="master" path="/sitecore/templates/branches/Foundation">

						</include>

						<!-- Renderings -->
						<include name="Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature">
							<!--<exclude children="true" />-->
						</include>
						<include name="Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation">
							<!--<exclude children="true" />-->
						</include>
						<include name="Renderings.Project" database="master" path="/sitecore/layout/renderings/Project">
							<!--<exclude children="true" />-->
						</include>

						<!-- Layouts -->
						<include name="Layouts.Feature" database="master" path="/sitecore/layout/layouts/Feature">
							<!--<exclude children="true" />-->
						</include>
						<include name="Layouts.Foundation" database="master" path="/sitecore/layout/layouts/Foundation">
							<!--<exclude children="true" />-->
						</include>
						<include name="Layouts.Project" database="master" path="/sitecore/layout/layouts/Project">
							<!--<exclude children="true" />-->
						</include>

						<!-- Placeholder Settings -->
						<include name="PlaceholderSettings.Feature" database="master" path="/sitecore/layout/placeholder settings/Feature">
							<!--<exclude children="true" />-->
						</include>
						<include name="PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/placeholder settings/Foundation">
							<!--<exclude children="true" />-->
						</include>
						<include name="PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project">
							<!--<exclude children="true" />-->
						</include>

						<!-- Models -->
						<include name="Models.Feature" database="master" path="/sitecore/layout/models/Feature">
							<!--<exclude children="true" />-->
						</include>
						<include name="Models.Foundation" database="master" path="/sitecore/layout/models/Foundation">
							<!--<exclude children="true" />-->
						</include>
						<include name="Models.Project" database="master" path="/sitecore/layout/models/Project">
							<!--<exclude children="true" />-->
						</include>

						<!-- Media -->
						<include name="Media.Feature" database="master" path="/sitecore/media library/Feature">

						</include>
						<include name="Media.Project" database="master" path="/sitecore/media library/Project">

						</include>

						<!-- Core templates -->
						<include name="Core.Templates.Feature" database="core" path="/sitecore/templates/Feature">

						</include>
						<include name="Core.Templates.Foundation" database="core" path="/sitecore/templates/Foundation">

						</include>
						<include name="Core.Templates.Project" database="core" path="/sitecore/templates/Project">

						</include>



						<!--Foundation.FieldEditor-->
						<include name="WebEdit.FieldEditorAll" database="core" path="/sitecore/content/Applications/WebEdit/Default Rendering Buttons/Edit Item" />

						<!--Foundation.Indexing-->
						<!--<include name="Models" database="master" path="/sitecore/layout/Models/Foundation/Indexing" />-->
						<!--<include name="Facets" database="master" path="/sitecore/system/Settings/Buckets/Facets/Foundation/Indexing" />-->
						<!--Foundation.LocalDatasource-->
						<include name="Templates.RenderingOptionsField" database="master" path="/sitecore/templates/System/Layout/Sections/Rendering Options/Editor Options/Supports Local Datasource">
						</include>
						<!--Foundation.Multisite-->
						<!--<include name="Branches" database="master" path="/sitecore/templates/branches/Foundation/Multisite" />-->
						<!--Foundation.SitecoreExtensions-->
						<include name="RTEComplete" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Complete" />
						<include name="RTELimited" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Limited" />
						<!--Foundation.Theming-->
						<!--<include name="Settings" database="master" path="/sitecore/system/settings/Foundation/Theming" />-->

					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>