@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var x = 0;
}
<div class="container">
    <div class="row">
        @foreach (var child in parent.Children.ToList())
        {
            var ddlSource = Sitecore.Context.Database.GetItem(Sitecore.Data.ID.Parse(child.ID));

            <div class="col-sm-6 col-md-4 col-lg-3">
                @Html.DropDownList("customcare", new SelectList(ddlSource.Children, "Id", "Name"), new
           {
               @id = ddlSource.DisplayName,
               @class = "form-control",
               @style = "width:200px",
               @onchange= "abs(" +"'" + ddlSource.DisplayName + "'" + ")"
           })

            </div>

        }
    </div>
</div>

<script>
    $.noConflict();

    function abs(id) {
        var itemId = $('#' + id).val();

        jQuery.ajax({
            method: "POST",
            data: { itemId: itemId },
            url: "/api/payment/GetCustomerCare",
            context: this,
            success: function (addr) {
                $('#' + id).closest('#customerCareControl').find('#CustomerCareCenterArea').show();
                $('#' + id).closest('#customerCareControl').find('#addressColl').html("");
                $('#' + id).closest('#customerCareControl').find('#addressColl').append(addr);

                /*$("#CustomerCareCenterArea").show();
                $("#addressColl").html("");
                $("#addressColl").append(addr);*/
            }
        });
    }
</script>

<div class="my-3 py-3"></div>
<div id="CustomerCareCenterArea" class="panel bg-white container" style="display:none;">
    <h4 class="txt-orange mb-3">Customer Care Center</h4>
    <div id="addressColl">
    </div>
</div>