@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<div class="contentSection myAccountPage" style="margin-bottom:-2rem;">
    <!-- Banner -->
    <div class="mainBanner myAccountBanner pb-5">
        <div class="bannerImg" style="background: #e0e4e5 url(-/media/129F0FC1D1D54873A56165C31C051885.ashx) no-repeat right center;background-size: cover;"></div>
        <div class="">
            <div class="container position-relative pt-5" style="z-index: 9;">
                <div class="accServicesOuter" style="max-width: 550px;">
                    <div class="breadcrumbBar breadcrumbBar-esg">
                        <ul>
                            <li class=""><a href="/">Home</a></li>
 			<li class="">
                            <a href="/esg">ESG</a>
                    </li>
                        </ul>
                    </div>
                    <h2 class="txt-orange">Fight against COVID 19</h2>
                </div>
            </div>
        </div>

    </div>

</div>
<section class="h-blocks-parent py-5" style="padding-top: 4rem !important;background: #fff !important;">
	<div class="container">
		<div class="text-left">
		<h3 class="heading pl-4 mb-4">ADANI Group  - Fight against COVID 19</h3>
		<p class="pl-4 mb-4">The Adani Group, a $15 Bn conglomerate that runs critical infrastructure assets in India has led this proactive fight back from the front. From contributing financial aid needed to mobilise actions at the ground level to pulling together resources from businesses and participation of its massive India workforce in ensuring that essential goods and services are delivered to Indian homes, the Adani Group has worked as one collective force fighting COVID19.</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 mb-lg-0 mb-3">
				<div class="h-blocks p-4 h-covid">
                    <div class="bg-images">
                        <img src="/-/media/Project/Adani/Blog/Banner_Water/banner.jpg?h=503&la=en&w=1280&hash=17C9C323B24CE6641471DFAF5A28DEA6" class="img-fluid" alt="" disablewebedit="False">
                    </div>
                    <div class="h-blocks-inner h-blocks-middle">
                        <h3>Leveraging  overseas connections </h3>
                    </div>
                </div>
			</div>
			<div class="col-lg-4 col-md-6 mb-lg-0 mb-3">
				<div class="h-blocks p-4 h-covid">
                    <div class="bg-images">
                        <img src="https://www.adani.com/Sustainability/url('/-/media/Project/Ports/Sustainability/SustainabilityInner/Communities/communities2.jpg')" class="img-fluid" alt="" disablewebedit="False">
                    </div>
                    <div class="h-blocks-inner h-blocks-middle">
                        <h3>Corporate Social Responsibility  </h3>
                    </div>
                </div>
			</div>
			<div class="col-lg-4 col-md-6 mb-lg-0 mb-3">
				<div class="h-blocks p-4 h-covid">
                    <div class="bg-images">
                        <img src="https://www.adanitransmission.com/-/media/Project/Transmission/Home/RS7824_ThinkstockPhotos-506316644-hig.jpg?h=700&amp;la=en&amp;w=1600&amp;hash=0AD59A0D3AA38230D90A1DA1427C7DFF" class="img-fluid" alt="" disablewebedit="False">
                    </div>
                    <div class="h-blocks-inner h-blocks-middle">
                        <h3>Sustainable and Secure service
 </h3>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
<section class="py-5">
	<div class="container">
		<div class="row pb-5 mb-5 border-bottom">
			<div class="col-lg-4">
				<div class="img-bordered"><img src="-/media/D3F595B319CE409B9E7783C1AD57A044.ashx" class="img-fluid"></div>
			</div>
			<div class="col-lg-8">
				<div class="inner_content pt-3">
					<h3>Procurement</h3>
					<ul>
						<li>Procurement of 51 cryogenic tanks from leading manufacturers in countries like Saudi Arabia, Thailand, Singapore, Taiwan and UAE</li>
						<li>Sourcing high-throughput oxygen generator plants and oxygen concentrators</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row pb-5 mb-5 border-bottom">
			<div class="col-lg-8 order-lg-1 order-2">
				<div class="inner_content pt-3">
					<h3>Logistics</h3>
					<ul>
						<li>Out of a Total 51 tanks(780 T liquid oxygen)   some tanks shipped vide Mundra Port & Rest air Lifted  </li>
						<li>Priority berthing & unloading for vessels with  COVID19 cargos  & waived storage, handling, and vessel related charges</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 order-lg-2 order-1">
				<div class="img-bordered"><img src="-/media/67BF244350F54C86840A990B7BB782F0.ashx" class="img-fluid"></div>
			</div>
		</div>
		<div class="row pb-5 mb-5 border-bottom">
			<div class="col-lg-4">
				<div class="img-bordered"><img src="-/media/65AE43507ECE4201AE519179AD2DDDE4.ashx" class="img-fluid"></div>
			</div>
			<div class="col-lg-8">
				<div class="inner_content pt-3">
					<h3>COVID Hospitals </h3>
					<ul>
						<li>Converted Adani Vidya Mandir school into an emergency COVID Care Centre with oxygen support and catered food.</li>
						<li>Adani Mundra  Hospital  has been  upgraded into a 100% COVID hospital with  CT scanner </li>
						<li>GAIMS  provided  principal medical facility serving  remote part of western India. Also  Installed 03 Nos oxygen plants SOS basis </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row pb-5 mb-5 border-bottom">
			<div class="col-lg-8 order-lg-1 order-2">
				<div class="inner_content pt-3">
					<h3>Local Authority Co-ordination</h3>
					<ul>
						<li>16  Nos independent oxygen plants and 300 oxygen concentrators released into service</li>
						<li>Refilling and distributing thousands of medical oxygen cylinders every day to augment and fill gaps in the local oxygen supply chain.</li>
						<li>Provision of direct medical care at Gujrat </li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 order-lg-2 order-1">
				<div class="img-bordered"><img src="-/media/DC124658F77E413C937B1C6A535C146A.ashx" class="img-fluid"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="img-bordered"><img src="-/media/14557076B9ED47B582B9EABCB44D4224.ashx" class="img-fluid"></div>
			</div>
			<div class="col-lg-8">
				<div class="inner_content pt-3">
					<h3>Vaccination Program</h3>
					<ul>
						<li>All employees and their family members have been brought into the Group's free vaccination programme. The Group has also extended its vaccination drive to include the thousands of people living in and around its corporate headquarters at Shantigram in Ahmedabad.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

