@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
}
<div class="contentSection myAccountPage" style="margin-bottom:-2rem;">
   <!-- Banner -->
   <div class="mainBanner myAccountBanner pb-5">
      <div class="bannerImg" style="background: #e0e4e5 url(-/media/129F0FC1D1D54873A56165C31C051885.ashx) no-repeat right center;background-size: cover !important;"></div>
      <div class="">
         <div class="container position-relative pt-5" style="z-index: 9;">
            <div class="accServicesOuter" style="max-width: 550px;">
               <div class="breadcrumbBar breadcrumbBar-esg">
                  <ul>
                     <li class=""><a href="#">Home</a></li>
                  </ul>
               </div>
               <h2 class="txt-orange">Environment, Social Responsibility and Governance</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<section class="bg-white py-5 about-apsez loadmore-content">
   <div class="container">
      <h2 class="heading pl-4 mb-4">Environmental, Social, and Governance Initiatives (ESG)</h2>
      <div class="row">
         <div class="col-lg-12 loadmore-content">
            <p class="mb-4 pl-4  d-block">
               At Adani Group the word ESG at its core means and covers & connects to, environment issues like climate change and resource scarcity, good labor practices, good corporate & social governance and business and social ethics.
            </p>
            <h5 class="pl-4 mb-2">Sustainability Framework</h5>
            <ul class="pl-4 ul-bullets ml-3">
               <li><a href="https://www.adanielectricity.com/-/media/1373961AC8F94C2A9502BC50AAA7DB0E.ashx?h=16&thn=1&w=16" class="txt-orange" target="_blank">AEML's Sustainability Linked Bonds - Financing Framework</a></li>
               <ul class="bullets-ul" style="padding-left: 25px;">
                  <li style="padding-top: 10px;">FY : 2020-21</li>
                  <li style="padding-top: 10px;">FY : 2021-22</li>
               </ul>
               <li><a href="https://www.adanielectricity.com/-/media/4F7E877B472E40BF93714B481E655518.ashx?h=16&thn=1&w=16" class="txt-orange" target="_blank">AEML's Sustainability Linked Bonds - Second Party Opinion</a></li>
               <ul class="bullets-ul" style="padding-left: 25px;">
                  <li style="padding-top: 10px;">FY : 2020-21</li>
                  <li style="padding-top: 10px;">FY : 2021-22</li>
               </ul>
               <li><a href="https://www.adanielectricity.com/-/media/466623DDB756445A8E013D7EA48E789B.ashx?h=16&thn=1&w=16" class="txt-orange" target="_blank">Greenhouse Gas (GHG) Inventory of Adani Electricity Mumbai Limited</a></li>
               <ul class="bullets-ul" style="padding-left: 25px;">
                  <li style="padding-top: 10px;">FY : 2020-21</li>
                  <li style="padding-top: 10px;">FY : 2021-22</li>
               </ul>
            </ul>
            <p class="mb-2 pl-4 d-none"><b>Summary of Various ESG initiative</b></p>
            <div class="table-responsive pl-4 d-none">
               <table class="table table-bordered table-striped txt-sm bg-white" style="min-width:950px;">
                  <thead style="background: #ee7d27; color: #fff;">
                     <th>Initiative </th>
                     <th>Impact </th>
                  </thead>
                  <tbody>
                     <tr>
                        <td colspan="2"><b>Environment</b></td>
                     </tr>
                     <tr>
                        <td>Energy Efficient Appliance</td>
                        <td>Cumulative saving of 60.04 mus till March 2021</td>
                     </tr>
                     <tr>
                        <td>Replacement of Street light bulb</td>
                        <td>Reduce energy consumption by 41% (from 48.61 Mus to 28.64 Mus) from FY17 to FY21 </td>
                     </tr>
                     <tr>
                        <td colspan="2"><b>Social Initiative</b></td>
                     </tr>
                     <tr>
                        <td>Lightening the city of Mumbai</td>
                        <td>Gorai village, Navsachapada (Aarey Colony) Sidharth Nagar, Andheri (West), Yagnik Nagar in Amboli are without electricity for many years has been provided electricity</td>
                     </tr>
                     <tr>
                        <td>Women Empowerment</td>
                        <td>37 women trained for Bill distribution</td>
                     </tr>
                     <tr>
                        <td>Self-Employment </td>
                        <td>100 landless tribal registers for livelihood support in various specialised business</td>
                     </tr>
                     <tr>
                        <td>Employment </td>
                        <td>1,142 trained and 1063 candidates respectively got employment in local Manufacturing units in near Dahanu area </td>
                     </tr>
                     <tr>
                        <td>COVID-19</td>
                        <td>Supply released to 2,957 flats and 9 hospitals with 500 bed capacity identified for quarantine purpose.</td>
                     </tr>
                     <tr>
                        <td>Education </td>
                        <td>1,500 students and 23 Zilla Parishad Schools in Dahanu areas</td>
                     </tr>
                     <tr>
                        <td>Health - Drinking water Filtration Plant</td>
                        <td>5,500 People benefited </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="h-blocks-parent py-5 sustainabilityHomeTile d-lg-none d-block esg_toggle-section" id="toggle_ESG-tiles">
   <div class="container">
      <h2 class="txt-md mb-4 text-white">Our 3 fold approach towards ESG is as follows:</h2>
      <div class="row">
         <div class="col-lg-4 mb-lg-0 mb-4" id="tile-1">
            <div class="h-blocks p-4 showsection" target="1">
               <div class="bg-images">
                  <img src="https://www.adanitransmission.com/-/media/Project/Transmission/Home/RS7824_ThinkstockPhotos-506316644-hig.jpg?h=700&la=en&w=1600&hash=0AD59A0D3AA38230D90A1DA1427C7DFF" class="img-fluid" alt="" disablewebedit="False">
               </div>
               <div class="h-blocks-inner">
                  <h3>Care for Planet Earth</h3>
                  <ul>
                     <li><b>Reducing carbon footprint</b>. 30% procurement from renewable sources by FY 2023 and 60% procurement by FY 2027</li>
                     <li>Water and Waste management</li>
                  </ul>
                  <p class="h-blocks-btn">Read more</p>
               </div>
            </div>
            <div id="div1" class="targetDiv" style="display: none;">
               <div class="inner_content">
                  <h2>Environment</h2>
                  <div class="panel">
                     <h3>AEML's initiatives towards reduction of carbon footprint</h3>
                     <ul>
                        <li>275 MUs of renewable energy procured (~ 3% of total energy procured). </li>
                        <li>AEML has already tied up 700 MW grid connected hybrid power (solar and wind) at Rs. 3.24 per unit, delivering 50% CUF, for which regulatory approval has been received.</li>
                        <li>AEML-D filed petition for before MERC for power procurement of 1,000 MW RE + Thermal RTC Power. This is to further boost the RE contribution in AEML-D's energy mix
                        <li>By FY 2027, we target to 50% procure power from renewable resources.</li>
                        <li>AEML offers Green Energy flexibility to all Mumbai customers, through MERC approved scheme and additional through Green Energy certificates duly traceable to green Renewable Energy. </li>
                        <li>Roof top Solar Panels installation & commissioning completed at Aarey, Versova & Ghodbunder EHV Sub Station. Total capacity added - 245 kW</li>
                        <li>Energy saving programs implemented by the Company in past years, continues to accrue energy savings.  We have cumulatively save 60.04 mus through this program. </li>
                        <li>Around 87,000 Old HPSV lamps replaced by energy efficient LED luminaries. This is help to reduce energy consumption by 41% (from 48.61 Mus to 28.64 Mus) </li>
                        <li>The Company has deployed 6 electric vehicles, 1 E-Verito (Sedan) and 5 nos. of eSupro (passenger vehicle) to carry out its network management activities since 2018. We have set up Electric Vehicle Charging Points at 8 strategic office locations to charge our fleet of all the 6 electric vehicles.</li>
                        <li>Company has made tie-up with M/s Mass Tech Controls for owning and operating the Public EV Charging Station in MIDC (Andheri), Kalanagar Receiving Station (BKC) and Adani Electricity Management Institute (SEEPZ). </li>
                        <li><a style="color: #007bff;font-weight: bold;" href="-/media/A36FD16FBB7F46C2A612529E6D55B572.ashx" target="_blank">Greenhouse Gas (GHG) Inventory of Adani Electricity Mumbai Limited</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-lg-0 mb-4" id="tile-2">
            <div class="h-blocks p-4 showsection" target="2">
               <div class="bg-images">
                  <img src="https://just36news.com/uploads/breakingnews/r_1577773814hatsApp-Image-2019-12-30-at-3.51..jpg" class="img-fluid" alt="Adani Transmission Limited - Sustainability" disablewebedit="False">
               </div>
               <div class="h-blocks-inner">
                  <h3>Care for Society</h3>
                  <ul>
                     <li>Focus on Education Health, Sustainable Livelihood and Community Infrastructure</li>
                     <li>Providing high quality of reliable power supply</li>
                  </ul>
                  <p class="h-blocks-btn">Read more</p>
               </div>
            </div>
            <div id="div2" class="targetDiv" style="display: none;">
               <div class="inner_content">
                  <h2>Society </h2>
                  <div class="panel">
                     <h3>AEML though Adani Foundation, execution partner, has been striving to create sustainable opportunities for the marginalized communities. for their basic right of Quality Education, Health Facility, Quality and Sustainable Livelihood and Community Infrastructure</h3>
                  </div>
                  <div class="panel">
                     <h3>Community Infrastructure</h3>
                     <h4>Lightening the city of Mumbai</h4>
                     <ul>
                        <li>AEML responsively tackled Social Responsibility and electrified Gorai village, tribal hamlet Navsachapada at Aarey Colony after 70 years</li>
                        <li>AEML lightened up hutments by releasing new connections in Sidharth Nagar, Andheri (West) to 96 occupants, post receiving approval from the Maharashtra Coastal Zone, Management Authority (MCZMA), MHADA, and MCGM.</li>
                        <li>Power supply released to Yagnik Nagar in Amboli after 25 years. </li>
                        <li>Installed 111 streetlights across Chembur, Charkop, Jogeshwari, Bhayander and BKC for the safety of people.</li>
                     </ul>
                     <p>Agwan village near Dahanu is not having drinking water facility. Due to marshy land condition ground water is not of drinking quality. Agwan villagers used to walk 3 to 4 kms to bring drinking water. AEML had installed Drinking water Filtration Plant at Agwan – Mothapada of capacity 5 m3/hr.; around 5,500 people benefited. </p>
                     <p>Developing infrastructure and sanitation facility for girl students at Modern School, Marol, Andheri (E)</p>
                  </div>
                  <div class="panel">
                     <h3>Health </h3>
                     <p class="mb-3">Any country can develop, only if its people are healthy. AEML has undertaken certain initiatives, to imbibe a healthy standard of living. </p>
                     <h4>Adani Electricity rise to the challenge of COVID-19. </h4>
                     <p class="mb-3">Supply released to 2,957 flats and 9 hospitals with 500 bed capacity identified for quarantine purpose.</p>
                     <p class="mb-5">Supply released within 24 hours to a 30,000 sq. feet camp at Versova ground built by Maharashtra Home Guards with a capacity to accommodate 500 people.</p>
                     <h4>Swachhagraha with safety</h4>
                     <p class="mb-3">To create a culture of cleanliness and spreading awareness on safety, it also targets children as change agents to bring about behavioral and attitudinal change. Activities and programs under this initiative are executed through Swachhagraha dals (Group) and Preraks in schools.</p>
                     <p class="mb-3">Adani Electricity with support from BMC launched 'Safety Swachhagraha' program in 2,269 schools in Mumbai under the gambit of the Prerak Training Program</p>
                  </div>
                  <div class="panel">
                     <h3>Sustainable Livelihood Development</h3>
                     <h4>Project Saksham (Skill Development)</h4>
                     <p class="mb-3">This is an initiative by AEML to bridge the socio-economic gap by providing the needy & destitute women with skills which will make them competent and capable to earn a sustainable livelihood. The skill Centre shall have multiple skill development options and shall provide training in various courses like</p>
                     <ul class="mb-5">
                        <li>English Speaking</li>
                        <li>Digital Literacy</li>
                        <li>Financial Literacy</li>
                        <li>Home Health Care</li>
                        <li>Bill Distribution</li>
                        <li>Meter Reading</li>
                     </ul>
                     <h4>Women Employment </h4>
                     <p class="mb-3">In September 2020, Saksham Trust was invited to be a part of the project of Adani Electricity, Mumbai for providing unskilled women an opportunity for Equal work for Bill Distribution and Meter Reading for parts of Mumbai Region. </p>
                     <p class="mb-5">Currently there are 20 Women Bill Distribution Executives and 1 Women Computer Operator and 2 Women Supervisors and more 14 Women will be joining us for the Meter Reading Work by end of April 2021. This opportunity by AEML had directly impacted 37 lives of under privileged women positively. Not just their lives but their whole family is growing along with them. These women had no standing or identity of their own in society and were dependent on other for even for a meal and this lockdown had made the lives very difficult for them to survive.</p>
                     <h4>Self Employment</h4>
                     <p class="mb-3">AEML in association with "NABARD" initiated a program "Integrated Tribal Development Project in selected 11 villages of Dahanu Taluka as 50:50 contribution. This project is executing through project implementing agency "MITTRA".</p>
                     <p class="mb-3">The programmed is phased over 7 years, for developing 1 acre "Wadi" for landowners. 1,000 landowners have registered and benefited.</p>
                     <p class="mb-3">100 landless tribal registers for livelihood support in various speacilised business</p>
                     <p class="mb-5">1,142 candidates trained and out of these 1,142 and 1,063 candidates respectively got employment in local Manufacturing units in Dahanu area </p>
                     <h4>Education</h4>
                     <p class="mb-3">More than 1,500 students has been provided educational material and installed E-Learning kits in 23 Zilla Parisad Schools in Dahanu areas.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-lg-0 mb-4" id="tile-3">
            <div class="h-blocks p-4 showsection" target="3">
               <div class="bg-images">
                  <img src="https://www.adanitransmission.com/-/media/C24AE241127A411DAEE8BFFDFB0BE9FF.ashx" class="img-fluid">
               </div>
               <div class="h-blocks-inner">
                  <h3>Care for Stakeholders</h3>
                  <ul>
                     <li>Safety for consumers and employees at the core</li>
                     <li>Maintaining high corporate governance standards</li>
                  </ul>
                  <p class="h-blocks-btn">Read more</p>
               </div>
            </div>
            <div id="div3" class="targetDiv" style="display: none;">
               <div class="inner_content">
                  <h2>Governance </h2>
                  <div class="panel">
                     <p class="mb-3">The Adani Group/AEML has also aligned and strengthened all its business strategies on the foundation of ethical and radically transparent business operations. The AEML Board that consists of independent directors having dynamic and vast experience, continue to follow the highest standards of corporate governance and seek to embed and sustain a culture that will enable them to achieve their long-term strategic objectives, by building durable partnerships and upholding the core values of Trust, Courage and Commitment.</p>
                     <p class="mb-3">AEML Board governance comprises of Audit Committee, Nomination & Remuneration committee and Corporate Social Responsibility Committee with maximum composition of Independent Directors.</p>
                     <p class="mb-3">Qatar Investment Authority (QIA), that has a track record of investing in world class global infrastructure projects, is a strategic partner of AEML with 25.10% equity holding.</p>
                     <p class="mb-3">Considering corporate governance more of an ethical requisite than a regulatory necessity, AEML has voluntarily adopted and evolved various practices of governance conforming to the highest ethical and responsible standards of business. These practices reflect the way business is conducted and value is generated.</p>
                     <p class="mb-3">AEML board comprises of 7 directors - 1 Executive Director. 4 Non-Executive/Non-Independent 2 Independent Directors (1 director is women).</p>
                     <p class="mb-3">AEML Board governance comprises of Audit Committee, Nomination & Remuneration committee and Corporate Social Responsibility Committee</p>
                     <div class="table-responsive mb-3">
                        <table class="table table-bordered txt-sm bg-white" style="min-width:950px;">
                           <thead class="d-none">
                              <th>Name of Committee</th>
                              <th>Objective/Purpose of Committee </th>
                              <th style="min-width: 150px;">Non-Independent Director</th>
                              <th>Independent Director</th>
                              <th>Total</th>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>Audit Committee</td>
                                 <td>2/3rd strength is of Independent Directors Financial Due Diligence, Compliance, and approval of Related Party Transactions Headed by Independent Director, </td>
                              </tr>
                              <tr>
                                 <td>Nomination & Remuneration committee</td>
                                 <td>Headed by 50%Independent Director. Evaluation of Independent Directors and the Board of directors.</td>
                              </tr>
                              <tr>
                                 <td>Corporate Social Responsibility (CSR) Committee</td>
                                 <td>25% Independent Director. Recommend and monitor CSR activities & expenditure.</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <p class="mb-3">Detail Terms of reference of each committee and other information can be viewed on <a href="https://www.adanielectricity.com/Investor-Relations" target="_blank">https://www.adanielectricity.com/Investor-Relations</a></p>
                     <p class="mb-3">We have also constituted management committee comprising experts of each function and having experience to overview the operations of the company. </p>
                     <div class="table-responsive d-none">
                        <table class="table table-bordered txt-sm bg-white" style="min-width:950px;">
                           <thead>
                              <th>Sr. No.</th>
                              <th>Name of Policy </th>
                              <th>Adoption</th>
                              <th>Objective of Policy</th>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>1</td>
                                 <td>Nomination and Remuneration Policy</td>
                                 <td></td>
                                 <td>To benchmark relationship of qualifications performance, and remuneration</td>
                              </tr>
                              <tr>
                                 <td>2</td>
                                 <td>Related Party Transaction Policy</td>
                                 <td>Voluntary</td>
                                 <td>To ensure arms length pricing, requisite approval, disclosure and reporting</td>
                              </tr>
                              <tr>
                                 <td>3</td>
                                 <td>Code of Conducts</td>
                                 <td>Voluntary</td>
                                 <td>To reviews corporate governance best practices to ensure that they reflect global standards and statutory requirements.</td>
                              </tr>
                              <tr>
                                 <td>4</td>
                                 <td>POSH (Prevention of sexual Harassment) Policy </td>
                                 <td></td>
                                 <td>To create awareness amongst employees to avoid Sexual Harassment through any mode and with any one</td>
                              </tr>
                              <tr>
                                 <td>5</td>
                                 <td>Vigil Mechanism Policy</td>
                                 <td></td>
                                 <td>To provide a framework to promote responsible and secure whistle blowing.</td>
                              </tr>
                              <tr>
                                 <td>6</td>
                                 <td>Anti-Corruption Anti Bribery Policy</td>
                                 <td>Voluntary</td>
                                 <td>set out our responsibilities to comply with laws against bribery and corruption;</td>
                              </tr>
                              <tr>
                                 <td>7</td>
                                 <td>Corporate Social Responsibility Policy</td>
                                 <td></td>
                                 <td>Improve Quality of Life for All our Communities through Integrated and Sustainable Development.</td>
                              </tr>
                              <tr>
                                 <td>8</td>
                                 <td>ID (Independent Directors) terms and Conditions of Appointment</td>
                                 <td></td>
                                 <td>Terms and Conditions of Appointment of Directors</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="h-blocks-parent py-5 sustainabilityHomeTile d-lg-block d-none esg_toggle-section">
   <div class="container">
      <h2 class="txt-md mb-4 text-white">Our 3 fold approach towards ESG is as follows:</h2>
      <div class="row">
         <div class="col-lg-4">
            <div class="h-blocks p-4 showsection" target="4">
               <div class="bg-images">
                  <img src="https://www.adanitransmission.com/-/media/Project/Transmission/Home/RS7824_ThinkstockPhotos-506316644-hig.jpg?h=700&la=en&w=1600&hash=0AD59A0D3AA38230D90A1DA1427C7DFF" class="img-fluid" alt="" disablewebedit="False">
               </div>
               <div class="h-blocks-inner">
                  <h3>Care for Planet Earth</h3>
                  <ul>
                     <li><b>Reducing carbon footprint</b>. 30% procurement from renewable sources by FY 2023 and 60% procurement by FY 2027</li>
                     <li>Water and Waste management</li>
                  </ul>
                  <p class="h-blocks-btn">Read more</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="h-blocks p-4 showsection" target="5">
               <div class="bg-images">
                  <img src="https://just36news.com/uploads/breakingnews/r_1577773814hatsApp-Image-2019-12-30-at-3.51..jpg" class="img-fluid" alt="Adani Transmission Limited - Sustainability" disablewebedit="False">
               </div>
               <div class="h-blocks-inner">
                  <h3>Care for Society</h3>
                  <ul>
                     <li>Focus on Education Health, Sustainable Livelihood and Community Infrastructure</li>
                     <li>Providing high quality of reliable power supply</li>
                  </ul>
                  <p class="h-blocks-btn">Read more</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="h-blocks p-4 showsection" target="6">
               <div class="bg-images">
                  <img src="https://www.adanitransmission.com/-/media/C24AE241127A411DAEE8BFFDFB0BE9FF.ashx" class="img-fluid">
               </div>
               <div class="h-blocks-inner">
                  <h3>Care for Stakeholders</h3>
                  <ul>
                     <li>Safety for consumers and employees at the core</li>
                     <li>Maintaining high corporate governance standards</li>
                  </ul>
                  <p class="h-blocks-btn">Read more</p>
               </div>
            </div>
         </div>
      </div>
      <div id="div4" class="targetDiv" style="display: none;">
         <div class="inner_content">
            <h2>Environment</h2>
            <div class="panel">
               <h3>AEML's initiatives towards reduction of carbon footprint</h3>
               <ul>
                  <li>275 MUs of renewable energy procured (~ 3% of total energy procured). </li>
                  <li>AEML has already tied up 700 MW grid connected hybrid power (solar and wind) at Rs. 3.24 per unit, delivering 50% CUF, for which regulatory approval has been received.</li>
                  <li>AEML-D filed petition for before MERC for power procurement of 1,000 MW RE + Thermal RTC Power. This is to further boost the RE contribution in AEML-D's energy mix
                  <li>By FY 2027, we target to 50% procure power from renewable resources.</li>
                  <li>AEML offers Green Energy flexibility to all Mumbai customers, through MERC approved scheme and additional through Green Energy certificates duly traceable to green Renewable Energy. </li>
                  <li>Roof top Solar Panels installation & commissioning completed at Aarey, Versova & Ghodbunder EHV Sub Station. Total capacity added - 245 kW</li>
                  <li>Energy saving programs implemented by the Company in past years, continues to accrue energy savings.  We have cumulatively save 60.04 mus through this program. </li>
                  <li>Around 87,000 Old HPSV lamps replaced by energy efficient LED luminaries. This is help to reduce energy consumption by 41% (from 48.61 Mus to 28.64 Mus) </li>
                  <li>The Company has deployed 6 electric vehicles, 1 E-Verito (Sedan) and 5 nos. of eSupro (passenger vehicle) to carry out its network management activities since 2018. We have set up Electric Vehicle Charging Points at 8 strategic office locations to charge our fleet of all the 6 electric vehicles.</li>
                  <li>Company has made tie-up with M/s Mass Tech Controls for owning and operating the Public EV Charging Station in MIDC (Andheri), Kalanagar Receiving Station (BKC) and Adani Electricity Management Institute (SEEPZ). </li>
                  <li><a style="color: #007bff;font-weight: bold;" href="-/media/A36FD16FBB7F46C2A612529E6D55B572.ashx" target="_blank">Greenhouse Gas (GHG) Inventory of Adani Electricity Mumbai Limited</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div id="div5" class="targetDiv" style="display: none;">
         <div class="inner_content">
            <h2>Society </h2>
            <div class="panel">
               <h3>AEML though Adani Foundation, execution partner, has been striving to create sustainable opportunities for the marginalized communities. for their basic right of Quality Education, Health Facility, Quality and Sustainable Livelihood and Community Infrastructure</h3>
            </div>
            <div class="panel">
               <h3>Community Infrastructure</h3>
               <h4>Lightening the city of Mumbai</h4>
               <ul>
                  <li>AEML responsively tackled Social Responsibility and electrified Gorai village, tribal hamlet Navsachapada at Aarey Colony after 70 years</li>
                  <li>AEML lightened up hutments by releasing new connections in Sidharth Nagar, Andheri (West) to 96 occupants, post receiving approval from the Maharashtra Coastal Zone, Management Authority (MCZMA), MHADA, and MCGM.</li>
                  <li>Power supply released to Yagnik Nagar in Amboli after 25 years. </li>
                  <li>Installed 111 streetlights across Chembur, Charkop, Jogeshwari, Bhayander and BKC for the safety of people.</li>
               </ul>
               <p>Agwan village near Dahanu is not having drinking water facility. Due to marshy land condition ground water is not of drinking quality. Agwan villagers used to walk 3 to 4 kms to bring drinking water. AEML had installed Drinking water Filtration Plant at Agwan – Mothapada of capacity 5 m3/hr.; around 5,500 people benefited. </p>
               <p>Developing infrastructure and sanitation facility for girl students at Modern School, Marol, Andheri (E)</p>
            </div>
            <div class="panel">
               <h3>Health </h3>
               <p class="mb-3">Any country can develop, only if its people are healthy. AEML has undertaken certain initiatives, to imbibe a healthy standard of living. </p>
               <h4>Adani Electricity rise to the challenge of COVID-19. </h4>
               <p class="mb-3">Supply released to 2,957 flats and 9 hospitals with 500 bed capacity identified for quarantine purpose.</p>
               <p class="mb-5">Supply released within 24 hours to a 30,000 sq. feet camp at Versova ground built by Maharashtra Home Guards with a capacity to accommodate 500 people.</p>
               <h4>Swachhagraha with safety</h4>
               <p class="mb-3">To create a culture of cleanliness and spreading awareness on safety, it also targets children as change agents to bring about behavioral and attitudinal change. Activities and programs under this initiative are executed through Swachhagraha dals (Group) and Preraks in schools.</p>
               <p class="mb-3">Adani Electricity with support from BMC launched 'Safety Swachhagraha' program in 2,269 schools in Mumbai under the gambit of the Prerak Training Program</p>
            </div>
            <div class="panel">
               <h3>Sustainable Livelihood Development</h3>
               <h4>Project Saksham (Skill Development)</h4>
               <p class="mb-3">This is an initiative by AEML to bridge the socio-economic gap by providing the needy & destitute women with skills which will make them competent and capable to earn a sustainable livelihood. The skill Centre shall have multiple skill development options and shall provide training in various courses like</p>
               <ul class="mb-5">
                  <li>English Speaking</li>
                  <li>Digital Literacy</li>
                  <li>Financial Literacy</li>
                  <li>Home Health Care</li>
                  <li>Bill Distribution</li>
                  <li>Meter Reading</li>
               </ul>
               <h4>Women Employment </h4>
               <p class="mb-3">In September 2020, Saksham Trust was invited to be a part of the project of Adani Electricity, Mumbai for providing unskilled women an opportunity for Equal work for Bill Distribution and Meter Reading for parts of Mumbai Region. </p>
               <p class="mb-5">Currently there are 20 Women Bill Distribution Executives and 1 Women Computer Operator and 2 Women Supervisors and more 14 Women will be joining us for the Meter Reading Work by end of April 2021. This opportunity by AEML had directly impacted 37 lives of under privileged women positively. Not just their lives but their whole family is growing along with them. These women had no standing or identity of their own in society and were dependent on other for even for a meal and this lockdown had made the lives very difficult for them to survive.</p>
               <h4>Self Employment</h4>
               <p class="mb-3">AEML in association with "NABARD" initiated a program "Integrated Tribal Development Project in selected 11 villages of Dahanu Taluka as 50:50 contribution. This project is executing through project implementing agency "MITTRA"..</p>
               <p class="mb-3">The programmed is phased over 7 years, for developing 1 acre "Wadi" for landowners. 1,000 landowners have registered and benefited.</p>
               <p class="mb-3">100 landless tribal registers for livelihood support in various speacilised business</p>
               <p class="mb-5">1,142 candidates trained and out of these 1,142 and 1,063 candidates respectively got employment in local Manufacturing units in Dahanu area </p>
               <h4>Education</h4>
               <p class="mb-3">More than 1,500 students has been provided educational material and installed E-Learning kits in 23 Zilla Parisad Schools in Dahanu areas.</p>
            </div>
         </div>
      </div>
      <div id="div6" class="targetDiv" style="display: none;">
         <div class="inner_content">
            <h2>Governance </h2>
            <div class="panel">
               <p class="mb-3">The Adani Group/AEML has also aligned and strengthened all its business strategies on the foundation of ethical and radically transparent business operations. The AEML Board that consists of independent directors having dynamic and vast experience, continue to follow the highest standards of corporate governance and seek to embed and sustain a culture that will enable them to achieve their long-term strategic objectives, by building durable partnerships and upholding the core values of Trust, Courage and Commitment.</p>
               <p class="mb-3">AEML Board governance comprises of Audit Committee, Nomination & Remuneration committee and Corporate Social Responsibility Committee with maximum composition of Independent Directors.</p>
               <p class="mb-3">Qatar Investment Authority (QIA), that has a track record of investing in world class global infrastructure projects, is a strategic partner of AEML with 25.10% equity holding.</p>
               <p class="mb-3">Considering corporate governance more of an ethical requisite than a regulatory necessity, AEML has voluntarily adopted and evolved various practices of governance conforming to the highest ethical and responsible standards of business. These practices reflect the way business is conducted and value is generated.</p>
               <p class="mb-3">AEML board comprises of 7 directors - 1 Executive Director. 4 Non-Executive/Non-Independent 2 Independent Directors (1 director is women).</p>
               <p class="mb-3">AEML Board governance comprises of Audit Committee, Nomination & Remuneration committee and Corporate Social Responsibility Committee</p>
               <div class="table-responsive mb-3">
                  <table class="table table-bordered txt-sm bg-white" style="min-width:950px;">
                     <thead class="d-none">
                        <th>Name of Committee</th>
                        <th>Objective/Purpose of Committee </th>
                        <th style="min-width: 150px;">Non-Independent Director</th>
                        <th>Independent Director</th>
                        <th>Total</th>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Audit Committee</td>
                           <td>2/3rd strength is of Independent Directors Financial Due Diligence, Compliance, and approval of Related Party Transactions Headed by Independent Director, </td>
                        </tr>
                        <tr>
                           <td>Nomination & Remuneration committee</td>
                           <td>Headed by 50%Independent Director. Evaluation of Independent Directors and the Board of directors.</td>
                        </tr>
                        <tr>
                           <td>Corporate Social Responsibility (CSR) Committee</td>
                           <td>25% Independent Director. Recommend and monitor CSR activities & expenditure.</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <p class="mb-3">Detail Terms of reference of each committee and other information can be viewed on <a href="https://www.adanielectricity.com/Investor-Relations" target="_blank">https://www.adanielectricity.com/Investor-Relations</a></p>
               <p class="mb-3">We have also constituted management committee comprising experts of each function and having experience to overview the operations of the company. </p>
               <div class="table-responsive d-none">
                  <table class="table table-bordered txt-sm bg-white" style="min-width:950px;">
                     <thead>
                        <th>Sr. No.</th>
                        <th>Name of Policy </th>
                        <th>Adoption</th>
                        <th>Objective of Policy</th>
                     </thead>
                     <tbody>
                        <tr>
                           <td>1</td>
                           <td>Nomination and Remuneration Policy</td>
                           <td></td>
                           <td>To benchmark relationship of qualifications performance, and remuneration</td>
                        </tr>
                        <tr>
                           <td>2</td>
                           <td>Related Party Transaction Policy</td>
                           <td>Voluntary</td>
                           <td>To ensure arms length pricing, requisite approval, disclosure and reporting</td>
                        </tr>
                        <tr>
                           <td>3</td>
                           <td>Code of Conducts</td>
                           <td>Voluntary</td>
                           <td>To reviews corporate governance best practices to ensure that they reflect global standards and statutory requirements.</td>
                        </tr>
                        <tr>
                           <td>4</td>
                           <td>POSH (Prevention of sexual Harassment) Policy </td>
                           <td></td>
                           <td>To create awareness amongst employees to avoid Sexual Harassment through any mode and with any one</td>
                        </tr>
                        <tr>
                           <td>5</td>
                           <td>Vigil Mechanism Policy</td>
                           <td></td>
                           <td>To provide a framework to promote responsible and secure whistle blowing.</td>
                        </tr>
                        <tr>
                           <td>6</td>
                           <td>Anti-Corruption Anti Bribery Policy</td>
                           <td>Voluntary</td>
                           <td>set out our responsibilities to comply with laws against bribery and corruption;</td>
                        </tr>
                        <tr>
                           <td>7</td>
                           <td>Corporate Social Responsibility Policy</td>
                           <td></td>
                           <td>Improve Quality of Life for All our Communities through Integrated and Sustainable Development.</td>
                        </tr>
                        <tr>
                           <td>8</td>
                           <td>ID (Independent Directors) terms and Conditions of Appointment</td>
                           <td></td>
                           <td>Terms and Conditions of Appointment of Directors</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="pt-5 pb-4">
   <div class="container">
      <h2 class="heading pl-4 mb-4">
         Major Milestones achieved till date
      </h2>
      <div class="row">
         <div class="col-lg-12 loadmore-content">
            <p class="mb-3 pl-4  d-block">
               Always connected with customers & community for support:
            </p>
         </div>
      </div>
      <div class="owl-carousel asg-milestones">
         <div class="item">
            <div class="h-blocks p-4" data-toggle="collapse" data-target="#div-3">
               <div class="bg-images">
                  <img src="-/media/C85A21A3CA0948269B2B5D08B665404C.ashx" class="img-fluid">
               </div>
               <div class="h-blocks-inner">
                  <h3>Electrification of Gorai village after 70 years</h3>
                  <p>After acquisition, Adani commenced work on laying underground cables and using a substation to supply electricity in the remote area of Gorai to provide electricity to area without electricity for 70 years </p>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="h-blocks p-4" data-toggle="collapse" data-target="#div-3">
               <div class="bg-images">
                  <img src="-/media/A23DB5C64B0F47A1BAA58C7BA506E3C7.ashx" class="img-fluid">
               </div>
               <div class="h-blocks-inner">
                  <h3>Integrated Tribal Development Project</h3>
                  <p>AEML-ADTPS in association with “NABARD” initiated a program to provide livelihood to tribal. Till date 100 landless tribal registers for livelihood support in Saloon shop, Goat farming, Aata-Chakki (Ghar ghanti), Tailoring shop, Kirana shop & Carpentry business etc </p>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="h-blocks p-4" data-toggle="collapse" data-target="#div-3">
               <div class="bg-images">
                  <img src="-/media/C70C8BCD628F456C971FD16387EE04C2.ashx" class="img-fluid">
               </div>
               <div class="h-blocks-inner">
                  <h3>Skill Development in local community</h3>
                  <p>ADTPS has established tailoring training Centre at Dahanu. Till date 1,142 and in FY20 156 candidates trained and out of these 1142 and 1063 candidates respectively got employment </p>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="h-blocks p-4" data-toggle="collapse" data-target="#div-3">
               <div class="bg-images">
                  <img src="-/media/41B78CD2C89C447CB6C20DD561079F1B.ashx" class="img-fluid">
               </div>
               <div class="h-blocks-inner">
                  <h3>Mazi Sangini</h3>
                  <p>Implemented Mazi Sangini in Mumbai to create a cadre of women entrepreneurs, who can become community leaders, and advisors to citizens on various topics like welfare, financial inclusion, women empowerment. The total applications made till now are 233 and the total benefits received are 123</p>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="h-blocks p-4" data-toggle="collapse" data-target="#div-3">
               <div class="bg-images">
                  <img src="https://www.adani.com/Sustainability/url('/-/media/Project/Ports/Sustainability/SustainabilityInner/Communities/communities1.jpg')" class="img-fluid">
               </div>
               <div class="h-blocks-inner">
                  <h3>Rural Infra & School development</h3>
                  <p>Helped rural area & schools in developing infrastructure (such as girls toilets, water filters, medical checks by doctors, for improved health better quality of life</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="contactPanel" style="margin-bottom: -2rem;">
   <div class="contactBanner" style="background: #200c51;"><img src="-/media/Project/Adani/Blog/Banner_Water/banner.jpg?h=503&la=en&w=1280&hash=17C9C323B24CE6641471DFAF5A28DEA6" alt="ESG" style="
      opacity: 0.3;object-fit: cover;
      "></div>
   <div class="container">
      <div class="row align-items-center text-center">
         <div class="col-md-6 text-md-left">
            <h4 style="color: #fff;">Explore ADANI Group - Fight against COVID 19</h4>
         </div>
         <div class="col-md-5 ml-md-auto text-lg-right text-center"><a href="/esg/covid19" class="btnBordered whiteBtn btnLg text-center">View Details</a></div>
      </div>
   </div>
</div>