@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<section>
	<div class="container">
				<p class="mb-3"><b>Dear Customer,</b></p>
				<p>Welcome to the Green Club!</p>
				<p>Contribute to the environment by converting to Renewable Energy now!</p> 
				<div class="panel my-4">
					<p class="txt-sm mb-3">Please enter your details below to opt-in:</p>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Mobile number</label>
								<input type="text" class="form-control" id="" aria-describedby="" placeholder="" required="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Account no</label>
								<input type="text" class="form-control" id="" aria-describedby="" placeholder="" required="">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="check-g_club">
								<label class="form-check-label" for="check-g_club">I hereby express my interest in switching to green energy sources</label>
							</div>
						</div>
						<div class="col-12 py-4">
							  <button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</div>
			</div>
</section>