@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<section class="section_gp">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5 order-lg-1 order-2">
                <div class="section_gp--box">
                    <div>
                        <h1>Welcome to the <span>Green Club!</span></h1>
                        <img src="" class="img-fluid">
                        <p>Opt for green power tariff</p>
                        <p><a href="/greenpoweropt" class="btn btn-white">Join the Green Club</a></p>
                        <p><a href="-/media/2D70622A23C2491D967023332321C256.ashx" target="_blank"><span class="fa fa-question-circle mr-2"></span>Why should I opt for Green Power (FAQ's)</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1 py-5 ml-auto">
                <div class="mt-lg-5 mt-4">
                    <img src="-/media/6F2E3D7E50AC4F7F9A80FAF8B5344D99.ashx" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!--Modal-->
<div class="modal fade modal-popup" id="FAQModal" tabindex="-1" role="dialog" aria-labelledby="FAQModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5>Green Power Tarrif FAQ's</h5>
                <div class="modal-popup__content">
                    <div class="panel">
                        <p>
                            Once opted for Green Power Tariff................
                        </p>
                        <hr />
                        <p>
                            TBD
                        </p>
                        <hr />
                        <p>
                            TBD
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




