<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

      <pipelines>
        <initialize>
          <processor type="Sitecore.AdaniRoad.Website.Pipelines.RegisterWebApiRoutes, Sitecore.AdaniRoad.Website" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
        </initialize>
      </pipelines>
        <sites>
            <site name="AdaniRoad" patch:after="site[@name='modules_website']" 
                  targetHostName="AdaniRoad.$(rootHostName)|AdaniRoad.dev.local"
                  hostName = "AdaniRoad.$(rootHostName)|AdaniRoad.dev.local"
                  database="web" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/AdaniRoad" 
                  startItem="/Home" 
                  dictionaryPath="/sitecore/content/AdaniRoad/global/dictionary" 
                  dictionaryAutoCreate="false" 
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/AdaniRoad"
                  domain="AdaniRoad" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB" 
                  formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}"
                  loginPage="/login"
                  enableItemLanguageFallback="true" />
        </sites>
        <cacheSizes>
            <sites>
				<AdaniRoad>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </AdaniRoad>
            </sites>
        </cacheSizes>
        <settings>
            <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="AdaniRoad" />
            </setting>
        </settings>
    </sitecore>
</configuration>