@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    
    var i = 0;

}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img alt="" src="/images/ICAN/logo.svg" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                @if (element != null)
                {
                    if (element.HasChildren)
                    {

                        foreach (Item item in element.GetChildren())
                        {
                            if (i == 0)
                            {
                <a class="nav-item nav-link active" href="#"> @item.Fields["NavigationTitle"]</a>
                            }
                            else if (i == 3)
                            {
                <a class="nav-item nav-link btn btn-primary" href="#"> @item.Fields["NavigationTitle"]</a>
                            }
                            else
                            {
                <a class="nav-item nav-link" href="#"> @item.Fields["NavigationTitle"]</a>
                            }
                            i++;
                        }
                    }
                }
            </div>
                    </div>
                </nav>
            </div>


