<div class="media-banner">
    <img src="{{AboutUs.GenericImageBanner.Image}}" style="width: 100%"
        alt="{{AboutUs.GenericImageBanner.ImageAltText}}">
</div>
<div class="section-breadcrumb">
    <div class="container">
        <ol class="breadcrumb ad-breadcrumb margin-0">
            <li *ngFor="let breadcrumb of AboutUs.GenericBredcrumbNavigation.Data; last as isLast"
                class="breadcrumb-item">
                <a *ngIf="!isLast" href="{{breadcrumb.Link}}">{{breadcrumb.Heading}}</a>
                <a *ngIf="isLast" class="active">{{breadcrumb.Heading}}</a>
            </li>
        </ol>
    </div>
</div>
<div class="media-center">
    <div class="container">
        <h3>{{AboutUs.PageContent.Heading}}</h3>
        <div class="row">
            <div class="col-sm-12" innerHTML="{{AboutUs.PageContent.HTMLText}}">
            </div>
        </div>
    </div>

    <div class="media-center">
        <div class="container">
            <div class="about-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 row">
                            <div class="col-md-6" style="margin-bottom: 25px;">
                                <div class="row">
                                    <h3 style="color: #ef7104;">{{AboutUs.CultureValues.Data[0].Heading}}</h3>

                                    <div class="col-md-12 col-xs-12 padding-0 about_img" id="img1">
                                        <img class="lazy"
                                            src="{{AboutUs.CultureValues.Data[0].CultureValuesItems[0].Image}}"
                                            style="display: block; width: 100%;"
                                            alt="{{AboutUs.CultureValues.Data[0].CultureValuesItems[0].ImageAltText}}" />
                                        <span class="hovLayer"></span>
                                        <h4>{{AboutUs.CultureValues.Data[0].CultureValuesItems[0].Heading}}</h4>
                                        <h5>{{AboutUs.CultureValues.Data[0].CultureValuesItems[0].SubHeading}}</h5>
                                    </div>
                                    <div class="trust-row row padding-0">
                                        <div class="col-md-6 col-xs-6 padding-0 about_img trustCont">
                                            <img class="lazy"
                                                src="{{AboutUs.CultureValues.Data[0].CultureValuesItems[1].Image}}"
                                                style="display: block;width: 100%;"
                                                alt="{{AboutUs.CultureValues.Data[0].CultureValuesItems[1].ImageAltText}}" />
                                            <span class="hovLayer layerTrust"></span>
                                            <h4>{{AboutUs.CultureValues.Data[0].CultureValuesItems[1].Heading}}</h4>
                                            <h5>{{AboutUs.CultureValues.Data[0].CultureValuesItems[1].SubHeading}}</h5>
                                        </div>
                                        <div class="col-md-6 col-xs-6 padding-0 about_img commitCont">
                                            <img class="lazy"
                                                src="{{AboutUs.CultureValues.Data[0].CultureValuesItems[2].Image}}"
                                                style="display: block;width: 100%;"
                                                alt="{{AboutUs.CultureValues.Data[0].CultureValuesItems[2].ImageAltText}}" />
                                            <span class="hovLayer layerCommit"></span>
                                            <h4>{{AboutUs.CultureValues.Data[0].CultureValuesItems[2].Heading}}</h4>
                                            <h5>{{AboutUs.CultureValues.Data[0].CultureValuesItems[2].SubHeading}}
                                            </h5>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="col-md-6" style="margin-bottom: 25px;">
                                <div class="row">
                                    <h3 style="color: #ef7104;">{{AboutUs.CultureValues.Data[1].Heading}}</h3>

                                    <div *ngFor="let data of AboutUs.CultureValues.Data[1].CultureValuesItems; let i = index"
                                        [ngClass]="{
                                            'col-md-12 col-xs-12': i === 4,
                                            'col-md-6 col-xs-6': i < 4,
                                            'about_img': true,
                                            'entreCont': i === 4,
                                            'passionCont': i === 0,
                                            'resultsCont': i === 1,
                                            'integrationCont': i === 2,
                                            'dedicationCont': i === 3
                                        }">
                                        <img class="lazy" src="{{data.Image}}"
                                            style="display: block; width: 100%; padding: 0 !important; margin: 0 !important;"
                                            alt="{{data.ImageAltText}}" />
                                        <span
                                            [ngClass]="{'hovLayer': true, 'layerCommit': i === 3, 'layerTrust': i === 2, 'layerPassion': i === 0 }"></span>
                                        <h4>{{data.Heading}}</h4>
                                        <h5>{{data.SubHeading}}</h5>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ad-media-contents">
        <div class="container">
            <h3 style="color: #ef7104;">{{AboutUs.InThisSection.Heading}}</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4" *ngFor="let Media of AboutUs.InThisSection.Data">
                    <div class="media-box shadow">
                        <div class="mediaBlk">
                            <img class="lazy" src="{{Media.Image}}" style="display: block;"
                                alt="{{Media.ImageAltText}}" />
                            <div class="mediaHovBg">
                                <h3>{{Media.Heading}}</h3>
                                <!-- <div class="btnLearn"><a href="{{Media.CTALink}}">{{Media.CTAText}}</a></div>
                                <div class="btnLearn"><a href="/about-us/chairmans-message">{{Media.CTAText}}</a></div> -->

                                <div class="btnLearn"><a routerLink="{{Media.CTALink}}">{{Media.CTAText}}</a></div>
                                <div class="clear">&nbsp;</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>