<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Ports.Website.Pipelines.RegisterWebApiRoutes, Sitecore.Ports.Website" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true" />
      </initialize>
    </pipelines>
    <federatedAuthentication>
      <identityProvidersPerSites>
        <mapEntry name="Ports" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
          <sites hint="list">
            <site>Ports</site>
          </sites>
          <identityProviders hint="list:AddIdentityProvider">
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='Facebook']"/>
          </identityProviders>
          <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
            <param desc="isPersistentUser">true</param>
          </externalUserBuilder>
        </mapEntry>
      </identityProvidersPerSites>
    </federatedAuthentication>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="Ports">Ports</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="Ports">Ports</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="Ports" patch:after="site[@name='modules_website']"
            targetHostName="Ports.$(rootHostName)"
            hostName = "Ports.$(rootHostName)"
            database="web"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/Ports"
            startItem="/Home"
            dictionaryPath="/sitecore/content/Ports/global/dictionary"
            dictionaryAutoCreate="false"
            placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/Ports"
            domain="Ports"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB"
            formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}"
            loginPage="/login"
            enableItemLanguageFallback="true" />
    </sites>
    <cacheSizes>
      <sites>
        <Ports>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </Ports>
      </sites>
    </cacheSizes>
    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="Ports" />
      </setting>
      <setting name="VesselDtlsAnchorageProject:ApiPath" value="https://entosbext.adani.com/VesselDtlsAnchorageProject/PS/VesselDtlsAnchoragePS" />
      <setting name="VesselDtlsExpectedProject:ApiPath" value="https://entosbext.adani.com/VesselDtlsExpectedProject/PS/VesselDtlsExpectedPS" />
      <setting name="VesselDtlsSailed24Project:ApiPath" value="https://entosbext.adani.com/VesselDtlsSailed24Project/PS/VesselDtlsSailed24PS" />
      <setting name="VesselDtlsBerthProject:ApiPath" value="https://entosbext.adani.com/VesselDtlsBerthProject/PS/VesselDtlsBerthPS" />

      <setting name="UserName:ApiPath" value="websiteuser" />
      <setting name="UserPassword:ApiPath" value="3e9s1t@pr0d" />
    </settings>
  </sitecore>
</configuration>