<div *ngIf="showThankPopUp" id='sentFeedbackSuccess' class='modal show' role='dialog'>
    <div class='modal-dialog' id="my-Modal">
        <div class='modal-content'>
            <div class='modal-header'> <button type='button' class='close' (click)="closeModal()"
                    data-dismiss='modal'>&times;</button></div>
            <div class='modal-body text-center'>
                <h4 class='ad-secondary-color' id='messageSuccess'>Thank you for contacting us.</h4>
                <p id='messageShort'>We have received your enquiry and shall get back to you shortly.</p>
            </div>
            <div class='modal-footer'> <button type='button' class='btn btn-default close-mdl' (click)="closeModal()"
                    data-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>


<!-- cookies Modal/offcanvas START -->

<div class="cookies-layer" id="cookiesModal">

    <button type="button" class="icon_button lightRipple" onclick="closeCookie();">

        <svg viewbox="0 0 16 16">

            <path
                d="M11.7789771,3.15363708 C12.0185699,2.9140443 12.4474409,2.95956693 12.743937,3.25606299 C13.0404331,3.55255905 13.0859557,3.98143013 12.8463629,4.2210229 L12.8463629,4.2210229 L9.068,8 L12.8463629,11.7789771 C13.0619964,11.9946106 13.0466864,12.3635595 12.8253225,12.6513386 L12.743937,12.743937 C12.4474409,13.0404331 12.0185699,13.0859557 11.7789771,12.8463629 L11.7789771,12.8463629 L8,9.068 L4.2210229,12.8463629 C4.0053894,13.0619964 3.63644049,13.0466864 3.34866141,12.8253225 L3.25606299,12.743937 C2.95956693,12.4474409 2.9140443,12.0185699 3.15363708,11.7789771 L3.15363708,11.7789771 L6.932,8 L3.15363708,4.2210229 C2.93800358,4.0053894 2.95331356,3.63644049 3.17467752,3.34866141 L3.25606299,3.25606299 C3.55255905,2.95956693 3.98143013,2.9140443 4.2210229,3.15363708 L4.2210229,3.15363708 L8,6.932 Z"
                id="Combined-Shape"></path>

        </svg>

    </button>

    <h3>This website uses cookies</h3>

    <div class="cookiesContent">

        <p>Kindly accept cookies and continue using our website for a smoother experience.</p>

        <button type="button" class="btn btn-secondary primary_waves" onclick="closeCookie();">Accept Cookies</button>

    </div>

</div>

<!-- cookies Modal/offcanvas END -->;

<div class="section-footer section fp-auto-height footerFix" id="i4">
    <div class='common-footer'>
        <div class='container'>
            <div class='row'>
                <div class='footerLeft col-md-9'>
                    <div class='row'>
                        <div class='footerMenuList col-md-4' *ngFor="let child of footerdata.Navigation">
                            <h4><a href="{{child.CTALink}}">{{child.CTAText}}</a></h4>
                            <ul *ngIf="child.SubNavigation != null">
                                <li *ngFor="let subNavigation of child.SubNavigation">
                                    <h6><a href="{{subNavigation.CTALink}}">{{subNavigation.CTAText}}</a></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class='footerMenuList col-md-4'>
                            <div class='socialBox'>
                                <h4>{{Footer.FooterData.SocialLinks.Heading}}</h4>
                                <div class='ftrSocial'>
                                    <a *ngFor="let socialMedia of Footer.FooterData.SocialLinks.SocialLinksItems"
                                        href='{{socialMedia.Link}}' title='@SocialMediaList.ImageAltText'
                                        target='@SocialMediaList.LinkTarget'>
                                        <img src='{{socialMedia.Image}}' alt='{{socialMedia.ImageAltText}}'
                                            target="_blank">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class='footerRight col-md-3'>

                    <form>
                        <div class='inquiryForm'>
                            <h4>{{Footer.ContactFormData.Heading}}</h4>
                            <div><label id='lblmsg' class='form-error'></label></div>
                            <div class='contact-form'>
                                <div class='form-group txtname' id='name'>
                                    <input [type]='Footer.ContactFormData.FieldSectionData[0].FieldType'
                                        [name]="Footer.ContactFormData.FieldSectionData[0].FieldName"
                                        [placeholder]='Footer.ContactFormData.FieldSectionData[0].Placeholder'
                                        id='txtname' class="form-control"
                                        [attr.maxlength]="Footer.ContactFormData.FieldSectionData[0].MaxAllowedLength">
                                    <label id='lblrname' class='form-error'></label>
                                </div>

                                <div class='form-group txtemail' id='email'>
                                    <input [type]='Footer.ContactFormData.FieldSectionData[1].FieldType'
                                        [placeholder]='Footer.ContactFormData.FieldSectionData[1].Placeholder'
                                        id='txtemail' class="form-control"
                                        [attr.maxlength]="Footer.ContactFormData.FieldSectionData[1].MaxAllowedLength">
                                    <label id='lblemail' class='form-error'></label>
                                </div>

                                <div class='form-group'>
                                    <select name='' class='form-control enquiry' id='enquiry'>
                                        <option value='General Inquiry'>
                                            {{Footer.ContactFormData.FieldSectionData[2].FieldOptions[0].Label}}
                                        </option>
                                        <option value='Business Inquiry'>
                                            {{Footer.ContactFormData.FieldSectionData[2].FieldOptions[1].Label}}
                                        </option>
                                        <option value='Website Feedback'>
                                            {{Footer.ContactFormData.FieldSectionData[2].FieldOptions[2].Label}}
                                        </option>
                                        <option value='Media'>
                                            {{Footer.ContactFormData.FieldSectionData[2].FieldOptions[3].Label}}
                                        </option>
                                    </select>
                                </div>
                                <div class='form-group txtcomment' id='message'>
                                    <textarea class='form-control' rows="5"
                                        [placeholder]='Footer.ContactFormData.FieldSectionData[3].Placeholder'
                                        id='txtcomment'
                                        [attr.maxlength]="Footer.ContactFormData.FieldSectionData[3].MaxAllowedLength"></textarea>
                                    <label id='lblcomm' class='form-error'></label>
                                </div>
                                <input type="hidden" id="captchaResp" class="captchaResp" value="" />
                                <div class="form-group" id="recaptcha">
                                    <div class="g-recaptcha" data-sitekey="6LfRJ3gjAAAAALwT3z8xxUgB_d4-gRNioLftGeWb">
                                    </div>
                                </div>
                                <div>
                                    By continuing, you agree to our <a routerLink="/term-of-use">T&Cs</a> and <a
                                        routerLink="/privacy-policy">{{privacyPolicyData.PageContent.Heading}}</a>
                                </div>
                                <div class="form-group">
                                    <div class="input-wrapper floating">
                                        <p id="contact-error" class="form-error anim error">

                                        </p>
                                    </div>
                                </div>
                                <br />
                                <a id="submitbutton" class=' btn-block ad-btn-secondary' onclick="submitContactUsForm()"
                                    (click)="ContactForm()" href='javascript://'>Submit</a>
                                <div class='adaniLoader' id='contactLoader'> <img
                                        src='/alipurdar/src/assets/WesternTransmission/css/ajax-loader.gif'
                                        class='adaniLoaderImg'>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class='footer-copy'>
        <div class='container'>
            <div class='ftrBtmLink'>
                <a routerLink="/legal-disclaimer">{{legalDisclaimer.PageContent.Heading}}</a> &nbsp; | &nbsp;
                <a routerLink="/privacy-policy">{{privacyPolicyData.PageContent.Heading}}</a> &nbsp; | &nbsp;
                <a routerLink="/term-of-use">{{termsOfUse.PageContent.Heading}}</a>
            </div>
            <div class='ftrCopy'></div>
        </div>
    </div>
</div>
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>