.cookies-layer {
    background: #fff;
    width: 23.75rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 15%) 0 10px 37px;
    border: 0.5px solid rgba(118, 118, 118, .28);
    position: fixed;
    left: 1.5625rem;
    bottom: 1.5625rem;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    z-index: 111;
}

.icon_button {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 1.125rem;
    cursor: pointer;
    /* display: flex; */
    height: 2.25rem;
    justify-content: center;
    position: relative;
    transition: background-color .5s;
    width: 2.25rem;
    cursor: pointer;
    margin-left: -0.75rem;
    margin-bottom: 0.5rem;
    margin-top: -0.75rem;
}

.cookiesContent {
    display: flex;
    flex-direction: column;
}

.cookiesContent .primary_waves {
    background-color: #222;
    border-color: #222;
    transition: -ms-transform .1s ease 0s, -webkit-transform .1s ease 0s, transform .1s ease 0s;
    font-size: 1rem;
    margin-top: 1.5625rem;
    margin-left: auto;
    color: #fff;
    font-weight: 600;
}

.cookiesContent .btn {
    padding: 0.625rem 2rem;
}

.cookiesContent .btn {
    border-radius: 40px;
}

.cookies-layer h3 {
    margin: 0;
    font-size: 1.25rem !important;
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: #000;
}

.cookiesContent p {
    margin: 0;
    color: #000;
    font-size: .9375rem;
}

.cookies-layer .icon_button svg {
    width: 1.25rem;
    fill: #555;
    vertical-align: middle;
}

/* .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
} */

.close {
    float: right;
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}


#sentFeedbackSuccess .modal-header {
    justify-content: end;
}

#sentFeedbackSuccess .modal-backdrop-1.fade.show {
    filter: alpha(opacity=0);
    opacity: 0.5;
}

@media(max-width: 991px) {
    .cookies-layer {
        display: none;
    }
}

@media(max-width: 576px) {
    #my-Modal {
        max-width: 500px;
    }

}