@using Adani.BAU.Transmission.Feature.Media.Platform.Models;
@using Sitecore.Globalization;


@if (Model != null && Model.imageBanners.Count > 0)
{
    foreach (var item in Model.imageBanners)
    {
        <div class="media-banner">
            <img src="@item.ImageUrl" style="width: 100%" alt="@item.ImageAlt">
        </div>
    }
}
