@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="subSection scrollableOffset" id="@currentItem.DisplayName" auto_id="@Html.Sitecore().Field("AutoId", currentItem)">
        <div class="text-container">
            <div class="text-wrapper ">
                <p>@Html.Sitecore().Field("RichText", currentItem)</p>
            </div>
            <div class="black_link sectionReadMore" onclick="sectionReadMoreToggle(this)">@Html.Sitecore().Field("ButtonText", currentItem)</div>
        </div>
    </div>
}
