<div class="book-service">

    <div class="confirm-booking">
        <div class="flex">
            <div class="leftCntr">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="discription">
                            <span>Skycap Porter Service Domestic Departure</span>
                        </div>
                        <div class="discription"><span>Booking Date</span> : 17 Nov 2021</div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h4 class="dark mb-0">₹500</h4>
                        <div class="help">per porter (carrying 3 bags)</div>

                    </div>
                </div>
            </div>
            <div class="rightCntr">

                <a class="btn btn-primary btn-lg" href="#" role="button">
                    Book
                </a>

            </div>
        </div>
    </div>
</div>