@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();
}

@if (currentItem != null)
{
    <section class="banner-section bannerBox">
        <h2 class="page-title">
            @currentItem.Fields["Title"]
        </h2>
        <div class="about-banner">
            <img class="img-fluid rounded" loading ="lazy" src="@_helper.GetImageURL(currentItem,"Image")" />
        </div>
    </section>
}

