@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<div class="sectionWrapper statewiseWrapper widthControl">
    <div class="container">
        @Html.Sitecore().DynamicPlaceholder("cargo-wrapper")
    </div>
</div>