@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
}
@if (contextItem != null)
{
    <div class="currency-slider subSection scrollableOffset">
        <div class="forex_home_widget" data-platform="cloud">
        </div>
    </div>
}