@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="subSection">
        <div class="container">
            <h3 class="sr-heading">@Html.Sitecore().Field("Title", currentItem)</h3>
            @Html.Sitecore().Field("Description", currentItem)
        </div>
    </div>
}