@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;


}
@if (currentItem != null)
{
<div class="subSection flightinfoMumbai scrollableOffset" id="@currentItem.DisplayName">
    <h3 class="lineHeading">@Html.Sitecore().Field("__Short description", currentItem)</h3>
    <div class="flightListing">
        
            @foreach (Sitecore.Data.Items.Item route in currentItem.Children)
            {
                Sitecore.Data.Fields.LinkField linkField = ((Sitecore.Data.Fields.LinkField)route.Fields["Link"]);
                var redirectUrl = linkField.GetFriendlyUrl();
                if (redirectUrl != null)
                {
                    <ul>
                        <li><a href="@redirectUrl" class="black_link">@linkField.Text</a></li>
                    </ul>
                }
            }
        
    </div>
</div>
}



