@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items

@model RenderingModel
@{
    string porterWidgetHeading = string.Empty;
    string rewardPointsDescription = String.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var parms = rc.Rendering.Parameters;
        porterWidgetHeading = parms["PorterWidgetHeading"];
        rewardPointsDescription = parms["RewardPointsDescription"];
    }
}

<div class="subSection porter-form-wrap">
    <h2>@porterWidgetHeading</h2>
    <div class="form-container">
        <div class="full" id="pranaamPorterWidget">
        </div>
        <div class="loyalty-strip">
            <div class="d-flex align-items-center">
                <img src="../../assets/images/services/Coin.svg" loading="lazy">
                <p>@Html.Raw(rewardPointsDescription)</p>
            </div>
        </div>
    </div>
</div>
