@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

<div class="subSection">
    @Html.Sitecore().DynamicPlaceholder("services-subsection")
</div>
       
