@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
<div class="container">
    <div class="d-flex align-items-start services-container-list">
        @Html.Sitecore().Placeholder("servicemain")
        <div class="services-container" id="v-pills-tabContent">
            <div class="serviceDetail">
                @Html.Sitecore().DynamicPlaceholder("services-rightpanel")
            </div>
        </div>
    </div>
    @Html.Sitecore().Placeholder("top-panel")
</div>