@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <h2 class="mb-2">@Html.Sitecore().Field("Title", currentItem)</h2>
    <div class="text-container">
        <div class="text-wrapper ">
            <p>@Html.Sitecore().Field("Description", currentItem)</p>
        </div>
        <div class="black_link sectionReadMore" onclick="sectionReadMoreToggle(this)">@Html.Sitecore().Field("ButtonText", currentItem)</div>
    </div>   
}
