@{
    Sitecore.Data.Items.Item homeItem = Sitecore.Context.Database.GetItem("{1E9F3E3D-D6B0-4AE1-A7E6-D1BB2C619E71}");
}

@if (homeItem != null && !string.IsNullOrEmpty(homeItem["Warning"]))
{
    @Html.Raw(homeItem["Warning"])
}
@*<div class="notification" id="userInfo">
        <i class="i-info"></i>
        <p>For Electricity Duty Exemption / refund Application, please check <a href="https://www.maharashtra.gov.in">https://www.maharashtra.gov.in</a> (Notification Number 201906211139336010)</p>
        <span class="icon-holder waves-effect waves-light close">
            <i class="i-cross hide-notification"></i>
        </span>
    </div>*@