@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Electricity.Website.Model;
@model Sitecore.Electricity.Website.Model.ApplyFormModel
@{
    var item = Sitecore.Context.Database.GetItem(Templates.Tender.AdminTenderListing);

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<input type="hidden" value="@Model.FormType" id="formTypeVal" />

<div class="full">
    <div class="hero-banner-desktop full ac">
        <img src="/images/SwitchToGreen/hero-banner.jpg" alt="Switch To Green banner image" class="res-img" />
    </div>
    <div class="hero-banner-mobile full ac">
        <img src="/images/SwitchToGreen/hero-banner-mobile.jpg" alt="Switch To Green banner image" class="res-img" />
    </div>
</div>
<div class="container full pd-bn" id="greenpledgediv">
    <div class="small-wrapper full">
        <div>
            <p class="h1 full">AEML EV Pledge – Mumbai Switch to Green</p>
            <p class="full bf dp-tb">Adani Electricity Mumbai Limited (AEML) pledges to be the gamechanger in transitioning individuals and organisations to Electric Vehicles (EVs) for a better tomorrow.</p>
            <p class="full bf">
                <span>As an individual, you pledge by making a statement that your next vehicle will be electric. As an organization, you make a commitment towards ecological sustainability by making a gradual shift in your operations and employee mobility to electric vehicles. </span>
            </p>
            <div id="readLessSection" style="display:none;">
                <p class="full bf">Why take the Mumbai Switch to Green Pledge?</p>
                <ul>
                    <li>Create a tangible reminder for transitioning to EV </li>
                    <li>Make Mumbai an Electric Mobility powered city </li>
                    <li>Contribute to the bigger picture - Cleaner & Greener future </li>
                </ul>
                <p class="full bf">Close to 30% of an individual's carbon footprint comes from transportation based on fossil fuels. That’s a big number that can be reduced by switching to electric mobility. We understand that there may not be an electric vehicle currently available to meet your requirements. However, with the EV Pledge you take that first step to show that you care for the environment.</p>
            </div>
            <a href="#" class="hover anim" id="readMore">Read More</a>
            <a href="#" class="hover anim" id="readLess" style="display: none">Read Less</a>
        </div>
        @Html.Partial("~/Views/SwitchToGreen/Partial/_ApplyForm_SwitchToGreen.cshtml", Model)
    </div>
</div>
<div class="container full mx-auto">
    <img src="/images/SwitchToGreen/home-overview3.jpg" alt="" class="res-img" />
</div>

<div class="container full mx-auto" id="EVBenefitsdiv">
    <div class="small-wrapper full">
        <p class="h2 full">Why Electric Vehicle?</p>
        <ul class="full">
            <li class="dp-t">
                <div class="lyr-hldr lyr-alt lyr-s-80 full">
                    <div class="thumb lyr">
                        <img src="/images/SwitchToGreen/cleaner-environment.png" alt="" class="mr-t5" />
                    </div>
                    <div class="full dp-l">
                        <p class="full h4 mr-b8">Cleaner Environment</p>
                        <p class="full bf">Cleaner Environment – By switching to electric mobility, you contribute to reducing nearly 30% of your carbon footprint that comes from transportation. Did you know that it takes more than 250 trees to absorb the CO2 produced from one car in a single year?</p>
                    </div>
                </div>
            </li>
            <li class="dp-t">
                <div class="lyr-hldr lyr-alt lyr-s-80 full">
                    <div class="thumb lyr">
                        <img src="/images/SwitchToGreen/cost-effective.png" alt="" class="mr-t15" />
                    </div>
                    <div class="full dp-l">
                        <p class="full h4 mr-b8">Cost Effective</p>
                        <p class="full bf">You save over ₹5/km by switching to an Electric Vehicle.</p>
                    </div>
                </div>
            </li>
            <li class="dp-t">
                <div class="lyr-hldr lyr-alt lyr-s-80 full">
                    <div class="thumb lyr">
                        <img src="/images/SwitchToGreen/incentives.png" alt="" class="mr-t10" />
                    </div>
                    <div class="full dp-l">
                        <p class="full h4 mr-b8">Incentives</p>
                        <p class="full bf">Enjoy 2% rebate on Property Tax till 31st March 2025 and incentives up to ₹10,000 on 2-Wheeler and ₹1.5 Lakh on 4-Wheeler </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container full mx-auto">
    <div class="small-wrapper full">
        <p class="h2 full">Understand your charging needs</p>
        <div class="oha full">
            <div class="full wp-wrapper dp-t sheet-box-mobile">
                <ul class="grid-wrapper grid-layout-4 sheet-header">
                    <li class="grid sheet-box bdr-w-ln">Particular</li>
                    <li class="grid sheet-box">EV Slow charger 3.3 kW</li>
                    <li class="grid sheet-box">EV Slow charger 7.4 kW</li>
                    <li class="grid sheet-box">
                        EVDC Fast Charger
                        ( 30 to 50 kW)
                    </li>
                </ul>
                <ul class="sheet-content full">
                    <li class="sheet-row full">
                        <ul class="grid-wrapper grid-layout-2">
                            <li class="grid grid-wrapper grid-layout-2 pd-n">
                                <div class="grid sheet-box bdr-w-ln">Vehicle</div>
                                <div class="grid sheet-box">e-Bike</div>
                            </li>
                            <li class="grid pd-ln">
                                <p class="full sheet-box">Cars</p>
                            </li>
                        </ul>
                    </li>
                    <li class="sheet-row full">
                        <ul class="grid-wrapper grid-layout-4">
                            <li class="grid sheet-box bdr-w-ln">Charging Time</li>
                            <li class="grid sheet-box">3 - 4 Hours</li>
                            <li class="grid sheet-box">4 to 10 Hours</li>
                            <li class="grid sheet-box">30 Minutes to 1 Hours</li>
                        </ul>
                    </li>
                    <li class="sheet-row full">
                        <ul class="grid-wrapper grid-layout-4">
                            <li class="grid sheet-box bdr-w-ln">No. of Chargers</li>
                            <li class="grid-2 sheet-box">One Charger behind 2 vehicles</li>
                            <li class="grid sheet-box">One Charger behind 10 Cars</li>
                        </ul>
                    </li>
                    <li class="sheet-row full">
                        <ul class="grid-wrapper grid-layout-4">
                            <li class="grid sheet-box bdr-w-ln">Applicability</li>
                            <li class="grid-2 sheet-box">Dedicated / allotted / Common Parking</li>
                            <li class="grid sheet-box">Common Parking</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/SwitchToGreen/Partial/_ApplyForm_EV.cshtml", Model)
<div class="container full mx-auto">
    <div class="container full what-we-support">
        <div class="small-wrapper full">
            <div class="full">
                <p class="h2 full txt-002">Mumbaikar’s Say</p>
                <p class="h4 full txt-002 fm-rr mr-t4">
                    “We Care We Pledge”
                </p>
            </div>
            <div class="grid-wrapper">
                <div class="grid we-support-item dmr-t">
                    <div class="full"><img src="/images/SwitchToGreen/colon.png" alt="" /></div>
                    <p class="full bf txt-002">Adani Electricity takes the pledge to only procure electric vehicles going forward, wherever feasible. We are already operating 15 EVs for man and material movement."</p>
                    <p class="full bf b dmr-t txt-002 txt-right">- Adani Electricity</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="faqdiv" style="display:none;">
    <div class="container full mx-auto" id="sectionID">
        <div class="small-wrapper full">
            <p class="h2 full">Frequently Asked Questions</p>
            <div class="full accordion-wrapper">
                <div class="full accordion-item EVs">
                    <input type="radio" value="one" id="one" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="one">
                        <p class="full">1.	What is an EV Charging Station?</p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            An EV charging station or charger is an equipment used for charging plug-in electric vehicles of all types including the hybrid ones.
                        </p>

                    </div>
                </div>
                <div class="full accordion-item EVs">
                    <input type="radio" value="two" id="two" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="two">
                        <p class="full">2.	What is the reason for AEML to step into EV Charging Business?</p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            With the expanding population and rapid urbanization of Mumbai city, road transportation is facing the challenges of high vehicle numbers and limited space. These vehicles are a key contributor to polluting the urban air and impacting human health through carbon emissions.

                        </p>
                        <p class="full bf dp-t">
                            AEML power utility is conscious of its responsibility towards creating, conserving, and ensuring a safe and clean environment for sustainable development. We have come up with EV Charging Infrastructure services for hassle-free adoption of Electric Vehicles (EV) by Mumbaikar.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EVs">
                    <input type="radio" value="three" id="three" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="three">
                        <p class="full">3.	What type of charging AEML is offering under this proposal and these chargers are compatible with which type of Cars? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            AEML offers EV charging Infrastructure facility comprising of:
                        </p>
                        <p class="full bf dp-t">
                            a.Charging eBike using 16A industrial socket – 3 to 5 hours depending upon bike onboard charger. These chargers are compatible with eBikes and 3 Wheelers
                            b.Charging Cars using 7.4 kW Type 2 Connector – 8 to 10 hours depending upon Car onboard charger. This is a universal charger compatible with existing Hyundai Kona, Tata Nexon, MG ZS EV, as well as upcoming cars such as Mahindra XUV, NISSAN Leaf, Maruti Wagon-R, Audi E-Tron, JLR I-Pace, Volvo X40, Renault X40
                            c.Charging Cars using 30 kW CCS-Type 2 Connector – 30 min to 1 hour – These chargers are also compatible with cars mentioned above for 7.4 kW Type 2 Connector.

                        </p>
                        <p class="full bf dp-t">
                            For installation in Housing Societies, the society needs to provide common parking space to install these chargers.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EVs">
                    <input type="radio" value="four" id="four" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="four">
                        <p class="full">4.	Why should a Society go for Common EV Charging Stations rather than Individual Charging Stations? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            Currently, EV adoption is at a nascent stage and an estimate of nearly 5 – 10% EV population is expected by 2030. Pulling wires from meter cabins by individual EV users to their personal parking spot and installing 16A sockets may be hazardous for them and people around. AEML ensures a safe EV Charging facility through Common EV Charging Infrastructure thereby ensuring safety for all.
                        </p>

                    </div>
                </div>
                <div class="full accordion-item EVs">
                    <input type="radio" value="five" id="five" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="five">
                        <p class="full">5. Does EV Charging time vary depending upon car type? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            Yes. Charging using AC slow charger depends on the Onboard charger of EV and Battery Capacity. Charging using DC Fast charger depends upon Battery Capacity. To ensure effective and uniform usage of infrastructure among all members, EV users should avoid charging EV above 80% of the state of charge (SoC) as it takes a longer time to charge the Electric Vehicle above 80% of SoC.
                        </p>

                    </div>
                </div>
                <div class="full accordion-item EVs">
                    <input type="radio" value="six" id="six" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="six">
                        <p class="full">6. What is AEML solution offering in Electric Vehicle (EV) Charging Stations? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            AEML offers a solution to Housing Societies and Individuals for establishing EV Charging Station including the following:
                        </p>
                        <p class="full bf dp-t">
                            <ol type="a">
                                <li> Power Requirements - Evaluate Power requirements, Install EV Tariff Meter, Earthing, Junction Box / MCCBs, Cabling / Wiring from meter to EV Charger
                                <li> Infra Requirements comprising EV Space Branding, Wheel Stops / Bollards, Signage / Lighting, Internet Connectivity, Civil Work, Statutory Approvals, if any
                                <li> Operate and Manage - Mobile App for Individual User, Web Portal for Society, Routine Site Visit, Annual Maintenance, Troubleshooting
                            </ol>
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EVs">
                    <input type="radio" value="seven" id="seven" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="seven">
                        <p class="full">7. How many charger AEML will deploy at our Premises</p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            AEML will deploy one slow charger behind two Electric Vehicles and one fast charger behind 10 Electric Vehicles to ensure proper utilization. Based upon utilization of installed EV Charging Infrastructure, AEML and Society shall work together to add more EV Slow & Fast Chargers.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EVs">
                    <input type="radio" value="eight" id="eight" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="eight">
                        <p class="full">8. Do you also provide EV Charging facilities to individual EV Users in their allotted dedicated parking slot? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            Yes, but only if there is no other alternative for EVCS in the common area.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="nine" id="nine" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="nine">
                        <p class="full">9. How to charge an electric car at AEML Charging Station? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            EV user needs to connect the portable charger / tethered connector of Charger to EV socket and activate the charger using QR code installed on EV Charger. EV owners must also download the EV Charging Mobile App of AEML and register on the same.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="ten" id="ten" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="ten">
                        <p class="full">10. What are the features of EV Charging Mobile App? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            There are various features in the App that enable you to manage your EV charging facility in a better way. To name a few, you can search the nearest available EV Charging Station, type of EV Charger, the status of EV Charger, pay EV Charging fee through Wallet, book EV Charging Slot, track online status of EV connected to Charger, and many more.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="eleven" id="eleven" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="eleven">
                        <p class="full">11. Is this facility exclusive to Society members or any outsider can also charge their EV at EVCS installed in our premises? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            This will be an exclusive facility for society members and your Society may decide whether they want to allow an outsider to charge their EV at EVCS installed in your premises. The Society can configure authorization as well as track the EVCS usage through user access given on Web Portal.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="twelve" id="twelve" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="twelve">
                        <p class="full">12. Can the Society earn revenue from EV Charging Station? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            Yes. Society can configure facility charges to be levied over and above EV Charging fee proposed by AEML in the Web Portal for the EVCS in their Premises. They can also charge a fee if they decide to allow an outsider to charge their EV.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="thirteen" id="thirteen" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="thirteen">
                        <p class="full">13. Does EV Charging Station require any Operator? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            No, these are self-help EV Chargers and an Operator is not required for the same .
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="fourteen" id="fourteen" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="fourteen">
                        <p class="full">14. Is there any incentive to set up the Electric Vehicle (EV) Charging Stations in residential premises? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            Maharashtra and the Government of India have taken many progressive steps through Electric Vehicle (EV) Policies & Guidelines towards accelerating adoption of Electric Vehicles (EV) thereby encouraging environmental protection and sustainable development.
                        </p>
                        <p class="full bf dp-t">
                            As per Maharashtra government EV Policy released on 22nd July 2021, Housing Societies establishing common EV Charging Station will get 5% rebate in Property Tax till 31st March 2025, whereas Individuals setting up a Charging Station and allowing others will get 2% rebate in Property Tax till 31st March 2025.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="fifteen" id="fifteen" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="fifteen">
                        <p class="full">15. What is the incentive offered by Government to buy Electric Vehicle (EV)? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            The standard incentives on all kinds of electric vehicles stand at ₹ 5,000 per kWh. However, there is a limit to the number of vehicles eligible for the incentive and a capping amount for each category.
                            <table>
                                <tr>
                                    <th>Vehicle Segment</th>
                                    <th>Incentives (Per KWh)</th>
                                    <th>Max.  Vehicles</th>
                                    <th>Max. Incentive per Vehicle</th>
                                </tr>
                                <tr>
                                    <td>2 Wheeler</td>
                                    <td>5000/-</td>
                                    <td>1,00,000</td>
                                    <td>10,000/- </td>
                                </tr>
                                <tr>
                                    <td>4 Wheeler</td>
                                    <td>5000/-</td>
                                    <td>10,000</td>
                                    <td>1,50,000/- </td>
                                </tr>
                            </table>
                        </p>
                        <p class="full bf dp-t">
                            As for the special Early Bird incentives, Maharashtra is offering EV buyers an additional benefit of ₹5000/kWh, which can go up to ₹1 lakh. However, this is only eligible for electric vehicles purchased before 31st December 2021.
                        </p>
                        <p class="full bf dp-t">
                            The Government of Maharashtra is also offering additional vehicle scrappage incentives. So, if you scrap your combustion engine two-wheeler, three-wheeler or four-wheeler, at anauthorized scrappage centre, and show the certificate while purchasing an electric vehicle, you can get an additional discount. The scrappage incentives have been capped at ₹7,000 for a two-wheeler, ₹15,000 for a three-wheeler and ₹25,000 for a four-wheeler.
                            All the incentives announced by Maharashtra Government will be in addition to the subsidies offered under the FAME II scheme by the Government of India. Also, these incentives will be availed by manufacturers, who will in return pass it on to customers in the form of price cuts on ex-showroom rates. This means the price you pay as a customer will be the final price with the incentives included.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="sixteen" id="sixteen" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="sixteen">
                        <p class="full">16. Does the Society have to make any payment for Electric Vehicle Charging Station? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            The entire EV Charging facility will be established by AEML. There will be no separate electricity bill to Society. Individual EV Users must activate the charger using QR code and the Mobile App of AEML. Individual EV Users also have to pay from Wallet for the electricity consumed during EV Charging transactions .
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="seventeen" id="seventeen" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="seventeen">
                        <p class="full">17. Can EV charging units be kept outside in an open area without any shed arrangement? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            Fast chargers are installed on the ground whereas slow chargers can be wall-mounted as well. However, both Slow and Fast EV chargers need a canopy to protect from rain.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="eighteen" id="eighteen" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="eighteen">
                        <p class="full">18. Scope of wiring to have source of supply for EV charging units and specific requirement of wiring, in case of wiring is in the scope of Society. </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            Not applicable. Society has to provide way leave for laying cables / wires from metering room to EV charger position and to maintain these chargers at regular intervals. Reinstatement of excavation work inside premises, building cable trays, and ensuring CCTV surveillance at EV charging location is in the scope of the Society.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="nineteen" id="nineteen" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="nineteen">
                        <p class="full">19. Any specific requirement like MCB, etc. to be installed before setting up the charging unit? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            Not applicable. AEML will ensure the correct and complete EV charging infrastructure with all the necessary protection.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="twenty" id="twenty" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="twenty">
                        <p class="full">20. What is covered in the maintenance scope of EV charging stations?   </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            AMC, troubleshooting and support for hardware & software will be in the scope of AEML. Mishandling of the product at site and damages due to any kind of misuse will not be covered under AMC. For example, damage of gun and cable will not be covered.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="twentyone" id="twentyone" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="twentyone">
                        <p class="full">21. What is the Charging Rate per Unit, mechanism and payment mode for the EVCS?  </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            EV users can charge the EV using a Slow charger at ₹12 per Unit or ₹14 per unit using Fast Charger. EV chargers are to be operated on self-service mode. EV users will need to pay the EV charging fee through online payment mode using the Mobile App.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="twentytwo" id="twentytwo" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="twentytwo">
                        <p class="full">22. Where to reach out in case we have issues regarding EV Charger Operation or any complaints? What is the turnaround time of AEML to address our concerns?  </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            A consumer may reach out on the helpline number mentioned in EV Charger or contact the designated Key Account Manager where the complaint will be attended on a priority basis. The contact details will also be available in Mobile App. In order to ensure hassle-free EV charging, AEML will replace the charger in case we are not able to address the same onsite.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="twentythree" id="twentythree" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="twentythree">
                        <p class="full">23. Does AEML indemnify the Society or EV user towards any damage to property or an individual while using EV Charger? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            No. AEML installs ICAT / ARAI certified EV Charger which ensures Electrical as well as Fire protection.
                        </p>
                    </div>
                </div>
                <div class="full accordion-item EV" style="display: none">
                    <input type="radio" value="twentyFour" id="twentyFour" name="one" class="switch" />
                    <label class="accordion-lable full lyr-arc lyr-s-18 lyr-hldr fm-rb" for="twentyFour">
                        <p class="full">24. What is the next step if a Society agrees principally to the proposal submitted by AEML? </p>
                        <div class="lyr"><i class="i-plus"></i></div>
                    </label>
                    <div class="accordion-content">
                        <p class="full bf">
                            AEML and the Housing Society shall enter into separate MoU / agreement mentioning the Key Scope of Work of each of them.
                        </p>
                    </div>
                </div>

                <div class="full dp ac" id="loadMore">
                    <a href="#" class="tx-001 link fm-rb">Load More</a>
                </div>
                <div class="full dp ac" id="showLess" style="display: none">
                    <a href="#" class="tx-001 link fm-rb">Show less</a>
                </div>



            </div>
        </div>
    </div>
</div>
<div class="container full mx-auto" id="aboutdiv">
    <div class="small-wrapper full">
        <p class="h2 full">Adani Electricity Mumbai Limited</p>
        <p class="full bf dp-tb">Adani Electricity Mumbai Limited, part of the diversified Adani Group, is an integrated business of power generation, transmission, and retail electricity distribution. AEML owns and operates the largest and the most efficient power distribution network in India. AEML serves over 3 million consumers spread across 400 sq. km. in Mumbai and its suburbs meeting close to 2,000 MW of power demand with 99.99% reliability, which is among the highest in the country.</p>
        <p class="full bf d-none">Adani Electricity is now deploying a comprehensive Charging Network to dedicated to serve Mumbaikars Electric Mobility needs. Adani Electricity will deploy Charging Stations at the most convenient locations, from residential societies, office complexes and high footfall locations to Airport and Highways connecting Mumbai.</p>
    </div>
</div>



<script src="@Html.Sitecore().Dictionary("/Common/CaptchaURL", "https://www.google.com/recaptcha/api.js")"></script>


