<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<handlers>
			<!-- DO NOT ADD THIS IN APP_CONFIG-->
			<!-- This handler to be added in web.cofig-->
			<add name="SitemapXmlHandler" path="/sitemap.xml" verb="*" type="Sitecore.Feature.SEO.Pipelines.SitemapXmlHandler" />
		</handlers>
	</system.webServer>
</configuration>