<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<handlers>
			<!-- DO NOT ADD THIS IN APP_CONFIG-->
			<!-- This handler to be added in web.cofig-->
			<add name="RobotsTextHandler" path="/robots.txt" verb="*" type="Sitecore.Feature.SEO.Pipelines.RobotsTextHandler" />
		</handlers>
	</system.webServer>
</configuration>