@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{



}
 <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>
 <section class="detailsection ">
        <div class="container whiteBg">

          <h2>Guest Details</h2>

          <form>

            <div class="fieldSection">

              <!-- <label>Please Enter Details</label> -->

              <div class="grid grid_5">
				
				<div class="col">		
					<div>
						<label>Travel Sector<span class="required">*</span></label>
					</div>
					<div >
					  <select id="FlightDetails">
						<option name="FlightDetails" value="null">Select</option>
						<option name="FlightDetails" value="International">International</option>
						<option name="FlightDetails" value="Domestic">Domestic</option>
					  </select>
					</div>
                </div>
                <div class="col">
                    <label>First Name<span class="required"> </span></label>
                    <input type="text" id="FirstName" placeholder="First Name" maxlength="15" class="input" autocomplete="off"  />
                </div>
                <div class="col">
                    <label>Last Name<span class="required"> </span></label>
                    <input type="text" placeholder="Last Name" id="LastName" maxlength="15" class="input" autocomplete="off" />
                </div>
                <div class="col">
                    <label>Date of Visit at airport<span class="required"></span></label>
                    <input type="date" placeholder="Date of Visit" id="DateofVisit" class="input visitDate" min="2021-01-01" style="text-align:left;" />
                </div>
                <div class="col">
                    <label>Email/Mobile no.<span class="required"> </span></label>
                    <input type="text" placeholder="Email/Mobile no." id="Contact" class="input" maxlength="100" autocomplete="off" />
                </div>
              </div>

            </div>

            <div class="fieldSection">

              <h2>Rating and Feedback</h2>

              <label>Overall how satisfied are you with the service experience at Lokpriya Gopinath Bordoloi International Airport?<span class="required">*</span></label>

              <table>
                  <thead>
                    <tr>
                        <th>Parameters</th>
                        <th>Not Used</th>                       
                        <th>Poor</th>
						<th>Fair</th>
						<th>Average</th>
						<th>Good</th>
						<th>Excellent</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span>1. </span>Check in Facilities & Services</td>
                      <td><label class="Parameters"><input type="radio" name="FacilitiesServices" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td> 
                      <td><label class="Parameters"><input type="radio" name="FacilitiesServices" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
					  <td><label class="Parameters"><input type="radio" name="FacilitiesServices" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
					  <td><label class="Parameters"><input type="radio" name="FacilitiesServices" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
					  <td><label class="Parameters"><input type="radio" name="FacilitiesServices" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  
					   <td><label class="Parameters"><input type="radio" name="FacilitiesServices" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>
                    </tr>
                    <tr>
                      <td><span>2. </span>Cleanliness</td>
                       <td><label class="Parameters"><input type="radio" name="AirportCleanliness" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td>
                      <td><label class="Parameters"><input type="radio" name="AirportCleanliness" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
                       <td><label class="Parameters"><input type="radio" name="AirportCleanliness" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
                      <td><label class="Parameters"><input type="radio" name="AirportCleanliness" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
                      <td><label class="Parameters"><input type="radio" name="AirportCleanliness" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  <td><label class="Parameters"><input type="radio" name="AirportCleanliness" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>
                    </tr>
                    <tr>
                      <td><span>3. </span>Airport Facilities</td>
                       <td><label class="Parameters"><input type="radio" name="AirportFacilities" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td>
                      <td><label class="Parameters"><input type="radio" name="AirportFacilities" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
                       <td><label class="Parameters"><input type="radio" name="AirportFacilities" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
                      <td><label class="Parameters"><input type="radio" name="AirportFacilities" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
                      <td><label class="Parameters"><input type="radio" name="AirportFacilities" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  <td><label class="Parameters"><input type="radio" name="AirportFacilities" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>
                    </tr>
                    <tr>
                      <td><span>4. </span>Food and Beverage/Shopping Facilities </td>
                      <td><label class="Parameters"><input type="radio" name="ShoppingFacilities" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td>
                      <td><label class="Parameters"><input type="radio" name="ShoppingFacilities" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
                       <td><label class="Parameters"><input type="radio" name="ShoppingFacilities" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
                      <td><label class="Parameters"><input type="radio" name="ShoppingFacilities" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
                      <td><label class="Parameters"><input type="radio" name="ShoppingFacilities" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  <td><label class="Parameters"><input type="radio" name="ShoppingFacilities" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>
                    </tr>
                    <tr>
                      <td><span>5. </span>Courtesy of Staff</td>
                      <td><label class="Parameters"><input type="radio" name="CourtesyOfStaff" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td>
                      <td><label class="Parameters"><input type="radio" name="CourtesyOfStaff" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
                       <td><label class="Parameters"><input type="radio" name="CourtesyOfStaff" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
                      <td><label class="Parameters"><input type="radio" name="CourtesyOfStaff" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
                      <td><label class="Parameters"><input type="radio" name="CourtesyOfStaff" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  <td><label class="Parameters"><input type="radio" name="CourtesyOfStaff" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>
                    </tr>
                    <tr>
                      <td><span>6. </span>Wait Time In Queues</td>
					  <td><label class="Parameters"><input type="radio" name="WaitingTime" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td>
                      <td><label class="Parameters"><input type="radio" name="WaitingTime" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
                       <td><label class="Parameters"><input type="radio" name="WaitingTime" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
                      <td><label class="Parameters"><input type="radio" name="WaitingTime" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
                      <td><label class="Parameters"><input type="radio" name="WaitingTime" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  <td><label class="Parameters"><input type="radio" name="WaitingTime" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>             
                    </tr>
                    <tr>
                      <td><span>7. </span>Arrival Facilities</td>
					  <td><label class="Parameters"><input type="radio" name="ArrivalFacilities" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td>
                      <td><label class="Parameters"><input type="radio" name="ArrivalFacilities" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
                       <td><label class="Parameters"><input type="radio" name="ArrivalFacilities" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
                      <td><label class="Parameters"><input type="radio" name="ArrivalFacilities" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
                      <td><label class="Parameters"><input type="radio" name="ArrivalFacilities" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  <td><label class="Parameters"><input type="radio" name="ArrivalFacilities" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>
                    </tr>
                    <tr>
                      <td><span>8. </span>Transportation Facilities To & Fro Airport</td>
                      <td><label class="Parameters"><input type="radio" name="TransportationFacilities" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td>
                      <td><label class="Parameters"><input type="radio" name="TransportationFacilities" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
                       <td><label class="Parameters"><input type="radio" name="TransportationFacilities" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
                      <td><label class="Parameters"><input type="radio" name="TransportationFacilities" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
                      <td><label class="Parameters"><input type="radio" name="TransportationFacilities" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  <td><label class="Parameters"><input type="radio" name="TransportationFacilities" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>
                    </tr>
					<tr>
                      <td><span>9. </span>Flight connectivity</td>
					  <td><label class="Parameters"><input type="radio" name="FlightConnectivity" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td>
                      <td><label class="Parameters"><input type="radio" name="FlightConnectivity" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
                       <td><label class="Parameters"><input type="radio" name="FlightConnectivity" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
                      <td><label class="Parameters"><input type="radio" name="FlightConnectivity" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
                      <td><label class="Parameters"><input type="radio" name="FlightConnectivity" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  <td><label class="Parameters"><input type="radio" name="FlightConnectivity" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>
                    </tr>
                    <tr>
                      <td><span>10. </span>Maintenance & Upkeep</td>
                      <td><label class="Parameters"><input type="radio" name="MaintenanceUpkeep" value="Not Used"><span class="icon NotUsed"></span></label><span>Not Used</span></td>
                      <td><label class="Parameters"><input type="radio" name="MaintenanceUpkeep" value="Poor"><span class="icon Poor"></span></label><span>Poor</span></td>
                       <td><label class="Parameters"><input type="radio" name="MaintenanceUpkeep" value="Fair"><span class="icon Fair"></span></label><span>Fair</span></td>
                      <td><label class="Parameters"><input type="radio" name="MaintenanceUpkeep" value="Average"><span class="icon Average"></span></label><span>Average</span></td>
                      <td><label class="Parameters"><input type="radio" name="MaintenanceUpkeep" value="Good"><span class="icon Good"></span></label><span>Good</span></td>
					  <td><label class="Parameters"><input type="radio" name="MaintenanceUpkeep" value="Excellent"><span class="icon Excellent"></span></label><span>Excellent</span></td>
                    </tr>
					
                  </tbody>
              </table>

            </div>

            <div class="fieldSection">
              <label>On a scale from 0-10, how would you rate your travel experience at Lokpriya Gopinath Bordoloi International Airport and recommend to your family, friends and colleagues.<span class="required">*</span></label>

              <div class="ratingSection">			  
					<div class="slider-wrapper">
					  <div id="ratingAirport"></div>
					</div>				
              </div>
            </div>

            <div class="fieldSection">
              <label>What is the One thing we can do to make your experience better?<span class="required">*</span></label>

              <div class="textareaSection">
                <textarea placeholder="Enter Text Here…" id="Suggestion" maxlength="230"></textarea>
              </div>
            </div>

            <div class="fieldSection">

              <label>What is the purpose of Travel?<span class="required">*</span></label>

              <div class="radioGroup">
                <label class="radioControl">

                  <input type="radio" value="Business Traveller" name="travel" onClick="javascript:return yourfunction(1)" /> Business Traveller
                </label>
                <label class="radioControl">
                  <input type="radio" value="Leisure Traveller" name="travel" onClick="javascript:return yourfunction(2)"  /> Leisure Traveller
                </label>
              </div>

              <div class="clearFix grid grid_4" id="one" style="display:none;">

                <div class="col" >
                  <select id="TravelPurpose">
                    <option name="TravelPurpose" value="">Select</option>
					<option name="TravelPurpose" value="Business/ Client Meeting">Business/ Client Meeting</option>
					<option name="TravelPurpose" value="Site Visit">Site Visit</option>
					<option name="TravelPurpose" value="Conference/Convention">Conference/Convention</option>
					<option name="TravelPurpose" value="Business Others">Others</option>
                  </select>
                </div>
				<div class="col" >
				</div>
				<div class="col" >
				</div>
				<div class="col" >
				</div>
              </div>
				
			  <div class="clearFix grid grid_4" id="two" style="display:none;">

                <div class="col">
                  <select id="TravelPurpose1">
                    <option name="TravelPurpose" value="">Select</option>
					<option name="TravelPurpose"  value="Individual">Individual</option>
					<option name="TravelPurpose" value="Friends">Friends</option>
					<option name="TravelPurpose" value="Family">Family</option>
					<option name="TravelPurpose" value="Event/ Wedding">Event/ Wedding</option>
					<option name="TravelPurpose" value="Leisure Others">Others</option>
                  </select>
                </div>
				<div class="col" >
				</div>
				<div class="col" >
				</div>
				<div class="col" >
				</div>
              </div>
				
				
            </div>

            <div class="fieldSection">
              <div class="grid grid_4">

                <div class="col">
                  <label>Age Group<span class="required">*</span></label>
                  <select id="AgeGroup">
                    <option value="">Select</option>
                    <option value="<18"><18</option>
                    <option value="18-45">18-45</option>
                    <option value="46-60">46-60</option>
                    <option value="60<">>60</option>
                  </select>
                </div>
                <div class="col">
                  <label>Gender<span class="required">*</span></label>
                  <select id="Gender">
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Rather not say">Rather not say</option>
                  </select>
                </div>
				<div class="col" >
				</div>
				<div class="col" >
				</div>
              </div>
            </div>

            <button class="btn" id="BtnASFSubmit">Submit</button>

          </form>

        </div>

    </section>
	
 <script type="text/javascript">
      
       // range slider
      var rangevalue = 5;
      const ratingAirport = document.querySelector("#ratingAirport")
var labels = { 0: '0', 1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6', 7: '7', 8: '8', 9: '9', 10: '10', };
noUiSlider.create(ratingAirport, {
  start: 5,
  connect: [true, false],
  tooltips: {
    to: function(value) {
        rangevalue = parseInt(value);
        return value > 100 ? '100+' : parseInt(value)
    }
    
  },
  range: {
    'min': 0,
    '10%': 1,
    '20%': 2,
    '30%': 3,
    '40%': 4,
    '50%': 5,
    '60%': 6,
    '70%': 7,
    '80%': 8,
    '90%': 9,
    'max': 10
  },
  pips: {
    mode: 'steps',
    filter: function (value, type) {
      return type === 0 ? -1 : 1;
    },
    format: {
      
      to: function (value) {
        
        return labels[value];
        
      }
    }
  }
});

// range slider
    </script>
