@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);



}



<section class="bg-white notification_section container-fluid pt-5" id="main-section">
<div class="pb-4 ">
    <h1>Lokpriya Gopinath Bordoloi International Airport</h1>
  </div>
<div class="conatiner">
	<div class="covid-info">
		<div class="row">
			@foreach (Item item in element.GetChildren())
            {
                Sitecore.Data.Fields.LinkField itemslinkvalues = item.Fields["Link"];
                var itemslinks = itemslinkvalues.GetFriendlyUrl();
				var itemDes = item.Fields["Body"];
				Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["Image"]);
				var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
				<div class="col-lg-6 col-12">
								<div class="info-item">
									<h2 class="section-title">@Html.Sitecore().Field("Title", item)</h2>
									<div class="information-card">
										<aside>
											<p class="covidInfoText">@itemDes</p>
											<a href="@itemslinks"><button class="btn-primary">Know More &nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></button> </a>
										</aside>
										<figure>
											<img src="@imgurl" class="img-fluid" alt="CSMIA" />
										</figure>
									</div>
								</div>
				</div>
				}
		</div>
	</div>
</div>

</section>