<style>
svg tspan{
    font-family: 'Adani-Regular';
}</style>
<section class="bg-white">
	  <div class="container-fluid pt-5 celebration-banner bg-white">
	  <!-- Desktop -->
	  <h2>How to be a part of #Reelistaan</h2>

	<svg id="Layer_1" class="d-none d-sm-block w-100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1160 500"><defs><style>.cls-1,.cls-2{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;}.cls-3{fill:#ec3b54;}.cls-3,.cls-4,.cls-5{stroke-width:1.16px;}.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15{stroke-miterlimit:10;}.cls-3,.cls-9{stroke:#ec3b54;}.cls-4{fill:#f67431;}.cls-4,.cls-8{stroke:#f67431;}.cls-16{letter-spacing:-.04em;}.cls-17{letter-spacing:-.04em;}.cls-18{letter-spacing:-.04em;}.cls-19{letter-spacing:-.04em;}.cls-20{letter-spacing:-.04em;}.cls-21{letter-spacing:-.08em;}.cls-5{fill:#13aeef;}.cls-5,.cls-6{stroke:#13aeef;}.cls-6{filter:url(#drop-shadow-4);}.cls-6,.cls-7,.cls-8,.cls-9,.cls-10,.cls-11,.cls-12,.cls-13{fill:#fff;stroke-width:2px;}.cls-7{filter:url(#drop-shadow-8);stroke:#221f20;}.cls-8{filter:url(#drop-shadow-7);}.cls-9{filter:url(#drop-shadow-2);}.cls-10{filter:url(#drop-shadow-1);stroke:#fcb519;}.cls-11{filter:url(#drop-shadow-6);}.cls-11,.cls-15{stroke:#005fff;}.cls-12{filter:url(#drop-shadow-5);}.cls-12,.cls-14{stroke:#005d8b;}.cls-13{filter:url(#drop-shadow-3);stroke:#a73dc1;}.cls-22{fill:#fcb519;}.cls-23{fill:#a73dc1;}.cls-24{fill:#d3d3d3;}.cls-25{letter-spacing:-.06em;}.cls-26{letter-spacing:-.14em;}.cls-27{letter-spacing:-.11em;}.cls-28{letter-spacing:-.05em;}.cls-29{letter-spacing:-.05em;}.cls-30{letter-spacing:-.03em;}.cls-31{letter-spacing:-.03em;}.cls-14{fill:#005d8b;stroke-width:1.74px;}.cls-32{font-size:18px;}.cls-32,.cls-33,.cls-34{font-family:Adani-Medium, Adani;}.cls-15{fill:#005fff;stroke-width:.87px;}.cls-35{letter-spacing:-.04em;}.cls-36{letter-spacing:-.05em;}.cls-37{letter-spacing:-.05em;}.cls-33{font-size:15.13px;}.cls-38{letter-spacing:-.02em;}.cls-2{stroke-dasharray:0 0 3.53 3.53;}.cls-34{font-size:15.71px;letter-spacing:-.04em;}.cls-39{letter-spacing:-.05em;}.cls-40{letter-spacing:-.05em;}.cls-41{letter-spacing:-.05em;}</style><filter id="drop-shadow-1" filterUnits="userSpaceOnUse"><feOffset dx="3.35" dy="3.35"/><feGaussianBlur result="blur" stdDeviation="3.35"/><feFlood flood-color="#000" flood-opacity=".15"/><feComposite in2="blur" operator="in"/><feComposite in="SourceGraphic"/></filter><filter id="drop-shadow-2" filterUnits="userSpaceOnUse"><feOffset dx="3.35" dy="3.35"/><feGaussianBlur result="blur-2" stdDeviation="3.35"/><feFlood flood-color="#000" flood-opacity=".15"/><feComposite in2="blur-2" operator="in"/><feComposite in="SourceGraphic"/></filter><filter id="drop-shadow-3" filterUnits="userSpaceOnUse"><feOffset dx="3.35" dy="3.35"/><feGaussianBlur result="blur-3" stdDeviation="3.35"/><feFlood flood-color="#000" flood-opacity=".15"/><feComposite in2="blur-3" operator="in"/><feComposite in="SourceGraphic"/></filter><filter id="drop-shadow-4" filterUnits="userSpaceOnUse"><feOffset dx="3.35" dy="3.35"/><feGaussianBlur result="blur-4" stdDeviation="3.35"/><feFlood flood-color="#000" flood-opacity=".15"/><feComposite in2="blur-4" operator="in"/><feComposite in="SourceGraphic"/></filter><filter id="drop-shadow-5" filterUnits="userSpaceOnUse"><feOffset dx="3.35" dy="3.35"/><feGaussianBlur result="blur-5" stdDeviation="3.35"/><feFlood flood-color="#000" flood-opacity=".15"/><feComposite in2="blur-5" operator="in"/><feComposite in="SourceGraphic"/></filter><filter id="drop-shadow-6" filterUnits="userSpaceOnUse"><feOffset dx="3.35" dy="3.35"/><feGaussianBlur result="blur-6" stdDeviation="3.35"/><feFlood flood-color="#000" flood-opacity=".15"/><feComposite in2="blur-6" operator="in"/><feComposite in="SourceGraphic"/></filter><filter id="drop-shadow-7" filterUnits="userSpaceOnUse"><feOffset dx="3.35" dy="3.35"/><feGaussianBlur result="blur-7" stdDeviation="3.35"/><feFlood flood-color="#000" flood-opacity=".15"/><feComposite in2="blur-7" operator="in"/><feComposite in="SourceGraphic"/></filter><filter id="drop-shadow-8" filterUnits="userSpaceOnUse"><feOffset dx="3.35" dy="3.35"/><feGaussianBlur result="blur-8" stdDeviation="3.35"/><feFlood flood-color="#000" flood-opacity=".15"/><feComposite in2="blur-8" operator="in"/><feComposite in="SourceGraphic"/></filter></defs><circle class="cls-10" cx="131.32" cy="233.83" r="48.56" transform="translate(-18.75 11.57) rotate(-4.71)"/><g><path class="cls-22" d="M131.32,213.17c6.73,0,7.53,.03,10.18,.15,2.46,.11,3.79,.52,4.68,.87,1.18,.46,2.02,1,2.9,1.88,.88,.88,1.43,1.72,1.88,2.9,.35,.89,.76,2.22,.87,4.68,.12,2.66,.15,3.45,.15,10.18s-.03,7.53-.15,10.18c-.11,2.46-.52,3.79-.87,4.68-.46,1.18-1,2.02-1.88,2.9-.88,.88-1.72,1.43-2.9,1.88-.89,.35-2.22,.76-4.68,.87-2.66,.12-3.45,.15-10.18,.15s-7.53-.03-10.18-.15c-2.46-.11-3.79-.52-4.68-.87-1.18-.46-2.02-1-2.9-1.88-.88-.88-1.43-1.72-1.88-2.9-.35-.89-.76-2.22-.87-4.68-.12-2.66-.15-3.45-.15-10.18s.03-7.53,.15-10.18c.11-2.46,.52-3.79,.87-4.68,.46-1.18,1-2.02,1.88-2.9,.88-.88,1.72-1.43,2.9-1.88,.89-.35,2.22-.76,4.68-.87,2.66-.12,3.45-.15,10.18-.15m0-4.54c-6.84,0-7.7,.03-10.39,.15-2.68,.12-4.51,.55-6.12,1.17-1.66,.64-3.06,1.51-4.46,2.91-1.4,1.4-2.26,2.81-2.91,4.46-.62,1.6-1.05,3.43-1.17,6.12-.12,2.69-.15,3.55-.15,10.39s.03,7.7,.15,10.39c.12,2.68,.55,4.51,1.17,6.12,.64,1.66,1.51,3.06,2.91,4.46,1.4,1.4,2.81,2.26,4.46,2.91,1.6,.62,3.43,1.05,6.12,1.17,2.69,.12,3.55,.15,10.39,.15s7.7-.03,10.39-.15c2.68-.12,4.51-.55,6.12-1.17,1.66-.64,3.06-1.51,4.46-2.91,1.4-1.4,2.26-2.81,2.91-4.46,.62-1.6,1.05-3.43,1.17-6.12,.12-2.69,.15-3.55,.15-10.39s-.03-7.7-.15-10.39c-.12-2.68-.55-4.51-1.17-6.12-.64-1.66-1.51-3.06-2.91-4.46-1.4-1.4-2.81-2.26-4.46-2.91-1.6-.62-3.43-1.05-6.12-1.17-2.69-.12-3.55-.15-10.39-.15h0Z"/><path class="cls-22" d="M131.32,220.89c-7.15,0-12.94,5.79-12.94,12.94s5.79,12.94,12.94,12.94,12.94-5.79,12.94-12.94-5.79-12.94-12.94-12.94Zm0,21.34c-4.64,0-8.4-3.76-8.4-8.4s3.76-8.4,8.4-8.4,8.4,3.76,8.4,8.4-3.76,8.4-8.4,8.4Z"/><circle class="cls-22" cx="144.77" cy="220.38" r="3.02"/></g><circle class="cls-9" cx="380.96" cy="234.93" r="48.56" transform="translate(-12.37 21.36) rotate(-3.16)"/><path class="cls-3" d="M375.05,239.53v-.78c0-4.96,0-9.91,0-14.87,0-2.42,1.63-4.11,4.04-4.25,2.04-.11,4.02,1.51,4.14,3.53,.11,1.93,.07,3.86,.09,5.79,0,.29,0,.58,0,.94,2.56-.95,4.46-.25,5.77,1.98,2.19-1.18,4.67-.63,6.03,1.82,1-.45,2.02-.83,3.17-.55,1.71,.42,3.1,1.85,3.14,3.58,.08,3.79,.06,7.58,.04,11.37,0,.78-.14,1.58-.35,2.34-1.03,3.64-4.7,6.39-8.55,6.41-3.87,.02-7.74,0-11.6,0-2.72,0-5.02-.94-6.88-2.9-3.22-3.39-6.45-6.78-9.66-10.18-1.81-1.92-2.08-4.59-.7-6.55,1.84-2.61,5.57-3.07,7.97-.94,.92,.81,1.72,1.75,2.56,2.63,.22,.23,.41,.48,.61,.72l.19-.1Zm2.14-6.47c0,3,0,6,0,8.99,0,.59-.09,1.11-.7,1.35-.59,.23-.99-.1-1.37-.51-1.49-1.59-3-3.15-4.5-4.73-.99-1.04-2.2-1.42-3.57-.99-2.19,.68-2.74,3.24-1.08,5.02,3.06,3.29,6.19,6.53,9.22,9.86,1.72,1.89,3.79,2.74,6.35,2.7,3.49-.05,6.97-.01,10.46-.01,4.26,0,7.3-2.96,7.31-7.15,.01-3.34,0-6.69,0-10.03,0-.22,.01-.45-.02-.67-.12-.8-.56-1.36-1.36-1.63-.82-.28-1.53-.05-2.04,.57-.28,.34-.41,.84-.52,1.28-.15,.61-.48,.98-1.14,.98-.59,0-.99-.47-1-1.17-.01-.54,.02-1.09-.01-1.63-.05-.88-.6-1.65-1.38-1.87-.8-.23-1.54-.06-2.05,.58-.27,.35-.4,.83-.51,1.28-.15,.61-.5,1.01-1.13,.99-.66-.02-.95-.49-.97-1.12-.01-.57,.01-1.14-.02-1.71-.04-.99-.79-1.71-1.78-1.78-1.01-.06-1.82,.54-2.03,1.51-.04,.19-.01,.44-.13,.57-.28,.31-.61,.76-.94,.77-.34,.02-.77-.36-1.02-.67-.17-.21-.15-.61-.15-.93,0-3.07,0-6.14,0-9.22,0-1.29-1.01-2.13-2.28-1.97-.98,.13-1.65,.98-1.65,2.17,0,3.05,0,6.09,0,9.14Z"/><path class="cls-3" d="M386.13,227.54c.25-.99,.36-1.96,.74-2.8,1.36-2.99,.79-6.53-1.55-9.03-2.18-2.33-5.84-3.11-9.04-1.94-3,1.1-5.18,4.09-5.21,7.38-.01,1.04,.12,2.19,.57,3.11,.82,1.68,.38,3.36,.55,5.25-1.6-1.28-2.54-2.74-3.17-4.4-2.26-5.9,1.12-12.42,7.31-14.12,6.16-1.7,12.55,2.16,13.79,8.31,.5,2.51,.09,4.88-1.1,7.12-.78,1.47-.84,1.47-2.88,1.12Z"/><path class="cls-3" d="M360.43,221.18c.05-2.21,.41-4.37,1.24-6.44,.38-.94,1.15-1.38,1.92-1.1,.69,.26,1.04,1.13,.69,2.01-1.49,3.81-1.48,7.59,.02,11.39,.38,.98,.04,1.74-.79,2.01-.74,.24-1.36-.19-1.76-1.17-.88-2.15-1.29-4.39-1.32-6.71Z"/><path class="cls-3" d="M398.06,221.31c.09,2.23-.47,4.42-1.24,6.56-.32,.9-1.05,1.25-1.88,.96-.76-.26-1.04-.85-.68-1.77,1.48-3.84,1.47-7.66,0-11.5-.35-.91,.02-1.73,.77-1.95,.78-.22,1.51,.2,1.84,1.09,.79,2.11,1.26,4.28,1.2,6.61Z"/><circle class="cls-13" cx="505.78" cy="234.11" r="48.56" transform="translate(-20.5 50.68) rotate(-5.62)"/><path class="cls-23" d="M505.78,254.4c-4.72,0-9.44,0-14.16,0-3.04,0-5.63-1.15-7.65-3.6-1.64-1.99-2.4-4.35-2.39-7,.01-6.65-.02-13.3,.01-19.96,.02-4.5,2-7.75,5.79-9.71,1.29-.67,2.69-.91,4.12-.91,9.52,0,19.05-.02,28.57,0,4.73,0,8.57,3.23,9.66,8.09,.18,.82,.24,1.69,.24,2.54,.02,6.63,.03,13.27,0,19.9-.02,4.51-1.98,7.76-5.76,9.73-1.34,.7-2.79,.93-4.27,.93-4.72,0-9.44,0-14.16,0Zm.02-36.57c-4.75,0-9.5-.01-14.26,0-3.31,.01-5.61,2.38-5.63,5.88-.03,6.72-.03,13.45,0,20.17,.02,3.45,2.28,5.87,5.52,5.88,9.57,.03,19.14,.03,28.72,0,3.22,0,5.48-2.42,5.5-5.85,.04-6.74,.01-13.48,.01-20.22,0-1.29-.32-2.48-1.06-3.52-1.17-1.65-2.74-2.36-4.65-2.35-4.72,.02-9.44,0-14.15,0Z"/><path class="cls-23" d="M515.05,233.8l-16.35,10.07v-20.14l16.35,10.07Z"/><circle class="cls-6" cx="630.6" cy="234.67" r="48.56" transform="translate(-29.26 103.08) rotate(-9.13)"/><path class="cls-5" d="M643.31,221.49c2.14-.66,4.27-1.32,6.4-1.98,1.67-.52,3.36-.95,5-1.57,1.45-.55,2.34,.54,2.33,1.96-.05,7.16-.05,14.33,0,21.49,.01,1.46-.8,2.54-2.4,2.01-3.58-1.2-7.19-2.25-10.79-3.37-.18-.06-.36-.1-.56-.15-.14,6.04-3.38,7.83-8.21,7.41,0,1.09-.03,2.07,0,3.04,.05,1.18-.44,2.01-1.35,2.46-.66,.32-1.39,.6-2.1,.61-5.3,.05-10.61,.05-15.91,0-.72,0-1.47-.32-2.15-.64-.89-.42-1.28-1.29-1.28-2.37,0-.98,0-1.96,0-3.06-.7,0-1.36,0-2.01,0-1.37,0-2.64-.36-3.76-1.29-1.63-1.37-2.36-3.23-2.37-5.46-.02-6.6-.03-13.2,0-19.81,.01-3.9,2.51-6.69,5.98-6.7,9.04-.02,18.09-.02,27.13,0,2.83,0,5.02,1.85,5.75,4.83,.2,.8,.19,1.66,.28,2.6Zm-19.58-4.1c-2.21,0-4.43,0-6.64,0-2.3,0-4.6-.01-6.89,0-1.93,.02-3.03,1.18-3.03,3.25-.01,6.7-.02,13.39,.02,20.09,0,.62,.2,1.3,.47,1.85,.57,1.16,1.59,1.4,2.69,1.4,8.9,0,17.8,0,26.69,0,.33,0,.67-.03,1-.09,1.28-.25,2.2-1.43,2.2-2.9,.01-6.88,.01-13.77,0-20.65,0-1.33-.72-2.39-1.86-2.76-.45-.15-.95-.18-1.42-.18-4.41-.01-8.81,0-13.22,0Zm30.28,4.3c-.12,.01-.19,.01-.24,.03-3.36,1.04-6.72,2.08-10.08,3.1-.4,.12-.45,.35-.45,.75,0,3.37,.02,6.74,0,10.11,0,.56,.17,.75,.63,.89,2.6,.78,5.19,1.6,7.78,2.41,.78,.24,1.56,.48,2.38,.74v-18.01Zm-38.7,25.65c0,.4,0,.72,0,1.04q0,1.72,1.55,1.72c4.57,0,9.14,0,13.71,0,.4,0,.79-.02,1.18-.09,.14-.03,.35-.23,.35-.36,.03-.76,.02-1.53,.02-2.32h-16.81Z"/><circle class="cls-12" cx="880.23" cy="233.74" r="48.56" transform="translate(-25.94 142.7) rotate(-9.13)"/><path class="cls-14" d="M890.96,212.7c1.87,0,3.75-.04,5.62,.02,.75,.03,1.49,.31,2.24,.42,.22,.03,.54-.03,.7-.17,.67-.62,1.3-1.29,1.94-1.94,.15-.15,.3-.3,.48-.42,.5-.33,1.09-.26,1.45,.15,.36,.4,.38,1.02-.02,1.45-.69,.75-1.41,1.48-2.16,2.18-.34,.32-.35,.58-.23,1.04,.25,.96,.43,1.96,.45,2.95,.05,3.51,.04,7.03,.01,10.54-.01,1.68-.59,3.16-1.8,4.37-7.45,7.44-14.88,14.88-22.34,22.3-2.26,2.25-5.69,2.23-8.02-.06-3.61-3.56-7.2-7.14-10.75-10.75-2.35-2.38-2.29-5.76,.08-8.17,2.44-2.47,4.9-4.92,7.36-7.37,4.83-4.84,9.68-9.65,14.49-14.52,1.44-1.46,3.11-2.15,5.13-2.12,1.79,.03,3.58,0,5.37,0v.09Zm7.97,4.18l-.2-.1c-1.25,1.28-2.49,2.56-3.75,3.82-.27,.27-.35,.51-.3,.89,.18,1.22-.52,2.38-1.6,2.73-1.07,.35-2.11,.06-2.82-.8-.65-.79-.76-1.87-.28-2.75,.53-.97,1.49-1.43,2.62-1.33,.27,.02,.62-.09,.81-.27,1.17-1.12,2.3-2.28,3.45-3.42,.12-.12,.22-.27,.4-.49-.79-.05-1.45-.12-2.1-.12-3.26-.01-6.52,0-9.78-.01-1.22,0-2.21,.39-3.08,1.27-4.21,4.25-8.46,8.48-12.69,12.71-3.09,3.09-6.18,6.17-9.26,9.27-1.45,1.46-1.51,3.35-.11,4.76,3.6,3.63,7.22,7.24,10.85,10.84,.33,.33,.78,.61,1.23,.75,1.36,.41,2.51,.03,3.53-.99,7.32-7.35,14.66-14.69,22.01-22.01,.79-.79,1.16-1.7,1.15-2.8,0-3.39,0-6.78,0-10.16,0-.59-.05-1.19-.08-1.78Z"/><circle class="cls-11" cx="1005.05" cy="234.11" r="48.56" transform="translate(-18.1 99.6) rotate(-5.62)"/><path class="cls-15" d="M982.87,233.78c0,4.08-.02,8.16,.02,12.24,0,.93,.13,1.88,.36,2.78,1.03,4.06,4.88,7.12,9.06,7.16,5.58,.05,11.16,.02,16.74,.02,.09,0,.17,0,.26-.01,1.23-.15,1.81-1.45,1.09-2.47-.41-.58-1.01-.62-1.63-.62-5.23,0-10.46,0-15.7,0-.52,0-1.05,0-1.56-.11-3.43-.68-5.55-3.31-5.55-6.89,0-8.06,0-16.11,0-24.17,0-.49,.01-.98,.11-1.46,.68-3.4,3.28-5.54,6.79-5.55,8.13-.02,16.25,0,24.38,0,1.25,0,2.43,.25,3.5,.88,2.32,1.37,3.41,3.45,3.41,6.12,0,5.23,0,10.46,0,15.7,0,.28,0,.56,.05,.83,.12,.7,.72,1.2,1.43,1.22,1,.03,1.62-.65,1.62-1.81,0-5.35,0-10.71,0-16.06,0-.52-.04-1.04-.11-1.56-.68-4.82-4.78-8.4-9.63-8.41-8.3,0-16.6,0-24.9,0-.43,0-.87,.04-1.3,.1-5.03,.71-8.45,4.99-8.43,9.72,.02,4.12,0,8.23,0,12.35Zm35.06,12.9c-1.51,0-2.94,0-4.37,0-.57,0-1.11,.14-1.47,.64-.36,.5-.43,1.05-.15,1.62,.3,.6,.81,.85,1.44,.86,1.32,.02,2.65,0,3.97,0,.18,0,.37,0,.57,0,0,1.49-.02,2.9,.01,4.31,0,.39,.09,.81,.27,1.14,.34,.63,1.04,.85,1.71,.66,.7-.2,1.12-.75,1.13-1.56,.02-1.32,0-2.65,0-3.97,0-.18,0-.37,0-.57,.2,0,.32,0,.44,0,1.38,0,2.75,0,4.13,0,.86,0,1.55-.63,1.6-1.41,.06-.89-.5-1.55-1.43-1.67-.29-.04-.59-.04-.89-.04-1.27,0-2.54,0-3.86,0,0-.24,0-.43,0-.61,0-1.34,.01-2.68-.01-4.03-.01-.79-.55-1.37-1.33-1.51-.67-.12-1.4,.3-1.64,1-.11,.3-.13,.65-.13,.97-.01,1.37,0,2.75,0,4.18Z"/><path class="cls-15" d="M982.87,233.78c0-4.12,.01-8.23,0-12.35-.02-4.73,3.41-9.01,8.43-9.72,.43-.06,.87-.1,1.3-.1,8.3,0,16.6,0,24.9,0,4.85,0,8.95,3.59,9.63,8.41,.07,.51,.11,1.04,.11,1.56,0,5.35,0,10.71,0,16.06,0,1.16-.62,1.84-1.62,1.81-.71-.02-1.31-.53-1.43-1.22-.05-.27-.05-.55-.05-.83,0-5.23,0-10.46,0-15.7,0-2.67-1.08-4.75-3.41-6.12-1.07-.64-2.26-.88-3.5-.88-8.13,0-16.25,0-24.38,0-3.51,0-6.11,2.15-6.79,5.55-.09,.47-.11,.97-.11,1.46,0,8.06,0,16.11,0,24.17,0,3.58,2.12,6.21,5.55,6.89,.51,.1,1.04,.11,1.56,.11,5.23,0,10.46,0,15.7,0,.62,0,1.22,.05,1.63,.62,.72,1.02,.14,2.32-1.09,2.47-.09,.01-.17,.01-.26,.01-5.58,0-11.16,.03-16.74-.02-4.19-.04-8.03-3.11-9.06-7.16-.23-.9-.35-1.85-.36-2.78-.04-4.08-.02-8.16-.02-12.24Z"/><path class="cls-15" d="M997.31,231.94c0-1.64,0-3.19,0-4.74,0-2.19,.9-3.93,2.77-5.05,2.2-1.32,4.43-2.6,6.7-3.78,3.41-1.77,7.79,.65,7.98,4.49,.18,3.39,.09,6.79,.1,10.19,0,.39-.08,.8-.19,1.18-.62,2.27-2.08,3.72-4.38,4.19-2.27,.46-4.23-.27-5.63-2.12-1.45-1.92-1.61-4.06-.44-6.17,1.13-2.06,2.99-3,5.33-2.91,.56,.02,1.11,.25,1.66,.39,.16,.04,.32,.11,.52,.17,0-1.56,.09-3.08-.02-4.58-.14-1.82-2.06-2.86-3.67-2-2.17,1.15-4.29,2.4-6.42,3.65-.95,.56-1.23,1.49-1.22,2.55,0,3.14,0,6.28,0,9.42,0,2.21-.9,3.91-2.8,5.09-2.01,1.24-4.92,.98-6.64-.64-2.94-2.77-2.44-7.25,1.06-9.23,1.52-.86,3.14-.91,4.78-.27,.14,.06,.29,.11,.51,.19Zm11.89-1.62c-1.45,0-2.59,1.11-2.59,2.54,0,1.42,1.14,2.58,2.57,2.6,1.36,.02,2.56-1.18,2.57-2.54,0-1.46-1.1-2.59-2.55-2.59Zm-14.48,9.25c1.43,0,2.6-1.16,2.59-2.58,0-1.37-1.2-2.56-2.57-2.56-1.43,0-2.57,1.15-2.57,2.6,0,1.42,1.12,2.54,2.55,2.54Z"/><path class="cls-15" d="M1017.93,246.67c0-1.43,0-2.81,0-4.18,0-.33,.03-.67,.13-.97,.24-.7,.97-1.12,1.64-1,.78,.14,1.32,.72,1.33,1.51,.02,1.34,.01,2.68,.01,4.03,0,.19,0,.38,0,.61,1.32,0,2.59,0,3.86,0,.3,0,.59,0,.89,.04,.93,.12,1.49,.78,1.43,1.67-.05,.78-.74,1.4-1.6,1.41-1.38,.01-2.75,0-4.13,0-.12,0-.24,0-.44,0,0,.21,0,.39,0,.57,0,1.32,.01,2.65,0,3.97,0,.81-.43,1.36-1.13,1.56-.67,.19-1.37-.03-1.71-.66-.18-.33-.26-.76-.27-1.14-.03-1.41-.01-2.82-.01-4.31-.21,0-.39,0-.57,0-1.32,0-2.65,.01-3.97,0-.63,0-1.14-.26-1.44-.86-.28-.57-.21-1.12,.15-1.62,.36-.5,.9-.63,1.47-.64,1.43,0,2.86,0,4.37,0Z"/><circle class="cls-8" cx="256.14" cy="234.11" r="48.56" transform="translate(-18.35 21.82) rotate(-4.71)"/><path class="cls-4" d="M250.58,246.08l-18.06,11.78-.11-.08c.57-.88,1.13-1.75,1.7-2.63,3.25-4.97,6.49-9.95,9.75-14.92,.29-.44,.26-.68-.12-1.04-1.57-1.53-3.1-3.11-4.68-4.64-.71-.69-1.06-1.47-.76-2.43,.31-.98,1.07-1.37,2.04-1.51,2.99-.45,5.97-.93,8.95-1.42,.33-.05,.69-.24,.93-.48,2.1-2.07,4.19-4.16,6.26-6.26,.25-.25,.45-.64,.51-.99,.5-3,.97-6.01,1.43-9.03,.15-.94,.57-1.67,1.52-1.96,.91-.28,1.67,.05,2.32,.7,5.61,5.61,11.21,11.21,16.82,16.81,.66,.66,.97,1.43,.7,2.32-.28,.93-.99,1.39-1.95,1.53-3.04,.45-6.07,.92-9.1,1.41-.31,.05-.64,.23-.87,.44-2.12,2.09-4.23,4.19-6.31,6.31-.23,.24-.42,.6-.48,.93-.5,3.01-.97,6.02-1.43,9.03-.14,.94-.53,1.69-1.48,1.99-.95,.29-1.74,0-2.44-.72-1.68-1.73-3.41-3.42-5.15-5.16Zm9.92-33.56c-.04,.24-.09,.48-.13,.72-.48,3.08-.94,6.17-1.44,9.25-.05,.33-.23,.7-.47,.93-2.4,2.42-4.83,4.83-7.27,7.22-.24,.23-.6,.41-.93,.47-2.07,.35-4.14,.67-6.21,.99-1.26,.2-2.52,.4-3.62,.58,5.73,5.73,11.46,11.46,17.17,17.18,.47-3,.97-6.13,1.43-9.25,.03-.21-.15-.5-.32-.67-.9-.93-1.82-1.84-2.74-2.75-.62-.61-1.25-1.21-1.81-1.76l1.41-1.49,4.56,4.58c.26-.25,.45-.42,.64-.61,2.04-2.03,4.06-4.08,6.12-6.09,.24-.23,.6-.42,.93-.47,3.08-.5,6.17-.96,9.25-1.44,.24-.04,.48-.1,.66-.14-5.76-5.76-11.48-11.48-17.24-17.24Zm-11.54,32.19l-3.42-3.36-6.13,9.4,.12,.1,9.43-6.15Z"/><circle class="cls-7" cx="755.42" cy="234.11" r="48.56" transform="translate(-19.3 75.14) rotate(-5.62)"/><text class="cls-34" transform="translate(713.62 239.57)"><tspan x="0" y="0">#Reelistaan</tspan></text><text class="cls-32" transform="translate(88.66 367.95)"><tspan class="cls-35" x="0" y="0">t</tspan><tspan class="cls-16" x="6.7" y="0">o visit our</tspan><tspan class="cls-16"><tspan x="-6.38" y="19.99">Insta handle</tspan></tspan></text><rect class="cls-24" x="92.45" y="322.33" width="77.74" height="26.21" rx="12.42" ry="12.42"/><a href="https://instagram.com/gauairport_official?igshid=YmMyMTA2M2Y=" target="_blabk"><text class="cls-33" transform="translate(98.1 341.01)"><tspan class="cls-31" x="0" y="0">Click here</tspan><tspan class="cls-17" x="9.7" y="0"></tspan><tspan class="cls-28" x="52.58" y="0"></tspan><tspan class="cls-19" x="57.72" y="0"></tspan></text></a><text class="cls-32" transform="translate(606.17 367.95)"><tspan class="cls-35" x="0" y="0">to get</tspan><tspan class="cls-16" x="6.7" y="0"></tspan><tspan class="cls-16" x="-31.98" y="19.99">high-res shots</tspan><tspan class="cls-29" x="8.04" y="19.99"></tspan><tspan class="cls-36" x="14.16" y="19.99"></tspan><tspan class="cls-20" x="23.62" y="19.99"></tspan></text><rect class="cls-24" x="591.73" y="322.33" width="77.74" height="26.21" rx="12.42" ry="12.42"/><a href="https://drive.google.com/drive/u/0/folders/1iUMhG4GLD9QQQI7oz8n-Vmyr7oIEKXN8 " target="_blabk"><text class="cls-33" transform="translate(597.38 341.01)"><tspan class="cls-31" x="0" y="0">C</tspan><tspan class="cls-17" x="9.7" y="0">lick here</tspan><tspan class="cls-28" x="52.58" y="0"></tspan><tspan class="cls-19" x="57.72" y="0"></tspan></text></a><text class="cls-32" transform="translate(356.29 336.43)"><tspan class="cls-27" x="0" y="0">Tap on </tspan><tspan class="cls-16" x="9.04" y="0"></tspan><tspan class="cls-20" x="-32.8" y="19.99">'Use Template'</tspan><tspan class="cls-26" x="5.28" y="19.99"></tspan><tspan class="cls-20" x="13.78" y="19.99"></tspan><tspan class="cls-35" x="61.8" y="19.99"></tspan><tspan class="cls-20" x="68.5" y="19.99" xml:space="preserve">  </tspan></text><text class="cls-32" transform="translate(865.31 336.43)"><tspan class="cls-27" x="0" y="0">Tag</tspan><tspan class="cls-20" x="9.04" y="0"></tspan><tspan class="cls-20" x="-60.77" y="19.99">@@gauairport_official</tspan><tspan class="cls-41" x="-48.03" y="19.99"></tspan><tspan class="cls-18" x="-39.55" y="19.99"></tspan><tspan class="cls-35" x="45.94" y="19.99"></tspan><tspan class="cls-18" x="52.14" y="19.99"></tspan><tspan class="cls-37" x="96.34" y="19.99"></tspan><tspan class="cls-18" x="106.23" y="19.99"></tspan></text><text class="cls-32" transform="translate(215.48 122.34)"><tspan class="cls-30" x="0" y="0">C</tspan><tspan class="cls-16" x="11.54" y="0">heck out</tspan><tspan class="cls-16" x="-18.89" y="19.99">our pinned reel</tspan><tspan class="cls-29" x="70.44" y="19.99"></tspan><tspan class="cls-20" x="76.56" y="19.99"></tspan></text><text class="cls-32" transform="translate(469.84 122.32)"><tspan class="cls-20" x="0" y="0">Add </tspan><tspan class="cls-39" x="36.13" y="0">y</tspan><tspan class="cls-20" x="44.6" y="0">our</tspan><tspan class="cls-20"><tspan x="5.75" y="19.99" xml:space="preserve">videos  </tspan></tspan></text><text class="cls-32" transform="translate(729.04 122.44)"><tspan class="cls-20" x="0" y="0">C</tspan><tspan class="cls-29" x="11.27" y="0">r</tspan><tspan class="cls-20" x="17.39" y="0">eate</tspan><tspan class="cls-35" x="36.31" y="0"></tspan><tspan class="cls-18" x="43" y="0"></tspan><tspan class="cls-41" x="-17.3" y="19.99">y</tspan><tspan class="cls-18" x="-8.82" y="19.99">our magic</tspan></text><text class="cls-32" transform="translate(943.14 122.46)"><tspan class="cls-20" x="0" y="0">In a rush? Save</tspan><tspan class="cls-38" x="80.95" y="0"></tspan><tspan class="cls-20" x="91.96" y="0"></tspan><tspan class="cls-40" x="101.32" y="0"></tspan><tspan class="cls-20" x="109.8" y="0"></tspan><tspan class="cls-20" x="-10.9" y="19.99">the audio for later</tspan><tspan class="cls-25" x="68.14" y="19.99"></tspan><tspan class="cls-18" x="74.53" y="19.99"></tspan><tspan class="cls-35" x="108.6" y="19.99"></tspan><tspan class="cls-18" x="115.3" y="19.99"></tspan><tspan class="cls-21" x="124.86" y="19.99"></tspan><tspan class="cls-20" x="130.42" y="19.99">.</tspan></text><g><g><line class="cls-1" x1="131.29" y1="311.17" x2="131.29" y2="309.67"/><line class="cls-2" x1="131.29" y1="306.14" x2="131.29" y2="293.77"/><line class="cls-1" x1="131.29" y1="292" x2="131.29" y2="290.5"/></g><circle cx="131.32" cy="311.11" r="1.49"/></g><g><g><line class="cls-1" x1="380.92" y1="311.17" x2="380.92" y2="309.67"/><line class="cls-2" x1="380.92" y1="306.14" x2="380.92" y2="293.77"/><line class="cls-1" x1="380.92" y1="292" x2="380.92" y2="290.5"/></g><circle cx="380.96" cy="311.11" r="1.49"/></g><g><g><line class="cls-1" x1="630.56" y1="311.17" x2="630.56" y2="309.67"/><line class="cls-2" x1="630.56" y1="306.14" x2="630.56" y2="293.77"/><line class="cls-1" x1="630.56" y1="292" x2="630.56" y2="290.5"/></g><circle cx="630.6" cy="311.11" r="1.49"/></g><g><g><line class="cls-1" x1="880.2" y1="311.17" x2="880.2" y2="309.67"/><line class="cls-2" x1="880.2" y1="306.14" x2="880.2" y2="293.77"/><line class="cls-1" x1="880.2" y1="292" x2="880.2" y2="290.5"/></g><circle cx="880.23" cy="311.11" r="1.49"/></g><g><g><line class="cls-1" x1="256.11" y1="176.99" x2="256.11" y2="175.49"/><line class="cls-2" x1="256.11" y1="171.95" x2="256.11" y2="159.59"/><line class="cls-1" x1="256.11" y1="157.82" x2="256.11" y2="156.32"/></g><circle cx="256.14" cy="176.92" r="1.49"/></g><g><g><line class="cls-1" x1="505.74" y1="176.99" x2="505.74" y2="175.49"/><line class="cls-2" x1="505.74" y1="171.95" x2="505.74" y2="159.59"/><line class="cls-1" x1="505.74" y1="157.82" x2="505.74" y2="156.32"/></g><circle cx="505.78" cy="176.92" r="1.49"/></g><g><g><line class="cls-1" x1="755.38" y1="176.99" x2="755.38" y2="175.49"/><line class="cls-2" x1="755.38" y1="171.95" x2="755.38" y2="159.59"/><line class="cls-1" x1="755.38" y1="157.82" x2="755.38" y2="156.32"/></g><circle cx="755.42" cy="176.92" r="1.49"/></g><g><g><line class="cls-1" x1="1005.02" y1="176.99" x2="1005.02" y2="175.49"/><line class="cls-2" x1="1005.02" y1="171.95" x2="1005.02" y2="159.59"/><line class="cls-1" x1="1005.02" y1="157.82" x2="1005.02" y2="156.32"/></g><circle cx="1005.05" cy="176.92" r="1.49"/></g></svg>
	
	
	<svg id="CrmLayer_1" class="d-sm-none d-block w-100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 335 585">
   <defs>
      <style>.crm-cls-1{fill:#005fff;stroke-width:.47px;}.crm-cls-1,.crm-cls-2,.crm-cls-3,.crm-cls-4,.crm-cls-5,.crm-cls-6,.crm-cls-7,.crm-cls-8,.crm-cls-9,.crm-cls-10,.crm-cls-11,.crm-cls-12,.crm-cls-13{stroke-miterlimit:10;}.crm-cls-1,.crm-cls-13{stroke:#005fff;}.crm-cls-14{letter-spacing:-.04em;}.crm-cls-15{letter-spacing:-.04em;}.crm-cls-16{letter-spacing:-.04em;}.crm-cls-17{letter-spacing:-.04em;}.crm-cls-18{letter-spacing:-.04em;}.crm-cls-19{letter-spacing:-.08em;}.crm-cls-20{letter-spacing:-.04em;}.crm-cls-2{fill:#13aeef;}.crm-cls-2,.crm-cls-3,.crm-cls-4{stroke-width:.62px;}.crm-cls-2,.crm-cls-9{stroke:#13aeef;}.crm-cls-3{fill:#ec3b54;}.crm-cls-3,.crm-cls-7{stroke:#ec3b54;}.crm-cls-4{fill:#f67431;}.crm-cls-4,.crm-cls-6{stroke:#f67431;}.crm-cls-21{fill:#fcb519;}.crm-cls-22{fill:#a73dc1;}.crm-cls-23{fill:#d1d1d1;}.crm-cls-24{font-size:13px;}.crm-cls-24,.crm-cls-25,.crm-cls-26,.crm-cls-27{font-family:Adani-Medium, Adani;}.crm-cls-28,.crm-cls-29{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:.9px;}.crm-cls-30{letter-spacing:-.06em;}.crm-cls-31{letter-spacing:-.14em;}.crm-cls-29{stroke-dasharray:0 0 3.18 3.18;}.crm-cls-32{letter-spacing:-.11em;}.crm-cls-25{font-size:8.4px;letter-spacing:-.04em;}.crm-cls-33{letter-spacing:-.11em;}.crm-cls-5{fill:#005d8b;stroke-width:.93px;}.crm-cls-5,.crm-cls-12{stroke:#005d8b;}.crm-cls-34{letter-spacing:-.05em;}.crm-cls-35{letter-spacing:-.05em;}.crm-cls-36{letter-spacing:-.02em;}.crm-cls-37{letter-spacing:-.03em;}.crm-cls-38{letter-spacing:-.05em;}.crm-cls-26{font-size:9.5px;}.crm-cls-39{letter-spacing:-.05em;}.crm-cls-27{font-size:8.95px;}.crm-cls-40{letter-spacing:-.04em;}.crm-cls-41{letter-spacing:-.04em;}.crm-cls-42{letter-spacing:-.04em;}.crm-cls-6{filter:url(#crm-drop-shadow-7);}.crm-cls-6,.crm-cls-7,.crm-cls-8,.crm-cls-9,.crm-cls-10,.crm-cls-11,.crm-cls-12,.crm-cls-13{fill:#fff;stroke-width:1.07px;}.crm-cls-7{filter:url(#crm-drop-shadow-2);}.crm-cls-8{filter:url(#crm-drop-shadow-1);stroke:#fcb519;}.crm-cls-9{filter:url(#crm-drop-shadow-4);}.crm-cls-10{filter:url(#crm-drop-shadow-8);stroke:#221f20;}.crm-cls-11{filter:url(#crm-drop-shadow-3);stroke:#a73dc1;}.crm-cls-12{filter:url(#crm-drop-shadow-5);}.crm-cls-13{filter:url(#crm-drop-shadow-6);}.crm-cls-43{letter-spacing:-.02em;}.crm-cls-44{letter-spacing:-.05em;}</style>
      <filter id="crm-drop-shadow-1" filterUnits="userSpaceOnUse">
         <feOffset dx="1.79" dy="1.79"/>
         <feGaussianBlur result="blur" stdDeviation="1.79"/>
         <feFlood flood-color="#000" flood-opacity=".15"/>
         <feComposite in2="blur" operator="in"/>
         <feComposite in="SourceGraphic"/>
      </filter>
      <filter id="crm-drop-shadow-2" filterUnits="userSpaceOnUse">
         <feOffset dx="1.79" dy="1.79"/>
         <feGaussianBlur result="blur-2" stdDeviation="1.79"/>
         <feFlood flood-color="#000" flood-opacity=".15"/>
         <feComposite in2="blur-2" operator="in"/>
         <feComposite in="SourceGraphic"/>
      </filter>
      <filter id="crm-drop-shadow-3" filterUnits="userSpaceOnUse">
         <feOffset dx="1.79" dy="1.79"/>
         <feGaussianBlur result="blur-3" stdDeviation="1.79"/>
         <feFlood flood-color="#000" flood-opacity=".15"/>
         <feComposite in2="blur-3" operator="in"/>
         <feComposite in="SourceGraphic"/>
      </filter>
      <filter id="crm-drop-shadow-4" filterUnits="userSpaceOnUse">
         <feOffset dx="1.79" dy="1.79"/>
         <feGaussianBlur result="blur-4" stdDeviation="1.79"/>
         <feFlood flood-color="#000" flood-opacity=".15"/>
         <feComposite in2="blur-4" operator="in"/>
         <feComposite in="SourceGraphic"/>
      </filter>
      <filter id="crm-drop-shadow-5" filterUnits="userSpaceOnUse">
         <feOffset dx="1.79" dy="1.79"/>
         <feGaussianBlur result="blur-5" stdDeviation="1.79"/>
         <feFlood flood-color="#000" flood-opacity=".15"/>
         <feComposite in2="blur-5" operator="in"/>
         <feComposite in="SourceGraphic"/>
      </filter>
      <filter id="crm-drop-shadow-6" filterUnits="userSpaceOnUse">
         <feOffset dx="1.79" dy="1.79"/>
         <feGaussianBlur result="blur-6" stdDeviation="1.79"/>
         <feFlood flood-color="#000" flood-opacity=".15"/>
         <feComposite in2="blur-6" operator="in"/>
         <feComposite in="SourceGraphic"/>
      </filter>
      <filter id="crm-drop-shadow-7" filterUnits="userSpaceOnUse">
         <feOffset dx="1.79" dy="1.79"/>
         <feGaussianBlur result="blur-7" stdDeviation="1.79"/>
         <feFlood flood-color="#000" flood-opacity=".15"/>
         <feComposite in2="blur-7" operator="in"/>
         <feComposite in="SourceGraphic"/>
      </filter>
      <filter id="crm-drop-shadow-8" filterUnits="userSpaceOnUse">
         <feOffset dx="1.79" dy="1.79"/>
         <feGaussianBlur result="blur-8" stdDeviation="1.79"/>
         <feFlood flood-color="#000" flood-opacity=".15"/>
         <feComposite in2="blur-8" operator="in"/>
         <feComposite in="SourceGraphic"/>
      </filter>
   </defs>
   <text class="crm-cls-24" transform="translate(221.99 265.12)">
      <tspan class="crm-cls-17" x="0" y="0">Add </tspan>
      <tspan class="crm-cls-44" x="26.09" y="0">y</tspan>
      <tspan class="crm-cls-15" x="32.21" y="0" xml:space="preserve">our videos  </tspan>
   </text>
   <text class="crm-cls-24" transform="translate(248.62 390.69)">
      <tspan class="crm-cls-15" x="0" y="0">Create</tspan>
      <tspan class="crm-cls-35" x="8.14" y="0"></tspan>
      <tspan class="crm-cls-17" x="12.56" y="0"></tspan>
      <tspan class="crm-cls-41" x="26.22" y="0"></tspan>
      <tspan class="crm-cls-17" x="31.06" y="0"></tspan>
      <tspan class="crm-cls-44" x="-12.49" y="12.93">y</tspan>
      <tspan class="crm-cls-15" x="-6.37" y="12.93">our magic</tspan>
   </text>
   <text class="crm-cls-24" transform="translate(238.54 506.25)">
      <tspan class="crm-cls-15">
         <tspan x="0" y="0">In a rush? </tspan>
      </tspan>
      <tspan class="crm-cls-43" x="2.67" y="12.93">Save the</tspan>
      <tspan class="crm-cls-15" x="10.62" y="12.93"></tspan>
      <tspan class="crm-cls-44" x="17.38" y="12.93"></tspan>
      <tspan class="crm-cls-17" x="23.5" y="12.93"> </tspan>
      <tspan class="crm-cls-15" x="-12.17" y="25.85">audio for later</tspan>
      <tspan class="crm-cls-30" x="22.65" y="25.85"></tspan>
      <tspan class="crm-cls-15" x="27.26" y="25.85"></tspan>
      <tspan class="crm-cls-41" x="51.87" y="25.85"></tspan>
      <tspan class="crm-cls-17" x="56.71" y="25.85"></tspan>
      <tspan class="crm-cls-19" x="63.61" y="25.85"></tspan>
      <tspan class="crm-cls-17" x="67.62" y="25.85">.</tspan>
   </text>
   <g>
      <g>
         <g>
            <g>
               <line class="crm-cls-28" x1="120.78" y1="56.38" x2="122.13" y2="56.38"/>
               <line class="crm-cls-29" x1="125.31" y1="56.38" x2="136.44" y2="56.38"/>
               <line class="crm-cls-28" x1="138.03" y1="56.38" x2="139.38" y2="56.38"/>
            </g>
            <circle cx="120.84" cy="56.35" r="1.34"/>
         </g>
         <g>
            <g>
               <line class="crm-cls-28" x1="120.78" y1="191.32" x2="122.13" y2="191.32"/>
               <line class="crm-cls-29" x1="125.31" y1="191.32" x2="136.44" y2="191.32"/>
               <line class="crm-cls-28" x1="138.03" y1="191.32" x2="139.38" y2="191.32"/>
            </g>
            <circle cx="120.84" cy="191.29" r="1.34"/>
         </g>
         <g>
            <g>
               <line class="crm-cls-28" x1="120.78" y1="326.27" x2="122.13" y2="326.27"/>
               <line class="crm-cls-29" x1="125.31" y1="326.27" x2="136.44" y2="326.27"/>
               <line class="crm-cls-28" x1="138.03" y1="326.27" x2="139.38" y2="326.27"/>
            </g>
            <circle cx="120.84" cy="326.24" r="1.34"/>
         </g>
         <g>
            <g>
               <line class="crm-cls-28" x1="120.78" y1="461.21" x2="122.13" y2="461.21"/>
               <line class="crm-cls-29" x1="125.31" y1="461.21" x2="136.44" y2="461.21"/>
               <line class="crm-cls-28" x1="138.03" y1="461.21" x2="139.38" y2="461.21"/>
            </g>
            <circle cx="120.84" cy="461.18" r="1.34"/>
         </g>
      </g>
      <g>
         <g>
            <g>
               <line class="crm-cls-28" x1="214.22" y1="123.85" x2="212.87" y2="123.85"/>
               <line class="crm-cls-29" x1="209.69" y1="123.85" x2="198.56" y2="123.85"/>
               <line class="crm-cls-28" x1="196.97" y1="123.85" x2="195.62" y2="123.85"/>
            </g>
            <circle cx="214.16" cy="123.82" r="1.34"/>
         </g>
         <g>
            <g>
               <line class="crm-cls-28" x1="214.22" y1="258.8" x2="212.87" y2="258.8"/>
               <line class="crm-cls-29" x1="209.69" y1="258.8" x2="198.56" y2="258.8"/>
               <line class="crm-cls-28" x1="196.97" y1="258.8" x2="195.62" y2="258.8"/>
            </g>
            <circle cx="214.16" cy="258.76" r="1.34"/>
         </g>
         <g>
            <g>
               <line class="crm-cls-28" x1="214.22" y1="393.74" x2="212.87" y2="393.74"/>
               <line class="crm-cls-29" x1="209.69" y1="393.74" x2="198.56" y2="393.74"/>
               <line class="crm-cls-28" x1="196.97" y1="393.74" x2="195.62" y2="393.74"/>
            </g>
            <circle cx="214.16" cy="393.71" r="1.34"/>
         </g>
         <g>
            <g>
               <line class="crm-cls-28" x1="214.22" y1="528.68" x2="212.87" y2="528.68"/>
               <line class="crm-cls-29" x1="209.69" y1="528.68" x2="198.56" y2="528.68"/>
               <line class="crm-cls-28" x1="196.97" y1="528.68" x2="195.62" y2="528.68"/>
            </g>
            <circle cx="214.16" cy="528.65" r="1.34"/>
         </g>
      </g>
   </g>
   <text class="crm-cls-24" transform="translate(238.3 124.22)">
      <tspan class="crm-cls-37" x="0" y="0">C</tspan>
      <tspan class="crm-cls-15" x="8.33" y="0">heck out</tspan>
      <tspan class="crm-cls-15" x="-13.64" y="12.93">our pinned reel</tspan>
      <tspan class="crm-cls-35" x="50.88" y="12.93"></tspan>
      <tspan class="crm-cls-17" x="55.29" y="12.93"></tspan>
   </text>
   <text class="crm-cls-26" transform="translate(63.1 466.33)">
      <tspan class="crm-cls-32" x="0" y="0">Tag</tspan>
      <tspan class="crm-cls-20" x="4.77" y="0"> </tspan>
      <tspan class="crm-cls-14" x="-52.02" y="9.42"></tspan>
      <tspan class="crm-cls-38" x="-24.2" y="9.42"></tspan>
      <tspan class="crm-cls-20" x="-30.73" y="9.42">@@gauairport_official</tspan>
      <tspan class="crm-cls-40" x="25.38" y="9.42"></tspan>
      <tspan class="crm-cls-14" x="28.64" y="9.42"></tspan>
      <tspan class="crm-cls-39" x="51.96" y="9.42"></tspan>
      <tspan class="crm-cls-14" x="57.18" y="9.42"></tspan>
   </text>
   <text class="crm-cls-24" transform="translate(46.17 195.91)">
      <tspan class="crm-cls-33" x="0" y="0">Tap on </tspan>
      <tspan class="crm-cls-15" x="6.53" y="0"></tspan>
      <tspan class="crm-cls-17" x="-23.69" y="12.93">'Use Template'</tspan>
      <tspan class="crm-cls-31" x="3.82" y="12.93"></tspan>
      <tspan class="crm-cls-17" x="9.95" y="12.93"></tspan>
      <tspan class="crm-cls-41" x="44.63" y="12.93"></tspan>
      <tspan class="crm-cls-17" x="49.47" y="12.93" xml:space="preserve"></tspan>
   </text>
   <g>
      <text class="crm-cls-24" transform="translate(36.5 75.96)">
         <tspan class="crm-cls-41" x="0" y="0">t</tspan>
         <tspan class="crm-cls-15" x="4.84" y="0">o visit our</tspan>
         <tspan class="crm-cls-15">
            <tspan x="-4.61" y="12.93">Insta handle</tspan>
         </tspan>
      </text>
      <g>
         <rect class="crm-cls-23" x="44.32" y="47.82" width="45.98" height="15.5" rx="7.75" ry="7.75"/>
         <a href="https://instagram.com/gauairport_official?igshid=YmMyMTA2M2Y=" target="_blank"><text class="crm-cls-27" transform="translate(47.66 58.87)">
            <tspan class="crm-cls-36" x="0" y="0">Click here</tspan>
            <tspan class="crm-cls-16" x="5.74" y="0"></tspan>
            <tspan class="crm-cls-34" x="31.1" y="0"></tspan>
            <tspan class="crm-cls-18" x="34.14" y="0"></tspan>
         </text>
		 </a>
      </g>
   </g>
   <g>
      <text class="crm-cls-24" transform="translate(49.71 332.71)">
         <tspan class="crm-cls-41" x="0" y="0">to get</tspan>
         <tspan class="crm-cls-15" x="4.84" y="0"></tspan>
         <tspan class="crm-cls-15" x="-23.09" y="12.93">high-res shots</tspan>
         <tspan class="crm-cls-35" x="5.8" y="12.93"></tspan>
         <tspan class="crm-cls-42" x="10.22" y="12.93"></tspan>
         <tspan class="crm-cls-15" x="17.06" y="12.93"></tspan>
      </text>
      <g>
         <rect class="crm-cls-23" x="44.32" y="304.58" width="45.98" height="15.5" rx="7.75" ry="7.75"/>
         <a href="https://drive.google.com/drive/u/0/folders/1iUMhG4GLD9QQQI7oz8n-Vmyr7oIEKXN8" target="_blank"><text class="crm-cls-27" transform="translate(47.66 315.63)">
            <tspan class="crm-cls-36" x="0" y="0">Click here</tspan>
            <tspan class="crm-cls-16" x="5.74" y="0"></tspan>
            <tspan class="crm-cls-34" x="31.1" y="0"></tspan>
            <tspan class="crm-cls-18" x="34.14" y="0"></tspan>
         </text>
		 </a>
      </g>
   </g>
   <g>
      <circle class="crm-cls-8" cx="167.5" cy="56.35" r="25.98" transform="translate(-4.06 13.94) rotate(-4.71)"/>
      <g>
         <path class="crm-cls-21" d="M167.5,45.3c3.6,0,4.03,.01,5.45,.08,1.31,.06,2.03,.28,2.5,.46,.63,.24,1.08,.54,1.55,1.01,.47,.47,.76,.92,1.01,1.55,.18,.48,.4,1.19,.46,2.5,.06,1.42,.08,1.85,.08,5.45s-.01,4.03-.08,5.45c-.06,1.31-.28,2.03-.46,2.5-.24,.63-.54,1.08-1.01,1.55-.47,.47-.92,.76-1.55,1.01-.48,.18-1.19,.4-2.5,.46-1.42,.06-1.85,.08-5.45,.08s-4.03-.01-5.45-.08c-1.31-.06-2.03-.28-2.5-.46-.63-.24-1.08-.54-1.55-1.01-.47-.47-.76-.92-1.01-1.55-.18-.48-.4-1.19-.46-2.5-.06-1.42-.08-1.85-.08-5.45s.01-4.03,.08-5.45c.06-1.31,.28-2.03,.46-2.5,.24-.63,.54-1.08,1.01-1.55,.47-.47,.92-.76,1.55-1.01,.48-.18,1.19-.4,2.5-.46,1.42-.06,1.85-.08,5.45-.08m0-2.43c-3.66,0-4.12,.02-5.56,.08-1.44,.07-2.42,.29-3.27,.63-.89,.34-1.64,.81-2.39,1.56-.75,.75-1.21,1.5-1.56,2.39-.33,.86-.56,1.84-.63,3.27-.07,1.44-.08,1.9-.08,5.56s.02,4.12,.08,5.56c.07,1.44,.29,2.42,.63,3.27,.34,.89,.81,1.64,1.56,2.39,.75,.75,1.5,1.21,2.39,1.56,.86,.33,1.84,.56,3.27,.63,1.44,.07,1.9,.08,5.56,.08s4.12-.02,5.56-.08c1.44-.07,2.42-.29,3.27-.63,.89-.34,1.64-.81,2.39-1.56,.75-.75,1.21-1.5,1.56-2.39,.33-.86,.56-1.84,.63-3.27,.07-1.44,.08-1.9,.08-5.56s-.02-4.12-.08-5.56c-.07-1.44-.29-2.42-.63-3.27-.34-.89-.81-1.64-1.56-2.39-.75-.75-1.5-1.21-2.39-1.56-.86-.33-1.84-.56-3.27-.63-1.44-.07-1.9-.08-5.56-.08h0Z"/>
         <path class="crm-cls-21" d="M167.5,49.42c-3.82,0-6.92,3.1-6.92,6.92s3.1,6.92,6.92,6.92,6.92-3.1,6.92-6.92-3.1-6.92-6.92-6.92Zm0,11.42c-2.48,0-4.49-2.01-4.49-4.49s2.01-4.49,4.49-4.49,4.49,2.01,4.49,4.49-2.01,4.49-4.49,4.49Z"/>
         <circle class="crm-cls-21" cx="174.7" cy="49.15" r="1.62"/>
      </g>
   </g>
   <g>
      <circle class="crm-cls-7" cx="167.5" cy="191.29" r="25.98" transform="translate(-10.29 9.52) rotate(-3.16)"/>
      <path class="crm-cls-3" d="M164.34,193.75v-.42c0-2.65,0-5.3,0-7.96,0-1.29,.87-2.2,2.16-2.27,1.09-.06,2.15,.81,2.21,1.89,.06,1.03,.04,2.07,.05,3.1,0,.16,0,.31,0,.5,1.37-.51,2.39-.14,3.09,1.06,1.17-.63,2.5-.34,3.23,.97,.53-.24,1.08-.45,1.7-.3,.92,.22,1.66,.99,1.68,1.91,.04,2.03,.03,4.06,.02,6.08,0,.42-.08,.85-.19,1.25-.55,1.95-2.51,3.42-4.58,3.43-2.07,.01-4.14,0-6.21,0-1.46,0-2.69-.5-3.68-1.55-1.72-1.82-3.45-3.63-5.17-5.45-.97-1.03-1.11-2.46-.38-3.5,.98-1.39,2.98-1.64,4.26-.5,.49,.43,.92,.93,1.37,1.41,.12,.12,.22,.26,.32,.39l.1-.05Zm1.15-3.46c0,1.6,0,3.21,0,4.81,0,.31-.05,.59-.37,.72-.32,.12-.53-.05-.73-.27-.8-.85-1.61-1.69-2.41-2.53-.53-.56-1.18-.76-1.91-.53-1.17,.36-1.46,1.73-.58,2.69,1.64,1.76,3.31,3.5,4.93,5.28,.92,1.01,2.03,1.47,3.4,1.45,1.87-.03,3.73,0,5.6,0,2.28,0,3.91-1.58,3.91-3.82,0-1.79,0-3.58,0-5.37,0-.12,0-.24-.01-.36-.07-.43-.3-.73-.73-.87-.44-.15-.82-.03-1.09,.3-.15,.18-.22,.45-.28,.68-.08,.33-.26,.53-.61,.52-.32,0-.53-.25-.54-.62,0-.29,0-.58,0-.87-.03-.47-.32-.88-.74-1-.43-.12-.83-.03-1.1,.31-.15,.19-.21,.45-.27,.68-.08,.33-.27,.54-.61,.53-.35-.01-.51-.26-.52-.6,0-.3,0-.61,0-.91-.02-.53-.42-.92-.96-.95-.54-.03-.98,.29-1.08,.81-.02,.1,0,.24-.07,.31-.15,.16-.33,.41-.5,.41-.18,0-.41-.19-.55-.36-.09-.11-.08-.33-.08-.5,0-1.64,0-3.29,0-4.93,0-.69-.54-1.14-1.22-1.05-.53,.07-.88,.53-.88,1.16,0,1.63,0,3.26,0,4.89Z"/>
      <path class="crm-cls-3" d="M170.26,187.34c.13-.53,.19-1.05,.4-1.5,.73-1.6,.43-3.5-.83-4.83-1.17-1.25-3.13-1.67-4.84-1.04-1.6,.59-2.77,2.19-2.79,3.95,0,.56,.06,1.17,.3,1.66,.44,.9,.21,1.8,.3,2.81-.85-.68-1.36-1.47-1.7-2.35-1.21-3.16,.6-6.64,3.91-7.55,3.29-.91,6.72,1.16,7.38,4.45,.27,1.34,.05,2.61-.59,3.81-.42,.79-.45,.79-1.54,.6Z"/>
      <path class="crm-cls-3" d="M156.51,183.93c.03-1.19,.22-2.34,.66-3.45,.2-.5,.62-.74,1.02-.59,.37,.14,.55,.61,.37,1.07-.8,2.04-.79,4.06,.01,6.1,.21,.52,.02,.93-.43,1.08-.4,.13-.73-.1-.94-.63-.47-1.15-.69-2.35-.71-3.59Z"/>
      <path class="crm-cls-3" d="M176.65,184c.05,1.19-.25,2.36-.66,3.51-.17,.48-.56,.67-1.01,.51-.41-.14-.56-.46-.37-.95,.79-2.05,.79-4.1,0-6.15-.19-.49,.01-.93,.41-1.04,.42-.12,.81,.11,.98,.58,.42,1.13,.68,2.29,.64,3.53Z"/>
   </g>
   <g>
      <circle class="crm-cls-11" cx="167.5" cy="258.76" r="25.98" transform="translate(-24.55 17.66) rotate(-5.62)"/>
      <path class="crm-cls-22" d="M167.5,269.62c-2.52,0-5.05,0-7.57,0-1.63,0-3.01-.62-4.09-1.93-.88-1.07-1.28-2.33-1.28-3.75,0-3.56-.01-7.12,0-10.68,.01-2.41,1.07-4.15,3.1-5.2,.69-.36,1.44-.49,2.2-.49,5.1,0,10.19,0,15.29,0,2.53,0,4.59,1.73,5.17,4.33,.1,.44,.13,.91,.13,1.36,0,3.55,.02,7.1,0,10.65,0,2.41-1.06,4.15-3.08,5.21-.71,.37-1.49,.5-2.28,.5-2.52,0-5.05,0-7.57,0Zm0-19.57c-2.54,0-5.09,0-7.63,0-1.77,0-3,1.28-3.01,3.15-.02,3.6-.02,7.19,0,10.79,0,1.85,1.22,3.14,2.95,3.15,5.12,.01,10.24,.01,15.36,0,1.72,0,2.93-1.29,2.94-3.13,.02-3.61,0-7.21,0-10.82,0-.69-.17-1.33-.56-1.88-.62-.88-1.46-1.26-2.49-1.26-2.52,0-5.05,0-7.57,0Z"/>
      <path class="crm-cls-22" d="M172.46,258.6l-8.75,5.39v-10.78l8.75,5.39Z"/>
   </g>
   <g>
      <circle class="crm-cls-9" cx="167.5" cy="326.24" r="25.98" transform="translate(-49.67 30.73) rotate(-9.13)"/>
      <path class="crm-cls-2" d="M174.3,319.19c1.15-.35,2.29-.71,3.43-1.06,.89-.28,1.8-.51,2.67-.84,.77-.29,1.25,.29,1.25,1.05-.03,3.83-.03,7.67,0,11.5,0,.78-.43,1.36-1.28,1.07-1.91-.64-3.85-1.21-5.77-1.8-.1-.03-.19-.05-.3-.08-.08,3.23-1.81,4.19-4.39,3.97,0,.58-.02,1.11,0,1.63,.03,.63-.24,1.08-.72,1.32-.35,.17-.75,.32-1.12,.32-2.84,.03-5.68,.03-8.51,0-.39,0-.79-.17-1.15-.34-.47-.23-.69-.69-.68-1.27,0-.52,0-1.05,0-1.64-.37,0-.73,0-1.08,0-.73,0-1.41-.19-2.01-.69-.87-.73-1.26-1.73-1.27-2.92-.01-3.53-.01-7.06,0-10.6,0-2.09,1.34-3.58,3.2-3.58,4.84-.01,9.68,0,14.52,0,1.51,0,2.68,.99,3.08,2.59,.11,.43,.1,.89,.15,1.39Zm-10.48-2.19c-1.18,0-2.37,0-3.55,0-1.23,0-2.46,0-3.69,0-1.03,0-1.62,.63-1.62,1.74,0,3.58,0,7.17,0,10.75,0,.33,.11,.69,.25,.99,.31,.62,.85,.75,1.44,.75,4.76,0,9.52,0,14.28,0,.18,0,.36-.02,.53-.05,.69-.13,1.18-.77,1.18-1.55,0-3.68,0-7.37,0-11.05,0-.71-.38-1.28-1-1.48-.24-.08-.51-.1-.76-.1-2.36,0-4.72,0-7.07,0Zm16.2,2.3c-.07,0-.1,0-.13,.02-1.8,.55-3.59,1.11-5.39,1.66-.22,.07-.24,.19-.24,.4,0,1.8,0,3.6,0,5.41,0,.3,.09,.4,.34,.47,1.39,.42,2.78,.86,4.16,1.29,.42,.13,.83,.26,1.27,.4v-9.64Zm-20.71,13.73c0,.21,0,.39,0,.56q0,.92,.83,.92c2.44,0,4.89,0,7.33,0,.21,0,.43-.01,.63-.05,.07-.01,.19-.12,.19-.19,.02-.41,0-.82,0-1.24h-8.99Z"/>
   </g>
   <g>
      <circle class="crm-cls-12" cx="167.5" cy="461.18" r="25.98" transform="translate(-71.09 32.44) rotate(-9.13)"/>
      <path class="crm-cls-5" d="M173.24,449.92c1,0,2.01-.02,3.01,.01,.4,.01,.8,.16,1.2,.23,.12,.02,.29-.01,.37-.09,.36-.33,.69-.69,1.04-1.04,.08-.08,.16-.16,.26-.22,.27-.18,.58-.14,.77,.08,.19,.22,.2,.55,0,.78-.37,.4-.76,.79-1.15,1.17-.18,.17-.19,.31-.13,.55,.13,.51,.23,1.05,.24,1.58,.03,1.88,.02,3.76,0,5.64,0,.9-.31,1.69-.96,2.34-3.98,3.98-7.96,7.96-11.95,11.93-1.21,1.21-3.04,1.2-4.29-.03-1.93-1.9-3.85-3.82-5.75-5.75-1.25-1.27-1.23-3.08,.04-4.37,1.3-1.32,2.62-2.63,3.94-3.94,2.59-2.59,5.18-5.17,7.75-7.77,.77-.78,1.66-1.15,2.75-1.13,.96,.02,1.91,0,2.87,0v.05Zm4.26,2.24l-.11-.05c-.67,.68-1.33,1.37-2.01,2.04-.14,.14-.19,.27-.16,.47,.1,.65-.28,1.27-.86,1.46-.58,.19-1.13,.03-1.51-.43-.35-.42-.41-1-.15-1.47,.28-.52,.8-.76,1.4-.71,.14,.01,.33-.05,.44-.14,.63-.6,1.23-1.22,1.84-1.83,.07-.07,.12-.14,.22-.26-.42-.03-.77-.06-1.12-.07-1.74,0-3.49,0-5.23,0-.65,0-1.18,.21-1.65,.68-2.25,2.28-4.53,4.53-6.79,6.8-1.65,1.65-3.31,3.3-4.96,4.96-.78,.78-.81,1.8-.06,2.55,1.93,1.94,3.86,3.87,5.81,5.8,.18,.18,.42,.33,.66,.4,.73,.22,1.34,.02,1.89-.53,3.92-3.93,7.84-7.86,11.77-11.78,.42-.42,.62-.91,.62-1.5,0-1.81,0-3.63,0-5.44,0-.32-.03-.64-.05-.95Z"/>
   </g>
   <g>
      <circle class="crm-cls-13" cx="167.5" cy="528.65" r="25.98" transform="translate(-50.99 18.96) rotate(-5.62)"/>
      <path class="crm-cls-1" d="M155.63,528.47c0,2.18-.01,4.37,0,6.55,0,.5,.07,1.01,.19,1.49,.55,2.17,2.61,3.81,4.85,3.83,2.99,.03,5.97,.01,8.96,.01,.05,0,.09,0,.14,0,.66-.08,.97-.77,.58-1.32-.22-.31-.54-.33-.87-.33-2.8,0-5.6,0-8.4,0-.28,0-.56,0-.84-.06-1.84-.37-2.97-1.77-2.97-3.69,0-4.31,0-8.62,0-12.93,0-.26,0-.53,.06-.78,.36-1.82,1.75-2.97,3.63-2.97,4.35,0,8.7,0,13.04,0,.67,0,1.3,.13,1.87,.47,1.24,.73,1.82,1.84,1.82,3.28,0,2.8,0,5.6,0,8.4,0,.15,0,.3,.03,.45,.06,.37,.38,.64,.76,.65,.54,.02,.87-.35,.87-.97,0-2.86,0-5.73,0-8.59,0-.28-.02-.56-.06-.83-.37-2.58-2.56-4.5-5.15-4.5-4.44,0-8.88,0-13.32,0-.23,0-.47,.02-.69,.05-2.69,.38-4.52,2.67-4.51,5.2,0,2.2,0,4.4,0,6.61Zm18.76,6.9c-.81,0-1.57,0-2.34,0-.31,0-.6,.07-.79,.34-.19,.27-.23,.56-.08,.87,.16,.32,.43,.46,.77,.46,.71,0,1.42,0,2.13,0,.1,0,.2,0,.31,0,0,.8,0,1.55,0,2.31,0,.21,.05,.43,.15,.61,.18,.34,.56,.46,.92,.35,.37-.11,.6-.4,.6-.84,0-.71,0-1.42,0-2.13,0-.1,0-.2,0-.31,.11,0,.17,0,.24,0,.74,0,1.47,0,2.21,0,.46,0,.83-.34,.86-.75,.03-.48-.27-.83-.76-.89-.16-.02-.32-.02-.47-.02-.68,0-1.36,0-2.06,0,0-.13,0-.23,0-.33,0-.72,0-1.44,0-2.15,0-.42-.3-.73-.71-.81-.36-.06-.75,.16-.88,.53-.06,.16-.07,.35-.07,.52,0,.73,0,1.47,0,2.24Z"/>
      <path class="crm-cls-1" d="M155.63,528.47c0-2.2,0-4.4,0-6.61,0-2.53,1.82-4.82,4.51-5.2,.23-.03,.46-.05,.69-.05,4.44,0,8.88,0,13.32,0,2.6,0,4.79,1.92,5.15,4.5,.04,.28,.06,.56,.06,.83,0,2.86,0,5.73,0,8.59,0,.62-.33,.99-.87,.97-.38-.01-.7-.28-.76-.65-.02-.15-.03-.3-.03-.45,0-2.8,0-5.6,0-8.4,0-1.43-.58-2.54-1.82-3.28-.57-.34-1.21-.47-1.87-.47-4.35,0-8.7,0-13.04,0-1.88,0-3.27,1.15-3.63,2.97-.05,.25-.06,.52-.06,.78,0,4.31,0,8.62,0,12.93,0,1.91,1.13,3.32,2.97,3.69,.27,.05,.56,.06,.84,.06,2.8,0,5.6,0,8.4,0,.33,0,.65,.03,.87,.33,.38,.54,.08,1.24-.58,1.32-.05,0-.09,0-.14,0-2.99,0-5.97,.02-8.96-.01-2.24-.02-4.3-1.66-4.85-3.83-.12-.48-.19-.99-.19-1.49-.02-2.18,0-4.37,0-6.55Z"/>
      <path class="crm-cls-1" d="M163.35,527.49c0-.88,0-1.7,0-2.53,0-1.17,.48-2.1,1.48-2.7,1.18-.71,2.37-1.39,3.59-2.02,1.82-.95,4.17,.35,4.27,2.4,.09,1.81,.05,3.64,.05,5.45,0,.21-.04,.43-.1,.63-.33,1.21-1.11,1.99-2.34,2.24-1.22,.25-2.26-.14-3.01-1.13-.78-1.03-.86-2.17-.24-3.3,.61-1.1,1.6-1.61,2.85-1.55,.3,.01,.59,.13,.89,.21,.09,.02,.17,.06,.28,.09,0-.83,.05-1.65-.01-2.45-.08-.97-1.1-1.53-1.97-1.07-1.16,.62-2.3,1.29-3.43,1.95-.51,.3-.66,.8-.65,1.36,0,1.68,0,3.36,0,5.04,0,1.18-.48,2.09-1.5,2.72-1.07,.66-2.63,.52-3.55-.34-1.57-1.48-1.31-3.88,.57-4.94,.81-.46,1.68-.49,2.56-.15,.08,.03,.15,.06,.27,.1Zm6.36-.87c-.78,0-1.39,.59-1.39,1.36,0,.76,.61,1.38,1.38,1.39,.73,.01,1.37-.63,1.37-1.36,0-.78-.59-1.38-1.36-1.39Zm-7.75,4.95c.76,0,1.39-.62,1.39-1.38,0-.73-.64-1.37-1.38-1.37-.77,0-1.37,.62-1.37,1.39,0,.76,.6,1.36,1.36,1.36Z"/>
      <path class="crm-cls-1" d="M174.39,535.37c0-.77,0-1.5,0-2.24,0-.17,.01-.36,.07-.52,.13-.37,.52-.6,.88-.53,.42,.08,.71,.39,.71,.81,.01,.72,0,1.44,0,2.15,0,.1,0,.2,0,.33,.71,0,1.38,0,2.06,0,.16,0,.32,0,.47,.02,.5,.07,.79,.42,.76,.89-.03,.42-.39,.75-.86,.75-.74,0-1.47,0-2.21,0-.06,0-.13,0-.24,0,0,.11,0,.21,0,.31,0,.71,0,1.42,0,2.13,0,.43-.23,.73-.6,.84-.36,.1-.73-.02-.92-.35-.1-.18-.14-.4-.15-.61-.02-.75,0-1.51,0-2.31-.11,0-.21,0-.31,0-.71,0-1.42,0-2.13,0-.34,0-.61-.14-.77-.46-.15-.31-.11-.6,.08-.87,.19-.27,.48-.34,.79-.34,.76,0,1.53,0,2.34,0Z"/>
   </g>
   <g>
      <circle class="crm-cls-6" cx="167.5" cy="123.82" r="25.98" transform="translate(-9.6 14.17) rotate(-4.71)"/>
      <path class="crm-cls-4" d="M164.52,130.22l-9.67,6.3-.06-.04c.3-.47,.6-.94,.91-1.41,1.74-2.66,3.47-5.32,5.22-7.98,.15-.23,.14-.36-.06-.56-.84-.82-1.66-1.66-2.5-2.48-.38-.37-.57-.79-.41-1.3,.16-.52,.57-.73,1.09-.81,1.6-.24,3.2-.5,4.79-.76,.18-.03,.37-.13,.5-.25,1.13-1.11,2.24-2.22,3.35-3.35,.13-.14,.24-.34,.27-.53,.27-1.61,.52-3.22,.77-4.83,.08-.5,.3-.89,.81-1.05,.49-.15,.89,.03,1.24,.38,3,3,6,6,9,9,.35,.35,.52,.76,.38,1.24-.15,.5-.53,.74-1.04,.82-1.63,.24-3.25,.49-4.87,.76-.16,.03-.34,.12-.46,.24-1.13,1.12-2.26,2.24-3.38,3.38-.13,.13-.23,.32-.25,.5-.27,1.61-.52,3.22-.76,4.83-.08,.5-.28,.91-.79,1.06-.51,.16-.93,0-1.31-.38-.9-.93-1.82-1.83-2.76-2.76Zm5.31-17.96c-.02,.13-.05,.26-.07,.38-.25,1.65-.5,3.3-.77,4.95-.03,.18-.13,.37-.25,.5-1.29,1.3-2.58,2.59-3.89,3.87-.13,.12-.32,.22-.5,.25-1.11,.19-2.21,.36-3.32,.53-.67,.11-1.35,.21-1.94,.31l9.19,9.19c.25-1.61,.52-3.28,.77-4.95,.02-.11-.08-.27-.17-.36-.48-.5-.97-.98-1.46-1.47-.33-.33-.67-.65-.97-.94l.76-.8,2.44,2.45c.14-.13,.24-.23,.34-.33,1.09-1.09,2.17-2.18,3.27-3.26,.13-.13,.32-.22,.5-.25,1.65-.27,3.3-.52,4.95-.77,.13-.02,.26-.06,.35-.08l-9.22-9.22Zm-6.17,17.22l-1.83-1.8-3.28,5.03,.06,.05,5.04-3.29Z"/>
   </g>
   <g>
      <circle class="crm-cls-10" cx="167.5" cy="393.71" r="25.98" transform="translate(-37.77 18.31) rotate(-5.62)"/>
      <text class="crm-cls-25" transform="translate(145.14 396.63)">
         <tspan x="0" y="0">#Reelistaan</tspan>
      </text>
   </g>
</svg>
	  </div>
</section>
	  