<!--header-->
<!--/header-->
<main>
<!--Banner-->
<section class="mainSlider">
	<div class="bg-images">
		<img src="-/media/64D078B5A60E4CA9BDBC4618B38FF5CA.ashx">
	</div>
	<div class="container">
		<div class="owl-carousel homeslider-other">
		<div class="item">
			<picture>
				<source srcset="-/media/743B6445F1104151AD3B79326B832AC7.ashx" media="(min-width: 960px)">
				<source srcset="-/media/743B6445F1104151AD3B79326B832AC7.ashx" media="(min-width: 767px)">
				<source srcset="-/media/F83F21418D964E34BB13C95CB0B51CC5.ashx" media="(min-width: 0)">
				<img srcset="-/media/743B6445F1104151AD3B79326B832AC7.ashx" src="-/media/743B6445F1104151AD3B79326B832AC7.ashx">
			</picture>
			<div class="bannercontent">
			<div class="bannercontent_inner d-none">
			<h1>Gateway to Goodness</h1>
			</div>
			</div>
		</div>
		<div class="item">
			<picture>
				<source srcset="-/media/743B6445F1104151AD3B79326B832AC7.ashx" media="(min-width: 960px)">
				<source srcset="-/media/743B6445F1104151AD3B79326B832AC7.ashx" media="(min-width: 767px)">
				<source srcset="-/media/F83F21418D964E34BB13C95CB0B51CC5.ashx" media="(min-width: 0)">
				<img srcset="-/media/743B6445F1104151AD3B79326B832AC7.ashx" src="-/media/743B6445F1104151AD3B79326B832AC7.ashx">
			</picture>
			<div class="bannercontent">
			<div class="bannercontent_inner d-none">
			<h1>Gateway to Goodness</h1>
			</div>
			</div>
		</div>
		<div class="item">
			<picture>
				<source srcset="-/media/743B6445F1104151AD3B79326B832AC7.ashx" media="(min-width: 960px)">
				<source srcset="-/media/743B6445F1104151AD3B79326B832AC7.ashx" media="(min-width: 767px)">
				<source srcset="-/media/F83F21418D964E34BB13C95CB0B51CC5.ashx" media="(min-width: 0)">
				<img srcset="-/media/743B6445F1104151AD3B79326B832AC7.ashx" src="-/media/743B6445F1104151AD3B79326B832AC7.ashx">
			</picture>
			<div class="bannercontent">
			<div class="bannercontent_inner d-none">
			<h1>Gateway to Goodness</h1>
			</div>
			</div>
		</div>
	</div>
	<div class="scroll-down d-md-none d-block">
		<a href="#first-section"><span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span></a>
		</div>
	</div>
</section>
<section class="bg-white d-md-block d-none">
	<div class="container position-relative">
		<div class="scroll-down">
		<a href="#first-section"><span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span></a>
		</div>
	</div>

</section>
<!--/Banner-->
<section class="bg-white py-lg-5 pt-5 pb-4" id="first-section">
	<div class="container">
		<h2 class="heading-primary mb-3 d-none">Coming Soon</h2>
		<p>At Adani Airports, we believe in building 'Gateways to Goodness' and it is gratifying to bring to this experience to Trivandrum, the city which is home to Gandhian footprints, distinguished heritage, great economic ambitions and humble beginnings of the Adani Group. Over the past 30 years, the Group has catered to critical demand gaps in India and our presence in the airport sector will extend this legacy to an aspiring class of air travelers in New India.
</p>
	</div>
</section>
<section class="bg-white section-commingsoon">
	<div class="">
	<picture>
		<source srcset="-/media/183219E2A54741D2A4B58B865EE52B7B.ashx" media="(min-width: 960px)" class="w-100 h-100">
		<source srcset="-/media/183219E2A54741D2A4B58B865EE52B7B.ashx" media="(min-width: 540px)" class="w-100 h-100">
		<source srcset="-/media/83A45347F4424716830DBAEA2999A1CA.ashx" media="(min-width: 0)" class="w-100 h-100">
		<img srcset="-/media/183219E2A54741D2A4B58B865EE52B7B.ashx" src="-/media/183219E2A54741D2A4B58B865EE52B7B.ashx" class="w-100 h-100">
	</picture>
	</div>
	<div class="py-4"><h3>Stay tune to the website for more updates!</h3></div>
</section>
<section class="bg-white pb-lg-4 pt-lg-5 py-4">
	<div class="container">
	<h2 class="heading-primary mb-3">Commercials & Tenders</h2>
		<div class="row">
			<div class="col-lg-8 mb-4">
				<p class="mb-3 d-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
				<img src="-/media/C057F600080E436DA72D18D22F744CDB.ashx" class="img-fluid my-3">
				<i id="contact" class="d-block"></i>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="tenders-sidebar">
					<ul>
						<li><a href="/">E-Tendering</a></li>
						<li><a href="/Policies">Policies</a></li>
					</ul>
				</div>
				<p class="mt-4"><a href="#" class="btn btn-gradient">EXPLORE</a></p>
			</div>
		</div>
	</div>
</section>
<section class="bg-white py-lg-5 py-3"> 
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-6 py-5 px-5 bg-gray address-section">
				<h2 class="heading-primary mb-3">Contact Us</h2>
				<h5 class="mb-2 txt-violet">Adani Corporate House</h5>
                    <p class="mb-0">Shantigram, Nr Vaishnodevi Circle,<br> Trivandrum, 380058, <br> Gujarat</p>
				<p class="mb-0"><b>Tel</b> : 91-79-26565555</p>
				<p class="mb-0"><b>Mail</b> : info@adaniairport.com</p>
			</div>
			<div class="col-lg-6 py-5 px-5 bg-gray">
				<h2 class="section-subheading pl-4 mb-4">Write to us</h2>
				@Html.Sitecore().Placeholder("form")
				<!--<div class="pl-4 form-section">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name" id="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email" id="Email">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
							<select class="form-control" id="subject">
							  <option>Subject</option>
							</select>
						</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Contact Number" id="Contact-Number">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control" id="Message" placeholder="Message" rows="3"></textarea>
							  </div>
						</div>
						<div class="col-md-12">
							<p><a href="#" class="btn btn-gradient">Submit</a></p>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</section>
</main>
<!--footer-->
<footer class="pt-5 bg-grey position-relative d-block">
        
<div class="container">
    <div class="row footerPanel2">
                <div class="col-md-4 col-lg-3 ft-submenu">
                  <h5><a href="">Commercials & Tenders</a></h5>
				  <ul>
					<li><a href="/">E-Tendering</a></li>
					<li><a href="/">Form Download</a></li>
				  </ul>
                </div>
				<div class="col-md-4 col-lg-2">
					<div>
						<h5><a href="https://careers.adani.com/">Careers</a></h5>
					</div>
				</div>
		<div class="col-md-4 col-lg-2">
					<div>
						<h5><a href="https://stageTrivandrumphase1.adaniairports.com/#contact">Contact Us</a></h5>
					</div>
				</div>
		<div class="col-lg-5 ft-logo1">
			<p>Follow Us on</p>
                    <ul class="ft-social">
                           <li><a href="https://www.facebook.com/AdaniOnline" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><img src="/images/MangaloreAirport/icon_ftr_fb.png" class="img-fluid"></a></li>
                <li><a href="https://www.youtube.com/user/AdaniOnline" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><img src="/images/MangaloreAirport/icon_ftr_youtube.png" class="img-fluid"></a></li>
                <li><a href="https://twitter.com/adanionline" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><img src="/images/MangaloreAirport/icon_ftr_twitter.png" class="img-fluid"></a></li>
                               <li><a href="https://www.linkedin.com/company/adani-group/" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><img src="/images/MangaloreAirport/linkedin_icon.png" class="img-fluid"></a></li>

                    </ul>
					<img src="-/media/2C2C752467234765A84954DD9CBB2F61.ashx" class="img-fluid">
        </div>
    </div>
</div>
<div class="footerBtmPanel mt-3 py-2">
		<div class="container">
			<div class="row row-grid align-items-end ftrBtmInner">
			<div class="col-12 col-md-auto text-center text-md-left"><div class="">© 2020 Adani Group</div>
			</div>
			<div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
				<div class="footerMenu">
					<ul class="ft-policy-links">
							<li>
								<a href="https://stageTrivandrumphase1.adaniairports.com/">
								Privacy Policy
								</a>
							</li>
							<li>
								<a href="https://stageTrivandrumphase1.adaniairports.com/">
								 Legal Disclaimer
								</a>
							</li>
							<li>
								<a href="https://stageTrivandrumphase1.adaniairports.com/">
								Terms &amp; Conditions
								</a>
							</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
    </footer>
<!-- /Footer -->