@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/


}
<div class="sidebar_cta">
    <ul>
        <li>
			<div><img src="-/media/5898DE9667C541D0889A57A3FD1F62D5.ashx"></div>
            <span><a href="/lgbia-guwahati-airport/services/pranaam-service">Pranaam Meet And  <b class="d-md-inline-block d-block">Greet Service</b></a></span>
            
        </li>
        <li>
            <div><img src="-/media/5A3A347CB35244E1977830A60E60557A.ashx" ></div>
			<span><a href="/lgbia-guwahati-airport/contact-us?na=Feedback">Feedback <b class="d-md-inline-block d-block">Form</b></a></span>
        </li>
        <li>
            <div><img src="-/media/21836FD4235E4031A4A085975913D4E3.ashx"></div>
			<span><a href="/lgbia-guwahati-airport/services">Check-out <b class="d-md-inline-block d-block">services</b></a></span>
        </li>
        <li>
            <div><img src="-/media/0941E1DE111C4693B24329DBDA9CB9D6.ashx" ></div>
			<span><a href="/lgbia-guwahati-airport/contact-us?na=Suspicious">Report <b class="d-md-inline-block d-block">Suspicion</b></a></span>
        </li>
    </ul>
</div>

<div class="btm-floating">
	<div class="row no-gutters">
		<div class="col-6">
		<a href="/lgbia-guwahati-airport/services/pranaam-service">	<p><img src="-/media/5898DE9667C541D0889A57A3FD1F62D5.ashx"> <span>Pranaam Adani</span></p></a>
		</div>
		<div class="col-4">
			<a href="/lgbia-guwahati-airport/contact-us?na=Feedback"><p><img src="-/media/5A3A347CB35244E1977830A60E60557A.ashx"> <span>Feedback</span></p></a>
		</div>
		<div class="col-2">
			<button class="navbar-toggler d-block" id="nav-button-mobile" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			  </button>
		</div>
	</div>
</div>