@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);


   

 var description = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "description").FirstOrDefault().Value;
}

<section class="bg-white py-5 request_callback" id="callback">
    <div class="container-fluid">
        <p class="mb-3 txt-md">@description</p>
        <div class="position-relative">
            <div class="bg-images"><img src="-/media/C20FC60C8040462697AEBB2CEE1FFDE6.ashx"></div>
            <div class="request_callback-form">
                @Html.Sitecore().Placeholder("callbackform")
            </div>
        </div>
    </div>
</section>