@using Sitecore.Mvc
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    // var id = Sitecore.Context.Database.GetItem("about-us").Url();
    //  var id = "about-us";
    //  string RedirectUrl = Request.Url.Scheme + "://" + Request.Url.Host;
    //  var pagename = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
    var msgTpye = Sitecore.Context.Database.GetItem("{0EA1DD88-DBB0-45A3-A87D-5E1440DBE1EF}");




}




<form class="px-4 py-4" id="contact_form" name="contact_form">
    <input type="hidden" id="cFormType" value="Contact-Us">
    <input type="hidden" id="PageInfo" value="/contact-us">
    <input type="hidden" id="utm_source" value="">


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" id="cname">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" id="cmailid">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select class="form-control" id="cmessageType">
                    <option value="">Subject of Message</option>
                    @foreach (var itemMessage in msgTpye.Children.ToArray())
                    {
                    var getMessage = Html.Sitecore().Field("SubjectName", itemMessage);
                    <option value="@getMessage">@getMessage</option>

                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Contact Number" id="ccontactno">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" id="cmessage" placeholder="Message" rows="3"></textarea>
            </div>
        </div>
        <div class="col-md-4 mb-3">

            <div id="recaptcha1"></div>

        </div>
        <div class="col-md-12">
            <p><button type="submit" id="btnContactUsSubmit" class="btn btn-primary">Submit</button></p>
        </div>
    </div>
</form>