@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var Domestic = paramid["Domestic"] != null ? Sitecore.Context.Database.GetItem(paramid["Domestic"]) : null;
    var International = paramid["International"] != null ? Sitecore.Context.Database.GetItem(paramid["International"]) : null;




}

<section class="bg-cream f-search__content d-none">
    <div class="container-fluid">
        <div class="f-search__content-form">
            <div class="row">
                <div class="col-lg-9">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#arrival">Arrival</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#departure">Departure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#transit">Transit</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 text-right">
                    <div class="f-search__content-form__status">
                        <p>Last Updated</p>
                        <p>21.44 <span><a href="#">update</a></span></p>
                    </div>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content p-0">
                <div class="tab-pane p-0 active" id="arrival">
                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="input-group datepicker">
                                    <input id="dep_flight" class="form-control" placeholder="Wed 11 Mar" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="input-group search">
                                    <input id="dep_flight-search" class="form-control" placeholder="Flight, City, Airline…" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-lg-block d-none">
                            <div class="select_terminal">
                                <ul>
                                    <li><button type="button" class="active">All</button></li>
                                    <li><button type="button">T1</button></li>
                                    <li><button type="button">T2</button></li>
                                    <li><button type="button">T3</button></li>
                                    <li><button type="button">T4</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="f-search__results">
                        <img src="~/images/TrivandrumAirport/flight-search-datable.png" class="w-100 img-fluid">
                    </div>
                </div>
                <div class="tab-pane p-0 fade" id="departure">...</div>
                <div class="tab-pane p-0 fade" id="transit">...</div>
            </div>
        </div>
    </div>
</section>

<section class="bg-cream section-bottom content-header airline-partners">
    <div class="container-fluid">
        <h2 class="text-center">Our Airline Partners</h2>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#domestic">Domestic</a>
            </li>
			@if(International != null){  
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#international">International</a>
            </li>
			}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container-fluid active" id="domestic">
                <div class="owl-carousel partner-carousel mt-5">
                    @foreach (var element in Domestic.GetChildren().ToList())
                    {
                        <div class="item">
                            @Html.Sitecore().ImageField("Image", element)
                        </div>
                    }
                </div>
            </div>
@if(International != null){          
		  <div class="tab-pane container-fluid fade" id="international">
                <div class="owl-carousel partner-carousel mt-5">
				
				 
                    @foreach (var element in International.GetChildren().ToList())
                    {
                        <div class="item">
                            @Html.Sitecore().ImageField("Image", element)
                        </div>
                    }
					
                </div>
            </div>
			}
        </div>
    </div>
</section>
