<div class="Headerdiv">
    <header class="headerPort">
        <div class="container">
            <div class="header-row">
                <!-- <div class="col-md-3 col-sm-3 col-4"> -->
                <div class="header-logo">
                    <div class="logo">
                        <a href="/">
                            <img src="{{Header.HeaderData.Image}}" alt="{{Header.HeaderData.ImageAltText}}" />
                        </a>
                    </div>
                </div>
                <!-- </div> -->
                <!-- <div class="col-md-9 col-sm-9 col-8 text-end"> -->
                <div class="header-menu">
                    <div class="header-right">
                        <div class="menu_icon" [class.menu_icon_Close]="menu_icon_close" (click)="openMenu()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="menu" [class.menuClass]="menuVariable">

                            <div class='toggleNav'>
                                <a id='menu-toggle' class='' href='#'>
                                    <span class='lines'>
                                    </span>
                                </a>
                            </div>

                            <ul class="mainNav">
                                <li *ngFor="let header of Header.HeaderData.Navigation; let i = index"
                                    [ngClass]='{selecte: i != 1}'>
                                    <a href="{{header.CTALink}}">{{header.CTAText}}</a>
                                    <div *ngIf="header.SubNavigation==null" class='navBg'
                                        style='left: 540px;display: none;'>
                                        <div class='prodImg'>
                                            <img src='{{header.Image}}' alt="{{header.ImageAltText}}">
                                        </div>
                                        <div class='navText' style='display: none;margin: 0 165px 0 0;'>
                                            {{header.Description}}</div>
                                        <div class='clear'>
                                        </div>
                                    </div>
                                    <div *ngIf="header.SubNavigation!=null" class='navBg'
                                        style='left: 540px;display: none;'>
                                        <ul class='subNav'>
                                            <li *ngFor="let submenu of header.SubNavigation" class=''>
                                                <a href='{{submenu.CTALink}}' class='wpthemeLef wpthemeFirst'>
                                                    <span>{{submenu.CTAText}}</span></a>
                                                <div class='subNav_thirdBg' style='display: none;'>
                                                    <p>{{submenu.Description}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class='prodImg'> <img src="{{header.Image}}" alt="{{header.ImageAltText}}">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>