@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <div class="container">
        <section class="banner-section bannerBox">
            <h2 class="page-title">
                @Html.Sitecore().Field("Title", currentItem)
            </h2>
            <div class="about-banner">
                @Html.Sitecore().Field("Image", currentItem, new { @class = "img-fluid rounded" })
            </div>
        </section>
        <div class="dis-content">
            @Html.Sitecore().Field("Description", currentItem)
        </div>
    </div>
}


