
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Item;
    if (datasource != null)
    {
        element = Sitecore.Context.Database.GetItem(datasource);
    }
    Sitecore.Data.Fields.MultilistField multiselectField = element.Fields["TenderCard"];
    Sitecore.Data.Items.Item[] items = multiselectField.GetItems();

}
<div class="section-container carousel_wrapper carousel-0">
    <header class="section-header-main justify-item">
        <h2>
            @element.Fields["Heading"]
            <span class="subcopy">@element.Fields["Description"]</span>
        </h2>
        <aside>
            <a href="#" class="waves-effect waves-light btn see-all">See All</a>
            <!-- <div class="carousel-nav hide-on-small-only"></div> -->
        </aside>
    </header>

    <div class="chips-wrapper section-container">
        <ul>
            @if (items != null && items.Length > 0)
            {
                for (int i = 0; i < items.Length; i++)
                {
                    Sitecore.Data.Items.Item benefitItem = items[i];
                    <li><a href="@benefitItem.Fields["CTALink"]">@benefitItem.Fields["Title"]</a></li>

                }
            }

            <!--<li><a href="">Innovation</a></li>
    <li><a href="">Sustainability</a></li>
    <li><a href="">Career</a></li>
    <li><a href="">People</a></li>
    <li><a href="">Innovation</a></li>
    <li><a href="">Electric Mobility</a></li>
    <li><a href="">Smart City</a></li>
    <li><a href="">Ultrabroadband Connectivity</a></li>
    <li><a href="">Business Solutions</a></li>
    <li><a href="">Circular Economy Mobility</a></li>
    <li><a href="">eMotorsport</a></li>-->
            <!-- <li class="tag-separator" style="display: none;"></li> -->
            <!--<li><a href="">People</a></li>
    <li><a href="">Innovation</a></li>
    <li><a href="">Sustainability</a></li>
    <li><a href="">Career</a></li>
    <li><a href="">People</a></li>
    <li><a href="">Innovation</a></li>
    <li><a href="">Electric Mobility</a></li>
    <li><a href="">Smart City</a></li>
    <li><a href="">Ultrabroadband Connectivity</a></li>
    <li><a href="">Business Solutions</a></li>
    <li><a href="">Circular Economy Mobility</a></li>
    <li><a href="">eMotorsport</a></li>-->
            <li><a class="chip-loadmore">More</a></li>
        </ul>
    </div>

   
</div>