@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
	var element = Sitecore.Context.Database.GetItem(datasource);
	var i=1;
}
<section class="py-5 bg-white">
        <div class="container">
            <!-- Tenders -->
			<h1>LATEST CIRCULARS</h1>
            <div class="my-lg-3 py-lg-3">
                        <div class="table-responsive ">
                            <table class="table mb-0 bg-white txt-xs">
                                <thead >
                                    <tr>
                                        <th width="10%" scope="col">S. No.</th>
                                        <th width="60%" scope="col">Circulars </th>
                                    </tr>
                                </thead>
                                <tbody>
								@foreach (Item item in element.GetChildren())
								{
								Sitecore.Data.Fields.LinkField itemslinkvalues = item.Fields["Link"];
								var itemslinks = itemslinkvalues.GetFriendlyUrl();
								<tr>
                                    <td>@i</td>
                                    <td><a href="@itemslinks" target="_blank" >@Html.Sitecore().Field("Title", item)</a></td>
                                </tr>	   
								i++;
								}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Tenders -->
        </div>
</section>


				
				