@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

}

<div class="row content">
                    <div class="col-lg-6">
                        <h2>@Html.Sitecore().Field("Title", element)</h2>

                    </div>

                    <!-- ======= Services Section ======= -->
                    <section id="services" class="services">
                        <div class="container">
                            <div class="row">
							@foreach (var item in element.GetChildren().ToList())
                                {
                                <div class="col-md-6 mb-4">
                                    <div class="icon-box h-100">
                                        <i class="bi bi-briefcase"></i>
                                            <h4><strong>@Html.Sitecore().Field("Title", item)</strong></h4>

                                            @Html.Sitecore().Field("Body", item)
                                        

                                    </div>
                                </div>
								}
								</div>
								</div>
								</section>
								</div>