@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

}
<div class="row content">
          <div class="col-lg-6">
            <h2>@Html.Sitecore().Field("Title", element)</h2>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            
              <ul>
			  @foreach (var item in element.GetChildren().ToList())
                                {
								Sitecore.Data.Fields.LinkField linkfield = item.Fields["LinkUrl"];
								 var itemlink = linkfield.GetFriendlyUrl();
								 if (itemlink != null)
									{
									<li><i class="ri-check-double-line"></i><a href="@itemlink">@Html.Sitecore().Field("Title", item)</a></li>
									}
								}
					
				</ul>  
            </p>
            
          </div>
        </div>