@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@{

    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/AdaniNaviMumbai/", "");
    var path = ContentPath.Replace("/AdaniNaviMumbai/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
    var i = 0;
}
<!-- ======= Breadcrumbs ======= -->

<div class="d-flex justify-content-between align-items-center">
            <h2>@pathArr[pathArr.Count() - 1].Replace("-", " ")</h2>
            <ol>
			@for (i = 0; i < pathArr.Count() - 1; i++)
                {
                    navPath = navPath + pathArr[i];
					
					<li><a href="@navPath">@pathArr[i]</a></li>
                        navPath = navPath + "/";
					
				}	
				<li>@pathArr[pathArr.Count() - 1].Replace("-", " ")</li>
            </ol>
        </div>
<!-- End Breadcrumbs -->