@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

@if (element != null)
{
<div id="heroCarousel" data-bs-interval="5000" class="carousel slide" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
		@foreach (var child in element.GetChildren().ToList())
        {
			Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)child.Fields["ImageSource"]);
			string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
			<!-- <div class="carousel-item" style="background-image: url(@imgurl)"></div> -->
			<img src="@imgurl" alt="NMIA Home Banner" class="carousel-item img-fluid">
		}
        <!-- Slide 1 -->
        

        <!-- Slide 2 -->
        <!--div class="carousel-item" style="background-image: url(assets/NMIA/img/slide/slide-2.jpg)"
		
		</div>--> 

        <!-- Slide 3 -->
        <!--div class="carousel-item" style="background-image: url(assets/NMIA/img/slide/slide-3.jpg)"
          
        </div>-->
		
		<!-- Slide 4 -->
        <!--div class="carousel-item" style="background-image: url(assets/NMIA/img/slide/slide-4.jpg)"
          
        </div>-->
		
		<!-- Slide 5 -->
        <!--div class="carousel-item" style="background-image: url(assets/NMIA/img/slide/slide-5.jpg)"
          
        </div>-->

	

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
}