@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

}
<div class="container">
	<div class="row content">
		<div class="col-lg-6">
			<h2>@Html.Sitecore().Field("Title", element)</h2>

		</div>
		<div class="col-lg-6 pt-4 pt-lg-0">
			@Html.Sitecore().Field("body", element)
			

		</div>
	</div>

</div>