<section class="section">
    <div class="container">
        <div class="row">
		 <div class="col-md-4 p-4 w-100 h-200 bg-white padd-box">
            @Html.Sitecore().Placeholder("newspapers-advertisements")
			</div>
            @Html.Sitecore().Placeholder("scheme-of-arrangement")
            @Html.Sitecore().Placeholder("other-downloads")
        </div>
    </div>
</section>