 <section class="bg-gray py-4"> 
    <div class="container"> 
         <div class="row"> 
           <div class="col-lg-4 my-3"> 
                @Html.Sitecore().Placeholder("AdaniGasMedia-Release") 
           </div> 
           <div class="col-lg-4 my-3">
                @Html.Sitecore().Placeholder("AdaniGas-News") 
           </div> 
           <div class="col-lg-4 my-3"> 
                <div class="box-block p-4 w-100 h-100"> 
                    <h3 class="section-heading">Media Contacts</h3> 
                   <ul class="ul-media-contacts mb-5"> 
                       <li><i class="far fa-envelope-open"></i><a href="mailto:media@adani.com">media@adani.com</a></li> 
                        <li><i class="fa fa-phone fa-rotate-90"></i><a href="tel:917925556628">+91-79-2555 6628</a></li> 
                    </ul> 
                    <p class=""> 
                         <a href="#AdaniGasSubscribeUsModal" data-toggle="modal" data-target="#AdaniGasSubscribeUsModal" class="btn btn-border mb-2">Subscribe Us</a>
                      <a href="" class="btn btn-gradient mb-2"  data-toggle="modal" data-target="#callback">Media Enquiry</a> 
                     </p> 
               </div> 
           </div> 
       </div> 
     </div> 
 </section>
 <!-- The Modal --> 
