@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@*<div class="footerPanel2">
    <div class="container">
        @Html.Sitecore().Placeholder("footer-body")
    </div>
</div>
<div class="footerBtmPanel py-3 mobile-none">
    <div class="container">
        @Html.Sitecore().Placeholder("footer-bottom")
    </div>
</div>*@

<div class="container">
    @Html.Sitecore().Placeholder("footer-body")
</div>
    <div class="footerBtmPanel mt-3 py-2">
        <div class="container">
          
            @Html.Sitecore().Placeholder("footer-bottom")
        </div>
    </div>

