@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
@*<div class="header-top">
	  <div class="container">
		<div class="row">
		  <div class="col-md-6 hidden-xs">
			@Html.Sitecore().Placeholder("left-header-top")
		  </div>
		  <div class="col-md-6 hidden-xs">
			<div class="pull-right">@Html.Sitecore().Placeholder("right-header-top")</div>
		  </div>
		</div>
	  </div>
	</div>*@

<div class="container">
	<div class="d-block d-lg-none topNavBtn">
		<button type="button" id="topNavCollapse" class="btn btn-menu">
			<i class="fas fa-bars"></i>
		</button>
	</div>
	<!-- /Toggle button to show/hide top menu -->

	<div class="row justify-content-center">

		@Html.Sitecore().Placeholder("left-header-top")

		<div class="col-auto ml-auto col-lg-5 topRight">
			@Html.Sitecore().Placeholder("right-header-top")
		</div>
		<div class="clearfix"></div>
	</div>
</div>
