<section class="bg-gray pb-3 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="p-4 bg-white border h-45 mb-4">
                    @Html.Sitecore().Placeholder("credit-rating")
                </div>
                 <div class="p-4 bg-white border h-50">
                     @Html.Sitecore().Placeholder("credit-information") 
                 </div>
            </div>
            <div class="col-lg-8">
                @Html.Sitecore().Placeholder("news-tab-container")
            </div>
        </div>
    </div>
</section>
