@using Sitecore.Foundation.Dictionary.Extensions
<div class="section bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h2 class="txt-violet">@Html.Sitecore().Dictionary("/About/OneVisionTitle", "One Vision One Brand")</h2>
                <br>
                <p>@Html.Sitecore().Dictionary("/About/OneVisionDescription", "To be a world class leader in businesses that enrich lives and contribute to nations in building infrastructure through sustainable value creation.")</p>
                <br>
                <a href="/about/one-vision-one-brand" class="btn btn-violet">@Html.Sitecore().Dictionary("/About/ReadMoreBtnText", "Read more >")</a>
            </div>
            <div class="col-md-4 ml-auto text-center">
                <div class="my-3"><img src="-/media/96B4F5AF7DD9440DBCC2907E72AA1E96.ashx" class="img-fluid" alt="Adani"></div>
            </div>
        </div>
    </div>
</div>