<div class="pt-3 bg-gray">
    <div class="container">
        <div class="float-right txt-sm">
            <span class="txt-blue">Adani Gas Share Price</span>
            <span class="bg-blue priceBox">
                <a href="#"><em class="fa fa-caret-down"></em>&nbsp;NSE 1310.65 (1.96%)</a>
                <a href="#"><em class="fa fa-caret-up"></em>&nbsp;BSE 1310.65 (1.96%)</a>
            </span>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
</div>