<!-- Page Content -->
<div class="pageContent">
    <div class="container">
        <!-- Section -->
        <div class="row">
            <div class="col-md-12 col-lg-12" id="mainContent">
                <!-- Main Content Panel -->
                @Html.Sitecore().Placeholder("page-maincontent")
                <!-- /Main Content Panel -->
            </div>
        </div>
        <!-- /Section -->
    </div>
</div>
<!-- /Page Content -->
