@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;

}
<section class="noticeBar">
    <div class="">
        <marquee class="mt-2" onmouseover="stop()" onmouseout="start()">
            <p>
                @foreach (var item in parent.GetChildren().ToList())
                {
                    Sitecore.Data.Fields.LinkField linkvalue = item.Fields["Link"];
                    var linkUrl = linkvalue.GetFriendlyUrl();
                    if (i == 1)
                    {
                        <a class="txt-white" href="@linkUrl" target="_blank">
                            @Html.Sitecore().Field("NavigationTitle", item)
                        </a>
                    }
                    else
                    {
                        <a class="txt-white" href="@linkUrl" target="_blank">
                            | @Html.Sitecore().Field("NavigationTitle", item)
                        </a>
                    }
                    i++;
                }
            </p>
        </marquee>
    </div>
</section>

