@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="scrollableOffset" id="@currentItem.DisplayName">
        <h2>@Html.Sitecore().Field("Title", currentItem)</h2>
        @Html.Sitecore().Field("TableContent", currentItem)
        <div class="table-content">
            @Html.Sitecore().Field("Description", currentItem)
        </div>
    </div>
}

