@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel

<div class="places-to-travel-section">
    @Html.Sitecore().DynamicPlaceholder("placestotravel-container")
</div>



