@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel

<div class="travel-guide">
    <div class="places-to-travel-section">
        @Html.Sitecore().DynamicPlaceholder("placestotravel-aboutcontainer")
    </div>
</div>



