@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    int cnt = 1;
    string actClass = string.Empty;
}

@if (currentItem != null)
{
    <nav id="navbar-tabs" class="container horizontal-tab horizontal-tab_custom nav-tabs nav nav-pills travel-nav-slider">
      
        @foreach (Sitecore.Data.Items.Item tabItem in currentItem.Children)
        {
            if (cnt == 1) { actClass = "active"; } else { actClass = string.Empty; }
            <div class="nav-item">
                <a class="nav-link_custom tab-nav @actClass" href="#@tabItem.DisplayName.Replace(" ","")">
                    <i class="@tabItem["cssClass"]"></i>
                    <span> @tabItem["Title"]</span>
                </a>
            </div>  
            cnt++;
        }
    </nav>
}


