@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string queryString = !string.IsNullOrEmpty(Sitecore.Context.Request.QueryString["isapp"]) ? Sitecore.Context.Request.QueryString["isapp"].ToLower() : "";
}

@if (queryString != "true")
{
    <div class="booking-widget desktop">
        <div class="full" id="domFlightDesk"></div>
    </div>
}
else
{
    <div class="booking-widget mobile">
        <div class="full" id="domFlightAndFids"></div>
    </div>
}
