@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="travel-guide-section">
        <div class="container trv-wrap">
            @Html.Sitecore().DynamicPlaceholder("travel-guide-section")
        </div>
    </div>
}
