@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
<div class="heading-content scrollableOffset" id="About">
    @Html.Sitecore().DynamicPlaceholder("travelabout-heading")    
    <div class="history-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 left-area">
                    @Html.Sitecore().DynamicPlaceholder("travelabout-left-column")
                </div>
                <div class="col-md-6 right-area">
                    @Html.Sitecore().Placeholder("travelabout-right-column")
                </div>
            </div>           
        </div>
    </div>
</div>
}


            