@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string queryString = !string.IsNullOrEmpty(Sitecore.Context.Request.QueryString["isapp"]) ? Sitecore.Context.Request.QueryString["isapp"].ToLower() : "";
}

@if (queryString != "true")
{
    <div class="widget-form desktop">
        <div id="flight-be" class="container"></div>
    </div>
}
else
{
    <div class="widget-form mobile">
        <div class="full" id="searchFlightCityToCity"></div>
    </div>    
}
