<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
      <!--<sc.variable name="sourceFolder" value="C:\VSTSAdaniSitecore\Code\Adani\src"/>-->
      <sites role:require="Standalone">
            <site name="AdaniRoad">
                <patch:attribute name="AdaniRoad">web</patch:attribute>
            </site>
        </sites>
    </sitecore>
</configuration>