@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();
}

@if (currentItem != null)
{
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Image"]);
    string imageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(currentItem, "Image") : "";

    <div class="section-wrap scrollableOffset" id="tariff">
        <div class="full_tiles">
            <div class="left-img">
                <img src="@imageUrl" loading="lazy">
            </div>
            <div class="right-content">
                <h3>@Html.Sitecore().Field("Title", currentItem)</h3>
                <p>@Html.Sitecore().Field("Description", currentItem)</p>
                <ul class="d-flex">
                    <li><a href="#" class="black_link">@Html.Sitecore().Field("Button Text", currentItem)</a>
                </ul>
            </div>
        </div>
    </div>

}
