@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;

}

@if (currentItem != null)
{
    <div class="section-wrap scrollableOffset" id="tariff">
        <h3 class="sr-heading">@Html.Sitecore().Field("Title", currentItem)</h3>
        <p>@Html.Sitecore().Field("Description", currentItem)</p>
        <h4 class="sm-heading mt-4">@Html.Sitecore().Field("SubTitle", currentItem)</h4>
        <a href="#" class="black_link mt-3 d-block">@Html.Sitecore().Field("Button Text", currentItem)</a>
    </div>

}
