@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel

<div class="sectionWrapper">
    <div class="container">
        @Html.Sitecore().DynamicPlaceholder("section-wrapper")
    </div>
</div>

