@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);





}

<div class="fade-overlay"></div>
<div class="navPanel">
    <div class="container navtopbar">
        <nav class="navbar navbar-expand-lg">
            <!-- logo Garvhai -->
            <a class="navbar-brand" href="index.html"><img src="-/media/DD07128803B745208BD87FEFC82AED49.ashx" alt="Adani Total"></a>
            <!-- /logo Garvhai -->
            <div class="menu-overlay d-none"></div>
            <div class="collapse navbar-collapse" id="mainMenu">
                <div class="collapse_toggle">
                    <span></span>
                    <span></span>
                </div>
                <ul class="navbar-nav ml-auto primaryMenu">
                    @foreach (Item item in model.GetChildren())
                    {
                        Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                        var link = linkFields.GetFriendlyUrl();
                        <li class="nav-item">
                            <a class="nav-link" href="@link">@Html.Sitecore().Field("NavigationTitle", item)</a>
                        </li>
                    }

                </ul>
            </div>
            <button class="navbar-toggler" id="nav-button" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
        </nav>
    </div>
</div>
