@using Sitecore.Feature.Identity
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}
<div class="col-lg-3 txt-center">
    <div class="row border-right-1">
        <div class="col-lg-12 col-md-8 order-lst">
            <h6 class="my-5">@Html.Sitecore().Field(Templates.Identity.Fields.Copyright, model)</h6>
        </div>
        <div class="col-lg-12 col-md-4 txt-center mb-3">
            @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo, model, 0, 0, "img-fluid")
        </div>
    </div>
</div>