@using Sitecore.Feature.Identity
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}
<div class="row footerpanel-1 mb-3" style="display:none;transition: ease all 0.5s;">
    <div class="col-lg-2 border-right-1 col-md-4 txt-left p-0">
        @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo, model, 0, 0, "img-fluid")
    </div>
    <div class="col-lg-10 col-md-8">
        <h6 class="my-2 txt-left">@Html.Sitecore().Field(Templates.Identity.Fields.Copyright, model)</h6>
    </div>
</div>