@using Sitecore.Feature.Identity
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}



<div class="col-md-3 txt-center">
    <h6 class="mb-2">@Html.Sitecore().Field(Templates.Identity.Fields.Copyright, model)</h6>
    @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo, model, 0, 0, "img-fluid")
</div>
