@using Sitecore.Feature.Identity
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}

<div class="footerLeftCol">
    <p class="lead aboutTxt">@Html.Sitecore().Field(Templates.Identity.Fields.Copyright, model)</p>
    <a href="https://www.adani.com/" class="adani-footer-logo d-block" target="_blank">@Html.Sitecore().ImageField(Templates.Identity.Fields.Logo, model)</a>
</div>
