@using Sitecore.Feature.Identity
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col-12 col-md-auto text-center text-md-left">
    <span>
        @{
            Sitecore.Data.Fields.LinkField linkField = @models.Fields["FooterLogo"];
        }
        <img src="@linkField.GetFriendlyUrl();" />

    </span>
</div>
<div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
    <p>@Html.Sitecore().Field(Templates.Identity.Fields.Copyright, models)</p>
</div>
