<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Adani.BAU.Adv.Project.pipelines.RegisterAdvAPICustomRoutes, Adani.BAU.Adv.Project"
						   patch:before="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']" />
			</initialize>
		</pipelines>
	</sitecore>
</configuration>
