<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	
	<sites>
      <site name="AdvPortal" patch:after="site[@name='modules_website']"
            targetHostName="stage.adaniventures.com"
            hostName = "stage.adaniventures.com|uat.adaniventures.com"
            database="web"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/ADVPortal"
            startItem="/Home"
            dictionaryPath="/sitecore/content/AGELPortal/global/dictionary"
            dictionaryAutoCreate="false"
            placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/AGELPortal"
            domain="ADVPortal"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB"
            formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}"
            loginPage="/login"
            enableItemLanguageFallback="true" />
    </sites>
 
    
  </sitecore>
</configuration>