@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions


@if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
{
    <div class="alert alert-info">@ViewBag.AlertMessage <a href="/myaccount/billing-and-payment/pay-online">Pay Now</a></div>
}