@{
    ViewBag.Title = "ConnectionComepleted";
    Layout = "~/Views/Shared/ConnTypeMaster.cshtml";
}

<div class="container">

    <div class="container">
        <ul class="progressbar">
            <li class="active">Inquiry Details</li>
            <li class="active">Document Upload</li>
            <li class="active">Payment</li>
            <li class="active">Document Verification</li>
            <li class="active">Installation In Progress</li>
            <li >Connection Complete</li>
            <li>Feedback</li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <section class="document-b">
        <div class="sectitle">
        </div>
        <div class="clearfix"></div>
        <div class="document-table">
            <div class="tablecentertitle text-center" style="color:white">
                Wait for Connection Completion
            </div>
        </div>
    </section>
</div>
