@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.ContactUsOffice


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="bg-pattern-light p-4 border-left">
                    <form>
                       
                        <div class="form-group">
                            <label class="form-label mb-1">Select Your City</label>
                            @Html.DropDownListFor(x => Model.selectedCity, new SelectList(Model.CityList, "Value", "Text"), "Select City", htmlAttributes: new { @class = "form-control", id = "contactusCity" })
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8" id="divcomapnydetails">
                @foreach (var item in Model.companylist)
                {
                    <div class="main-add companyinfo-data" data-city="@item.city" style="display:none;">
                        <div id="mainAddress" class="Hazira d-block">
                            <h4>@item.Name</h4>
                            <p class="mb-2">@item.Address</p">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
