@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/ConnTypeMaster.cshtml";
}

<div class="container">
    <div class="container">
        <ul class="progressbar">
            <li class="active">Inquiry Details</li>
            <li class="active">Document Upload</li>
            <li class="active">Payment</li>
            <li class="active">Document Verification</li>
            <li class="active">Installation In Progress</li>
            <li class="active">Connection Complete</li>
            <li>Feedback</li>
        </ul>
    </div>
</div>


<div class="allDetails" style="margin-top: -10px;">
    <div class="clearfix"></div>
    <div class="docinfo">
        <div class="row allDetailstop">
            <div class="col-md-4 ">
                <p>Equopment Details</p>
            </div>
            <div class="col-md-8 text-right"><i class="fa fa-pencil-square" aria-hidden="true"></i></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<!--end allDetails-->
<div class="customer-feedback">
    <div class=" boxbgcolor">
        <div class="col-md-8 col-sm-6">
            EOI No: <b>AHD/IND/10-19/021</b>
        </div>
        <div class="col-md-4 text-right col-sm-6">
            <b>10/05/2019</b>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="feedbackcustomer">
        <div class="col-md-6 col-sm-6">
            <div class="customername">
                <span>Customer</span>
                <h3>KRUTI GARMENT PVT.LTD</h3>
                <p>Survey No: 222-223-224,</p>
                <p>opp, A-1 Acid,Manubhai No Kuvo,</p>
                <p>Ranipura Patiya, Ahmedabad-382405</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="customername text-left">
                <span>Respondent</span>
                <h3>Vishal Thakkar</h3>
                <h6>Admin Manager</h6>
                <div class="clearfix"></div>
                <span>Respondent</span>
                <h3>NO-MGO-4 MMBtu</h3>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--end feedbackcustomer-->
    <div class="attributesbox">
        <p>From sales Pitch to Commissioning</p>
        <p>
            Please rate the following attributes on the Scale of 1 to 5 
(1 Means strongly disagree & 5 means strongly agree)
        </p>
        <div class="clearfix"></div>
        <div class="attributeinner">

            <table class="table table-hover">
                <thead>
                    <tr style="color: #165db7;">
                        <th>No</th>
                        <th>Attributes</th>
                        <th class="text-center">1</th>
                        <th class="text-center">2</th>
                        <th class="text-center">3</th>
                        <th class="text-center">4</th>
                        <th class="text-center">5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bgtable">
                        <td class="text-left">1.</td>
                        <td style="text-align: left;">Approach/Sales Pitch by Sales Person was very good</td>
                        <td class="text-center">
                            <input type="checkbox"><span class="checkmark"></span></td>
                        <td class="text-center">
                            <input type="checkbox"><span class="checkmark"></span></td>
                        <td class="text-center">
                            <input type="checkbox"><span class="checkmark"></span></td>
                        <td class="text-center">
                            <input type="checkbox"><span class="checkmark"></span></td>
                        <td class="text-center">
                            <input type="checkbox"><span class="checkmark"></span></td>
                    </tr>
                    <tr>
                        <td class="text-left">2.</td>
                        <td style="text-align: left;">Lorem Ipsum is simply dummy text of the<br>
                            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="1"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="2"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="3"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="4"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="5"></td>
                    </tr>
                    <tr class="bgtable">
                        <td class="text-left">3.</td>
                        <td style="text-align: left;">Lorem Ipsum is simply dummy text of the<br>
                            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="1"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="2"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="3"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="4"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="5"></td>
                    </tr>
                    <tr>
                        <td class="text-left">4.</td>
                        <td style="text-align: left;">Lorem Ipsum is simply dummy text of the<br>
                            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="1"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="2"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="3"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="4"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="5"></td>
                    </tr>
                    <tr class="bgtable">
                        <td class="text-left">5.</td>
                        <td style="text-align: left;">Lorem Ipsum is simply dummy text of the<br>
                            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="1"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="2"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="3"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="4"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="5"></td>
                    </tr>
                    <tr class="bgtable">
                        <td class="text-left">6.</td>
                        <td style="text-align: left;">Approach/Sales Pitch by Sales Person was very good</td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="1"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="2"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="3"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="4"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="5"></td>
                    </tr>
                    <tr>
                        <td class="text-left">7.</td>
                        <td style="text-align: left;">Lorem Ipsum is simply dummy text of the<br>
                            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="1"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="2"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="3"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="4"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="5"></td>
                    </tr>
                    <tr class="bgtable">
                        <td class="text-left">8.</td>
                        <td style="text-align: left;">Lorem Ipsum is simply dummy text of the<br>
                            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="1"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="2"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="3"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="4"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="5"></td>
                    </tr>
                    <tr>
                        <td class="text-left">9.</td>
                        <td style="text-align: left;">Lorem Ipsum is simply dummy text of the<br>
                            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="1"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="2"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="3"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="4"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="5"></td>
                    </tr>
                    <tr class="bgtable">
                        <td class="text-left">10.</td>
                        <td style="text-align: left;">Lorem Ipsum is simply dummy text of the<br>
                            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="1"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="2"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="3"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="4"></td>
                        <td class="text-center">
                            <input type="checkbox" name="" value="5"></td>
                    </tr>


                </tbody>
            </table>

        </div>
        <!--end attributeinner-->
        <div class="clearfix"></div>
    </div>
    <!--end attributesbox-->
    <div class="clearfix"></div>
    <div class="feedback-yellowbox text-center">
        <div class="col-md-8 col-md-offset-2">
            <h3>Please rate your overall experiecnce with Adani Gas on the below mentioned scale</h3>
            <ul class="rating-bar pagination">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6">
                <p>Highly Dissatisfied</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p>Highly Dissatisfied</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--end yellowbox-->
    <button class="subsend">Send Feedback</button>
    <div class="clearfix"></div>
</div>
<!--end customer-feedback-->
</div><!--end container-->
<div class="clearfix"></div>
