@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Services
@using Sitecore

<ul class="quick-links float-right">
    <li class="callnow d-none d-sm-inline-block">
        <span class="phoneIconSquare"><i class="fas fa-phone-square fa-rotate-90"></i></span>
        <a href="tel:180023355555"><span>1800 2335 5555</span></a>/<a href="tel:07927623264 "><span>079 27623264 </span></a>
    </li>
	
    @if (WebAPIAdaniGas.IsUserLoggedIn())
    {
        <li><a href="@Html.Sitecore().Dictionary("/Accounts/Redirect URL/Logged-In","/myaccount/png-dashboard")"><span class="userIcon"><i class="fas fa-user"></i></span></a></li>
    }
    else
    {
        <li><a href="@Html.Sitecore().Dictionary("/Accounts/Redirect URL/Login","/myaccount")"><span class="userIcon"><i class="fas fa-user"></i></span>&nbsp;&nbsp;Sign In</a></li>
    }
	@if (WebAPIAdaniGas.IsUserLoggedIn())
    {
        <li>
            @using (Html.BeginForm("LogoutAdaniGas", "AdaniGas", FormMethod.Post, new{@class = "form-signin"}))
            {
                    <button type="submit" class="logoutBtn">@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Button Logout", "Logout")</button>
            }
            @*<a href="@Html.Sitecore().Dictionary("/Accounts/Redirect URL/Logged-In","/myaccount/png-dashboard")"><span class="userIcon"><i class="fas fa-user"></i></span></a>*@
        </li>
    }
</ul>

