@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    // var id = Sitecore.Context.Database.GetItem("about-us").Url();
    string RedirectUrl = Request.Url.Scheme + "://" + Request.Url.Host;
    var pagename = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
    
}
<script src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async defer></script>

<div class="modal video" id="callback" style="padding-right: 17px;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- Modal body -->
            <div class="modal-body">
                <h4 class="heading pl-4 ml-4 mt-4">Write to us</h4>

                <div class="contact-form">
                    <form class="px-4 py-4" id="contact_form" name="contact_form">
                        <input type="hidden" id="cFormType" value="Media-Inquiry">
                        <input type="hidden" id="PageInfo" value="/media-updates">
                        <input type="hidden" id="utm_source" value="">
                        <input type="hidden" id="emailMessage" value="{805B182D-1CF9-4E2E-BBE0-7A8922449D3B}">

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cname" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="cmailid" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" id="cmessage" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="ccontactno" placeholder="Contact Number">
                                </div>
                                <div id="recaptcha2" />
                            </div>
</div>
                            <div class="col-md-12 mb-3 text-right">
                                <p><button type="submit" id="btnContactUsSubmitmedia" class="btn btn-primary">Submit</button></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>