<section>
    <div class="container">
        <form>
            <div class="admin_submit_request mt-4">
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="breadcrumb"><b>Admin Dashboard</b></div>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                            <li class="nav-item" role="presentation">
                                <a class="nav-link active color" id="All-Request-tab" data-toggle="tab" href="#All-Request" role="tab" aria-controls="All-Request" aria-selected="true">
                                    <div class="col-10">
                                        <span>All Request</span>
                                    </div>
                                    <div class="col-2">
                                        <span class="tab-number">28</span>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link color-1" id="Pending-tab" data-toggle="tab" href="#Pending" role="tab" aria-controls="Pending" aria-selected="false">
                                    <div class="col-10">
                                        <span>Pending</span>
                                    </div>
                                    <div class="col-2">
                                        <span class="tab-number">07</span>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link color-2" id="In-Progress-tab" data-toggle="tab" href="#In-Progress" role="tab" aria-controls="In-Progress" aria-selected="false">
                                    <div class="col-10">
                                        <span>In-Progress</span>
                                    </div>
                                    <div class="col-2">
                                        <span class="tab-number">03</span>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link color-3" id="Sent-Back-tab" data-toggle="tab" href="#Sent-Back" role="tab" aria-controls="Sent-Back" aria-selected="false">
                                    <div class="col-10">
                                        <span>Sent Back</span>
                                    </div>
                                    <div class="col-2">
                                        <span class="tab-number">03</span>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link color-4" id="Rejected-tab" data-toggle="tab" href="#Rejected" role="tab" aria-controls="Rejected" aria-selected="false">
                                    <div class="col-10">
                                        <span>Rejected</span>
                                    </div>
                                    <div class="col-2">
                                        <span class="tab-number">03</span>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link color-5" id="Processed-tab" data-toggle="tab" href="#Processed" role="tab" aria-controls="Processed" aria-selected="false">

                                    <div class="col-10">
                                        <span>Processed</span>
                                    </div>
                                    <div class="col-2">
                                        <span class="tab-number">12</span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="All-Request" role="tabpanel" aria-labelledby="All-Request-tab">

                                <div class="row mt-2">

                                    <div class="col-lg-3 col-md-3">
                                        <span class="heading-1">
                                            All-Request
                                        </span>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="region" id="region">
                                            <option value="">Select Region</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="city" id="city">
                                            <option value="">Select city</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="period" id="period">
                                            <option value="">Select Period</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="status" id="status">
                                            <option value="">Select Status</option>
                                            <option value="">Rejected</option>
                                            <option value="">Processed</option>
                                            <option value="">Sent Back</option>

                                        </select>
                                    </div>

                                    <!-- <div class="col-lg-2 col-md-2 ">
                                        <select  class="all-1" name="all" id="all">
                                        <option value="">All</option>
                                      <option value="">Volvo</option>
                                    <option value="">Saab</option>

                                      </select>
                                      </div> -->

                                    <div class="col-lg-1 col-md-1">
                                        <a class="link" href="#">
                                            Download
                                        </a>
                                    </div>
                                </div>



                                <div class="row mt-4">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>

                                                <th scope="col">REGION</th>
                                                <th scope="col">LOCATION</th>
                                                <th scope="col">DATE</th>
                                                <th scope="col">REQUEST NUMBER</th>
                                                <th scope="col">CONNECTION TYPE</th>
                                                <th scope="col">APPLICANT NAME</th>
                                                <th scope="col">STATUS</th>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Region-1</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-4">Rejected</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Vadodra</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-5">Processed</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-3">Sent Back</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="tab-pane fade" id="Pending" role="tabpanel" aria-labelledby="Pending-tab">



                                <div class="row mt-2">

                                    <div class="col-lg-3 col-md-3">
                                        <span class="heading-1">
                                            All-Request
                                        </span>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="region" id="region">
                                            <option value="">Select Region</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="city" id="city">
                                            <option value="">Select city</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="period" id="period">
                                            <option value="">Select Period</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="status" id="status">
                                            <option value="">Select Status</option>
                                            <option value="">Rejected</option>
                                            <option value="">Processed</option>
                                            <option value="">Sent Back</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-1 col-md-1">
                                        <a class="link" href="#">
                                            Download
                                        </a>
                                    </div>
                                </div>



                                <div class="row mt-4">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>

                                                <th scope="col">REGION</th>
                                                <th scope="col">CITY</th>
                                                <th scope="col">DATE</th>
                                                <th scope="col">REQUEST NUMBER</th>
                                                <th scope="col">CONNECTION TYPE</th>
                                                <th scope="col">APPLICANT NAME</th>
                                                <th scope="col">STATUS</th>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Region-1</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-1">Pending</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Vadodra</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-1">Pending</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-1">Pending</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>




                            </div>


                            <div class="tab-pane fade" id="In-Progress" role="tabpanel" aria-labelledby="In-Progress-tab">

                                <div class="row mt-2">

                                    <div class="col-lg-3 col-md-3">
                                        <span class="heading-1">
                                            All-Request
                                        </span>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="region" id="region">
                                            <option value="">Select Region</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="city" id="city">
                                            <option value="">Select city</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="period" id="period">
                                            <option value="">Select Period</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="status" id="status">
                                            <option value="">Select Status</option>
                                            <option value="">Rejected</option>
                                            <option value="">Processed</option>
                                            <option value="">Sent Back</option>

                                        </select>
                                    </div>

                                    <div class="col-lg-1 col-md-1">
                                        <a class="link" href="#">
                                            Download
                                        </a>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>

                                                <th scope="col">REGION</th>
                                                <th scope="col">CITY</th>
                                                <th scope="col">DATE</th>
                                                <th scope="col">REQUEST NUMBER</th>
                                                <th scope="col">CONNECTION TYPE</th>
                                                <th scope="col">APPLICANT NAME</th>
                                                <th scope="col">STATUS</th>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Region-1</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-2">In-Progress</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Vadodra</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-2">In-Progress</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-2">In-Progress</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="tab-pane fade" id="Sent-Back" role="tabpanel" aria-labelledby="Sent-Back-tab">

                                <div class="row mt-2">

                                    <div class="col-lg-3 col-md-3">
                                        <span class="heading-1">
                                            All-Request
                                        </span>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="region" id="region">
                                            <option value="">Select Region</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="city" id="city">
                                            <option value="">Select city</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="period" id="period">
                                            <option value="">Select Period</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="status" id="status">
                                            <option value="">Select Status</option>
                                            <option value="">Rejected</option>
                                            <option value="">Processed</option>
                                            <option value="">Sent Back</option>

                                        </select>
                                    </div>

                                    <!-- <div class="col-lg-2 col-md-2 ">
                                        <select  class="all-1" name="all" id="all">
                                        <option value="">All</option>
                                      <option value="">Volvo</option>
                                    <option value="">Saab</option>

                                      </select>
                                      </div> -->

                                    <div class="col-lg-1 col-md-1">
                                        <a class="link" href="#">
                                            Download
                                        </a>
                                    </div>
                                </div>



                                <div class="row mt-4">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>

                                                <th scope="col">REGION</th>
                                                <th scope="col">CITY</th>
                                                <th scope="col">DATE</th>
                                                <th scope="col">REQUEST NUMBER</th>
                                                <th scope="col">CONNECTION TYPE</th>
                                                <th scope="col">APPLICANT NAME</th>
                                                <th scope="col">STATUS</th>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Region-1</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-3">Sent Back</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Vadodra</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-3">Sent Back</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-3">Sent Back</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="Rejected" role="tabpanel" aria-labelledby="Rejected-tab">


                                <div class="row mt-2">

                                    <div class="col-lg-3 col-md-3">
                                        <span class="heading-1">
                                            All-Request
                                        </span>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="region" id="region">
                                            <option value="">Select Region</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="city" id="city">
                                            <option value="">Select city</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="period" id="period">
                                            <option value="">Select Period</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="status" id="status">
                                            <option value="">Select Status</option>
                                            <option value="">Rejected</option>
                                            <option value="">Processed</option>
                                            <option value="">Sent Back</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-1 col-md-1">
                                        <a class="link" href="#">
                                            Download
                                        </a>
                                    </div>
                                </div>



                                <div class="row mt-4">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>

                                                <th scope="col">REGION</th>
                                                <th scope="col">CITY</th>
                                                <th scope="col">DATE</th>
                                                <th scope="col">REQUEST NUMBER</th>
                                                <th scope="col">CONNECTION TYPE</th>
                                                <th scope="col">APPLICANT NAME</th>
                                                <th scope="col">STATUS</th>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Region-1</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-4">Rejected</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Vadodra</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-4">Rejected</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-4">Rejected</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="tab-pane fade" id="Processed" role="tabpanel" aria-labelledby="Processed-tab">


                                <div class="row mt-2">

                                    <div class="col-lg-3 col-md-3">
                                        <span class="heading-1">
                                            All-Request
                                        </span>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="region" id="region">
                                            <option value="">Select Region</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="city" id="city">
                                            <option value="">Select city</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-2 col-md-2">
                                        <select name="period" id="period">
                                            <option value="">Select Period</option>
                                            <option value="">Volvo</option>
                                            <option value="">Saab</option>

                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-md-2">
                                        <select name="status" id="status">
                                            <option value="">Select Status</option>
                                            <option value="">Rejected</option>
                                            <option value="">Processed</option>
                                            <option value="">Sent Back</option>

                                        </select>
                                    </div>

                                    <!-- <div class="col-lg-2 col-md-2 ">
                                        <select  class="all-1" name="all" id="all">
                                        <option value="">All</option>
                                      <option value="">Volvo</option>
                                    <option value="">Saab</option>

                                      </select>
                                      </div> -->

                                    <div class="col-lg-1 col-md-1">
                                        <a class="link" href="#">
                                            Download
                                        </a>
                                    </div>
                                </div>



                                <div class="row mt-4">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>

                                                <th scope="col">REGION</th>
                                                <th scope="col">CITY</th>
                                                <th scope="col">DATE</th>
                                                <th scope="col">REQUEST NUMBER</th>
                                                <th scope="col">CONNECTION TYPE</th>
                                                <th scope="col">APPLICANT NAME</th>
                                                <th scope="col">STATUS</th>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Region-1</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-5">Processed</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Vadodra</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-5">Processed</td>
                                                    </tr>

                                                    <tr>
                                                        <td scope="row">Region-3</td>
                                                        <td>Ahemdabad</td>
                                                        <td>05 Jan 2022</td>
                                                        <td>ATGL1974327</td>
                                                        <td>Domestic</td>
                                                        <td>Roger Binny</td>
                                                        <td class="color-5">Processed</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
