


<div class="container py-lg-5 py-4">
        <div class="row align-items-center">
<div class="col-md-6 col-lg-5 col-xl-6 order2">
<div class="banner-404-txt">
<h2 class="txt-blue">Dear @Session["UserName"],</h2>
<p class="py-3">You have successfully submitted your enquiry for new connection. An Adani representative will be in touch with you shortly.</p>
    <p>Your enquiry no is <b>@Session["UpdateMessage"]</b>. Please note for future reference.
</p>
<div class="form-group row py-2">
<div class="col-sm-12">
<a href="/" class="btn btn-primary" id="GoBackBtn">Go Back</a>

</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-5 col-xl-6"><img alt="" src="/-/media/4A0CDF2170C044CEBCD946A9B1F6619B.png?la=en&amp;hash=3C26D1F3968797E898DDA55BD7032F51"></div>
</div>

 

        
    </div>