@{
    ViewBag.Title = "PaymentFail";
    Layout = "~/Views/Shared/ConnTypeMaster.cshtml";
}

<div class="container">
    
    <div class="clearfix"></div>
    <section class="document-b">
        <div class="sectitle">
        </div>
        <div class="clearfix"></div>
        <div class="document-table">
            <div class="tablecentertitle text-center" style="color:white">
                Payment Fail!! Go To Home @Html.ActionLink("Click", "Login") Here
            </div>
        </div>
    </section>
</div>
