@{
    ViewBag.Title = "PaymentSuccess";
}

<div class="container">
    @Html.Hidden("paytmStatus", (string)ViewBag.payStatus)
    <div class="clearfix"></div>
    <section class="document-b">
        <div class="sectitle">
        </div>
        <div class="clearfix"></div>
        <div class="document-table">
            <div class="tablecentertitle text-center" style="color: white">
                Welcome to Adani Gas Family. Your Customer ID is  @ViewBag.CustomerNo Keep this with you for future reference. Thank you for showing interest in Adani Gas. Go To Home <a href="/myaccount">Click</a> Here
                @*Payment Success!! Your Customer Account No. is @ViewBag.CustomerNo, @Html.ActionLink("Login", "Enquiry") Go To Home Click Here*@
            </div>
        </div>
    </section>
</div>
