@model Sitecore.Feature.Accounts.Models.PayTMRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PayTMRequest</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
         <table>
             <tr>
                 <td>Mobile No.:</td>
                 <td>@Html.TextAreaFor(modal=>modal.Mobile)</td>
             </tr>
             <tr>
                 <td>Email:</td>
                 <td>@Html.TextAreaFor(modal=>modal.Email)</td>
             </tr>
             <tr>
                 <td>Amount:</td>
                 <td>@Html.TextAreaFor(modal=>modal.Amount)</td>
             </tr>
         </table>   
            <button type="submit">Submit</button>
        }
    </div>
</body>
</html>
