@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.ContactUsOffice


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-pattern-light p-4 border-left">

                <div class="form-group">
                    <label class="form-label mb-1">Select City</label>

                    @Html.DropDownListFor(x => Model.selectedCity, new SelectList(Model.CityList, "Value", "Text"), "Select", htmlAttributes: new { @onchange = "fnBindAreaOfCity(this.value,'#selectarea')", @class = "form-control reset-control", id = "city" })
                </div>
                <div class="form-group">
                    <label class="form-label mb-1">Select Nearest Area</label>
                    <select class="form-control" id="selectarea" name="area" onchange="fnBindNetworkList(this.value,@Model.selectedState)">
                        <option>select</option>
                    </select>
                </div>
				<div class="form-group">
                    <label class="form-label mb-1">Search</label>
					<input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>
            </div>
        </div>
        <div class="col-md-8 divnetworkdetails" id="divnetworkdetails">
        </div>
    </div>
</div>
