@model Sitecore.Feature.Accounts.Models.ByCustomerId


<div class="row" style="padding:100px 150px">
    <object data="@Url.Action("ShowNameTransferAttachmentFileview","AdaniGas", new { id=Request.QueryString["id"] })" type="application/pdf" height="1070" width="830"></object>
</div>
