@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@{
    var type = TempData["CustomerType"];
}
<!-- Toggle button to show/hide side nav -->
<div class="d-block d-md-none sideNavBtn">
    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
        <i class="fas fa-align-left"></i>
        <span>&nbsp;Menu</span>
    </button>
</div>
<!-- /Toggle button to show/hide side nav -->
<div class="clearfix"></div>
<!-- Update Profile Page Content-->
@if (type != null)
{
<input type="hidden" id="loginType" value="@type" />
    if (type.ToString().Equals("9001"))
    {
	<!--<img src="/images/AdaniGas/Bill-Industial.png" />-->
	<div class="panel">
		<div class="examBillBlk">

			<img src="/images/AdaniGas/Bill-Industial.png" alt="" id="billImage" usemap="#bill" />

			<map name="bill" id="myBill"></map>
				
		</div>
		<div class="mytip">tooltipWin</div>
	</div>
    }
    if (type.ToString().Equals("9002"))
    {
        <!--<img src="/images/AdaniGas/Bill-Commercial.png" />-->
	<div class="panel">
		<div class="examBillBlk">

			<img src="/images/AdaniGas/Bill-Commercial.png" alt="" id="billImage" usemap="#bill" />

			<map name="bill" id="myBill"></map>
				
		</div>
		<div class="mytip">tooltipWin</div>
	</div>
    }
    if (type.ToString().Equals("9004"))
    {
        <!--<img src="/images/AdaniGas/bills_domesticConnection.png" />-->
	<div class="panel">
		<div class="examBillBlk">

			<img src="/images/AdaniGas/bills_domesticConnection.png" alt="" id="billImage" usemap="#bill" />

			<map name="bill" id="myBill"></map>
				
		</div>
		<div class="mytip">tooltipWin</div>
	</div>
    }
}
else
{
    <div class="panel">
        to do...
    </div>
}