@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Accounts.Models.EditProfile

@using (Html.BeginForm("LogoutAdaniGas", "AdaniGas", FormMethod.Post, new
{
    @class = "form-signin"
}))
{
    <div class="row">
        <div class="col-12">
            @{
                var info = Session.GetAndRemove("UpdateMessage") as Sitecore.Foundation.Alerts.Models.InfoMessage;
                if (info != null)
                {
                    Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageView, info);
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <h5 class="welcomeUser d-inline-block mr-2">
                    Welcome, <span class="txt-orange">@Html.DisplayTextFor(x => x.LoginName)</span>
                </h5>
                <a class="btn btn-primary mr-1" href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/Home","/myaccount/png-dashboard")">
                    <i class="fas fa-home"></i>&nbsp;&nbsp;@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Home", "Home")
                </a><button type="submit" class="btn btn-primary"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Button Logout", "Logout")</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


}