<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Feature.Navigation" description="FlightSearch Content" dependencies="Adani.SuperApp.Airport.Foundation.Serialization.Platform">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>
						
						<include name="renderings" database="master" path="/sitecore/layout/Renderings/Feature/Adani/Navigation" />
						<include name="templates" database="master" path="/sitecore/templates/Feature/Adani/Navigation" />
						
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>