@{
    Layout = null;
    var assetDomainURL = string.Empty;
    if (!string.IsNullOrEmpty(Sitecore.Configuration.Settings.GetSetting("mediaDomainUrl")))
    {
        assetDomainURL = Sitecore.Configuration.Settings.GetSetting("mediaDomainUrl").ToString();

    }
}

<a href="javascript:void(0)"
   onclick="displayListGroup()"
   id="dropdownMenuLink"
   data-bs-toggle="dropdown"
   aria-expanded="false">
    <img class="selected1"
         src="/assets/airport/images/header/logo_mumbai_airport.svg"
         alt="Chhatrapati Shivaji Maharaj" />
    <span class="icon-button location-arrow">
        <i class="i-arrow-d"></i>
    </span>
</a>
<div class="location-layer dropdown-menu"
     id="list-display"
     aria-labelledby="dropdownMenuLink">
    <div class="list-group">
        <ul>
            <li class="option">
                <img src="@assetDomainURL/assets/airport/images/header/logo_mumbai_airport.svg"
                     alt="Jaipur Airport" loading="lazy"/>
            </li>
            <li class="option">
                <img src="@assetDomainURL/assets/airport/images/header/logo_guwahati_airport.svg"
                     alt="Guwahati Airport" loading="lazy" />
            </li>
            <li class="option">
                <img src="@assetDomainURL/assets/airport/images/header/logo_jaipur_airport.svg"
                     alt="Jaipur Airport" loading="lazy"/>
            </li>

            <li class="option">
                <img src="@assetDomainURL/assets/airport/images/header/logo_guwahati_airport.svg"
                     alt="Guwahati Airport" loading="lazy" />
            </li>

            <li class="option">
                <img src="@assetDomainURL/assets/airport/images/header/logo_mumbai_airport.svg"
                     alt="MUMBAI Airport" loading="lazy"/>
            </li>
        </ul>
    </div>
</div>
