@{
    Layout = null;
}

@using Adani.SuperApp.Airport.Feature.Navigation.Platform.Models
@model Adani.SuperApp.Airport.Feature.Navigation.Platform.Models.CollapsableExpandale

@{
    if (Model == null && Model.NavigationLevel1 == null)
    {
        return;
    }
}

<ul class="hamburger_section">
    <ul>
        <li>
            <h5>@Model.ParentTitle</h5>
        </li>
        @foreach (var itms in Model.NavigationLevel1)
        {
            <li>
                <a href="@itms.Link">
                    <i class="@itms.LeftIcon"></i>
                    <label>@itms.Title</label>
                </a>
            </li>
        }
    </ul>
</ul>

