
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var Headerlink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["HeaderPrimaryMenu"];
    var HeaderMenuitem = Sitecore.Context.Database.GetItem(Headerlink);
    var HeaderPrimaryMenu = HeaderMenuitem.Children;


    var HeaderSecondarylink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["HeaderSecondaryMenu"];
    var HeaderSecondaryMenuitem = Sitecore.Context.Database.GetItem(HeaderSecondarylink);
    var HeaderSecondaryMenu = HeaderSecondaryMenuitem.Children;

    var SiteLogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["SiteLogo"];


}



<div class="overlay-top"></div>

    <div class="navPanel fixed-top">
        <div class="container-fluid">
            <div class="search-main">
                <form action="" method="get">
                    <input type="text" id="s" name="s" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                </form>
            </div>
            <div class="row">
                <div class="col-sm-2 col-8 border-right py-2 text-center">
                    <a class="navbar-brand" href="/"><img src="@SiteLogo" alt="Adani Wilmar" class="img-fluid"></a>
                </div>
                <div class="col-sm-10 col-4">
                    <div class="row top-submenu">
                        <div class="col-lg-9 col-0">

                            <div class="ml-4" id="topMenu">
                                <div id="dismiss" class="d-block d-lg-none"><i class="far fa-times-circle"></i></div>
                                <div class="clearfix"></div>
                                <ul class="topMenu d-lg-flex d-none">
								
								   <li class="dropdown">

            <a href="/about-us">
                About Us
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid">
                    <h5><a href="/about-us">Explore About Us</a></h5>
                    <hr />
                    <div class="row">

						<div class="col-lg-6">
                            <a class="dropdown-item" href="/about-us/CEO and MD Message">CEO & MD Message</a>

                        </div>
						<div class="col-lg-6 d-none">
                            <a class="dropdown-item" href="/about-us/Managing-Director-Message">Managing Director's Message</a>

                        </div>

                    </div>
                </div>
            </div>


        </li>
								
								
								
								
								
                                  
             	<li class="dropdown">

            <a href="/newsroom">
                Newsroom
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="/newsroom">Explore Newsroom</a></h5>
                    <hr />
                    <div class="row">
						<div class="col-lg-6">
                            <a class="dropdown-item" href="/newsroom/media-coverage">Media Coverage</a>

                        </div>
					
						
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/newsroom/media-library">Media Library</a>

                        </div>
                        
						 <div class="col-lg-6">
                            <a class="dropdown-item" href="/newsroom/social-media">Social Media</a>

                        </div>
                       
						
						
                    </div>
                </div>
            </div>
        </li>
	 <li class="dropdown third-menu"><a href="/Investors">Investors</a>
<div class="dropdown-menu megamenu" id="InvestorsMenu" aria-labelledby="dropdown03">
                <div class="container-fluid">
                    <h5><a href="/Investors">Explore Investor Relations</a></h5>
                    <hr />
                    <div class="row">
<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/annual-reports" target="_blank">Annual Reports</a>
</div>
<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/board-and-committee-charters" target="_blank">Board and Committee Charters</a>
                             </div>
                        
 <div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/corporate-governance-and-esg-policies" target="_blank">Corporate Governance and ESG Policies</a>

                        </div>
						
						<div class="col-lg-12 menuItem">
                            <a class="dropdown-item" href="/Investors/investor-presentation" style="padding: 0;" target="_blank">Investor Presentation</a>
                            <ul class="dropdown-submenu">
							 <li>
                              <a class="dropdown-item" href="/Investors/schedule" target="_blank">Schedule</a>
                          </li>
                            <li>
                              <a class="dropdown-item" href="/Investors/Presentation" target="_blank">Presentations</a>
                          </li>
                           <li>
                              <a class="dropdown-item" href="/Investors/audio-video-recordings" target="_blank">Audio / Video Recordings </a>
                          </li>
						  <li>
                              <a class="dropdown-item" href="/Investors/earnings-call-transcript-and-recording" target="_blank">Earnings Call Transcript </a>
                          </li>
                            </ul>
                        </div>


<div class="col-lg-12 ">
                            <a class="dropdown-item" href="/Investors/newspaper-publication" target="_blank">Newspaper Publication</a>

                        </div>
						
						<div class="col-lg-12 menuItem">
                            <a class="dropdown-item" href="/Investors/notice" style="padding: 0;" target="_blank">Board Meetings</a>
                            <ul class="dropdown-submenu">
                            <li>
                               <a class="dropdown-item" href="/Investors/notice" target="_blank">Notice</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="/Investors/outcome" target="_blank">Outcome</a>
                          </li>
                            </ul>
                        </div>
						
						

<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/shareholders-meetings" target="_blank">Shareholders Meetings</a>

                        </div>

<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/quarterly-result" target="_blank">Quarterly Results</a>

                        </div>

<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/related-party-transactions" target="_blank">Related Party Transactions</a>

                        </div>

<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/shareholding-pattern" target="_blank">Shareholding Pattern</a>

                        </div>
						
						<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/monitoring-agency-report" target="_blank">Monitoring Agency Report</a>

                        </div>
						
						<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/credit-rating" target="_blank">Credit Rating</a>
                        </div>
						
						<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/intimation-under-regu-30-of-LODR" target="_blank">Intimations under Reg. 30 of SEBI LODR</a>
                        </div>
                        <div class="col-lg-12">
                            <a class="dropdown-item" target="_blank" href="/Investors/disclosures-under-reg-30A-of-SEBI-LODR">Disclosures under Reg. 30A of SEBI LODR</a>
                        </div>

						<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/intimation-under-regu-46-of-LODR" target="_blank" >Disclosures Under Reg. 46 of SEBI LODR</a>
                        </div>

                        <div class="col-lg-12 menuItem">
                            <a class="dropdown-item" href="/Investors" style="padding: 0;" target="_blank">Dispute Resolution Mechanism</a>
                            <ul class="dropdown-submenu">
							 <li>
                              <a class="dropdown-item" href="https://www.sebi.gov.in/legal/circulars/jul-2023/online-resolution-of-disputes-in-the-indian-securities-market_74794.html" target="_blank" rel="noopener noreferrer">Master Circular for Online Resolution of Disputes in the Indian Securities Market</a>
                          </li>
                          <li>
                              <a class="dropdown-item" href="https://smartodr.in/odr/login/" target="_blank" rel="noopener noreferrer">Link to SMART ODR</a>
                          </li>
                            </ul>
                        </div>

				<div class="col-lg-12 menuItem">
                            <a class="dropdown-item" href="/Investors/other-downloads" style="padding: 0;" target="_blank">Other Downloads</a>
                           
                        </div>
                    </div>
                </div>
            </div>
</li>
		<li><a href="/sustainability">Sustainability</a></li>
                <li><a href="/careers">Careers</a>
		
	   
	   
	   </li>
                                    <li><a href="/csr">CSR</a></li>
                                    <li><a href="/contact-us">Contact Us</a></li>
                                </ul>
								<ul class="topMenu d-lg-none d-block m-menu">
								
								<li>
        <a href="/businesses/edible-oil">Edible Oil</a>	
	        </li>
				<li>
        <a href="/businesses/Food-and-FMCG">Food & FMCG</a>	
	        </li>
			<li>
        <a href="/businesses/industrial-essential">Industry Essentials</a>	
	        </li>
				<li>
        <a href="/exports">Exports</a>	
	        </li>
			<li>
				<a class="txt-red" href="https://www.fortunefoods.com/" target="_blank">Fortune Foods</a>	
			</li>
			<li>
				<a class="txt-red" href="https://www.fortuneonline.in/" target="_blank">Fortune Online</a>	
			</li>
			<li>
				<a class="txt-red" href="https://www.adaniwilmar.com/csr" target="_blank">Our efforts during COVID19</a>	
			</li>
			  <li class="dropdown">

            <a href="/about-us">
                About Us
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid">
                    <h5><a href="/about-us">Explore About Us</a></h5>
                    <hr />
                    <div class="row">

						<div class="col-lg-6">
                            <a class="dropdown-item" href="/about-us/CEO and MD Message">CEO & MD Message</a>

                        </div>
						<div class="col-lg-6 d-none">
                            <a class="dropdown-item" href="/about-us/Managing-Director-Message">Managing Director's Message</a>

                        </div>
						

                    </div>
                </div>
            </div>


        </li>
				 <li class="dropdown">

            <a href="/newsroom">
                Newsroom
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="/newsroom">Explore Newsroom</a></h5>
                    <hr />
                    <div class="row">
						<div class="col-lg-6">
                            <a class="dropdown-item" href="/newsroom/media-coverage">Media Coverage</a>

                        </div>
					 <div class="col-lg-6">
                            <a class="dropdown-item" href="/newsroom/media-releases">Media Releases</a>

                        </div>
						
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/newsroom/media-library">Media Library</a>

                        </div>
                        
						 <div class="col-lg-6">
                            <a class="dropdown-item" href="/newsroom/social-media">Social Media</a>

                        </div>
                       
						
						
                    </div>
                </div>
            </div>
        </li>
		  <li class="dropdown third-menu"><a href="/Investors">Investors</a>
<div class="dropdown-menu megamenu" id="InvestorsMenu" aria-labelledby="dropdown03">
                <div class="container-fluid">
                    <h5><a href="/Investors">Explore Investor Relations</a></h5>
                    <hr />
                    <div class="row">
<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/annual-reports" target="_blank">Annual Reports</a>
</div>
<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/board-and-committee-charters" target="_blank">Board and Committee Charters</a>
                             </div>
                        
 <div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/corporate-governance-and-esg-policies" target="_blank">Corporate Governance and ESG Policies</a>

                        </div>
						
						<div class="col-lg-12 menuItem">
                            <a class="dropdown-item" href="/Investors/investor-presentation" style="padding: 0;" target="_blank">Investor Presentation</a>
                            <ul class="dropdown-submenu">
							 <li>
                              <a class="dropdown-item" href="/Investors/schedule" target="_blank">Schedule</a>
                          </li>
                            <li>
                              <a class="dropdown-item" href="/Investors/Presentation" target="_blank">Presentations</a>
                          </li>
                           <li>
                              <a class="dropdown-item" href="/Investors/audio-video-recordings" target="_blank">Audio / Video Recordings </a>
                          </li>
						  <li>
                              <a class="dropdown-item" href="/Investors/earnings-call-transcript-and-recording" target="_blank">Earnings Call Transcript </a>
                          </li>
                            </ul>
                        </div>


<div class="col-lg-12 ">
                            <a class="dropdown-item" href="/Investors/newspaper-publication" target="_blank">Newspaper Publication</a>

                        </div>
						
						<div class="col-lg-12 menuItem">
                            <a class="dropdown-item" href="/Investors/notice" style="padding: 0;" target="_blank">Board Meetings</a>
                            <ul class="dropdown-submenu">
                            <li>
                               <a class="dropdown-item" href="/Investors/notice" target="_blank">Notice</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="/Investors/outcome" target="_blank">Outcome</a>
                          </li>
                            </ul>
                        </div>
						
						

<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/shareholders-meetings" target="_blank">Shareholders Meetings</a>

                        </div>

<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/quarterly-result" target="_blank">Quarterly Results</a>

                        </div>

<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/related-party-transactions" target="_blank">Related Party Transactions</a>

                        </div>

<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/shareholding-pattern" target="_blank">Shareholding Pattern</a>

                        </div>
						
						<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/monitoring-agency-report" target="_blank">Monitoring Agency Report</a>

                        </div>
						
						<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/credit-rating"  target="_blank">Credit Rating</a>
                        </div>
						
						<div class="col-lg-12">
                            <a class="dropdown-item" href="/Investors/intimation-under-regu-30-of-LODR"  target="_blank"> Intimations under Reg. 30 of SEBI LODR</a>
                        </div>
                        <div class="col-lg-12">
                            <a class="dropdown-item" target="_blank" href="/Investors/disclosures-under-reg-30A-of-SEBI-LODR">Disclosures under Reg. 30A of SEBI LODR</a>
                        </div>

						<div class="col-lg-12">
                            <a class="dropdown-item" target="_blank" href="/Investors/intimation-under-regu-46-of-LODR">Disclosures Under Reg. 46 of SEBI LODR</a>
                        </div>

                        <div class="col-lg-12 menuItem">
                            <a class="dropdown-item" href="/Investors" style="padding: 0;" target="_blank">Dispute Resolution Mechanism</a>
                            <ul class="dropdown-submenu">
							 <li>
                              <a class="dropdown-item" href="https://www.sebi.gov.in/legal/circulars/jul-2023/online-resolution-of-disputes-in-the-indian-securities-market_74794.html" target="_blank" rel="noopener noreferrer">Master Circular for Online Resolution of Disputes in the Indian Securities Market</a>
                          </li>
                          <li>
                              <a class="dropdown-item" href="https://smartodr.in/odr/login/" target="_blank" rel="noopener noreferrer">Link to SMART ODR</a>
                          </li>
                            </ul>
                        </div>

				<div class="col-lg-12 menuItem">
                            <a href="/Investors/other-downloads" style="padding: 0;" target="_blank">Other Downloads</a>
                            <!-- <ul class="dropdown-submenu"> -->
                            <!-- <li> -->
                               <!-- <a class="dropdown-item" href="/Investors/material-contracts" target="_blank">Material Contracts</a> -->
                            <!-- </li> -->
                            <!-- <li> -->
                              <!-- <a class="dropdown-item" href="/Investors/material-documents" target="_blank">Material Documents</a> -->
                          <!-- </li> -->
                           <!-- <li> -->
                              <!-- <a class="dropdown-item" href="https://stage.adaniwilmar.com/-/media/Project/Wilmar/Investors/earning transcript/AWL Q4 FY 22 Transcript of Earnings Call" target="_blank">MGT 7 FY 22</a> -->
                          <!-- </li> -->
						  <!-- <li> -->
                              <!-- <a class="dropdown-item" href="/Investors/financials-of-subsidiaries" target="_blank">Financials of Subsidiaries</a> -->
                          <!-- </li> -->
                            <!-- </ul> -->
                        </div>
                    </div>
                </div>
            </div>
</li>
		<li><a href="/sustainability">Sustainability</a></li>
		<li><a href="/careers">Careers</a>
			
	   
	   
	   </li>
        <li><a href="/contact-us">Contact Us</a></li>
   <li><a href="/csr">CSR</a></li>
			  </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-10 ml-auto">
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <div class="row">
                                        <div class="col-sm-6 col-6">
                                            <p class="searchIcon"><a href="#"><span><i class="fas fa-search"></i></span></a></p>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <!-- Toggle button to show/hide side top menu -->
                                            <div class="d-block d-lg-none topNavBtn">

                                                <button type="button" id="topNavCollapse" class="btn btn-menu">
                                                    <!--<i class="fas fa-align-justify"></i>-->
                                                    <i class="fas fa-bars"></i>
                                                </button>
                                            </div>
                                            <!-- /Toggle button to show/hide top menu -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-left"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row nav-bg-gray mainmenu">
                        <div class="col-sm-8 col-md-12">
                            <nav class="navbar navbar-expand-lg ml-4">
                                <div class="">

                                    <div class="collapse navbar-collapse" id="navbar">
                                        <ul class="navbar-nav mr-auto">

                                           <li class="nav-item dropdown">

            <a class="nav-link" href="/businesses">
                Our Business
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="">
                    <h5><a href="/businesses" style="color:#f82130;">Explore Businesses</a></h5>
                    <hr>
                    <div class="row">
						<div class="col-lg-6">
                            <a class="dropdown-item" href="/businesses/edible-oil">Edible Oil</a>

                        </div>
					 <div class="col-lg-6">
                            <a class="dropdown-item" href="/businesses/Food-and-FMCG">Food & FMCG</a>

                        </div>
						
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/businesses/industrial-essential">Industry Essentials</a>

                        </div>
                      
						
                    </div>
                </div>
            </div>
        </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/exports" id="navbarDropdown">
                                                    Exports
                                                </a>
                                            </li>
											  </li>
                                            <li class="nav-item">
                                                <a class="nav-link txt-red" href="https://www.fortunefoods.com/" target="_blank" id="navbarDropdown">
                                                    Fortune Foods
                                                </a>
                                            </li>
											<li class="nav-item">
                                                <a class="nav-link txt-red" href="https://www.fortuneonline.in/" target="_blank" id="navbarDropdown">
                                                    Fortune Online
                                                </a>
                                            </li>
											 <li class="nav-item">
                                                <a class="nav-link" href="https://www.adaniwilmar.com/csr" target="_blank" id="navbarDropdown">
                                                   Our efforts during COVID19
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <!-- <div class="col-sm-4 col-md-3 mobile-none"> -->

                        <!-- </div> -->
                    </div>
                    </div>
                </div>
            </div>
            <section class="desktop-none bg-gray">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                                <!--<span class="navbar-toggler-icon"></span>-->
                                <span class="far fa-circle"></span>
                                <span class="far fa-circle"></span>
                                <span class="far fa-circle"></span>
                            </button>
                        </div>
                        <div class="col-9 text-right">

                        </div>
                    </div>
                </div>
            </section>
        </div>

         