@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation

@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var tab = parent.Children;

    var i = 0;
    var j = 0;
    var z = 0;
    var k = 0;
}
<section class="py-5">
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            @foreach (var child in tab.ToList())
            {


                if (i == 0)
                {
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-@k">@Html.Sitecore().Field("Title", child)</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-@k">@Html.Sitecore().Field("Title", child)</a>
                    </li>
                }
                i++;
                k++;
            }
        </ul>




        <div class="tab-content" id="address-tab-container">
            @foreach (var child in tab.ToList())
            {
                if (j == 0)
                {


                    <div class="tab-pane container active bg-white py-3" id="tab-@z">

                        @Html.Sitecore().Field("Body", child)


                    </div>
                }
                else
                {


                    <div class="tab-pane container fade bg-white py-3" id="tab-@z">
                        @Html.Sitecore().Field("Body", child)

                    </div>
                }
                j++;
                z++;
            }
        </div>

    



    </div>
</section>