@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation

@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
  Sitecore.Data.Fields.LinkField linkvalue = parent.Fields["MediaLink"];
    var linkUrl = linkvalue.GetFriendlyUrl();
   
}

<section class="py-5 bg-white">
    <div class="container">
        <h3 class="txt-lg mb-4 text-center">@Html.Sitecore().Field("MediaTitle", parent)</h3>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="video-section border p-2" data-toggle="modal" data-target="#SuPoshanProject">@Html.Sitecore().ImageField("MediaThumbnail", parent, 0, 0, "img-fluid")</div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal video" id="SuPoshanProject">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Modal body -->
                <div class="modal-body">
                    <video autoplay="false" class="w-100" preload="none" controls>
                        <source src="@linkUrl" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>