@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
}
<style>
    .center {
        text-align: center;
    }
</style>
<section class="bg-white py-5 about-apsez loadmore-content">
    <div class="container">
        <h3 class="heading txt-md pl-3 mb-3">@parent.Name</h3>
        <div class="table-responsive mb-5">
            <table class="table table-bordered">
                <thead>

                </thead>
                <tbody class="regulation-link-cc">

                    <tr class="center">
                        <td>
                            <b><i>Financial Year</i></b>
                        </td>
                        <td>
                            <b><i>Q1</i></b>
                        </td>
                        <td>
                            <b><i>Q2</i></b>
                        </td>
                        <td>
                            <b><i>Q3</i></b>
                        </td>
                        <td>
                            <b><i>Q4</i></b>
                        </td>
                    </tr>

                    @foreach (var item in parent.Children.ToList())
                    {
                        if (item.HasChildren)
                        {
                            <tr class="center">
                                <td class="center">
                                    @item.Name
                                </td>
                                @foreach (var child in item.Children.ToList())
                                {
                                    var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(child);
                                    var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);
                                    if (child.HasChildren)
                                    {
                                        <td>
                                            <a href="@url" target="_blank"><i class="far fa-file-pdf" aria-hidden="true"></i></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>