@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
}
<section class="bg-white py-4 about-apsez loadmore-content">
    <div class="container">
        <h3 class="heading txt-md pl-3 mb-3">@parent.Name</h3>
        <div class="table-responsive mb-5">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody class="regulation-link-cc">
                    @foreach (var item in parent.Children.ToList())
                    {
                        var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(item);
                        var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);
                        <tr>
                            <td>
                                <em class="fa fa-link" aria-hidden="true"></em> <a rel="noopener noreferrer" href="@url" target="_blank">@item.Name</a>
                            </td>
                        </tr>
                      }
                </tbody>
            </table>
        </div>

    </div>
</section>