@font-face {
    font-family: 'ElectroluxSansRegular';
    src: url('/fonts/Realty/AsterLandingPage//ElectroluxSansRegular.ttf');
    }

@font-face {
    font-family: 'tahoma';
    src: url('/fonts/Realty/AsterLandingPage//tahoma.ttf');
    }
/*@font-face {
    font-family: 'GildaDisplay-Regular';
    src: url('/fonts/Realty/AsterLandingPage//GildaDisplay-Regular.ttf');
    }
    @font-face {
    font-family: 'PT_Sans-Web-Bold';
    src: url('/fonts/Realty/AsterLandingPage//PT_Sans-Web-Bold.ttf');
    }
    @font-face {
    font-family: 'PT_Sans-Web-Regular';
    src: url('/fonts/Realty/AsterLandingPage//PT_Sans-Web-Regular.ttf');
    }*/
body{
    font-family: tahoma !important;
}
button#submitpricepopup {
    margin-left: 250px;
}
button#submitPopupForm {
    margin-left: 250px;
    margin: 0 auto !important;
    text-align: center;
}
/* #PopupForm button#submitf {
    position: absolute;
    left: 80%;
} */

#slick-club .slick-dots li {
    background: #fff !important;
}
#slick-club .slick-dots li.slick-active {
    background: #af1280 !important;
}
#home #slide-block1 .slick-slider {
    position: static !important;
}

#home #slide-block1 .slick-dots {
    bottom: 30px;
}

#home #slide-block1 .slick-dots li {
    background: transparent !important;
    width: auto;
    height: auto;
    margin: 0;
}

#home #slide-block1 .slick-dots li button {
    background-color: #222;
    border: 1px solid #fff;
    border-radius: 4px;
    display: inline-block;
    font-size: 0;
    height: 8px;
    margin: 0 3px;
    padding: 0;
    text-indent: -99999px;
    width: 8px;
}

#home #slide-block1 .slick-dots li.slick-active button {
    background: #fff;
}

.popup-contact-btn {
    clear: both;
    overflow: hidden;
    padding: 0 5px;
}

.popup-contact-btn .form-buttons {
    display: block;
    text-align: center;
    margin: 10px 0 20px;
}

.popup-contact-btn .form-buttons .input-group-btn {
    width: 100%;
    display: block;
}

.popup-contact-btn .form-buttons button {
    margin: 0 !important;
}

.fplan-bg,
.location-inner,
#club .heading {
    background-size: cover;
    background-position: center;
}

.modal-backdrop.fade {
    animation: none !important;
}

#lock{ display:none; }
.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'tahoma' !important;
}
/* .header-slide1 {
    margin-top: 30px !important;
} */
.bottom-arrow {
    position: absolute;
    left: 50%;
    bottom: 10%;
}
.bottom-arrow a {
    color: #fff;
    text-decoration: none;
}
.downarrow {
    font-size: 25px;
}
#more {display: none;}

/* Contact Number */
    .toll {
        background-color: #2b0f03;
        border: 1px solid #fff;
        color: #fff;
        right: 0;
        padding: 5px 6px;
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
        top: 118px;
        border-radius: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 20;
        cursor: pointer;

        -webkit-animation: whatsapp 1s infinite;  /* Safari 4+ */
        -moz-animation: whatsapp 1s infinite;  /* Fx 5+ */
        -o-animation: whatsapp 1s infinite;  /* Opera 12+ */
        animation: whatsapp 1s infinite;  /* IE 10+, Fx 29+ */
    }
    #call-number {
        position: fixed;
        vertical-align: top;
        right: 0;
        top: 26%;
        z-index: 9999;
    }
    #call-number .content {
        position: absolute;
        top: 118px;
        color: #fff;
        background-color: rgba(0,0,0,0.7);
        display: inline-block;
        width: 137px;
        margin: 0 0 0 -8px;
        padding: 0 10px 0;
        vertical-align: top;
        -webkit-border-bottom-left-radius: 6px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
        -moz-border-radius-bottomleft: 6px;
        -webkit-border-bottom-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    #call-number p {
        font-weight: bold;
        font-size: 16px;
        margin: 0px 0 6px;
        color: #fff; 
    }
    .change{
        background:#000;
        color:#fff;
    }
    /* End of Contact Number */
	.locationmap-block {
    /* margin: 6px 0; */
    height: 150px;
  
}
.col-lg-6.col-xs-12.locationmap-block.one {
    border-right: 4px dotted #fff;
    border-bottom: 4px dotted #fff;
}
.col-lg-6.col-xs-12.locationmap-block.two {
    border-bottom: 4px dotted #fff;
}
.col-lg-6.col-xs-12.locationmap-block.three {
    border-right: 4px dotted #fff;
}
.col-lg-6.col-xs-12.locationmap-block.three {
    border-right: 4px dotted #fff;
    padding-top: 20px;
}
.col-lg-6.col-xs-12.locationmap-block.four {
    margin-top: 20px;
}
.location-txt {
    color: #fff;
    font-weight: 500;
    padding: 0;
    width: 100%;
    font-size: 14px;
    /* padding-top: 10px; */
}
 /* .col-lg-9 {
    width: 100%;
} */
 .col-lg-9 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
 .col-xs-9  {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.about-inner1 {
    overflow: hidden;
}
/*================= navigation ===============================*/
.navbar-nav>li>a {
    padding : 15px 4px;
    margin: 10px 10px 10px 2px;
    text-transform: uppercase;
}
.navbar-brand img {
    width: 100px;
    margin-top: -10px;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a {
    color: #443377;
    font-size: 12px;
    font-family: tahoma;
    font-style: sans-serif !important;
}
.navbar-brand {
    float: left;
    height: 70px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #00385c;
}
.navbar-nav>li>a.smoothScroll.active{
    /* border-bottom: 2px solid #fff; */
    font-weight: 600;
}
#infoMenu {
    top: 0;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff !important;
    border: 2px solid #fff;
    padding: 5px !important;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    margin: -6px 0 0 -5px;;
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 0 !important;
    color: #003470;
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a:hover + .fp-tooltip {
    opacity: 1 !important;
}
.fp-tooltip.fp-left {
    background: #2f2b48;
    color: #fff !important;
    padding: 2px 20px;
    content: attr(title);
}
.enq-now {
   /* background-color: #da0d2c; */
    padding: 6px 15px;
    text-transform: uppercase;
    font-size: 15px;
    /* font-weight: 600; */
    border: 1px solid #000;
}
#infoMenu li a:hover {
    text-decoration: none !important;
}
#infoMenu li a {
    display: block;
    margin: 20px !important;
    color: #333;
}
#infoMenu li {
    right: 30px;
    top: 20px;
}
.logo-block {
    background: #fff;
    padding: 1px;
    position: relative;
    right: 310px;
    top: -30px;
    border: 3px solid #d29872;
}
#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 20px;
    margin: 7px;
    position: relative;
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
    color: #003470;
}
.nav img {
    width: 170px !important;
    margin-top: 0px;
    margin-left: 65px;
}

ul.nav.navbar-nav.navbar-right {
    padding-left: -10px;
    margin-left: -40px;
}


/*=================== end of navigation =============================*/

/*============== nav dots ====================*/
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff !important; 
    border: 1px solid #003470;   
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    background: #003470 !important;
    border: 1px solid #fff;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    background: #003470 !important;
    border: 1px solid #fff;
}
/*================Section text========================*/
.intro p {
    color: #000 !important;
}
/*h1 {
    font-size: 5em;
    font-family: arial,helvetica;
    color: #000 !important;
    margin: 0;
}*/
/*====================slider===============================*/
#home {
    margin-top: 70px;
}
section#home {
    overflow: hidden;
}
.slide-block {
    background: #003470;
    height: 100vh;
     width: 5% !important;
}
.header-slide {
}
#slide-block1 .slider-wrap{
  width: 100%;
  padding-top: 0;
  height: 550px;
}
.knowmorebttn1 .enq-now1 {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #ee9985;
}
.knowmorebttn1 {
    outline: none;
}
.knowmorebttn1 {
    position: absolute;
    bottom: 50%;
    left: 32%;
    color: #fff !important;
}
.knowmorebttn1 {
    text-decoration: none;
}
.knowmorebttn .enq-now1 {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #ee9985;
}
.knowmorebttn {
    outline: none;
}
.knowmorebttn {
    position: absolute;
    bottom: 55%;
    left: 48.5%;
    color: #fff !important;
}
.knowmorebttn {
    text-decoration: none;
}
#slide-block1 .slick-slide img {
    /* width: 100% !important; */
    /*height: 100vh;*/
   /* border: 1px solid #636161;*/
}

  
#slide-block1 .slick-counter {
    position: absolute;
    right: 55px;
    bottom: 3px;
    color: #fff;
    /* margin-top: 20px; */
    font-size: 22px;
    z-index: 9;
    /* text-align: center; */
}
.cont-bg {
    height: 40px;
    background: #000000b3;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*================================================*/

/*=================OVERVIEW===================*/
hr.line {
    width: 30%;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
 .overview-img {
    background: url(/images/Realty/AsterLandingPage//overview.jpg);
    height: 90vh;
    background-size: cover;
}
.overview-main {
    /* padding: 60px 30px; */
    max-height: 100vh;
    /*height: 100vh;*/
    display: table;
    /* padding: 0px 20px 20px; */
}
.overview-main2 {
  max-height: 100vh;
    height: 100vh;
    display: table;
    padding: 20px 20px;
    /*background-color: #9ed6dc;*/
}
.overview-main1 {
    text-align: center;
    padding: 20px 22px;
}
.overviewtopsection{
    position: relative;
    /*bottom: -50px;*/
    z-index: 999;
}
.overviewimg img {
    width: 100%;
    height: auto;
}
hr.about-hr {
    margin: 10px 0px 20px;
    border: 0;
    border-top: 2px solid #636363;
    width: 93%;
}
#section2 {
    /* padding: 50px 0px; */
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
#section2 .overview-head h1 {
    font-size: 35px;
    color: #fff; 
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
#section2 .overview-text h1 {
    font-family: 'tahoma' !important; 
    font-weight: 400 !important; 
    margin-top: 10px;
    text-align: center;
    color: #cd1d7b;
}
p.txt.overview-text {
    text-align: center;
    font-size: 16px;
    padding: 0px;
}
p.txt.overview-para {
    padding: 10px 24px 0px 24px;
}
.overview-bg-img {
    background-image: url(/images/Realty/AsterLandingPage//patch.jpg);
    background-repeat: no-repeat;
} 
.overview-bg-col {
    background-color: #ffffffad;
}
#section2 .overview-main p {
color: #443377 !important;
font-family: tahoma !important;
font-style: sans-serif;
text-align: justify;
}
p.text-center {
    text-align: center !important;
}
#section2 h1 {
    color: #00385c;
    text-align: left;
    font-size: 30px;
    margin: 0;
}
.underline1 {
    width: 15%;
    margin-top: 30px;
    margin-left: 5px;
    border-top: 1px solid #e85b78;
}
.overview-text {
    padding: 108px 20px;
}
.overview-text p {
    margin-block-start: 1em;
    font-size: 15px;
    color: #000;
    text-align: left;
}
.overview-text li {
    text-align: left;
    font-size: 15px;
    color: #000;
    padding: 5px 0px;
}
/* .overview-text {
    display: table-cell;
    vertical-align: middle;
    background-color: #003470;
    padding: 10px 45px;
} */
.overview-text1 {
    display: table-cell;
    vertical-align: middle;
    background-color: #9ed6dc;
    padding: 0px 20px;
}
.overview-text1 p {
    margin-block-start: 1em;
    font-size: 15px;
    color: #000;
    text-align: center;
    border: 1px solid #E6B6AA;
    border-radius: 5px;
    padding: 20px 0px;
    height: 100px;
}
.highlight {
    /* text-align: center; */
    display: table;
    max-height: 150px;
    height: 150px;
    width: 150px;
    background: #e6e6e6;
    margin: 25px;
    /* display: inline-table; */
}
.highlight:hover{
    border-radius: 80px;
    background: #da0d2c;
    max-height: 150px;
    height: 150px;
    width: 150px;
    color: #fff !important;
}
p.block1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
p.block1:hover{
    color: #fff;
}
/*=============Amenity slick slider==================*/
#slick2 .slick-dots{
    bottom: -45px;
}

.inner-amenities {
    background-color: #250d03;
    padding: 40px 0px;
}
#slick2 .slick-dots li button:before {
  font-size: 0px;
}

li.slick-active {
    background: #ff0!important;
}
#slick-club2  li.slick-active {
    background: #fff !important;
}
#slick2 .slick-dots li {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 5px;
    margin: 0 9px;
    padding: 0;
    cursor: pointer;
    background: #af1280;
}
#slick2 .slick-dots li:hover {
    background: #af1280 !important;
}
#slick2 .slick-dots li:active {
    background: #af1280 !important;
}
#slick2 .slick-dots li:focus{
	background: #af1280 !important;
}
#slick2 .slick-dots li {
    background: #fff;
}
/*#slick2 .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 45px;
    height: 2px;
    padding: 2px;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    outline: none;
    background: #886f64;
}*/

#section3 {
    background: linear-gradient(0deg,rgb(243 228 225),rgb(243 228 225 / 44%)),url(/images/Realty/AsterLandingPage//gallery/gallery-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
}
#carousel .flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
    border: 1px solid #003470;
}
#carousel li.flex-active-slide {
    border: 1px solid #fff !important;
}

.amenities{
  padding: 68px 100px !important;
}
.ug-panel-handle-tip.ug-handle-tip-left.ug-skin-default {
   /* display: none !important;*/
}
.ug-gallery-wrapper .ug-slider-wrapper {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    border: 2px solid #D2AA41;
    background-color: #fff;
    left: 0px !important;
}
.ug-thumb-wrapper .ug-thumb-border-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-style: solid;
    width: 200px !important;
    height: 40px !important;
}
.ug-gallery-wrapper .ug-strip-panel {
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    width: 220px !important;
    right: 0px !important;
}
#slider.flexslider {
    background: none;
    border: unset;
    width: 770px;
    height: 495px;
}
.demo{
    position: absolute;
    width: 329px;
    top: 10%;
    left: -280px;
    height: 375px;
    z-index: 9999;
    padding: 10px;
    background-color: #db714a;
    margin: 0px 0 0px;
}
#carousel.flexslider {
    z-index: 9999;
    padding: 5px;
    background-color: #db714a;
    border: 1px solid #fff;
    margin: 0px 0 0px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible !important;
}
.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: visible !important;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.ame-content {
    background-color: red;
    position: absolute;
    left: -125px;
}
/*===========================================*/
/*===================CLUB==================*/
#club2 {
    display: none;
}
#club .heading {
    background-image: url('/images/Realty/AsterLandingPage//plain.jpg') !important;
}
#club .heading p{
    padding: 0px;
}
#club2 .heading {
    background-color: #325a36;
}
#club2 .heading p{
    padding: 0px;
}
.inner-club p {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding:0px 120px 20px;
}
#slick-club .slick-dots{
    bottom: 15px;
}
#slick-club2 .slick-dots{
    bottom: -40px;
}
.inner-club {
    background-color: #fff;
    overflow: hidden;
    padding: 30px 0px 0px 0px;
}
.inner-club .slick-dotted.slick-slider {
    margin-bottom: 0px;
}
#slick-club .slick-dots li button:before {
  font-size: 0px;
}
li.slick-active {
    background: #af1280 !important;
}
#slick-club .slick-dots li {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 5px;
    margin: 0 9px;
    padding: 0;
    cursor: pointer;
    background:  #af1280;
}
#slick-club2 .slick-dots li button:before {
  font-size: 0px;
}
li.slick-active {
    background: #af1280 !important;
}
#slick-club2 .slick-dots li {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 5px;
    margin: 0 9px;
    padding: 0;
    cursor: pointer;
    background: #fff;
}
/*================END OF CLUB==============*/
/*==============Gallery Slick slider=============*/
#section4 {
    background-image: url('/images/Realty/AsterLandingPage//gallery/gallery-bg.jpg');
    background-size: cover;
    /*position: fixed;*/
}
.slick-arrow.slick-prev{
  background: url(/images/Realty/AsterLandingPage//left.png) !important;
  height: 40px;
  width: 40px;
  left: 25px !important;
}
.slick-arrow.slick-prev:hover{
  background: url(/images/Realty/AsterLandingPage//left.png);

}
.slick-arrow.slick-next {
  background: url(/images/Realty/AsterLandingPage//right.png) !important;
  height: 40px;
  width: 40px;
  right: 25px !important;
}
.slick-arrow.slick-next:hover {
  background: url(/images/Realty/AsterLandingPage//right.png);

}
.gallery {
    background: rgb(0 0 0);
    overflow: hidden;
}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  hight:100vh;
   position: relative;
  margin: auto;
}
.mySlides {
    padding: 20px 0px;
  }
.mySlides img{     
    /*width: 100%;
    height: 565px;*/
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    right: -150px;
    bottom: 20px;
    width: 40px;
    padding: 6px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 99;
    border: 1px solid;
    border-radius: 28px;
}

/* Position the "next button" to the right */

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    right: -94px;
    bottom: 10px;
}

/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}*/

/*.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.gal-title {
    display: table;
    max-height: 100vh;
    height: 90vh;
}
.gal-txt {
    display: table-cell;
    vertical-align: middle;
}

.underline2 {
    width: 8%;
    position: relative;
    border: 0;
    border-top: 2px solid #00385c;
    margin: 0 auto 30px;
}
.underline3 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    position: relative;
    right: -3px;
    border: 0;
    border-top: 1px solid #da0d2c;
}
.underline5 {
    width: 5%;
    position: relative;
    border: 0;
    border-top: 2px solid #a3651c;
    margin: 0 auto 20px;
}
.underline6 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
    position: relative;
    right: -1px;
    border: 0;
    border-top: 1px solid #fff;
}
.underline7 {
    width: 10%;
    position: relative;
    border: 0;
    border-top: 2px solid #000000;
    margin: 10px auto 20px;
}
.underline8 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 8%;
    position: relative;
    right: -3px;
    border: 0;
    border-top: 1px solid #da0d2c;
}
.underline9 {
   margin-top: 15px;
    margin-bottom: 35px;
    width: 8%;
    position: relative;
    right: -5px;
    border: 0;
    border-top: 2px solid #ffffff;
}
.underline10 {
    width: 5%;
    position: relative;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: 0 auto 30px;
}

/*
.back {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 100;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  transition: color .3s;
}
.back:hover {
  color: #aaa;
}
h1 {
  padding: 2em 0;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}
h2 {
  font-size: 24px;
  text-align: center;
}
.slider-wrap {
  width: 750px;
  margin: 0 auto;
  padding-top: 40px;
}
.slick-slide img {
  width: 100%;
  height: 575px;
  border: 1px solid #636161;
}
.slick-arrow {
  position: absolute;
  top: 98%;
  z-index: 100;
  padding: 4px 8px;
  background: #000;
  border: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  cursor: pointer;
}
.slick-arrow:hover {
  color: #fff;
  opacity: .6;
}
.slick-prev {
    right: -163px;
}
.slick-next {
    right: -226px;
}
.slick-counter {
    position: absolute;
    right: -70px;
    bottom: -4px;
    color: #fff;
    font-size: 22px;
}
span.total {
    color: #5c5c5c;
}
span.current {
    color: #fff;
}*/
/*=============================================*/


/*================Location================*/
#section6 {
    padding: 30px 0px;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
}
hr.locationadv-hr {
    width: 5%;
    position: relative;
    border: 0;
    border-top: 2px solid #000000;
    margin: 0 auto 30px;
}
.connectivity {
    margin: 9px 0px;
}
#locationMap {
    padding: 50px 22px 20px;
    overflow: hidden;
}
.floorgal-list {
    /* padding: 19px 0; */
    padding-left: 1px;
}
.demo-gallery > ul > li a {
    border: none !important;
    border-radius: inherit;
    display: block;
    overflow: hidden;
    position: relative;
    /* float: left; */
}
.floorplan-anchor {
    border: 1px solid #424242 !important;
}
.demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.demo-gallery > ul > li a .demo-gallery-poster {
    /* background-color: rgba(0, 0, 0, 0.1); */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    border: none !important;
}
div#googlemap {
    width: 100%;
    height: auto;
    margin: 0px 0px;
    border: 1px solid #000;
}
.location-inner {
    background-image: url(/images/Realty/AsterLandingPage//background.jpg);
    padding-bottom: 20px;
}
#locationMap .nav-tabs {
    border-bottom: none;
    /* padding-top: 20px; */
    font-family: ElectroluxSansRegular;
    margin-top: 30px;
}
#locationMap .nav-tabs>li {
    /* float: right; */
    text-align: center;
    margin-bottom: -1px;
}
.col-lg-6.col-xs-12 .col-lg-3.col-xs-3 {
    padding-left: 7px;
}
#locationMap .nav-tabs>li.active>a, #locationMap .nav-tabs>li.active>a:hover, #locationMap .nav-tabs>li.active>a:focus {
    color: #fff !important;
    background-color: #001c2e;
    border: 1px solid #001c2e;
    border-bottom-color: transparent;
    cursor: default;
}
#locationMap .nav>li>a {
   color: #000 !important;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #001c2e;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    background-color: #b1b1b100;
}

.distance1 li {
    font-size: 15px;
    color: #6b4c2d;
    font-weight: 700;
    padding: 5px 0px;
    text-align: left;
}
.nearbylocations {
    font-family: ElectroluxSansRegular;
    text-align: center;
    border: 1px solid #001c2e;
    padding: 40px;
}
.nearby-inner li {
    margin-bottom: 12px;
    color: #6b4c2d;
    font-weight: 600;
}
.nearby h1 {
    font-size: 23px;
    color: #6b4c2d;
    margin-bottom: 10px;
}
.nearby {
    padding: 10px 35px;
}
.connect p {
    font-size: 15px;
    margin-top: 12px;
    color: #000;
}
/*======================================*/
/*================contact us=================*/
.contact {
    height: 100%;
    width: 100%;
    /*background: url(/images/Realty/AsterLandingPage//contact-bg.jpg)no-repeat;*/
    /*position: fixed;*/
    background-size: cover;
}
.contact-block {
    height: auto;
    padding: 0px 0px 30px !important;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #ff0000;
}
.contact-inner {
    background: #d5cdcad1;
}
.map {
    padding-top: 0px;
}
#ContactForm {
    background-color: #fff;
    padding: 20px;
}
#ContactForm .input-group {
    margin: 10px auto;
}
.input-group {
    position: relative;
    display: table;
    text-align: center;
    margin: 4px auto;
    width: 100%;
}
/*textarea.form-control {
    height: 100px;
}*/
.contact-form-inner {
    border: 1px solid;
}
#submitf {
    background-color: #443377;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #443377;
    /*float: right;*/
}
.contact-form {
    padding-top: 0px;
}
/*.contact-form-inner {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 60px;
}*/
.underline4 {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 0px;
    width: 10%;
    border: 0;
    border-top: 1px solid #8c8c8c;
}
#footer{
    background: #443377;
    max-height: 30vh;
    height: 30vh;
    display: table;
}
#footer p {
    font-size: 13px;
    color: #ffffff;
    /* text-align: justify; */
    padding-bottom: 10px;
}
.footer-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 70px;
}
.footer-inner p {
    text-align: center;
}
.footer-inner .disc p {
    text-align: left;
}
p#dis {
    font-size: 10px;
}
/*.address {
    padding: 20px;
}*/

/*===================================*/
/*================Footer====================*/
/*.footer {
    height: 100%;
    width: 100%;
    background: url(/images/Realty/AsterLandingPage//contact-bg.jpg)no-repeat;
    position: fixed;
    background-size: cover;
}*/
/*====================================*/
/*================plan================*/
#section5{
  padding: 60px 30px;
  background-color: #00385c;
}
div#section7 {
    border-top: 1px solid #857f43;
    border-bottom: 1px solid #857f43;
}

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
.plan .title{
      margin-top: 0% !important;
}
.configtop{
    margin-top: 20px;
    padding: 0px;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  height: auto;
  background-color: #a3651c;
  padding-bottom: 1%;
}
p.configtext {
    font-size: 15px !important;
    color: #000;
}
.configline{
  border-bottom: 1px solid #000;
  margin-bottom: 35px !important;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #a3651c;
    border: unset;
}
a.pricepop{
    color: #a3651c;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: unset;
  color: #fff;
    font-weight: 800;
}
a.list-group-item, button.list-group-item {
    color: #fff;
}
.bhoechie-tab-content img {
    /*width: 100%;*/
    border: 1px solid #000;
}
/*div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}*/
.bhoechie-tab {
    padding-bottom: 10px;
}
div.bhoechie-tab-content{
  /* background-color: #ffffff; */
  /* border: 1px solid #eeeeee; */
  /*padding-left: 20px;*/
  /*padding-top: 10px;*/
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.modal-dialog {
    width: 50%;
    margin: 30px auto;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    color: #000;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #000;
    font-size: 15px;
    text-align: center;
}
.modal-content {
    border-radius: 0px !important;
}
.input-group .form-control {
    border-radius: 0px;
}
.gal-block p {
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.meetrise {
    padding: 30px 0px;
}
/*=============================================*/
/*------------------------meet rise-----------------------*/
.slider1 {
  position: relative;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
/* .slick-slide img {
  width: 100%;
} */
/* Slider Caption Design */
.slider-image {
  position: relative;
}
.slider-image .slider-caption-wrap {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  color: #FFF;
  vertical-align: top;
}
.slider-image .slider-caption-wrap .caption-details {
  display: block;
  height: 100px;
  width: -webkit-calc(100% - 430px);
  width: -moz-calc(100% - 430px);
  width: -ms-calc(100% - 430px);
  width: calc(100% - 430px);
  margin: 0 auto;
  padding: 10px 0;
  overflow: auto;
  font-size: 16px;
  line-height: 1.4;
}
/* Slider thumbnails and Slider Nav Design */
#section4 .slick-thumb-nav img {
  width: 100px;
}
.slick-arrow {
  top: auto;
  bottom: 45%;
  z-index: 9;
  display: inline-block;
  height: auto;
  width: auto;
  margin-bottom: 0;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow:before { display: none; }
.slick-arrow .arrow-icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: rgba(0, 0, 0, .5);
  color: #FFF;
  font-size: 55px;
  opacity: 0;
  -webkit-transition: .5s all ease 0s;
  -moz-transition: .5s all ease 0s;
  -ms-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}
.slideshow__slides:hover .slick-arrow .arrow-icon {
  opacity: 1;
}
.slick-arrow .arrow-icon span {
  display: inline-block;
  padding: 30px 0;
  font-size: 40px;
}
.slick-arrow .arrow-icon.prev-slick-arrow {
  left: 0;
}
.slick-arrow .arrow-icon.next-slick-arrow {
  right: 0;
}
/* Slider dot design */
.slick-dots li button:before {
  font-size: 16px;
}

/**
 * Responsive design
 */
@media (max-width: 992px) {
  /* Slider Nav Design */
  .slick-arrow .arrow-icon { display: none; }
}
@media (max-width: 640px) {
  /* Slider thumbnails Design */
  .slick-thumb-nav img {
    width: 120px;
  }
  /* Slider Caption Design */
  .slider-image .slider-caption-wrap .caption-details {
    height: 60px;
    width: -webkit-calc(100% - 260px);
    width: -moz-calc(100% - 260px);
    width: -ms-calc(100% - 260px);
    width: calc(100% - 260px);
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  /* Slider thumbnails Design */
  .slick-thumb-nav img {
    width: 85px;
  }
  .slick-arrow .slick-thumb-nav {
    margin-bottom: 0;
  }
  .slick-prev .slick-thumb-nav {
    margin-left: 0;
  }
  .slick-next .slick-thumb-nav {
    margin-right: 0;
  }
  /* Slider Caption Design */
  .slider-image .slider-caption-wrap {
    position: relative;
    bottom: auto;
  }

  .slider-image .slider-caption-wrap .caption-details {
    height: 43px;
    width: -webkit-calc(100% - 185px);
    width: -moz-calc(100% - 185px);
    width: -ms-calc(100% - 185px);
    width: calc(100% - 185px);
    padding: 3px 0;
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  /* Slider dot design */
  .slick-dots li { margin: 0; }
  .slick-dots li button:before {
    font-size: 12px;
  }
}
/*------------------------meet rise------------------------*/
#instant-callback-div {
    /* font-family: 'Open Sans', Arial, sans-serif; */
    position: fixed;
    vertical-align: top;
    /* padding: 0 0 24px 0px; */
    right: -247px;
    top: 20%;
    /* width: 280px; */
    height: 0;
    z-index: 1000;
}
#instant-callback-div .instant-switch {
    background: url(/images/Realty/AsterLandingPage//enquire.jpg) no-repeat scroll 0 0;
    -webkit-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    height: 140px;
    vertical-align: top;
    width: 30px;
    border: 1px solid #fff;
    position: relative;
}
#instant-callback-div .content-switcher {
    background-color: #fff;
    display: inline-block;
    width: 245px;
    margin: 0 0 0 -4px;
    padding: 0 16px 12px;
    vertical-align: top;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
#instant-callback-div h4 {
    border-bottom: 1px solid #EDEDED;
    /* margin-bottom: 20px; */
    padding-bottom: 15px;
    padding-top: 15px;
}
#hide {
    background-color: #FFFFFF;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    height: 32px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 40px;
    cursor: pointer;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 0;
}
#hide img {
    opacity: 0.3;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#instant-callback-div .input-group {
    margin: 8px auto;
}
.input-group {
    position: relative;
    display: table;
    text-align: center;
    margin: 11px auto;
    width: 100%;
     margin-left: 15px;
}
h3.modal-title {
    font-size: 16px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body .col-sm-2 {
    width: 24%;
    padding: 0px 5px;
}
#inquiryForm {
    display: none;
    background-color: #ececec;
    bottom: -18px;
    -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
    padding: 0 0 15px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#inquiryForm h4 {
    margin: 18px 0 0;
}
#inquiryForm .input-group-addon {
    background-color: #215937;
    color: #fff;
    border-color: #215937;
}
.inquireButton {
    padding: 5px;
    background-color: #443377;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    bottom: 0;
    -webkit-box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
    box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
    color: #fff;
    cursor: pointer;
    display: none;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 400;
    padding: 5px 20px;
    position: fixed;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 1000;
    width: 100%;
    border-right: 1px solid #fff;
}
button.callbutton.btn {
    background-color: #2b0f02;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    bottom: 0;
    -webkit-box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
    box-shadow: 0 1 3px rgba(0, 0, 0, 0.33);
    color: #fff;
    cursor: pointer;
     display: none; 
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 400;
    padding: 5px 20px;
    position: fixed;
    right: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 1000;
    width: 50%;
}
.col-lg-2.text-right {
    font-size: 20px;
}
/* div#section8 {
   margin-bottom: 50px;
   margin-top: 30px;
} */
.slick-counter {
    display: none;
}
.scrollup {
    font-size: 30px;
    background: #003470;
    text-align: center;
    font-color: #fff;
    padding: 1px;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 60px;
    right: 50px;
    cursor: pointer;
    color: #fff;
    border-radius: 15px;
    z-index: 9999999;
}
.scrollup i.fa.fa-arrow-circle-up {
    position: fixed;
    right: 52px;
    bottom: 61px;
}

/* -------------- about emaar start ------------------- */
ul.about-pointers {
    margin-block-start: 1em;
    font-size: 15px;
    color: #000;
    padding-left: 20px;
}
.about-pointers li {
    padding-bottom: 13px;
}
#aboutUs {
    padding-top: 30px;
}
.about-bg2 {
    background-color: #00385c;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    margin: 0px 0px 20px;
}
.aboutus-block1 {
   /* background-color: #020200d1;*/
    /* height: 750px; */
    width: 100%;
}
.about-content {
    margin: 76px 30px 0px;
}
.section-head {
    font-family: tahoma;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}
.about-content p {
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    font-family: ElectroluxSansRegular;
}
/* -------------- about emaar end ------------------- */
.list-unstyled  > li a {
    border: 2px solid #888585;
    border-radius: inherit;
    display: block;
    overflow: hidden;
    position: relative;
    /* float: left; */
}
.list-unstyled  > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.list-unstyled  > li a .demo-gallery-poster {
    /* background-color: rgba(0, 0, 0, 0.1); */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.list-unstyled  > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    border: none !important;
}
.list-unstyled  {
    margin-bottom: 0;
    /*padding-top: 20px;*/
}
#lightgallery4 .floorgal-list {
   /* padding: 19px 0;*/
    padding-left: 70px;
}
.floorgal-list {
    padding: 0px 0px;
    padding-left: 0px;
}
.list-unstyled  > li a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.7);
    /* width: 1050px; */
}
.list-unstyled  > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.list-unstyled  > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.list-unstyled  > li a:hover .demo-gallery-poster > img {
    opacity: 1;
}
/*=============Why indore============*/
#section6 p {
    font-size: 18px;
    /* color: #000; */
}
hr.underline11 {
    width: 5%;
    position: relative;
    border: 0;
    border-top: 2px solid #00385c;
    margin: 0 auto 30px;
}
p.why-indore-subhead {
    font-size: 25px !important;
    padding: 10px 0px;
    color: #00385c !important;
    font-weight: 600;
}
#section6 ul::before {
    content: "\25AA"; 
    color: black;
    display: inline-block;
    width: 1em;
    font-size: 24px;
    float:left;
    /*margin-left: -1em;*/
}
/*.indore-pointers p::before {
    content: "\25AA"; 
    color: black;
    display: inline-block;
    width: 1em;
    font-size: 24px;
}*/
#section6 li{
    font-size: 15px;
    color: #000;
    padding-top: 9px;
}
.why-indore {
    padding: 20px 0px 0px;
    /*border: 2px solid #794911;*/
    /* margin-top: 30px; */
}
.indore-elevation img {
    height: 450px;
    width: 100%;
}
.indore-pointers {
    padding: 15px 13px;
    text-align: left;
}
#indore-investements-axis li::before {
    content: "\2014";
    color: #fff;
    display: inline-block;
    position: absolute;
    width: 1em;
    margin-left: -15px;
}
.investment-pointers {
    padding: 65px;
}
.investment-pointers h3 {
    font-size: 30px;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 600;
}
hr.underline12 {
    width: 19%;
    position: relative;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: 0px 0px 25px;
}
#slick-aboutus {
    padding: 20px 0px 50px;
}
#slick-aboutus img {
    height: auto;
    width: 100%;
}
.about-image {
    padding: 15px;
    border: 1px solid #fff;
}
.emaar-innerhead {
    font-size: 30px !important;
    color: #fff;
    padding-bottom: 20px;
}
.emaar-content p {
    font-size: 14px;
    color: #fff;
    padding-bottom: 8px;
}
.emaar-content {
    padding: 100px 40px;
}
.emaar-content2 {
    padding: 25px 40px;
   }
.emaar-content2 p {
      font-size: 14px;
    color: #fff;
     padding-bottom: 8px;
}
/*.emaar-content2 {
    padding: 115px 40px;
}*/

/* #slick-aboutus .slick-dots{
    bottom: 2px;
} */
#slick-aboutus .slick-dots li button:before {
  font-size: 0px;
}

#slick-aboutus li.slick-active {
    background: #fff !important;
}
#slick-aboutus .slick-dots li {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 5px;
    margin: 0 9px;
    padding: 0;
    cursor: pointer;
    background: #ffff00;
}
.nearby-inner {
    font-size: 15px;
    color: #000;
         padding-bottom: 10px;
}
.inner-investements-axis {
    background: #000000;
}
.investment-pointers li {
    padding-bottom: 8px;
}
.investment-pointers {
    padding: 89px;
    background: url(/images/Realty/AsterLandingPage//investment-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}
.locationMap-heading p {
    font-size: 15px;
    color: #00385c;
    padding: 0px 50px 40px;
    text-align: center;
    margin-block-start: 1em;
    font-family: tahoma !important;
}
.locationmap-rightblock.aos-init.aos-animate li {
    color: #fff !important;
    font-size: 12px;
}
.locationmap-rightblock.aos-init.aos-animate ul {
    list-style-type: disc !important;
    padding: 15px 0px 0px 20px;
}
.about-border {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 3px 0px;
    margin: 10px 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.plans-header p {
    font-size: 20px;
    color: #000;
    padding-bottom: 30px;
}

/* project highlights start */
/* .project-one {
    margin-top: 150px;
} */
.col-lg-4.aos-init.aos-animate img {
    width: 75px;
}
.col-lg-12.project-one.aos-init.aos-animate {
    padding-top: 30px;
}
.project-one h1 {
    text-align: center;
    font-size: 35px; 
    color: #af1280; 
    margin-bottom: 10px; 
    font-weight: 400 !important;
    font-family: tahoma !important;
}
.project-two .col-lg-4{
    text-align: center;
    height: auto;
    padding: 20px;
}

#projecthighlights {
    background-color: #Fff;
    /* padding-bottom: 30px; */
    background-repeat: no-repeat;
    background-size: cover;
}
.project-bg h6 {
    color: #443377;
    font-family: tahoma !important;
    text-align: center;
    font-size: 17px;
}
.project-bg p {
    color: #443377;
    text-align: center;
}
.project-bg .col-lg-6 {
 padding: 20px;
 text-align: center;
}
 
/* project highlights end */

/* floor plan start */
.fplan-bg{
    background-image: url(/images/Realty/AsterLandingPage//plain.jpg);
    padding-bottom: 40px;
}
#fplan {
    /* background-color: #443377; */
    padding-top: 50px;
    padding-bottom: 50px;
}
.fplan .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
  }
  .fplan img {
      width: auto;
      height: auto;
  }
/* floor plan end */

/*===========*/

/*Amenity gallery*/

.photo-slider .slick-prev:before {
    display: none;
}
.photo-slider .slick-next:before {
    display: none;
}
#amenities {
    padding: 30px 0px;
    background-color: #f8f7f3;
}
#amenities .slick-track {
    padding: 0 0 30px 0;
}
#amenities .slick-slide {
    margin: 0;
    padding: 0;
}
#amenities .slick-slide img {}
#amenities .slick-prev, 
#amenities .slick-next {
    width: 50px;
    height: 40px;
    z-index: 1;
    top: auto;
    bottom: -50px;
    border: solid 1px #d2b77f;
}
#amenities .slick-prev {
    right: 100px;
    left: auto;
    background: url(/images/Realty/AsterLandingPage//back.png) no-repeat center center;
}
#amenities .slick-prev:hover {
    background: #1d2654 url(/images/Realty/AsterLandingPage//back-h.png) no-repeat center center;
}
#amenities .slick-next {
    right: 30px;
    background: url(/images/Realty/AsterLandingPage//next.png) no-repeat center center;
}
#amenities .slick-next:hover {
    background: #1d2654 url(/images/Realty/AsterLandingPage//next-h.png) no-repeat center center;
}
#amenities .slick-prev:hover, 
#amenities .slick-next:hover {
    border: solid 1px #1d2654;
}

.gathum, .vothum {
    margin: 0;
    padding: 0;
    position: relative;
}
.gathum a, .vothum a {
    color: #333;
    text-decoration: none;
}

.gathum1{
    margin: 0;
    padding: 0;
    position: relative;
}
.gathum1 a {
    color: #333;
    text-decoration: none;
}
.gatitle {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    margin: 0;
    padding: 5px;
    z-index: 2;
    font-weight: 600;
}
.gathum .overlay,
.gathum .vothum {
    display: none;
}
.gathum .overlay img,
.vothum .overlay img {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gathum:hover .overlay,
.vothum:hover .overlay {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
}

.gathum1 .overlay,
.gathum1 .vothum {
    display: none;
}
.gathum1 .overlay img,
.vothum .overlay img {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gathum1:hover .overlay,
.vothum:hover .overlay {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
}
img.locationmapimages {
    width: 100%;
    padding: 10px;
}
/*.gathum:hover .gatitle,
.vothum:hover .gatitle {
    color: #fff;
    background: transparent;
}*/
/* modal form */
.modal-body {
    padding: 0px;
}

.modal-dialog .modal-title img {
    width: 100%;
}

#club2 .heading{
    background-color: #443377;
    text-align: center;
}
.heading-test {
    background-image: url(/images/Realty/AsterLandingPage//background.jpg);
    text-align: center;
}
.se-testimonial .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*  */


/* about developer start */

.aboutdev-bg {
    /* background-image: url(/images/Realty/AsterLandingPage//Icon/about-us.jpg);
    height: 550px; */
    padding-bottom: 20px;
}
.aboutdev-inner {
    background-color: #ffffff87;
}
p#aboutdev-cont2 {
    font-size: 12px;
    color: #443377;
}
.aboutdev-cont.text-center {
    /* width: revert; */
    padding: 20px 100px 0px 100px;
}
/* about developer start */



/* Landscape Responsive code */
#lock{ display:none; color: #fff; }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  #lock{ 
      display:block;
     text-align: center;
    position: relative;
    top: 50%;
    font-size: 34px; 
 }
  #container1{ display:none; }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
#lock{ display:none; }
#container1{ display:block; }
}




@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
#lock{ display:block; 
text-align: center;
position: relative;
top: 50%;
font-size: 34px;
}
#container1{ display:none; }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
#lock{ display:none; }
#container1{ display:block; }
}




@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
#lock{ display:block;
text-align: center;
position: relative;
top: 50%;
font-size: 34px;
}
#container1{ display:none; }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
#lock{ display:none; }
#container1{ display:block; }
}


@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: landscape) {
#lock{ display:block;
text-align: center;
position: relative;
top: 50%;
font-size: 34px;
}
#container1{ display:none; }
}
@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
#lock{ display:none; color: #fff;}
#container1{ display:block; }
}



@media screen and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
#lock{ display:block;
text-align: center;
position: relative;
top: 50%;
font-size: 34px;


}
#container1{ display:none; }


}
@media screen and (min-width: 600px) and (max-width: 960px) and (orientation: portrait) {
#lock{ display:none; }
#container1{ display:block; }

}



@media screen and (min-width: 820px) and (max-width: 1180px) and (orientation: landscape) {
#lock{ display:block;
text-align: center;
position: relative;
top: 50%;
font-size: 34px;
}
#container1{ display:none; }
}
@media screen and (min-width: 820px) and (max-width: 1180px) and (orientation: portrait) {
#lock{ display:none; }
#container1{ display:block; }

}

   /* Landscape Responsive code */

   	/* Landscape Responsive code */
       #lock{ display:none; color: #000; }

       @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
         #lock{ 
             display:block;
            text-align: center;
           position: relative;
           top: 50%;
           font-size: 34px; 
        }
         #container1{ display:none; }
       }
    @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
      #lock{ display:none; }
     #container1{ display:block; }
   }
   
   
   
   
       @media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
     #lock{ display:block; 
    text-align: center;
       position: relative;
       top: 50%;
       font-size: 34px;
    }
     #container1{ display:none; }
   }
    @media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
      #lock{ display:none; }
     #container1{ display:block; }
   }
   
   
   
   
     @media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
     #lock{ display:block;
    text-align: center;
       position: relative;
       top: 50%;
       font-size: 34px;
    }
     #container1{ display:none; }
   }
    @media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
      #lock{ display:none; }
     #container1{ display:block; }
   }
   
   
       @media screen and (min-width: 320px) and (max-width: 640px) and (orientation: landscape) {
     #lock{ display:block;
    text-align: center;
       position: relative;
       top: 50%;
       font-size: 34px;
    }
     #container1{ display:none; }
   }
    @media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
      #lock{ display:none; color: #fff;}
     #container1{ display:block; }
   }
   
   
   
    @media screen and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
     #lock{ display:block;
     text-align: center;
       position: relative;
       top: 50%;
       font-size: 34px;
   
   
    }
     #container1{ display:none; }
       
   
   }
    @media screen and (min-width: 600px) and (max-width: 960px) and (orientation: portrait) {
      #lock{ display:none; }
     #container1{ display:block; }
   
   }
   
   
   
    @media screen and (min-width: 820px) and (max-width: 1180px) and (orientation: landscape) {
     #lock{ display:block;
    text-align: center;
       position: relative;
       top: 50%;
       font-size: 34px;
    }
     #container1{ display:none; }
   }
    @media screen and (min-width: 820px) and (max-width: 1180px) and (orientation: portrait) {
      #lock{ display:none; }
     #container1{ display:block; }
   
   }
