@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel

<div class="container">
    @Html.Sitecore().Placeholder("banner-section")
    @Html.Sitecore().Placeholder("section-wrap")
    @Html.Sitecore().Placeholder("profile-info")
</div>
