@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{ Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();
}

@if (currentItem != null)
{
    <section class="banner-section bannerBox">
        <h2 class="page-title">
            @Html.Sitecore().Field("Title", currentItem)
        </h2>
        <div class="about-banner">
            <img src=@_helper.GetImageURL(currentItem,"Image") class="img-fluid rounded" loading="lazy">
        </div>

    </section>
}
