@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@using Adani.SuperApp.Airport.Feature.StaticPages.Platform
@model RenderingModel
@{ Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.MultilistField ourValues = ((Sitecore.Data.Fields.MultilistField)currentItem.Fields["OurValues"]);
    IHelper _helper = new Helper();

    }

@if (currentItem != null)
{

    <section class="other-service pt-wrap" id="ourvalues">
        <h3>@Html.Sitecore().Field("OurValuesSectionTitle", currentItem)</h3>
        <div class="arrow_pos">
            <div class="other-services slider-airports frames">
                @foreach (Sitecore.Data.Items.Item values in ourValues.GetItems())
                {
                    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)values.Fields["Image"]);
                   string imageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(values, "Image") : "";

                    <div class="slider-box">
                        <img src="@imageUrl"
                             class="icon-images"
                             alt="..."  loading="lazy"/>
                        @*@Html.Sitecore().Field("Image", values, new { @class = "icon-images" })*@
                        <div class="content p-0">
                            <h5 class="card-title">@Html.Sitecore().Field("Title", values)</h5>
                            <p class="card-text">
                                @Html.Sitecore().Field("Description", values)
                            </p>
                        </div>
                    </div>      }
            </div>
        </div>
    </section>

}








