<div class="ev-contact">
    <div class="container">
        <div class="contant">
            <div class="icon">
                <img src="/electricity_assets/images/car-charge.svg" />
            </div>
            <div class="icon-contant">
                <h2>
                    Fill these forms to<br />go green.
                </h2>
                <h4>Hurry, free installation for<br />limited housing societies only</h4>
                <ul>
                    <li>
                        <a target="_blank" href="/-/media/62D7CDBCC7B64F83A3F62263ECDCD020.pdf"
                           data-gaevent="consent_form"
                           data-gaeventCategory="AEML"
                           data-gaeventAction="ev_consent_form"
                           data-gaeventLabel="EV Contact"
                           class="waves-effect waves-light btn white-btn"><i class="vi-download-bills"></i> Download Consent Form</a>
                    </li>
                    <li>
                        <a target="_blank" href="/-/media/B1FAD5389EAE48329055CCF34F9F711E.pdf" class="waves-effect waves-light btn white-btn"><i class="vi-download-bills"></i> Download Brochure</a>
                    </li>
                </ul>
                <p>Fill the consent form and email it to <strong><a href="mailto:sharecharge@adani.com">sharecharge@adani.com</a></strong></p>
                @*<a href="/powering-ev" class="waves-effect waves-light btn green-btn">Take the Green Pledge</a>*@
            </div>
            <div class="tree"><img src="/electricity_assets/images/tree.svg" /></div>
        </div>
    </div>
</div>