<div class="ev-gallery">
    <div class="container">
        <h2>EV charging infrastructure made easy.</h2>

        <div class="owl-carousel owl-center-mode">
            <div><iframe src="https://www.youtube.com/embed/35tB1eQG75E" title="Adani Group Chairman Mr Gautam Adani addresses the Adani Digital Labs team | August 2021" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div><iframe src="https://www.youtube.com/embed/35tB1eQG75E" title="Adani Group Chairman Mr Gautam Adani addresses the Adani Digital Labs team | August 2021" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div><iframe src="https://www.youtube.com/embed/35tB1eQG75E" title="Adani Group Chairman Mr Gautam Adani addresses the Adani Digital Labs team | August 2021" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div><iframe src="https://www.youtube.com/embed/35tB1eQG75E" title="Adani Group Chairman Mr Gautam Adani addresses the Adani Digital Labs team | August 2021" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
    </div>
</div>
@*<script>
    var $owl = $('.owl-carousel');

    $owl.children().each(function (index) {
        $(this).attr('data-position', index); // NB: .attr() instead of .data()
    });

    $owl.owlCarousel({
        center: true,
        loop: true,
        items: 3,
        margin: -150
    });

    $(document).on('click', '.owl-item>div', function () {

        var $speed = 300;  // in ms
        $owl.trigger('to.owl.carousel', [$(this).data('position'), $speed]);
    });
</script>*@