<div class="navigation">
    <div class="container">
        <div class="links">
            <ul>
                <li>
                    <a data-gaevent="ev_top_navigation"
                       data-gaeventCategory="AEML"
                       data-gaeventAction="ev_top_navigation_interaction"
                       data-gaeventLabel="EV Pedia"
                       href="/sharecharge/ev-pedia">EV Pedia</a>
                </li>
                <li>
                    <a data-gaevent="ev_top_navigation"
                       data-gaeventCategory="AEML"
                       data-gaeventAction="ev_top_navigation_interaction"
                       data-gaeventLabel="Why Share Charge"
                       href="/sharecharge/why-share-charge">Why Share Charge</a>
                </li>
                @*<li>
                        <a href="/sharecharge/ev-gallery">Videos</a>
                    </li>*@
                <li>
                    <a data-gaevent="ev_top_navigation"
                       data-gaeventCategory="AEML"
                       data-gaeventAction="ev_top_navigation_interaction"
                       data-gaeventLabel="Forms"
                       href="/sharecharge/ev-contact">Forms</a>
                </li>
                <li>
                    <a target="_blank"
                       data-gaevent="ev_top_navigation"
                       data-gaeventCategory="AEML"
                       data-gaeventAction="ev_top_navigation_interaction"
                       data-gaeventLabel="AEML"
                       href="/">AEML</a>
                </li>
            </ul>
        </div>
    </div>
</div>