<div class="ev-pedia-outer">
    <div class="ev-pedia">
        <div class="container">
            <div class="banner-content">
                <figure>
                    <img src="/electricity_assets/images/ev-pedia.svg" />
                </figure>
                <div class="content">
                    <h5>#EVPedia</h5>
                    <p>Don’t get confused with <br /> all kinds of answers</p>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-outer">
        <div class="container">
            <div class="faq">
                <div class="custom_accrdion single-item">
                    <header class="section-header-main justify-item">
                        <h2>FAQ</h2>
                    </header>
                    <div class="accordion">
                        <ul class="collapsible collapsible-accordion" id="faqpedia">
                            <li>
                                <div class="collapsible-header">
                                    What is Demand Side Management Scheme (DSM)?
                                </div>
                                <div class="collapsible-body">
                                    <p>Charging EVs in the night helps Adani Electricity shift electricity demand to non-peak hours and even out the demand peaks. This helps to manage electricity consumption patterns thereby reduction in power outages and grid failures.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Who is Eligible for the DSM Scheme?
                                </div>
                                <div class="collapsible-body">
                                    <p>All Adani Electricity Consumers/Societies having Electric Vehicles (EVs) are eligible for the DSM Scheme. </p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    What are the terms of the DSM Offer?
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            Consumer who has purchased an EVs or are planning to buy an EV
                                        </li>
                                        <li>
                                            Consumer Premises / Societies which have agreed to allot EV charging in common/visitor parking
                                        </li>
                                    </ul>
                                    <p>Requests will be prioritized on a First-come First-serve basis. The earlier you apply the higher the chances.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    What is the one-stop solution by Adani Electricity for the Electric Vehicle (EV) Charging Station under DSM Scheme?
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            Adani Electricity offers to conduct Audit of Power Requirements, Installation of EV Chargers and associated Infrastructure, Operations and Annual Maintenance of the Charger for 7 years without any cost to the society.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    How many chargers would be deployed in the Consumer Premises/society?
                                </div>
                                <div class="collapsible-body">
                                    <p>One charger typically serves 2-3 vehicles. Additional Chargers would be deployed based on utilization.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    What are the different types of EV chargers that AEML is offering under DSM Scheme?
                                </div>
                                <div class="collapsible-body">
                                    <p>Chargers Type : </p>
                                    <p>a. E Bikes/Cars - 16A industrial socket </p>
                                    <p>b. Cars – 7.4 kW Type 2 Universal Connector</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Why should societies go for Shared Electric Vehicle Charging Stations (EVCS)?
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            High safety standards – ARAI/ICAT/CE certified chargers
                                        </li>
                                        <li>
                                            Avoids problem of installing multiple individual charges and drawing multiple unprofessional cables in the parking
                                        </li>
                                        <li>
                                            Exemption in property tax – 5% rebate on common area property tax*
                                        </li>
                                        <li>
                                            Avoid space requirement for individual meters and substation
                                        </li>
                                        <li>
                                            Your electricity utility is managing EV charging facilities
                                        </li>
                                        <li>
                                            Avoid issuing individual NOC to install personal EV charging setup
                                        </li>
                                    </ul>        
                                    <p class="small-font-custom_accrdion">*GR-CR-134-2021 is yet to be implemented by MCGM/MBMC</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Is there any incentive for  society to deploy EV charging station?
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            5% rebate in Property Tax till 31st March 2025*
                                        </li>
                                        <li>
                                            Individuals setting up Charging Station and allowing others get 2% rebate in Property Tax till 31st March 2025*
                                        </li>
                                    </ul>                        
                                    <p class="small-font-custom_accrdion">*GR-CR-134-2021 is yet to be implemented by MCGM/MBMC</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Does the society have to make any payment for EV Charging Station under the Scheme?
                                </div>
                                <div class="collapsible-body">
                                    <p>None. The entire EV Charging facility will be established by Adani electricity under its DSM Program without any cost to Society.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Is this facility exclusive to Society members or can any outsider charge their EV at EVCs installed in the Premises?
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            Yes. This facility will be exclusively for the Society members or guests as per society rules
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    What is the tariff for EV Charging for DSM consumers?
                                </div>
                                <div class="collapsible-body">
                                    <p>EV charging rate shall be net landed rate reconciled on monthly basis as per EV charging tariff approved by MERC from time to time</p>
                                </div>
                            </li>

                            <li>
                                <div class="collapsible-header">
                                    How much time do E-Bikes and 4-Wheelers need for EV Charging? 
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            Normally E-Bikes take around 3 - 4* hours
                                        </li>
                                        <li>
                                            4 Wheelers take around 7 - 8* Hours depending upon battery size and state of charge
                                        </li>
                                    </ul>                                
                                    <p class="small-font-custom_accrdion">*AC charging depends on the onboard charger of the EV and the battery capacity.</p>
                                </div>
                            </li>

                            <li>
                                <div class="collapsible-header">
                                    What is the process of Charging the EV at Adani Charging Station?
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            Download the “Adani EV Charging” Mobile App and register on the app.
                                        </li>
                                        <li>
                                            Recharge inbuilt wallet on the app.
                                        </li>
                                        <li>
                                            Plug in the charging connector to the car/bike EV socket.
                                        </li>
                                        <li>
                                            Scan the QR code installed on EV Charger.
                                        </li>
                                        <li>
                                            Press the start button on mobile app to start charging.
                                        </li>
                                    </ul>                             
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Does EV Charging Station require any physical operator?
                                </div>
                                <div class="collapsible-body">
                                    <p>No. These are self-help EV Chargers and Operator is not required for the same.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Does the EV Charger uses green power?
                                </div>
                                <div class="collapsible-body">
                                    <p>Yes, the EV charger uses renewable energy as the electricity source.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#faqpedia').click(function () {
        dataLayer.push({
            'event': 'ev_faq',
            'eventCategory': 'AEML',
            'eventAction': 'ev_faq_interaction',
            'eventLabel': ' FAQ Clicked',
            'business_user_id': $('#BusinessUserId').val(),
            'login_status': $('#login_status').val(),
            'ca_number': $('#GACANumber').val(),
            'page_type': $('head title').text()
        });
    })

</script>