<div class="share-chargenew">
    <div class="container">
        <div class="banner">
            <div class="banner-heading">
                <h5>Get Straight to the point</h5>
                <figure>
                    <img src="/electricity_assets/images/share-charge-logo.png" />
                </figure>
            </div>
            <figure>
                <img src="/electricity_assets/images/share-charge.svg" />
            </figure>
        </div>
    </div>
    <div class="bg-section">
        <div class="container">
            <div class="icons-section">
                <ul>
                    <li>
                        <div class="borders">
                            <figure><img src="/electricity_assets/images/s1.png" /></figure>
                            <h5>One-stop-shop<br />for EV Setup</h5>
                        </div>
                    </li>
                    <li>
                        <div class="borders">
                            <figure><img src="/electricity_assets/images/s2.png" /></figure>
                            <h5>Attractive rates<br />and offers</h5>
                        </div>
                    </li>
                    <li>
                        <div class="borders">
                            <figure><img src="/electricity_assets/images/s3.png" /></figure>
                            <h5>Free of cost<br />EV Chargers*</h5>
                        </div>
                    </li>
                    <li>
                        <div class="borders">
                            <figure><img src="/electricity_assets/images/s4.png" /></figure>
                            <h5>ARAI / ICAT<br />certified</h5>
                        </div>
                    </li>
                    <li>
                        <div class="borders">
                            <figure><img src="/electricity_assets/images/s5.png" /></figure>
                            <h5>Charges all brands<br />of Electric Cars</h5>
                        </div>
                    </li>
                    <li>
                        <div class="borders">
                            <figure><img src="/electricity_assets/images/s6.png" width="95" height="95" /></figure>
                            <h5>Free maintenance<br />for 7 years</h5>
                        </div>
                    </li>
                    <li>
                        <div class="borders">
                            <figure><img src="/electricity_assets/images/s7.png" /></figure>
                            <h5>Minimum space<br />requirement</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="white-bg">
                <div class="custom_accrdion single-item">
                    <header class="section-header-main justify-item">
                        <h5>YOUR SOCIETY CAN LEAD THE CHANGE FOR A GREENER PLANET WITH EVS</h5>
                    </header>
                    <div class="accordion">
                        <ul class="collapsible collapsible-accordion" id="faqpedia">

                            <li>
                                <div class="collapsible-header">
                                    The solution: ShareCharge powered by Adani
                                </div>
                                <div class="collapsible-body cms-content">
                                    <p>Adani Electricity (AEML) presents the concept of share charging. From permission to installation to billing, we have made shifting to EVs and installing mandatory EV Chargers easier. </p>
                                    <ul>
                                        <li>
                                            ShareCharge eliminates the need for individual charging stations
                                        </li>
                                        <li>
                                            Negates safety concerns that unprofessional cable mash-ups can cause
                                        </li>
                                        <li>
                                            Removes the need for individual meter boxes leading in the meter cabin
                                        </li>
                                        <li>
                                            Does not require separate consent letters
                                        </li>
                                        <li>
                                            Avoids various third party charging stations that can create a problem for installation and maintenance while affecting society’s security
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    No one understands EV infrastructure like an electric utility company.
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            One-Stop-Shop for EV Setup with all the charging requisites
                                        </li>
                                        <li>
                                            Innovated the ‘Common ShareCharge Area’ Concept in societies for EV
                                        </li>
                                        <li>
                                            Free of cost EV Chargers @@ lowest electricity tariff¬ under the DSM - night charging scheme
                                        </li>
                                        <li>
                                            Government-certified Lab (ARAI / ICAT) EV Chargers
                                        </li>
                                        <li>
                                            Universally compatible chargers for EVs
                                        </li>
                                        <li>
                                            Providing with 7 years of annual maintenance service, freeing the customer from maintenance costs
                                        </li>
                                        <li>
                                            Dedicated key account managers for quick resolutions
                                        </li>
                                        <li>
                                            Specialist engineers for just-in-time resolutions for a particular charger unit (if any)
                                        </li>
                                        <li>
                                            Minimum Space Requirement
                                        </li>
                                        <li>
                                            Ready to install charger unit for quick installation
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Safety features 
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            Full control over the start & stop of your charging flow
                                        </li>
                                        <li>
                                            Protection of the vehicle from voltage surges and short circuits
                                        </li>
                                        <li>
                                            Safe charging by blocking current leakage
                                        </li>
                                        <li>
                                            Accurate, real-time metering of electric units consumer
                                        </li>
                                        <li>
                                            Smart chargers with communication facility (Wifi / 4G/ Ethernet) that provide real-time charging status
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Control using a Mobile App
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            Check the availability and status of any nearby chargers at your convenience
                                        </li>
                                        <li>
                                            Reserve your EV Charging time slot through your mobile app
                                        </li>
                                        <li>
                                            Control your charge (start/stop) remotely through mobile
                                        </li>
                                        <li>
                                            Easy navigation to charging stations. (powered by Google maps)
                                        </li>
                                        <li>
                                            Real-time charge specifications available on the mobile app
                                        </li>
                                        <li>
                                            Online bill payment option available
                                        </li>
                                        <li>
                                            You can register complaints and feedback directly in the mobile app
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Take advantage of Demand Side Management Scheme (DSM) from ShareCharge
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            DSM provides overnight charging for just Rs 9.5* per Unit (Charging duration would be limited to night time (10pm- 8am)).
                                        </li>
                                        <li>
                                            EVs are charged at night and used during the day. Overnight charging helps AEML utilise non-peak hours and even out demand peaks.
                                        </li>
                                        <li>
                                            All AEML Consumers/Societies having EVs are eligible for the DSM Scheme
                                        </li>
                                        <li>
                                            It is a limited offer Scheme for Societies having EVs based on First-come First-serve basis
                                        </li>
                                        <li>
                                            The earlier you apply the higher the chances
                                        </li>
                                    </ul>
                                    <p class="small-font-custom_accrdion">*Charges are subject to change as approved by the regulator</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Get the ShareCharge advantage now
                                </div>
                                <div class="collapsible-body cms-content">
                                    <ul>
                                        <li>
                                            Fill out the application (link to forms page)
                                        </li>
                                        <li>
                                            Submit the signed & stamped application/consent letter to AEML
                                        </li>
                                        <li>
                                            After checking the application, the technical team visits the site for verification
                                        </li>
                                        <li>
                                            ShareCharger installation
                                        </li>
                                        <li>
                                            It takes approximately 6 to 8 working weeks from the date of submission to charger handover
                                        </li>
                                        <li>
                                            After the charger is installed, A demo session would be conducted for the same in consensus with the customer.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#faqpedia').click(function () {
        dataLayer.push({
            'event': 'ev_faq',
            'eventCategory': 'AEML',
            'eventAction': 'ev_faq_interaction',
            'eventLabel': ' FAQ Clicked',
            'business_user_id': $('#BusinessUserId').val(),
            'login_status': $('#login_status').val(),
            'ca_number': $('#GACANumber').val(),
            'page_type': $('head title').text()
        });
    })

</script>