@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap";

@font-face {
    font-family: adanibold;
    src: url(/fonts/adani_bold-webfont.woff2);
}

a:hover {
    color: inherit;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding: 0 20px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: adani !important;
    color: #333;
}

ul {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

    ul li {
        list-style: none;
    }

a {
    text-decoration: none !important;
    color: inherit;
}


.form-control,
.form-select:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ced4da !important;
}

.scroll-body .logo {
    display: block;
}

.scroll-body .white-logo {
    display: none;
}

.scroll-body header .navbar {
    position: fixed;
    width: 100%;
    transition: .5S;
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
}


header nav .logo {
    display: none;
}

.field-validation-error {
    color: red;
}

.contact-btn {
    background: #ffffffc9;
    color: #333 !important;
    border-radius: 68px;
    padding: 6px 0px;
    width: 110px;
    margin-top: 2px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

input#fxb_3d256350-b7bb-4844-9210-0a0ced7e0ddb_Fields_630b7ef9-463e-4953-a8a4-41c9c0835e04__Value {
    display: none;
}

input#fxb_3d256350-b7bb-4844-9210-0a0ced7e0ddb_Fields_95bee35b-e6d2-4be5-80ef-7be37f57961b__Value {
    display: none;
}


.body-container-wrapper {
    margin-top: 70px;
}

.main-wrapper .fixed-top {
    position: absolute;
    transition: .5S;
}

.main-wrapper .navbar {
    padding-top: 15px;
}

.scroll-body .main-wrapper .navbar-light .navbar-nav .nav-link {
    color: #222;
}

.main-wrapper .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
}

.main-wrapper .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-wrapper .navbar-nav li {
    margin-left: 10px;
}

.main-wrapper .carousel-caption {
    position: absolute;
    bottom: inherit;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 50%;
    text-align: left;
    transform: translate(-8%, -50%);
}

.main-wrapper .main-heading {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #333;
}

.main-wrapper .assets-portfolio {
    padding: 92px 0;
}

    .main-wrapper .assets-portfolio .bg-box {
        padding: 90px 50px;
        background: #f2fafe;
        border-radius: 12px;
    }

.main-wrapper .carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.main-wrapper .carousel-caption h2 {
    font-family: adani;
    font-size: 42px;
    margin-bottom: 24px;
}



.main-wrapper .carousel-caption p {
    font-size: 24px;
}

    .main-wrapper .carousel-caption p span {
        display: block;
    }

.main-wrapper .carousel-control-next img {
    width: 20px;
}

.main-wrapper .carousel-control-prev img {
    width: 20px;
    transform: rotate(180deg);
}

.carousel-control-next,
.carousel-control-prev {
    width: 8% !important;
}

header .container-fluid {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
}


.main-wrapper .carousel-indicators {
    bottom: 10px;
}

.main-wrapper .carousel-control-prev svg {
    color: #222;
    background: #fff;
    width: 38px;
    height: 38px;
    padding: 10px;
    border-radius: 100%;
    /* padding: 20px; */
}

.main-wrapper .carousel-control-next svg {
    color: #222;
    background: #fff;
    width: 38px;
    height: 38px;
    padding: 10px;
    border-radius: 100%;
}

.main-wrapper .carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    opacity: 1;
}

.bannerArea {
    position: relative;
}

    .bannerArea::after {
        height: 6px;
        width: 100%;
        bottom: 0;
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: #1b86a2;
        background: -moz-linear-gradient(to right, #1b86a2 0%, #2073b8 22%, #6b5ca6 41%, #923993 70%, #cd4b59 93%, #f05636 100%);
        background: -webkit-linear-gradient(to right, #1b86a2 0%, #2073b8 22%, #6b5ca6 41%, #923993 70%, #cd4b59 93%, #f05636 100%);
        background: linear-gradient(to right, #1b86a2 0%, #2073b8 22%, #6b5ca6 41%, #923993 70%, #cd4b59 93%, #f05636 100%);
    }

.main-wrapper .navbar .navbar-brand .logo,
.white-logo {
    width: 80px;
}

.bannerArea::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #000000a1 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 30%);
    z-index: 1;
}


.assets-portfolio .bg-box {
    display: flex;
    justify-content: center;
}

    .assets-portfolio .bg-box .box ul {
        padding-left: 0;
    }

        .assets-portfolio .bg-box .box ul li {
            margin-bottom: 20px;
        }

            .assets-portfolio .bg-box .box ul li .lp-box {
                background: #fff;
                padding: 10px;
                border-radius: 8px;
                box-shadow: 0 1px 8px 0 rgb(137 137 137 / 7%);
                position: relative;
            }

                .assets-portfolio .bg-box .box ul li .lp-box h3 {
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 0;
                }

                .assets-portfolio .bg-box .box ul li .lp-box p {
                    font-size: 12px;
                    margin-bottom: 10px;
                }

                .assets-portfolio .bg-box .box ul li .lp-box small {
                    padding: 4px 0;
                    display: block;
                    font-weight: 500;
                }

.form-check {
    padding-left: 25px;
}

.assets-portfolio .bg-box .box ul li .lp-box a {
    font-size: 12px;
    font-weight: 500;
    color: #333;
}

.assets-portfolio .bg-box .box.map-img img {
    width: 455px;
    padding: 0 30px;
}

.assets-portfolio .bg-box .box .des-top li:nth-child(1) .lp-box::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 47px;
    border-top: 1px dashed #222;
    z-index: 1;
    top: 67px;
    right: -47px;
}

.assets-portfolio .bg-box .box .des-top li:nth-child(1) .lp-box::before {
    position: absolute;
    content: "";
    height: 110px;
    width: 50px;
    border-right: 1px dashed #222;
    z-index: 1;
    top: 67px;
    right: -47px;
}

.assets-portfolio .bg-box .box .des-top li:nth-child(2) .lp-box::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 64px;
    border-top: 1px dashed #222;
    z-index: 1;
    top: 67px;
    right: -65px;
}

.assets-portfolio .bg-box .box .des-top li:nth-child(2) .lp-box::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 50px;
    border-right: 1px dashed #222;
    z-index: 1;
    top: 57px;
    right: -67px;
}

.assets-portfolio .bg-box .box .des-right li:nth-child(1) .lp-box::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 364px;
    border-top: 1px dashed #222;
    z-index: 1;
    top: 67px;
    left: -368px;
}

.assets-portfolio .bg-box .box .des-right li:nth-child(1) .lp-box::before {
    position: absolute;
    content: "";
    height: 193px;
    width: 50px;
    border-right: 1px dashed #222;
    z-index: 1;
    top: 67px;
    left: -419px;
}

.assets-portfolio .bg-box .box .des-right li:nth-child(2) .lp-box::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 391px;
    border-top: 1px dashed #222;
    z-index: 1;
    top: 147px;
    left: -392px;
}

.assets-portfolio .bg-box .box .des-right li:nth-child(2) .lp-box::before {
    position: absolute;
    content: "";
    height: 44px;
    width: 50px;
    border-right: 1px dashed #222;
    z-index: 1;
    top: 104px;
    left: -441px;
}

.group-website {
    padding: 60px 0;
    background: #ebebeb;
    position: relative;
    z-index: 1;
}

    .group-website .airport-gallry .slick-slide img {
        margin: 0 auto;
        border-radius: 8px;
    }

    .group-website .airport-gallry .slick-slide p {
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }

    .group-website .i-arrow-r.slick-next.slick-arrow {
        right: -20px;
        position: absolute;
        top: 65px;
        cursor: pointer;
    }

    .group-website .i-arrow-r.slick-prev {
        position: absolute;
        top: 60px;
        left: -22px;
        cursor: pointer;
        background: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
    }

    .group-website .i-arrow-r.slick-next.slick-arrow {
        cursor: pointer;
        background: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
    }


footer .footer-list ul {
    flex: 1;
    padding: 0;
}

    footer .footer-list ul li h3 {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 24px;
        font-weight: 500;
        color: #333;
    }

    footer .footer-list ul li a {
        color: #666;
        margin-bottom: 10px;
        display: block;
    }

.footer-list ul li h3 a {
    color: #000;
}

footer .social-detail {
    text-align: center;
}

    footer .social-detail img {
        width: 90px;
    }

footer .socil-icon {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

    footer .socil-icon img {
        width: 40px;
    }

.ply-btn img {
    margin-left: 10px;
}

.copyright {
    background: #333;
    padding: 10px 0;
}

    .copyright p {
        flex: 1;
        color: #fff;
        font-size: 14px;
    }

    .copyright ul li a {
        color: #fff;
        font-size: 14px;
        padding: 0px 16px;
        border-right: 1px solid #ffff;
    }

    .copyright ul li:last-child a {
        border-right: 0;
        font-weight: 400;
    }


.inner-section {
    background: url(../images/assets-inner-banner.png) no-repeat top center fixed;
    background-size: cover;
    height: 400px;
    position: relative;
}

    .inner-section.about-us {
        background: url(../images/about-us.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .inner-section::after {
        position: absolute;
        content: "";
        bottom: 0px;
        left: 0;
        right: 0;
        background: linear-gradient(to top, #00000075 30%, rgba(0, 0, 0, 0) 222%, rgba(0, 0, 0, 0) -10%);
        z-index: 1;
        width: 100%;
        min-height: 170px;
    }

    .inner-section::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, #000000a1 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 30%);
        z-index: 1;
    }

    .inner-section .banner-content {
        display: flex;
        height: 400px;
        align-items: flex-end;
        position: relative;
        z-index: 2;
    }

        .inner-section .banner-content h3 {
            color: #fff;
            font-size: 42px;
        }

        .inner-section .banner-content p {
            color: #fff;
            font-size: 24px;
            margin-bottom: 24px;
        }

            .inner-section .banner-content p span {
                display: block;
            }

.service-tiles {
    display: flex;
    align-items: center;
    margin-bottom: 92px;
}

    .service-tiles .left-img img {
        width: 526px;
        height: 388px;
        object-fit: cover;
        border-radius: 8px;
        overflow: hidden;
    }

    .service-tiles:last-child {
        margin-bottom: 0;
    }

    .service-tiles ul {
        padding: 0;
    }

    .service-tiles .right-content {
        width: 60%;
        flex: 1;
        padding-left: 100px;
    }

        .service-tiles .right-content h4 {
            margin-bottom: 5px;
        }

        .service-tiles .right-content small {
            font-size: 16px;
        }

        .service-tiles .right-content ul {
            margin-top: 25px;
            margin-left: 15px;
        }

            .service-tiles .right-content ul li {
                list-style: disc;
                padding-bottom: 5px;
                color: #666;
            }

    .service-tiles:nth-child(odd) {
        flex-direction: row-reverse;
    }

        .service-tiles:nth-child(odd) .right-content {
            padding-left: 0;
            padding-right: 70px;
        }

    .service-tiles .right-content button {
        border-radius: 20px;
        font-size: 16px;
        padding: 8px 19px;
        background-color: #1d65c1;
        margin-top: 10px;
    }

        .service-tiles .right-content button:focus {
            box-shadow: none;
        }


.about-us-wrapper .ab-content {
    margin-top: 92px;
}

.about-us-wrapper .services-boxes {
    margin-top: 72px;
}

    .about-us-wrapper .services-boxes ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: initial;
        margin: 0 -13px;
    }

        .about-us-wrapper .services-boxes ul > li {
            width: 50%;
            padding: 0 13px;
            margin-bottom: 72px;
        }

        .about-us-wrapper .services-boxes ul li .box {
            background-color: #fafafa;
            padding: 50px 100px;
            border-radius: 14px;
            text-align: center;
            position: relative;
            height: 100%;
        }

            .about-us-wrapper .services-boxes ul li .box h4 {
                font-size: 20px;
                margin-top: 30px;
            }

            .about-us-wrapper .services-boxes ul li .box p {
                font-size: 16px;
            }

            .about-us-wrapper .services-boxes ul li .box .icon {
                position: absolute;
                background: #fff;
                height: 82px;
                width: 82px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                border: 1px solid #f0f0f0;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: -40px;
            }

                .about-us-wrapper .services-boxes ul li .box .icon img {
                    width: 38px;
                }

.about-us-wrapper .des-points {
    padding-left: 15px;
}

    .about-us-wrapper .des-points li {
        list-style: disc;
        padding-left: 15px;
        line-height: 30px;
        padding-left: 0;
    }

.approch-wrapper {
    margin-top: 72px;
}

    .approch-wrapper .feature-icon {
        padding-left: 0;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

        .approch-wrapper .feature-icon li {
            text-align: center;
            flex: 1;
        }

            .approch-wrapper .feature-icon li .box img {
                width: 70px;
            }

.manegar-wrap {
    margin-top: 92px;
    background: #fafafa;
    padding: 60px 0;
}

    .manegar-wrap .content {
        margin-left: 40px;
    }

        .manegar-wrap .content h3 {
            font-size: 24px;
            font-weight: 600;
        }

        .manegar-wrap .content small {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 20px;
            display: block;
        }

        .manegar-wrap .content p {
            color: #555;
        }

        .manegar-wrap .content .link-btn {
            color: #222;
            text-decoration: underline !important;
        }

            .manegar-wrap .content .link-btn:hover {
                text-decoration: none !important;
            }


.contect-form.modal.show .modal-dialog {
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    max-width: 965px;
    width: 965px;
}

.contect-form .modal-content {
    padding: 40px;
    border-radius: 12px;
}

.contect-form .formwrapper {
    padding-top: 20px;
}

    .contect-form .formwrapper p {
        font-size: 16px;
        color: #666;
    }

button.btn.btn-primary.sent-mail-btn {
    background: #0d67ca;
    margin: 0 auto;
    display: block;
    width: 440px;
    padding: 12px 0;
    border-radius: 30px;
    margin-top: 40px;
}

.group-website .i-arrow-r.slick-prev {
    transform: rotate(182deg);
    border: 1px solid #f6f6f6;
}

.group-website .i-arrow-r img {
    width: 6px;
}

.sticky-tab {
    position: fixed;
    z-index: 1;
    bottom: 120px;
    right: 0;
    border-radius: 22px 0 0 22px;
    box-shadow: -3px 0 12px 1px rgb(0 0 0 / 11%);
    background-color: #fff;
    padding: 16px;
}

    .sticky-tab img {
        width: 25px;
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-bottom: 6px;
    }

    .sticky-tab p {
        font-size: 12px;
        margin-bottom: 0;
        font-weight: 500;
    }

    .sticky-tab a {
        color: #222;
    }

        .sticky-tab a:hover {
            color: #222;
        }

.city-wrap-bar .nav-tabs {
    border: none;
    padding-left: 14px;
}

    .city-wrap-bar .nav-tabs .nav-link {
        border: 1px solid #3d3d3d !important;
        border-radius: 20px;
        padding: 8px 25px;
        color: #3d3d3d;
        margin-right: 10px;
        white-space: nowrap;
        margin-bottom: 0;
    }

        .city-wrap-bar .nav-tabs .nav-link:hover {
            color: #666;
            border-bottom: 1px solid #3d3d3d;
        }

    .city-wrap-bar .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border: 1px solid #3d3d3d;
    }

    .city-wrap-bar .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        color: #3d3d3d;
    }

.city-wrap-bar {
    background: #f2fafe;
    padding: 50px 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #333 !important;
    background-color: transparent !important;
    font-weight: 600;
}

.city-wrap-bar .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

    .city-wrap-bar .nav-tabs::-webkit-scrollbar {
        display: none;
    }

.city-wrap-bar {
    display: none;
}

button#dropdownMenuButton1 {
    color: #fff;
}

.btn-check:focus + .btn,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.scroll-body button#dropdownMenuButton1 {
    color: #333;
}

header .dropdown-toggle::after {
    display: none;
}

header .dropdown-menu li {
    margin-left: 0 !important;
}

.main-wrapper .dropdown-menu {
    min-width: 17rem;
    padding: 0.8rem 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 10px;
}

.main-wrapper .dropdown-item {
    padding: 10px 16px;
}

button#dropdownMenuButton1 a {
    color: #fff;
}

.scroll-body button#dropdownMenuButton1 a {
    color: #333;
}

.main-wrapper .navbar-light .navbar-nav .nav-link:hover {
    background: #ffffffc9;
    color: #333;
    /* padding: 0 20px; */
}

/* braed-crumb */
.about-us-wrapper .bread-crumb {
    margin: 90px 0 40px 0;
}

.about-us-wrapper .breadcrumb-item + .breadcrumb-item {
    font-size: 13px;
}

    .about-us-wrapper .breadcrumb-item + .breadcrumb-item a {
        color: #333;
        font-weight: 500;
    }

.about-us-wrapper .breadcrumb-item.active {
    color: #6c757d;
    font-size: 13px;
}

.main-wrapper .navbar-light .navbar-nav .nav-link {
    border-radius: 20px;
}

.boarding-members {
    margin: 30px 0 72px 0;
}

    .boarding-members ul {
        padding-left: 0;
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        gap: 40px;
    }

        .boarding-members ul li .membr-box figure img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 8px;
        }

        .boarding-members ul li a {
            color: #333;
        }

        .boarding-members ul li .membr-box p {
            margin-bottom: 0;
        }

.member-modal .modal-dialog {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    width: 100%;
    min-width: initial;
}

.member-modal .modal {
    overflow: hidden;
}

.member-modal .modal-header .btn-close {
    margin: 0;
    padding: 0;
}

.member-modal button:focus:not(:focus-visible) {
    box-shadow: none;
}

.member-modal .modal-content {
    border-radius: 12px;
}

.member-modal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
    padding: 40px 40px 0 40px;
}

.member-modal .modal-body {
    padding: 40px;
}

.member-modal .description-card .left-img {
    width: 30%;
    margin-right: 30px;
}

    .member-modal .description-card .left-img img {
        width: 335px;
        height: 350px;
        object-fit: cover;
    }

.member-modal .description-card .right-content {
    width: 70%;
}

    .member-modal .description-card .right-content h3 {
        font-size: 24px;
        font-weight: 600;
    }

    .member-modal .description-card .right-content span {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
        display: block;
    }

    .member-modal .description-card .right-content p {
        color: #555555;
    }

.main-wrapper .navbar-expand-lg .navbar-nav .dropdown .btn:hover .dropdown-menu {
    visibility: visible;
}

.main-wrapper .navbar-expand-lg .navbar-nav .dropdown-menu {
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 37px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    display: block;
    visibility: hidden;
}

.main-wrapper .navbar-expand-lg .navbar-nav .dropdown .btn {
    color: #fff;
    padding-top: 0;
    padding-right: 0;
}

.scroll-body .main-wrapper .navbar-expand-lg .navbar-nav .dropdown .btn {
    color: #333;
}

.bottom-menu {
    padding-top: 5px;
    position: absolute;
}

.evince-table {
    border: 1px solid #d8d8d8;
    margin-bottom: 70px;
}

    .evince-table ul {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d8d8d8;
    }

        .evince-table ul:last-child {
            border-bottom: 1px solid transparent;
        }

        .evince-table ul li .discription p {
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 500;
            color: #222;
        }

        .evince-table ul li .discription span {
            color: #1d65c1;
        }

        .evince-table ul li .discription small {
            font-size: 16px;
        }

        .evince-table ul li:last-child {
            margin-left: auto;
        }

        .evince-table ul li:first-child {
            min-width: 90px;
            min-height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #d8d8d8;
        }

        .evince-table ul li:nth-child(3) {
            margin-left: 25px;
        }

        .evince-table ul li .section-btn .btn {
            min-width: 260px;
            max-height: 52px;
            font-size: 16px;
            margin-right: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.service-wrapper {
    display: flex;
}

    .service-wrapper .card-box {
        margin-right: 40px;
        border-radius: 12px;
        box-shadow: 2px 2px 8px 2px rgb(154 154 154 / 12%);
        background-color: #ffffff;
        padding: 20px;
        padding-bottom: 40px;
        position: relative;
    }

        .service-wrapper .card-box a.btn-link {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

        .service-wrapper .card-box h5 {
            padding-top: 24px;
            font-size: 20px;
        }

        .service-wrapper .card-box p {
            padding: 16px 0;
            font-size: 16px;
        }

        .service-wrapper .card-box a {
            font-size: 16px;
        }

.card-box img {
    width: 100%;
    height: 220px;
}

.service-wrapper .card-box:last-child {
    margin-right: 0;
}

.assets-portfolio .btn {
    border-radius: 26px;
    background-color: #1d65c1;
    padding: 13px 38px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
}

.note {
    color: #f00;
}

.overlay-wrapper .overlay.component .modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    max-width: 965px;
}

/* .overlay-wrapper .overlay.component .form-check {
    display: flex;
} */

.overlay-wrapper .overlay.component .form-contactus {
    display: flex;
}

.overlay-wrapper .overlay.component .sent-mail-btn {
    max-width: 444px;
    margin: 0 auto;
    display: block;
    border-radius: 28px;
    padding: 13px 20px;
    width: 100%;
    margin-top: 30px;
}

button.btn-close {
    opacity: 1;
}

.custom-evince-table ul {
    border: 1px solid #d8d8d8;
}

    .custom-evince-table ul > li {
        display: flex;
    }

.custom-evince-table .sr-number {
    border-right: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    padding: 5px 27px;
    min-width: 74px;
}

.custom-evince-table .wrap {
    padding: 34px 26px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.custom-evince-table p.evince-desc {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #222;
}

.custom-evince-table small {
    font-size: 16px;
}

    .custom-evince-table small span {
        color: #1d65c1;
    }

.custom-evince-table .btn {
    font-size: 16px;
    line-height: 1.5;
    max-width: 100%;
    width: 261px;
    display: inline-block;
    padding: 13px 30px;
}

.custom-evince-table ul > li + li {
    border-top: 1px solid #d8d8d8;
}

.btn-close:focus {
    box-shadow: none;
}

/* input#fxb_3d256350-b7bb-4844-9210-0a0ced7e0ddb_Fields_7bf5264a-a617-4085-b93b-d6260e3e51c3__Value {
    display: none;
} */

/* .refrenceno
{
    width:90%
} */

.evince-table ul li:nth-child(1) {
    min-width: 90px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d8d8d8;
}

.evince-table ul li:nth-child(2) {
    min-height: 120px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d8d8d8;
}



.thankyoumessage {
    text-align: center;
}

.img-gal {
    margin: 0px 20px;
}

.group-website .airport-gallry .slick-slide img {
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
}

/* mobile CSS */

@media (min-width: 768px) {

    .cm-download-wrapper .item:last-child,
    .cm-download-wrapper .item:nth-last-child(2),
    .cm-download-wrapper .item:nth-last-child(3) {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {

    .main-wrapper .carousel-caption {
        max-width: 54%;
    }

    .navbar-nav {
        align-items: center;
    }

    .main-wrapper .navbar-expand-lg .navbar-nav .dropdown .btn {
        padding: 0;
        border: 0;
    }

    /* .main-wrapper .navbar-light .navbar-nav>li:not(:last-child) .nav-link {
        padding-top: 15px;
    }*/
    .scroll-body .main-wrapper .navbar-light .navbar-nav > li:not(:last-child) .nav-link {
        padding-top: 11px;
    }

    .main-wrapper .navbar-expand-lg .navbar-nav .dropdown-menu:before {
        content: '';
        display: block;
        background: transparent;
        width: 100%;
        height: 22px;
        position: absolute;
        top: -20px;
    }
}

.footer-nav .col-md-3 {
    display: flex;
    border-left: 1px solid #ebebeb;
    align-items: center;
    justify-content: center;
}

.terms-condition-wrapper .service-menu ul li.active a {
    font-weight: 500;
}

@media only screen and (max-width: 1300px) {
    .member-modal .modal-dialog {
        width: 90%;
    }

    .member-modal .description-card .left-img img {
        width: 100%;
        max-width: 335px;
        height: auto;
    }
}



.form-floating > .form-select {
    font-weight: 500;
}

.form-control {
    font-weight: 500;
}

.form-select {
    font-weight: 500;
}

.form-check-input:checked {
    background-color: #333;
    border-color: #333;
}

.form-check-input:focus {
    box-shadow: none;
}

.field-validation-error {
    display: block;
}

.about-us-wrapper .services-boxes ul li .box p:first-child {
    font-weight: 500;
}

@media (max-width: 767px) {
    .form-floating > .form-select {
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .contect-form .modal-content {
        margin: 0 auto;
    }

    .inner-header .line {
        background: #333;
    }

    .overlay-wrapper .overlay.component .modal-dialog {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: inherit;
        max-width: 100%;
        bottom: 0;
        border: none;
        background: #fff;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        transform: inherit;
        width: 100%;
    }

    .contect-form .modal-content {
        margin: 0 auto;
        border-radius: 20px 20px 0 0;
        border: none;
    }

    .contect-form .modal-content {
        padding: 16px;
    }

    .member-modal .modal-content {
        border-radius: 20px 20px 0px 0px;
        height: 70vh;
    }
}







.terms-condition-wrapper.collapse-item .service-menu {
    width: 270px;
    min-width: 270px;
}

    .terms-condition-wrapper.collapse-item .service-menu .inner {
        opacity: 1;
        visibility: visible;
    }

.service-menu {
    width: 0px;
    max-width: 270px;
    min-width: 40px;
    padding-right: 40px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    flex: 1;
    padding-top: 10px;
}

    .service-menu .inner {
        padding-top: 15px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
    }

a.expand-btn {
    display: none;
}

.terms-condition-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

    .terms-condition-wrapper .service-menu > h6 {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: normal;
        margin: 0;
    }

    .terms-condition-wrapper .icon-button {
        width: 21px;
        margin-right: 9px;
        position: absolute;
        cursor: pointer;
    }

.service-menu {
    overflow: hidden;
    padding-top: 10px;
}

    .service-menu h6 span {
        padding-left: 40px;
        white-space: nowrap;
    }

.service-description {
    color: #222;
}

.service-menu .inner ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



    .service-menu .inner ul li a {
        display: block;
        font-size: 14px;
        line-height: normal;
        padding: 16px 15px;
        color: #222;
        white-space: nowrap;
    }

/* .service-menu .inner ul li a.active,
.service-menu .inner ul li a:hover {
    background: #f3f6fb;

    border-radius: 4px;
} */

.terms-condition-wrapper .service-menu ul li.active {
    background: #f3f6fb;
}

.service-description h3 {
    font-size: 32px;
    line-height: normal;
    margin: 0;
    padding-bottom: 21px;
}

.service-description p {
    line-height: 22px;
}


.body-container-wrapper .icon-button.desk-shown img {
    width: 24px;
}

.body-container-wrapper li.breadcrumb-item a {
    color: #222;
    font-weight: 500;
}

.body-container-wrapper .breadcrumb-item + .breadcrumb-item {
    color: #666;
}

.body-container-wrapper .breadcrumb-section {
    margin-bottom: 30px;
}

.body-container-wrapper .block-img img {
    width: 100%;
    border-radius: 10px;
}

.body-container-wrapper .block-img p {
    margin-top: 30px;
}


.airport-gallry {
    padding: 0 20px;
}

.footer-nav {
    padding: 52px 0;
}

.bread-crumb a {
    color: #666;
}


/* Donwload CSS */
.cm-download-wrapper {
    border: solid 1px #d8d8d8;
    padding: 52px 31px 67px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

    .cm-download-wrapper > .item {
        width: 33.333%;
        margin-bottom: 90px;
    }

        .cm-download-wrapper > .item span {
            display: inline-block;
            position: relative;
            padding: 0 10px;
            padding-left: 25px;
        }

            .cm-download-wrapper > .item span:before {
                background-image: url(../images/pdf-icon.png);
                display: inline-block;
                width: 14px;
                height: 19px;
                content: '';
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
            }

@media (max-width: 767px) {
    .cm-download-wrapper {
        padding: 27px;
        display: block;
    }

        .cm-download-wrapper > .item {
            width: 100%;
            margin-bottom: 32px !important;
        }

            .cm-download-wrapper > .item:last-child {
                margin-bottom: 0 !important;
            }
}

.cm-download-wrapper .item {
    display: flex;
    align-items: center;
}

    .cm-download-wrapper .item img {
        height: 30px;
    }

    .cm-download-wrapper .item a {
        color: #333;
    }



.inner-header .navbar {
    position: fixed;
    width: 100%;
    transition: .5S;
    background: #fff;
    padding: 15px 0;
    border: solid 1px #e0e0e0;
}

.inner-header .navbar-light .navbar-nav .nav-link {
    color: #333;
}

.inner-header .navbar-light .navbar-nav .dropdown .btn {
    color: #333;
}

.inner-header button#dropdownMenuButton1 {
    color: #333;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent !important;
}

.inner-header .white-logo {
    display: none;
}

.inner-header .logo {
    display: block;
}


.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    font-family: adani !important;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

    .file-upload-wrapper:after {
        content: attr(data-text);
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        padding: 10px 15px;
        display: block;
        width: calc(100% - 40px);
        z-index: 20;
        height: 40px;
        line-height: 40px;
        border-radius: 5px 10px 10px 5px;
        /* font-weight: 300; */
        font-family: adani;
        font-weight: normal;
        font-size: 16px;
    }

    .file-upload-wrapper input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        height: 40px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }

.uplod-icon {
    position: absolute;
    top: 16px;
    right: 15px;
    /* width: 30px; */
}

    .uplod-icon img {
        width: 20px;
    }

.field-validation-error {
    color: red;
    font-size: 12px;
}

.fileupload-floating {
    border: 1px solid #ced4da;
    padding: 1rem 0.5rem;
    border-radius: 0.25rem;
}

.contact-wrapper {
    margin: 100px 0 70px 0;
}

    .contact-wrapper .address-wrapper {
        display: flex;
    }

        .contact-wrapper .address-wrapper .address-tiles {
            padding: 40px 32px;
            border-radius: 8px;
            flex: 1;
            background: #fafafa;
            margin-right: 40px;
        }

            .contact-wrapper .address-wrapper .address-tiles h3 {
                margin-bottom: 25px;
                font-size: 24px;
            }

            .contact-wrapper .address-wrapper .address-tiles:last-child {
                margin-right: 0;
            }

    .contact-wrapper .address-tiles ul li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }

        .contact-wrapper .address-tiles ul li img {
            margin-right: 20px;
            display: block;
            padding-top: 4px;
        }


@media only screen and (max-width: 767px) {


    .contact-wrapper .address-wrapper {
        display: block;
    }

        .contact-wrapper .address-wrapper .address-tiles {
            margin-right: 0;
            margin-top: 40px;
        }
}


@media only screen and (max-width: 991px) {
    .main-wrapper {
        overflow: hidden;
    }

        .main-wrapper .assets-portfolio .bg-box {
            display: none;
        }

        .main-wrapper .assets-portfolio {
            padding: 50px 0 0px 0;
        }

    .group-website .i-arrow-r.slick-prev {
        left: -5px;
        top: 62px;
    }

    .group-website .i-arrow-r.slick-next.slick-arrow {
        right: -6px;
        z-index: 2;
    }

    .main-wrapper .carousel-item {
        height: 66vh;
        min-height: 282px;
    }

    .main-wrapper .carousel-control-prev svg {
        display: none;
    }

    .main-wrapper .carousel-control-next svg {
        display: none;
    }

    .main-wrapper .carousel-caption h2 {
        font-size: 40px;
    }

    .map-content img {
        display: block;
        padding: 0;
        width: 260px;
        margin: 30px auto 0;
    }

    .main-wrapper .content-box {
        margin: 0 auto;
        background: #fff;
        width: 480px;
        padding: 30px;
        border-radius: 10px;
        position: relative;
    }

        .main-wrapper .content-box h4 {
            font-size: 18px;
            margin-bottom: 0;
        }

        .main-wrapper .content-box small {
            font-size: 12px;
        }

        .main-wrapper .content-box p {
            margin-top: 10px;
        }

        .main-wrapper .content-box a {
            color: #333;
            text-decoration: underline !important;
        }

    .map-content {
        position: relative;
    }

        .map-content::after {
            position: absolute;
            content: "";
            height: 256px;
            width: 50px;
            border-right: 1px dashed #222;
            z-index: 1;
            top: 207px;
            left: 16px;
            bottom: 0;
        }

    .content-2 .map-content::after {
        height: 165px;
        top: 281px;
        left: 190px;
        bottom: 0;
    }

    .content-3 .map-content::after {
        height: 156px;
        top: 299px;
        left: 200px;
        bottom: 0;
    }

    .content-4 .map-content::after {
        height: 188px;
        top: 270px;
        left: 40px;
        bottom: 0;
    }

    .service-tiles {
        display: flex;
    }

        .service-tiles .left-img img {
            width: 280px;
            height: 290px;
        }

        .service-tiles .right-content {
            padding-left: 40px;
        }

            .service-tiles .right-content ul li {
                font-size: 14px;
            }

    footer .footer-list ul {
        padding: 0;
    }

    .about-us-wrapper .services-boxes ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .city-wrap-bar {
        display: block;
    }

    button#dropdownMenuButton1 {
        padding: 0;
    }

    .boarding-members ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-us-wrapper .services-boxes ul > li {
        width: 100%;
    }


    .evince-table ul li:first-child {
        min-width: 40px;
        min-height: initial;
        display: initial;
        margin: 0;
    }

    .evince-table ul {
        align-items: initial;
    }

        .evince-table ul li .sr-number {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .evince-table .discription {
        padding: 0;
    }

    .evince-table ul li .discription p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .evince-table ul li .discription small {
        font-size: 14px;
    }

    .terms-condition-wrapper {
        display: block;
        padding-bottom: 0;
    }

        .terms-condition-wrapper.collapse-item .service-menu {
            display: none;
        }

    .service-description h3 {
        font-size: 22px !important;
    }

    .service-wrapper {
        display: block;
    }

        .service-wrapper .card-box {
            margin-right: 0;
            margin-bottom: 40px;
        }

    .card-box img {
        object-fit: contain;
    }

    .member-modal .modal {
        transition: none !important;
    }

    .member-modal .modal-content {
        position: absolute;
        bottom: -200%;
        left: 0;
        right: 0;
        border: 0;
        transition: 0.3s ease;
    }

    .member-modal .modal .modal-dialog {
        margin: 0;
        max-width: 100%;
        width: 100%;
        transition: none !important;
    }

    .member-modal .modal-body .description-card > div {
        display: block !important;
    }

    .member-modal .description-card .left-img {
        width: 100%;
        margin: 0 0 24px;
    }

    .member-modal .description-card .right-content {
        width: 100%;
    }

    .member-modal .description-card .left-img img {
        margin: 0 auto;
        display: block;
        border-radius: 12px;
        overflow: hidden;
    }

    .member-modal .modal-body {
        padding: 18px;
    }

    .member-modal .description-card .right-content p:empty {
        margin: 0;
    }

    .member-modal .modal.show .modal-content {
        bottom: 0;
    }

    .member-modal .modal-header {
        padding-left: 18px;
        padding-right: 18px;
    }

    .custom-evince-table p.evince-desc {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .custom-evince-table small {
        font-size: 14px;
    }

    .custom-evince-table .wrap {
        display: block;
    }

    .custom-evince-table .btn {
        margin-top: 20px;
        width: 100%;
        max-width: 261px;
    }

    .custom-evince-table .sr-number {
        padding: 5px 16px;
    }

    .navbar-collapse {
        width: auto;
        padding: 20px 0 30px 0;
        border-bottom: 1px solid #ebebeb;
    }

    .main-wrapper .dropdown-menu {
        background: transparent;
    }

    .main-wrapper .navbar-light .navbar-nav .nav-link {
        color: #222;
        display: block;
        width: 100%;
        text-align: left;
        line-height: normal;
        justify-content: initial;
        padding: 0;
        margin-top: 10px;
    }

    .main-wrapper .navbar-nav li {
        margin: 0;
    }

    .main-wrapper .navbar-expand-lg .navbar-nav .dropdown .btn {
        padding: 0;
        display: block;
        text-align: left;
    }

    .bottom-menu {
        position: static;
        padding: 0;
    }

    .main-wrapper .navbar-expand-lg .navbar-nav .dropdown-menu {
        visibility: visible;
        box-shadow: none;
        border: 0;
        padding: 0;
    }

    .mobile-open .navbar {
        position: fixed !important;
        background: #fff !important;
        transition: none !important;
        padding: 15px 0 0 !important;
        border: 0 !important;
    }

    .mobile-open img.logo {
        display: block;
    }

    .mobile-open img.white-logo {
        display: none;
    }

    .navbar {
        transition: none;
    }

    .navbar-toggler {
        box-shadow: none !important;
        border: none;
        padding: 0;
    }

    .about-us-wrapper .ab-content {
        margin-top: 44px;
    }

    .about-us-wrapper .services-boxes ul > li {
        margin-bottom: 60px;
    }

    .about-us-wrapper .des-points li {
        list-style-position: inside;
    }

    .approch-wrapper {
        margin-top: 49px;
    }

    .sticky-tab {
        display: none;
    }

    .main-wrapper .dropdown-item {
        padding: 0;
        margin-top: 10px;
    }

    .social-detail {
        padding: 0;
        border-left: none;
    }

    .footer-nav .col-md-3 {
        border-left: 0;
    }
}

footer {
    border: solid 1px #ededed;
}

@media only screen and (max-width: 1024px) {
    .service-tiles .left-img img {
        width: 390px;
    }

    .assets-portfolio .bg-box .box .des-right li:nth-child(2) .lp-box::before {
        height: 105px;
        width: 50px;
        top: 42px;
    }

    .evince-table ul li .section-btn .btn {
        min-width: 170px;
    }

    .evince-table ul li:nth-child(3) {
        margin-left: 20px;
    }
}

@media (max-width: 991px) {
    .evince-table ul li:first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .evince-table ul {
        position: relative;
        padding: 20px 20px 20px 100px !important;
        display: block;
    }

        .evince-table ul li:nth-child(2) {
            min-width: 100%;
            min-height: 100%;
            display: block;
            border-right: none;
        }

        .evince-table ul li .sr-number {
            min-width: 70px;
        }

        .evince-table ul li:last-child {
            display: block;
        }

        .evince-table ul li .section-btn .btn {
            width: 230px;
            /* width: 60%; */
            max-height: 52px;
            font-size: 16px;
            margin-right: 0;
            margin-top: 20px;
        }

        .evince-table ul:first-child {
            display: none;
        }

    .bannerArea::before {
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, #000000a1 13%, rgb(0 0 0 / 0%) 121%, rgba(0, 0, 0, 0) 170%);
        z-index: 2;
        /* height: 660px; */
    }

    .mobile-open .navbar span.line {
        background: #333;
    }

    .evince-table ul li:nth-child(3) {
        margin-left: 0;
    }
}

@media (max-width:540px) {
    .evince-table ul li .sr-number {
        min-width: 50px;
    }

    .evince-table ul {
        padding: 20px 20px 20px 70px !important;
    }

        .evince-table ul li .section-btn .btn {
            width: 100%;
            min-width: 100%;
        }


        /* open eoi css start */
        .evince-table ul li .discription p {
            margin-bottom: 0;
        }
    /* open eoi css end */

}

.about-us-wrapper {
    margin-bottom: 72px;
}


.form-floating > textarea + label:before {
    content: "";
    position: absolute;
    top: 8px;
    z-index: -1;
    width: 114%;
    height: 32px;
    background-color: #fff;
    left: 0;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    width: 100%;
}

.component-content .form-floating .form p {
    font-size: 14px;
    text-align: right;
}

.btn-primary {
    color: #fff;
    background-color: rgb(13, 103, 202) !important;
    border-color: rgb(13, 103, 202);
}

@media (max-width: 540px) {
    .map-content::after {
        top: 117px;
        display: none;
    }

    .content-2 .map-content::after {
        left: 18px
    }

    .content-4 .map-content::after {
        top: 228px;
        left: 35px;
    }
}





/* Media Realease */



    .media-reales h3 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 30px;
        font-weight: 600;
        color: #333;
    }

    .media-reales .section-tiles {
        padding: 24px;
        border-radius: 14px;
        background-color: #fafafa;
        margin-bottom: 30px;
    }
        /* .media-reales .section-tiles:last-child {margin-bottom:0px;} */
        .media-reales .section-tiles h5 {
            font-weight: 500;
        }

        .media-reales .section-tiles p {
            font-size: 18px;
        }

        .media-reales .section-tiles .link {
            color: #1d65c1;
            text-decoration: underline !important;
        }

            .media-reales .section-tiles .link:hover {
                text-decoration: none !important;
            }

    .media-reales .pagination.pagination-circle .page-item.active .page-link {
        border-radius: 50%;
        cursor: pointer;
    }

    .media-reales .pagination.pg-blue .page-item.active .page-link:hover {
        background-color: #333;
    }

    .media-reales .pagination .page-item.active .page-link {
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        border-radius: .125rem;
        background-color: #333;
        color: #fff;
    }

    .media-reales .pagination .page-item .page-link {
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        outline: 0;
        border: 0;
        background-color: transparent;
        font-size: .9rem;
        color: #999;
    }

    .media-reales .pagination.pagination-circle .page-item .page-link:hover {
        border-radius: 50%;
    }

    .media-reales .pagination.pagination-circle .page-item .page-link {
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 50%;
        white-space: nowrap;
    }

    .media-reales .pagination .page-item.active .page-link {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    }

    .media-reales .page-link {
        border: none !important;
    }

    .media-reales span.sr-only {
        cursor: pointer;
    }

    .media-reales a.page-link.Next-item {
        cursor: pointer;
    }

@media only screen and (max-width: 540px) {
    .main-wrapper .content-box {
        width: 340px;
        padding: 18px;
        z-index: 2;
    }

        .main-wrapper .content-box p {
            font-size: 14px;
        }

        .main-wrapper .content-box a {
            font-size: 14px;
        }

    .content-2 .map-content::after {
        left: 19px;
        top: 270px;
        height: 100%;
    }

    .content-3 .map-content::after {
        left: 10px;
    }

    footer .footer-list ul {
        margin-bottom: 30px !important;
        padding-left: 0;
    }

    .main-wrapper .carousel-caption {
        width: 100%;
    }

        .main-wrapper .carousel-caption h2 {
            font-size: 25px;
            margin-bottom: 5px;
            font-weight: 600;
            margin-right: 20px;
        }

    .main-wrapper .carousel-caption {
        width: 100%;
        top: 74%;
        transform: translate(-12%, -51%);
        z-index: 2;
    }

        .main-wrapper .carousel-caption p {
            font-size: 18px;
            margin-top: 10px;
        }

    .bannerArea::before {
        position: absolute;
        content: "";
        top: inherit;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, #000000a1 13%, rgb(0 0 0 / 0%) 36%, rgba(0, 0, 0, 0) 80%);
        z-index: 2;
        height: 700px;
    }

    .copyright {
        text-align: center;
    }

        .copyright ul {
            padding: 0;
        }

            .copyright ul li a {
                color: #fff;
                font-size: 11px;
                padding: 0px 16px;
                border-right: 1px solid #ffff;
                margin-top: 14px;
                display: block;
            }


    .navbar-light .navbar-toggler-icon {
        background-image: none !important;
    }

    span.line {
        display: block;
        width: 30px;
        height: 2px;
        background: #fff;
        margin-bottom: 8px;
    }

    .scroll-body header .navbar span.line {
        background: #333;
    }

    /* .navbar-toggler-icon .line {
        width: 25px;
        height: 1px;
        background: #333;
        display: block;
        margin-bottom: 8px;
    } */

    /* .navbar-light .navbar-toggler {
        padding: 0;

    } */

    header .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }

    .service-tiles {
        display: block;
        margin-bottom: 52px;
    }

        .service-tiles .left-img img {
            width: 100%;
        }

    .inner-section .banner-content h3 {
        font-size: 28px;
    }

    .inner-section .banner-content p {
        font-size: 16px;
    }

    .service-tiles .right-content {
        width: 100%;
        padding-left: 0;
    }

    .service-tiles .right-content {
        width: 100%;
        padding-left: 0;
        padding-top: 35px;
    }

    .about-us-wrapper .services-boxes ul li .box {
        background-color: #fafafa;
        padding: 50px 40px;
    }

    .approch-wrapper .feature-icon li {
        text-align: left;
    }

    .approch-wrapper .feature-icon {
        display: block;
    }

    .manegar-wrap {
        margin-top: 52px;
    }

        .manegar-wrap img {
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
            overflow: hidden;
        }

        .manegar-wrap .content {
            margin-left: 0;
        }

            .manegar-wrap .content h3 {
                margin-top: 30px;
            }

    .contect-form.modal.show .modal-dialog {
        margin: 0;
    }

    .contect-form.modal.show .modal-dialog {
        max-width: 100%;
        width: 100%;
        padding: 0 10px;
        /* margin: 0 -1px!important; */
    }

    button.btn.btn-primary.sent-mail-btn {
        width: 100%;
    }

    .form-floating > .form-select {
        margin-bottom: 16px;
    }

    .boarding-members ul {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .form-check {
        padding-left: 25px;
    }



    .service-wrapper {
        display: block;
    }

    .file-upload-wrapper {
        margin-top: 16px;
    }


    .service-wrapper .card-box {
        margin-right: 0;
        margin-top: 40px;
    }




    .content-3 .map-content::after {
        height: 156px;
        top: 299px;
        left: 200px;
        bottom: 0;
    }

    .content-4 .map-content::after {
        height: 100%;
        top: 270px;
        left: 40px;
        bottom: 0;
    }

    .about-us-wrapper {
        margin-bottom: 52px !important;
    }

    footer .footer-list ul li h3 {
        margin-bottom: 0;
    }

    .media-reales h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .img-gal {
        margin: 0;
    }
}

.mt-top {
    margin-top: 50px;
}

    .mt-top h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

.note_text {
    margin-top: 12px;
    font-size: 12px;
}


.list-pagination nav {
 text-align: right;
}

    .list-pagination nav a {
        padding: 0.375rem 0.75rem;
        color: #6c757d;
        background-color: #fff;
        border-color: #dee2e6;
        font-size: 14px;
    }

    .list-pagination nav span {
        padding: 0.375rem 0.75rem;
        color: #6c757d;
        background-color: #fff;
        border-color: #dee2e6;
        font-size: 14px;
    }

span.active.sxa-paginationnumber {
    background: #333;
    border-radius: 50%;
    /* line-height: 0px; */
    padding: 8px 12px;
    color: #fff;
}

.list-pagination nav a:empty {
    display: none;
}
