@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 992px){
	.hero-banner, .hero-banner .item, .hero-banner .item img {height: 80vh;object-fit: cover;}
	.inner-banner, .inner-banner .item, .inner-banner .item img {height: 85vh;object-fit: cover;}
	.section_padding{padding: 4.5rem 0rem;}
	.section_padding-top{}
	.section_padding-bottom{}
	.other_block{width: 95%;}
	.sidebar_logo{position: absolute;top: 0px;right: 0px;}
	header .navbar .navbar-nav .nav-item:last-child .nav-link{padding-right:0px;}
}
@media (max-width: 991px){
	.sidebar_logo{display:block;margin-bottom:20px;}
	.hero-banner, .hero-banner .item, .hero-banner .item img {height: 95vh;object-fit: cover;}
	.inner-banner, .inner-banner .item, .inner-banner .item img {height: 85vh;object-fit: cover;}
	.section_padding{padding: 1.5rem 0rem;}
	.section_padding-top{}
	.section_padding-bottom{}
	.map_section--content{padding: 2rem 2rem 2rem 0rem;}
	.map_section--thumb{margin-right: 0px;padding-bottom: 1.5rem;}
	.other_block{margin-bottom:2rem;}
	.navbar-collapse{position: fixed; top: 0px; right: 0px; background: #5b58a7;  height: 100vh; width: 250px;margin-right:-250px;transition:ease all 0.6s;z-index: 9;    margin-left: auto !important;}
	.navbar-collapse ul{padding: 1.5rem;}
	.navbar-collapse.show{margin-right:0px;transition:ease all 0.6s;}
	.collapse_toggle { display: block; width: 100%; background: #4c4b6e; padding: 0.5rem 1.5rem; cursor: pointer; }
	.fade-overlay{background: rgb(0 0 0 / 40%); position: fixed; width: 0%; height: 100%; right: 0px; z-index: 2;transition: ease all 0.6s;}
	.fade-overlay.active{width: 100%; height: 100%;transition: ease all 0.6s;}
	.collapse_toggle{display:block;width: 100%;background: #4c4b6e;padding: 0.5rem 1.5rem;cursor: pointer;}
	.collapse_toggle span{}
	.collapse_toggle span:first-child{width: 25px; height: 3px; background: #fff; display: inline-block; transform: rotate(45deg); transition: ease all 0.6s;position: relative;top: -3px;}
	.collapse_toggle span:last-child{width: 25px; height: 3px; background: #fff; display: inline-block; transform: rotate(-45deg); transition: ease all 0.6s;position: relative; left: -29px; top: -3px;}
	header .navbar .navbar-nav .nav-link{padding: 0.8rem 0.5rem; color: #fff;}
	.navbar-toggler{outline: 0;}
	.navbar-toggler span{color: #054ba0;}
	.video_section{}
	.video_section img{min-height: 250px;}
	.cta_section p{    font-size: 1.25rem;}
	.sub_heading{font-size: 1.25rem;}
	.text_container h2{font-size: 1.5rem;}
	.navbar-brand{padding: 15px 0px;}
}
@media (max-width: 767px){
	
}
@media (max-width: 576px){
	
}