@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@model RenderingModel
@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    //var parent = Sitecore.Context.Database.GetItem(datasource);
}

<div class="col s12 l8 offset-l1">

    @if (contextItem != null)
    {
        <div class="section-wrapper custom_accrdion single-item">
            <header class="section-header">
                <h1>@Html.Raw(contextItem["Title"])</h1>

                @if (contextItem["Body"].Trim() != "")
                {
                    <p>@Html.Raw(contextItem["Body"])</p>
                }

            </header>
            @if (contextItem["Summary"].Trim() != "")
            {
                @Html.Raw(contextItem["Summary"])
            }
        </div>
    }
</div>