@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
    var j = 1;

}



<div class="col-lg-5 ft-submenu d-md-block d-none">
    <div class="row">
        <div class="col-lg-12">
            <h5>@element.Name</h5>
            <ul class="ft-business">
                @if (element != null)
                {
                    if (element.HasChildren)
                    {

                        foreach (Item item in element.GetChildren())
                        {
                            if (i <= 5)
                            {
                                var link = item.Fields["Link"];
                            <li><a href="@link">@item.Fields["NavigationTitle"]</a></li>
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>

</div>