@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
    var j = 1;

}
<section class="py-5 position-relative">
    <div class="bg-images">@Html.Sitecore().ImageField("Image", element)</div>
    <div class="container">
        <div class="owl-carousel carousel-gallery">
            @if (element != null)
            {
                if (element.HasChildren)
                {
                    foreach (Item item in element.GetChildren())
                    {
                        <div class="item">
                            <div class="video_element" data-toggle="modal" data-target="#v-@i">
                                <div class="video_element--thumb">
                                    @Html.Sitecore().ImageField("MediaThumbnail", item)
                                </div>
                                <div class="video_element--description">
                                    <h4>
                                        @Html.Sitecore().Field("MediaTitle", item)
                                    </h4>
                                    @Html.Sitecore().Field("MediaDescription", item)
                                </div>
                            </div>
                        </div>
                        i++;
                    }
                }
            }



        </div>
    </div>
    <!-- The Modal -->
    @foreach (Item item in element.GetChildren())
    {
    <div class="modal" id="v-@j">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>
            </div>
        </div>
    </div>
        j++;
    }

</section>