@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper linkHelper = new Helper();
}
@if (currentItem != null)
{
    <div class="food-banner" style="background-image: url(@linkHelper.GetImageURL(currentItem,"BannerLogo"));">
        <div class="container">
            <img src=@linkHelper.GetImageURL(currentItem,"Image") alt="@linkHelper.GetImageAlt(currentItem,"Image")" loading="lazy">
            <h1>@Html.Sitecore().Field("Title", currentItem)</h1>
        </div>
    </div>
}


