@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Helper _helper = new Helper();
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <section class="section-wrap guide-top mb-0">
        <div class="container">
            <div class="section-title heading-dropdown">
                <h1>
                    @Html.Sitecore().Field("Title", currentItem)
                </h1>
            </div>
        </div>
        <div class="banner-img">
            <img src=@_helper.GetImageURL(currentItem,"Image") alt="@_helper.GetImageAlt(currentItem,"Image")" loading="lazy">
        </div>
        <div class="widget-form">
            <div class="container">
                <!-- form -->
                <!-- form -->
            </div>
        </div>

    </section>
}


