
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var TBLogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "TBLogo").FirstOrDefault().Value;

    var menu = Sitecore.Context.Database.GetItem("{0D252F53-EB52-45C6-8DBB-CE8645A14499}");
    var activeClass = "active";
}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="index-2.html" class="scrollto">
        <img src="-/media/50F1DB66748046BCA5BF1CF721CB7A13.ashx" class="img-fluid menu-logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mx-auto">
            @foreach (var element in menu.GetChildren().ToList())
            {
                var childCount = element.GetChildren().Count();

                <li class="@childCount nav-item">
                    @Html.Sitecore().BeginField("Link", element, new { haschildren = true, @class = "nav-link" })

                    @Html.Sitecore().Field("NavigationTitle", element)

                    @Html.Sitecore().EndField()
                </li>


                activeClass = "";
            }
            <!----<li class="nav-item active"><a class="nav-link" href="index.html#intro">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html#main">About</a></li>

            <li class="nav-item"><a class="nav-link" href="index.html#amenities">Amenities</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html#location">Location</a></li>
            <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html#footer">Contact Us</a></li>-->
        </ul>
    </div>
</nav>




