@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Affordable.Website
@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    //var tets = models.DisplayName;
    Sitecore.Data.Fields.LinkField linkField = models.Fields["LinkUrl"];
    var item = Sitecore.Context.Database.GetItem(Sitecore.Context.Item.ID);

}
@if (Html.Sitecore().Field(Templates.ProjectProperty.Fields.SiteStatus, item).ToString() != "1" ? false : true)
{
    <section class="project-cta py-5 bg-gray">
        @*<div class="bg-images">
                <img alt="" src="/-/media/Project/Affordable/Property/bg-property-booknow.jpg?la=en&amp;hash=7EC4979C02FA37F493B449D735E54511">
            </div>*@
        <div class="container position-relative">
            <p class="txt-left txt-white txt-md clearfix">
                @Html.Sitecore().Field(Templates.LinkDetail.Fields.Title, models)
                <span class="float-right">
                    <a class="noopener noreferrer" href="@linkField.GetFriendlyUrl()?id=@Html.Sitecore().Field(Templates.ProjectProperty.Fields.ProjectId, item)" target="_blank">
                        Book Now
                    </a>
                </span>
            </p>
        </div>
    </section>
}