
<div class="wrapper-body">
    <div class="">
        <div class="row">
            <div class="col-12 mb-4">
                <h2><span>Ticket History</span><span class="float-lg-right pr-0"><a href="#AfterLoginSupportFormModal" class="btn btn-primary" data-toggle="modal" data-target="#AfterLoginSupportFormModal">New Ticket</a></span></h2>
            </div>
        </div>
    </div>
    <div class="section_ticket d-none">
        <div class="row border-bottom">
            <div class="col-lg-4 d-none">
                <div class="form-group mt-lg-4 pt-lg-2">
                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Search here..">
                </div>
            </div>
            <div class="col-lg-2 col-md-6 ml-auto d-none">
                <div class="form-group">
                    <label for="">Product</label>
                    <select class="form-control" id="">
                        <option>Tractor Finance</option>
                        <option>..</option>
                        <option>..</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 d-none">
                <div class="form-group">
                    <label for="">Status</label>
                    <select class="form-control" id="">
                        <option>All</option>
                        <option>Submitted</option>
                        <option>Under Review</option>
                        <option>Resolved</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-none">
                <div class="form-group">
                    <label for="">Date</label>
                    <div id="from-container" class="date-picker"><input type="text" class="form-control" placeholder="DD/MM/YYYY"></div>
                </div>
            </div>
        </div>
        <div class="stepform_container">
            <div class="row notification-border">
                <div class="col-lg-10">
                    <ul class="notification_ul">
                        <li class="pl-0">
                            <span class="text-gray">Ticket Id : xxxxx</span>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
                            </div>
                            <ul class="ticket_block">
                                <li><span>Loan Account Id : xxxxxxxx</span></li>
                                <li><span>Product : Tracter Finance</span></li>
                                <li><span>Raised Date : dd/mm/yyyy</span></li>
                                <li><span>Last Updated : dd/mm/yyyy</span></li>
                                <li><span>Priority : High</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 text-right">
                    <div class="ticket-ctas">
                        <span class="status-review">Under Review</span>
                        <p><a href="#">View Details</a></p>
                    </div>
                </div>
            </div>
            <div class="row notification-border">
                <div class="col-lg-10">
                    <ul class="notification_ul">
                        <li class="pl-0">
                            <span class="text-gray">Ticket Id : xxxxx</span>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
                            </div>
                            <ul class="ticket_block">
                                <li><span>Loan Account Id : xxxxxxxx</span></li>
                                <li><span>Product : Tracter Finance</span></li>
                                <li><span>Raised Date : dd/mm/yyyy</span></li>
                                <li><span>Last Updated : dd/mm/yyyy</span></li>
                                <li><span>Priority : High</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 text-right">
                    <div class="ticket-ctas">
                        <span class="status-submitted">Submitted</span>
                        <p><a href="#">View Details</a></p>
                    </div>
                </div>
            </div>
            <div class="row notification-border">
                <div class="col-lg-10">
                    <ul class="notification_ul">
                        <li class="pl-0">
                            <span class="text-gray">Ticket Id : xxxxx</span>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
                            </div>
                            <ul class="ticket_block">
                                <li><span>Loan Account Id : xxxxxxxx</span></li>
                                <li><span>Product : Tracter Finance</span></li>
                                <li><span>Raised Date : dd/mm/yyyy</span></li>
                                <li><span>Last Updated : dd/mm/yyyy</span></li>
                                <li><span>Priority : High</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 text-right">
                    <div class="ticket-ctas">
                        <span class="status-resolved">Resolved</span>
                        <p><a href="#">View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>